Repository decidim/decidim, changes with the labels that .github/labeler.yml gives for each.
All labels: configuration, dependencies, javascript, module: accountability, module: admin, module: ai, module: api, module: assemblies, module: blogs, module: budgets, module: comments, module: conferences, module: consultations, module: core, module: debates, module: design, module: dev, module: elections, module: forms, module: generators, module: initiatives, module: meetings, module: pages, module: participatory processes, module: proposals, module: sortitions, module: surveys, module: system, module: templates, module: verifications, team: documentation

.github/labeler.yml:

"target: developer-experience":
  - head-branch: ["^refactor"]

"type: feature":
  - head-branch: ["^feature"]

"type: fix":
  - head-branch: ["^fix"]

"type: internal":
  - head-branch: ["^deps", "^chore"]

configuration:
  - changed-files:
      - any-glob-to-any-file:
        - .github/**/*
        - /config/**/*
        - /*.json
        - /*.yml
        - /*.yaml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
        - "*.gemspec"
        - Gemfile
        - Gemfile.lock
        - package.json
        - package-lock.json

javascript:
  - changed-files:
      - any-glob-to-any-file: "*.js"
"module: accountability":
  - changed-files:
      - any-glob-to-any-file: decidim-accountability/**/*
"module: admin":
  - changed-files:
      - any-glob-to-any-file: decidim-admin/**/*
"module: ai":
  - changed-files:
      - any-glob-to-any-file: decidim-ai/**/*
"module: api":
  - changed-files:
      - any-glob-to-any-file: decidim-api/**/*
"module: assemblies":
  - changed-files:
      - any-glob-to-any-file: decidim-assemblies/**/*
"module: blogs":
  - changed-files:
      - any-glob-to-any-file: decidim-blogs/**/*
"module: budgets":
  - changed-files:
      - any-glob-to-any-file: decidim-budgets/**/*
"module: comments":
  - changed-files:
      - any-glob-to-any-file: decidim-comments/**/*
"module: conferences":
  - changed-files:
      - any-glob-to-any-file: decidim-conferences/**/*
"module: consultations":
  - changed-files:
      - any-glob-to-any-file: decidim-consultations/**/*
"module: core":
  - changed-files:
      - any-glob-to-any-file: decidim-core/**/*
"module: debates":
  - changed-files:
      - any-glob-to-any-file: decidim-debates/**/*
"module: design":
  - changed-files:
      - any-glob-to-any-file: decidim-design/**/*
"module: dev":
  - changed-files:
      - any-glob-to-any-file: decidim-dev/**/*
"module: elections":
  - changed-files:
      - any-glob-to-any-file: decidim-elections/**/*
"module: forms":
  - changed-files:
      - any-glob-to-any-file: decidim-forms/**/*
"module: generators":
  - changed-files:
      - any-glob-to-any-file: decidim-generators/**/*
"module: initiatives":
  - changed-files:
      - any-glob-to-any-file: decidim-initiatives/**/*
"module: meetings":
  - changed-files:
      - any-glob-to-any-file: decidim-meetings/**/*
"module: pages":
  - changed-files:
      - any-glob-to-any-file: decidim-pages/**/*
"module: participatory processes":
  - changed-files:
      - any-glob-to-any-file: decidim-participatory_processes/**/*
"module: proposals":
  - changed-files:
      - any-glob-to-any-file: decidim-proposals/**/*
"module: sortitions":
  - changed-files:
      - any-glob-to-any-file: decidim-sortitions/**/*
"module: surveys":
  - changed-files:
      - any-glob-to-any-file: decidim-surveys/**/*
"module: system":
  - changed-files:
      - any-glob-to-any-file: decidim-system/**/*
"module: templates":
  - changed-files:
      - any-glob-to-any-file: decidim-templates/**/*
"module: verifications":
  - changed-files:
      - any-glob-to-any-file: decidim-verifications/**/*
"team: documentation":
  - changed-files:
      - any-glob-to-any-file:
        - docs/**/*
        - /README.adoc

Update RELEASE_NOTES.md
  RELEASE_NOTES.md
Labels: none

Update docs/modules/develop/pages/taxonomies.adoc
  docs/modules/develop/pages/taxonomies.adoc
Labels: team: documentation

Update decidim-core/lib/decidim/maintenance/import_models/category.rb
  decidim-core/lib/decidim/maintenance/import_models/category.rb
Labels: module: core

Update docs/modules/develop/pages/taxonomies.adoc
  docs/modules/develop/pages/taxonomies.adoc
Labels: team: documentation

use organization default_locale
  decidim-core/lib/decidim/maintenance/taxonomy_importer.rb
Labels: module: core

use logger instead of puts
  decidim-core/lib/tasks/decidim_taxonomies.rake
Labels: module: core

rubocop
  decidim-core/lib/decidim/maintenance/import_models/category.rb
  decidim-core/lib/tasks/decidim_taxonomies.rake
Labels: module: core

New translations en.yml (Spanish)
  decidim-assemblies/config/locales/es.yml
Labels: module: assemblies

New translations en.yml (Catalan)
  decidim-assemblies/config/locales/ca.yml
Labels: module: assemblies

New translations en.yml (Catalan)
  decidim-comments/config/locales/ca.yml
Labels: module: comments

New translations en.yml (Spanish)
  decidim-admin/config/locales/es.yml
Labels: module: admin

New translations en.yml (Spanish)
  decidim-comments/config/locales/es.yml
Labels: module: comments

New translations en.yml (Spanish)
  decidim-participatory_processes/config/locales/es.yml
Labels: module: participatory processes

New translations en.yml (Catalan)
  decidim-admin/config/locales/ca.yml
Labels: module: admin

New translations en.yml (Catalan)
  decidim-participatory_processes/config/locales/ca.yml
Labels: module: participatory processes

add controller spec
  decidim-admin/app/controllers/decidim/admin/taxonomy_filters_selector_controller.rb
  decidim-admin/app/views/decidim/admin/taxonomy_filters_selector/_component_table.html.erb
  decidim-admin/app/views/decidim/admin/taxonomy_filters_selector/new.html.erb
  decidim-admin/app/views/decidim/admin/taxonomy_filters_selector/show.html.erb
  decidim-admin/config/routes.rb
  decidim-admin/spec/controllers/taxonomy_filters_selector_controller_spec.rb
Labels: module: admin

add new class base_user_presenter
  decidim-core/app/presenters/decidim/admin_log/base_user_presenter.rb
  decidim-core/app/presenters/decidim/admin_log/user_group_presenter.rb
  decidim-core/app/presenters/decidim/admin_log/user_presenter.rb
  decidim-core/config/locales/en.yml
Labels: module: core
