Repository decidim/decidim, pull requests merged in 2018-09, with the labels that each got.

#4066 Update Gemfile.lock
  Gemfile.lock
Labels: in-review

#4061 Fix hero content block migration when no welcome_text is set
  CHANGELOG.md
  decidim-core/db/migrate/20180810092428_move_organization_fields_to_hero_content_block.rb
Labels: in-review, lot: core

#4045 Add organizational chart to assemblies home
  CHANGELOG.md
  decidim-assemblies/app/controllers/decidim/assemblies/assemblies_controller.rb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/index.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/controllers/assemblies_controller_spec.rb
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-core/app/assets/javascripts/decidim/vizzs/orgchart.js.es6
  decidim_app-design/app/views/public/assemblies/assemblies.html.erb
Labels: in-review

#4032 Getting started doc, updates install instructions
  docs/getting_started.md
Labels: in-review

#4082 Conference registration
  decidim-core/app/assets/stylesheets/decidim/modules/_conference-registration.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_modules.scss
  decidim_app-design/app/views/public/conferences/conference-view-registration.html.erb
  decidim_app-design/app/views/public/conferences/conference-view.html.erb
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/partials/_conferences_hero.html.erb
  decidim_app-design/app/views/public/partials/_conferences_nav.html.erb
Labels: in-review, status: Ready-to-dev

#4089 Add more badges
  .rubocop.yml
  CHANGELOG.md
  decidim-core/app/assets/images/decidim/gamification/badges/followers.svg
  decidim-core/app/cells/decidim/badge/show.erb
  decidim-core/app/cells/decidim/badge/small.erb
  decidim-core/app/cells/decidim/badge_cell.rb
  decidim-core/app/cells/decidim/profile_sidebar/show.erb
  decidim-core/app/commands/decidim/create_follow.rb
  decidim-core/app/commands/decidim/delete_follow.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/commands/decidim/create_follow_spec.rb
  decidim-core/spec/commands/decidim/delete_follow_spec.rb
  decidim-core/spec/lib/followers_badge_spec.rb
  decidim-debates/app/assets/images/decidim/gamification/badges/commented_debates.svg
  decidim-debates/config/locales/en.yml
  decidim-debates/lib/decidim/debates/engine.rb
  decidim-debates/spec/lib/commented_debates_badge_spec.rb
Labels: in-review

#4097 Remove removed cop from rubocop configuration
  .rubocop.yml
Labels: backport

#4084 Fix migration order
  CHANGELOG.md
  decidim-core/db/migrate/20180730071851_add_core_content_blocks.rb
Labels: in-review, lot: core, status: WIP

#4081 Fix hashtags on title when showing proposals related
  CHANGELOG.md
  decidim-accountability/app/controllers/decidim/accountability/admin/results_controller.rb
  decidim-accountability/app/views/decidim/accountability/admin/results/_form.html.erb
  decidim-budgets/app/forms/decidim/budgets/admin/project_form.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/application_controller.rb
  decidim-proposals/app/events/decidim/proposals/proposal_mentioned_event.rb
  decidim-proposals/app/helpers/decidim/proposals/map_helper.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposal_answers/edit.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_proposal-tr.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/shared/_info_proposal.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_linked_proposals.html.erb
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-sortitions/app/controllers/decidim/sortitions/admin/sortitions_controller.rb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/show.html.erb
Labels: in-review

#4101 Update dependencies to fix rubyzip vulnerability
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: in-review, lot: core

#4100 [BACKPORT] Hardcode logic to migration
  CHANGELOG.md
  decidim-core/db/migrate/20180730071851_add_core_content_blocks.rb
Labels: backport, in-review, lot: core

#4102 Import devise locales to the project
  config/i18n-tasks.yml
  decidim-core/config/locales/en.yml
Labels: in-review, lot: core

#4107 [backport] Fix hashtags on title when showing proposals related
  CHANGELOG.md
  decidim-accountability/app/controllers/decidim/accountability/admin/results_controller.rb
  decidim-accountability/app/views/decidim/accountability/admin/results/_form.html.erb
  decidim-budgets/app/forms/decidim/budgets/admin/project_form.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/application_controller.rb
  decidim-proposals/app/events/decidim/proposals/proposal_mentioned_event.rb
  decidim-proposals/app/helpers/decidim/proposals/map_helper.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposal_answers/edit.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_proposal-tr.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/shared/_info_proposal.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_linked_proposals.html.erb
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-sortitions/app/controllers/decidim/sortitions/admin/sortitions_controller.rb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/show.html.erb
Labels: backport, in-review

#3724 Fix/3574 date field doesnt work when date is entered manually
  CHANGELOG.md
  decidim-accountability/app/forms/decidim/accountability/admin/result_form.rb
  decidim-accountability/app/forms/decidim/accountability/admin/timeline_entry_form.rb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/shared/manage_impersonations_examples.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_member_form.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assembly_members/index.html.erb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/show.html.erb
  decidim-assemblies/spec/shared/manage_assembly_members_examples.rb
  decidim-consultations/app/forms/decidim/consultations/admin/consultation_form.rb
  decidim-consultations/spec/system/admin/admin_manages_consultations_spec.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/attributes.rb
  decidim-core/lib/decidim/attributes/localized_date.rb
  decidim-core/lib/decidim/attributes/time_with_zone.rb
  decidim-core/lib/decidim/authorization_form_builder.rb
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/lib/attributes/localized_date_spec.rb
  decidim-core/spec/lib/attributes/time_with_timezone_spec.rb
  decidim-core/spec/lib/authorization_form_builder_spec.rb
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.ca.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.es.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.fr.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.gl.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.pt.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.ru.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.uk.js
  decidim-core/vendor/assets/javascripts/form_datepicker.js.es6
  decidim-debates/spec/shared/manage_debates_examples.rb
  decidim-generators/lib/decidim/generators/app_templates/dummy_authorization_handler.rb
  decidim-initiatives/app/forms/decidim/initiatives/admin/initiative_form.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/initiatives_controller_spec.rb
  decidim-meetings/spec/shared/manage_meetings_examples.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_form.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_step_form.rb
  decidim-participatory_processes/spec/shared/manage_process_steps_examples.rb
  decidim-participatory_processes/spec/shared/manage_processes_examples.rb
  decidim-verifications/spec/system/authorizations_spec.rb
Labels: in-review

#4108 fix create debates as a normal user in a private space
  CHANGELOG.md
  decidim-debates/app/permissions/decidim/debates/permissions.rb
  decidim-debates/app/views/decidim/debates/debates/index.html.erb
  decidim-debates/spec/system/private_space_debate_spec.rb
Labels: in-review

#3938 Include the initiative type on printable forms
  CHANGELOG.md
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/show.html.erb
  decidim-initiatives/spec/system/admin/print_initiative_spec.rb
Labels: in-review

#4119 User admin profile - Manage groups
  decidim-core/app/assets/stylesheets/decidim/modules/_list-request.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_modules.scss
  decidim-core/app/assets/stylesheets/decidim/utils/_helpers.scss
  decidim_app-design/app/views/public/amendments/proposal-view-with-amendment-rejected.html.erb
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/profile/_badge-level.html.erb
  decidim_app-design/app/views/public/profile/_badge.html.erb
  decidim_app-design/app/views/public/profile/_badges.html.erb
  decidim_app-design/app/views/public/profile/_conversation.html.erb
  decidim_app-design/app/views/public/profile/_conversations.html.erb
  decidim_app-design/app/views/public/profile/_followers.html.erb
  decidim_app-design/app/views/public/profile/_following.html.erb
  decidim_app-design/app/views/public/profile/_notifications.html.erb
  decidim_app-design/app/views/public/profile/_timeline.html.erb
  decidim_app-design/app/views/public/profile/_user-card.html.erb
  decidim_app-design/app/views/public/profile/user-badges-info.html.erb
  decidim_app-design/app/views/public/profile/user-profile-manage.html.erb
  decidim_app-design/app/views/public/profile/user-profile-public.html.erb
  decidim_app-design/app/views/public/profile/user-profile.html.erb
Labels: status: Ready-to-dev

#4121 Remove decidim-conferences from metagem
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim.gemspec
  decidim_app-design/Gemfile.lock
Labels: in-review, lot: core

#4120 Wrap authors in an inline-block element
  decidim-core/app/cells/decidim/collapsible_authors/show.erb
Labels: in-review, lot: core

#4124 Add options for highlighted processes content block
  CHANGELOG.md
  decidim-admin/spec/system/admin_manages_organization_homepage_spec.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/highlighted_processes_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/highlighted_processes_settings_form/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/highlighted_processes_settings_form_cell.rb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/spec/cells/decidim/participatory_processes/content_blocks/highlighted_processes_cell_spec.rb
Labels: in-review, lot: core

#4127 Add options to highlighted initiatives content block
  CHANGELOG.md
  decidim-initiatives/app/cells/decidim/initiatives/content_blocks/highlighted_initiatives_cell.rb
  decidim-initiatives/app/cells/decidim/initiatives/content_blocks/highlighted_initiatives_settings_form/show.erb
  decidim-initiatives/app/cells/decidim/initiatives/content_blocks/highlighted_initiatives_settings_form_cell.rb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-initiatives/spec/cells/decidim/initiatives/content_blocks/highlighted_initiatives_cell_spec.rb
Labels: in-review, lot: core

#3949 Participatory texts (admin)
  decidim-admin/app/assets/javascripts/decidim/admin/application.js.es6
  decidim-admin/app/assets/javascripts/decidim/admin/sortable.js.es6
  decidim-admin/app/assets/stylesheets/decidim/admin/_decidim.scss
  decidim-admin/app/assets/stylesheets/decidim/admin/components/_accordion.scss
  decidim-admin/app/assets/stylesheets/decidim/admin/components/_sortable.scss
  decidim-admin/app/assets/stylesheets/decidim/admin/utils/_mixins.scss
  decidim_app-design/app/views/admin/appearance.html.erb
  decidim_app-design/app/views/admin/index.html.erb
  decidim_app-design/app/views/admin/partials/_participatory-article.html.erb
  decidim_app-design/app/views/admin/partials/_settings_nav.html.erb
  decidim_app-design/app/views/admin/participatory-texts-preview.html.erb
  decidim_app-design/app/views/admin/participatory-texts.html.erb
Labels: in-review

#4134 Add HTML block
  CHANGELOG.md
  decidim-core/app/cells/decidim/content_blocks/html/show.erb
  decidim-core/app/cells/decidim/content_blocks/html_cell.rb
  decidim-core/app/cells/decidim/content_blocks/html_settings_form/show.erb
  decidim-core/app/cells/decidim/content_blocks/html_settings_form_cell.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/engine.rb
Labels: in-review, lot: core

#4137 Add Highlighted consultations content block
  CHANGELOG.md
  config/i18n-tasks.yml
  decidim-consultations/app/cells/decidim/consultations/content_blocks/highlighted_consultations/show.erb
  decidim-consultations/app/cells/decidim/consultations/content_blocks/highlighted_consultations_cell.rb
  decidim-consultations/app/cells/decidim/consultations/content_blocks/highlighted_consultations_settings_form/show.erb
  decidim-consultations/app/cells/decidim/consultations/content_blocks/highlighted_consultations_settings_form_cell.rb
  decidim-consultations/config/locales/en.yml
  decidim-consultations/lib/decidim/consultations/engine.rb
  decidim-consultations/spec/cells/decidim/consultations/content_blocks/highlighted_consultations_cell_spec.rb
Labels: in-review, lot: core

#4126 Add a public link to the admin
  CHANGELOG.md
  decidim-admin/app/helpers/decidim/admin/application_helper.rb
  decidim-admin/config/locales/en.yml
  decidim-assemblies/app/views/layouts/decidim/admin/assembly.html.erb
  decidim-conferences/app/views/layouts/decidim/admin/conference.html.erb
  decidim-consultations/app/views/layouts/decidim/admin/consultation.html.erb
  decidim-consultations/app/views/layouts/decidim/admin/question.html.erb
  decidim-initiatives/app/views/layouts/decidim/admin/initiative.html.erb
  decidim-participatory_processes/app/views/layouts/decidim/admin/participatory_process.html.erb
  decidim-participatory_processes/spec/system/admin/invite_process_admin_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_moderator_spec.rb
Labels: in-review, lot: core

#4138 Fix erblint call on CircleCI
  .circleci/config.yml
  .circleci/run_erblint.sh
  decidim-admin/app/views/decidim/admin/officializations/index.html.erb
  decidim-conferences/app/views/decidim/conferences/admin/conference_copies/new.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/compare.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_edit_form_fields.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_similar.html.erb
Labels: in-review, lot: core

#4143 Copy categories and subcategories to the new process
  CHANGELOG.md
  decidim-core/app/models/decidim/category.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/copy_participatory_process.rb
  decidim-participatory_processes/spec/commands/copy_participatory_process_spec.rb
Labels: in-review, lot: core

#4155 Improve EtiquetteValidator error messages
  decidim-core/config/locales/en.yml
  decidim-proposals/spec/system/edit_proposal_spec.rb
Labels: in-review

#4154 Sometimes it's useful to customize the DB port
  CHANGELOG.md
  decidim-generators/lib/decidim/generators/app_templates/database.yml.erb
Labels: in-review

#4153 Added a missing translation key: organizer_id:
  decidim-meetings/config/locales/ca.yml
  decidim-meetings/config/locales/en.yml
  decidim-meetings/config/locales/es-PY.yml
  decidim-meetings/config/locales/es.yml
  decidim-meetings/config/locales/eu.yml
  decidim-meetings/config/locales/fi.yml
  decidim-meetings/config/locales/fr.yml
  decidim-meetings/config/locales/gl.yml
  decidim-meetings/config/locales/hu.yml
  decidim-meetings/config/locales/it.yml
  decidim-meetings/config/locales/nl.yml
  decidim-meetings/config/locales/pl.yml
  decidim-meetings/config/locales/pt-BR.yml
  decidim-meetings/config/locales/pt.yml
  decidim-meetings/config/locales/ru.yml
  decidim-meetings/config/locales/sv.yml
  decidim-meetings/config/locales/uk.yml
Labels: status: WIP

#4151 Move related configuration together
  CHANGELOG.md
  decidim-dev/lib/decidim/dev/test/rspec_support/attachment_helpers.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/react_select.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/translation_helpers.rb
  decidim-dev/lib/decidim/dev/test/spec_helper.rb
Labels: in-review

#4158 Replace "much" with "many" to make sentence correct
  decidim-core/config/locales/en.yml
  decidim-proposals/spec/system/edit_proposal_spec.rb
Labels: in-review

#4150 Let admins edit official proposals
  CHANGELOG.md
  decidim-proposals/app/commands/decidim/proposals/admin/update_proposal.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/proposals_controller.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_form.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/permissions/decidim/proposals/admin/permissions.rb
  decidim-proposals/app/presenters/decidim/proposals/admin_log/proposal_presenter.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_proposal-tr.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/edit.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/new.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/admin_engine.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/update_proposal_spec.rb
  decidim-proposals/spec/permissions/decidim/proposals/admin/permissions_spec.rb
  decidim-proposals/spec/shared/proposal_form_examples.rb
  decidim-proposals/spec/system/admin_edits_proposal_spec.rb
Labels: in-review, lot: core

#4163 Fix commented debates badge texts
  decidim-debates/config/locales/en.yml
Labels: in-review, lot: core

#4166 Fix Internet Explorer 11 related issues in process filtering
  CHANGELOG.md
  decidim-participatory_processes/app/assets/javascripts/decidim/participatory_processes/filters.js.es6
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/index.js.erb
Labels: in-review

#4160 Add attended meetings badge
  CHANGELOG.md
  decidim-meetings/app/assets/images/decidim/gamification/badges/attended_meetings.svg
  decidim-meetings/app/commands/decidim/meetings/join_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/leave_meeting.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-meetings/spec/commands/join_meeting_spec.rb
  decidim-meetings/spec/commands/leave_meeting_spec.rb
  decidim-meetings/spec/lib/meetings/attended_meetings_badge_spec.rb
Labels: in-review, lot: core

#4176 Removes migration guide from 0.7 to 0.8.
  docs/advanced/migrate_to_0.8.0.md
Labels: status: WIP

#3603 Data Visualization
  CHANGELOG.md
  decidim-core/app/assets/javascripts/decidim/vizzs/areachart.js.es6
  decidim-core/app/assets/javascripts/decidim/vizzs/metrics.js.es6
  decidim-core/app/assets/stylesheets/decidim/modules/_metrics.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_modules.scss
  decidim-core/app/cells/decidim/content_blocks/metrics/show.erb
  decidim-core/app/cells/decidim/content_blocks/metrics_cell.rb
  decidim-core/app/cells/decidim/content_blocks/stats/show.erb
  decidim-core/app/controllers/decidim/pages_controller.rb
  decidim-core/app/jobs/decidim/metric_job.rb
  decidim-core/app/models/decidim/metric.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/presenters/decidim/metric_charts_presenter.rb
  decidim-core/app/presenters/decidim/metric_object_presenter.rb
  decidim-core/app/queries/decidim/metric_manage.rb
  decidim-core/app/queries/decidim/metrics/users_metric_manage.rb
  decidim-core/app/resolvers/decidim/core/metric_resolver.rb
  decidim-core/app/types/decidim/core/metric_history_type.rb
  decidim-core/app/types/decidim/core/metric_type.rb
  decidim-core/config/locales/en.yml
  decidim-core/db/migrate/20180705134647_create_decidim_metrics.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/metric_manifest.rb
  decidim-core/lib/decidim/metric_registry.rb
  decidim-core/lib/decidim/query_extensions.rb
  decidim-core/lib/tasks/decidim_metrics_tasks.rake
  decidim-core/spec/jobs/decidim/metric_job_spec.rb
  decidim-core/spec/queries/decidim/metric_manage_spec.rb
  decidim-core/spec/queries/decidim/metrics/users_metric_manage_spec.rb
  decidim-core/spec/system/homepage_spec.rb
  decidim-core/spec/tasks/decidim_tasks_metrics_spec.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/accepted_proposals_metric_manage.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/proposals_metric_manage.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/votes_metric_manage.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/accepted_proposals_metric_manage_spec.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/proposals_metric_manage_spec.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/votes_metric_manage_spec.rb
  decidim-system/app/commands/decidim/system/create_default_content_blocks.rb
  docs/advanced/metrics.md
Labels: in-review, lot: mods

#4184 Add CTA to process steps
  CHANGELOG.md
  decidim-core/app/assets/stylesheets/decidim/modules/_process-phase.scss
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/update_participatory_process_step.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_step_form.rb
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/admin_log/step_presenter.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_steps/_form.html.erb
  decidim-participatory_processes/app/views/layouts/decidim/_process_header_steps.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/db/migrate/20180926082635_add_cta_url_and_text_to_steps.rb
  decidim-participatory_processes/spec/commands/update_participatory_process_step_spec.rb
  decidim-participatory_processes/spec/forms/participatory_process_step_form_spec.rb
  decidim-participatory_processes/spec/system/participatory_process_steps_spec.rb
Labels: in-review, lot: core

#4185 Use sequences on titles for test data
  decidim-accountability/lib/decidim/accountability/test/factories.rb
  decidim-assemblies/lib/decidim/assemblies/test/factories.rb
  decidim-blogs/lib/decidim/blogs/test/factories.rb
  decidim-budgets/lib/decidim/budgets/test/factories.rb
  decidim-conferences/lib/decidim/conferences/test/factories.rb
  decidim-consultations/lib/decidim/consultations/test/factories.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/faker/localized.rb
  decidim-debates/lib/decidim/debates/test/factories.rb
  decidim-initiatives/lib/decidim/initiatives/test/factories.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-pages/spec/factories.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/test/factories.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-sortitions/lib/decidim/sortitions/test/factories.rb
  decidim-surveys/lib/decidim/surveys/test/factories.rb
Labels: in-review, lot: core, target: developer-experience

#4083 Conference diploma
  decidim-core/app/assets/stylesheets/decidim/modules/_conference-diploma.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_modules.scss
  decidim_app-design/app/assets/images/pattern.png
  decidim_app-design/app/assets/images/signature.png
  decidim_app-design/app/views/public/conferences/conference-view-diploma.html.erb
  decidim_app-design/app/views/public/index.html.erb
Labels: status: Ready-to-dev

#4189 [backport] Fix hero content block migration
  decidim-core/db/migrate/20180810092428_move_organization_fields_to_hero_content_block.rb
Labels: backport, in-review, lot: core
