Repository decidim/decidim, pull requests merged in 2018-06, with the labels that each got.

#3558 Fix i18n from sortitions
  decidim-sortitions/config/locales/en.yml
Labels: in-review, lot: core

#3560 Enforce permissions when managing meeting minutes
  CHANGELOG.md
  decidim-meetings/app/controllers/decidim/meetings/admin/minutes_controller.rb
  decidim-meetings/app/permissions/decidim/meetings/admin/permissions.rb
  decidim-meetings/spec/permissions/decidim/meetings/admin/permissions_spec.rb
Labels: component: meetings, in-review

#3456 New attributes in Decidim Accountability from Decidim Barcelona
  decidim-accountability/app/commands/decidim/accountability/admin/create_result.rb
  decidim-accountability/app/commands/decidim/accountability/admin/update_result.rb
  decidim-accountability/app/forms/decidim/accountability/admin/result_form.rb
  decidim-accountability/app/models/decidim/accountability/result.rb
  decidim-accountability/db/migrate/20180508170210_add_weight_to_results.rb
  decidim-accountability/db/migrate/20180508170647_add_external_id_to_results.rb
  decidim-accountability/spec/commands/admin/create_result_spec.rb
  decidim-accountability/spec/commands/admin/update_result_spec.rb
  decidim-accountability/spec/forms/admin/result_form_spec.rb
Labels: in-review

#3564 Collaborative missings
  decidim_app-design/app/views/public/collaborative-drafts/collaborative-draft-link-from-proposal.html.erb
  decidim_app-design/app/views/public/collaborative-drafts/collaborative-draft-view-final-proposal.html.erb
  decidim_app-design/app/views/public/index.html.erb
Labels: status: WIP, status: ready

#3542 Don't send notifications to users without access to the space
  CHANGELOG.md
  decidim-core/lib/decidim/events/base_event.rb
  decidim-core/spec/lib/events/base_event_spec.rb
Labels: general: core, in-review

#3568 Improve initiatives seeds
  decidim-initiatives/lib/decidim/initiatives/participatory_space.rb
Labels: in-review, lot: core

#3572 New translations
  decidim-admin/config/locales/ru.yml
  decidim-admin/config/locales/uk.yml
  decidim-assemblies/config/locales/fr.yml
  decidim-assemblies/config/locales/ru.yml
  decidim-assemblies/config/locales/uk.yml
  decidim-blogs/config/locales/pt-BR.yml
  decidim-blogs/config/locales/uk.yml
  decidim-budgets/config/locales/ru.yml
  decidim-budgets/config/locales/uk.yml
  decidim-comments/app/assets/javascripts/decidim/comments/bundle.js
  decidim-comments/config/locales/uk.yml
  decidim-consultations/config/locales/ru.yml
  decidim-consultations/config/locales/uk.yml
  decidim-core/config/locales/ca.yml
  decidim-core/config/locales/es.yml
  decidim-core/config/locales/eu.yml
  decidim-core/config/locales/fi.yml
  decidim-core/config/locales/fr.yml
  decidim-core/config/locales/gl.yml
  decidim-core/config/locales/it.yml
  decidim-core/config/locales/nl.yml
  decidim-core/config/locales/pl.yml
  decidim-core/config/locales/pt-BR.yml
  decidim-core/config/locales/pt.yml
  decidim-core/config/locales/ru.yml
  decidim-core/config/locales/sv.yml
  decidim-core/config/locales/uk.yml
  decidim-debates/config/locales/uk.yml
  decidim-initiatives/config/locales/pt-BR.yml
  decidim-initiatives/config/locales/ru.yml
  decidim-initiatives/config/locales/uk.yml
  decidim-meetings/config/locales/fr.yml
  decidim-meetings/config/locales/ru.yml
  decidim-meetings/config/locales/uk.yml
  decidim-pages/config/locales/fr.yml
  decidim-participatory_processes/config/locales/ru.yml
  decidim-participatory_processes/config/locales/uk.yml
  decidim-proposals/config/locales/uk.yml
  decidim-sortitions/config/locales/fr.yml
  decidim-sortitions/config/locales/uk.yml
  decidim-surveys/config/locales/fr.yml
  decidim-surveys/config/locales/uk.yml
  decidim-system/config/locales/uk.yml
  package-lock.json
Labels: in-review

#3570 Fix comments stats
  CHANGELOG.md
  decidim-comments/lib/decidim/comments/engine.rb
  decidim-core/app/models/decidim/organization.rb
  decidim-core/app/presenters/decidim/home_stats_presenter.rb
Labels: in-review, lot: core

#3534 Friends Invitation - Gamification
  decidim-core/app/assets/stylesheets/decidim/modules/_modules.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_toggle.scss
  decidim_app-design/app/views/public/components/_toggle.html.erb
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/user/user-invitation.html.erb
Labels: in-review, lot: core

#3494 User must review TOS when updated
  CHANGELOG.md
  decidim-admin/spec/commands/decidim/admin/create_static_page_spec.rb
  decidim-admin/spec/commands/decidim/admin/update_organization_tos_version_spec.rb
  decidim-admin/spec/shared/manage_impersonations_examples.rb
  decidim-admin/spec/system/admin_invite_spec.rb
  decidim-core/app/cells/decidim/announcement/show.erb
  decidim-core/app/cells/decidim/announcement_cell.rb
  decidim-core/app/cells/decidim/tos_page/announcement.erb
  decidim-core/app/cells/decidim/tos_page/refuse_btn_modal.erb
  decidim-core/app/cells/decidim/tos_page/sticky_form.erb
  decidim-core/app/cells/decidim/tos_page_cell.rb
  decidim-core/app/commands/decidim/create_registration.rb
  decidim-core/app/controllers/concerns/decidim/needs_tos_accepted.rb
  decidim-core/app/controllers/decidim/application_controller.rb
  decidim-core/app/controllers/decidim/devise/invitations_controller.rb
  decidim-core/app/controllers/decidim/devise/registrations_controller.rb
  decidim-core/app/controllers/decidim/tos_controller.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/views/decidim/devise/invitations/edit.html.erb
  decidim-core/app/views/decidim/pages/decidim_page.html.erb
  decidim-core/app/views/decidim/shared/_announcement.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/db/migrate/20180508111710_add_accepted_tos_version_field_to_users.rb
  decidim-core/db/seeds.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  decidim-core/spec/commands/decidim/create_registration_spec.rb
  decidim-core/spec/controllers/registrations_controller_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/locales_spec.rb
  decidim-core/spec/system/user_tos_acceptance_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/initiative_votes_controller_spec.rb
  decidim-meetings/spec/shared/manage_registrations_examples.rb
  decidim-participatory_processes/spec/system/admin/invite_process_admin_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_collaborator_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_moderator_spec.rb
Labels: general: core, in-review, team: privacy, type: enhancement

#3419 Adds GDPR / privacy notes
  .github/ISSUE_TEMPLATE/Feature_request.md
Labels: status: WIP

#3581 Disable http caching
  decidim-admin/app/controllers/decidim/admin/application_controller.rb
  decidim-core/app/controllers/concerns/decidim/http_caching_disabler.rb
  decidim-core/app/controllers/decidim/application_controller.rb
  decidim-core/spec/controllers/application_controller_spec.rb
  decidim-core/spec/controllers/concerns/http_caching_disabler_spec.rb
  decidim-system/app/controllers/decidim/system/application_controller.rb
Labels: in-review

#3305 Meeting agenda implementation
  CHANGELOG.md
  decidim-meetings/app/assets/config/admin/decidim_meetings_manifest.js
  decidim-meetings/app/assets/javascripts/decidim/meetings/admin/agendas.js.es6
  decidim-meetings/app/commands/decidim/meetings/admin/create_agenda.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_agenda.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/agenda_controller.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_agenda_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_agenda_items_form.rb
  decidim-meetings/app/helpers/decidim/meetings/admin/application_helper.rb
  decidim-meetings/app/helpers/decidim/meetings/meetings_helper.rb
  decidim-meetings/app/models/decidim/meetings/agenda.rb
  decidim-meetings/app/models/decidim/meetings/agenda_item.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/permissions/decidim/meetings/admin/permissions.rb
  decidim-meetings/app/views/decidim/meetings/admin/agenda/_agenda_item.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/agenda/_agenda_item_child.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/agenda/_agenda_item_fields.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/agenda/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/agenda/edit.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/agenda/new.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/agenda/show.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_agenda.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_minutes.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20180419131924_create_decidim_agendas.rb
  decidim-meetings/db/migrate/20180419132104_create_decidim_agenda_items.rb
  decidim-meetings/lib/decidim/meetings/admin_engine.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/commands/admin/create_agenda_spec.rb
  decidim-meetings/spec/commands/admin/update_agenda_spec.rb
  decidim-meetings/spec/forms/admin/meeting_agenda_form_spec.rb
  decidim-meetings/spec/forms/admin/meeting_agenda_item_form_spec.rb
  decidim-meetings/spec/models/decidim/meetings/agenda_item_spec.rb
  decidim-meetings/spec/models/decidim/meetings/agenda_spec.rb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim-meetings/spec/permissions/decidim/meetings/admin/permissions_spec.rb
  decidim-meetings/spec/shared/manage_agenda_examples.rb
  decidim-meetings/spec/system/admin_manages_meetings_spec.rb
  decidim-meetings/spec/system/meeting_agenda_spec.rb
Labels: component: meetings, in-review

#3590 Fix generator specs error reporting
  decidim-generators/spec/generators_spec.rb
  decidim-generators/spec/spec_helper.rb
  lib/decidim/gem_manager.rb
Labels: in-review

#3586 Expire sessions in one week
  CHANGELOG.md
  decidim-core/app/models/decidim/user.rb
  decidim-core/config/initializers/devise.rb
  decidim-system/app/models/decidim/system/admin.rb
Labels: in-review

#3585 Change upload headers template
  decidim-generators/lib/decidim/generators/app_templates/carrierwave.rb
Labels: in-review

#3588 Request throttling
  CHANGELOG.md
  Gemfile.lock
  decidim-core/config/initializers/rack_attack.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core.rb
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: in-review

#3559 Feature/2589 search engine mvp
  CHANGELOG.md
  Gemfile.lock
  decidim-core/app/cells/decidim/card/show.erb
  decidim-core/app/commands/decidim/search.rb
  decidim-core/app/controllers/decidim/searches_controller.rb
  decidim-core/app/helpers/decidim/searches_helper.rb
  decidim-core/app/models/decidim/searchable_resource.rb
  decidim-core/app/views/decidim/searches/_count.html.erb
  decidim-core/app/views/decidim/searches/_filters.html.erb
  decidim-core/app/views/decidim/searches/_filters_small_view.html.erb
  decidim-core/app/views/decidim/searches/_results.html.erb
  decidim-core/app/views/decidim/searches/index.html.erb
  decidim-core/app/views/decidim/searches/index.js.erb
  decidim-core/app/views/layouts/decidim/_topbar_search.html.erb
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/db/migrate/20180209122819_create_decidim_searchable_resource.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/core/test/shared_examples/searchable_results_examples.rb
  decidim-core/lib/decidim/search_resource_fields_mapper.rb
  decidim-core/lib/decidim/searchable.rb
  decidim-core/spec/commands/decidim/search_spec.rb
  decidim-core/spec/controllers/decidim/searches_controller_spec.rb
  decidim-core/spec/lib/search_resource_fields_mapper_spec.rb
  decidim-core/spec/models/decidim/searchable_resource_spec.rb
  decidim-core/spec/system/search_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/component.rb
  decidim-generators/Gemfile.lock
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/db/migrate/20180516102301_index_meetings_as_searchable_resources.rb
  decidim-meetings/spec/services/searchable_meeting_rsrc_spec.rb
  decidim-meetings/spec/system/search_meetings_spec.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/db/migrate/20180516131201_index_proposals_as_searchable_resources.rb
  decidim-proposals/spec/services/decidim/proposals/searchable_proposal_rsrc_spec.rb
  decidim-proposals/spec/system/search_proposals_spec.rb
  decidim_app-design/Gemfile.lock
Labels: in-review

#3593 Let users invite friends
  decidim-core/app/cells/decidim/invitations_toggle/content.erb
  decidim-core/app/cells/decidim/invitations_toggle/label.erb
  decidim-core/app/cells/decidim/invitations_toggle_cell.rb
  decidim-core/app/cells/decidim/toggle/show.erb
  decidim-core/app/cells/decidim/toggle_cell.rb
  decidim-core/app/commands/decidim/invite_friends.rb
  decidim-core/app/commands/decidim/invite_user.rb
  decidim-core/app/controllers/decidim/invitations_controller.rb
  decidim-core/app/forms/decidim/invitations_form.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/views/decidim/invitations/index.html.erb
  decidim-core/app/views/devise/mailer/invite_friend.html.erb
  decidim-core/app/views/devise/mailer/invite_friend.text.erb
  decidim-core/app/views/layouts/decidim/_user_menu.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/lib/decidim/nicknamizable.rb
  decidim-core/spec/commands/decidim/invite_friends_spec.rb
  decidim-core/spec/forms/invitations_form_spec.rb
  decidim-core/spec/system/invite_friends_spec.rb
Labels: in-review, lot: core

#3599 I18n cleanup
  decidim-admin/config/locales/en.yml
  decidim-admin/lib/decidim/admin/test/manage_attachment_collections_examples.rb
  decidim-admin/lib/decidim/admin/test/manage_attachments_examples.rb
  decidim-admin/spec/system/admin_manages_newsletters_spec.rb
  decidim-admin/spec/system/admin_manages_oauth_applications_spec.rb
  decidim-admin/spec/system/admin_manages_organization_admins_spec.rb
  decidim-admin/spec/system/admin_manages_organization_area_types_spec.rb
  decidim-admin/spec/system/admin_manages_organization_areas_spec.rb
  decidim-admin/spec/system/admin_manages_organization_scopes_spec.rb
  decidim-admin/spec/system/static_pages_spec.rb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/shared/manage_assembly_admins_examples.rb
  decidim-assemblies/spec/shared/manage_assembly_categories_examples.rb
  decidim-assemblies/spec/shared/manage_assembly_components_examples.rb
  decidim-assemblies/spec/shared/manage_assembly_private_users_examples.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_spec.rb
  decidim-blogs/config/locales/en.yml
  decidim-budgets/config/locales/en.yml
  decidim-consultations/config/locales/en.yml
  decidim-consultations/spec/shared/manage_question_categories_examples.rb
  decidim-consultations/spec/system/admin/admin_manages_consultations_spec.rb
  decidim-consultations/spec/system/admin/admin_manages_question_component_spec.rb
  decidim-consultations/spec/system/admin/admin_manages_questions_spec.rb
  decidim-consultations/spec/system/admin/admin_manages_responses_spec.rb
  decidim-core/config/locales/en.yml
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/system/admin/initiative_types_controller_spec.rb
  decidim-initiatives/spec/system/admin/initiatives_type_scopes_controller_spec.rb
  decidim-initiatives/spec/system/committee_request_spec.rb
  decidim-initiatives/spec/system/create_initiative_spec.rb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/spec/commands/destroy_participatory_process_admin_spec.rb
  decidim-participatory_processes/spec/commands/destroy_participatory_process_step_spec.rb
  decidim-participatory_processes/spec/shared/manage_participatory_process_private_users_examples.rb
  decidim-participatory_processes/spec/shared/manage_process_admins_examples.rb
  decidim-participatory_processes/spec/shared/manage_process_categories_examples.rb
  decidim-participatory_processes/spec/shared/manage_process_components_examples.rb
  decidim-participatory_processes/spec/shared/manage_process_steps_examples.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_groups_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_processes_spec.rb
  decidim-participatory_processes/spec/system/admin/participatory_process_admin_manages_participatory_processes_spec.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/events/decidim/proposals/creation_enabled_event_spec.rb
  decidim-sortitions/config/locales/en.yml
  decidim-sortitions/spec/shared/manage_sortitions_examples.rb
  decidim-system/config/locales/en.yml
  decidim-system/spec/system/manage_admins_spec.rb
Labels: in-review, lot: core

#3605 Notify moderators about reports
  CHANGELOG.md
  decidim-core/app/commands/decidim/create_report.rb
  decidim-core/lib/decidim/participable.rb
  decidim-participatory_processes/app/models/decidim/participatory_process.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/admin/moderators.rb
  decidim-participatory_processes/spec/queries/admin/admin_users_spec.rb
  decidim-participatory_processes/spec/queries/admin/moderators_spec.rb
Labels: in-review, lot: core

#3601 Backport/fix migrations
  CHANGELOG.md
  decidim-meetings/db/migrate/20180516102301_index_meetings_as_searchable_resources.rb
  decidim-proposals/db/migrate/20180516131201_index_proposals_as_searchable_resources.rb
Labels: backport, in-review, type: bug

#3616 Docs: adds redirection to SSL on checklist
  docs/checklist.md
Labels: status: WIP

#3612 Fix how cards are displayed on the search
  CHANGELOG.md
  decidim-core/app/views/decidim/searches/_results.html.erb
  decidim-meetings/app/cells/decidim/meetings/join_meeting_button_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_m/footer.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_m_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_cell.rb
Labels: in-review, lot: core

#3614 Add missing `component_permissions` asset to the manifest.
  decidim-admin/app/assets/config/decidim_admin_manifest.js
Labels: in-review, type: bug

#3617 Use find_or_initialize_by in the invite_user_to_join command
  decidim-meetings/app/commands/decidim/meetings/admin/invite_user_to_join_meeting.rb
Labels: in-review

#3619 Backport/bugfixes
  CHANGELOG.md
  decidim-admin/app/assets/config/decidim_admin_manifest.js
  decidim-core/app/views/decidim/searches/_results.html.erb
  decidim-meetings/app/cells/decidim/meetings/join_meeting_button_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_m/footer.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_m_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_cell.rb
Labels: in-review

#3621 Notify about extended initiatives
  CHANGELOG.md
  decidim-initiatives/app/commands/decidim/initiatives/admin/update_initiative.rb
  decidim-initiatives/app/events/decidim/initiatives/extend_initiative_event.rb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/commands/decidim/initiatives/admin/update_initiative_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/extend_initiative_event_spec.rb
  decidim-initiatives/spec/shared/update_initiative_example.rb
Labels: in-review, lot: core

#3618 [FIX] Do not index non published Proposals.
  CHANGELOG.md
  decidim-core/lib/decidim/resourceable.rb
  decidim-core/lib/decidim/search_resource_fields_mapper.rb
  decidim-core/lib/decidim/searchable.rb
  decidim-core/spec/lib/resourceable_spec.rb
  decidim-core/spec/lib/search_resource_fields_mapper_spec.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/spec/services/decidim/proposals/searchable_proposal_rsrc_spec.rb
  decidim-proposals/spec/system/search_proposals_spec.rb
Labels: in-review

#3638 fix private assemblies showing more than once for private users
  CHANGELOG.md
  decidim-assemblies/app/models/decidim/assembly.rb
  decidim-assemblies/spec/system/private_assemblies_spec.rb
  decidim-core/lib/decidim/has_private_users.rb
  decidim-participatory_processes/spec/system/private_participatory_processes_spec.rb
Labels: in-review

#3587 Improve password validation
  Gemfile.lock
  config/i18n-tasks.yml
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/app/forms/decidim/registration_form.rb
  decidim-core/config/locales/en.yml
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/commands/decidim/create_registration_spec.rb
  decidim-core/spec/commands/decidim/update_account_spec.rb
  decidim-core/spec/controllers/registrations_controller_spec.rb
  decidim-core/spec/forms/account_form_spec.rb
  decidim-core/spec/forms/registration_form_spec.rb
  decidim-core/spec/system/account_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: in-review

#3628 [FIX] Do not index non published Proposals. (#3618)
  CHANGELOG.md
  decidim-core/lib/decidim/resourceable.rb
  decidim-core/lib/decidim/search_resource_fields_mapper.rb
  decidim-core/lib/decidim/searchable.rb
  decidim-core/spec/lib/resourceable_spec.rb
  decidim-core/spec/lib/search_resource_fields_mapper_spec.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/spec/services/decidim/proposals/searchable_proposal_rsrc_spec.rb
  decidim-proposals/spec/system/search_proposals_spec.rb
Labels: backport, in-review

#3642 [Admin] export only published Proposals
  decidim-proposals/lib/decidim/proposals/component.rb
Labels: in-review

#3627 Overhaul texts
  config/i18n-tasks.yml
  decidim-admin/config/locales/en.yml
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/index.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_spec.rb
  decidim-assemblies/spec/system/admin/admin_manages_assembly_attachment_collections_spec.rb
  decidim-blogs/config/locales/en.yml
  decidim-budgets/app/views/decidim/budgets/admin/projects/index.html.erb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/spec/shared/manage_attachment_collections_examples.rb
  decidim-consultations/app/views/decidim/consultations/admin/consultations/index.html.erb
  decidim-consultations/app/views/decidim/consultations/admin/questions/index.html.erb
  decidim-consultations/app/views/decidim/consultations/admin/responses/index.html.erb
  decidim-consultations/config/locales/en.yml
  decidim-consultations/spec/system/admin/admin_manages_questions_spec.rb
  decidim-consultations/spec/system/admin/admin_manages_responses_spec.rb
  decidim-core/config/locales/en.yml
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives_types/index.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/system/admin/initiative_types_controller_spec.rb
  decidim-initiatives/spec/system/admin/initiatives_type_scopes_controller_spec.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/shared/manage_attachment_collections_examples.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_groups/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_steps/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_user_roles/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/index.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/spec/shared/invite_process_users_shared_context.rb
  decidim-participatory_processes/spec/shared/manage_process_attachment_collections_examples.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_processes_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_admin_spec.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_bulk-actions.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/shared/manage_proposals_examples.rb
  decidim-sortitions/config/locales/en.yml
  decidim-sortitions/spec/shared/manage_sortitions_examples.rb
Labels: in-review, lot: core

#3656 Add missing features to components migration
  CHANGELOG.md
  decidim-core/db/migrate/20180613080638_rename_missing_features_to_components.rb
Labels: backport, in-review, type: bug

#3655 Use custom sanitizer everywhere
  CHANGELOG.md
  decidim-blogs/app/helpers/decidim/blogs/admin/posts_helper.rb
  decidim-blogs/app/helpers/decidim/blogs/application_helper.rb
  decidim-blogs/app/views/decidim/blogs/admin/posts/index.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/_posts.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/show.html.erb
  decidim-core/app/views/decidim/pages/home/_highlighted_content_banner.html.erb
  decidim-initiatives/app/helpers/decidim/initiatives/initiative_helper.rb
  decidim-initiatives/app/mailers/decidim/initiatives/initiatives_mailer.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/show.html.erb
  decidim-initiatives/app/views/decidim/initiatives/committee_requests/new.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_result.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives_mailer/notify_progress.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives_mailer/notify_state_change.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives_mailer/notify_validating_request.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/show.html.erb
Labels: in-review, lot: core

#3657 Add missing features to components migration
  CHANGELOG.md
  decidim-core/db/migrate/20180613080638_rename_missing_features_to_components.rb
Labels: in-review, status: WIP

#3659 Backport bug fixes to `0.12-stable`
  CHANGELOG.md
  Gemfile.lock
  decidim-blogs/app/helpers/decidim/blogs/admin/posts_helper.rb
  decidim-blogs/app/helpers/decidim/blogs/application_helper.rb
  decidim-blogs/app/views/decidim/blogs/admin/posts/index.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/_posts.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/show.html.erb
  decidim-core/app/commands/decidim/search.rb
  decidim-core/app/controllers/decidim/searches_controller.rb
  decidim-core/app/views/decidim/pages/home/_highlighted_content_banner.html.erb
  decidim-core/app/views/decidim/searches/index.html.erb
  decidim-core/db/migrate/20180613080638_rename_missing_features_to_components.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core/engine.rb
  decidim-generators/Gemfile.lock
  decidim-initiatives/app/helpers/decidim/initiatives/initiative_helper.rb
  decidim-initiatives/app/mailers/decidim/initiatives/initiatives_mailer.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/show.html.erb
  decidim-initiatives/app/views/decidim/initiatives/committee_requests/new.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_result.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives_mailer/notify_progress.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives_mailer/notify_state_change.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives_mailer/notify_validating_request.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/show.html.erb
  decidim_app-design/Gemfile.lock
Labels: backport, in-review

#3666 Let space users access the admin section from the public part
  CHANGELOG.md
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-participatory_processes/app/permissions/decidim/participatory_processes/permissions.rb
  decidim-participatory_processes/spec/permissions/decidim/participatory_processes/permissions_spec.rb
Labels: in-review, lot: core

#3668 Fix comments count
  CHANGELOG.md
  decidim-core/app/cells/decidim/author/comments.erb
Labels: in-review, lot: core

#3669 Improve filters
  decidim-core/app/assets/stylesheets/decidim/modules/_order-by.scss
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/partials/_order_by__tabs.html.erb
  decidim_app-design/app/views/public/partials/_order_by_processes.html.erb
  decidim_app-design/app/views/public/processes.html.erb
Labels: status: Ready-to-dev

#3671 Let nicknames be scoped
  CHANGELOG.md
  decidim-core/app/commands/decidim/invite_user.rb
  decidim-core/app/forms/decidim/omniauth_registration_form.rb
  decidim-core/db/migrate/20171212103803_create_unique_nicknames.rb
  decidim-core/db/migrate/20180221101934_fix_nickname_index.rb
  decidim-core/lib/decidim/nicknamizable.rb
  decidim-core/spec/lib/nicknamizable_spec.rb
  decidim-meetings/app/commands/decidim/meetings/admin/invite_user_to_join_meeting.rb
Labels: lot: core

#3683 Let space users access the admin section from the public part (#3666)
  CHANGELOG.md
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-participatory_processes/app/permissions/decidim/participatory_processes/permissions.rb
  decidim-participatory_processes/spec/permissions/decidim/participatory_processes/permissions_spec.rb
Labels: in-review

#3673 change line endings to LF
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
Labels: in-review, target: developer-experience

#3675 Fix modal styles from signup and tos
  decidim-core/app/cells/decidim/tos_page/refuse_btn_modal.erb
  decidim-core/app/views/decidim/devise/shared/_newsletter_modal.html.erb
  decidim-core/config/locales/en.yml
Labels: in-review, target: user-experience

#3649 Fix proposal date shown to published_at
  CHANGELOG.md
  decidim-core/app/cells/decidim/author/date.erb
  decidim-core/app/cells/decidim/author_cell.rb
  decidim-core/app/cells/decidim/card_m/status.erb
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/index.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_m_cell_spec.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_serializer_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: in-review

#3704 Fix space permissions
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-participatory_processes/app/permissions/decidim/participatory_processes/permissions.rb
Labels: in-review, lot: core

#3530 Feature/3492 newsletter opt in
  CHANGELOG.md
  decidim-admin/app/jobs/decidim/admin/newsletter_job.rb
  decidim-admin/spec/commands/decidim/admin/deliver_newsletter_spec.rb
  decidim-admin/spec/jobs/newsletter_job_spec.rb
  decidim-admin/spec/system/admin_manages_newsletters_spec.rb
  decidim-core/app/commands/decidim/create_omniauth_registration.rb
  decidim-core/app/commands/decidim/create_registration.rb
  decidim-core/app/commands/decidim/unsubscribe_settings.rb
  decidim-core/app/commands/decidim/update_notifications_settings.rb
  decidim-core/app/controllers/decidim/devise/invitations_controller.rb
  decidim-core/app/controllers/decidim/newsletters_opt_in_controller.rb
  decidim-core/app/forms/decidim/notifications_settings_form.rb
  decidim-core/app/forms/decidim/registration_form.rb
  decidim-core/app/jobs/decidim/newsletters_opt_in_job.rb
  decidim-core/app/mailers/decidim/newsletters_opt_in_mailer.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/views/decidim/devise/invitations/edit.html.erb
  decidim-core/app/views/decidim/newsletters_opt_in_mailer/notify.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/db/migrate/20180611121852_change_newsletter_notification_type_value.rb
  decidim-core/lib/decidim/data_portability_serializers/data_portability_user_serializer.rb
  decidim-core/lib/devise/models/decidim_newsletterable.rb
  decidim-core/lib/tasks/decidim_tasks.rake
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  decidim-core/spec/commands/decidim/create_registration_spec.rb
  decidim-core/spec/commands/decidim/unsubscribe_settings_spec.rb
  decidim-core/spec/commands/decidim/update_notifications_settings_spec.rb
  decidim-core/spec/controllers/newsletters_controller_spec.rb
  decidim-core/spec/controllers/newsletters_opt_in_controller_spec.rb
  decidim-core/spec/jobs/decidim/newsletters_opt_in_job_spec.rb
  decidim-core/spec/lib/data_portability_serializers/data_portability_user_serializer_spec.rb
  decidim-core/spec/mailers/newsletters_opt_in_mailer_spec.rb
  decidim-core/spec/tasks/decidim_tasks_check_users_newsletter_opt_in_spec.rb
  decidim-core/spec/tasks/decidim_tasks_right_to_be_forgotten_spec.rb
Labels: general: core, team: privacy, type: enhancement

#3706 Let assembly admins access all sections
  CHANGELOG.md
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/app/views/layouts/decidim/admin/assembly.html.erb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-assemblies/spec/system/admin/assembly_admin_accesses_admin_sections_spec.rb
Labels: in-review, lot: core

#3707 [Backport] Let assembly admins access all sections
  CHANGELOG.md
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/app/views/layouts/decidim/admin/assembly.html.erb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-assemblies/spec/system/admin/assembly_admin_accesses_admin_sections_spec.rb
Labels: backport, in-review, lot: core

#3705 Add readonly attribute to date_field so that user can not fill it manually
  CHANGELOG.md
  decidim-core/lib/decidim/form_builder.rb
Labels: in-review

#3708 Pass the current component to the action authorizer
  CHANGELOG.md
  decidim-core/app/services/decidim/action_authorizer.rb
  decidim-verifications/README.md
  decidim-verifications/lib/decidim/verifications/adapter.rb
  decidim-verifications/lib/decidim/verifications/default_action_authorizer.rb
Labels: in-review

#3714 Fix texts from newsletter opt-in
  decidim-core/app/mailers/decidim/newsletters_opt_in_mailer.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/mailers/newsletters_opt_in_mailer_spec.rb
Labels: in-review, lot: core

#3716 Add new profile avatar version so that images do not look scaled
  CHANGELOG.md
  decidim-core/app/uploaders/decidim/avatar_uploader.rb
  decidim-core/app/views/decidim/profiles/_user.html.erb
Labels: in-review, lot: core

#3720 Let user managers visit the public space
  CHANGELOG.md
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/spec/permissions/decidim/admin/permissions_spec.rb
  decidim-core/app/models/decidim/permission_action.rb
  decidim-core/app/permissions/decidim/default_permissions.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/permissions_shared_examples.rb
Labels: in-review, lot: core

#3721 Fix Coauthorships migration to handle official proposals
  decidim-proposals/db/migrate/20180529110230_move_authorships_to_coauthorships.rb
Labels: in-review, lot: core

#3722 Add official proposals to seeds
  decidim-proposals/lib/decidim/proposals/component.rb
Labels: in-review, lot: core

#3723 Let user managers visit the public space
  CHANGELOG.md
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/spec/permissions/decidim/admin/permissions_spec.rb
  decidim-core/app/models/decidim/permission_action.rb
  decidim-core/app/permissions/decidim/default_permissions.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/permissions_shared_examples.rb
Labels: in-review, lot: core

#3731 Update sprockets to latest version
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: in-review, lot: core

#3733 Fix rpsec binstub arg handling
  bin/rspec
  d/rspec
Labels: in-review

#3735 Move local gem installation back to tasks
  Rakefile
  decidim-generators/spec/generators_spec.rb
  lib/decidim/gem_manager.rb
Labels: in-review

#3736 Troubleshoot npm install
  .circleci/config.yml
  package-lock.json
Labels: in-review

#3710 Normalize budgets authorization
  CHANGELOG.md
  decidim-budgets/app/controllers/decidim/budgets/line_items_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/orders_controller.rb
  decidim-budgets/app/permissions/decidim/budgets/permissions.rb
  decidim-core/app/controllers/concerns/decidim/action_authorization.rb
Labels: in-review
