Repository decidim/decidim, pull requests merged in 2018-11, with the labels that each got.

#4415 Split & merge proposals to the same component
  CHANGELOG.md
  decidim-proposals/app/commands/decidim/proposals/admin/import_proposals.rb
  decidim-proposals/app/commands/decidim/proposals/admin/merge_proposals.rb
  decidim-proposals/app/commands/decidim/proposals/admin/split_proposals.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/proposals_merges_controller.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposals_fork_form.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposals_merge_form.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposals_split_form.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/services/decidim/proposals/proposal_builder.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_bulk-actions.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_dropdown.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_merge.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_split.html.erb
  decidim-proposals/spec/commands/decidim/proposals/admin/import_proposals_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/merge_proposals_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/split_proposals_spec.rb
  decidim-proposals/spec/forms/decidim/proposals/admin/propoals_split_form_spec.rb
  decidim-proposals/spec/forms/decidim/proposals/admin/proposals_merge_form_spec.rb
  decidim-proposals/spec/shared/merge_proposals_examples.rb
Labels: in-review

#4430 Disable friends invite
  CHANGELOG.md
  decidim-core/app/cells/decidim/invitations_toggle/content.erb
  decidim-core/app/cells/decidim/invitations_toggle/label.erb
  decidim-core/app/cells/decidim/invitations_toggle_cell.rb
  decidim-core/app/cells/decidim/toggle/show.erb
  decidim-core/app/cells/decidim/toggle_cell.rb
  decidim-core/app/commands/decidim/invite_friends.rb
  decidim-core/app/commands/decidim/invite_user.rb
  decidim-core/app/controllers/decidim/invitations_controller.rb
  decidim-core/app/forms/decidim/invitations_form.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/views/decidim/invitations/index.html.erb
  decidim-core/app/views/devise/mailer/invite_friend.html.erb
  decidim-core/app/views/devise/mailer/invite_friend.text.erb
  decidim-core/app/views/layouts/decidim/_user_menu.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/spec/commands/decidim/invite_friends_spec.rb
  decidim-core/spec/forms/invitations_form_spec.rb
  decidim-core/spec/system/invite_friends_spec.rb
Labels: in-review

#4431 Fix title display
  CHANGELOG.md
  decidim-meetings/app/cells/decidim/meetings/meeting_activity_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_s_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_activity_cell.rb
Labels: in-review

#4434 Disable friends invite backport
  CHANGELOG.md
  decidim-core/app/cells/decidim/invitations_toggle/content.erb
  decidim-core/app/cells/decidim/invitations_toggle/label.erb
  decidim-core/app/cells/decidim/invitations_toggle_cell.rb
  decidim-core/app/cells/decidim/toggle/show.erb
  decidim-core/app/cells/decidim/toggle_cell.rb
  decidim-core/app/commands/decidim/invite_friends.rb
  decidim-core/app/commands/decidim/invite_user.rb
  decidim-core/app/controllers/decidim/invitations_controller.rb
  decidim-core/app/forms/decidim/invitations_form.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/views/decidim/invitations/index.html.erb
  decidim-core/app/views/devise/mailer/invite_friend.html.erb
  decidim-core/app/views/devise/mailer/invite_friend.text.erb
  decidim-core/app/views/layouts/decidim/_user_menu.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/spec/commands/decidim/invite_friends_spec.rb
  decidim-core/spec/forms/invitations_form_spec.rb
  decidim-core/spec/system/invite_friends_spec.rb
Labels: in-review

#4433 Use presenters to display hashtaggable titles backport
  decidim-meetings/app/cells/decidim/meetings/meeting_activity_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_s_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_activity_cell.rb
Labels: in-review

#4376 Meetings: add ICalendar
  CHANGELOG.md
  decidim-core/app/assets/stylesheets/decidim/modules/_share.scss
  decidim-core/app/queries/decidim/public_components.rb
  decidim-core/db/migrate/20181025082245_add_timestamps_to_components.rb
  decidim-core/lib/decidim/has_component.rb
  decidim-core/spec/queries/decidim/public_components_spec.rb
  decidim-meetings/app/controllers/decidim/meetings/calendars_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/directory/meetings_controller.rb
  decidim-meetings/app/mailers/decidim/meetings/registration_mailer.rb
  decidim-meetings/app/services/decidim/meetings/calendar/base_calendar.rb
  decidim-meetings/app/services/decidim/meetings/calendar/component_calendar.rb
  decidim-meetings/app/services/decidim/meetings/calendar/meeting_to_event.rb
  decidim-meetings/app/services/decidim/meetings/calendar/organization_calendar.rb
  decidim-meetings/app/services/decidim/meetings/calendar_renderer.rb
  decidim-meetings/app/views/decidim/meetings/_calendar_modal.html.erb
  decidim-meetings/app/views/decidim/meetings/directory/meetings/_meetings.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meetings.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/directory_engine.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-meetings/spec/services/calendar/component_calendar_spec.rb
  decidim-meetings/spec/services/calendar/meeting_to_event_spec.rb
  decidim-meetings/spec/services/calendar/organization_calendar_spec.rb
  decidim-meetings/spec/services/calendar_renderer_spec.rb
Labels: lot: core

#4438 Bump loofah to fix security vulnerability
  Gemfile.lock
Labels: in-review

#4437 Bump loofah to fix security vulnerability
  Gemfile.lock
Labels: in-review

#4429 SMS verification workflow
  CHANGELOG.md
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core.rb
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-verifications/README.md
  decidim-verifications/app/controllers/decidim/verifications/sms/authorizations_controller.rb
  decidim-verifications/app/forms/decidim/verifications/sms/confirmation_form.rb
  decidim-verifications/app/forms/decidim/verifications/sms/mobile_phone_form.rb
  decidim-verifications/app/views/decidim/verifications/sms/authorizations/edit.html.erb
  decidim-verifications/app/views/decidim/verifications/sms/authorizations/new.html.erb
  decidim-verifications/config/locales/en.yml
  decidim-verifications/lib/decidim/verifications.rb
  decidim-verifications/lib/decidim/verifications/sms.rb
  decidim-verifications/lib/decidim/verifications/sms/engine.rb
  decidim-verifications/lib/decidim/verifications/sms/example_gateway.rb
  decidim-verifications/spec/forms/decidim/verifications/sms/mobile_phone_form_spec.rb
  decidim-verifications/spec/system/sms/code_request_spec.rb
  decidim-verifications/spec/system/sms/code_verification_spec.rb
Labels: in-review

#3911 Fix on create an Organization, set its TOS version (round 2)
  CHANGELOG.md
  decidim-admin/spec/commands/decidim/admin/create_static_page_spec.rb
  decidim-admin/spec/commands/decidim/admin/update_organization_tos_version_spec.rb
  decidim-admin/spec/commands/decidim/admin/update_static_page_changed_notably_spec.rb
  decidim-admin/spec/shared/manage_impersonations_examples.rb
  decidim-budgets/spec/system/orders_spec.rb
  decidim-core/app/models/decidim/static_page.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  decidim-core/spec/commands/decidim/create_registration_spec.rb
  decidim-core/spec/commands/decidim/create_user_group_spec.rb
  decidim-core/spec/commands/decidim/invite_user_to_group_spec.rb
  decidim-core/spec/commands/decidim/join_user_group_spec.rb
  decidim-core/spec/commands/decidim/leave_user_group_spec.rb
  decidim-core/spec/commands/decidim/update_user_group_spec.rb
  decidim-core/spec/controllers/registrations_controller_spec.rb
  decidim-core/spec/models/decidim/static_page_spec.rb
  decidim-core/spec/models/decidim/user_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/homepage_spec.rb
  decidim-core/spec/system/locales_spec.rb
  decidim-core/spec/system/registration_spec.rb
  decidim-core/spec/system/registration_unbundled_consent_spec.rb
  decidim-core/spec/system/user_tos_acceptance_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/initiative_votes_controller_spec.rb
  decidim-proposals/spec/system/proposal_wizard_spec.rb
  decidim-system/spec/commands/decidim/system/create_default_pages_spec.rb
  decidim-system/spec/commands/decidim/system/register_organization_spec.rb
Labels: general: core, in-review

#4416 Scoped users in UserMetric
  CHANGELOG.md
  decidim-comments/app/queries/decidim/comments/metrics/comments_metric_manage.rb
  decidim-core/app/queries/decidim/metrics/users_metric_manage.rb
  decidim-core/spec/queries/decidim/metrics/users_metric_manage_spec.rb
Labels: component: comments, general: core, status: WIP, type: bug

#4432 Send a welcome notification to new users
  CHANGELOG.md
  Gemfile.lock
  config/i18n-tasks.yml
  decidim-admin/app/assets/javascripts/decidim/admin/welcome_notification.js.es6
  decidim-admin/app/commands/decidim/admin/update_organization.rb
  decidim-admin/app/forms/decidim/admin/organization_form.rb
  decidim-admin/app/views/decidim/admin/organization/_form.html.erb
  decidim-admin/spec/commands/decidim/admin/update_organization_spec.rb
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-core/app/events/decidim/welcome_notification_event.rb
  decidim-core/app/models/decidim/organization.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/config/locales/en.yml
  decidim-core/db/migrate/20181029121244_add_welcome_notification.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/events/base_event.rb
  decidim-core/spec/lib/welcome_notification_event_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-generators/Gemfile.lock
  decidim-system/app/commands/decidim/system/register_organization.rb
  decidim_app-design/Gemfile.lock
Labels: in-review

#4419 Meeting registration form
  CHANGELOG.md
  Gemfile.lock
  decidim-forms/app/controllers/decidim/forms/admin/concerns/has_questionnaire.rb
  decidim-forms/app/controllers/decidim/forms/concerns/has_questionnaire.rb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/edit.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/show.html.erb
  decidim-forms/lib/decidim/forms/test/factories.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/has_questionnaire.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaires.rb
  decidim-forms/spec/commands/decidim/forms/admin/update_questionnaire_spec.rb
  decidim-forms/spec/commands/decidim/forms/answer_questionnaire_spec.rb
  decidim-forms/spec/forms/decidim/forms/answer_form_spec.rb
  decidim-forms/spec/forms/decidim/forms/questionnaire_form_spec.rb
  decidim-forms/spec/models/decidim/forms/answer_spec.rb
  decidim-forms/spec/models/decidim/forms/question_spec.rb
  decidim-forms/spec/models/decidim/forms/questionnaire_spec.rb
  decidim-forms/spec/queries/decidim/forms/questionnaire_user_answers_spec.rb
  decidim-forms/spec/serializers/decidim/forms/user_answer_serializer_spec.rb
  decidim-forms/spec/services/decidim/forms/data_portability_user_answer_serializer_spec.rb
  decidim-generators/Gemfile.lock
  decidim-meetings/app/cells/decidim/meetings/join_meeting_button/show.erb
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_registrations.rb
  decidim-meetings/app/commands/decidim/meetings/join_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/registration_form_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/registrations_controller.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_registrations_form.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/permissions/decidim/meetings/admin/permissions.rb
  decidim-meetings/app/views/decidim/meetings/admin/registrations/_form.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20180801150031_add_registration_form_enabled_to_decidim_meetings.rb
  decidim-meetings/db/migrate/20181107175558_add_questionnaire_to_existing_meetings.rb
  decidim-meetings/decidim-meetings.gemspec
  decidim-meetings/lib/decidim/meetings/admin_engine.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/commands/admin/create_meeting_spec.rb
  decidim-meetings/spec/commands/admin/update_registrations_spec.rb
  decidim-meetings/spec/commands/join_meeting_spec.rb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim-meetings/spec/permissions/decidim/meetings/admin/permissions_spec.rb
  decidim-meetings/spec/spec_helper.rb
  decidim-meetings/spec/system/admin_manages_meetings_registration_forms_spec.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-surveys/app/controllers/decidim/surveys/surveys_controller.rb
  decidim-surveys/lib/decidim/surveys/admin_engine.rb
  decidim-surveys/spec/shared/export_survey_user_answers_examples.rb
  decidim-surveys/spec/system/admin_manages_surveys_spec.rb
  decidim-surveys/spec/system/private_space_survey_spec.rb
  decidim-surveys/spec/system/survey_spec.rb
  decidim_app-design/Gemfile.lock
Labels: component: meetings, in-review

#4446 check if manifest of participatory space is present
  CHANGELOG.md
  decidim-conferences/app/cells/decidim/conferences/linked_participatory_spaces_cell.rb
  decidim-conferences/app/forms/decidim/conferences/admin/conference_form.rb
Labels: in-review

#4386 Feature/3949 participatory texts admin accept odt files
  CHANGELOG.md
  Gemfile
  Gemfile.lock
  config/i18n-tasks.yml
  decidim-dev/lib/decidim/dev/assets/participatory_text.md
  decidim-dev/lib/decidim/dev/assets/participatory_text.odt
  decidim-generators/Gemfile.lock
  decidim-proposals/README.md
  decidim-proposals/app/commands/decidim/proposals/admin/import_participatory_text.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/participatory_texts_controller.rb
  decidim-proposals/app/forms/decidim/proposals/admin/import_participatory_text_form.rb
  decidim-proposals/decidim-proposals.gemspec
  decidim-proposals/lib/decidim/proposals.rb
  decidim-proposals/lib/decidim/proposals/doc_to_markdown.rb
  decidim-proposals/lib/decidim/proposals/odt_to_markdown.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/import_participatory_text_spec.rb
  decidim-proposals/spec/lib/decidim/proposals/odt_to_markdown_spec.rb
  decidim_app-design/Gemfile.lock
Labels: in-review, status: WIP

#4440 Configurable OmniAuth integration icons
  CHANGELOG.md
  decidim-core/app/helpers/decidim/omniauth_helper.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  docs/services/social_providers.md
Labels: status: WIP

#4428 Allow to disable users registration and/or login
  CHANGELOG.md
  decidim-admin/spec/system/admin_invite_spec.rb
  decidim-core/app/assets/stylesheets/decidim/modules/_navbar.scss
  decidim-core/app/controllers/decidim/devise/passwords_controller.rb
  decidim-core/app/controllers/decidim/devise/registrations_controller.rb
  decidim-core/app/controllers/decidim/devise/sessions_controller.rb
  decidim-core/app/helpers/decidim/cta_button_helper.rb
  decidim-core/app/models/decidim/organization.rb
  decidim-core/app/views/decidim/devise/sessions/new.html.erb
  decidim-core/app/views/decidim/devise/shared/_links.html.erb
  decidim-core/app/views/decidim/devise/shared/_omniauth_buttons.html.erb
  decidim-core/app/views/decidim/shared/_login_modal.html.erb
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/db/migrate/20181108131058_add_users_registration_mode_to_organizations.rb
  decidim-core/db/seeds.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/config/locales/en.yml
  decidim-system/app/commands/decidim/system/register_organization.rb
  decidim-system/app/commands/decidim/system/update_organization.rb
  decidim-system/app/forms/decidim/system/register_organization_form.rb
  decidim-system/app/forms/decidim/system/update_organization_form.rb
  decidim-system/app/views/decidim/system/organizations/edit.html.erb
  decidim-system/app/views/decidim/system/organizations/new.html.erb
  decidim-system/config/locales/en.yml
  decidim-system/spec/commands/decidim/system/register_organization_spec.rb
  decidim-system/spec/commands/decidim/system/update_organization_spec.rb
  decidim-system/spec/system/organizations_spec.rb
  docs/customization/users_registration_mode.md
Labels: in-review

#4457 Move the omniauth login buttons to before the form
  CHANGELOG.md
  decidim-core/app/views/decidim/devise/registrations/new.html.erb
  decidim-core/app/views/decidim/devise/sessions/new.html.erb
  decidim-core/app/views/decidim/devise/shared/_omniauth_buttons.html.erb
Labels: in-review, lot: core

#4382 Meeting as a Proposal Author
  CHANGELOG.md
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-proposals/app/assets/config/decidim_proposals_manifest.js
  decidim-proposals/app/assets/javascripts/decidim/proposals/admin/proposals_form.js.es6
  decidim-proposals/app/commands/decidim/proposals/admin/create_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/admin/update_proposal.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_form.rb
  decidim-proposals/app/helpers/decidim/proposals/admin/proposals_helper.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/permissions/decidim/proposals/admin/permissions.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_form.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/edit.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/new.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/db/migrate/20181026073215_add_created_in_meeting.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/commands/decidim/proposals/admin_create_proposal_spec.rb
  decidim-proposals/spec/forms/decidim/proposals/admin_proposal_form_spec.rb
  decidim-proposals/spec/shared/manage_proposals_examples.rb
  decidim-proposals/spec/shared/proposal_form_examples.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: in-review

#4458 Improve user groups form
  CHANGELOG.md
  decidim-core/app/forms/decidim/user_group_form.rb
  decidim-core/app/models/decidim/user_group.rb
  decidim-core/app/views/decidim/groups/_form.html.erb
  decidim-core/app/views/decidim/groups/new.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/forms/user_group_form_spec.rb
  decidim-core/spec/models/decidim/user_group_spec.rb
Labels: in-review, lot: core

#4451 [REFACTOR] Depend upon a more stable doc2text branch.
  Gemfile
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim-proposals/lib/decidim/proposals/odt_to_markdown.rb
  decidim_app-design/Gemfile.lock
Labels: in-review

#4460 Ensure we get unique results on proposals search
  CHANGELOG.md
  decidim-proposals/app/services/decidim/proposals/proposal_search.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_search_spec.rb
Labels: in-review, lot: core

#4462 Filter proposals origin by user groups and meetings
  CHANGELOG.md
  decidim-core/lib/decidim/coauthorable.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/app/services/decidim/proposals/proposal_search.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_filters.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/services/decidim/proposals/proposal_search_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: in-review, lot: core

#4463 Send first unread conversation message text in email
  CHANGELOG.md
  decidim-core/app/commands/decidim/messaging/reply_to_conversation.rb
  decidim-core/app/mailers/decidim/messaging/conversation_mailer.rb
  decidim-core/app/views/decidim/messaging/conversation_mailer/new_conversation.html.erb
  decidim-core/app/views/decidim/messaging/conversation_mailer/new_message.html.erb
Labels: in-review, lot: core

#4465 Profile minicard
  decidim-core/app/assets/javascripts/decidim.js.es6
  decidim-core/app/assets/javascripts/decidim/tooltip_keep_on_hover.js.es6
  decidim-core/app/assets/stylesheets/decidim/modules/_help.scss
  decidim_app-design/app/views/public/amendments/proposal-view-with-amendment-rejected.html.erb
  decidim_app-design/app/views/public/amendments/proposal-view-with-amendments.html.erb
  decidim_app-design/app/views/public/assemblies/assembly-view.html.erb
  decidim_app-design/app/views/public/blog/blog-archives.html.erb
  decidim_app-design/app/views/public/blog/blog-view.html.erb
  decidim_app-design/app/views/public/blog/blog.html.erb
  decidim_app-design/app/views/public/cards/m/_proposal.html.erb
  decidim_app-design/app/views/public/cards/m/_sortition.html.erb
  decidim_app-design/app/views/public/cards/m/_status.html.erb
  decidim_app-design/app/views/public/conferences/_conference-programme-talk.html.erb
  decidim_app-design/app/views/public/partials/_author_data--avatar.html.erb
  decidim_app-design/app/views/public/partials/_author_data--minicard.html.erb
  decidim_app-design/app/views/public/partials/_author_data--name.html.erb
  decidim_app-design/app/views/public/partials/_author_data.html.erb
  decidim_app-design/app/views/public/partials/_last_posts.html.erb
  decidim_app-design/app/views/public/proposals/proposals-collaboratives.html.erb
  decidim_app-design/app/views/public/proposals/proposals-no-vote.html.erb
  decidim_app-design/app/views/public/proposals/proposals-with-filters.html.erb
  decidim_app-design/app/views/public/proposals/proposals.html.erb
  decidim_app-design/app/views/public/proposals/proposals_2.html.erb
Labels: status: Ready-to-dev

#4474 Add default context to cells
  decidim-core/app/cells/decidim/profile_sidebar/show.erb
  decidim-core/app/helpers/decidim/application_helper.rb
  decidim-core/app/helpers/decidim/card_helper.rb
  decidim-core/app/views/decidim/follows/update_button.js.erb
  decidim-core/app/views/decidim/group_members/index.html.erb
  decidim-core/app/views/decidim/profiles/show.html.erb
  decidim-core/app/views/decidim/shared/_follow_button.html.erb
  decidim-proposals/app/views/decidim/participatory_processes/participatory_process_groups/_highlighted_proposals.html.erb
  decidim-proposals/app/views/decidim/participatory_spaces/_highlighted_proposals.html.erb
Labels: in-review, lot: core

#4393 Complete the API
  decidim-core/lib/decidim/api/component_interface.rb
  decidim-core/lib/decidim/api/participatory_space_interface.rb
  decidim-core/lib/decidim/api/scopable_interface.rb
  decidim-pages/app/types/decidim/pages/page_type.rb
  decidim-pages/app/types/decidim/pages/pages_type.rb
  decidim-pages/lib/decidim/pages/component.rb
  decidim-pages/spec/types/page_type_spec.rb
  decidim-pages/spec/types/pages_type_spec.rb
  decidim-participatory_processes/app/types/decidim/participatory_processes/participatory_process_type.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/test/factories.rb
  decidim-participatory_processes/spec/types/participatory_process_type_spec.rb
Labels: status: WIP

#4470 Contextual help
  CHANGELOG.md
  decidim-admin/app/commands/decidim/admin/update_help_sections.rb
  decidim-admin/app/controllers/decidim/admin/help_sections_controller.rb
  decidim-admin/app/forms/decidim/admin/help_section_form.rb
  decidim-admin/app/forms/decidim/admin/help_sections_form.rb
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/app/views/decidim/admin/help_sections/_form.html.erb
  decidim-admin/app/views/decidim/admin/help_sections/show.erb
  decidim-admin/app/views/decidim/admin/help_sections/update.html.erb
  decidim-admin/app/views/layouts/decidim/admin/settings.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/spec/system/admin_manages_help_sections_spec.rb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/index.html.erb
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-conferences/app/views/decidim/conferences/conferences/index.html.erb
  decidim-conferences/spec/system/conferences_spec.rb
  decidim-consultations/app/controllers/decidim/consultations/consultations_controller.rb
  decidim-consultations/app/views/decidim/consultations/consultations/index.html.erb
  decidim-consultations/config/locales/en.yml
  decidim-consultations/spec/system/consultations_spec.rb
  decidim-core/app/assets/stylesheets/decidim/modules/_floating-helper.scss
  decidim-core/app/controllers/concerns/decidim/participatory_space_context.rb
  decidim-core/app/helpers/decidim/application_helper.rb
  decidim-core/app/helpers/decidim/contextual_help_helper.rb
  decidim-core/app/helpers/decidim/decidim_form_helper.rb
  decidim-core/app/helpers/decidim/participatory_space_helpers.rb
  decidim-core/app/models/decidim/contextual_help_section.rb
  decidim-core/app/views/decidim/shared/_floating_help.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/db/migrate/20181113101935_create_decidim_contextual_help_sections.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/test/shared_examples/has_contextual_help.rb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/index.html.erb
  decidim-initiatives/spec/system/initiatives_spec.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_processes_controller.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/index.html.erb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: status: WIP

#4476 Fix migration error
  decidim-core/db/migrate/20180810092428_move_organization_fields_to_hero_content_block.rb
  decidim-generators/lib/decidim/generators/install_generator.rb
Labels: status: WIP

#4473 Hashtags parser fixes and improvements
  CHANGELOG.md
  decidim-core/lib/decidim/content_parsers/hashtag_parser.rb
  decidim-core/lib/decidim/content_parsers/user_parser.rb
  decidim-core/lib/decidim/hashtag.rb
  decidim-core/spec/content_parsers/decidim/hashtag_parser_spec.rb
Labels: in-review

#4482 [BACKPORT] Fix migration error
  decidim-core/db/migrate/20180810092428_move_organization_fields_to_hero_content_block.rb
  decidim-generators/lib/decidim/generators/install_generator.rb
Labels: backport, in-review, lot: core

#4483 fix admin meeting description form
  CHANGELOG.md
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
Labels: status: WIP, type: bug

#4472 Add tooltip cards for user profiles
  CHANGELOG.md
  decidim-core/app/cells/decidim/author/profile_inline.erb
  decidim-core/app/cells/decidim/author/profile_minicard.erb
  decidim-core/app/cells/decidim/author/show.erb
  decidim-core/app/cells/decidim/author_cell.rb
  decidim-core/app/cells/decidim/profile_sidebar/show.erb
  decidim-core/app/cells/decidim/user_profile/header.erb
  decidim-core/app/cells/decidim/user_profile/user_data.erb
  decidim-core/app/cells/decidim/user_profile_cell.rb
  decidim-core/app/models/decidim/follow.rb
  decidim-core/app/presenters/decidim/user_presenter.rb
  decidim-core/config/locales/en.yml
  decidim-core/db/migrate/20181115102958_add_following_and_followers_counters_to_users.rb
  decidim-core/spec/cells/decidim/author_cell_spec.rb
  decidim-core/spec/models/decidim/follow_spec.rb
  decidim-core/spec/system/user_manages_group_invitations_spec.rb
  decidim-debates/app/presenters/decidim/debates/official_author_presenter.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-proposals/app/presenters/decidim/proposals/official_author_presenter.rb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_similar.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
Labels: in-review, lot: core

#4456 Show count on highlighted resources
  CHANGELOG.md
  decidim-accountability/app/cells/decidim/accountability/highlighted_results/show.erb
  decidim-accountability/app/cells/decidim/accountability/highlighted_results_cell.rb
  decidim-accountability/app/cells/decidim/accountability/highlighted_results_for_component/show.erb
  decidim-accountability/app/cells/decidim/accountability/highlighted_results_for_component_cell.rb
  decidim-accountability/app/views/decidim/participatory_spaces/_highlighted_results.html.erb
  decidim-accountability/config/locales/en.yml
  decidim-accountability/lib/decidim/accountability/engine.rb
  decidim-core/app/assets/stylesheets/decidim/modules/_buttons.scss
  decidim-meetings/app/cells/decidim/meetings/highlighted_meetings/show.erb
  decidim-meetings/app/cells/decidim/meetings/highlighted_meetings_cell.rb
  decidim-meetings/app/cells/decidim/meetings/highlighted_meetings_for_component/show.erb
  decidim-meetings/app/cells/decidim/meetings/highlighted_meetings_for_component_cell.rb
  decidim-meetings/app/views/decidim/participatory_spaces/_highlighted_meetings.html.erb
  decidim-meetings/app/views/decidim/participatory_spaces/_meeting.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-proposals/app/cells/decidim/proposals/highlighted_proposals/show.erb
  decidim-proposals/app/cells/decidim/proposals/highlighted_proposals_cell.rb
  decidim-proposals/app/cells/decidim/proposals/highlighted_proposals_for_component/show.erb
  decidim-proposals/app/cells/decidim/proposals/highlighted_proposals_for_component_cell.rb
  decidim-proposals/app/views/decidim/participatory_spaces/_highlighted_proposals.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/engine.rb
Labels: in-review, lot: core

#4492 Find search results with the prefix
  CHANGELOG.md
  decidim-core/app/models/decidim/searchable_resource.rb
  decidim-core/spec/controllers/decidim/searches_controller_spec.rb
  decidim-core/spec/services/decidim/searchable_user_resource_spec.rb
  decidim-meetings/spec/services/searchable_meeting_resource_spec.rb
  decidim-proposals/spec/services/decidim/proposals/searchable_proposal_resource_spec.rb
Labels: in-review, lot: core

#4495 Fix voting locale
  decidim-proposals/config/locales/en.yml
Labels: status: WIP

#4484 BACKPORT fix admin meeting description form
  CHANGELOG.md
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
Labels: backport, in-review, type: bug

#4485 Enable conference one-day, and fix invitations page
  decidim-conferences/app/assets/config/admin/decidim_conferences_manifest.js
  decidim-conferences/app/controllers/decidim/conferences/application_controller.rb
  decidim-conferences/app/forms/decidim/conferences/admin/conference_form.rb
  decidim-conferences/app/helpers/decidim/conferences/conference_helper.rb
  decidim-conferences/app/views/layouts/decidim/_conference_hero.html.erb
Labels: in-review

#4480 Remove right sidebar for conferences
  CHANGELOG.md
  decidim-conferences/app/views/decidim/conferences/conferences/_conferences_sidebar.html.erb
  decidim-conferences/app/views/decidim/conferences/conferences/show.html.erb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/spec/system/conference_registrations_spec.rb
Labels: in-review

#4496 Backport / Fix voting locale
  decidim-proposals/config/locales/en.yml
Labels: backport, in-review

#4497 Update rack version to fix security vulnerability
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: in-review, lot: core

#4504 [BACKPORT] Update rack version to fix security vulnerability
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: backport, in-review, lot: core, status: WIP

#4502 Don't filter highlighted processes by state
  CHANGELOG.md
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_processes_controller.rb
Labels: in-review, lot: core

#4501 Use correct cell to render a meeting organizer
  CHANGELOG.md
  decidim-core/app/views/decidim/shared/_author_reference.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
Labels: in-review, lot: core

#4505 Precompile missing admin asset file
  decidim-admin/app/assets/config/decidim_admin_manifest.js
Labels: in-review, lot: core

#4475 Fixes on areacharts
  decidim-core/app/assets/javascripts/decidim/vizzs/areachart.js.es6
  decidim-core/app/assets/javascripts/decidim/vizzs/metrics.js.es6
  decidim-core/spec/system/homepage_spec.rb
  decidim_app-design/app/assets/javascripts/vizzs/datacharts.js
  decidim_app-design/app/views/public/processes/process-stats.html.erb
  decidim_app-design/app/views/public/vizzs/_areacharts.html.erb
Labels: status: WIP

#4499 Fix process steps CTA path
  CHANGELOG.md
  decidim-participatory_processes/app/views/layouts/decidim/_process_header_steps.html.erb
Labels: in-review, lot: core

#4507 Put share URLs in inputs so they're easier to copy
  CHANGELOG.md
  decidim-core/app/views/decidim/shared/_share_modal.html.erb
  decidim-debates/app/views/decidim/debates/debates/_share.html.erb
Labels: in-review, lot: core, status: WIP

#4481 apply copy modifications conferences
  CHANGELOG.md
  decidim-conferences/app/cells/decidim/conferences/registration_type_cell.rb
  decidim-conferences/app/views/decidim/conferences/admin/invite_join_conference_mailer/invite.html.erb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/spec/system/conference_registrations_spec.rb
  decidim-conferences/spec/system/partners_spec.rb
Labels: in-review, status: WIP

#4503 Don't show grouped processes in process list
  CHANGELOG.md
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_processes_controller.rb
  decidim-participatory_processes/spec/controllers/participatory_processes_controller_spec.rb
  decidim-participatory_processes/spec/system/participatory_process_groups_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: in-review, lot: core

#4510 Rename "Officializations" to "Participants"
  CHANGELOG.md
  decidim-admin/app/views/decidim/admin/officializations/index.html.erb
  decidim-admin/app/views/layouts/decidim/admin/users.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/system/admin_manages_officializations_spec.rb
Labels: in-review, lot: core, status: WIP

#4517 Fix meetings in assemblies page
  decidim-meetings/lib/decidim/meetings/engine.rb
Labels: in-review, lot: core

#4518 Show resource description/body on notification emails
  decidim-accountability/app/events/decidim/accountability/proposal_linked_event.rb
  decidim-accountability/app/events/decidim/accountability/result_progress_updated_event.rb
  decidim-accountability/spec/events/decidim/accountability/proposal_linked_event_spec.rb
  decidim-accountability/spec/events/decidim/accountability/result_progress_updated_event_spec.rb
  decidim-admin/app/events/decidim/attachment_created_event.rb
  decidim-admin/spec/events/decidim/attachment_created_event_spec.rb
  decidim-blogs/app/events/decidim/blogs/create_post_event.rb
  decidim-blogs/spec/events/decidim/blogs/create_post_event_spec.rb
  decidim-comments/app/events/decidim/comments/comment_by_followed_user_event.rb
  decidim-comments/app/events/decidim/comments/comment_created_event.rb
  decidim-comments/app/events/decidim/comments/reply_created_event.rb
  decidim-comments/app/events/decidim/comments/user_mentioned_event.rb
  decidim-comments/spec/events/decidim/comments/comment_by_followed_user_event_spec.rb
  decidim-comments/spec/events/decidim/comments/comment_created_event_spec.rb
  decidim-comments/spec/events/decidim/comments/reply_created_event_spec.rb
  decidim-comments/spec/events/decidim/comments/user_mentioned_event_spec.rb
  decidim-core/app/views/decidim/notification_mailer/event_received.html.erb
  decidim-core/lib/decidim/events/simple_event.rb
  decidim-debates/app/events/decidim/debates/create_debate_event.rb
  decidim-debates/config/locales/en.yml
  decidim-debates/spec/events/decidim/debates/create_debate_event_spec.rb
  decidim-meetings/app/events/decidim/meetings/close_meeting_event.rb
  decidim-meetings/app/events/decidim/meetings/create_meeting_event.rb
  decidim-meetings/app/events/decidim/meetings/meeting_registrations_enabled_event.rb
  decidim-meetings/app/events/decidim/meetings/meeting_registrations_over_percentage_event.rb
  decidim-meetings/app/events/decidim/meetings/registration_code_validated_event.rb
  decidim-meetings/app/events/decidim/meetings/upcoming_meeting_event.rb
  decidim-meetings/app/events/decidim/meetings/update_meeting_event.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/events/decidim/meetings/close_meeting_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/create_meeting_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/meeting_registrations_enabled_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/meeting_registrations_over_percentage_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/registration_code_validated_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/upcoming_meeting_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/update_meeting_event_spec.rb
  decidim-participatory_processes/app/events/decidim/participatory_process_step_activated_event.rb
  decidim-participatory_processes/app/events/decidim/participatory_process_step_changed_event.rb
  decidim-participatory_processes/spec/events/decidim/participatory_process_step_activated_event_spec.rb
  decidim-participatory_processes/spec/events/decidim/participatory_process_step_changed_event_spec.rb
  decidim-proposals/app/events/decidim/proposals/accepted_proposal_event.rb
  decidim-proposals/app/events/decidim/proposals/proposal_endorsed_event.rb
  decidim-proposals/app/events/decidim/proposals/publish_proposal_event.rb
  decidim-proposals/app/events/decidim/proposals/rejected_proposal_event.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/events/decidim/proposals/accepted_proposal_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/proposal_endorsed_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/publish_proposal_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/rejected_proposal_event_spec.rb
Labels: in-review, lot: core

#4493 Etherpad integration
  CHANGELOG.md
  Gemfile.lock
  decidim-core/app/cells/decidim/pad_iframe/show.erb
  decidim-core/app/cells/decidim/pad_iframe_cell.rb
  decidim-core/app/controllers/decidim/components/base_controller.rb
  decidim-core/app/helpers/decidim/pad_helper.rb
  decidim-core/config/locales/en.yml
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/paddable.rb
  decidim-core/spec/cells/decidim/pad_iframe_cell_spec.rb
  decidim-core/spec/lib/paddable_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/component.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/app_templates/docker-compose-etherpad.yml
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim_app-design/Gemfile.lock
  docs/services/etherpad.md
Labels: in-review, lot: core, status: WIP

#4420 Participants & Followers Metric
  decidim-accountability/spec/queries/decidim/accountability/metrics/results_metric_manage_spec.rb
  decidim-assemblies/spec/queries/decidim/assemblies/metrics/assemblies_metric_manage_spec.rb
  decidim-budgets/app/queries/decidim/budgets/metrics/budget_followers_metric_measure.rb
  decidim-budgets/app/queries/decidim/budgets/metrics/budget_participants_metric_measure.rb
  decidim-budgets/lib/decidim/budgets/engine.rb
  decidim-budgets/spec/queries/decidim/budgets/metrics/budget_followers_metric_measure_spec.rb
  decidim-budgets/spec/queries/decidim/budgets/metrics/budget_participants_metric_measure_spec.rb
  decidim-comments/app/queries/decidim/comments/metrics/comment_participants_metric_measure.rb
  decidim-comments/lib/decidim/comments/engine.rb
  decidim-comments/spec/queries/decidim/comments/metrics/comment_participants_metric_measure_spec.rb
  decidim-comments/spec/queries/decidim/comments/metrics/comments_metric_manage_spec.rb
  decidim-core/app/jobs/decidim/metric_job.rb
  decidim-core/app/queries/decidim/metric_manage.rb
  decidim-core/app/queries/decidim/metric_measure.rb
  decidim-core/app/queries/decidim/metrics/followers_metric_manage.rb
  decidim-core/app/queries/decidim/metrics/participants_metric_manage.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/metric_operation.rb
  decidim-core/lib/decidim/metric_operation_manifest.rb
  decidim-core/lib/decidim/metric_registry.rb
  decidim-core/spec/jobs/decidim/metric_job_spec.rb
  decidim-core/spec/lib/metric_manifest_spec.rb
  decidim-core/spec/lib/metric_operation_manifest_spec.rb
  decidim-core/spec/lib/metric_operation_registry_spec.rb
  decidim-core/spec/lib/metric_registry_spec.rb
  decidim-core/spec/queries/decidim/metric_manage_spec.rb
  decidim-core/spec/queries/decidim/metric_measure_spec.rb
  decidim-core/spec/queries/decidim/metrics/followers_metric_manage_spec.rb
  decidim-core/spec/queries/decidim/metrics/participants_metric_manage_spec.rb
  decidim-core/spec/queries/decidim/metrics/users_metric_manage_spec.rb
  decidim-debates/app/queries/decidim/debates/metrics/debate_followers_metric_measure.rb
  decidim-debates/app/queries/decidim/debates/metrics/debate_participants_metric_measure.rb
  decidim-debates/lib/decidim/debates/engine.rb
  decidim-debates/spec/queries/decidim/debates/metrics/debate_followers_metric_measure_spec.rb
  decidim-debates/spec/queries/decidim/debates/metrics/debate_participants_metric_measure_spec.rb
  decidim-meetings/app/queries/decidim/meetings/metrics/meeting_followers_metric_measure.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-meetings/spec/queries/decidim/meetings/metrics/meeting_followers_metric_measure_spec.rb
  decidim-meetings/spec/queries/decidim/meetings/metrics/meetings_metric_manage_spec.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/metrics/participatory_process_followers_metric_measure.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/spec/queries/decidim/participatory_processes/metrics/participatory_process_followers_metric_measure_spec.rb
  decidim-participatory_processes/spec/queries/decidim/participatory_processes/metrics/participatory_processes_metric_manage_spec.rb
  decidim-proposals/app/models/decidim/proposals/collaborative_draft.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/proposal_followers_metric_measure.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/proposal_participants_metric_measure.rb
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/accepted_proposals_metric_manage_spec.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/proposal_followers_metric_measure_spec.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/proposal_participants_metric_measure_spec.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/proposals_metric_manage_spec.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/votes_metric_manage_spec.rb
  decidim-surveys/app/queries/decidim/surveys/metrics/survey_participants_metric_measure.rb
  decidim-surveys/lib/decidim/surveys/engine.rb
  decidim-surveys/spec/queries/decidim/surveys/metrics/survey_participants_metric_measure_spec.rb
Labels: general: core, lot: mods, space: processes, status: WIP

#4528 Fix notifications settings form
  CHANGELOG.md
  decidim-core/app/forms/decidim/notifications_settings_form.rb
  decidim-core/spec/forms/notifications_settings_form_spec.rb
Labels: in-review, lot: core

#4529 Hide unavailable verification methods
  CHANGELOG.md
  decidim-admin/app/views/layouts/decidim/admin/users.html.erb
Labels: in-review, lot: core

#4531 Fix bug in `resource_text` for events
  decidim-core/app/views/decidim/notification_mailer/event_received.html.erb
Labels: in-review, lot: core

#4315 Fix cards
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
  decidim-core/app/cells/decidim/card_m/top.erb
Labels: in-review

#4355 Fix profile
  decidim-core/app/cells/decidim/profile_sidebar/show.erb
  decidim_app-design/app/views/public/profile/_user-card.html.erb
  decidim_app-design/app/views/public/profile/user-profile.html.erb
Labels: status: WIP

#4530 Card stack design
  decidim_app-design/app/views/public/cards/m/_stack.html.erb
Labels: status: Ready-to-dev

#4478 Answers metric
  decidim-surveys/app/queries/decidim/surveys/metrics/answers_metric_manage.rb
  decidim-surveys/lib/decidim/surveys/engine.rb
  decidim-surveys/spec/queries/decidim/surveys/metrics/answers_metric_manage_spec.rb
Labels: component: surveys, lot: mods

#4468 Debates metric
  decidim-debates/app/queries/decidim/debates/metrics/debates_metric_manage.rb
  decidim-debates/lib/decidim/debates/engine.rb
  decidim-debates/spec/queries/decidim/debates/metrics/debates_metric_manage_spec.rb
Labels: component: debates, lot: mods

#4467 Endorsements metric
  decidim-proposals/app/queries/decidim/proposals/metrics/endorsements_metric_manage.rb
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/endorsements_metric_manage_spec.rb
Labels: component: proposals, lot: mods

#4516 Contextual help improvements
  decidim-admin/app/commands/decidim/admin/create_static_page_topic.rb
  decidim-admin/app/commands/decidim/admin/update_static_page_topic.rb
  decidim-admin/app/forms/decidim/admin/static_page_topic_form.rb
  decidim-admin/app/views/decidim/admin/static_page_topics/_form.html.erb
  decidim-admin/config/locales/en.yml
  decidim-assemblies/app/views/decidim/assemblies/assemblies/show.html.erb
  decidim-conferences/app/views/decidim/conferences/conferences/show.html.erb
  decidim-consultations/app/views/layouts/decidim/_consultation_header.html.erb
  decidim-core/app/assets/config/decidim_core_manifest.js
  decidim-core/app/assets/javascripts/decidim.js.es6
  decidim-core/app/assets/javascripts/decidim/floating_help.js.es6
  decidim-core/app/controllers/concerns/decidim/participatory_space_context.rb
  decidim-core/app/events/decidim/welcome_notification_event.rb
  decidim-core/app/helpers/decidim/contextual_help_helper.rb
  decidim-core/app/helpers/decidim/participatory_space_helpers.rb
  decidim-core/app/models/decidim/organization.rb
  decidim-core/app/models/decidim/static_page_topic.rb
  decidim-core/app/views/decidim/notification_mailer/event_received.html.erb
  decidim-core/app/views/decidim/shared/_floating_help.html.erb
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
  decidim-core/db/migrate/20181119140636_add_columns_to_static_page_topic.rb
  decidim-core/lib/decidim/core/test/shared_examples/has_contextual_help.rb
  decidim-core/lib/decidim/events/base_event.rb
  decidim-core/spec/lib/welcome_notification_event_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb
Labels: status: WIP

#4533 Assemblies chart enhancements
  decidim-core/app/assets/javascripts/decidim/vizzs/orgchart.js.es6
  decidim-core/app/assets/stylesheets/decidim/modules/_modules.scss
  decidim-core/app/assets/stylesheets/decidim/vizzs/_orgchart.scss
  decidim_app-design/public/orgchart-plain.json
  decidim_app-design/public/orgchart.json
Labels: status: WIP

#4534 Don't crash when showing the edit link for a component that does not have an admin engine backport
  CHANGELOG.md
  Gemfile.lock
  decidim-core/app/helpers/decidim/component_path_helper.rb
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: in-review

#4541 Populate default help
  CHANGELOG.md
  config/i18n-tasks.yml
  decidim-assemblies/config/locales/en.yml
  decidim-consultations/config/locales/en.yml
  decidim-core/app/helpers/decidim/multi_translation_helper.rb
  decidim-core/app/helpers/decidim/translations_helper.rb
  decidim-core/config/locales/en.yml
  decidim-initiatives/config/locales/en.yml
  decidim-participatory_processes/config/locales/en.yml
  decidim-system/app/commands/decidim/system/populate_help.rb
  decidim-system/app/commands/decidim/system/register_organization.rb
  decidim-system/db/seeds.rb
  decidim-system/spec/commands/decidim/system/register_organization_spec.rb
Labels: status: WIP

#4535 fix error when editing meeting
  CHANGELOG.md
  decidim-core/lib/decidim/content_renderers/hashtag_renderer.rb
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/content_renderers/decidim/hashtag_renderer_spec.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
Labels: in-review

#4547 backport when editing meeting
  CHANGELOG.md
  decidim-core/lib/decidim/content_renderers/hashtag_renderer.rb
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/content_renderers/decidim/hashtag_renderer_spec.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
Labels: status: WIP

#4548 Fix bug with hashtags cases after optimization
  decidim-core/lib/decidim/content_parsers/hashtag_parser.rb
  decidim-core/spec/content_parsers/decidim/hashtag_parser_spec.rb
Labels: in-review

#4549 Fix update content block image
  CHANGELOG.md
  decidim-admin/app/commands/decidim/admin/update_content_block.rb
  decidim-admin/spec/commands/decidim/admin/update_content_block_spec.rb
Labels: in-review

#4544 Send welcome email by default on seeds
  decidim-core/db/seeds.rb
Labels: status: WIP

#4552 Fix tabs fields with weird input names
  CHANGELOG.md
  decidim-core/lib/decidim/form_builder.rb
Labels: in-review, status: WIP

#4553 Fix original locale on welcome messages
  decidim-core/config/locales/en.yml
Labels: status: WIP

#4558 [Backport] Fix vote rerendering
  CHANGELOG.md
  decidim-proposals/app/views/decidim/proposals/proposal_votes/update_buttons_and_counters.js.erb
Labels: backport, in-review

#4443 Conference diploma functionality
  CHANGELOG.md
  Gemfile.lock
  decidim-conferences/app/commands/decidim/conferences/admin/send_conference_diplomas.rb
  decidim-conferences/app/commands/decidim/conferences/admin/update_diploma.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_registrations_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/diplomas_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/conferences_controller.rb
  decidim-conferences/app/forms/decidim/conferences/admin/diploma_form.rb
  decidim-conferences/app/jobs/decidim/conferences/admin/send_conference_diploma_job.rb
  decidim-conferences/app/mailers/decidim/conferences/admin/send_conference_diploma_mailer.rb
  decidim-conferences/app/models/decidim/conference.rb
  decidim-conferences/app/models/decidim/conferences/conference_registration.rb
  decidim-conferences/app/presenters/decidim/conferences/admin_log/conferences_presenter.rb
  decidim-conferences/app/uploaders/decidim/conferences/diploma_uploader.rb
  decidim-conferences/app/views/decidim/conferences/admin/diplomas/_form.html.erb
  decidim-conferences/app/views/decidim/conferences/admin/diplomas/edit.html.erb
  decidim-conferences/app/views/decidim/conferences/admin/send_conference_diploma_mailer/diploma.html.erb
  decidim-conferences/app/views/decidim/conferences/admin/send_conference_diploma_mailer/diploma_user.html.erb
  decidim-conferences/app/views/layouts/decidim/admin/conference.html.erb
  decidim-conferences/app/views/layouts/decidim/diploma.html.erb
  decidim-conferences/config/initializers/wicked_pdf.rb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/db/migrate/20181106092826_add_diploma_fields_to_conference.rb
  decidim-conferences/decidim-conferences.gemspec
  decidim-conferences/lib/decidim/conferences/admin_engine.rb
  decidim-conferences/lib/decidim/conferences/engine.rb
  decidim-conferences/lib/decidim/conferences/test/factories.rb
  decidim-conferences/spec/commands/confirm_conference_registration_spec.rb
  decidim-conferences/spec/commands/send_conferences_diplomas_spec.rb
  decidim-conferences/spec/commands/update_diploma_spec.rb
  decidim-conferences/spec/forms/diploma_form_spec.rb
  decidim-conferences/spec/jobs/decidim/conferences/admin/send_conference_diploma_job_spec.rb
  decidim-conferences/spec/mailers/decidim/conferences/admin/send_conference_diploma_mailer_spec.rb
  decidim-conferences/spec/shared/manage_diplomas_examples.rb
  decidim-conferences/spec/system/admin/admin_manages_conferences_spec.rb
  decidim-core/app/assets/config/decidim_core_manifest.js
  decidim-core/app/assets/images/decidim/pattern.png
  decidim-core/app/assets/stylesheets/decidim/conference-diploma.css.scss
  decidim_app-design/Gemfile.lock
Labels: in-review, status: WIP

#4561 Content block fixes
  CHANGELOG.md
  decidim-admin/app/commands/decidim/admin/update_content_block.rb
  decidim-admin/spec/commands/decidim/admin/update_content_block_spec.rb
  decidim-core/lib/decidim/form_builder.rb
Labels: in-review

#4538 Feat/4354 processes all statistics
  decidim-accountability/config/locales/en.yml
  decidim-assemblies/app/views/decidim/assemblies/assemblies/_statistics.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-comments/config/locales/en.yml
  decidim-comments/lib/decidim/comments/engine.rb
  decidim-core/app/assets/javascripts/decidim/vizzs/areachart.js.es6
  decidim-core/app/assets/javascripts/decidim/vizzs/metrics.js.es6
  decidim-core/app/presenters/decidim/metric_charts_presenter.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/metric_manifest.rb
  decidim-core/lib/decidim/metric_registry.rb
  decidim-core/spec/lib/metric_manifest_spec.rb
  decidim-debates/lib/decidim/debates/engine.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/participatory_process_metric_charts_presenter.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/_statistics.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/statistics.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/spec/system/participatory_process_statistics_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-surveys/lib/decidim/surveys/engine.rb
Labels: lot: mods, space: processes, status: WIP

#4563 Add documentation on how to create a new release
  docs/development_guide.md
Labels: in-review, status: WIP

#4445 Processes all statistics page
  decidim-accountability/config/locales/en.yml
  decidim-assemblies/app/views/decidim/assemblies/assemblies/_statistics.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-comments/config/locales/en.yml
  decidim-comments/lib/decidim/comments/engine.rb
  decidim-core/app/assets/javascripts/decidim/vizzs/areachart.js.es6
  decidim-core/app/assets/javascripts/decidim/vizzs/metrics.js.es6
  decidim-core/app/presenters/decidim/metric_charts_presenter.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/metric_manifest.rb
  decidim-core/lib/decidim/metric_registry.rb
  decidim-core/spec/lib/metric_manifest_spec.rb
  decidim-debates/config/locales/en.yml
  decidim-debates/lib/decidim/debates/engine.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/participatory_process_metric_charts_presenter.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/_metrics.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/_statistics.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/statistics.html.erb
  decidim-participatory_processes/app/views/layouts/decidim/_process_navigation.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/spec/system/participatory_process_statistics_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-surveys/config/locales/en.yml
  decidim-surveys/lib/decidim/surveys/engine.rb
Labels: lot: mods, space: processes

#4564 Change few things in conference program
  CHANGELOG.md
  decidim-conferences/app/cells/decidim/conferences/registration_type_cell.rb
  decidim-conferences/app/forms/decidim/conferences/admin/registration_type_form.rb
  decidim-conferences/app/presenters/decidim/conference_speaker_presenter.rb
  decidim-conferences/app/views/decidim/conferences/conference_program/_program_meeting.html.erb
  decidim-conferences/app/views/decidim/conferences/conference_registration_mailer/confirmation.html.erb
  decidim-conferences/app/views/decidim/conferences/conference_registration_mailer/pending_validation.html.erb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/db/migrate/20181123124424_make_price_optional_conference_registration_type.rb
  decidim-conferences/spec/forms/registration_type_form_spec.rb
  decidim-core/app/assets/stylesheets/decidim/modules/_conference-programme.scss
Labels: in-review

#4537 Improve search results layout
  CHANGELOG.md
  config/i18n-tasks.yml
  decidim-assemblies/app/models/decidim/assembly.rb
  decidim-assemblies/lib/decidim/assemblies/test/factories.rb
  decidim-assemblies/spec/models/decidim/assembly_spec.rb
  decidim-core/app/cells/decidim/search_results/show.erb
  decidim-core/app/cells/decidim/search_results_cell.rb
  decidim-core/app/cells/decidim/search_results_section/show.erb
  decidim-core/app/cells/decidim/search_results_section_cell.rb
  decidim-core/app/commands/decidim/search.rb
  decidim-core/app/controllers/decidim/searches_controller.rb
  decidim-core/app/helpers/decidim/searches_helper.rb
  decidim-core/app/views/decidim/searches/_count.html.erb
  decidim-core/app/views/decidim/searches/_filters.html.erb
  decidim-core/app/views/decidim/searches/_results.html.erb
  decidim-core/app/views/decidim/searches/index.html.erb
  decidim-core/app/views/decidim/searches/index.js.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test/shared_examples/searchable_results_examples.rb
  decidim-core/lib/decidim/participable.rb
  decidim-core/lib/decidim/resource_manifest.rb
  decidim-core/lib/decidim/searchable.rb
  decidim-core/spec/commands/decidim/search_spec.rb
  decidim-core/spec/controllers/decidim/searches_controller_spec.rb
  decidim-core/spec/lib/searchable_spec.rb
  decidim-core/spec/services/decidim/searchable_user_resource_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/component.rb
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/spec/services/searchable_meeting_resource_spec.rb
  decidim-participatory_processes/app/models/decidim/participatory_process.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/test/factories.rb
  decidim-participatory_processes/spec/models/decidim/participatory_process_spec.rb
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/services/decidim/proposals/searchable_proposal_resource_spec.rb
Labels: dependent, in-review, lot: core

#4571 Hide card label on search results
  decidim-core/app/cells/decidim/search_results_section/show.erb
Labels: in-review, lot: core

#4372 Stats for Participatory Processes
  decidim-accountability/config/locales/en.yml
  decidim-assemblies/app/views/decidim/assemblies/assemblies/_statistics.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-comments/config/locales/en.yml
  decidim-comments/lib/decidim/comments/engine.rb
  decidim-core/app/assets/javascripts/decidim/vizzs/areachart.js.es6
  decidim-core/app/assets/javascripts/decidim/vizzs/metrics.js.es6
  decidim-core/app/presenters/decidim/metric_charts_presenter.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/metric_manifest.rb
  decidim-core/lib/decidim/metric_registry.rb
  decidim-core/spec/lib/metric_manifest_spec.rb
  decidim-debates/config/locales/en.yml
  decidim-debates/lib/decidim/debates/engine.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/participatory_process_metric_charts_presenter.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/_metrics.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/_statistics.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/statistics.html.erb
  decidim-participatory_processes/app/views/layouts/decidim/_process_navigation.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/spec/system/participatory_process_statistics_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-surveys/config/locales/en.yml
  decidim-surveys/lib/decidim/surveys/engine.rb
Labels: general: core, in-review, lot: mods, space: processes, status: WIP

#4570 Add activity tab
  CHANGELOG.md
  decidim-accountability/spec/models/result_spec.rb
  decidim-assemblies/spec/models/decidim/assembly_spec.rb
  decidim-blogs/spec/models/decidim/blogs/post_spec.rb
  decidim-budgets/spec/models/project_spec.rb
  decidim-comments/spec/cells/decidim/comments/comment_activity_cell_spec.rb
  decidim-conferences/spec/models/decidim/conference_spec.rb
  decidim-consultations/app/models/decidim/consultations/question.rb
  decidim-consultations/spec/models/decidim/consultation_spec.rb
  decidim-core/app/cells/decidim/activity/show.erb
  decidim-core/app/cells/decidim/activity_cell.rb
  decidim-core/app/cells/decidim/profile/user_tabs.erb
  decidim-core/app/cells/decidim/user_activity/show.erb
  decidim-core/app/cells/decidim/user_activity_cell.rb
  decidim-core/app/controllers/decidim/profiles_controller.rb
  decidim-core/app/controllers/decidim/user_activities_controller.rb
  decidim-core/app/helpers/decidim/cells_paginate_helper.rb
  decidim-core/app/models/decidim/component.rb
  decidim-core/app/services/decidim/activity_search.rb
  decidim-core/app/views/decidim/shared/_results_per_page.html.erb
  decidim-core/app/views/decidim/user_activities/index.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/resourceable.rb
  decidim-core/lib/decidim/participatory_space_resourceable.rb
  decidim-core/lib/decidim/resourceable.rb
  decidim-core/spec/models/decidim/component_spec.rb
  decidim-core/spec/models/decidim/user_spec.rb
  decidim-core/spec/system/user_activity_spec.rb
  decidim-debates/spec/models/decidim/debates/debate_spec.rb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim-pages/spec/models/page_spec.rb
  decidim-proposals/spec/models/decidim/proposals/collaborative_draft_spec.rb
  decidim-proposals/spec/models/decidim/proposals/proposal_spec.rb
Labels: in-review, status: WIP

#4581 Change conference icon
  decidim-conferences/app/assets/images/decidim/conferences/conference.svg
  decidim-conferences/lib/decidim/conferences/admin_engine.rb
Labels: in-review

#4565 Feature/4539 callback to automatically verify on omniauth registration
  CHANGELOG.md
  decidim-core/app/commands/decidim/create_omniauth_registration.rb
  decidim-core/app/controllers/decidim/devise/omniauth_registrations_controller.rb
  decidim-core/app/forms/decidim/omniauth_registration_form.rb
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  docs/customization/oauth.md
Labels: in-review

#4587 Fix address toggle in the add proposal form
  CHANGELOG.md
  decidim-proposals/app/assets/javascripts/decidim/proposals/add_proposal.js.es6
Labels: in-review

#4586 Improve Searchable docs
  CHANGELOG.md
  decidim-core/lib/decidim/searchable.rb
Labels: in-review, lot: core

#4590 Fix hashtags autocomplete
  CHANGELOG.md
  decidim-core/app/assets/javascripts/decidim/input_hashtags.js.es6
  decidim-core/vendor/assets/javascripts/tribute.js
Labels: in-review

#4593 Improve proposals serialization
  CHANGELOG.md
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_serializer_spec.rb
Labels: in-review

#4578 Open Data export
  CHANGELOG.md
  decidim-accountability/lib/decidim/accountability/component.rb
  decidim-core/app/controllers/decidim/open_data_controller.rb
  decidim-core/app/jobs/decidim/open_data_job.rb
  decidim-core/app/models/decidim/organization.rb
  decidim-core/app/services/decidim/open_data_exporter.rb
  decidim-core/app/uploaders/decidim/open_data_uploader.rb
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
  decidim-core/config/locales/ca.yml
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/lib/decidim/component_manifest.rb
  decidim-core/lib/decidim/components/export_manifest.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/tasks/decidim_data_portability_tasks.rake
  decidim-core/lib/tasks/decidim_open_data_tasks.rake
  decidim-core/lib/tasks/decidim_tasks.rake
  decidim-core/spec/controllers/open_data_controller_spec.rb
  decidim-core/spec/factories.rb
  decidim-core/spec/jobs/decidim/open_data_job_spec.rb
  decidim-core/spec/lib/components/export_manifest_spec.rb
  decidim-core/spec/services/decidim/open_data_exporter_spec.rb
  decidim-core/spec/system/homepage_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/download_helper.rb
  decidim-proposals/lib/decidim/proposals/component.rb
  docs/advanced/metrics.md
  docs/advanced/open-data.md
  docs/checklist.md
Labels: in-review

#4577 Participatory text title bug
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/helpers/decidim/proposals/participatory_texts_helper.rb
  decidim-proposals/app/views/decidim/proposals/proposals/participatory_texts/participatory_text.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/participatory_texts_spec.rb
Labels: in-review

#4589 Add registration form questionnaire answers to export meeting registrations file
  CHANGELOG.md
  decidim-meetings/app/serializers/decidim/meetings/registration_serializer.rb
  decidim-meetings/spec/serializers/registration_serializer_spec.rb
Labels: in-review

#4600 Increase timeout for download specs
  decidim-dev/lib/decidim/dev/test/rspec_support/download_helper.rb
Labels: in-review, status: WIP

#4573 Allow online/offline ID document verification requests
  CHANGELOG.md
  decidim-core/app/presenters/decidim/admin_log/organization_presenter.rb
  decidim-core/app/presenters/decidim/admin_log/user_presenter.rb
  decidim-core/db/migrate/20181126145142_add_id_documents_fields_to_org.rb
  decidim-verifications/app/commands/decidim/verifications/id_documents/admin/confirm_user_offline_authorization.rb
  decidim-verifications/app/commands/decidim/verifications/id_documents/admin/update_config.rb
  decidim-verifications/app/controllers/decidim/verifications/id_documents/admin/config_controller.rb
  decidim-verifications/app/controllers/decidim/verifications/id_documents/admin/offline_confirmations_controller.rb
  decidim-verifications/app/controllers/decidim/verifications/id_documents/admin/pending_authorizations_controller.rb
  decidim-verifications/app/controllers/decidim/verifications/id_documents/authorizations_controller.rb
  decidim-verifications/app/forms/decidim/verifications/id_documents/admin/config_form.rb
  decidim-verifications/app/forms/decidim/verifications/id_documents/admin/offline_confirmation_form.rb
  decidim-verifications/app/forms/decidim/verifications/id_documents/information_form.rb
  decidim-verifications/app/forms/decidim/verifications/id_documents/upload_form.rb
  decidim-verifications/app/views/decidim/verifications/id_documents/admin/config/edit.html.erb
  decidim-verifications/app/views/decidim/verifications/id_documents/admin/confirmations/new.html.erb
  decidim-verifications/app/views/decidim/verifications/id_documents/admin/offline_confirmations/new.html.erb
  decidim-verifications/app/views/decidim/verifications/id_documents/admin/pending_authorizations/index.html.erb
  decidim-verifications/app/views/decidim/verifications/id_documents/authorizations/_form.html.erb
  decidim-verifications/app/views/decidim/verifications/id_documents/authorizations/choose.html.erb
  decidim-verifications/app/views/decidim/verifications/id_documents/authorizations/edit.html.erb
  decidim-verifications/app/views/decidim/verifications/id_documents/authorizations/new.html.erb
  decidim-verifications/config/locales/en.yml
  decidim-verifications/lib/decidim/verifications/id_documents/admin_engine.rb
  decidim-verifications/lib/decidim/verifications/id_documents/engine.rb
  decidim-verifications/spec/commmands/decidim/verifications/id_documents/admin/confirm_user_offline_authorization_spec.rb
  decidim-verifications/spec/commmands/decidim/verifications/id_documents/admin/update_config_spec.rb
  decidim-verifications/spec/forms/decidim/verifications/id_documents/admin/config_form_spec.rb
  decidim-verifications/spec/forms/decidim/verifications/id_documents/information_form_spec.rb
  decidim-verifications/spec/system/id_documents/id_document_offline_request_spec.rb
  decidim-verifications/spec/system/id_documents/id_document_offline_review_spec.rb
  decidim-verifications/spec/system/id_documents/id_document_online_review_spec.rb
  decidim-verifications/spec/system/id_documents/id_document_online_upload_spec.rb
  decidim-verifications/spec/system/id_documents/id_document_request_edition_spec.rb
Labels: in-review, lot: core

#4597 Export meetings
  CHANGELOG.md
  decidim-core/spec/services/decidim/open_data_exporter_spec.rb
  decidim-core/spec/system/homepage_spec.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/lib/decidim/meetings/meeting_serializer.rb
  decidim-meetings/spec/lib/decidim/meetings/attended_meetings_badge_spec.rb
  decidim-meetings/spec/lib/decidim/meetings/meeting_serializer_spec.rb
  decidim-meetings/spec/lib/decidim/meetings/registrations/code_generator_spec.rb
  decidim-meetings/spec/shared/export_meetings_examples.rb
  decidim-meetings/spec/system/admin_manages_meetings_spec.rb
Labels: in-review
