Repository decidim/decidim, pull requests merged in 2018-07, with the labels that each got.

#3732 More consistent circle ci env
  .circleci/config.yml
  d/rspec
Labels: in-review

#3754 Home blocks
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_card-grid.scss
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_draggable-list.scss
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_modules.scss
  decidim-admin/app/assets/stylesheets/decidim/admin/utils/_mixins.scss
  decidim_app-design/app/views/admin/appearance.html.erb
  decidim_app-design/app/views/admin/index.html.erb
  decidim_app-design/app/views/admin/partials/_settings_nav.html.erb
Labels: status: WIP

#3665 Fast signup
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/user/_modal-question-user-existent.html.erb
  decidim_app-design/app/views/public/user/_modal-question-user-new.html.erb
  decidim_app-design/app/views/public/user/_modal-question.html.erb
  decidim_app-design/app/views/public/user/user-profile-fast-login-user-existent.html.erb
  decidim_app-design/app/views/public/user/user-profile-fast-login-user-new.html.erb
  decidim_app-design/app/views/public/user/user-profile-fast-login.html.erb
Labels: status: Ready-to-dev

#3676 Home stats - Areachart
  decidim-core/app/assets/javascripts/decidim.js.es6
  decidim-core/app/assets/javascripts/decidim/vizzs/areachart.js.es6
  decidim-core/app/assets/javascripts/decidim/vizzs/metrics.js.es6
  decidim-core/app/assets/javascripts/decidim/vizzs/renders.js.es6
  decidim-core/app/assets/stylesheets/decidim/modules/_areachart.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_chart-tooltip.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_modules.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_typography.scss
  decidim-core/vendor/assets/javascripts/d3.js
  decidim_app-design/app/assets/javascripts/public.js
  decidim_app-design/app/assets/javascripts/vizzs/areachart-0.js
  decidim_app-design/app/assets/javascripts/vizzs/areachart-1.js
  decidim_app-design/app/assets/javascripts/vizzs/areachart-2.js
  decidim_app-design/app/views/public/home.html.erb
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/info.html.erb
  decidim_app-design/app/views/public/library/_library-charts.html.erb
  decidim_app-design/app/views/public/library/pattern-library.html.erb
  decidim_app-design/app/views/public/partials/_areachart.html.erb
  decidim_app-design/app/views/public/partials/_home_stats.html.erb
  decidim_app-design/app/views/public/partials/_process_home_stats.html.erb
  decidim_app-design/app/views/public/process-stats.html.erb
  decidim_app-design/app/views/public/proposals/proposal-stats.html.erb
  decidim_app-design/app/views/public/proposals/proposals.html.erb
  decidim_app-design/app/views/public/stats.html.erb
Labels: status: Ready-to-dev

#3756 Fix gemfile locks
  .circleci/config.yml
  Gemfile.lock
  decidim-admin/decidim-admin.gemspec
  decidim-core/app/assets/javascripts/decidim/vizzs/areachart.js.es6
  decidim-core/app/assets/javascripts/decidim/vizzs/metrics.js.es6
  decidim-core/app/assets/javascripts/decidim/vizzs/renders.js.es6
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile
  decidim-generators/Gemfile.lock
  decidim-system/decidim-system.gemspec
  decidim_app-design/Gemfile.lock
  decidim_app-design/app/views/public/stats.html.erb
Labels: in-review, lot: core

#3770 Install dependencies from each folder
  .circleci/config.yml
Labels: in-review, lot: core

#3772 [BACKPORT] Fix space permissions
  CHANGELOG.md
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-participatory_processes/app/permissions/decidim/participatory_processes/permissions.rb
Labels: backport, in-review, lot: core

#3737 Highlight navigation bar item when showing a process group
  CHANGELOG.md
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
Labels: in-review, lot: core, status: WIP

#3745 Fix follow within search results
  CHANGELOG.md
  decidim-core/app/views/decidim/searches/_results.html.erb
Labels: in-review

#3748 Fix invitations form newsletter optin
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/views/decidim/devise/invitations/edit.html.erb
Labels: in-review

#3779 Design-app: null object
  decidim_app-design/app/assets/javascripts/vizzs/areachart-0.js
  decidim_app-design/app/assets/javascripts/vizzs/areachart-1.js
  decidim_app-design/app/assets/javascripts/vizzs/areachart-2.js
Labels: status: DONE, type: bug

#3775 Fix dependencies
  Gemfile.lock
  decidim-admin/decidim-admin.gemspec
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile
  decidim-generators/Gemfile.lock
  decidim-system/decidim-system.gemspec
  decidim_app-design/Gemfile.lock
Labels: backport, in-review, lot: core

#3727 [FIX] Authorship for Proposals list have disappeared
  CHANGELOG.md
  decidim-core/app/cells/decidim/card_m/author.erb
  decidim-core/app/cells/decidim/card_m/authors.erb
  decidim-core/app/cells/decidim/card_m/header.erb
  decidim-core/app/cells/decidim/card_m_cell.rb
  decidim-core/app/cells/decidim/coauthorships_cell.rb
  decidim-core/app/cells/decidim/user_profile/header.erb
  decidim-proposals/app/cells/decidim/proposals/coauthorships_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_m/footer.erb
  decidim-proposals/app/helpers/decidim/proposals/proposal_cells_helper.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_similar.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: in-review, type: bug

#3757 Conversations/Conversation markup
  decidim-core/app/assets/stylesheets/decidim/modules/_conversation.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_modules.scss
  decidim-core/app/assets/stylesheets/decidim/utils/_mixins.scss
  decidim_app-design/app/views/public/user/_conversation.html.erb
  decidim_app-design/app/views/public/user/_conversations.html.erb
  decidim_app-design/app/views/public/user/user-profile.html.erb
Labels: status: Ready-to-dev

#3792 Fix notifications sending when there's no component
  CHANGELOG.md
  decidim-core/lib/decidim/events/base_event.rb
  decidim-core/spec/lib/events/base_event_spec.rb
Labels: in-review, lot: core

#3791 An author should always follow their proposal
  CHANGELOG.md
  decidim-core/lib/decidim/coauthorable.rb
  decidim-proposals/spec/shared/create_proposal_examples.rb
Labels: in-review, lot: core, status: WIP

#3795 Upgrade sassc to a working 1.12 version
  Gemfile.lock
  decidim-admin/decidim-admin.gemspec
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim-system/decidim-system.gemspec
  decidim_app-design/Gemfile.lock
Labels: in-review

#3790 Don't crash when a nickname has a dot
  CHANGELOG.md
  decidim-admin/app/controllers/decidim/admin/impersonations_controller.rb
  decidim-core/config/routes.rb
  decidim-core/db/migrate/20180706104107_add_nickname_to_managed_users.rb
Labels: in-review, lot: core

#3800 Only run the heavy stuff if all linters pass
  .circleci/config.yml
Labels: in-review

#3797 Fix accountability diff renderer when a locale is missing.
  CHANGELOG.md
  decidim-accountability/app/services/decidim/accountability/diff_renderer.rb
  decidim-accountability/spec/services/decidim/accountability/diff_renderer_spec.rb
Labels: in-review, lot: core, status: WIP

#3798 Fix followable type for Decidim::Accountability::Result
  CHANGELOG.md
  decidim-core/db/migrate/20180706111847_fix_result_follows.rb
Labels: in-review, lot: core, status: WIP

#3793 Use the same proposals collection for the map
  CHANGELOG.md
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/views/decidim/proposals/proposals/index.html.erb
Labels: in-review, lot: core, status: WIP

#3796 Feature/2589 add user to search
  CHANGELOG.md
  decidim-core/app/cells/decidim/card_m_cell.rb
  decidim-core/app/cells/decidim/collapsible_authors/show.erb
  decidim-core/app/models/decidim/searchable_resource.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/lib/decidim/search_resource_fields_mapper.rb
  decidim-core/lib/decidim/searchable.rb
  decidim-core/spec/lib/search_resource_fields_mapper_spec.rb
  decidim-core/spec/services/decidim/searchable_user_rsrc_spec.rb
  decidim-proposals/lib/decidim/proposals/component.rb
Labels: in-review

#3632 Improve meeting invitations
  CHANGELOG.md
  decidim-core/config/locales/en.yml
  decidim-meetings/app/commands/decidim/meetings/admin/invite_user_to_join_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/decline_invitation.rb
  decidim-meetings/app/commands/decidim/meetings/join_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/invites_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/registrations_controller.rb
  decidim-meetings/app/models/decidim/meetings/invite.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/permissions/decidim/meetings/admin/permissions.rb
  decidim-meetings/app/permissions/decidim/meetings/permissions.rb
  decidim-meetings/app/presenters/decidim/meetings/admin_log/invite_presenter.rb
  decidim-meetings/app/presenters/decidim/meetings/invite_presenter.rb
  decidim-meetings/app/queries/decidim/meetings/admin/invites.rb
  decidim-meetings/app/serializers/decidim/meetings/data_portability_invite_serializer.rb
  decidim-meetings/app/views/decidim/meetings/admin/invite_join_meeting_mailer/invite.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/invites/index.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/registrations/_form.html.erb
  decidim-meetings/app/views/devise/mailer/join_meeting.html.erb
  decidim-meetings/app/views/devise/mailer/join_meeting.text.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20180607142020_create_decidim_meetings_invites.rb
  decidim-meetings/lib/decidim/meetings/admin_engine.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/commands/admin/invite_user_to_join_meeting_spec.rb
  decidim-meetings/spec/commands/decline_invitation_spec.rb
  decidim-meetings/spec/commands/join_meeting_spec.rb
  decidim-meetings/spec/models/decidim/meetings/invite_spec.rb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim-meetings/spec/permissions/decidim/meetings/admin/permissions_spec.rb
  decidim-meetings/spec/permissions/decidim/meetings/permissions_spec.rb
  decidim-meetings/spec/presenters/decidim/meetings/invite_presenter_spec.rb
  decidim-meetings/spec/queries/decidim/meetings/admin/invites_spec.rb
  decidim-meetings/spec/serializers/decidim/meetings/data_portability_invite_serializer_spec.rb
  decidim-meetings/spec/shared/manage_invites_examples.rb
  decidim-meetings/spec/shared/manage_registrations_examples.rb
  decidim-meetings/spec/system/admin_manages_meetings_spec.rb
Labels: in-review, status: WIP

#3806 Revert flexibilize internal dependencies
  Gemfile.lock
  decidim-accountability/decidim-accountability.gemspec
  decidim-admin/decidim-admin.gemspec
  decidim-api/decidim-api.gemspec
  decidim-assemblies/decidim-assemblies.gemspec
  decidim-blogs/decidim-blogs.gemspec
  decidim-budgets/decidim-budgets.gemspec
  decidim-comments/decidim-comments.gemspec
  decidim-consultations/decidim-consultations.gemspec
  decidim-core/decidim-core.gemspec
  decidim-debates/decidim-debates.gemspec
  decidim-dev/decidim-dev.gemspec
  decidim-generators/Gemfile.lock
  decidim-generators/decidim-generators.gemspec
  decidim-generators/lib/decidim/generators/component_templates/decidim-component.gemspec.erb
  decidim-initiatives/decidim-initiatives.gemspec
  decidim-meetings/decidim-meetings.gemspec
  decidim-pages/decidim-pages.gemspec
  decidim-participatory_processes/decidim-participatory_processes.gemspec
  decidim-proposals/decidim-proposals.gemspec
  decidim-sortitions/decidim-sortitions.gemspec
  decidim-surveys/decidim-surveys.gemspec
  decidim-system/decidim-system.gemspec
  decidim-verifications/decidim-verifications.gemspec
  decidim.gemspec
  decidim_app-design/Gemfile.lock
Labels: in-review, lot: core

#3805 Generate a code for meetings registrations
  CHANGELOG.md
  decidim-meetings/app/commands/decidim/meetings/join_meeting.rb
  decidim-meetings/app/mailers/decidim/meetings/registration_mailer.rb
  decidim-meetings/app/models/decidim/meetings/registration.rb
  decidim-meetings/app/serializers/decidim/meetings/data_portability_registration_serializer.rb
  decidim-meetings/app/serializers/decidim/meetings/registration_serializer.rb
  decidim-meetings/app/views/decidim/meetings/registration_mailer/confirmation.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20180615160839_add_code_to_decidim_meetings_registrations.rb
  decidim-meetings/lib/decidim/meetings.rb
  decidim-meetings/lib/decidim/meetings/registrations.rb
  decidim-meetings/lib/decidim/meetings/registrations/code_generator.rb
  decidim-meetings/spec/commands/join_meeting_spec.rb
  decidim-meetings/spec/lib/meetings/registrations/code_generator_spec.rb
  decidim-meetings/spec/mailers/registration_mailer_spec.rb
  decidim-meetings/spec/models/registration_spec.rb
  decidim-meetings/spec/serializers/data_portability_registration_serializer_spec.rb
  decidim-meetings/spec/serializers/registration_serializer_spec.rb
Labels: component: meetings, in-review

#3809 [DOC] Add changelog notes for manual indexing of Users.
  CHANGELOG.md
Labels: in-review, status: WIP

#3811 [DOC] Add proposal lifecycle diagram to docs.
  CHANGELOG.md
  docs/possible_flows_for_proposal.png
Labels: in-review

#3810 Update `CollapsibleListCell` layout
  CHANGELOG.md
  decidim-core/app/cells/decidim/coauthorships_cell.rb
  decidim-core/app/cells/decidim/collapsible_authors_cell.rb
  decidim-core/app/cells/decidim/collapsible_list/show.erb
  decidim-core/app/cells/decidim/collapsible_list_cell.rb
  decidim-initiatives/app/cells/decidim/initiatives/initiative_m/author.erb
  decidim-proposals/app/cells/decidim/proposals/endorsers_list/show.erb
Labels: in-review, lot: core

#3815 Fix flakies on master
  decidim-meetings/spec/queries/decidim/meetings/admin/invites_spec.rb
Labels: in-review, lot: core

#3780 [BACKPORT] Fix dependencies [v0.13]
  .circleci/config.yml
  .rubocop.yml
  CHANGELOG.md
  Gemfile.lock
  Rakefile
  bin/bundle
  bin/rake
  bin/rspec
  d/rspec
  decidim-accountability/decidim-accountability.gemspec
  decidim-admin/decidim-admin.gemspec
  decidim-api/decidim-api.gemspec
  decidim-assemblies/decidim-assemblies.gemspec
  decidim-blogs/decidim-blogs.gemspec
  decidim-budgets/decidim-budgets.gemspec
  decidim-comments/decidim-comments.gemspec
  decidim-consultations/decidim-consultations.gemspec
  decidim-core/decidim-core.gemspec
  decidim-debates/decidim-debates.gemspec
  decidim-dev/decidim-dev.gemspec
  decidim-dev/lib/tasks/generators.rake
  decidim-generators/Gemfile
  decidim-generators/Gemfile.lock
  decidim-generators/decidim-generators.gemspec
  decidim-generators/exe/decidim
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/component_templates/decidim-component.gemspec.erb
  decidim-generators/lib/decidim/generators/install_generator.rb
  decidim-generators/spec/generators_spec.rb
  decidim-initiatives/decidim-initiatives.gemspec
  decidim-meetings/decidim-meetings.gemspec
  decidim-pages/decidim-pages.gemspec
  decidim-participatory_processes/decidim-participatory_processes.gemspec
  decidim-proposals/decidim-proposals.gemspec
  decidim-sortitions/decidim-sortitions.gemspec
  decidim-surveys/decidim-surveys.gemspec
  decidim-system/decidim-system.gemspec
  decidim-verifications/decidim-verifications.gemspec
  decidim.gemspec
  decidim_app-design/Gemfile.lock
Labels: backport, in-review, lot: core

#3799 Don't crash when a page doesn't exist
  CHANGELOG.md
  decidim-core/app/controllers/decidim/newsletters_controller.rb
  decidim-core/app/controllers/decidim/pages_controller.rb
  decidim-core/spec/controllers/newsletters_controller_spec.rb
  decidim-core/spec/controllers/pages_controller_spec.rb
Labels: in-review, lot: core

#3817 Update rubocop
  .rubocop.yml
  Gemfile.lock
  decidim-admin/spec/queries/user_group_evaluation_spec.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-assemblies/spec/queries/admin/assembly_members_spec.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/test/shared_examples/coauthorable.rb
  decidim-core/lib/decidim/core/test/shared_examples/scope_helper_examples.rb
  decidim-core/spec/commands/decidim/search_spec.rb
  decidim-core/spec/controllers/newsletters_controller_spec.rb
  decidim-core/spec/models/decidim/static_page_spec.rb
  decidim-core/spec/tasks/decidim_tasks_right_to_be_forgotten_spec.rb
  decidim-dev/decidim-dev.gemspec
  decidim-generators/Gemfile.lock
  decidim-initiatives/app/permissions/decidim/initiatives/admin/permissions.rb
  decidim-pages/spec/system/admin_spec.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/spec/commands/decidim/proposals/admin_update_proposal_category_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/endorse_proposal_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/withdraw_proposal_spec.rb
  decidim-proposals/spec/controllers/decidim/proposal_endorsements_controller_as_user_spec.rb
  decidim-proposals/spec/models/decidim/proposals/proposal_endorsement_spec.rb
  decidim-proposals/spec/models/decidim/proposals/proposal_spec.rb
  decidim-proposals/spec/shared/create_proposal_examples.rb
  decidim-proposals/spec/shared/manage_proposals_permissions_examples.rb
  decidim-proposals/spec/shared/proposal_wizard_steps_help_texts_examples.rb
  decidim-surveys/db/migrate/20180405015147_create_decidim_survey_answer_choices.rb
  decidim-surveys/spec/system/private_space_survey_spec.rb
  decidim_app-design/Gemfile.lock
Labels: in-review, lot: core

#3819 Restore RUBYLIB after loading the right version
  decidim-generators/exe/decidim
  decidim-generators/spec/generators_spec.rb
Labels: in-review

#3826 Move invite form to invites index
  CHANGELOG.md
  decidim-meetings/app/controllers/decidim/meetings/admin/invites_controller.rb
  decidim-meetings/app/views/decidim/meetings/admin/invites/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/invites/index.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/invites/new.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/admin_engine.rb
  decidim-meetings/spec/shared/manage_invites_examples.rb
Labels: component: meetings, in-review

#3804 Action authorizations at resource levels
  CHANGELOG.md
  Gemfile.lock
  decidim-admin/app/assets/stylesheets/decidim/admin/extra/_action-icon.scss
  decidim-admin/app/commands/decidim/admin/update_component_permissions.rb
  decidim-admin/app/controllers/decidim/admin/component_permissions_controller.rb
  decidim-admin/app/controllers/decidim/admin/components/base_controller.rb
  decidim-admin/app/helpers/decidim/admin/resource_permissions_helper.rb
  decidim-admin/app/views/decidim/admin/component_permissions/edit.html.erb
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-admin/lib/decidim/admin/test/manage_component_permissions_examples.rb
  decidim-admin/spec/commands/decidim/admin/update_component_permissions_spec.rb
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-budgets/app/permissions/decidim/budgets/permissions.rb
  decidim-budgets/app/views/decidim/budgets/admin/projects/index.html.erb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/lib/decidim/budgets/component.rb
  decidim-core/app/cells/decidim/card_m_cell.rb
  decidim-core/app/cells/decidim/follow_button_cell.rb
  decidim-core/app/cells/decidim/tos_page_cell.rb
  decidim-core/app/controllers/concerns/decidim/action_authorization.rb
  decidim-core/app/controllers/decidim/authorization_modals_controller.rb
  decidim-core/app/helpers/decidim/action_authorization_helper.rb
  decidim-core/app/helpers/decidim/resource_helper.rb
  decidim-core/app/models/decidim/resource_permission.rb
  decidim-core/app/permissions/decidim/default_permissions.rb
  decidim-core/app/services/decidim/action_authorizer.rb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/db/migrate/20180705091019_create_decidim_resource_permissions.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/resource_manifest.rb
  decidim-core/lib/decidim/resourceable.rb
  decidim-core/lib/decidim/view_model.rb
  decidim-core/spec/helpers/decidim/action_authorization_helper_spec.rb
  decidim-core/spec/services/decidim/action_authorizer_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/component.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/app_templates/dummy_authorization_handler.rb
  decidim-generators/lib/decidim/generators/app_templates/verifications_initializer.rb
  decidim-meetings/app/cells/decidim/meetings/join_meeting_button/show.erb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/permissions/decidim/meetings/permissions.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/permissions/decidim/proposals/permissions.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_proposal-tr.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_endorsement_button.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_endorsements_card_row.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_vote_button.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-verifications/lib/decidim/verifications/adapter.rb
  decidim-verifications/lib/decidim/verifications/default_action_authorizer.rb
  decidim_app-design/Gemfile.lock
  docs/advanced/add_authenticable_action.md
  docs/advanced/add_authorizable_action.md
Labels: in-review

#3846 Fixed error when organization doesn't have ToS
  decidim-core/app/models/decidim/user.rb
  decidim-core/spec/models/decidim/user_spec.rb
Labels: in-review

#3830 Fix newsletterable when eager loading
  decidim-core/lib/devise/models/decidim_newsletterable.rb
Labels: in-review, type: bug

#3858 Changes slogan for README and app generated README
  README.md
  decidim-generators/lib/decidim/generators/app_templates/README.md.erb
Labels: status: WIP

#3825 [REFACTOR|TEST] Refactor searchable test to avoid flake tests.
  CHANGELOG.md
  decidim-proposals/spec/services/decidim/proposals/searchable_proposal_rsrc_spec.rb
Labels: in-review

#3859 Adds Affero GPL v3 default license to component and app generators
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/app_templates/LICENSE-AGPLv3.txt
  decidim-generators/lib/decidim/generators/component_generator.rb
Labels: in-review

#3818 User badges
  decidim-core/app/assets/stylesheets/decidim/modules/_badges.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_modules.scss
  decidim_app-design/app/assets/images/badges/accepted.svg
  decidim_app-design/app/assets/images/badges/continuity.svg
  decidim_app-design/app/assets/images/badges/debates.svg
  decidim_app-design/app/assets/images/badges/diffusion.svg
  decidim_app-design/app/assets/images/badges/followers.svg
  decidim_app-design/app/assets/images/badges/initiatives.svg
  decidim_app-design/app/assets/images/badges/invitations.svg
  decidim_app-design/app/assets/images/badges/meetings.svg
  decidim_app-design/app/assets/images/badges/proposals.svg
  decidim_app-design/app/assets/images/badges/supports.svg
  decidim_app-design/app/assets/images/badges/tutorial.svg
  decidim_app-design/app/views/public/components/_collapsible-list.html.erb
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/user/_badge-level.html.erb
  decidim_app-design/app/views/public/user/_badge.html.erb
  decidim_app-design/app/views/public/user/_badges.html.erb
  decidim_app-design/app/views/public/user/_user-card.html.erb
  decidim_app-design/app/views/public/user/user-badges-info.html.erb
  decidim_app-design/app/views/public/user/user-profile-public.html.erb
  decidim_app-design/app/views/public/user/user-profile.html.erb
Labels: status: Ready-to-dev

#3867 Order survey answers by id
  CHANGELOG.md
  decidim-surveys/app/models/decidim/surveys/survey_answer_option.rb
Labels: in-review

#3872 Participatory spaces in proposal cards
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
  decidim_app-design/app/views/public/amendments/proposal-view-with-amendment-rejected.html.erb
  decidim_app-design/app/views/public/amendments/proposal-view-with-amendments.html.erb
  decidim_app-design/app/views/public/cards/m/_consultation.html.erb
  decidim_app-design/app/views/public/cards/m/_process.html.erb
  decidim_app-design/app/views/public/cards/m/_proposal.html.erb
  decidim_app-design/app/views/public/cards/m/_stack.html.erb
  decidim_app-design/app/views/public/consultations-entities.html.erb
  decidim_app-design/app/views/public/library/_library-progressbars.html.erb
  decidim_app-design/app/views/public/partials/_proposals_highlights.html.erb
  decidim_app-design/app/views/public/processes.html.erb
  decidim_app-design/app/views/public/proposals/proposals-collaboratives.html.erb
  decidim_app-design/app/views/public/proposals/proposals-no-vote.html.erb
  decidim_app-design/app/views/public/proposals/proposals-with-filters.html.erb
  decidim_app-design/app/views/public/proposals/proposals-wizard-step-3.html.erb
  decidim_app-design/app/views/public/proposals/proposals.html.erb
  decidim_app-design/app/views/public/proposals/proposals_2.html.erb
Labels: status: Ready-to-dev

#3871 Fix #3870 participatory space private users
  CHANGELOG.md
  decidim-admin/app/controllers/decidim/admin/concerns/has_private_users.rb
  decidim-admin/app/views/decidim/admin/participatory_space_private_users/index.html.erb
Labels: status: WIP

#3879 Update development_guide.md to add MarkDown linter info
  docs/development_guide.md
Labels: target: developer-experience, team: documentation

#3887 Fix profile follow counter to consider only users
  CHANGELOG.md
  decidim-core/app/cells/decidim/following_cell.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/presenters/decidim/user_presenter.rb
  decidim-core/spec/system/profile_spec.rb
Labels: in-review

#3889 No comment notification for comment author
  CHANGELOG.md
  decidim-comments/app/services/decidim/comments/new_comment_notification_creator.rb
  decidim-comments/spec/services/decidim/comments/new_comment_notification_creator_spec.rb
Labels: in-review, status: WIP

#3894 I18n cleanup
  decidim-admin/config/locales/en.yml
  decidim-assemblies/config/locales/en.yml
  decidim-participatory_processes/config/locales/en.yml
Labels: in-review, lot: core, team: i18n

#3875 [FIX] Endorse button broken if endorse action is authorized
  CHANGELOG.md
  decidim-proposals/app/helpers/decidim/proposals/proposal_endorsements_helper.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_endorsements_card_row.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/endorse_proposal_spec.rb
Labels: in-review

#3882 Set `organization.tos_version` when creating `terms-and-conditions` DefaultPage
  CHANGELOG.md
  decidim-core/app/models/decidim/static_page.rb
Labels: status: WIP

#3895 Only log permissions data in development mode
  decidim-core/app/controllers/concerns/decidim/needs_permission.rb
Labels: in-review, lot: core

#3833 Allow admins to validate meeting registration codes
  CHANGELOG.md
  decidim-meetings/app/commands/decidim/meetings/admin/validate_registration_code.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/registrations_controller.rb
  decidim-meetings/app/events/decidim/meetings/registration_code_validated_event.rb
  decidim-meetings/app/forms/decidim/meetings/admin/validate_registration_code_form.rb
  decidim-meetings/app/views/decidim/meetings/admin/registrations/edit.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20180711111023_add_validated_at_to_decidim_meetings_registrations.rb
  decidim-meetings/lib/decidim/meetings/admin_engine.rb
  decidim-meetings/spec/commands/admin/validate_registration_code_spec.rb
  decidim-meetings/spec/events/decidim/meetings/registration_code_validated_event_spec.rb
  decidim-meetings/spec/forms/admin/validate_registration_code_form_spec.rb
  decidim-meetings/spec/shared/manage_registrations_examples.rb
Labels: component: meetings, in-review

#3744 Proposal Wizard creation/update fixes
  CHANGELOG.md
  decidim-core/app/assets/stylesheets/decidim/extras/_proposal_form.scss
  decidim-core/lib/decidim/coauthorable.rb
  decidim-proposals/app/commands/decidim/proposals/create_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/update_proposal.rb
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/forms/decidim/proposals/proposal_form.rb
  decidim-proposals/app/forms/decidim/proposals/proposal_wizard_create_step_form.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/app/helpers/decidim/proposals/proposal_wizard_helper.rb
  decidim-proposals/app/queries/decidim/proposals/similar_proposals.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_edit_form_fields.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/compare.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/complete.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/edit.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/edit_draft.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/new.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/commands/decidim/proposals/admin_create_proposal_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/create_proposal_spec.rb
  decidim-proposals/spec/forms/decidim/proposals/proposal_wizard_create_step_form_spec.rb
  decidim-proposals/spec/shared/create_proposal_examples.rb
  decidim-proposals/spec/system/proposal_wizard_spec.rb
  decidim-proposals/spec/system/proposals_fields_spec.rb
Labels: in-review

#3876 Remove fsevents dependency
  package-lock.json
  package.json
Labels: in-review

#3897 Feature/2589 participatory spaces in proposal cards
  CHANGELOG.md
  decidim-core/app/cells/decidim/card_m/show.erb
  decidim-core/app/cells/decidim/card_m/top.erb
  decidim-core/app/cells/decidim/card_m_cell.rb
  decidim-core/app/helpers/decidim/searches_helper.rb
  decidim-core/app/views/decidim/searches/_results.html.erb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/has_space_in_mcell_examples.rb
  decidim-meetings/spec/cells/decidim/meetings/meeting_m_cell_spec.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_m_cell_spec.rb
Labels: in-review

#3913 Fix Follow button margins
  decidim-core/app/assets/stylesheets/decidim/modules/_margins.scss
  decidim-core/app/cells/decidim/follow_button_cell.rb
Labels: in-review, lot: core

#3840 Remove unused indexes from consultations questions
  CHANGELOG.md
  decidim-consultations/db/migrate/20180712111146_remove_unused_search_indexs.rb
Labels: in-review, lot: core

#3930 Fix initiative edition when state is not published.
  CHANGELOG.md
  decidim-initiatives/app/commands/decidim/initiatives/admin/update_initiative.rb
  decidim-initiatives/spec/system/admin/update_initiative_spec.rb
Labels: in-review

#3936 Move monkeypatch to a gem
  Gemfile.lock
  decidim-dev/decidim-dev.gemspec
  decidim-dev/lib/decidim/dev/test/ext/screenshot_helper.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara.rb
  decidim-dev/lib/decidim/dev/test/screenshot_helper_ext.rb
  decidim-dev/lib/decidim/dev/test/spec_helper.rb
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: in-review

#3932 Fix/use dates in Ruby as in DB
  CHANGELOG.md
  decidim-initiatives/app/commands/decidim/initiatives/admin/update_initiative.rb
  decidim-initiatives/app/forms/decidim/initiatives/admin/initiative_form.rb
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-initiatives/app/permissions/decidim/initiatives/admin/permissions.rb
  decidim-initiatives/app/presenters/decidim/initiatives/admin_log/initiative_presenter.rb
  decidim-initiatives/app/queries/decidim/initiatives/support_period_finished_initiatives.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/_form.html.erb
  decidim-initiatives/app/views/layouts/decidim/_initiative_header_steps.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/db/migrate/20180726071704_rename_signature_time_fields_to_signature_date.rb
  decidim-initiatives/lib/decidim/initiatives/participatory_space.rb
  decidim-initiatives/lib/decidim/initiatives/test/factories.rb
  decidim-initiatives/spec/commands/decidim/initiatives/admin/update_initiative_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/initiatives_controller_spec.rb
  decidim-initiatives/spec/models/decidim/initiative_spec.rb
  decidim-initiatives/spec/permissions/decidim/initiatives/admin/permissions_spec.rb
  decidim-initiatives/spec/shared/update_initiative_example.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_step_form.rb
  decidim-participatory_processes/app/models/decidim/participatory_process.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/filtered_participatory_process_groups.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/participatory_space.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/test/factories.rb
  decidim-participatory_processes/spec/commands/create_participatory_process_step_spec.rb
  decidim-participatory_processes/spec/commands/update_participatory_process_step_spec.rb
  decidim-participatory_processes/spec/controllers/participatory_processes_controller_spec.rb
  decidim-participatory_processes/spec/forms/participatory_process_step_form_spec.rb
Labels: in-review

#3933 [DOC] Update image with proposals lifecycle.
  CHANGELOG.md
  docs/possible_flows_for_proposal.png
Labels: in-review, status: WIP

#3934 Fix admin home blocks odds
  decidim-admin/app/assets/javascripts/decidim/admin/draggable-list.js.es6
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_draggable-list.scss
Labels: status: Ready-to-dev

#3935 Remove unused authorization_object method
  decidim-admin/app/controllers/decidim/admin/concerns/has_attachment_collections.rb
  decidim-admin/app/controllers/decidim/admin/concerns/has_private_users.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_attachment_collections_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_attachments_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/participatory_space_private_users_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/attachment_collections_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/attachments_controller.rb
  decidim-consultations/app/controllers/decidim/consultations/admin/question_attachments_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/initiative_attachments_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/attachment_collections_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/attachments_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_space_private_users_controller.rb
Labels: in-review

#3839 Add ContentBlocks
  CHANGELOG.md
  config/i18n-tasks.yml
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/highlighted_assemblies/show.erb
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/highlighted_assemblies_cell.rb
  decidim-assemblies/app/views/decidim/assemblies/pages/home/_highlighted_assemblies.html.erb
  decidim-assemblies/lib/decidim/assemblies/engine.rb
  decidim-assemblies/lib/decidim/assemblies/participatory_space.rb
  decidim-assemblies/spec/system/homepage_content_blocks_spec.rb
  decidim-core/app/assets/stylesheets/decidim/layouts/_home.scss
  decidim-core/app/cells/decidim/content_blocks/footer_sub_hero/show.erb
  decidim-core/app/cells/decidim/content_blocks/footer_sub_hero_cell.rb
  decidim-core/app/cells/decidim/content_blocks/hero/show.erb
  decidim-core/app/cells/decidim/content_blocks/hero_cell.rb
  decidim-core/app/cells/decidim/content_blocks/highlighted_content_banner/show.erb
  decidim-core/app/cells/decidim/content_blocks/highlighted_content_banner_cell.rb
  decidim-core/app/cells/decidim/content_blocks/how_to_participate/show.erb
  decidim-core/app/cells/decidim/content_blocks/how_to_participate_cell.rb
  decidim-core/app/cells/decidim/content_blocks/stats/show.erb
  decidim-core/app/cells/decidim/content_blocks/stats_cell.rb
  decidim-core/app/cells/decidim/content_blocks/sub_hero/show.erb
  decidim-core/app/cells/decidim/content_blocks/sub_hero_cell.rb
  decidim-core/app/controllers/decidim/pages_controller.rb
  decidim-core/app/models/decidim/content_block.rb
  decidim-core/app/views/decidim/pages/home.html.erb
  decidim-core/app/views/decidim/pages/home/_footer_sub_hero.html.erb
  decidim-core/app/views/decidim/pages/home/_highlighted_content_banner.html.erb
  decidim-core/app/views/decidim/pages/home/_highlighted_processes.html.erb
  decidim-core/db/migrate/20180724103814_add_content_blocks.rb
  decidim-core/db/migrate/20180730071851_add_core_content_blocks.rb
  decidim-core/db/seeds.rb
  decidim-core/lib/decidim/content_block_manifest.rb
  decidim-core/lib/decidim/content_block_registry.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/lib/content_block_manifest_spec.rb
  decidim-core/spec/lib/content_block_registry_spec.rb
  decidim-core/spec/system/homepage_spec.rb
  decidim-initiatives/app/cells/decidim/initiatives/content_blocks/highlighted_initiatives/show.erb
  decidim-initiatives/app/cells/decidim/initiatives/content_blocks/highlighted_initiatives_cell.rb
  decidim-initiatives/app/views/decidim/initiatives/pages/home/_highlighted_initiatives.html.erb
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-initiatives/lib/decidim/initiatives/participatory_space.rb
  decidim-initiatives/spec/system/homepage_content_blocks_spec.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/highlighted_processes/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/highlighted_processes_cell.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/pages/home/_highlighted_processes.html.erb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/participatory_space.rb
  decidim-participatory_processes/spec/system/homepage_content_blocks_spec.rb
  decidim-system/app/commands/decidim/system/create_default_content_blocks.rb
  decidim-system/app/commands/decidim/system/register_organization.rb
  decidim-system/spec/commands/decidim/system/create_default_content_blocks_spec.rb
  decidim-system/spec/commands/decidim/system/register_organization_spec.rb
Labels: in-review, lot: core

#3939 Fix dragging list glitch on reordering
  decidim-admin/app/assets/javascripts/decidim/admin/draggable-list.js.es6
Labels: in-review

#3940 Participatory texts (Public)
  decidim-core/app/assets/stylesheets/decidim/modules/_hover-section.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_modules.scss
  decidim-core/app/assets/stylesheets/decidim/utils/_helpers.scss
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/participatory/_additional-buttons.html.erb
  decidim_app-design/app/views/public/participatory/_view-index.html.erb
  decidim_app-design/app/views/public/participatory/participatory-texts-draft.html.erb
  decidim_app-design/app/views/public/participatory/participatory-texts-index.html.erb
  decidim_app-design/app/views/public/participatory/participatory-texts-view.html.erb
Labels: in-review

#3943 Last activity/events/posts
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_icons.scss
  decidim_app-design/app/views/public/home.html.erb
  decidim_app-design/app/views/public/partials/_last_activity.html.erb
  decidim_app-design/app/views/public/partials/_last_events.html.erb
  decidim_app-design/app/views/public/partials/_last_posts.html.erb
Labels: status: Ready-to-dev
