Repository decidim/decidim, pull requests merged in 2018-04, with the labels that each got.

#2938 Allow an assembly to have children
  CHANGELOG.md
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assembly.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assemblies_controller.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_form.rb
  decidim-assemblies/app/models/decidim/assembly.rb
  decidim-assemblies/app/presenters/decidim/assemblies/admin_log/assembly_presenter.rb
  decidim-assemblies/app/presenters/decidim/log/value_types/assembly_presenter.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/_form.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/index.html.erb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/_nav_breadcumb.html.erb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/show.html.erb
  decidim-assemblies/app/views/layouts/decidim/admin/assemblies.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/db/migrate/20180226103942_add_parent_child_relation_to_assemblies.rb
  decidim-assemblies/lib/decidim/assemblies/participatory_space.rb
  decidim-assemblies/lib/decidim/assemblies/test/factories.rb
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-assemblies/spec/commands/update_assembly_spec.rb
  decidim-assemblies/spec/models/decidim/assembly_spec.rb
  decidim-assemblies/spec/presenters/decidim/log/value_types/assembly_presenter_spec.rb
  decidim-assemblies/spec/shared/manage_assemblies_examples.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_spec.rb
  decidim-assemblies/spec/system/admin/assembly_admin_manages_assemblies_spec.rb
  decidim-assemblies/spec/system/assemblies_spec.rb
Labels: in-review, lot: mods, mods A, space: assemblies, status: WIP

#3117 Import locales
  decidim-admin/config/locales/fr.yml
  decidim-comments/app/assets/javascripts/decidim/comments/bundle.js
  decidim-comments/config/locales/sv.yml
  decidim-core/config/locales/fr.yml
  decidim-core/config/locales/sv.yml
  decidim-proposals/config/locales/fr.yml
  decidim-sortitions/config/locales/fr.yml
  decidim-surveys/config/locales/fr.yml
Labels: in-review

#3105 Fine grained permissions: meetings
  CHANGELOG.md
  decidim-meetings/app/controllers/decidim/meetings/admin/application_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/invites_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/meeting_closes_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/meeting_copies_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/meetings_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/registrations_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/application_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/registrations_controller.rb
  decidim-meetings/app/models/decidim/meetings/abilities/current_user_ability.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/permissions/decidim/meetings/admin/permissions.rb
  decidim-meetings/app/permissions/decidim/meetings/permissions.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/registrations/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim-meetings/spec/permissions/decidim/meetings/admin/permissions_spec.rb
  decidim-meetings/spec/permissions/decidim/meetings/permissions_spec.rb
  decidim-meetings/spec/system/process_admin_manages_meetings_attachments_spec.rb
  decidim-meetings/spec/system/process_admin_manages_meetings_spec.rb
Labels: in-review, lot: core, status: WIP

#3108 Fine grained permissions: surveys
  CHANGELOG.md
  decidim-surveys/app/controllers/decidim/surveys/admin/application_controller.rb
  decidim-surveys/app/controllers/decidim/surveys/admin/surveys_controller.rb
  decidim-surveys/app/controllers/decidim/surveys/application_controller.rb
  decidim-surveys/app/controllers/decidim/surveys/surveys_controller.rb
  decidim-surveys/app/models/decidim/surveys/abilities/admin_ability.rb
  decidim-surveys/app/models/decidim/surveys/abilities/current_user_ability.rb
  decidim-surveys/app/models/decidim/surveys/abilities/participatory_process_admin_ability.rb
  decidim-surveys/app/permissions/decidim/surveys/admin/permissions.rb
  decidim-surveys/app/permissions/decidim/surveys/permissions.rb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_form.html.erb
  decidim-surveys/lib/decidim/surveys/admin_engine.rb
  decidim-surveys/lib/decidim/surveys/component.rb
  decidim-surveys/lib/decidim/surveys/engine.rb
  decidim-surveys/spec/models/decidim/surveys/abilities/admin_ability_spec.rb
  decidim-surveys/spec/models/decidim/surveys/abilities/current_user_ability_spec.rb
  decidim-surveys/spec/models/decidim/surveys/abilities/participatory_process_admin_ability_spec.rb
  decidim-surveys/spec/permissions/decidim/surveys/admin/permissions_spec.rb
  decidim-surveys/spec/permissions/decidim/surveys/permissions_spec.rb
  decidim-surveys/spec/system/process_admin_manages_surveys_spec.rb
Labels: in-review, lot: core, status: WIP

#3116 Fine grained permissions: comments
  CHANGELOG.md
  decidim-comments/app/models/decidim/comments/abilities/admin_ability.rb
  decidim-comments/app/models/decidim/comments/abilities/current_user_ability.rb
  decidim-comments/app/models/decidim/comments/abilities/participatory_process_admin_ability.rb
  decidim-comments/app/models/decidim/comments/abilities/participatory_process_moderator_ability.rb
  decidim-comments/lib/decidim/comments/admin_engine.rb
  decidim-comments/lib/decidim/comments/engine.rb
  decidim-comments/spec/models/abilities/admin_ability_spec.rb
  decidim-comments/spec/models/abilities/participatory_process_admin_ability_spec.rb
  decidim-comments/spec/system/process_admin_manages_comments_spec.rb
Labels: in-review, lot: core, status: WIP

#3114 Fine grained permissions: debates
  CHANGELOG.md
  decidim-debates/app/controllers/decidim/debates/admin/application_controller.rb
  decidim-debates/app/controllers/decidim/debates/admin/debates_controller.rb
  decidim-debates/app/controllers/decidim/debates/application_controller.rb
  decidim-debates/app/controllers/decidim/debates/debates_controller.rb
  decidim-debates/app/models/decidim/debates/abilities/admin/admin_ability.rb
  decidim-debates/app/models/decidim/debates/abilities/admin/participatory_process_admin_ability.rb
  decidim-debates/app/models/decidim/debates/abilities/admin/participatory_process_moderator_ability.rb
  decidim-debates/app/models/decidim/debates/abilities/current_user_ability.rb
  decidim-debates/app/permissions/decidim/debates/admin/permissions.rb
  decidim-debates/app/permissions/decidim/debates/permissions.rb
  decidim-debates/app/views/decidim/debates/admin/debates/index.html.erb
  decidim-debates/lib/decidim/debates/admin_engine.rb
  decidim-debates/lib/decidim/debates/engine.rb
  decidim-debates/spec/models/decidim/debates/abilities/admin/admin_ability_spec.rb
  decidim-debates/spec/models/decidim/debates/abilities/admin/participatory_process_admin_ability_spec.rb
  decidim-debates/spec/models/decidim/debates/abilities/admin/participatory_process_moderator_ability_spec.rb
  decidim-debates/spec/models/decidim/debates/abilities/current_user_ability_spec.rb
  decidim-debates/spec/permissions/decidim/debates/admin/permissions_spec.rb
  decidim-debates/spec/permissions/decidim/debates/permissions_spec.rb
  decidim-debates/spec/system/process_admin_manages_debates_spec.rb
Labels: in-review, lot: core, status: WIP

#3113 Fine grained permissions: pages
  CHANGELOG.md
  decidim-pages/app/controllers/decidim/pages/admin/application_controller.rb
  decidim-pages/app/controllers/decidim/pages/admin/pages_controller.rb
  decidim-pages/app/permissions/decidim/pages/permissions.rb
  decidim-pages/lib/decidim/pages/component.rb
  decidim-pages/spec/permissions/decidim/pages/permissions_spec.rb
Labels: in-review, lot: core, status: WIP

#3119 Fine grained permissions: budgets
  CHANGELOG.md
  decidim-budgets/app/controllers/decidim/budgets/admin/application_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/projects_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/application_controller.rb
  decidim-budgets/app/permissions/decidim/budgets/admin/permissions.rb
  decidim-budgets/app/permissions/decidim/budgets/permissions.rb
  decidim-budgets/app/views/decidim/budgets/admin/projects/index.html.erb
  decidim-budgets/lib/decidim/budgets/component.rb
  decidim-budgets/spec/permissions/decidim/budgets/admin/permissions_spec.rb
  decidim-budgets/spec/permissions/decidim/budgets/permissions_spec.rb
  decidim-budgets/spec/system/process_admin_manages_project_attachments_spec.rb
  decidim-budgets/spec/system/process_admin_manages_projects_spec.rb
Labels: in-review, lot: core, status: WIP

#3122 Fine grained permissions: accountability
  CHANGELOG.md
  decidim-accountability/app/controllers/decidim/accountability/admin/application_controller.rb
  decidim-accountability/app/controllers/decidim/accountability/admin/results_controller.rb
  decidim-accountability/app/controllers/decidim/accountability/admin/statuses_controller.rb
  decidim-accountability/app/controllers/decidim/accountability/admin/timeline_entries_controller.rb
  decidim-accountability/app/controllers/decidim/accountability/application_controller.rb
  decidim-accountability/app/permissions/decidim/accountability/admin/permissions.rb
  decidim-accountability/app/permissions/decidim/accountability/permissions.rb
  decidim-accountability/app/views/decidim/accountability/admin/results/index.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/statuses/index.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/timeline_entries/index.html.erb
  decidim-accountability/spec/permissions/decidim/accountability/admin/permissions_spec.rb
  decidim-accountability/spec/permissions/decidim/accountability/permissions_spec.rb
  decidim-accountability/spec/system/process_admin_manages_accountability_spec.rb
Labels: in-review, lot: core, status: WIP

#3091 Max choices for multiple choice questions
  CHANGELOG.md
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/auto_select_options_by_total_items.component.js.es6
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/dynamic_fields.component.js.es6
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/field_dependent_inputs.component.js.es6
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/surveys.js.es6
  decidim-surveys/app/commands/decidim/surveys/admin/update_survey.rb
  decidim-surveys/app/forms/decidim/surveys/admin/survey_question_form.rb
  decidim-surveys/app/forms/decidim/surveys/survey_answer_form.rb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_answer_option.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_form.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_question.html.erb
  decidim-surveys/app/views/decidim/surveys/surveys/show.html.erb
  decidim-surveys/config/locales/en.yml
  decidim-surveys/db/migrate/20180314225829_add_max_choices_to_survey_questions.rb
  decidim-surveys/spec/commands/decidim/surveys/admin/update_survey_spec.rb
  decidim-surveys/spec/forms/decidim/surveys/admin/survey_question_form_spec.rb
  decidim-surveys/spec/forms/decidim/surveys/survey_answer_form_spec.rb
  decidim-surveys/spec/shared/edit_survey_examples.rb
  decidim-surveys/spec/system/survey_spec.rb
Labels: in-review

#3129 Add missing i18n keys on user profile settings
  decidim-core/config/locales/en.yml
Labels: in-review, lot: core, status: WIP, team: i18n

#3135 Make sure capybara does not swallow syntax errors
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara.rb
Labels: status: WIP

#3123 Add new fields to meetings registration
  CHANGELOG.md
  decidim-meetings/app/assets/javascripts/decidim/meetings/admin/registrations_form.js.es6
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_registrations.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_registrations_form.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/views/decidim/meetings/admin/registrations/_form.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20180326082611_add_fields_for_registrations.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/commands/admin/update_registrations_spec.rb
  decidim-meetings/spec/forms/admin/meeting_registrations_form_spec.rb
Labels: in-review

#3133 More survey improvements
  CHANGELOG.md
  decidim-core/app/assets/javascripts/decidim/editor.js.es6
  decidim-core/lib/decidim/form_builder.rb
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/field_dependent_inputs.component.js.es6
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/surveys.js.es6
  decidim-surveys/app/commands/decidim/surveys/admin/update_survey.rb
  decidim-surveys/app/commands/decidim/surveys/answer_survey.rb
  decidim-surveys/app/forms/decidim/surveys/survey_answer_form.rb
  decidim-surveys/app/forms/decidim/surveys/survey_form.rb
  decidim-surveys/app/models/decidim/surveys/survey_answer.rb
  decidim-surveys/app/models/decidim/surveys/survey_question.rb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_answer_option.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_form.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_question.html.erb
  decidim-surveys/app/views/decidim/surveys/surveys/_answer.html.erb
  decidim-surveys/app/views/decidim/surveys/surveys/show.html.erb
  decidim-surveys/config/locales/en.yml
  decidim-surveys/db/migrate/20180405014929_add_choices_to_decidim_survey_answers.rb
  decidim-surveys/spec/commands/decidim/surveys/answer_survey_spec.rb
  decidim-surveys/spec/forms/decidim/surveys/survey_answer_form_spec.rb
  decidim-surveys/spec/shared/edit_survey_examples.rb
  decidim-surveys/spec/system/survey_spec.rb
Labels: in-review

#3142 Fix flaky tests for commands
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-participatory_processes/spec/commands/create_participatory_process_spec.rb
Labels: in-review, status: WIP

#3143 Fix some spec descriptions
  decidim-admin/spec/commands/decidim/admin/create_component_spec.rb
  decidim-assemblies/spec/commands/update_assembly_admin_spec.rb
  decidim-core/spec/commands/decidim/update_account_spec.rb
  decidim-core/spec/presenters/decidim/user_presenter_spec.rb
Labels: status: WIP

#3151 Bump rubocop-rspec to 1.25.0
  Gemfile.lock
  decidim-core/spec/lib/component_manifest_spec.rb
  decidim-core/spec/lib/faker_localized_spec.rb
  decidim-core/spec/lib/filter_form_builder_spec.rb
  decidim-core/spec/lib/form_builder_spec.rb
  decidim-core/spec/models/decidim/attachment_spec.rb
  decidim-system/spec/commands/decidim/system/create_default_pages_spec.rb
Labels: status: WIP

#3134 Free text field for multiple choice answers
  CHANGELOG.md
  decidim-surveys/app/assets/config/decidim_surveys_manifest.js
  decidim-surveys/app/assets/javascripts/decidim/surveys/option_attached_inputs.component.js.es6
  decidim-surveys/app/assets/javascripts/decidim/surveys/surveys.js.es6
  decidim-surveys/app/commands/decidim/surveys/admin/update_survey.rb
  decidim-surveys/app/commands/decidim/surveys/answer_survey.rb
  decidim-surveys/app/forms/decidim/surveys/admin/survey_form.rb
  decidim-surveys/app/forms/decidim/surveys/admin/survey_question_answer_option_form.rb
  decidim-surveys/app/forms/decidim/surveys/admin/survey_question_form.rb
  decidim-surveys/app/forms/decidim/surveys/survey_answer_choice_form.rb
  decidim-surveys/app/forms/decidim/surveys/survey_answer_form.rb
  decidim-surveys/app/forms/decidim/surveys/survey_form.rb
  decidim-surveys/app/models/decidim/surveys/survey_answer.rb
  decidim-surveys/app/models/decidim/surveys/survey_answer_choice.rb
  decidim-surveys/app/models/decidim/surveys/survey_answer_option.rb
  decidim-surveys/app/models/decidim/surveys/survey_question.rb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_answer_option.html.erb
  decidim-surveys/app/views/decidim/surveys/surveys/_answer.html.erb
  decidim-surveys/app/views/decidim/surveys/surveys/show.html.erb
  decidim-surveys/config/locales/en.yml
  decidim-surveys/db/migrate/20180405014929_add_choices_to_decidim_survey_answers.rb
  decidim-surveys/db/migrate/20180405015012_create_decidim_survey_answer_options.rb
  decidim-surveys/db/migrate/20180405015147_create_decidim_survey_answer_choices.rb
  decidim-surveys/db/migrate/20180405015258_add_free_text_to_survey_answer_options.rb
  decidim-surveys/db/migrate/20180405015314_add_custom_body_to_survey_answer_choices.rb
  decidim-surveys/lib/decidim/surveys/engine.rb
  decidim-surveys/lib/decidim/surveys/test/factories.rb
  decidim-surveys/spec/commands/decidim/surveys/admin/update_survey_spec.rb
  decidim-surveys/spec/commands/decidim/surveys/answer_survey_spec.rb
  decidim-surveys/spec/forms/decidim/surveys/admin/survey_question_form_spec.rb
  decidim-surveys/spec/forms/decidim/surveys/survey_answer_form_spec.rb
  decidim-surveys/spec/shared/edit_survey_examples.rb
  decidim-surveys/spec/system/survey_spec.rb
Labels: component: surveys, in-review

#3147 Fix survey defaults bug
  decidim-surveys/app/controllers/decidim/surveys/admin/surveys_controller.rb
  decidim-surveys/app/forms/decidim/surveys/admin/survey_answer_option_form.rb
  decidim-surveys/app/forms/decidim/surveys/admin/survey_question_form.rb
  decidim-surveys/app/forms/decidim/surveys/survey_answer_form.rb
  decidim-surveys/app/forms/decidim/surveys/survey_form.rb
  decidim-surveys/app/views/decidim/surveys/surveys/_answer.html.erb
  decidim-surveys/app/views/decidim/surveys/surveys/show.html.erb
  decidim-surveys/spec/forms/decidim/surveys/admin/survey_answer_option_form_spec.rb
  decidim-surveys/spec/system/survey_spec.rb
Labels: component: surveys, in-review

#3145 Fix invalid validation in survey answers
  decidim-surveys/app/models/decidim/surveys/survey_answer.rb
  decidim-surveys/spec/models/decidim/surveys/survey_answer_spec.rb
Labels: component: surveys, in-review

#3146 Improve survey seeds
  decidim-surveys/lib/decidim/surveys/component.rb
Labels: component: surveys, in-review, status: WIP

#3182 Import locales
  decidim-consultations/config/locales/ru.yml
  decidim-consultations/config/locales/uk.yml
  decidim-debates/config/locales/ru.yml
  decidim-sortitions/config/locales/ru.yml
  decidim-sortitions/config/locales/uk.yml
Labels: status: WIP

#3186 Fix `gem build` warnings
  Gemfile.lock
  decidim-consultations/decidim-consultations.gemspec
  decidim-core/decidim-core.gemspec
  decidim-dev/decidim-dev.gemspec
  decidim-sortitions/decidim-sortitions.gemspec
Labels: status: WIP

#3196 Bump rails and fix version constraint
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim_app-design/Gemfile.lock
Labels: status: WIP

#3195 Fix markup on surveys/surveys/show view
  decidim-surveys/app/views/decidim/surveys/surveys/show.html.erb
Labels: status: WIP

#3194 Move reusable javascript components from surveys to admin component
  CHANGELOG.md
  decidim-admin/app/assets/javascripts/decidim/admin/application.js.es6
  decidim-admin/app/assets/javascripts/decidim/admin/auto_buttons_by_position.component.js.es6
  decidim-admin/app/assets/javascripts/decidim/admin/auto_label_by_position.component.js.es6
  decidim-admin/app/assets/javascripts/decidim/admin/dynamic_fields.component.js.es6
  decidim-admin/app/assets/javascripts/decidim/admin/field_dependent_inputs.component.js.es6
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/surveys.js.es6
Labels: status: WIP

#3175 Fix showing not visible proposals in process home page
  CHANGELOG.md
  decidim-proposals/lib/decidim/proposals.rb
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/system/participatory_process_groups_view_hooks_spec.rb
  decidim-proposals/spec/system/participatory_processes_view_hooks_spec.rb
Labels: in-review

#3183 [FIX] Scope proposal draft by current_user.
  CHANGELOG.md
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/spec/controllers/decidim/proposals_controller_spec.rb
Labels: in-review, status: WIP

#2942 improvements to assemblies -- iteration 1
  CHANGELOG.md
  decidim-assemblies/app/assets/config/decidim_assemblies_manifest.js
  decidim-assemblies/app/assets/javascripts/decidim/assemblies/admin/assemblies.js.es6
  decidim-assemblies/app/assets/javascripts/decidim/assemblies/assemblies.js.es6
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assembly.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_form.rb
  decidim-assemblies/app/helpers/decidim/assemblies/assemblies_helper.rb
  decidim-assemblies/app/models/decidim/assembly.rb
  decidim-assemblies/app/presenters/decidim/assemblies/admin_log/assembly_presenter.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/_form.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/edit.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/new.html.erb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/show.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/db/migrate/20180302121116_add_fields_to_assemblies.rb
  decidim-assemblies/lib/decidim/assemblies/participatory_space.rb
  decidim-assemblies/lib/decidim/assemblies/test/factories.rb
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-assemblies/spec/commands/update_assembly_spec.rb
  decidim-assemblies/spec/forms/assembly_form_spec.rb
  decidim-assemblies/spec/system/private_assemblies_spec.rb
  decidim-core/app/assets/stylesheets/decidim/modules/_definition-data.scss
  decidim-core/app/controllers/concerns/decidim/participatory_space_context.rb
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/lib/decidim/has_private_users.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/lib/decidim/meetings/engine.rb
  package-lock.json
  package.json
Labels: in-review, status: WIP

#3201 Couple of tweaks en readmes
  decidim-core/README.md
  decidim-sortitions/README.md
Labels: status: WIP

#3203 fix rubocop offenses of assembly factories
  decidim-assemblies/lib/decidim/assemblies/test/factories.rb
Labels: status: WIP

#3206 [0.10] Fix comments bundle
  decidim-comments/app/assets/javascripts/decidim/comments/bundle.js
Labels: in-review

#3211 Fix double authorization button
  CHANGELOG.md
  decidim-admin/spec/shared/manage_managed_users_examples.rb
  decidim-verifications/app/views/decidim/verifications/authorizations/new.html.erb
  decidim-verifications/app/views/dummy_authorization/_form.html.erb
  decidim-verifications/spec/views/decidim/verifications/authorizations/new.html.erb_spec.rb
Labels: in-review

#3208 Fix design app
  decidim_app-design/Gemfile
Labels: status: WIP

#3210 Icon showcase
  .rubocop.yml
  decidim_app-design/app/assets/images/icons.svg
  decidim_app-design/app/views/admin/icon-showcase.html.erb
  spec/icon_spec.rb
Labels: status: WIP

#3200 Simplify rubocop config
  .rubocop.yml
  .rubocop_rails.yml
  decidim-accountability/.rubocop.yml
  decidim-accountability/.rubocop_rails.yml
  decidim-admin/.rubocop.yml
  decidim-admin/.rubocop_rails.yml
  decidim-api/.rubocop.yml
  decidim-api/.rubocop_rails.yml
  decidim-assemblies/.rubocop.yml
  decidim-assemblies/.rubocop_rails.yml
  decidim-budgets/.rubocop.yml
  decidim-budgets/.rubocop_rails.yml
  decidim-comments/.rubocop.yml
  decidim-comments/.rubocop_rails.yml
  decidim-consultations/.rubocop.yml
  decidim-consultations/.rubocop_rails.yml
  decidim-core/.rubocop.yml
  decidim-core/.rubocop_rails.yml
  decidim-debates/.rubocop.yml
  decidim-debates/.rubocop_rails.yml
  decidim-dev/.rubocop.yml
  decidim-dev/.rubocop_rails.yml
  decidim-meetings/.rubocop.yml
  decidim-meetings/.rubocop_rails.yml
  decidim-pages/.rubocop.yml
  decidim-pages/.rubocop_rails.yml
  decidim-participatory_processes/.rubocop.yml
  decidim-participatory_processes/.rubocop_rails.yml
  decidim-proposals/.rubocop.yml
  decidim-proposals/.rubocop_rails.yml
  decidim-sortitions/.rubocop.yml
  decidim-sortitions/.rubocop_rails.yml
  decidim-surveys/.rubocop.yml
  decidim-surveys/.rubocop_rails.yml
  decidim-system/.rubocop.yml
  decidim-system/.rubocop_rails.yml
  decidim-verifications/.rubocop.yml
  decidim-verifications/.rubocop_rails.yml
Labels: in-review

#3214 Bump base docker image reference to latest
  .circleci/config.yml
Labels: in-review

#3217 Include children information in main column
  CHANGELOG.md
  decidim-accountability/app/views/decidim/accountability/results/_show_parent.html.erb
Labels: status: WIP

#3215 Extend OAuth features
  decidim-core/app/commands/decidim/create_omniauth_registration.rb
  decidim-core/app/controllers/decidim/devise/omniauth_registrations_controller.rb
  decidim-core/app/controllers/decidim/doorkeeper/credentials_controller.rb
  decidim-core/app/forms/decidim/omniauth_registration_form.rb
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  decidim-core/spec/controllers/decidim/doorkeeper/credentials_controller_spec.rb
  decidim-core/spec/forms/omniauth_registration_form_spec.rb
Labels: status: WIP

#3207 Icons
  decidim-core/app/assets/images/decidim/icons.svg
  decidim_app-design/app/views/public/library/pattern-library.html.erb
  decidim_app-design/app/views/public/partials/_component_icons.html.erb
  decidim_app-design/app/views/public/partials/_document_manager.html.erb
Labels: status: WIP

#3184 Remove consultations from the main bundle
  Gemfile
  Gemfile.lock
  decidim.gemspec
  lib/decidim.rb
Labels: status: WIP

#3185 fix threshold per proposal when is nil
  CHANGELOG.md
  decidim-proposals/app/helpers/decidim/proposals/proposal_votes_helper.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
Labels: in-review

#2888 Adds documentation for checklist to do for production ready installation
  docs/checklist.md
  docs/getting_started.md
Labels: status: WIP

#3231 Ci speed up
  .circleci/config.yml
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara.rb
  lib/generators/decidim/install_generator.rb
Labels: in-review

#3216 Assemblies
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_inline-filters.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_modules.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_typography.scss
  decidim-core/app/assets/stylesheets/decidim/utils/_helpers.scss
  decidim_app-design/app/views/public/assemblies/assemblies.html.erb
  decidim_app-design/app/views/public/assemblies/assembly-view.html.erb
  decidim_app-design/app/views/public/cards/_m.html.erb
  decidim_app-design/app/views/public/cards/m/_member.html.erb
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/partials/_inline_filters.html.erb
Labels: in-review

#3220 Fix design things
  .rubocop.yml
  decidim-core/app/assets/images/decidim/icons.svg
  decidim_app-design/app/assets/images/icons.svg
  decidim_app-design/app/views/admin/icon-showcase.html.erb
  decidim_app-design/app/views/public/cards/m/_assembly.html.erb
  decidim_app-design/app/views/public/cards/m/_consultation.html.erb
  decidim_app-design/app/views/public/cards/m/_debate.html.erb
  decidim_app-design/app/views/public/cards/m/_meeting.html.erb
  decidim_app-design/app/views/public/cards/m/_process.html.erb
  decidim_app-design/app/views/public/cards/m/_project.html.erb
  decidim_app-design/app/views/public/cards/m/_result.html.erb
  decidim_app-design/app/views/public/cards/m/_sortition.html.erb
  decidim_app-design/app/views/public/cards/m/_stack.html.erb
  decidim_app-design/app/views/public/library/pattern-library.html.erb
  decidim_app-design/app/views/public/partials/_component_icons.html.erb
  decidim_app-design/app/views/public/partials/_document_manager.html.erb
  spec/icon_spec.rb
Labels: in-review, team: design

#3224 Comment out optional gems
  lib/generators/decidim/app_generator.rb
Labels: in-review, lot: core, target: developer-experience

#3242 Teach git how to merge our CHANGELOG
  .gitattributes
Labels: in-review

#3239 Projects per page setting
  CHANGELOG.md
  decidim-budgets/app/controllers/decidim/budgets/projects_controller.rb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/lib/decidim/budgets/component.rb
  decidim-budgets/spec/system/orders_spec.rb
Labels: in-review

#3240 Safer update survey command
  decidim-surveys/app/commands/decidim/surveys/admin/update_survey.rb
Labels: in-review

#3199 [Backport] Fix showing not visible proposals in process home page
  CHANGELOG.md
  decidim-proposals/lib/decidim/proposals.rb
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/system/participatory_process_groups_view_hooks_spec.rb
  decidim-proposals/spec/system/participatory_processes_view_hooks_spec.rb
Labels: backport, in-review, status: WIP

#3246 Open space hashtags in new tab
  CHANGELOG.md
  decidim-assemblies/app/views/layouts/decidim/_assembly_header.html.erb
  decidim-consultations/app/views/layouts/decidim/_question_header.html.erb
  decidim-participatory_processes/app/views/layouts/decidim/_process_header.html.erb
Labels: in-review, lot: core

#3244 Do not require highlighted banner image if already present in organization
  CHANGELOG.md
  decidim-admin/app/forms/decidim/admin/organization_appearance_form.rb
  decidim-admin/spec/forms/organization_appearance_form_spec.rb
Labels: in-review, lot: core, status: WIP

#3245 Open attachments in new tab
  CHANGELOG.md
  decidim-core/app/views/decidim/application/_document.html.erb
  decidim-core/app/views/decidim/application/_photos.html.erb
Labels: in-review, lot: core, status: WIP

#3243 Ability to select leaf categories from Admin change-category bulk action
  CHANGELOG.md
  decidim-admin/app/helpers/decidim/admin/bulk_actions_helper.rb
  decidim-admin/app/views/decidim/admin/bulk_actions/_recategorize.html.erb
Labels: component: proposals, in-review, status: WIP, type: bug

#3165 PR template: Adds more subtasks (for discussion with community)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: status: WIP

#3237 Eval Gemfile to sync decidim_app-design with the main repo
  .rubocop.yml
  decidim_app-design/Gemfile
  decidim_app-design/Gemfile.lock
  spec/bundle_spec.rb
Labels: in-review

#3249 Restore creation date in proposal show
  CHANGELOG.md
  decidim-core/app/assets/stylesheets/decidim/modules/_author-avatar.scss
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: status: WIP

#3256 Fix uniqueness problem in seeds
  decidim-core/db/seeds.rb
Labels: status: WIP

#3241 Fix admin dropdown hovering
  CHANGELOG.md
  decidim-admin/app/assets/stylesheets/decidim/admin/extra/_dropdown_inverted.scss
Labels: in-review

#3253 (Backport 0.10) Ability to select leaf categories from Admin change-category bulk action
  CHANGELOG.md
  decidim-admin/app/helpers/decidim/admin/bulk_actions_helper.rb
  decidim-admin/app/views/decidim/admin/bulk_actions/_recategorize.html.erb
Labels: backport, component: proposals, general: admin, in-review, type: bug

#3150 Add available services to meetings
  CHANGELOG.md
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
  decidim-meetings/app/assets/config/admin/decidim_meetings_manifest.js
  decidim-meetings/app/assets/javascripts/decidim/meetings/admin/meetings_form.js.es6
  decidim-meetings/app/commands/decidim/meetings/admin/copy_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/meeting_copies_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/meetings_controller.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_copy_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_service_form.rb
  decidim-meetings/app/helpers/decidim/meetings/admin/application_helper.rb
  decidim-meetings/app/views/decidim/meetings/admin/meeting_copies/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_service.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_services.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20180407110934_add_services_to_meetings.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/commands/admin/copy_meeting_spec.rb
  decidim-meetings/spec/commands/admin/create_meeting_spec.rb
  decidim-meetings/spec/commands/admin/update_meeting_spec.rb
  decidim-meetings/spec/forms/admin/meeting_copy_form_spec.rb
  decidim-meetings/spec/forms/admin/meeting_form_spec.rb
  decidim-meetings/spec/forms/admin/meeting_service_form_spec.rb
  decidim-meetings/spec/shared/manage_meetings_examples.rb
  decidim-meetings/spec/system/admin_manages_meetings_spec.rb
  decidim-meetings/spec/system/meeting_spec.rb
  decidim-meetings/spec/system/process_admin_manages_meetings_spec.rb
Labels: in-review

#3238 Refactor/extract proposal helpers
  CHANGELOG.md
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/app/helpers/decidim/proposals/proposal_endorsements_helper.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_endorsements_listing.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_identities_listing.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_identity_xxs.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/helpers/application_helper_spec.rb
  decidim-proposals/spec/helpers/proposal_endorsements_helper_spec.rb
Labels: status: WIP

#3254 Public meeting agenda
  decidim-core/app/assets/images/decidim/icons.svg
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_extra.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_icons.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_status-labels.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_typography.scss
  decidim-core/app/assets/stylesheets/decidim/utils/_helpers.scss
  decidim_app-design/app/assets/images/icons.svg
  decidim_app-design/app/views/public/assemblies/assembly-view.html.erb
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/meeting-view.html.erb
  decidim_app-design/app/views/public/meetings-callout.html.erb
  decidim_app-design/app/views/public/meetings/meeting-view-closed.html.erb
  decidim_app-design/app/views/public/meetings/meeting-view-custom-status.html.erb
  decidim_app-design/app/views/public/meetings/meeting-view-longer.html.erb
  decidim_app-design/app/views/public/meetings/meeting-view.html.erb
  decidim_app-design/app/views/public/meetings/meetings-callout.html.erb
  decidim_app-design/app/views/public/meetings/meetings.html.erb
  decidim_app-design/app/views/public/partials/_followme.html.erb
  decidim_app-design/app/views/public/proposals/proposals-no-vote.html.erb
  decidim_app-design/app/views/public/proposals/proposals-with-filters.html.erb
  decidim_app-design/app/views/public/proposals/proposals-wizard-step-3.html.erb
  decidim_app-design/app/views/public/proposals/proposals.html.erb
  decidim_app-design/app/views/public/proposals/proposals_2.html.erb
Labels: in-review

#3259 Fix style selectors introduced in assembly services
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
Labels: in-review

#3260 Add missing translation values for datepicker in French
  CHANGELOG.md
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.fr.js
Labels: in-review, status: WIP

#3221 integrate decidim-blogs into main repo
  .circleci/config.yml
  CHANGELOG.md
  Gemfile.lock
  README.md
  decidim-blogs/README.md
  decidim-blogs/Rakefile
  decidim-blogs/app/assets/images/decidim/blogs/icon.svg
  decidim-blogs/app/commands/decidim/blogs/admin/create_post.rb
  decidim-blogs/app/commands/decidim/blogs/admin/update_post.rb
  decidim-blogs/app/controllers/decidim/blogs/admin/application_controller.rb
  decidim-blogs/app/controllers/decidim/blogs/admin/posts_controller.rb
  decidim-blogs/app/controllers/decidim/blogs/application_controller.rb
  decidim-blogs/app/controllers/decidim/blogs/posts_controller.rb
  decidim-blogs/app/events/decidim/blogs/create_post_event.rb
  decidim-blogs/app/forms/decidim/blogs/admin/post_form.rb
  decidim-blogs/app/helpers/decidim/blogs/admin/posts_helper.rb
  decidim-blogs/app/helpers/decidim/blogs/application_helper.rb
  decidim-blogs/app/helpers/decidim/blogs/posts_helper.rb
  decidim-blogs/app/models/decidim/blogs/application_record.rb
  decidim-blogs/app/models/decidim/blogs/post.rb
  decidim-blogs/app/presenters/decidim/module/blogs/post_presenter.rb
  decidim-blogs/app/views/decidim/blogs/admin/posts/_form.html.erb
  decidim-blogs/app/views/decidim/blogs/admin/posts/edit.html.erb
  decidim-blogs/app/views/decidim/blogs/admin/posts/index.html.erb
  decidim-blogs/app/views/decidim/blogs/admin/posts/new.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/_author_data.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/_datetime.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/_posts.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/_sidebar_blog.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/index.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/show.html.erb
  decidim-blogs/bin/rails
  decidim-blogs/config/locales/en.yml
  decidim-blogs/db/migrate/20171129131353_create_decidim_blogs_posts.rb
  decidim-blogs/db/migrate/20171211084630_add_author_to_decidim_blogs_posts.rb
  decidim-blogs/decidim-blogs.gemspec
  decidim-blogs/lib/decidim/blogs.rb
  decidim-blogs/lib/decidim/blogs/admin.rb
  decidim-blogs/lib/decidim/blogs/admin_engine.rb
  decidim-blogs/lib/decidim/blogs/component.rb
  decidim-blogs/lib/decidim/blogs/engine.rb
  decidim-blogs/lib/decidim/blogs/test/factories.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-blogs/spec/commands/decidim/blogs/admin/create_post_spec.rb
  decidim-blogs/spec/commands/decidim/blogs/admin/update_post_spec.rb
  decidim-blogs/spec/events/decidim/blogs/create_post_event_spec.rb
  decidim-blogs/spec/factories.rb
  decidim-blogs/spec/forms/decidim/blogs/admin/post_form_spec.rb
  decidim-blogs/spec/models/decidim/blogs/post_spec.rb
  decidim-blogs/spec/shared/manage_posts_examples.rb
  decidim-blogs/spec/spec_helper.rb
  decidim-blogs/spec/system/admin_manages_posts_spec.rb
  decidim-blogs/spec/system/explore_posts_spec.rb
  decidim-blogs/spec/system/process_admin_manages_meetings_spec.rb
  decidim.gemspec
  decidim_app-design/Gemfile.lock
  lib/decidim.rb
  lib/decidim/gem_manager.rb
Labels: in-review

#3264 Order components by weight and manifest_name
  CHANGELOG.md
  decidim-core/app/models/decidim/component.rb
  decidim-core/spec/models/decidim/component_spec.rb
Labels: in-review, lot: core, status: WIP

#3252 Add documentation on how to use Decidim as OAuth provider
  docs/customization/oauth.md
Labels: status: WIP

#3266 add fix title on spec blog
  decidim-blogs/spec/shared/manage_posts_examples.rb
Labels: status: WIP

#3235 Fix threshold_per_proposal nil values
  CHANGELOG.md
  decidim-proposals/app/helpers/decidim/proposals/proposal_votes_helper.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/db/migrate/20180413135249_fix_nil_threshold_per_proposal.rb
Labels: status: WIP

#3267 Fix file name
  decidim-blogs/spec/system/process_admin_manages_post_spec.rb
Labels: in-review, lot: core

#3255 Add meetings API
  CHANGELOG.md
  decidim-core/app/types/decidim/core/coordinates_type.rb
  decidim-core/spec/types/coordinates_type_spec.rb
  decidim-meetings/app/types/decidim/meetings/meeting_type.rb
  decidim-meetings/app/types/decidim/meetings/meetings_type.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/spec/types/meeting_type_spec.rb
  decidim-meetings/spec/types/meetings_type_spec.rb
Labels: graphql-api, status: WIP

#3271 Fix generated gitignore entry for rspec failures
  decidim-generators/lib/decidim/generators/component_templates/.gitignore
Labels: status: WIP

#3270 Keep generators gemfile in sync
  Gemfile.lock
  decidim-generators/Gemfile.lock
  spec/bundle_spec.rb
Labels: status: WIP

#3283 Clarifies documentation regarding Geocoding
  docs/services/geocoding.md
Labels: status: WIP

#3274 Feature: proposal wizard complete step
  CHANGELOG.md
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/helpers/decidim/proposals/proposal_wizard_helper.rb
  decidim-proposals/app/queries/decidim/proposals/similar_proposals.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_wizard_header.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/compare.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/complete.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/new.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/spec/shared/proposal_wizard_steps_help_texts_examples.rb
  decidim-proposals/spec/system/proposal_wizard_spec.rb
  decidim-proposals/spec/system/proposals_fields_spec.rb
Labels: component: proposals, in-review, type: feature

#3282 Gem build cleanup
  Gemfile.lock
  decidim-blogs/README.md
  decidim-blogs/decidim-blogs.gemspec
  decidim-blogs/spec/shared/manage_posts_examples.rb
  decidim-generators/Gemfile.lock
  decidim-initiatives/decidim-initiatives.gemspec
  decidim-sortitions/README.md
  decidim-sortitions/decidim-sortitions.gemspec
  decidim-system/README.md
  decidim_app-design/Gemfile.lock
Labels: in-review

#3286 Scope `terms_and_conditions_page` helper method to `organization`
  decidim-core/app/controllers/decidim/devise/registrations_controller.rb
Labels: general: core, status: WIP, type: bug

#3288 New translations
  decidim-proposals/config/locales/ca.yml
  decidim-proposals/config/locales/es.yml
  decidim-proposals/config/locales/eu.yml
  decidim-proposals/config/locales/fi.yml
  decidim-proposals/config/locales/fr.yml
  decidim-proposals/config/locales/gl.yml
  decidim-proposals/config/locales/it.yml
  decidim-proposals/config/locales/nl.yml
  decidim-proposals/config/locales/pl.yml
  decidim-proposals/config/locales/pt-BR.yml
  decidim-proposals/config/locales/pt.yml
  decidim-proposals/config/locales/ru.yml
  decidim-proposals/config/locales/sv.yml
  decidim-proposals/config/locales/uk.yml
Labels: status: WIP

#3275 Withdrawn proposals are excluded from count limit and stats
  CHANGELOG.md
  decidim-proposals/app/commands/decidim/proposals/create_proposal.rb
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/lib/decidim/proposals/component_spec.rb
  decidim-proposals/spec/shared/create_proposal_examples.rb
Labels: component: proposals, status: WIP

#3292 Fix migration
  decidim-proposals/db/migrate/20180413135249_fix_nil_threshold_per_proposal.rb
Labels: status: WIP

#3294 Search homepage
  decidim-core/app/assets/stylesheets/decidim/layouts/_home.scss
  decidim_app-design/app/views/public/home.html.erb
Labels: in-review

#3303 Change broken link on Getting started and add definition on checklist
  docs/checklist.md
  docs/getting_started.md
Labels: status: WIP

#3213 Meetings management for minutes
  CHANGELOG.md
  Gemfile.lock
  decidim-meetings/app/commands/decidim/meetings/admin/create_minutes.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_minutes.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/minutes_controller.rb
  decidim-meetings/app/forms/decidim/meetings/admin/minutes_form.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/models/decidim/meetings/minutes.rb
  decidim-meetings/app/presenters/decidim/meetings/admin_log/minutes_presenter.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/minutes/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/minutes/edit.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/minutes/new.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20180406080619_create_meetings_minutes.rb
  decidim-meetings/lib/decidim/meetings/admin_engine.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/commands/admin/create_minutes_spec.rb
  decidim-meetings/spec/commands/admin/update_minute_spec.rb
  decidim-meetings/spec/forms/admin/minutes_form_spec.rb
  decidim-meetings/spec/shared/manage_minutes_examples.rb
  decidim-meetings/spec/system/admin_manages_meetings_spec.rb
  decidim-meetings/spec/system/meeting_minutes_spec.rb
  decidim-meetings/spec/system/process_admin_manages_meetings_spec.rb
Labels: in-review, status: WIP

#3262 [FIX] Do not set the ajax endpoint to the member but to the collection
  CHANGELOG.md
  decidim-accountability/app/assets/javascripts/decidim/accountability/admin/accountability_admin.js.es6
  decidim-accountability/app/views/decidim/accountability/admin/results/_form.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/results/_proposals.html.erb
  decidim-accountability/lib/decidim/accountability/admin_engine.rb
  decidim-accountability/spec/shared/manage_results_examples.rb
  decidim-budgets/spec/shared/manage_projects_examples.rb
  decidim-consultations/spec/system/admin/admin_manages_consultations_spec.rb
  decidim-consultations/spec/system/admin/admin_manages_questions_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara_data_picker.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara_proposals_picker.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara_scopes_picker.rb
  decidim-initiatives/spec/system/admin/initiatives_type_scopes_controller_spec.rb
  decidim-meetings/spec/shared/manage_meetings_examples.rb
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-proposals/spec/shared/manage_proposals_examples.rb
  decidim-proposals/spec/system/proposals_fields_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: in-review, status: WIP

#3298 Update initiatives README.md
  decidim-initiatives/README.md
Labels: status: WIP

#3280 Longer events
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
  decidim_app-design/app/views/public/cards/m/_meeting.html.erb
  decidim_app-design/app/views/public/library/pattern-library.html.erb
Labels: in-review

#3258 Dry CI config
  .circleci/config.yml
Labels: status: WIP, status: ❌ blocked

#3295 Update design navigation
  decidim_app-design/app/views/public/initiatives/initiatives.html.erb
  decidim_app-design/app/views/public/partials/_process_nav.html.erb
Labels: in-review

#3261 User profile
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_horizontal-tabs.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_inline-filters.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_margins.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_modules.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_navbar.scss
  decidim-core/app/assets/stylesheets/decidim/utils/_helpers.scss
  decidim-core/app/assets/stylesheets/decidim/utils/_mixins.scss
  decidim_app-design/app/views/public/assemblies/assembly-view.html.erb
  decidim_app-design/app/views/public/home-with-consultation-banners.html.erb
  decidim_app-design/app/views/public/home.html.erb
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/partials/_comments.html.erb
  decidim_app-design/app/views/public/partials/_inline_filters.html.erb
  decidim_app-design/app/views/public/partials/_topbar.html.erb
  decidim_app-design/app/views/public/proposals/proposal-view-login.html.erb
  decidim_app-design/app/views/public/user/_followers.html.erb
  decidim_app-design/app/views/public/user/_following.html.erb
  decidim_app-design/app/views/public/user/_notifications.html.erb
  decidim_app-design/app/views/public/user/_timeline.html.erb
  decidim_app-design/app/views/public/user/_user-card.html.erb
  decidim_app-design/app/views/public/user/user-confirm.html.erb
  decidim_app-design/app/views/public/user/user-login.html.erb
  decidim_app-design/app/views/public/user/user-new-password.html.erb
  decidim_app-design/app/views/public/user/user-notifications-old.html.erb
  decidim_app-design/app/views/public/user/user-profile-old.html.erb
  decidim_app-design/app/views/public/user/user-profile-others.html.erb
  decidim_app-design/app/views/public/user/user-profile.html.erb
  decidim_app-design/app/views/public/user/user-register-success.html.erb
  decidim_app-design/app/views/public/user/user-register.html.erb
  decidim_app-design/app/views/public/user/user-settings.html.erb
  decidim_app-design/app/views/public/user/user-stories.html.erb
  decidim_app-design/app/views/public/user/user-verification.html.erb
  decidim_app-design/app/views/public/user/user-welcome.html.erb
Labels: in-review
