Repository decidim/decidim, pull requests merged in 2018-08, with the labels that each got.

#3946 Alternative markup to geolocation
  decidim_app-design/app/views/public/partials/_last_events.html.erb
Labels: status: Ready-to-dev

#3948 Add docs for content blocks
  decidim-core/app/views/decidim/pages/home.html.erb
  docs/advanced/content_blocks.md
  docs/advanced/view_hooks.md
Labels: in-review, lot: core

#3947 Fix foundation warning about flex grid row align
  decidim-core/app/assets/stylesheets/decidim/modules/_help.scss
Labels: in-review

#3950 Content blocks: use settings manifest
  decidim-core/app/models/decidim/content_block.rb
  decidim-core/db/migrate/20180802132147_rename_content_block_options_to_settings.rb
  decidim-core/lib/decidim/content_block_manifest.rb
  decidim-core/lib/decidim/content_block_registry.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/lib/content_block_manifest_spec.rb
Labels: in-review, lot: core

#3953 Spaces around braces globally, like in ruby code
  .circleci/config.yml
  .erb-lint.yml
  decidim-accountability/app/views/decidim/accountability/results/_show_leaf.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_show_parent.html.erb
  decidim-accountability/app/views/decidim/accountability/results/home.html.erb
  decidim-accountability/app/views/decidim/accountability/results/index.html.erb
  decidim-admin/app/views/decidim/admin/components/edit.html.erb
  decidim-admin/app/views/decidim/admin/components/new.html.erb
  decidim-admin/app/views/layouts/decidim/admin/newsletters.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assembly_copies/new.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/index.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/show.html.erb
  decidim-budgets/app/views/decidim/budgets/line_items/update_budget.js.erb
  decidim-budgets/app/views/decidim/budgets/projects/_project.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-comments/app/assets/javascripts/decidim/comments/comments.js.erb
  decidim-consultations/app/views/layouts/decidim/_question_header.html.erb
  decidim-core/app/cells/decidim/author/withdraw.erb
  decidim-core/app/cells/decidim/follow_button/show.erb
  decidim-core/app/views/decidim/messaging/conversations/_message.html.erb
  decidim-core/app/views/decidim/profiles/_user_follow.erb
  decidim-core/app/views/decidim/searches/_results.html.erb
  decidim-core/app/views/decidim/shared/_author_reference.html.erb
  decidim-core/app/views/decidim/shared/_tags.html.erb
  decidim-core/app/views/kaminari/decidim/_page.html.erb
  decidim-core/app/views/layouts/decidim/_impersonation_warning.html.erb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meeting_copies/new.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/index.js.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_copies/new.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/index.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/update_category.js.erb
  decidim-proposals/app/views/decidim/proposals/proposal_endorsements/_identity.html.erb
  decidim-proposals/app/views/decidim/proposals/proposal_endorsements/update_buttons_and_counters.js.erb
  decidim-proposals/app/views/decidim/proposals/proposal_votes/update_buttons_and_counters.js.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_endorsement_button.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_similar.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/compare.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/preview.html.erb
Labels: in-review

#3952 Fix/accountability progress
  CHANGELOG.md
  decidim-accountability/app/forms/decidim/accountability/admin/result_form.rb
  decidim-accountability/spec/forms/admin/result_form_spec.rb
Labels: in-review

#3967 Remove rsrc abbreviation
  decidim-core/spec/commands/decidim/search_spec.rb
  decidim-core/spec/models/decidim/searchable_resource_spec.rb
  decidim-core/spec/services/decidim/searchable_user_resource_spec.rb
  decidim-meetings/spec/services/searchable_meeting_resource_spec.rb
  decidim-proposals/spec/services/decidim/proposals/searchable_proposal_resource_spec.rb
Labels: in-review

#3964 Refactor translatable_attribute
  decidim-core/lib/decidim/translatable_attributes.rb
Labels: in-review

#3965 Fix flaky when running spec in isolation
  decidim-core/lib/decidim/core/test/factories.rb
Labels: in-review

#3963 Verbose npm execution on CircleCI
  .circleci/config.yml
Labels: in-review

#3966 Fix nokogiri flakies
  decidim-admin/lib/decidim/admin/test/manage_attachment_collections_examples.rb
  decidim-admin/lib/decidim/admin/test/manage_attachments_examples.rb
  decidim-consultations/spec/system/admin/admin_manages_questions_spec.rb
  decidim-core/spec/system/homepage_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/helpers.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/translation_helpers.rb
  decidim-meetings/spec/factories.rb
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-proposals/spec/factories.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: in-review

#3962 Prefer Time over DateTime
  .rubocop.yml
  decidim-admin/spec/commands/decidim/admin/deliver_newsletter_spec.rb
  decidim-admin/spec/jobs/newsletter_job_spec.rb
  decidim-admin/spec/system/admin_manages_newsletters_spec.rb
  decidim-budgets/spec/commands/cancel_order_spec.rb
  decidim-budgets/spec/models/order_spec.rb
  decidim-core/app/controllers/decidim/devise/invitations_controller.rb
  decidim-core/app/forms/decidim/notifications_settings_form.rb
  decidim-core/app/forms/decidim/registration_form.rb
  decidim-core/app/models/decidim/authorization.rb
  decidim-core/app/models/decidim/messaging/message.rb
  decidim-core/app/models/decidim/messaging/receipt.rb
  decidim-core/app/types/decidim/core/date_time_type.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/core/test/shared_examples/publicable.rb
  decidim-core/lib/decidim/friendly_dates.rb
  decidim-core/lib/devise/models/decidim_newsletterable.rb
  decidim-core/spec/commands/decidim/search_spec.rb
  decidim-core/spec/commands/decidim/unsubscribe_settings_spec.rb
  decidim-core/spec/commands/decidim/update_notifications_settings_spec.rb
  decidim-core/spec/controllers/decidim/searches_controller_spec.rb
  decidim-core/spec/controllers/newsletters_controller_spec.rb
  decidim-core/spec/lib/exporters/excel_spec.rb
  decidim-core/spec/lib/friendly_dates_spec.rb
  decidim-core/spec/lib/resourceable_spec.rb
  decidim-core/spec/lib/search_resource_fields_mapper_spec.rb
  decidim-core/spec/models/decidim/user_spec.rb
  decidim-core/spec/types/date_time_type_spec.rb
  decidim-core/spec/types/date_type_spec.rb
  decidim-core/spec/types/participatory_space_type_spec.rb
  decidim-initiatives/app/commands/decidim/initiatives/admin/update_initiative.rb
  decidim-initiatives/app/queries/decidim/initiatives/outdated_validating_initiatives.rb
  decidim-initiatives/lib/decidim/initiatives/participatory_space.rb
  decidim-initiatives/spec/lib/tasks/decidim_initiatives_check_validating_spec.rb
  decidim-initiatives/spec/lib/tasks/decidim_initiatives_notify_progress_spec.rb
  decidim-meetings/app/forms/decidim/meetings/admin/close_meeting_form.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/commands/decidim/proposals/endorse_proposal_spec.rb
  decidim-proposals/spec/controllers/decidim/proposal_endorsements_controller_as_org_spec.rb
  decidim-proposals/spec/controllers/decidim/proposal_endorsements_controller_as_user_spec.rb
  decidim-proposals/spec/models/decidim/proposals/proposal_endorsement_spec.rb
  decidim-proposals/spec/models/decidim/proposals/proposal_spec.rb
  decidim-proposals/spec/services/decidim/proposals/searchable_proposal_resource_spec.rb
  decidim-proposals/spec/system/search_proposals_spec.rb
  decidim-proposals/spec/types/proposal_type_spec.rb
  decidim-surveys/app/forms/decidim/surveys/admin/survey_form.rb
  decidim-verifications/app/forms/decidim/verifications/postal_letter/postage_form.rb
Labels: in-review

#3969 Fix design app deployment
  .circleci/config.yml
  heroku.yml
Labels: in-review, type: bug

#3972 Refactor npm stuff in ci
  .circleci/config.yml
  .rubocop.yml
  decidim-admin/spec/bundles_spec.rb
  decidim-comments/spec/bundle_spec.rb
  package-lock.json
  package.json
  spec/gemfiles_spec.rb
  spec/js_bundles_spec.rb
Labels: in-review

#3951 Minor improvement in cards context
  decidim-core/app/helpers/decidim/card_helper.rb
  decidim-core/app/views/decidim/searches/_results.html.erb
  decidim-debates/app/views/decidim/debates/debates/_debate.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meetings.html.erb
  decidim-meetings/app/views/decidim/participatory_spaces/_meeting.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_preview.html.erb
Labels: in-review

#3978 Add link to admin edit from public pages
  CHANGELOG.md
  decidim-accountability/app/views/decidim/accountability/results/show.html.erb
  decidim-admin/spec/system/static_pages_spec.rb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/index.html.erb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/show.html.erb
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-blogs/app/views/decidim/blogs/posts/show.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-consultations/app/controllers/decidim/consultations/consultations_controller.rb
  decidim-consultations/app/views/decidim/consultations/consultations/index.html.erb
  decidim-consultations/app/views/decidim/consultations/consultations/show.html.erb
  decidim-consultations/spec/system/consultation_spec.rb
  decidim-consultations/spec/system/consultations_spec.rb
  decidim-core/app/assets/stylesheets/decidim/modules/_navbar.scss
  decidim-core/app/controllers/concerns/decidim/needs_permission.rb
  decidim-core/app/helpers/decidim/application_helper.rb
  decidim-core/app/permissions/decidim/permissions.rb
  decidim-core/app/presenters/decidim/resource_locator_presenter.rb
  decidim-core/app/views/decidim/pages/decidim_page.html.erb
  decidim-core/app/views/decidim/pages/home.html.erb
  decidim-core/app/views/decidim/pages/index.html.erb
  decidim-core/app/views/layouts/decidim/_edit_link.html.erb
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/edit_link_shared_examples.rb
  decidim-core/spec/permissions/decidim/permissions_spec.rb
  decidim-core/spec/presenters/decidim/resource_locator_presenter_spec.rb
  decidim-core/spec/system/homepage_spec.rb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/index.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-initiatives/spec/system/initiative_spec.rb
  decidim-initiatives/spec/system/initiatives_spec.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-pages/spec/system/page_show_spec.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_group_m_cell.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: in-review

#3984 Add compression settings to image uploader
  CHANGELOG.md
  decidim-core/app/uploaders/decidim/image_uploader.rb
  decidim-core/config/initializers/carrierwave.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/uploaders/image_uploader.spec.rb
Labels: in-review

#3971 Feature smarter CollapsibleListCell
  decidim-core/app/assets/stylesheets/decidim/modules/_collapsible-list.scss
  decidim-core/app/cells/decidim/collapsible_list/show.erb
  decidim-core/app/cells/decidim/collapsible_list_cell.rb
  decidim-proposals/app/views/decidim/participatory_processes/participatory_process_groups/_highlighted_proposals.html.erb
  decidim-proposals/app/views/decidim/participatory_processes/participatory_process_groups/_proposal.html.erb
  decidim-proposals/app/views/decidim/participatory_spaces/_highlighted_proposals.html.erb
  decidim-proposals/app/views/decidim/participatory_spaces/_proposal.html.erb
Labels: general: core, in-review, target: developer-experience

#3981 Keep tooltip open on click
  decidim_app-design/app/views/public/partials/_help-tooltip.html.erb
Labels: status: Ready-to-dev, type: bug

#4001 [012-stable] Remove fsevents
  package-lock.json
  package.json
Labels: backport, in-review, lot: core

#3999 Update doorkeeper dependency
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-core/spec/validators/geocoding_validator_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/geocoder.rb
  decidim-generators/Gemfile.lock
  decidim-meetings/spec/forms/admin/meeting_copy_form_spec.rb
  decidim-meetings/spec/forms/admin/meeting_form_spec.rb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim-meetings/spec/shared/manage_meetings_examples.rb
  decidim-proposals/spec/commands/decidim/proposals/admin_create_proposal_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/update_proposal_spec.rb
  decidim-proposals/spec/shared/manage_proposals_examples.rb
  decidim-proposals/spec/shared/proposal_form_examples.rb
  decidim-proposals/spec/system/proposals_fields_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
  decidim_app-design/Gemfile.lock
Labels: in-review, lot: core

#3994 Add translation for profile notifications
  CHANGELOG.md
  decidim-core/app/cells/decidim/notifications/show.erb
  decidim-core/config/locales/ca.yml
  decidim-core/config/locales/en.yml
  decidim-core/config/locales/es-PY.yml
  decidim-core/config/locales/es.yml
  decidim-core/config/locales/eu.yml
  decidim-core/config/locales/fi.yml
  decidim-core/config/locales/fr.yml
  decidim-core/config/locales/gl.yml
  decidim-core/config/locales/it.yml
  decidim-core/config/locales/nl.yml
  decidim-core/config/locales/pl.yml
  decidim-core/config/locales/pt-BR.yml
  decidim-core/config/locales/pt.yml
  decidim-core/config/locales/ru.yml
  decidim-core/config/locales/sv.yml
  decidim-core/config/locales/uk.yml
Labels: in-review

#4010 Fix menu dropdowns being hidden
  decidim-admin/app/assets/stylesheets/decidim/admin/extra/_title_bar.scss
Labels: in-review, lot: core

#4009 Only show initiative types from the current tenant
  CHANGELOG.md
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_filters.html.erb
  decidim-initiatives/lib/decidim/initiatives/initiatives_filter_form_builder.rb
Labels: in-review, lot: core

#4011 Show debates category on card
  decidim-debates/app/cells/decidim/debates/debate_m/tags.erb
Labels: in-review, lot: core

#4012 Hide withdrawn proposals from the proposals index
  CHANGELOG.md
  decidim-proposals/app/services/decidim/proposals/proposal_search.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_search_spec.rb
Labels: in-review, lot: core

#4013 Allow destroying surveys components when there are no answers
  CHANGELOG.md
  decidim-surveys/lib/decidim/surveys/component.rb
  decidim-surveys/spec/lib/decidim/surveys/component_spec.rb
Labels: in-review, lot: core

#4014 Make authors optionals through the API
  CHANGELOG.md
  decidim-core/lib/decidim/api/authorable_interface.rb
  decidim-core/lib/decidim/core/test/shared_examples/authorable_interface_examples.rb
Labels: in-review, lot: core

#4015 Remove secondary actions from consultations admin layout
  CHANGELOG.md
  decidim-consultations/app/views/layouts/decidim/admin/consultations.html.erb
Labels: in-review, lot: core

#4017 Make card cells delegate options to sized cells
  CHANGELOG.md
  decidim-assemblies/app/cells/decidim/assemblies/assembly_cell.rb
  decidim-blogs/app/cells/decidim/blogs/post_cell.rb
  decidim-budgets/app/cells/decidim/budgets/project_cell.rb
  decidim-consultations/app/cells/decidim/consultations/consultation_cell.rb
  decidim-core/app/cells/decidim/coauthorships_cell.rb
  decidim-debates/app/cells/decidim/debates/debate_cell.rb
  decidim-initiatives/app/cells/decidim/initiatives/initiative_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_group_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_cell.rb
Labels: in-review, lot: core

#4016 Allow users with admin level to the space to preview unpublished components
  CHANGELOG.md
  decidim-core/app/permissions/decidim/permissions.rb
  decidim-core/spec/permissions/decidim/permissions_spec.rb
Labels: in-review, lot: core

#4018 Use "supports" as proposal exports column name
  CHANGELOG.md
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_serializer_spec.rb
Labels: in-review, lot: core

#3995 Add link to user profile and link to conversation
  CHANGELOG.md
  decidim-admin/app/controllers/decidim/admin/officializations_controller.rb
  decidim-admin/app/views/decidim/admin/officializations/index.html.erb
  decidim-admin/spec/system/admin_manages_officializations_spec.rb
Labels: in-review

#3975 Gamification (badges)
  .rubocop_rails.yml
  CHANGELOG.md
  decidim-core/app/assets/stylesheets/decidim/modules/_badges.scss
  decidim-core/app/cells/decidim/badge/show.erb
  decidim-core/app/cells/decidim/badge_cell.rb
  decidim-core/app/cells/decidim/badges/show.erb
  decidim-core/app/cells/decidim/badges_cell.rb
  decidim-core/app/cells/decidim/profile/show.erb
  decidim-core/app/controllers/decidim/profiles_controller.rb
  decidim-core/app/models/decidim/gamification/badge_score.rb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/db/migrate/20180806095628_add_badge_scores.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/gamification.rb
  decidim-core/lib/decidim/gamification/badge.rb
  decidim-core/lib/decidim/gamification/badge_earned_event.rb
  decidim-core/lib/decidim/gamification/badge_registry.rb
  decidim-core/lib/decidim/gamification/badge_scorer.rb
  decidim-core/lib/decidim/gamification/badge_status.rb
  decidim-core/lib/decidim/gamification/base_event.rb
  decidim-core/lib/decidim/gamification/level_up_event.rb
  decidim-core/spec/lib/gamification/badge_earned_event_spec.rb
  decidim-core/spec/lib/gamification/badge_registry_spec.rb
  decidim-core/spec/lib/gamification/badge_scorer_spec.rb
  decidim-core/spec/lib/gamification/badge_spec.rb
  decidim-core/spec/lib/gamification/badge_status_spec.rb
  decidim-core/spec/lib/gamification/level_up_event_spec.rb
  decidim-core/spec/lib/gamification_spec.rb
  decidim-core/spec/system/gamification_spec.rb
  decidim-dev/app/assets/images/decidim/gamification/badges/test.svg
  decidim-dev/config/locales/en.yml
  decidim-dev/lib/decidim/dev/test/rspec_support/gamification.rb
  decidim-proposals/app/assets/images/decidim/gamification/badges/proposals.svg
  decidim-proposals/app/commands/decidim/proposals/publish_proposal.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/spec/commands/decidim/proposals/publish_proposal_spec.rb
Labels: in-review

#4034 Fix CollaborativeDraft geocoding spec
  decidim-proposals/spec/commands/decidim/proposals/update_collaborative_draft_spec.rb
Labels: status: WIP

#4049 Fix badge notification urls
  decidim-core/config/locales/en.yml
Labels: in-review

#4051 Use circle 2.1 with workflow auto-cancellation
  .circleci/config.yml
Labels: in-review

#4052 Move Collaborative Draft checkbox upwards on admin
  decidim-proposals/lib/decidim/proposals/component.rb
Labels: component: proposals, general: admin

#4022 Select parent assembly when the assembly is created or edited
  CHANGELOG.md
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assemblies_controller.rb
  decidim-assemblies/app/models/decidim/assembly.rb
  decidim-assemblies/app/presenters/decidim/assembly_presenter.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/_form.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/lib/decidim/assemblies/test/factories.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_with_parent_selector_spec.rb
Labels: in-review

#3959 Hashtags Feature applied to Proposals
  CHANGELOG.md
  decidim-accountability/lib/decidim/accountability/test/factories.rb
  decidim-admin/app/assets/javascripts/decidim/admin/application.js.es6
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_modules.scss
  decidim-blogs/lib/decidim/blogs/test/factories.rb
  decidim-budgets/lib/decidim/budgets/test/factories.rb
  decidim-comments/lib/decidim/comments/test/factories.rb
  decidim-consultations/lib/decidim/consultations/test/factories.rb
  decidim-core/app/assets/javascripts/decidim.js.es6
  decidim-core/app/assets/javascripts/decidim/input_hashtags.js.es6
  decidim-core/app/assets/javascripts/decidim/input_mentions.js.es6
  decidim-core/app/assets/stylesheets/decidim/modules/_input-hashtags.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_modules.scss
  decidim-core/app/models/decidim/organization.rb
  decidim-core/app/presenters/decidim/hashtag_presenter.rb
  decidim-core/app/resolvers/decidim/hashtags_resolver.rb
  decidim-core/app/types/decidim/core/hashtag_type.rb
  decidim-core/db/migrate/20180726112510_create_decidim_hashtags.rb
  decidim-core/lib/decidim/content_parsers.rb
  decidim-core/lib/decidim/content_parsers/hashtag_parser.rb
  decidim-core/lib/decidim/content_processor.rb
  decidim-core/lib/decidim/content_renderers.rb
  decidim-core/lib/decidim/content_renderers/hashtag_renderer.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/api.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/lib/decidim/hashtag.rb
  decidim-core/lib/decidim/hashtaggable.rb
  decidim-core/lib/decidim/query_extensions.rb
  decidim-core/spec/content_parsers/decidim/hashtag_parser_spec.rb
  decidim-core/spec/content_renderers/decidim/hashtag_renderer_spec.rb
  decidim-debates/lib/decidim/debates/test/factories.rb
  decidim-dev/lib/decidim/dev/test/factories.rb
  decidim-initiatives/lib/decidim/initiatives/test/factories.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-pages/spec/factories.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/test/factories.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
  decidim-proposals/app/commands/decidim/proposals/admin/create_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/create_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/update_proposal.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/presenters/decidim/proposals/admin_log/proposal_presenter.rb
  decidim-proposals/app/presenters/decidim/proposals/admin_log/value_types/proposal_title_body_presenter.rb
  decidim-proposals/app/presenters/decidim/proposals/proposal_presenter.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_form.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_proposal-tr.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/shared/_info_proposal.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_edit_form_fields.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_similar.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/new.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-sortitions/lib/decidim/sortitions/test/factories.rb
  decidim-surveys/lib/decidim/surveys/test/factories.rb
  decidim-system/spec/factories.rb
Labels: in-review

#3968 Content blocks: use settings and images
  decidim-admin/app/cells/decidim/admin/content_block/show.erb
  decidim-admin/app/cells/decidim/admin/content_block_cell.rb
  decidim-admin/app/commands/decidim/admin/update_content_block.rb
  decidim-admin/app/commands/decidim/admin/update_organization_appearance.rb
  decidim-admin/app/controllers/decidim/admin/organization_homepage_content_blocks_controller.rb
  decidim-admin/app/forms/decidim/admin/content_block_form.rb
  decidim-admin/app/forms/decidim/admin/organization_appearance_form.rb
  decidim-admin/app/views/decidim/admin/organization_appearance/_form.html.erb
  decidim-admin/app/views/decidim/admin/organization_homepage/edit.html.erb
  decidim-admin/app/views/decidim/admin/organization_homepage_content_blocks/edit.html.erb
  decidim-admin/app/views/layouts/decidim/admin/settings.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-admin/spec/commands/decidim/admin/reorder_content_blocks_spec.rb
  decidim-admin/spec/commands/decidim/admin/update_content_block_spec.rb
  decidim-admin/spec/commands/decidim/admin/update_organization_appearance_spec.rb
  decidim-admin/spec/forms/organization_appearance_form_spec.rb
  decidim-admin/spec/system/admin_invite_spec.rb
  decidim-admin/spec/system/admin_manages_organization_appearance_spec.rb
  decidim-admin/spec/system/admin_manages_organization_homepage_spec.rb
  decidim-assemblies/lib/decidim/assemblies/engine.rb
  decidim-core/app/cells/decidim/content_blocks/hero/show.erb
  decidim-core/app/cells/decidim/content_blocks/hero_cell.rb
  decidim-core/app/cells/decidim/content_blocks/hero_settings_form/show.erb
  decidim-core/app/cells/decidim/content_blocks/hero_settings_form_cell.rb
  decidim-core/app/models/decidim/content_block.rb
  decidim-core/app/models/decidim/organization.rb
  decidim-core/app/uploaders/decidim/homepage_image_uploader.rb
  decidim-core/app/views/decidim/pages/home.html.erb
  decidim-core/app/views/layouts/decidim/_application.html.erb
  decidim-core/db/migrate/20180808135006_add_images_to_content_blocks.rb
  decidim-core/db/migrate/20180810092428_move_organization_fields_to_hero_content_block.rb
  decidim-core/db/seeds.rb
  decidim-core/lib/decidim/content_block_manifest.rb
  decidim-core/lib/decidim/content_block_registry.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/translatable_attributes.rb
  decidim-core/spec/cells/decidim/content_blocks/hero_cell_spec.rb
  decidim-core/spec/lib/content_block_manifest_spec.rb
  decidim-core/spec/lib/content_block_registry_spec.rb
  decidim-core/spec/models/decidim/content_block_spec.rb
  decidim-core/spec/models/decidim/organization_spec.rb
  decidim-generators/lib/decidim/generators/install_generator.rb
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  docs/advanced/content_blocks.md
Labels: in-review, lot: core

#4058 Fix flaky spec on admin user group evaluation
  decidim-admin/spec/queries/user_group_evaluation_spec.rb
Labels: in-review, lot: core

#4060 Fix rubocop offenses
  .rubocop.yml
  decidim-accountability/spec/system/admin_manages_accountability_spec.rb
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  decidim-core/spec/helpers/decidim/action_authorization_helper_spec.rb
  decidim-core/spec/models/decidim/scope_spec.rb
  decidim-core/spec/presenters/decidim/user_presenter_spec.rb
  decidim-core/spec/system/notifications_spec.rb
  decidim-debates/spec/system/admin_manages_debates_spec.rb
  decidim-meetings/spec/models/registration_spec.rb
  decidim-participatory_processes/spec/system/admin/participatory_process_admin_manages_participatory_processes_spec.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/system/collaborative_drafts_spec.rb
Labels: in-review
