Repository decidim/decidim, pull requests merged in 2018-12, with the labels that each got.

#4580 Metrics CSV download
  decidim-core/app/assets/javascripts/decidim/vizzs/metrics.js.es6
  decidim-core/app/presenters/decidim/metric_charts_presenter.rb
  decidim-core/config/locales/en.yml
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/participatory_process_metric_charts_presenter.rb
  decidim-participatory_processes/spec/system/participatory_process_statistics_spec.rb
Labels: general: core, lot: mods, status: WIP

#4506 Improves Surveys README (installation, screenshot, documentation)
  decidim-surveys/README.md
  decidim-surveys/docs/screenshot01.png
  decidim-surveys/docs/screenshot02.png
Labels: status: WIP

#4603 Add email validations and confirmations to user groups
  CHANGELOG.md
  decidim-core/app/cells/decidim/profile_sidebar/show.erb
  decidim-core/app/cells/decidim/profile_sidebar_cell.rb
  decidim-core/app/controllers/decidim/devise/confirmations_controller.rb
  decidim-core/app/controllers/decidim/group_email_confirmations_controller.rb
  decidim-core/app/models/decidim/user_group.rb
  decidim-core/app/views/decidim/devise/shared/_links.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/db/seeds.rb
  decidim-core/spec/models/decidim/user_group_spec.rb
  decidim-core/spec/system/user_group_email_confirmation_spec.rb
  decidim-proposals/lib/decidim/proposals/component.rb
Labels: in-review, lot: core

#4612 Correctly render comments activity with mentions
  CHANGELOG.md
  decidim-comments/app/cells/decidim/comments/comment_activity_cell.rb
  decidim-comments/spec/cells/decidim/comments/comment_activity_cell_spec.rb
Labels: in-review

#4594 Fix meeting registration form with no questions show as already answered
  CHANGELOG.md
  decidim-forms/app/models/decidim/forms/questionnaire.rb
  decidim-meetings/app/commands/decidim/meetings/leave_meeting.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
Labels: in-review

#4605 Fix proposals created from collaborative drafts inherited attributes
  CHANGELOG.md
  decidim-proposals/app/commands/decidim/proposals/publish_collaborative_draft.rb
  decidim-proposals/spec/commands/decidim/proposals/publish_collaborative_draft_spec.rb
Labels: in-review, status: WIP

#4601 [FIX] Index admin-created proposals.
  CHANGELOG.md
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/services/decidim/proposals/searchable_proposal_resource_spec.rb
Labels: in-review

#4613 Verify user groups via CSV
  CHANGELOG.md
  decidim-admin/app/commands/decidim/admin/process_user_group_verification_csv.rb
  decidim-admin/app/commands/decidim/admin/verify_user_group.rb
  decidim-admin/app/controllers/decidim/admin/user_groups_csv_verifications_controller.rb
  decidim-admin/app/forms/decidim/admin/user_group_csv_verification_form.rb
  decidim-admin/app/jobs/decidim/admin/verify_user_group_from_csv_job.rb
  decidim-admin/app/views/decidim/admin/user_groups/index.html.erb
  decidim-admin/app/views/decidim/admin/user_groups_csv_verifications/new.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/spec/commands/decidim/admin/process_user_group_verification_csv_spec.rb
  decidim-admin/spec/commands/decidim/admin/verify_user_group_spec.rb
  decidim-admin/spec/forms/user_group_csv_verification_form_spec.rb
  decidim-admin/spec/jobs/verify_user_group_from_csv_job_spec.rb
  decidim-admin/spec/system/admin_verifies_user_groups_via_csv_spec.rb
  decidim-core/app/models/decidim/user_group.rb
  decidim-core/app/presenters/decidim/admin_log/user_group_presenter.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-dev/lib/decidim/dev/assets/verify_user_groups.csv
Labels: in-review, lot: core

#4616 Show everything being followed on the profile
  CHANGELOG.md
  decidim-core/app/cells/decidim/author/profile_minicard.erb
  decidim-core/app/cells/decidim/card_cell.rb
  decidim-core/app/cells/decidim/following/show.erb
  decidim-core/app/cells/decidim/following_cell.rb
  decidim-core/app/cells/decidim/profile_sidebar/show.erb
  decidim-core/app/models/decidim/follow.rb
  decidim-core/app/models/decidim/user_base_entity.rb
  decidim-core/db/migrate/20181204110723_remove_following_users_count_from_users.rb
  decidim-core/spec/models/decidim/follow_spec.rb
  decidim-core/spec/system/user_profile_spec.rb
Labels: in-review, lot: core

#4614 Don't eager-load polymorphic relations
  CHANGELOG.md
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_controller.rb
Labels: in-review

#4615 Fix nickname generation
  CHANGELOG.md
  decidim-admin/app/controllers/decidim/admin/impersonations_controller.rb
  decidim-conferences/app/commands/decidim/conferences/admin/invite_user_to_join_conference.rb
  decidim-core/app/commands/decidim/invite_user.rb
  decidim-core/app/forms/decidim/omniauth_registration_form.rb
  decidim-core/db/migrate/20171212103803_create_unique_nicknames.rb
  decidim-core/db/migrate/20180221101934_fix_nickname_index.rb
  decidim-core/db/migrate/20180706104107_add_nickname_to_managed_users.rb
  decidim-core/db/migrate/20181001124950_move_users_groups_to_users_table.rb
Labels: in-review, status: WIP

#4567 Feature version control amendments proposals on proposals
  CHANGELOG.md
  decidim-core/app/commands/decidim/amendable/accept.rb
  decidim-core/app/commands/decidim/amendable/promote.rb
  decidim-core/app/commands/decidim/amendable/reject.rb
  decidim-core/lib/decidim/core/test/shared_examples/amendable/accept_amendment_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/amendable/reject_amendment_examples.rb
  decidim-proposals/app/commands/decidim/proposals/create_collaborative_draft.rb
  decidim-proposals/app/commands/decidim/proposals/create_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/publish_collaborative_draft.rb
  decidim-proposals/app/commands/decidim/proposals/publish_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/update_collaborative_draft.rb
  decidim-proposals/app/commands/decidim/proposals/update_proposal.rb
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/controllers/decidim/proposals/versions_controller.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/app/helpers/decidim/proposals/control_version_helper.rb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/app/views/decidim/proposals/versions/_version.html.erb
  decidim-proposals/app/views/decidim/proposals/versions/index.html.erb
  decidim-proposals/app/views/decidim/proposals/versions/show.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/spec/commands/decidim/proposals/create_collaborative_draft_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/create_proposal_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/publish_proposal_spec.rb
  decidim-proposals/spec/system/endorse_proposal_spec.rb
  decidim-proposals/spec/system/proposals_versions_spec.rb
Labels: in-review

#4591 Fix admin cannot access public view of private processes by default
  CHANGELOG.md
  decidim-assemblies/app/controllers/decidim/assemblies/assemblies_controller.rb
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/app/queries/decidim/assemblies/visible_assemblies.rb
  decidim-assemblies/spec/system/private_assemblies_spec.rb
  decidim-core/app/controllers/concerns/decidim/participatory_space_context.rb
  decidim-debates/spec/system/private_space_debate_spec.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_processes_controller.rb
  decidim-participatory_processes/app/permissions/decidim/participatory_processes/permissions.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/visible_participatory_processes.rb
  decidim-participatory_processes/spec/system/private_participatory_processes_spec.rb
  decidim-proposals/spec/system/private_space_proposal_spec.rb
  decidim-surveys/spec/system/private_space_survey_spec.rb
Labels: in-review

#4618 Feature filter by type amendments proposals on proposals
  CHANGELOG.md
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/app/services/decidim/proposals/proposal_search.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_filters.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/proposals_spec.rb
Labels: in-review

#4620 Add the participatory space to the meeting directory listing
  CHANGELOG.md
  decidim-meetings/app/views/decidim/meetings/directory/meetings/_meetings.html.erb
Labels: in-review

#4617 Add amend button and amendments counter to participatory text proposals
  CHANGELOG.md
  decidim-core/app/cells/decidim/follow_button/show.erb
  decidim-core/app/helpers/decidim/amendments_helper.rb
  decidim-proposals/app/cells/decidim/proposals/participatory_text_proposal/buttons.erb
  decidim-proposals/app/cells/decidim/proposals/participatory_text_proposal_cell.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/system/participatory_texts_spec.rb
Labels: in-review, status: WIP

#4624 Remove current_feature
  CHANGELOG.md
  decidim-core/app/controllers/decidim/components/base_controller.rb
Labels: in-review

#4626 Fix searching for initiatives by type
  CHANGELOG.md
  decidim-initiatives/app/services/decidim/initiatives/initiative_search.rb
Labels: in-review

#4623 Fix meeting form when only one locale is available
  CHANGELOG.md
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/lib/form_builder_spec.rb
  decidim-meetings/spec/shared/manage_meetings_examples.rb
Labels: in-review, status: WIP

#4628 Use bigint instead of int for projects
  CHANGELOG.md
  decidim-budgets/db/migrate/20181205141115_use_big_ints_for_budgets.rb
Labels: in-review

#4625 Fix meeting form when only one locale is available (backported to 0.15)
  CHANGELOG.md
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/lib/form_builder_spec.rb
  decidim-meetings/spec/shared/manage_meetings_examples.rb
Labels: status: WIP

#4631 Return a 404 when a result doesn't exist
  CHANGELOG.md
  decidim-accountability/app/controllers/decidim/accountability/results_controller.rb
Labels: in-review

#4634 Fix iniative edit when missing scope
  CHANGELOG.md
  decidim-initiatives/app/models/decidim/initiatives_type_scope.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives_types/_initiative_type_scopes.html.erb
  decidim-initiatives/config/locales/en.yml
Labels: in-review, status: WIP

#4629 Fix newsletter rendering when locale content is missing
  CHANGELOG.md
  decidim-core/app/mailers/decidim/newsletter_mailer.rb
  decidim-core/spec/mailers/newsletter_mailer_spec.rb
Labels: in-review, status: WIP

#4632 Don't crash when a log is in an unavailable locale
  CHANGELOG.md
  decidim-core/app/services/decidim/log/diff_changeset_calculator.rb
  decidim-core/spec/services/decidim/log/diff_changeset_calculator_spec.rb
Labels: in-review, status: WIP

#4633 Add missing locales for organization errors
  CHANGELOG.md
  decidim-admin/config/locales/en.yml
Labels: in-review, status: WIP

#4637 Don't crash on registration
  CHANGELOG.md
  decidim-core/app/commands/decidim/create_registration.rb
Labels: status: WIP

#4638 Better handling setting process step position
  CHANGELOG.md
  decidim-participatory_processes/app/models/decidim/participatory_process_step.rb
Labels: status: WIP

#4639 Fix comments schema
  CHANGELOG.md
  decidim-comments/app/assets/javascripts/decidim/comments/bundle.js
  decidim-comments/app/frontend/support/schema.ts
  decidim-comments/lib/decidim/comments/api/comment_type.rb
Labels: status: WIP

#4642 Fix SettingsChangeJob
  CHANGELOG.md
  decidim-debates/app/jobs/decidim/debates/settings_change_job.rb
  decidim-proposals/app/jobs/decidim/proposals/settings_change_job.rb
  decidim-surveys/app/jobs/decidim/surveys/settings_change_job.rb
Labels: lot: core, status: WIP

#4636 Add notification to conferences and meetings registrations
  CHANGELOG.md
  decidim-conferences/app/commands/decidim/conferences/admin/confirm_conference_registration.rb
  decidim-conferences/app/commands/decidim/conferences/join_conference.rb
  decidim-conferences/app/events/decidim/conferences/conference_registration_notification_event.rb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/spec/commands/confirm_conference_registration_spec.rb
  decidim-conferences/spec/commands/join_conference_spec.rb
  decidim-meetings/app/commands/decidim/meetings/join_meeting.rb
  decidim-meetings/app/events/decidim/meetings/meeting_registration_notification_event.rb
  decidim-meetings/app/helpers/decidim/meetings/meetings_helper.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/commands/join_meeting_spec.rb
  decidim-meetings/spec/shared/manage_invites_examples.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-meetings/spec/system/private_meetings_spec.rb
Labels: in-review

#4643 Do not notify comment authors about their comments
  CHANGELOG.md
  decidim-comments/app/services/decidim/comments/new_comment_notification_creator.rb
  decidim-comments/spec/services/decidim/comments/new_comment_notification_creator_spec.rb
Labels: lot: core, status: WIP

#4641 Disable space deletion
  CHANGELOG.md
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assemblies_controller.rb
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/edit.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/lib/decidim/assemblies/admin_engine.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_spec.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conferences_controller.rb
  decidim-conferences/app/permissions/decidim/conferences/permissions.rb
  decidim-conferences/app/views/decidim/conferences/admin/conferences/edit.html.erb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/lib/decidim/conferences/admin_engine.rb
  decidim-conferences/spec/permissions/decidim/conferences/permissions_spec.rb
  decidim-conferences/spec/shared/manage_conferences_examples.rb
  decidim-consultations/app/controllers/decidim/consultations/admin/consultations_controller.rb
  decidim-consultations/app/permissions/decidim/consultations/admin/permissions.rb
  decidim-consultations/config/locales/en.yml
  decidim-consultations/lib/decidim/consultations/admin_engine.rb
  decidim-consultations/spec/permissions/decidim/consultations/admin/permissions_spec.rb
  decidim-consultations/spec/system/admin/admin_manages_consultations_spec.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_processes_controller.rb
  decidim-participatory_processes/app/permissions/decidim/participatory_processes/permissions.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/edit.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/lib/decidim/participatory_processes/admin_engine.rb
  decidim-participatory_processes/spec/permissions/decidim/participatory_processes/permissions_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_processes_spec.rb
Labels: in-review

#4646 Add Decidim::Antivirus community module to the README
  README.md
Labels: status: WIP

#4621 Let users define their interests
  CHANGELOG.md
  decidim-core/app/commands/decidim/update_user_interests.rb
  decidim-core/app/controllers/decidim/user_interests_controller.rb
  decidim-core/app/forms/decidim/user_interest_area_form.rb
  decidim-core/app/forms/decidim/user_interest_scope_form.rb
  decidim-core/app/forms/decidim/user_interests_form.rb
  decidim-core/app/models/decidim/action_log.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/services/decidim/action_logger.rb
  decidim-core/app/services/decidim/activity_search.rb
  decidim-core/app/views/decidim/user_interests/_areas.html.erb
  decidim-core/app/views/decidim/user_interests/_scopes.html.erb
  decidim-core/app/views/decidim/user_interests/show.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/db/migrate/20181211080834_add_scope_to_action_logs.rb
  decidim-core/db/migrate/20181211090933_add_area_to_action_logs.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/commands/decidim/update_user_interests_spec.rb
  decidim-core/spec/lib/traceable_spec.rb
  decidim-core/spec/services/decidim/action_logger_spec.rb
  decidim-core/spec/services/decidim/activity_search_spec.rb
  decidim-core/spec/services/decidim/traceability_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/initiatives_controller_spec.rb
  decidim-meetings/spec/commands/admin/update_meeting_spec.rb
Labels: in-review, lot: core, status: WIP

#4664 Crop long words
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
Labels: status: Ready-to-dev

#4666 Fix design app fast login views
  decidim_app-design/app/views/public/user/user-profile-fast-login-user-existent.html.erb
  decidim_app-design/app/views/public/user/user-profile-fast-login-user-new.html.erb
  decidim_app-design/app/views/public/user/user-profile-fast-login.html.erb
Labels: in-review

#4659 Feature filter assemblies by type
  CHANGELOG.md
  config/i18n-tasks.yml
  decidim-assemblies/app/controllers/decidim/assemblies/assemblies_controller.rb
  decidim-assemblies/app/helpers/decidim/assemblies/assemblies_helper.rb
  decidim-assemblies/app/helpers/decidim/assemblies/filter_assemblies_helper.rb
  decidim-assemblies/app/queries/decidim/assemblies/filtered_assemblies.rb
  decidim-assemblies/app/views/decidim/assemblies/_filter_by_type.html.erb
  decidim-assemblies/app/views/decidim/assemblies/_order_by_assemblies.html.erb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/_count.html.erb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/index.html.erb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/index.js.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/system/assemblies_spec.rb
Labels: in-review

#4651 force graphql and graphiql versions to prevent errors
  Gemfile.lock
  decidim-api/decidim-api.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: status: WIP

#4673 Wrap large url links
  decidim-core/app/assets/stylesheets/decidim/modules/_margins.scss
Labels: status: Ready-to-dev

#4665 4647 initiatives reference code
  CHANGELOG.md
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_controller.rb
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/index.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/db/migrate/20181211112538_add_reference_to_initiatives.rb
  decidim-initiatives/spec/models/decidim/initiative_spec.rb
  decidim-initiatives/spec/system/initiative_spec.rb
Labels: in-review, status: WIP

#4678 Fix background-size on home page
  CHANGELOG.md
  decidim-core/app/assets/stylesheets/decidim/layouts/_home.scss
Labels: status: WIP

#4679 Remove areas from user interests
  CHANGELOG.md
  decidim-core/app/commands/decidim/update_user_interests.rb
  decidim-core/app/controllers/decidim/user_timeline_controller.rb
  decidim-core/app/forms/decidim/user_interest_area_form.rb
  decidim-core/app/forms/decidim/user_interests_form.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/services/decidim/activity_search.rb
  decidim-core/app/views/decidim/user_interests/show.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/commands/decidim/update_user_interests_spec.rb
  decidim-core/spec/services/decidim/activity_search_spec.rb
Labels: in-review, lot: core

#4680 Remove current_feature backport
  CHANGELOG.md
  decidim-core/app/controllers/decidim/components/base_controller.rb
Labels: in-review

#4682 Update Ransack
  CHANGELOG.md
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: in-review

#4683 Update Ransack backport
  CHANGELOG.md
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: in-review, status: WIP

#4704 Add Sublime Text 3 .tags file to gitignore.
  .gitignore
Labels: in-review

#4705 [DOC] Add some docs in how Handlers/Verifications are made visible
  decidim-verifications/README.md
Labels: in-review

#4702 Filter meetings by end time instead of start time
  CHANGELOG.md
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/services/decidim/meetings/meeting_search.rb
  decidim-meetings/spec/services/meeting_search_spec.rb
Labels: in-review

#4703 Fix meeting search backport
  CHANGELOG.md
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/services/decidim/meetings/meeting_search.rb
  decidim-meetings/spec/services/meeting_search_spec.rb
Labels: in-review
