Repository decidim/decidim, pull requests merged in 2018-03, with the labels that each got.

#2868 Simplify and improve README instructions
  README.md
Labels: in-progress

#2867 Data picker improvements
  CHANGELOG.md
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_forms.scss
  decidim-core/app/assets/javascripts/decidim/data_picker.js.es6
  decidim-core/app/assets/stylesheets/decidim/modules/_data-picker.scss
  decidim-core/app/helpers/decidim/scopes_helper.rb
Labels: in-progress

#2866 Get rubocop Rails cops applied
  .rubocop-rails.yml
  .rubocop.yml
  decidim-accountability/.rubocop.yml
  decidim-admin/.rubocop.yml
  decidim-api/.rubocop.yml
  decidim-assemblies/.rubocop.yml
  decidim-budgets/.rubocop.yml
  decidim-comments/.rubocop.yml
  decidim-core/.rubocop.yml
  decidim-debates/.rubocop.yml
  decidim-dev/.rubocop.yml
  decidim-meetings/.rubocop.yml
  decidim-pages/.rubocop.yml
  decidim-participatory_processes/.rubocop.yml
  decidim-proposals/.rubocop.yml
  decidim-surveys/.rubocop.yml
  decidim-system/.rubocop.yml
  decidim-verifications/.rubocop.yml
Labels: in-progress

#2854 Log actions on scopes
  CHANGELOG.md
  decidim-admin/app/commands/decidim/admin/create_scope.rb
  decidim-admin/app/commands/decidim/admin/destroy_scope.rb
  decidim-admin/app/commands/decidim/admin/update_scope.rb
  decidim-admin/app/controllers/decidim/admin/scopes_controller.rb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/commands/create_scope_spec.rb
  decidim-admin/spec/commands/destroy_scope_spec.rb
  decidim-admin/spec/commands/update_scope_spec.rb
  decidim-core/app/models/decidim/scope.rb
  decidim-core/app/presenters/decidim/admin_log/scope_presenter.rb
  decidim-core/app/presenters/decidim/log/value_types/scope_type_presenter.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/models/decidim/scope_spec.rb
Labels: in-review, lot: core

#2860 Log process updates
  CHANGELOG.md
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/update_participatory_process.rb
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/admin_log/participatory_process_presenter.rb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/spec/commands/update_participatory_process_spec.rb
Labels: in-review, lot: core

#2870 Do not run CircleCI on Crowdin PRs
  .circleci/config.yml
Labels: in-review, lot: core

#2858 Log assembly creation, update and (un)publication
  CHANGELOG.md
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/publish_assembly.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/unpublish_assembly.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assembly.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_publications_controller.rb
  decidim-assemblies/app/models/decidim/assembly.rb
  decidim-assemblies/app/presenters/decidim/assemblies/admin_log/assembly_presenter.rb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-assemblies/spec/commands/publish_assembly_spec.rb
  decidim-assemblies/spec/commands/unpublish_assembly_spec.rb
  decidim-assemblies/spec/commands/update_assembly_spec.rb
  decidim-assemblies/spec/models/decidim/assembly_spec.rb
  decidim-core/app/presenters/decidim/log/value_types/area_presenter.rb
  decidim-core/app/presenters/decidim/log/value_types/scope_presenter.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/presenters/decidim/log/value_types/area_presenter_spec.rb
Labels: in-review, lot: core

#2875 Rubocop rails followup
  .rubocop_rails.yml
  decidim-accountability/.rubocop.yml
  decidim-accountability/.rubocop_rails.yml
  decidim-admin/.rubocop.yml
  decidim-admin/.rubocop_rails.yml
  decidim-api/.rubocop.yml
  decidim-api/.rubocop_rails.yml
  decidim-assemblies/.rubocop.yml
  decidim-assemblies/.rubocop_rails.yml
  decidim-budgets/.rubocop.yml
  decidim-budgets/.rubocop_rails.yml
  decidim-comments/.rubocop.yml
  decidim-comments/.rubocop_rails.yml
  decidim-core/.rubocop.yml
  decidim-core/.rubocop_rails.yml
  decidim-debates/.rubocop.yml
  decidim-debates/.rubocop_rails.yml
  decidim-dev/.rubocop.yml
  decidim-dev/.rubocop_rails.yml
  decidim-meetings/.rubocop.yml
  decidim-meetings/.rubocop_rails.yml
  decidim-pages/.rubocop.yml
  decidim-pages/.rubocop_rails.yml
  decidim-participatory_processes/.rubocop.yml
  decidim-participatory_processes/.rubocop_rails.yml
  decidim-proposals/.rubocop.yml
  decidim-proposals/.rubocop_rails.yml
  decidim-surveys/.rubocop.yml
  decidim-surveys/.rubocop_rails.yml
  decidim-system/.rubocop.yml
  decidim-system/.rubocop_rails.yml
  decidim-verifications/.rubocop.yml
  decidim-verifications/.rubocop_rails.yml
Labels: in-progress

#2873 XL proposal card
  decidim-core/app/assets/stylesheets/decidim/modules/_typography.scss
  decidim_app-design/app/views/public/proposals/proposal-view-following.html.erb
  decidim_app-design/app/views/public/proposals/proposal-view-identity-selector.html.erb
  decidim_app-design/app/views/public/proposals/proposal-view-login.html.erb
  decidim_app-design/app/views/public/proposals/proposal-view-no-endorsements.html.erb
  decidim_app-design/app/views/public/proposals/proposal-view-rejected.html.erb
  decidim_app-design/app/views/public/proposals/proposal-view-voted.html.erb
  decidim_app-design/app/views/public/proposals/proposal-view.html.erb
Labels: status: ready

#2881 Generator tweaks
  lib/generators/decidim/app_generator.rb
  lib/generators/decidim/install_generator.rb
Labels: in-progress

#2877 Lint JS indentation
  .eslintrc.json
  decidim-accountability/app/assets/javascripts/decidim/accountability/version_diff.js.es6
  decidim-budgets/app/assets/javascripts/decidim/budgets/progressFixed.js.es6
  decidim-core/app/assets/javascripts/decidim/data_picker.js.es6
  decidim-core/app/assets/javascripts/decidim/form_filter.component.js.es6
Labels: in-progress

#2876 Log actions on process steps
  CHANGELOG.md
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/activate_participatory_process_step.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/create_participatory_process_step.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/deactivate_participatory_process_step.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/destroy_participatory_process_step.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/update_participatory_process_step.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_step_activations_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_steps_controller.rb
  decidim-participatory_processes/app/models/decidim/participatory_process_step.rb
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/admin_log/step_presenter.rb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/spec/commands/create_participatory_process_step_spec.rb
  decidim-participatory_processes/spec/commands/deactivate_participatory_process_step_spec.rb
  decidim-participatory_processes/spec/commands/decidim/participatory_processes/admin/activate_participatory_process_step_spec.rb
  decidim-participatory_processes/spec/commands/destroy_participatory_process_step_spec.rb
  decidim-participatory_processes/spec/commands/update_participatory_process_step_spec.rb
  decidim-participatory_processes/spec/models/decidim/participatory_process_step_spec.rb
Labels: in-review, lot: core

#2878 More shared spec improvements
  decidim-accountability/spec/shared/admin_shared_context.rb
  decidim-accountability/spec/shared/export_results_examples.rb
  decidim-accountability/spec/shared/manage_results_examples.rb
  decidim-accountability/spec/shared/shared_context.rb
  decidim-accountability/spec/system/admin_manages_accountability_spec.rb
  decidim-accountability/spec/system/process_admin_manages_accountability_spec.rb
  decidim-proposals/spec/controllers/decidim/admin/admin_shared_context.rb
Labels: in-progress

#2874 Log actions on assembly user roles
  CHANGELOG.md
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly_admin.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/destroy_assembly_admin.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assembly_admin.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_user_roles_controller.rb
  decidim-assemblies/app/models/decidim/assembly_user_role.rb
  decidim-assemblies/app/presenters/decidim/assemblies/admin_log/assembly_user_role_presenter.rb
  decidim-assemblies/app/presenters/decidim/assemblies/admin_log/value_types/role_presenter.rb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/commands/create_assembly_admin_spec.rb
  decidim-assemblies/spec/commands/destroy_assembly_admin_spec.rb
  decidim-assemblies/spec/commands/update_assembly_admin_spec.rb
  decidim-assemblies/spec/models/decidim/assembly_user_role_spec.rb
  decidim-core/spec/presenters/decidim/log/base_presenter_spec.rb
Labels: in-review, lot: core

#2882 Validate disposable accounts on form
  decidim-core/app/forms/decidim/registration_form.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/spec/forms/registration_form_spec.rb
  decidim-core/spec/models/decidim/user_spec.rb
Labels: in-progress

#2883 [FIX] Mispelling in available_locales initializer.
  CHANGELOG.md
  decidim-core/lib/decidim/core.rb
Labels: in-review

#2884 Log feature (un)publication
  CHANGELOG.md
  decidim-admin/app/commands/decidim/admin/publish_feature.rb
  decidim-admin/app/commands/decidim/admin/unpublish_feature.rb
  decidim-admin/app/controllers/decidim/admin/features_controller.rb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/commands/publish_feature_spec.rb
  decidim-admin/spec/commands/unpublish_feature_spec.rb
  decidim-core/app/presenters/decidim/admin_log/feature_presenter.rb
  decidim-core/config/locales/en.yml
Labels: in-review, lot: core

#2889 Enable space-infix-ops eslint cop
  .eslintrc.json
  decidim-core/app/assets/javascripts/decidim/form_filter.component.js.es6
  decidim-proposals/app/assets/javascripts/decidim/proposals/identity_selector_dialog.js.es6
Labels: in-progress

#2890 Remove unnecessary `allow_nil`'s
  decidim-budgets/app/models/decidim/budgets/order.rb
  decidim-core/lib/decidim/authorable.rb
  decidim-core/lib/decidim/has_feature.rb
Labels: in-progress

#2898 Remove participatory process references from assemblies
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_copy_form.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_form.rb
  decidim-assemblies/app/models/decidim/assemblies/abilities/admin/assembly_role_ability.rb
  decidim-assemblies/app/models/decidim/assemblies/abilities/assembly_role_ability.rb
  decidim-core/lib/decidim/abilities/participatory_process_role_ability.rb
Labels: in-progress

#2896 Improve test tasks
  .codeclimate.yml
  Rakefile
  docs/advanced/activity_log.md
  docs/advanced/content_processors.md
  docs/advanced/migrate_to_0.8.0.md
  docs/advanced/testing.md
  docs/advanced/view_hooks.md
  lib/decidim/component_manager.rb
Labels: in-progress

#2895 Refactor scopes
  CHANGELOG.md
  decidim-accountability/app/forms/decidim/accountability/admin/result_form.rb
  decidim-accountability/app/models/decidim/accountability/result.rb
  decidim-admin/app/helpers/decidim/admin/scopes_helper.rb
  decidim-assemblies/app/models/decidim/assembly.rb
  decidim-budgets/app/forms/decidim/budgets/admin/project_form.rb
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-core/app/helpers/decidim/scopes_helper.rb
  decidim-core/app/models/decidim/feature.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/has_scope.rb
  decidim-core/lib/decidim/scopable.rb
  decidim-core/lib/decidim/scopable_feature.rb
  decidim-debates/app/forms/decidim/debates/debate_form.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/spec/forms/decidim/debates/admin/debate_form_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/feature.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/spec/forms/admin/meeting_form_spec.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_form.rb
  decidim-proposals/app/forms/decidim/proposals/proposal_form.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_proposal-tr.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/index.html.erb
  decidim-proposals/spec/commands/decidim/proposals/create_proposal_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/update_proposal_spec.rb
  decidim-proposals/spec/shared/create_proposal_examples.rb
  decidim-proposals/spec/system/participatory_process_groups_view_hooks_spec.rb
Labels: in-progress

#2886 Log page updates
  CHANGELOG.md
  decidim-pages/app/commands/decidim/pages/admin/update_page.rb
  decidim-pages/app/models/decidim/pages/page.rb
  decidim-pages/app/presenters/decidim/pages/admin_log/page_presenter.rb
  decidim-pages/config/locales/en.yml
  decidim-pages/spec/commands/update_page_spec.rb
  decidim-pages/spec/models/page_spec.rb
Labels: in-review, lot: core

#2880 Scopes forms missing features
  .codeclimate.yml
  CHANGELOG.md
  decidim-core/app/helpers/decidim/decidim_form_helper.rb
  decidim-core/app/helpers/decidim/scopes_helper.rb
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/helpers/decidim/decidim_form_helper_spec.rb
  decidim-core/spec/helpers/decidim/scopes_helper_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/html_matchers.rb
Labels: in-progress

#2903 Log debates creation and update
  CHANGELOG.md
  config/i18n-tasks.yml
  decidim-core/app/services/decidim/traceability.rb
  decidim-debates/app/commands/decidim/debates/admin/create_debate.rb
  decidim-debates/app/commands/decidim/debates/admin/update_debate.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/app/presenters/decidim/debates/admin_log/debate_presenter.rb
  decidim-debates/config/locales/en.yml
  decidim-debates/db/migrate/20180305092347_drop_category_id_column.rb
  decidim-debates/spec/commands/decidim/debates/admin/create_debate_spec.rb
  decidim-debates/spec/commands/decidim/debates/admin/update_debate_spec.rb
  decidim-debates/spec/models/decidim/debates/debate_spec.rb
Labels: in-review, lot: core

#2906 Update translations
  decidim-pages/config/locales/ca.yml
  decidim-pages/config/locales/eu.yml
  decidim-pages/config/locales/fi.yml
  decidim-pages/config/locales/fr.yml
  decidim-pages/config/locales/gl.yml
  decidim-pages/config/locales/it.yml
  decidim-pages/config/locales/nl.yml
  decidim-pages/config/locales/pl.yml
  decidim-pages/config/locales/pt-BR.yml
  decidim-pages/config/locales/pt.yml
Labels: in-progress

#2905 Trace official proposal creation
  CHANGELOG.md
  decidim-proposals/app/commands/decidim/proposals/admin/create_proposal.rb
  decidim-proposals/app/presenters/decidim/proposals/admin_log/proposal_presenter.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/shared/create_proposal_examples.rb
Labels: in-review, lot: core

#2907 Log proposal notes
  CHANGELOG.md
  decidim-proposals/app/commands/decidim/proposals/admin/create_proposal_note.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/proposal_notes_controller.rb
  decidim-proposals/app/models/decidim/proposals/proposal_note.rb
  decidim-proposals/app/presenters/decidim/proposals/admin_log/proposal_note_presenter.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/commands/decidim/proposals/admin_create_proposal_note_spec.rb
  decidim-proposals/spec/models/decidim/proposals/proposal_note_spec.rb
Labels: in-review, lot: core

#2912 Scope officializations to organization users
  CHANGELOG.md
  decidim-admin/app/controllers/decidim/admin/officializations_controller.rb
  decidim-admin/app/queries/decidim/admin/users_officialization.rb
  decidim-admin/spec/queries/users_officialization_spec.rb
  decidim-admin/spec/system/admin_manages_officializations_spec.rb
Labels: in-review, lot: core

#2916 Fix folder changing in component manager
  lib/decidim/component_manager.rb
Labels: in-progress

#2917 Remove unnecessary executable permissions
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.ca.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.es.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.eu.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.fi.js
  decidim-core/vendor/assets/javascripts/leaflet.markercluster.js
Labels: in-progress

#2915 Add missing i18n in assemblies
  decidim-assemblies/config/locales/en.yml
Labels: in-review, lot: core

#2584 Feature/2348 proposal selection from accountability with autoComplete
  .codeclimate.yml
  CHANGELOG.md
  decidim-accountability/app/assets/javascripts/decidim/accountability/admin/accountability_admin.js
  decidim-accountability/app/assets/javascripts/decidim/accountability/admin/accountability_admin.js.es6
  decidim-accountability/app/controllers/decidim/accountability/admin/results_controller.rb
  decidim-accountability/app/forms/decidim/accountability/admin/result_form.rb
  decidim-accountability/app/views/decidim/accountability/admin/results/_form.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/results/_proposals.html.erb
  decidim-accountability/config/locales/en.yml
  decidim-accountability/lib/decidim/accountability/admin_engine.rb
  decidim-accountability/spec/controllers/decidim/accountability/admin/results_controller_spec.rb
  decidim-accountability/spec/forms/admin/result_form_spec.rb
  decidim-admin/app/assets/javascripts/decidim/admin/application.js.es6
  decidim-admin/app/assets/stylesheets/decidim/admin/_decidim.scss
  decidim-admin/vendor/assets/javascripts/jquery.auto-complete.js
  decidim-admin/vendor/assets/stylesheets/plugins/jquery.auto-complete.css
  decidim-core/app/views/decidim/widgets/_data_picker.html.erb
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/lib/decidim/resourceable.rb
  decidim-core/spec/lib/resourceable_spec.rb
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/spec/models/decidim/proposals/subscribed_events_spec.rb
  docs/data-picker.md
Labels: in-review

#2920 Add scope breaking changes to CHANGELOG
  CHANGELOG.md
Labels: in-progress

#2911 Log actions on meetings
  CHANGELOG.md
  config/i18n-tasks.yml
  decidim-meetings/app/commands/decidim/meetings/admin/close_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/destroy_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/meetings_controller.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/presenters/decidim/meetings/admin_log/meeting_presenter.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/commands/admin/close_meeting_spec.rb
  decidim-meetings/spec/commands/admin/create_meeting_spec.rb
  decidim-meetings/spec/commands/admin/destroy_meeting_spec.rb
  decidim-meetings/spec/commands/admin/update_meeting_spec.rb
  decidim-meetings/spec/models/meeting_spec.rb
Labels: in-review, lot: core

#2806 Add announcement to debates
  CHANGELOG.md
  decidim-debates/app/views/decidim/debates/debates/index.html.erb
  decidim-debates/config/locales/en.yml
  decidim-debates/lib/decidim/debates/feature.rb
  decidim-debates/spec/system/admin_manages_debates_spec.rb
  decidim-debates/spec/system/explore_debates_spec.rb
Labels: in-review

#2921 Scope officializations to organization users (#2912)
  CHANGELOG.md
  decidim-admin/app/controllers/decidim/admin/officializations_controller.rb
  decidim-admin/app/queries/decidim/admin/users_officialization.rb
  decidim-admin/spec/queries/users_officialization_spec.rb
  decidim-admin/spec/system/admin_manages_newsletters_spec.rb
  decidim-admin/spec/system/admin_manages_officializations_spec.rb
Labels: backport, in-review, lot: core

#2927 Update Rakefile to use npm instead of yarn
  Rakefile
  decidim-comments/README.md
Labels: in-progress

#2924 Update missing dependencies
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-proposals/spec/commands/decidim/proposals/admin_update_proposal_category_spec.rb
  package-lock.json
  package.json
Labels: in-progress

#2928 Fix missing translations at 0.9
  CHANGELOG.md
  decidim-admin/spec/events/decidim/participatory_process_step_activated_event_spec.rb
  decidim-core/config/locales/ca.yml
  decidim-core/config/locales/en.yml
  decidim-core/config/locales/es.yml
  decidim-core/config/locales/eu.yml
  decidim-core/config/locales/fi.yml
  decidim-core/config/locales/fr.yml
  decidim-core/config/locales/gl.yml
  decidim-core/config/locales/it.yml
  decidim-core/config/locales/nl.yml
  decidim-core/config/locales/pl.yml
  decidim-core/config/locales/pt-BR.yml
  decidim-core/config/locales/pt.yml
  decidim-core/config/locales/sv.yml
  decidim-proposals/config/locales/es.yml
Labels: in-progress

#2936 Handle no logs scenario
  decidim-admin/app/assets/stylesheets/decidim/admin/extra/_logs.scss
  decidim-admin/app/views/decidim/admin/dashboard/show.html.erb
  decidim-admin/app/views/decidim/admin/logs/_logs_list.html.erb
  decidim-admin/config/locales/en.yml
Labels: in-review, lot: core

#2932 Remove coupling with feature
  decidim-core/lib/decidim/authorable.rb
  decidim-core/lib/decidim/has_feature.rb
Labels: in-progress

#2940 Update translations
  decidim-admin/config/locales/ca.yml
  decidim-admin/config/locales/es.yml
  decidim-admin/config/locales/eu.yml
  decidim-admin/config/locales/fi.yml
  decidim-admin/config/locales/fr.yml
  decidim-admin/config/locales/gl.yml
  decidim-admin/config/locales/it.yml
  decidim-admin/config/locales/nl.yml
  decidim-admin/config/locales/pl.yml
  decidim-admin/config/locales/pt-BR.yml
  decidim-admin/config/locales/pt.yml
  decidim-admin/config/locales/sv.yml
  decidim-assemblies/config/locales/fr.yml
  decidim-debates/config/locales/ca.yml
  decidim-meetings/config/locales/fr.yml
  decidim-participatory_processes/config/locales/fr.yml
  decidim-proposals/config/locales/fr.yml
Labels: in-progress, in-review

#2945 Remove the link and the path to view single areas on admin
  decidim-admin/app/views/decidim/admin/areas/index.html.erb
Labels: in-progress

#2948 Use i18n normalize builtin task
  Gemfile.lock
  spec/i18n_spec.rb
Labels: in-progress

#2946 Add PostalLetter form fields locales
  decidim-verifications/config/locales/en.yml
Labels: in-progress

#2939 Fix GraphQL API loading bug
  .rubocop.yml
  decidim-core/lib/decidim/api/author_interface.rb
  decidim-core/lib/decidim/api/component_interface.rb
  decidim-core/lib/decidim/api/participatory_space_interface.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/query_extensions.rb
Labels: in-review, target: developer-experience, type: bug

#2951 Import locales from Crowdin
  decidim-verifications/config/locales/ca.yml
  decidim-verifications/config/locales/es.yml
  decidim-verifications/config/locales/eu.yml
  decidim-verifications/config/locales/fi.yml
  decidim-verifications/config/locales/fr.yml
  decidim-verifications/config/locales/gl.yml
  decidim-verifications/config/locales/it.yml
  decidim-verifications/config/locales/nl.yml
  decidim-verifications/config/locales/pl.yml
  decidim-verifications/config/locales/pt-BR.yml
  decidim-verifications/config/locales/pt.yml
  decidim-verifications/config/locales/sv.yml
Labels: in-review, lot: core

#2954 Fix parent results progress
  CHANGELOG.md
  decidim-accountability/app/views/decidim/accountability/results/_show_leaf.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_show_parent.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_stats_box.html.erb
  decidim-accountability/spec/system/explore_results_spec.rb
Labels: in-progress

#2957 Fix parent results progress
  CHANGELOG.md
  decidim-accountability/app/views/decidim/accountability/results/_show_leaf.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_show_parent.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_stats_box.html.erb
  decidim-accountability/spec/system/explore_results_spec.rb
Labels: backport, in-review

#2929 Enable test metadata at CI
  .circleci/config.yml
  Gemfile.lock
  decidim-dev/decidim-dev.gemspec
  decidim-dev/lib/decidim/dev/common_rake.rb
Labels: in-progress

#2958 Fix UserPresenter#nickname
  CHANGELOG.md
  decidim-core/app/presenters/decidim/user_presenter.rb
Labels: general: core, in-review, lot: core

#2960 [BACKPORT] Fix UserPresenter#nickname (#2958)
  CHANGELOG.md
  decidim-core/app/presenters/decidim/user_presenter.rb
Labels: backport, in-progress, lot: core

#2959 Scope authorizations to current organization
  CHANGELOG.md
  decidim-core/app/models/decidim/abilities/base_ability.rb
  decidim-core/app/models/decidim/authorization.rb
  decidim-core/app/services/decidim/action_authorizer.rb
  decidim-verifications/app/controllers/decidim/verifications/authorizations_controller.rb
  decidim-verifications/app/controllers/decidim/verifications/id_documents/admin/pending_authorizations_controller.rb
  decidim-verifications/app/controllers/decidim/verifications/postal_letter/admin/pending_authorizations_controller.rb
  decidim-verifications/app/queries/decidim/verifications/authorizations.rb
  decidim-verifications/spec/commmands/decidim/verifications/authorize_user_spec.rb
  decidim-verifications/spec/commmands/decidim/verifications/confirm_user_authorization_spec.rb
  decidim-verifications/spec/commmands/decidim/verifications/perform_authorization_step_spec.rb
  decidim-verifications/spec/queries/decidim/verifications/authorizations_spec.rb
  decidim-verifications/spec/system/authorizations_spec.rb
  decidim-verifications/spec/system/postal_letter/postal_letter_admin_spec.rb
Labels: component: authorizations, in-progress, lot: core

#2962 [BACKPORT] Scope authorizations to current organization (#2959)
  CHANGELOG.md
  decidim-core/app/models/decidim/abilities/base_ability.rb
  decidim-core/app/models/decidim/authorization.rb
  decidim-core/app/services/decidim/action_authorizer.rb
  decidim-verifications/app/controllers/decidim/verifications/authorizations_controller.rb
  decidim-verifications/app/controllers/decidim/verifications/id_documents/admin/pending_authorizations_controller.rb
  decidim-verifications/app/controllers/decidim/verifications/postal_letter/admin/pending_authorizations_controller.rb
  decidim-verifications/app/queries/decidim/verifications/authorizations.rb
  decidim-verifications/spec/commmands/decidim/verifications/authorize_user_spec.rb
  decidim-verifications/spec/commmands/decidim/verifications/confirm_user_authorization_spec.rb
  decidim-verifications/spec/commmands/decidim/verifications/perform_authorization_step_spec.rb
  decidim-verifications/spec/queries/decidim/verifications/authorizations_spec.rb
  decidim-verifications/spec/system/authorizations_spec.rb
  decidim-verifications/spec/system/postal_letter/postal_letter_admin_spec.rb
Labels: backport, in-progress, lot: core

#2922 Log meeting registrations export
  CHANGELOG.md
  decidim-meetings/app/commands/decidim/meetings/admin/export_meeting_registrations.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/registrations_controller.rb
  decidim-meetings/app/presenters/decidim/meetings/admin_log/meeting_presenter.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/commands/admin/export_meeting_registrations_spec.rb
Labels: in-review, lot: core, status: ❌ blocked

#2949 Log actions on projects
  CHANGELOG.md
  config/i18n-tasks.yml
  decidim-budgets/app/commands/decidim/budgets/admin/create_project.rb
  decidim-budgets/app/commands/decidim/budgets/admin/destroy_project.rb
  decidim-budgets/app/commands/decidim/budgets/admin/update_project.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/projects_controller.rb
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-budgets/app/presenters/decidim/budgets/admin_log/project_presenter.rb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/spec/commands/create_project_spec.rb
  decidim-budgets/spec/commands/destroy_project_spec.rb
  decidim-budgets/spec/commands/update_project_spec.rb
  decidim-budgets/spec/models/project_spec.rb
  decidim-core/app/presenters/decidim/log/value_types/currency_presenter.rb
  decidim-core/spec/presenters/decidim/log/value_types/currency_presenter_spec.rb
Labels: in-review, lot: core

#2944 Log actions on areas
  CHANGELOG.md
  decidim-admin/app/commands/decidim/admin/create_area.rb
  decidim-admin/app/commands/decidim/admin/destroy_area.rb
  decidim-admin/app/commands/decidim/admin/update_area.rb
  decidim-admin/app/controllers/decidim/admin/areas_controller.rb
  decidim-admin/spec/commands/create_area_spec.rb
  decidim-admin/spec/commands/destroy_area_spec.rb
  decidim-admin/spec/commands/update_area_spec.rb
  decidim-core/app/models/decidim/area.rb
  decidim-core/app/presenters/decidim/admin_log/area_presenter.rb
  decidim-core/app/presenters/decidim/log/value_types/area_type_presenter.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/models/decidim/area_spec.rb
Labels: in-review, lot: core

#2923 Log results deletion and show parent result in diffs
  CHANGELOG.md
  decidim-accountability/app/commands/decidim/accountability/admin/destroy_result.rb
  decidim-accountability/app/controllers/decidim/accountability/admin/results_controller.rb
  decidim-accountability/app/models/decidim/accountability/result.rb
  decidim-accountability/app/presenters/decidim/accountability/admin_log/result_presenter.rb
  decidim-accountability/app/presenters/decidim/accountability/admin_log/value_types/parent_presenter.rb
  decidim-accountability/config/locales/en.yml
  decidim-accountability/spec/commands/admin/destroy_result_spec.rb
  decidim-accountability/spec/commands/admin/update_result_spec.rb
Labels: in-review, lot: core

#2947 Fix mentions not working properly
  CHANGELOG.md
  decidim-comments/app/types/decidim/comments/commentable_mutation_type.rb
  decidim-comments/spec/types/commentable_mutation_type_spec.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: in-review

#2972 [Backport] Fix mentions not working properly
  CHANGELOG.md
  decidim-comments/app/types/decidim/comments/commentable_mutation_type.rb
  decidim-comments/spec/types/commentable_mutation_type_spec.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: backport, in-progress

#2973 [Backport] Fix proposal endorsed event
  CHANGELOG.md
  decidim-proposals/app/commands/decidim/proposals/endorse_proposal.rb
  decidim-proposals/app/events/decidim/proposals/proposal_endorsed_event.rb
  decidim-proposals/spec/commands/decidim/proposals/endorse_proposal_spec.rb
  decidim-proposals/spec/events/decidim/proposals/proposal_endorsed_event_spec.rb
Labels: in-review, lot: core

#2977 Processes: Render documents before view hooks
  CHANGELOG.md
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb
Labels: in-progress

#2975 Update dependencies
  Gemfile.lock
  package-lock.json
  package.json
Labels: in-progress

#2981 Gem manager tweaks
  Rakefile
  lib/decidim/gem_manager.rb
Labels: in-progress

#2982 Improve locale normalization
  spec/i18n_spec.rb
Labels: in-progress

#2983 Send the endorser ID instead of the whole object
  CHANGELOG.md
  decidim-proposals/app/commands/decidim/proposals/endorse_proposal.rb
  decidim-proposals/app/events/decidim/proposals/proposal_endorsed_event.rb
  decidim-proposals/spec/commands/decidim/proposals/endorse_proposal_spec.rb
  decidim-proposals/spec/events/decidim/proposals/proposal_endorsed_event_spec.rb
Labels: in-review, lot: core

#2985 [Backport] Send the endorser ID instead of the whole object
  CHANGELOG.md
  decidim-proposals/app/commands/decidim/proposals/endorse_proposal.rb
  decidim-proposals/app/events/decidim/proposals/proposal_endorsed_event.rb
  decidim-proposals/spec/commands/decidim/proposals/endorse_proposal_spec.rb
  decidim-proposals/spec/events/decidim/proposals/proposal_endorsed_event_spec.rb
Labels: in-review, lot: core

#2885 Proposal card XL displays recategorization
  decidim-proposals/app/assets/javascripts/decidim/proposals/admin/proposals.es6
  decidim-proposals/app/views/decidim/proposals/admin/proposals/update_category.js.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_tags.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/config/locales/en.yml
Labels: in-review

#2986 Add missing locales in assembly user form
  decidim-assemblies/config/locales/en.yml
Labels: in-review, lot: core

#2987 Remove unused key
  decidim-comments/app/assets/javascripts/decidim/comments/bundle.js
  decidim-comments/config/locales/en.yml
Labels: in-review, lot: core

#2990 Update styles.md
  docs/customization/styles.md
Labels: in-progress

#2996 Markdown linting
  .codeclimate.yml
  decidim_app-design/app/views/admin/content/terms.md
  decidim_app-design/app/views/public/content/terms.md
  docs/add_authenticable_action.md
  docs/adding_fixtures_aka_dummy_content.md
  docs/customization/code.md
  docs/customization/gemfile.md
  docs/customization/javascript.md
  docs/customization/styles.md
  docs/data-picker.md
  docs/getting_started.md
  docs/services/analytics.md
  docs/services/social_providers.md
Labels: in-progress

#2992 Add missing specs
  decidim-assemblies/spec/shared/manage_assembly_categories_examples.rb
  decidim-assemblies/spec/shared/manage_assembly_components_examples.rb
  decidim-debates/spec/jobs/decidim/debates/settings_change_job_spec.rb
  decidim-debates/spec/models/decidim/debates/abilities/admin/participatory_process_admin_ability_spec.rb
  decidim-debates/spec/models/decidim/debates/abilities/admin/participatory_process_moderator_ability_spec.rb
  decidim-participatory_processes/spec/shared/manage_process_components_examples.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_components_spec.rb
  decidim-participatory_processes/spec/system/admin/participatory_process_admin_manages_participatory_process_components_spec.rb
Labels: in-progress

#3001 Fix foundation-rails warning after the upgrade
  decidim-admin/app/assets/stylesheets/decidim/admin/utils/_settings.scss
  decidim-core/app/assets/stylesheets/decidim/utils/_settings.scss
  decidim-system/app/assets/stylesheets/decidim/system/_settings.scss
Labels: in-progress

#3002 Allow running `bundle exec rspec --only-failures`
  .gitignore
  decidim-dev/lib/decidim/dev/test/spec_helper.rb
Labels: in-progress

#2989 Improve notification event text
  decidim-comments/app/assets/javascripts/decidim/comments/bundle.js
  decidim-comments/config/locales/en.yml
Labels: in-review, lot: core

#3003 Remove unnecessary capybara tweaks
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara.rb
Labels: in-progress

#3006 Tell dockerize to wait a bit longer
  .circleci/config.yml
Labels: in-progress

#3005 Question up and down
  CHANGELOG.md
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/auto_buttons_by_position.component.js.es6
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/dynamic_fields.component.js.es6
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/surveys.js.es6
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_answer_option.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_question.html.erb
  decidim-surveys/config/locales/en.yml
  decidim-surveys/spec/shared/edit_survey_examples.rb
Labels: component: surveys, in-progress

#2851 Participatory Space Resourceable between Assemblies and ParticipatoryProcesses
  CHANGELOG.md
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assembly.rb
  decidim-assemblies/app/controllers/decidim/assemblies/assemblies_controller.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_form.rb
  decidim-assemblies/app/helpers/decidim/assemblies/admin/assemblies_helper.rb
  decidim-assemblies/app/helpers/decidim/assemblies/assemblies_helper.rb
  decidim-assemblies/app/models/decidim/assembly.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/_form.html.erb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/show.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-assemblies/spec/commands/update_assembly_spec.rb
  decidim-core/app/models/decidim/participatory_space_link.rb
  decidim-core/db/migrate/20180227131727_create_participatory_space_links.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/participatory_space_resourceable.rb
  decidim-participatory_processes/app/models/decidim/participatory_process.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/_participatory_process.html.erb
Labels: in-review

#3012 Fix unintentional answer options reordering
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/dynamic_fields.component.js.es6
  decidim-surveys/spec/shared/edit_survey_examples.rb
Labels: component: surveys, in-progress

#2849 Docker dev setup
  .circleci/config.yml
  d/bash
  d/bundle
  d/gem
  d/rails
  d/rake
  d/rspec
  docker-compose.yml
  docs/getting_started.md
Labels: in-progress

#2994 fix treshold absolute on view and rename the field maximum votes per proposal to treshold per proposal
  CHANGELOG.md
  decidim-core/db/migrate/20180314085339_rename_maximum_votes_per_proposal_to_treshold_per_proposal.rb
  decidim-proposals/app/helpers/decidim/proposals/proposal_votes_helper.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_votes_count.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_voting_rules.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/commands/decidim/proposals/vote_proposal_spec.rb
  decidim-proposals/spec/models/decidim/proposals/proposal_spec.rb
  decidim-proposals/spec/system/vote_proposal_spec.rb
Labels: in-review

#3015 Fix some flaky log resource presenter specs
  decidim-core/spec/presenters/decidim/log/resource_presenter_spec.rb
Labels: in-progress

#3014 Fix question form disabled after submission errors
  CHANGELOG.md
  decidim-surveys/app/helpers/decidim/surveys/admin/application_helper.rb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_answer_option.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_question.html.erb
  decidim-surveys/spec/shared/edit_survey_examples.rb
Labels: component: surveys, in-progress

#2933 Migration plus seeds
  decidim-core/db/migrate/20180221101934_fix_nickname_index.rb
  lib/generators/decidim/install_generator.rb
Labels: in-progress

#3019 [FIX] spelling error in threshold
  CHANGELOG.md
  decidim-core/db/migrate/20180314085339_rename_maximum_votes_per_proposal_to_threshold_per_proposal.rb
  decidim-proposals/app/helpers/decidim/proposals/proposal_votes_helper.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_voting_rules.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/models/decidim/proposals/proposal_spec.rb
  decidim-proposals/spec/system/vote_proposal_spec.rb
Labels: status: WIP, type: bug

#3021 Fix seeding error on generator specs
  decidim-budgets/db/migrate/20170215132708_add_reference_to_projects.rb
  decidim-core/db/migrate/20180226140756_add_version_to_action_logs.rb
Labels: status: WIP

#2998 Feedback needed after Endorsing when user has no user_groups
  CHANGELOG.md
  decidim-proposals/app/helpers/decidim/proposals/proposal_endorsements_helper.rb
  decidim-proposals/app/views/decidim/proposals/proposal_endorsements/update_buttons_and_counters.js.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_endorsement_button.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/endorse_proposal_spec.rb
Labels: in-review, status: WIP, type: bug

#3027 Friendlier buttons for dynamic fields
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_form.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_question.html.erb
Labels: component: surveys, status: WIP, type: discussion

#3017 [FIX] backport fix maximum votes to threshold proposals
  CHANGELOG.md
  decidim-core/db/migrate/20180314085339_rename_maximum_votes_per_proposal_to_threshold_per_proposal.rb
  decidim-proposals/app/helpers/decidim/proposals/proposal_votes_helper.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_votes_count.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_voting_rules.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/feature.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/commands/decidim/proposals/vote_proposal_spec.rb
  decidim-proposals/spec/models/decidim/proposals/proposal_spec.rb
  decidim-proposals/spec/system/vote_proposal_spec.rb
Labels: backport, in-review

#3028 Move decidim executable to "exe" folder
  decidim.gemspec
  exe/decidim
Labels: status: WIP

#3026 Fix broken translated field after form errors
  CHANGELOG.md
  Gemfile.lock
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/dynamic_fields.component.js.es6
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/surveys.js.es6
  decidim-surveys/app/controllers/decidim/surveys/admin/surveys_controller.rb
  decidim-surveys/app/helpers/decidim/surveys/admin/application_helper.rb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_answer_option.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_form.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_question.html.erb
  decidim-surveys/decidim-surveys.gemspec
  decidim-surveys/lib/decidim/surveys/admin_engine.rb
  decidim-surveys/spec/shared/edit_survey_examples.rb
Labels: component: surveys, status: WIP

#3016 Show debates statistics on space show and homepage
  CHANGELOG.md
  decidim-assemblies/app/views/decidim/assemblies/assemblies/_statistics.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-core/config/locales/en.yml
  decidim-debates/lib/decidim/debates/component.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/_statistics.html.erb
  decidim-participatory_processes/config/locales/en.yml
Labels: component: debates, in-review, lot: core

#3046 Fix question form errors not being displayed
  CHANGELOG.md
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/dynamic_fields.component.js.es6
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/surveys.js.es6
  decidim-surveys/app/commands/decidim/surveys/admin/update_survey.rb
  decidim-surveys/app/controllers/decidim/surveys/admin/surveys_controller.rb
  decidim-surveys/app/forms/decidim/surveys/admin/survey_question_answer_option_form.rb
  decidim-surveys/app/forms/decidim/surveys/admin/survey_question_form.rb
  decidim-surveys/app/helpers/decidim/surveys/admin/application_helper.rb
  decidim-surveys/app/models/decidim/surveys/survey_question.rb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_answer_option.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_form.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_question.html.erb
  decidim-surveys/spec/commands/decidim/surveys/admin/update_survey_spec.rb
  decidim-surveys/spec/shared/edit_survey_examples.rb
Labels: component: surveys, status: WIP

#3051 admin can duplicate/copy meetings
  CHANGELOG.md
  decidim-meetings/app/commands/decidim/meetings/admin/copy_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/meeting_copies_controller.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_copy_form.rb
  decidim-meetings/app/views/decidim/meetings/admin/meeting_copies/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meeting_copies/new.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/admin_engine.rb
  decidim-meetings/spec/commands/admin/copy_meeting_spec.rb
  decidim-meetings/spec/forms/admin/meeting_copy_form_spec.rb
  decidim-meetings/spec/shared/manage_meetings_examples.rb
Labels: in-review

#3056 Make organization reference_prefix required
  CHANGELOG.md
  decidim-admin/app/forms/decidim/admin/organization_form.rb
  decidim-admin/spec/forms/organization_form_spec.rb
Labels: general: admin, in-review, lot: core, status: WIP

#3053 Do not force Postgresql user to be admin when enabling trigram extension
  decidim-proposals/db/migrate/20171212102250_enable_pg_extensions.rb
Labels: status: WIP

#3022 [RFC] Use cells for meeting m cards
  CHANGELOG.md
  Gemfile.lock
  decidim-core/app/cells/decidim/author_box/show.erb
  decidim-core/app/cells/decidim/author_box_cell.rb
  decidim-core/app/cells/decidim/card/show.erb
  decidim-core/app/cells/decidim/card_cell.rb
  decidim-core/app/cells/decidim/profile/profile_inline.erb
  decidim-core/app/cells/decidim/profile/show.erb
  decidim-core/app/cells/decidim/profile_cell.rb
  decidim-core/app/controllers/decidim/application_controller.rb
  decidim-core/app/helpers/decidim/card_helper.rb
  decidim-core/app/helpers/decidim/messaging/conversation_helper.rb
  decidim-core/app/views/decidim/shared/_author_reference.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/component_manifest.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/view_model.rb
  decidim-dev/decidim-dev.gemspec
  decidim-dev/lib/decidim/dev/test/spec_helper.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_list_item/show.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_list_item_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_m/header.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_m/show.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_m_cell.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_meetings.html.erb
  decidim-meetings/app/views/decidim/participatory_spaces/_meeting.html.erb
  decidim-meetings/decidim-meetings.gemspec
  decidim-meetings/lib/decidim/meetings.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-meetings/lib/decidim/meetings/view_model.rb
  decidim-meetings/spec/cells/decidim/meetings/meeting_cell_spec.rb
  decidim-meetings/spec/cells/decidim/meetings/meeting_list_item_cell_spec.rb
  decidim-meetings/spec/cells/decidim/meetings/meeting_m_cell_spec.rb
  decidim-proposals/app/helpers/decidim/proposals/proposal_endorsements_helper.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  docs/advanced/view_models_aka_cells.md
Labels: in-review

#3059 Prevent autoloading issues with GraphQL interfaces
  decidim-core/app/types/decidim/core/component_type.rb
  decidim-proposals/app/types/decidim/proposals/proposals_type.rb
Labels: graphql-api, status: WIP, type: bug

#3063 Prevent autoloading issues
  decidim-core/app/types/decidim/core/component_type.rb
  decidim-proposals/app/types/decidim/proposals/proposals_type.rb
Labels: backport, in-review

#3069 Bump quilljs to 1.3.6
  decidim-core/vendor/assets/javascripts/quill.min.js
  decidim-core/vendor/assets/javascripts/quill.min.js.map
  decidim-core/vendor/assets/stylesheets/quill.bubble.css
  decidim-core/vendor/assets/stylesheets/quill.core.css
  decidim-core/vendor/assets/stylesheets/quill.snow.css
Labels: in-review

#3055 Remove rectify weirdness on surveys
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/rectify_ext.rb
  decidim-surveys/app/commands/decidim/surveys/admin/update_survey.rb
  decidim-surveys/app/forms/decidim/surveys/admin/survey_question_form.rb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_question.html.erb
  decidim-surveys/spec/commands/decidim/surveys/admin/update_survey_spec.rb
Labels: component: surveys, in-review

#3066 Add rich text description to questions
  CHANGELOG.md
  decidim-admin/app/assets/javascripts/decidim/admin/application.js.es6
  decidim-core/app/assets/javascripts/decidim.js.es6
  decidim-core/app/assets/javascripts/decidim/editor.js.es6
  decidim-dev/lib/decidim/dev/test/rspec_support/translation_helpers.rb
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/surveys.js.es6
  decidim-surveys/app/assets/stylesheets/decidim/surveys/surveys.scss
  decidim-surveys/app/commands/decidim/surveys/admin/update_survey.rb
  decidim-surveys/app/forms/decidim/surveys/admin/survey_form.rb
  decidim-surveys/app/forms/decidim/surveys/admin/survey_question_form.rb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_answer_option.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_question.html.erb
  decidim-surveys/app/views/decidim/surveys/surveys/show.html.erb
  decidim-surveys/config/locales/en.yml
  decidim-surveys/db/migrate/20180321141024_add_description_to_decidim_survey_questions.rb
  decidim-surveys/spec/commands/decidim/surveys/admin/update_survey_spec.rb
  decidim-surveys/spec/shared/edit_survey_examples.rb
  decidim-surveys/spec/system/survey_spec.rb
Labels: component: surveys, in-review

#3075 Fix bad hash key access
  decidim-surveys/spec/commands/decidim/surveys/admin/update_survey_spec.rb
Labels: status: WIP

#3078 Fix debate times backport
  CHANGELOG.md
  decidim-debates/app/forms/decidim/debates/admin/debate_form.rb
Labels: status: WIP

#3072 Relax etiquette validator
  CHANGELOG.md
  decidim-core/app/validators/etiquette_validator.rb
  decidim-core/spec/validators/etiquette_validator_spec.rb
Labels: status: WIP

#2684 Tags & mentions
  decidim-core/app/assets/javascripts/decidim.js.es6
  decidim-core/app/assets/javascripts/decidim/editor.js.es6
  decidim-core/app/assets/javascripts/decidim/input_mentions.js.es6
  decidim-core/app/assets/javascripts/decidim/input_tags.js.es6
  decidim-core/app/assets/javascripts/decidim/map.js.es6
  decidim-core/app/assets/stylesheets/decidim/modules/_input-mentions.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_input-tags.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_modules.scss
  decidim-core/vendor/assets/javascripts/tagsinput.js
  decidim-core/vendor/assets/javascripts/tribute.js
  decidim-core/vendor/assets/stylesheets/tagsinput.css
  decidim-core/vendor/assets/stylesheets/tribute.css
  decidim_app-design/Gemfile.lock
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/library/_library-buttons.html.erb
  decidim_app-design/app/views/public/library/_library-cards.html.erb
  decidim_app-design/app/views/public/library/_library-icons.html.erb
  decidim_app-design/app/views/public/library/_library-javascripts.html.erb
  decidim_app-design/app/views/public/library/_library-markers.html.erb
  decidim_app-design/app/views/public/library/_library-paginator.html.erb
  decidim_app-design/app/views/public/library/_library-progressbars.html.erb
  decidim_app-design/app/views/public/library/_library-typography.html.erb
  decidim_app-design/app/views/public/library/pattern-library.html.erb
  decidim_app-design/app/views/public/partials/_filter_tags.html.erb
  decidim_app-design/app/views/public/partials/_filters.html.erb
  decidim_app-design/app/views/public/partials/_tags.html.erb
Labels: lot: mods, status: WIP, status: ❌ blocked

#3084 Fixed some typos
  docs/services/geocoding.md
Labels: status: WIP

#3081 Relax etiquette [backport]
  CHANGELOG.md
  decidim-core/app/validators/etiquette_validator.rb
  decidim-core/spec/validators/etiquette_validator_spec.rb
Labels: backport, in-review, lot: core

#3073 Update loofah version to fix vulnerabilities
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim_app-design/Gemfile.lock
Labels: in-review, lot: core, status: WIP

#3086 Fix duplicated editors in surveys form
  decidim-core/app/assets/javascripts/decidim/editor.js.es6
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/surveys.js.es6
  decidim-surveys/spec/shared/edit_survey_examples.rb
Labels: component: surveys, in-review

#3087 Better survey validations
  CHANGELOG.md
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/auto_buttons_by_min_items.component.js.es6
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/auto_buttons_by_position.component.js.es6
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/surveys.js.es6
  decidim-surveys/app/commands/decidim/surveys/admin/update_survey.rb
  decidim-surveys/app/forms/decidim/surveys/admin/survey_question_answer_option_form.rb
  decidim-surveys/app/forms/decidim/surveys/admin/survey_question_form.rb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_answer_option.html.erb
  decidim-surveys/spec/forms/decidim/surveys/admin/survey_question_answer_option_form_spec.rb
  decidim-surveys/spec/shared/edit_survey_examples.rb
Labels: component: surveys, in-review

#3088 Fixed two typos
  decidim-api/README.md
Labels: status: WIP

#3090 External contribution friendly design app job
  .circleci/config.yml
Labels: in-review

#3089 Preserve deleted status on survey errors
  CHANGELOG.md
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/surveys.js.es6
  decidim-surveys/app/forms/decidim/surveys/admin/survey_question_form.rb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/_question.html.erb
  decidim-surveys/spec/shared/edit_survey_examples.rb
Labels: component: surveys, in-review

#3065 Fix notification sent when proposal draft was created
  CHANGELOG.md
  decidim-core/db/migrate/20180323102631_change_event_name_and_class_to_rename_to_publish_proposal_event.rb
  decidim-proposals/app/commands/decidim/proposals/admin/create_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/create_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/publish_proposal.rb
  decidim-proposals/app/events/decidim/proposals/publish_proposal_event.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/commands/decidim/proposals/create_proposal_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/publish_proposal_spec.rb
  decidim-proposals/spec/events/decidim/proposals/publish_proposal_event_spec.rb
Labels: component: proposals, in-review

#3092 Enforce double quotes on JS
  .eslintrc.json
  decidim-accountability/app/assets/javascripts/decidim/accountability/accountability.js.es6
  decidim-accountability/app/assets/javascripts/decidim/accountability/admin/accountability_admin.js.es6
  decidim-admin/app/assets/javascripts/decidim/admin/application.js.es6
  decidim-admin/app/assets/javascripts/decidim/admin/sort_list.component.js.es6
  decidim-admin/app/assets/javascripts/decidim/admin/tab_focus.js.es6
  decidim-api/app/assets/javascripts/decidim/api/docs.js.es6
  decidim-assemblies/app/assets/javascripts/decidim/assemblies/admin/assemblies.js.es6
  decidim-budgets/app/assets/javascripts/decidim/budgets/projects.js.es6
  decidim-comments/app/frontend/support/graphql_transformer.js
  decidim-core/app/assets/javascripts/decidim/account_form.js.es6
  decidim-core/app/assets/javascripts/decidim/append_elements.js.es6
  decidim-core/app/assets/javascripts/decidim/append_redirect_url_to_modals.js.es6
  decidim-core/app/assets/javascripts/decidim/data_picker.js.es6
  decidim-core/app/assets/javascripts/decidim/editor.js.es6
  decidim-core/app/assets/javascripts/decidim/filters.js.es6
  decidim-core/app/assets/javascripts/decidim/form_filter.component.js.es6
  decidim-core/app/assets/javascripts/decidim/form_filter.component.test.js
  decidim-core/app/assets/javascripts/decidim/impersonation.js.es6
  decidim-core/app/assets/javascripts/decidim/input_mentions.js.es6
  decidim-core/app/assets/javascripts/decidim/input_tags.js.es6
  decidim-core/app/assets/javascripts/decidim/map.js.es6
  decidim-core/app/assets/javascripts/decidim/notifications.js.es6
  decidim-core/app/assets/javascripts/decidim/orders.js.es6
  decidim-core/app/assets/javascripts/decidim/user_registrations.js.es6
  decidim-core/app/assets/javascripts/decidim/widget.js.es6
  decidim-core/vendor/assets/javascripts/form_datepicker.js.es6
  decidim-meetings/app/assets/javascripts/decidim/meetings/admin/registrations_form.js.es6
  decidim-participatory_processes/app/assets/javascripts/decidim/participatory_processes/admin/participatory_processes.js.es6
  decidim-participatory_processes/app/assets/javascripts/decidim/participatory_processes/filters.js.es6
  decidim-proposals/app/assets/javascripts/decidim/proposals/add_proposal.js.es6
  decidim-proposals/app/assets/javascripts/decidim/proposals/identity_selector_dialog.js.es6
  decidim-proposals/app/assets/javascripts/decidim/proposals/utils.js.es6
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/auto_buttons_by_position.component.js.es6
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/dynamic_fields.component.js.es6
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/surveys.js.es6
Labels: status: WIP

#3096 Fix JS style & update dependency
  Gemfile.lock
  decidim-surveys/app/assets/javascripts/decidim/surveys/admin/surveys.js.es6
  decidim_app-design/Gemfile.lock
Labels: lot: core, status: WIP

#2863 Feature/2288 associate proposals in comments
  decidim-comments/app/commands/decidim/comments/create_comment.rb
  decidim-comments/app/services/decidim/comments/comment_creation.rb
  decidim-comments/lib/decidim/comments/test.rb
  decidim-comments/lib/decidim/comments/test/shared_examples/create_comment_context.rb
  decidim-comments/spec/commands/create_comment_spec.rb
  decidim-comments/spec/services/decidim/comments/comment_creation_spec.rb
  decidim-comments/spec/spec_helper.rb
  decidim-proposals/app/events/decidim/proposals/proposal_mentioned_event.rb
  decidim-proposals/app/jobs/decidim/proposals/notify_proposals_mentioned_job.rb
  decidim-proposals/app/presenters/decidim/proposals/proposal_presenter.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/content_parsers/proposal_parser.rb
  decidim-proposals/lib/decidim/content_renderers/proposal_renderer.rb
  decidim-proposals/lib/decidim/proposals.rb
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/spec/events/decidim/proposals/proposal_mentioned_event_spec.rb
  decidim-proposals/spec/jobs/decidim/proposals/notify_proposals_mentioned_job_spec.rb
  decidim-proposals/spec/lib/decidim/content_parsers/proposal_parser_spec.rb
  decidim-proposals/spec/lib/decidim/content_renderers/proposal_renderer_spec.rb
  decidim-proposals/spec/spec_helper.rb
  docs/advanced/content_processors.md
Labels: in-review

#3098 [backport 0.10] Fix notification sent on proposal draft created, now sent on publish
  CHANGELOG.md
  decidim-core/db/migrate/20180326075746_change_event_name_and_class_to_rename_to_publish_proposal_event.rb
  decidim-proposals/app/commands/decidim/proposals/admin/create_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/create_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/publish_proposal.rb
  decidim-proposals/app/events/decidim/proposals/publish_proposal_event.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/commands/decidim/proposals/create_proposal_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/publish_proposal_spec.rb
  decidim-proposals/spec/events/decidim/proposals/create_proposal_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/publish_proposal_event_spec.rb
Labels: component: proposals, in-review

#3064 Feature: add Discard draft button in proposal wizard
  CHANGELOG.md
  Gemfile.lock
  decidim-proposals/app/commands/decidim/proposals/destroy_proposal.rb
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/views/decidim/proposals/proposals/edit_draft.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/spec/commands/decidim/proposals/destroy_proposal_spec.rb
  decidim-proposals/spec/system/proposal_wizard_spec.rb
Labels: component: proposals, in-review

#3103 Replace decidim with %{organization}
  decidim-core/app/views/decidim/devise/invitations/edit.html.erb
  decidim-core/app/views/decidim/devise/omniauth_registrations/new.html.erb
  decidim-core/app/views/decidim/devise/registrations/new.html.erb
  decidim-core/config/locales/en.yml
Labels: in-review

#3095 Move test coverage to CodeClimate
  .circleci/config.yml
  .circleci/install_cc_test_reporter.sh
  .simplecov
  Gemfile.lock
  README.md
  decidim-dev/decidim-dev.gemspec
  decidim_app-design/Gemfile.lock
Labels: lot: core, status: WIP

#3107 Fix markdownlint severity level on CodeClimate
  .codeclimate.yml
  CHANGELOG.md
  docs/advanced/content_processors.md
  docs/advanced/view_models_aka_cells.md
Labels: lot: core, status: WIP, target: developer-experience
