Repository decidim/decidim, pull requests merged in 2019-03, with the labels that each got.

#4912 Initiatives admin fixes
  CHANGELOG.md
  decidim-initiatives/app/commands/decidim/initiatives/admin/update_initiative.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/initiatives_controller.rb
  decidim-initiatives/app/permissions/decidim/initiatives/admin/permissions.rb
Labels: in-review

#4921 Debates dates are optional
  decidim-debates/app/cells/decidim/debates/debate_m_cell.rb
Labels: backport

#4926 Ensure email is downcased when authenticating a user
  CHANGELOG.md
  decidim-core/app/models/decidim/user.rb
  decidim-core/spec/models/decidim/user_spec.rb
Labels: in-review

#4933 Check metadata variations based on children scopes in vote_form
  CHANGELOG.md
  decidim-initiatives/app/forms/decidim/initiatives/vote_form.rb
Labels: in-review

#4936 Fix nicknames migration in 0.11
  CHANGELOG.md
  decidim-core/db/migrate/20180221101934_fix_nickname_index.rb
Labels: in-review

#4934 Keep correct answers of single-choice questions when errors
  CHANGELOG.md
  decidim-forms/app/views/decidim/forms/questionnaires/_answer.html.erb
Labels: in-review

#4941 Fix budget project button
  CHANGELOG.md
  decidim-budgets/app/views/decidim/budgets/projects/_project_budget_button.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
Labels: in-review

#4942 Allow managing components inside a consultation
  CHANGELOG.md
  decidim-consultations/app/permissions/decidim/consultations/admin/permissions.rb
  decidim-consultations/app/permissions/decidim/consultations/permissions.rb
  decidim-consultations/spec/permissions/decidim/consultations/admin/permissions_spec.rb
Labels: in-review

#4943 Check permissions before rendering a survey
  CHANGELOG.md
  decidim-core/app/views/decidim/authorization_modals/_content.html.erb
  decidim-core/app/views/decidim/authorization_modals/show.html.erb
  decidim-core/config/locales/en.yml
  decidim-surveys/app/controllers/decidim/surveys/surveys_controller.rb
  decidim-surveys/app/helpers/decidim/surveys/survey_helper.rb
  decidim-surveys/app/models/decidim/surveys/survey.rb
  decidim-surveys/app/views/decidim/surveys/surveys/no_permission.html.erb
  decidim-surveys/spec/system/survey_spec.rb
Labels: in-review

#4946 Fix comments for IE11
  CHANGELOG.md
  decidim-admin/app/assets/javascripts/decidim/admin/bundle.js
  decidim-admin/app/assets/stylesheets/decidim/admin/bundle.scss
  decidim-comments/app/assets/javascripts/decidim/comments/bundle.js
  decidim-core/app/assets/javascripts/decidim.js.es6
  decidim-core/app/assets/javascripts/decidim/core/bundle.js
  decidim-core/app/assets/javascripts/decidim/core/bundle.js.map
  decidim-core/app/frontend/entry.ts
  package-lock.json
  package.json
  spec/js_bundles_spec.rb
  webpack.config.js
Labels: in-review

#4949 [BACKPORT] Fix meeting questionnaire migration
  CHANGELOG.md
  decidim-meetings/db/migrate/20181107175558_add_questionnaire_to_existing_meetings.rb
Labels: in-review

#4950 Fix meeting questionnaire migration
  CHANGELOG.md
  decidim-meetings/db/migrate/20181107175558_add_questionnaire_to_existing_meetings.rb
Labels: in-review

#4955 [BACKPORT] Skip callbacks on follower counters migration
  CHANGELOG.md
  decidim-core/db/migrate/20181115102958_add_following_and_followers_counters_to_users.rb
  decidim-core/lib/decidim/searchable.rb
Labels: in-review

#4962 [BACKPORT] Don't render profile URL if user has no nickname
  CHANGELOG.md
  decidim-admin/app/views/decidim/admin/officializations/index.html.erb
Labels: in-review

#4963 [Backport] Fix authorization workflows index
  CHANGELOG.md
  decidim-admin/app/controllers/decidim/admin/authorization_workflows_controller.rb
  decidim-verifications/spec/system/admin_lists_authorizations_spec.rb
Labels: in-review

#4964 Fix some issues in admin
  CHANGELOG.md
  decidim-admin/app/controllers/decidim/admin/authorization_workflows_controller.rb
  decidim-admin/app/views/decidim/admin/officializations/index.html.erb
  decidim-verifications/config/locales/en.yml
  decidim-verifications/spec/system/admin_lists_authorizations_spec.rb
Labels: in-review

#4974 [BACKPORT] Fix user presenter for user groups
  CHANGELOG.md
  decidim-core/app/presenters/decidim/user_presenter.rb
  decidim-core/spec/presenters/decidim/user_presenter_spec.rb
Labels: in-review

#4965 fix visibility of private processes on process groups
  CHANGELOG.md
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_group_m_cell.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_process_groups_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_processes_controller.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/organization_prioritized_participatory_process_groups.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/visible_participatory_process_groups.rb
Labels: in-review

#4979 Fix results metric manage
  decidim-accountability/app/queries/decidim/accountability/metrics/results_metric_manage.rb
Labels: in-review

#4984 [Backport] Bring #4980 and #4978 to 0.16
  CHANGELOG.md
  decidim-core/app/assets/javascripts/decidim/input_hashtags.js.es6
  decidim-core/vendor/assets/javascripts/tribute.js
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-proposals/lib/decidim/content_parsers/proposal_parser.rb
  decidim-proposals/spec/lib/decidim/content_parsers/proposal_parser_spec.rb
Labels: backport, in-review

#4982 Add a bunch of missing locales
  decidim-core/lib/decidim/core.rb
Labels: in-review

#4987 Display pointer cursor icon for all elements with the "link" class
  decidim-core/app/assets/stylesheets/decidim/modules/_buttons.scss
Labels: status: WIP

#4991 Render readonly questionnaire to non logged participant
  CHANGELOG.md
  decidim-forms/app/assets/config/decidim_forms_manifest.css
  decidim-forms/app/assets/stylesheets/decidim/forms/forms.scss
  decidim-forms/app/cells/decidim/forms/answer_readonly/show.erb
  decidim-forms/app/cells/decidim/forms/answer_readonly_cell.rb
  decidim-forms/app/cells/decidim/forms/question_readonly/show.erb
  decidim-forms/app/cells/decidim/forms/question_readonly_cell.rb
  decidim-forms/app/views/decidim/forms/questionnaires/show.html.erb
  decidim-forms/lib/decidim/forms/engine.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/has_questionnaire.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-surveys/app/assets/stylesheets/decidim/surveys/surveys.scss
  decidim-surveys/spec/system/private_space_survey_spec.rb
Labels: in-review

#4990 Add :created_at and :id to survey particpant answers (UserAnswersSerializer)
  CHANGELOG.md
  config/i18n-tasks.yml
  decidim-forms/config/locales/en.yml
  decidim-forms/lib/decidim/forms/user_answers_serializer.rb
  decidim-forms/spec/serializers/decidim/forms/user_answer_serializer_spec.rb
Labels: in-review

#4988 don't send email if user can not participate in space
  CHANGELOG.md
  decidim-core/app/services/decidim/email_notification_generator.rb
Labels: in-review

#5004 Update deps 0.16
  Gemfile.lock
  decidim-core/app/models/decidim/user.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: in-review

#5002 Update deps 0.17
  Gemfile.lock
  decidim-core/app/models/decidim/user.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core/test/factories.rb
Labels: in-review

#5012 Fix decidim-verifications README.md broken links
  decidim-verifications/README.md
Labels: status: WIP, team: documentation

#5011 Add area to participatory processes
  CHANGELOG.md
  decidim-assemblies/app/commands/decidim/assemblies/admin/copy_assembly.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/copy_participatory_process.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/create_participatory_process.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/update_participatory_process.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_form.rb
  decidim-participatory_processes/app/models/decidim/participatory_process.rb
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/admin_log/participatory_process_presenter.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/_form.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/db/migrate/20190322125517_add_area_to_participatory_processes.rb
  decidim-participatory_processes/spec/commands/create_participatory_process_spec.rb
  decidim-participatory_processes/spec/commands/update_participatory_process_spec.rb
Labels: in-review

#5017 Update project maintainer email to hola [at] decidim
  CODE_OF_CONDUCT.md
Labels: status: WIP

#5015 add documents folder to decidim_proposals_manifest.js
  CHANGELOG.md
  decidim-proposals/app/assets/config/decidim_proposals_manifest.js
Labels: in-review

#5016 BACKPORT 0.17 add documents folder to decidim_proposals_manifest.js
  CHANGELOG.md
  decidim-proposals/app/assets/config/decidim_proposals_manifest.js
Labels: in-review

#5025 [FIX] Filter emendations by rendering only proposals.
  CHANGELOG.md
  decidim-core/lib/decidim/amendable.rb
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/services/decidim/proposals/proposal_search.rb
  decidim-proposals/spec/controllers/decidim/proposals_controller_spec.rb
Labels: in-review, lot: mods, mods B, type: bug
