Repository decidim/decidim, pull requests merged in 2019-02, with the labels that each got.

#4780 [FEATURE] Lists should be imported as a single proposal.
  CHANGELOG.md
  Gemfile
  Gemfile.lock
  decidim-dev/lib/decidim/dev/assets/participatory_text.md
  decidim-generators/Gemfile.lock
  decidim-proposals/app/views/decidim/proposals/admin/participatory_texts/_article-preview.html.erb
  decidim-proposals/decidim-proposals.gemspec
  decidim-proposals/lib/decidim/proposals/markdown_to_proposals.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/import_participatory_text_spec.rb
  decidim-proposals/spec/lib/decidim/proposals/markdown_to_proposals_spec.rb
  decidim-proposals/spec/lib/decidim/proposals/odt_to_markdown_spec.rb
  decidim-proposals/spec/system/admin_manages_participatory_texts_spec.rb
  decidim_app-design/Gemfile.lock
Labels: in-review, status: WIP

#4810 Disables new issues creation on GitHub
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Disabled.md
  .github/ISSUE_TEMPLATE/Feature_request.md
Labels: status: WIP

#4812 [DOC] Update dependencies and ruby version.
  CHANGELOG.md
  docs/manual-installation.md
Labels: in-review

#4811 Fix attachments not being inherited from collaborative draft
  CHANGELOG.md
  decidim-proposals/app/commands/decidim/proposals/publish_collaborative_draft.rb
  decidim-proposals/spec/commands/decidim/proposals/publish_collaborative_draft_spec.rb
Labels: in-review

#4815 Backport #4811 to 0.16-stable
  CHANGELOG.md
  decidim-proposals/app/commands/decidim/proposals/publish_collaborative_draft.rb
  decidim-proposals/spec/commands/decidim/proposals/publish_collaborative_draft_spec.rb
Labels: in-review

#4809 add set_locale method before action to prevent broken links
  CHANGELOG.md
  decidim-core/app/controllers/concerns/decidim/locale_switcher.rb
Labels: status: WIP

#4818 Fix Issue #4800: Move order-by filter to the right
  decidim-core/app/assets/stylesheets/decidim/modules/_order-by.scss
Labels: status: WIP

#4825 Colorize verified badge
  decidim-core/app/assets/stylesheets/decidim/modules/_author-avatar.scss
Labels: status: WIP

#4824 Use short description
  CHANGELOG.md
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/highlighted_processes/single_process.erb
Labels: in-review

#4813 Add missing dependency for wicked_pdf
  CHANGELOG.md
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim-initiatives/decidim-initiatives.gemspec
  decidim_app-design/Gemfile.lock
Labels: in-review, status: WIP

#4820 Fixes card small break words
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
Labels: status: WIP

#4822 Changes decidim logo on footer
  decidim-core/app/assets/images/decidim/decidim-logo.svg
Labels: status: WIP

#4835 Add "address" translation key for proposals/collaborative drafts
  CHANGELOG.md
  decidim-proposals/config/locales/en.yml
Labels: status: WIP

#4828 Fix Proposals Last Activity feed
  CHANGELOG.md
  decidim-core/app/commands/decidim/amendable/create.rb
  decidim-core/lib/decidim/core/test/shared_examples/amendable/create_amendment_examples.rb
  decidim-proposals/app/commands/decidim/proposals/create_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/publish_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/update_proposal.rb
Labels: in-review, status: WIP

#4837 [FEATURE] Add text formatting capabilities to MarkdownToProposals
  CHANGELOG.md
  decidim-proposals/lib/decidim/proposals/markdown_to_proposals.rb
  decidim-proposals/spec/lib/decidim/proposals/markdown_to_proposals_spec.rb
Labels: status: WIP

#4838 4656 metadata verification
  CHANGELOG.md
  decidim-initiatives/app/controllers/decidim/initiatives/initiative_signatures_controller.rb
  decidim-initiatives/app/forms/decidim/initiatives/vote_form.rb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/commands/decidim/initiatives/vote_initiative_spec.rb
Labels: in-review

#4836 Backport #4828 to 0.16 stable
  CHANGELOG.md
  decidim-core/app/commands/decidim/amendable/create.rb
  decidim-core/lib/decidim/core/test/shared_examples/amendable/create_amendment_examples.rb
  decidim-proposals/app/commands/decidim/proposals/create_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/publish_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/update_proposal.rb
Labels: in-review

#4830 Fix #4669
  CHANGELOG.md
  decidim-core/app/controllers/decidim/static_map_controller.rb
  decidim-core/spec/controllers/static_map_controller_spec.rb
Labels: status: WIP

#4842 Prevent empty selection in the data picker
  CHANGELOG.md
  decidim-core/app/assets/javascripts/decidim/data_picker.js.es6
Labels: status: WIP

#4840 Allow only to attach published proposals to budgeting projects
  CHANGELOG.md
  decidim-budgets/app/forms/decidim/budgets/admin/project_form.rb
  decidim-budgets/spec/forms/project_form_spec.rb
Labels: status: WIP

#4839 Fix accepting/declining meeting invitations
  CHANGELOG.md
  decidim-meetings/app/commands/decidim/meetings/join_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/registrations_controller.rb
  decidim-meetings/spec/commands/join_meeting_spec.rb
Labels: status: WIP

#4814 Feature/4770 option to reset participatory text file
  CHANGELOG.md
  decidim-proposals/app/commands/decidim/proposals/admin/discard_participatory_text.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/participatory_texts_controller.rb
  decidim-proposals/app/views/decidim/proposals/admin/participatory_texts/_bulk-actions.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/participatory_texts/index.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/admin_engine.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/discard_participatory_text_spec.rb
  decidim-proposals/spec/controllers/decidim/admin/participatory_texts_controller_spec.rb
  decidim-proposals/spec/system/admin_manages_participatory_texts_spec.rb
Labels: in-review, status: WIP

#4843 Add admin edit link for proposals
  CHANGELOG.md
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
Labels: in-review

#4844 Order meetings at admin
  CHANGELOG.md
  decidim-meetings/app/controllers/decidim/meetings/admin/application_controller.rb
Labels: in-review, status: WIP

#4849 Fix admin initiatives participatory space layout
  CHANGELOG.md
  decidim-initiatives/app/controllers/concerns/decidim/initiatives/needs_initiative.rb
  decidim-initiatives/app/controllers/decidim/initiatives/application_controller.rb
  decidim-initiatives/app/views/layouts/decidim/admin/initiative.html.erb
  decidim-initiatives/lib/decidim/initiatives/participatory_space.rb
Labels: in-review

#4847 Backport #4718 to 0.16 stable
  CHANGELOG.md
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assembly.rb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/show.html.erb
  decidim-assemblies/spec/commands/update_assembly_spec.rb
Labels: status: WIP

#4841 4644 initiatives signatures improvements
  CHANGELOG.md
  decidim-initiatives/app/commands/decidim/initiatives/admin/create_initiative_type.rb
  decidim-initiatives/app/commands/decidim/initiatives/admin/update_initiative_type.rb
  decidim-initiatives/app/controllers/decidim/initiatives/initiative_signatures_controller.rb
  decidim-initiatives/app/forms/decidim/initiatives/admin/initiative_type_form.rb
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-initiatives/app/permissions/decidim/initiatives/permissions.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives_types/_form.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiative_signatures/_wizard_steps.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiative_signatures/fill_personal_data.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiative_signatures/finish.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiative_signatures/sms_code.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiative_signatures/sms_phone_number.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_vote_button.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_vote_cabin.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/db/migrate/20190213184301_add_undo_online_signatures_enabled_to_initiatives_types.rb
  decidim-initiatives/lib/decidim/initiatives/test/factories.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/initiative_votes_controller_spec.rb
  decidim-initiatives/spec/forms/initiative_type_form_spec.rb
  decidim-initiatives/spec/permissions/decidim/initiatives/permissions_spec.rb
  decidim-initiatives/spec/shared/create_initiative_type_example.rb
  decidim-initiatives/spec/shared/update_initiative_type_example.rb
  decidim-initiatives/spec/system/admin/initiative_types_controller_spec.rb
  decidim-initiatives/spec/system/initiative_signing_sms_verification_spec.rb
  decidim-initiatives/spec/system/initiative_signing_spec.rb
Labels: in-review

#4848 Fix proposal body rendering in activity cell
  CHANGELOG.md
  decidim-proposals/app/cells/decidim/proposals/proposal_activity_cell.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_activity_cell_spec.rb
Labels: in-review, status: WIP

#4846 Fix forms exporting
  CHANGELOG.md
  decidim-accountability/lib/decidim/accountability/result_serializer.rb
  decidim-comments/lib/decidim/comments/comment_serializer.rb
  decidim-core/app/helpers/decidim/translations_helper.rb
  decidim-forms/lib/decidim/forms/user_answers_serializer.rb
  decidim-forms/spec/serializers/decidim/forms/user_answer_serializer_spec.rb
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
Labels: in-review, status: WIP

#4845 Better admin initiative search
  CHANGELOG.md
  decidim-initiatives/app/queries/decidim/initiatives/admin/manageable_initiatives.rb
  decidim-initiatives/spec/queries/decidim/initiatives/admin/manageable_initiatives_spec.rb
Labels: in-review

#4850 Sanitize content at debates
  CHANGELOG.md
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
Labels: in-review

#4851 Fix comment author
  CHANGELOG.md
  decidim-comments/app/queries/decidim/comments/sorted_comments.rb
  decidim-comments/lib/decidim/comments/api/comment_type.rb
  decidim-comments/spec/types/comment_type_spec.rb
Labels: in-review, status: WIP

#4853 Fix user activities
  CHANGELOG.md
  decidim-core/app/controllers/decidim/user_activities_controller.rb
Labels: in-review, status: WIP

#4854 Fix proposals ordering
  CHANGELOG.md
  decidim-proposals/app/controllers/concerns/decidim/proposals/orderable.rb
Labels: in-review, status: WIP

#4858 Remove SMS authorization presenter call since it doesn't exist
  decidim-verifications/app/controllers/decidim/verifications/sms/authorizations_controller.rb
Labels: in-review

#4855 Backport #4852 to 0.16 stable
  CHANGELOG.md
  decidim-assemblies/db/migrate/20190215093700_reset_negative_children_count_counters.rb
Labels: status: WIP

#4852 Add migration reset_negative_children_count_counters
  CHANGELOG.md
  decidim-assemblies/db/migrate/20190215093700_reset_negative_children_count_counters.rb
Labels: in-review, status: WIP

#4857 Fix proposals indexs
  CHANGELOG.md
  decidim-proposals/db/migrate/20190215113158_use_md5_indexes.rb
Labels: in-review, status: WIP

#4856 Remove etiquette validator at admin
  CHANGELOG.md
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_form.rb
  decidim-proposals/spec/forms/decidim/proposals/admin_proposal_form_spec.rb
  decidim-proposals/spec/shared/proposal_form_examples.rb
  decidim-proposals/spec/system/admin_edits_proposal_spec.rb
Labels: in-review

#4862 Fix Issue #4827: Counter intuitive verification Lock icons
  decidim-verifications/app/views/decidim/verifications/authorizations/_granted_authorization.html.erb
  decidim-verifications/app/views/decidim/verifications/authorizations/index.html.erb
Labels: status: WIP

#4861 4661 initiative administration fixes
  CHANGELOG.md
  decidim-initiatives/app/assets/javascripts/decidim/initiatives/scoped_type.js
  decidim-initiatives/app/commands/decidim/initiatives/admin/update_initiative.rb
  decidim-initiatives/app/commands/decidim/initiatives/create_initiative.rb
  decidim-initiatives/app/commands/decidim/initiatives/spawn_committee_request.rb
  decidim-initiatives/app/controllers/decidim/initiatives/committee_requests_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_type_signature_types_controller.rb
  decidim-initiatives/app/forms/decidim/initiatives/admin/initiative_form.rb
  decidim-initiatives/app/forms/decidim/initiatives/committee_member_form.rb
  decidim-initiatives/app/permissions/decidim/initiatives/permissions.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/_form.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives_type_signature_types/search.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-initiatives/spec/commands/decidim/initiatives/spawn_committee_request_spec.rb
  decidim-initiatives/spec/forms/admin/initiative_form_spec.rb
  decidim-initiatives/spec/shared/create_initiative_example.rb
  decidim-initiatives/spec/shared/initiative_administration.rb
  decidim-initiatives/spec/system/admin/update_initiative_spec.rb
Labels: in-review

#4863 Backport bugfixes
  CHANGELOG.md
  decidim-accountability/lib/decidim/accountability/result_serializer.rb
  decidim-comments/app/queries/decidim/comments/sorted_comments.rb
  decidim-comments/lib/decidim/comments/api/comment_type.rb
  decidim-comments/lib/decidim/comments/comment_serializer.rb
  decidim-comments/spec/types/comment_type_spec.rb
  decidim-core/app/controllers/decidim/user_activities_controller.rb
  decidim-core/app/helpers/decidim/translations_helper.rb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-forms/lib/decidim/forms/user_answers_serializer.rb
  decidim-forms/spec/serializers/decidim/forms/user_answer_serializer_spec.rb
  decidim-initiatives/app/queries/decidim/initiatives/admin/manageable_initiatives.rb
  decidim-initiatives/spec/queries/decidim/initiatives/admin/manageable_initiatives_spec.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/application_controller.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_activity_cell.rb
  decidim-proposals/app/controllers/concerns/decidim/proposals/orderable.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_form.rb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/db/migrate/20190215113158_use_md5_indexes.rb
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_activity_cell_spec.rb
  decidim-proposals/spec/forms/decidim/proposals/admin_proposal_form_spec.rb
  decidim-proposals/spec/shared/proposal_form_examples.rb
  decidim-proposals/spec/system/admin_edits_proposal_spec.rb
  decidim-verifications/app/controllers/decidim/verifications/sms/authorizations_controller.rb
Labels: in-review

#3515 Fix datepicker fields failing to highlight errors
  CHANGELOG.md
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/lib/form_builder_spec.rb
  decidim-core/vendor/assets/javascripts/foundation-datepicker.js
Labels: status: WIP, status: ready

#4877 Fix/collaborative draft attachment
  CHANGELOG.md
  decidim-proposals/app/controllers/decidim/proposals/collaborative_drafts_controller.rb
  decidim-proposals/spec/system/edit_collaborative_draft_spec.rb
Labels: status: WIP

#4819 add participatory texts file format support in admin
  .codeclimate.yml
  CHANGELOG.md
  decidim-proposals/app/assets/documents/decidim/proposals/participatory_texts/participatory_text.md
  decidim-proposals/app/assets/documents/decidim/proposals/participatory_texts/participatory_text.odt
  decidim-proposals/app/forms/decidim/proposals/admin/import_participatory_text_form.rb
  decidim-proposals/app/helpers/decidim/proposals/participatory_texts_helper.rb
  decidim-proposals/app/views/decidim/proposals/admin/participatory_texts/new_import.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/doc_to_markdown.rb
  decidim-proposals/spec/controllers/decidim/admin/participatory_texts_controller_spec.rb
  decidim-proposals/spec/forms/decidim/proposals/admin/import_participatory_text_form_spec.rb
Labels: in-review, status: WIP

#4875 Don't count withdrawn proposals when publishing one
  CHANGELOG.md
  decidim-proposals/app/commands/decidim/proposals/update_proposal.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
Labels: in-review

#4879 Add start and end times to debates card
  CHANGELOG.md
  decidim-debates/app/cells/decidim/debates/debate_m/data.erb
  decidim-debates/app/cells/decidim/debates/debate_m/multiple_dates.erb
  decidim-debates/app/cells/decidim/debates/debate_m/single_date.erb
  decidim-debates/app/cells/decidim/debates/debate_m_cell.rb
  decidim-debates/app/services/decidim/debates/debate_search.rb
  decidim-debates/spec/services/decidim/debates/debate_search_spec.rb
Labels: in-review

#4880 Fix AttachmentCreatedEvent email resource_url
  CHANGELOG.md
  decidim-admin/app/events/decidim/attachment_created_event.rb
  decidim-admin/spec/events/decidim/attachment_created_event_spec.rb
  decidim-core/app/views/decidim/notification_mailer/event_received.html.erb
Labels: status: WIP

#4719 CSV census for verifications
  CHANGELOG.md
  decidim-verifications/app/commands/decidim/verifications/csv_census/admin/create_census_data.rb
  decidim-verifications/app/commands/decidim/verifications/csv_census/confirm_census_authorization.rb
  decidim-verifications/app/controllers/decidim/verifications/csv_census/admin/census_controller.rb
  decidim-verifications/app/controllers/decidim/verifications/csv_census/authorizations_controller.rb
  decidim-verifications/app/forms/decidim/verifications/csv_census/admin/census_data_form.rb
  decidim-verifications/app/forms/decidim/verifications/csv_census/census_form.rb
  decidim-verifications/app/jobs/decidim/verifications/csv_census/application_job.rb
  decidim-verifications/app/jobs/decidim/verifications/csv_census/remove_duplicates_job.rb
  decidim-verifications/app/models/decidim/verifications/application_record.rb
  decidim-verifications/app/models/decidim/verifications/csv_census/data.rb
  decidim-verifications/app/models/decidim/verifications/csv_census/status.rb
  decidim-verifications/app/models/decidim/verifications/csv_datum.rb
  decidim-verifications/app/permissions/decidim/verifications/csv_census/admin/permissions.rb
  decidim-verifications/app/views/decidim/verifications/csv_census/admin/census/index.html.erb
  decidim-verifications/app/views/decidim/verifications/csv_census/admin/census/instructions.html.erb
  decidim-verifications/bin/rails
  decidim-verifications/config/locales/en.yml
  decidim-verifications/db/migrate/20181227135423_create_decidim_verifications_csv_data.rb
  decidim-verifications/lib/decidim/verifications.rb
  decidim-verifications/lib/decidim/verifications/csv_census.rb
  decidim-verifications/lib/decidim/verifications/csv_census/admin.rb
  decidim-verifications/lib/decidim/verifications/csv_census/admin_engine.rb
  decidim-verifications/lib/decidim/verifications/csv_census/engine.rb
  decidim-verifications/lib/decidim/verifications/csv_census/workflow.rb
  decidim-verifications/lib/decidim/verifications/test/factories.rb
  decidim-verifications/spec/factories.rb
  decidim-verifications/spec/forms/decidim/verifications/csv_census/census_form_spec.rb
Labels: status: WIP

#4878 4661 initiatives moderation
  CHANGELOG.md
  decidim-core/app/commands/decidim/create_report.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/moderations_controller.rb
  decidim-initiatives/app/permissions/decidim/initiatives/admin/permissions.rb
  decidim-initiatives/app/permissions/decidim/initiatives/permissions.rb
  decidim-initiatives/app/queries/decidim/initiatives/admin/admin_users.rb
  decidim-initiatives/app/views/layouts/decidim/admin/initiative.html.erb
  decidim-initiatives/lib/decidim/initiatives/admin_engine.rb
  decidim-initiatives/spec/queries/decidim/initiatives/admin/admin_users_spec.rb
  decidim-initiatives/spec/system/admin/admin_manages_comments_spec.rb
  decidim-initiatives/spec/system/report_comment_spec.rb
Labels: in-review

#4883 Backport more bugfixes
  CHANGELOG.md
  decidim-debates/app/cells/decidim/debates/debate_m/data.erb
  decidim-debates/app/cells/decidim/debates/debate_m/multiple_dates.erb
  decidim-debates/app/cells/decidim/debates/debate_m/single_date.erb
  decidim-debates/app/cells/decidim/debates/debate_m_cell.rb
  decidim-debates/app/services/decidim/debates/debate_search.rb
  decidim-debates/spec/services/decidim/debates/debate_search_spec.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_processes_controller.rb
  decidim-participatory_processes/spec/controllers/participatory_processes_controller_spec.rb
  decidim-proposals/app/commands/decidim/proposals/update_proposal.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
Labels: in-review

#4885 Avoid author duplication from authors lists including committee members
  CHANGELOG.md
  decidim-initiatives/app/cells/decidim/initiatives/initiative_m_cell.rb
  decidim-initiatives/app/models/decidim/initiatives_committee_member.rb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_author.html.erb
  decidim-initiatives/spec/system/initiative_spec.rb
  decidim-initiatives/spec/system/initiatives_spec.rb
Labels: in-review

#4884 4662 px iteration
  CHANGELOG.md
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/select_initiative_type.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/system/create_initiative_spec.rb
Labels: in-review

#4891 Add missing event locales
  decidim-core/config/locales/en.yml
Labels: in-review, status: WIP

#4892 Use org default locale as fallback on emails
  decidim-core/app/mailers/concerns/decidim/localised_mailer.rb
Labels: in-review

#4888 4662 create initiative wizard
  CHANGELOG.md
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/fill_data.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/finish.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/previous_form.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/promotal_committee.html.erb
  decidim-initiatives/app/views/layouts/decidim/_initiative_creation_header.html.erb
  decidim-initiatives/app/views/layouts/decidim/initiative_creation.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/system/create_initiative_spec.rb
Labels: in-review

#4887 4662 initiative buttons redesign
  CHANGELOG.md
  config/i18n-tasks.yml
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-initiatives/app/views/decidim/initiatives/initiative_signatures/update_buttons_and_counters.js.erb
  decidim-initiatives/app/views/decidim/initiatives/initiative_votes/update_buttons_and_counters.js.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_interactions.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_progress_bar.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_statistics.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_vote_button.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_vote_cabin.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_votes_count.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/signature_identities.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/system/initiative_signing_sms_verification_spec.rb
  decidim-initiatives/spec/system/initiative_signing_spec.rb
Labels: in-review, status: WIP

#4894 Correctly set the category in the admin debate form
  CHANGELOG.md
  decidim-debates/app/forms/decidim/debates/admin/debate_form.rb
  decidim-debates/spec/forms/decidim/debates/admin/debate_form_spec.rb
Labels: in-review

#4882 Add css variables for multitenant custom colors
  CHANGELOG.md
  decidim-admin/app/commands/decidim/admin/update_organization_appearance.rb
  decidim-admin/app/forms/decidim/admin/organization_appearance_form.rb
  decidim-admin/app/views/decidim/admin/organization_appearance/_form.html.erb
  decidim-admin/config/locales/en.yml
  decidim-consultations/app/assets/stylesheets/decidim/consultations/consultations/_consultations-banner.scss
  decidim-consultations/app/assets/stylesheets/decidim/consultations/consultations/_consultations-header.scss
  decidim-core/app/assets/stylesheets/decidim/_variables.scss
  decidim-core/app/assets/stylesheets/decidim/extras/_leaflet.scss
  decidim-core/app/assets/stylesheets/decidim/layouts/_home.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_address.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_author-avatar.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_badges.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_buttons.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_callout.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_conference-nav.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_filters.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_horizontal-tabs.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_loading-spinner.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_main-container.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_map.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_navbar.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_omnipresent_banner.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_process-header.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_process-nav.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_process-phase.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_status-labels.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_timeline.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_typography.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_wizard-steps.scss
  decidim-core/app/assets/stylesheets/decidim/utils/_mixins.scss
  decidim-core/app/assets/stylesheets/decidim/vizzs/_areachart.scss
  decidim-core/app/helpers/decidim/layout_helper.rb
  decidim-core/app/views/layouts/decidim/_application.html.erb
  decidim-core/app/views/layouts/decidim/_organization_colors.html.erb
  decidim-core/db/migrate/20190220023422_add_colors_to_decidim_organization.rb
Labels: in-review

#4898 Update community modules section of README (new modules + updates)
  README.md
Labels: status: WIP

#4897 Fix elements with non-unique ID on filtering pages
  CHANGELOG.md
  decidim-conferences/spec/queries/conference_program_meetings_by_day_spec.rb
  decidim-core/app/helpers/decidim/filters_helper.rb
  decidim-core/spec/helpers/decidim/filters_helper_spec.rb
  decidim-debates/spec/system/explore_debates_spec.rb
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-proposals/spec/system/collaborative_drafts_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
  decidim-proposals/spec/system/vote_proposal_spec.rb
Labels: status: WIP

#4896 Fix form to_param methods printing out empty IDs
  CHANGELOG.md
  decidim-dev/lib/decidim/dev/test/form_to_param_shared_examples.rb
  decidim-forms/app/forms/decidim/forms/admin/answer_option_form.rb
  decidim-forms/app/forms/decidim/forms/admin/question_form.rb
  decidim-forms/spec/forms/decidim/forms/admin/answer_option_form_spec.rb
  decidim-forms/spec/forms/decidim/forms/admin/question_form_spec.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_agenda_items_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_service_form.rb
  decidim-meetings/spec/forms/admin/meeting_agenda_item_form_spec.rb
  decidim-meetings/spec/forms/admin/meeting_service_form_spec.rb
Labels: status: WIP

#4899 Ensure collaborators can only preview
  CHANGELOG.md
  decidim-admin/app/controllers/decidim/admin/components/base_controller.rb
  decidim-participatory_processes/app/permissions/decidim/participatory_processes/permissions.rb
  decidim-participatory_processes/spec/permissions/decidim/participatory_processes/permissions_spec.rb
Labels: in-review

#4908 Fix dates in Catalan
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.ca.js
Labels: in-review

#4906 Signature ux fixes
  CHANGELOG.md
  Gemfile.lock
  decidim-core/app/services/decidim/action_authorizer.rb
  decidim-core/app/views/decidim/authorization_modals/show.html.erb
  decidim-generators/Gemfile.lock
  decidim-initiatives/app/controllers/concerns/decidim/initiatives/needs_initiative.rb
  decidim-initiatives/app/controllers/decidim/initiatives/initiative_signatures_controller.rb
  decidim-initiatives/app/forms/decidim/initiatives/vote_form.rb
  decidim-initiatives/app/views/decidim/initiatives/initiative_signatures/fill_personal_data.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/decidim-initiatives.gemspec
  decidim-initiatives/spec/controllers/decidim/initiatives/initiative_signatures_controller_spec.rb
  decidim-initiatives/spec/system/initiative_signing_sms_verification_spec.rb
  decidim-initiatives/spec/system/initiative_signing_spec.rb
  decidim-verifications/spec/system/action_authorization_spec.rb
  decidim_app-design/Gemfile.lock
Labels: in-review

#4909 Don't let users vote/follow withdrawn proposals
  CHANGELOG.md
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_vote_button.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/participatory_texts/_proposal_vote_button.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
Labels: in-review

#4911 Add options to attribute settings manifest
  CHANGELOG.md
  decidim-admin/app/views/decidim/admin/resource_permissions/_options_form.html.erb
  decidim-core/lib/decidim/settings_manifest.rb
  decidim-core/spec/services/decidim/action_authorizer_spec.rb
  decidim-verifications/lib/decidim/verifications/adapter.rb
  decidim-verifications/lib/decidim/verifications/default_action_authorizer.rb
Labels: in-review

#4895 Don't mix omniauth notifications with `Decidim::EventManager` events
  CHANGELOG.md
  decidim-core/app/commands/decidim/create_omniauth_registration.rb
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  docs/customization/oauth.md
Labels: status: ready
