Repository decidim/decidim, pull requests merged in 2020-03, with the labels that each got.

#5803 Do not allow invited users to sign up
  CHANGELOG.md
  decidim-core/app/commands/decidim/create_registration.rb
  decidim-core/app/controllers/decidim/devise/registrations_controller.rb
  decidim-core/app/forms/decidim/registration_form.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/spec/commands/decidim/create_registration_spec.rb
  decidim-core/spec/controllers/registrations_controller_spec.rb
  decidim-core/spec/forms/registration_form_spec.rb
Labels: type: bug

#5820 Upgrade nokogiri and puma for security
  CHANGELOG.md
  Gemfile
  Gemfile.lock
  decidim-dev/decidim-dev.gemspec
  decidim-generators/Gemfile
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: team: security

#5644 Upgrade geocoder to 1.6 with new api_key authentication.
  CHANGELOG.md
  Gemfile.lock
  decidim-core/app/helpers/decidim/map_helper.rb
  decidim-core/app/services/decidim/static_map_generator.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core/engine.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/geocoder.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim_app-design/Gemfile.lock
  docs/services/geocoding.md
Labels: in-review

#5641 Design for "EPIC: Improve the Comments component"
  decidim-core/app/assets/stylesheets/decidim/modules/_comments.scss
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/partials/_comment-single.html.erb
  decidim_app-design/app/views/public/partials/_comments.html.erb
  decidim_app-design/app/views/public/proposals/comment-view.html.erb
Labels: PAM2020

#5768 Fix javascript for HERE.com maps with apiKey
  CHANGELOG.md
  decidim-core/app/assets/javascripts/decidim/map.js.es6
  decidim-core/app/helpers/decidim/map_helper.rb
  decidim-core/vendor/assets/javascripts/leaflet-tilelayer-here.js
Labels: in-review

#5810 Publish proposals anwers at once
  CHANGELOG.md
  decidim-proposals/app/assets/javascripts/decidim/proposals/admin/proposals.es6
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
  decidim-proposals/app/commands/decidim/proposals/admin/answer_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/admin/notify_proposal_answer.rb
  decidim-proposals/app/commands/decidim/proposals/admin/publish_answers.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/proposals_controller.rb
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/controllers/decidim/proposals/versions_controller.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_answer_form.rb
  decidim-proposals/app/helpers/decidim/proposals/admin/proposals_helper.rb
  decidim-proposals/app/helpers/decidim/proposals/proposal_cells_helper.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/permissions/decidim/proposals/admin/permissions.rb
  decidim-proposals/app/presenters/decidim/proposals/admin_log/proposal_presenter.rb
  decidim-proposals/app/presenters/decidim/proposals/proposal_presenter.rb
  decidim-proposals/app/services/decidim/proposals/proposal_search.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposal_answers/_form.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_bulk-actions.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_proposal-tr.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_dropdown.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_publish_answers.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/index.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/publish_answers.js.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/update_category.js.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_badge.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/db/migrate/20200227175922_add_state_published_at_to_proposals.rb
  decidim-proposals/lib/decidim/proposals/admin_engine.rb
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/answer_proposal_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/notify_proposal_answer_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/publish_answers_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/answer_proposal_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/endorse_proposal_spec.rb
  decidim-proposals/spec/forms/decidim/proposals/admin/proposal_answer_form_spec.rb
  decidim-proposals/spec/models/decidim/proposals/proposal_spec.rb
  decidim-proposals/spec/permissions/decidim/proposals/admin/permissions_spec.rb
  decidim-proposals/spec/presenters/decidim/proposals/proposal_presenter_spec.rb
  decidim-proposals/spec/shared/merge_proposals_examples.rb
  decidim-proposals/spec/shared/publish_answers_examples.rb
  decidim-proposals/spec/system/admin_manages_proposals_spec.rb
  decidim-proposals/spec/system/filter_proposals_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: PAM2020, in-review

#5815 Lock geocoder version
  CHANGELOG.md
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: backport

#5670 Update development_guide.md JavaScript linter section
  docs/development_guide.md
Labels: team: documentation

#5568 Let components without step settings be added
  CHANGELOG.md
  decidim-admin/app/controllers/decidim/admin/components_controller.rb
  decidim-sortitions/spec/system/decidim/sortitions/admin/admin_manages_sortitions_spec.rb
Labels: in-review

#5620 Fix incorrect proposals sortition
  CHANGELOG.md
  decidim-sortitions/app/queries/decidim/sortitions/admin/participatory_space_proposals.rb
  decidim-sortitions/spec/commands/decidim/sortitions/admin/create_sortition_spec.rb
Labels: in-review

#5753 Use simple_format to add a <p> wrapper to proposals body
  CHANGELOG.md
  decidim-core/app/helpers/decidim/amendments_helper.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
Labels: type: bug

#5755 Add links to conversations
  CHANGELOG.md
  decidim-core/app/models/decidim/messaging/message.rb
  decidim-core/app/views/decidim/messaging/conversations/_message.html.erb
  decidim-core/spec/models/decidim/messaging/message_spec.rb
Labels: AM2019, in-review

#5847 Add api entities for blog endorsements
  CHANGELOG.md
  decidim-blogs/app/types/decidim/blogs/blogs_type.rb
  decidim-blogs/app/types/decidim/blogs/post_input_filter.rb
  decidim-blogs/app/types/decidim/blogs/post_input_sort.rb
  decidim-blogs/app/types/decidim/blogs/post_type.rb
  decidim-blogs/lib/decidim/blogs/test/factories.rb
  decidim-blogs/spec/types/post_input_filter_spec.rb
  decidim-blogs/spec/types/post_input_sort_spec.rb
  decidim-blogs/spec/types/post_type_spec.rb
  decidim-core/app/functions/decidim/core/component_finder_base.rb
  decidim-core/app/functions/decidim/core/component_list_base.rb
  decidim-core/app/types/decidim/core/has_endorsable_input_sort.rb
  decidim-core/app/types/decidim/core/has_timestamp_input_filter.rb
  decidim-core/app/types/decidim/core/has_timestamp_input_sort.rb
  decidim-core/lib/decidim/api/endorsable_interface.rb
  decidim-core/lib/decidim/api/timestamps_interface.rb
  decidim-core/lib/decidim/core/api.rb
  decidim-core/lib/decidim/core/test/shared_examples/endorsable_interface_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/input_sort_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/traceable_interface_examples.rb
  decidim-proposals/app/types/decidim/proposals/proposal_input_sort.rb
  decidim-proposals/app/types/decidim/proposals/proposal_type.rb
  decidim-proposals/app/types/decidim/proposals/proposals_type.rb
  decidim-proposals/spec/types/proposal_input_sort_spec.rb
  decidim-proposals/spec/types/proposal_type_spec.rb
  decidim-proposals/spec/types/proposals_type_spec.rb
Labels: graphql-api

#5720 Feature/receive messages from everyone
  CHANGELOG.md
  decidim-core/app/commands/decidim/update_notifications_settings.rb
  decidim-core/app/controllers/decidim/messaging/conversations_controller.rb
  decidim-core/app/forms/decidim/notifications_settings_form.rb
  decidim-core/app/helpers/decidim/messaging/conversation_helper.rb
  decidim-core/app/models/decidim/messaging/conversation.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/permissions/decidim/permissions.rb
  decidim-core/app/views/decidim/messaging/conversations/show.html.erb
  decidim-core/app/views/decidim/notifications_settings/show.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/db/migrate/20200211173227_add_direct_message_types_to_users.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/permissions.rb
  decidim-core/spec/commands/decidim/update_notifications_settings_spec.rb
  decidim-core/spec/controllers/messaging/conversations_controller_spec.rb
  decidim-core/spec/forms/notifications_settings_form_spec.rb
  decidim-core/spec/models/decidim/messaging/conversation_spec.rb
  decidim-core/spec/permissions/decidim/permissions_spec.rb
  decidim-core/spec/system/messaging/conversations_spec.rb
Labels: AM2019, in-review

#5852 Fix relative path in mentioned proposal email
  CHANGELOG.md
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/events/decidim/proposals/proposal_mentioned_event_spec.rb
Labels: type: bug

#5591 Add a return button for users to get back to indexes
  decidim-blogs/app/views/decidim/blogs/posts/show.html.erb
  decidim-blogs/config/locales/en.yml
  decidim-blogs/spec/system/explore_posts_spec.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/back_to_list_button_examples.rb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-debates/config/locales/en.yml
  decidim-debates/spec/system/show_spec.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/system/show_spec.rb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/show_spec.rb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/show.html.erb
  decidim-sortitions/config/locales/en.yml
  decidim-sortitions/spec/system/decidim/sortitions/show_spec.rb
Labels: in-review

#5808 Budgets: Sort projects by different criteria
  CHANGELOG.md
  config/i18n-tasks.yml
  decidim-budgets/app/controllers/concerns/decidim/budgets/orderable.rb
  decidim-budgets/app/controllers/decidim/budgets/projects_controller.rb
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-budgets/app/views/decidim/budgets/projects/_filters.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_projects.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/index.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/index.js.erb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/lib/decidim/budgets/test/factories.rb
  decidim-budgets/spec/system/sorting_projects_spec.rb
Labels: PAM2020, in-review

#5853 Port "fix relative path in mentioned proposal email (#5852)"
  CHANGELOG.md
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/events/decidim/proposals/proposal_mentioned_event_spec.rb
Labels: type: bug

#5765 Request confirmation to exit budgets component
  CHANGELOG.md
  decidim-budgets/app/assets/javascripts/decidim/budgets/projects.js.es6
  decidim-budgets/app/helpers/decidim/budgets/projects_helper.rb
  decidim-budgets/app/views/decidim/budgets/projects/_budget_summary.html.erb
  decidim-budgets/spec/helpers/projects_helper_spec.rb
  decidim-budgets/spec/system/orders_spec.rb
Labels: PAM2020, in-review

#5849 Allow to see a participant's email from the admin panel
  CHANGELOG.md
  decidim-admin/app/assets/javascripts/decidim/admin/application.js.es6
  decidim-admin/app/assets/javascripts/decidim/admin/officializations.js.es6
  decidim-admin/app/assets/stylesheets/decidim/admin/extra/_show_email.scss
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_loading-spinner.scss
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_modules.scss
  decidim-admin/app/assets/stylesheets/decidim/admin/utils/_mixins.scss
  decidim-admin/app/controllers/decidim/admin/officializations_controller.rb
  decidim-admin/app/views/decidim/admin/officializations/_show_email_modal.html.erb
  decidim-admin/app/views/decidim/admin/officializations/index.html.erb
  decidim-admin/app/views/decidim/admin/officializations/show_email.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/spec/permissions/decidim/admin/permissions_spec.rb
  decidim-admin/spec/system/admin_manages_officializations_spec.rb
  decidim-core/app/presenters/decidim/admin_log/user_presenter.rb
  decidim-core/config/locales/en.yml
Labels: PAM2020, in-review

#5718 Add scroll to bottom and apply it on conversations
  CHANGELOG.md
  decidim-core/app/assets/javascripts/decidim.js.es6
  decidim-core/app/assets/javascripts/decidim/conversations.js.es6
  decidim-core/app/views/decidim/messaging/conversations/show.html.erb
  decidim-core/spec/system/messaging/conversations_spec.rb
Labels: in-review, type: bug

#5858 Add missing defaults in initializer template
  decidim-core/lib/decidim/core.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
Labels: in-review

#5896 Apply latest ActionView patches
  CHANGELOG.md
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: team: security

#5894 Retry failed test to avoid flaky
  CHANGELOG.md
  Gemfile.lock
  decidim-dev/decidim-dev.gemspec
  decidim-dev/lib/decidim/dev/test/base_spec_helper.rb
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: in-review

#5855 Add docs about the settings of the initiatives module
  decidim-initiatives/README.md
Labels: in-review

#5859 Force signin on API if the organization requires it
  CHANGELOG.md
  decidim-api/app/controllers/decidim/api/application_controller.rb
  decidim-api/app/controllers/decidim/api/graphiql_controller.rb
  decidim-api/config/routes.rb
  decidim-api/spec/controllers/queries_controller_spec.rb
  decidim-api/spec/system/graphiql_spec.rb
Labels: in-review

#5789 Confirmation emails are sent in user's language (from browser)
  CHANGELOG.md
  decidim-core/app/commands/decidim/create_registration.rb
  decidim-core/app/controllers/decidim/devise/registrations_controller.rb
  decidim-core/app/forms/decidim/registration_form.rb
  decidim-core/spec/commands/decidim/create_registration_spec.rb
  decidim-core/spec/system/authentication_spec.rb
Labels: in-review

#5848 Apply simplified design for activity cards for the home page, and Timeline and Activity Tab
  CHANGELOG.md
  decidim-comments/spec/cells/decidim/comments/comment_activity_cell_spec.rb
  decidim-core/app/assets/stylesheets/decidim/modules/_author-avatar.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
  decidim-core/app/cells/decidim/activity/show.erb
  decidim-proposals/spec/cells/decidim/proposals/proposal_activity_cell_spec.rb
  decidim_app-design/app/views/public/partials/_author_data.html.erb
  decidim_app-design/app/views/public/partials/_last_activity.html.erb
Labels: in-review

#5553 Security patches
  CHANGELOG.md
  decidim-admin/spec/commands/decidim/admin/deliver_newsletter_spec.rb
  decidim-comments/app/commands/decidim/comments/create_comment.rb
  decidim-comments/app/forms/decidim/comments/comment_form.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-comments/app/types/decidim/comments/commentable_mutation_type.rb
  decidim-comments/lib/decidim/comments/test/shared_examples/create_comment_context.rb
  decidim-comments/spec/commands/create_comment_spec.rb
  decidim-comments/spec/forms/comment_form_spec.rb
  decidim-comments/spec/types/commentable_mutation_type_spec.rb
  decidim-core/app/cells/decidim/profile_sidebar/show.erb
  decidim-core/app/cells/decidim/profile_sidebar_cell.rb
  decidim-core/app/cells/decidim/user_profile_cell.rb
  decidim-core/app/controllers/decidim/devise/sessions_controller.rb
  decidim-core/app/helpers/decidim/sanitize_helper.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/types/decidim/core/decidim_type.rb
  decidim-core/app/uploaders/decidim/attachment_uploader.rb
  decidim-core/app/uploaders/decidim/image_uploader.rb
  decidim-core/app/views/decidim/profiles/_user_follow.erb
  decidim-core/config/initializers/devise.rb
  decidim-core/config/locales/en.yml
  decidim-core/db/migrate/20191204075509_add_session_token_to_users.rb
  decidim-core/lib/decidim/api/participatory_space_interface.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/types/decidim_type_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_list_item_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_m_cell.rb
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/helpers/decidim/meetings/map_helper.rb
  decidim-meetings/app/helpers/decidim/meetings/meetings_helper.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/services/decidim/meetings/calendar/meeting_to_event.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_minutes.html.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/highlighted_processes/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/highlighted_processes/single_process.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_m/tags.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_m_cell.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_processes_controller.rb
  decidim-participatory_processes/app/views/layouts/decidim/_process_header.html.erb
  decidim-participatory_processes/spec/controllers/participatory_processes_controller_spec.rb
  decidim-proposals/app/cells/decidim/proposals/collaborative_draft_m_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
  decidim-sortitions/app/helpers/decidim/sortitions/sortitions_helper.rb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/confirm_destroy.html.erb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/edit.html.erb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/index.html.erb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/show.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortition_widgets/show.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_linked_sortitions.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/show.html.erb
  decidim-verifications/app/commands/decidim/verifications/confirm_user_authorization.rb
  decidim-verifications/app/controllers/decidim/verifications/id_documents/admin/confirmations_controller.rb
  decidim-verifications/app/controllers/decidim/verifications/postal_letter/authorizations_controller.rb
  decidim-verifications/app/controllers/decidim/verifications/sms/authorizations_controller.rb
  decidim-verifications/spec/commands/decidim/verifications/confirm_user_authorization_spec.rb
Labels: in-review, release: v0.22, team: security, type: bug

#5892 Improve documentation on Views/HTML customizations
  docs/customization/views.md
Labels: team: documentation

#5901 fix: indeterminate checkboxes state is not consistent between browsers
  CHANGELOG.md
  decidim-core/app/assets/javascripts/decidim/check_boxes_tree.js.es6
Labels: in-review
