Repository decidim/decidim, pull requests merged in 2020-11, with the labels that each got.

#6763 Do not html_escape twice meetings title in cells
  decidim-core/lib/decidim/content_processor.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_list_item_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_m_cell.rb
  decidim-meetings/spec/cells/decidim/meetings/meeting_cell_spec.rb
  decidim-meetings/spec/cells/decidim/meetings/meeting_m_cell_spec.rb
Labels: component: meetings, in-review, type: bug

#6783 Backport #6756 to 0.23 (Fix aria-label attribute in the vote modal confirm close button)
  decidim-consultations/app/views/decidim/consultations/questions/_vote_modal_confirm.html.erb
Labels: space: consultations

#6780 Backport "Do not html_escape twice meetings title in cells" to v0.23
  decidim-meetings/app/cells/decidim/meetings/meeting_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_list_item_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_m_cell.rb
  decidim-meetings/spec/cells/decidim/meetings/meeting_cell_spec.rb
  decidim-meetings/spec/cells/decidim/meetings/meeting_m_cell_spec.rb
Labels: component: meetings

#6610 Bubble jQuery events with the custom confirm dialog
  decidim-core/app/assets/javascripts/decidim/confirm.js.es6
Labels: in-review

#6781 Backport "Do not html_escape twice meetings title in cells" to v0.22
  decidim-meetings/app/cells/decidim/meetings/meeting_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_list_item_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_m_cell.rb
  decidim-meetings/spec/cells/decidim/meetings/meeting_cell_spec.rb
  decidim-meetings/spec/cells/decidim/meetings/meeting_m_cell_spec.rb
Labels: component: meetings

#6638 Add Visual Code Remote Containers support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  CHANGELOG.md
Labels: in-review

#6797 Fix question#show view when question has no hero_image
  decidim-consultations/app/views/decidim/consultations/questions/show.html.erb
  decidim-consultations/spec/system/question_spec.rb
Labels: type: bug

#6798 Fix highlighted participatory processes title
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/_promoted_process.html.erb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: in-review, space: processes, type: bug

#6800 Backport "Fix highlighted participatory processes title" to v0.22
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/_promoted_process.html.erb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: in-review, space: processes, type: bug

#6799 Backport "Fix highlighted participatory processes title" to v0.23
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/_promoted_process.html.erb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: in-review, space: processes, type: bug

#6664 Backport smtp settings correction
  decidim-admin/config/locales/en.yml
  decidim-core/app/mailers/decidim/application_mailer.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/mailers/application_mailer_spec.rb
  decidim-dev/app/mailers/decidim/dummy_resources/dummy_resource_mailer.rb
  decidim-system/app/forms/decidim/system/update_organization_form.rb
  decidim-system/app/views/decidim/system/organizations/_smtp_settings.html.erb
  decidim-system/config/locales/en.yml
  decidim-system/db/migrate/20201013132945_update_smtp_from_label.rb
  decidim-system/spec/commands/decidim/system/register_organization_spec.rb
  decidim-system/spec/commands/decidim/system/update_organization_spec.rb
  decidim-system/spec/forms/decidim/system/update_organization_form_spec.rb
Labels: in-review

#6837 Fix display conditions validations with choices
  decidim-forms/app/assets/javascripts/decidim/forms/display_conditions.component.js.es6
  decidim-forms/app/forms/decidim/forms/answer_form.rb
  decidim-forms/app/forms/decidim/forms/questionnaire_form.rb
  decidim-forms/app/models/decidim/forms/display_condition.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaires/add_display_conditions.rb
  decidim-forms/spec/forms/decidim/forms/answer_form_spec.rb
  decidim-forms/spec/models/decidim/forms/display_condition_spec.rb
Labels: in-review, type: bug

#6840 Backport "fix display conditions validations with choices" to 0.23
  decidim-forms/app/assets/javascripts/decidim/forms/display_conditions.component.js.es6
  decidim-forms/app/forms/decidim/forms/answer_form.rb
  decidim-forms/app/forms/decidim/forms/questionnaire_form.rb
  decidim-forms/app/models/decidim/forms/display_condition.rb
  decidim-forms/spec/forms/decidim/forms/answer_form_spec.rb
  decidim-forms/spec/models/decidim/forms/display_condition_spec.rb
Labels: in-review, type: bug

#6838 Fix issues with move proposal fields to i18n
  decidim-proposals/db/migrate/20200708091228_move_proposals_fields_to_i18n.rb
Labels: component: proposals, in-review

#6747 feat: send notification to reported content authors
  decidim-core/app/commands/decidim/create_report.rb
  decidim-core/app/events/decidim/report_created_event.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/commands/decidim/create_report_spec.rb
  decidim-core/spec/lib/events/report_created_event_spec.rb
Labels: general: core, in-review

#6736 Running test suite, the Devise is throwing an error that devise_error_messages is deprecated
  decidim-core/app/views/decidim/devise/confirmations/new.html.erb
  decidim-core/app/views/decidim/devise/registrations/edit.html.erb
  decidim-core/app/views/decidim/devise/unlocks/new.html.erb
  decidim-system/app/views/decidim/system/devise/passwords/edit.html.erb
  decidim-system/app/views/decidim/system/devise/passwords/new.html.erb
Labels: component: system, general: core, in-review

#6831 Fix String to Array comparison in meetings type filter
  decidim-meetings/app/services/decidim/meetings/meeting_search.rb
  decidim-meetings/spec/services/meeting_search_spec.rb
Labels: component: meetings, in-review

#6810 Fix subhero removing strip_tags from it
  decidim-core/app/assets/stylesheets/decidim/layouts/_home.scss
  decidim-core/app/cells/decidim/content_blocks/sub_hero/show.erb
  decidim-core/spec/cells/decidim/content_blocks/sub_hero_cell_spec.rb
Labels: general: core, in-review

#6833 Fix broken profile link in plain text emails
  decidim-core/app/presenters/decidim/user_presenter.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-core/spec/content_renderers/decidim/user_group_renderer_spec.rb
  decidim-core/spec/content_renderers/decidim/user_renderer_spec.rb
  decidim-core/spec/presenters/decidim/user_presenter_spec.rb
Labels: general: core, in-review

#6803 Fix proposals selection when closing a meeting
  decidim-meetings/app/forms/decidim/meetings/admin/close_meeting_form.rb
Labels: component: meetings, in-review

#6725 Add info to report email for moderators
  decidim-core/app/mailers/decidim/reported_mailer.rb
  decidim-core/app/views/decidim/reported_mailer/report.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/translatable_resource.rb
  decidim-core/spec/mailers/reported_mailer_spec.rb
Labels: in-review

#6662 Add registration system
  decidim-forms/app/views/decidim/forms/admin/questionnaires/edit.html.erb
  decidim-meetings/app/assets/javascripts/decidim/meetings/admin/meetings_form.js.es6
  decidim-meetings/app/assets/javascripts/decidim/meetings/meetings_form.js.es6
  decidim-meetings/app/cells/decidim/meetings/join_meeting_button/show.erb
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/update_meeting.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/meeting_form.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_form.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20201016112641_add_registration_type_and_url_to_meetings.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/commands/admin/create_meeting_spec.rb
  decidim-meetings/spec/commands/admin/update_meeting_spec.rb
  decidim-meetings/spec/commands/create_meeting_spec.rb
  decidim-meetings/spec/commands/update_meeting_spec.rb
  decidim-meetings/spec/forms/admin/meeting_form_spec.rb
  decidim-meetings/spec/forms/meeting_form_spec.rb
  decidim-meetings/spec/system/admin_manages_meetings_spec.rb
  decidim-meetings/spec/system/user_creates_meeting_spec.rb
Labels: in-review

#6794 Generate changelog entries
  Rakefile
  docs/advanced/releases.md
  lib/decidim/git_log_parser.rb
  spec/decidim/git_log_parser_spec.rb
Labels: general: core

#6818 fix: show generic error on minimagick processing error
  decidim-core/app/uploaders/decidim/application_uploader.rb
  decidim-core/app/uploaders/decidim/attachment_uploader.rb
  decidim-core/app/uploaders/decidim/image_uploader.rb
Labels: in-review

#6658 Filter created initiatives only by author
  decidim-initiatives/app/helpers/decidim/initiatives/application_helper.rb
  decidim-initiatives/app/services/decidim/initiatives/initiative_search.rb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/services/decidim/initiatives/initiative_search_spec.rb
  decidim-initiatives/spec/system/filter_initiatives_spec.rb
Labels: in-review

#6839 Fix searchable issues with resources with unexisting organization
  decidim-core/lib/decidim/search_resource_fields_mapper.rb
  decidim-core/lib/decidim/searchable.rb
Labels: in-review

#6842 Backport "Fix issues with move proposal fields to i18n" to 0.23
  decidim-proposals/db/migrate/20200708091228_move_proposals_fields_to_i18n.rb
Labels: in-review

#6767 Add locales for cost report
  decidim-proposals/config/locales/en.yml
Labels: component: proposals, in-review, type: bug

#6845 Fix color text for unpublish button
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_buttons.scss
Labels: general: admin, in-review, type: bug

#6696 Detect the use of spam-bots and ban non compliant users (part 1)
  CHANGELOG.md
  decidim-admin/app/assets/javascripts/decidim/admin/user_moderations.js
  decidim-admin/app/assets/stylesheets/decidim/admin/user_moderations.scss
  decidim-admin/app/commands/decidim/admin/unreport_user.rb
  decidim-admin/app/controllers/decidim/admin/moderated_users_controller.rb
  decidim-admin/app/controllers/decidim/admin/officializations_controller.rb
  decidim-admin/app/helpers/decidim/admin/user_moderations_helper.rb
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/app/views/decidim/admin/moderated_users/_report.html.erb
  decidim-admin/app/views/decidim/admin/moderated_users/index.html.erb
  decidim-admin/app/views/decidim/admin/officializations/index.html.erb
  decidim-admin/app/views/layouts/decidim/admin/users.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-admin/spec/commands/decidim/admin/unreport_user_spec.rb
  decidim-core/app/cells/decidim/author/flag_user.erb
  decidim-core/app/cells/decidim/author_cell.rb
  decidim-core/app/cells/decidim/flag_modal/flag_user.erb
  decidim-core/app/cells/decidim/flag_modal_cell.rb
  decidim-core/app/cells/decidim/profile_sidebar/show.erb
  decidim-core/app/cells/decidim/profile_sidebar_cell.rb
  decidim-core/app/commands/decidim/create_user_report.rb
  decidim-core/app/controllers/concerns/decidim/flaggable.rb
  decidim-core/app/controllers/decidim/profiles_controller.rb
  decidim-core/app/controllers/decidim/report_users_controller.rb
  decidim-core/app/controllers/decidim/user_activities_controller.rb
  decidim-core/app/controllers/decidim/user_timeline_controller.rb
  decidim-core/app/helpers/decidim/cells_helper.rb
  decidim-core/app/jobs/decidim/user_report_job.rb
  decidim-core/app/mailers/decidim/user_report_mailer.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/models/decidim/user_group.rb
  decidim-core/app/models/decidim/user_moderation.rb
  decidim-core/app/models/decidim/user_report.rb
  decidim-core/app/permissions/decidim/report_user_permissions.rb
  decidim-core/app/presenters/decidim/admin_log/user_moderation_presenter.rb
  decidim-core/app/views/decidim/user_report_mailer/notify.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/db/migrate/20201010124755_create_decidim_user_moderations.rb
  decidim-core/db/migrate/20201010124756_create_decidim_user_reports.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/user_reportable.rb
  decidim-core/spec/models/decidim/user_moderation_spec.rb
  decidim-core/spec/system/user_report_spec.rb
Labels: in-review

#6817 Fix broken comments index redirect for non-XHR requests
  decidim-budgets/spec/system/comments_spec.rb
  decidim-comments/app/controllers/decidim/comments/comments_controller.rb
Labels: component: budgets, component: comments, in-review, type: bug

#6769 Disable select inputs with the subform toggler as well
  decidim-admin/app/assets/javascripts/decidim/admin/subform_multi_toggler.component.js.es6
  decidim-admin/app/assets/javascripts/decidim/admin/subform_toggler.component.js.es6
Labels: general: admin, in-review

#6751 Fix inconsistent styles in links.
  decidim-admin/app/assets/stylesheets/decidim/admin/components/_dropdown-menu.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_collapsible-list.scss
Labels: femdev, general: admin, general: core, in-review

#6850 Fix security token generation in anonymous surveys and pads
  decidim-core/app/services/decidim/tokenizer.rb
  decidim-core/lib/decidim/paddable.rb
  decidim-core/spec/lib/paddable_spec.rb
  decidim-core/spec/services/decidim/tokenizer_spec.rb
  decidim-forms/app/controllers/decidim/forms/concerns/has_questionnaire.rb
  decidim-forms/app/helpers/decidim/forms/admin/questionnaire_answers_helper.rb
  decidim-forms/app/models/decidim/forms/questionnaire.rb
  decidim-forms/db/migrate/20201110152921_add_salt_to_decidim_forms_questionnaires.rb
  decidim-forms/lib/decidim/forms/test/factories.rb
  decidim-forms/lib/decidim/forms/user_answers_serializer.rb
  decidim-forms/spec/commands/decidim/forms/answer_questionnaire_spec.rb
  decidim-forms/spec/serializers/decidim/forms/user_answers_serializer_spec.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/db/migrate/20201111133246_add_salt_to_decidim_meetings.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
Labels: in-review, team: security

#6865 Fix to suppress error when "forms.length_validator.minimum.one" is missing
  decidim-core/app/views/layouts/decidim/_js_configuration.html.erb
Labels: general: core, in-review, type: bug

#6726 Send report email when reported resource is translated to default org language
  decidim-core/app/jobs/decidim/machine_translation_save_job.rb
  decidim-core/spec/jobs/decidim/machine_translation_save_job_spec.rb
Labels: general: core, in-review

#6813 Setup election for bulletin board
  .codeclimate.yml
  Gemfile.lock
  decidim-dev/decidim-dev.gemspec
  decidim-dev/lib/decidim/dev/test/rspec_support/vcr.rb
  decidim-elections/README.md
  decidim-elections/app/commands/decidim/elections/admin/setup_election.rb
  decidim-elections/app/controllers/decidim/elections/admin/setup_controller.rb
  decidim-elections/app/events/decidim/elections/trustees/notify_trustee_new_election_event.rb
  decidim-elections/app/forms/decidim/elections/admin/setup_form.rb
  decidim-elections/app/models/decidim/elections/election.rb
  decidim-elections/app/models/decidim/elections/question.rb
  decidim-elections/app/permissions/decidim/elections/admin/permissions.rb
  decidim-elections/app/queries/decidim/elections/trustees/by_participatory_space.rb
  decidim-elections/app/queries/decidim/elections/trustees/by_participatory_space_trustee_ids.rb
  decidim-elections/app/types/decidim/elections/election_type.rb
  decidim-elections/app/views/decidim/elections/admin/answers/index.html.erb
  decidim-elections/app/views/decidim/elections/admin/elections/index.html.erb
  decidim-elections/app/views/decidim/elections/admin/questions/index.html.erb
  decidim-elections/app/views/decidim/elections/admin/setup/_form.html.erb
  decidim-elections/app/views/decidim/elections/admin/setup/show.html.erb
  decidim-elections/app/views/decidim/elections/admin/setup/update.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20201026163334_add_blocked_at_and_bb_status_to_elections.rb
  decidim-elections/decidim-elections.gemspec
  decidim-elections/lib/decidim/elections.rb
  decidim-elections/lib/decidim/elections/admin_engine.rb
  decidim-elections/lib/decidim/elections/bulletin_board_client.rb
  decidim-elections/lib/decidim/elections/engine.rb
  decidim-elections/lib/decidim/elections/jwk_utils.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/lib/tasks/decidim_elections.rake
  decidim-elections/spec/cassettes/Admin_manages_elections/set_up_an_election/when_the_election_is_published/sets_up_an_election.json
  decidim-elections/spec/cassettes/Decidim_Elections_Admin_SetupElection/when_valid_form/setup_the_election.json
  decidim-elections/spec/commands/decidim/elections/admin/setup_election_spec.rb
  decidim-elections/spec/events/decidim/elections/trustees/notify_trustee_new_election_event_spec.rb
  decidim-elections/spec/lib/decidim/elections/bulletin_board_client_spec.rb
  decidim-elections/spec/lib/tasks/decidim_election_generate_identification_keys_spec.rb
  decidim-elections/spec/permissions/decidim/elections/admin/permissions_spec.rb
  decidim-elections/spec/queries/decidim/elections/trustees/by_participatory_space_spec.rb
  decidim-elections/spec/queries/decidim/elections/trustees/by_participatory_space_trustee_ids_spec.rb
  decidim-elections/spec/system/admin_manages_answers_spec.rb
  decidim-elections/spec/system/admin_manages_elections_spec.rb
  decidim-elections/spec/system/admin_manages_questions_spec.rb
  decidim-elections/spec/types/decidim/elections/election_type_spec.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-initiatives/app/views/layouts/decidim/admin/initiative.html.erb
  decidim_app-design/Gemfile.lock
  docs/services/elections_bulletin_board.md
Labels: component: elections, contract: e-voting, criticality: high

#6868 Fix send report notification asynchronously
  decidim-core/app/jobs/decidim/machine_translation_save_job.rb
Labels: general: core, in-review, type: bug

#6805 Solves #6537 Align actions on Admin panel
  decidim-admin/app/assets/stylesheets/decidim/admin/extra/_action-icon.scss
  decidim-admin/app/views/decidim/admin/components/_component.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/index.html.erb
  decidim-consultations/app/views/decidim/consultations/admin/consultations/index.html.erb
  decidim-consultations/app/views/decidim/consultations/admin/questions/index.html.erb
  decidim-consultations/app/views/decidim/consultations/admin/response_groups/index.html.erb
  decidim-consultations/app/views/decidim/consultations/admin/responses/index.html.erb
  decidim-debates/app/views/decidim/debates/admin/debates/index.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/index.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_groups/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_steps/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_user_roles/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/index.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_proposal-tr.html.erb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/index.html.erb
Labels: component: assemblies, component: debates, component: meetings, component: participatory processes, component: proposals, component: sortitions, general: admin, in-review, space: consultations, space: initiative

#6886 Fix to use `tail_before_final_tag: false` option
  decidim-core/app/helpers/decidim/application_helper.rb
  decidim-core/spec/helpers/decidim/application_helper_spec.rb
Labels: general: core, in-review

#6888 Remove httparty gem
  Gemfile.lock
  decidim-blogs/decidim-blogs.gemspec
  decidim-generators/Gemfile.lock
  decidim-meetings/decidim-meetings.gemspec
  decidim_app-design/Gemfile.lock
Labels: component: blogs, component: meetings, general: generators, in-review, team: design

#6698 Add a config flag to disable the registration code
  config/i18n-tasks.yml
  decidim-dev/lib/decidim/dev/assets/assemblies.json
  decidim-meetings/app/commands/decidim/meetings/admin/validate_registration_code.rb
  decidim-meetings/app/views/decidim/meetings/admin/registrations/edit.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/app/views/decidim/meetings/registration_mailer/confirmation.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/spec/commands/admin/validate_registration_code_spec.rb
  decidim-meetings/spec/commands/join_meeting_spec.rb
  decidim-meetings/spec/mailers/registration_mailer_spec.rb
  decidim-meetings/spec/shared/manage_registrations_examples.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  spec/i18n_spec.rb
Labels: in-review

#6768 Show election results
  decidim-admin/app/assets/stylesheets/decidim/admin/extra/_action-icon.scss
  decidim-elections/app/commands/decidim/elections/admin/update_answer_selection.rb
  decidim-elections/app/controllers/decidim/elections/admin/answers_controller.rb
  decidim-elections/app/models/decidim/elections/election.rb
  decidim-elections/app/models/decidim/elections/question.rb
  decidim-elections/app/permissions/decidim/elections/admin/permissions.rb
  decidim-elections/app/types/decidim/elections/election_answer_type.rb
  decidim-elections/app/views/decidim/elections/admin/answers/index.html.erb
  decidim-elections/app/views/decidim/elections/elections/_preview.html.erb
  decidim-elections/app/views/decidim/elections/elections/_results.html.erb
  decidim-elections/app/views/decidim/elections/elections/show.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20201028090110_add_votes_to_decidim_elections_answers.rb
  decidim-elections/db/migrate/20201028135614_add_selected_to_decidim_elections_answers.rb
  decidim-elections/lib/decidim/elections/admin_engine.rb
  decidim-elections/lib/decidim/elections/component.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/spec/commands/decidim/elections/admin/update_answer_selection_spec.rb
  decidim-elections/spec/permissions/decidim/elections/admin/permissions_spec.rb
  decidim-elections/spec/system/admin_manages_answers_spec.rb
  decidim-elections/spec/system/explore_elections_spec.rb
  decidim-elections/spec/types/decidim/elections/election_answer_type_spec.rb
Labels: component: elections, contract: e-voting, in-review

#6666 Add HTML titles in Admin panel
  decidim-admin/app/helpers/decidim/admin/application_helper.rb
  decidim-admin/app/views/decidim/admin/dashboard/show.html.erb
  decidim-admin/app/views/layouts/decidim/admin/_application.html.erb
  decidim-admin/app/views/layouts/decidim/admin/_title_bar.html.erb
  decidim-admin/config/locales/en.yml
  decidim-blogs/app/views/decidim/blogs/admin/posts/edit.html.erb
  decidim-blogs/config/locales/en.yml
  decidim-budgets/app/views/decidim/budgets/admin/proposals_imports/new.html.erb
  decidim-budgets/config/locales/en.yml
  decidim-elections/app/views/decidim/elections/admin/proposals_imports/new.html.erb
  decidim-elections/config/locales/en.yml
  decidim-meetings/app/views/decidim/meetings/admin/invites/index.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/edit.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/new.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/minutes/edit.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_copies/new.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_steps/edit.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_user_roles/edit.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_user_roles/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_user_roles/new.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/new.html.erb
  decidim-participatory_processes/app/views/layouts/decidim/admin/participatory_process.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals_imports/new.html.erb
  decidim-proposals/config/locales/en.yml
Labels: in-review

#6846 Export election results
  decidim-core/app/uploaders/decidim/open_data_uploader.rb
  decidim-core/spec/factories.rb
  decidim-core/spec/services/decidim/open_data_exporter_spec.rb
  decidim-core/spec/system/homepage_spec.rb
  decidim-elections/app/helpers/decidim/elections/admin/answers_helper.rb
  decidim-elections/app/views/decidim/elections/elections/show.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/elections.rb
  decidim-elections/lib/decidim/elections/answer_serializer.rb
  decidim-elections/lib/decidim/elections/component.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/spec/lib/decidim/elections/answer_serializer_spec.rb
Labels: component: elections, contract: e-voting, general: core, in-review

#6655 Implement ContentBlock for Process Groups (Admin UI)
  decidim-admin/app/commands/decidim/admin/reorder_content_blocks.rb
  decidim-admin/spec/commands/decidim/admin/reorder_content_blocks_spec.rb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_block/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_block_cell.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_group_landing_page_content_blocks_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_group_landing_page_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_groups_controller.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_group_landing_page/edit.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_group_landing_page_content_blocks/edit.html.erb
  decidim-participatory_processes/app/views/layouts/decidim/admin/participatory_process_group.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/lib/decidim/participatory_processes/admin_engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_group_landing_page_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_groups_spec.rb
Labels: in-review

#6874 Automatically enable registrations when meeting is "on this platform"
  decidim-meetings/app/commands/decidim/meetings/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/update_meeting.rb
  decidim-meetings/app/forms/decidim/meetings/meeting_form.rb
  decidim-meetings/spec/commands/create_meeting_spec.rb
  decidim-meetings/spec/commands/update_meeting_spec.rb
  decidim-meetings/spec/forms/meeting_form_spec.rb
  decidim-meetings/spec/system/user_creates_meeting_spec.rb
Labels: in-review

#6902 Fix mixing answers exports and admin management in questionnaires
  decidim-forms/app/presenters/decidim/forms/admin/questionnaire_participant_presenter.rb
  decidim-forms/spec/presenters/decidim/admin/questionnaire_participant_presenter_spec.rb
  decidim-surveys/lib/decidim/surveys/component.rb
Labels: in-review, type: bug

#6909 Backport "Fix newsletter delivery issue to all recipients with no scopes" to 0.23
  decidim-admin/app/forms/decidim/admin/selective_newsletter_form.rb
  decidim-admin/spec/forms/selective_newsletter_form_spec.rb
  decidim-admin/spec/queries/newsletter_recipients_spec.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/spec/models/decidim/user_spec.rb
Labels: in-review

#6809 Update release notes documentation
  docs/advanced/releases.md
Labels: in-review, team: documentation

#6291 Allow user to drag address on proposal map
  decidim-core/app/assets/javascripts/decidim/map/controller/markers.js.es6
  decidim-proposals/app/assets/stylesheets/decidim/proposals/_proposals.css.scss
  decidim-proposals/app/assets/stylesheets/decidim/proposals/proposals/_preview.css.scss
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/forms/decidim/proposals/proposal_form.rb
  decidim-proposals/app/helpers/decidim/proposals/map_helper.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_dynamic_map_instructions.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_edit_form_fields.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/preview.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/helpers/map_helper_spec.rb
  decidim-proposals/spec/shared/proposal_form_examples.rb
  decidim-proposals/spec/shared/proposals_wizards_examples.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
  decidim-proposals/spec/system/proposal_wizard_spec.rb
Labels: component: proposals, general: core, in-review

#6879 Fix traceability logs with invalid record
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-assemblies/spec/commands/update_assembly_spec.rb
  decidim-core/app/services/decidim/traceability.rb
  decidim-core/spec/services/decidim/traceability_spec.rb
  decidim-dev/lib/decidim/dev/assets/5000x5000.png
Labels: component: assemblies, general: core, in-review, type: bug

#6866 Localize a string in conference speaker
  decidim-conferences/app/cells/decidim/conferences/conference_speaker/show.erb
  decidim-conferences/config/locales/en.yml
Labels: in-review, space:conferences, type: bug

#6893 Restore consultation description HTML format tags
  decidim-consultations/app/views/decidim/consultations/consultations/_consultation_details.html.erb
Labels: in-review, space: consultations, type: bug
