Repository decidim/decidim, pull requests merged in 2020-08, with the labels that each got.

#6179 Add machine translation service
  decidim-core/app/jobs/decidim/machine_translation_fields_job.rb
  decidim-core/app/jobs/decidim/machine_translation_resource_job.rb
  decidim-core/app/jobs/decidim/machine_translation_save_job.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/translatable_attributes.rb
  decidim-core/lib/decidim/translatable_resource.rb
  decidim-core/spec/commands/decidim/invite_user_spec.rb
  decidim-core/spec/jobs/decidim/machine_translation_fields_job_spec.rb
  decidim-core/spec/jobs/decidim/machine_translation_resource_job_spec.rb
  decidim-core/spec/jobs/decidim/machine_translation_save_job_spec.rb
  decidim-core/spec/lib/translatable_resource_spec.rb
  decidim-dev/lib/decidim/dev.rb
  decidim-dev/lib/decidim/dev/dummy_translator.rb
  decidim-dev/spec/lib/decidim/dev/dummy_translator_spec.rb
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
Labels: general: core, in-review

#6375 Better initiative button
  decidim-core/app/views/decidim/shared/_login_modal.html.erb
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_controller.rb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_index_header.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/system/create_initiative_spec.rb
  decidim-verifications/app/views/decidim/verifications/authorizations/index.html.erb
Labels: in-review

#6306 Embed debates
  decidim-accountability/app/controllers/decidim/accountability/result_widgets_controller.rb
  decidim-accountability/app/controllers/decidim/accountability/results_controller.rb
  decidim-accountability/app/views/decidim/accountability/results/_stats_box.html.erb
  decidim-accountability/lib/decidim/accountability/engine.rb
  decidim-assemblies/app/controllers/decidim/assemblies/widgets_controller.rb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/show.html.erb
  decidim-assemblies/lib/decidim/assemblies/engine.rb
  decidim-assemblies/spec/system/assembly_embeds_spec.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/embed_resource_examples.rb
  decidim-debates/app/controllers/decidim/debates/debates_controller.rb
  decidim-debates/app/controllers/decidim/debates/widgets_controller.rb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-debates/lib/decidim/debates/engine.rb
  decidim-debates/spec/system/debate_embeds_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/component_context.rb
  decidim-initiatives/app/controllers/decidim/initiatives/widgets_controller.rb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-initiatives/spec/system/initiative_embeds_spec.rb
  decidim-meetings/app/controllers/decidim/meetings/widgets_controller.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-meetings/spec/system/meeting_embeds_spec.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/widgets_controller.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/spec/system/process_embeds_spec.rb
  decidim-proposals/app/controllers/decidim/proposals/widgets_controller.rb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/spec/system/proposal_embeds_spec.rb
  decidim-sortitions/app/controllers/decidim/sortitions/widgets_controller.rb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/show.html.erb
  decidim-sortitions/lib/decidim/sortitions/engine.rb
  decidim-sortitions/spec/system/decidim/sortitions/sortition_embeds_spec.rb
Labels: component: accountability, component: assemblies, component: debates, component: meetings, component: proposals, component: sortitions, general: core, general: dev, in-review, space: assemblies, space: initiative, space: processes

#6384 Fix bugs after proposals i18n move
  decidim-budgets/app/commands/decidim/budgets/admin/import_proposals_to_budgets.rb
  decidim-budgets/spec/commands/admin/import_proposals_to_budgets_spec.rb
  decidim-proposals/lib/decidim/proposals/component.rb
Labels: in-review

#6380 Do not migrate surveys that were already migrated in the past
  decidim-surveys/db/migrate/20200609090533_check_legacy_tables.rb
Labels: component: surveys, in-review

#6278 Close debates
  config/i18n-tasks.yml
  decidim-admin/app/assets/javascripts/decidim/admin/application.js.es6
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/lib/decidim/translatable_attributes.rb
  decidim-core/spec/lib/form_builder_spec.rb
  decidim-debates/app/cells/decidim/debates/debate_m/data.erb
  decidim-debates/app/cells/decidim/debates/debate_m_cell.rb
  decidim-debates/app/commands/decidim/debates/admin/close_debate.rb
  decidim-debates/app/commands/decidim/debates/close_debate.rb
  decidim-debates/app/controllers/decidim/debates/admin/debate_closes_controller.rb
  decidim-debates/app/controllers/decidim/debates/debates_controller.rb
  decidim-debates/app/events/decidim/debates/close_debate_event.rb
  decidim-debates/app/forms/decidim/debates/admin/close_debate_form.rb
  decidim-debates/app/forms/decidim/debates/close_debate_form.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/app/permissions/decidim/debates/admin/permissions.rb
  decidim-debates/app/permissions/decidim/debates/permissions.rb
  decidim-debates/app/services/decidim/debates/diff_renderer.rb
  decidim-debates/app/views/decidim/debates/admin/debate_closes/edit.html.erb
  decidim-debates/app/views/decidim/debates/admin/debates/index.html.erb
  decidim-debates/app/views/decidim/debates/debates/_close_debate_modal.html.erb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-debates/config/locales/en.yml
  decidim-debates/db/migrate/20200703134657_close_debates.rb
  decidim-debates/lib/decidim/debates/admin_engine.rb
  decidim-debates/lib/decidim/debates/component.rb
  decidim-debates/lib/decidim/debates/engine.rb
  decidim-debates/lib/decidim/debates/test/factories.rb
  decidim-debates/spec/models/decidim/debates/debate_spec.rb
  decidim-debates/spec/services/decidim/debates/searchable_debate_resource_spec.rb
  decidim-debates/spec/shared/manage_debates_examples.rb
  decidim-debates/spec/system/user_closes_debate_spec.rb
  decidim-debates/spec/types/debate_type_spec.rb
Labels: component: debates, contract: PAM2020, in-review

#6376 Fallback to closed initiatives when there are no open ones
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_controller.rb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_initiatives.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/system/initiatives_spec.rb
Labels: in-review

#6393 Backport "Do not migrate surveys that were already migrated in the past" to v0.22
  decidim-surveys/db/migrate/20200609090533_check_legacy_tables.rb
Labels: component: surveys

#5575 Performance improvements for metrics
  decidim-accountability/app/queries/decidim/accountability/metrics/results_metric_manage.rb
  decidim-accountability/spec/queries/decidim/accountability/metrics/results_metric_manage_spec.rb
  decidim-assemblies/spec/queries/decidim/assemblies/metrics/assemblies_metric_manage_spec.rb
  decidim-comments/app/queries/decidim/comments/metrics/comments_metric_manage.rb
  decidim-comments/spec/queries/decidim/comments/metrics/comments_metric_manage_spec.rb
  decidim-core/app/queries/decidim/metric_manage.rb
  decidim-core/app/queries/decidim/metrics/followers_metric_manage.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/metric_manage_shared_context.rb
  decidim-core/spec/queries/decidim/metrics/followers_metric_manage_spec.rb
  decidim-core/spec/queries/decidim/metrics/participants_metric_manage_spec.rb
  decidim-core/spec/queries/decidim/metrics/users_metric_manage_spec.rb
  decidim-debates/app/queries/decidim/debates/metrics/debates_metric_manage.rb
  decidim-debates/spec/queries/decidim/debates/metrics/debates_metric_manage_spec.rb
  decidim-meetings/app/queries/decidim/meetings/metrics/meetings_metric_manage.rb
  decidim-meetings/spec/queries/decidim/meetings/metrics/meetings_metric_manage_spec.rb
  decidim-participatory_processes/spec/queries/decidim/participatory_processes/metrics/participatory_processes_metric_manage_spec.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/accepted_proposals_metric_manage.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/endorsements_metric_manage.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/proposals_metric_manage.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/votes_metric_manage.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/accepted_proposals_metric_manage_spec.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/endorsements_metric_manage_spec.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/proposals_metric_manage_spec.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/votes_metric_manage_spec.rb
  decidim-surveys/app/queries/decidim/surveys/metrics/answers_metric_manage.rb
  decidim-surveys/spec/queries/decidim/surveys/metrics/answers_metric_manage_spec.rb
Labels: contract: lot: mods, in-review

#6397 Backport "Performance improvements for metrics" to v0.22
  decidim-accountability/app/queries/decidim/accountability/metrics/results_metric_manage.rb
  decidim-accountability/spec/queries/decidim/accountability/metrics/results_metric_manage_spec.rb
  decidim-assemblies/spec/queries/decidim/assemblies/metrics/assemblies_metric_manage_spec.rb
  decidim-comments/app/queries/decidim/comments/metrics/comments_metric_manage.rb
  decidim-comments/spec/queries/decidim/comments/metrics/comments_metric_manage_spec.rb
  decidim-core/app/queries/decidim/metric_manage.rb
  decidim-core/app/queries/decidim/metrics/followers_metric_manage.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/metric_manage_shared_context.rb
  decidim-core/spec/queries/decidim/metrics/followers_metric_manage_spec.rb
  decidim-core/spec/queries/decidim/metrics/participants_metric_manage_spec.rb
  decidim-core/spec/queries/decidim/metrics/users_metric_manage_spec.rb
  decidim-debates/app/queries/decidim/debates/metrics/debates_metric_manage.rb
  decidim-debates/spec/queries/decidim/debates/metrics/debates_metric_manage_spec.rb
  decidim-meetings/app/queries/decidim/meetings/metrics/meetings_metric_manage.rb
  decidim-meetings/spec/queries/decidim/meetings/metrics/meetings_metric_manage_spec.rb
  decidim-participatory_processes/spec/queries/decidim/participatory_processes/metrics/participatory_processes_metric_manage_spec.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/accepted_proposals_metric_manage.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/endorsements_metric_manage.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/proposals_metric_manage.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/votes_metric_manage.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/accepted_proposals_metric_manage_spec.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/endorsements_metric_manage_spec.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/proposals_metric_manage_spec.rb
  decidim-proposals/spec/queries/decidim/proposals/metrics/votes_metric_manage_spec.rb
  decidim-surveys/app/queries/decidim/surveys/metrics/answers_metric_manage.rb
  decidim-surveys/spec/queries/decidim/surveys/metrics/answers_metric_manage_spec.rb
Labels: component: accountability, component: assemblies, component: comments, component: debates, component: meetings, component: proposals, component: surveys, general: core, in-review, space: processes

#6381 Bugfix 0.22.0.rc1
  decidim-accountability/app/views/decidim/accountability/results/_stats_box.html.erb
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_filters.scss
  decidim-admin/app/helpers/decidim/admin/filterable_helper.rb
  decidim-admin/app/views/decidim/admin/shared/_filters.html.erb
  decidim-admin/app/views/layouts/decidim/admin/_header.html.erb
  decidim-core/app/assets/stylesheets/decidim/modules/_author-avatar.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_collapsible-list.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_comments.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_conversation.scss
  decidim-core/app/cells/decidim/activity/show.erb
  decidim-core/app/cells/decidim/activity_cell.rb
  decidim-core/app/cells/decidim/card_m/header.erb
  decidim-core/app/cells/decidim/collapsible_list/show.erb
  decidim-core/app/cells/decidim/fingerprint/show.erb
  decidim-core/app/helpers/decidim/resource_versions_helper.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/system/last_activity_spec.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/index.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/system/admin/admin_manages_initiatives_spec.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb
  decidim-proposals/app/helpers/decidim/proposals/admin/filterable_helper.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/index.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/show.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/admin/filter_proposals_spec.rb
Labels: component: accountability, component: proposals, general: admin, general: core, in-review, space: initiative, space: processes, type: bug

#6383 Use followers counter cache when available
  decidim-core/app/cells/decidim/follow_button/show.erb
  decidim-core/app/cells/decidim/follow_button_cell.rb
Labels: general: core, in-review

#6401 Backport "Bugfix 0.22.0.rc1" to v0.22
  decidim-accountability/app/views/decidim/accountability/results/_stats_box.html.erb
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_filters.scss
  decidim-admin/app/helpers/decidim/admin/filterable_helper.rb
  decidim-admin/app/views/decidim/admin/shared/_filters.html.erb
  decidim-admin/app/views/layouts/decidim/admin/_header.html.erb
  decidim-core/app/assets/stylesheets/decidim/modules/_author-avatar.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_collapsible-list.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_comments.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_conversation.scss
  decidim-core/app/cells/decidim/activity/show.erb
  decidim-core/app/cells/decidim/activity_cell.rb
  decidim-core/app/cells/decidim/card_m/header.erb
  decidim-core/app/cells/decidim/collapsible_list/show.erb
  decidim-core/app/cells/decidim/fingerprint/show.erb
  decidim-core/app/helpers/decidim/resource_versions_helper.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/system/last_activity_spec.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/index.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/system/admin/admin_manages_initiatives_spec.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb
  decidim-proposals/app/helpers/decidim/proposals/admin/filterable_helper.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/index.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/show.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/shared/filter_proposals_examples.rb
Labels: component: accountability, component: proposals, general: admin, general: core, in-review, space: initiative, space: processes

#6389 Add missing locales from Crowdin
  crowdin.yaml
  decidim-accountability/config/locales/is.yml
  decidim-admin/config/locales/is.yml
  decidim-assemblies/config/locales/is.yml
  decidim-blogs/config/locales/is.yml
  decidim-budgets/config/locales/is.yml
  decidim-comments/config/locales/is.yml
  decidim-conferences/config/locales/is-IS.yml
  decidim-conferences/config/locales/is.yml
  decidim-consultations/config/locales/is.yml
  decidim-core/config/locales/is.yml
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/lib/available_locales_spec.rb
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.bg.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.da.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.eo.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.et.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.fr-CA.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.ga.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.hr.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.is.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.ja.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.lt.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.lv.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.mt.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.sl.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.sr.js
  decidim-debates/config/locales/is.yml
  decidim-dev/config/locales/is.yml
  decidim-elections/config/locales/is-IS.yml
  decidim-elections/config/locales/is.yml
  decidim-forms/config/locales/is-IS.yml
  decidim-forms/config/locales/is.yml
  decidim-initiatives/config/locales/is.yml
  decidim-meetings/config/locales/is.yml
  decidim-pages/config/locales/is.yml
  decidim-participatory_processes/config/locales/is.yml
  decidim-proposals/config/locales/is.yml
  decidim-sortitions/config/locales/is.yml
  decidim-surveys/config/locales/is.yml
  decidim-system/config/locales/is.yml
  decidim-verifications/config/locales/is.yml
Labels: in-review

#6405 Upgrade mdl to have kramdown upgraded
  Gemfile.lock
  decidim-assemblies/spec/lib/query_extensions_spec.rb
  decidim-budgets/spec/system/orders_spec.rb
  decidim-conferences/spec/system/conference_registrations_spec.rb
  decidim-consultations/spec/system/vote_spec.rb
  decidim-core/lib/decidim/core/test/shared_examples/reports_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/system_endorse_resource_examples.rb
  decidim-core/spec/lib/query_extensions_spec.rb
  decidim-core/spec/system/homepage_spec.rb
  decidim-core/spec/system/registration_spec.rb
  decidim-core/spec/system/social_share_button_spec.rb
  decidim-core/spec/types/user_entity_input_filter_spec.rb
  decidim-dev/decidim-dev.gemspec
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaires.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaires/add_display_conditions.rb
  decidim-generators/Gemfile.lock
  decidim-initiatives/spec/lib/tasks/query_extensions_spec.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiatives_spec.rb
  decidim-initiatives/spec/system/create_initiative_spec.rb
  decidim-meetings/spec/commands/admin/create_agenda_spec.rb
  decidim-meetings/spec/commands/admin/update_agenda_spec.rb
  decidim-meetings/spec/lib/decidim/meetings/registrations/code_generator_spec.rb
  decidim-meetings/spec/shared/manage_agenda_examples.rb
  decidim-meetings/spec/shared/manage_meetings_examples.rb
  decidim-meetings/spec/system/meeting_minutes_spec.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-proposals/spec/lib/decidim/proposals/component_spec.rb
  decidim-proposals/spec/system/amendable/amend_proposal_spec.rb
  decidim-proposals/spec/system/participatory_texts_spec.rb
  decidim-proposals/spec/system/vote_proposal_spec.rb
  decidim-surveys/spec/system/admin_manages_surveys_spec.rb
  decidim_app-design/Gemfile.lock
Labels: general: dev

#6406 Change locale checker's default branch
  decidim-dev/lib/tasks/locale_checker.rake
  docs/getting_started.md
Labels: general: core, team: documentation

#6321 Make codecov ignore module declaration files
  .simplecov
  codecov.yml
Labels: general: core

#6421 Fix test texts after merging Spanish translations
  decidim-core/spec/system/translations_spec.rb
Labels: general: core

#6368 Endorse debates
  decidim-debates/app/helpers/decidim/debates/application_helper.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/app/permissions/decidim/debates/permissions.rb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-debates/config/locales/en.yml
  decidim-debates/db/migrate/20200716143929_add_endorsable_to_debates.rb
  decidim-debates/lib/decidim/debates/component.rb
  decidim-debates/lib/decidim/debates/test/factories.rb
  decidim-debates/spec/permissions/decidim/debates/permissions_spec.rb
  decidim-debates/spec/system/endorse_debate_spec.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  docs/advanced/endorsable.md
Labels: in-review

#6432 Keep filter and ordering params
  decidim-budgets/app/cells/decidim/budgets/project_list_item_cell.rb
  decidim-budgets/app/services/decidim/budgets/project_search.rb
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-core/app/cells/decidim/card_m_cell.rb
  decidim-core/app/cells/decidim/version_cell.rb
  decidim-core/app/cells/decidim/versions_list_cell.rb
  decidim-core/app/controllers/decidim/components/base_controller.rb
  decidim-core/app/helpers/decidim/filter_params_helper.rb
  decidim-core/app/helpers/decidim/orders_helper.rb
  decidim-core/app/helpers/decidim/paginate_helper.rb
  decidim-core/lib/decidim/view_model.rb
  decidim-core/spec/helpers/decidim/filter_params_helper_spec.rb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_list_item_cell.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-proposals/app/cells/decidim/proposals/collaborative_draft_cell.rb
  decidim-proposals/app/cells/decidim/proposals/participatory_text_proposal_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_cell.rb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
Labels: in-review

#6439 Remove redundant translation files for Latvian
  decidim-accountability/config/locales/lv-LV.yml
  decidim-admin/app/assets/javascripts/decidim/admin/bundle.js
  decidim-admin/config/locales/lv-LV.yml
  decidim-assemblies/config/locales/lv-LV.yml
  decidim-blogs/config/locales/lv-LV.yml
  decidim-budgets/config/locales/lv-LV.yml
  decidim-comments/app/assets/javascripts/decidim/comments/bundle.js
  decidim-comments/config/locales/lv-LV.yml
  decidim-conferences/config/locales/lv-LV.yml
  decidim-consultations/config/locales/lv-LV.yml
  decidim-core/app/assets/javascripts/decidim/core/bundle.js
  decidim-core/app/assets/javascripts/decidim/core/bundle.js.map
  decidim-core/config/locales/lv-LV.yml
  decidim-debates/config/locales/lv-LV.yml
  decidim-dev/config/locales/lv-LV.yml
  decidim-elections/config/locales/lv-LV.yml
  decidim-forms/config/locales/lv-LV.yml
  decidim-initiatives/config/locales/lv-LV.yml
  decidim-meetings/config/locales/lv-LV.yml
  decidim-pages/config/locales/lv-LV.yml
  decidim-participatory_processes/config/locales/lv-LV.yml
  decidim-proposals/config/locales/lv-LV.yml
  decidim-sortitions/config/locales/lv-LV.yml
  decidim-surveys/config/locales/lv-LV.yml
  decidim-system/config/locales/lv-LV.yml
  decidim-verifications/config/locales/lv-LV.yml
Labels: in-review

#6390 Remove election subtitle and add election image
  decidim-elections/app/assets/images/decidim/elections/superilles.jpg
  decidim-elections/app/cells/decidim/elections/election_m_cell.rb
  decidim-elections/app/commands/decidim/elections/admin/create_election.rb
  decidim-elections/app/commands/decidim/elections/admin/destroy_election.rb
  decidim-elections/app/commands/decidim/elections/admin/update_election.rb
  decidim-elections/app/forms/decidim/elections/admin/election_form.rb
  decidim-elections/app/models/decidim/elections/election.rb
  decidim-elections/app/types/decidim/elections/election_type.rb
  decidim-elections/app/views/decidim/elections/admin/elections/_form.html.erb
  decidim-elections/app/views/decidim/elections/elections/show.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20200807125040_remove_subtitle_from_decidim_elections.rb
  decidim-elections/lib/decidim/elections/component.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/spec/cells/decidim/elections/election_cell_spec.rb
  decidim-elections/spec/cells/decidim/elections/election_m_cell_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/create_election_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/destroy_election_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/update_election_spec.rb
  decidim-elections/spec/forms/decidim/elections/admin/election_form_spec.rb
  decidim-elections/spec/system/admin_manages_elections_spec.rb
  decidim-elections/spec/system/explore_elections_spec.rb
  decidim-elections/spec/types/decidim/elections/election_type_spec.rb
Labels: component: elections, in-review
