Repository decidim/decidim, pull requests merged in 2020-01, with the labels that each got.

#5342 Fix: data_portability_export email download
  CHANGELOG.md
  Gemfile.lock
  decidim-core/app/controllers/decidim/data_portability_controller.rb
  decidim-core/app/jobs/decidim/data_portability_export_job.rb
  decidim-core/app/mailers/decidim/export_mailer.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/services/decidim/data_portability_exporter.rb
  decidim-core/app/uploaders/decidim/data_portability_uploader.rb
  decidim-core/app/views/decidim/export_mailer/data_portability_export.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/data_portability_file_reader.rb
  decidim-core/lib/decidim/data_portability_file_zipper.rb
  decidim-core/lib/tasks/decidim_data_portability_tasks.rake
  decidim-core/spec/jobs/decidim/data_portability_export_job_spec.rb
  decidim-core/spec/lib/data_portability_exporter_spec.rb
  decidim-core/spec/lib/data_portability_file_reader_spec.rb
  decidim-core/spec/lib/data_portability_file_zipper_spec.rb
  decidim-core/spec/system/data_portability_spec.rb
  decidim-core/spec/tasks/decidim_tasks_check_users_newsletter_opt_in_spec.rb
  decidim-core/spec/tasks/decidim_tasks_delete_data_portability_files_spec.rb
  decidim-core/spec/tasks/decidim_tasks_right_to_be_forgotten_spec.rb
  decidim-core/spec/tasks/decidim_tasks_sniffs_stdout_context.rb
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
  docs/advanced/metrics.md
  docs/getting_started.md
Labels: in-review

#5587 Fix metrics docs
  CHANGELOG.md
  docs/advanced/how_to_fix_metrics.md
Labels: team: documentation

#5488 Change: Extend the capabilities of the Quill text editor
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/spec/shared/manage_results_examples.rb
  decidim-admin/app/commands/decidim/admin/update_organization.rb
  decidim-admin/app/controllers/decidim/admin/components_controller.rb
  decidim-admin/app/forms/decidim/admin/organization_form.rb
  decidim-admin/app/views/decidim/admin/organization/_form.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/lib/decidim/admin/form_builder.rb
  decidim-admin/spec/commands/decidim/admin/update_organization_spec.rb
  decidim-budgets/spec/shared/manage_projects_examples.rb
  decidim-core/app/assets/javascripts/decidim/diff_mode_dropdown.js.es6
  decidim-core/app/cells/decidim/diff/attribute.erb
  decidim-core/app/cells/decidim/diff/diff_mode_html.erb
  decidim-core/app/cells/decidim/diff/diff_split.erb
  decidim-core/app/cells/decidim/diff/diff_unified.erb
  decidim-core/app/cells/decidim/diff/show.erb
  decidim-core/app/cells/decidim/diff_cell.rb
  decidim-core/app/helpers/decidim/amendments_helper.rb
  decidim-core/app/helpers/decidim/rich_text_editor_helper.rb
  decidim-core/app/helpers/decidim/sanitize_helper.rb
  decidim-core/app/views/decidim/amendments/_edit_form_fields.html.erb
  decidim-core/app/views/decidim/amendments/preview_draft.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/db/migrate/20191113144432_add_rich_text_editor_in_public_views_to_organizations.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/rich_text_editor_examples.rb
  decidim-core/lib/decidim/diffy_extension.rb
  decidim-core/lib/decidim/has_settings.rb
  decidim-core/spec/cells/decidim/diff_cell_spec.rb
  decidim-debates/app/cells/decidim/debates/debate_m_cell.rb
  decidim-debates/app/helpers/decidim/debates/application_helper.rb
  decidim-debates/app/presenters/decidim/debates/debate_presenter.rb
  decidim-debates/app/views/decidim/debates/debates/new.html.erb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-debates/spec/shared/manage_debates_examples.rb
  decidim-debates/spec/system/explore_debates_spec.rb
  decidim-debates/spec/system/user_creates_debate_spec.rb
  decidim-generators/Gemfile.lock
  decidim-meetings/spec/shared/manage_meetings_examples.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/app/presenters/decidim/proposals/collaborative_draft_presenter.rb
  decidim-proposals/app/presenters/decidim/proposals/proposal_presenter.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_form.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_edit_form_fields.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_preview.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/new.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/decidim-proposals.gemspec
  decidim-proposals/spec/lib/decidim/proposals/component_spec.rb
  decidim-proposals/spec/shared/manage_proposals_examples.rb
  decidim-proposals/spec/system/admin_edits_proposal_spec.rb
  decidim-proposals/spec/system/new_proposals_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
  decidim_app-design/Gemfile.lock
Labels: AM2019, in-review

#5555 [Feature] Newsletter participants count
  CHANGELOG.md
  decidim-admin/app/assets/javascripts/decidim/admin/application.js.es6
  decidim-admin/app/assets/javascripts/decidim/admin/newsletters.js.es6
  decidim-admin/app/assets/stylesheets/decidim/admin/extra/_cards.scss
  decidim-admin/app/commands/decidim/admin/deliver_newsletter.rb
  decidim-admin/app/controllers/decidim/admin/newsletters_controller.rb
  decidim-admin/app/helpers/decidim/admin/newsletters_helper.rb
  decidim-admin/app/queries/decidim/admin/newsletter_recipients.rb
  decidim-admin/app/views/decidim/admin/newsletters/index.html.erb
  decidim-admin/app/views/decidim/admin/newsletters/select_recipients_to_deliver.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/spec/queries/newsletter_recipients_spec.rb
  decidim-admin/spec/system/admin_manages_newsletters_spec.rb
  decidim-admin/vendor/assets/javascripts/jquery.serializejson.js
Labels: AM2019, in-review

#5607 Feature/multitenant timezone
  CHANGELOG.md
  Gemfile.lock
  decidim-admin/app/commands/decidim/admin/update_organization.rb
  decidim-admin/app/controllers/decidim/admin/application_controller.rb
  decidim-admin/app/forms/decidim/admin/organization_form.rb
  decidim-admin/app/views/decidim/admin/organization/_form.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/commands/decidim/admin/update_organization_spec.rb
  decidim-admin/spec/forms/organization_form_spec.rb
  decidim-core/app/controllers/concerns/decidim/use_organization_time_zone.rb
  decidim-core/app/controllers/decidim/application_controller.rb
  decidim-core/app/models/decidim/organization.rb
  decidim-core/app/validators/time_zone_validator.rb
  decidim-core/config/locales/en.yml
  decidim-core/db/migrate/20200107142226_add_organization_timezone.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/controllers/concerns/use_organization_time_zone_spec.rb
  decidim-core/spec/validators/time_zone_validator_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/timezone.rb
  decidim-generators/Gemfile.lock
  decidim-meetings/app/controllers/decidim/meetings/calendars_controller.rb
  decidim-meetings/app/services/decidim/meetings/calendar/meeting_to_event.rb
  decidim-meetings/spec/services/calendar/meeting_to_event_spec.rb
  decidim_app-design/Gemfile.lock
Labels: AM2019, in-review

#5616 Feature/assembly types
  CHANGELOG.md
  decidim-assemblies/app/cells/decidim/assemblies/assembly_m_cell.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assemblies_type.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/destroy_assemblies_type.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assemblies_type.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assembly.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assemblies_types_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/assemblies_controller.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assemblies_type_form.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_form.rb
  decidim-assemblies/app/helpers/decidim/assemblies/filter_assemblies_helper.rb
  decidim-assemblies/app/models/decidim/assemblies_type.rb
  decidim-assemblies/app/models/decidim/assembly.rb
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/app/presenters/decidim/assemblies/admin_log/assemblies_type_presenter.rb
  decidim-assemblies/app/presenters/decidim/assemblies/admin_log/assembly_presenter.rb
  decidim-assemblies/app/presenters/decidim/log/value_types/assembly_type_presenter.rb
  decidim-assemblies/app/queries/decidim/assemblies/filtered_assemblies.rb
  decidim-assemblies/app/services/decidim/assemblies/assembly_search.rb
  decidim-assemblies/app/views/decidim/assemblies/_filter_by_type.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/_form.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies_types/_form.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies_types/edit.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies_types/index.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies_types/new.html.erb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/show.html.erb
  decidim-assemblies/app/views/layouts/decidim/admin/assemblies.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/db/migrate/20200108113855_create_decidim_assembly_types.rb
  decidim-assemblies/db/migrate/20200108123050_migrate_decidim_assembly_types.rb
  decidim-assemblies/lib/decidim/assemblies/admin_engine.rb
  decidim-assemblies/lib/decidim/assemblies/participatory_space.rb
  decidim-assemblies/lib/decidim/assemblies/test/factories.rb
  decidim-assemblies/spec/commands/create_assemblies_type_spec.rb
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-assemblies/spec/commands/destroy_assemblies_type_spec.rb
  decidim-assemblies/spec/commands/update_assemblies_type_spec.rb
  decidim-assemblies/spec/commands/update_assembly_spec.rb
  decidim-assemblies/spec/forms/assemblies_type_form_spec.rb
  decidim-assemblies/spec/forms/assembly_form_spec.rb
  decidim-assemblies/spec/models/decidim/assemblies_type_spec.rb
  decidim-assemblies/spec/models/decidim/assembly_spec.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-assemblies/spec/presenters/decidim/log/value_types/assembly_type_presenter_spec.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_types_spec.rb
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-assemblies/spec/system/filter_assemblies_spec.rb
Labels: AM2019, in-review

#5623 [FIX] Remove reference to a given installation's dir.
  decidim-core/lib/tasks/decidim_data_portability_tasks.rake
Labels: lot: mods, type: bug

#5589 Use cardM cell in space embed
  CHANGELOG.md
  config/i18n-tasks.yml
  decidim-assemblies/app/views/decidim/assemblies/assembly_widgets/show.html.erb
  decidim-conferences/app/views/decidim/conferences/conference_widgets/show.html.erb
  decidim-core/app/views/decidim/widgets/show.html.erb
  decidim-core/app/views/layouts/decidim/widget.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiative_widgets/show.html.erb
  decidim-meetings/app/views/decidim/meetings/meeting_widgets/show.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_process_widgets/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposal_widgets/show.html.erb
  docs/advanced/embeddable.md
Labels: AM2019, in-review

#5507 Add terms of use for admins
  CHANGELOG.md
  config/i18n-tasks.yml
  decidim-admin/app/commands/decidim/admin/update_organization.rb
  decidim-admin/app/controllers/decidim/admin/admin_terms_controller.rb
  decidim-admin/app/forms/decidim/admin/organization_form.rb
  decidim-admin/app/helpers/decidim/admin/admin_terms_helper.rb
  decidim-admin/app/helpers/decidim/admin/dashboard_helper.rb
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/app/views/decidim/admin/admin_terms/show.html.erb
  decidim-admin/app/views/decidim/admin/dashboard/show.html.erb
  decidim-admin/app/views/decidim/admin/organization/_form.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/db/migrate/20191118112040_add_accepted_admin_terms_at_field_to_users.rb
  decidim-admin/spec/commands/decidim/admin/update_organization_spec.rb
  decidim-admin/spec/forms/organization_form_spec.rb
  decidim-admin/spec/system/admin_manages_impersonations_spec.rb
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-admin/spec/system/user_manager_manages_impersonations_spec.rb
  decidim-core/app/models/decidim/organization.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/config/locales/en.yml
  decidim-core/db/migrate/20191118123154_add_admin_terms_of_use_body_field_to_organization.rb
  decidim-core/db/seeds.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-meetings/spec/system/comments_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_admin_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_collaborator_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_moderator_spec.rb
Labels: AM2019, in-review

#5562 API/participatory-processes
  CHANGELOG.md
  decidim-participatory_processes/app/types/decidim/participatory_processes/participatory_process_step_type.rb
  decidim-participatory_processes/spec/types/participatory_process_step_type_spec.rb
Labels: graphql-api

#5540 API/participatory process groups
  CHANGELOG.md
  decidim-participatory_processes/app/types/decidim/participatory_processes/participatory_process_group_type.rb
  decidim-participatory_processes/app/types/decidim/participatory_processes/participatory_process_type.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/query_extensions.rb
  decidim-participatory_processes/spec/lib/query_extensions_spec.rb
  decidim-participatory_processes/spec/types/participatory_process_group_type_spec.rb
  decidim-participatory_processes/spec/types/participatory_process_type_spec.rb
Labels: graphql-api

#5537 API/Component-Proposals
  CHANGELOG.md
  decidim-core/app/types/decidim/core/amendment_type.rb
  decidim-core/app/types/decidim/core/fingerprint_type.rb
  decidim-core/app/types/decidim/core/trace_version_type.rb
  decidim-core/lib/decidim/api/amendable_entity_interface.rb
  decidim-core/lib/decidim/api/amendable_interface.rb
  decidim-core/lib/decidim/api/attachable_interface.rb
  decidim-core/lib/decidim/api/categorizable_interface.rb
  decidim-core/lib/decidim/api/coauthorable_interface.rb
  decidim-core/lib/decidim/api/fingerprint_interface.rb
  decidim-core/lib/decidim/api/scopable_interface.rb
  decidim-core/lib/decidim/api/traceable_interface.rb
  decidim-core/lib/decidim/coauthorable.rb
  decidim-core/lib/decidim/core/api.rb
  decidim-core/lib/decidim/core/test/shared_examples/amendable_interface_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/amendable_proposals_interface_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/coauthorable_interface_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/fingerprintable_interface_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/traceable_interface_examples.rb
  decidim-core/spec/types/amendment_type_spec.rb
  decidim-core/spec/types/fingerprint_type_spec.rb
  decidim-core/spec/types/trace_version_type_spec.rb
  decidim-proposals/app/types/decidim/proposals/proposal_type.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/types/proposal_type_spec.rb
Labels: graphql-api, in-review

#5549 API/Initiatives
  CHANGELOG.md
  decidim-initiatives/app/types/decidim/initiatives/initiative_api_type.rb
  decidim-initiatives/app/types/decidim/initiatives/initiative_committee_member_type.rb
  decidim-initiatives/app/types/decidim/initiatives/initiative_type.rb
  decidim-initiatives/lib/decidim/api/initiative_type_interface.rb
  decidim-initiatives/lib/decidim/initiatives/api.rb
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-initiatives/lib/decidim/initiatives/participatory_space.rb
  decidim-initiatives/lib/decidim/initiatives/query_extensions.rb
  decidim-initiatives/spec/lib/tasks/query_extensions_spec.rb
  decidim-initiatives/spec/types/initiative_api_type_spec.rb
  decidim-initiatives/spec/types/initiative_committee_member_type_spec.rb
  decidim-initiatives/spec/types/initiative_type_spec.rb
Labels: graphql-api, in-review

#5551 API/Conferences
  CHANGELOG.md
  decidim-conferences/app/types/decidim/conferences/conference_media_link_type.rb
  decidim-conferences/app/types/decidim/conferences/conference_partner_type.rb
  decidim-conferences/app/types/decidim/conferences/conference_speaker_type.rb
  decidim-conferences/app/types/decidim/conferences/conference_type.rb
  decidim-conferences/lib/decidim/conferences/participatory_space.rb
  decidim-conferences/lib/decidim/conferences/test/factories.rb
  decidim-conferences/spec/types/conference_media_link_type_spec.rb
  decidim-conferences/spec/types/conference_partner_type_spec.rb
  decidim-conferences/spec/types/conference_speaker_type_spec.rb
  decidim-conferences/spec/types/conference_type_spec.rb
Labels: graphql-api, in-review

#5550 API/Consultations
  CHANGELOG.md
  decidim-consultations/app/types/decidim/consultations/consultation_question_type.rb
  decidim-consultations/app/types/decidim/consultations/consultation_type.rb
  decidim-consultations/lib/decidim/consultations/participatory_space.rb
  decidim-consultations/spec/types/consultation_question_type_spec.rb
  decidim-consultations/spec/types/consultation_type_spec.rb
Labels: graphql-api, in-review

#5615 Follow a meeting on registration
  CHANGELOG.md
  decidim-meetings/app/commands/decidim/meetings/join_meeting.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/commands/join_meeting_spec.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
Labels: PAM2020, in-review

#5614 Add width and height to meetings component icon
  CHANGELOG.md
  decidim-meetings/app/assets/images/decidim/meetings/icon.svg
Labels: PAM2020, in-review

#5592 comply with google signin guidelines
  CHANGELOG.md
  decidim-admin/app/assets/stylesheets/decidim/admin/_variables.scss
  decidim-core/app/assets/images/decidim/brands/google.svg
  decidim-core/app/assets/stylesheets/decidim/_variables.scss
  decidim-core/app/assets/stylesheets/decidim/extras/_results-per-page.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_buttons.scss
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
Labels: in-review

#5580 Expand top-level navigation menu by default on mobile
  CHANGELOG.md
  Gemfile.lock
  decidim-core/app/controllers/decidim/application_controller.rb
  decidim-core/app/views/decidim/shared/_extended_navigation_bar.html.erb
  decidim-core/config/initializers/browser.rb
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: in-review

#5590 Docs: fix install instructions on conferences
  decidim-conferences/README.md
Labels: in-review, team: documentation

#5642 [DOC] Configuration examples in Etherpad mini documentation.
  docs/services/etherpad.md
Labels: team: documentation

#5594 Feature/move version box
  CHANGELOG.md
  decidim-core/app/controllers/decidim/components/base_controller.rb
  decidim-core/app/helpers/decidim/resource_versions_helper.rb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
Labels: in-review

#5563 Complete Meetings specification for the GraphQL API
  CHANGELOG.md
  decidim-core/lib/decidim/api/timestamps_interface.rb
  decidim-core/lib/decidim/core/api.rb
  decidim-core/lib/decidim/core/test/shared_examples/timestamps_interface_examples.rb
  decidim-forms/app/types/decidim/forms/answer_option_type.rb
  decidim-forms/app/types/decidim/forms/question_type.rb
  decidim-forms/app/types/decidim/forms/questionnaire_type.rb
  decidim-forms/lib/decidim/api/questionnaire_entity_interface.rb
  decidim-forms/lib/decidim/forms.rb
  decidim-forms/lib/decidim/forms/api.rb
  decidim-forms/lib/decidim/forms/test/factories.rb
  decidim-forms/spec/factories.rb
  decidim-forms/spec/types/answer_option_type_spec.rb
  decidim-forms/spec/types/question_type_spec.rb
  decidim-forms/spec/types/questionnaire_type_spec.rb
  decidim-meetings/app/types/decidim/meetings/agenda_item_type.rb
  decidim-meetings/app/types/decidim/meetings/agenda_type.rb
  decidim-meetings/app/types/decidim/meetings/meeting_type.rb
  decidim-meetings/app/types/decidim/meetings/meetings_type.rb
  decidim-meetings/app/types/decidim/meetings/minutes_type.rb
  decidim-meetings/app/types/decidim/meetings/service_type.rb
  decidim-meetings/lib/decidim/api/linked_resources_interface.rb
  decidim-meetings/lib/decidim/api/services_interface.rb
  decidim-meetings/lib/decidim/meetings.rb
  decidim-meetings/lib/decidim/meetings/api.rb
  decidim-meetings/spec/shared/linked_resources_interface_examples.rb
  decidim-meetings/spec/shared/services_interface_examples.rb
  decidim-meetings/spec/types/agenda_item_type_spec.rb
  decidim-meetings/spec/types/agenda_type_spec.rb
  decidim-meetings/spec/types/meeting_type_spec.rb
  decidim-meetings/spec/types/meetings_type_spec.rb
  decidim-meetings/spec/types/minutes_type_spec.rb
  decidim-meetings/spec/types/service_type_spec.rb
  decidim-proposals/app/types/decidim/proposals/proposal_type.rb
  decidim-proposals/spec/types/proposal_type_spec.rb
Labels: dependent, graphql-api

#5516 Allow customizing Oauth providers for each tenant
  CHANGELOG.md
  config/i18n-tasks.yml
  decidim-core/app/controllers/decidim/devise/omniauth_registrations_controller.rb
  decidim-core/app/helpers/decidim/omniauth_helper.rb
  decidim-core/app/models/decidim/omniauth_provider.rb
  decidim-core/app/models/decidim/organization.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/views/decidim/devise/shared/_omniauth_buttons.html.erb
  decidim-core/app/views/decidim/devise/shared/_omniauth_buttons_mini.html.erb
  decidim-core/config/initializers/devise.rb
  decidim-core/config/initializers/omniauth.rb
  decidim-core/db/migrate/20191113092826_add_omniauth_settings_to_decidim_organization.rb
  decidim-core/spec/helpers/decidim/omniauth_helper_spec.rb
  decidim-core/spec/models/decidim/omniauth_provider_spec.rb
  decidim-core/spec/models/decidim/organization_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-system/app/commands/decidim/system/register_organization.rb
  decidim-system/app/commands/decidim/system/update_organization.rb
  decidim-system/app/controllers/decidim/system/organizations_controller.rb
  decidim-system/app/forms/decidim/system/update_organization_form.rb
  decidim-system/app/views/decidim/system/devise/shared/_links.html.erb
  decidim-system/app/views/decidim/system/organizations/_omniauth_provider.html.erb
  decidim-system/app/views/decidim/system/organizations/_omniauth_settings.html.erb
  decidim-system/app/views/decidim/system/organizations/edit.html.erb
  decidim-system/app/views/decidim/system/organizations/new.html.erb
  decidim-system/config/locales/en.yml
  decidim-system/spec/commands/decidim/system/register_organization_spec.rb
  decidim-system/spec/commands/decidim/system/update_organization_spec.rb
  decidim-system/spec/forms/decidim/system/update_organization_form_spec.rb
  decidim-system/spec/system/organizations_spec.rb
  docs/services/social_providers.md
Labels: general: core, in-review, type: feature

#5613 Proposals: allow admins to set a predefined template
  CHANGELOG.md
  decidim-admin/app/helpers/decidim/admin/settings_helper.rb
  decidim-admin/spec/helpers/settings_helper_spec.rb
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/forms/decidim/proposals/proposal_wizard_create_step_form.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/controllers/decidim/proposals_controller_spec.rb
  decidim-proposals/spec/forms/decidim/proposals/proposal_wizard_create_step_form_spec.rb
Labels: PAM2020, in-review

#5652 Add documentation in how Etherpads are integrated with Meetings.
  CHANGELOG.md
  docs/services/etherpad.md
Labels: team: documentation

#5586 Add search and order specifications to the GraphQL API
  CHANGELOG.md
  decidim-core/app/functions/decidim/core/component_finder_base.rb
  decidim-core/app/functions/decidim/core/component_list.rb
  decidim-core/app/functions/decidim/core/component_list_base.rb
  decidim-core/app/functions/decidim/core/needs_api_filter_and_order.rb
  decidim-core/app/functions/decidim/core/participatory_space_finder.rb
  decidim-core/app/functions/decidim/core/participatory_space_finder_base.rb
  decidim-core/app/functions/decidim/core/participatory_space_list.rb
  decidim-core/app/functions/decidim/core/participatory_space_list_base.rb
  decidim-core/app/types/decidim/core/base_input_filter.rb
  decidim-core/app/types/decidim/core/base_input_sort.rb
  decidim-core/app/types/decidim/core/component_input_filter.rb
  decidim-core/app/types/decidim/core/component_input_sort.rb
  decidim-core/app/types/decidim/core/has_hastaggable_input_filter.rb
  decidim-core/app/types/decidim/core/has_localized_input_filter.rb
  decidim-core/app/types/decidim/core/has_localized_input_sort.rb
  decidim-core/app/types/decidim/core/has_publishable_input_filter.rb
  decidim-core/app/types/decidim/core/has_publishable_input_sort.rb
  decidim-core/app/types/decidim/core/participatory_space_input_filter.rb
  decidim-core/app/types/decidim/core/participatory_space_input_sort.rb
  decidim-core/lib/decidim/api/participatory_space_interface.rb
  decidim-core/lib/decidim/core/test/shared_examples/input_filter_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/input_sort_examples.rb
  decidim-core/lib/decidim/participatory_space_manifest.rb
  decidim-core/lib/decidim/query_extensions.rb
  decidim-core/spec/types/component_input_filter_spec.rb
  decidim-core/spec/types/component_input_sort_spec.rb
  decidim-core/spec/types/participatory_space_input_filter_spec.rb
  decidim-core/spec/types/participatory_space_input_sort_spec.rb
  decidim-participatory_processes/app/functions/decidim/participatory_processes/participatory_process_finder.rb
  decidim-participatory_processes/app/functions/decidim/participatory_processes/participatory_process_list.rb
  decidim-participatory_processes/app/types/decidim/participatory_processes/participatory_process_input_filter.rb
  decidim-participatory_processes/app/types/decidim/participatory_processes/participatory_process_input_sort.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/participatory_space.rb
  decidim-participatory_processes/spec/types/participatory_process_input_filter_spec.rb
  decidim-participatory_processes/spec/types/participatory_process_input_sort_spec.rb
  decidim-proposals/app/types/decidim/proposals/proposal_input_filter.rb
  decidim-proposals/app/types/decidim/proposals/proposal_input_sort.rb
  decidim-proposals/app/types/decidim/proposals/proposals_type.rb
  decidim-proposals/spec/types/proposal_input_filter_spec.rb
  decidim-proposals/spec/types/proposal_input_sort_spec.rb
Labels: graphql-api, in-review

#5544 Add assemblies participatory space specifications to the GraphQL API
  CHANGELOG.md
  decidim-assemblies/app/types/decidim/assemblies/assemblies_type_type.rb
  decidim-assemblies/app/types/decidim/assemblies/assembly_member_type.rb
  decidim-assemblies/app/types/decidim/assemblies/assembly_type.rb
  decidim-assemblies/lib/decidim/assemblies/engine.rb
  decidim-assemblies/lib/decidim/assemblies/participatory_space.rb
  decidim-assemblies/lib/decidim/assemblies/query_extensions.rb
  decidim-assemblies/spec/lib/query_extensions_spec.rb
  decidim-assemblies/spec/types/assemblies_type_type_spec.rb
  decidim-assemblies/spec/types/assembly_member_type_spec.rb
  decidim-assemblies/spec/types/assembly_type_spec.rb
  decidim-core/app/types/decidim/core/area_api_type.rb
  decidim-core/app/types/decidim/core/area_type_type.rb
  decidim-core/app/types/decidim/core/participatory_space_link_type.rb
  decidim-core/lib/decidim/api/participatory_space_resourceable_interface.rb
  decidim-core/lib/decidim/core/api.rb
  decidim-core/lib/decidim/core/test/shared_examples/participatory_space_resourcable_interface_examples.rb
  decidim-core/spec/types/area_api_type_spec.rb
  decidim-core/spec/types/area_type_type_spec.rb
  decidim-core/spec/types/participatory_space_link_type_spec.rb
  decidim-participatory_processes/app/types/decidim/participatory_processes/participatory_process_type.rb
  decidim-participatory_processes/spec/types/participatory_process_type_spec.rb
Labels: graphql-api, in-review

#5585 Add the bugdet component specifications to the GraphQL API
  CHANGELOG.md
  decidim-budgets/app/types/decidim/budgets/budgets_type.rb
  decidim-budgets/app/types/decidim/budgets/project_type.rb
  decidim-budgets/lib/decidim/budgets/component.rb
  decidim-budgets/spec/types/budgets_type_spec.rb
  decidim-budgets/spec/types/project_type_spec.rb
Labels: dependent, graphql-api, in-review

#5584 Add the accountability component specifications to the GraphQL API
  CHANGELOG.md
  decidim-accountability/app/types/decidim/accountability/accountability_type.rb
  decidim-accountability/app/types/decidim/accountability/result_type.rb
  decidim-accountability/app/types/decidim/accountability/status_type.rb
  decidim-accountability/app/types/decidim/accountability/timeline_entry_type.rb
  decidim-accountability/lib/decidim/accountability/component.rb
  decidim-accountability/spec/types/accountability_type_spec.rb
  decidim-accountability/spec/types/result_type_spec.rb
  decidim-accountability/spec/types/status_type_spec.rb
  decidim-accountability/spec/types/timeline_entry_type_spec.rb
Labels: dependent, graphql-api, in-review

#5583 Add the sortitions component specifications to the GraphQL API
  CHANGELOG.md
  decidim-sortitions/app/types/decidim/sortitions/sortition_type.rb
  decidim-sortitions/app/types/decidim/sortitions/sortitions_type.rb
  decidim-sortitions/lib/decidim/sortitions/component.rb
  decidim-sortitions/spec/types/sortition_type_spec.rb
  decidim-sortitions/spec/types/sortitions_type_spec.rb
Labels: dependent, graphql-api, in-review

#5571 Add the surveys component specifications to the GraphQL API
  CHANGELOG.md
  decidim-surveys/app/types/decidim/surveys/survey_type.rb
  decidim-surveys/app/types/decidim/surveys/surveys_type.rb
  decidim-surveys/lib/decidim/surveys/component.rb
  decidim-surveys/spec/types/survey_type_spec.rb
  decidim-surveys/spec/types/surveys_type_spec.rb
Labels: dependent, graphql-api

#5570 Add the debates component specifications to the GraphQL API
  CHANGELOG.md
  decidim-core/lib/decidim/core/test/shared_examples/authorable_interface_examples.rb
  decidim-debates/app/types/decidim/debates/debate_type.rb
  decidim-debates/app/types/decidim/debates/debates_type.rb
  decidim-debates/lib/decidim/debates/component.rb
  decidim-debates/spec/types/debate_type_spec.rb
  decidim-debates/spec/types/debates_type_spec.rb
Labels: dependent, graphql-api

#5569 Add the blogs component specifications to the GraphQL API
  CHANGELOG.md
  decidim-blogs/app/types/decidim/blogs/blogs_type.rb
  decidim-blogs/app/types/decidim/blogs/post_type.rb
  decidim-blogs/db/migrate/20191212162606_add_user_group_author_to_blogs.rb
  decidim-blogs/lib/decidim/blogs/component.rb
  decidim-blogs/spec/types/blogs_type_spec.rb
  decidim-blogs/spec/types/post_type_spec.rb
Labels: dependent, graphql-api

#5582 API/documentation
  CHANGELOG.md
  Gemfile.lock
  decidim-api/app/assets/stylesheets/decidim/api/docs.scss
  decidim-api/app/helpers/decidim/api/application_helper.rb
  decidim-api/app/views/decidim/api/documentation/show.html.erb
  decidim-api/app/views/layouts/decidim/api/documentation.html.erb
  decidim-api/decidim-api.gemspec
  decidim-api/docs/usage.md
  decidim-api/spec/system/documentation_spec.rb
  decidim-api/vendor/assets/javascripts/decidim/api/graphql-docs.js
  decidim-core/app/types/decidim/core/has_publishable_input_filter.rb
  decidim-core/app/types/decidim/core/participatory_space_input_filter.rb
  decidim-generators/Gemfile.lock
  decidim-proposals/app/types/decidim/proposals/proposal_input_filter.rb
  decidim_app-design/Gemfile.lock
  docs/advanced/api.md
Labels: dependent, graphql-api
