Repository decidim/decidim, pull requests merged in 2020-07, with the labels that each got.

#5995 Retry `bundle install` CI step through an action
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
Labels: in-review

#6242 Avoid deleting a meeting when it has at least one proposal originated in it
  config/i18n-tasks.yml
  decidim-meetings/app/assets/config/decidim_meetings_manifest.js
  decidim-meetings/app/assets/javascripts/decidim/meetings/admin/destroy_meeting_alert.js.es6
  decidim-meetings/app/commands/decidim/meetings/admin/destroy_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/meetings_controller.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/commands/admin/destroy_meeting_spec.rb
  decidim-meetings/spec/controllers/decidim/meetings/admin/meetings_controller_spec.rb
  decidim-meetings/spec/presenters/decidim/meetings/meeting_presenter_spec.rb
Labels: component: meetings, in-review

#6254 Enable debate reporting
  decidim-debates/app/controllers/decidim/debates/debates_controller.rb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-debates/spec/system/report_debate_spec.rb
Labels: component: debates, in-review

#6267 Backport "Avoid deleting a meeting when it has at least one proposal originated in it" to v0.22
  config/i18n-tasks.yml
  decidim-meetings/app/assets/config/decidim_meetings_manifest.js
  decidim-meetings/app/assets/javascripts/decidim/meetings/admin/destroy_meeting_alert.js.es6
  decidim-meetings/app/commands/decidim/meetings/admin/destroy_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/meetings_controller.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/commands/admin/destroy_meeting_spec.rb
  decidim-meetings/spec/controllers/decidim/meetings/admin/meetings_controller_spec.rb
  decidim-meetings/spec/presenters/decidim/meetings/meeting_presenter_spec.rb
Labels: component: meetings, in-review

#6218 Align icons in elections admin
  Gemfile.lock
  decidim-elections/app/views/decidim/elections/admin/elections/index.html.erb
Labels: component: elections, contract: e-voting, in-review

#6261 Don't send notification if threshold has already been reached
  decidim-initiatives/app/commands/decidim/initiatives/vote_initiative.rb
  decidim-initiatives/spec/commands/decidim/initiatives/vote_initiative_spec.rb
Labels: in-review, space: initiative

#6210 Introduce a standardized branch naming
  docs/development_guide.md
Labels: team: documentation

#6255 Backport fixing performance degradation while answering surveys
  CHANGELOG.md
  decidim-forms/app/commands/decidim/forms/answer_questionnaire.rb
  decidim-forms/app/forms/decidim/forms/questionnaire_form.rb
  decidim-forms/app/views/decidim/forms/questionnaires/_answer.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/show.html.erb
  decidim-forms/lib/decidim/forms/test/shared_examples/has_questionnaire.rb
  decidim-forms/spec/commands/decidim/forms/answer_questionnaire_spec.rb
  decidim-forms/spec/forms/decidim/forms/questionnaire_form_spec.rb
  decidim-meetings/spec/commands/join_meeting_spec.rb
Labels: backport, in-review

#6274 Polymorphic route support for ResourceLocatorPresenter
  decidim-core/app/presenters/decidim/resource_locator_presenter.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/presenters/decidim/resource_locator_presenter_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/component.rb
Labels: contract: PAM2020, general: core, in-review

#6260 Fix and improve amendments diff visualizations
  decidim-core/app/assets/javascripts/decidim/diff_mode_dropdown.js.es6
  decidim-core/app/cells/decidim/diff/attribute.erb
  decidim-core/app/cells/decidim/diff/diff_mode_html.erb
  decidim-core/lib/decidim/diffy_extension.rb
  decidim-core/spec/cells/decidim/diff_cell_spec.rb
Labels: general: core, in-review, type: bug

#6224 Truncate debate cell text & do not sanitize instructions
  decidim-debates/app/cells/decidim/debates/debate_m_cell.rb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
Labels: component: debates, in-review

#6277 Add Slovak as a new language to v0.21
  crowdin.yaml
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/lib/available_locales_spec.rb
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.sk.js
Labels: in-review, team: i18n

#6213 Improve proposal selection
  decidim-budgets/app/controllers/decidim/budgets/admin/projects_controller.rb
  decidim-budgets/app/forms/decidim/budgets/admin/project_form.rb
  decidim-budgets/app/views/decidim/budgets/admin/projects/_form.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/proposals_picker.html.erb
  decidim-budgets/lib/decidim/budgets/admin_engine.rb
  decidim-budgets/spec/forms/project_form_spec.rb
  decidim-budgets/spec/shared/manage_projects_examples.rb
  decidim-budgets/spec/system/admin_manages_projects_spec.rb
  decidim-proposals/app/cells/decidim/proposals/proposals_picker_cell.rb
Labels: component: budgets, component: proposals, in-review

#6258 Improve newsletter real time counters performance when using segmentation
  decidim-admin/app/assets/javascripts/decidim/admin/newsletters.js.es6
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_loading-spinner.scss
  decidim-admin/app/helpers/decidim/admin/newsletters_helper.rb
  decidim-admin/app/queries/decidim/admin/newsletter_recipients.rb
  decidim-comments/app/models/decidim/comments/comment.rb
Labels: general: core, in-review

#6273 Upgrade rack gem to v2.2.3
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: team: security

#6289 Fix linter on recipient counter text for newsletter helper
  decidim-admin/app/helpers/decidim/admin/newsletters_helper.rb
Labels: general: core

#6272 Remove validation rule that detects long words
  decidim-core/app/validators/etiquette_validator.rb
  decidim-core/spec/validators/etiquette_validator_spec.rb
Labels: general: core, in-review, type: bug

#6279 Fix admin initiative's answer redirection
  decidim-initiatives/app/controllers/decidim/initiatives/admin/answers_controller.rb
  decidim-initiatives/spec/system/admin/answer_initiative_spec.rb
Labels: in-review, space: initiative, type: bug

#6053 Improve email notifications for reported content
  decidim-core/app/mailers/decidim/reported_mailer.rb
  decidim-core/app/views/decidim/reported_mailer/report.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/mailers/reported_mailer_spec.rb
Labels: general: core, in-review

#6181 Elections authorizations
  .github/workflows/ci_generators.yml
  decidim-admin/app/helpers/decidim/admin/settings_helper.rb
  decidim-admin/lib/decidim/admin/test/manage_component_permissions_examples.rb
  decidim-admin/spec/helpers/settings_helper_spec.rb
  decidim-core/app/helpers/decidim/decidim_form_helper.rb
  decidim-core/app/helpers/decidim/scopes_helper.rb
  decidim-core/app/views/decidim/authorization_modals/_content.html.erb
  decidim-core/app/views/decidim/scopes/_scopes_picker_input.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/lib/decidim/settings_manifest.rb
  decidim-core/spec/lib/authorization_form_builder_spec.rb
  decidim-core/spec/lib/settings_manifest_spec.rb
  decidim-core/spec/services/decidim/action_authorizer_spec.rb
  decidim-elections/app/controllers/decidim/elections/elections_controller.rb
  decidim-elections/app/models/decidim/elections/election.rb
  decidim-elections/app/permissions/decidim/elections/permissions.rb
  decidim-elections/app/views/decidim/elections/admin/elections/index.html.erb
  decidim-elections/app/views/decidim/elections/elections/index.html.erb
  decidim-elections/app/views/decidim/elections/elections/show.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/elections/component.rb
  decidim-elections/spec/permissions/decidim/elections/permissions_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/dummy_authorization_handler.rb
  decidim-generators/lib/decidim/generators/app_templates/verifications_initializer.rb
  decidim-generators/spec/generators_spec.rb
  decidim-verifications/README.md
  decidim-verifications/app/controllers/decidim/verifications/authorizations_controller.rb
  decidim-verifications/app/views/dummy_authorization/_form.html.erb
  decidim-verifications/config/locales/en.yml
  decidim-verifications/spec/services/decidim/dummy_authorization_handler_spec.rb
  decidim-verifications/spec/system/action_authorization_spec.rb
  decidim-verifications/spec/views/decidim/verifications/authorizations/new.html.erb_spec.rb
Labels: contract: e-voting, in-review

#6176 Allow testing surveys prior to publication
  decidim-forms/app/commands/decidim/forms/admin/update_questionnaire.rb
  decidim-forms/app/controllers/decidim/forms/admin/concerns/has_questionnaire.rb
  decidim-forms/app/models/decidim/forms/questionnaire.rb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_form.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/show.html.erb
  decidim-forms/config/locales/en.yml
  decidim-meetings/app/controllers/decidim/meetings/admin/registration_form_controller.rb
  decidim-meetings/spec/system/explore_versions_spec.rb
  decidim-surveys/app/controllers/decidim/surveys/admin/surveys_controller.rb
  decidim-surveys/app/controllers/decidim/surveys/surveys_controller.rb
  decidim-surveys/app/jobs/decidim/surveys/clean_survey_answers_job.rb
  decidim-surveys/app/jobs/decidim/surveys/settings_change_job.rb
  decidim-surveys/app/models/decidim/surveys/survey.rb
  decidim-surveys/config/locales/en.yml
  decidim-surveys/lib/decidim/surveys/admin_engine.rb
  decidim-surveys/lib/decidim/surveys/component.rb
  decidim-surveys/spec/system/admin_manages_surveys_spec.rb
  decidim-surveys/spec/system/unregistered_user_survey_spec.rb
Labels: component: meetings, component: surveys, in-review

#6280 Make character limit for comments configurable
  decidim-accountability/config/locales/en.yml
  decidim-accountability/lib/decidim/accountability/component.rb
  decidim-admin/app/commands/decidim/admin/update_organization.rb
  decidim-admin/app/forms/decidim/admin/organization_form.rb
  decidim-admin/app/views/decidim/admin/organization/_form.html.erb
  decidim-admin/config/locales/en.yml
  decidim-blogs/config/locales/en.yml
  decidim-blogs/lib/decidim/blogs/component.rb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/lib/decidim/budgets/component.rb
  decidim-comments/app/assets/javascripts/decidim/comments/bundle.js
  decidim-comments/app/forms/decidim/comments/comment_form.rb
  decidim-comments/app/frontend/comments/add_comment_form.component.test.tsx
  decidim-comments/app/frontend/comments/add_comment_form.component.tsx
  decidim-comments/app/frontend/comments/comment.component.test.tsx
  decidim-comments/app/frontend/comments/comment.component.tsx
  decidim-comments/app/frontend/comments/comment_thread.component.test.tsx
  decidim-comments/app/frontend/comments/comment_thread.component.tsx
  decidim-comments/app/frontend/comments/comments.component.test.tsx
  decidim-comments/app/frontend/comments/comments.component.tsx
  decidim-comments/app/frontend/support/schema.ts
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-comments/app/types/decidim/comments/commentable_mutation_type.rb
  decidim-comments/lib/decidim/comments/comments_helper.rb
  decidim-comments/spec/forms/comment_form_spec.rb
  decidim-comments/spec/helpers/comments_helper_spec.rb
  decidim-comments/spec/models/comment_spec.rb
  decidim-comments/spec/types/commentable_mutation_type_spec.rb
  decidim-core/config/locales/en.yml
  decidim-core/db/migrate/20200707132401_add_comments_max_length_to_decidim_organization.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-debates/config/locales/en.yml
  decidim-debates/lib/decidim/debates/component.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/component.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-sortitions/config/locales/en.yml
  decidim-sortitions/lib/decidim/sortitions/component.rb
Labels: component: accountability, component: blogs, component: budgets, component: comments, component: debates, component: meetings, component: proposals, general: admin, general: core, general: dev, in-review

#6283 Remove duplicated locales in debates i18n fields
  decidim-debates/db/migrate/20200708072042_fix_debates_i18n_fields.rb
Labels: in-review

#6269 Move meeting services to their own model
  decidim-meetings/app/commands/decidim/meetings/admin/copy_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_copy_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/models/decidim/meetings/service.rb
  decidim-meetings/db/migrate/20200702123209_create_meeting_services_table.rb
  decidim-meetings/db/migrate/20200702123210_move_meeting_services_to_own_model.rb
  decidim-meetings/lib/decidim/api/services_interface.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/commands/admin/copy_meeting_spec.rb
  decidim-meetings/spec/commands/admin/create_meeting_spec.rb
  decidim-meetings/spec/commands/admin/update_meeting_spec.rb
  decidim-meetings/spec/forms/admin/meeting_copy_form_spec.rb
  decidim-meetings/spec/forms/admin/meeting_form_spec.rb
  decidim-meetings/spec/shared/services_interface_examples.rb
  decidim-meetings/spec/system/meeting_spec.rb
Labels: component: meetings, in-review

#6299 Add a migration to migrate data from legacy surveys' tables
  decidim-surveys/db/migrate/20200609090533_check_legacy_tables.rb
Labels: component: surveys

#6301 Backport "Add a migration to migrate data from legacy surveys' tables " to v0.22
  decidim-surveys/db/migrate/20200609090533_check_legacy_tables.rb
Labels: component: surveys

#6302 Do not check surveys' legacy tables in development env
  decidim-surveys/db/migrate/20200609090533_check_legacy_tables.rb
Labels: component: surveys

#5561 Fix newsletter target selection exception due to consultations
  decidim-admin/spec/system/admin_manages_newsletters_spec.rb
  decidim-consultations/app/models/decidim/consultation.rb
  decidim-core/app/models/decidim/follow.rb
Labels: general: admin, general: core, in-review, space: consultations

#6251 Fix sorted questions status when submiting a questionnaire with errors
  decidim-forms/app/assets/javascripts/decidim/forms/autosortable_checkboxes.component.js.es6
  decidim-forms/lib/decidim/forms/test/shared_examples/has_questionnaire.rb
Labels: in-review, type: bug

#6281 Setup profiling tooling
  decidim-dev/lib/tasks/generators.rake
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/app_templates/bullet_initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/rack_profiler_initializer.rb
  decidim-generators/lib/decidim/generators/install_generator.rb
  docs/advanced/profiling.md
Labels: general: dev, general: generators, in-review, team: documentation

#6304 Custom validator that checks string fields
  decidim-core/app/validators/sanitize_validator.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/validators/sanitize_validator_spec.rb
  decidim-initiatives/app/forms/decidim/initiatives/initiative_form.rb
  decidim-initiatives/spec/forms/initiative_form_spec.rb
  decidim-proposals/app/forms/decidim/proposals/proposal_wizard_create_step_form.rb
  decidim-proposals/spec/forms/decidim/proposals/proposal_wizard_create_step_form_spec.rb
Labels: component: proposals, general: core, in-review, team: security

#6128 Add Decidim global and organization config for machine translation
  decidim-admin/app/commands/decidim/admin/update_organization.rb
  decidim-admin/app/forms/decidim/admin/organization_form.rb
  decidim-admin/app/views/decidim/admin/organization/_form.html.erb
  decidim-admin/spec/commands/decidim/admin/update_organization_spec.rb
  decidim-core/db/migrate/20200525184143_add_enable_machine_translation_to_decidim_organizations.rb
  decidim-core/lib/decidim/core.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
Labels: in-review

#6312 Remove admin role when user destroys account
  decidim-core/app/commands/decidim/destroy_account.rb
  decidim-core/spec/commands/decidim/destroy_account_spec.rb
Labels: general: core, in-review, type: bug

#6293 Fix election presenter namespace
  Gemfile.lock
  config/i18n-tasks.yml
  decidim-elections/app/models/decidim/elections/election.rb
  decidim-elections/app/presenters/decidim/admin_log/election_presenter.rb
  decidim-elections/app/presenters/decidim/elections/admin_log/election_presenter.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/models/decidim/elections/election_spec.rb
  decidim-elections/spec/presenters/decidim/elections/admin_log/election_presenter_spec.rb
Labels: component: elections, in-review

#6325 Add CSV/Excel exporter sanitizer
  decidim-core/lib/decidim/exporters/csv.rb
  decidim-core/lib/decidim/exporters/excel.rb
  decidim-core/spec/lib/exporters/csv_spec.rb
  decidim-core/spec/lib/exporters/excel_spec.rb
Labels: general: core

#6308 Apply migration of data in surveys legacy tables automatically
  CHANGELOG.md
  decidim-surveys/db/migrate/20200609090533_check_legacy_tables.rb
Labels: component: surveys, in-review

#6334 Ignore builds on Crowdin PRs in v0.22
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_elections.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
Labels: team: i18n

#6303 Backport "Apply migration of data in surveys legacy tables automatically" to v0.22
  decidim-surveys/db/migrate/20200609090533_check_legacy_tables.rb
Labels: component: surveys

#6284 Add custom steps CTA for Process cards index
  config/i18n-tasks.yml
  decidim-core/app/helpers/decidim/translations_helper.rb
  decidim-core/spec/helpers/decidim/translations_helper_spec.rb
  decidim-participatory_processes/A
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_m/footer.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_m_cell.rb
  decidim-participatory_processes/app/helpers/decidim/participatory_processes/participatory_process_helper.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/_promoted_process.html.erb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: general: core, in-review, space: processes

#6338 Fix install profiling gems in development_app rake task
  decidim-generators/lib/decidim/generators/install_generator.rb
Labels: general: generators, in-review

#6364 Documentation: Add "not up to date" next to official documentation links
  README.md
Labels: in-review, team: documentation

#6366 Fix spec failing at specific dates
  decidim-meetings/spec/system/user_creates_meeting_spec.rb
Labels: in-review

#6367 Add migration to update Proposal endorsement Notifications
  decidim-proposals/db/migrate/20200730131631_move_proposal_endorsed_event_notifications_to_resource_endorsed_event.rb
Labels: component: proposals, in-review

#6371 Backport "Add migration to update Proposal endorsement Notifications" to v0.22
  decidim-proposals/db/migrate/20200730131631_move_proposal_endorsed_event_notifications_to_resource_endorsed_event.rb
Labels: component: proposals, in-review

#6331 Fix initiative state notification
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-initiatives/spec/mailers/decidim/initiatives/initiatives_mailer_spec.rb
Labels: in-review, space: initiative, type: bug

#6370 Backport "Fix crash from newsletter preview" to v0.22
  decidim-core/app/views/layouts/decidim/_mailer_logo.html.erb
  decidim-core/spec/cells/decidim/newsletter_templates/basic_only_text_cell_spec.rb
Labels: general: core, in-review

#6369 Fix crash at newsletter preview
  decidim-core/app/views/layouts/decidim/_mailer_logo.html.erb
  decidim-core/spec/cells/decidim/newsletter_templates/basic_only_text_cell_spec.rb
Labels: general: core, in-review
