Repository decidim/decidim, pull requests merged in 2020-09, with the labels that each got.

#6453 Backport "Upgrade to bundler 2 to be able to run `rake release`" to v0.22
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim.gemspec
  decidim_app-design/Gemfile.lock
Labels: in-review

#6455 Backport "Upgrade to bundler 2 to be able to run `rake release`" to master
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim.gemspec
  decidim_app-design/Gemfile.lock
Labels: in-review

#6452 Upgrade to bundler 2 to be able to run `rake release`
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim.gemspec
  decidim_app-design/Gemfile.lock
Labels: in-review

#6396 Add hashtags to debate
  decidim-core/lib/decidim/core/test/shared_examples/amendable_proposals_interface_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/searchable_results_examples.rb
  decidim-core/lib/decidim/hashtaggable.rb
  decidim-core/spec/types/amendment_type_spec.rb
  decidim-debates/app/cells/decidim/debates/debate_activity_cell.rb
  decidim-debates/app/commands/decidim/debates/admin/create_debate.rb
  decidim-debates/app/commands/decidim/debates/admin/update_debate.rb
  decidim-debates/app/commands/decidim/debates/create_debate.rb
  decidim-debates/app/commands/decidim/debates/update_debate.rb
  decidim-debates/app/controllers/decidim/debates/admin/debates_controller.rb
  decidim-debates/app/controllers/decidim/debates/debates_controller.rb
  decidim-debates/app/forms/decidim/debates/admin/debate_form.rb
  decidim-debates/app/helpers/decidim/debates/application_helper.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/app/presenters/decidim/debates/admin_log/debate_presenter.rb
  decidim-debates/app/presenters/decidim/debates/admin_log/value_types/debate_title_description_presenter.rb
  decidim-debates/app/presenters/decidim/debates/debate_presenter.rb
  decidim-debates/app/presenters/decidim/debates/log/resource_presenter.rb
  decidim-debates/app/views/decidim/debates/admin/debates/_form.html.erb
  decidim-debates/app/views/decidim/debates/admin/debates/index.html.erb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-debates/lib/decidim/debates/test/factories.rb
  decidim-debates/spec/commands/decidim/debates/admin/update_debate_spec.rb
  decidim-debates/spec/commands/decidim/debates/create_debate_spec.rb
  decidim-debates/spec/services/decidim/debates/searchable_debate_resource_spec.rb
  decidim-debates/spec/system/search_debates_spec.rb
  decidim-meetings/app/views/decidim/meetings/admin/meeting_copies/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/spec/shared/manage_meetings_examples.rb
  decidim-proposals/app/forms/decidim/proposals/admin/import_participatory_text_form.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/types/decidim/proposals/proposal_type.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/services/decidim/proposals/searchable_proposal_resource_spec.rb
  decidim-proposals/spec/shared/admin_manages_proposals_context.rb
  decidim-proposals/spec/system/admin/admin_manages_participatory_texts_spec.rb
  decidim-proposals/spec/system/admin/filter_proposals_spec.rb
  decidim-proposals/spec/system/proposals_versions_spec.rb
  decidim-proposals/spec/system/search_proposals_spec.rb
  decidim-proposals/spec/types/proposal_type_spec.rb
Labels: in-review

#6451 Make consent cookie name configurable
  decidim-core/app/controllers/decidim/cookie_policy_controller.rb
  decidim-core/app/helpers/decidim/cookies_helper.rb
  decidim-core/lib/decidim/core.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
Labels: general: core

#6344 Amendments validations enhancement for participatory texts
  decidim-core/app/forms/decidim/amendable/create_form.rb
  decidim-core/app/forms/decidim/amendable/form.rb
  decidim-proposals/spec/forms/decidim/proposals/amendable/create_amendment_form_spec.rb
Labels: component: proposals, general: core, in-review, type: bug

#6468 Fix InvitePresenter when invitation does not exist anymore
  decidim-core/app/presenters/decidim/log/base_presenter.rb
  decidim-meetings/app/commands/decidim/meetings/admin/invite_user_to_join_meeting.rb
  decidim-meetings/app/presenters/decidim/meetings/admin_log/invite_presenter.rb
  decidim-meetings/spec/commands/admin/invite_user_to_join_meeting_spec.rb
  decidim-meetings/spec/presenters/decidim/meetings/admin_log/invite_presenter_spec.rb
Labels: in-review

#6470 Backport "Fix InvitePresenter when invitation does not exist anymore" to v0.21
  CHANGELOG.md
  decidim-admin/spec/system/admin_manages_newsletters_spec.rb
  decidim-core/app/presenters/decidim/log/base_presenter.rb
  decidim-meetings/app/commands/decidim/meetings/admin/invite_user_to_join_meeting.rb
  decidim-meetings/app/presenters/decidim/meetings/admin_log/invite_presenter.rb
  decidim-meetings/spec/commands/admin/invite_user_to_join_meeting_spec.rb
  decidim-meetings/spec/presenters/decidim/meetings/admin_log/invite_presenter_spec.rb
Labels: in-review

#6469 Backport "Fix InvitePresenter when invitation does not exist anymore" to v0.22
  CHANGELOG.md
  decidim-core/app/presenters/decidim/log/base_presenter.rb
  decidim-meetings/app/commands/decidim/meetings/admin/invite_user_to_join_meeting.rb
  decidim-meetings/app/presenters/decidim/meetings/admin_log/invite_presenter.rb
  decidim-meetings/spec/commands/admin/invite_user_to_join_meeting_spec.rb
  decidim-meetings/spec/presenters/decidim/meetings/admin_log/invite_presenter_spec.rb
Labels: in-review

#6365 Selected projects on budgets
  decidim-budgets/app/assets/stylesheets/decidim/budgets/budget/_budget-list.scss
  decidim-budgets/app/cells/decidim/budgets/budget_list_item/show.erb
  decidim-budgets/app/cells/decidim/budgets/budget_list_item_cell.rb
  decidim-budgets/app/cells/decidim/budgets/budgets_list/card_list.erb
  decidim-budgets/app/cells/decidim/budgets/budgets_list/show.erb
  decidim-budgets/app/cells/decidim/budgets/budgets_list/voted.erb
  decidim-budgets/app/cells/decidim/budgets/budgets_list_cell.rb
  decidim-budgets/app/cells/decidim/budgets/limit_announcement_cell.rb
  decidim-budgets/app/cells/decidim/budgets/project_list_item/project_data.erb
  decidim-budgets/app/cells/decidim/budgets/project_list_item/project_data_final.erb
  decidim-budgets/app/cells/decidim/budgets/project_list_item/project_data_numbers.erb
  decidim-budgets/app/cells/decidim/budgets/project_list_item/project_data_voted_check.erb
  decidim-budgets/app/cells/decidim/budgets/project_list_item/project_text.erb
  decidim-budgets/app/cells/decidim/budgets/project_list_item/show.erb
  decidim-budgets/app/cells/decidim/budgets/project_list_item_cell.rb
  decidim-budgets/app/cells/decidim/budgets/project_selected_status_cell.rb
  decidim-budgets/app/cells/decidim/budgets/project_voted_hint_cell.rb
  decidim-budgets/app/cells/decidim/budgets/project_votes_count_cell.rb
  decidim-budgets/app/commands/decidim/budgets/add_line_item.rb
  decidim-budgets/app/commands/decidim/budgets/admin/update_project.rb
  decidim-budgets/app/controllers/concerns/decidim/budgets/needs_current_order.rb
  decidim-budgets/app/controllers/concerns/decidim/budgets/orderable.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/budgets_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/application_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/projects_controller.rb
  decidim-budgets/app/forms/decidim/budgets/admin/project_form.rb
  decidim-budgets/app/helpers/decidim/budgets/application_helper.rb
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-budgets/app/queries/decidim/budgets/filtered_projects.rb
  decidim-budgets/app/services/decidim/budgets/project_search.rb
  decidim-budgets/app/types/decidim/budgets/project_type.rb
  decidim-budgets/app/views/decidim/budgets/admin/projects/_form.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/index.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_filters.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_order_progress.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_project_budget_button.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/index.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/db/migrate/20200728075039_add_selected_at_to_project.rb
  decidim-budgets/db/migrate/20200804175222_votes_enabled_to_votes_choices.rb
  decidim-budgets/lib/decidim/budgets/component.rb
  decidim-budgets/lib/decidim/budgets/test/factories.rb
  decidim-budgets/lib/decidim/budgets/workflows/base.rb
  decidim-budgets/spec/commands/decidim/budgets/admin/update_project_spec.rb
  decidim-budgets/spec/forms/decidim/budgets/admin/project_form_spec.rb
  decidim-budgets/spec/models/decidim/budgets/project_spec.rb
  decidim-budgets/spec/system/orders_spec.rb
  decidim-budgets/spec/system/sorting_projects_spec.rb
  decidim-budgets/spec/types/project_type_spec.rb
  decidim-core/app/assets/stylesheets/decidim/_decidim.scss
  decidim-core/app/assets/stylesheets/decidim/modules/_status-labels.scss
Labels: component: budgets, contract: PAM2020, dependent, in-review

#6271 Share unpublished components with manageable tokens
  decidim-accountability/spec/system/preview_accountability_with_share_token_spec.rb
  decidim-admin/app/commands/decidim/admin/destroy_share_token.rb
  decidim-admin/app/controllers/decidim/admin/components_controller.rb
  decidim-admin/app/controllers/decidim/admin/share_tokens_controller.rb
  decidim-admin/app/forms/decidim/admin/component_form.rb
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/app/views/decidim/admin/components/_component.html.erb
  decidim-admin/app/views/decidim/admin/components/_form.html.erb
  decidim-admin/app/views/decidim/admin/share_tokens/_share_tokens.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/spec/permissions/decidim/admin/permissions_spec.rb
  decidim-assemblies/lib/decidim/assemblies/admin_engine.rb
  decidim-assemblies/spec/shared/manage_assembly_components_examples.rb
  decidim-blogs/spec/system/preview_blogs_with_share_token_spec.rb
  decidim-budgets/spec/system/preview_budgets_with_share_token_spec.rb
  decidim-conferences/lib/decidim/conferences/admin_engine.rb
  decidim-conferences/spec/shared/manage_conference_components_examples.rb
  decidim-consultations/lib/decidim/consultations/admin_engine.rb
  decidim-consultations/spec/system/admin/admin_manages_question_component_spec.rb
  decidim-core/app/controllers/decidim/components/base_controller.rb
  decidim-core/app/models/decidim/component.rb
  decidim-core/app/models/decidim/share_token.rb
  decidim-core/app/permissions/decidim/permissions.rb
  decidim-core/db/migrate/20200702073419_create_decidim_share_tokens.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/core/test/shared_examples/manage_component_share_tokens.rb
  decidim-core/lib/decidim/core/test/shared_examples/preview_component_with_share_token_examples.rb
  decidim-core/lib/decidim/shareable_with_token.rb
  decidim-core/spec/models/decidim/share_token_spec.rb
  decidim-core/spec/permissions/decidim/permissions_spec.rb
  decidim-debates/spec/system/preview_debates_with_share_token_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/component.rb
  decidim-elections/spec/system/preview_elections_with_share_token_spec.rb
  decidim-initiatives/lib/decidim/initiatives/admin_engine.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiative_components_spec.rb
  decidim-meetings/spec/system/preview_meetings_with_share_token_spec.rb
  decidim-pages/spec/system/preview_pages_with_share_token_spec.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/admin_engine.rb
  decidim-participatory_processes/spec/shared/manage_process_components_examples.rb
  decidim-proposals/spec/system/preview_proposals_with_share_token_spec.rb
  decidim-sortitions/spec/system/decidim/sortitions/preview_sortitions_with_share_token_spec.rb
  decidim-surveys/spec/system/survey_spec.rb
  docs/advanced/share_tokens.md
Labels: in-review

#5955 Move OAUTH Application management to system panel
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/app/views/decidim/admin/oauth_applications/index.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-admin/spec/helpers/menu_helper_spec.rb
  decidim-admin/spec/permissions/decidim/admin/permissions_spec.rb
  decidim-system/app/commands/decidim/system/create_oauth_application.rb
  decidim-system/app/commands/decidim/system/destroy_oauth_application.rb
  decidim-system/app/commands/decidim/system/update_oauth_application.rb
  decidim-system/app/controllers/decidim/system/oauth_applications_controller.rb
  decidim-system/app/forms/decidim/system/oauth_application_form.rb
  decidim-system/app/views/decidim/system/oauth_applications/_form.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/edit.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/index.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/new.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/show.html.erb
  decidim-system/config/locales/en.yml
  decidim-system/config/routes.rb
  decidim-system/lib/decidim/system/engine.rb
  decidim-system/spec/commands/decidim/system/create_oauth_application_spec.rb
  decidim-system/spec/commands/decidim/system/destroy_oauth_application_spec.rb
  decidim-system/spec/commands/decidim/system/update_oauth_application_spec.rb
  decidim-system/spec/forms/decidim/system/oauth_application_form_spec.rb
  decidim-system/spec/helpers/menu_helper_spec.rb
  decidim-system/spec/system/manage_oauth_applications_spec.rb
Labels: component: system, in-review

#6460 Update release process
  docs/advanced/releases.md
Labels: team: documentation

#6509 Upgrade seven_zip_ruby to 1.3.0 to be compatible with Ruby 2.7
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: general: core

#6489 Implement self-XSS console warning
  decidim-core/app/assets/javascripts/decidim.js.es6
  decidim-core/app/assets/javascripts/decidim/security/selfxss_warning.js.es6
  decidim-core/app/views/layouts/decidim/_js_configuration.html.erb
  decidim-core/config/locales/en.yml
Labels: general: core, in-review, release: v0.23

#6462 Adding dropdown option to locales list
  decidim-admin/app/assets/javascripts/decidim/admin/application.js.es6
  decidim-admin/app/assets/javascripts/decidim/admin/choose_language.js
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_tabs.scss
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/lib/form_builder_spec.rb
Labels: general: admin, general: core, in-review, release: v0.23

#6517 Add text editor to proposal's template
  decidim-proposals/lib/decidim/proposals/component.rb
Labels: component: proposals, in-review

#6505 Add validation for max selections on election questions
  decidim-elections/app/controllers/decidim/elections/admin/answers_controller.rb
  decidim-elections/app/models/decidim/elections/election.rb
  decidim-elections/app/models/decidim/elections/question.rb
  decidim-elections/app/permissions/decidim/elections/admin/permissions.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/permissions/decidim/elections/admin/permissions_spec.rb
  decidim-elections/spec/system/admin_manages_answers_spec.rb
  decidim-elections/spec/system/admin_manages_elections_spec.rb
Labels: component: elections, in-review

#6518 Fix proposal creation
  decidim-core/lib/decidim/hashtaggable.rb
  decidim-proposals/app/commands/decidim/proposals/admin/create_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/admin/publish_participatory_text.rb
  decidim-proposals/app/commands/decidim/proposals/admin/update_participatory_text.rb
  decidim-proposals/app/commands/decidim/proposals/admin/update_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/create_proposal.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/proposals_controller.rb
  decidim-proposals/app/forms/decidim/proposals/admin/participatory_text_proposal_form.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_base_form.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_form.rb
  decidim-proposals/app/queries/decidim/proposals/similar_proposals.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_form.html.erb
  decidim-proposals/db/migrate/20200915151348_fix_proposals_data_to_ensure_title_and_body_are_hashes.rb
  decidim-proposals/lib/decidim/proposals/markdown_to_proposals.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/create_proposal_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/publish_participatory_text_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/update_participatory_text_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/update_proposal_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/create_proposal_spec.rb
  decidim-proposals/spec/forms/decidim/proposals/admin/admin_proposal_form_spec.rb
  decidim-proposals/spec/forms/decidim/proposals/proposal_form_spec.rb
  decidim-proposals/spec/lib/decidim/proposals/markdown_to_proposals_spec.rb
  decidim-proposals/spec/services/decidim/proposals/searchable_proposal_resource_spec.rb
  decidim-proposals/spec/shared/manage_proposals_examples.rb
  decidim-proposals/spec/shared/proposal_form_examples.rb
  decidim-proposals/spec/system/admin/admin_edits_proposal_spec.rb
  decidim-proposals/spec/system/admin/admin_manages_participatory_texts_spec.rb
Labels: component: proposals, general: core, in-review

#6503 Fix problem showing emails from different participants
  decidim-admin/spec/system/admin_manages_officializations_spec.rb
  decidim-core/app/assets/javascripts/decidim/ajax_modals.js.es6
Labels: general: admin, general: core, in-review

#6557 Remove restore cache keys fallbacks and solve CI segfault problem
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_elections.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
  Gemfile.lock
Labels: in-review, type: bug

#6422 Fix issue with disappearing list elements in rich text editors
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-core/app/assets/javascripts/decidim/editor.js.es6
Labels: general: admin, general: core, in-review

#6447 Fix carrierwave re-upload image quality reduction
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assembly.rb
  decidim-assemblies/spec/commands/update_assembly_spec.rb
  decidim-conferences/app/commands/decidim/conferences/admin/update_conference.rb
  decidim-conferences/spec/commands/update_conference_spec.rb
  decidim-consultations/app/commands/decidim/consultations/admin/update_consultation.rb
  decidim-consultations/lib/decidim/consultations/test/factories.rb
  decidim-consultations/spec/commands/decidim/consultations/admin/update_consultation_spec.rb
  decidim-core/app/commands/decidim/attachment_methods.rb
  decidim-initiatives/app/commands/decidim/initiatives/attachment_methods.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/update_participatory_process.rb
  decidim-participatory_processes/spec/commands/update_participatory_process_spec.rb
Labels: component: assemblies, general: core, in-review, release: v0.23, space: consultations, space: initiative, space: processes, space:conferences, type: bug

#6536 Change Subtasks to Checklist in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: in-review, team: documentation

#6519 Add NOTA option to election questions
  decidim-elections/app/assets/javascripts/decidim/elections/vote.js.es6
  decidim-elections/app/assets/stylesheets/decidim/elections/focus/_evote.scss
  decidim-elections/app/commands/decidim/elections/admin/create_question.rb
  decidim-elections/app/commands/decidim/elections/admin/update_question.rb
  decidim-elections/app/forms/decidim/elections/admin/question_form.rb
  decidim-elections/app/types/decidim/elections/election_question_type.rb
  decidim-elections/app/views/decidim/elections/admin/questions/_form.html.erb
  decidim-elections/app/views/decidim/elections/votes/_election_votes_confirm.html.erb
  decidim-elections/app/views/decidim/elections/votes/_election_votes_question.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20200910103648_add_min_selections_to_decidim_elections_questions.rb
  decidim-elections/lib/decidim/elections/component.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/spec/commands/decidim/elections/admin/create_question_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/update_question_spec.rb
  decidim-elections/spec/forms/decidim/elections/admin/question_form_spec.rb
  decidim-elections/spec/shared/vote_examples.rb
  decidim-elections/spec/types/decidim/elections/election_question_type_spec.rb
Labels: component: elections, in-review

#6465 Fix resource free text search
  decidim-core/app/controllers/concerns/decidim/filter_resource.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: component: proposals, general: core, in-review, type: bug

#6446 Add an error message modal for the conversations
  decidim-core/app/commands/decidim/messaging/reply_to_conversation.rb
  decidim-core/app/controllers/decidim/messaging/conversations_controller.rb
  decidim-core/app/models/decidim/messaging/message.rb
  decidim-core/app/views/decidim/messaging/conversations/_error_modal.html.erb
  decidim-core/app/views/decidim/messaging/conversations/error.js.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/controllers/messaging/conversations_controller_spec.rb
  decidim-core/spec/system/messaging/conversations_spec.rb
Labels: general: core, in-review, type: bug

#6510 Add a task to fix locale issues
  decidim-core/lib/tasks/decidim_locales_tasks.rake
  docs/advanced/fixing_locales.md
Labels: general: core, in-review, team: documentation

#6488 Change popup button from "Keep uncheck" to "Keep unchecked"
  decidim-core/config/locales/en.yml
  decidim-core/spec/commands/decidim/create_registration_spec.rb
  decidim-core/spec/system/registration_spec.rb
Labels: general: core, in-review, type: bug

#6429 Add hashtags to comments
  CHANGELOG.md
  decidim-comments/app/cells/decidim/comments/comment_activity_cell.rb
  decidim-comments/app/cells/decidim/comments/comment_cell.rb
  decidim-comments/app/cells/decidim/comments/comment_m/footer.erb
  decidim-comments/app/cells/decidim/comments/comment_m/top.erb
  decidim-comments/app/cells/decidim/comments/comment_m_cell.rb
  decidim-comments/app/helpers/decidim/comments/comment_cells_helper.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-comments/config/locales/en.yml
  decidim-comments/lib/decidim/comments/engine.rb
  decidim-comments/lib/decidim/comments/test/factories.rb
  decidim-comments/spec/models/comment_spec.rb
  decidim-comments/spec/system/search_comments_spec.rb
  decidim-conferences/spec/services/decidim/conferences/searchable_conferences_resource_spec.rb
  decidim-core/app/cells/decidim/card_cell.rb
  decidim-core/app/cells/decidim/card_m/show.erb
  decidim-core/app/cells/decidim/card_m_cell.rb
  decidim-core/app/views/decidim/searches/_filters.html.erb
  decidim-core/lib/decidim/content_processor.rb
  decidim-core/lib/decidim/content_renderers/base_renderer.rb
  decidim-core/lib/decidim/content_renderers/hashtag_renderer.rb
  decidim-core/lib/decidim/content_renderers/link_renderer.rb
  decidim-core/lib/decidim/content_renderers/user_group_renderer.rb
  decidim-core/lib/decidim/content_renderers/user_renderer.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/manage_component_share_tokens.rb
  decidim-core/lib/decidim/events/base_event.rb
  decidim-core/lib/decidim/hashtaggable.rb
  decidim-core/lib/decidim/search_resource_fields_mapper.rb
  decidim-core/lib/decidim/searchable.rb
  decidim-core/spec/lib/content_processor_spec.rb
  decidim-core/spec/lib/search_resource_fields_mapper_spec.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/spec/services/decidim/debates/searchable_debate_resource_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/component.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/content_processing.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/lib/decidim/content_renderers/proposal_renderer.rb
  decidim-proposals/spec/services/decidim/proposals/searchable_proposal_resource_spec.rb
Labels: in-review, release: v0.23

#6566 Change default initializer settings
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-system/config/locales/en.yml
Labels: in-review

#6530 Process groups template
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/processes/processes-groups.html.erb
Labels: in-review, team: design

#6549 Fix system omniauth settings with disabled OmniAuth providers
  decidim-system/app/forms/decidim/system/update_organization_form.rb
  decidim-system/spec/system/organizations_spec.rb
Labels: component: system, in-review

#6508 Fix namespace issue in meeting's admin controller
  decidim-meetings/app/controllers/decidim/meetings/admin/meetings_controller.rb
Labels: component: meetings, in-review, type: bug

#6571 Reorganize `before` sentences to avoid flaky tests
  decidim-assemblies/spec/system/private_assemblies_spec.rb
Labels: in-review, space: assemblies

#6420 Configure Decidim Bulletin Board
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_callouts.scss
  decidim-core/spec/tasks/decidim_tasks_check_users_newsletter_opt_in_spec.rb
  decidim-core/spec/tasks/decidim_tasks_delete_data_portability_files_spec.rb
  decidim-core/spec/tasks/decidim_tasks_metrics_spec.rb
  decidim-core/spec/tasks/decidim_tasks_right_to_be_forgotten_spec.rb
  decidim-core/spec/tasks/decidim_tasks_sniffs_stdout_context.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/rake_tasks.rb
  decidim-elections/app/controllers/decidim/elections/admin/elections_controller.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/elections.rb
  decidim-elections/lib/decidim/elections/bulletin_board_client.rb
  decidim-elections/lib/tasks/decidim_elections.rake
  decidim-elections/spec/lib/decidim/elections/bulletin_board_client_spec.rb
  decidim-elections/spec/lib/tasks/decidim_election_generate_identification_keys_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-initiatives/spec/shared/tasks.rb
  decidim-meetings/spec/shared/tasks.rb
  docs/services/elections_bulletin_board.md
Labels: contract: e-voting, in-review
