Repository decidim/decidim, pull requests merged in 2020-12, with the labels that each got.

#6876 Fix newsletter html containing style tag content
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/premailer/adapter/decidim.rb
  decidim-core/spec/lib/premailer/adapter/decidim_spec.rb
Labels: general: core, in-review, type: bug

#6958 Fix some strings
  decidim-admin/config/locales/en.yml
  decidim-core/config/locales/en.yml
  decidim-participatory_processes/spec/system/admin/invite_process_admin_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_collaborator_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_moderator_spec.rb
Labels: component: participatory processes, general: admin, general: core, in-review

#6952 chore: move rubocop ruby config to own file
  .codeclimate.yml
  .rubocop.yml
  .rubocop_ruby.yml
Labels: criticality: high, in-review

#6944 Improve layout for standalone T&C page
  decidim-core/app/views/decidim/pages/_standalone.html.erb
Labels: general: core, in-review

#6942 [Fix] Add logic in view to prevent visual error in blog post
  decidim-blogs/app/views/decidim/blogs/posts/show.html.erb
Labels: component: blogs, in-review, type: bug

#6969 Fix the data portability exporter when zip is not in the gemfile
  decidim-core/app/services/decidim/data_portability_exporter.rb
Labels: general: core, in-review, type: bug

#6965 Fix mailer meeting registration invitation using path instead of URL
  decidim-meetings/app/views/decidim/meetings/admin/invite_join_meeting_mailer/invite.html.erb
Labels: component: meetings, in-review, type: bug

#6895 Fix email CTA alignment on Outlook and Windows Mail
  decidim-core/app/assets/stylesheets/decidim/email.scss
Labels: general: core, in-review, type: bug

#6611 Adds spinner to block page while ajax petition is executed
  decidim-core/app/assets/javascripts/decidim/form_filter.component.js.es6
  decidim-core/app/assets/stylesheets/decidim/modules/_loading-spinner.scss
Labels: component: meetings, general: core, in-review

#6903 Fix name error when no elections
  decidim-dev/lib/decidim/dev/test/rspec_support/vcr.rb
Labels: general: dev, in-review, type: bug

#6971 Fix ParticipatoryProcess metrics ajax call in show
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/participatory_process_metric_charts_presenter.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: component: participatory processes, in-review, type: bug

#6979 Fix README adoc
  README.adoc
  docs/advanced/fixing_locales.md
  docs/advanced/reportable.md
  docs/advanced/templates.md
  docs/antora.yml
  docs/customization/maps.md
  docs/modules/install/pages/index.adoc
  docs/services/elections_bulletin_board.md
  docs/services/maps.md
Labels: in-review, team: documentation

#6976 Limit moderation tooltips and tables to 250 chars
  decidim-admin/app/views/decidim/admin/moderated_users/_report.html.erb
  decidim-admin/app/views/decidim/admin/moderations/_report.html.erb
  decidim-admin/app/views/decidim/admin/moderations/index.html.erb
  decidim-admin/app/views/decidim/admin/moderations/reports/index.html.erb
Labels: general: admin, in-review

#6975 Fix meetings order on meeting component
  decidim-meetings/app/controllers/decidim/meetings/admin/application_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/meetings_controller.rb
Labels: component: meetings, in-review

#6826 Add Participatory Processes Content Block in Process Groups
  decidim-core/app/cells/decidim/scopes_picker/scope_picker_prompt.erb
  decidim-core/app/cells/decidim/scopes_picker/scope_picker_values.erb
  decidim-core/app/cells/decidim/scopes_picker/show.erb
  decidim-core/app/cells/decidim/scopes_picker_cell.rb
  decidim-meetings/app/cells/decidim/meetings/content_blocks/highlighted_meetings/elements.erb
  decidim-meetings/app/cells/decidim/meetings/content_blocks/highlighted_meetings/heading.erb
  decidim-meetings/app/cells/decidim/meetings/content_blocks/highlighted_meetings_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_highlighted_list_item/show.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_highlighted_list_item_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/highlighted_participatory_processes/filters.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/highlighted_participatory_processes/filters_small_view.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/highlighted_participatory_processes/participatory_space_filters.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/highlighted_participatory_processes/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/highlighted_participatory_processes/title_filter_order.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/highlighted_participatory_processes_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/stats/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/stats_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/process_filters_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/filtered_participatory_processes/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/filtered_participatory_processes_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_filters_cell.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_process_groups_controller.rb
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/participatory_process_group_stats_presenter.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/group_participatory_processes.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/group_published_participatory_processes.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/stats_followers_count.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/stats_participants_count.rb
  decidim-participatory_processes/app/services/decidim/participatory_processes/participatory_process_search.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_process_groups/show.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_process_groups/show.js.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/spec/system/participatory_process_groups_spec.rb
Labels: in-review

#6920 Fix editor image alt tag
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-core/app/assets/javascripts/decidim/editor.js.es6
Labels: general: admin, general: core, in-review, type: bug

#6889 Fix initiatives notifications by email for followers
  decidim-core/app/services/decidim/email_notification_generator.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/action_mailer.rb
  decidim-initiatives/spec/commands/decidim/initiatives/vote_initiative_spec.rb
Labels: general: core, general: dev, in-review, space: initiative, type: bug

#6955 Add a general moderation panel
  decidim-admin/app/controllers/concerns/decidim/admin/global_moderation_context.rb
  decidim-admin/app/controllers/decidim/admin/global_moderations/reports_controller.rb
  decidim-admin/app/controllers/decidim/admin/global_moderations_controller.rb
  decidim-admin/app/controllers/decidim/admin/moderations/reports_controller.rb
  decidim-admin/app/controllers/decidim/admin/moderations_controller.rb
  decidim-admin/app/helpers/decidim/admin/moderations_helper.rb
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/app/views/decidim/admin/moderations/index.html.erb
  decidim-admin/app/views/decidim/admin/moderations/reports/index.html.erb
  decidim-admin/app/views/layouts/decidim/admin/global_moderations.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-admin/lib/decidim/admin/test/manage_moderations_examples.rb
  decidim-admin/spec/helpers/menu_helper_spec.rb
  decidim-admin/spec/system/admin_manages_global_moderations_spec.rb
  decidim-admin/spec/system/space_admin_manages_global_moderations_spec.rb
  decidim-admin/spec/system/space_moderator_manages_global_moderations_spec.rb
Labels: in-review

#6999 Docs: Undo 'main' branch renaming
  docs/antora.yml
Labels: criticality: high

#6986 Fix private participants pagination crash
  decidim-admin/spec/system/participatory_space_private_user_spec.rb
  decidim-core/app/helpers/decidim/paginate_helper.rb
Labels: general: admin, general: core, in-review, type: bug

#7000 Backport from PR 6986 to release/0.23_stable
  decidim-admin/spec/system/participatory_space_private_user_spec.rb
  decidim-core/app/helpers/decidim/paginate_helper.rb
Labels: general: admin, general: core, in-review, type: bug

#6827 Edit link in groups and show group in processes
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_processes_controller.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_process_groups/show.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/_participatory_process_group.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/spec/system/participatory_process_groups_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
  decidim_app-design/app/views/public/info.html.erb
Labels: in-review

#6925 Fix visible_meeting_for to increase cases where an user can see meetings
  decidim-core/lib/decidim/has_private_users.rb
  decidim-core/spec/models/decidim/action_log_spec.rb
  decidim-meetings/app/controllers/decidim/meetings/meetings_controller.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/spec/cells/decidim/meetings/content_blocks/upcoming_events_cell_spec.rb
  decidim-meetings/spec/controllers/decidim/meetings/meetings_controller_spec.rb
Labels: component: meetings, general: core

#6980 Backport "Fix visible_meeting_for scope if Decidim::Conference is not defined" to v0.23
  decidim-meetings/app/models/decidim/meetings/meeting.rb
Labels: general: admin, general: core, in-review, type: bug

#6940 Archive Debates
  decidim-debates/app/commands/decidim/debates/admin/archive_debate.rb
  decidim-debates/app/commands/decidim/debates/admin/close_debate.rb
  decidim-debates/app/controllers/decidim/debates/admin/debates_controller.rb
  decidim-debates/app/forms/decidim/debates/admin/close_debate_form.rb
  decidim-debates/app/helpers/decidim/debates/admin/application_helper.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/app/permissions/decidim/debates/admin/permissions.rb
  decidim-debates/app/views/decidim/debates/admin/debate_closes/edit.html.erb
  decidim-debates/app/views/decidim/debates/admin/debates/index.html.erb
  decidim-debates/config/locales/en.yml
  decidim-debates/db/migrate/20201126112752_archive_debates.rb
  decidim-debates/lib/decidim/debates/admin_engine.rb
  decidim-debates/lib/decidim/debates/component.rb
  decidim-debates/spec/commands/decidim/debates/admin/archive_debate_spec.rb
  decidim-debates/spec/models/decidim/debates/debate_spec.rb
  decidim-debates/spec/permissions/decidim/debates/admin/permissions_spec.rb
  decidim-debates/spec/shared/manage_debates_examples.rb
Labels: component: debates, type: feature

#6974 Fix meeting closing issues
  decidim-meetings/app/controllers/decidim/meetings/meeting_closes_controller.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim-meetings/spec/system/user_close_meeting.rb
Labels: component: meetings, in-review, type: bug

#6936 Fix help tip on CSV imports
  decidim-core/config/locales/en.yml
Labels: status: WIP

#7008 Fix duplicated error in datetime_fields
  decidim-core/lib/decidim/form_builder.rb
Labels: general: core, in-review, type: bug

#6990 Backport "Fix editor image alt tag" to 0.23
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-core/app/assets/javascripts/decidim/editor.js.es6
Labels: general: admin, general: core, in-review

#6995 Update link to CONTRIBUTING.adoc in PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: in-review, team: documentation

#6948 Add time type for settings manifest attributes
  decidim-admin/app/helpers/decidim/admin/settings_helper.rb
  decidim-admin/spec/helpers/settings_helper_spec.rb
  decidim-core/lib/decidim/settings_manifest.rb
Labels: in-review

#6992 CandidateProposals on SortitionType is defined as translattable, but in fact is an array of proposal ids
  decidim-sortitions/app/types/decidim/sortitions/sortition_type.rb
  decidim-sortitions/spec/types/sortition_type_spec.rb
Labels: component: sortitions, in-review

#6962 Export debate comments
  decidim-debates/app/helpers/decidim/debates/admin/application_helper.rb
  decidim-debates/app/permissions/decidim/debates/admin/permissions.rb
  decidim-debates/app/views/decidim/debates/admin/debates/index.html.erb
  decidim-debates/config/locales/en.yml
  decidim-debates/lib/decidim/debates/component.rb
  decidim-debates/spec/permissions/decidim/debates/admin/permissions_spec.rb
  decidim-debates/spec/shared/export_debate_comments_examples.rb
  decidim-debates/spec/system/admin_manages_debates_spec.rb
Labels: component: debates, in-review, type: feature

#7003 Docs: add SSL recommmendations
  docs/modules/install/pages/checklist.adoc
Labels: in-review, team: documentation

#6997 Add and use decidim-bulletin_board gem
  Gemfile.lock
  decidim-elections/app/commands/decidim/elections/admin/setup_election.rb
  decidim-elections/config/initializers/decidim_bulletin_board.rb
  decidim-elections/decidim-elections.gemspec
  decidim-elections/lib/decidim/elections.rb
  decidim-elections/lib/decidim/elections/bulletin_board_client.rb
  decidim-elections/lib/decidim/elections/engine.rb
  decidim-elections/lib/decidim/elections/jwk_utils.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/lib/tasks/decidim_elections.rake
  decidim-elections/spec/cassettes/Admin_manages_elections/set_up_an_election/when_the_election_is_published/sets_up_an_election.json
  decidim-elections/spec/cassettes/Decidim_Elections_Admin_SetupElection/when_valid_form/setup_the_election.json
  decidim-elections/spec/commands/decidim/elections/admin/setup_election_spec.rb
  decidim-elections/spec/lib/decidim/elections/bulletin_board_client_spec.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim_app-design/Gemfile.lock
  docs/modules/services/pages/elections_bulletin_board.adoc
Labels: contract: e-voting, criticality: high, in-review

#7004 Change the personal URL links to profile path links
  decidim-core/app/cells/decidim/user_conversation/conversation_header.erb
  decidim-core/app/views/decidim/messaging/conversations/_messages.html.erb
  decidim-core/app/views/decidim/messaging/conversations/_show.html.erb
Labels: general: core, in-review

#6950 GraphQL syntax upgrade (Part 1)
  decidim-api/lib/decidim/api.rb
  decidim-api/lib/decidim/api/test/type_context.rb
  decidim-api/lib/decidim/api/types.rb
  decidim-api/lib/decidim/api/types/base_argument.rb
  decidim-api/lib/decidim/api/types/base_enum.rb
  decidim-api/lib/decidim/api/types/base_field.rb
  decidim-api/lib/decidim/api/types/base_input_object.rb
  decidim-api/lib/decidim/api/types/base_interface.rb
  decidim-api/lib/decidim/api/types/base_mutation.rb
  decidim-api/lib/decidim/api/types/base_object.rb
  decidim-api/lib/decidim/api/types/base_scalar.rb
  decidim-api/lib/decidim/api/types/base_union.rb
  decidim-core/app/types/decidim/core/date_time_type.rb
  decidim-core/app/types/decidim/core/date_type.rb
  decidim-core/app/types/decidim/core/decidim_type.rb
  decidim-core/app/types/decidim/core/hashtag_type.rb
  decidim-core/app/types/decidim/core/organization_type.rb
  decidim-core/app/types/decidim/core/statistic_type.rb
  decidim-core/lib/decidim/api/scalars/date_time_type.rb
  decidim-core/lib/decidim/api/scalars/date_type.rb
  decidim-core/lib/decidim/core/api.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/types/date_time_type_spec.rb
  decidim-core/spec/types/date_type_spec.rb
  decidim-core/spec/types/decidim_type_spec.rb
  decidim-core/spec/types/organization_type_spec.rb
  decidim-core/spec/types/statistic_type_spec.rb
Labels: in-review

#7018 Fix avoid removing tag style on custom sanitize
  decidim-core/app/helpers/decidim/sanitize_helper.rb
  decidim-core/app/scrubbers/decidim/newsletter_scrubber.rb
  decidim-core/app/views/decidim/newsletter_mailer/newsletter.html.erb
  decidim-core/spec/helpers/decidim/sanitize_helper_spec.rb
  decidim-core/spec/scrubbers/decidim/newsletter_scrubber_spec.rb
Labels: general: core, type: bug

#6931 GitHub Action workflow on release triggering decidim/docker build
  .github/workflows/on_release.yml
Labels: status: WIP

#6951 Make it possible to allow some pages to display publicly even when organization access is limited
  decidim-admin/app/commands/decidim/admin/create_static_page.rb
  decidim-admin/app/commands/decidim/admin/update_static_page.rb
  decidim-admin/app/controllers/decidim/admin/static_pages_controller.rb
  decidim-admin/app/forms/decidim/admin/static_page_form.rb
  decidim-admin/app/views/decidim/admin/static_pages/_form.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/commands/decidim/admin/create_static_page_spec.rb
  decidim-admin/spec/commands/decidim/admin/update_static_page_spec.rb
  decidim-admin/spec/controllers/static_pages_controller_spec.rb
  decidim-admin/spec/forms/static_page_form_spec.rb
  decidim-admin/spec/views/decidim/static_pages/_form.html.erb_spec.rb
  decidim-core/app/controllers/concerns/decidim/force_authentication.rb
  decidim-core/app/models/decidim/organization.rb
  decidim-core/app/models/decidim/static_page.rb
  decidim-core/app/models/decidim/static_page_topic.rb
  decidim-core/app/views/layouts/decidim/_main_footer.html.erb
  decidim-core/db/migrate/20201128130723_add_allow_public_access_to_static_pages.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/core/test/shared_examples/static_pages_examples.rb
  decidim-core/spec/controllers/pages_controller_spec.rb
  decidim-core/spec/models/decidim/organization_spec.rb
  decidim-core/spec/models/decidim/static_page_spec.rb
  decidim-core/spec/models/decidim/static_page_topic_spec.rb
  decidim-core/spec/system/homepage_spec.rb
  decidim-system/app/commands/decidim/system/create_default_pages.rb
  decidim-system/spec/commands/decidim/system/create_default_pages_spec.rb
Labels: in-review

#7016 Start and end dates for survey
  decidim-surveys/app/controllers/decidim/surveys/surveys_controller.rb
  decidim-surveys/app/models/decidim/surveys/survey.rb
  decidim-surveys/config/locales/en.yml
  decidim-surveys/lib/decidim/surveys/component.rb
  decidim-surveys/spec/models/decidim/surveys/survey_spec.rb
  decidim-surveys/spec/system/survey_spec.rb
Labels: component: surveys, in-review, type: feature

#7043 Backport "Add some missing i18n keys" to 0.23
  decidim-admin/config/locales/en.yml
  decidim-assemblies/config/locales/en.yml
  decidim-core/lib/decidim/form_builder.rb
Labels: component: assemblies, general: admin, general: core, in-review

#6996 Fix linebreaks in WYSWYG editor
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-core/app/assets/javascripts/decidim/editor.js.es6
  decidim-core/app/assets/javascripts/decidim/editor/linebreak_module.js.es6
  decidim-core/app/assets/javascripts/decidim/editor/modified_backspace_offset1.js.es6
  decidim-core/app/assets/javascripts/decidim/editor/modified_backspace_offset_any.js.es6
  decidim-core/app/assets/javascripts/decidim/editor/modified_backspace_utils.js.es6
  decidim-core/app/assets/javascripts/decidim/editor/modified_enter.js.es6
Labels: general: admin, general: core, in-review

#6883 Fix filter proposals by state in the admin
  decidim-proposals/app/helpers/decidim/proposals/admin/proposals_helper.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_proposal-tr.html.erb
  decidim-proposals/spec/shared/publish_answers_examples.rb
Labels: component: proposals, contract: PAM2020

#6748 Improve management of managed user
  decidim-admin/app/commands/decidim/admin/impersonate_user.rb
  decidim-admin/app/commands/decidim/admin/promote_managed_user.rb
  decidim-admin/app/commands/decidim/admin/transfer_user.rb
  decidim-admin/app/controllers/decidim/admin/conflicts_controller.rb
  decidim-admin/app/controllers/decidim/admin/impersonations_controller.rb
  decidim-admin/app/forms/decidim/admin/transfer_user_form.rb
  decidim-admin/app/views/decidim/admin/conflicts/edit.html.erb
  decidim-admin/app/views/decidim/admin/conflicts/index.html.erb
  decidim-admin/app/views/layouts/decidim/admin/users.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/spec/commands/decidim/admin/impersonate_user_spec.rb
  decidim-admin/spec/commands/decidim/admin/promote_managed_user_spec.rb
  decidim-admin/spec/commands/decidim/admin/transfer_user_spec.rb
  decidim-admin/spec/controllers/conflicts_controller_spec.rb
  decidim-admin/spec/forms/decidim/admin/transfer_user_form_spec.rb
  decidim-core/app/models/decidim/impersonation_log.rb
  decidim-core/app/presenters/decidim/admin_log/impersonation_log_presenter.rb
  decidim-core/app/presenters/decidim/admin_log/user_presenter.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/models/decidim/impersonation_log_spec.rb
  decidim-verifications/app/commands/decidim/verifications/authorize_user.rb
  decidim-verifications/app/events/decidim/verifications/managed_user_error_event.rb
  decidim-verifications/app/models/decidim/verifications/conflict.rb
  decidim-verifications/config/locales/en.yml
  decidim-verifications/db/migrate/20201028161118_create_decidim_verifications_conflicts.rb
  decidim-verifications/lib/decidim/verifications/test/factories.rb
  decidim-verifications/spec/commands/decidim/verifications/authorize_user_spec.rb
  decidim-verifications/spec/events/decidim/verifications/managed_user_error_event_spec.rb
  decidim-verifications/spec/forms/decidim/verifications/sms/mobile_phone_form_spec.rb
Labels: contract: PAM2020, in-review

#7026 Fix error adding partner to conference
  decidim-conferences/app/controllers/decidim/conferences/admin/partners_controller.rb
  decidim-conferences/app/forms/decidim/conferences/admin/partner_form.rb
  decidim-conferences/app/views/decidim/conferences/admin/partners/_form.html.erb
Labels: in-review

#7032 Tool tip text displayed with tags on "Visit URL" link
  decidim-admin/app/views/decidim/admin/moderations/index.html.erb
  decidim-admin/spec/system/space_admin_manages_global_moderations_spec.rb
Labels: in-review

#7023 GraphQL syntax upgrade (Part 2) - increase test coverage
  decidim-accountability/spec/types/integration_schema_spec.rb
  decidim-api/lib/decidim/api/test/component_context.rb
  decidim-assemblies/app/types/decidim/assemblies/integration_schema_spec.rb
  decidim-blogs/spec/types/integration_schema_spec.rb
  decidim-budgets/spec/types/integration_schema_spec.rb
  decidim-conferences/spec/types/integration_schema_spec.rb
  decidim-consultations/spec/types/integration_schema_spec.rb
  decidim-core/spec/types/decidim_spec.rb
  decidim-core/spec/types/hashtags_spec.rb
  decidim-core/spec/types/metrics_spec.rb
  decidim-core/spec/types/organization_spec.rb
  decidim-debates/spec/types/integration_schema_spec.rb
  decidim-elections/spec/types/integration_schema_spec.rb
  decidim-initiatives/app/types/decidim/initiatives/initiative_committee_member_type.rb
  decidim-initiatives/app/types/decidim/initiatives/integration_schema_spec.rb
  decidim-meetings/spec/types/integration_schema_spec.rb
  decidim-pages/spec/types/integration_schema_spec.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/types/integration_schema_spec.rb
  decidim-sortitions/spec/types/integration_schema_spec.rb
  decidim-surveys/spec/types/integration_schema_spec.rb
Labels: in-review
