Repository decidim/decidim, pull requests merged in 2020-10, with the labels that each got.

#6573 Fix NOTA option
  decidim-elections/app/models/decidim/elections/question.rb
Labels: in-review

#6424 Complete Latvian language translation
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.lv.js
Labels: in-review

#6560 Update Faker quotes in design module in order to match the current gem syntax
  decidim_app-design/app/views/admin/component-meetings-edit-errors.html.erb
  decidim_app-design/app/views/admin/component-meetings-edit-item.html.erb
  decidim_app-design/app/views/admin/component-meetings-initial.html.erb
  decidim_app-design/app/views/admin/component-meetings-items.html.erb
  decidim_app-design/app/views/admin/component-meetings-minutes.html.erb
  decidim_app-design/app/views/admin/component-meetings-with-content.html.erb
  decidim_app-design/app/views/admin/component-proposals-actions.html.erb
  decidim_app-design/app/views/admin/component-proposals-apply-action.html.erb
  decidim_app-design/app/views/admin/component-proposals-none.html.erb
  decidim_app-design/app/views/admin/component-proposals-search.html.erb
  decidim_app-design/app/views/admin/component-proposals-selected.html.erb
  decidim_app-design/app/views/public/amendments/proposal-view-with-amendment-rejected.html.erb
  decidim_app-design/app/views/public/amendments/proposal-view-with-amendments.html.erb
  decidim_app-design/app/views/public/assemblies/assemblies.html.erb
  decidim_app-design/app/views/public/assemblies/assembly-view.html.erb
  decidim_app-design/app/views/public/cards/m/_assembly.html.erb
  decidim_app-design/app/views/public/cards/m/_blog.html.erb
  decidim_app-design/app/views/public/cards/m/_consultation.html.erb
  decidim_app-design/app/views/public/cards/m/_debate.html.erb
  decidim_app-design/app/views/public/cards/m/_identifier.html.erb
  decidim_app-design/app/views/public/cards/m/_initiative.html.erb
  decidim_app-design/app/views/public/cards/m/_meeting.html.erb
  decidim_app-design/app/views/public/cards/m/_member.html.erb
  decidim_app-design/app/views/public/cards/m/_process.html.erb
  decidim_app-design/app/views/public/cards/m/_project.html.erb
  decidim_app-design/app/views/public/cards/m/_proposal.html.erb
  decidim_app-design/app/views/public/cards/m/_result.html.erb
  decidim_app-design/app/views/public/cards/m/_search-results.html.erb
  decidim_app-design/app/views/public/cards/m/_sortition.html.erb
  decidim_app-design/app/views/public/cards/m/_stack.html.erb
  decidim_app-design/app/views/public/cards/m/_status.html.erb
  decidim_app-design/app/views/public/cards/m/_survey.html.erb
  decidim_app-design/app/views/public/debates.html.erb
  decidim_app-design/app/views/public/evote-poll-list.html.erb
  decidim_app-design/app/views/public/initiatives/initiatives.html.erb
  decidim_app-design/app/views/public/meetings/meeting-view-closed.html.erb
  decidim_app-design/app/views/public/meetings/meeting-view-custom-status.html.erb
  decidim_app-design/app/views/public/meetings/meeting-view-longer.html.erb
  decidim_app-design/app/views/public/meetings/meetings-callout.html.erb
  decidim_app-design/app/views/public/meetings/meetings.html.erb
  decidim_app-design/app/views/public/partials/_help-tooltip.html.erb
  decidim_app-design/app/views/public/partials/_input_search.html.erb
  decidim_app-design/app/views/public/partials/_last_activity.html.erb
  decidim_app-design/app/views/public/partials/_last_posts.html.erb
  decidim_app-design/app/views/public/participatory/participatory-texts-draft.html.erb
  decidim_app-design/app/views/public/processes/processes.html.erb
  decidim_app-design/app/views/public/profile/_badge.html.erb
  decidim_app-design/app/views/public/profile/_conversations.html.erb
  decidim_app-design/app/views/public/profile/_timeline.html.erb
  decidim_app-design/app/views/public/profile/_user-card.html.erb
  decidim_app-design/app/views/public/proposals/proposal-stats.html.erb
  decidim_app-design/app/views/public/proposals/proposals-collaboratives.html.erb
  decidim_app-design/app/views/public/proposals/proposals-no-vote.html.erb
  decidim_app-design/app/views/public/proposals/proposals-with-filters.html.erb
  decidim_app-design/app/views/public/proposals/proposals.html.erb
  decidim_app-design/app/views/public/proposals/proposals_2.html.erb
  decidim_app-design/app/views/public/results.html.erb
  decidim_app-design/app/views/public/search.html.erb
  decidim_app-design/app/views/public/vizzs/_linecharts.html.erb
  decidim_app-design/app/views/public/vizzs/_rowcharts.html.erb
Labels: in-review

#6556 Fix form validations for user's invitation
  decidim-admin/app/forms/decidim/admin/participatory_space_private_user_csv_import_form.rb
  decidim-admin/app/forms/decidim/admin/participatory_space_private_user_form.rb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/forms/participatory_space_private_user_csv_import_form_spec.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_user_roles_controller.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_user_role_form.rb
  decidim-assemblies/spec/controllers/admin/assembly_user_roles_controller_spec.rb
  decidim-assemblies/spec/forms/assembly_user_role_form_spec.rb
  decidim-core/app/models/decidim/user_base_entity.rb
  decidim-dev/lib/decidim/dev/assets/import_participatory_space_private_users_nok.csv
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_user_roles_controller.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_user_role_form.rb
  decidim-participatory_processes/spec/controllers/admin/participatory_process_user_roles_controller_spec.rb
  decidim-participatory_processes/spec/forms/participatory_process_user_role_form_spec.rb
Labels: component: assemblies, general: admin, space: processes, type: bug

#6600 Fix issue when the file upload settings is not a hash
  decidim-system/app/forms/decidim/system/file_upload_settings_form.rb
  decidim-system/spec/forms/decidim/system/file_upload_settings_form_spec.rb
Labels: in-review

#6592 Take the first image attachment when rendering a proposal card
  decidim-core/app/models/decidim/attachment.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_m_cell_spec.rb
Labels: component: proposals, general: core, in-review, type: bug

#6596 Remove default static pages
  decidim-core/app/models/decidim/static_page.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/models/decidim/static_page_spec.rb
  decidim-core/spec/system/user_tos_acceptance_spec.rb
Labels: general: core

#6595 Mark meetings spec as slow
  decidim-meetings/spec/system/explore_meetings_spec.rb
Labels: in-review

#6585 Fix proposals creation
  decidim-proposals/app/commands/decidim/proposals/update_proposal.rb
  decidim-proposals/db/migrate/20201002085508_fix_proposals_data.rb
  decidim-proposals/spec/commands/decidim/proposals/update_proposal_spec.rb
Labels: in-review

#6597 Fix missing translation in Forms
  decidim-forms/config/locales/en.yml
Labels: general: core

#6532 Add more than one attachment to proposals
  decidim-core/app/commands/decidim/gallery_methods.rb
  decidim-core/app/commands/decidim/multiple_attachments_methods.rb
  decidim-proposals/app/commands/decidim/proposals/update_proposal.rb
  decidim-proposals/app/forms/decidim/proposals/proposal_form.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_edit_form_fields.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/commands/decidim/proposals/update_proposal_spec.rb
  decidim-proposals/spec/system/proposals_fields_spec.rb
Labels: component: proposals, general: core, in-review

#6578 Fix bug with the Participant's Admin active menu
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-admin/spec/helpers/menu_helper_spec.rb
Labels: general: admin, in-review, type: bug

#6609 Fix "no" Norwegian key for decidim-templates
  decidim-templates/config/locales/no.yml
  spec/i18n_spec.rb
Labels: in-review, team: i18n, type: bug

#6643 Fix meeting and debate presenters with machine translations
  decidim-debates/app/presenters/decidim/debates/debate_presenter.rb
  decidim-debates/spec/presenters/decidim/debates/debate_presenter_spec.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/spec/presenters/decidim/meetings/meeting_presenter_spec.rb
Labels: in-review, release: v0.23

#6642 Make cors more strict
  decidim-api/lib/decidim/api/engine.rb
Labels: graphql-api

#6647 Backport "Fix meeting and debate presenters with machine translations" to 0.23-stable
  decidim-debates/app/presenters/decidim/debates/debate_presenter.rb
  decidim-debates/spec/presenters/decidim/debates/debate_presenter_spec.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/spec/presenters/decidim/meetings/meeting_presenter_spec.rb
Labels: component: debates, component: meetings

#6637 Fix admin logs proposal presenter
  decidim-core/app/presenters/decidim/log/value_types/default_presenter.rb
  decidim-proposals/app/presenters/decidim/proposals/admin_log/value_types/proposal_title_body_presenter.rb
  decidim-proposals/spec/presenters/decidim/proposals/admin_log/value_types/proposal_title_body_presenter_spec.rb
Labels: in-review, release: v0.23

#6584 Show draft initiatives
  decidim-initiatives/app/helpers/decidim/initiatives/application_helper.rb
  decidim-initiatives/app/services/decidim/initiatives/initiative_search.rb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/services/decidim/initiatives/initiative_search_spec.rb
  decidim-initiatives/spec/system/filter_initiatives_spec.rb
Labels: in-review, space: initiative

#6641 Escape conferences user input
  decidim-conferences/app/cells/decidim/conferences/media_link/show.erb
  decidim-conferences/app/cells/decidim/conferences/media_link_cell.rb
  decidim-core/app/cells/decidim/activity_cell.rb
Labels: general: core, in-review, space:conferences

#6607 Update documentation for `decidim` OAuth social provider
  docs/customization/oauth.md
  docs/getting_started.md
  docs/services/social_providers.md
Labels: general: core, in-review, team: documentation

#6654 Fix deprecated js loadMap on meetings index
  decidim-meetings/app/views/decidim/meetings/directory/meetings/index.js.erb
  decidim-meetings/app/views/decidim/meetings/meetings/index.js.erb
Labels: in-review

#6616 Fix order for elections
  decidim-elections/app/controllers/concerns/decidim/elections/orderable.rb
  decidim-elections/spec/system/sorting_elections_spec.rb
Labels: component: elections, in-review, type: bug

#6612 Exporting user data throws CarrierWave::IntegrityError (The file is not attached to any organization)
  decidim-core/app/jobs/decidim/data_portability_export_job.rb
Labels: general: core, in-review

#6673 Remove unused /organization_users route
  decidim-core/config/routes.rb
Labels: general: core, in-review

#6235 Homepage content blocks cache
  decidim-core/app/cells/decidim/content_blocks/hero_cell.rb
  decidim-core/app/cells/decidim/content_blocks/last_activity_cell.rb
  decidim-core/lib/decidim/view_model.rb
  decidim-core/spec/cells/decidim/content_blocks/hero_cell_spec.rb
  decidim-core/spec/cells/decidim/content_blocks/last_activity_cell_spec.rb
Labels: general: core, in-review

#6667 Remove unused Initiative author i18n block
  decidim-initiatives/config/locales/en.yml
Labels: in-review, space: initiative

#6649 Fix nickname prefix wraps on certain view widths
  decidim-core/app/assets/stylesheets/decidim/modules/_signup.scss
Labels: general: core, in-review

#6581 Fix error when saving an Initiative title and description from Admin
  decidim-initiatives/app/forms/decidim/initiatives/admin/initiative_form.rb
Labels: in-review, space: initiative, type: bug

#6590 Fix Initiative's neutral vocabulary
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/system/create_initiative_spec.rb
Labels: in-review, space: initiative

#6653 Avoid rendering values on the secrets.yml when creating a new app
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
Labels: contract: e-voting, general: generators, in-review, type: bug

#6618 Fix default help section and page for Conferences
  decidim-conferences/config/locales/en.yml
  decidim-consultations/config/locales/en.yml
Labels: in-review

#6525 Add scope to proposals import
  decidim-budgets/app/commands/decidim/budgets/admin/import_proposals_to_budgets.rb
  decidim-budgets/app/forms/decidim/budgets/admin/project_import_proposals_form.rb
  decidim-budgets/app/views/decidim/budgets/admin/proposals_imports/new.html.erb
  decidim-budgets/spec/commands/decidim/budgets/admin/import_proposals_to_budgets_spec.rb
Labels: component: budgets, contract: PAM2020, in-review

#6648 Add new languages: Korean, Vietnamese and Chinese
  crowdin.yaml
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/lib/available_locales_spec.rb
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.ko.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.vi.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.zh-CN.js
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.zh-TW.js
Labels: in-review, team: i18n

#6575 Remove show_statistics checkbox in Appearance
  CHANGELOG.md
  decidim-admin/app/commands/decidim/admin/update_organization_appearance.rb
  decidim-admin/app/forms/decidim/admin/organization_appearance_form.rb
  decidim-admin/app/views/decidim/admin/organization_appearance/_form.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/commands/decidim/admin/update_organization_appearance_spec.rb
  decidim-core/app/cells/decidim/content_blocks/metrics_cell.rb
  decidim-core/app/cells/decidim/content_blocks/stats_cell.rb
  decidim-core/app/presenters/decidim/admin_log/organization_presenter.rb
  decidim-core/db/migrate/20200929171508_remove_show_statistics_from_organizations.rb
  decidim-core/spec/system/homepage_spec.rb
Labels: in-review

#6572 Add online meetings
  decidim-core/app/forms/url_validator.rb
  decidim-core/spec/forms/url_validator_spec.rb
  decidim-meetings/app/assets/config/decidim_meetings_manifest.js
  decidim-meetings/app/assets/javascripts/decidim/meetings/admin/meetings_form.js.es6
  decidim-meetings/app/assets/javascripts/decidim/meetings/meetings_form.js.es6
  decidim-meetings/app/cells/decidim/meetings/meeting_m/address.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_m_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_url/show.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_url_cell.rb
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/update_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/meetings_controller.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/meeting_form.rb
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/services/decidim/meetings/meeting_search.rb
  decidim-meetings/app/types/decidim/meetings/meeting_type.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/edit.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/new.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_filters.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_online_meeting_link.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/edit.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/new.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20201006140511_add_online_meeting_url.rb
  decidim-meetings/db/migrate/20201009124057_add_type_of_meeting.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/commands/admin/create_meeting_spec.rb
  decidim-meetings/spec/commands/admin/update_meeting_spec.rb
  decidim-meetings/spec/commands/create_meeting_spec.rb
  decidim-meetings/spec/commands/update_meeting_spec.rb
  decidim-meetings/spec/forms/admin/meeting_form_spec.rb
  decidim-meetings/spec/forms/meeting_form_spec.rb
  decidim-meetings/spec/services/meeting_search_spec.rb
  decidim-meetings/spec/shared/manage_meetings_examples.rb
  decidim-meetings/spec/system/admin_manages_meetings_other_features_spec.rb
  decidim-meetings/spec/system/admin_manages_meetings_spec.rb
  decidim-meetings/spec/system/user_creates_meeting_spec.rb
Labels: component: meetings, general: core, in-review

#6515 Display the time Rails spends rendering a cell
  decidim-core/app/helpers/decidim/application_helper.rb
  decidim-core/config/initializers/active_support.rb
  decidim-core/lib/decidim/view_model.rb
Labels: general: core, in-review

#6674 Add missing margin between username and title in cards
  decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss
Labels: femdev, general: core, in-review

#6682 Fix the file validator humanizer with static numeric values
  decidim-core/lib/decidim/file_validator_humanizer.rb
  decidim-core/spec/lib/file_validator_humanizer_spec.rb
Labels: in-review

#6683 Allow customization of the upload help messages
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/lib/form_builder_spec.rb
Labels: in-review

#6684 Fix elections count in Homepage statistics
  decidim-elections/config/locales/en.yml
Labels: in-review

#6685 Ensure `resource_text` is a string in NotificationMailer
  decidim-core/app/views/decidim/notification_mailer/event_received.html.erb
  decidim-core/lib/decidim/core/test/shared_examples/simple_event.rb
  decidim-core/lib/decidim/events/base_event.rb
  decidim-core/spec/lib/events/base_event_spec.rb
Labels: in-review

#6680 Fix pending authorization list
  decidim-verifications/app/views/decidim/verifications/id_documents/admin/pending_authorizations/index.html.erb
Labels: in-review

#6686 Backport "Fix elections count in Homepage statistics" to 0.23
  decidim-elections/config/locales/en.yml
Labels: in-review

#6688 Backport "Fix the file validator humanizer with static numeric values" to 0.23
  decidim-core/lib/decidim/file_validator_humanizer.rb
  decidim-core/spec/lib/file_validator_humanizer_spec.rb
Labels: in-review

#6665 Add machine translations on factories
  decidim-accountability/spec/services/decidim/accountability/result_serializer_spec.rb
  decidim-accountability/spec/services/decidim/accountability/searchable_result_resource_spec.rb
  decidim-admin/spec/commands/decidim/admin/create_newsletter_spec.rb
  decidim-admin/spec/commands/decidim/admin/unofficialize_user_spec.rb
  decidim-admin/spec/commands/decidim/admin/update_newsletter_spec.rb
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-assemblies/spec/commands/copy_assembly_spec.rb
  decidim-assemblies/spec/models/decidim/assemblies_type_spec.rb
  decidim-assemblies/spec/services/decidim/assemblies/searchable_assembly_resource_spec.rb
  decidim-blogs/spec/services/decidim/blogs/searchable_blogpost_resource_spec.rb
  decidim-budgets/spec/services/decidim/budgets/searchable_project_resource_spec.rb
  decidim-comments/app/events/decidim/comments/comment_created_event.rb
  decidim-conferences/spec/commands/update_media_link_spec.rb
  decidim-conferences/spec/commands/update_registration_type_spec.rb
  decidim-conferences/spec/services/decidim/conferences/searchable_conferences_resource_spec.rb
  decidim-consultations/spec/services/decidim/consultations/searchable_consultation_resource_spec.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/core/test/shared_examples/process_announcements_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/searchable_participatory_space_examples.rb
  decidim-core/lib/decidim/faker/localized.rb
  decidim-core/spec/lib/faker_localized_spec.rb
  decidim-core/spec/models/decidim/area_type_spec.rb
  decidim-core/spec/models/decidim/scope_type_spec.rb
  decidim-core/spec/serializers/decidim/importers/participatory_space_components_importer_spec.rb
  decidim-debates/spec/commands/decidim/debates/update_debate_spec.rb
  decidim-debates/spec/services/decidim/debates/searchable_debate_resource_spec.rb
  decidim-debates/spec/system/debates_versions_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/translation_helpers.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/initiatives_types_controller_spec.rb
  decidim-initiatives/spec/services/decidim/initiatives/searchable_initiative_resource_spec.rb
  decidim-initiatives/spec/shared/update_initiative_type_example.rb
  decidim-initiatives/spec/system/admin/update_initiative_spec.rb
  decidim-meetings/spec/commands/update_meeting_spec.rb
  decidim-participatory_processes/spec/commands/copy_participatory_process_spec.rb
  decidim-participatory_processes/spec/services/decidim/participatory_processes/searchable_participatory_process_resource_spec.rb
  decidim-proposals/app/services/decidim/proposals/diff_renderer.rb
  decidim-proposals/spec/services/decidim/proposals/searchable_proposal_resource_spec.rb
  decidim-sortitions/spec/commands/decidim/sortitions/admin/update_sortition_spec.rb
  decidim-system/spec/commands/decidim/system/create_default_pages_spec.rb
Labels: in-review

#6694 Refactor meetings test to be resilient to flakys
  decidim-budgets/spec/services/decidim/budgets/searchable_project_resource_spec.rb
  decidim-core/app/services/decidim/resource_search.rb
  decidim-meetings/spec/system/explore_meetings_spec.rb
Labels: component: budgets, component: meetings, general: core, in-review, type: bug

#6708 Backport "Fix in space highlighted meetings show only visible meetings" to 0.23
  decidim-meetings/app/cells/decidim/meetings/highlighted_meetings_for_component_cell.rb
Labels: component: meetings

#6710 Backport "Fix in space highlighted meetings show only visible meetings" to 0.22
  decidim-meetings/app/cells/decidim/meetings/highlighted_meetings_for_component_cell.rb
Labels: component: meetings

#6707 Fix in space highlighted meetings show only visible meetings
  decidim-meetings/app/cells/decidim/meetings/highlighted_meetings_for_component_cell.rb
Labels: component: meetings

#6535 Add elections trustees role
  decidim-admin/app/helpers/decidim/admin/application_helper.rb
  decidim-admin/lib/decidim/admin.rb
  decidim-assemblies/app/views/layouts/decidim/admin/assembly.html.erb
  decidim-conferences/app/views/layouts/decidim/admin/conference.html.erb
  decidim-elections/app/commands/decidim/elections/admin/add_user_as_trustee.rb
  decidim-elections/app/commands/decidim/elections/admin/remove_trustee_from_participatory_space.rb
  decidim-elections/app/commands/decidim/elections/admin/update_trustee_participatory_space.rb
  decidim-elections/app/controllers/decidim/elections/admin/trustees_participatory_spaces_controller.rb
  decidim-elections/app/events/decidim/elections/trustees/notify_new_trustee_event.rb
  decidim-elections/app/forms/decidim/elections/admin/trustees_participatory_space_form.rb
  decidim-elections/app/helpers/decidim/elections/admin/trustees_participatory_spaces_helper.rb
  decidim-elections/app/models/decidim/elections/election.rb
  decidim-elections/app/models/decidim/elections/elections_trustee.rb
  decidim-elections/app/models/decidim/elections/trustee.rb
  decidim-elections/app/models/decidim/elections/trustees_participatory_space.rb
  decidim-elections/app/permissions/decidim/elections/admin/permissions.rb
  decidim-elections/app/types/decidim/elections/election_type.rb
  decidim-elections/app/types/decidim/elections/trustee_type.rb
  decidim-elections/app/views/decidim/elections/admin/shared/_trustees_secondary_nav.html.erb
  decidim-elections/app/views/decidim/elections/admin/trustees_participatory_spaces/_form.html.erb
  decidim-elections/app/views/decidim/elections/admin/trustees_participatory_spaces/index.html.erb
  decidim-elections/app/views/decidim/elections/admin/trustees_participatory_spaces/new.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20200918153813_create_decidim_elections_trustees_participatory_spaces.rb
  decidim-elections/db/migrate/20200918153824_create_decidim_elections_elections_trustees.rb
  decidim-elections/db/migrate/20200918153835_create_decidim_elections_trustees.rb
  decidim-elections/lib/decidim/elections/admin_engine.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/spec/commands/decidim/elections/admin/add_user_as_trustee_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/remove_trustee_from_participatory_space_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/update_trustee_participatory_space_spec.rb
  decidim-elections/spec/events/decidim/elections/trustees/notify_new_trustee_event_spec.rb
  decidim-elections/spec/models/decidim/elections/trustee_spec.rb
  decidim-elections/spec/permissions/decidim/elections/admin/permissions_spec.rb
  decidim-elections/spec/system/admin_manages_trustees_spec.rb
  decidim-elections/spec/types/decidim/elections/election_type_spec.rb
  decidim-elections/spec/types/decidim/elections/trustee_type_spec.rb
  decidim-initiatives/app/views/layouts/decidim/admin/initiative.html.erb
  decidim-participatory_processes/app/views/layouts/decidim/admin/participatory_process.html.erb
Labels: component: assemblies, component: elections, contract: e-voting, general: admin, in-review, space: initiative, space: processes, space:conferences

#6715 Fix rubocop lint due to an upgraded ruby 2.7
  decidim-elections/app/commands/decidim/elections/admin/update_trustee_participatory_space.rb
  decidim-elections/app/models/decidim/elections/trustees_participatory_space.rb
Labels: component: elections, in-review, type: bug

#6652 Fix dependencies for decidim-templates within decidim-forms
  decidim-forms/app/controllers/decidim/forms/admin/concerns/has_questionnaire.rb
  decidim-forms/app/helpers/decidim/forms/admin/application_helper.rb
  decidim-forms/app/models/decidim/forms/questionnaire.rb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_form.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/edit.html.erb
Labels: component: forms, in-review

#6615 Add the trustee zone for users
  config/i18n-tasks.yml
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-dev/lib/decidim/dev/assets/private_key.jwk
  decidim-dev/lib/decidim/dev/assets/private_key2.jwk
  decidim-dev/lib/decidim/dev/assets/public_key.jwk
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara.rb
  decidim-elections/app/assets/config/decidim_elections_manifest.css
  decidim-elections/app/assets/config/decidim_elections_manifest.js
  decidim-elections/app/assets/javascripts/decidim/elections/identification_keys.js.es6
  decidim-elections/app/assets/javascripts/decidim/elections/trustee_zone.js.es6
  decidim-elections/app/assets/stylesheets/decidim/elections/trustee_zone.scss
  decidim-elections/app/commands/decidim/elections/trustee_zone/update_trustee.rb
  decidim-elections/app/controllers/decidim/elections/admin/trustees_participatory_spaces_controller.rb
  decidim-elections/app/controllers/decidim/elections/trustee_zone/trustees_controller.rb
  decidim-elections/app/events/decidim/elections/trustees/notify_new_trustee_event.rb
  decidim-elections/app/forms/decidim/elections/trustee_zone/trustee_form.rb
  decidim-elections/app/models/decidim/elections/trustee.rb
  decidim-elections/app/permissions/decidim/elections/permissions.rb
  decidim-elections/app/permissions/decidim/elections/trustee_zone/permissions.rb
  decidim-elections/app/presenters/decidim/elections/trustee_presenter.rb
  decidim-elections/app/views/decidim/elections/admin/trustees_participatory_spaces/index.html.erb
  decidim-elections/app/views/decidim/elections/trustee_zone/trustees/show.html.erb
  decidim-elections/config/i18n-tasks.yml
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/elections.rb
  decidim-elections/lib/decidim/elections/component.rb
  decidim-elections/lib/decidim/elections/trustee_zone.rb
  decidim-elections/lib/decidim/elections/trustee_zone_engine.rb
  decidim-elections/spec/commands/decidim/elections/trustee_zone/update_trustee_spec.rb
  decidim-elections/spec/events/decidim/elections/trustees/notify_new_trustee_event_spec.rb
  decidim-elections/spec/forms/decidim/elections/trustee_zone/trustee_form_spec.rb
  decidim-elections/spec/models/decidim/elections/trustee_spec.rb
  decidim-elections/spec/permissions/decidim/elections/permissions_spec.rb
  decidim-elections/spec/permissions/decidim/elections/trustee_zone/permissions_spec.rb
  decidim-elections/spec/presenters/decidim/elections/trustee_presenter_spec.rb
  decidim-elections/spec/system/trustee_zone_spec.rb
Labels: component: elections, contract: e-voting, in-review

#6729 Backport "Fix accept invitation to private meetings" to v0.22
  decidim-meetings/app/controllers/decidim/meetings/registrations_controller.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/permissions/decidim/meetings/permissions.rb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim-meetings/spec/permissions/decidim/meetings/permissions_spec.rb
Labels: component: meetings

#6695 Fix meetings creation
  decidim-meetings/app/commands/decidim/meetings/create_meeting.rb
  decidim-meetings/db/migrate/20201016065302_fix_meetings_registration_terms.rb
  decidim-meetings/spec/commands/create_meeting_spec.rb
Labels: criticality: high

#6728 Backport "Fix accept invitation to private meetings" to v0.23
  decidim-meetings/app/controllers/decidim/meetings/registrations_controller.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/permissions/decidim/meetings/permissions.rb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim-meetings/spec/permissions/decidim/meetings/permissions_spec.rb
Labels: component: meetings

#6721 Elections design improvements
  decidim_app-design/Gemfile.lock
  decidim_app-design/app/assets/javascripts/evote_check_nota.js.es6
  decidim_app-design/app/assets/javascripts/public.js
  decidim_app-design/app/assets/stylesheets/components/focus/_evote.scss
  decidim_app-design/app/views/public/evote-poll-landing.html.erb
  decidim_app-design/app/views/public/evote-poll-results.html.erb
  decidim_app-design/app/views/public/evote-public-verify.html.erb
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/partials/_focus_content_content_1.html.erb
  decidim_app-design/app/views/public/partials/_focus_content_content_2.html.erb
  decidim_app-design/app/views/public/partials/_focus_content_content_edit.html.erb
Labels: contract: e-voting, criticality: high, in-review

#6681 Fix content block image updates
  decidim-admin/app/commands/decidim/admin/update_content_block.rb
  decidim-admin/app/controllers/decidim/admin/organization_homepage_content_blocks_controller.rb
  decidim-admin/spec/commands/decidim/admin/update_content_block_spec.rb
  decidim-core/app/models/decidim/content_block.rb
  decidim-core/spec/models/decidim/content_block_spec.rb
Labels: in-review

#6548 Election feedback form
  Gemfile.lock
  config/i18n-tasks.yml
  decidim-admin/app/controllers/decidim/admin/exports_controller.rb
  decidim-admin/app/helpers/decidim/admin/exports_helper.rb
  decidim-admin/app/views/decidim/admin/exports/_dropdown.html.erb
  decidim-assemblies/spec/controllers/exports_controller_spec.rb
  decidim-conferences/spec/controllers/exports_controller_spec.rb
  decidim-core/app/jobs/decidim/export_job.rb
  decidim-elections/app/commands/decidim/elections/admin/create_election.rb
  decidim-elections/app/controllers/decidim/elections/admin/feedback_forms_controller.rb
  decidim-elections/app/controllers/decidim/elections/feedbacks_controller.rb
  decidim-elections/app/models/decidim/elections/election.rb
  decidim-elections/app/permissions/decidim/elections/admin/permissions.rb
  decidim-elections/app/permissions/decidim/elections/permissions.rb
  decidim-elections/app/views/decidim/elections/admin/elections/index.html.erb
  decidim-elections/app/views/decidim/elections/votes/_election_votes_confirmed.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20200915142713_add_questionnaire_to_existing_elections.rb
  decidim-elections/decidim-elections.gemspec
  decidim-elections/lib/decidim/elections/admin_engine.rb
  decidim-elections/lib/decidim/elections/component.rb
  decidim-elections/lib/decidim/elections/engine.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/spec/commands/decidim/elections/admin/create_election_spec.rb
  decidim-elections/spec/models/decidim/elections/election_spec.rb
  decidim-elections/spec/permissions/decidim/elections/admin/permissions_spec.rb
  decidim-elections/spec/permissions/decidim/elections/permissions_spec.rb
  decidim-elections/spec/spec_helper.rb
  decidim-elections/spec/system/admin_manages_elections_spec.rb
  decidim-forms/app/controllers/decidim/forms/admin/concerns/has_questionnaire.rb
  decidim-forms/app/controllers/decidim/forms/concerns/has_questionnaire.rb
  decidim-forms/app/helpers/decidim/forms/admin/application_helper.rb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_form.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/edit.html.erb
  decidim-forms/config/locales/en.yml
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaires/add_questions.rb
  decidim-participatory_processes/spec/controllers/exports_controller_spec.rb
  decidim-surveys/app/controllers/decidim/surveys/admin/surveys_controller.rb
  decidim-templates/app/controllers/decidim/templates/admin/questionnaire_templates/questionnaires_controller.rb
  decidim-templates/config/locales/en.yml
  decidim_app-design/Gemfile.lock
Labels: component: elections, component: forms, contract: e-voting, criticality: high, in-review

#6752 Backport "Fix content block image updates" to v0.23
  decidim-admin/app/commands/decidim/admin/update_content_block.rb
  decidim-admin/app/controllers/decidim/admin/organization_homepage_content_blocks_controller.rb
  decidim-admin/spec/commands/decidim/admin/update_content_block_spec.rb
  decidim-core/app/models/decidim/content_block.rb
  decidim-core/spec/models/decidim/content_block_spec.rb
Labels: general: admin, general: core

#6727 Fix accept invitation to private meetings
  decidim-meetings/app/controllers/decidim/meetings/registrations_controller.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/permissions/decidim/meetings/permissions.rb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim-meetings/spec/permissions/decidim/meetings/permissions_spec.rb
Labels: component: meetings

#6660 Fix social media icons
  decidim-core/app/assets/images/decidim/icons.svg
  decidim_app-design/app/assets/images/icons.svg
Labels: general: core, in-review, type: bug

#6712 Fix conference speakers js-bio display
  decidim-core/app/assets/stylesheets/decidim/modules/_conference-speaker.scss
Labels: general: core, in-review, type: bug

#6754 Security: hide uploader's internal tool details to users
  decidim-core/app/uploaders/decidim/application_uploader.rb
  decidim-core/app/uploaders/decidim/image_uploader.rb
Labels: general: core, in-review, team: security

#6737 Adjust Faker syntax to remove deprecation warnings in core
  decidim-core/db/seeds.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/mailers/reported_mailer_spec.rb
  decidim-core/spec/system/homepage_spec.rb
Labels: general: core, in-review

#6677 Improve moderation panel
  decidim-admin/app/assets/javascripts/decidim/admin/application.js.es6
  decidim-admin/app/assets/javascripts/decidim/admin/moderations.js.es6
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_moderations.scss
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_modules.scss
  decidim-admin/app/controllers/concerns/decidim/moderations/admin/filterable.rb
  decidim-admin/app/controllers/decidim/admin/moderations/reports_controller.rb
  decidim-admin/app/controllers/decidim/admin/moderations_controller.rb
  decidim-admin/app/helpers/decidim/admin/moderations/reports_helper.rb
  decidim-admin/app/helpers/decidim/admin/moderations_helper.rb
  decidim-admin/app/views/decidim/admin/moderations/index.html.erb
  decidim-admin/app/views/decidim/admin/moderations/reports/index.html.erb
  decidim-admin/app/views/decidim/admin/moderations/reports/show.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/lib/decidim/admin/test/manage_moderations_examples.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/moderations/reports_controller.rb
  decidim-assemblies/lib/decidim/assemblies/admin_engine.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/moderations/reports_controller.rb
  decidim-conferences/lib/decidim/conferences/admin_engine.rb
  decidim-core/app/cells/decidim/reported_content/show.erb
  decidim-core/app/cells/decidim/reported_content_cell.rb
  decidim-core/app/commands/decidim/create_report.rb
  decidim-core/app/models/decidim/moderation.rb
  decidim-core/db/migrate/20201013071533_add_reported_content_to_moderations.rb
  decidim-core/db/migrate/20201019074554_add_locale_to_moderation_reports.rb
  decidim-core/lib/decidim/reportable.rb
  decidim-core/lib/decidim/resource_manifest.rb
  decidim-core/lib/decidim/translatable_resource.rb
  decidim-core/spec/commands/decidim/create_report_spec.rb
  decidim-debates/app/cells/decidim/debates/reported_content/show.erb
  decidim-debates/app/cells/decidim/debates/reported_content_cell.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/lib/decidim/debates/component.rb
  decidim-debates/spec/cells/decidim/debates/reported_content_cell_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/component.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/moderations/reports_controller.rb
  decidim-initiatives/lib/decidim/initiatives/admin_engine.rb
  decidim-meetings/app/cells/decidim/meetings/reported_content/show.erb
  decidim-meetings/app/cells/decidim/meetings/reported_content_cell.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/spec/cells/decidim/meetings/reported_content_cell_spec.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/moderations/reports_controller.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/admin_engine.rb
  decidim-proposals/app/cells/decidim/proposals/collaborative_drafts/reported_content/show.erb
  decidim-proposals/app/cells/decidim/proposals/collaborative_drafts/reported_content_cell.rb
  decidim-proposals/app/cells/decidim/proposals/reported_content/show.erb
  decidim-proposals/app/cells/decidim/proposals/reported_content_cell.rb
  decidim-proposals/app/models/decidim/proposals/collaborative_draft.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/cells/decidim/proposals/collaborative_drafts/reported_content_cell_spec.rb
  decidim-proposals/spec/cells/decidim/proposals/reported_content_cell_spec.rb
  docs/advanced/reportable.md
Labels: in-review

#6753 Budget voting projects rule (select min-max projects)
  config/i18n-tasks.yml
  decidim-admin/app/assets/javascripts/decidim/admin/budget_rule_toggler.component.js.es6
  decidim-budgets/app/assets/javascripts/decidim/budgets/projects.js.es6
  decidim-budgets/app/cells/decidim/budgets/project_list_item/project_data_vote_button.erb
  decidim-budgets/app/cells/decidim/budgets/project_list_item_cell.rb
  decidim-budgets/app/forms/decidim/budgets/admin/component_form.rb
  decidim-budgets/app/helpers/decidim/budgets/projects_helper.rb
  decidim-budgets/app/models/decidim/budgets/order.rb
  decidim-budgets/app/views/decidim/budgets/projects/_budget_excess.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_budget_summary.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_order_progress.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_order_total_budget.html.erb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/lib/decidim/budgets/component.rb
  decidim-budgets/lib/decidim/budgets/test/factories.rb
  decidim-budgets/spec/commands/checkout_spec.rb
  decidim-budgets/spec/lib/decidim/budgets/admin/component_spec.rb
  decidim-budgets/spec/models/order_spec.rb
  decidim-budgets/spec/system/orders_spec.rb
Labels: component: budgets, in-review

#6761 Fix budgeting projects ordered ids
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-budgets/spec/models/decidim/budgets/project_spec.rb
Labels: in-review

#6716 Remove sticky from tos agreement
  decidim-core/app/cells/decidim/tos_page/announcement.erb
  decidim-core/app/cells/decidim/tos_page/form.erb
  decidim-core/app/cells/decidim/tos_page/sticky_form.erb
  decidim-core/app/views/decidim/pages/_standalone.html.erb
  decidim-core/app/views/decidim/pages/_tabbed.html.erb
  decidim-core/spec/system/user_tos_acceptance_spec.rb
Labels: in-review

#6703 Let users close meetings from public pages
  decidim-core/app/assets/stylesheets/decidim/modules/_data-picker.scss
  decidim-meetings/app/commands/decidim/meetings/close_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/meeting_closes_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/meeting_closes_controller.rb
  decidim-meetings/app/forms/decidim/meetings/close_meeting_form.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/permissions/decidim/meetings/permissions.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/views/decidim/meetings/meeting_closes/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/meeting_closes/edit.html.erb
  decidim-meetings/app/views/decidim/meetings/meeting_closes/proposals_picker.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-meetings/spec/commands/close_meeting_spec.rb
  decidim-meetings/spec/forms/close_meeting_form_spec.rb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim-meetings/spec/permissions/decidim/meetings/permissions_spec.rb
  decidim-meetings/spec/system/user_close_meeting.rb
Labels: in-review

#6778 Fix upcoming meetings content block should only show visible meetings
  decidim-meetings/app/cells/decidim/meetings/content_blocks/upcoming_events_cell.rb
  decidim-meetings/spec/cells/decidim/meetings/content_blocks/upcoming_events_cell_spec.rb
Labels: component: meetings
