Repository decidim/decidim, pull requests merged in 2021-10, with the labels that each got.

#8371 Backport "Fix error when accessing the meetings of a conference with speakers related"
  decidim-conferences/app/models/decidim/conference_meeting.rb
  decidim-conferences/app/presenters/decidim/conference_speaker_presenter.rb
  decidim-conferences/lib/decidim/conferences/participatory_space.rb
  decidim-conferences/lib/decidim/conferences/test/factories.rb
  decidim-conferences/spec/system/conference_program_spec.rb
  decidim-meetings/lib/decidim/meetings/component.rb
Labels: backport, module: conferences, type: fix

#8366 Backport "Do not block registered users with InviteUserAgain" to v0.25
  decidim-admin/app/commands/decidim/admin/create_participatory_space_admin_user_actions.rb
  decidim-admin/app/commands/decidim/admin/create_participatory_space_private_user.rb
  decidim-admin/spec/commands/create_participatory_space_private_user_spec.rb
  decidim-conferences/app/commands/decidim/conferences/admin/create_conference_admin.rb
  decidim-core/app/models/decidim/user.rb
  decidim-elections/app/commands/decidim/votings/admin/create_monitoring_committee_member.rb
  decidim-elections/app/commands/decidim/votings/admin/create_polling_officer.rb
Labels: module: admin, backport, type: fix

#8370 [Backport] Fix UserAnswersSerializer for CSV exports to v0.25
  decidim-forms/lib/decidim/forms/user_answers_serializer.rb
  decidim-forms/spec/serializers/decidim/forms/user_answers_serializer_spec.rb
  decidim-meetings/spec/serializers/registration_serializer_spec.rb
Labels: module: proposals, backport, type: fix

#8365 Backport "Ignore errors during comments migration task"
  decidim-comments/lib/tasks/decidim_comments.rake
Labels: type: enhancement, module: comments, backport

#8358 Fix HTTPOnly and secure flag on the cookie acceptance cookie
  decidim-core/app/controllers/decidim/cookie_policy_controller.rb
  decidim-core/spec/controllers/cookie_policy_controller_spec.rb
Labels: type: enhancement, team: security, in-review, module: core

#8359 Fix published and title in seeded meetings
  decidim-meetings/lib/decidim/meetings/component.rb
Labels: type: enhancement, in-review, module: meetings

#8333 Add more filter options to directory meetings page
  decidim-meetings/app/controllers/concerns/decidim/meetings/filterable.rb
  decidim-meetings/app/controllers/decidim/meetings/directory/application_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/directory/meetings_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/meetings_controller.rb
  decidim-meetings/app/helpers/decidim/meetings/directory/application_helper.rb
  decidim-meetings/app/services/decidim/meetings/directory/meeting_search.rb
  decidim-meetings/app/views/decidim/meetings/directory/meetings/_filters.html.erb
  decidim-meetings/app/views/decidim/meetings/directory/meetings/index.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/services/directory/meeting_search_spec.rb
  decidim-meetings/spec/system/explore_meeting_directory_spec.rb
Labels: in-review, module: meetings, type: feature

#8378 Fix details on conference speakers: affiliation order, personal URL link, seeds and more info link
  decidim-conferences/app/cells/decidim/conferences/conference_speaker/show.erb
  decidim-conferences/app/cells/decidim/conferences/conference_speaker_cell.rb
  decidim-conferences/lib/decidim/conferences/participatory_space.rb
Labels: type: enhancement, in-review, module: conferences

#8381 Define localized fields in Decidim::Meetings:DiffRenderer
  decidim-meetings/app/services/decidim/meetings/diff_renderer.rb
  decidim-meetings/spec/services/decidim/meetings/diff_renderer_spec.rb
  decidim-meetings/spec/system/explore_versions_spec.rb
Labels: in-review, module: meetings, type: fix

#8106 Add filters for Participatory process admins section
  decidim-admin/lib/decidim/admin/test.rb
  decidim-admin/lib/decidim/admin/test/filters_participatory_space_user_roles_examples.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_user_roles_controller.rb
  decidim-assemblies/app/models/decidim/assembly_user_role.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assembly_user_roles/index.html.erb
  decidim-assemblies/spec/system/admin/admin_filters_assemblies_user_roles_spec.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_user_roles_controller.rb
  decidim-conferences/app/models/decidim/conference_user_role.rb
  decidim-conferences/app/views/decidim/conferences/admin/conference_user_roles/index.html.erb
  decidim-conferences/spec/system/admin/admin_filters_conference_user_roles_spec.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_user_roles_controller.rb
  decidim-participatory_processes/app/models/decidim/participatory_process_user_role.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_user_roles/index.html.erb
  decidim-participatory_processes/spec/system/admin/admin_filters_participatory_process_user_roles_spec.rb
Labels: in-review, type: feature, module: assemblies, module: participatory processes, module: conferences
