Repository decidim/decidim, pull requests merged in 2021-05, with the labels that each got.

#7934 Fix updating blog post author group
  decidim-blogs/app/commands/decidim/blogs/admin/update_post.rb
  decidim-blogs/app/forms/decidim/blogs/admin/post_form.rb
  decidim-blogs/spec/commands/decidim/blogs/admin/create_post_spec.rb
  decidim-blogs/spec/commands/decidim/blogs/admin/update_post_spec.rb
  decidim-blogs/spec/forms/decidim/blogs/admin/post_form_spec.rb
  decidim-blogs/spec/shared/manage_posts_examples.rb
Labels: module: blogs, type: fix

#7930 Use WYSIWYG editor for registration email custom content
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
Labels: module: meetings, type: feature

#7873 Move translations to the module they belong
  decidim-assemblies/config/locales/en.yml
  decidim-conferences/config/locales/en.yml
  decidim-pages/config/locales/en.yml
  decidim-participatory_processes/config/locales/en.yml
Labels: team: i18n, type: change

#7484 Add serializer customization via listener
  decidim-accountability/lib/decidim/accountability/result_serializer.rb
  decidim-assemblies/app/serializers/decidim/assemblies/assembly_serializer.rb
  decidim-budgets/app/serializers/decidim/budgets/data_portability_budgets_order_serializer.rb
  decidim-budgets/lib/decidim/budgets/project_serializer.rb
  decidim-budgets/spec/serializers/project_serializer_spec.rb
  decidim-core/app/serializers/decidim/exporters/participatory_space_components_serializer.rb
  decidim-core/app/serializers/decidim/exporters/serializer.rb
  decidim-core/lib/decidim/data_portability_serializers/data_portability_conversation_serializer.rb
  decidim-core/lib/decidim/exporters/csv.rb
  decidim-core/lib/decidim/exporters/json.rb
  decidim-core/spec/lib/exporters/csv_spec.rb
  decidim-core/spec/lib/exporters/excel_spec.rb
  decidim-core/spec/lib/exporters/json_spec.rb
  decidim-core/spec/lib/exporters/serializer_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/component.rb
  decidim-elections/lib/decidim/elections/answer_serializer.rb
  decidim-elections/lib/decidim/votings/voting_serializer.rb
  decidim-forms/lib/decidim/forms/user_answers_serializer.rb
  decidim-meetings/lib/decidim/meetings/meeting_serializer.rb
  decidim-participatory_processes/app/serializers/decidim/participatory_processes/participatory_process_serializer.rb
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  docs/modules/configure/pages/initializer.adoc
Labels: module: core, type: feature

#7941 Remove reference to custom branch
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/spec/generators_spec.rb
Labels: target: developer-experience

#7943 Fix fragment caching with multiple locales
  decidim-core/app/controllers/concerns/decidim/devise_controllers.rb
  decidim-core/app/helpers/decidim/application_helper.rb
  decidim-core/app/helpers/decidim/cache_helper.rb
  decidim-core/app/helpers/decidim/filters_helper.rb
  decidim-core/spec/helpers/decidim/cache_helper_spec.rb
  decidim-core/spec/helpers/decidim/filters_helper_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/registration_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/caching.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-proposals/spec/system/filter_proposals_spec.rb
Labels: module: core, type: fix

#7946 Fixing Security issues REFS: #7945
  Gemfile.lock
  decidim-admin/app/views/decidim/admin/area_types/index.html.erb
  decidim-admin/app/views/decidim/admin/areas/index.html.erb
  decidim-admin/app/views/decidim/admin/newsletters/index.html.erb
  decidim-admin/app/views/decidim/admin/newsletters/select_recipients_to_deliver.html.erb
  decidim-admin/app/views/decidim/admin/newsletters/show.html.erb
  decidim-admin/app/views/decidim/admin/scopes/index.html.erb
  decidim-admin/app/views/decidim/admin/static_pages/_topic.html.erb
  decidim-admin/app/views/decidim/admin/users/index.html.erb
  decidim-admin/app/views/layouts/decidim/admin/newsletters.erb
  decidim-admin/app/views/layouts/decidim/admin/pages.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies_types/index.html.erb
  decidim-consultations/app/views/decidim/consultations/admin/consultations/index.html.erb
  decidim-generators/Gemfile.lock
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives_types/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_groups/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/index.html.erb
  decidim-system/app/views/decidim/system/admins/index.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/index.html.erb
  decidim-system/app/views/decidim/system/organizations/index.html.erb
  decidim-system/app/views/decidim/system/organizations/show.html.erb
  decidim-templates/app/views/decidim/templates/admin/questionnaire_templates/index.html.erb
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience

#7950 Update to Rails 5.2.6
  Gemfile
  Gemfile.lock
  decidim-admin/app/views/decidim/admin/area_types/index.html.erb
  decidim-admin/app/views/decidim/admin/areas/index.html.erb
  decidim-admin/app/views/decidim/admin/newsletters/index.html.erb
  decidim-admin/app/views/decidim/admin/newsletters/select_recipients_to_deliver.html.erb
  decidim-admin/app/views/decidim/admin/newsletters/show.html.erb
  decidim-admin/app/views/decidim/admin/scopes/index.html.erb
  decidim-admin/app/views/decidim/admin/static_pages/_topic.html.erb
  decidim-admin/app/views/decidim/admin/users/index.html.erb
  decidim-admin/app/views/layouts/decidim/admin/newsletters.erb
  decidim-admin/app/views/layouts/decidim/admin/pages.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies_types/index.html.erb
  decidim-consultations/app/views/decidim/consultations/admin/consultations/index.html.erb
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim-generators/spec/generators_spec.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives_types/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_groups/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/index.html.erb
  decidim-system/app/views/decidim/system/admins/index.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/index.html.erb
  decidim-system/app/views/decidim/system/organizations/index.html.erb
  decidim-system/app/views/decidim/system/organizations/show.html.erb
  decidim-templates/app/views/decidim/templates/admin/questionnaire_templates/index.html.erb
  decidim_app-design/Gemfile.lock
Labels: backport, module: core, target: developer-experience

#7952 Improve management of managed user
  decidim-admin/app/commands/decidim/admin/impersonate_user.rb
  decidim-admin/app/commands/decidim/admin/promote_managed_user.rb
  decidim-admin/app/commands/decidim/admin/transfer_user.rb
  decidim-admin/app/controllers/decidim/admin/conflicts_controller.rb
  decidim-admin/app/controllers/decidim/admin/impersonations_controller.rb
  decidim-admin/app/forms/decidim/admin/transfer_user_form.rb
  decidim-admin/app/views/decidim/admin/conflicts/edit.html.erb
  decidim-admin/app/views/decidim/admin/conflicts/index.html.erb
  decidim-admin/app/views/layouts/decidim/admin/users.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/spec/commands/decidim/admin/impersonate_user_spec.rb
  decidim-admin/spec/commands/decidim/admin/promote_managed_user_spec.rb
  decidim-admin/spec/commands/decidim/admin/transfer_user_spec.rb
  decidim-admin/spec/controllers/conflicts_controller_spec.rb
  decidim-admin/spec/forms/decidim/admin/transfer_user_form_spec.rb
  decidim-core/app/models/decidim/impersonation_log.rb
  decidim-core/app/presenters/decidim/admin_log/impersonation_log_presenter.rb
  decidim-core/app/presenters/decidim/admin_log/user_presenter.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/models/decidim/impersonation_log_spec.rb
  decidim-verifications/app/commands/decidim/verifications/authorize_user.rb
  decidim-verifications/app/events/decidim/verifications/managed_user_error_event.rb
  decidim-verifications/app/models/decidim/verifications/conflict.rb
  decidim-verifications/config/locales/en.yml
  decidim-verifications/db/migrate/20201028161118_create_decidim_verifications_conflicts.rb
  decidim-verifications/lib/decidim/verifications/test/factories.rb
  decidim-verifications/spec/commands/decidim/verifications/authorize_user_spec.rb
  decidim-verifications/spec/events/decidim/verifications/managed_user_error_event_spec.rb
  decidim-verifications/spec/forms/decidim/verifications/sms/mobile_phone_form_spec.rb
Labels: backport, module: admin, type: feature

#7957 Editor doesnt create br tags inside a tags
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-core/app/assets/javascripts/decidim/editor/linebreak_module.js.es6
  decidim-core/app/assets/javascripts/decidim/editor/modified_enter.js.es6
Labels: backport, module: core, type: fix

#7953 Release 0.24.2
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-consultations/lib/decidim/consultations/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  decidim_app-design/Gemfile.lock
  lib/decidim/version.rb
  package-lock.json
  package.json
Labels: target: developer-experience

#7935 Design app fixes after Webpacker installation
  .rubocop_ruby.yml
  decidim-core/lib/decidim/webpacker/webpack/custom.js
  decidim_app-design/.gitignore
  decidim_app-design/README.md
  decidim_app-design/app/packs/entrypoints/public.js
  decidim_app-design/babel.config.json
  decidim_app-design/config/initializers/webpacker.rb
  decidim_app-design/config/webpack/.modernizrrc
  decidim_app-design/config/webpack/base.js
  decidim_app-design/config/webpack/custom.js
  decidim_app-design/config/webpack/development.js
  decidim_app-design/config/webpack/production.js
  decidim_app-design/config/webpack/test.js
  decidim_app-design/config/webpacker.yml
  decidim_app-design/package-lock.json
  decidim_app-design/package.json
  decidim_app-design/postcss.config.js
  docs/modules/develop/pages/components.adoc
  spec/webpacker_spec.rb
Labels: target: developer-experience, team: documentation

#7958 Disable select inputs with the subform toggler as well
  decidim-admin/app/assets/javascripts/decidim/admin/subform_multi_toggler.component.js.es6
  decidim-admin/app/assets/javascripts/decidim/admin/subform_toggler.component.js.es6
Labels: backport, module: admin, type: fix

#7959 Fix fragment caching with multiple locales v0.23
  decidim-core/app/controllers/concerns/decidim/devise_controllers.rb
  decidim-core/app/helpers/decidim/application_helper.rb
  decidim-core/app/helpers/decidim/cache_helper.rb
  decidim-core/spec/helpers/decidim/cache_helper_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/registration_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/caching.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
Labels: backport, module: core, type: fix

#7962 Improve docs on generating the changelog
  .gitignore
  docs/modules/develop/pages/releases.adoc
Labels: contract: lot: core, team: documentation

#7961 Release 0.23.6
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-consultations/lib/decidim/consultations/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  decidim_app-design/Gemfile.lock
  lib/decidim/version.rb
  package-lock.json
  package.json
Labels: target: developer-experience

#7978 Skip version generation on touch events
  decidim-core/lib/decidim/traceable.rb
Labels: module: core, type: fix

#7970 Show confirmation modal when leaving a meeting
  decidim-meetings/app/cells/decidim/meetings/join_meeting_button/show.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/shared/manage_invites_examples.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-meetings/spec/system/private_meetings_spec.rb
Labels: module: meetings, type: feature

#7973 Simplify SQL query for endorsement stats
  decidim-proposals/lib/decidim/proposals/component.rb
Labels: module: core, target: developer-experience

#7965 Add comment count to the proposal cache
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
Labels: module: proposals, type: fix

#7975 Hide moderated proposals from comparator
  decidim-proposals/app/queries/decidim/proposals/similar_proposals.rb
Labels: module: proposals, type: fix

#7974 Hide moderated meetings and proposals from admin lists
  decidim-meetings/app/controllers/decidim/meetings/admin/application_controller.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/proposals_controller.rb
Labels: module: meetings, module: proposals, type: fix

#7972 Display meetings count in directory page
  decidim-meetings/app/views/decidim/meetings/directory/meetings/index.html.erb
  decidim-meetings/app/views/decidim/meetings/directory/meetings/index.js.erb
  decidim-meetings/spec/system/explore_meeting_directory_spec.rb
Labels: module: meetings, type: feature

#7987 Add notes to changelog
  CHANGELOG.md
Labels: target: developer-experience

#8032 Remove proposals filters cache
  decidim-core/app/helpers/decidim/filters_helper.rb
  decidim-core/spec/helpers/decidim/filters_helper_spec.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_filters.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_filters_small_view.html.erb
Labels: module: core, module: proposals, type: fix

#8037 Include resources on maps only when the geocoding got valid coords
  decidim-core/app/helpers/decidim/map_helper.rb
  decidim-core/lib/decidim/geocodable.rb
  decidim-core/spec/lib/geocodable_spec.rb
  decidim-meetings/app/cells/decidim/meetings/meetings_map_cell.rb
  decidim-meetings/app/helpers/decidim/meetings/map_helper.rb
  decidim-meetings/app/views/decidim/meetings/meetings/index.js.erb
  decidim-proposals/app/controllers/decidim/proposals/collaborative_drafts_controller.rb
Labels: module: core, module: meetings, type: fix

#8038 Remove proposals filters cache
  decidim-core/app/helpers/decidim/filters_helper.rb
  decidim-core/spec/helpers/decidim/filters_helper_spec.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_filters.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_filters_small_view.html.erb
Labels: backport, module: core, module: proposals

#8039 Include resources on maps only when the geocoding got valid coords (#…
  decidim-core/app/helpers/decidim/map_helper.rb
  decidim-core/lib/decidim/geocodable.rb
  decidim-core/spec/lib/geocodable_spec.rb
  decidim-meetings/app/cells/decidim/meetings/meetings_map_cell.rb
  decidim-meetings/app/helpers/decidim/meetings/map_helper.rb
  decidim-meetings/app/views/decidim/meetings/meetings/index.js.erb
  decidim-proposals/app/controllers/decidim/proposals/collaborative_drafts_controller.rb
Labels: backport, module: core, module: meetings

#8025 Use correct newsletter cell for web view
  decidim-core/app/views/decidim/newsletters/show.html.erb
  decidim-core/spec/system/newsletter_spec.rb
Labels: module: core, type: bug

#8040 Bump gems versions to fix dependendabot alerts
  Gemfile
  Gemfile.lock
  decidim-dev/decidim-dev.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: module: core

#8041 Bump gems versions to fix dependendabot alerts
  Gemfile
  Gemfile.lock
  decidim-dev/decidim-dev.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: backport, module: core, target: developer-experience

#7891 Polling station sign closure
  decidim-core/lib/decidim/webpacker/webpack/custom.js
  decidim-elections/app/cells/decidim/votings/polling_station_closure_recount/show.erb
  decidim-elections/app/cells/decidim/votings/polling_station_closure_recount_cell.rb
  decidim-elections/app/commands/decidim/votings/create_polling_station_results.rb
  decidim-elections/app/commands/decidim/votings/sign_polling_station_closure.rb
  decidim-elections/app/controllers/decidim/votings/polling_officer_zone/closures_controller.rb
  decidim-elections/app/forms/decidim/votings/closure_sign_form.rb
  decidim-elections/app/models/decidim/votings/polling_station_closure.rb
  decidim-elections/app/packs/entrypoints/decidim_votings_voting_polling_officer_zone-sign-closure.js
  decidim-elections/app/packs/src/decidim/votings/polling_officer_zone/new-closure.js
  decidim-elections/app/packs/src/decidim/votings/polling_officer_zone/sign-closure.js
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/_answer_results_form_fields.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/_sign_form.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/show.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20210426072845_add_signed_at_to_polling_station_closure.rb
  decidim-elections/lib/decidim/api/election_answer_type.rb
  decidim-elections/lib/decidim/api/polling_station_closure_type.rb
  decidim-elections/lib/decidim/votings/polling_officer_zone_engine.rb
  decidim-elections/lib/decidim/votings/test/factories.rb
  decidim-elections/spec/commands/decidim/votings/create_polling_station_closure_spec.rb
  decidim-elections/spec/commands/decidim/votings/create_polling_station_results_spec.rb
  decidim-elections/spec/commands/decidim/votings/sign_polling_station_closure_spec.rb
  decidim-elections/spec/forms/decidim/votings/closure_sign_form_spec.rb
  decidim-elections/spec/models/decidim/votings/polling_station_closure_spec.rb
  decidim-elections/spec/system/polling_officer_zone_spec.rb
  decidim-elections/spec/types/decidim/votings/polling_station_closure_type_spec.rb
Labels: contract: e-voting, module: elections, type: feature

#8020 Fix attachment title migration generating possibly invalid values
  decidim-participatory_processes/db/migrate/20201006072346_fix_attachments_titles.rb
Labels: module: participatory processes, type: fix

#7929 Polling station closure attach the physical electoral closure certificate
  decidim-elections/app/cells/decidim/votings/polling_station_closure_certificate/show.erb
  decidim-elections/app/cells/decidim/votings/polling_station_closure_certificate_cell.rb
  decidim-elections/app/commands/decidim/votings/certify_polling_station_closure.rb
  decidim-elections/app/commands/decidim/votings/create_polling_station_results.rb
  decidim-elections/app/controllers/decidim/votings/polling_officer_zone/closures_controller.rb
  decidim-elections/app/forms/decidim/votings/closure_certify_form.rb
  decidim-elections/app/models/decidim/votings/polling_station_closure.rb
  decidim-elections/app/packs/entrypoints/decidim_votings_voting_polling_officer_zone-sign-closure.js
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/_certify_form.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/show.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/votings/polling_officer_zone_engine.rb
  decidim-elections/spec/commands/decidim/votings/certify_polling_station_closure_spec.rb
  decidim-elections/spec/commands/decidim/votings/create_polling_station_results_spec.rb
  decidim-elections/spec/forms/decidim/votings/closure_certify_form_spec.rb
  decidim-elections/spec/system/polling_officer_zone_spec.rb
Labels: contract: e-voting, module: elections

#7871 Electoral certificate validation by Monitoring Committee Members
  decidim-elections/app/commands/decidim/votings/admin/monitoring_committee_validate_polling_station_closure.rb
  decidim-elections/app/controllers/concerns/decidim/monitoring_committee_polling_station_closures/admin/filterable.rb
  decidim-elections/app/controllers/decidim/votings/admin/monitoring_committee_certificates_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/monitoring_committee_polling_station_closures_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/monitoring_committee_verify_elections_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/polling_stations_controller.rb
  decidim-elections/app/controllers/decidim/votings/polling_officer_zone/polling_officers_controller.rb
  decidim-elections/app/forms/decidim/votings/admin/monitoring_committee_polling_station_closure_form.rb
  decidim-elections/app/models/decidim/votings/polling_station.rb
  decidim-elections/app/models/decidim/votings/polling_station_closure.rb
  decidim-elections/app/models/decidim/votings/voting.rb
  decidim-elections/app/packs/stylesheets/decidim/votings/admin/votings.scss
  decidim-elections/app/packs/stylesheets/decidim/votings/admin/votings/_monitoring-committee-polling-station-closures.scss
  decidim-elections/app/permissions/decidim/votings/admin/permissions.rb
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_certificates/index.html.erb
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_polling_station_closures/_closure_certificate_results.erb
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_polling_station_closures/_closures.html.erb
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_polling_station_closures/_elections.html.erb
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_polling_station_closures/edit.html.erb
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_polling_station_closures/index.html.erb
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_polling_station_closures/show.html.erb
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_verify_elections/index.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20210427131742_add_validated_at_to_votings_polling_station_closures.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-elections/lib/decidim/votings/test/factories.rb
  decidim-elections/spec/commands/decidim/elections/trustee_zone/update_election_bulletin_board_status_spec.rb
  decidim-elections/spec/commands/decidim/votings/admin/monitoring_committee_validate_polling_station_closure_spec.rb
  decidim-elections/spec/permissions/decidim/votings/admin/permissions_spec.rb
  decidim-elections/spec/shared/monitoring_committee_member_manages_voting_examples.rb
  decidim-elections/spec/system/admin/monitoring_committee_member_manages_voting_polling_station_closures_spec.rb
  decidim-elections/spec/system/admin/monitoring_committee_member_manages_votings_spec.rb
  decidim-elections/spec/system/admin/monitoring_committee_member_verifies_elections_spec.rb
  decidim-elections/spec/system/polling_officer_zone_spec.rb
Labels: contract: e-voting, module: elections, type: feature

#8050 Fix undetected broken tests because of missing dependencies
  .github/workflows/ci_participatory_processes.yml
  decidim-core/spec/services/decidim/open_data_exporter_spec.rb
  decidim-participatory_processes/decidim-participatory_processes.gemspec
  decidim-participatory_processes/spec/system/participatory_process_groups_spec.rb
Labels: module: meetings, module: participatory processes, type: fix

#8007 Amend CSS overwritting
  decidim-core/app/packs/stylesheets/decidim/_decidim-settings.scss
  decidim-core/app/packs/stylesheets/decidim/decidim_application.scss
  decidim-core/app/packs/stylesheets/decidim/utils/_settings.scss
  decidim-generators/lib/decidim/generators/app_templates/_decidim-settings.scss
  decidim-generators/lib/decidim/generators/app_templates/decidim_application.scss
  decidim-generators/lib/decidim/generators/install_generator.rb
  docs/modules/customize/pages/styles.adoc
  docs/modules/develop/pages/guide_migrate_webpacker_app.adoc
Labels: in-review

#8036 Fix redirects broken by Terms and Conditions redirect
  decidim-core/app/controllers/concerns/decidim/has_stored_path.rb
  decidim-core/app/controllers/decidim/application_controller.rb
Labels: in-review, module: core, type: fix

#7990 Fix boolean fields for .reported? and .hidden? which is nil if no report exists
  decidim-core/lib/decidim/reportable.rb
Labels: in-review, module: core, type: fix

#7879 Mockup design for Participation statistics tables in Votings
  decidim_app-design/app/packs/stylesheets/components/evote/_results-stats.scss
  decidim_app-design/app/packs/stylesheets/public.scss
  decidim_app-design/app/views/public/evote-statistics.html.erb
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/partials/_evote_nav.html.erb
  decidim_app-design/app/views/public/partials/_evote_results_stats.html.erb
Labels: module: elections, type: feature

#8052 Use symbols for polymorphic route arguments in Scope Type admin
  decidim-admin/app/views/decidim/admin/scope_types/index.html.erb
Labels: in-review, module: admin, type: fix

#8053 Add missing tests for scope types admin page
  decidim-admin/app/views/decidim/admin/scope_types/index.html.erb
  decidim-admin/spec/system/admin_manages_organization_scope_types_spec.rb
Labels: module: admin, target: developer-experience

#7397 Security feature external link warning
  decidim-admin/app/commands/decidim/admin/update_external_domain_whitelist.rb
  decidim-admin/app/controllers/decidim/admin/organization_external_domain_whitelist_controller.rb
  decidim-admin/app/forms/decidim/admin/external_domain_form.rb
  decidim-admin/app/forms/decidim/admin/organization_external_domain_whitelist_form.rb
  decidim-admin/app/packs/entrypoints/decidim_admin.js
  decidim-admin/app/packs/src/decidim/admin/external_domain_whitelist.js
  decidim-admin/app/views/decidim/admin/organization_external_domain_whitelist/_external_domain.html.erb
  decidim-admin/app/views/decidim/admin/organization_external_domain_whitelist/_form.html.erb
  decidim-admin/app/views/decidim/admin/organization_external_domain_whitelist/edit.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-admin/spec/commands/decidim/admin/update_external_domain_whitelist_spec.rb
  decidim-admin/spec/forms/organization_external_domain_whitelist_form_spec.rb
  decidim-comments/app/packs/src/decidim/comments/comments.component.js
  decidim-comments/app/packs/src/decidim/comments/comments.component.test.js
  decidim-core/app/controllers/decidim/links_controller.rb
  decidim-core/app/helpers/decidim/external_domain_helper.rb
  decidim-core/app/packs/src/decidim/external_domain_warning.js
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/stylesheets/decidim/extras/_external-links.scss
  decidim-core/app/packs/stylesheets/decidim/modules/_reveal.scss
  decidim-core/app/views/decidim/links/_modal.html.erb
  decidim-core/app/views/decidim/links/_warning.html.erb
  decidim-core/app/views/decidim/links/new.html.erb
  decidim-core/app/views/decidim/links/new.js.erb
  decidim-core/app/views/layouts/decidim/_js_configuration.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/db/migrate/20210210114657_add_external_domain_whitelist_to_organization.rb
  decidim-core/db/seeds.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-core/spec/helpers/decidim/external_domain_helper_spec.rb
  decidim-core/spec/system/external_domain_warning_spec.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
  decidim-system/app/commands/decidim/system/register_organization.rb
  decidim-system/spec/commands/decidim/system/register_organization_spec.rb
Labels: in-review, module: admin, module: core, type: feature

#8060 Use symbols for polymorphic route arguments in Scope Type admin
  decidim-admin/app/views/decidim/admin/scope_types/index.html.erb
Labels: backport, module: admin

#7933 Show participants list in meetings
  config/i18n-tasks.yml
  decidim-core/app/cells/decidim/public_participation/show.erb
  decidim-core/app/cells/decidim/public_participation_cell.rb
  decidim-core/app/packs/stylesheets/decidim/extras/_meeting-registrations.scss
  decidim-core/config/locales/en.yml
  decidim-forms/app/forms/decidim/forms/questionnaire_form.rb
  decidim-forms/app/helpers/decidim/forms/application_helper.rb
  decidim-forms/app/views/decidim/forms/questionnaires/show.html.erb
  decidim-meetings/app/cells/decidim/meetings/join_meeting_button/registration_confirm.erb
  decidim-meetings/app/cells/decidim/meetings/public_participants_list/show.erb
  decidim-meetings/app/cells/decidim/meetings/public_participants_list_cell.rb
  decidim-meetings/app/commands/decidim/meetings/join_meeting.rb
  decidim-meetings/app/forms/decidim/meetings/join_meeting_form.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/models/decidim/meetings/registration.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20210430123416_add_public_participation_to_decidim_meetings_registrations.rb
  decidim-meetings/spec/commands/join_meeting_spec.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
Labels: in-review, module: meetings, type: feature

#8076 Fix broken test on meetings after merging PR without rebase
  decidim-meetings/spec/system/meeting_registrations_spec.rb
Labels: in-review, module: meetings, type: fix

#7944 Meeting calendars providers
  decidim-meetings/app/controllers/decidim/meetings/calendars_controller.rb
  decidim-meetings/app/helpers/decidim/meetings/meetings_helper.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/services/decidim/meetings/calendar/component_calendar.rb
  decidim-meetings/app/services/decidim/meetings/calendar/meeting_calendar.rb
  decidim-meetings/app/services/decidim/meetings/calendar_renderer.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_calendar_modal.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-meetings/spec/helpers/meetings_helper_spec.rb
  decidim-meetings/spec/services/calendar/meeting_calendar_spec.rb
  decidim-meetings/spec/system/meeting_spec.rb
Labels: contract: online-meetings, in-review, module: meetings, type: feature

#7968 Meetings merge minutes and close actions
  CHANGELOG.md
  decidim-conferences/app/views/decidim/conferences/conference_program/_program_meeting.html.erb
  decidim-meetings/app/commands/decidim/meetings/admin/close_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/create_minutes.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_minutes.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/minutes_controller.rb
  decidim-meetings/app/forms/decidim/meetings/admin/close_meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/minutes_form.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/models/decidim/meetings/minutes.rb
  decidim-meetings/app/permissions/decidim/meetings/admin/permissions.rb
  decidim-meetings/app/presenters/decidim/meetings/admin_log/meeting_presenter.rb
  decidim-meetings/app/presenters/decidim/meetings/admin_log/minutes_presenter.rb
  decidim-meetings/app/views/decidim/meetings/admin/meeting_closes/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/minutes/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/minutes/edit.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/minutes/new.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_minutes.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20210506180226_merge_meetings_minutes_into_meetings_table.rb
  decidim-meetings/db/migrate/20210512100333_drop_decidim_meetings_minutes_table.rb
  decidim-meetings/db/migrate/20210518133236_merge_minutes_with_closing_report_in_meetings_table.rb
  decidim-meetings/lib/decidim/api/meeting_type.rb
  decidim-meetings/lib/decidim/api/minutes_type.rb
  decidim-meetings/lib/decidim/meetings/admin_engine.rb
  decidim-meetings/lib/decidim/meetings/api.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/commands/admin/close_meeting_spec.rb
  decidim-meetings/spec/commands/admin/create_minutes_spec.rb
  decidim-meetings/spec/commands/admin/update_minute_spec.rb
  decidim-meetings/spec/forms/admin/close_meeting_form_spec.rb
  decidim-meetings/spec/forms/admin/minutes_form_spec.rb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim-meetings/spec/permissions/decidim/meetings/admin/permissions_spec.rb
  decidim-meetings/spec/shared/manage_minutes_examples.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_other_features_spec.rb
  decidim-meetings/spec/system/meeting_minutes_spec.rb
  decidim-meetings/spec/types/integration_schema_spec.rb
  decidim-meetings/spec/types/meeting_type_spec.rb
  decidim-meetings/spec/types/minutes_type_spec.rb
  decidim-meetings/spec/types/service_type_spec.rb
Labels: in-review, module: meetings, type: change

#8082 Fix boolean fields for .reported? and .hidden? which is nil if no report exists
  decidim-core/lib/decidim/reportable.rb
Labels: backport

#8083 Fix redirects broken by Terms and Conditions redirect
  decidim-core/app/controllers/concerns/decidim/has_stored_path.rb
  decidim-core/app/controllers/decidim/application_controller.rb
Labels: backport
