Repository decidim/decidim, pull requests merged in 2021-02, with the labels that each got.

#7257 Fix typos on docs
  docs/modules/develop/pages/guide_development_with_custom_seed_data.adoc
Labels: team: documentation

#7260 Fix editor image alt tag (#6920)
  decidim-admin/spec/shared/manage_impersonations_examples.rb
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-core/app/assets/javascripts/decidim/editor.js.es6
  decidim-debates/spec/shared/manage_debates_examples.rb
  decidim-elections/spec/system/admin_manages_elections_spec.rb
  decidim-meetings/spec/shared/manage_meetings_examples.rb
  decidim-participatory_processes/spec/shared/manage_process_steps_examples.rb
  decidim-verifications/spec/system/authorizations_spec.rb
Labels: backport

#7263 Add documentation for running localhost in SSL
  docs/modules/develop/pages/guide_development_app.adoc
  docs/modules/develop/pages/guide_development_with_localhost_ssl.adoc
Labels: target: developer-experience

#7217 Define voting type
  decidim-elections/app/commands/decidim/votings/admin/create_voting.rb
  decidim-elections/app/commands/decidim/votings/admin/update_voting.rb
  decidim-elections/app/constraints/decidim/votings/current_component.rb
  decidim-elections/app/constraints/decidim/votings/current_voting.rb
  decidim-elections/app/controllers/decidim/elections/admin/elections_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/component_permissions_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/components_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/votings_controller.rb
  decidim-elections/app/forms/decidim/votings/admin/voting_form.rb
  decidim-elections/app/models/decidim/votings/voting.rb
  decidim-elections/app/views/decidim/votings/admin/votings/_form.html.erb
  decidim-elections/app/views/decidim/votings/admin/votings/new.html.erb
  decidim-elections/app/views/layouts/decidim/admin/voting.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20210125124801_add_voting_type_to_voting_voting.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-elections/lib/decidim/votings/engine.rb
  decidim-elections/lib/decidim/votings/test/factories.rb
  decidim-elections/spec/commands/decidim/votings/admin/create_voting_spec.rb
  decidim-elections/spec/commands/decidim/votings/admin/update_voting_spec.rb
  decidim-elections/spec/controllers/admin/components_controller_spec.rb
  decidim-elections/spec/forms/decidim/votings/admin/voting_form_spec.rb
  decidim-elections/spec/lib/components/votings/current_component_spec.rb
  decidim-elections/spec/shared/manage_voting_components_examples.rb
  decidim-elections/spec/system/admin/admin_manages_answers_spec.rb
  decidim-elections/spec/system/admin/admin_manages_elections_spec.rb
  decidim-elections/spec/system/admin/admin_manages_questions_spec.rb
  decidim-elections/spec/system/admin/admin_manages_trustees_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_attachment_collections_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_attachments_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_component_permissions_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_components_spec.rb
  decidim-elections/spec/system/admin/admin_manages_votings_spec.rb
Labels: contract: e-voting, space: votings

#7074 Ensure Bulletin Board is configured for trustee zone
  decidim-elections/app/controllers/decidim/elections/trustee_zone/application_controller.rb
  decidim-elections/app/controllers/decidim/elections/trustee_zone/elections_controller.rb
  decidim-elections/app/controllers/decidim/elections/trustee_zone/trustees_controller.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/system/trustee_zone_spec.rb
Labels: contract: e-voting

#7225 Clarify authorization message with participant scope/postal code
  config/i18n-tasks.yml
  decidim-core/spec/services/decidim/action_authorizer_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/dummy_authorization_handler.rb
  decidim-verifications/app/views/dummy_authorization/_form.html.erb
  decidim-verifications/config/locales/en.yml
  decidim-verifications/spec/system/action_authorization_spec.rb
Labels: contract: e-voting

#7306 Update JS bundle for 0.23.2
  decidim-admin/app/assets/javascripts/decidim/admin/bundle.js
  decidim-comments/app/assets/javascripts/decidim/comments/bundle.js
  decidim-core/app/assets/javascripts/decidim/core/bundle.js
  decidim-core/app/assets/javascripts/decidim/core/bundle.js.map
Labels: target: developer-experience

#7314 Max characters for questionnaire answers
  decidim-forms/app/commands/decidim/forms/admin/update_questionnaire.rb
  decidim-forms/app/forms/decidim/forms/admin/question_form.rb
  decidim-forms/app/forms/decidim/forms/answer_form.rb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_question.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/_answer.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_long_answer.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_matrix_multiple.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_matrix_single.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_multiple_option.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_short_answer.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_single_option.html.erb
  decidim-forms/config/locales/en.yml
  decidim-forms/db/migrate/20210208094442_add_max_characters_to_decidim_forms_questions.rb
  decidim-forms/lib/decidim/api/question_type.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/has_questionnaire.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaires.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaires/update_questions.rb
  decidim-forms/spec/commands/decidim/forms/admin/update_questionnaire_spec.rb
  decidim-forms/spec/forms/decidim/forms/admin/question_form_spec.rb
  decidim-forms/spec/forms/decidim/forms/admin/questionnaire_form_spec.rb
  decidim-forms/spec/forms/decidim/forms/answer_form_spec.rb
Labels: component: forms, type: feature

#7055 Notify users when their comments are voted
  decidim-comments/app/commands/decidim/comments/vote_comment.rb
  decidim-comments/app/events/decidim/comments/comment_downvoted_event.rb
  decidim-comments/app/events/decidim/comments/comment_upvoted_event.rb
  decidim-comments/app/events/decidim/comments/comment_voted_event.rb
  decidim-comments/config/locales/en.yml
  decidim-comments/lib/decidim/comments/test.rb
  decidim-comments/lib/decidim/comments/test/shared_examples/comment_voted_event.rb
  decidim-comments/spec/commands/vote_comment_spec.rb
  decidim-comments/spec/events/decidim/comments/comment_downvoted_event_spec.rb
  decidim-comments/spec/events/decidim/comments/comment_upvoted_event_spec.rb
Labels: component: comments, type: feature

#7332 fix css caret from dropdown-menu in admin
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_user-login.scss
Labels: general: admin

#7328 Add notification setting: emails on moderations
  decidim-core/app/commands/decidim/create_report.rb
  decidim-core/app/commands/decidim/update_notifications_settings.rb
  decidim-core/app/forms/decidim/notifications_settings_form.rb
  decidim-core/app/views/decidim/notifications_settings/show.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/db/migrate/20210208134328_add_email_on_moderations_to_users.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/commands/decidim/create_report_spec.rb
  decidim-core/spec/commands/decidim/update_notifications_settings_spec.rb
  decidim-core/spec/forms/notifications_settings_form_spec.rb
Labels: module: core, type: feature

#7084 Import proposals from a spreadsheet
  config/i18n-tasks.yml
  decidim-admin/app/assets/config/decidim_admin_manifest.js
  decidim-admin/app/assets/javascripts/decidim/admin/import_guidance.js.es6
  decidim-admin/app/commands/decidim/admin/create_import.rb
  decidim-admin/app/controllers/decidim/admin/components/base_controller.rb
  decidim-admin/app/controllers/decidim/admin/imports_controller.rb
  decidim-admin/app/forms/decidim/admin/import_form.rb
  decidim-admin/app/helpers/decidim/admin/imports_helper.rb
  decidim-admin/app/views/decidim/admin/imports/_dropdown.html.erb
  decidim-admin/app/views/decidim/admin/imports/new.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/lib/decidim/admin.rb
  decidim-admin/lib/decidim/admin/import.rb
  decidim-admin/lib/decidim/admin/import/creator.rb
  decidim-admin/lib/decidim/admin/import/importer.rb
  decidim-admin/lib/decidim/admin/import/importer_factory.rb
  decidim-admin/lib/decidim/admin/import/readers.rb
  decidim-admin/lib/decidim/admin/import/readers/base.rb
  decidim-admin/lib/decidim/admin/import/readers/csv.rb
  decidim-admin/lib/decidim/admin/import/readers/json.rb
  decidim-admin/lib/decidim/admin/import/readers/xls.rb
  decidim-admin/spec/commands/decidim/admin/create_import_spec.rb
  decidim-admin/spec/forms/decidim/admin/import_form_spec.rb
  decidim-admin/spec/helpers/imports_helper_spec.rb
  decidim-admin/spec/import/creator_spec.rb
  decidim-admin/spec/import/readers/base_spec.rb
  decidim-admin/spec/lib/decidim/admin/import/importer_factory_spec.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/imports_controller.rb
  decidim-assemblies/lib/decidim/assemblies/admin_engine.rb
  decidim-assemblies/spec/controllers/admin/imports_controller_spec.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/imports_controller.rb
  decidim-conferences/lib/decidim/conferences/admin_engine.rb
  decidim-conferences/spec/controllers/admin/imports_controller_spec.rb
  decidim-core/lib/decidim/component_manifest.rb
  decidim-core/lib/decidim/importers/import_manifest.rb
  decidim-core/spec/lib/importers/import_manifest_spec.rb
  decidim-dev/lib/decidim/dev/assets/import_proposals.csv
  decidim-dev/lib/decidim/dev/assets/import_proposals.json
  decidim-dev/lib/decidim/dev/assets/import_proposals.xls
  decidim-dev/lib/decidim/dev/assets/import_proposals_broken.csv
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/imports_controller.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/admin_engine.rb
  decidim-participatory_processes/spec/controllers/admin/imports_controller_spec.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_bulk-actions.html.erb
  decidim-proposals/lib/decidim/proposals.rb
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/lib/decidim/proposals/proposals_creator.rb
  decidim-proposals/spec/lib/decidim/admin/import/importer_spec.rb
  decidim-proposals/spec/lib/decidim/proposals/proposal_creator_spec.rb
  decidim-proposals/spec/shared/import_proposals_examples.rb
  decidim-proposals/spec/shared/proposal_importer_examples.rb
  decidim-proposals/spec/system/admin/import_proposals_spec.rb
  docs/modules/develop/pages/components.adoc
Labels: module: admin, module: proposals, type: feature

#7261 Add "my activity" filter section on meeting index
  config/i18n-tasks.yml
  decidim-meetings/app/controllers/decidim/meetings/meetings_controller.rb
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/services/decidim/meetings/meeting_search.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_filters.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/services/meeting_search_spec.rb
Labels: module: meetings, type: feature

#7054 Fix initiative edit
  decidim-initiatives/app/forms/decidim/initiatives/initiative_form.rb
Labels: module: initiatives, type: fix

#7335 Truncate description in meetings map popup
  decidim-meetings/app/helpers/decidim/meetings/map_helper.rb
Labels: module: meetings, type: fix

#7329 Improve some static strings
  decidim-admin/config/locales/en.yml
  decidim-assemblies/config/locales/en.yml
  decidim-conferences/config/locales/en.yml
  decidim-consultations/config/locales/en.yml
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test/shared_examples/follows_examples.rb
  decidim-elections/config/locales/en.yml
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/commands/decidim/initiatives/vote_initiative_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/admin/support_threshold_reached_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/revoke_membership_request_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/spawn_committee_request_event_spec.rb
  decidim-verifications/config/locales/en.yml
  decidim-verifications/spec/system/admin_lists_authorizations_spec.rb
  decidim-verifications/spec/system/revocation_auths_spec.rb
Labels: module: admin, module: assemblies, module: consultations, module: core, module: elections, module: initiatives, module: verifications, type: change

#7281 Clarify the texts to download user data in "My account"
  decidim-core/config/locales/en.yml
Labels: module: core, type: change

#7346 Add some missing words in locales file
  decidim-admin/config/locales/en.yml
Labels: team: i18n

#7342 Clarify the texts to download user data in "My account" (part 2)
  decidim-core/config/locales/en.yml
Labels: module: core, type: change

#7341 Allow multiple lines in announcement block
  decidim-core/app/cells/decidim/announcement/show.erb
  decidim-core/app/cells/decidim/announcement_cell.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_wizard_header.html.erb
Labels: module: core, module: proposals, type: feature

#7282 Show session timeout warning and limit sessions to 30min of inactivity
  config/i18n-tasks.yml
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_modules.scss
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_reveal.scss
  decidim-admin/app/views/layouts/decidim/admin/_application.html.erb
  decidim-admin/spec/shared/manage_impersonations_examples.rb
  decidim-budgets/app/assets/javascripts/decidim/budgets/projects.js.es6
  decidim-core/app/assets/javascripts/decidim.js.es6
  decidim-core/app/assets/javascripts/decidim/session_timeouter.js.es6
  decidim-core/app/assets/stylesheets/decidim/modules/_reveal.scss
  decidim-core/app/controllers/decidim/devise/sessions_controller.rb
  decidim-core/app/views/layouts/decidim/_application.html.erb
  decidim-core/app/views/layouts/decidim/_timeout_modal.html.erb
  decidim-core/config/initializers/devise.rb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/spec/system/session_timeout_spec.rb
  decidim-forms/app/assets/javascripts/decidim/forms/forms.js.es6
Labels: module: admin, module: core, type: feature

#6941 Detect the use of spam-bots and ban non compliant users (part 4)
  decidim-admin/app/controllers/decidim/admin/moderated_users_controller.rb
  decidim-admin/app/presenters/decidim/admin/dashboard_metric_charts_presenter.rb
  decidim-admin/app/views/decidim/admin/moderated_users/index.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/presenters/decidim/admin/dashboard_metric_charts_presenter_spec.rb
  decidim-admin/spec/system/admin_checks_metrics_spec.rb
  decidim-core/app/controllers/decidim/application_controller.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/models/decidim/user_moderation.rb
  decidim-core/app/presenters/decidim/admin_log/user_presenter.rb
  decidim-core/app/queries/decidim/metrics/blocked_users_metric_manage.rb
  decidim-core/app/queries/decidim/metrics/reported_users_metric_manage.rb
  decidim-core/app/queries/decidim/metrics/user_reports_metric_manage.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/models/decidim/user_spec.rb
  decidim-verifications/spec/commands/decidim/verifications/id_documents/admin/confirm_user_offline_authorization_spec.rb
Labels: module: admin, module: core, type: feature

#7315 Add Polling Officers to Voting
  decidim-elections/app/assets/javascripts/decidim/votings/admin/polling_officers_form.js.es6
  decidim-elections/app/commands/decidim/votings/admin/create_polling_officer.rb
  decidim-elections/app/commands/decidim/votings/admin/destroy_polling_officer.rb
  decidim-elections/app/controllers/decidim/votings/admin/polling_officers_controller.rb
  decidim-elections/app/forms/decidim/votings/admin/polling_officer_form.rb
  decidim-elections/app/models/decidim/votings/polling_officer.rb
  decidim-elections/app/models/decidim/votings/voting.rb
  decidim-elections/app/permissions/decidim/votings/admin/permissions.rb
  decidim-elections/app/views/decidim/votings/admin/polling_officers/_form.html.erb
  decidim-elections/app/views/decidim/votings/admin/polling_officers/index.html.erb
  decidim-elections/app/views/decidim/votings/admin/polling_officers/new.html.erb
  decidim-elections/app/views/layouts/decidim/admin/voting.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20210208090441_add_polling_officers_to_votings.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-elections/lib/decidim/votings/test/factories.rb
  decidim-elections/spec/commands/decidim/votings/admin/create_polling_officer_spec.rb
  decidim-elections/spec/commands/decidim/votings/admin/destroy_polling_officer_spec.rb
  decidim-elections/spec/forms/decidim/votings/admin/polling_officer_form_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_polling_officers_spec.rb
Labels: contract: e-voting, module: elections

#7336 Fix broken attachments with form validation errors
  decidim-budgets/app/forms/decidim/budgets/admin/project_form.rb
  decidim-budgets/lib/decidim/budgets/test/factories.rb
  decidim-budgets/spec/controller/decidim/budgets/admin/projects_controller_spec.rb
  decidim-core/app/commands/decidim/gallery_methods.rb
  decidim-core/app/commands/decidim/multiple_attachments_methods.rb
  decidim-core/lib/decidim/attachment_attributes.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/admin_resource_gallery_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/controller_render_views.rb
  decidim-core/spec/lib/attachment_attributes_spec.rb
  decidim-dev/app/forms/decidim/dummy_resources/dummy_resource_form.rb
  decidim-elections/app/forms/decidim/elections/admin/answer_form.rb
  decidim-elections/app/forms/decidim/elections/admin/election_form.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/spec/controllers/decidim/elections/admin/answers_controller_spec.rb
  decidim-elections/spec/controllers/decidim/elections/admin/components_controller_spec.rb
  decidim-elections/spec/controllers/decidim/elections/admin/elections_controller_spec.rb
  decidim-forms/app/forms/decidim/forms/answer_form.rb
  decidim-initiatives/app/forms/decidim/initiatives/initiative_form.rb
  decidim-initiatives/lib/decidim/initiatives/test/factories.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/initiatives_controller_spec.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_base_form.rb
  decidim-proposals/app/forms/decidim/proposals/proposal_form.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/controllers/decidim/proposals/admin/participatory_texts_controller_spec.rb
  decidim-proposals/spec/controllers/decidim/proposals/admin/proposals_controller_spec.rb
  decidim-proposals/spec/controllers/decidim/proposals/collaborative_draft_collaborator_requests_controller_spec.rb
  decidim-proposals/spec/controllers/decidim/proposals/collaborative_drafts_controller_spec.rb
  decidim-proposals/spec/controllers/decidim/proposals/proposal_votes_controller_spec.rb
  decidim-proposals/spec/controllers/decidim/proposals/proposals_controller_spec.rb
Labels: module: budgets, module: core, module: elections, module: forms, module: initiatives, module: proposals, type: fix

#7356 Fix initiatives type permissions page
  .github/workflows/ci_templates.yml
  decidim-core/app/helpers/decidim/scopes_helper.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiative_type_permissions_spec.rb
Labels: module: initiatives, type: fix

#7357 Fix initiatives type permissions page
  .github/workflows/ci_templates.yml
  decidim-core/app/helpers/decidim/scopes_helper.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiative_type_permissions_spec.rb
Labels: backport, module: initiatives, type: fix

#7339 Improve seeds dates in meetings
  decidim-meetings/lib/decidim/meetings/component.rb
Labels: module: meetings, type: change

#7343 Fix removal of the address from proposals
  decidim-core/app/assets/javascripts/decidim/geocoding/attach_input.js.es6
  decidim-core/lib/decidim/map/autocomplete.rb
  decidim-proposals/app/assets/javascripts/decidim/proposals/add_proposal.js.es6
  decidim-proposals/app/forms/decidim/proposals/proposal_form.rb
  decidim-proposals/spec/shared/proposals_wizards_examples.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
Labels: module: core, module: proposals, type: fix

#7362 Fix long redirect URL storing in cookies
  decidim-core/app/controllers/decidim/application_controller.rb
  decidim-core/spec/controllers/application_controller_spec.rb
  decidim-core/spec/system/static_pages_spec.rb
Labels: module: core, type: fix

#7381 Fix infinite redirect loops due to no permissions for the page and referer pointing to the same path
  decidim-core/app/controllers/concerns/decidim/needs_permission.rb
  decidim-core/spec/controllers/concerns/needs_permission_spec.rb
Labels: module: core, type: fix

#7379 Fix proposal title minimum length validation of 15 characters
  decidim-core/app/validators/etiquette_validator.rb
  decidim-core/spec/validators/etiquette_validator_spec.rb
  decidim-dev/app/forms/decidim/dummy_resources/dummy_resource_form.rb
  decidim-proposals/spec/shared/proposal_form_examples.rb
Labels: module: proposals, type: fix

#7284 Votings public index
  config/i18n-tasks.yml
  decidim-elections/app/cells/decidim/votings/voting_m/footer.erb
  decidim-elections/app/cells/decidim/votings/voting_m_cell.rb
  decidim-elections/app/controllers/decidim/votings/votings_controller.rb
  decidim-elections/app/helpers/decidim/votings/votings_helper.rb
  decidim-elections/app/queries/decidim/votings/organization_prioritized_votings.rb
  decidim-elections/app/queries/decidim/votings/organization_promoted_votings.rb
  decidim-elections/app/queries/decidim/votings/organization_published_votings.rb
  decidim-elections/app/queries/decidim/votings/promoted_votings.rb
  decidim-elections/app/queries/decidim/votings/visible_votings.rb
  decidim-elections/app/services/decidim/votings/voting_search.rb
  decidim-elections/app/views/decidim/votings/votings/_filters.html.erb
  decidim-elections/app/views/decidim/votings/votings/_votings.html.erb
  decidim-elections/app/views/decidim/votings/votings/index.html.erb
  decidim-elections/app/views/decidim/votings/votings/index.js.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/votings/participatory_space.rb
  decidim-elections/lib/decidim/votings/test/factories.rb
  decidim-elections/spec/cells/decidim/votings/voting_m_cell_spec.rb
  decidim-elections/spec/queries/decidim/votings/organization_promoted_votings_spec.rb
  decidim-elections/spec/system/votings_spec.rb
Labels: contract: e-voting, module: elections, type: feature

#7384 Fix ehterpad compatibility for old meetings
  decidim-forms/app/models/decidim/forms/questionnaire.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/models/meeting_spec.rb
Labels: type: bug

#7387 Fix etherpad compatibility for old meetings (#7384)
  decidim-forms/app/models/decidim/forms/questionnaire.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/models/meeting_spec.rb
Labels: backport

#7391 Add admin users query for voting
  decidim-elections/app/queries/decidim/votings/admin/admin_users.rb
  decidim-elections/spec/queries/decidim/votings/admin/admin_users_spec.rb
Labels: module: elections

#7258 Add election statistics
  decidim-elections/app/assets/config/decidim_elections_manifest.js
  decidim-elections/app/assets/javascripts/decidim/elections/admin/vote_statistics.js.es6
  decidim-elections/app/controllers/decidim/elections/admin/steps_controller.rb
  decidim-elections/app/models/decidim/elections/election.rb
  decidim-elections/app/queries/decidim/elections/admin/votes_for_statistics.rb
  decidim-elections/app/views/decidim/elections/admin/steps/_vote.html.erb
  decidim-elections/app/views/decidim/elections/admin/steps/_vote_stats.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/elections/admin_engine.rb
  decidim-elections/spec/queries/decidim/elections/admin/votes_for_statistics_spec.rb
  decidim-elections/spec/system/admin_manages_election_steps_spec.rb
Labels: contract: e-voting, module: elections

#7331 Manage voting landing page with content blocks
  config/i18n-tasks.yml
  decidim-admin/app/assets/stylesheets/decidim/admin/modules/_secondary-nav.scss
  decidim-admin/app/cells/decidim/admin/content_block/show.erb
  decidim-admin/app/cells/decidim/admin/content_block_cell.rb
  decidim-admin/app/controllers/concerns/decidim/admin/landing_page.rb
  decidim-admin/app/controllers/concerns/decidim/admin/landing_page_content_blocks.rb
  decidim-admin/app/views/decidim/admin/shared/landing_page/edit.html.erb
  decidim-admin/app/views/decidim/admin/shared/landing_page_content_blocks/edit.html.erb
  decidim-elections/app/cells/decidim/votings/content_block_cell.rb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/attachments_and_folders_cell.rb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/description_cell.rb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/elections_cell.rb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/header_cell.rb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/metrics_cell.rb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/polling_stations_cell.rb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/stats_cell.rb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/timeline_cell.rb
  decidim-elections/app/controllers/decidim/votings/admin/votings_landing_page_content_blocks_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/votings_landing_page_controller.rb
  decidim-elections/app/permissions/decidim/votings/admin/permissions.rb
  decidim-elections/app/views/decidim/votings/votings/show.html.erb
  decidim-elections/app/views/layouts/decidim/admin/voting.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-elections/lib/decidim/votings/engine.rb
  decidim-elections/lib/decidim/votings/participatory_space.rb
  decidim-elections/spec/system/admin/admin_manages_votings_spec.rb
Labels: contract: e-voting, module: admin, module: elections, type: feature

#7361 Refactor participatory process groups landing page in Admin Dashboard
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_block/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_block_cell.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_group_landing_page_content_blocks_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_group_landing_page_controller.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_group_landing_page/edit.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_group_landing_page_content_blocks/edit.html.erb
  decidim-participatory_processes/lib/decidim/participatory_processes/participatory_space.rb
Labels: target: developer-experience

#7259 Let admins delete proposal attachments
  decidim-core/app/commands/decidim/attachment_methods.rb
  decidim-core/app/forms/decidim/attachment_form.rb
  decidim-proposals/app/commands/decidim/proposals/admin/update_proposal.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/proposals_controller.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_form.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_form.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/admin/admin_edits_proposal_spec.rb
Labels: module: proposals, type: feature

#7283 Add assemblies & processes weight field
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assembly.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_form.rb
  decidim-assemblies/app/queries/decidim/assemblies/organization_assemblies.rb
  decidim-assemblies/app/queries/decidim/assemblies/organization_published_assemblies.rb
  decidim-assemblies/app/serializers/decidim/assemblies/assembly_serializer.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/_form.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/db/migrate/20210204152393_add_weight_field_to_assembly.rb
  decidim-assemblies/lib/decidim/assemblies/test/factories.rb
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-assemblies/spec/commands/update_assembly_spec.rb
  decidim-assemblies/spec/controllers/admin/assemblies_controller_spec.rb
  decidim-assemblies/spec/forms/assembly_form_spec.rb
  decidim-assemblies/spec/queries/organization_assemblies_spec.rb
  decidim-assemblies/spec/queries/organization_published_assemblies_spec.rb
  decidim-assemblies/spec/serializers/decidim/assemblies/assembly_serializer_spec.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_spec.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_with_parent_selector_spec.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/create_participatory_process.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/update_participatory_process.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_form.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/organization_participatory_processes.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/organization_published_participatory_processes.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/_form.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/db/migrate/20210204154593_add_weight_field_to_participatory_processes.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/test/factories.rb
  decidim-participatory_processes/spec/commands/create_participatory_process_spec.rb
  decidim-participatory_processes/spec/commands/update_participatory_process_spec.rb
  decidim-participatory_processes/spec/controllers/admin/participatory_processes_controller_spec.rb
  decidim-participatory_processes/spec/forms/participatory_process_form_spec.rb
  decidim-participatory_processes/spec/queries/organization_participatory_processes_spec.rb
  decidim-participatory_processes/spec/queries/organization_published_participatory_processes_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_processes_spec.rb
Labels: module: assemblies, module: participatory processes, type: feature

#7344 Assign Polling Officers to Polling Stations
  config/i18n-tasks.yml
  decidim-elections/app/assets/config/admin/decidim_votings_manifest.css
  decidim-elections/app/assets/config/admin/decidim_votings_manifest.js
  decidim-elections/app/assets/config/decidim_votings_manifest.css
  decidim-elections/app/assets/config/decidim_votings_manifest.js
  decidim-elections/app/assets/javascripts/decidim/votings/admin/polling_officers_picker.js.es6
  decidim-elections/app/assets/stylesheets/decidim/votings/votings.scss
  decidim-elections/app/cells/decidim/votings/polling_officers/polling_officers_picker/polling_officers.erb
  decidim-elections/app/cells/decidim/votings/polling_officers/polling_officers_picker/show.erb
  decidim-elections/app/cells/decidim/votings/polling_officers/polling_officers_picker_cell.rb
  decidim-elections/app/commands/decidim/votings/admin/create_polling_station.rb
  decidim-elections/app/commands/decidim/votings/admin/manage_polling_station.rb
  decidim-elections/app/commands/decidim/votings/admin/update_polling_station.rb
  decidim-elections/app/controllers/concerns/decidim/polling_stations/admin/filterable.rb
  decidim-elections/app/controllers/decidim/votings/admin/polling_stations_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/votings_controller.rb
  decidim-elections/app/forms/decidim/votings/admin/polling_station_form.rb
  decidim-elections/app/helpers/decidim/votings/admin/polling_officers_picker_helper.rb
  decidim-elections/app/models/decidim/votings/polling_officer.rb
  decidim-elections/app/models/decidim/votings/polling_station.rb
  decidim-elections/app/models/decidim/votings/voting.rb
  decidim-elections/app/views/decidim/votings/admin/polling_officers/index.html.erb
  decidim-elections/app/views/decidim/votings/admin/polling_stations/_form.html.erb
  decidim-elections/app/views/decidim/votings/admin/polling_stations/index.html.erb
  decidim-elections/app/views/decidim/votings/admin/votings/polling_officers_picker.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20210210090738_add_votings_polling_station_references_to_votings_polling_officer.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-elections/lib/decidim/votings/test/capybara_polling_officers_picker.rb
  decidim-elections/lib/decidim/votings/test/factories.rb
  decidim-elections/spec/commands/decidim/votings/admin/create_polling_station_spec.rb
  decidim-elections/spec/commands/decidim/votings/admin/update_polling_station_spec.rb
  decidim-elections/spec/models/decidim/votings/polling_officer_spec.rb
  decidim-elections/spec/models/decidim/votings/polling_station_spec.rb
  decidim-elections/spec/models/decidim/votings/voting_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_polling_stations_spec.rb
Labels: contract: e-voting, module: elections, type: feature

#7407 Raise an alert when there's an error signing an initiative
  decidim-initiatives/app/controllers/decidim/initiatives/initiative_signatures_controller.rb
  decidim-initiatives/app/forms/decidim/initiatives/vote_form.rb
  decidim-initiatives/app/views/decidim/initiatives/initiative_signatures/error_on_vote.js.erb
  decidim-initiatives/spec/controllers/decidim/initiatives/initiative_signatures_controller_spec.rb
  decidim-initiatives/spec/forms/vote_form_spec.rb
Labels: module: initiatives, type: feature

#7414 Fix subhero removing strip_tags from it
  decidim-core/app/assets/stylesheets/decidim/layouts/_home.scss
  decidim-core/app/cells/decidim/content_blocks/sub_hero/show.erb
  decidim-core/spec/cells/decidim/content_blocks/sub_hero_cell_spec.rb
Labels: backport, module: core, type: fix

#7396 Add Monitoring Committee to Voting
  decidim-elections/app/assets/javascripts/decidim/votings/admin/monitoring_committee_members_form.js.es6
  decidim-elections/app/commands/decidim/votings/admin/create_monitoring_committee_member.rb
  decidim-elections/app/commands/decidim/votings/admin/destroy_monitoring_committee_member.rb
  decidim-elections/app/controllers/decidim/votings/admin/monitoring_committee_members_controller.rb
  decidim-elections/app/forms/decidim/votings/admin/monitoring_committee_member_form.rb
  decidim-elections/app/models/decidim/votings/monitoring_committee_member.rb
  decidim-elections/app/models/decidim/votings/voting.rb
  decidim-elections/app/permissions/decidim/votings/admin/permissions.rb
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_members/_form.html.erb
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_members/index.html.erb
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_members/new.html.erb
  decidim-elections/app/views/layouts/decidim/admin/voting.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20210216074707_add_monitoring_committee_member.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-elections/lib/decidim/votings/test/factories.rb
  decidim-elections/spec/commands/decidim/votings/admin/create_monitoring_committee_member.rb
  decidim-elections/spec/commands/decidim/votings/admin/destroy_monitoring_committee_member.rb
  decidim-elections/spec/forms/decidim/votings/admin/monitoring_committee_member_form_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_monitoring_committee_spec.rb
Labels: contract: e-voting, module: elections

#7412 Raise an alert when there's an error signing an initiative
  decidim-initiatives/app/controllers/decidim/initiatives/initiative_signatures_controller.rb
  decidim-initiatives/app/forms/decidim/initiatives/vote_form.rb
  decidim-initiatives/app/views/decidim/initiatives/initiative_signatures/error_on_vote.js.erb
  decidim-initiatives/spec/controllers/decidim/initiatives/initiative_signatures_controller_spec.rb
  decidim-initiatives/spec/forms/vote_form_spec.rb
Labels: module: initiatives, type: feature

#7415 Filter Polling Stations by Polling Officers assigned/not assigned
  decidim-elections/app/controllers/concerns/decidim/polling_stations/admin/filterable.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/system/admin/admin_manages_voting_polling_stations_spec.rb
Labels: contract: e-voting, module: elections, type: feature

#7411 Filter and search polling officers
  decidim-elections/app/controllers/concerns/decidim/polling_officers/admin/filterable.rb
  decidim-elections/app/controllers/decidim/votings/admin/polling_officers_controller.rb
  decidim-elections/app/models/decidim/votings/polling_officer.rb
  decidim-elections/app/queries/decidim/votings/admin/polling_officers_join_polling_stations.rb
  decidim-elections/app/queries/decidim/votings/admin/polling_officers_join_polling_stations_and_user.rb
  decidim-elections/app/queries/decidim/votings/admin/polling_officers_join_user.rb
  decidim-elections/app/views/decidim/votings/admin/polling_officers/index.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/system/admin/admin_manages_voting_polling_officers_spec.rb
Labels: contract: e-voting, module: elections

#7420 Ignore warning on CI when no artifacts to upload
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_elections.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public_1.yml
  .github/workflows/ci_proposals_system_public_2.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
Labels: target: developer-experience

#7422 Update dependencies
  Gemfile.lock
  decidim-assemblies/app/events/decidim/role_assigned_to_assembly_event.rb
  decidim-conferences/app/events/decidim/conferences/conference_role_assigned_event.rb
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim-participatory_processes/app/events/decidim/participatory_process_role_assigned_event.rb
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience

#7424 Add default order by ID to API list queries
  decidim-core/lib/decidim/api/functions/component_list_base.rb
  decidim-proposals/spec/types/proposals_type_spec.rb
Labels: module: api, type: feature

#7430 Ensure Rails is locked to 5.2.4.x series
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience

#7437 Fix random order inconsistencies
  decidim-core/app/controllers/concerns/decidim/orderable.rb
  decidim-core/lib/decidim/randomable.rb
  decidim-core/spec/controllers/concerns/orderable.rb
  decidim-proposals/spec/controllers/decidim/proposals/proposals_controller_spec.rb
Labels: module: core, type: fix

#7436 Further default orders for the API
  decidim-core/lib/decidim/api/functions/component_list.rb
  decidim-core/lib/decidim/api/functions/component_list_base.rb
  decidim-core/lib/decidim/api/functions/needs_api_default_order.rb
  decidim-core/lib/decidim/api/functions/participatory_space_list_base.rb
  decidim-core/lib/decidim/core/api.rb
  decidim-core/spec/types/participatory_space_type_spec.rb
  decidim-participatory_processes/spec/lib/query_extensions_spec.rb
Labels: module: api, type: feature

#7417 Voting: show callout when Polling Stations miss Polling Officers
  decidim-elections/app/assets/config/admin/decidim_votings_manifest.js
  decidim-elections/app/models/decidim/votings/polling_station.rb
  decidim-elections/app/models/decidim/votings/voting.rb
  decidim-elections/app/views/layouts/decidim/admin/voting.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/system/admin/admin_manages_voting_polling_stations_spec.rb
  decidim-elections/spec/system/admin/admin_manages_votings_spec.rb
Labels: contract: e-voting, module: elections

#7435 Let admins delete proposal attachments
  decidim-core/app/commands/decidim/attachment_methods.rb
  decidim-core/app/forms/decidim/attachment_form.rb
  decidim-proposals/app/commands/decidim/proposals/admin/update_proposal.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/proposals_controller.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_form.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_form.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/admin/admin_edits_proposal_spec.rb
Labels: backport, module: proposals, type: feature

#7441 Bump to carrierwave 2.2.0
  Gemfile.lock
  decidim-admin/app/views/decidim/admin/organization_appearance/form/_images.html.erb
  decidim-core/app/uploaders/decidim/attachment_uploader.rb
  decidim-core/app/uploaders/decidim/image_uploader.rb
  decidim-core/app/uploaders/decidim/record_image_uploader.rb
  decidim-core/app/validators/uploader_content_type_validator.rb
  decidim-core/config/locales/en.yml
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/file_validator_humanizer.rb
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/lib/file_validator_humanizer_spec.rb
  decidim-core/spec/validators/passthru_validator_spec.rb
  decidim-core/spec/validators/uploader_content_type_validator_spec.rb
  decidim-forms/config/locales/en.yml
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience

#7451 Split Election tests suite into 3 workflows
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
Labels: target: developer-experience

#7393 Fix display of debates with multiple dates
  decidim-core/app/assets/stylesheets/decidim/modules/_extra.scss
  decidim-core/app/cells/decidim/date/show.erb
  decidim-core/app/cells/decidim/date_cell.rb
  decidim-core/spec/cells/decidim/date_cell_spec.rb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
Labels: module: debates, type: fix

#7459 Fix session timeout when using multiple windows or tabs
  decidim-core/app/assets/javascripts/decidim/session_timeouter.js.es6
  decidim-core/app/controllers/decidim/devise/sessions_controller.rb
  decidim-core/app/controllers/decidim/timeouts_controller.rb
  decidim-core/app/views/layouts/decidim/_timeout_modal.html.erb
  decidim-core/config/routes.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/system/session_timeout_spec.rb
Labels: module: core, type: fix

#7439 Polling Officer Zone
  decidim-elections/app/commands/decidim/votings/admin/manage_polling_station.rb
  decidim-elections/app/controllers/decidim/votings/polling_officer_zone/application_controller.rb
  decidim-elections/app/controllers/decidim/votings/polling_officer_zone/polling_officers_controller.rb
  decidim-elections/app/controllers/decidim/votings/polling_officer_zone/polling_stations_controller.rb
  decidim-elections/app/events/decidim/votings/polling_officers/polling_station_assigned_event.rb
  decidim-elections/app/models/decidim/votings/polling_officer.rb
  decidim-elections/app/permissions/decidim/votings/permissions.rb
  decidim-elections/app/permissions/decidim/votings/polling_officer_zone/permissions.rb
  decidim-elections/app/presenters/decidim/votings/polling_station_presenter.rb
  decidim-elections/app/presenters/decidim/votings/voting_presenter.rb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/polling_officers/show.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/polling_stations/show.html.erb
  decidim-elections/app/views/layouts/decidim/admin/voting.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/votings.rb
  decidim-elections/lib/decidim/votings/participatory_space.rb
  decidim-elections/lib/decidim/votings/polling_officer_zone.rb
  decidim-elections/lib/decidim/votings/polling_officer_zone_engine.rb
  decidim-elections/spec/commands/decidim/votings/admin/create_polling_station_spec.rb
  decidim-elections/spec/commands/decidim/votings/admin/update_polling_station_spec.rb
  decidim-elections/spec/events/decidim/votings/polling_officers/polling_station_assigned_event_spec.rb
  decidim-elections/spec/permissions/decidim/votings/polling_officer_zone/permissions_spec.rb
  decidim-elections/spec/system/polling_officer_zone_spec.rb
Labels: contract: e-voting, module: elections, type: feature

#7460 Resort Menus
  decidim-assemblies/lib/decidim/assemblies/admin_engine.rb
  decidim-assemblies/lib/decidim/assemblies/engine.rb
  decidim-conferences/lib/decidim/conferences/admin_engine.rb
  decidim-conferences/lib/decidim/conferences/engine.rb
  decidim-consultations/lib/decidim/consultations/admin_engine.rb
  decidim-consultations/lib/decidim/consultations/engine.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-elections/lib/decidim/votings/engine.rb
  decidim-initiatives/lib/decidim/initiatives/admin_engine.rb
  decidim-initiatives/lib/decidim/initiatives/engine.rb
Labels: target: developer-experience

#7444 Add order in not highlighted assemblies by weight
  decidim-assemblies/app/controllers/decidim/assemblies/assemblies_controller.rb
Labels: module: assemblies, type: feature

#7388 Add Votings to Open Data export
  decidim-core/app/services/decidim/open_data_exporter.rb
  decidim-core/spec/factories.rb
  decidim-core/spec/services/decidim/open_data_exporter_spec.rb
  decidim-core/spec/system/homepage_spec.rb
  decidim-elections/app/presenters/decidim/votings/voting_presenter.rb
  decidim-elections/lib/decidim/elections/answer_serializer.rb
  decidim-elections/lib/decidim/votings.rb
  decidim-elections/lib/decidim/votings/participatory_space.rb
  decidim-elections/lib/decidim/votings/voting_serializer.rb
  decidim-elections/spec/lib/decidim/elections/answer_serializer_spec.rb
  decidim-elections/spec/lib/decidim/votings/voting_serializer_spec.rb
  decidim-elections/spec/presenters/decidim/votings/voting_presenter_spec.rb
Labels: contract: e-voting, module: elections, type: feature

#7461 Add changelog generator based on PR data
  .rubocop.yml
  Rakefile
  bin/changelog_generator
  docs/modules/develop/pages/releases.adoc
  lib/decidim/git_log_parser.rb
  spec/decidim/git_log_parser_spec.rb
Labels: target: developer-experience

#7360 Trigger docs build on folder changes
  .github/workflows/on_docs_update.yml
  docs/modules/develop/pages/releases.adoc
Labels: target: developer-experience, team: documentation

#7406 Feature proposal infinite edit time
  decidim-admin/app/assets/javascripts/decidim/admin/form.js.es6
  decidim-admin/app/assets/javascripts/decidim/admin/proposal_infinite_edit.js.es6
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_wizard_header.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/models/decidim/proposals/proposal_spec.rb
Labels: module: proposals, type: feature
