Repository decidim/decidim, pull requests merged in 2021-03, with the labels that each got.

#7474 Prepare 0.24.0.rc1
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  bin/changelog_generator
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-consultations/lib/decidim/consultations/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  decidim_app-design/Gemfile.lock
  lib/decidim/version.rb
  package-lock.json
  package.json
Labels: target: developer-experience

#7473 Prepare 0.25-dev version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-consultations/lib/decidim/consultations/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  decidim_app-design/Gemfile.lock
  lib/decidim/version.rb
  package-lock.json
  package.json
Labels: target: developer-experience

#7475 Improve changelog generator
  bin/changelog_generator
Labels: target: developer-experience

#7476 Move specs file to correct folder
  decidim-elections/spec/system/admin/admin_manages_election_steps_spec.rb
Labels: module: elections, target: developer-experience

#7488 Fix #7487 - Invalid signature on message decryption
  decidim-core/db/migrate/20201127114444_encrypt_authorization_metadatas.rb
  decidim-core/lib/decidim/record_encryptor.rb
  decidim-core/spec/lib/record_encryptor_spec.rb
Labels: module: core, type: fix

#7449 Fix proposals to budget import
  decidim-budgets/app/commands/decidim/budgets/admin/import_proposals_to_budgets.rb
  decidim-budgets/spec/commands/decidim/budgets/admin/import_proposals_to_budgets_spec.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
Labels: module: budgets, type: fix

#7486 Fix NULL error with weight field in assemblies & processes
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_form.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_form.rb
Labels: module: assemblies, module: participatory processes, type: fix

#7490 Fix invalid signature on message decryption
  decidim-core/db/migrate/20201127114444_encrypt_authorization_metadatas.rb
  decidim-core/lib/decidim/record_encryptor.rb
  decidim-core/spec/lib/record_encryptor_spec.rb
Labels: backport, module: core, type: fix

#7494 Fix record encryptor hash values JSON parsing for legacy unencrypted hash values
  decidim-core/lib/decidim/record_encryptor.rb
  decidim-core/spec/lib/record_encryptor_spec.rb
Labels: module: core, type: fix

#7491 Fix NULL error with weight field in assemblies & processes
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_form.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_form.rb
Labels: backport, module: assemblies, module: participatory processes, type: fix

#7496 Fix record encryptor hash values JSON parsing for legacy unencrypted hash values
  decidim-core/lib/decidim/record_encryptor.rb
  decidim-core/spec/lib/record_encryptor_spec.rb
Labels: backport, module: core, type: fix

#7499 Only share tokens if component exists
  decidim-admin/app/views/decidim/admin/components/_form.html.erb
  decidim-participatory_processes/spec/shared/manage_process_components_examples.rb
Labels: module: admin, type: fix

#7495 Fix the proposal body validation error messages
  decidim-proposals/app/forms/decidim/proposals/proposal_wizard_create_step_form.rb
  decidim-proposals/app/validators/proposal_length_validator.rb
Labels: backport, module: proposals, type: fix

#7410 Voting description cell for the landing page
  decidim-elections/app/assets/config/decidim_votings_manifest.js
  decidim-elections/app/assets/javascripts/decidim/votings/voting-description-cell.js.es6
  decidim-elections/app/assets/stylesheets/decidim/votings/votings.scss
  decidim-elections/app/assets/stylesheets/decidim/votings/votings/_voting-description-cell.scss
  decidim-elections/app/assets/stylesheets/decidim/votings/votings/_votings-header.scss
  decidim-elections/app/assets/stylesheets/decidim/votings/votings/_votings-home-banner.scss
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/description/show.erb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/description_cell.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/votings/engine.rb
Labels: contract: e-voting, module: elections

#7418 Voting attachments and folders cell for the landing page
  decidim-core/app/helpers/decidim/attachments_helper.rb
  decidim-core/app/views/decidim/application/_attachments.html.erb
  decidim-core/app/views/decidim/application/_collection.html.erb
  decidim-core/app/views/decidim/application/_document.html.erb
  decidim-core/app/views/decidim/application/_documents.html.erb
  decidim-core/app/views/decidim/application/_photos.html.erb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/attachments_and_folders_cell.rb
  decidim-elections/db/seeds/Exampledocument.pdf
  decidim-elections/db/seeds/city2.jpeg
Labels: contract: e-voting, module: elections

#7503 Only share tokens if component exists
  decidim-admin/app/views/decidim/admin/components/_form.html.erb
  decidim-participatory_processes/spec/shared/manage_process_components_examples.rb
Labels: backport, module: admin, type: fix

#7504 Only share tokens if component exists
  decidim-admin/app/views/decidim/admin/components/_form.html.erb
  decidim-participatory_processes/spec/shared/manage_process_components_examples.rb
Labels: backport, module: admin, type: fix

#7506 Invalidate all user sessions when destroying the account
  decidim-core/app/commands/decidim/destroy_account.rb
  decidim-core/db/migrate/20210302150803_invalidate_all_sessions_for_deleted_users.rb
  decidim-core/spec/commands/decidim/destroy_account_spec.rb
Labels: module: core, type: fix

#7510 Invalidate all user sessions when destroying the account
  decidim-core/app/commands/decidim/destroy_account.rb
  decidim-core/db/migrate/20210302150803_invalidate_all_sessions_for_deleted_users.rb
  decidim-core/spec/commands/decidim/destroy_account_spec.rb
Labels: backport, module: core, type: fix

#7511 Invalidate all user sessions when destroying the account
  decidim-core/app/commands/decidim/destroy_account.rb
  decidim-core/db/migrate/20210302150803_invalidate_all_sessions_for_deleted_users.rb
  decidim-core/spec/commands/decidim/destroy_account_spec.rb
Labels: backport, module: core, type: fix

#7428 Voting polling stations cell for the landing page
  decidim-core/app/assets/stylesheets/decidim/modules/_map.scss
  decidim-elections/app/assets/stylesheets/decidim/votings/votings.scss
  decidim-elections/app/assets/stylesheets/decidim/votings/votings/_polling-stations-cell.scss
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/polling_stations/address.erb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/polling_stations/map.erb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/polling_stations/show.erb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/polling_stations_cell.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/votings/participatory_space.rb
  decidim-meetings/app/cells/decidim/meetings/meetings_map/show.erb
  decidim-proposals/app/views/decidim/proposals/proposals/index.html.erb
Labels: contract: e-voting, module: elections

#7453 Voting timeline cell for the landing page
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/timeline/show.erb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/timeline_cell.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/votings/engine.rb
Labels: contract: e-voting, module: elections

#7507 Let installations delay TranslatorJob initialization
  decidim-core/app/jobs/decidim/machine_translation_resource_job.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/translatable_resource.rb
  decidim-core/spec/jobs/decidim/machine_translation_resource_job_spec.rb
Labels: module: core, type: feature

#7469 Voting metrics cell for the landing page
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/metrics/show.erb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/metrics_cell.rb
  decidim-elections/config/locales/en.yml
Labels: contract: e-voting, module: elections

#7516 New Admin users cannot accept Terms and conditions
  decidim-admin/app/helpers/decidim/admin/admin_terms_helper.rb
  decidim-admin/app/views/decidim/admin/admin_terms/show.html.erb
  decidim-admin/app/views/decidim/admin/dashboard/show.html.erb
  decidim-budgets/app/cells/decidim/budgets/limit_announcement_cell.rb
Labels: module: admin, module: budgets, type: fix

#7517 Remove duplicated migration
  decidim-proposals/db/migrate/20200915151348_fix_proposals_data_to_ensure_title_and_body_are_hashes.rb
Labels: module: proposals, target: developer-experience

#7514 Don't allow filtering meetings by user group if setting is disabled
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
Labels: module: meetings, type: fix

#7523 Remove console warnings from the conversations views
  decidim-core/app/cells/decidim/user_conversations/add_conversation_users.erb
  decidim-core/app/views/decidim/messaging/conversations/_add_conversation_users.html.erb
Labels: module: core, target: developer-experience

#7522 Remove duplicated migration
  decidim-proposals/db/migrate/20200915151348_fix_proposals_data_to_ensure_title_and_body_are_hashes.rb
Labels: backport, module: proposals, target: developer-experience

#7521 Remove duplicated migration
  decidim-proposals/db/migrate/20200915151348_fix_proposals_data_to_ensure_title_and_body_are_hashes.rb
Labels: backport, module: proposals, target: developer-experience

#7524 Change the order of attachments in budgets
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-budgets/config/locales/en.yml
Labels: module: budgets, type: change

#7525 Do not change the global test app configs during specs
  decidim-core/spec/system/session_timeout_spec.rb
Labels: target: developer-experience

#7533 Fix non-unique IDs element in filter hash cash
  decidim-budgets/app/views/decidim/budgets/projects/_filters_small_view.html.erb
  decidim-consultations/app/views/decidim/consultations/consultations/_filters_small_view.html.erb
  decidim-core/app/helpers/decidim/filters_helper.rb
  decidim-core/app/views/decidim/searches/_filters_small_view.html.erb
  decidim-core/spec/helpers/decidim/filters_helper_spec.rb
  decidim-debates/app/views/decidim/debates/debates/_filters_small_view.html.erb
  decidim-elections/app/views/decidim/elections/elections/_filters_small_view.html.erb
  decidim-elections/app/views/decidim/votings/votings/_filters_small_view.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_filters_small_view.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_filters_small_view.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_filters_small_view.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_filters.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_filters_small_view.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_filters_small_view.html.erb
Labels: backport, module: proposals, type: fix

#7527 Add Votings landing page to the design app
  decidim_app-design/app/assets/stylesheets/components/evote/_evote.scss
  decidim_app-design/app/assets/stylesheets/components/evote/_focus.scss
  decidim_app-design/app/assets/stylesheets/components/evote/_timeline.scss
  decidim_app-design/app/views/public/evote-consultation-landing.html.erb
  decidim_app-design/app/views/public/evote-multiple-consultation-landing.html.erb
  decidim_app-design/app/views/public/evote-poll-landing.html.erb
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/partials/_evote_hero.html.erb
  decidim_app-design/app/views/public/partials/_evote_intro.html.erb
  decidim_app-design/app/views/public/partials/_evote_intro_landing.html.erb
  decidim_app-design/app/views/public/partials/_evote_intro_multiple.html.erb
  decidim_app-design/app/views/public/partials/_evote_map.html.erb
  decidim_app-design/app/views/public/partials/_evote_poll_list.html.erb
  decidim_app-design/app/views/public/partials/_evote_questions.html.erb
  decidim_app-design/app/views/public/partials/_evote_stats.html.erb
  decidim_app-design/app/views/public/partials/_evote_timeline.html.erb
Labels: contract: e-voting, target: developer-experience, team: design

#7536 Fix record encryptor trying to decrypt or decode non-String values
  decidim-core/lib/decidim/attribute_encryptor.rb
  decidim-core/lib/decidim/record_encryptor.rb
  decidim-core/spec/lib/attribute_encryptor_spec.rb
  decidim-core/spec/lib/record_encryptor_spec.rb
Labels: module: core, type: fix

#7534 Don't schedule CI jobs for locales PRs
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public_1.yml
  .github/workflows/ci_proposals_system_public_2.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
Labels: target: developer-experience

#7535 Update the workflow cleanup action to the latest version
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public_1.yml
  .github/workflows/ci_proposals_system_public_2.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
Labels: target: developer-experience

#7538 Fix record encryptor trying to decrypt or decode non-String values
  decidim-core/lib/decidim/attribute_encryptor.rb
  decidim-core/lib/decidim/record_encryptor.rb
  decidim-core/spec/lib/attribute_encryptor_spec.rb
  decidim-core/spec/lib/record_encryptor_spec.rb
Labels: backport, module: core, type: fix

#7546 Revert "Don't schedule CI jobs for locales PRs (#7534)"
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public_1.yml
  .github/workflows/ci_proposals_system_public_2.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
Labels: target: developer-experience

#7547 Fix record encryptor trying to decrypt empty strings
  decidim-core/lib/decidim/record_encryptor.rb
  decidim-core/spec/lib/record_encryptor_spec.rb
Labels: backport, module: core, type: fix

#7520 New Admin users cannot accept Terms and conditions
  decidim-admin/app/helpers/decidim/admin/admin_terms_helper.rb
  decidim-admin/app/views/decidim/admin/admin_terms/show.html.erb
  decidim-admin/app/views/decidim/admin/dashboard/show.html.erb
  decidim-budgets/app/cells/decidim/budgets/limit_announcement_cell.rb
Labels: backport, module: admin, module: budgets, type: fix

#7421 Replace xls with xlsx
  Gemfile.lock
  decidim-admin/config/locales/en.yml
  decidim-admin/lib/decidim/admin/import/readers.rb
  decidim-admin/lib/decidim/admin/import/readers/xls.rb
  decidim-admin/lib/decidim/admin/import/readers/xlsx.rb
  decidim-admin/spec/helpers/imports_helper_spec.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/exporters/excel.rb
  decidim-core/spec/lib/exporters/excel_spec.rb
  decidim-dev/lib/decidim/dev/assets/import_proposals.xls
  decidim-dev/lib/decidim/dev/assets/import_proposals.xlsx
  decidim-generators/Gemfile.lock
  decidim-proposals/spec/lib/decidim/admin/import/importer_spec.rb
  decidim-proposals/spec/shared/import_proposals_examples.rb
  decidim_app-design/Gemfile.lock
Labels: module: core, type: feature

#7556 Fix cells caching by using cache_key_with_version instead of cache version
  decidim-core/app/cells/decidim/content_blocks/hero_cell.rb
  decidim-core/app/cells/decidim/content_blocks/last_activity_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_m_cell_spec.rb
Labels: backport, module: core, module: proposals, type: fix

#7555 Fix user profile timeline activity cards texts showing "New resource" on updates
  decidim-core/app/cells/decidim/activity/show.erb
  decidim-core/app/cells/decidim/activity_cell.rb
  decidim-debates/app/cells/decidim/debates/debate_activity_cell.rb
  decidim-debates/config/locales/en.yml
  decidim-debates/spec/cells/decidim/debates/debate_activity_cell_spec.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_activity_cell.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/cells/decidim/meetings/meeting_activity_cell_spec.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_activity_cell.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/cells/decidim/proposals/proposal_activity_cell_spec.rb
Labels: module: debates, module: meetings, module: proposals, type: fix

#7558 Fix user profile timeline activity cards texts showing "New resource" on updates
  decidim-core/app/cells/decidim/activity/show.erb
  decidim-core/app/cells/decidim/activity_cell.rb
  decidim-debates/app/cells/decidim/debates/debate_activity_cell.rb
  decidim-debates/config/locales/en.yml
  decidim-debates/spec/cells/decidim/debates/debate_activity_cell_spec.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_activity_cell.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/cells/decidim/meetings/meeting_activity_cell_spec.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_activity_cell.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/cells/decidim/proposals/proposal_activity_cell_spec.rb
Labels: backport, module: debates, module: meetings, module: proposals, type: fix

#7559 Fix user profile timeline activity cards texts showing "New resource" on updates
  decidim-core/app/cells/decidim/activity/show.erb
  decidim-core/app/cells/decidim/activity_cell.rb
  decidim-debates/app/cells/decidim/debates/debate_activity_cell.rb
  decidim-debates/config/locales/en.yml
  decidim-debates/spec/cells/decidim/debates/debate_activity_cell_spec.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_activity_cell.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/cells/decidim/meetings/meeting_activity_cell_spec.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_activity_cell.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/cells/decidim/proposals/proposal_activity_cell_spec.rb
Labels: backport, module: debates, module: meetings, module: proposals, type: fix

#7445 Rename "weight" to "order position"
  decidim-admin/config/locales/en.yml
  decidim-assemblies/config/locales/en.yml
  decidim-budgets/config/locales/en.yml
  decidim-conferences/config/locales/en.yml
  decidim-participatory_processes/config/locales/en.yml
Labels: module: admin, module: assemblies, module: budgets, module: conferences, module: participatory processes, type: change

#7568 Fix announcements when sending an empty translations hash
  decidim-core/app/cells/decidim/announcement_cell.rb
  decidim-core/spec/cells/decidim/announcement_cell_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/cell_matchers.rb
  decidim-proposals/app/views/decidim/proposals/proposals/edit.html.erb
Labels: module: core, module: proposals, type: fix

#7573 Sanitize address inputs
  decidim-core/app/cells/decidim/address/details.erb
  decidim-core/app/cells/decidim/address_cell.rb
  decidim-core/spec/cells/decidim/address_cell_spec.rb
Labels: module: core, type: fix

#7577 Sanitize address inputs
  decidim-core/app/cells/decidim/address/details.erb
  decidim-core/app/cells/decidim/address_cell.rb
  decidim-core/spec/cells/decidim/address_cell_spec.rb
Labels: backport, module: core, type: fix

#7576 Sanitize address inputs
  decidim-core/app/cells/decidim/address/details.erb
  decidim-core/app/cells/decidim/address_cell.rb
  decidim-core/spec/cells/decidim/address_cell_spec.rb
Labels: backport, module: core, type: fix

#7607 Fix process serializer to consider nil images
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/participatory_process_presenter.rb
  decidim-participatory_processes/spec/presenters/decidim/participatory_processes/participatory_process_presenter_spec.rb
Labels: module: participatory processes, type: fix

#7614 Fix process serializer to consider nil images
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/participatory_process_presenter.rb
  decidim-participatory_processes/spec/presenters/decidim/participatory_processes/participatory_process_presenter_spec.rb
Labels: backport, module: participatory processes, type: fix

#7615 Fix process serializer to consider nil images
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/participatory_process_presenter.rb
  decidim-participatory_processes/spec/presenters/decidim/participatory_processes/participatory_process_presenter_spec.rb
Labels: backport, module: participatory processes, type: fix

#7610 Backport proposal imports fix to 0.23
  decidim-proposals/app/services/decidim/proposals/proposal_builder.rb
  decidim-proposals/db/migrate/20210127115628_fix_answered_proposals_after_copy.rb
Labels: backport, module: proposals, type: fix

#7596 Add render space to cache hash
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_m_cell_spec.rb
Labels: module: proposals, type: fix

#7624 Make category in the API non-mandatory
  decidim-core/lib/decidim/api/interfaces/categorizable_interface.rb
  decidim-core/lib/decidim/core/test/shared_examples/categorizable_interface_examples.rb
  decidim-proposals/spec/types/proposals_type_spec.rb
Labels: graphql-api, module: core, type: fix

#7625 Make category in the API non-mandatory
  decidim-core/lib/decidim/api/categorizable_interface.rb
  decidim-core/lib/decidim/core/test/shared_examples/categorizable_interface_examples.rb
  decidim-proposals/spec/types/proposals_type_spec.rb
Labels: backport, graphql-api, module: core, type: fix

#7626 Make category in the API non-mandatory
  decidim-core/lib/decidim/api/interfaces/categorizable_interface.rb
  decidim-core/lib/decidim/core/test/shared_examples/categorizable_interface_examples.rb
  decidim-proposals/spec/types/proposals_type_spec.rb
Labels: backport, graphql-api, module: core, type: fix

#7545 Ability to administrate the elements from menus
  CHANGELOG.md
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-assemblies/lib/decidim/assemblies/admin_engine.rb
  decidim-assemblies/lib/decidim/assemblies/engine.rb
  decidim-conferences/lib/decidim/conferences/admin_engine.rb
  decidim-conferences/lib/decidim/conferences/engine.rb
  decidim-consultations/lib/decidim/consultations/admin_engine.rb
  decidim-consultations/lib/decidim/consultations/engine.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/menu.rb
  decidim-core/lib/decidim/menu_item.rb
  decidim-core/spec/presenters/decidim/inline_menu_presenter_spec.rb
  decidim-core/spec/presenters/decidim/menu_item_presenter_spec.rb
  decidim-core/spec/presenters/decidim/menu_presenter_spec.rb
  decidim-elections/lib/decidim/elections/admin_engine.rb
  decidim-elections/lib/decidim/elections/trustee_zone_engine.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-elections/lib/decidim/votings/engine.rb
  decidim-elections/lib/decidim/votings/polling_officer_zone_engine.rb
  decidim-initiatives/lib/decidim/initiatives/admin_engine.rb
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/admin_engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-system/lib/decidim/system/engine.rb
  decidim-templates/lib/decidim/templates/admin_engine.rb
  docs/modules/customize/assets/images/modified_user_menu.png
  docs/modules/customize/assets/images/original_user_menu.png
  docs/modules/customize/pages/menu.adoc
Labels: module: core, type: change

#7630 Improve proposals listing performance after cache implementation
  decidim-assemblies/db/migrate/20210310120444_add_followable_counter_cache_to_assemblies.rb
  decidim-blogs/db/migrate/20210310120514_add_followable_counter_cache_to_blogs.rb
  decidim-budgets/db/migrate/20210310120613_add_followable_counter_cache_to_budgets.rb
  decidim-conferences/db/migrate/20210310134942_add_followable_counter_cache_to_conferences.rb
  decidim-consultations/db/migrate/20210310120626_add_followable_counter_cache_to_consultations.rb
  decidim-core/app/models/decidim/follow.rb
  decidim-core/db/migrate/20210310120640_add_followable_counter_cache_to_users.rb
  decidim-core/lib/decidim/followable.rb
  decidim-core/spec/commands/decidim/create_follow_spec.rb
  decidim-core/spec/commands/decidim/delete_follow_spec.rb
  decidim-debates/db/migrate/20210310120652_add_followable_counter_cache_to_debates.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/component.rb
  decidim-elections/db/migrate/20210310120708_add_followable_counter_cache_to_votings.rb
  decidim-initiatives/db/migrate/20210310120720_add_followable_counter_cache_to_initiatives.rb
  decidim-meetings/db/migrate/20210310120731_add_followable_counter_cache_to_meetings.rb
  decidim-participatory_processes/db/migrate/20210310120750_add_followable_counter_cache_to_participatory_processes.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
  decidim-proposals/db/migrate/20210310102839_add_followable_counter_cache_to_proposals.rb
  decidim-proposals/db/migrate/20210310120812_add_followable_counter_cache_to_collaborative_drafts.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_m_cell_spec.rb
Labels: backport, module: proposals, type: fix

#7611 See remaining time for voting in election
  decidim-elections/app/assets/javascripts/decidim/votings/voting-description-cell.js.es6
  decidim-elections/app/assets/stylesheets/decidim/votings/votings/_voting-description-cell.scss
  decidim-elections/app/cells/decidim/elections/election_m/tags.erb
  decidim-elections/app/cells/decidim/elections/remaining_time_callout/show.erb
  decidim-elections/app/cells/decidim/elections/remaining_time_callout_cell.rb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/description/show.erb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/description_cell.rb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/elections/single.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/cells/decidim/elections/election_m_cell_spec.rb
Labels: contract: e-voting, module: elections, type: feature

#7634 Do not crash if mandatory fields are blank and registrations are enabled
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_registrations_form.rb
  decidim-meetings/spec/controllers/decidim/meetings/admin/registrations_controller_spec.rb
  decidim-meetings/spec/forms/admin/meeting_registrations_form_spec.rb
Labels: module: meetings, type: fix

#7635 Don't copy counters when copying proposals
  decidim-proposals/app/services/decidim/proposals/proposal_builder.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/import_proposals_spec.rb
Labels: module: proposals, type: fix

#7636 Do not crash if mandatory fields are blank and registrations are enabled
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_registrations_form.rb
  decidim-meetings/spec/controllers/decidim/meetings/admin/registrations_controller_spec.rb
  decidim-meetings/spec/forms/admin/meeting_registrations_form_spec.rb
Labels: backport, module: meetings, type: fix

#7637 Show processes finishing today
  decidim-participatory_processes/app/models/decidim/participatory_process.rb
  decidim-participatory_processes/spec/models/decidim/participatory_process_spec.rb
Labels: backport, module: participatory processes, type: fix

#7640 Don't copy counters when copying proposals
  decidim-proposals/app/services/decidim/proposals/proposal_builder.rb
  decidim-proposals/db/migrate/20210318082934_fix_counters_for_copied_proposals.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/import_proposals_spec.rb
Labels: backport, module: proposals, type: fix

#7642 Fix rendering of proposals in map
  decidim-proposals/app/helpers/decidim/proposals/map_helper.rb
  decidim-proposals/spec/helpers/map_helper_spec.rb
Labels: module: proposals, type: fix

#7644 Fix rendering of proposals in map
  decidim-proposals/app/helpers/decidim/proposals/map_helper.rb
  decidim-proposals/spec/helpers/map_helper_spec.rb
Labels: backport, module: proposals, type: fix

#7645 Fix rendering of proposals in map
  decidim-proposals/app/helpers/decidim/proposals/map_helper.rb
  decidim-proposals/spec/helpers/map_helper_spec.rb
Labels: backport, module: proposals, type: fix

#7649 Refactor map functionality regarding the drag marker maps
  decidim-core/app/assets/javascripts/decidim/map.js.es6
  decidim-core/app/assets/javascripts/decidim/map/controller.js.es6
  decidim-core/app/assets/javascripts/decidim/map/controller/drag_marker.es6
  decidim-core/app/assets/javascripts/decidim/map/controller/markers.js.es6
  decidim-core/app/assets/javascripts/decidim/map/factory.js.es6
  decidim-core/app/assets/javascripts/decidim/map/integration/forms.js.es6
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/polling_stations/map.erb
  decidim-proposals/app/helpers/decidim/proposals/map_helper.rb
  decidim-proposals/app/views/decidim/proposals/proposals/preview.html.erb
  decidim-proposals/spec/helpers/map_helper_spec.rb
Labels: target: developer-experience

#7648 Fit the map properly on mobile screens with multiple markers
  decidim-core/app/assets/javascripts/decidim/map/controller/markers.js.es6
Labels: module: core, type: fix

#7639 Don't copy counters when copying proposals
  decidim-proposals/app/services/decidim/proposals/proposal_builder.rb
  decidim-proposals/db/migrate/20210318082934_fix_counters_for_copied_proposals.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/import_proposals_spec.rb
Labels: backport, module: proposals, type: fix

#7638 Add missing migration to fix counters in copied proposals
  decidim-proposals/db/migrate/20210318082934_fix_counters_for_copied_proposals.rb
Labels: module: proposals, type: fix

#7652 Lint file
  decidim-proposals/db/migrate/20210318082934_fix_counters_for_copied_proposals.rb
Labels: target: developer-experience

#7658 Add proper ARIA roles for header and footer
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
Labels: module: core, type: feature

#7656 Remove custom focus outlines/backgrounds from the comments elements
  decidim-core/app/assets/stylesheets/decidim/modules/_comments.scss
Labels: module: comments, type: feature

#7657 Fix comments opinion toggle accessibility
  decidim-comments/app/assets/javascripts/decidim/comments/comments.component.js.es6
  decidim-comments/app/assets/javascripts/decidim/comments/comments.component.test.js
  decidim-comments/app/cells/decidim/comments/comments/add_comment.erb
  decidim-comments/config/locales/en.yml
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: module: comments, type: fix

#7655 Make API commentable mutation translation attributes optional
  decidim-comments/lib/decidim/comments/mutation_extensions.rb
  decidim-comments/spec/types/mutation_type_spec.rb
Labels: module: comments, type: change

#7660 Show all proposals in map
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/views/decidim/proposals/proposals/index.html.erb
  decidim-proposals/spec/controllers/decidim/proposals/proposals_controller_spec.rb
Labels: module: proposals, type: fix

#7678 Show all proposals in map (#7660)
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/views/decidim/proposals/proposals/index.html.erb
  decidim-proposals/spec/controllers/decidim/proposals/proposals_controller_spec.rb
Labels: backport, module: proposals, type: fix

#7664 Fix the missing aria-controls element on pages with comments
  decidim-comments/app/assets/javascripts/decidim/comments/comments.component.test.js
  decidim-comments/app/cells/decidim/comments/comments/order_control.erb
Labels: module: comments, type: fix

#7665 Add reason fieldset to the report modal for accessibility
  decidim-core/app/cells/decidim/flag_modal/show.erb
  decidim-core/config/locales/en.yml
Labels: module: core, type: feature

#7666 Add aria-atomic="true" to the alert role elements
  decidim-comments/app/assets/javascripts/decidim/comments/comments.component.test.js
  decidim-comments/app/cells/decidim/comments/comments/add_comment.erb
  decidim-core/app/helpers/concerns/decidim/flash_helper_extensions.rb
Labels: module: comments, module: core, type: feature

#7631 Fix announcement cell heading
  decidim-core/app/cells/decidim/announcement/show.erb
Labels: module: core, type: change

#7681 Don't show deleted users on user group members page
  decidim-core/app/models/decidim/user_group.rb
  decidim-core/app/queries/decidim/user_groups/accepted_memberships.rb
  decidim-core/app/queries/decidim/user_groups/admin_memberships.rb
  decidim-core/app/queries/decidim/user_groups/member_memberships.rb
  decidim-core/spec/queries/decidim/user_groups/accepted_memberships_spec.rb
  decidim-core/spec/queries/decidim/user_groups/admin_memberships_spec.rb
  decidim-core/spec/queries/decidim/user_groups/member_memberships_spec.rb
Labels: module: core, type: fix

#7672 Fix puffing-billy timeout error when stopping the event machine
  decidim-dev/lib/decidim/dev/test/rspec_support/puffing_billy.rb
Labels: target: developer-experience

#7065 Display map and link for hybrid meetings
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
Labels: module: meetings, type: feature

#7677 Show all proposals in map (#7660)
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/views/decidim/proposals/proposals/index.html.erb
  decidim-proposals/spec/controllers/decidim/proposals_controller_spec.rb
Labels: backport, module: proposals, type: fix

#7641 Don't overwrite mailer reply_to
  decidim-core/app/mailers/decidim/application_mailer.rb
  decidim-core/spec/mailers/application_mailer_spec.rb
  decidim-dev/app/mailers/decidim/dummy_resources/dummy_resource_mailer.rb
Labels: module: core, type: fix

#7673 Fix map preview when there is no address
  decidim-proposals/app/helpers/decidim/proposals/map_helper.rb
  decidim-proposals/spec/shared/proposals_wizards_examples.rb
Labels: module: proposals, type: fix

#7684 Don't render a moderation when its reportable is deleted
  decidim-admin/app/views/decidim/admin/moderations/index.html.erb
  decidim-admin/lib/decidim/admin/test/manage_moderations_examples.rb
Labels: module: admin, type: fix

#7685 Show newer meetings first
  decidim-meetings/app/controllers/decidim/meetings/admin/application_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/meetings_controller.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
Labels: module: meetings, type: fix

#7686 Only show moderations from current organization in Global Moderation panel
  decidim-admin/app/controllers/concerns/decidim/admin/global_moderation_context.rb
  decidim-admin/lib/decidim/admin/test/manage_moderations_examples.rb
Labels: module: admin, type: fix

#7688 Don't send emails to deleted users
  decidim-core/app/mailers/concerns/decidim/localised_mailer.rb
  decidim-core/app/mailers/decidim/notification_mailer.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/localised_email.rb
  decidim-core/lib/decidim/core/test/shared_examples/user_localised_email_examples.rb
  decidim-meetings/spec/mailers/registration_mailer_spec.rb
Labels: module: core, type: fix

#7693 Don't run all jobs on every PR
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public_1.yml
  .github/workflows/ci_proposals_system_public_2.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/dependencies.sh
  docs/modules/develop/pages/testing.adoc
Labels: target: developer-experience

#7679 Fix initiative-m card hashtags
  decidim-initiatives/app/cells/decidim/initiatives/initiative_m/tags.erb
  decidim-initiatives/spec/cells/decidim/initiatives/initiative_m_cell_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/initiatives_controller_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/initiatives_controller_spec.rb
Labels: module: initiatives, type: fix

#7698 Fix the screen reader class name for comments opinion toggle
  decidim-comments/app/cells/decidim/comments/comments/add_comment.erb
Labels: module: comments, type: fix

#7696 Fix link to CONTRIBUTING.adoc in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: target: developer-experience

#7695 Fix link to "Getting started guide" in README.adoc
  README.adoc
Labels: target: developer-experience

#7680 Ensure pagination elements per page is a valid option
  decidim-core/app/controllers/concerns/decidim/paginable.rb
  decidim-proposals/spec/controllers/decidim/proposals/proposals_controller_spec.rb
Labels: module: core, type: fix

#7701 Bump mimemagic to 0.3.6
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience

#7651 Fit the map properly on mobile screens with multiple markers
  decidim-core/app/assets/javascripts/decidim/map/controller/markers.js.es6
Labels: backport, module: core, type: fix

#7700 Backports to 0.24
  Gemfile.lock
  decidim-admin/app/assets/javascripts/decidim/admin/application.js.es6
  decidim-admin/app/controllers/concerns/decidim/admin/global_moderation_context.rb
  decidim-admin/app/views/decidim/admin/moderations/index.html.erb
  decidim-admin/lib/decidim/admin/test/manage_moderations_examples.rb
  decidim-core/app/assets/javascripts/decidim.js.es6
  decidim-core/app/assets/javascripts/decidim/gallery.js.es6
  decidim-core/app/cells/decidim/announcement_cell.rb
  decidim-core/app/controllers/concerns/decidim/paginable.rb
  decidim-core/app/mailers/concerns/decidim/localised_mailer.rb
  decidim-core/app/mailers/decidim/notification_mailer.rb
  decidim-core/app/models/decidim/user_group.rb
  decidim-core/app/queries/decidim/user_groups/accepted_memberships.rb
  decidim-core/app/queries/decidim/user_groups/admin_memberships.rb
  decidim-core/app/queries/decidim/user_groups/member_memberships.rb
  decidim-core/app/views/decidim/reported_mailer/report.html.erb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/localised_email.rb
  decidim-core/lib/decidim/core/test/shared_examples/user_localised_email_examples.rb
  decidim-core/spec/cells/decidim/announcement_cell_spec.rb
  decidim-core/spec/mailers/reported_mailer_spec.rb
  decidim-core/spec/queries/decidim/user_groups/accepted_memberships_spec.rb
  decidim-core/spec/queries/decidim/user_groups/admin_memberships_spec.rb
  decidim-core/spec/queries/decidim/user_groups/member_memberships_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/cell_matchers.rb
  decidim-generators/Gemfile.lock
  decidim-initiatives/app/cells/decidim/initiatives/initiative_m/tags.erb
  decidim-initiatives/spec/cells/decidim/initiatives/initiative_m_cell_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/initiatives_controller_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/initiatives_controller_spec.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/application_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/meetings_controller.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/spec/mailers/registration_mailer_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
  decidim-proposals/app/commands/decidim/proposals/update_proposal.rb
  decidim-proposals/app/helpers/decidim/proposals/map_helper.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_edit_form_fields.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/edit.html.erb
  decidim-proposals/spec/commands/decidim/proposals/update_proposal_spec.rb
  decidim-proposals/spec/controllers/decidim/proposals/proposals_controller_spec.rb
  decidim-proposals/spec/shared/proposals_wizards_examples.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
  decidim_app-design/Gemfile.lock
Labels: backport

#7627 Use comments counter cache instead of additional query
  decidim-budgets/lib/decidim/budgets/project_serializer.rb
  decidim-comments/app/cells/decidim/comments/comments_cell.rb
  decidim-comments/app/controllers/decidim/comments/comments_controller.rb
  decidim-core/app/cells/decidim/author/comments.erb
Labels: module: budgets, module: comments, module: core, type: feature

#7675 Fix validations for registration related fields in Conference form
  decidim-conferences/app/forms/decidim/conferences/admin/conference_form.rb
  decidim-conferences/spec/forms/conference_form_spec.rb
Labels: module: conferences, type: fix

#7707 Fix the aria attribute names (no `aria` prefix)
  decidim-comments/app/assets/javascripts/decidim/comments/comments.component.test.js
  decidim-comments/app/cells/decidim/comments/comments/add_comment.erb
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
Labels: module: comments, module: core, type: fix

#7708 Fix dropdown menu accessibility audits
  decidim-core/app/views/decidim/shared/_orders.html.erb
  decidim-core/app/views/decidim/shared/_results_per_page.html.erb
  decidim-core/app/views/layouts/decidim/_language_chooser.html.erb
  decidim-core/app/views/layouts/decidim/_user_menu.html.erb
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
Labels: module: core, type: fix

#7710 Fix heading order on the home page
  decidim-core/app/cells/decidim/content_blocks/how_to_participate/show.erb
Labels: module: core, type: fix

#7709 Add accessibility labels to the `<nav>` menus
  decidim-admin/app/helpers/decidim/admin/menu_helper.rb
  decidim-core/app/helpers/decidim/menu_helper.rb
  decidim-core/app/presenters/decidim/menu_presenter.rb
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
  decidim-core/config/locales/en.yml
  decidim-system/app/helpers/decidim/system/menu_helper.rb
Labels: module: admin, module: core, module: system, type: feature

#7718 Bump mimemagic to 0.3.6 (#7701)
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: backport, target: developer-experience

#7699 Fix a series of issues with proposal attachments in the public area
  decidim-admin/app/assets/javascripts/decidim/admin/application.js.es6
  decidim-core/app/assets/javascripts/decidim.js.es6
  decidim-core/app/assets/javascripts/decidim/gallery.js.es6
  decidim-proposals/app/commands/decidim/proposals/update_proposal.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_edit_form_fields.html.erb
  decidim-proposals/spec/commands/decidim/proposals/update_proposal_spec.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
Labels: module: proposals, type: fix

#7689 Fix form builder assuming proposals module availability
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/lib/form_builder_spec.rb
Labels: module: core, target: developer-experience

#7683 Fix report mailers when author is a meeting
  decidim-core/app/views/decidim/reported_mailer/report.html.erb
  decidim-core/spec/mailers/reported_mailer_spec.rb
Labels: module: core, type: fix

#7753 Bump mimemagic to 0.3.9
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience

#7690 Move core dependencies from the proposals module to the core
  Gemfile.lock
  decidim-accountability/decidim-accountability.gemspec
  decidim-blogs/decidim-blogs.gemspec
  decidim-budgets/decidim-budgets.gemspec
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core/engine.rb
  decidim-debates/decidim-debates.gemspec
  decidim-generators/Gemfile.lock
  decidim-initiatives/decidim-initiatives.gemspec
  decidim-meetings/decidim-meetings.gemspec
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-proposals/decidim-proposals.gemspec
  decidim-proposals/lib/decidim/proposals.rb
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim_app-design/Gemfile.lock
  docs/modules/develop/pages/view_models_aka_cells.adoc
Labels: target: developer-experience

#7741 Accessibility fixes for comments
  decidim-comments/app/cells/decidim/comments/comments/add_comment.erb
  decidim-comments/app/cells/decidim/comments/comments/order_control.erb
  decidim-comments/app/cells/decidim/comments/comments/show.erb
Labels: module: comments, type: fix

#7742 Add aria-label to the free search field in the search filters
  decidim-budgets/app/views/decidim/budgets/projects/_filters.html.erb
  decidim-consultations/app/views/decidim/consultations/consultations/_filters.html.erb
  decidim-debates/app/views/decidim/debates/debates/_filters.html.erb
  decidim-elections/app/views/decidim/elections/elections/_filters.html.erb
  decidim-elections/app/views/decidim/votings/votings/_filters.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_filters.html.erb
  decidim-meetings/app/views/decidim/meetings/directory/meetings/index.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_filters.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_filters.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_filters.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_filters.html.erb
Labels: type: fix

#7743 Add aria-label to the area filter on participatory space pages
  decidim-core/app/views/decidim/shared/participatory_space_filters/_filters.html.erb
  decidim-core/lib/decidim/filter_form_builder.rb
Labels: type: fix

#7744 Fix HTML validation on standalone content page
  decidim-core/app/views/decidim/pages/_standalone.html.erb
Labels: type: fix

#7738 Add a landmark ARIA role to the cookie banner
  decidim-core/app/views/layouts/decidim/_cookie_warning.html.erb
  decidim_app-design/app/views/public/partials/_cookie_bar.html.erb
Labels: type: fix

#7745 Accessibility fixes for conversations
  decidim-core/app/assets/stylesheets/decidim/modules/_conversation.scss
  decidim-core/app/views/decidim/messaging/conversations/_reply.html.erb
  decidim-core/app/views/decidim/messaging/conversations/_show.html.erb
  decidim-core/app/views/decidim/messaging/conversations/_start.html.erb
  decidim-core/config/locales/en.yml
Labels: type: fix

#7746 Fix report modal form accessibility
  decidim-core/app/cells/decidim/flag_modal/show.erb
Labels: type: fix

#7747 Validate the HTML for the account page
  decidim-core/app/views/decidim/account/show.html.erb
  decidim_app-design/app/views/public/user/user-settings.html.erb
Labels: type: fix

#7748 Fix color contrast against the sidebar navigation background
  decidim-core/app/assets/stylesheets/decidim/_variables.scss
Labels: type: fix

#7749 Remove the opacity from process upcoming/past/all filters for accessible contrast
  decidim-core/app/assets/stylesheets/decidim/modules/_order-by.scss
Labels: type: fix

#7750 Change the timeline date color for accessible color contrast against its background
  decidim-core/app/assets/stylesheets/decidim/modules/_timeline.scss
Labels: type: fix

#7703 Fix the date cell spec failing randomly close to day changes
  decidim-core/spec/cells/decidim/date_cell_spec.rb
Labels: target: developer-experience

#7732 Strip the `<p>` tags from inside the heading elements
  decidim-core/app/cells/decidim/content_blocks/sub_hero/show.erb
  decidim-core/app/cells/decidim/content_blocks/sub_hero_cell.rb
  decidim-core/spec/cells/decidim/content_blocks/sub_hero_cell_spec.rb
Labels: type: fix

#7682 Improve vote flow
  .prettierrc
  decidim-elections/app/assets/javascripts/decidim/elections/trustee/key_ceremony.js.es6
  decidim-elections/app/assets/javascripts/decidim/elections/trustee/tally.js.es6
  decidim-elections/app/assets/javascripts/decidim/elections/trustee/trustee_zone.js.es6
  decidim-elections/app/assets/javascripts/decidim/elections/voter/casting-vote.js.es6
  decidim-elections/app/assets/javascripts/decidim/elections/voter/new-vote.js.es6
  decidim-elections/app/assets/javascripts/decidim/elections/voter/setup-preview.js.es6
  decidim-elections/app/assets/javascripts/decidim/elections/voter/setup-vote.js.es6
  decidim-elections/app/assets/javascripts/decidim/elections/voter/verify-vote.js.es6
  decidim-elections/app/assets/javascripts/decidim/elections/voter/vote.js.es6
  decidim-elections/app/assets/javascripts/decidim/elections/voter/vote_questions.component.js.es6
  decidim-elections/app/assets/javascripts/decidim/votings/voting-description-cell.js.es6
  decidim-elections/app/cells/decidim/elections/election_vote_cta/show.erb
  decidim-elections/app/cells/decidim/elections/election_vote_cta_cell.rb
  decidim-elections/app/commands/decidim/elections/voter/cast_vote.rb
  decidim-elections/app/controllers/decidim/elections/votes_controller.rb
  decidim-elections/app/events/decidim/elections/votes/vote_accepted_event.rb
  decidim-elections/app/forms/decidim/elections/voter/verify_vote_form.rb
  decidim-elections/app/forms/decidim/elections/voter/vote_form.rb
  decidim-elections/app/views/decidim/elections/trustee_zone/elections/show.html.erb
  decidim-elections/app/views/decidim/elections/trustee_zone/trustees/show.html.erb
  decidim-elections/app/views/decidim/elections/votes/_election_votes_confirmed.html.erb
  decidim-elections/app/views/decidim/elections/votes/_election_votes_steps_header.html.erb
  decidim-elections/app/views/decidim/elections/votes/_focus_header.html.erb
  decidim-elections/app/views/decidim/elections/votes/_new_ballot_decision_step.html.erb
  decidim-elections/app/views/decidim/elections/votes/_new_confirm_step.html.erb
  decidim-elections/app/views/decidim/elections/votes/_new_confirm_step_footer.html.erb
  decidim-elections/app/views/decidim/elections/votes/_new_encrypting_step.html.erb
  decidim-elections/app/views/decidim/elections/votes/_new_question.html.erb
  decidim-elections/app/views/decidim/elections/votes/_new_question_modal.html.erb
  decidim-elections/app/views/decidim/elections/votes/_show_casted.html.erb
  decidim-elections/app/views/decidim/elections/votes/_show_casting.html.erb
  decidim-elections/app/views/decidim/elections/votes/_show_failed.html.erb
  decidim-elections/app/views/decidim/elections/votes/cast_failed.js.erb
  decidim-elections/app/views/decidim/elections/votes/cast_success.js.erb
  decidim-elections/app/views/decidim/elections/votes/new.html.erb
  decidim-elections/app/views/decidim/elections/votes/show.html.erb
  decidim-elections/app/views/decidim/elections/votes/verify.html.erb
  decidim-elections/app/views/layouts/decidim/_election_votes_header.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/elections/engine.rb
  decidim-elections/spec/commands/decidim/elections/voter/cast_vote_spec.rb
  decidim-elections/spec/events/decidim/elections/votes/vote_accepted_event_spec.rb
  decidim-elections/spec/forms/decidim/elections/voter/verify_vote_form_spec.rb
  decidim-elections/spec/forms/decidim/elections/voter/vote_form_spec.rb
Labels: contract: e-voting, module: elections

#7653 Add Conferences and Admin missing translations
  decidim-admin/config/locales/en.yml
  decidim-conferences/app/views/decidim/conferences/admin/conference_invites/index.html.erb
  decidim-conferences/app/views/decidim/conferences/admin/conference_registrations/index.html.erb
  decidim-conferences/config/locales/en.yml
Labels: module: admin, module: conferences, type: fix

#7702 Add admin missing translations
  decidim-admin/app/assets/javascripts/decidim/admin/application.js.es6
  decidim-admin/app/views/layouts/decidim/admin/_application.html.erb
  decidim-admin/app/views/layouts/decidim/admin/_js_configuration.html.erb
  decidim-core/config/locales/en.yml
  decidim-proposals/app/assets/javascripts/decidim/proposals/admin/proposals_form.js.es6
  decidim-proposals/spec/system/edit_collaborative_draft_spec.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
  decidim-proposals/spec/system/new_proposals_spec.rb
Labels: module: admin, type: fix

#7759 fix elections js assets manifest
  decidim-elections/app/assets/config/decidim_elections_manifest.js
Labels: type: fix

#7751 Add automated accessibility audit + HTML validation to CI pipeline
  Gemfile.lock
  decidim-core/spec/system/account_spec.rb
  decidim-core/spec/system/homepage_spec.rb
  decidim-core/spec/system/messaging/conversations_spec.rb
  decidim-core/spec/system/static_pages_spec.rb
  decidim-dev/decidim-dev.gemspec
  decidim-dev/lib/decidim/dev/test/rspec_support/accessibility_examples.rb
  decidim-dev/lib/decidim/dev/test/spec_helper.rb
  decidim-generators/Gemfile.lock
  decidim-pages/spec/system/page_show_spec.rb
  decidim-participatory_processes/spec/system/participatory_process_steps_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience

#7760 Add HTML escaping to the spec expectations as the strings are escaped
  decidim-comments/spec/events/decidim/comments/user_group_mentioned_event_spec.rb
Labels: target: developer-experience

#7755 Do not modify the controller class in the controller tests that render views
  decidim-core/lib/decidim/core/test/shared_examples/controller_render_views.rb
Labels: target: developer-experience

#7772 Fix trustees admin menu
  decidim-assemblies/app/views/layouts/decidim/admin/assembly.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/lib/decidim/assemblies/admin_engine.rb
  decidim-elections/app/views/layouts/decidim/admin/voting.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/elections/admin_engine.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-elections/spec/system/admin/admin_manages_trustees_spec.rb
  decidim-initiatives/app/views/layouts/decidim/admin/initiative.html.erb
  decidim-initiatives/lib/decidim/initiatives/admin_engine.rb
Labels: module: elections
