Repository decidim/decidim, pull requests merged in 2021-12, with the labels that each got.

#8578 Backport "Fix various proposal picker issues when there are thousands of proposals" to v0.25
  decidim-proposals/app/cells/decidim/proposals/proposals_picker_cell.rb
  decidim-proposals/app/packs/src/decidim/proposals/admin/proposals_picker.js
Labels: module: proposals, module: meetings, backport, type: fix

#8597 Temporarily ignore CSS validation issue in CI
  decidim-dev/lib/decidim/dev/test/spec_helper.rb
  decidim-dev/lib/decidim/dev/test/w3c_rspec_validators_overrides.rb
Labels: target: developer-experience

#8430 Fix the meeting copy functionality
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_copy_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/base_meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/meeting_form.rb
  decidim-meetings/app/packs/src/decidim/meetings/admin/meetings_form.js
  decidim-meetings/app/views/decidim/meetings/admin/meeting_copies/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meeting_copies/new.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/forms/admin/meeting_copy_form_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_copy_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
Labels: in-review, module: meetings, type: fix

#8574 Move social login buttons to the top of the login modal
  decidim-core/app/packs/stylesheets/decidim/extras/_extras.scss
  decidim-core/app/packs/stylesheets/decidim/extras/_social_icons_mini.scss
  decidim-core/app/packs/stylesheets/decidim/modules/_buttons.scss
  decidim-core/app/views/decidim/devise/shared/_omniauth_buttons_mini.html.erb
  decidim-core/app/views/decidim/shared/_login_modal.html.erb
Labels: module: core, team: design, type: fix

#8559 Add cache key separator to cache_hash
  decidim-core/app/cells/decidim/activity_cell.rb
  decidim-core/app/cells/decidim/content_blocks/hero_cell.rb
  decidim-core/app/cells/decidim/content_blocks/last_activity_cell.rb
  decidim-core/lib/decidim/core.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
Labels: target: developer-experience

#8592 Add search, filters and sorting to admin panel budget projects
  decidim-admin/app/helpers/decidim/admin/resource_scope_helper.rb
  decidim-budgets/app/controllers/concerns/decidim/budgets/admin/filterable.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/projects_controller.rb
  decidim-budgets/app/helpers/decidim/budgets/admin/filterable_helper.rb
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-budgets/app/views/decidim/budgets/admin/projects/index.html.erb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/spec/system/admin_filters_searches_and_paginates_projects_spec.rb
  decidim-budgets/spec/system/admin_orders_projects_spec.rb
Labels: module: budgets, type: feature

#8511 Fix HTML injection in comments and meeting's description
  decidim-comments/app/cells/decidim/comments/comment_cell.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-comments/spec/models/comment_spec.rb
  decidim-core/app/helpers/decidim/sanitize_helper.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_m_cell.rb
  decidim-meetings/app/cells/decidim/meetings/public_participants_list_cell.rb
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/helpers/decidim/meetings/meetings_helper.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/spec/presenters/decidim/meetings/meeting_presenter_spec.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/app/presenters/decidim/proposals/proposal_presenter.rb
Labels: team: security, module: meetings, module: comments, type: fix

#8605 Backport "Temporarily ignore CSS validation issue in CI" to v0.25
  decidim-dev/lib/decidim/dev/test/spec_helper.rb
  decidim-dev/lib/decidim/dev/test/w3c_rspec_validators_overrides.rb
Labels: target: developer-experience, backport

#8606 Backport "Change default window size in Capybara configuration" to v0.25
  .github/workflows/ci_meetings_system_public.yml
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara.rb
  decidim-participatory_processes/spec/shared/manage_process_steps_examples.rb
  decidim-proposals/spec/system/amendable/amendment_wizard_spec.rb
Labels: target: developer-experience, backport

#8601 Backport "Fix the meeting copy functionality" to v0.25
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_copy_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/base_meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/meeting_form.rb
  decidim-meetings/app/packs/src/decidim/meetings/admin/meetings_form.js
  decidim-meetings/app/views/decidim/meetings/admin/meeting_copies/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meeting_copies/new.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/forms/admin/meeting_copy_form_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_copy_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
Labels: module: meetings, backport, type: fix

#8609 Update nokogiri to 1.12.5
  Gemfile.lock
  decidim-dev/decidim-dev.gemspec
  decidim-generators/Gemfile.lock
  decidim-proposals/decidim-proposals.gemspec
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience, dependencies

#8608 Update paper_trail to 12.1
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience, dependencies

#8593 Improve generation of the opendata export
  decidim-core/app/services/decidim/open_data_exporter.rb
Labels: type: enhancement, module: core, team: performance

#8537 Change user workflows to prevent user enumeration attacks
  CHANGELOG.md
  decidim-core/config/initializers/devise.rb
  decidim-core/spec/system/authentication_spec.rb
Labels: target: user-experience, module: core

#8566 Add several cache keys to cells
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/highlighted_assemblies_cell.rb
  decidim-comments/app/cells/decidim/comments/comment_cell.rb
  decidim-comments/app/cells/decidim/comments/comment_form_cell.rb
  decidim-comments/app/cells/decidim/comments/edit_comment_modal_form_cell.rb
  decidim-conferences/app/cells/decidim/conferences/content_blocks/highlighted_conferences_cell.rb
  decidim-core/app/cells/decidim/author_cell.rb
  decidim-core/app/cells/decidim/content_blocks/stats_cell.rb
  decidim-core/app/cells/decidim/endorsers_list_cell.rb
  decidim-core/app/cells/decidim/flag_modal_cell.rb
  decidim-core/app/presenters/decidim/nil_presenter.rb
  decidim-core/db/migrate/20211126183540_add_timestamps_to_content_blocks.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/component.rb
  decidim-elections/app/cells/decidim/votings/content_blocks/highlighted_votings_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_list_item_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_m_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_s_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meetings_map_cell.rb
  decidim-meetings/app/controllers/decidim/meetings/directory/meetings_controller.rb
  decidim-meetings/app/services/decidim/meetings/meeting_search.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_processes_controller.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_m_cell_spec.rb
Labels: target: user-experience, module: proposals, team: performance

#8564 Describe the notifications' time with words
  config/i18n-tasks.yml
  decidim-core/app/cells/decidim/notification/show.erb
  decidim-core/app/cells/decidim/notification_cell.rb
  decidim-core/app/cells/decidim/notifications/show.erb
  decidim-core/app/cells/decidim/notifications_cell.rb
  decidim-core/app/presenters/decidim/notification_presenter.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/presenters/decidim/notification_presenter_spec.rb
Labels: module: core, contract: PWA

#8613 Rename index to avoid conflicts with decidim_awesome module migrations
  decidim-core/db/migrate/20210730112319_create_decidim_editor_images.rb
Labels: module: core, contract: online-meetings, type: fix

#8598 Fix group mentions in notifications
  decidim-comments/app/services/decidim/comments/new_comment_notification_creator.rb
  decidim-comments/spec/events/decidim/comments/user_group_mentioned_event_spec.rb
  decidim-comments/spec/services/decidim/comments/new_comment_notification_creator_spec.rb
  decidim-core/lib/decidim/events/user_group_event.rb
  decidim-core/spec/system/notifications_spec.rb
Labels: module: core, contract: PWA

#8629 Update ruby to 2.7.5
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public_1.yml
  .github/workflows/ci_proposals_system_public_2.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
  .ruby-version
  Dockerfile.design
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
  docs/modules/install/pages/manual.adoc
Labels: target: developer-experience, dependencies

#8507 Remove truncato dependency
  Gemfile.lock
  decidim-core/app/helpers/decidim/application_helper.rb
  decidim-core/app/services/decidim/html_truncation.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/services/decidim/html_truncation_spec.rb
  decidim-generators/Gemfile.lock
  decidim-proposals/spec/helpers/map_helper_spec.rb
  decidim_app-design/Gemfile.lock
Labels: in-review, target: developer-experience

#8575 Change figaro to rbenv-vars in "manual installation" documentation
  docs/modules/install/pages/manual.adoc
Labels: team: documentation

#8618 Add instructions PostgreSQL configuration in development app
  docs/modules/develop/pages/guide_development_app.adoc
Labels: team: documentation

#8632 Fix etherpad doc reference in initializer
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  docs/antora.yml
  docs/modules/install/pages/manual.adoc
Labels: team: documentation

#8607 Add link to comments in Notifications
  decidim-comments/app/events/decidim/comments/comment_event.rb
  decidim-comments/spec/events/decidim/comments/comment_by_followed_user_event_spec.rb
  decidim-comments/spec/events/decidim/comments/comment_by_followed_user_group_event_spec.rb
  decidim-comments/spec/events/decidim/comments/comment_created_event_spec.rb
  decidim-comments/spec/events/decidim/comments/reply_created_event_spec.rb
  decidim-comments/spec/events/decidim/comments/user_group_mentioned_event_spec.rb
  decidim-comments/spec/events/decidim/comments/user_mentioned_event_spec.rb
  decidim-comments/spec/services/decidim/comments/new_comment_notification_creator_spec.rb
Labels: module: core, module: comments, contract: PWA

#8541 Remove etherpad-lite dependency
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/etherpad.rb
  decidim-core/lib/decidim/etherpad/pad.rb
  decidim-core/lib/decidim/paddable.rb
  decidim-core/spec/cells/decidim/pad_iframe_cell_spec.rb
  decidim-core/spec/lib/etherpad/pad_spec.rb
  decidim-core/spec/lib/paddable_spec.rb
  decidim-generators/Gemfile.lock
  decidim-meetings/spec/models/meeting_spec.rb
  decidim_app-design/Gemfile.lock
Labels: in-review, target: developer-experience

#8628 Change colors on mobile navigation bar
  decidim-admin/app/commands/decidim/admin/update_organization_appearance.rb
  decidim-admin/app/forms/decidim/admin/organization_appearance_form.rb
  decidim-admin/app/views/decidim/admin/organization_appearance/form/_colors.html.erb
  decidim-admin/spec/system/admin_manages_organization_appearance_spec.rb
  decidim-core/app/views/layouts/decidim/_head.html.erb
Labels: in-review, module: core, type: feature

#8603 Add author to proposals in notifications
  decidim-proposals/app/events/decidim/proposals/publish_proposal_event.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/events/decidim/proposals/publish_proposal_event_spec.rb
Labels: module: proposals, module: core, contract: PWA

#8644 Clarifies git branches conventions in doc
  docs/modules/develop/pages/guide_conventions.adoc
Labels: team: documentation

#8582 Fix surveys exports with free text in multiple option
  decidim-forms/app/presenters/decidim/forms/admin/questionnaire_answer_presenter.rb
  decidim-forms/lib/decidim/forms/test/factories.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaire_answers.rb
  decidim-forms/lib/decidim/forms/user_answers_serializer.rb
  decidim-forms/spec/presenters/decidim/admin/questionnaire_answer_presenter_spec.rb
  decidim-forms/spec/serializers/decidim/forms/user_answers_serializer_spec.rb
  decidim-meetings/spec/serializers/registration_serializer_spec.rb
Labels: module: surveys, module: forms, type: fix

#8635 Fix reply to a conversation with deleted participants
  decidim-core/app/cells/decidim/user_conversation/show.erb
  decidim-core/app/models/decidim/messaging/conversation.rb
  decidim-core/app/views/decidim/messaging/conversations/show.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/models/decidim/messaging/conversation_spec.rb
Labels: module: core, type: fix

#8643 Fix Rack::Attack initializer custom parameter configuration
  decidim-core/config/initializers/rack_attack.rb
Labels: module: core, target: developer-experience, type: fix

#8650 Fix consistency in creation actions phrasing: "Participants can create XXX"
  decidim-debates/config/locales/en.yml
  decidim-proposals/config/locales/en.yml
Labels: module: proposals, module: admin, module: debates, type: fix

#8174 Allow participants to receive translated content by email
  decidim-comments/app/events/decidim/comments/comment_event.rb
  decidim-comments/app/events/decidim/comments/comment_voted_event.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-comments/lib/decidim/comments/test.rb
  decidim-comments/lib/decidim/comments/test/shared_examples/translatable_comment.rb
  decidim-comments/spec/events/decidim/comments/comment_by_followed_user_event_spec.rb
  decidim-comments/spec/events/decidim/comments/comment_by_followed_user_group_event_spec.rb
  decidim-comments/spec/events/decidim/comments/comment_created_event_spec.rb
  decidim-comments/spec/events/decidim/comments/comment_downvoted_event_spec.rb
  decidim-comments/spec/events/decidim/comments/comment_upvoted_event_spec.rb
  decidim-comments/spec/events/decidim/comments/reply_created_event_spec.rb
  decidim-comments/spec/events/decidim/comments/user_group_mentioned_event_spec.rb
  decidim-comments/spec/events/decidim/comments/user_mentioned_event_spec.rb
  decidim-core/app/services/decidim/email_notification_generator.rb
  decidim-core/app/views/decidim/notification_mailer/event_received.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/translated_event_examples.rb
  decidim-core/lib/decidim/events.rb
  decidim-core/lib/decidim/events/base_event.rb
  decidim-core/lib/decidim/events/machine_translated_event.rb
  decidim-core/lib/decidim/translatable_attributes.rb
  decidim-meetings/app/events/decidim/meetings/close_meeting_event.rb
  decidim-meetings/app/events/decidim/meetings/create_meeting_event.rb
  decidim-meetings/app/events/decidim/meetings/meeting_event.rb
  decidim-meetings/app/events/decidim/meetings/meeting_registrations_enabled_event.rb
  decidim-meetings/app/events/decidim/meetings/meeting_registrations_over_percentage_event.rb
  decidim-meetings/app/events/decidim/meetings/registration_code_validated_event.rb
  decidim-meetings/app/events/decidim/meetings/upcoming_meeting_event.rb
  decidim-meetings/app/events/decidim/meetings/update_meeting_event.rb
  decidim-meetings/lib/decidim/meetings/test/translated_event.rb
  decidim-meetings/spec/events/decidim/meetings/close_meeting_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/create_meeting_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/meeting_registrations_enabled_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/meeting_registrations_over_percentage_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/registration_code_validated_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/upcoming_meeting_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/update_meeting_event_spec.rb
  decidim-meetings/spec/spec_helper.rb
  decidim-proposals/app/events/decidim/proposals/proposal_mentioned_event.rb
  decidim-proposals/app/events/decidim/proposals/publish_proposal_event.rb
  decidim-proposals/spec/events/decidim/proposals/publish_proposal_event_spec.rb
Labels: module: proposals, module: core, module: meetings, module: comments, type: feature

#8641 Fix wrong display of deleted accounts in conversations
  decidim-core/app/cells/decidim/user_conversation/conversation_header.erb
  decidim-core/app/cells/decidim/user_conversations/conversation_item.erb
  decidim-core/app/helpers/decidim/messaging/conversation_helper.rb
  decidim-core/app/views/decidim/messaging/conversations/_conversation.html.erb
  decidim-core/app/views/decidim/messaging/conversations/_show.html.erb
  decidim-core/config/brakeman.ignore
  decidim-core/spec/helpers/decidim/messaging/conversation_helper_spec.rb
Labels: module: core, type: fix

#8612 Backport "Fix HTML injection in comments and meeting's description" to v0.25
  decidim-comments/app/cells/decidim/comments/comment_cell.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-comments/spec/models/comment_spec.rb
  decidim-core/app/helpers/decidim/sanitize_helper.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_m_cell.rb
  decidim-meetings/app/cells/decidim/meetings/public_participants_list_cell.rb
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/helpers/decidim/meetings/meetings_helper.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/spec/presenters/decidim/meetings/meeting_presenter_spec.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/app/presenters/decidim/proposals/proposal_presenter.rb
Labels: team: security, module: meetings, module: comments, backport, type: fix

#8654 Fix cache key on ActivityCell
  decidim-core/app/cells/decidim/activity_cell.rb
Labels: target: user-experience, module: core, team: performance, type: fix

#8655 Backport "Fix reply to a conversation with deleted participants" to v0.25
  decidim-core/app/cells/decidim/user_conversation/show.erb
  decidim-core/app/models/decidim/messaging/conversation.rb
  decidim-core/app/views/decidim/messaging/conversations/show.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/models/decidim/messaging/conversation_spec.rb
Labels: module: core, backport, type: fix

#8656 Backport "Fix cache key on ActivityCell" to v0.25
  decidim-core/app/cells/decidim/activity_cell.rb
Labels: target: user-experience, module: core, team: performance, backport, type: fix

#8653 Backport "Fix wrong display of deleted accounts in conversations" to v0.25
  decidim-core/app/cells/decidim/user_conversation/conversation_header.erb
  decidim-core/app/cells/decidim/user_conversations/conversation_item.erb
  decidim-core/app/helpers/decidim/messaging/conversation_helper.rb
  decidim-core/app/views/decidim/messaging/conversations/_conversation.html.erb
  decidim-core/app/views/decidim/messaging/conversations/_show.html.erb
  decidim-core/config/brakeman.ignore
  decidim-core/spec/helpers/decidim/messaging/conversation_helper_spec.rb
Labels: module: core, backport, type: fix

#8620 Add search, filters, pagination and sorting to moderated users
  decidim-admin/app/controllers/concerns/decidim/moderated_users/admin/filterable.rb
  decidim-admin/app/controllers/decidim/admin/moderated_users_controller.rb
  decidim-admin/app/views/decidim/admin/moderated_users/index.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/lib/decidim/admin/test/manage_paginated_collection_examples.rb
  decidim-admin/spec/system/admin_manage_moderated_users_spec.rb
Labels: module: admin, type: feature

#8664 Backport "Fix Rack::Attack initializer custom parameter configuration" to v0.25
  decidim-core/config/initializers/rack_attack.rb
Labels: module: core, target: developer-experience, backport, type: fix

#8651 Fix participatory groups leaks on other organizations/tenants
  decidim-dev/lib/decidim/dev/test/promoted_participatory_processes_shared_examples.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_process_groups_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_processes_controller.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/organization_promoted_participatory_process_groups.rb
  decidim-participatory_processes/spec/controllers/participatory_process_groups_controller_spec.rb
  decidim-participatory_processes/spec/controllers/participatory_processes_controller_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: module: participatory processes, type: fix

#8658 Fix blocked users appear in search
  CHANGELOG.md
  decidim-core/app/models/decidim/user.rb
  decidim-core/spec/services/decidim/searchable_user_resource_spec.rb
Labels: module: core, type: fix

#8588 Add "title and description" in surveys
  decidim-admin/app/packs/src/decidim/admin/dynamic_fields.component.js
  decidim-forms/app/forms/decidim/forms/admin/question_form.rb
  decidim-forms/app/models/decidim/forms/answer.rb
  decidim-forms/app/models/decidim/forms/question.rb
  decidim-forms/app/packs/src/decidim/forms/admin/forms.js
  decidim-forms/app/presenters/decidim/forms/admin/questionnaire_participant_presenter.rb
  decidim-forms/app/queries/decidim/forms/questionnaire_user_answers.rb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_form.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_title_and_description.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/_answer.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_title_and_description.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/show.html.erb
  decidim-forms/config/locales/en.yml
  decidim-forms/lib/decidim/forms/test/factories.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaires.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaires/add_questions.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaires/update_questions.rb
  decidim-forms/spec/cells/decidim/forms/question_readonly_cell_spec.rb
  decidim-forms/spec/presenters/decidim/admin/questionnaire_participant_presenter_spec.rb
  decidim-forms/spec/queries/decidim/forms/questionnaire_user_answers_spec.rb
  decidim-surveys/app/packs/stylesheets/decidim/surveys/_surveys.scss
Labels: type: enhancement, module: surveys

#8666 Backport "Fix blocked users appear in search" to v0.25
  CHANGELOG.md
  decidim-core/app/models/decidim/user.rb
  decidim-core/spec/services/decidim/searchable_user_resource_spec.rb
Labels: module: core, backport, type: fix
