Repository decidim/decidim, pull requests merged in 2021-07, with the labels that each got.

#8164 Backport "Fix access to import CSV results in accountability" to 0.24
  decidim-accountability/app/controllers/decidim/accountability/admin/import_results_controller.rb
  decidim-accountability/app/views/decidim/accountability/admin/import_results/new.html.erb
  decidim-accountability/spec/controllers/decidim/accountability/admin/import_results_controller_spec.rb
Labels: backport, in-review, module: accountability, type: fix

#8180 Docs: Update the module webpacker migration guide
  docs/modules/develop/pages/guide_migrate_webpacker_module.adoc
Labels: module: core, target: developer-experience, type: enhancement

#8183 Remove Sprockets dependant gems
  Gemfile
  Gemfile.lock
  decidim-admin/decidim-admin.gemspec
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-comments/decidim-comments.gemspec
  decidim-comments/lib/decidim/comments/engine.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core/engine.rb
  decidim-generators/Gemfile
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-system/decidim-system.gemspec
  decidim-system/lib/decidim/system/engine.rb
  decidim_app-design/Gemfile.lock
Labels: in-review, module: core, target: developer-experience, type: enhancement

#8143 Fix ordering of question matrix_rows in templates
  decidim-forms/app/commands/decidim/forms/admin/update_questionnaire.rb
  decidim-forms/app/forms/decidim/forms/admin/question_form.rb
  decidim-forms/app/forms/decidim/forms/admin/question_matrix_row_form.rb
  decidim-forms/app/models/decidim/forms/question_matrix_row.rb
  decidim-forms/app/packs/src/decidim/forms/admin/forms.js
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_matrix_row.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_question.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_matrix_multiple.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_matrix_single.html.erb
  decidim-forms/db/migrate/20210616153042_set_position_to_question_matrix_rows.rb
  decidim-forms/lib/decidim/forms/test/factories.rb
  decidim-forms/spec/commands/decidim/forms/admin/update_questionnaire_spec.rb
  decidim-forms/spec/forms/decidim/forms/admin/question_form_spec.rb
  decidim-forms/spec/forms/decidim/forms/admin/question_matrix_row_form_spec.rb
  decidim-surveys/lib/decidim/surveys/component.rb
  decidim-templates/db/seeds.rb
Labels: in-review, module: surveys, type: fix

#8176 Backport "Fix admin log blocked user name" to 0.24
  decidim-admin/app/commands/decidim/admin/block_user.rb
  decidim-admin/spec/commands/decidim/admin/block_user_spec.rb
  decidim-core/db/migrate/20210629172525_fix_blocked_user_names_in_action_log.rb
  decidim-core/lib/decidim/core/test/shared_examples/admin_log_presenter_examples.rb
  decidim-core/spec/db/migrate/fix_blocked_user_names_in_action_log_spec.rb
  decidim-core/spec/presenters/decidim/admin_log/user_presenter_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/migration.rb
Labels: backport, in-review, module: admin, target: user-experience

#8173 Fix create questionnaire from template when no template is selected
  decidim-templates/app/commands/decidim/templates/admin/apply_questionnaire_template.rb
  decidim-templates/app/controllers/decidim/templates/admin/questionnaire_templates_controller.rb
Labels: in-review, module: surveys, type: fix

#8181 Make the `webpacker` gem a core dependency
  Gemfile
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core/engine.rb
  decidim-generators/Gemfile
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim_app-design/Gemfile.lock
  docs/modules/develop/pages/guide_migrate_webpacker_app.adoc
Labels: in-review, module: core, target: developer-experience, type: enhancement

#8172 Fix proposals cache bug when participatory process step changes
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_m_cell_spec.rb
Labels: in-review, module: proposals, type: fix

#8055 Add event organisers and registered users in statistics information
  decidim-participatory_processes/app/queries/decidim/participatory_processes/stats_participants_count.rb
Labels: in-review, module: meetings, type: enhancement

#8190 Downgrade postscss version to 2.1.1
  decidim_app-design/package-lock.json
  decidim_app-design/packages/webpacker/package.json
  package-lock.json
  packages/webpacker/package.json
Labels: in-review, module: core, target: developer-experience, type: fix

#8118 Add emojis support
  decidim-comments/app/cells/decidim/comments/comment_form/show.erb
  decidim-comments/app/packs/src/decidim/comments/comments.component.js
  decidim-comments/app/views/decidim/comments/comments/create.js.erb
  decidim-comments/app/views/decidim/comments/comments/reload.js.erb
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/src/decidim/input_character_counter.js
  decidim-core/app/packs/src/decidim/input_emoji.js
  decidim-core/app/packs/stylesheets/decidim/modules/_forms.scss
  decidim_app-design/package-lock.json
  package-lock.json
  packages/core/package.json
Labels: in-review, module: comments, target: user-experience, type: feature

#8185 Backport "Fix create questionnaire from template when no template is selected" to 0.24
  decidim-templates/app/commands/decidim/templates/admin/apply_questionnaire_template.rb
  decidim-templates/app/controllers/decidim/templates/admin/questionnaire_templates_controller.rb
Labels: backport, in-review, module: surveys, type: fix

#8186 Backport "Fix ordering of question matrix_rows in templates" to 0.24
  decidim-forms/app/assets/javascripts/decidim/forms/admin/forms.js.es6
  decidim-forms/app/commands/decidim/forms/admin/update_questionnaire.rb
  decidim-forms/app/forms/decidim/forms/admin/question_form.rb
  decidim-forms/app/forms/decidim/forms/admin/question_matrix_row_form.rb
  decidim-forms/app/models/decidim/forms/question_matrix_row.rb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_matrix_row.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_question.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_matrix_multiple.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_matrix_single.html.erb
  decidim-forms/db/migrate/20210616153042_set_position_to_question_matrix_rows.rb
  decidim-forms/lib/decidim/forms/test/factories.rb
  decidim-forms/spec/commands/decidim/forms/admin/update_questionnaire_spec.rb
  decidim-forms/spec/forms/decidim/forms/admin/question_form_spec.rb
  decidim-forms/spec/forms/decidim/forms/admin/question_matrix_row_form_spec.rb
  decidim-surveys/lib/decidim/surveys/component.rb
  decidim-templates/db/seeds.rb
Labels: backport, in-review, module: surveys, type: fix

#8182 Move the customized rails requires to `decidim/rails`
  decidim-core/lib/decidim/rails.rb
  decidim-generators/lib/decidim/generators/install_generator.rb
  decidim_app-design/config/application.rb
  docs/modules/develop/pages/guide_migrate_webpacker_app.adoc
Labels: in-review, module: core, target: developer-experience, type: enhancement

#8177 Fully copy question's display_conditions from template
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_display_condition.html.erb
  decidim-forms/lib/decidim/forms/test/factories.rb
  decidim-forms/spec/commands/decidim/forms/admin/update_questionnaire_spec.rb
  decidim-templates/app/commands/decidim/templates/admin/apply_questionnaire_template.rb
  decidim-templates/app/commands/decidim/templates/admin/copy_questionnaire_template.rb
  decidim-templates/app/commands/decidim/templates/admin/questionnaire_copier.rb
  decidim-templates/lib/decidim/templates/test/factories.rb
  decidim-templates/lib/decidim/templates/test/shared_examples/copies_all_questionnaire_contents_examples.rb
  decidim-templates/spec/commands/decidim/templates/admin/apply_questionnaire_template_spec.rb
  decidim-templates/spec/commands/decidim/templates/admin/copy_questionnaire_template_spec.rb
Labels: in-review, module: forms, module: templates, type: enhancement

#8191 Lock the `webpacker` gem to the beta release
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: in-review, module: core, target: developer-experience, type: fix

#8204 Fix status search on projects page
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-budgets/app/services/decidim/budgets/project_search.rb
  decidim-budgets/spec/services/project_search_spec.rb
  decidim-budgets/spec/system/explore_projects_spec.rb
Labels: in-review, module: budgets, type: fix

#8019 W3C does not yet allow svg being loaded via CORS
  decidim-admin/app/views/layouts/decidim/admin/_application.html.erb
  decidim-admin/app/views/layouts/decidim/admin/_js_configuration.html.erb
  decidim-core/app/helpers/decidim/layout_helper.rb
  decidim-core/app/packs/src/decidim/icon.js
  decidim-core/app/packs/src/decidim/input_mentions.js
  decidim-core/app/packs/src/decidim/input_multiple_mentions.js
  decidim-core/app/views/layouts/decidim/_application.html.erb
  decidim-core/app/views/layouts/decidim/_cors.html.erb
  decidim-core/app/views/layouts/decidim/_js_configuration.html.erb
  decidim-core/app/views/layouts/decidim/widget.html.erb
  decidim-core/lib/decidim/core.rb
  decidim-system/app/views/layouts/decidim/system/_js_configuration.html.erb
  decidim-system/app/views/layouts/decidim/system/application.html.erb
  docs/modules/configure/pages/initializer.adoc
Labels: in-review, module: admin, module: core, module: system, type: fix

#8169 Change language preference in account
  decidim-core/app/commands/decidim/update_account.rb
  decidim-core/app/controllers/decidim/account_controller.rb
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/app/views/decidim/account/show.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/commands/decidim/update_account_spec.rb
  decidim-core/spec/forms/account_form_spec.rb
  decidim-core/spec/system/account_spec.rb
Labels: in-review, module: core, target: user-experience, type: feature

#8208 Remove ja-JP.yml; Use ja.yml for JA locale
  decidim-accountability/config/locales/ja-JP.yml
  decidim-admin/config/locales/ja-JP.yml
  decidim-assemblies/config/locales/ja-JP.yml
  decidim-blogs/config/locales/ja-JP.yml
  decidim-budgets/config/locales/ja-JP.yml
  decidim-comments/config/locales/ja-JP.yml
  decidim-conferences/config/locales/ja-JP.yml
  decidim-consultations/config/locales/ja-JP.yml
  decidim-core/config/locales/ja-JP.yml
  decidim-debates/config/locales/ja-JP.yml
  decidim-dev/config/locales/ja-JP.yml
  decidim-elections/config/locales/ja-JP.yml
  decidim-forms/config/locales/ja-JP.yml
  decidim-initiatives/config/locales/ja-JP.yml
  decidim-meetings/config/locales/ja-JP.yml
  decidim-pages/config/locales/ja-JP.yml
  decidim-participatory_processes/config/locales/ja-JP.yml
  decidim-proposals/config/locales/ja-JP.yml
  decidim-sortitions/config/locales/ja-JP.yml
  decidim-surveys/config/locales/ja-JP.yml
  decidim-system/config/locales/ja-JP.yml
  decidim-verifications/config/locales/ja-JP.yml
Labels: in-review, module: core, target: developer-experience, type: removal

#8211 Backport "Fix status search on projects page"
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-budgets/app/services/decidim/budgets/project_search.rb
  decidim-budgets/spec/services/project_search_spec.rb
  decidim-budgets/spec/system/explore_projects_spec.rb
Labels: backport, in-review, module: budgets, type: fix

#8197 Backport "Use comments counter cache instead of additional query" to 0.24
  decidim-budgets/lib/decidim/budgets/project_serializer.rb
  decidim-comments/app/cells/decidim/comments/comments_cell.rb
  decidim-comments/app/controllers/decidim/comments/comments_controller.rb
  decidim-core/app/cells/decidim/author/comments.erb
Labels: backport, in-review, module: comments, type: fix

#8200 Backport "Fully copy question's display_conditions from template" to v0.24
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_display_condition.html.erb
  decidim-forms/lib/decidim/forms/test/factories.rb
  decidim-forms/spec/commands/decidim/forms/admin/update_questionnaire_spec.rb
  decidim-templates/app/commands/decidim/templates/admin/apply_questionnaire_template.rb
  decidim-templates/app/commands/decidim/templates/admin/copy_questionnaire_template.rb
  decidim-templates/app/commands/decidim/templates/admin/questionnaire_copier.rb
  decidim-templates/lib/decidim/templates/test/factories.rb
  decidim-templates/lib/decidim/templates/test/shared_examples/copies_all_questionnaire_contents_examples.rb
  decidim-templates/spec/commands/decidim/templates/admin/apply_questionnaire_template_spec.rb
  decidim-templates/spec/commands/decidim/templates/admin/copy_questionnaire_template_spec.rb
Labels: backport, in-review, module: forms, module: templates, type: fix

#8212 Fix broken autopublishing of Docker images
  .github/workflows/on_release.yml
Labels: in-review, target: developer-experience, type: fix

#8179 Improve Admin English locale
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/shared/manage_impersonations_examples.rb
  decidim-admin/spec/system/admin_manages_officializations_spec.rb
  decidim-admin/spec/system/admin_manages_organization_areas_spec.rb
Labels: in-review, module: admin, type: enhancement

#7976 Search, filter, pagination and sorting in meetings admin panel
  decidim-meetings/app/controllers/concerns/decidim/meetings/admin/filterable.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/meetings_controller.rb
  decidim-meetings/app/helpers/decidim/meetings/admin/filterable_helper.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/system/admin/filter_meetings_spec.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
Labels: in-review, module: meetings, type: feature

#8199 Backport "Fix joining a meetings that the user already follows" to 0.24
  decidim-core/app/commands/decidim/create_follow.rb
  decidim-core/spec/commands/decidim/create_follow_spec.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
Labels: backport, in-review, module: meetings, type: fix

#8147 Exclude blocked and deleted users from participants stats
  CHANGELOG.md
  decidim-core/app/queries/decidim/stats_users_count.rb
  decidim-core/spec/queries/decidim/stats_users_count_spec.rb
Labels: in-review, module: core, type: enhancement

#8205 Allow Frontend user to add attendees count information
  decidim-meetings/app/commands/decidim/meetings/close_meeting.rb
  decidim-meetings/app/forms/decidim/meetings/close_meeting_form.rb
  decidim-meetings/app/views/decidim/meetings/meeting_closes/_form.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/commands/close_meeting_spec.rb
  decidim-meetings/spec/forms/close_meeting_form_spec.rb
  decidim-meetings/spec/system/user_close_meeting_spec.rb
Labels: in-review, module: meetings, type: feature

#8196 Fix visible moderated single comment
  decidim-comments/app/cells/decidim/comments/comments_cell.rb
  decidim-comments/spec/cells/decidim/comments/comments_cell_spec.rb
Labels: in-review, module: comments, type: fix

#8198 Make it possible to define SCSS settings overrides from modules
  decidim-admin/app/packs/stylesheets/decidim/admin/utils/_settings.scss
  decidim-core/app/packs/stylesheets/decidim/utils/_settings.scss
  decidim-core/lib/decidim/webpacker.rb
  decidim-core/spec/lib/webpacker/configuration_spec.rb
  decidim-core/spec/lib/webpacker/runner_spec.rb
  decidim-core/spec/lib/webpacker_spec.rb
  docs/modules/develop/pages/guide_migrate_webpacker_module.adoc
  packages/webpacker/index.js
  packages/webpacker/src/override-config.js
Labels: in-review, module: admin, module: core, target: developer-experience, type: feature

#8202 Fix user activity pagination when there are hidden items
  decidim-core/app/controllers/decidim/user_activities_controller.rb
  decidim-core/app/services/decidim/activity_search.rb
  decidim-core/spec/cells/decidim/user_activity_cell_spec.rb
  decidim-core/spec/services/decidim/activity_search_spec.rb
Labels: in-review, module: core, type: fix

#8213 Load JS configuration in elections focus mode layout
  decidim-elections/app/views/layouts/decidim/election_votes.html.erb
Labels: in-review, module: elections, type: fix

#8217 Update manual installation guide in documentation
  docs/modules/install/pages/manual.adoc
Labels: type: enhancement

#8155 Fix performance issue in notification settings page
  decidim-assemblies/app/queries/decidim/assemblies/admin/admin_users.rb
  decidim-assemblies/spec/queries/admin/assembly_admins_spec.rb
  decidim-conferences/app/queries/decidim/conferences/admin/admin_users.rb
  decidim-conferences/spec/queries/admin/conference_admins_spec.rb
  decidim-consultations/app/queries/decidim/consultations/admin/admin_users.rb
  decidim-consultations/spec/queries/decidim/consultations/admin/process_admins_spec.rb
  decidim-core/app/forms/decidim/notifications_settings_form.rb
  decidim-core/lib/decidim/participable.rb
  decidim-elections/app/queries/decidim/votings/admin/admin_users.rb
  decidim-elections/spec/queries/decidim/votings/admin/admin_users_spec.rb
  decidim-initiatives/app/queries/decidim/initiatives/admin/admin_users.rb
  decidim-initiatives/spec/queries/decidim/initiatives/admin/admin_users_spec.rb
  decidim-participatory_processes/app/models/decidim/participatory_process.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/admin/admin_users.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/admin/moderators.rb
  decidim-participatory_processes/spec/queries/admin/admin_users_spec.rb
Labels: in-review, module: core, type: fix

#8215 Improve metrics calculations performance
  decidim-accountability/app/queries/decidim/accountability/metrics/results_metric_manage.rb
  decidim-core/app/queries/decidim/metric_manage.rb
  decidim-debates/app/queries/decidim/debates/metrics/debates_metric_manage.rb
  decidim-meetings/app/queries/decidim/meetings/metrics/meetings_metric_manage.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/accepted_proposals_metric_manage.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/proposals_metric_manage.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/votes_metric_manage.rb
  decidim-surveys/app/queries/decidim/surveys/metrics/answers_metric_manage.rb
Labels: in-review, module: accountability, module: budgets, module: core, module: meetings, module: proposals, module: surveys, type: enhancement

#8222 Backport "Fix performance issue in notification settings page"
  decidim-assemblies/app/queries/decidim/assemblies/admin/admin_users.rb
  decidim-assemblies/spec/queries/admin/assembly_admins_spec.rb
  decidim-conferences/app/queries/decidim/conferences/admin/admin_users.rb
  decidim-conferences/spec/queries/admin/conference_admins_spec.rb
  decidim-consultations/app/queries/decidim/consultations/admin/admin_users.rb
  decidim-consultations/spec/queries/decidim/consultations/admin/process_admins_spec.rb
  decidim-core/app/forms/decidim/notifications_settings_form.rb
  decidim-core/lib/decidim/participable.rb
  decidim-elections/app/queries/decidim/votings/admin/admin_users.rb
  decidim-elections/spec/queries/decidim/votings/admin/admin_users_spec.rb
  decidim-initiatives/app/queries/decidim/initiatives/admin/admin_users.rb
  decidim-initiatives/spec/queries/decidim/initiatives/admin/admin_users_spec.rb
  decidim-participatory_processes/app/models/decidim/participatory_process.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/admin/admin_users.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/admin/moderators.rb
  decidim-participatory_processes/spec/queries/admin/admin_users_spec.rb
Labels: backport, in-review, module: core, type: fix

#8122 Fix don't require inactive authorization handlers
  decidim-core/app/services/decidim/action_authorizer.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/controllers/sessions_controller_spec.rb
  decidim-core/spec/services/decidim/action_authorizer_spec.rb
Labels: in-review, module: core, type: fix

#8189 Set current_component as commentable when commentable is a participatory space
  decidim-comments/app/controllers/decidim/comments/comments_controller.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-core/lib/decidim/resourceable.rb
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-initiatives/spec/system/comments_spec.rb
Labels: in-review, module: comments, type: fix

#8035 Apply permissions system to comments
  decidim-accountability/app/models/decidim/accountability/result.rb
  decidim-accountability/app/views/decidim/accountability/admin/results/index.html.erb
  decidim-accountability/config/locales/en.yml
  decidim-accountability/lib/decidim/accountability/component.rb
  decidim-blogs/app/models/decidim/blogs/post.rb
  decidim-blogs/app/views/decidim/blogs/admin/posts/index.html.erb
  decidim-blogs/config/locales/en.yml
  decidim-blogs/lib/decidim/blogs/component.rb
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/lib/decidim/budgets/component.rb
  decidim-comments/app/cells/decidim/comments/comments_cell.rb
  decidim-comments/lib/decidim/comments.rb
  decidim-comments/lib/decidim/comments/commentable_with_component.rb
  decidim-consultations/app/models/decidim/consultations/question.rb
  decidim-consultations/config/locales/en.yml
  decidim-consultations/lib/decidim/consultations/participatory_space.rb
  decidim-core/app/controllers/decidim/free_resource_authorization_modals_controller.rb
  decidim-core/app/helpers/decidim/action_authorization_helper.rb
  decidim-core/config/routes.rb
  decidim-core/lib/decidim/action_authorization.rb
  decidim-core/lib/decidim/resource_manifest.rb
  decidim-core/spec/helpers/decidim/action_authorization_helper_spec.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/app/views/decidim/debates/admin/debates/index.html.erb
  decidim-debates/config/locales/en.yml
  decidim-debates/lib/decidim/debates/component.rb
  decidim-initiatives/app/controllers/concerns/decidim/initiatives/admin/initiative_admin.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/initiatives_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/initiatives_permissions_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/versions_controller.rb
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/index.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/lib/decidim/initiatives/admin_engine.rb
  decidim-initiatives/lib/decidim/initiatives/participatory_space.rb
  decidim-initiatives/spec/shared/manage_resource_permissions_examples.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiative_permissions_spec.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiative_type_permissions_spec.rb
  decidim-initiatives/spec/system/authorized_comments_spec.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-proposals/lib/decidim/proposals/commentable_proposal.rb
  decidim-sortitions/app/models/decidim/sortitions/sortition.rb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/index.html.erb
  decidim-sortitions/config/locales/en.yml
  decidim-sortitions/lib/decidim/sortitions/component.rb
Labels: in-review, module: comments, type: feature

#8223 Backport "Fix don't require inactive authorization handlers" to 0.24
  decidim-core/app/services/decidim/action_authorizer.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/controllers/sessions_controller_spec.rb
  decidim-core/spec/services/decidim/action_authorizer_spec.rb
Labels: backport, module: core, type: fix

#8224 Fix broken tests after problematic PRs
  decidim-budgets/spec/system/orders_spec.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-elections/spec/permissions/decidim/elections/permissions_spec.rb
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_author.html.erb
  decidim-meetings/spec/system/user_creates_meeting_spec.rb
Labels: in-review, module: budgets, module: comments, module: core, module: elections, module: initiatives, module: meetings, type: fix

#8226 Remove flaky test on meetings
  decidim-meetings/app/views/decidim/meetings/polls/questions/_index_admin.html.erb
  decidim-meetings/spec/system/live_meeting_admin_questions_spec.rb
Labels: in-review, module: meetings, target: developer-experience, type: fix

#8228 Set current_component as commentable when commentable is a participatory space
  decidim-comments/app/controllers/decidim/comments/comments_controller.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-core/lib/decidim/resourceable.rb
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-initiatives/spec/system/comments_spec.rb
Labels: backport, in-review, module: comments, type: fix

#8096 Meetings iframe and iframe URL
  decidim-core/app/packs/stylesheets/decidim/utils/_helpers.scss
  decidim-core/app/views/layouts/decidim/_application.html.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_url/show.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_url_cell.rb
  decidim-meetings/app/cells/decidim/meetings/online_meeting_cell.rb
  decidim-meetings/app/cells/decidim/meetings/online_meeting_link/show.erb
  decidim-meetings/app/cells/decidim/meetings/online_meeting_link_cell.rb
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/update_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/live_events_controller.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/meeting_form.rb
  decidim-meetings/app/services/decidim/meetings/meeting_iframe_embedder.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/layouts/live_event.html.erb
  decidim-meetings/app/views/decidim/meetings/live_events/show.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_online_meeting_link.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20210602040614_add_setting_embed_iframe_to_meetings.rb
  decidim-meetings/lib/decidim/api/meeting_type.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/commands/admin/create_meeting_spec.rb
  decidim-meetings/spec/commands/admin/update_meeting_spec.rb
  decidim-meetings/spec/commands/create_meeting_spec.rb
  decidim-meetings/spec/commands/update_meeting_spec.rb
  decidim-meetings/spec/forms/admin/meeting_form_spec.rb
  decidim-meetings/spec/forms/meeting_form_spec.rb
  decidim-meetings/spec/services/meeting_iframe_embedder_spec.rb
  decidim-meetings/spec/system/live_meeting_access_spec.rb
Labels: in-review, module: meetings, type: feature

#8097 Online meetings iframe visibility with time
  decidim-meetings/app/cells/decidim/meetings/meeting_url/show.erb
  decidim-meetings/app/cells/decidim/meetings/online_meeting_cell.rb
  decidim-meetings/app/cells/decidim/meetings/online_meeting_link/show.erb
  decidim-meetings/app/cells/decidim/meetings/online_meeting_link_cell.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/system/live_meeting_access_spec.rb
Labels: in-review, module: meetings, type: feature

#8229 Bump addressable version because security issues
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience

#8015 Fix the proposal data migration for proposals without authors or organization
  decidim-proposals/db/migrate/20201002085508_fix_proposals_data.rb
Labels: in-review, module: proposals, type: fix

#8232 Backport part of "Fix broken tests after problematic PRs"
  decidim-budgets/spec/system/orders_spec.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-elections/spec/permissions/decidim/elections/permissions_spec.rb
  decidim-meetings/spec/system/user_creates_meeting_spec.rb
Labels: backport, module: core, module: elections, module: meetings, type: fix

#8220 Evote bug fixing
  decidim-elections/app/cells/decidim/elections/remaining_time_callout_cell.rb
  decidim-elections/app/commands/decidim/elections/trustee_zone/update_election_bulletin_board_status.rb
  decidim-elections/app/forms/decidim/elections/admin/question_form.rb
  decidim-elections/app/packs/entrypoints/decidim_votings_voting_polling_officer_zone-in-person-vote.js
  decidim-elections/app/packs/src/decidim/votings/polling_officer_zone/in-person-vote.js
  decidim-elections/app/views/decidim/elections/elections/show.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/in_person_votes/_complete_voting.html.erb
  decidim-elections/app/views/decidim/votings/votings/check_census.html.erb
  decidim-elections/config/assets.rb
  decidim-elections/spec/commands/decidim/elections/trustee_zone/update_election_bulletin_board_status_spec.rb
  decidim-elections/spec/forms/decidim/elections/admin/question_form_spec.rb
Labels: in-review, module: elections, type: fix

#8230 Fix content type delegation to blank attachments
  decidim-core/app/models/decidim/attachment.rb
  decidim-elections/app/views/decidim/elections/elections/show.html.erb
  decidim-initiatives/app/cells/decidim/initiatives/initiative_m_cell.rb
  decidim-initiatives/spec/system/initiatives_spec.rb
Labels: in-review, module: core, type: fix

#7902 Active storage migrations service
  CHANGELOG.md
  decidim-conferences/app/uploaders/decidim/cw/conferences/diploma_uploader.rb
  decidim-conferences/app/uploaders/decidim/cw/conferences/partner_logo_uploader.rb
  decidim-core/app/uploaders/decidim/application_uploader.rb
  decidim-core/app/uploaders/decidim/cw/application_uploader.rb
  decidim-core/app/uploaders/decidim/cw/attachment_uploader.rb
  decidim-core/app/uploaders/decidim/cw/avatar_uploader.rb
  decidim-core/app/uploaders/decidim/cw/banner_image_uploader.rb
  decidim-core/app/uploaders/decidim/cw/data_portability_uploader.rb
  decidim-core/app/uploaders/decidim/cw/downloader.rb
  decidim-core/app/uploaders/decidim/cw/hero_image_uploader.rb
  decidim-core/app/uploaders/decidim/cw/homepage_image_uploader.rb
  decidim-core/app/uploaders/decidim/cw/image_uploader.rb
  decidim-core/app/uploaders/decidim/cw/newsletter_template_image_uploader.rb
  decidim-core/app/uploaders/decidim/cw/oauth_application_logo_uploader.rb
  decidim-core/app/uploaders/decidim/cw/official_image_footer_uploader.rb
  decidim-core/app/uploaders/decidim/cw/official_image_header_uploader.rb
  decidim-core/app/uploaders/decidim/cw/open_data_uploader.rb
  decidim-core/app/uploaders/decidim/cw/organization_favicon_uploader.rb
  decidim-core/app/uploaders/decidim/cw/organization_logo_uploader.rb
  decidim-core/app/uploaders/decidim/cw/record_image_uploader.rb
  decidim-core/lib/decidim/carrier_wave_migrator_service.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/tasks/decidim_active_storage_migration_tasks.rake
  decidim-elections/app/uploaders/decidim/cw/votings/census/voting_census_uploader.rb
  decidim-verifications/app/uploaders/decidim/cw/verifications/attachment_uploader.rb
Labels: in-review, module: core, target: developer-experience, type: enhancement

#8237 Remove obsolete rake webpack task
  Rakefile
Labels: in-review, target: developer-experience, type: removal
