Repository decidim/decidim, pull requests merged in 2021-04, with the labels that each got.

#7773 Add missing assets to the elections manifest
  decidim-elections/app/assets/config/decidim_elections_manifest.js
  decidim-elections/app/assets/javascripts/decidim/elections/voter/setup-vote.js.es6
  decidim-elections/app/assets/javascripts/decidim/elections/voter/vote.js.es6
Labels: contract: e-voting, module: elections

#7778 Fix showing trustees menu on consultations module
  decidim-consultations/app/views/layouts/decidim/admin/question.html.erb
  decidim-consultations/lib/decidim/consultations/admin_engine.rb
  decidim-elections/lib/decidim/elections/admin_engine.rb
Labels: contract: e-voting, module: consultations, module: elections

#7767 Move votings answer results to its own table
  decidim-elections/app/cells/decidim/elections/election_results/show.erb
  decidim-elections/app/cells/decidim/elections/election_results_cell.rb
  decidim-elections/app/commands/decidim/elections/admin/update_answer_selection.rb
  decidim-elections/app/commands/decidim/elections/trustee_zone/update_election_bulletin_board_status.rb
  decidim-elections/app/models/decidim/elections/answer.rb
  decidim-elections/app/models/decidim/elections/question.rb
  decidim-elections/app/models/decidim/elections/result.rb
  decidim-elections/app/views/decidim/elections/admin/answers/index.html.erb
  decidim-elections/app/views/decidim/elections/admin/steps/_results_published.html.erb
  decidim-elections/app/views/decidim/elections/admin/steps/_tally_ended.html.erb
  decidim-elections/app/views/decidim/elections/elections/_results.html.erb
  decidim-elections/db/migrate/20210326090435_create_elections_results.rb
  decidim-elections/db/migrate/20210330102348_remove_votes_count_from_answer.rb
  decidim-elections/lib/decidim/api/election_answer_type.rb
  decidim-elections/lib/decidim/api/election_result_type.rb
  decidim-elections/lib/decidim/api/polling_station_type.rb
  decidim-elections/lib/decidim/elections/answer_serializer.rb
  decidim-elections/lib/decidim/elections/api.rb
  decidim-elections/lib/decidim/elections/component.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/lib/decidim/votings/api.rb
  decidim-elections/spec/lib/decidim/elections/answer_serializer_spec.rb
  decidim-elections/spec/system/admin/admin_manages_election_steps_spec.rb
  decidim-elections/spec/types/decidim/elections/election_answer_type_spec.rb
  decidim-elections/spec/types/decidim/elections/election_result_type_spec.rb
  decidim-elections/spec/types/decidim/votings/polling_station_type_spec.rb
  decidim-elections/spec/types/integration_schema_spec.rb
Labels: contract: e-voting, module: elections

#7769 Feat/evote count votes
  decidim-elections/app/assets/config/decidim_elections_manifest.js
  decidim_app-design/app/views/public/evote-polling-station-officer-count-votes-error.html.erb
  decidim_app-design/app/views/public/evote-polling-station-officer-count-votes-step2-error.html.erb
  decidim_app-design/app/views/public/evote-polling-station-officer-count-votes-step2.html.erb
  decidim_app-design/app/views/public/evote-polling-station-officer-count-votes-step3.html.erb
  decidim_app-design/app/views/public/evote-polling-station-officer-count-votes.html.erb
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/partials/_polling_officer_count_answers_error_modal.html.erb
  decidim_app-design/app/views/public/partials/_polling_officer_count_error_modal.html.erb
  decidim_app-design/app/views/public/partials/_polling_officer_zone_count_votes_count_answers.html.erb
  decidim_app-design/app/views/public/partials/_polling_officer_zone_count_votes_count_envelopes.html.erb
  decidim_app-design/app/views/public/partials/_polling_officer_zone_count_votes_upload_certificate.html.erb
Labels: contract: e-voting

#7591 Admin voting census original load (csv)
  config/i18n-tasks.yml
  decidim-dev/lib/decidim/dev/assets/import_voting_census.csv
  decidim-elections/app/assets/config/decidim_votings_manifest.js
  decidim-elections/app/assets/javascripts/decidim/votings/admin/update_census_dataset_status.es6
  decidim-elections/app/commands/decidim/votings/census/admin/create_dataset.rb
  decidim-elections/app/commands/decidim/votings/census/admin/create_datum.rb
  decidim-elections/app/commands/decidim/votings/census/admin/destroy_dataset.rb
  decidim-elections/app/commands/decidim/votings/census/admin/increment_dataset_processed_rows.rb
  decidim-elections/app/controllers/decidim/votings/census/admin/application_controller.rb
  decidim-elections/app/controllers/decidim/votings/census/admin/census_controller.rb
  decidim-elections/app/forms/decidim/votings/census/admin/dataset_form.rb
  decidim-elections/app/forms/decidim/votings/census/admin/datum_form.rb
  decidim-elections/app/jobs/decidim/votings/census/admin/create_datum_job.rb
  decidim-elections/app/models/decidim/votings/census/dataset.rb
  decidim-elections/app/models/decidim/votings/census/datum.rb
  decidim-elections/app/permissions/decidim/votings/admin/permissions.rb
  decidim-elections/app/presenters/decidim/votings/census/admin_log/dataset_presenter.rb
  decidim-elections/app/views/decidim/votings/census/admin/census/_creating_data.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/_generate_codes.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/_new_census.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/_upload_info.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/show.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/status.js.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20210308104024_add_decidim_votings_census_datasets.rb
  decidim-elections/db/migrate/20210308104154_add_decidim_votings_census_data.rb
  decidim-elections/lib/decidim/votings.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-elections/lib/decidim/votings/census.rb
  decidim-elections/lib/decidim/votings/census_admin.rb
  decidim-elections/lib/decidim/votings/census_admin_engine.rb
  decidim-elections/lib/decidim/votings/census_engine.rb
  decidim-elections/lib/decidim/votings/test/factories.rb
  decidim-elections/spec/commands/decidim/votings/census/admin/create_dataset_spec.rb
  decidim-elections/spec/commands/decidim/votings/census/admin/create_datum_spec.rb
  decidim-elections/spec/commands/decidim/votings/census/admin/destroy_dataset_spec.rb
  decidim-elections/spec/commands/decidim/votings/census/admin/increment_dataset_processed_rows_spec.rb
  decidim-elections/spec/forms/decidim/votings/census/admin/dataset_form_spec.rb
  decidim-elections/spec/forms/decidim/votings/census/admin/datum_form_spec.rb
  decidim-elections/spec/jobs/decidim/votings/census/admin/create_datum_job_spec.rb
  decidim-elections/spec/models/decidim/votings/census/dataset_spec.rb
  decidim-elections/spec/models/decidim/votings/census/datum_spec.rb
  decidim-elections/spec/permissions/decidim/votings/admin/permissions_spec.rb
  decidim-elections/spec/presenters/decidim/votings/census/admin_log/dataset_presenter_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_census_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_polling_officers_spec.rb
Labels: contract: e-voting, module: elections

#7544 Add unique trustee name
  decidim-elections/app/commands/decidim/elections/admin/add_user_as_trustee.rb
  decidim-elections/app/commands/decidim/elections/admin/setup_election.rb
  decidim-elections/app/commands/decidim/elections/trustee_zone/update_trustee.rb
  decidim-elections/app/forms/decidim/elections/admin/trustees_participatory_space_form.rb
  decidim-elections/app/models/decidim/elections/trustee.rb
  decidim-elections/app/views/decidim/elections/admin/trustees_participatory_spaces/index.html.erb
  decidim-elections/db/migrate/20210401095507_add_organization_to_decidim_elections_trustee.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/spec/commands/decidim/elections/admin/add_user_as_trustee_spec.rb
  decidim-elections/spec/commands/decidim/elections/trustee_zone/update_trustee_spec.rb
  decidim-elections/spec/commands/decidim/votings/admin/create_monitoring_committee_member_spec.rb
  decidim-elections/spec/commands/decidim/votings/admin/destroy_monitoring_committee_member_spec.rb
  decidim-elections/spec/forms/decidim/elections/trustee_zone/trustee_form_spec.rb
  decidim-elections/spec/models/decidim/elections/trustee_spec.rb
  decidim-elections/spec/system/trustee_zone_spec.rb
  docs/modules/services/pages/elections_bulletin_board.adoc
Labels: contract: e-voting, module: elections, status: WIP

#7740 Evote - identify with access code
  decidim_app-design/app/assets/stylesheets/components/evote/_evote.scss
  decidim_app-design/app/views/public/evote-identification.html.erb
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/partials/_evote_access_code_modal.html.erb
  decidim_app-design/app/views/public/partials/_evote_participating-rights.html.erb
  decidim_app-design/app/views/public/partials/_focus_content.html.erb
  decidim_app-design/app/views/public/partials/_focus_content_content_identification.html.erb
  decidim_app-design/app/views/public/partials/_focus_header.html.erb
Labels: contract: e-voting

#7757 Evote election log
  decidim_app-design/app/views/public/evote-election-log.html.erb
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/partials/_evote_election_log.html.erb
  decidim_app-design/app/views/public/partials/_evote_nav.html.erb
Labels: contract: e-voting

#7795 Remove file from elections manifest
  decidim-elections/app/assets/config/decidim_elections_manifest.js
Labels: module: elections, type: fix

#7704 Generate votings access codes
  Gemfile.lock
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/header_cell.rb
  decidim-elections/app/commands/decidim/votings/admin/create_voting.rb
  decidim-elections/app/commands/decidim/votings/admin/update_voting.rb
  decidim-elections/app/commands/decidim/votings/census/admin/launch_access_codes_generation.rb
  decidim-elections/app/commands/decidim/votings/census/admin/update_dataset.rb
  decidim-elections/app/commands/decidim/votings/check_census.rb
  decidim-elections/app/controllers/decidim/votings/census/admin/census_controller.rb
  decidim-elections/app/controllers/decidim/votings/votings_controller.rb
  decidim-elections/app/forms/decidim/votings/admin/voting_form.rb
  decidim-elections/app/forms/decidim/votings/check_census_form.rb
  decidim-elections/app/jobs/decidim/votings/census/admin/generate_access_codes_job.rb
  decidim-elections/app/models/decidim/votings/voting.rb
  decidim-elections/app/views/decidim/votings/admin/votings/_form.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/_export_codes.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/_generate_codes.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/_generating_codes.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/show.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/status.js.erb
  decidim-elections/app/views/decidim/votings/votings/_check_census_form.html.erb
  decidim-elections/app/views/decidim/votings/votings/check_census.html.erb
  decidim-elections/config/initializers/rack_attack.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20210308104154_add_decidim_votings_census_data.rb
  decidim-elections/db/migrate/20210331152729_add_census_contact_information_to_votings.rb
  decidim-elections/decidim-elections.gemspec
  decidim-elections/lib/decidim/elections.rb
  decidim-elections/lib/decidim/votings.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-elections/lib/decidim/votings/engine.rb
  decidim-elections/lib/decidim/votings/test/factories.rb
  decidim-elections/spec/commands/decidim/votings/admin/create_voting_spec.rb
  decidim-elections/spec/commands/decidim/votings/admin/update_voting_spec.rb
  decidim-elections/spec/commands/decidim/votings/census/admin/launch_access_codes_generation_spec.rb
  decidim-elections/spec/commands/decidim/votings/census/admin/update_dataset_spec.rb
  decidim-elections/spec/commands/decidim/votings/check_census_spec.rb
  decidim-elections/spec/forms/decidim/votings/admin/voting_form_spec.rb
  decidim-elections/spec/forms/decidim/votings/check_census_form_spec.rb
  decidim-elections/spec/jobs/decidim/votings/census/admin/generate_access_codes_job_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_census_spec.rb
  decidim-elections/spec/system/check_census_spec.rb
  decidim-elections/spec/system/voting_spec.rb
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: contract: e-voting, module: elections, type: feature

#7762 Upgrade to Rails 5.2.5
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience

#7597 Mockup design for Remaining time in voting
  decidim_app-design/app/views/public/partials/_evote_intro_landing.html.erb
  decidim_app-design/app/views/public/partials/_evote_poll_list.html.erb
Labels: module: elections

#7609 Add categories parent filter to API
  decidim-assemblies/lib/decidim/api/assembly_type.rb
  decidim-assemblies/spec/types/assembly_type_spec.rb
  decidim-conferences/lib/decidim/api/conference_type.rb
  decidim-conferences/spec/types/conference_type_spec.rb
  decidim-core/lib/decidim/api/functions/category_list.rb
  decidim-core/lib/decidim/api/input_filters/category_input_filter.rb
  decidim-core/lib/decidim/api/interfaces/categories_container_interface.rb
  decidim-core/lib/decidim/core/api.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/categories_container_examples.rb
  decidim-core/spec/types/category_input_filter_spec.rb
  decidim-participatory_processes/lib/decidim/api/participatory_process_type.rb
  decidim-participatory_processes/spec/types/participatory_process_type_spec.rb
Labels: graphql-api, module: api, type: feature

#7620 Change order by weight in subassemblies
  decidim-assemblies/app/views/decidim/assemblies/assemblies/show.html.erb
  decidim-assemblies/spec/system/assemblies_spec.rb
Labels: module: assemblies, type: change

#7629 Enable Proposals Cell to take into account machine translations
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
Labels: module: proposals, type: change

#7775 Do not modify the controller class in the controller tests that rende…
  decidim-core/lib/decidim/core/test/shared_examples/controller_render_views.rb
Labels: module: initiatives, target: developer-experience

#7654 Fix permission for initiative edit and update
  decidim-initiatives/app/permissions/decidim/initiatives/permissions.rb
  decidim-initiatives/spec/permissions/decidim/initiatives/permissions_spec.rb
  decidim-initiatives/spec/system/edit_initiative_spec.rb
Labels: module: initiatives, type: fix

#7667 Fix single initiative type
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_form.html.erb
  decidim-initiatives/spec/system/create_initiative_spec.rb
  decidim-initiatives/spec/system/edit_initiative_spec.rb
Labels: module: initiatives, type: fix

#7734 Fix validations for registration related fields in Conference form
  decidim-conferences/app/forms/decidim/conferences/admin/conference_form.rb
  decidim-conferences/spec/forms/conference_form_spec.rb
Labels: module: conferences, type: fix

#7763 Fix map accessibility issue - Map bottom position missing label
  decidim-core/app/helpers/decidim/map_helper.rb
  decidim-core/lib/decidim/core/test/shared_examples/map_examples.rb
  decidim-core/spec/system/map/dynamic_map/builder_spec.rb
  decidim-core/spec/system/map/provider/dynamic_map/here_builder_spec.rb
Labels: module: core, type: feature

#7779 Add Voting Ballot Styles
  decidim-elections/app/assets/config/admin/decidim_votings_manifest.css
  decidim-elections/app/assets/stylesheets/decidim/votings/admin/votings.scss
  decidim-elections/app/assets/stylesheets/decidim/votings/admin/votings/_ballot-styles.scss
  decidim-elections/app/commands/decidim/votings/admin/create_ballot_style.rb
  decidim-elections/app/commands/decidim/votings/admin/destroy_ballot_style.rb
  decidim-elections/app/commands/decidim/votings/admin/update_ballot_style.rb
  decidim-elections/app/controllers/decidim/votings/admin/ballot_styles_controller.rb
  decidim-elections/app/forms/decidim/votings/admin/ballot_style_form.rb
  decidim-elections/app/models/decidim/votings/ballot_style.rb
  decidim-elections/app/models/decidim/votings/ballot_style_question.rb
  decidim-elections/app/models/decidim/votings/voting.rb
  decidim-elections/app/permissions/decidim/votings/admin/permissions.rb
  decidim-elections/app/views/decidim/votings/admin/ballot_styles/_form.html.erb
  decidim-elections/app/views/decidim/votings/admin/ballot_styles/edit.html.erb
  decidim-elections/app/views/decidim/votings/admin/ballot_styles/index.html.erb
  decidim-elections/app/views/decidim/votings/admin/ballot_styles/new.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20210330123606_add_voting_ballot_style.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-elections/lib/decidim/votings/test/factories.rb
  decidim-elections/spec/commands/decidim/votings/admin/create_ballot_style_spec.rb
  decidim-elections/spec/commands/decidim/votings/admin/destroy_ballot_style_spec.rb
  decidim-elections/spec/commands/decidim/votings/admin/destroy_polling_station_spec.rb
  decidim-elections/spec/commands/decidim/votings/admin/update_ballot_style_spec.rb
  decidim-elections/spec/forms/decidim/votings/admin/ballot_style_form_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_ballot_styles_spec.rb
Labels: contract: e-voting, module: elections

#7774 Show attachment menu as active only when subitem is active
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/admin_engine.rb
Labels: module: elections, module: participatory processes, type: fix

#7697 Add copy to clipboard feature to share links
  decidim-core/app/assets/javascripts/decidim.js.es6
  decidim-core/app/assets/javascripts/decidim/clipboard.js.es6
  decidim-core/app/assets/stylesheets/decidim/extras/_social_share.css.scss
  decidim-core/app/views/decidim/shared/_share_modal.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/share_link_examples.rb
  decidim-core/vendor/assets/javascripts/select.js
  decidim-proposals/spec/system/proposal_show_spec.rb
Labels: module: core, type: feature

#7765 Add Conferences and Admin missing translations (#7653)
  decidim-admin/config/locales/en.yml
  decidim-conferences/app/views/decidim/conferences/admin/conference_invites/index.html.erb
  decidim-conferences/app/views/decidim/conferences/admin/conference_registrations/index.html.erb
  decidim-conferences/config/locales/en.yml
Labels: backport, module: admin, module: conferences, type: fix

#7758 Evote - onboarding workflow
  decidim_app-design/app/views/public/evote-survey-complete.html.erb
  decidim_app-design/app/views/public/index.html.erb
  decidim_app-design/app/views/public/partials/_evote_survey_onboarding_modal.html.erb
  decidim_app-design/app/views/public/partials/_focus_content_content_confirmed.html.erb
Labels: contract: e-voting

#7628 Fix: Reported users are displayed in all tenants
  decidim-admin/app/controllers/decidim/admin/moderated_users_controller.rb
Labels: module: admin, type: fix

#7806 Upgrade to Rails 5.2.5
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience

#7807 Update Rails to 5.2.5 and carrierwave to 1.3.2
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience

#7814 Release 0.24.1
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-consultations/lib/decidim/consultations/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  decidim_app-design/Gemfile.lock
  lib/decidim/version.rb
  package-lock.json
  package.json
Labels: target: developer-experience

#7813 Release 0.23.5
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  bin/changelog_generator
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/app/events/decidim/role_assigned_to_assembly_event.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/app/assets/javascripts/decidim/comments/bundle.js
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/app/events/decidim/conferences/conference_role_assigned_event.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-consultations/lib/decidim/consultations/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/app/events/decidim/participatory_process_role_assigned_event.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  decidim_app-design/Gemfile.lock
  lib/decidim/version.rb
  package-lock.json
  package.json
Labels: target: developer-experience

#7809 Show missing election component callout also for in-person votings
  decidim-elections/app/models/decidim/votings/voting.rb
  decidim-elections/app/views/layouts/decidim/admin/voting.html.erb
Labels: contract: e-voting, module: elections, type: bug

#7788 Add Ballot Style to Census Datum
  decidim-dev/lib/decidim/dev/assets/import_voting_census.csv
  decidim-dev/lib/decidim/dev/assets/import_voting_census_with_ballot_styles.csv
  decidim-elections/app/assets/stylesheets/decidim/votings/admin/votings/_ballot-styles.scss
  decidim-elections/app/commands/decidim/votings/census/admin/create_dataset.rb
  decidim-elections/app/commands/decidim/votings/census/admin/create_datum.rb
  decidim-elections/app/controllers/decidim/votings/admin/ballot_styles_controller.rb
  decidim-elections/app/controllers/decidim/votings/census/admin/census_controller.rb
  decidim-elections/app/forms/decidim/votings/admin/ballot_style_form.rb
  decidim-elections/app/forms/decidim/votings/census/admin/datum_form.rb
  decidim-elections/app/jobs/decidim/votings/census/admin/create_datum_job.rb
  decidim-elections/app/models/decidim/votings/ballot_style.rb
  decidim-elections/app/models/decidim/votings/census/datum.rb
  decidim-elections/app/models/decidim/votings/voting.rb
  decidim-elections/app/permissions/decidim/votings/admin/permissions.rb
  decidim-elections/app/queries/decidim/votings/admin/ballot_style_by_voting_code.rb
  decidim-elections/app/views/decidim/votings/admin/ballot_styles/index.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/_new_census.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/_upload_info.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20210402102215_add_ballot_style_to_decidim_votings_census_data.rb
  decidim-elections/lib/decidim/votings/test/factories.rb
  decidim-elections/spec/commands/decidim/votings/admin/create_ballot_style_spec.rb
  decidim-elections/spec/commands/decidim/votings/admin/update_ballot_style_spec.rb
  decidim-elections/spec/commands/decidim/votings/census/admin/create_datum_spec.rb
  decidim-elections/spec/forms/decidim/votings/admin/ballot_style_form_spec.rb
  decidim-elections/spec/forms/decidim/votings/census/admin/datum_form_spec.rb
  decidim-elections/spec/jobs/decidim/votings/census/admin/create_datum_job_spec.rb
  decidim-elections/spec/permissions/decidim/votings/admin/permissions_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_ballot_styles_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_census_spec.rb
Labels: contract: e-voting, module: elections, type: feature

#7817 Let admins filter participatory space private users
  decidim-admin/app/controllers/concerns/decidim/participatory_space_private_users/admin/filterable.rb
  decidim-admin/app/controllers/decidim/admin/concerns/has_private_users.rb
  decidim-admin/app/views/decidim/admin/participatory_space_private_users/index.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/lib/decidim/admin/test.rb
  decidim-admin/lib/decidim/admin/test/filters_participatory_space_users_examples.rb
  decidim-assemblies/spec/system/admin/admin_filters_assemblies_private_space_users_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_filters_participatory_processes_private_space_users_spec.rb
Labels: module: admin, module: assemblies, module: participatory processes, type: feature

#7824 Show initiative image in homepage
  decidim-initiatives/app/cells/decidim/initiatives/content_blocks/highlighted_initiatives/show.erb
Labels: module: initiatives, type: feature

#7802 Restore vote tests in the elections module using the real bulletin board
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  Gemfile.lock
  decidim-elections/app/views/decidim/elections/votes/_new_ballot_decision_step.html.erb
  decidim-elections/app/views/decidim/elections/votes/_show_casted.html.erb
  decidim-elections/decidim-elections.gemspec
  decidim-elections/spec/billy/when_performing_the_key_ceremony/generates_backup_keys,_restores_them_and_creates_election_keys/post_bulletin-board.lvh.me_0a09842115bf622a155f24c66bf3cc121a8356d5_1730e50df0233ec81a4351c9f1181856d8bce832.yml
  decidim-elections/spec/billy/when_performing_the_key_ceremony/generates_backup_keys,_restores_them_and_creates_election_keys/post_bulletin-board.lvh.me_0a09842115bf622a155f24c66bf3cc121a8356d5_2102d0368ed75de670022bd9d0c7be263c0238fd.yml
  decidim-elections/spec/billy/when_performing_the_key_ceremony/generates_backup_keys,_restores_them_and_creates_election_keys/post_bulletin-board.lvh.me_0a09842115bf622a155f24c66bf3cc121a8356d5_90fd0a6997c7f37cf11920291e716e915ba3bae3.yml
  decidim-elections/spec/billy/when_performing_the_key_ceremony/generates_backup_keys,_restores_them_and_creates_election_keys/post_bulletin-board.lvh.me_0a09842115bf622a155f24c66bf3cc121a8356d5_ab2e73c4a33157aa89a641b039052972127dfedf.yml
  decidim-elections/spec/billy/when_performing_the_key_ceremony/generates_backup_keys,_restores_them_and_creates_election_keys/post_bulletin-board.lvh.me_1a79ec0cf562a12d8981b663d65e2aee8d82fbba_90fd0a6997c7f37cf11920291e716e915ba3bae3.yml
  decidim-elections/spec/billy/when_performing_the_key_ceremony/generates_backup_keys,_restores_them_and_creates_election_keys/post_bulletin-board.lvh.me_1a79ec0cf562a12d8981b663d65e2aee8d82fbba_91c84fc7f7b579cbf55d856fc0e54218dfaa4bfe.yml
  decidim-elections/spec/billy/when_performing_the_key_ceremony/generates_backup_keys,_restores_them_and_creates_election_keys/post_bulletin-board.lvh.me_1a79ec0cf562a12d8981b663d65e2aee8d82fbba_ab2e73c4a33157aa89a641b039052972127dfedf.yml
  decidim-elections/spec/billy/when_performing_the_key_ceremony/generates_backup_keys,_restores_them_and_creates_election_keys/post_bulletin-board.lvh.me_233f5914c6fb8d2175b9f17a6f6df7ceec667664_3bdcb8011c6cdaaa65582497cc3c28c7c7c3d958.yml
  decidim-elections/spec/billy/when_performing_the_key_ceremony/generates_backup_keys,_restores_them_and_creates_election_keys/post_bulletin-board.lvh.me_f2b0e418ac84da1f9f759ee4d92d0f97eb922515_1e00b8715b5e33dd5ad514576a7b2e999ce1a7d2.yml
  decidim-elections/spec/billy/when_performing_the_key_ceremony/generates_backup_keys,_restores_them_and_creates_election_keys/post_bulletin-board.lvh.me_f2b0e418ac84da1f9f759ee4d92d0f97eb922515_ab2e73c4a33157aa89a641b039052972127dfedf.yml
  decidim-elections/spec/cassettes/Admin_manages_election_steps/end_the_voting_period/performs_the_action_successfully.json
  decidim-elections/spec/cassettes/Admin_manages_election_steps/publishing_results/performs_the_action_successfully.json
  decidim-elections/spec/cassettes/Admin_manages_election_steps/setup_an_election/performs_the_action_successfully.json
  decidim-elections/spec/cassettes/Admin_manages_election_steps/start_the_key_ceremony/performs_the_action_successfully.json
  decidim-elections/spec/cassettes/Admin_manages_election_steps/start_the_tally/performs_the_action_successfully.json
  decidim-elections/spec/cassettes/Admin_manages_election_steps/start_the_voting_period/performs_the_action_successfully.json
  decidim-elections/spec/cassettes/Key_ceremony/key_ceremony_process/when_performing_the_key_ceremony/generates_backup_keys_restores_them_and_creates_election_keys.json
  decidim-elections/spec/cassettes/decidim_elections_scheduled_tasks/with_elections_to_end/requests_ending_the_voting_period.json
  decidim-elections/spec/cassettes/decidim_elections_scheduled_tasks/with_elections_to_start/requests_starting_the_voting_period.json
  decidim-elections/spec/cassettes/decidim_elections_scheduled_tasks/with_pending_votes/updates_the_vote_status.json
  decidim-elections/spec/lib/tasks/decidim_election_scheduled_tasks_spec.rb
  decidim-elections/spec/shared/vote_examples.rb
  decidim-elections/spec/system/admin/admin_manages_election_steps_spec.rb
  decidim-elections/spec/system/key_ceremony_spec.rb
  decidim-elections/spec/system/vote_spec.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim_app-design/Gemfile.lock
Labels: contract: e-voting, module: elections, type: enhancement

#7819 Let admins disable participatory space filters
  decidim-admin/app/commands/decidim/admin/update_organization.rb
  decidim-admin/app/forms/decidim/admin/organization_form.rb
  decidim-admin/app/views/decidim/admin/organization/_form.html.erb
  decidim-admin/config/locales/en.yml
  decidim-core/app/views/decidim/shared/participatory_space_filters/_show.html.erb
  decidim-core/db/migrate/20210412120115_add_enable_participatory_space_filters_to_organization.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-participatory_processes/spec/system/filter_participatory_processes_spec.rb
Labels: module: admin, module: assemblies, module: participatory processes, type: feature

#7835 Add missing translation for election publish_results admin log
  decidim-elections/config/locales/en.yml
Labels: module: elections, type: fix

#7816 Do not change the global test app configs during specs
  decidim-core/spec/system/session_timeout_spec.rb
Labels: target: developer-experience

#7825 CSV exporter should take into account locales from all resources
  decidim-core/lib/decidim/exporters/csv.rb
  decidim-core/spec/lib/exporters/csv_spec.rb
Labels: module: core, type: fix

#7803 Ask again for access code
  decidim-elections/app/commands/decidim/votings/check_census.rb
  decidim-elections/app/commands/decidim/votings/send_access_code.rb
  decidim-elections/app/controllers/decidim/votings/votings_controller.rb
  decidim-elections/app/mailers/decidim/votings/access_code_mailer.rb
  decidim-elections/app/views/decidim/votings/access_code_mailer/send_access_code.html.erb
  decidim-elections/app/views/decidim/votings/votings/_access_code_modal.html.erb
  decidim-elections/app/views/decidim/votings/votings/check_census.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/votings/engine.rb
  decidim-elections/spec/commands/decidim/votings/check_census_spec.rb
  decidim-elections/spec/commands/decidim/votings/send_access_code_spec.rb
  decidim-elections/spec/mailers/decidim/votings/access_code_mailer_spec.rb
  decidim-elections/spec/system/check_census_spec.rb
  decidim-elections/spec/system/voting_spec.rb
Labels: contract: e-voting, module: elections

#7842 Change edge and test branch to use develop by default
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/spec/generators_spec.rb
Labels: target: developer-experience

#7848 Fix node version for version managers
  .node-version
Labels: target: developer-experience

#7822 Conditionally render questions in election booth
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  Gemfile.lock
  decidim-elections/app/commands/decidim/elections/admin/setup_election.rb
  decidim-elections/app/controllers/concerns/decidim/elections/has_vote_flow.rb
  decidim-elections/app/controllers/decidim/elections/votes_controller.rb
  decidim-elections/app/models/decidim/votings/ballot_style.rb
  decidim-elections/app/packs/src/decidim/elections/voter/new-vote.js
  decidim-elections/app/services/decidim/elections/current_user_vote_flow.rb
  decidim-elections/app/services/decidim/votings/census_vote_flow.rb
  decidim-elections/app/views/decidim/elections/votes/new.html.erb
  decidim-elections/decidim-elections.gemspec
  decidim-elections/spec/commands/decidim/elections/admin/setup_election_spec.rb
  decidim-elections/spec/models/decidim/votings/ballot_style_spec.rb
  decidim-elections/spec/services/decidim/elections/current_user_vote_flow_spec.rb
  decidim-elections/spec/services/decidim/votings/census_vote_flow_spec.rb
  decidim-elections/spec/system/vote_online_inside_a_voting_spec.rb
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: contract: e-voting, module: elections, type: feature

#7849 Fix branch name on generators
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/spec/generators_spec.rb
Labels: target: developer-experience

#7856 Fix proposal form attachment errors
  decidim-proposals/app/forms/decidim/proposals/proposal_form.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/shared/proposal_form_examples.rb
Labels: module: proposals, type: fix

#7669 Improve proposals import options
  decidim-proposals/app/commands/decidim/proposals/admin/import_proposals.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposals_import_form.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals_imports/new.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/commands/decidim/proposals/admin/import_proposals_spec.rb
Labels: module: proposals, type: feature

#7854 Fix joining a meetings that the user already follows
  decidim-core/app/commands/decidim/create_follow.rb
  decidim-core/spec/commands/decidim/create_follow_spec.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
Labels: module: meetings, type: fix

#7855 Dynamically get all participatory space role tables for the `visible_meeting_for` query
  decidim-meetings/app/models/decidim/meetings/meeting.rb
Labels: module: meetings, target: developer-experience

#7853 Attempt to fix puffing-billy runtime error
  decidim-dev/lib/decidim/dev/test/rspec_support/puffing_billy.rb
Labels: target: developer-experience

#7810 Accessibility tool for development environments
  .github/workflows/ci_dev_system.yml
  .rubocop_ruby.yml
  config/webpack/custom.js
  decidim-dev/app/assets/config/decidim_dev_manifest.css
  decidim-dev/app/assets/stylesheets/decidim/dev.css.scss
  decidim-dev/app/assets/stylesheets/decidim/dev/_accessibility.scss
  decidim-dev/app/controllers/concerns/decidim/dev/needs_development_tools.rb
  decidim-dev/app/packs/entrypoints/decidim_dev.js
  decidim-dev/app/packs/src/decidim/dev/accessibility.js
  decidim-dev/lib/decidim-dev.rb
  decidim-dev/lib/decidim/dev/engine.rb
  decidim-dev/spec/factories.rb
  decidim-dev/spec/spec_helper.rb
  decidim-dev/spec/system/accessibility_tool_spec.rb
  decidim_app-design/app/controllers/application_controller.rb
  decidim_app-design/app/views/layouts/public.html.erb
  package.json
  yarn.lock
Labels: type: feature

#7852 Redirect unauthenticated users to sign in page for unauthorized views
  decidim-assemblies/spec/controllers/assemblies_controller_spec.rb
  decidim-conferences/spec/controllers/conferences_controller_spec.rb
  decidim-consultations/spec/system/consultation_spec.rb
  decidim-core/app/controllers/decidim/application_controller.rb
  decidim-core/spec/controllers/application_controller_spec.rb
  decidim-elections/spec/system/voting_spec.rb
  decidim-meetings/spec/system/user_creates_meeting_spec.rb
  decidim-participatory_processes/spec/controllers/participatory_processes_controller_spec.rb
Labels: module: core, type: change

#7858 Fix filter by scopes
  decidim-core/app/helpers/decidim/check_boxes_tree_helper.rb
  decidim-core/spec/helpers/decidim/check_boxes_tree_helper_spec.rb
Labels: module: core, type: fix

#7860 CSV exporter should take into account locales from all resources
  decidim-core/lib/decidim/exporters/csv.rb
  decidim-core/spec/lib/exporters/csv_spec.rb
Labels: backport, module: core, type: fix

#7839 Onboarding workflow after voting
  config/webpack/custom.js
  decidim-elections/app/controllers/decidim/elections/elections_controller.rb
  decidim-elections/app/controllers/decidim/elections/feedbacks_controller.rb
  decidim-elections/app/controllers/decidim/elections/votes_controller.rb
  decidim-elections/app/packs/entrypoints/decidim_elections_onboarding.js
  decidim-elections/app/packs/src/decidim/elections/onboarding.js
  decidim-elections/app/views/decidim/elections/elections/show.html.erb
  decidim-elections/app/views/decidim/elections/votes/_onboarding_modal.html.erb
  decidim-elections/app/views/decidim/elections/votes/_show_casted.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/shared/vote_examples.rb
  decidim-elections/spec/system/vote_online_inside_a_voting_spec.rb
  decidim-elections/spec/system/vote_online_spec.rb
Labels: contract: e-voting, module: elections, type: feature

#7843 Give admin panel access to monitoring committee members
  decidim-elections/app/controllers/decidim/votings/admin/monitoring_committee_certificates_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/monitoring_committee_members_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/votings_controller.rb
  decidim-elections/app/permissions/decidim/elections/admin/permissions.rb
  decidim-elections/app/permissions/decidim/votings/admin/permissions.rb
  decidim-elections/app/permissions/decidim/votings/permissions.rb
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_certificates/index.html.erb
  decidim-elections/app/views/decidim/votings/admin/votings/edit.html.erb
  decidim-elections/app/views/decidim/votings/admin/votings/index.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/elections/admin_engine.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-elections/lib/decidim/votings/census_admin_engine.rb
  decidim-elections/spec/permissions/decidim/votings/admin/permissions_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_monitoring_committee_spec.rb
Labels: contract: e-voting, module: elections, type: feature

#7872 Fix TypeError in newsletters
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-comments/spec/models/comment_spec.rb
Labels: module: comments, type: fix

#7874 Fix report mailers when author is a meeting
  decidim-core/app/views/decidim/reported_mailer/report.html.erb
  decidim-core/spec/mailers/reported_mailer_spec.rb
Labels: backport, module: core, type: fix

#7875 Fix TypeError in newsletters
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-comments/spec/models/comment_spec.rb
Labels: backport, module: comments, type: fix

#7876 Fix TypeError in newsletters
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-comments/spec/models/comment_spec.rb
Labels: backport, module: comments, type: fix

#7877 Fix editor: shift+enter makes single br tag before link
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-core/app/packs/src/decidim/editor/modified_enter.js
Labels: module: core, type: fix

#7881 Upgrade decidim-bulletin_board to 0.20.0
  .eslintrc.json
  .github/workflows/README.md
  .github/workflows/ci_comments.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/lint_code.yml
  Gemfile.lock
  Rakefile
  decidim-comments/README.md
  decidim-elections/app/packs/src/decidim/elections/trustee/key_ceremony.js
  decidim-elections/app/packs/src/decidim/elections/trustee/tally.js
  decidim-elections/decidim-elections.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
  docs/README.adoc
  docs/modules/develop/pages/guide_commands.adoc
  package.json
  yarn.lock
Labels: contract: e-voting, module: elections, target: developer-experience

#7882 Store election verifiable results data in election
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  Gemfile.lock
  decidim-elections/app/commands/decidim/elections/trustee_zone/update_election_bulletin_board_status.rb
  decidim-elections/db/migrate/20210422124826_add_verifiable_results_to_decidim_elections_election.rb
  decidim-elections/decidim-elections.gemspec
  decidim-elections/spec/commands/decidim/elections/trustee_zone/update_election_bulletin_board_status_spec.rb
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
  package.json
  yarn.lock
Labels: contract: e-voting, module: elections, type: feature

#7892 Fix meeting registrations questionnaire free text choice answers export
  decidim-meetings/app/serializers/decidim/meetings/registration_serializer.rb
  decidim-meetings/spec/serializers/registration_serializer_spec.rb
Labels: module: meetings, type: fix

#7890 Fix not signed in needs permission redirect for internal links
  decidim-core/app/controllers/concerns/decidim/needs_permission.rb
  decidim-core/spec/controllers/concerns/needs_permission_spec.rb
Labels: module: core, type: fix

#7880 NoMethodError raised when voting comments from threads
  decidim-comments/app/events/decidim/comments/comment_voted_event.rb
  decidim-comments/spec/events/decidim/comments/comment_downvoted_event_spec.rb
  decidim-comments/spec/events/decidim/comments/comment_upvoted_event_spec.rb
Labels: module: comments, type: fix

#6916 Authorizable comment action for proposals
  decidim-comments/app/cells/decidim/comments/comment/votes.erb
  decidim-comments/app/cells/decidim/comments/comment_cell.rb
  decidim-comments/app/cells/decidim/comments/comments/user_comments_blocked_warning.erb
  decidim-comments/app/cells/decidim/comments/comments_cell.rb
  decidim-comments/app/controllers/decidim/comments/comments_controller.rb
  decidim-comments/app/forms/decidim/comments/comment_form.rb
  decidim-comments/app/permissions/decidim/comments/permissions.rb
  decidim-comments/config/locales/en.yml
  decidim-comments/lib/decidim/comments/commentable.rb
  decidim-comments/spec/cells/decidim/comments/comment_cell_spec.rb
  decidim-comments/spec/cells/decidim/comments/comments_cell_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/component.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/commentable_proposal.rb
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/system/authorized_comments_spec.rb
  decidim-proposals/spec/system/comments_spec.rb
Labels: status: WIP

#7903 Fix JS errors in the admin panel
  decidim-admin/app/packs/entrypoints/decidim_admin.js
Labels: module: admin, type: fix

#7912 Open attachments in new tab
  decidim-core/app/views/decidim/application/_document.html.erb
Labels: module: core, type: change

#7915 Make webpacker build available in production
  .github/workflows/README.md
  .github/workflows/lint_code.yml
  .rubocop_ruby.yml
  Gemfile
  Gemfile.lock
  Rakefile
  decidim-comments/README.md
  decidim-core/app/assets/config/decidim_core_manifest.js
  decidim-generators/Gemfile
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim.gemspec
  decidim_app-design/.gitignore
  decidim_app-design/Gemfile.lock
  decidim_app-design/bin/setup
  decidim_app-design/bin/yarn
  decidim_app-design/config/initializers/assets.rb
  decidim_app-design/yarn.lock
  docs/README.adoc
  docs/modules/develop/pages/guide_commands.adoc
  lib/tasks/decidim_tasks.rake
  package-lock.json
  package.json
  spec/yarn_spec.rb
  yarn.lock
Labels: target: developer-experience

#7917 Open attachments in new tab
  decidim-core/app/views/decidim/application/_document.html.erb
Labels: backport, module: core, type: fix

#7918 Open attachments in new tab
  decidim-core/app/views/decidim/application/_document.html.erb
Labels: backport, module: core, type: fix

#7900 Validate nickname using correct regexp
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/models/decidim/user_base_entity.rb
  decidim-core/spec/models/decidim/user_spec.rb
Labels: module: core, type: fix

#7919 Use NPM instead of yarn on CI
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public_1.yml
  .github/workflows/ci_proposals_system_public_2.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
Labels: target: developer-experience

#7921 Validate nickname using correct regexp
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/models/decidim/user_base_entity.rb
  decidim-core/spec/models/decidim/user_spec.rb
Labels: backport, module: core, type: fix

#7920 Validate nickname using correct regexp
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/models/decidim/user_base_entity.rb
  decidim-core/spec/models/decidim/user_spec.rb
Labels: backport, contract: lot: core, module: core

#7925 Cast proposal and collaborative drafts titles to text
  decidim-proposals/app/cells/decidim/proposals/proposals_picker_cell.rb
  decidim-proposals/app/services/decidim/proposals/collaborative_draft_search.rb
  decidim-proposals/spec/services/decidim/proposals/collaborative_draft_search_spec.rb
Labels: module: proposals, type: fix

#7926 Don't show deleted users on user group members page
  decidim-core/app/models/decidim/user_group.rb
  decidim-core/app/queries/decidim/user_groups/accepted_memberships.rb
  decidim-core/app/queries/decidim/user_groups/admin_memberships.rb
  decidim-core/app/queries/decidim/user_groups/member_memberships.rb
  decidim-core/spec/queries/decidim/user_groups/accepted_memberships_spec.rb
  decidim-core/spec/queries/decidim/user_groups/admin_memberships_spec.rb
  decidim-core/spec/queries/decidim/user_groups/member_memberships_spec.rb
Labels: backport, module: core, type: fix

#7928 Cast proposal and collaborative drafts titles to text
  decidim-proposals/app/cells/decidim/proposals/proposals_picker_cell.rb
  decidim-proposals/app/services/decidim/proposals/collaborative_draft_search.rb
  decidim-proposals/spec/services/decidim/proposals/collaborative_draft_search_spec.rb
Labels: backport, module: proposals, type: fix
