Repository decidim/decidim, pull requests merged in 2021-11, with the labels that each got.

#8463 Fix notification after creating survey
  decidim-surveys/lib/decidim/surveys/component.rb
Labels: in-review, module: surveys, type: fix

#8450 Fix comment's get link in project view
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-budgets/spec/system/comments_spec.rb
  decidim-comments/app/cells/decidim/comments/comments_cell.rb
  decidim-comments/lib/decidim/comments/comments_helper.rb
  decidim-comments/spec/helpers/comments_helper_spec.rb
Labels: in-review, module: budgets, module: comments, type: fix

#8467 Backport fix notification after creating survey
  decidim-surveys/lib/decidim/surveys/component.rb
Labels: in-review, backport, module: surveys, type: fix

#8453 Remove anchored dependency
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/content_renderers/link_renderer.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/content_renderers/decidim/link_renderer_spec.rb
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: type: enhancement, in-review, module: core

#8469 Backport comment's get link in project view (#8450)
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-budgets/spec/system/comments_spec.rb
  decidim-comments/app/cells/decidim/comments/comments_cell.rb
  decidim-comments/lib/decidim/comments/comments_helper.rb
  decidim-comments/spec/helpers/comments_helper_spec.rb
Labels: module: budgets, module: comments, backport, type: fix

#8468 Fix report missing trustee admin log entry
  decidim-elections/app/commands/decidim/elections/admin/report_missing_trustee.rb
  decidim-elections/app/presenters/decidim/elections/admin_log/election_presenter.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/commands/decidim/elections/admin/report_missing_trustee_spec.rb
  decidim-elections/spec/presenters/decidim/elections/admin_log/election_presenter_spec.rb
Labels: module: elections, type: fix

#8466 Change Gitter to Matrix.org in documentation
  CONTRIBUTING.adoc
  README.adoc
  docs/modules/install/pages/manual.adoc
Labels: team: documentation, in-review, type: change

#8458 Document how to enable machine translations on organization
  docs/modules/develop/pages/machine_translations.adoc
Labels: team: documentation, target: developer-experience

#8513 Fix 404 link in 'how to participate' home content block
  decidim-core/app/cells/decidim/content_blocks/how_to_participate/show.erb
Labels: module: core, type: fix

#8497 Fix meetings with multiple dates
  decidim-debates/lib/decidim/debates/component.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/lib/decidim/meetings/component.rb
Labels: module: meetings, type: fix

#8521 Backport "Fix 404 link in 'how to participate' home content block" to v0.25
  decidim-core/app/cells/decidim/content_blocks/how_to_participate/show.erb
Labels: module: core, backport, type: fix

#8523 Fix pt-BR issue
  crowdin.yaml
Labels: type: fix

#8531 Freezing webpacker to RC.5 until RC.7 is fixed
  .github/workflows/ci_meetings_system_public.yml
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: module: generators, type: fix

#8536 Backport "Freezing webpacker to RC.5 until RC.7 is fixed" to v0.25
  .github/workflows/ci_meetings_system_public.yml
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: backport, module: generators, type: fix

#8520 Fix conference speakers when there isn't any avatar
  decidim-conferences/app/cells/decidim/conferences/conference_speaker_cell.rb
  decidim-conferences/lib/decidim/conferences/test/factories.rb
  decidim-conferences/spec/cells/decidim/conferences/conference_speaker_cell_spec.rb
Labels: module: conferences, type: fix

#8522 Backport "Fix meetings with multiple dates" to v0.25
  decidim-debates/lib/decidim/debates/component.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/lib/decidim/meetings/component.rb
Labels: module: meetings, backport, type: fix

#8534 Fix meetings input when rich text editor is disabled
  decidim-meetings/app/forms/decidim/meetings/close_meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/meeting_form.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_edition_presenter.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/spec/system/user_edit_meeting_spec.rb
Labels: module: meetings, contract: online-meetings, type: fix

#8539 Backport "Fix the copy of components weights in participatory processes and assemblies" to v0.25
  decidim-assemblies/app/commands/decidim/assemblies/admin/copy_assembly.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/copy_participatory_process.rb
Labels: backport, module: assemblies, module: participatory processes, type: fix

#8530 Add rendered view instrumentation information
  decidim-core/lib/decidim/view_model.rb
Labels: module: core, target: developer-experience

#8544 Update the i18n-tasks initialization syntax
  Gemfile.lock
  spec/i18n_spec.rb
Labels: target: developer-experience

#8545 Backport "Update the i18n-tasks initialization syntax" to v0.25
  Gemfile.lock
  spec/i18n_spec.rb
Labels: target: developer-experience, backport

#8503 Optimize open data exporter for large amount of data
  decidim-accountability/lib/decidim/accountability/component.rb
  decidim-assemblies/lib/decidim/assemblies/participatory_space.rb
  decidim-core/app/services/decidim/open_data_exporter.rb
  decidim-core/lib/decidim/exporters/csv.rb
  decidim-elections/lib/decidim/elections/component.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/lib/decidim/meetings/meeting_serializer.rb
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
Labels: type: enhancement, module: core, team: performance

#8519 Fix showing created meetings in 'my public profile'
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/create_meeting.rb
  decidim-meetings/spec/commands/admin/create_meeting_spec.rb
  decidim-meetings/spec/commands/create_meeting_spec.rb
Labels: module: meetings, type: fix

#8569 Backport "Fix showing created meetings in 'my public profile'" to v0.25
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/create_meeting.rb
  decidim-meetings/spec/commands/admin/create_meeting_spec.rb
  decidim-meetings/spec/commands/create_meeting_spec.rb
Labels: module: meetings, backport

#8307 Meetings iframe visibility
  decidim-meetings/app/cells/decidim/meetings/online_meeting_cell.rb
  decidim-meetings/app/cells/decidim/meetings/online_meeting_link/show.erb
  decidim-meetings/app/cells/decidim/meetings/online_meeting_link_cell.rb
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/update_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/live_events_controller.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/meeting_form.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/packs/src/decidim/meetings/admin/meetings_form.js
  decidim-meetings/app/services/decidim/meetings/meeting_iframe_embedder.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_form.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20210903143040_add_iframe_access_level_to_decidim_meetings.rb
  decidim-meetings/db/migrate/20210922140454_transform_show_embedded_iframe_column.rb
  decidim-meetings/lib/decidim/api/meeting_type.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/commands/admin/create_meeting_spec.rb
  decidim-meetings/spec/commands/admin/update_meeting_spec.rb
  decidim-meetings/spec/commands/create_meeting_spec.rb
  decidim-meetings/spec/commands/update_meeting_spec.rb
  decidim-meetings/spec/forms/admin/meeting_form_spec.rb
  decidim-meetings/spec/forms/meeting_form_spec.rb
  decidim-meetings/spec/services/meeting_iframe_embedder_spec.rb
  decidim-meetings/spec/system/live_meeting_access_spec.rb
Labels: module: meetings, type: feature

#8558 Fix various proposal picker issues when there are thousands of proposals
  decidim-proposals/app/cells/decidim/proposals/proposals_picker_cell.rb
  decidim-proposals/app/packs/src/decidim/proposals/admin/proposals_picker.js
Labels: module: proposals, module: meetings, type: fix

#8561 Remove border on all the fieldsets
  decidim-initiatives/app/packs/stylesheets/decidim/initiatives/initiatives.scss
Labels: module: core, team: design, type: fix

#8563 Remove wrong </div> in initiatives header
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_index_header.html.erb
Labels: team: design, module: initiatives, type: fix

#8573 Backport "Remove wrong </div> in initiatives header" to v0.25
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_index_header.html.erb
Labels: backport, team: design, module: initiatives, type: fix
