Repository decidim/decidim, pull requests merged in 2021-06, with the labels that each got.

#8081 Use correct newsletter cell for web view
  decidim-core/app/views/decidim/newsletters/show.html.erb
  decidim-core/spec/system/newsletter_spec.rb
Labels: backport, module: core, type: fix

#8080 Update bundle for security reasons
  Dockerfile.design
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim.gemspec
  decidim_app-design/Gemfile.lock
  docs/modules/install/pages/update.adoc
Labels: target: developer-experience

#8084 Bump bundle version for security reasons
  Dockerfile.design
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim.gemspec
  decidim_app-design/Gemfile.lock
  docs/modules/install/pages/update.adoc
Labels: backport, target: developer-experience

#8085 Make surveys matrix tables to scroll when needed
  decidim-forms/app/packs/stylesheets/decidim/forms/forms.scss
Labels: module: surveys, type: fix

#8086 Make surveys matrix tables to scroll when needed
  decidim-forms/app/assets/stylesheets/decidim/forms/forms.scss
Labels: backport, module: surveys, type: fix

#7993 Add groups as assembly members
  decidim-admin/app/controllers/decidim/admin/organization_controller.rb
  decidim-admin/config/routes.rb
  decidim-admin/spec/controllers/organizations_contoller_spec.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly_member.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_member_form.rb
  decidim-assemblies/app/models/decidim/assembly_member.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assembly_members/_form.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/commands/create_assembly_member_spec.rb
  decidim-assemblies/spec/shared/manage_assembly_members_examples.rb
  decidim-core/app/models/decidim/organization.rb
Labels: in-review, module: admin, module: assemblies

#8066 Configure webpacker additional paths and entry points programmatically
  decidim-accountability/config/assets.rb
  decidim-admin/config/assets.rb
  decidim-api/config/assets.rb
  decidim-assemblies/config/assets.rb
  decidim-blogs/config/assets.rb
  decidim-budgets/config/assets.rb
  decidim-comments/config/assets.rb
  decidim-conferences/config/assets.rb
  decidim-consultations/config/assets.rb
  decidim-core/config/assets.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/view_model.rb
  decidim-core/lib/decidim/webpacker.rb
  decidim-core/lib/decidim/webpacker/configuration.rb
  decidim-core/lib/decidim/webpacker/runner.rb
  decidim-core/lib/decidim/webpacker/webpack/custom.js
  decidim-core/lib/decidim/webpacker/webpacker.yml
  decidim-core/lib/gem_overrides/webpacker/runner.rb
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
  decidim-core/spec/lib/webpacker/runner_spec.rb
  decidim-core/spec/lib/webpacker_spec.rb
  decidim-core/spec/presenters/decidim/nil_presenter_spec.rb
  decidim-core/spec/spec_helper.rb
  decidim-debates/config/assets.rb
  decidim-dev/config/assets.rb
  decidim-elections/config/assets.rb
  decidim-forms/config/assets.rb
  decidim-initiatives/config/assets.rb
  decidim-meetings/config/assets.rb
  decidim-pages/config/assets.rb
  decidim-participatory_processes/config/assets.rb
  decidim-proposals/config/assets.rb
  decidim-sortitions/config/assets.rb
  decidim-surveys/config/assets.rb
  decidim-system/config/assets.rb
  decidim-templates/config/assets.rb
  decidim_app-design/config/webpack/custom.js
  decidim_app-design/config/webpacker.yml
Labels: in-review, target: developer-experience, type: enhancement

#8061 Search user groups
  CHANGELOG.md
  decidim-core/app/models/decidim/user_group.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/searchable.rb
Labels: in-review, module: core, type: enhancement

#8031 Fix question preview when no questions are published
  decidim-consultations/app/controllers/concerns/decidim/consultations/needs_question.rb
  decidim-consultations/spec/system/question_spec.rb
Labels: in-review, module: consultations, type: fix

#8111 Fix question preview when no questions published
  decidim-consultations/app/controllers/concerns/decidim/consultations/needs_question.rb
  decidim-consultations/spec/system/question_spec.rb
Labels: backport, module: consultations, type: fix

#8113 Use develop branch for generator
  decidim-generators/spec/generators_spec.rb
Labels: target: developer-experience, type: fix

#7954 Maps optional in meetings
  decidim-meetings/app/controllers/decidim/meetings/admin/application_controller.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/index.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-meetings/spec/system/meeting_spec.rb
Labels: in-review, module: meetings, type: feature

#8112 Use carryforward flags to improve project coverage calculations
  .github/upload_coverage.sh
  codecov.yml
Labels: target: developer-experience, type: fix

#8107 Fix webpacker asset configs for external apps
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/webpacker/configuration.rb
  decidim-core/lib/decidim/webpacker/runner.rb
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
  decidim-core/spec/lib/webpacker/configuration_spec.rb
Labels: in-review, module: core, target: developer-experience, type: fix

#8115 Dynamic stylesheet includes with Webpacker
  decidim-accountability/config/assets.rb
  decidim-budgets/config/assets.rb
  decidim-conferences/config/assets.rb
  decidim-consultations/config/assets.rb
  decidim-core/app/packs/stylesheets/decidim/application.scss
  decidim-core/lib/decidim/webpacker.rb
  decidim-core/lib/decidim/webpacker/configuration.rb
  decidim-core/lib/decidim/webpacker/webpack/base.js
  decidim-core/spec/lib/webpacker/configuration_spec.rb
  decidim-core/spec/lib/webpacker/runner_spec.rb
  decidim-core/spec/lib/webpacker_spec.rb
  decidim-elections/config/assets.rb
  decidim-initiatives/config/assets.rb
  decidim-proposals/config/assets.rb
  decidim-surveys/config/assets.rb
Labels: in-review, module: core, target: developer-experience

#7947 Register to meeting via email
  decidim-core/app/views/decidim/notification_mailer/event_received.html.erb
  decidim-core/lib/decidim/events/email_event.rb
  decidim-core/spec/lib/events/email_event_spec.rb
  decidim-core/spec/mailers/notification_mailer_spec.rb
  decidim-meetings/app/events/decidim/meetings/create_meeting_event.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/events/decidim/meetings/create_meeting_event_spec.rb
Labels: in-review, module: meetings, type: feature

#8091 Remove deprecated Bootsnap warnings
  decidim-generators/lib/decidim/generators/app_generator.rb
Labels: in-review, module: generators, target: developer-experience

#8108 Remove the relative paths from the fontface file
  decidim-core/app/packs/stylesheets/decidim/utils/_fontface.scss
Labels: in-review, target: developer-experience, type: fix

#8071 NoMethodError: undefined method `blocked?' for nil:NilClass
  decidim-core/app/cells/decidim/profile/invalid.erb
  decidim-core/app/cells/decidim/profile_cell.rb
  decidim-core/app/controllers/decidim/profiles_controller.rb
  decidim-core/spec/system/user_activity_spec.rb
Labels: module: core, type: fix

#8075 ActionView::Template::ErrorSidekiq/ActionMailer::MailDeliveryJob
  decidim-core/app/mailers/decidim/reported_mailer.rb
  decidim-core/spec/mailers/reported_mailer_spec.rb
Labels: in-review, module: core, type: fix

#8033 Make collection of initiatives exportable
  decidim-admin/config/locales/en.yml
  decidim-initiatives/app/controllers/decidim/initiatives/admin/initiatives_controller.rb
  decidim-initiatives/app/helpers/decidim/initiatives/admin/initiatives_helper.rb
  decidim-initiatives/app/jobs/decidim/initiatives/export_initiatives_job.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/exports/_dropdown.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/index.html.erb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/initiatives_controller_spec.rb
  decidim-initiatives/spec/jobs/decidim/initiatives/export_initiatives_job_spec.rb
  decidim-initiatives/spec/system/admin/export_spec.rb
Labels: in-review, module: initiatives, type: feature

#8092 Fix formatting issue on process timeline card
  decidim-participatory_processes/app/views/layouts/decidim/_process_header_steps.html.erb
Labels: in-review, module: participatory processes, type: fix

#8088 Fix proposal map form
  decidim-core/app/packs/src/decidim/geocoding/attach_input.js
  decidim-core/app/packs/src/decidim/geocoding/coordinate_input.js
  decidim-core/app/packs/src/decidim/map/controller.js
  decidim-core/app/packs/src/decidim/map/controller/drag_marker.js
  decidim-core/config/locales/en.yml
  decidim-proposals/app/packs/src/decidim/proposals/add_proposal.js
  decidim-proposals/app/views/decidim/proposals/proposals/_dynamic_map_instructions.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_edit_form_fields.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/preview.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/shared/proposals_wizards_examples.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
  decidim-proposals/spec/system/proposals_fields_spec.rb
Labels: in-review, module: proposals, target: user-experience, type: enhancement

#8104 Filter participants admin
  decidim-admin/app/controllers/decidim/admin/users_controller.rb
  decidim-admin/app/views/decidim/admin/users/index.html.erb
  decidim-admin/config/locales/en.yml
  decidim-core/app/models/decidim/user.rb
Labels: in-review, module: admin, type: feature

#8128 Fix flaky test on initiatives
  decidim-initiatives/app/jobs/decidim/initiatives/export_initiatives_job.rb
  decidim-initiatives/spec/jobs/decidim/initiatives/export_initiatives_job_spec.rb
Labels: module: initiatives, target: developer-experience, type: fix

#8129 Add missing translation for authorization_modals
  decidim-core/config/locales/en.yml
Labels: in-review, module: core, type: fix

#8133 Add missing templates translations
  decidim-templates/config/locales/en.yml
Labels: in-review, module: admin, type: fix

#8117 Metric is not shown when value is zero for blocked and reported users
  decidim-core/app/queries/decidim/metric_manage.rb
Labels: in-review, module: admin, type: fix

#8121 Split NPM dependencies to more granular packages
  .eslintrc.json
  decidim-core/lib/tasks/decidim_tasks.rake
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
  decidim-generators/lib/decidim/generators/install_generator.rb
  decidim.gemspec
  decidim_app-design/package-lock.json
  decidim_app-design/package.json
  decidim_app-design/packages/all/package.json
  decidim_app-design/packages/browserslist-config/index.js
  decidim_app-design/packages/browserslist-config/package.json
  decidim_app-design/packages/core/package.json
  decidim_app-design/packages/dev/package.json
  decidim_app-design/packages/elections/package.json
  decidim_app-design/packages/eslint-config/index.js
  decidim_app-design/packages/eslint-config/package.json
  decidim_app-design/packages/stylelint-config/index.js
  decidim_app-design/packages/stylelint-config/package.json
  decidim_app-design/packages/webpacker/package.json
  package-lock.json
  package.json
  packages/all/package.json
  packages/browserslist-config/index.js
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  packages/webpacker/package.json
  packages_dev/all/package.json
  packages_dev/dev/package.json
Labels: in-review, target: developer-experience, type: enhancement

#8135 Backport "Add missing templates translations" to 0.24
  decidim-templates/config/locales/en.yml
Labels: backport, module: admin, type: fix

#8134 Backport "Add missing translation for authorization_modals" to 0.24
  decidim-core/config/locales/en.yml
Labels: backport, module: core, type: fix

#8139 Bump mimeagic
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: backport, target: developer-experience, type: fix

#8034 Add comments in participatory space presentation page stats block
  decidim-assemblies/app/presenters/decidim/assemblies/assembly_stats_presenter.rb
  decidim-assemblies/spec/cells/decidim/assemblies/statistic_cell_spec.rb
  decidim-assemblies/spec/presenters/decidim/assemblies/assembly_stats_presenter_spec.rb
  decidim-conferences/app/presenters/decidim/conferences/conference_stats_presenter.rb
  decidim-conferences/spec/presenters/decidim/conferences/conference_stats_presenter_spec.rb
  decidim-core/app/presenters/decidim/stats_presenter.rb
  decidim-elections/app/presenters/decidim/votings/voting_stats_presenter.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/spec/lib/decidim/meetings/component_spec.rb
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/participatory_process_group_stats_presenter.rb
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/participatory_process_stats_presenter.rb
  decidim-participatory_processes/spec/cells/decidim/participatory_processes/statistic_cell_spec.rb
  decidim-participatory_processes/spec/cells/decidim/participatory_processes/statistics_cell_spec.rb
  decidim-participatory_processes/spec/presenters/decidim/participatory_processes/participatory_process_stats_presenter_spec.rb
Labels: in-review, module: participatory processes, type: feature

#8141 Delete useless file
  decidim-participatory_processes/A
Labels: backport, type: fix

#8149 Fix scope types admin
  decidim-admin/app/views/decidim/admin/scope_types/index.html.erb
  decidim-admin/spec/system/admin_manages_organization_scope_types_spec.rb
Labels: backport, in-review, module: admin, type: fix

#8072 Allow users to comment and delete their own comments
  decidim-comments/app/cells/decidim/comments/comment/deletion_data.erb
  decidim-comments/app/cells/decidim/comments/comment/show.erb
  decidim-comments/app/cells/decidim/comments/comment/utilities.erb
  decidim-comments/app/cells/decidim/comments/comment_cell.rb
  decidim-comments/app/cells/decidim/comments/edit_comment_modal_form/show.erb
  decidim-comments/app/cells/decidim/comments/edit_comment_modal_form_cell.rb
  decidim-comments/app/commands/decidim/comments/delete_comment.rb
  decidim-comments/app/commands/decidim/comments/update_comment.rb
  decidim-comments/app/controllers/decidim/comments/comments_controller.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-comments/app/permissions/decidim/comments/permissions.rb
  decidim-comments/app/queries/decidim/comments/metrics/comment_participants_metric_measure.rb
  decidim-comments/app/queries/decidim/comments/metrics/comments_metric_manage.rb
  decidim-comments/app/views/decidim/comments/comments/_delete.html.erb
  decidim-comments/app/views/decidim/comments/comments/_edited_comment.html.erb
  decidim-comments/app/views/decidim/comments/comments/delete.js.erb
  decidim-comments/app/views/decidim/comments/comments/deletion_error.js.erb
  decidim-comments/app/views/decidim/comments/comments/update.js.erb
  decidim-comments/app/views/decidim/comments/comments/update_error.js.erb
  decidim-comments/config/locales/en.yml
  decidim-comments/db/migrate/20210529095942_add_deleted_at_column_to_comments.rb
  decidim-comments/lib/decidim/comments/commentable.rb
  decidim-comments/lib/decidim/comments/engine.rb
  decidim-comments/spec/cells/decidim/comments/comment_cell_spec.rb
  decidim-comments/spec/controllers/decidim/comments/comments_controller_spec.rb
  decidim-comments/spec/system/report_comment_spec.rb
  decidim-core/app/packs/stylesheets/decidim/modules/_comments.scss
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_reports_examples.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-initiatives/spec/system/report_comment_spec.rb
  decidim_app-design/app/views/public/partials/_comment.html.erb
  decidim_app-design/app/views/public/partials/_comment_context_menu.html.erb
  decidim_app-design/app/views/public/partials/_comments.html.erb
Labels: in-review, module: comments, target: user-experience, type: feature

#8130 Fix user report notification reported user name
  decidim-core/app/views/decidim/user_report_mailer/notify.html.erb
  decidim-core/spec/mailers/user_report_mailer_spec.rb
Labels: in-review, module: core, type: fix

#8132 Fix access to import CSV results in accountability
  decidim-accountability/app/controllers/decidim/accountability/admin/import_results_controller.rb
  decidim-accountability/app/views/decidim/accountability/admin/import_results/new.html.erb
  decidim-accountability/spec/controllers/decidim/accountability/admin/import_results_controller_spec.rb
Labels: in-review, module: accountability, type: fix

#8142 Fix dont save timeout path to session
  decidim-core/app/controllers/concerns/decidim/force_authentication.rb
  decidim-core/app/controllers/decidim/timeouts_controller.rb
  decidim-core/spec/controllers/decidim/timeouts_controller_spec.rb
Labels: in-review, module: core, target: user-experience, type: fix

#8146 Fix verification route issues
  decidim-verifications/lib/decidim/verifications/adapter.rb
  decidim-verifications/spec/lib/decidim/verifications/adapter_spec.rb
Labels: in-review, module: verifications, type: fix

#8152 Allow to create online meetings without an URL
  decidim-admin/app/forms/decidim/admin/organization_appearance_form.rb
  decidim-consultations/app/forms/decidim/consultations/admin/question_form.rb
  decidim-core/app/forms/url_validator.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_url/show.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_url_cell.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_online_meeting_link.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/forms/admin/meeting_form_spec.rb
  decidim-system/app/forms/decidim/system/oauth_application_form.rb
Labels: in-review, module: meetings, type: feature

#7467 Fix session timeout conflicting with remember me
  decidim-core/app/controllers/decidim/timeouts_controller.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/packs/src/decidim/session_timeouter.js
  decidim-core/app/views/layouts/decidim/_timeout_modal.html.erb
  decidim-core/config/initializers/devise.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/system/session_timeout_spec.rb
  decidim-system/app/models/decidim/system/admin.rb
Labels: in-review, module: core, target: user-experience, type: fix

#8154 Fix admin stylesheet dynamic imports
  decidim-admin/app/packs/stylesheets/decidim/admin/application.scss
  decidim-core/app/packs/stylesheets/decidim/application.scss
  decidim-core/lib/decidim/webpacker.rb
  decidim-core/lib/decidim/webpacker/configuration.rb
  decidim-core/lib/decidim/webpacker/webpack/base.js
  decidim-core/spec/lib/webpacker/configuration_spec.rb
  decidim-core/spec/lib/webpacker/runner_spec.rb
  decidim-core/spec/lib/webpacker_spec.rb
Labels: module: admin, target: developer-experience, type: enhancement

#8157 Fix user report notification reported user name
  decidim-core/app/views/decidim/user_report_mailer/notify.html.erb
  decidim-core/spec/mailers/user_report_mailer_spec.rb
Labels: backport, in-review, module: core, type: fix

#8160 Fix proposal map for on release/0.24-stable
  decidim-proposals/app/views/decidim/proposals/proposals/preview.html.erb
  decidim-proposals/spec/shared/proposals_wizards_examples.rb
Labels: backport, in-review, module: proposals, target: user-experience, type: fix

#8158 Move the webpacker config override to @decidim/webpacker
  decidim-core/lib/decidim/webpacker/webpack/base.js
  packages/webpacker/index.js
  packages/webpacker/package.json
  packages/webpacker/src/override-config.js
Labels: in-review, module: core, target: developer-experience, type: enhancement

#8148 Fix proposal picker remove using "×"
  decidim-budgets/spec/shared/manage_projects_examples.rb
  decidim-core/app/packs/src/decidim/data_picker.js
  decidim-proposals/lib/decidim/proposals/test/capybara_proposals_picker.rb
Labels: in-review, module: budgets, module: proposals, type: fix

#8170 Backport fix dont save timeout path to session
  decidim-core/app/controllers/concerns/decidim/force_authentication.rb
  decidim-core/app/controllers/decidim/timeouts_controller.rb
  decidim-core/spec/controllers/decidim/timeouts_controller_spec.rb
Labels: backport, module: core, target: user-experience

#8171 Backport/timeout conflicting remember me
  decidim-core/app/assets/javascripts/decidim/session_timeouter.js.es6
  decidim-core/app/controllers/decidim/timeouts_controller.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/views/layouts/decidim/_timeout_modal.html.erb
  decidim-core/config/initializers/devise.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/system/session_timeout_spec.rb
  decidim-system/app/models/decidim/system/admin.rb
Labels: backport, module: core, target: user-experience

#8156 Fix admin log blocked user name
  decidim-admin/app/commands/decidim/admin/block_user.rb
  decidim-admin/spec/commands/decidim/admin/block_user_spec.rb
  decidim-core/db/migrate/20210629172525_fix_blocked_user_names_in_action_log.rb
  decidim-core/lib/decidim/core/test/shared_examples/admin_log_presenter_examples.rb
  decidim-core/spec/db/migrate/fix_blocked_user_names_in_action_log_spec.rb
  decidim-core/spec/presenters/decidim/admin_log/user_presenter_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/migration.rb
Labels: in-review, module: admin, target: user-experience, type: fix

#8175 Backport proposal picker click on span
  decidim-budgets/spec/shared/manage_projects_examples.rb
  decidim-core/app/assets/javascripts/decidim/data_picker.js.es6
  decidim-proposals/lib/decidim/proposals/test/capybara_proposals_picker.rb
Labels: backport, in-review, module: budgets, module: proposals
