Repository decidim/decidim, pull requests merged in 2021-09, with the labels that each got.

#8240 Fix accountability notifications proposal title
  decidim-accountability/app/events/decidim/accountability/proposal_linked_event.rb
  decidim-accountability/app/events/decidim/accountability/result_progress_updated_event.rb
  decidim-accountability/spec/events/decidim/accountability/proposal_linked_event_spec.rb
  decidim-accountability/spec/events/decidim/accountability/result_progress_updated_event_spec.rb
Labels: in-review, module: accountability, type: fix

#8249 Port decidim-budgets improvements from AjuntamentdeBarcelona/decidim
  config/i18n-tasks.yml
  decidim-budgets/app/assets/stylesheets/decidim/budgets/budget/_budget-vote-button.scss
  decidim-budgets/app/cells/decidim/budgets/budget_list_item/show.erb
  decidim-budgets/app/cells/decidim/budgets/budget_list_item_cell.rb
  decidim-budgets/app/cells/decidim/budgets/budgets_list/card_list.erb
  decidim-budgets/app/cells/decidim/budgets/budgets_list/highlighted.erb
  decidim-budgets/app/cells/decidim/budgets/budgets_list/show.erb
  decidim-budgets/app/cells/decidim/budgets/budgets_list/voted.erb
  decidim-budgets/app/cells/decidim/budgets/project_list_item/project_data.erb
  decidim-budgets/app/cells/decidim/budgets/project_vote_button/show.erb
  decidim-budgets/app/cells/decidim/budgets/project_vote_button_cell.rb
  decidim-budgets/app/commands/decidim/budgets/add_line_item.rb
  decidim-budgets/app/controllers/decidim/budgets/line_items_controller.rb
  decidim-budgets/app/packs/src/decidim/budgets/projects.js
  decidim-budgets/app/packs/stylesheets/decidim/budgets/budget/_budget-list.scss
  decidim-budgets/app/views/decidim/budgets/projects/_project_budget_button.html.erb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/spec/system/explore_budgets_spec.rb
  decidim-budgets/spec/system/orders_spec.rb
  decidim-core/app/packs/stylesheets/decidim/modules/_cards.scss
Labels: type: enhancement, in-review, module: budgets

#8262 Remove white spaces in Census
  decidim-dev/lib/decidim/dev/assets/import_voting_census.csv
  decidim-elections/app/commands/decidim/votings/census/admin/create_dataset.rb
  decidim-elections/spec/commands/decidim/votings/census/admin/create_dataset_spec.rb
Labels: in-review, contract: e-voting, module: elections

#8264 Validate census CSV headers
  decidim-dev/lib/decidim/dev/assets/import_voting_census_without_headers.csv
  decidim-elections/app/commands/decidim/votings/census/admin/create_dataset.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/commands/decidim/votings/census/admin/create_dataset_spec.rb
Labels: type: enhancement, in-review, contract: e-voting, module: elections

#8244 Improve README with examples
  README.adoc
  docs/modules/customize/pages/authorizations.adoc
Labels: in-review, target: developer-experience

#8253 Fix characters not encoded in title
  decidim-core/app/presenters/decidim/resource_presenter.rb
  decidim-debates/app/presenters/decidim/debates/debate_presenter.rb
  decidim-debates/app/views/decidim/debates/admin/debates/index.html.erb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-debates/lib/decidim/debates/test/factories.rb
  decidim-debates/spec/system/debate_embeds_spec.rb
  decidim-debates/spec/system/endorse_debate_spec.rb
  decidim-debates/spec/system/explore_debates_spec.rb
  decidim-debates/spec/system/search_debates_spec.rb
  decidim-debates/spec/system/show_spec.rb
  decidim-debates/spec/system/user_closes_debate_spec.rb
  decidim-debates/spec/system/user_edits_debate_spec.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_linked_meetings.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/spec/cells/decidim/meetings/meeting_m_cell_spec.rb
  decidim-proposals/app/presenters/decidim/proposals/proposal_presenter.rb
Labels: in-review, module: proposals, module: meetings, module: debates, type: fix

#8270 Fix Luxembourgish locale
  crowdin.yaml
  decidim-core/app/packs/src/decidim/foundation-datepicker/js/locales/foundation-datepicker.lb.js
  decidim-core/app/packs/src/decidim/foundation_datepicker_locales.js
  decidim-core/lib/decidim/core.rb
Labels: in-review, target: user-experience, type: fix

#8273 Update foundation-sites to 6.7.0 for better Dart Sass compatibility
  decidim_app-design/package-lock.json
  decidim_app-design/packages/core/package.json
  package-lock.json
  packages/core/package.json
Labels: type: enhancement, target: developer-experience

#8276 Add card images to meetings and blog posts
  decidim-blogs/app/views/decidim/blogs/posts/_posts.html.erb
  decidim-blogs/spec/system/explore_posts_spec.rb
  decidim-core/lib/decidim/has_attachments.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_m_cell.rb
  decidim-meetings/spec/cells/decidim/meetings/meeting_m_cell_spec.rb
Labels: in-review, module: meetings, type: feature, module: blogs

#8280 Fix NPM packages versioning during release process
  Rakefile
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
  lib/decidim/gem_manager.rb
  packages/all/package.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: target: developer-experience, type: fix

#8105 Align UI groups filtering with the rest of decidim
  decidim-admin/app/controllers/concerns/decidim/admin/user_groups/filterable.rb
  decidim-admin/app/controllers/decidim/admin/user_groups_controller.rb
  decidim-admin/app/views/decidim/admin/user_groups/index.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/system/admin_filters_user_groups_spec.rb
  decidim-core/app/models/decidim/user_group.rb
Labels: in-review, module: admin, type: feature

#8285 Add 'Lint PR title' workflow to CI
  .github/workflows/lint_code.yml
  .github/workflows/lint_pr_format.yml
Labels: type: enhancement, in-review, target: developer-experience

#8283 Backport "Fix Luxembourgish locale" to v0.24
  crowdin.yaml
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/lib/available_locales_spec.rb
  decidim-core/vendor/assets/javascripts/datepicker-locales/foundation-datepicker.lb.js
Labels: in-review, target: user-experience, backport, type: fix

#8288 Backport "Fix accountability notifications proposal title" to v0.24
  decidim-accountability/app/events/decidim/accountability/proposal_linked_event.rb
  decidim-accountability/app/events/decidim/accountability/result_progress_updated_event.rb
  decidim-accountability/spec/events/decidim/accountability/proposal_linked_event_spec.rb
  decidim-accountability/spec/events/decidim/accountability/result_progress_updated_event_spec.rb
Labels: backport, module: accountability, type: fix

#8284 Backport "Fix NPM packages versioning during release process"
  Rakefile
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
  lib/decidim/gem_manager.rb
  packages/all/package.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: target: developer-experience, backport, type: fix

#8302 Fix flaky test on proposals splitting
  decidim-proposals/spec/shared/split_proposals_examples.rb
Labels: module: proposals, type: fix

#8299 Fix invalid i18n values for diff changeset
  decidim-core/app/services/decidim/log/diff_changeset_calculator.rb
  decidim-core/spec/services/decidim/log/diff_changeset_calculator_spec.rb
Labels: in-review, module: core, type: fix

#8287 Backport "Fix accountability notifications proposal title" to v0.25
  decidim-accountability/app/events/decidim/accountability/proposal_linked_event.rb
  decidim-accountability/app/events/decidim/accountability/result_progress_updated_event.rb
  decidim-accountability/spec/events/decidim/accountability/proposal_linked_event_spec.rb
  decidim-accountability/spec/events/decidim/accountability/result_progress_updated_event_spec.rb
Labels: in-review, backport, module: accountability, type: fix

#8300 Backport "Update foundation-sites to 6.7.0 for better Dart Sass compatibility" to v0.25
  decidim_app-design/package-lock.json
  decidim_app-design/packages/core/package.json
  package-lock.json
  packages/core/package.json
Labels: type: enhancement, in-review, target: developer-experience, backport

#8282 Backport "Fix Luxembourgish locale" to v0.25
  crowdin.yaml
  decidim-core/app/packs/src/decidim/foundation-datepicker/js/locales/foundation-datepicker.lb.js
  decidim-core/app/packs/src/decidim/foundation_datepicker_locales.js
  decidim-core/lib/decidim/core.rb
Labels: target: user-experience, backport, type: fix

#8241 Fix live? missing method delegation in online_meeting cell
  decidim-meetings/app/cells/decidim/meetings/online_meeting_cell.rb
  decidim-meetings/app/cells/decidim/meetings/online_meeting_link_cell.rb
Labels: in-review, module: meetings, type: fix

#8304 Don't trigger PR linting on pushes, only on PRs
  .github/workflows/lint_pr_format.yml
Labels: target: developer-experience, type: fix

#8292 Backport - Fix characters not encoded in title to 0.25
  decidim-core/app/presenters/decidim/resource_presenter.rb
  decidim-debates/app/presenters/decidim/debates/debate_presenter.rb
  decidim-debates/app/views/decidim/debates/admin/debates/index.html.erb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-debates/lib/decidim/debates/test/factories.rb
  decidim-debates/spec/system/debate_embeds_spec.rb
  decidim-debates/spec/system/endorse_debate_spec.rb
  decidim-debates/spec/system/explore_debates_spec.rb
  decidim-debates/spec/system/search_debates_spec.rb
  decidim-debates/spec/system/show_spec.rb
  decidim-debates/spec/system/user_closes_debate_spec.rb
  decidim-debates/spec/system/user_edits_debate_spec.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_linked_meetings.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/spec/cells/decidim/meetings/meeting_m_cell_spec.rb
  decidim-proposals/app/presenters/decidim/proposals/proposal_presenter.rb
Labels: in-review, module: proposals, module: meetings, backport, module: debates, type: fix

#8012 Fix statistics in Comments
  CHANGELOG.md
  decidim-comments/app/commands/decidim/comments/create_comment.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-comments/db/migrate/20210402124534_add_participatory_process_to_comments.rb
  decidim-comments/lib/decidim/comments/test/factories.rb
  decidim-comments/lib/tasks/decidim_comments.rake
  decidim-comments/spec/commands/create_comment_spec.rb
  decidim-comments/spec/models/comment_spec.rb
  decidim-comments/spec/tasks/decidim_comments_spec.rb
  decidim-comments/spec/tasks/main_spec.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/stats_participants_count.rb
Labels: in-review, module: comments, type: fix

#8305 Backport "Fix invalid i18n values for diff changeset" to v0.25
  decidim-core/app/services/decidim/log/diff_changeset_calculator.rb
  decidim-core/spec/services/decidim/log/diff_changeset_calculator_spec.rb
Labels: in-review, module: core, backport, type: fix

#8306 Backport "Fix invalid i18n values for diff changeset" to v0.24
  decidim-core/app/services/decidim/log/diff_changeset_calculator.rb
  decidim-core/spec/services/decidim/log/diff_changeset_calculator_spec.rb
Labels: in-review, module: core, backport, type: fix

#8309 Backport "Fix live? missing method delegation in online_meeting cell" to v0.25
  decidim-meetings/app/cells/decidim/meetings/online_meeting_cell.rb
  decidim-meetings/app/cells/decidim/meetings/online_meeting_link_cell.rb
Labels: module: meetings, backport, type: fix

#8316 Backport: Fix statistics in Comments (#8012)
  CHANGELOG.md
  decidim-comments/app/commands/decidim/comments/create_comment.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-comments/db/migrate/20210402124534_add_participatory_process_to_comments.rb
  decidim-comments/lib/decidim/comments/test/factories.rb
  decidim-comments/lib/tasks/decidim_comments.rake
  decidim-comments/spec/commands/create_comment_spec.rb
  decidim-comments/spec/models/comment_spec.rb
  decidim-comments/spec/tasks/decidim_comments_spec.rb
  decidim-comments/spec/tasks/main_spec.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/stats_participants_count.rb
Labels: in-review, module: comments, backport, type: fix

#8315 Prevent root package.json to be treated as a package
  decidim_app-design/package-lock.json
  decidim_app-design/package.json
  decidim_app-design/packages/all/package.json
  decidim_app-design/packages/browserslist-config/package.json
  decidim_app-design/packages/core/package.json
  decidim_app-design/packages/dev/package.json
  decidim_app-design/packages/elections/package.json
  decidim_app-design/packages/eslint-config/package.json
  decidim_app-design/packages/stylelint-config/package.json
  decidim_app-design/packages/webpacker/package.json
  package-lock.json
  package.json
Labels: target: developer-experience, type: fix

#8303 Fix some explore budgets specs
  decidim-budgets/spec/system/explore_budgets_spec.rb
Labels: in-review, module: budgets, type: fix

#8290 Fix missing icons after CORS
  decidim-admin/app/views/layouts/decidim/admin/_js_configuration.html.erb
  decidim-core/app/packs/src/decidim/icon.js
  decidim-core/app/packs/src/decidim/input_mentions.js
  decidim-core/app/packs/src/decidim/input_multiple_mentions.js
  decidim-core/app/views/layouts/decidim/_js_configuration.html.erb
  decidim-core/spec/system/homepage_spec.rb
  decidim-dev/spec/system/accessibility_tool_spec.rb
  decidim-system/app/views/layouts/decidim/system/_js_configuration.html.erb
Labels: in-review, module: core, type: fix

#8291 Remove unnecessary spacer from external link indicator
  decidim-core/app/packs/src/decidim/external_link.js
Labels: in-review, module: core, type: fix

#8265 [CVE-2021-22942] Possible Open Redirect in Host Authorization Middleware
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: in-review, module: core, type: fix

#8320 Backport: [CVE-2021-22942] Possible Open Redirect in Host Authorization Middleware
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: in-review, module: core, backport, type: fix

#8238 Improve Attendees count error handling on frontend
  decidim-meetings/app/forms/decidim/meetings/admin/close_meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/close_meeting_form.rb
  decidim-meetings/spec/forms/close_meeting_form_spec.rb
Labels: type: enhancement, in-review, module: meetings

#8319 Backport "Remove unnecessary spacer from external link indicator" to v0.25
  decidim-core/app/packs/src/decidim/external_link.js
Labels: in-review, module: core, backport, type: fix

#8322 Fix CSS validation tests caused by a bug on the validation service
  decidim-dev/lib/decidim/dev/test/rspec_support/accessibility_examples.rb
Labels: target: developer-experience, type: fix

#8325 Backport "Fix CSS validation tests caused by a bug on the validation service"
  decidim-dev/lib/decidim/dev/test/rspec_support/accessibility_examples.rb
Labels: target: developer-experience, backport, type: fix

#8318 Backport "Fix missing icons after CORS" to v0.25
  decidim-admin/app/views/layouts/decidim/admin/_js_configuration.html.erb
  decidim-core/app/packs/src/decidim/icon.js
  decidim-core/app/packs/src/decidim/input_mentions.js
  decidim-core/app/packs/src/decidim/input_multiple_mentions.js
  decidim-core/app/views/layouts/decidim/_js_configuration.html.erb
  decidim-core/spec/system/homepage_spec.rb
  decidim-dev/spec/system/accessibility_tool_spec.rb
  decidim-system/app/views/layouts/decidim/system/_js_configuration.html.erb
Labels: in-review, module: core, backport, type: fix

#8279 Fix "last comment by" when commenter is a user group
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/spec/system/show_spec.rb
Labels: in-review, module: debates, type: fix

#8242 Add sorting to private participants in a participatory space
  decidim-admin/app/views/decidim/admin/participatory_space_private_users/index.html.erb
  decidim-core/app/models/decidim/participatory_space_private_user.rb
Labels: in-review, module: admin, type: feature

#8027 Improve control of comments in meetings and debates
  decidim-comments/app/views/decidim/comments/admin/shared/_availability_fields.html.erb
  decidim-comments/config/locales/en.yml
  decidim-comments/lib/decidim/comments.rb
  decidim-comments/lib/decidim/comments/has_availability_attributes.rb
  decidim-comments/lib/decidim/comments/test.rb
  decidim-comments/lib/decidim/comments/test/shared_examples/has_comments_availability_attributes.rb
  decidim-debates/app/commands/decidim/debates/admin/create_debate.rb
  decidim-debates/app/commands/decidim/debates/admin/update_debate.rb
  decidim-debates/app/forms/decidim/debates/admin/debate_form.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/app/views/decidim/debates/admin/debates/_form.html.erb
  decidim-debates/db/migrate/20210519201932_add_comments_availability_columns_to_debates_table.rb
  decidim-debates/spec/commands/decidim/debates/admin/create_debate_spec.rb
  decidim-debates/spec/commands/decidim/debates/admin/update_debate_spec.rb
  decidim-debates/spec/models/decidim/debates/debate_spec.rb
  decidim-debates/spec/spec_helper.rb
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/db/migrate/20210519133705_add_comments_availability_columns_to_meetings_table.rb
  decidim-meetings/spec/commands/admin/create_meeting_spec.rb
  decidim-meetings/spec/commands/admin/update_meeting_spec.rb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim-meetings/spec/spec_helper.rb
Labels: in-review, module: comments, type: feature

#8251 Offer a way to see all proposals in withdrawn proposal list
  decidim-proposals/app/services/decidim/proposals/proposal_search.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_filters.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposals.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/index.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/services/decidim/proposals/proposal_search_spec.rb
Labels: in-review, module: proposals, type: feature

#8295 Configurable default order for proposals
  decidim-admin/app/helpers/decidim/admin/settings_helper.rb
  decidim-admin/spec/helpers/settings_helper_spec.rb
  decidim-core/lib/decidim/settings_manifest.rb
  decidim-core/spec/lib/settings_manifest_spec.rb
  decidim-dev/config/locales/en.yml
  decidim-proposals/app/controllers/concerns/decidim/proposals/orderable.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/controllers/concerns/orderable_spec.rb
Labels: in-review, module: proposals, module: admin, type: feature

#8337 Backport "Fix "last comment by" when commenter is a user group"
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/spec/system/show_spec.rb
Labels: in-review, backport, module: debates, type: fix

#8098 Similar proposal functionality breaks when the machine translation is enabled.
  decidim-proposals/app/queries/decidim/proposals/similar_proposals.rb
  decidim-proposals/spec/queries/decidim/proposals/similar_proposals_spec.rb
Labels: in-review, module: proposals, type: fix

#8297 Fix regex that parses users and groups references inside content.
  decidim-core/lib/decidim/content_renderers/user_group_renderer.rb
  decidim-core/lib/decidim/content_renderers/user_renderer.rb
  decidim-core/spec/content_renderers/decidim/user_group_renderer_spec.rb
  decidim-core/spec/content_renderers/decidim/user_renderer_spec.rb
Labels: in-review, module: core, type: fix

#7153 Filter assemblies by assembly type in admin
  decidim-assemblies/app/controllers/concerns/decidim/assemblies/admin/filterable.rb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_spec.rb
Labels: in-review, type: feature, module: assemblies

#8311 Fix birthday attribute type in Assembly Members
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_member_form.rb
Labels: in-review, module: assemblies, type: fix

#8281 Remove "Allow card image" setting from Proposals
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_m_cell_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: in-review, module: proposals, type: removal

#8330 Remove npm decidim packages with dependencies from other decidim packages
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
  decidim-core/spec/lib/map/dynamic_map/builder_spec.rb
  decidim-core/spec/lib/map/provider/autocomplete/here_builder_spec.rb
  decidim-core/spec/lib/map/provider/autocomplete/osm_builder_spec.rb
  decidim-core/spec/lib/map/provider/dynamic_map/here_builder_spec.rb
  decidim-core/spec/tasks/decidim_tasks_webpacker_spec.rb
  decidim-generators/lib/decidim/generators/install_generator.rb
  decidim_app-design/package-lock.json
  decidim_app-design/package.json
  decidim_app-design/packages/all/package.json
  decidim_app-design/packages/dev/package.json
  lib/decidim/gem_manager.rb
  package-lock.json
  package.json
  packages/all/package.json
  packages/dev/package.json
Labels: module: core, target: developer-experience, type: fix

#8317 Fix issues with dynamic comments polling
  decidim-comments/app/packs/src/decidim/comments/comments.component.js
  decidim-comments/app/packs/src/decidim/comments/comments.component.test.js
  decidim-comments/app/queries/decidim/comments/sorted_comments.rb
  decidim-comments/app/views/decidim/comments/comments/create.js.erb
  decidim-comments/spec/queries/sorted_comments_spec.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: in-review, module: comments, type: fix

#8312 Fix "Edit" and "View public page" in Assembly Members
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_members_controller.rb
  decidim-assemblies/app/views/decidim/assemblies/assembly_members/index.html.erb
  decidim-assemblies/app/views/layouts/decidim/admin/assembly_members.html.erb
Labels: type: enhancement, in-review, target: user-experience, module: assemblies

#8233 Disable unconfirmed access by default
  CHANGELOG.md
  decidim-admin/spec/controllers/conflicts_controller_spec.rb
  decidim-assemblies/spec/system/admin/valuator_checks_components_spec.rb
  decidim-budgets/spec/lib/decidim/budgets/admin/component_spec.rb
  decidim-conferences/spec/system/admin/valuator_checks_components_spec.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/session_timeout_spec.rb
  decidim-core/spec/system/user_timeline_spec.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiatives_spec.rb
  decidim-initiatives/spec/system/edit_initiative_spec.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/controllers/decidim/proposals/proposals_controller_spec.rb
  decidim-proposals/spec/lib/decidim/proposals/component_spec.rb
  decidim-templates/spec/system/admin/admin_manages_questionnaire_templates_spec.rb
Labels: in-review, module: core, type: change

#8308 Fix "View all comments" link in single comment page
  decidim-comments/config/locales/en.yml
  decidim-comments/spec/cells/decidim/comments/comments_cell_spec.rb
Labels: type: enhancement, in-review, module: comments

#8340 Backport "Fix issues with dynamic comments polling" to v0.25
  decidim-comments/app/packs/src/decidim/comments/comments.component.js
  decidim-comments/app/packs/src/decidim/comments/comments.component.test.js
  decidim-comments/app/queries/decidim/comments/sorted_comments.rb
  decidim-comments/app/views/decidim/comments/comments/create.js.erb
  decidim-comments/spec/queries/sorted_comments_spec.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: in-review, module: comments, backport, type: fix

#8339 Backport "Remove npm decidim packages with dependencies from other decidim packages"
  .decidim-version
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-consultations/lib/decidim/consultations/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
  decidim-core/spec/lib/map/dynamic_map/builder_spec.rb
  decidim-core/spec/lib/map/provider/autocomplete/here_builder_spec.rb
  decidim-core/spec/lib/map/provider/autocomplete/osm_builder_spec.rb
  decidim-core/spec/lib/map/provider/dynamic_map/here_builder_spec.rb
  decidim-core/spec/tasks/decidim_tasks_webpacker_spec.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/install_generator.rb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  decidim_app-design/Gemfile.lock
  decidim_app-design/package-lock.json
  decidim_app-design/package.json
  decidim_app-design/packages/all/package.json
  decidim_app-design/packages/browserslist-config/package.json
  decidim_app-design/packages/core/package.json
  decidim_app-design/packages/dev/package.json
  decidim_app-design/packages/elections/package.json
  decidim_app-design/packages/eslint-config/package.json
  decidim_app-design/packages/stylelint-config/package.json
  decidim_app-design/packages/webpacker/package.json
  lib/decidim/gem_manager.rb
  lib/decidim/version.rb
  package-lock.json
  package.json
  packages/all/package.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: core, target: developer-experience, backport, type: fix

#8341 Fix problems introduced by #8330
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
  decidim_app-design/package-lock.json
  decidim_app-design/packages/eslint-config/package.json
  package-lock.json
  packages/eslint-config/package.json
Labels: module: core, target: developer-experience, type: fix

#8277 Non participant assembly members avatar
  config/i18n-tasks.yml
  decidim-assemblies/app/cells/decidim/assemblies/assembly_member/show.erb
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly_member.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assembly_member.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_member_form.rb
  decidim-assemblies/app/models/decidim/assembly_member.rb
  decidim-assemblies/app/packs/src/decidim/assemblies/admin/assembly_members.js
  decidim-assemblies/app/presenters/decidim/assembly_member_presenter.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assembly_members/_form.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/commands/create_assembly_member_spec.rb
  decidim-assemblies/spec/commands/update_assembly_member_spec.rb
  decidim-assemblies/spec/forms/assembly_member_form_spec.rb
  decidim-assemblies/spec/presenters/decidim/assembly_member_presenter_spec.rb
  decidim-assemblies/spec/shared/manage_assembly_members_examples.rb
Labels: in-review, type: feature, module: assemblies

#8343 Update Node and NPM version
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public_1.yml
  .github/workflows/ci_proposals_system_public_2.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
  .node-version
  Rakefile
  decidim_app-design/package-lock.json
  decidim_app-design/package.json
  decidim_app-design/packages/browserslist-config/package.json
  decidim_app-design/packages/core/package.json
  decidim_app-design/packages/dev/package.json
  decidim_app-design/packages/elections/package.json
  decidim_app-design/packages/eslint-config/package.json
  decidim_app-design/packages/stylelint-config/package.json
  decidim_app-design/packages/webpacker/package.json
  docs/modules/develop/pages/guide_migrate_webpacker_app.adoc
  docs/modules/install/pages/manual.adoc
  package-lock.json
  package.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: target: developer-experience, type: fix

#8326 Remove hack for CSS validation
  decidim-dev/lib/decidim/dev/test/rspec_support/accessibility_examples.rb
Labels: type: enhancement, in-review, target: developer-experience

#8293 Fix ARIA roles for dialogs and tooltips
  decidim-admin/app/views/decidim/admin/moderated_users/_report.html.erb
  decidim-admin/app/views/decidim/admin/moderations/_report.html.erb
  decidim-admin/app/views/decidim/admin/moderations/index.html.erb
  decidim-admin/app/views/layouts/decidim/admin/_title_bar.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/index.html.erb
  decidim-budgets/app/cells/decidim/budgets/budget_information_modal/show.erb
  decidim-budgets/app/views/decidim/budgets/projects/_filters_small_view.html.erb
  decidim-comments/app/cells/decidim/comments/comment/utilities.erb
  decidim-comments/app/cells/decidim/comments/comments/order_control.erb
  decidim-comments/app/cells/decidim/comments/edit_comment_modal_form/show.erb
  decidim-comments/app/packs/src/decidim/comments/comments.component.test.js
  decidim-conferences/app/views/decidim/conferences/admin/conferences/index.html.erb
  decidim-consultations/app/views/decidim/consultations/consultations/_filters_small_view.html.erb
  decidim-core/app/cells/decidim/author/flag_user.erb
  decidim-core/app/cells/decidim/flag_modal/flag_user.erb
  decidim-core/app/cells/decidim/flag_modal/show.erb
  decidim-core/app/views/decidim/searches/_filters_small_view.html.erb
  decidim-core/app/views/decidim/shared/_login_modal.html.erb
  decidim-core/app/views/decidim/shared/_orders.html.erb
  decidim-core/app/views/decidim/shared/_results_per_page.html.erb
  decidim-core/app/views/decidim/shared/participatory_space_filters/_filters_small_view.html.erb
  decidim-core/app/views/layouts/decidim/_language_chooser.html.erb
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
  decidim-core/lib/decidim/form_builder.rb
  decidim-debates/app/views/decidim/debates/debates/_close_debate_modal.html.erb
  decidim-debates/app/views/decidim/debates/debates/_filters_small_view.html.erb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-elections/app/views/decidim/elections/elections/_filters_small_view.html.erb
  decidim-elections/app/views/decidim/votings/admin/votings/index.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/_modal_ballots_count_error.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/_modal_ballots_results_count_error.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/_sign_form.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/edit.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/new.html.erb
  decidim-elections/app/views/decidim/votings/votings/_filters_small_view.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_filters_small_view.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_index_header.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_filters_small_view.html.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/highlighted_participatory_processes/filters_small_view.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_groups/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/index.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_filters_small_view.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_filters_small_view.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_filters_small_view.html.erb
  decidim_app-design/app/views/admin/component-meetings.html.erb
  decidim_app-design/app/views/admin/old/component-proposals.html.erb
  decidim_app-design/app/views/admin/pages.html.erb
  decidim_app-design/app/views/admin/process-admin.html.erb
  decidim_app-design/app/views/admin/process-categories.html.erb
  decidim_app-design/app/views/admin/process-docs.html.erb
  decidim_app-design/app/views/admin/process-moderations.html.erb
  decidim_app-design/app/views/admin/process-pages.html.erb
  decidim_app-design/app/views/admin/process-steps.html.erb
  decidim_app-design/app/views/admin/processes.html.erb
  decidim_app-design/app/views/admin/scope-browse.html.erb
  decidim_app-design/app/views/admin/scope-sub-browse.html.erb
  decidim_app-design/app/views/admin/settings-scope-types.html.erb
  decidim_app-design/app/views/admin/settings-scopes.html.erb
  decidim_app-design/app/views/admin/users.html.erb
  decidim_app-design/app/views/public/partials/_filters_small_view.html.erb
Labels: type: enhancement, team: accessibility

#8250 Add image file upload in QuillJS editor
  CHANGELOG.md
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/lib/decidim/admin/form_builder.rb
  decidim-core/app/commands/decidim/create_editor_image.rb
  decidim-core/app/controllers/decidim/editor_images_controller.rb
  decidim-core/app/forms/decidim/editor_image_form.rb
  decidim-core/app/models/decidim/editor_image.rb
  decidim-core/app/packs/src/decidim/editor.js
  decidim-core/app/packs/src/decidim/vendor/image-resize.min.js
  decidim-core/app/packs/src/decidim/vendor/image-upload.min.js
  decidim-core/app/uploaders/decidim/editor_image_uploader.rb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/db/migrate/20210730112319_create_decidim_editor_images.rb
  decidim-core/lib/decidim/content_parsers.rb
  decidim-core/lib/decidim/content_parsers/inline_images_parser.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/lib/tasks/decidim_active_storage_migration_tasks.rake
  decidim-core/spec/commands/decidim/create_editor_image_spec.rb
  decidim-core/spec/content_parsers/decidim/inline_images_parser_spec.rb
  decidim-core/spec/controllers/editor_images_controller_spec.rb
  decidim-core/spec/forms/editor_image_form_spec.rb
  decidim-core/spec/models/decidim/editor_image_spec.rb
  decidim-dev/lib/decidim/dev/assets/base64_content.html
Labels: in-review, module: core, type: feature

#8209 Make meeting report editable by the author in front-end
  decidim-meetings/app/permissions/decidim/meetings/permissions.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/system/user_close_meeting_spec.rb
Labels: in-review, module: meetings, type: feature

#8350 Backport: Fix title meta tag for debates (#8323)
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
Labels: in-review, backport, module: debates, type: fix

#8338 Backport: Fix machine translated similarity for proposals (#8098)
  decidim-proposals/app/queries/decidim/proposals/similar_proposals.rb
  decidim-proposals/spec/queries/decidim/proposals/similar_proposals_spec.rb
Labels: in-review, module: proposals, backport, type: fix

#8294 Improve dialog accessibility
  decidim-core/app/packs/src/decidim/dialog_mode.js
  decidim-core/app/packs/src/decidim/dialog_mode.test.js
  decidim-core/app/packs/src/decidim/index.js
Labels: type: enhancement, in-review, module: core, team: accessibility

#8349 Update docs in migrating to webpacker
  docs/modules/develop/pages/guide_migrate_webpacker_app.adoc
Labels: type: enhancement, team: documentation, in-review, target: developer-experience

#8353 Add selectors on _edit_form_fields
  decidim-proposals/app/views/decidim/proposals/proposals/_edit_form_fields.html.erb
Labels: type: enhancement, in-review, module: proposals, target: developer-experience

#8313 Remove admin show page in Participatory Process Groups
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_groups_controller.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_groups/show.html.erb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_groups_spec.rb
Labels: in-review, module: participatory processes, type: removal

#8248 Ability for users to withdraw their meetings
  config/i18n-tasks.yml
  decidim-core/app/cells/decidim/author/withdraw.erb
  decidim-core/app/cells/decidim/author_cell.rb
  decidim-meetings/app/cells/decidim/meetings/content_blocks/highlighted_meetings_cell.rb
  decidim-meetings/app/cells/decidim/meetings/content_blocks/upcoming_events_cell.rb
  decidim-meetings/app/cells/decidim/meetings/highlighted_meetings_for_component_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_m_cell.rb
  decidim-meetings/app/commands/decidim/meetings/withdraw_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/meetings_controller.rb
  decidim-meetings/app/helpers/decidim/meetings/meeting_cells_helper.rb
  decidim-meetings/app/helpers/decidim/meetings/meetings_helper.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/permissions/decidim/meetings/permissions.rb
  decidim-meetings/app/services/decidim/meetings/meeting_search.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_filters.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meetings.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/index.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20210727085318_add_state_field_to_meeting.rb
  decidim-meetings/lib/decidim/api/meeting_type.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/commands/withdraw_meeting_spec.rb
  decidim-meetings/spec/controllers/decidim/meetings/meetings_controller_spec.rb
  decidim-meetings/spec/lib/decidim/meetings/component_spec.rb
  decidim-meetings/spec/models/meeting_spec.rb
  decidim-meetings/spec/permissions/decidim/meetings/permissions_spec.rb
  decidim-meetings/spec/services/meeting_search_spec.rb
  decidim-meetings/spec/types/integration_schema_spec.rb
  decidim-meetings/spec/types/meeting_type_spec.rb
Labels: in-review, module: meetings, type: feature

#8354 Add colors accessibility warning in admin Appearance
  decidim-admin/app/views/decidim/admin/organization_appearance/form/_colors.html.erb
  decidim-admin/config/locales/en.yml
Labels: type: enhancement, in-review, module: admin, team: accessibility

#8351 Ignore errors during comments migration task
  decidim-comments/lib/tasks/decidim_comments.rake
Labels: type: enhancement, in-review, module: comments

#8329 Fix UserAnswersSerializer for CSV exports
  decidim-forms/lib/decidim/forms/user_answers_serializer.rb
  decidim-forms/spec/serializers/decidim/forms/user_answers_serializer_spec.rb
  decidim-meetings/spec/serializers/registration_serializer_spec.rb
Labels: in-review, module: proposals, type: fix

#8268 Do not block registered users with InviteUserAgain
  decidim-admin/app/commands/decidim/admin/create_participatory_space_admin_user_actions.rb
  decidim-admin/app/commands/decidim/admin/create_participatory_space_private_user.rb
  decidim-admin/spec/commands/create_participatory_space_private_user_spec.rb
  decidim-conferences/app/commands/decidim/conferences/admin/create_conference_admin.rb
  decidim-core/app/models/decidim/user.rb
  decidim-elections/app/commands/decidim/votings/admin/create_monitoring_committee_member.rb
  decidim-elections/app/commands/decidim/votings/admin/create_polling_officer.rb
Labels: in-review, module: admin, type: fix

#8369 Fix error when accessing the meetings of a conference with speakers related
  decidim-conferences/app/models/decidim/conference_meeting.rb
  decidim-conferences/app/presenters/decidim/conference_speaker_presenter.rb
  decidim-conferences/lib/decidim/conferences/participatory_space.rb
  decidim-conferences/lib/decidim/conferences/test/factories.rb
  decidim-conferences/spec/system/conference_program_spec.rb
  decidim-meetings/lib/decidim/meetings/component.rb
Labels: module: conferences, type: fix
