Repository decidim/decidim, pull requests merged in 2022-04, with the labels that each got.

#8955 Allow assembly admins to manage components in child assemblies
  decidim-assemblies/app/models/decidim/assembly.rb
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-assemblies/spec/shared/assembly_admin_manage_assembly_components_examples.rb
  decidim-assemblies/spec/system/admin/assembly_admin_accesses_admin_sections_spec.rb
Labels: module: assemblies, type: fix

#8990 Make Decidim fully configurable via ENV vars part II
  decidim-core/app/uploaders/decidim/application_uploader.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/env.rb
  decidim-generators/exe/decidim
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-generators/lib/decidim/generators/app_templates/sidekiq.yml.erb
  decidim-generators/lib/decidim/generators/app_templates/storage.yml.erb
  decidim-generators/lib/decidim/generators/install_generator.rb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
  decidim-generators/spec/generators_spec.rb
  docs/modules/configure/pages/environment_variables.adoc
  docs/modules/configure/pages/index.adoc
Labels: module: generators, type: change

#9125 Add base URI to meta image URLs
  decidim-core/app/helpers/decidim/meta_tags_helper.rb
  decidim-core/spec/helpers/decidim/meta_tags_helper_spec.rb
Labels: module: core, type: fix

#9132 Bump puma from 5.6.2 to 5.6.4
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: dependencies, type: internal

#9131 Bump minimist and node-forge
  decidim_app-design/package-lock.json
  package-lock.json
Labels: dependencies, type: internal

#9112 Clarify message to user when checking census
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/system/check_census_spec.rb
Labels: module: elections, type: fix

#9136 Fix attachments when called from Cells
  decidim-core/app/views/decidim/application/_attachments.erb
  decidim-core/app/views/decidim/application/_document.erb
  decidim-core/app/views/decidim/application/_documents.erb
  decidim-core/app/views/decidim/application/_photos.erb
  decidim-elections/spec/cells/decidim/votings/content_blocks/landing_page/attachments_and_folders_cell_spec.rb
Labels: module: elections, type: fix

#9087 Fix processes count in processes group title cell
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/title/show.erb
Labels: module: participatory processes, type: fix

#9134 Do not send upcoming meeting notification for hidden or withdrawn meetings
  decidim-meetings/app/jobs/decidim/meetings/upcoming_meeting_notification_job.rb
  decidim-meetings/spec/jobs/decidim/meetings/upcoming_meeting_notification_job_spec.rb
Labels: module: meetings, type: fix

#9098 Improve wording when casting your vote
  decidim-elections/config/locales/en.yml
Labels: contract: e-voting, module: elections, type: fix

#9034 Reduce d3 bundle size
  decidim-assemblies/app/packs/src/decidim/assemblies/orgchart.js
  decidim-core/app/packs/src/decidim/vizzs.js
  decidim-core/app/packs/src/decidim/vizzs/areachart.js
  decidim-core/app/packs/src/decidim/vizzs/index.js
  decidim-core/app/packs/src/decidim/vizzs/linechart.js
  decidim-core/app/packs/src/decidim/vizzs/renders.js
  decidim-core/app/packs/src/decidim/vizzs/rowchart.js
  decidim_app-design/app/packs/src/vizzs/datacharts.js
Labels: team: performance, type: change, contract: PWA

#9140 Bump elections NPM dependencies to 0.23.0
  decidim_app-design/package-lock.json
  decidim_app-design/packages/elections/package.json
  package-lock.json
  packages/elections/package.json
Labels: dependencies, module: elections, type: internal

#9092 Prevent race condition between prevenTimeout and show modal
  decidim-core/app/packs/src/decidim/session_timeouter.js
Labels: module: core, type: fix

#9081 Make frontend development 10-12x faster (compile SCSS through sass-embedded)
  packages/webpacker/package.json
  packages/webpacker/src/loaders/decidim-sass-loader.js
  packages/webpacker/src/override-config.js
Labels: module: core, target: developer-experience, type: internal

#9090 Enforce password validation rules on 'Forgot your password?' form
  decidim-admin/spec/shared/manage_impersonations_examples.rb
  decidim-admin/spec/system/admin_invite_spec.rb
  decidim-core/app/validators/password_validator.rb
  decidim-core/app/views/decidim/devise/invitations/edit.html.erb
  decidim-core/config/initializers/devise.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/devise/models/decidim_validatable.rb
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/data_portability_spec.rb
  decidim-core/spec/system/user_redirect_spec.rb
  decidim-initiatives/spec/system/create_initiative_spec.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/spec/shared/manage_invites_examples.rb
  decidim-participatory_processes/spec/system/admin/invite_process_admin_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_collaborator_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_moderator_spec.rb
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-verifications/spec/system/authorizations_spec.rb
Labels: module: core, type: fix

#9021 Add 'not answered' as a possible answer in proposals
  decidim-proposals/app/commands/decidim/proposals/admin/answer_proposal.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_answer_form.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposal_answers/_form.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/commands/decidim/proposals/admin/notify_proposal_answer_spec.rb
  decidim-proposals/spec/shared/manage_proposals_examples.rb
Labels: module: proposals, type: fix

#9153 Backport "Add base URI to meta image URLs" to v0.26
  decidim-core/app/helpers/decidim/meta_tags_helper.rb
  decidim-core/spec/helpers/decidim/meta_tags_helper_spec.rb
Labels: module: core, backport, type: fix

#9146 Fix absolute urls on 'create assembly member' and proposals' 'collaborative drafts' events
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/events/decidim/assemblies/create_assembly_member_event_spec.rb
  decidim-proposals/app/events/decidim/proposals/collaborative_draft_withdrawn_event.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/events/decidim/proposals/collaborative_draft_access_accepted_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/collaborative_draft_access_rejected_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/collaborative_draft_access_requested_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/collaborative_draft_withdrawn_event_spec.rb
Labels: module: proposals, module: assemblies, type: fix

#9155 Fix components navbar in consultations mobile
  decidim-accountability/app/packs/images/decidim/accountability/decidim_accountability.svg
  decidim-consultations/app/views/layouts/decidim/_question_components.html.erb
  decidim-consultations/config/locales/en.yml
Labels: module: accountability, module: consultations, type: fix

#9101 Remove Rectify Gem dependency
  CHANGELOG.md
  Gemfile.lock
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-core/app/controllers/decidim/searches_controller.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/command.rb
  decidim-core/lib/decidim/controller_helpers.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/event_recorder.rb
  decidim-core/lib/decidim/query.rb
  decidim-core/lib/decidim/rectify_query_extension.rb
  decidim-core/spec/system/user_activity_spec.rb
  decidim-dev/lib/decidim/dev/railtie.rb
  decidim-dev/lib/decidim/dev/test/spec_helper.rb
  decidim-generators/Gemfile.lock
  decidim-proposals/app/controllers/decidim/proposals/proposal_votes_controller.rb
  decidim-system/lib/decidim/system/engine.rb
  decidim_app-design/Gemfile.lock
Labels: module: core, target: developer-experience

#8866 Remove all the private participants from a participatory space
  decidim-admin/app/controllers/decidim/admin/concerns/has_private_users_csv_import.rb
  decidim-admin/app/views/decidim/admin/participatory_space_private_users/index.html.erb
  decidim-admin/app/views/decidim/admin/participatory_space_private_users_csv_imports/new.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/commands/decidim/admin/create_participatory_space_private_user_spec.rb
  decidim-admin/spec/system/participatory_space_private_user_import_via_csv_spec.rb
  decidim-assemblies/lib/decidim/assemblies/admin_engine.rb
  decidim-core/app/models/decidim/participatory_space_private_user.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/admin_engine.rb
  decidim-participatory_processes/spec/controllers/admin/participatory_space_private_users_csv_imports_controller_spec.rb
Labels: module: core, type: feature

#9033 Show only current organization in verification conflicts with multitenants
  decidim-admin/app/controllers/decidim/admin/conflicts_controller.rb
  decidim-admin/spec/factories.rb
  decidim-admin/spec/shared/manage_impersonations_examples.rb
Labels: module: core, type: fix

#9100 Send email to newly added trustees
  decidim-elections/app/commands/decidim/elections/admin/add_user_as_trustee.rb
  decidim-elections/app/mailers/decidim/elections/trustee_mailer.rb
  decidim-elections/app/views/decidim/elections/trustee_mailer/notification.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/commands/decidim/elections/admin/add_user_as_trustee_spec.rb
  decidim-elections/spec/mailers/decidim/elections/trustee_mailer_spec.rb
Labels: contract: e-voting, module: elections, type: fix

#9160 Fix registration type field highlighted in admin meeting creation form
  decidim-meetings/app/packs/src/decidim/meetings/admin/meetings_form.js
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
Labels: module: meetings, type: fix

#9161 Performance: replace moment by dayjs
  decidim-core/app/packs/src/decidim/impersonation.js
  decidim-core/app/packs/src/decidim/session_timeouter.js
  decidim_app-design/packages/core/package-lock.json
  decidim_app-design/packages/core/package.json
  packages/core/package-lock.json
  packages/core/package.json
Labels: module: core, team: performance, type: feature, javascript, contract: PWA

#9183 Fix notifications where resources are missing
  decidim-core/app/cells/decidim/notification/show.erb
  decidim-core/app/cells/decidim/notification_cell.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/cells/decidim/notification_cell_spec.rb
Labels: module: core, type: fix

#9186 Fix contradictory form errors on survey form
  decidim-forms/app/views/decidim/forms/questionnaires/_answer.html.erb
  decidim-forms/lib/decidim/forms/test/shared_examples/has_questionnaire.rb
Labels: module: surveys, type: fix

#9145 Homepage optimization: tune images' caches and query includes
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/highlighted_assemblies_cell.rb
  decidim-conferences/app/queries/decidim/conferences/organization_prioritized_conferences.rb
  decidim-core/lib/decidim/has_attachments.rb
  decidim-meetings/app/cells/decidim/meetings/content_blocks/upcoming_meetings_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/highlighted_processes_cell.rb
Labels: module: core, module: meetings, team: performance, type: feature, module: assemblies, module: participatory processes, module: conferences, contract: PWA

#9166 Disable stalebot automatic closing issues and PRs
  .github/stale.yml
Labels: type: internal

#9143 Cache highlighted resources for components cells
  decidim-accountability/app/cells/decidim/accountability/highlighted_results_for_component_cell.rb
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/highlighted_assemblies_cell.rb
  decidim-conferences/app/cells/decidim/conferences/content_blocks/highlighted_conferences_cell.rb
  decidim-core/app/cells/decidim/content_blocks/stats_cell.rb
  decidim-core/lib/decidim/view_model.rb
  decidim-elections/app/cells/decidim/votings/content_blocks/highlighted_votings_cell.rb
  decidim-meetings/app/cells/decidim/meetings/highlighted_meetings_for_component_cell.rb
  decidim-proposals/app/cells/decidim/proposals/highlighted_proposals_for_component_cell.rb
Labels: module: proposals, module: core, module: meetings, team: performance, type: feature, module: accountability, module: elections, module: assemblies, module: conferences, contract: PWA

#9188 Fix newsletters and Decidim Votings
  decidim-admin/app/helpers/decidim/admin/newsletters_helper.rb
  decidim-admin/app/queries/decidim/admin/newsletter_recipients.rb
  decidim-admin/spec/queries/newsletter_recipients_spec.rb
  decidim-elections/config/locales/en.yml
Labels: module: admin, contract: e-voting, module: elections, type: fix

#9193 Fix typo in meeting's copy calendar string
  decidim-meetings/config/locales/en.yml
Labels: module: meetings, type: fix

#9194 Fix typo and improves copy in initiatives admin
  decidim-initiatives/config/locales/en.yml
Labels: module: initiatives, type: fix

#9207 Enforce password validation rules on system admins
  decidim-system/app/forms/decidim/system/admin_form.rb
  decidim-system/app/models/decidim/system/admin.rb
  decidim-system/lib/decidim/system/test/factories.rb
  decidim-system/spec/commands/decidim/system/create_admin_spec.rb
  decidim-system/spec/lib/tasks/decidim_system_create_admin_spec.rb
  decidim-system/spec/system/manage_admins_spec.rb
  decidim-system/spec/system/sessions_spec.rb
Labels: module: system, type: fix
