Repository decidim/decidim, pull requests merged in 2022-12, with the labels that each got.

#10142 Lock GitHub actions to Ubuntu 20.04 due to OpenSSL 3.0 issues
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_admin_system.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_lib.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_system_ssl.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_initiatives_system_admin.yml
  .github/workflows/ci_initiatives_system_public.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
  .github/workflows/lint_pr_format.yml
  .github/workflows/on_docs_update.yml
  .github/workflows/on_release.yml
Labels: type: fix, type: internal

#10134 Fix resource_icon with component or manifest nil
  decidim-core/app/helpers/decidim/icon_helper.rb
  decidim-core/spec/helpers/decidim/icon_helper_spec.rb
Labels: module: core, type: fix

#10018 Integrate reported users in Global moderation
  decidim-admin/app/controllers/concerns/decidim/admin/global_moderation_context.rb
  decidim-admin/app/controllers/decidim/admin/block_user_controller.rb
  decidim-admin/app/controllers/decidim/admin/moderated_users_controller.rb
  decidim-admin/app/queries/decidim/admin/moderation_stats.rb
  decidim-admin/app/views/decidim/admin/moderated_users/index.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-admin/spec/system/admin_manages_global_moderations_spec.rb
Labels: module: admin, type: feature

#10092 Move i18n attribute key of Post's body
  decidim-blogs/app/views/decidim/blogs/admin/posts/_form.html.erb
  decidim-blogs/config/locales/en.yml
Labels: module: blogs, type: fix

#10089 Add missing logs for UserGroup block and unblock actions
  decidim-core/app/presenters/decidim/admin_log/user_group_presenter.rb
  decidim-core/config/locales/en.yml
Labels: module: core, type: fix

#10093 Don't show the 'unreport' action when user is blocked
  decidim-admin/app/views/decidim/admin/moderated_users/index.html.erb
  decidim-admin/lib/decidim/admin/test/manage_moderations_examples.rb
  decidim-admin/spec/system/admin_manage_moderated_users_spec.rb
Labels: module: core, module: admin, type: fix

#10094 Fix bug when blocking two UserGroups
  decidim-core/app/models/decidim/user_group.rb
  decidim-core/spec/models/decidim/user_group_spec.rb
Labels: module: core, module: admin, type: fix

#10124 Bump ransack from 2.4.1 to 3.2.1
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: dependencies, type: internal

#10067 Add info about the tests to the release docs
  docs/modules/develop/pages/releases.adoc
Labels: team: documentation, type: internal

#10016 Add user moderation template
  decidim-admin/app/commands/decidim/admin/block_user.rb
  decidim-admin/app/views/decidim/admin/block_user/new.html.erb
  decidim-templates/app/commands/decidim/templates/admin/create_block_user_template.rb
  decidim-templates/app/controllers/decidim/templates/admin/application_controller.rb
  decidim-templates/app/controllers/decidim/templates/admin/block_user_templates_controller.rb
  decidim-templates/app/helpers/decidim/templates/admin/application_helper.rb
  decidim-templates/app/packs/entrypoints/decidim_templates_admin.js
  decidim-templates/app/packs/src/decidim/templates/admin/block_template_chooser.js
  decidim-templates/app/views/decidim/templates/admin/block_user_templates/_form.html.erb
  decidim-templates/app/views/decidim/templates/admin/block_user_templates/_template_chooser.html.erb
  decidim-templates/app/views/decidim/templates/admin/block_user_templates/edit.html.erb
  decidim-templates/app/views/decidim/templates/admin/block_user_templates/index.html.erb
  decidim-templates/app/views/decidim/templates/admin/block_user_templates/new.html.erb
  decidim-templates/config/assets.rb
  decidim-templates/config/locales/en.yml
  decidim-templates/lib/decidim/templates/admin_engine.rb
  decidim-templates/lib/decidim/templates/test/factories.rb
  decidim-templates/spec/system/admin/admin_chooses_block_user_template_spec.rb
  decidim-templates/spec/system/admin/admin_manages_user_block_templates_spec.rb
Labels: module: admin, type: feature, module: templates

#10083 Respect "rich text editor" setting in Initiatives
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/fill_data.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/previous_form.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_form.html.erb
  decidim-initiatives/spec/system/create_initiative_spec.rb
Labels: module: initiatives, type: fix

#10105 Add order position in conferences
  decidim-conferences/app/commands/decidim/conferences/admin/create_conference.rb
  decidim-conferences/app/commands/decidim/conferences/admin/update_conference.rb
  decidim-conferences/app/forms/decidim/conferences/admin/conference_form.rb
  decidim-conferences/app/queries/decidim/conferences/organization_conferences.rb
  decidim-conferences/app/queries/decidim/conferences/organization_published_conferences.rb
  decidim-conferences/app/views/decidim/conferences/admin/conferences/_form.html.erb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/db/migrate/20221116084952_add_weight_to_conferences.rb
  decidim-conferences/lib/decidim/conferences/test/factories.rb
  decidim-conferences/spec/commands/create_conference_spec.rb
  decidim-conferences/spec/commands/update_conference_spec.rb
  decidim-conferences/spec/controllers/admin/conferences_controller_spec.rb
  decidim-conferences/spec/forms/conference_form_spec.rb
  decidim-conferences/spec/queries/organization_conferences_spec.rb
  decidim-conferences/spec/queries/organization_published_conferences_spec.rb
  decidim-conferences/spec/shared/manage_conferences_examples.rb
Labels: type: feature, module: conferences

#10106 Resolve open-ended dependency warning in turbo-rails
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: module: core, dependencies, type: internal

#10125 Exclude removed files from linter
  .github/run_erblint.sh
Labels: target: developer-experience, type: internal

#10062 Add order by in linked_participatory_space_resources
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-conferences/spec/commands/create_conference_spec.rb
  decidim-core/lib/decidim/participatory_space_resourceable.rb
  decidim-participatory_processes/spec/commands/create_participatory_process_spec.rb
Labels: module: core, type: fix

#10024 Add ability to hide content from front page
  decidim-comments/app/packs/src/decidim/comments/comments.component.js
  decidim-core/app/cells/decidim/flag_modal/show.erb
  decidim-core/app/cells/decidim/flag_modal_cell.rb
  decidim-core/app/commands/decidim/create_report.rb
  decidim-core/app/controllers/decidim/reports_controller.rb
  decidim-core/app/forms/decidim/report_form.rb
  decidim-core/app/packs/src/decidim/change_report_form_behavior.js
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/presenters/decidim/official_author_presenter.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test/shared_examples/reports_examples.rb
  decidim-core/lib/decidim/reportable.rb
  decidim-debates/spec/system/report_debate_spec.rb
  decidim-meetings/spec/system/report_meeting_spec.rb
  decidim-proposals/spec/system/report_proposal_spec.rb
Labels: module: core, type: feature

#10176 Fix generators after user moderation templates
  decidim-admin/app/controllers/decidim/admin/application_controller.rb
  decidim-admin/lib/decidim/admin.rb
  decidim-templates/lib/decidim/templates/admin_engine.rb
Labels: module: admin, module: generators, module: templates, type: fix

#10019 Add pending moderations dashboard
  decidim-admin/app/controllers/decidim/admin/dashboard_controller.rb
  decidim-admin/app/queries/decidim/admin/moderation_stats.rb
  decidim-admin/app/views/decidim/admin/dashboard/_pending_moderations.html.erb
  decidim-admin/app/views/decidim/admin/dashboard/show.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-admin/spec/queries/moderation_stats_spec.rb
  decidim-admin/spec/system/admin_active_users_counter_spec.rb
  decidim-admin/spec/system/admin_dashboard_count_checks_spec.rb
Labels: module: admin, type: feature

#10171 Update locked wkhtmltopdf version
  Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: dependencies, type: internal
