Repository decidim/decidim, pull requests merged in 2022-07, with the labels that each got.

#9513 Update PR template with redesign guideline and drop "Checklist" section
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: internal

#9516 Fix nested attributes model mapping
  decidim-core/lib/decidim/attributes/model.rb
  decidim-core/spec/lib/attribute_object/form_spec.rb
  decidim-core/spec/lib/attributes/model_spec.rb
Labels: module: core, type: fix

#9497 Refactor CHANGELOG for v0.27
  CHANGELOG.md
Labels: type: internal

#9520 Backport 'Fix / Expose createMapController properly to let overriding' to v0.26
  decidim-core/app/packs/src/decidim/map.js
  decidim-core/app/packs/src/decidim/map/factory.js
  decidim-core/app/packs/src/decidim/map/legacy.js
Labels: module: core, backport, type: fix, contract: PWA

#9521 Backport 'Capture unhandled errors from JS promises and inform the user' to v0.26
  decidim-elections/app/packs/src/decidim/elections/voter/setup-vote.js
  decidim-elections/app/views/decidim/elections/votes/_server_error_modal.html.erb
  decidim-elections/app/views/decidim/elections/votes/new.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/system/vote_online_spec.rb
Labels: backport, module: elections, type: fix

#9522 Backport 'Remove description from questions in elections' to v0.26
  decidim-elections/app/commands/decidim/elections/admin/create_question.rb
  decidim-elections/app/commands/decidim/elections/admin/setup_election.rb
  decidim-elections/app/commands/decidim/elections/admin/update_question.rb
  decidim-elections/app/forms/decidim/elections/admin/question_form.rb
  decidim-elections/app/models/decidim/elections/question.rb
  decidim-elections/app/views/decidim/elections/admin/questions/_form.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20220615102642_remove_description_from_elections_questions.rb
  decidim-elections/lib/decidim/api/election_question_type.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/spec/commands/decidim/elections/admin/create_question_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/update_question_spec.rb
  decidim-elections/spec/forms/decidim/elections/admin/question_form_spec.rb
  decidim-elections/spec/lib/decidim/elections/answer_serializer_spec.rb
  decidim-elections/spec/system/admin/admin_manages_questions_spec.rb
  decidim-elections/spec/types/decidim/elections/election_question_type_spec.rb
  decidim-elections/spec/types/integration_schema_spec.rb
Labels: backport, contract: e-voting, module: elections, type: fix

#9524 Backport 'Fix rollback questionnaire answer when file is invalid' to v0.26
  decidim-forms/app/commands/decidim/forms/answer_questionnaire.rb
  decidim-forms/app/forms/decidim/forms/answer_form.rb
  decidim-meetings/app/commands/decidim/meetings/join_meeting.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
Labels: module: meetings, backport, module: surveys, module: forms, type: fix

#9525 Backport 'Make sure component is published when starting an election' to v0.26
  decidim-elections/app/forms/decidim/elections/admin/setup_form.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/forms/decidim/elections/admin/setup_form_spec.rb
  decidim-elections/spec/system/admin/admin_manages_election_steps_spec.rb
Labels: backport, contract: e-voting, module: elections, type: fix

#9526 Backport 'Fix email subject when resource title has special characters' to v0.26
  decidim-assemblies/spec/events/decidim/role_assigned_to_assembly_event_spec.rb
  decidim-conferences/spec/events/decidim/conferences/conference_role_assigned_event_spec.rb
  decidim-core/lib/decidim/events/simple_event.rb
  decidim-debates/spec/events/decidim/debates/create_debate_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/close_meeting_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/meeting_registrations_enabled_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/upcoming_meeting_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/update_meeting_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/admin/proposal_note_created_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/admin/update_proposal_category_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/admin/update_proposal_scope_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/collaborative_draft_access_accepted_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/collaborative_draft_access_rejected_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/collaborative_draft_access_requested_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/collaborative_draft_withdrawn_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/proposal_mentioned_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/publish_proposal_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/rejected_proposal_event_spec.rb
Labels: module: proposals, module: core, module: meetings, backport, type: fix

#9527 Backport 'Prevent users to validate nicknames/emails taken by user groups' to v0.26
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/app/forms/decidim/registration_form.rb
  decidim-core/spec/forms/account_form_spec.rb
  decidim-core/spec/forms/registration_form_spec.rb
Labels: target: user-experience, module: core, backport, type: fix

#9528 Backport 'Fix hardcoded hour in election dashboard' to v0.26
  decidim-elections/config/locales/en.yml
Labels: backport, module: elections, type: fix

#9529 Backport 'Fix long word breaking on comments and cards' to v0.26
  decidim-core/app/packs/stylesheets/decidim/modules/_cards.scss
  decidim-core/app/packs/stylesheets/decidim/modules/_comments.scss
Labels: module: core, module: comments, backport, type: fix

#9530 Backport 'Fix long word breaking on comments and cards' to v0.27
  decidim-core/app/packs/stylesheets/decidim/modules/_cards.scss
  decidim-core/app/packs/stylesheets/decidim/modules/_comments.scss
Labels: module: core, module: comments, backport, type: fix

#9533 Backport 'Add the rexml gem as a requirement for Ruby 3.0.0+ compatibility' to v0.27
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim-initiatives/decidim-initiatives.gemspec
  decidim_app-design/Gemfile.lock
Labels: backport, dependencies, module: initiatives, type: fix

#9536 Backport 'Fix cache hash on Hightlighted spaces' to v0.26
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/highlighted_assemblies_cell.rb
  decidim-conferences/app/cells/decidim/conferences/content_blocks/highlighted_conferences_cell.rb
  decidim-elections/app/cells/decidim/votings/content_blocks/highlighted_votings_cell.rb
Labels: backport, module: elections, module: assemblies, module: conferences, type: fix

#9537 Backport 'Fix cache hash on Hightlighted spaces' to v0.27
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/highlighted_assemblies_cell.rb
  decidim-conferences/app/cells/decidim/conferences/content_blocks/highlighted_conferences_cell.rb
  decidim-elections/app/cells/decidim/votings/content_blocks/highlighted_votings_cell.rb
Labels: backport, module: elections, module: assemblies, module: conferences, type: fix

#9538 Backport 'Fix email subject when participatory space title is present' to v0.27
  decidim-blogs/spec/events/decidim/blogs/create_post_event_spec.rb
  decidim-core/lib/decidim/events/simple_event.rb
Labels: module: core, backport, type: fix

#9540 Backport 'Add short format to result date' to v0.26
  decidim-accountability/app/views/decidim/accountability/results/_results_leaf.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_show_leaf.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_timeline.html.erb
Labels: backport, module: accountability, type: fix

#9541 Backport 'Add short format to result date' to v0.27
  decidim-accountability/app/views/decidim/accountability/results/_results_leaf.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_show_leaf.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_timeline.html.erb
Labels: backport, module: accountability, type: fix

#9535 Backport 'Advertise users if BB connection is lost in trustees/admin zones' to v0.26
  config/i18n-tasks.yml
  decidim-elections/app/packs/src/decidim/elections/admin/pending_action.js
  decidim-elections/app/packs/src/decidim/elections/admin/trustees_process.js
  decidim-elections/app/packs/src/decidim/elections/broken_promises_handler.js
  decidim-elections/app/packs/src/decidim/elections/trustee/key_ceremony.js
  decidim-elections/app/packs/src/decidim/elections/trustee/tally.js
  decidim-elections/app/packs/src/decidim/elections/voter/casting-vote.js
  decidim-elections/app/packs/src/decidim/elections/voter/setup-vote.js
  decidim-elections/app/packs/src/decidim/votings/in-person-vote.js
  decidim-elections/app/views/decidim/elections/admin/steps/index.html.erb
  decidim-elections/app/views/decidim/elections/shared/_broken_promises_modal.html.erb
  decidim-elections/app/views/decidim/elections/trustee_zone/elections/show.html.erb
  decidim-elections/app/views/decidim/elections/votes/_show_casting.html.erb
  decidim-elections/app/views/decidim/elections/votes/new.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/in_person_votes/new.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/in_person_votes/show.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/system/key_ceremony_spec.rb
  decidim-elections/spec/system/vote_online_inside_a_voting_spec.rb
Labels: backport, module: elections, type: fix

#9445 Update gem dependencies
  Gemfile.lock
  decidim-assemblies/spec/cells/decidim/assemblies/statistic_cell_spec.rb
  decidim-assemblies/spec/cells/decidim/assemblies/statistics_cell_spec.rb
  decidim-core/decidim-core.gemspec
  decidim-core/spec/cells/decidim/upload_modal_cell_spec.rb
  decidim-generators/Gemfile.lock
  decidim-participatory_processes/spec/cells/decidim/participatory_processes/statistic_cell_spec.rb
  decidim-participatory_processes/spec/cells/decidim/participatory_processes/statistics_cell_spec.rb
  decidim_app-design/Gemfile.lock
Labels: dependencies, type: internal

#9281 Add script for generating backports of PRs
  bin/backporter
  bin/changelog_generator
  lib/decidim/backporter.rb
  lib/decidim/git_backport_manager.rb
  lib/decidim/github_manager/poster.rb
  lib/decidim/github_manager/querier.rb
  spec/lib/decidim/git_backport_manager_spec.rb
  spec/lib/decidim/github_manager/poster_spec.rb
  spec/lib/decidim/github_manager/querier_spec.rb
Labels: type: internal

#9509 Fix published conferences order
  decidim-conferences/app/queries/decidim/conferences/organization_published_conferences.rb
  decidim-conferences/spec/queries/organization_published_conferences_spec.rb
Labels: module: conferences, type: fix

#9510 Fix creation notification when editing a comment
  decidim-comments/app/cells/decidim/comments/edit_comment_modal_form_cell.rb
  decidim-comments/app/commands/decidim/comments/update_comment.rb
  decidim-comments/spec/commands/update_comment_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/update_proposal_spec.rb
Labels: module: comments, type: fix

#9514 Remove margin-bottom on votings navigation
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/description/show.erb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/header/show.erb
Labels: module: elections, type: fix

#9542 Use public link on initiatives mailer
  decidim-initiatives/app/views/decidim/initiatives/initiatives_mailer/notify_creation.html.erb
  decidim-initiatives/spec/mailers/decidim/initiatives/initiatives_mailer_spec.rb
Labels: module: initiatives, type: fix

#9543 Fix for initiative mailer when promoting committee is disabled
  decidim-initiatives/app/views/decidim/initiatives/initiatives_mailer/notify_creation.html.erb
  decidim-initiatives/spec/mailers/decidim/initiatives/initiatives_mailer_spec.rb
Labels: module: initiatives, type: fix

#9506 Move rubocop-faker to the decidim-dev module
  Gemfile
  Gemfile.lock
  decidim-dev/decidim-dev.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience, dependencies, module: dev

#9553 Backport 'Remove the description field from the elections component seeds' to v0.26
  decidim-elections/lib/decidim/elections/component.rb
Labels: backport, module: elections, type: internal

#9551 Disallow creating grandchildren results
  decidim-accountability/app/permissions/decidim/accountability/admin/permissions.rb
  decidim-accountability/app/views/decidim/accountability/admin/results/index.html.erb
  decidim-accountability/spec/permissions/decidim/accountability/admin/permissions_spec.rb
  decidim-accountability/spec/shared/manage_child_results_examples.rb
Labels: module: accountability, type: fix

#9556 Fix API GraphiQL system spec for 0.26 with newer ChromeDriver
  decidim-api/spec/system/graphiql_spec.rb
Labels: module: api, type: internal

#9488 Show only actually missing i18n keys with the i18n tasks
  config/i18n-tasks.yml
  spec/i18n_spec.rb
Labels: target: developer-experience, type: internal

#9557 Prevent showing announcement on meetings registrations
  decidim-forms/app/views/decidim/forms/questionnaires/show.html.erb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
Labels: module: meetings, module: forms, type: fix

#9384 Harmonize permissions behavior when creating a meeting in private space
  decidim-meetings/app/permissions/decidim/meetings/permissions.rb
  decidim-meetings/spec/permissions/decidim/meetings/permissions_spec.rb
Labels: module: meetings, type: change

#9554 Improve steps election check page with census
  decidim-elections/app/forms/decidim/elections/admin/setup_form.rb
  decidim-elections/app/models/decidim/elections/election.rb
  decidim-elections/app/views/decidim/elections/admin/steps/_create_election.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/forms/decidim/elections/admin/setup_form_spec.rb
  decidim-elections/spec/system/admin/admin_manages_election_steps_spec.rb
Labels: module: elections

#9507 Improve the default gitignore files created by the generators
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/component_templates/gitignore
Labels: module: generators, type: change

#9460 Admin log filters
  config/i18n-tasks.yml
  decidim-admin/app/controllers/concerns/decidim/admin/logs/filterable.rb
  decidim-admin/app/controllers/decidim/admin/logs_controller.rb
  decidim-admin/app/helpers/decidim/admin/application_helper.rb
  decidim-admin/app/helpers/decidim/admin/logs_helper.rb
  decidim-admin/app/helpers/decidim/admin/search_form_helper.rb
  decidim-admin/app/packs/entrypoints/decidim_admin.js
  decidim-admin/app/packs/src/decidim/admin/participatory_space_search.js
  decidim-admin/app/views/decidim/admin/dashboard/show.html.erb
  decidim-admin/app/views/decidim/admin/logs/_filters.html.erb
  decidim-admin/app/views/decidim/admin/logs/_logs_list.html.erb
  decidim-admin/app/views/decidim/admin/logs/index.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/lib/decidim/admin.rb
  decidim-admin/lib/decidim/admin/search_form_builder.rb
  decidim-admin/spec/lib/admin/search_form_builder_spec.rb
  decidim-admin/spec/system/admin_checks_logs_spec.rb
  decidim-core/app/models/decidim/action_log.rb
  decidim-core/app/packs/stylesheets/decidim/modules/_autocomplete.scss
  decidim-core/app/presenters/decidim/participatory_space_manifest_presenter.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/api/functions/participatory_space_list_base.rb
  decidim-core/lib/decidim/api/interfaces/participatory_space_interface.rb
  decidim-core/lib/decidim/api/types/participatory_space_manifest_type.rb
  decidim-core/lib/decidim/api/types/quantifiable_translated_field_type.rb
  decidim-core/lib/decidim/core/api.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/lib/api/functions/participatory_space_list_base_spec.rb
  decidim-core/spec/types/participatory_space_type_spec.rb
  decidim-core/spec/types/quantifiable_translated_field_type_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/datetime_helpers.rb
  decidim-participatory_processes/spec/types/integration_schema_spec.rb
Labels: module: admin, type: feature, status: WIP, contract: GDPR

#9548 Add `modifyList` option to the autocomplete element
  decidim-core/app/packs/src/decidim/autocomplete.js
Labels: module: core, type: feature

#9547 Fix translated attributes field type change
  decidim-core/lib/decidim/translatable_attributes.rb
  decidim-core/spec/lib/translatable_attributes_spec.rb
Labels: module: core, type: fix

#9555 Add step-by-step instructions of the Crowdin releases process
  docs/modules/develop/pages/releases.adoc
Labels: type: internal

#9501 Add boilerplate structure to CHANGELOG
  CHANGELOG.md
  docs/modules/develop/pages/releases.adoc
Labels: type: internal

#9421 Fix publish event on official proposals
  decidim-proposals/app/events/decidim/proposals/publish_proposal_event.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/events/decidim/proposals/publish_proposal_event_spec.rb
Labels: module: proposals, type: fix, contract: PWA

#9573 Backport 'Fix email subject when participatory space title is present' to v0.26
  decidim-blogs/spec/events/decidim/blogs/create_post_event_spec.rb
  decidim-core/lib/decidim/events/simple_event.rb
Labels: module: core, backport, type: fix

#9519 Fix admin language selector with more than 4 locales
  decidim-admin/app/packs/entrypoints/decidim_admin.js
  decidim-admin/app/packs/src/decidim/admin/choose_language.js
  decidim-admin/app/packs/src/decidim/admin/dynamic_fields.component.js
  decidim-forms/app/packs/src/decidim/forms/admin/forms.js
Labels: module: admin, module: forms, type: fix

#9549 Add help text for proposals' 'publish answers immediately' setting
  decidim-admin/app/helpers/decidim/admin/settings_helper.rb
  decidim-admin/spec/helpers/settings_helper_spec.rb
  decidim-dev/config/locales/en.yml
  decidim-proposals/config/locales/en.yml
Labels: module: proposals, module: admin, type: fix

#9552 Make the HERE Map display in the currently selected language
  decidim-core/lib/decidim/map/provider/dynamic_map/here.rb
  decidim-core/spec/lib/map/provider/dynamic_map/here_spec.rb
Labels: module: core, type: fix

#9568 Add missing queue close_meeting_reminder to sidekiq configuration
  decidim-generators/lib/decidim/generators/app_templates/sidekiq.yml.erb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
Labels: module: generators, type: fix

#9585 Fix budgets seeds on non development apps
  decidim-budgets/lib/decidim/budgets/component.rb
Labels: module: budgets, type: fix

#9566 Add relevant URLs metadata to gem specs
  decidim-accountability/decidim-accountability.gemspec
  decidim-admin/decidim-admin.gemspec
  decidim-api/decidim-api.gemspec
  decidim-assemblies/decidim-assemblies.gemspec
  decidim-blogs/decidim-blogs.gemspec
  decidim-budgets/decidim-budgets.gemspec
  decidim-comments/decidim-comments.gemspec
  decidim-conferences/decidim-conferences.gemspec
  decidim-consultations/decidim-consultations.gemspec
  decidim-core/decidim-core.gemspec
  decidim-debates/decidim-debates.gemspec
  decidim-dev/decidim-dev.gemspec
  decidim-elections/decidim-elections.gemspec
  decidim-forms/decidim-forms.gemspec
  decidim-generators/decidim-generators.gemspec
  decidim-generators/lib/decidim/generators/component_templates/decidim-component.gemspec.erb
  decidim-initiatives/decidim-initiatives.gemspec
  decidim-meetings/decidim-meetings.gemspec
  decidim-pages/decidim-pages.gemspec
  decidim-participatory_processes/decidim-participatory_processes.gemspec
  decidim-proposals/decidim-proposals.gemspec
  decidim-sortitions/decidim-sortitions.gemspec
  decidim-surveys/decidim-surveys.gemspec
  decidim-system/decidim-system.gemspec
  decidim-templates/decidim-templates.gemspec
  decidim-verifications/decidim-verifications.gemspec
  decidim.gemspec
Labels: type: internal

#9583 Set push notifications in user locale
  decidim-core/app/services/decidim/send_push_notification.rb
  decidim-core/spec/services/decidim/send_push_notification_spec.rb
Labels: module: core, type: fix

#9546 Improve census importing process in elections/votings space
  decidim-dev/lib/decidim/dev/assets/import_voting_census_only_headers.csv
  decidim-elections/app/commands/decidim/votings/census/admin/create_dataset.rb
  decidim-elections/app/commands/decidim/votings/census/admin/launch_access_codes_export.rb
  decidim-elections/app/commands/decidim/votings/census/admin/launch_access_codes_generation.rb
  decidim-elections/app/controllers/decidim/votings/census/admin/census_controller.rb
  decidim-elections/app/models/decidim/votings/census/dataset.rb
  decidim-elections/app/packs/src/decidim/votings/admin/update_census_dataset_status.js
  decidim-elections/app/views/decidim/votings/census/admin/census/_creating_data.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/_exporting_codes.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/_freeze.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/_generate_codes.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/show.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20220711112802_rename_dataset_file_to_filename.rb
  decidim-elections/lib/decidim/votings/test/factories.rb
  decidim-elections/spec/commands/decidim/votings/census/admin/create_dataset_spec.rb
  decidim-elections/spec/commands/decidim/votings/census/admin/launch_access_codes_export_spec.rb
  decidim-elections/spec/models/decidim/votings/census/dataset_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_census_spec.rb
Labels: contract: e-voting, module: elections, type: fix

#9584 Strip tags keeping entity characters
  decidim-core/app/presenters/decidim/push_notification_presenter.rb
  decidim-core/spec/presenters/decidim/push_notification_presenter_spec.rb
Labels: module: core, type: fix

#9480 Generate Tailwind configuration at runtime
  CHANGELOG.md
  decidim-core/lib/decidim/assets.rb
  decidim-core/lib/decidim/assets/tailwind.rb
  decidim-core/lib/decidim/assets/tailwind/instance.rb
  decidim-core/lib/decidim/assets/tailwind/tailwind.config.js.erb
  decidim-core/lib/decidim/webpacker.rb
  decidim-core/lib/decidim/webpacker/runner.rb
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
  decidim-core/spec/lib/assets/tailwind_instance_spec.rb
  decidim-core/spec/lib/webpacker/runner_spec.rb
  decidim-generators/lib/decidim/generators/app_generator.rb
Labels: contract: redesign

#9382 Fix agenda_item association with agenda
  decidim-meetings/app/models/decidim/meetings/agenda_item.rb
  decidim-meetings/spec/models/decidim/meetings/agenda_item_spec.rb
Labels: module: meetings, contract: online-meetings, type: fix

#9026 Automate phase change in processes
  CHANGELOG.md
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_step_form.rb
  decidim-participatory_processes/app/jobs/decidim/participatory_processes/change_active_step_job.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_steps/_form.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_steps/index.html.erb
  decidim-participatory_processes/db/migrate/20220315100140_change_steps_dates_to_datetime.rb
  decidim-participatory_processes/lib/decidim/api/participatory_process_step_type.rb
  decidim-participatory_processes/lib/tasks/decidim_participatory_processes.rake
  decidim-participatory_processes/spec/forms/participatory_process_step_form_spec.rb
  decidim-participatory_processes/spec/jobs/decidim/participatory_processes/change_active_step_job_spec.rb
  decidim-participatory_processes/spec/types/participatory_process_step_type_spec.rb
  docs/modules/install/pages/index.adoc
Labels: type: feature, module: participatory processes

#9600 Fix mobile notifications switch component overlaps
  decidim-core/app/packs/stylesheets/decidim/modules/_forms.scss
  decidim-core/app/views/decidim/download_your_data/show.html.erb
  decidim-core/app/views/decidim/notifications_settings/show.html.erb
  decidim-core/app/views/decidim/user_interests/show.html.erb
  decidim-core/spec/system/download_your_data_spec.rb
Labels: module: core, type: fix

#9593 Replace Source Sans Pro 900 with 700 in redesigned fonts
  decidim-core/app/packs/fonts/decidim/Source_Sans_Pro_700.eot
  decidim-core/app/packs/fonts/decidim/Source_Sans_Pro_700.svg
  decidim-core/app/packs/fonts/decidim/Source_Sans_Pro_700.ttf
  decidim-core/app/packs/fonts/decidim/Source_Sans_Pro_700.woff
  decidim-core/app/packs/fonts/decidim/Source_Sans_Pro_700.woff2
  decidim-core/app/packs/stylesheets/decidim/_redesigned_fonts.scss
Labels: module: core, type: change, contract: redesign

#9610 Fix the endorsement permissions
  decidim-core/app/permissions/decidim/permissions.rb
  decidim-core/lib/decidim/core/test/shared_examples/with_endorsable_permissions_examples.rb
  decidim-core/spec/permissions/decidim/permissions_spec.rb
Labels: module: core, type: fix
