Repository decidim/decidim, pull requests merged in 2022-03, with the labels that each got.

#8939 Backport "Fix the meetings export to also include unpublished meetings" to v0.26
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/lib/decidim/meetings/meeting_serializer.rb
  decidim-meetings/spec/lib/decidim/meetings/component_spec.rb
  decidim-meetings/spec/lib/decidim/meetings/meeting_serializer_spec.rb
Labels: module: meetings, backport, contract: online-meetings, type: fix

#8937 Local HTML validator for the CI
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin_system.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_initiatives_system_admin.yml
  .github/workflows/ci_initiatives_system_public.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  decidim-dev/lib/decidim/dev/test/w3c_rspec_validators_overrides.rb
Labels: type: internal

#8924 Fix flaky spec in meetings multi-date selectors
  decidim-meetings/spec/system/meeting_spec.rb
Labels: module: meetings, flaky spec, type: internal

#8925 Fix processes creation form with stats, metrics and announcements
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/create_participatory_process.rb
  decidim-participatory_processes/spec/commands/create_participatory_process_spec.rb
Labels: module: participatory processes, type: fix

#8929 Fix verification report with multitenants: notify it only to admins of that organization
  decidim-verifications/app/commands/decidim/verifications/authorize_user.rb
  decidim-verifications/app/controllers/decidim/verifications/authorizations_controller.rb
  decidim-verifications/spec/commands/decidim/verifications/authorize_user_spec.rb
Labels: module: system, module: verifications, type: fix

#8927 Fix officialized user event missing translations
  decidim-core/config/locales/en.yml
  decidim-core/spec/events/decidim/profile_updated_event_officialize_user_spec.rb
Labels: module: core, type: fix

#8923 Move VAPID keys generators to core
  decidim-core/lib/tasks/decidim_pwa_tasks.rake
  decidim-core/spec/tasks/decidim_tasks_pwa_spec.rb
  decidim-dev/lib/tasks/generators.rake
Labels: module: core, target: developer-experience, contract: PWA

#8940 Backport "Fix verification report with multitenants" to v0.26
  decidim-verifications/app/commands/decidim/verifications/authorize_user.rb
  decidim-verifications/app/controllers/decidim/verifications/authorizations_controller.rb
  decidim-verifications/spec/commands/decidim/verifications/authorize_user_spec.rb
Labels: module: system, backport, module: verifications, type: fix

#8942 Backport "Fix officialized user event missing translations" to v0.26
  decidim-core/config/locales/en.yml
  decidim-core/spec/events/decidim/profile_updated_event_officialize_user_spec.rb
Labels: module: core, backport, type: fix

#8926 Fix email for verification conflict with managed users
  decidim-verifications/app/events/decidim/verifications/managed_user_error_event.rb
  decidim-verifications/config/locales/en.yml
  decidim-verifications/spec/events/decidim/verifications/managed_user_error_event_spec.rb
Labels: module: verifications, type: fix

#8943 Fix profile notifications
  decidim-core/app/cells/decidim/followers/show.erb
  decidim-core/app/cells/decidim/following/show.erb
  decidim-core/app/cells/decidim/groups/show.erb
  decidim-core/app/cells/decidim/members/show.erb
Labels: module: core, type: fix

#8919 Add a subtitle to votings page
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/description/show.erb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/header/show.erb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/polling_stations/address.erb
  decidim-elections/config/locales/en.yml
Labels: team: accessibility, module: elections, type: fix

#8918 Add a subtitle to assemblies and processes pages
  decidim-assemblies/app/views/decidim/assemblies/assemblies/show.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb
  decidim-participatory_processes/config/locales/en.yml
Labels: team: accessibility, module: assemblies, module: participatory processes, type: fix

#8945 Backport "Fix email for verification conflict with managed users" to v0.26
  decidim-verifications/app/events/decidim/verifications/managed_user_error_event.rb
  decidim-verifications/config/locales/en.yml
  decidim-verifications/spec/events/decidim/verifications/managed_user_error_event_spec.rb
Labels: backport, module: verifications, type: fix

#8949 Backport "Fix profile notifications" to v0.26
  decidim-core/app/cells/decidim/followers/show.erb
  decidim-core/app/cells/decidim/following/show.erb
  decidim-core/app/cells/decidim/groups/show.erb
  decidim-core/app/cells/decidim/members/show.erb
Labels: module: core, backport, type: fix

#8957 Update image_processing to 1.12.2
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: dependencies, type: internal

#8938 Fix ActionMailer preview loading
  decidim-core/config/initializers/mail_previews.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/lib/engine_spec.rb
  decidim-initiatives/config/initializers/mail_previews.rb
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-initiatives/spec/lib/decidim/initiatives/engine_spec.rb
Labels: module: core, module: initiatives, type: internal

#8954 Truncate the meetings card description
  decidim-meetings/app/cells/decidim/meetings/meeting_m_cell.rb
  decidim-meetings/spec/cells/decidim/meetings/meeting_m_cell_spec.rb
Labels: module: meetings, type: fix

#8952 Fix proposals' cards with big images
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_m_cell_spec.rb
Labels: module: proposals, type: fix

#8963 Backport "Fix ActionMailer preview loading" to v0.26
  decidim-core/config/initializers/mail_previews.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/lib/engine_spec.rb
  decidim-initiatives/config/initializers/mail_previews.rb
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-initiatives/spec/lib/decidim/initiatives/engine_spec.rb
Labels: module: core, backport, module: initiatives, type: internal

#8958 Add missing reveal__title classes
  decidim-core/app/cells/decidim/fingerprint/show.erb
  decidim-core/app/cells/decidim/user_conversations/add_conversation_users.erb
  decidim-core/app/views/decidim/endorsements/identities.html.erb
  decidim-core/app/views/decidim/messaging/conversations/_add_conversation_users.html.erb
Labels: module: core, team: accessibility, type: fix

#8959 Fix multiple mentions correct focus on element (recipient) removal
  decidim-core/app/packs/src/decidim/input_multiple_mentions.js
Labels: module: core, team: accessibility, type: fix

#8965 Update bundler version requirement
  decidim-generators/decidim-generators.gemspec
Labels: dependencies, type: internal

#8966 Update gems dependencies
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: dependencies, type: internal

#8964 Update npm packages
  decidim_app-design/package-lock.json
  package-lock.json
Labels: dependencies, type: internal

#8969 Add missing 'Locale' string in i18n in account page
  decidim-core/config/locales/en.yml
Labels: module: core, type: fix

#8968 Fix main navigation aria-current attribute
  decidim-core/app/presenters/decidim/menu_item_presenter.rb
  decidim-core/spec/presenters/decidim/menu_item_presenter_spec.rb
Labels: module: core, team: accessibility, type: fix

#8962 Fix mobile nav keyboard focus
  decidim-core/app/packs/src/decidim/dialog_mode.js
  decidim-core/app/packs/src/decidim/dialog_mode.test.js
  decidim-core/app/packs/src/decidim/focus_guard.js
  decidim-core/app/packs/src/decidim/index.js
Labels: module: core, team: accessibility, type: fix

#8972 Remove the label from the dropdown menu opener
  decidim-core/app/cells/decidim/diff/diff_mode_dropdown.erb
  decidim-core/app/cells/decidim/diff/diff_mode_html.erb
  decidim-core/app/packs/src/decidim/dropdowns_menus.js
Labels: module: core, team: accessibility, type: fix

#8980 Backport "Add missing 'Locale' string in i18n in account page" to v0.26
  decidim-core/config/locales/en.yml
Labels: module: core, backport, type: fix

#8976 Backport "Fix flaky spec in meetings multi-date selectors" to v0.26
  decidim-meetings/spec/system/meeting_spec.rb
Labels: module: meetings, backport, flaky spec, type: internal

#8978 Backport "Fix proposals' cards with big images" to v0.26
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_m_cell_spec.rb
Labels: module: proposals, backport, type: fix

#8975 Backport "Fix link to docs in initiatives admin" to v0.26
  decidim-initiatives/config/locales/en.yml
Labels: backport, module: initiatives, type: fix

#8977 Backport "Fix processes creation form with stats, metrics and announcements" to v0.26
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/create_participatory_process.rb
  decidim-participatory_processes/spec/commands/create_participatory_process_spec.rb
Labels: backport, module: participatory processes, type: fix

#8984 Remove chromedriver version lock
  .github/actions/module-rspec/action.yml
Labels: type: internal

#8970 Fix failing proposal tests
  decidim-dev/lib/decidim/dev/test/rspec_support/dynamic_attach.rb
Labels: module: proposals, module: core, flaky spec, type: internal

#8967 Fix for endorsed_by with other user group's member
  decidim-blogs/spec/models/decidim/blogs/post_spec.rb
  decidim-core/app/commands/decidim/unendorse_resource.rb
  decidim-core/app/helpers/decidim/endorsable_helper.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/endorsable.rb
  decidim-core/lib/decidim/endorsable.rb
  decidim-core/spec/commands/decidim/unendorse_resource_spec.rb
  decidim-core/spec/helpers/decidim/endorsable_helper_spec.rb
  decidim-debates/spec/models/decidim/debates/debate_spec.rb
  decidim-proposals/spec/models/decidim/proposals/proposal_spec.rb
Labels: module: proposals, module: core, module: debates, module: blogs, type: fix

#8987 Fix footer actions caching on proposals' card
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
Labels: module: proposals, type: fix

#8583 Create process types to allow filtering Processes by them
  decidim-assemblies/app/helpers/decidim/assemblies/filter_assemblies_helper.rb
  decidim-assemblies/app/views/decidim/assemblies/_filter_by_type.html.erb
  decidim-assemblies/spec/system/filter_assemblies_spec.rb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/highlighted_participatory_processes/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/highlighted_participatory_processes_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/process_filters_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/filtered_participatory_processes_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_filters/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_filters/type_filter.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_filters_cell.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/create_participatory_process.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/create_participatory_process_type.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/destroy_participatory_process_type.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/update_participatory_process.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/update_participatory_process_type.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_types_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_processes_controller.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_form.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_type_form.rb
  decidim-participatory_processes/app/models/decidim/participatory_process.rb
  decidim-participatory_processes/app/models/decidim/participatory_process_type.rb
  decidim-participatory_processes/app/permissions/decidim/participatory_processes/permissions.rb
  decidim-participatory_processes/app/presenters/decidim/log/value_types/participatory_process_type_presenter.rb
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/admin_log/participatory_process_presenter.rb
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/admin_log/participatory_process_type_presenter.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_types/_form.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_types/edit.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_types/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_types/new.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/_form.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_process_groups/show.js.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/index.js.erb
  decidim-participatory_processes/app/views/layouts/decidim/admin/participatory_process_type.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/db/migrate/20211125202008_create_decidim_participatory_process_types.rb
  decidim-participatory_processes/lib/decidim/api/participatory_process_type_type.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/admin_engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/api.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/participatory_space.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/query_extensions.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/test/factories.rb
  decidim-participatory_processes/spec/commands/create_participatory_process_spec.rb
  decidim-participatory_processes/spec/commands/create_participatory_process_type_spec.rb
  decidim-participatory_processes/spec/commands/destroy_participatory_process_type_spec.rb
  decidim-participatory_processes/spec/commands/update_participatory_process_type_spec.rb
  decidim-participatory_processes/spec/forms/participatory_process_type_form_spec.rb
  decidim-participatory_processes/spec/lib/query_extensions_spec.rb
  decidim-participatory_processes/spec/models/decidim/participatory_process_type_spec.rb
  decidim-participatory_processes/spec/presenters/decidim/log/value_types/participatory_process_type_presenter_spec.rb
  decidim-participatory_processes/spec/presenters/decidim/participatory_processes/admin_log/participatory_process_type_presenter_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_types_spec.rb
  decidim-participatory_processes/spec/system/filter_participatory_processes_spec.rb
Labels: type: feature, module: participatory processes

#8747 Show signatures in answered initiatives
  decidim-initiatives/app/cells/decidim/initiatives/initiative_m/footer.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-initiatives/spec/cells/decidim/initiatives/initiative_m_cell_spec.rb
  decidim-initiatives/spec/system/initiative_spec.rb
  decidim-initiatives/spec/system/print_initiative_spec.rb
Labels: type: feature, module: initiatives

#8971 Fix API when meetings have proposal linking disabled
  decidim-admin/spec/presenters/decidim/admin/dashboard_metric_charts_presenter_spec.rb
  decidim-assemblies/spec/types/integration_schema_spec.rb
  decidim-conferences/spec/types/integration_schema_spec.rb
  decidim-consultations/spec/types/integration_schema_spec.rb
  decidim-initiatives/spec/types/integration_schema_spec.rb
  decidim-meetings/lib/decidim/api/linked_resources_interface.rb
  decidim-meetings/lib/decidim/api/meeting_type.rb
  decidim-participatory_processes/spec/types/integration_schema_spec.rb
  lib/decidim.rb
Labels: module: proposals, module: meetings, module: api, type: fix

#8993 Fix proposals seeds after reordering of modules loading
  decidim-proposals/lib/decidim/proposals/component.rb
Labels: module: proposals, module: meetings, type: fix

#8995 Make integration_schema_spec.rb stats not care about order
  decidim-api/lib/decidim/api/test.rb
  decidim-api/lib/decidim/api/test/shared_examples/statistics_examples.rb
  decidim-assemblies/spec/types/integration_schema_spec.rb
  decidim-conferences/spec/types/integration_schema_spec.rb
  decidim-consultations/spec/types/integration_schema_spec.rb
  decidim-dev/lib/decidim/dev/test/base_spec_helper.rb
  decidim-initiatives/spec/types/integration_schema_spec.rb
  decidim-participatory_processes/spec/types/integration_schema_spec.rb
Labels: module: assemblies, module: participatory processes, module: api, module: conferences, module: consultations, module: initiatives, type: internal

#8911 Update docs in Webpacker app migration (part II)
  docs/modules/develop/pages/guide_migrate_webpacker_app.adoc
Labels: team: documentation, target: developer-experience

#8922 Show character counter when replying to message
  decidim-core/app/cells/decidim/user_conversation/messages.erb
  decidim-core/app/cells/decidim/user_conversation_cell.rb
  decidim-core/app/commands/decidim/messaging/reply_to_conversation.rb
  decidim-core/app/forms/decidim/messaging/message_form.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/conversations_examples.rb
  decidim-core/spec/system/messaging/conversations_spec.rb
  decidim-core/spec/system/messaging/profile_conversations_spec.rb
Labels: module: core, type: fix

#9004 Backport "Local HTML validator for the CI" to v0.26
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin_system_1.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_elections_system_admin_1.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_initiatives_system_admin.yml
  .github/workflows/ci_initiatives_system_public.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public_1.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public_1.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  decidim-dev/lib/decidim/dev/test/w3c_rspec_validators_overrides.rb
Labels: type: internal

#8999 Backport "Add missing reveal__title classes" to v0.26
  decidim-core/app/cells/decidim/fingerprint/show.erb
  decidim-core/app/cells/decidim/user_conversations/add_conversation_users.erb
  decidim-core/app/views/decidim/endorsements/identities.html.erb
  decidim-core/app/views/decidim/messaging/conversations/_add_conversation_users.html.erb
Labels: module: core, backport, team: accessibility, type: fix

#9002 Backport "Remove the label from the dropdown menu opener" to v0.26
  decidim-core/app/cells/decidim/diff/diff_mode_dropdown.erb
  decidim-core/app/cells/decidim/diff/diff_mode_html.erb
  decidim-core/app/packs/src/decidim/dropdowns_menus.js
Labels: module: core, backport, team: accessibility, type: fix

#9001 Backport "Fix mobile nav keyboard focus" to v0.26
  decidim-core/app/packs/src/decidim/dialog_mode.js
  decidim-core/app/packs/src/decidim/dialog_mode.test.js
  decidim-core/app/packs/src/decidim/focus_guard.js
  decidim-core/app/packs/src/decidim/index.js
Labels: module: core, backport, team: accessibility, type: fix

#9000 Backport "Fix main navigation aria-current attribute" to v0.26
  decidim-core/app/presenters/decidim/menu_item_presenter.rb
  decidim-core/spec/presenters/decidim/menu_item_presenter_spec.rb
Labels: module: core, backport, team: accessibility, type: fix

#9003 Backport "Show character counter when replying to message" to v0.26
  decidim-core/app/cells/decidim/user_conversation/messages.erb
  decidim-core/app/cells/decidim/user_conversation_cell.rb
  decidim-core/app/commands/decidim/messaging/reply_to_conversation.rb
  decidim-core/app/forms/decidim/messaging/message_form.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/conversations_examples.rb
  decidim-core/spec/system/messaging/conversations_spec.rb
  decidim-core/spec/system/messaging/profile_conversations_spec.rb
Labels: module: core, backport, type: fix

#8916 Fix character counter with emoji picker close to maximum characters
  decidim-core/app/packs/src/decidim/input_character_counter.js
  decidim-core/app/packs/src/decidim/input_emoji.js
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: module: core, type: fix

#9012 Backport "Fix character counter with emoji picker close to maximum characters" to v0.26
  decidim-core/app/packs/src/decidim/input_character_counter.js
  decidim-core/app/packs/src/decidim/input_emoji.js
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: module: core, backport, type: fix

#8992 Backport "Fix API when meetings have proposal linking disabled" to v0.26
  decidim-admin/spec/presenters/decidim/admin/dashboard_metric_charts_presenter_spec.rb
  decidim-api/lib/decidim/api/test.rb
  decidim-api/lib/decidim/api/test/shared_examples/statistics_examples.rb
  decidim-assemblies/spec/types/integration_schema_spec.rb
  decidim-conferences/spec/types/integration_schema_spec.rb
  decidim-consultations/spec/types/integration_schema_spec.rb
  decidim-dev/lib/decidim/dev/test/base_spec_helper.rb
  decidim-initiatives/spec/types/integration_schema_spec.rb
  decidim-meetings/lib/decidim/api/linked_resources_interface.rb
  decidim-meetings/lib/decidim/api/meeting_type.rb
  decidim-participatory_processes/spec/types/integration_schema_spec.rb
  decidim-proposals/lib/decidim/proposals/component.rb
  lib/decidim.rb
Labels: module: proposals, module: meetings, backport, module: api, type: fix

#9014 Fix Devise configs that depend on Decidim configs
  decidim-core/config/initializers/devise.rb
  decidim-core/lib/decidim/core/engine.rb
Labels: module: core, target: developer-experience

#9022 Backport "Fix Devise configs that depend on Decidim configs" to v0.26
  decidim-core/config/initializers/devise.rb
  decidim-core/lib/decidim/core/engine.rb
Labels: module: core, target: developer-experience, backport

#9040 Update web-console to 4.2
  Gemfile
  Gemfile.lock
  decidim-generators/Gemfile
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim_app-design/Gemfile.lock
Labels: dependencies, type: internal

#9019 Fix submit form with enter when there are attachments
  decidim-core/app/cells/decidim/upload_modal/files.erb
  decidim-core/spec/cells/decidim/upload_modal_cell_spec.rb
Labels: module: core, type: fix

#9025 Fix Devise flash messages translation
  decidim-core/config/initializers/devise.rb
  decidim-core/spec/system/locales_spec.rb
Labels: module: core, type: fix

#8834 Add useful error for custom-authorizations development
  decidim-verifications/app/controllers/decidim/verifications/authorizations_controller.rb
Labels: target: developer-experience, module: verifications

#9009 Accessible character counter for screen readers
  decidim-core/app/packs/src/decidim/input_character_counter.js
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-proposals/spec/system/edit_collaborative_draft_spec.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
Labels: module: core, type: feature, team: accessibility

#9037 Add missing 'Locale' string in i18n in selective newsletter
  decidim-admin/app/forms/decidim/admin/selective_newsletter_form.rb
  decidim-admin/config/locales/en.yml
Labels: module: admin, type: fix

#9036 Prevent Faker Address country_code from raising RetryLimitExceeded
  decidim-core/db/seeds.rb
Labels: module: core, module: dev, type: fix

#9041 Fix social share button sharing (`Can't find variable: SocialShareButton` console error)
  decidim-core/app/packs/entrypoints/decidim_core.js
  decidim-core/app/packs/src/decidim/vendor/social-share-button.js
  decidim-core/app/packs/stylesheets/decidim/vendor/_social_share_button.scss
Labels: module: core, dependencies, type: fix

#9046 Backport "Fix Faker address country code in seeds" to v0.26
  decidim-core/db/seeds.rb
Labels: module: core, target: developer-experience, backport, module: dev

#9043 Backport "Fix Devise flash messages translation" to v0.26
  decidim-core/config/initializers/devise.rb
  decidim-core/spec/system/locales_spec.rb
Labels: module: core, backport, type: fix

#9023 Use published meetings scope on processes landing and proposal's form
  decidim-meetings/app/cells/decidim/meetings/content_blocks/upcoming_meetings_cell.rb
  decidim-meetings/spec/cells/decidim/meetings/content_blocks/upcoming_meetings_cell_spec.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_base_form.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/create_proposal_spec.rb
  decidim-proposals/spec/requests/collaborative_draft_search_spec.rb
  decidim-proposals/spec/requests/proposal_search_spec.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_serializer_spec.rb
  decidim-proposals/spec/shared/manage_proposals_examples.rb
  decidim-proposals/spec/shared/proposal_form_examples.rb
  decidim-proposals/spec/system/admin/view_proposal_details_from_admin_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: module: meetings, contract: online-meetings, type: fix

#9032 Fix Spring errors with Rails 6.1
  CHANGELOG.md
  decidim-core/lib/decidim/spring.rb
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
Labels: module: core, target: developer-experience

#9053 Require omniauth/rails_csrf_protection explicitly
  decidim-core/lib/decidim/core/engine.rb
Labels: module: core, type: fix

#9051 Fix session cookie SameSite policy
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/requests/session_spec.rb
Labels: team: security, module: core, type: fix

#8914 Show users own voting activity
  decidim-budgets/app/cells/decidim/budgets/order_activity_cell.rb
  decidim-budgets/app/commands/decidim/budgets/checkout.rb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/spec/commands/checkout_spec.rb
  decidim-budgets/spec/system/orders_spec.rb
  decidim-core/app/controllers/decidim/user_activities_controller.rb
  decidim-core/app/models/decidim/action_log.rb
  decidim-core/app/queries/decidim/own_activities.rb
  decidim-core/app/queries/decidim/public_activities.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/system/user_activity_spec.rb
Labels: module: core, module: budgets, type: feature

#9006 Create admin log records when proposals are imported from a file
  decidim-proposals/lib/decidim/proposals/import/proposal_creator.rb
  decidim-proposals/spec/lib/decidim/proposals/import/proposal_creator_spec.rb
Labels: module: proposals, type: fix

#9038 Add autocomplete attribute to Devise fields
  decidim-core/app/views/decidim/devise/confirmations/new.html.erb
  decidim-core/app/views/decidim/devise/invitations/edit.html.erb
  decidim-core/app/views/decidim/devise/omniauth_registrations/new.html.erb
  decidim-core/app/views/decidim/devise/passwords/edit.html.erb
  decidim-core/app/views/decidim/devise/passwords/new.html.erb
  decidim-core/app/views/decidim/devise/registrations/edit.html.erb
  decidim-core/app/views/decidim/devise/registrations/new.html.erb
  decidim-core/app/views/decidim/devise/sessions/new.html.erb
Labels: module: core, type: feature, team: accessibility

#9052 Remove presenters in the meetings admin backoffice
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
Labels: module: meetings, type: fix

#9062 Backport "Fix for endorsed_by with other user group's member" to v0.26
  decidim-blogs/spec/models/decidim/blogs/post_spec.rb
  decidim-core/app/commands/decidim/unendorse_resource.rb
  decidim-core/app/helpers/decidim/endorsable_helper.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/endorsable.rb
  decidim-core/lib/decidim/endorsable.rb
  decidim-core/spec/commands/decidim/unendorse_resource_spec.rb
  decidim-core/spec/helpers/decidim/endorsable_helper_spec.rb
  decidim-debates/spec/models/decidim/debates/debate_spec.rb
  decidim-proposals/spec/models/decidim/proposals/proposal_spec.rb
Labels: module: proposals, module: core, backport, module: debates, module: blogs, type: fix

#9063 Backport "Fix footer actions caching on proposals' card" to v0.26
  decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb
Labels: module: proposals, backport, type: fix

#9050 Fix amendable events title
  decidim-core/app/events/decidim/amendable/amendment_base_event.rb
  decidim-core/lib/decidim/core/test/shared_examples/amendable/amendment_accepted_event_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/amendable/amendment_created_event_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/amendable/amendment_promoted_event_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/amendable/amendment_rejected_event_examples.rb
  decidim-proposals/spec/events/decidim/proposals/amendable/amendment_accepted_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/amendable/amendment_created_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/amendable/amendment_promoted_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/amendable/amendment_rejected_event_spec.rb
Labels: module: proposals, module: core, type: fix

#9039 Fix Twitter hashtag search when it starts with a number
  decidim-assemblies/app/views/layouts/decidim/_assembly_header.html.erb
  decidim-conferences/app/views/layouts/decidim/_conference_hero.html.erb
  decidim-consultations/app/views/layouts/decidim/_question_header.html.erb
  decidim-core/app/controllers/decidim/application_controller.rb
  decidim-core/app/helpers/decidim/twitter_search_helper.rb
  decidim-core/spec/helpers/decidim/twitter_search_helper_spec.rb
  decidim-initiatives/app/cells/decidim/initiatives/initiative_m/tags.erb
  decidim-initiatives/app/cells/decidim/initiatives/initiative_m_cell.rb
  decidim-initiatives/app/views/layouts/decidim/_initiative_header.html.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/title/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/title_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_m/tags.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_m_cell.rb
  decidim-participatory_processes/app/views/layouts/decidim/_process_header.html.erb
  decidim-participatory_processes/spec/cells/decidim/participatory_process_groups/content_blocks/title_cell_spec.rb
Labels: module: core, module: assemblies, module: participatory processes, module: conferences, module: consultations, module: initiatives, type: fix

#9064 Backport "Add missing 'Locale' string in i18n in selective newsletter" to v0.26
  decidim-admin/app/forms/decidim/admin/selective_newsletter_form.rb
  decidim-admin/config/locales/en.yml
Labels: module: admin, backport, type: fix

#9065 Backport "Fix social share button sharing" to v0.26
  decidim-core/app/packs/entrypoints/decidim_core.js
  decidim-core/app/packs/src/decidim/vendor/social-share-button.js
  decidim-core/app/packs/stylesheets/decidim/vendor/_social_share_button.scss
Labels: module: core, backport, dependencies, type: fix

#9067 Backport "Require omniauth/rails_csrf_protection explicitly" to v0.26
  decidim-core/lib/decidim/core/engine.rb
Labels: module: core, backport, type: fix

#9082 Disable webpack-dev-server overlay
  decidim-core/lib/decidim/webpacker/webpacker.yml
Labels: module: core, target: developer-experience, type: internal

#9079 Backport "Fix amendable events title" to v0.26
  decidim-core/app/events/decidim/amendable/amendment_base_event.rb
  decidim-core/lib/decidim/core/test/shared_examples/amendable/amendment_accepted_event_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/amendable/amendment_created_event_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/amendable/amendment_promoted_event_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/amendable/amendment_rejected_event_examples.rb
  decidim-proposals/spec/events/decidim/proposals/amendable/amendment_accepted_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/amendable/amendment_created_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/amendable/amendment_promoted_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/amendable/amendment_rejected_event_spec.rb
Labels: module: proposals, module: core, backport, type: fix

#9077 Backport "Create admin log records when proposals are imported from a file" to v0.26
  decidim-proposals/lib/decidim/proposals/import/proposal_creator.rb
  decidim-proposals/spec/lib/decidim/proposals/import/proposal_creator_spec.rb
Labels: module: proposals, backport, type: fix

#9078 Backport "Add noreferrer and ugc to links" to v0.26
  decidim-comments/spec/models/comment_spec.rb
  decidim-core/app/cells/decidim/profile_sidebar/show.erb
  decidim-core/lib/decidim/content_renderers/link_renderer.rb
  decidim-core/spec/content_renderers/decidim/link_renderer_spec.rb
  decidim-core/spec/models/decidim/messaging/message_spec.rb
  decidim-proposals/spec/presenters/decidim/proposals/collaborative_draft_presenter_spec.rb
  decidim-proposals/spec/presenters/decidim/proposals/proposal_presenter_spec.rb
Labels: module: proposals, module: core, module: comments, backport, type: fix

#9076 Backport "Fix submit in meetings admin form" to v0.26
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_services.html.erb
Labels: module: meetings, backport, type: fix

#9042 Remove social-share-button npm package
  decidim-core/app/packs/entrypoints/decidim_core.js
  decidim_app-design/package-lock.json
  decidim_app-design/packages/core/package.json
  package-lock.json
  packages/core/package.json
Labels: dependencies, type: internal

#9059 Backport "Fix session cookie SameSite policy" to v0.26
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/middleware/rails_cookies.rb
  decidim-core/spec/requests/session_spec.rb
Labels: team: security, module: core, backport, type: fix

#9074 Backport "Fix cache URLs on cards" to v0.26
  decidim-budgets/app/cells/decidim/budgets/project_list_item_cell.rb
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-budgets/spec/system/explore_projects_spec.rb
  decidim-core/app/cells/decidim/card_m_cell.rb
  decidim-core/app/cells/decidim/version_cell.rb
  decidim-core/app/cells/decidim/versions_list_cell.rb
  decidim-core/app/controllers/decidim/components/base_controller.rb
  decidim-core/app/helpers/decidim/filter_params_helper.rb
  decidim-core/app/packs/entrypoints/decidim_core.js
  decidim-core/app/packs/src/decidim/back_to_list.js
  decidim-core/app/packs/src/decidim/form_filter.js
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/lib/decidim/view_model.rb
  decidim-core/spec/helpers/decidim/filter_params_helper_spec.rb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-debates/spec/system/explore_debates_spec.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_list_item_cell.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-proposals/app/cells/decidim/proposals/collaborative_draft_cell.rb
  decidim-proposals/app/cells/decidim/proposals/participatory_text_proposal_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_cell.rb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/spec/system/filter_proposals_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, backport, module: debates, type: fix

#9075 Backport "Fix Twitter hashtag search when it starts with a number" to v0.26
  decidim-assemblies/app/views/layouts/decidim/_assembly_header.html.erb
  decidim-conferences/app/views/layouts/decidim/_conference_hero.html.erb
  decidim-consultations/app/views/layouts/decidim/_question_header.html.erb
  decidim-core/app/controllers/decidim/application_controller.rb
  decidim-core/app/helpers/decidim/twitter_search_helper.rb
  decidim-core/spec/helpers/decidim/twitter_search_helper_spec.rb
  decidim-initiatives/app/cells/decidim/initiatives/initiative_m/tags.erb
  decidim-initiatives/app/cells/decidim/initiatives/initiative_m_cell.rb
  decidim-initiatives/app/views/layouts/decidim/_initiative_header.html.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/title/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/title_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_m/tags.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_m_cell.rb
  decidim-participatory_processes/app/views/layouts/decidim/_process_header.html.erb
  decidim-participatory_processes/spec/cells/decidim/participatory_process_groups/content_blocks/title_cell_spec.rb
Labels: module: core, backport, module: assemblies, module: participatory processes, module: conferences, module: consultations, module: initiatives, type: fix

#8997 Remove 'edit link' in topbar for initiative's authors
  decidim-initiatives/app/views/decidim/initiatives/initiatives/index.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-initiatives/spec/system/edit_initiative_spec.rb
Labels: module: initiatives, type: fix

#9088 Prepare v0.26.1 release
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-consultations/lib/decidim/consultations/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  decidim_app-design/Gemfile.lock
  decidim_app-design/package-lock.json
  decidim_app-design/packages/browserslist-config/package.json
  decidim_app-design/packages/core/package.json
  decidim_app-design/packages/dev/package.json
  decidim_app-design/packages/elections/package.json
  decidim_app-design/packages/eslint-config/package.json
  decidim_app-design/packages/stylelint-config/package.json
  decidim_app-design/packages/webpacker/package.json
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: type: internal

#9091 Backport "Fix timeout in comment view and during meetings" to v0.26
  decidim-comments/app/controllers/decidim/comments/comments_controller.rb
  decidim-comments/app/packs/src/decidim/comments/comments.component.js
  decidim-comments/spec/controllers/decidim/comments/comments_controller_spec.rb
  decidim-core/app/controllers/concerns/decidim/skip_timeoutable.rb
  decidim-core/app/controllers/decidim/timeouts_controller.rb
  decidim-core/app/helpers/decidim/application_helper.rb
  decidim-core/app/packs/src/decidim/session_timeouter.js
  decidim-core/app/views/layouts/decidim/_timeout_modal.html.erb
  decidim-meetings/app/controllers/decidim/meetings/meetings_controller.rb
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/views/decidim/meetings/layouts/live_event.html.erb
  decidim-meetings/spec/system/live_meeting_spec.rb
  decidim-meetings/spec/system/meeting_spec.rb
Labels: module: core, module: meetings, module: comments, backport, type: fix

#9072 Allow admins to disable email notifications for reported users
  decidim-core/app/commands/decidim/create_user_report.rb
  decidim-core/app/models/decidim/user_moderation.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/commands/decidim/create_user_report_spec.rb
Labels: module: core, type: feature

#9095 Dont add external link container inside editor
  decidim-core/app/packs/src/decidim/external_link.js
  decidim-proposals/spec/system/edit_proposal_spec.rb
Labels: module: core, type: fix

#9107 VAPID key generator availabe in core
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-core/spec/controllers/manifests_spec.rb
  decidim-dev/decidim-dev.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: module: core, module: dev, type: fix, contract: PWA

#8757 Add reminders for publishing reports to meeting authors
  decidim-core/app/commands/decidim/update_notifications_settings.rb
  decidim-core/app/forms/decidim/notifications_settings_form.rb
  decidim-core/app/views/decidim/notifications_settings/show.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/db/migrate/20220127113419_add_notification_settings_to_users.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/notification_setting_manifest.rb
  decidim-core/spec/commands/decidim/update_notifications_settings_spec.rb
  decidim-core/spec/lib/notification_setting_manifest_spec.rb
  decidim-core/spec/system/account_spec.rb
  decidim-meetings/app/jobs/decidim/meetings/send_close_meeting_reminder_job.rb
  decidim-meetings/app/mailers/decidim/meetings/close_meeting_reminder_mailer.rb
  decidim-meetings/app/services/decidim/meetings/close_meeting_reminder_generator.rb
  decidim-meetings/app/views/decidim/meetings/close_meeting_reminder_mailer/close_meeting_reminder.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-meetings/spec/jobs/decidim/meetings/send_close_meeting_reminder_job_spec.rb
  decidim-meetings/spec/mailers/close_meeting_reminder_mailer_spec.rb
  decidim-meetings/spec/services/decidim/meetings/close_meeting_reminder_generator_spec.rb
Labels: module: meetings, type: feature

#9108 Backport "Dont add external link container inside editor" to v0.26
  decidim-core/app/packs/src/decidim/external_link.js
  decidim-proposals/spec/system/edit_proposal_spec.rb
Labels: module: core, backport, type: fix

#9035 Export calendar improvements
  decidim-core/app/packs/stylesheets/decidim/modules/_reveal.scss
  decidim-meetings/app/controllers/decidim/meetings/calendars_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/directory/meetings_controller.rb
  decidim-meetings/app/services/decidim/meetings/calendar/base_calendar.rb
  decidim-meetings/app/services/decidim/meetings/calendar/component_calendar.rb
  decidim-meetings/app/services/decidim/meetings/calendar/organization_calendar.rb
  decidim-meetings/app/services/decidim/meetings/calendar_renderer.rb
  decidim-meetings/app/views/decidim/meetings/_calendar_modal.html.erb
  decidim-meetings/app/views/decidim/meetings/directory/meetings/_meetings.html.erb
  decidim-meetings/app/views/decidim/meetings/directory/meetings/index.js.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meetings.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/index.js.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/services/calendar/component_calendar_spec.rb
  decidim-meetings/spec/services/calendar/organization_calendar_spec.rb
Labels: module: meetings, type: feature
