Repository decidim/decidim, pull requests merged in 2022-08, with the labels that each got.

#9582 Fix account update without password change
  decidim-core/app/commands/decidim/update_account.rb
  decidim-core/app/packs/src/decidim/account_form.js
  decidim-core/app/views/decidim/account/_password_fields.html.erb
  decidim-core/spec/system/account_spec.rb
Labels: module: core, type: fix

#9505 Fix order when filtering Meetings
  decidim-core/app/helpers/decidim/filters_helper.rb
  decidim-meetings/app/controllers/decidim/meetings/directory/meetings_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/meetings_controller.rb
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/helpers/decidim/meetings/directory/application_helper.rb
  decidim-meetings/app/views/decidim/meetings/directory/meetings/_filters.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_filters.html.erb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/spec/system/explore_meeting_directory_spec.rb
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
Labels: module: meetings, type: fix

#9650 Fix admin autocomplete when a locale is defined in the URL
  decidim-admin/app/packs/src/decidim/admin/admin_autocomplete.js
  decidim-admin/spec/system/autocomplete/multiselect_spec.rb
Labels: module: admin, type: fix

#9599 Fix issues with daily and weekly notifications
  decidim-core/app/models/decidim/notification.rb
  decidim-core/app/services/decidim/notifications_digest_sending_decider.rb
  decidim-core/spec/models/decidim/notification_spec.rb
  decidim-core/spec/services/decidim/notifications_digest_sending_decider_spec.rb
Labels: module: core, type: fix

#9659 Fix blocked user nickname and avatar in user presenter
  decidim-core/app/presenters/decidim/user_presenter.rb
  decidim-core/spec/presenters/decidim/user_presenter_spec.rb
Labels: module: core, type: fix

#9570 Fix data consent expiry
  .github/workflows/ci_core_system_ssl.yml
  decidim-core/app/cells/decidim/data_consent/category.erb
  decidim-core/app/cells/decidim/data_consent/dialog.erb
  decidim-core/app/cells/decidim/data_consent/modal.erb
  decidim-core/app/cells/decidim/data_consent_cell.rb
  decidim-core/app/packs/entrypoints/decidim_core.js
  decidim-core/app/packs/src/decidim/data_consent/consent_manager.js
  decidim-core/app/packs/src/decidim/data_consent/consent_manager.test.js
  decidim-core/app/packs/src/decidim/data_consent/index.js
  decidim-core/app/packs/stylesheets/decidim/modules/_data-consent.scss
  decidim-core/app/packs/stylesheets/decidim/modules/_modules.scss
  decidim-core/app/views/layouts/decidim/_application.html.erb
  decidim-core/app/views/layouts/decidim/_cookie_warning.html.erb
  decidim-core/app/views/layouts/decidim/_data_consent_warning.html.erb
  decidim-core/app/views/layouts/decidim/_main_footer.html.erb
  decidim-core/app/views/layouts/decidim/_redesigned_application.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/system/data_consent/organization_spec.rb
  decidim-core/spec/system/data_consent/scripts_spec.rb
  decidim-core/spec/system/data_consent/settings_spec.rb
  decidim-dev/lib/decidim/dev/assets/ssl-cert.pem
  decidim-dev/lib/decidim/dev/assets/ssl-key.pem
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/data_consent.rb
  decidim-dev/lib/tasks/generators.rake
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-meetings/app/views/decidim/meetings/layouts/live_event.html.erb
  decidim-meetings/spec/system/live_meeting_access_spec.rb
  decidim-meetings/spec/system/live_meeting_spec.rb
  decidim_app-design/app/views/public/partials/_cookie_bar.html.erb
  docs/modules/customize/pages/cookies.adoc
  docs/modules/customize/pages/data_consent.adoc
  docs/modules/customize/pages/styles.adoc
  docs/modules/develop/pages/guide_development_with_localhost_ssl.adoc
Labels: module: core, module: dev, module: generators, type: fix

#9446 Add Markdown linter CI workflow
  .codeclimate.yml
  .github/workflows/lint_code.yml
  .markdownlint.yml
  .markdownlintignore
  .mdl_style.rb
  .mdlrc
  Gemfile.lock
  decidim-api/docs/usage.md
  decidim-dev/decidim-dev.gemspec
  decidim-dev/lib/decidim/dev/assets/iso-8859-15.md
  decidim-dev/lib/decidim/dev/assets/participatory_text.md
  decidim-elections/README.md
  decidim-forms/README.md
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/app_templates/README.md.erb
  decidim-initiatives/README.md
  decidim-proposals/app/packs/documents/decidim/proposals/participatory_texts/participatory_text.md
  decidim-proposals/lib/decidim/proposals/markdown_to_proposals.rb
  decidim-proposals/spec/lib/decidim/proposals/markdown_to_proposals_spec.rb
  decidim-proposals/spec/lib/decidim/proposals/odt_to_markdown_spec.rb
  decidim-system/README.md
  decidim_app-design/Gemfile.lock
  decidim_app-design/package-lock.json
  decidim_app-design/package.json
  decidim_app-design/packages/dev/package.json
  decidim_app-design/packages/webpacker/package.json
  decidim_app-design/packages/webpacker/src/override-config.js
  docs/modules/develop/pages/guide_commands.adoc
  package-lock.json
  package.json
  packages/dev/package.json
  spec/webpacker_spec.rb
Labels: type: internal

#9665 Fix broken link in the data consent documentation
  docs/modules/customize/pages/data_consent.adoc
Labels: team: documentation

#9574 Rename "cookie consent" to "data consent" in the 0.27 CHANGELOG
  CHANGELOG.md
Labels: type: internal

#9436 Redesign: blogs
  decidim-blogs/app/controllers/decidim/blogs/application_controller.rb
  decidim-blogs/app/controllers/decidim/blogs/posts_controller.rb
  decidim-blogs/app/helpers/decidim/blogs/posts_helper.rb
  decidim-blogs/app/packs/entrypoints/decidim_blogs.js
  decidim-blogs/app/packs/stylesheets/blogs.scss
  decidim-blogs/app/views/decidim/blogs/posts/_actions.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/_datetime.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/_posts.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/_sidebar_blog.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/index.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/show.html.erb
  decidim-blogs/config/locales/en.yml
  decidim-blogs/spec/system/explore_posts_spec.rb
  decidim-budgets/spec/helpers/decidim/budgets/projects_helper_spec.rb
  decidim-core/app/cells/decidim/endorsement_buttons_cell.rb
  decidim-core/app/cells/decidim/endorsers_list/full.erb
  decidim-core/app/cells/decidim/endorsers_list/show.erb
  decidim-core/app/cells/decidim/endorsers_list_cell.rb
  decidim-core/app/cells/decidim/redesigned_author/avatar.erb
  decidim-core/app/cells/decidim/redesigned_author/avatar_image.erb
  decidim-core/app/cells/decidim/redesigned_author/comments.erb
  decidim-core/app/cells/decidim/redesigned_author/compact.erb
  decidim-core/app/cells/decidim/redesigned_author/date.erb
  decidim-core/app/cells/decidim/redesigned_author/default.erb
  decidim-core/app/cells/decidim/redesigned_author/endorsements.erb
  decidim-core/app/cells/decidim/redesigned_author/flag.erb
  decidim-core/app/cells/decidim/redesigned_author/name.erb
  decidim-core/app/cells/decidim/redesigned_author/profile.erb
  decidim-core/app/cells/decidim/redesigned_author/profile_inline.erb
  decidim-core/app/cells/decidim/redesigned_author/profile_inline_compact.erb
  decidim-core/app/cells/decidim/redesigned_author/profile_minicard.erb
  decidim-core/app/cells/decidim/redesigned_author/show.erb
  decidim-core/app/cells/decidim/redesigned_author/withdraw.erb
  decidim-core/app/cells/decidim/redesigned_author_cell.rb
  decidim-core/app/cells/decidim/redesigned_endorsement_buttons/disabled_endorsements.erb
  decidim-core/app/cells/decidim/redesigned_endorsement_buttons/endorsement_button.erb
  decidim-core/app/cells/decidim/redesigned_endorsement_buttons/select_identity_button.erb
  decidim-core/app/cells/decidim/redesigned_endorsement_buttons/show.erb
  decidim-core/app/cells/decidim/redesigned_endorsement_buttons/verification_modal.erb
  decidim-core/app/cells/decidim/redesigned_endorsement_buttons_cell.rb
  decidim-core/app/cells/decidim/redesigned_follow_button/show.erb
  decidim-core/app/cells/decidim/redesigned_follow_button_cell.rb
  decidim-core/app/helpers/decidim/application_helper.rb
  decidim-core/app/helpers/decidim/followable_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_layout.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/app/views/decidim/endorsements/update_buttons_and_counters.js.erb
  decidim-core/app/views/decidim/shared/_follow_button.html.erb
  decidim-core/app/views/layouts/decidim/_redesigned_head.html.erb
  decidim-core/app/views/layouts/decidim/shared/_layout_center.html.erb
  decidim-core/app/views/layouts/decidim/shared/_layout_one_col.html.erb
  decidim-core/app/views/layouts/decidim/shared/_layout_two_col.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test/shared_examples/system_endorse_resource_examples.rb
  decidim-core/spec/helpers/decidim/application_helper_spec.rb
  decidim-debates/app/cells/decidim/debates/debate_m_cell.rb
  decidim-debates/spec/requests/debate_search_spec.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/helpers/map_helper_spec.rb
Labels: contract: redesign

#9677 Update stylelint and add special rules block for redesign
  decidim-core/app/packs/stylesheets/decidim/_redesigned_buttons.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_typography.scss
  decidim_app-design/package-lock.json
  decidim_app-design/packages/stylelint-config/index.js
  decidim_app-design/packages/stylelint-config/package.json
  package-lock.json
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
Labels: dependencies, type: internal

#9455 Redesign: login & signup
  decidim-admin/spec/shared/manage_impersonations_examples.rb
  decidim-core/app/controllers/concerns/decidim/devise_controllers.rb
  decidim-core/app/helpers/decidim/passwords_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_forms.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_login.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/app/views/decidim/devise/confirmations/new.html.erb
  decidim-core/app/views/decidim/devise/passwords/edit.html.erb
  decidim-core/app/views/decidim/devise/passwords/new.html.erb
  decidim-core/app/views/decidim/devise/registrations/new.html.erb
  decidim-core/app/views/decidim/devise/sessions/new.html.erb
  decidim-core/app/views/decidim/devise/shared/_omniauth_buttons.html.erb
  decidim-core/app/views/decidim/devise/shared/_redesigned_links.html.erb
  decidim-core/app/views/decidim/devise/unlocks/new.html.erb
  decidim-core/lib/decidim/form_builder.rb
Labels: contract: redesign

#9598 Change the custom public port ENV variable name to HTTP_PORT
  decidim-core/lib/decidim/url_option_resolver.rb
  decidim-core/spec/lib/url_option_resolver.rb
  decidim-core/spec/uploaders/application_uploader_spec.rb
Labels: module: core, type: fix

#9683 Fix form error overlap with character counter in the admin panel
  decidim-admin/app/packs/stylesheets/decidim/admin/modules/_forms.scss
Labels: module: admin, type: fix

#9755 Redesign: Layout
  decidim-core/app/packs/stylesheets/decidim/_redesigned_layout.scss
  decidim-core/app/views/layouts/decidim/shared/_layout_center.html.erb
  decidim-core/app/views/layouts/decidim/shared/_layout_one_col.html.erb
Labels: contract: redesign

#9668 Add "no-reply" notification at the email footers
  decidim-core/app/views/layouts/decidim/mailer.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/mailers/block_user_mailer_spec.rb
Labels: module: core, type: change

#9457 Redesign: pages
  decidim-admin/spec/system/static_pages_spec.rb
  decidim-core/app/cells/decidim/announcement/show.erb
  decidim-core/app/cells/decidim/announcement_cell.rb
  decidim-core/app/cells/decidim/tos_page/form.erb
  decidim-core/app/cells/decidim/tos_page/refuse_btn_modal.erb
  decidim-core/app/packs/entrypoints/redesigned_decidim_core.js
  decidim-core/app/packs/src/decidim/dropdowns_handler.js
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/stylesheets/decidim/_decidim.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_accordion.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_buttons.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_callout.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_pages.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_tos.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_typography.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_vertical_tabs.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/app/views/decidim/pages/_standalone.html.erb
  decidim-core/app/views/decidim/pages/_tabbed.html.erb
  decidim-core/app/views/decidim/pages/index.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_main.html.erb
  decidim-core/app/views/layouts/decidim/shared/_layout_center.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test/shared_examples/announcements_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/edit_link_shared_examples.rb
  decidim-core/spec/cells/decidim/announcement_cell_spec.rb
  decidim-core/spec/system/static_pages_spec.rb
  decidim-core/spec/system/user_redirect_spec.rb
  decidim-core/spec/system/user_tos_acceptance_spec.rb
  decidim-elections/spec/system/votings_spec.rb
  decidim-pages/app/controllers/decidim/pages/application_controller.rb
  decidim-pages/app/views/decidim/pages/application/show.html.erb
  decidim-proposals/spec/shared/proposals_help_texts_examples.rb
  decidim-proposals/spec/system/amendable/amend_proposal_spec.rb
  decidim-proposals/spec/system/amendable/amendment_wizard_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
  packages/core/package.json
Labels: contract: redesign

#9447 Redesign: notifications
  decidim-core/app/cells/decidim/notification/show.erb
  decidim-core/app/cells/decidim/notification_cell.rb
  decidim-core/app/cells/decidim/notifications/show.erb
  decidim-core/app/cells/decidim/notifications/validations.erb
  decidim-core/app/cells/decidim/notifications_cell.rb
  decidim-core/app/helpers/decidim/paginate_helper.rb
  decidim-core/app/packs/entrypoints/decidim_core.js
  decidim-core/app/packs/entrypoints/redesigned_decidim_core.js
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/src/decidim/notifications.js
  decidim-core/app/packs/stylesheets/decidim/_redesigned_notifications.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/app/views/decidim/notifications/index.html.erb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/notifications_spec.rb
Labels: contract: redesign

#9504 Redesign: surveys & forms
  config/i18n-tasks.yml
  decidim-core/app/helpers/decidim/decidim_form_helper.rb
  decidim-core/app/helpers/decidim/layout_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_forms.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_login_box.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/app/views/decidim/devise/shared/_login_boxes.html.erb
  decidim-core/lib/decidim/assets/tailwind/tailwind.config.js.erb
  decidim-core/lib/decidim/core/test/shared_examples/announcements_examples.rb
  decidim-core/lib/decidim/redesign_layout.rb
  decidim-core/spec/lib/webpacker/configuration_spec.rb
  decidim-core/spec/lib/webpacker/runner_spec.rb
  decidim-elections/spec/system/vote_online_inside_a_voting_spec.rb
  decidim-forms/app/cells/decidim/forms/answer_readonly/show.erb
  decidim-forms/app/cells/decidim/forms/matrix_readonly/show.erb
  decidim-forms/app/cells/decidim/forms/question_readonly/show.erb
  decidim-forms/app/cells/decidim/forms/question_readonly/title_and_description.erb
  decidim-forms/app/cells/decidim/forms/question_readonly_cell.rb
  decidim-forms/app/cells/decidim/forms/step_navigation/show.erb
  decidim-forms/app/cells/decidim/forms/step_navigation_cell.rb
  decidim-forms/app/commands/decidim/forms/answer_questionnaire.rb
  decidim-forms/app/forms/decidim/forms/answer_form.rb
  decidim-forms/app/packs/entrypoints/decidim_forms.js
  decidim-forms/app/packs/src/decidim/forms/autosortable_checkboxes.component.js
  decidim-forms/app/packs/src/decidim/forms/display_conditions.component.js
  decidim-forms/app/packs/src/decidim/forms/forms.js
  decidim-forms/app/packs/src/decidim/forms/option_attached_inputs.component.js
  decidim-forms/app/packs/stylesheets/decidim/forms/forms.scss
  decidim-forms/app/views/decidim/forms/questionnaires/_answer.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/_questionnaire.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/_questionnaire_readonly.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_files.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_long_answer.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_matrix_multiple.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_matrix_single.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_multiple_option.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_short_answer.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_single_option.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_sorting.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/show.html.erb
  decidim-forms/config/locales/en.yml
  decidim-forms/lib/decidim/forms/test/shared_examples/has_questionnaire.rb
  decidim-forms/spec/cells/decidim/forms/question_readonly_cell_spec.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-surveys/app/controllers/decidim/surveys/application_controller.rb
  decidim-surveys/app/packs/stylesheets/decidim/surveys/_surveys.scss
  decidim-surveys/config/assets.rb
  decidim-surveys/spec/system/private_space_survey_spec.rb
  decidim-surveys/spec/system/survey_spec.rb
  decidim-surveys/spec/system/unregistered_user_survey_spec.rb
  packages/core/package.json
Labels: contract: redesign
