Repository decidim/decidim, pull requests merged in 2022-10, with the labels that each got.

#9463 Implement authorization data recovery for deleted users
  CHANGELOG.md
  decidim-blogs/lib/decidim/blogs/engine.rb
  decidim-blogs/spec/lib/decidim/blogs/engine_spec.rb
  decidim-budgets/lib/decidim/budgets/engine.rb
  decidim-budgets/spec/lib/decidim/budgets/engine_spec.rb
  decidim-comments/lib/decidim/comments/engine.rb
  decidim-comments/spec/lib/decidim/comments/engine_spec.rb
  decidim-consultations/lib/decidim/consultations/engine.rb
  decidim-consultations/spec/lib/decidim/consultations/engine_spec.rb
  decidim-core/app/controllers/concerns/decidim/html_safe_flash.rb
  decidim-core/app/helpers/decidim/account_helper.rb
  decidim-core/app/models/decidim/amendment.rb
  decidim-core/app/models/decidim/authorization.rb
  decidim-core/app/models/decidim/authorization_transfer.rb
  decidim-core/app/models/decidim/authorization_transfer_record.rb
  decidim-core/app/models/decidim/coauthorship.rb
  decidim-core/app/presenters/decidim/authorization_transfer_presenter.rb
  decidim-core/app/views/decidim/account/delete.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/db/migrate/20220629194812_create_decidim_authorization_transfers.rb
  decidim-core/lib/decidim/block_registry.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/core/test/shared_examples/authorization_shared_context.rb
  decidim-core/spec/controllers/concerns/html_safe_flash_spec.rb
  decidim-core/spec/lib/block_registry_spec.rb
  decidim-core/spec/lib/engine_spec.rb
  decidim-core/spec/models/decidim/authorization_transfer_record_spec.rb
  decidim-core/spec/models/decidim/authorization_transfer_spec.rb
  decidim-core/spec/presenters/decidim/authorization_transfer_presenter_spec.rb
  decidim-core/spec/system/account_spec.rb
  decidim-debates/lib/decidim/debates/engine.rb
  decidim-debates/spec/lib/decidim/debates/engine_spec.rb
  decidim-elections/lib/decidim/elections/engine.rb
  decidim-elections/spec/lib/decidim/elections/engine_spec.rb
  decidim-forms/lib/decidim/forms/engine.rb
  decidim-forms/spec/lib/decidim/forms/engine_spec.rb
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-initiatives/spec/lib/decidim/initiatives/engine_spec.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-meetings/spec/lib/decidim/meetings/engine_spec.rb
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/spec/lib/decidim/proposals/engine_spec.rb
  decidim-verifications/app/commands/decidim/verifications/authorize_user.rb
  decidim-verifications/app/controllers/decidim/verifications/authorizations_controller.rb
  decidim-verifications/app/services/decidim/authorization_handler.rb
  decidim-verifications/config/locales/en.yml
  decidim-verifications/spec/commands/decidim/verifications/authorize_user_spec.rb
  decidim-verifications/spec/commands/decidim/verifications/revoke_all_authorizations_spec.rb
  decidim-verifications/spec/commands/decidim/verifications/revoke_by_condition_authorizations_spec.rb
  decidim-verifications/spec/controllers/decidim/authorizations_controller_spec.rb
  decidim-verifications/spec/services/decidim/authorization_handler_spec.rb
  decidim-verifications/spec/system/authorizations_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: verifications, type: feature, module: debates, status: WIP, module: elections, module: blogs, module: forms, module: consultations, module: initiatives, contract: GDPR

#9867 Fix disappearing sub-lists in rich text editors
  decidim-core/app/packs/src/decidim/editor/clipboard_override.js
Labels: module: core, type: fix

#9663 Fix cryptic file validation errors
  decidim-assemblies/config/locales/en.yml
  decidim-core/app/forms/decidim/upload_validation_form.rb
  decidim-core/app/validators/file_content_type_validator.rb
  decidim-core/app/validators/passthru_validator.rb
  decidim-core/app/validators/uploader_content_type_validator.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/file_validator_humanizer.rb
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/validators/active_model/validations/file_content_type_validator_spec.rb
  decidim-core/spec/validators/passthru_validator_spec.rb
  decidim-core/spec/validators/uploader_content_type_validator_spec.rb
  decidim-elections/spec/system/admin/admin_manages_votings_spec.rb
  decidim-forms/config/locales/en.yml
  decidim-participatory_processes/config/locales/en.yml
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/edit_proposal_spec.rb
Labels: module: proposals, module: core, type: fix

#9678 Address Crowdin feedback
  decidim-budgets/app/controllers/decidim/budgets/admin/projects_controller.rb
  decidim-budgets/config/locales/en.yml
  decidim-core/app/forms/decidim/amendable/form.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/system/internal_server_error_display_spec.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/forms/decidim/elections/admin/setup_form_spec.rb
  decidim-elections/spec/system/admin/admin_manages_election_steps_spec.rb
  decidim-proposals/config/locales/en.yml
  decidim-templates/config/locales/en.yml
Labels: module: proposals, module: core, module: budgets, team: i18n, module: templates, type: fix

#9667 Update `@joeattardi/emoji-button` to `@picmo/popup-picker`
  config/i18n-tasks.yml
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/src/decidim/input_emoji.js
  decidim-core/app/views/layouts/decidim/_js_configuration.html.erb
  decidim-core/app/views/layouts/decidim/_redesigned_js_configuration.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-dev/lib/decidim/dev/test/w3c_rspec_validators_overrides.rb
  decidim_app-design/package-lock.json
  decidim_app-design/packages/core/package.json
  package-lock.json
  packages/core/package.json
Labels: module: core, type: feature, dependencies

#9877 Fix incorrect expecations after change of allowed file extensions
  decidim-core/spec/validators/uploader_content_type_validator_spec.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
Labels: type: internal

#9651 Define the component import routes, permissions and controller at votings
  decidim-elections/app/controllers/decidim/votings/admin/imports_controller.rb
  decidim-elections/app/permissions/decidim/votings/admin/permissions.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-proposals/spec/factories.rb
  decidim-proposals/spec/shared/admin_manages_proposal_answer_imports_examples.rb
  decidim-proposals/spec/system/admin/import_proposal_answers_spec.rb
Labels: module: elections, type: fix

#9613 Add malformed file errors when CSV reading fails
  config/i18n-tasks.yml
  decidim-admin/app/forms/decidim/admin/participatory_space_private_user_csv_import_form.rb
  decidim-admin/app/forms/decidim/admin/user_group_csv_verification_form.rb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/forms/participatory_space_private_user_csv_import_form_spec.rb
  decidim-admin/spec/forms/user_group_csv_verification_form_spec.rb
  decidim-dev/lib/decidim/dev/assets/import_participatory_space_private_users_iso8859-1.csv
  decidim-verifications/app/commands/decidim/verifications/csv_census/admin/create_census_data.rb
  decidim-verifications/app/controllers/decidim/verifications/csv_census/admin/census_controller.rb
  decidim-verifications/app/forms/decidim/verifications/csv_census/admin/census_data_form.rb
  decidim-verifications/app/views/decidim/verifications/csv_census/admin/census/index.html.erb
  decidim-verifications/config/locales/en.yml
  decidim-verifications/spec/commands/decidim/verifications/csv_census/admin/create_census_data_spec.rb
  decidim-verifications/spec/forms/decidim/verifications/csv_census/admin/census_data_form_spec.rb
Labels: module: admin, module: assemblies, module: participatory processes, type: fix

#9878 Remove CSS validation issues ignoring from the HTML validation
  decidim-dev/lib/decidim/dev/test/w3c_rspec_validators_overrides.rb
Labels: type: internal

#9885 Fix commenting field disabled when polling new comments
  decidim-comments/app/packs/src/decidim/comments/comments.component.js
  decidim-comments/app/packs/src/decidim/comments/comments.component.test.js
Labels: module: comments, type: fix

#9883 Limit invitation redirects only to paths within the application
  decidim-core/app/controllers/decidim/devise/invitations_controller.rb
  decidim-core/spec/controllers/decidim/devise/invitations_controller_spec.rb
Labels: team: security, module: core, type: fix

#9886 Make Metadecidim naming consistent
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  docs/modules/install/pages/checklist.adoc
Labels: type: internal

#9660 Fix duplicate user activity records when public spaces have private users
  decidim-core/app/queries/decidim/public_activities.rb
  decidim-core/spec/queries/decidim/public_activities_spec.rb
Labels: module: core, type: fix

#9647 Fix initiative sign if the authorization metadata is set to `nil`
  decidim-initiatives/app/forms/decidim/initiatives/vote_form.rb
  decidim-initiatives/spec/forms/vote_form_spec.rb
Labels: module: initiatives, type: fix

#9892 Add missing i18n key in Initiatives
  decidim-initiatives/config/locales/en.yml
Labels: module: initiatives, type: fix

#9871 Fix superposition in admin's error forms
  decidim-admin/app/packs/stylesheets/decidim/admin/modules/_forms.scss
  decidim-core/lib/decidim/form_builder.rb
Labels: module: admin, type: fix

#9887 Fix correct resource linking for amendments
  decidim-core/app/cells/decidim/amendable/announcement_cell.rb
  decidim-core/app/mailers/decidim/notification_mailer.rb
  decidim-core/app/mailers/decidim/notifications_digest_mailer.rb
  decidim-core/app/views/decidim/notification_mailer/event_received.html.erb
  decidim-core/app/views/decidim/notifications_digest_mailer/_email_content.html.erb
  decidim-core/spec/cells/decidim/amendable/announcement_cell_spec.rb
  decidim-core/spec/mailers/notification_digest_mailer_spec.rb
  decidim-core/spec/mailers/notification_mailer_spec.rb
Labels: module: core, type: fix

#9910 Exclude malformed file from codeclimate configuration
  .codeclimate.yml
Labels: type: internal

#9893 Rename IgnoredMethods to AllowedMethods in Rubocop configuration
  .rubocop_ruby.yml
Labels: type: internal

#9895 Remove duplication of LastActivity queries
  decidim-core/app/cells/decidim/content_blocks/last_activity_cell.rb
  decidim-core/app/controllers/decidim/last_activities_controller.rb
  decidim-core/app/queries/decidim/last_activity.rb
  decidim-core/spec/queries/decidim/last_activity_spec.rb
Labels: module: core, type: internal

#9896 Fix user sign up with invalid name
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/app/forms/decidim/registration_form.rb
  decidim-core/spec/forms/account_form_spec.rb
  decidim-core/spec/forms/registration_form_spec.rb
Labels: module: core, type: fix

#9904 Add missing active actions on admin navigation menu
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-assemblies/lib/decidim/assemblies/admin_engine.rb
  decidim-initiatives/lib/decidim/initiatives/admin_engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/admin_engine.rb
Labels: module: admin, module: verifications, module: assemblies, module: participatory processes, module: initiatives, type: fix

#9905 Make initiatives order translatable
  decidim-initiatives/config/locales/en.yml
Labels: module: initiatives, type: fix

#9906 Remove invitations badge
  decidim-core/app/controllers/decidim/devise/invitations_controller.rb
  decidim-core/app/packs/images/decidim/gamification/badges/decidim_gamification_badges_invitations.svg
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/engine.rb
Labels: module: core, type: fix

#9929 Fix issues with a11y specs
  decidim-core/app/packs/stylesheets/decidim/modules/_callout.scss
  decidim-dev/lib/decidim/dev/test/rspec_support/accessibility_examples.rb
  decidim-dev/spec/system/axe_matchers_spec.rb
Labels: module: core, module: dev, type: fix

#9909 Make ToS agreement translatable
  decidim-core/config/locales/en.yml
  decidim-core/spec/controllers/registrations_controller_spec.rb
Labels: module: core, type: fix

#9903 Make Scopes field in debates translatable
  decidim-debates/config/locales/en.yml
Labels: module: debates, type: fix

#9627 Standardize CSV import formats and fix private users CSV import with invalid file
  decidim-accountability/app/services/decidim/accountability/results_csv_importer.rb
  decidim-admin/app/commands/decidim/admin/process_participatory_space_private_user_import_csv.rb
  decidim-admin/app/commands/decidim/admin/process_user_group_verification_csv.rb
  decidim-admin/app/forms/decidim/admin/participatory_space_private_user_csv_import_form.rb
  decidim-admin/app/views/decidim/admin/participatory_space_private_users_csv_imports/new.html.erb
  decidim-admin/app/views/decidim/admin/user_groups_csv_verifications/new.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/lib/decidim/admin.rb
  decidim-admin/lib/decidim/admin/custom_import.rb
  decidim-admin/lib/decidim/admin/import/readers/csv.rb
  decidim-admin/spec/commands/decidim/admin/process_participatory_space_private_user_import_csv_spec.rb
  decidim-admin/spec/forms/participatory_space_private_user_csv_import_form_spec.rb
  decidim-admin/spec/system/admin_verifies_user_groups_via_csv_spec.rb
  decidim-assemblies/spec/shared/manage_assembly_private_users_examples.rb
  decidim-dev/lib/decidim/dev/assets/import_participatory_space_private_users.csv
  decidim-dev/lib/decidim/dev/assets/import_participatory_space_private_users_invalid_col_sep.csv
  decidim-dev/lib/decidim/dev/assets/import_participatory_space_private_users_nok.csv
  decidim-dev/lib/decidim/dev/assets/import_participatory_space_private_users_with_bom.csv
  decidim-dev/lib/decidim/dev/assets/verify_user_groups.csv
  decidim-elections/app/commands/decidim/votings/census/admin/create_dataset.rb
  decidim-participatory_processes/spec/shared/manage_participatory_process_private_users_examples.rb
  decidim-verifications/app/models/decidim/verifications/csv_census/data.rb
  decidim-verifications/app/views/decidim/verifications/csv_census/admin/census/index.html.erb
  decidim-verifications/config/locales/en.yml
Labels: module: admin, module: verifications, module: accountability, module: elections, module: dev, type: change

#9917 Make documentation site work with multiple versions
  docs/antora.yml
  docs/modules/develop/pages/releases.adoc
  lib/decidim/gem_manager.rb
Labels: team: documentation, type: internal

#9764 Fix invalid rendering of meeting and proposal body texts
  decidim-admin/app/packs/stylesheets/decidim/admin/extra/_quill.scss
  decidim-budgets/spec/helpers/decidim/budgets/projects_helper_spec.rb
  decidim-core/app/helpers/decidim/sanitize_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_editor.scss
  decidim-core/app/packs/stylesheets/decidim/extras/_quill.scss
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/spec/helpers/application_helper_spec.rb
  decidim-meetings/spec/presenters/decidim/meetings/meeting_presenter_spec.rb
  decidim-meetings/spec/system/user_edit_meeting_spec.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/spec/helpers/application_helper_spec.rb
  decidim-proposals/spec/helpers/map_helper_spec.rb
Labels: module: proposals, module: meetings, type: fix

#9664 Fix conference invitations
  decidim-conferences/app/commands/decidim/conferences/admin/invite_user_to_join_conference.rb
  decidim-conferences/app/commands/decidim/conferences/join_conference.rb
  decidim-conferences/app/controllers/decidim/conferences/conference_registrations_controller.rb
  decidim-conferences/app/permissions/decidim/conferences/permissions.rb
  decidim-conferences/app/views/decidim/conferences/admin/invite_join_conference_mailer/invite.html.erb
  decidim-conferences/app/views/devise/mailer/join_conference.html.erb
  decidim-conferences/app/views/devise/mailer/join_conference.text.erb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/spec/commands/admin/invite_user_to_join_conference_spec.rb
  decidim-conferences/spec/commands/join_conference_spec.rb
  decidim-conferences/spec/system/conference_registrations_spec.rb
Labels: module: conferences, type: fix

#9881 Install turbo-rails
  Gemfile.lock
  decidim-comments/app/packs/src/decidim/comments/comments.js
  decidim-core/app/packs/entrypoints/redesigned_decidim_core.js
  decidim-core/app/packs/entrypoints/redesigned_decidim_core.scss
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/src/decidim/redesigned_index.js
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
  decidim-generators/Gemfile.lock
  decidim-proposals/spec/system/new_proposals_spec.rb
  decidim_app-design/Gemfile.lock
  decidim_app-design/package-lock.json
  decidim_app-design/packages/core/package.json
  package-lock.json
  packages/core/package.json
Labels: contract: redesign

#9639 Fix proposal etiquette and length validator with base64 images
  decidim-core/app/validators/etiquette_validator.rb
  decidim-core/spec/validators/etiquette_validator_spec.rb
  decidim-proposals/app/validators/proposal_length_validator.rb
  decidim-proposals/spec/validators/proposal_length_validator_spec.rb
Labels: module: proposals, module: core, type: fix
