Repository decidim/decidim, pull requests merged in 2022-01, with the labels that each got.

#8676 Don't start poll meetings component when DOM elements are not present
  decidim-meetings/app/packs/src/decidim/meetings/meetings_polls.js
Labels: module: meetings, contract: online-meetings, type: fix

#8668 Improve machine translation documentation and comments
  decidim-core/lib/decidim/core.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  docs/modules/develop/pages/machine_translations.adoc
Labels: team: documentation, target: developer-experience, module: dev

#7452 Fix initiative attachments
  decidim-core/app/packs/entrypoints/decidim_core.js
  decidim-core/app/packs/src/decidim/form_attachments.js
  decidim-initiatives/app/commands/decidim/initiatives/update_initiative.rb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/fill_data.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_form.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/commands/decidim/initiatives/update_initiative_spec.rb
  decidim-proposals/app/commands/decidim/proposals/update_proposal.rb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_edit_form_fields.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_edit_form_fields.html.erb
Labels: module: proposals, module: initiatives, type: fix

#8677 DRY GitHub workflows with composite actions
  .github/actions/module-rspec/action.yml
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_admin_system_1.yml
  .github/workflows/ci_admin_system_2.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_lib.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections_system_admin_1.yml
  .github/workflows/ci_elections_system_admin_2.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_initiatives_system_admin.yml
  .github/workflows/ci_initiatives_system_public.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public_1.yml
  .github/workflows/ci_meetings_system_public_2.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public_1.yml
  .github/workflows/ci_proposals_system_public_2.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
Labels: target: developer-experience

#8509 Fix performance issues on assemblies page when having many private users
  decidim-assemblies/app/models/decidim/assembly.rb
Labels: team: performance, module: assemblies, type: fix

#8682 Backport "Fix surveys exports with free text in multiple option" to v0.25
  decidim-forms/app/presenters/decidim/forms/admin/questionnaire_answer_presenter.rb
  decidim-forms/lib/decidim/forms/test/factories.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaire_answers.rb
  decidim-forms/lib/decidim/forms/user_answers_serializer.rb
  decidim-forms/spec/presenters/decidim/admin/questionnaire_answer_presenter_spec.rb
  decidim-forms/spec/serializers/decidim/forms/user_answers_serializer_spec.rb
  decidim-meetings/spec/serializers/registration_serializer_spec.rb
Labels: backport, module: surveys, module: forms, type: fix

#8679 Add location data to proposals export and import
  decidim-proposals/lib/decidim/proposals/import/proposal_creator.rb
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/spec/lib/decidim/proposals/import/proposal_creator_spec.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_serializer_spec.rb
Labels: module: proposals, type: fix

#8602 Fix meetings form embed type visibility
  decidim-meetings/app/commands/decidim/meetings/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/update_meeting.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/meeting_form.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/packs/src/decidim/meetings/admin/meetings_form.js
  decidim-meetings/app/packs/src/decidim/meetings/meetings_form.js
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_form.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/commands/create_meeting_spec.rb
  decidim-meetings/spec/commands/update_meeting_spec.rb
Labels: in-review, module: meetings, contract: online-meetings

#8665 Do not send upcoming meeting events notification for past events
  decidim-meetings/app/commands/decidim/meetings/admin/publish_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/update_meeting.rb
  decidim-meetings/lib/decidim/meetings.rb
  decidim-meetings/lib/decidim/meetings/test/notifications_handling.rb
  decidim-meetings/spec/commands/admin/publish_meeting_spec.rb
  decidim-meetings/spec/commands/admin/update_meeting_spec.rb
  decidim-meetings/spec/commands/create_meeting_spec.rb
  decidim-meetings/spec/commands/update_meeting_spec.rb
  decidim-meetings/spec/spec_helper.rb
Labels: in-review, module: meetings, type: fix

#8646 Wrong notation in package.json
  decidim_app-design/package.json
  package.json
  packages/core/package.json
Labels: type: internal

#8500 Clean meetings form with registrations
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_registrations.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_registrations_form.rb
  decidim-meetings/app/packs/src/decidim/meetings/admin/meetings_form.js
  decidim-meetings/app/packs/src/decidim/meetings/admin/registrations_form.js
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/registrations/_form.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20211105115625_remove_not_null_on_customize_registration_email.rb
  decidim-meetings/spec/commands/admin/create_meeting_spec.rb
  decidim-meetings/spec/commands/admin/update_meeting_spec.rb
  decidim-meetings/spec/commands/admin/update_registrations_spec.rb
  decidim-meetings/spec/forms/admin/meeting_form_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_registration_forms_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
Labels: module: meetings, type: removal

#8696 Backport "Revert the i18n-tasks initialization syntax" to v0.26
  spec/i18n_spec.rb
Labels: backport, type: internal

#8695 Backport "Lock graphql version to 1.12 minor" to v0.26
  Gemfile.lock
  decidim-api/decidim-api.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: backport, type: internal

#8699 Add 'request info' bot configuration
  .github/config.yml
Labels: type: internal

#8667 Change default sort order on admin moderations
  decidim-admin/app/controllers/decidim/admin/moderations_controller.rb
  decidim-admin/lib/decidim/admin/test/manage_moderations_examples.rb
  decidim-admin/spec/system/admin_manages_global_moderations_spec.rb
  decidim-admin/spec/system/space_admin_manages_global_moderations_spec.rb
  decidim-admin/spec/system/space_moderator_manages_global_moderations_spec.rb
  decidim-assemblies/spec/system/admin/assembly_moderator_manages_assembly_moderations_spec.rb
  decidim-comments/spec/system/admin_manages_comments_spec.rb
  decidim-conferences/spec/system/admin/conference_moderator_manages_conference_moderations_spec.rb
  decidim-initiatives/spec/system/admin/admin_manages_comments_spec.rb
  decidim-participatory_processes/spec/system/admin/process_moderator_manages_process_moderations_spec.rb
  decidim-proposals/spec/system/admin/admin_manages_proposals_spec.rb
Labels: target: user-experience, module: admin, type: change

#8701 Remove 'required field' explanation from conversation textearea
  decidim-core/app/views/decidim/messaging/conversations/_start.html.erb
Labels: module: core, type: fix, type: removal

#8704 Enable the RSpec/RepeatedExampleGroupDescription rubocop cop
  .rubocop_ruby.yml
  decidim-admin/spec/helpers/aria_selected_link_to_helper_spec.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-assemblies/spec/system/private_assemblies_spec.rb
  decidim-blogs/spec/types/integration_schema_spec.rb
  decidim-budgets/spec/permissions/decidim/budgets/admin/permissions_spec.rb
  decidim-core/spec/presenters/decidim/log/value_types/area_presenter_spec.rb
  decidim-core/spec/presenters/decidim/log/value_types/scope_presenter_spec.rb
  decidim-core/spec/presenters/decidim/nil_presenter_spec.rb
  decidim-core/spec/system/messaging/conversations_spec.rb
  decidim-core/spec/validators/passthru_validator_spec.rb
  decidim-elections/spec/jobs/decidim/votings/census/admin/create_datum_job_spec.rb
  decidim-elections/spec/models/decidim/votings/ballot_style_spec.rb
  decidim-forms/spec/models/decidim/forms/display_condition_spec.rb
  decidim-initiatives/spec/system/admin/initiatives_type_scopes_controller_spec.rb
  decidim-meetings/spec/system/admin/filter_meetings_spec.rb
  decidim-meetings/spec/system/live_meeting_access_spec.rb
  decidim-participatory_processes/spec/system/private_participatory_processes_spec.rb
  decidim-proposals/spec/queries/decidim/proposals/similar_proposals_spec.rb
  decidim-proposals/spec/system/admin/admin_manages_participatory_texts_spec.rb
Labels: type: internal

#8697 Replace 'citizens' terminology with 'participants'
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/models/decidim/user_group.rb
  decidim-core/app/services/decidim/resource_search.rb
  decidim-core/lib/decidim/authorable.rb
  decidim-core/lib/decidim/coauthorable.rb
  decidim-core/lib/decidim/core/test/shared_examples/resource_search_examples.rb
  decidim-core/spec/system/accesslist_spec.rb
  decidim-debates/app/controllers/decidim/debates/debates_controller.rb
  decidim-debates/app/helpers/decidim/debates/application_helper.rb
  decidim-debates/config/locales/en.yml
  decidim-debates/lib/decidim/debates/test/factories.rb
  decidim-debates/spec/events/decidim/debates/create_debate_event_spec.rb
  decidim-debates/spec/forms/decidim/debates/close_debate_form_spec.rb
  decidim-debates/spec/models/decidim/debates/debate_spec.rb
  decidim-debates/spec/queries/decidim/debates/metrics/debate_followers_metric_measure_spec.rb
  decidim-debates/spec/queries/decidim/debates/metrics/debate_participants_metric_measure_spec.rb
  decidim-debates/spec/shared/manage_debates_examples.rb
  decidim-debates/spec/system/explore_debates_spec.rb
  decidim-debates/spec/types/integration_schema_spec.rb
  decidim-initiatives/README.md
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_controller.rb
  decidim-initiatives/decidim-initiatives.gemspec
  decidim-meetings/app/controllers/concerns/decidim/meetings/admin/filterable.rb
  decidim-meetings/app/controllers/concerns/decidim/meetings/filterable.rb
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/helpers/decidim/meetings/directory/application_helper.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/system/admin/filter_meetings_spec.rb
  decidim-meetings/spec/system/explore_meeting_directory_spec.rb
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/system/filter_proposals_spec.rb
  decidim-proposals/spec/types/integration_schema_spec.rb
  decidim-system/lib/decidim/system/test/factories.rb
  decidim-system/spec/system/organizations_spec.rb
Labels: module: proposals, module: meetings, module: debates, type: change

#8705 Enable the RSpec/RepeatedExampleGroupBody rubocop cop
  .rubocop_ruby.yml
  decidim-core/lib/decidim/core/test/shared_examples/resourceable.rb
  decidim-forms/spec/models/decidim/forms/display_condition_spec.rb
  decidim-verifications/spec/queries/decidim/verifications/authorizations_before_date_spec.rb
Labels: type: internal

#8684 Change to a inclusive language: replace he/she/his/her with they/their
  decidim-conferences/config/locales/en.yml
  decidim-core/app/commands/decidim/messaging/reply_to_conversation.rb
  decidim-core/app/commands/decidim/messaging/start_conversation.rb
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/app/forms/decidim/notifications_settings_form.rb
  decidim-core/app/forms/decidim/user_interest_scope_form.rb
  decidim-core/app/forms/decidim/user_interests_form.rb
  decidim-core/app/mailers/decidim/newsletters_opt_in_mailer.rb
  decidim-core/app/models/decidim/messaging/conversation.rb
  decidim-core/app/packs/src/decidim/identity_selector_dialog.js
  decidim-core/app/queries/decidim/metric_manage.rb
  decidim-core/lib/decidim/metric_manifest.rb
  decidim-core/lib/tasks/decidim_data_portability_tasks.rake
  decidim-core/lib/tasks/decidim_metrics_tasks.rake
  decidim-core/spec/mailers/reported_mailer_spec.rb
  decidim-core/spec/system/account_spec.rb
  decidim-core/spec/system/cookies_spec.rb
  decidim-core/spec/system/user_groups_verification_status_on_account_page_spec.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/system/vote_in_person_spec.rb
  decidim-initiatives/README.md
  decidim-initiatives/app/services/decidim/initiatives/status_change_notifier.rb
  decidim-proposals/spec/system/proposals_fields_spec.rb
  decidim-verifications/app/services/decidim/authorization_handler.rb
  decidim-verifications/config/locales/en.yml
  decidim-verifications/spec/system/action_authorization_spec.rb
  decidim-verifications/spec/system/authorizations_spec.rb
  decidim-verifications/spec/system/id_documents/id_document_offline_request_spec.rb
  decidim-verifications/spec/system/id_documents/id_document_online_review_spec.rb
  decidim-verifications/spec/system/id_documents/id_document_online_upload_spec.rb
  decidim_app-design/app/views/public/partials/_polling_officer_zone_identify.erb
  decidim_app-design/app/views/public/partials/_polling_officer_zone_identify_success.erb
  decidim_app-design/app/views/public/partials/_polling_officer_zone_questions.erb
Labels: module: proposals, module: core, module: system, module: verifications, module: elections, module: initiatives, type: change

#8711 Disable codeclimate's stylelint
  .codeclimate.yml
Labels: type: internal

#8631 Replace graphql-docs npm package with gem
  CHANGELOG.md
  Gemfile.lock
  decidim-api/app/controllers/decidim/api/documentation_controller.rb
  decidim-api/app/helpers/decidim/api/application_helper.rb
  decidim-api/app/packs/entrypoints/decidim_api_docs.js
  decidim-api/app/packs/entrypoints/decidim_api_docs.scss
  decidim-api/app/packs/stylesheets/decidim/api/docs.scss
  decidim-api/app/views/decidim/api/documentation/graphql_docs_template.html.erb
  decidim-api/app/views/decidim/api/documentation/show.html.erb
  decidim-api/app/views/layouts/decidim/api/documentation.html.erb
  decidim-api/config/routes.rb
  decidim-api/decidim-api.gemspec
  decidim-api/lib/decidim/api.rb
  decidim-api/lib/decidim/api/schema.rb
  decidim-api/lib/tasks/decidim_api_docs.rake
  decidim-api/spec/system/documentation_spec.rb
  decidim-api/spec/tasks/decidim_api_generate_docs_spec.rb
  decidim-core/lib/tasks/decidim_tasks.rake
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/install_generator.rb
  decidim_app-design/Gemfile.lock
  decidim_app-design/package-lock.json
  decidim_app-design/packages/core/package.json
  package-lock.json
  packages/core/package.json
Labels: target: developer-experience

#8719 Fix some non-localized user emails
  decidim-core/app/mailers/decidim/block_user_mailer.rb
  decidim-core/app/mailers/decidim/newsletters_opt_in_mailer.rb
  decidim-core/app/mailers/decidim/user_report_mailer.rb
Labels: module: core, type: fix

#8713 Fix for preview unpublished meetings by admin user
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
Labels: module: meetings, contract: online-meetings, type: fix

#8594 Implement service workers and custom offline fallback page
  decidim-core/app/controllers/decidim/manifests_controller.rb
  decidim-core/app/controllers/decidim/offline_controller.rb
  decidim-core/app/packs/entrypoints/decidim_core.js
  decidim-core/app/packs/src/decidim/security/selfxss_warning.js
  decidim-core/app/packs/src/decidim/sw/loader.js
  decidim-core/app/packs/src/decidim/sw/sw.js
  decidim-core/app/presenters/decidim/organization_presenter.rb
  decidim-core/app/views/decidim/manifests/show.json.erb
  decidim-core/app/views/decidim/offline/show.html.erb
  decidim-core/app/views/layouts/decidim/_application.html.erb
  decidim-core/app/views/layouts/decidim/_head.html.erb
  decidim-core/app/views/layouts/decidim/_offline_banner.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/lib/decidim/core/test/shared_examples/map_examples.rb
  decidim-core/lib/decidim/webpacker/webpack/custom.js
  decidim-core/spec/controllers/manifests_spec.rb
  decidim-core/spec/controllers/offline_controller_spec.rb
  decidim_app-design/package-lock.json
  package-lock.json
  packages/webpacker/index.js
  packages/webpacker/package.json
  packages/webpacker/src/override-config.js
Labels: module: core, type: feature, javascript, contract: PWA

#8724 Backport "Fix for preview unpublished meetings by admin user" to v0.26
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
Labels: module: meetings, backport, contract: online-meetings, type: fix

#8723 Backport "Fix for preview unpublished meetings by admin user" to v0.25
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
Labels: module: meetings, backport, contract: online-meetings, type: fix

#8734 Fix order by weight in processes groups' processes content block
  decidim-participatory_processes/app/queries/decidim/participatory_processes/group_participatory_processes.rb
Labels: module: participatory processes, type: fix

#8733 Change scope picker button to disabled when necessary
  decidim-core/app/views/decidim/scopes/picker.html.erb
  decidim-core/spec/system/scopes_spec.rb
Labels: module: core, module: admin, type: fix

#8731 Add emojis when user edits a comment
  decidim-comments/app/cells/decidim/comments/edit_comment_modal_form/show.erb
  decidim-core/app/packs/src/decidim/input_emoji.js
Labels: module: comments, contract: online-meetings, type: fix

#8617 Remove category description
  CHANGELOG.md
  decidim-admin/app/commands/decidim/admin/create_category.rb
  decidim-admin/app/commands/decidim/admin/update_category.rb
  decidim-admin/app/forms/decidim/admin/category_form.rb
  decidim-admin/app/views/decidim/admin/categories/_form.html.erb
  decidim-admin/app/views/decidim/admin/categories/show.html.erb
  decidim-admin/lib/decidim/admin/test/commands/create_category_examples.rb
  decidim-admin/lib/decidim/admin/test/commands/update_category_examples.rb
  decidim-admin/lib/decidim/admin/test/forms/category_form_examples.rb
  decidim-admin/lib/decidim/admin/test/manage_categories_examples.rb
  decidim-core/app/models/decidim/category.rb
  decidim-core/db/migrate/20220118121921_change_required_description_categories.rb
Labels: module: admin, module: assemblies, module: participatory processes, module: conferences, type: removal

#8739 Fix flaky test in UpdateAssemblyMember
  decidim-assemblies/spec/commands/update_assembly_member_spec.rb
Labels: flaky spec, module: assemblies, type: internal

#8737 Fix reporting a proposal when author is a meeting
  decidim-admin/app/helpers/decidim/admin/moderations/reports_helper.rb
  decidim-admin/spec/helpers/moderations/reports_helper_spec.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/spec/system/report_proposal_spec.rb
Labels: module: proposals, module: meetings, module: admin, type: fix

#8743 Backport "Adds emojis when user edits a comment" to v0.26
  decidim-comments/app/cells/decidim/comments/edit_comment_modal_form/show.erb
  decidim-core/app/packs/src/decidim/input_emoji.js
Labels: module: comments, backport, contract: online-meetings, type: fix

#8687 Don't display blocked users in mentions
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/models/decidim/user_base_entity.rb
  decidim-core/lib/decidim/api/functions/user_entity_finder.rb
  decidim-core/lib/decidim/api/functions/user_entity_list.rb
  decidim-core/spec/types/user_entity_input_filter_spec.rb
Labels: module: core, type: fix

#8524 Replace various autocomplete solutions
  decidim-admin/app/packs/entrypoints/decidim_admin.js
  decidim-admin/app/packs/src/decidim/admin/admin_autocomplete.js
  decidim-admin/app/packs/src/decidim/admin/application.js
  decidim-admin/app/packs/src/decidim/admin/autocomplete.component.js
  decidim-admin/app/packs/src/decidim/admin/autocomplete.component.test.js
  decidim-admin/app/packs/stylesheets/decidim/admin/_decidim.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/components/_autocomplete_select.component.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/modules/_autocomplete.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/modules/_modules.scss
  decidim-admin/spec/system/autocomplete/multiselect_spec.rb
  decidim-core/app/cells/decidim/user_conversations/add_conversation_users.erb
  decidim-core/app/helpers/decidim/datalist_select_helper.rb
  decidim-core/app/packs/src/decidim/autocomplete.js
  decidim-core/app/packs/src/decidim/datalist_select.js
  decidim-core/app/packs/src/decidim/geocoding.js
  decidim-core/app/packs/src/decidim/input_multiple_mentions.js
  decidim-core/app/packs/stylesheets/decidim/modules/_autocomplete.scss
  decidim-core/app/packs/stylesheets/decidim/modules/_input-multiple-mentions.scss
  decidim-core/app/packs/stylesheets/decidim/modules/_modules.scss
  decidim-core/app/views/decidim/messaging/conversations/_add_conversation_users.html.erb
  decidim-core/lib/decidim/core/test/shared_examples/map_examples.rb
  decidim-core/spec/system/map/provider/autocomplete/here_builder_spec.rb
  decidim-core/spec/system/map/provider/autocomplete/osm_builder_spec.rb
  decidim-core/spec/system/messaging/conversations_spec.rb
  decidim-core/spec/system/messaging/profile_conversations_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/autocomplete_select.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/geocoder.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/react_select.rb
  decidim-elections/app/commands/decidim/votings/admin/manage_polling_station.rb
  decidim-forms/app/controllers/decidim/forms/admin/concerns/has_questionnaire.rb
  decidim-forms/app/models/decidim/forms/questionnaire.rb
  decidim-templates/app/helpers/decidim/templates/admin/templates_helper.rb
  decidim-templates/app/packs/entrypoints/decidim_templates.js
  decidim-templates/app/packs/src/decidim/templates/admin/choose_template.js
  decidim-templates/app/views/decidim/templates/admin/questionnaire_templates/_choose.html.erb
  decidim-templates/lib/decidim/templates/test/shared_examples/uses_questionnaire_templates.rb
  decidim_app-design/package-lock.json
  decidim_app-design/packages/core/package.json
  package-lock.json
  packages/core/package.json
Labels: in-review, target: developer-experience, dependencies

#8621 Add reminders for pending orders in budgets
  CHANGELOG.md
  decidim-admin/app/controllers/decidim/admin/components/base_controller.rb
  decidim-admin/app/controllers/decidim/admin/reminders_controller.rb
  decidim-admin/app/helpers/decidim/admin/reminders_helper.rb
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/app/views/decidim/admin/reminders/new.html.erb
  decidim-admin/config/locales/en.yml
  decidim-assemblies/app/controllers/decidim/assemblies/admin/reminders_controller.rb
  decidim-assemblies/lib/decidim/assemblies/admin_engine.rb
  decidim-budgets/app/commands/decidim/budgets/admin/create_order_reminders.rb
  decidim-budgets/app/forms/decidim/budgets/admin/order_reminder_form.rb
  decidim-budgets/app/jobs/decidim/budgets/send_vote_reminder_job.rb
  decidim-budgets/app/mailers/decidim/budgets/vote_reminder_mailer.rb
  decidim-budgets/app/permissions/decidim/budgets/admin/permissions.rb
  decidim-budgets/app/services/decidim/budgets/order_reminder_generator.rb
  decidim-budgets/app/views/decidim/budgets/admin/budgets/index.html.erb
  decidim-budgets/app/views/decidim/budgets/vote_reminder_mailer/vote_reminder.html.erb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/lib/decidim/budgets/engine.rb
  decidim-budgets/spec/commands/decidim/budgets/admin/create_order_reminders_spec.rb
  decidim-budgets/spec/forms/decidim/budgets/admin/order_reminder_form_spec.rb
  decidim-budgets/spec/jobs/decidim/budgets/send_vote_reminder_job_spec.rb
  decidim-budgets/spec/mailers/decidim/budgets/vote_reminder_mailer_spec.rb
  decidim-budgets/spec/services/decidim/budgets/order_reminder_generator_spec.rb
  decidim-budgets/spec/system/admin_reminds_users_with_pending_orders_spec.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/reminders_controller.rb
  decidim-conferences/lib/decidim/conferences/admin_engine.rb
  decidim-core/app/jobs/decidim/reminder_generator_job.rb
  decidim-core/app/models/decidim/reminder.rb
  decidim-core/app/models/decidim/reminder_delivery.rb
  decidim-core/app/models/decidim/reminder_record.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/db/migrate/20211208155453_create_decidim_reminders.rb
  decidim-core/db/migrate/20211209121025_create_decidim_reminder_records.rb
  decidim-core/db/migrate/20211209121040_create_decidim_reminder_deliveries.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/importers/import_manifest.rb
  decidim-core/lib/decidim/manifest_messages.rb
  decidim-core/lib/decidim/reminder_manifest.rb
  decidim-core/lib/decidim/reminder_registry.rb
  decidim-core/lib/tasks/decidim_reminders_tasks.rake
  decidim-core/spec/jobs/decidim/reminder_generator_job_spec.rb
  decidim-core/spec/lib/importers/import_manifest_spec.rb
  decidim-core/spec/lib/reminder_registry_spec.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/reminders_controller.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/admin_engine.rb
  docs/modules/develop/pages/reminders.adoc
  docs/modules/install/pages/index.adoc
Labels: module: core, module: budgets, type: feature

#8645 Add favicon pwa uploader and icons in manifest
  CHANGELOG.md
  decidim-admin/app/views/decidim/admin/organization_appearance/form/_images.html.erb
  decidim-admin/spec/system/admin_manages_organization_appearance_spec.rb
  decidim-core/app/helpers/decidim/layout_helper.rb
  decidim-core/app/uploaders/decidim/organization_favicon_uploader.rb
  decidim-core/app/views/decidim/manifests/show.json.erb
  decidim-core/app/views/layouts/decidim/_head.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/organization_settings.rb
  decidim-core/spec/controllers/manifests_spec.rb
  decidim-core/spec/lib/organization_settings_spec.rb
  decidim-core/spec/presenters/decidim/organization_presenter_spec.rb
Labels: in-review, module: core, type: feature, contract: PWA

#8742 Properly mark sender and recipient in Conversation
  decidim-core/app/views/decidim/messaging/conversations/_conversation.html.erb
  decidim-core/config/locales/en.yml
Labels: module: core, type: fix

#8746 Backport "Properly mark sender and recipient in Conversation" to v0.26
  decidim-core/app/views/decidim/messaging/conversations/_conversation.html.erb
  decidim-core/config/locales/en.yml
Labels: module: core, backport, type: fix

#8663 Allow users to be searched by nickname
  CHANGELOG.md
  decidim-core/app/models/decidim/user.rb
  decidim-core/spec/services/decidim/searchable_user_resource_spec.rb
Labels: in-review, module: core, type: feature

#8715 Fix webpacker generator for modules
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/spec/generators_spec.rb
Labels: module: core, target: developer-experience

#8750 Backport "Fix webpacker generator for modules" to v0.26
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/spec/generators_spec.rb
Labels: module: core, target: developer-experience, backport

#8751 Disable "codecov/patch" status check
  codecov.yml
Labels: type: internal

#8670 Update npm dependencies
  babel.config.json
  decidim-api/app/views/decidim/api/documentation/show.html.erb
  decidim_app-design/package-lock.json
  decidim_app-design/packages/core/package.json
  decidim_app-design/packages/webpacker/index.js
  decidim_app-design/packages/webpacker/package.json
  decidim_app-design/packages/webpacker/src/override-config.js
  package-lock.json
  packages/core/package.json
  packages/webpacker/package.json
Labels: team: security, type: internal

#8630 Lighthouse metrics report in CI
  .github/workflows/README.md
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/lighthouse_budget.json
  .lighthouserc.json
  decidim-dev/lib/tasks/lighthouse_report.rake
Labels: team: performance, contract: PWA, type: internal

#8754 Backport "Fix participatory groups leaks on other organizations/tenants" to v0.25
  decidim-dev/lib/decidim/dev/test/promoted_participatory_processes_shared_examples.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_process_groups_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_processes_controller.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/organization_promoted_participatory_process_groups.rb
  decidim-participatory_processes/spec/controllers/participatory_process_groups_controller_spec.rb
  decidim-participatory_processes/spec/controllers/participatory_processes_controller_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: backport, module: participatory processes, type: fix

#8649 Add items to set a splash screen
  decidim-core/app/uploaders/decidim/organization_favicon_uploader.rb
  decidim-core/app/views/decidim/manifests/show.json.erb
  decidim-core/spec/controllers/manifests_spec.rb
Labels: module: core, type: feature, contract: PWA

#8678 Add parallel_tests for test suite in CI
  .github/actions/module-rspec/action.yml
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_admin_system.yml
  .github/workflows/ci_admin_system_1.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_lib.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_admin_2.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_initiatives_system_admin.yml
  .github/workflows/ci_initiatives_system_public.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_system_public_1.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public.yml
  .github/workflows/ci_proposals_system_public_1.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  Gemfile
  Gemfile.lock
  decidim-core/app/cells/decidim/amendable/announcement_cell.rb
  decidim-dev/decidim-dev.gemspec
  decidim-dev/lib/decidim/dev/common_rake.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/app_templates/database.yml.erb
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience, type: internal

#8718 Resolve Open dependency warning on foundation_rails_helper
  Gemfile
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: module: core, dependencies, type: internal

#8673 Remove "leaflet-svgicon" npm dependency
  decidim-core/app/packs/src/decidim/map/icon.js
  decidim-core/app/packs/src/decidim/map/svg-icon.js
  decidim_app-design/package-lock.json
  decidim_app-design/packages/core/package.json
  package-lock.json
  packages/core/package.json
Labels: module: core, dependencies, type: internal
