Repository decidim/decidim, pull requests merged in 2023-08, with the labels that each got.

#11418 Strip logging of sensitive data
  decidim-core/lib/decidim/core/engine.rb
Labels: module: core

#11317 Redesign: refactor the scope of the main Javascript initializer
  decidim-core/app/packs/src/decidim/form_datepicker.js
  decidim-core/app/packs/src/decidim/redesigned_index.js
Labels: contract: redesign

#11420 Redesign: deprecate foundation-datepicker from public site
  decidim-admin/spec/shared/manage_impersonations_examples.rb
  decidim-admin/spec/system/admin_checks_logs_spec.rb
  decidim-assemblies/spec/shared/manage_assembly_members_examples.rb
  decidim-blogs/spec/shared/manage_posts_examples.rb
  decidim-core/app/packs/src/decidim/redesigned_index.js
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/lib/authorization_form_builder_spec.rb
  decidim-core/spec/lib/form_builder_spec.rb
  decidim-debates/spec/shared/manage_debates_examples.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/datetime_helpers.rb
  decidim-elections/spec/system/admin/admin_manages_elections_spec.rb
  decidim-elections/spec/system/admin/admin_manages_votings_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_copy_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
  decidim-meetings/spec/system/user_creates_meeting_spec.rb
  decidim-participatory_processes/spec/shared/manage_process_steps_examples.rb
  decidim-participatory_processes/spec/shared/manage_processes_examples.rb
  decidim-verifications/app/cells/decidim/verifications/revocations/show.erb
  decidim-verifications/spec/system/authorizations_spec.rb
  decidim-verifications/spec/system/revocation_auths_spec.rb
Labels: contract: redesign

#11439 Redesign: don't submit forms on modal's cancel
  decidim-core/app/cells/decidim/report_button/flag_modal.erb
  decidim-core/app/views/decidim/shared/_login_modal.html.erb
  decidim-debates/app/views/decidim/debates/debates/_close_debate_modal.html.erb
Labels: contract: redesign

#11447 Update documentation for here map configuration
  docs/modules/services/pages/maps.adoc
Labels: team: documentation

#11400 Two-columns layout fix
  decidim-core/app/packs/stylesheets/decidim/_redesigned_layout.scss
Labels: module: admin, type: fix, contract: redesign

#11435 Fix label position on report button
  decidim-core/app/cells/decidim/report_button/flag_modal.erb
Labels: contract: redesign

#11453 Upgrade PostgreSQL version in CI workflows
  .github/workflows/build_app.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/test_app.yml
  decidim-elections/docs/docker/bulletin_board/docker-compose.yml
  decidim-elections/docs/docker/bulletin_board_test/docker-compose.yml
  decidim-generators/lib/decidim/generators/component_templates/github/ci.yml.erb
Labels: dependencies, type: internal, configuration

#11329 Fix initiative page static ransack filter links
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/_finish_help.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_tags_type.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
Labels: module: initiatives, type: fix, no-backport

#11458 Revert "Lock ChromeDriver to the latest working version (#11391)"
  .github/workflows/test_app.yml
Labels: target: developer-experience, type: internal

#11442 Fix autocomplete result list duplicates
  decidim-core/app/packs/src/decidim/autocomplete.js
  decidim-core/spec/system/messaging/conversations_spec.rb
Labels: module: core, type: fix

#11451 Redesign: organization colors
  decidim-admin/app/commands/decidim/admin/update_organization_appearance.rb
  decidim-admin/app/forms/decidim/admin/organization_appearance_form.rb
  decidim-admin/app/views/decidim/admin/organization_appearance/form/_colors.html.erb
  decidim-admin/spec/system/admin_manages_organization_appearance_spec.rb
  decidim-core/app/helpers/decidim/layout_helper.rb
  decidim-core/app/packs/src/decidim/map/controller.js
  decidim-core/app/packs/src/decidim/map/legacy.js
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/app/views/decidim/manifests/show.json.erb
  decidim-core/app/views/layouts/decidim/_head.html.erb
  decidim-core/app/views/layouts/decidim/_organization_colors.html.erb
  decidim-core/db/seeds.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/map/dynamic_map.rb
  decidim-core/spec/controllers/manifests_controller_spec.rb
  decidim-core/spec/lib/map/dynamic_map_spec.rb
  decidim-core/spec/lib/map/provider/dynamic_map/here_spec.rb
  decidim-core/spec/lib/map/provider/dynamic_map/osm_spec.rb
  decidim-core/spec/services/decidim/notifications_subscriptions_persistor_spec.rb
Labels: contract: redesign

#11239 Backport 'Nullable component setting generates error :comments_max_length' to v0.27
  decidim-accountability/lib/decidim/accountability/component.rb
  decidim-accountability/spec/lib/decidim/accountability/component_spec.rb
  decidim-admin/app/forms/decidim/admin/organization_form.rb
  decidim-admin/spec/forms/organization_form_spec.rb
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-blogs/lib/decidim/blogs/component.rb
  decidim-blogs/spec/lib/decidim/blogs/component_spec.rb
  decidim-budgets/lib/decidim/budgets/component.rb
  decidim-budgets/spec/lib/decidim/budgets/admin/component_spec.rb
  decidim-comments/app/cells/decidim/comments/comment_form_cell.rb
  decidim-comments/spec/cells/decidim/comments/comment_form_spec.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-debates/lib/decidim/debates/component.rb
  decidim-debates/lib/decidim/debates/test/factories.rb
  decidim-debates/spec/lib/decidim/debates/component_spec.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/spec/lib/decidim/meetings/component_management_spec.rb
  decidim-sortitions/lib/decidim/sortitions/component.rb
  decidim-sortitions/spec/lib/decidim/sortitions/component_spec.rb
Labels: module: meetings, module: budgets, backport, module: accountability, module: debates, module: blogs, module: sortitions, type: fix

#11416 Integrate Bullet in decidim-dev
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_core.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_meetings.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/test_app.yml
  Gemfile.lock
  decidim-dev/decidim-dev.gemspec
  decidim-dev/lib/decidim/dev/test/rspec_support/bullet.rb
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience

#11465 Raise exception in `UserTimelineController` if no user with the nickname provided
  decidim-core/app/controllers/decidim/user_timeline_controller.rb
  decidim-core/spec/controllers/decidim/user_timeline_controller_spec.rb
Labels: module: core, type: fix

#11459 Redesign: external warning
  decidim-core/app/controllers/decidim/links_controller.rb
  decidim-core/app/helpers/decidim/external_domain_helper.rb
  decidim-core/app/views/decidim/links/_invalid_url_modal.html.erb
  decidim-core/app/views/decidim/links/_modal.html.erb
  decidim-core/app/views/decidim/links/_warning.html.erb
  decidim-core/app/views/decidim/links/invalid_url.js.erb
  decidim-core/app/views/decidim/links/new.html.erb
  decidim-core/spec/helpers/decidim/external_domain_helper_spec.rb
  decidim-core/spec/system/external_domain_warning_spec.rb
Labels: contract: redesign

#11452 Redesign: remove the item itself from nav menu
  decidim-assemblies/app/helpers/decidim/assemblies/assemblies_helper.rb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/system/assembly_members_spec.rb
  decidim-conferences/app/helpers/decidim/conferences/conference_helper.rb
  decidim-conferences/config/locales/en.yml
  decidim-elections/app/helpers/decidim/votings/votings_helper.rb
  decidim-elections/config/locales/en.yml
  decidim-initiatives/app/helpers/decidim/initiatives/initiatives_helper.rb
  decidim-initiatives/config/locales/en.yml
  decidim-participatory_processes/app/helpers/decidim/participatory_processes/participatory_process_helper.rb
  decidim-participatory_processes/config/locales/en.yml
Labels: contract: redesign

#11468 Refactor Decidim jobs to inherit from Decidim::ApplicationJob
  decidim-admin/app/jobs/decidim/admin/application_job.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/bullet.rb
  decidim-system/app/jobs/decidim/system/application_job.rb
  decidim-verifications/app/jobs/decidim/verifications/csv_census/application_job.rb
Labels: target: developer-experience

#11479 Redesign: dropdown on tablet devices
  decidim-core/app/packs/stylesheets/decidim/_redesigned_header.scss
Labels: contract: redesign

#11474 Fix ambiguous id column on projects query
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-budgets/spec/models/decidim/budgets/project_spec.rb
Labels: module: budgets, type: fix

#11470 Backport 'Raise exception in UserTimelineController if no user with the nickname provided' to v0.26
  decidim-core/app/controllers/decidim/user_timeline_controller.rb
  decidim-core/spec/controllers/decidim/user_timeline_controller_spec.rb
Labels: module: core, backport, type: fix

#11463 Redesign: resource metadata
  decidim-accountability/app/cells/decidim/accountability/result_metadata/show_footer.erb
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_drawer.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_metadata.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/show.html.erb
Labels: contract: redesign

#11480 Redesign: display alert when no projects
  decidim-accountability/app/cells/decidim/accountability/results/show.erb
  decidim-accountability/config/locales/en.yml
Labels: contract: redesign

#11478 Redesign: system
  .github/workflows/ci_system.yml
  decidim-core/app/cells/decidim/upload_modal_cell.rb
  decidim-core/app/packs/src/decidim/direct_uploads/redesigned_upload_modal.js
  decidim-core/spec/cells/decidim/upload_modal_cell_spec.rb
  decidim-system/app/packs/entrypoints/decidim_system.js
  decidim-system/app/packs/entrypoints/decidim_system.scss
  decidim-system/app/packs/src/decidim/system/application.js
  decidim-system/app/packs/stylesheets/decidim/system/_actions.scss
  decidim-system/app/packs/stylesheets/decidim/system/_foundation_and_overrides.scss
  decidim-system/app/packs/stylesheets/decidim/system/_layout.scss
  decidim-system/app/packs/stylesheets/decidim/system/_login.scss
  decidim-system/app/packs/stylesheets/decidim/system/_settings.scss
  decidim-system/app/packs/stylesheets/decidim/system/_sidebar.scss
  decidim-system/app/packs/stylesheets/decidim/system/_tables.scss
  decidim-system/app/packs/stylesheets/decidim/system/application.scss
  decidim-system/app/packs/stylesheets/decidim/system/redesigned_application.scss
  decidim-system/app/views/decidim/system/admins/_form.html.erb
  decidim-system/app/views/decidim/system/admins/edit.html.erb
  decidim-system/app/views/decidim/system/admins/index.html.erb
  decidim-system/app/views/decidim/system/admins/new.html.erb
  decidim-system/app/views/decidim/system/admins/show.html.erb
  decidim-system/app/views/decidim/system/dashboard/show.html.erb
  decidim-system/app/views/decidim/system/devise/passwords/edit.html.erb
  decidim-system/app/views/decidim/system/devise/passwords/new.html.erb
  decidim-system/app/views/decidim/system/devise/sessions/new.html.erb
  decidim-system/app/views/decidim/system/devise/shared/_links.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/_form.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/edit.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/index.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/new.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/show.html.erb
  decidim-system/app/views/decidim/system/organizations/_advanced_settings.html.erb
  decidim-system/app/views/decidim/system/organizations/_csp_settings.html.erb
  decidim-system/app/views/decidim/system/organizations/_file_upload_settings.erb
  decidim-system/app/views/decidim/system/organizations/_omniauth_provider.html.erb
  decidim-system/app/views/decidim/system/organizations/_omniauth_settings.html.erb
  decidim-system/app/views/decidim/system/organizations/_smtp_settings.html.erb
  decidim-system/app/views/decidim/system/organizations/edit.html.erb
  decidim-system/app/views/decidim/system/organizations/index.html.erb
  decidim-system/app/views/decidim/system/organizations/new.html.erb
  decidim-system/app/views/decidim/system/organizations/show.html.erb
  decidim-system/app/views/decidim/system/shared/_notices.html.erb
  decidim-system/app/views/decidim/system/shared/_organizations_list.html.erb
  decidim-system/app/views/layouts/decidim/system/_header.html.erb
  decidim-system/app/views/layouts/decidim/system/_login_items.html.erb
  decidim-system/app/views/layouts/decidim/system/_sidebar.html.erb
  decidim-system/app/views/layouts/decidim/system/application.html.erb
  decidim-system/app/views/layouts/decidim/system/login.html.erb
  decidim-system/spec/system/manage_admins_spec.rb
  decidim-system/spec/system/manage_oauth_applications_spec.rb
Labels: contract: redesign

#11482 Backport 'Fix ambiguous id column on projects query' to v0.27
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-budgets/spec/models/decidim/budgets/project_spec.rb
Labels: module: budgets, backport, type: fix

#11476 Fix persistance of the area in initiative creation
  decidim-initiatives/app/commands/decidim/initiatives/create_initiative.rb
  decidim-initiatives/spec/commands/decidim/initiatives/create_initiative_spec.rb
Labels: module: initiatives, type: fix, no-backport

#11492 Lock TipTap editor to ~2.0.3
  decidim_app-design/package-lock.json
  decidim_app-design/packages/core/package-lock.json
  decidim_app-design/packages/core/package.json
  decidim_app-design/packages/dev/package-lock.json
  package-lock.json
  packages/core/package.json
Labels: module: core, dependencies, javascript, type: fix, no-backport

#11472 Encode non-ASCII characters on external links
  decidim-core/app/controllers/decidim/links_controller.rb
  decidim-core/spec/system/external_domain_warning_spec.rb
Labels: module: core, type: fix

#11490 Fix weird behavior with votes in comments
  decidim-comments/app/cells/decidim/comments/comment/votes.erb
  decidim-comments/app/views/decidim/comments/votes/create.js.erb
  decidim-comments/spec/cells/decidim/comments/comment_cell_spec.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: module: comments, type: fix, no-backport

#11494 Update remixicon to 3.5.0
  decidim-core/app/packs/images/decidim/remixicon.symbol.svg
Labels: module: core, type: change, no-backport

#11487 Redesign: flash close button enlarged
  decidim-core/app/helpers/concerns/decidim/flash_helper_extensions.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_flash.scss
Labels: contract: redesign

#11488 Redesign: remove deprecated views & translations
  decidim-core/app/views/decidim/searches/_filters_small_view.html.erb
  decidim-core/config/locales/en.yml
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_filters_small_view.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_filters_small_view.html.erb
  decidim-sortitions/config/locales/en.yml
Labels: contract: redesign

#11499 Backport 'Encode non-ASCII characters on external links' to v0.27
  decidim-core/app/controllers/decidim/links_controller.rb
  decidim-core/spec/system/external_domain_warning_spec.rb
Labels: module: core, backport, type: fix

#11500 Backport 'Encode non-ASCII characters on external links' to v0.26
  decidim-core/app/controllers/decidim/links_controller.rb
  decidim-core/spec/system/external_domain_warning_spec.rb
Labels: module: core, backport, type: fix

#11502 Redesign: default gray
  decidim-core/lib/decidim/assets/tailwind/tailwind.config.js.erb
Labels: contract: redesign

#11506 Redesign: toggle contrast & focus form validation
  decidim-core/app/packs/stylesheets/decidim/_redesigned_forms.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_toggle_switch.scss
Labels: contract: redesign

#11501 Redesign: tab navigation on mobile
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
  decidim-core/app/views/layouts/decidim/header/_main.html.erb
Labels: team: accessibility, contract: redesign

#11493 Redesign: finish create-initiative step
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/_finish_help.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/finish.html.erb
  decidim-initiatives/config/locales/en.yml
Labels: status: needs feedback, contract: redesign

#11497 Fix the length of edit button in proposals
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_aside.html.erb
Labels: module: proposals, type: fix, contract: redesign

#11496 Fix wrong 'no activity' text on last activities page
  decidim-core/app/views/decidim/last_activities/_activities.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/system/last_activity_spec.rb
Labels: module: core, type: fix, contract: redesign

#11486 Redesign: meetings code icon
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_aside.html.erb
Labels: contract: redesign

#11508 Redesign: highlight links on hover
  decidim-core/app/cells/decidim/author/name.erb
  decidim-core/app/cells/decidim/footer_pages/topics.erb
  decidim-core/app/helpers/decidim/menu_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_activity.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_omnipresent_banner.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_tags.scss
  decidim-core/app/views/layouts/decidim/_application.html.erb
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
  decidim-core/app/views/layouts/decidim/footer/_main_legal.html.erb
  decidim-core/app/views/layouts/decidim/footer/_main_links.html.erb
  decidim-core/app/views/layouts/decidim/footer/_main_social_media_links.html.erb
  decidim-core/app/views/layouts/decidim/footer/_mini.html.erb
Labels: contract: redesign

#11509 Redesign: button focus
  decidim-core/app/packs/stylesheets/decidim/_redesigned_buttons.scss
Labels: contract: redesign

#11513 Redesign: semantic datetimes
  config/i18n-tasks.yml
  decidim-meetings/app/cells/decidim/meetings/dates_and_map/show.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_l/image.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_month/show.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_month_cell.rb
Labels: contract: redesign

#11515 Redesign: skip map
  decidim-core/app/helpers/decidim/map_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_map.scss
Labels: contract: redesign

#11512 Render partner without any link if it's not configured
  decidim-conferences/app/cells/decidim/conferences/partner/image.erb
  decidim-conferences/app/cells/decidim/conferences/partner/show.erb
  decidim-conferences/app/cells/decidim/conferences/partner/text.erb
  decidim-conferences/spec/cells/decidim/conferences/partner_cell_spec.rb
Labels: module: conferences, type: fix, contract: redesign, no-backport

#11511 Show different text for the Register CTA when the user is already registered
  decidim-conferences/app/views/decidim/conferences/conferences/_conference_hero.html.erb
  decidim-conferences/app/views/decidim/conferences/conferences/show.html.erb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/spec/system/conference_registrations_spec.rb
Labels: module: conferences, type: fix, contract: redesign, no-backport

#11514 Display special characters in breadcrumb menu
  decidim-core/app/views/layouts/decidim/header/_menu_breadcrumb_items.html.erb
  decidim-core/spec/system/menu_spec.rb
Labels: module: core, type: fix, contract: redesign, no-backport

#11525 Redesign: provide a button to toggle the view
  decidim-core/app/cells/decidim/diff/diff_mode_dropdown.erb
  decidim-core/app/cells/decidim/diff/diff_mode_html.erb
  decidim-core/app/cells/decidim/diff/show.erb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_versions.scss
  decidim-core/config/locales/en.yml
Labels: contract: redesign

#11528 Deletion of ZIP file in tmp folder OpenData export job
  decidim-core/app/jobs/decidim/open_data_job.rb
  decidim-core/spec/jobs/decidim/open_data_job_spec.rb
Labels: module: core, type: fix

#11527 Deletion of leftovers ZIP files in tmp directory
  decidim-core/app/jobs/decidim/download_your_data_export_job.rb
  decidim-core/spec/jobs/decidim/download_your_data_export_job_spec.rb
Labels: module: core, type: fix

#11529 Redesign: replace details-summary block
  decidim-core/app/packs/stylesheets/decidim/_redesigned_footer.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/app/views/layouts/decidim/_language_chooser.html.erb
  decidim-core/app/views/layouts/decidim/footer/_main.html.erb
  decidim-core/app/views/layouts/decidim/footer/_main_language_chooser.html.erb
  decidim-core/app/views/layouts/decidim/footer/_mini.html.erb
  decidim-dev/lib/decidim/dev/test/rspec_support/helpers.rb
Labels: contract: redesign

#11521 Redesign: highlight links
  decidim-core/app/cells/decidim/author/name.erb
  decidim-core/app/cells/decidim/footer_pages/topics.erb
  decidim-core/app/helpers/decidim/menu_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_activity.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_omnipresent_banner.scss
  decidim-core/app/views/layouts/decidim/footer/_main_legal.html.erb
  decidim-core/app/views/layouts/decidim/footer/_main_links.html.erb
  decidim-core/app/views/layouts/decidim/footer/_mini.html.erb
Labels: contract: redesign

#11519 Update puma, rails and commonmaker
  Gemfile
  Gemfile.lock
  decidim-core/spec/validators/uploader_content_type_validator_spec.rb
  decidim-dev/decidim-dev.gemspec
  decidim-generators/Gemfile
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile
  decidim_app-design/Gemfile.lock
Labels: team: security, type: internal

#11531 Fix 'download your data' when there are comments on budgets
  decidim-comments/lib/decidim/comments/comment_serializer.rb
  decidim-comments/lib/decidim/comments/comment_vote_serializer.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: module: budgets, module: comments, type: fix

#11516 Redesign: read more literal
  decidim-core/app/cells/decidim/announcement/show.erb
  decidim-core/app/cells/decidim/content_blocks/participatory_space_main_data/title.erb
  decidim-core/config/locales/en.yml
Labels: contract: redesign

#11532 Fix Permissions screen on budgets throw errors
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-budgets/spec/system/admin_manages_project_permissions_spec.rb
  decidim-core/app/helpers/decidim/resource_helper.rb
Labels: module: budgets, type: fix

#10731 Refactor initiative signing wizard
  decidim-core/app/packs/stylesheets/decidim/_redesigned_layout.scss
  decidim-initiatives/app/controllers/decidim/initiatives/initiative_signatures_controller.rb
  decidim-initiatives/app/views/decidim/initiatives/initiative_signatures/_wizard_steps.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiative_signatures/fill_personal_data.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiative_signatures/finish.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiative_signatures/sms_code.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiative_signatures/sms_phone_number.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/initiative_signatures_controller_spec.rb
  decidim-initiatives/spec/system/initiative_signing_sms_verification_spec.rb
  decidim-initiatives/spec/system/initiative_signing_spec.rb
Labels: module: initiatives, type: change

#11150 Remove unused dependency: wicked
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim-initiatives/decidim-initiatives.gemspec
  decidim_app-design/Gemfile.lock
Labels: target:cleanup, dependencies, module: initiatives, type: change

#11543 Remove unused view hook for `:upcoming_meeting_for_card`
  decidim-meetings/app/views/decidim/participatory_spaces/_upcoming_meeting_for_card.html.erb
  decidim-meetings/lib/decidim/meetings/engine.rb
Labels: target:cleanup, type: change
