Repository decidim/decidim, pull requests merged in 2023-05, with the labels that each got.

#10797 Fix issues with unexpected date filter params for the process listing
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_filters_cell.rb
  decidim-participatory_processes/spec/cells/decidim/participatory_processes/process_filters_cell_spec.rb
  decidim-participatory_processes/spec/requests/participatory_process_search_spec.rb
Labels: module: participatory processes, type: fix

#10806 Backport 'Fix invalid rendering of meeting and proposal body texts' to v0.26
  decidim-admin/app/packs/stylesheets/decidim/admin/extra/_quill.scss
  decidim-core/app/helpers/decidim/sanitize_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_editor.scss
  decidim-core/app/packs/stylesheets/decidim/extras/_quill.scss
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/spec/helpers/application_helper_spec.rb
  decidim-meetings/spec/presenters/decidim/meetings/meeting_presenter_spec.rb
  decidim-meetings/spec/system/user_edit_meeting_spec.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/spec/helpers/application_helper_spec.rb
  decidim-proposals/spec/helpers/map_helper_spec.rb
Labels: module: proposals, module: meetings, backport, type: fix

#10807 Backport 'Fix issues with unexpected date filter params for the process listing' to v0.27
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_filters_cell.rb
  decidim-participatory_processes/spec/cells/decidim/participatory_processes/process_filters_cell_spec.rb
  decidim-participatory_processes/spec/requests/participatory_process_search_spec.rb
Labels: backport, module: participatory processes, type: fix

#10808 Backport 'Fix issues with unexpected date filter params for the process listing' to v0.26
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_filters_cell.rb
  decidim-participatory_processes/spec/cells/decidim/participatory_processes/process_filters_cell_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: backport, module: participatory processes, type: fix

#10810 Fix Inconsistent datetime distance_in_words translations
  decidim-core/app/presenters/decidim/notification_presenter.rb
  decidim-core/app/views/decidim/messaging/conversations/_conversation.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/presenters/decidim/notification_presenter_spec.rb
Labels: module: core, type: fix

#10607 Fix proposals' valuators assignments not deleted when space admin is removed
  RELEASE_NOTES.md
  decidim-assemblies/app/commands/decidim/assemblies/admin/destroy_assembly_admin.rb
  decidim-assemblies/spec/commands/destroy_assembly_admin_spec.rb
  decidim-conferences/app/commands/decidim/conferences/admin/destroy_conference_admin.rb
  decidim-conferences/spec/commands/destroy_conference_admin_spec.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/destroy_participatory_process_admin.rb
  decidim-participatory_processes/spec/commands/destroy_participatory_process_admin_spec.rb
  decidim-proposals/decidim-proposals.gemspec
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/lib/tasks/proposals/upgrade/decdim_proposal_upgrade_tasks.rake
  decidim-proposals/spec/factories.rb
  decidim-proposals/spec/lib/decidim/proposals/engine_spec.rb
Labels: module: proposals, module: assemblies, module: participatory processes, module: conferences, type: fix

#10811 Fix initiative creation without fallback hash attribute
  decidim-initiatives/app/forms/decidim/initiatives/initiative_form.rb
Labels: module: initiatives, type: fix

#10782 Backport 'Fix edit form in intitiatives' to v0.26
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_controller.rb
  decidim-initiatives/app/forms/decidim/initiatives/initiative_form.rb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_form.html.erb
Labels: backport, module: initiatives, type: fix

#10059 Backport 'Fix usages of sanitize helper methods for editable content provided by admins' to v0.26
  decidim-assemblies/app/views/decidim/assemblies/assemblies/show.html.erb
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-conferences/app/views/decidim/conferences/conferences/show.html.erb
  decidim-conferences/spec/system/conferences_spec.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/editor_shared_examples.rb
  decidim-elections/app/cells/decidim/votings/content_blocks/landing_page/description_cell.rb
  decidim-elections/spec/system/voting_spec.rb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/title/show.erb
  decidim-participatory_processes/app/views/decidim/participatory_process_steps/_participatory_process_step.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb
  decidim-participatory_processes/spec/system/participatory_process_groups_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: backport, module: participatory processes, type: fix

#10817 Backport 'Fix initiative creation without fallback hash attribute' to v0.27
  decidim-initiatives/app/forms/decidim/initiatives/initiative_form.rb
Labels: backport, module: initiatives, type: fix

#10491 Redesign: processes groups content blocks
  decidim-accountability/app/cells/decidim/accountability/highlighted_results_for_component/show.erb
  decidim-core/app/cells/decidim/card_g/show.erb
  decidim-core/app/cells/decidim/card_l/metadata.erb
  decidim-core/app/cells/decidim/content_blocks/participatory_space_announcement/content.erb
  decidim-core/app/cells/decidim/content_blocks/participatory_space_announcement_cell.rb
  decidim-core/app/cells/decidim/content_blocks/participatory_space_last_activity/content.erb
  decidim-core/app/cells/decidim/content_blocks/participatory_space_metadata/recent_users.erb
  decidim-core/app/cells/decidim/photo_cell.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_content_blocks.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_floating_help.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_participatory_spaces.scss
  decidim-core/config/locales/en.yml
  decidim-meetings/app/cells/decidim/meetings/highlighted_meetings_for_component/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/highlighted_participatory_processes/filters.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/highlighted_participatory_processes/filters_small_view.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/highlighted_participatory_processes/participatory_space_filters.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/highlighted_participatory_processes/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/highlighted_participatory_processes/title_filter_order.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/highlighted_participatory_processes_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/html/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/html_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/main_data/content.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/main_data_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/metadata/recent_users.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/metadata/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/metadata_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/related_processes_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/statistics_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/title/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/title_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/hero_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/main_data_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/processes_settings_form/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/processes_settings_form_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/related_processes/content.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/related_processes_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_group_metadata_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/processes/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/processes_cell.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_process_groups_controller.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_process_groups/show.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/test/factories.rb
  decidim-participatory_processes/spec/cells/decidim/participatory_process_groups/content_blocks/main_data_cell_spec.rb
  decidim-participatory_processes/spec/cells/decidim/participatory_process_groups/content_blocks/title_cell_spec.rb
  decidim-participatory_processes/spec/shared/manage_landing_page_examples.rb
  decidim-participatory_processes/spec/system/admin/participatory_process_admin_manages_participatory_processes_spec.rb
  decidim-participatory_processes/spec/system/filter_participatory_processes_spec.rb
  decidim-participatory_processes/spec/system/participatory_process_all_metrics_spec.rb
  decidim-participatory_processes/spec/system/participatory_process_groups_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
  decidim-proposals/app/cells/decidim/proposals/highlighted_proposals_for_component/show.erb
Labels: contract: redesign

#10664 Backport 'Refactor attachment title' to v0.27
  decidim-core/app/cells/decidim/upload_modal_cell.rb
  decidim-core/spec/cells/decidim/upload_modal_cell_spec.rb
Labels: module: core, backport, type: fix

#10820 Change the participant initiatives editor toolbars type
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/fill_data.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/previous_form.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_form.html.erb
  decidim-initiatives/spec/system/create_initiative_spec.rb
  decidim-initiatives/spec/system/edit_initiative_spec.rb
Labels: module: initiatives, type: fix

#10830 Fix budget summary mail when a scope is defined and enabled
  decidim-budgets/app/views/decidim/budgets/order_summary_mailer/order_summary.html.erb
  decidim-budgets/spec/mailers/decidim/budgets/order_summary_mailer_spec.rb
Labels: module: budgets, type: fix, release: v0.26, release: v0.27

#10835 Remove parallel spec from the core system specs
  .github/workflows/ci_core_system.yml
Labels: type: internal

#10843 Backport 'Remove parallel spec from the core system specs' to v0.27
  .github/workflows/ci_core_system.yml
Labels: backport, type: internal

#10838 Backport 'Fix budget summary mail when a scope is defined and enabled' to v0.27
  decidim-budgets/app/views/decidim/budgets/order_summary_mailer/order_summary.html.erb
  decidim-budgets/spec/mailers/decidim/budgets/order_summary_mailer_spec.rb
Labels: module: budgets, backport, type: fix, release: v0.27

#10827 Backport 'Fix File attachments in proposals' to v0.27
  decidim-core/app/commands/decidim/attachment_methods.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/create_proposal_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/update_proposal_spec.rb
  decidim-proposals/spec/system/admin/admin_creates_proposal_spec.rb
  decidim-proposals/spec/system/admin/admin_edits_proposal_spec.rb
Labels: module: proposals, module: core, backport, type: fix, release: v0.27

#10699 Redesign: pending login
  decidim-core/app/views/decidim/devise/confirmations/new.html.erb
  decidim-core/app/views/decidim/devise/invitations/edit.html.erb
  decidim-core/app/views/decidim/devise/passwords/edit.html.erb
  decidim-core/app/views/decidim/devise/passwords/new.html.erb
  decidim-core/app/views/decidim/devise/registrations/new.html.erb
  decidim-core/app/views/decidim/devise/sessions/new.html.erb
  decidim-core/app/views/decidim/devise/unlocks/new.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/locales/es.yml
Labels: contract: redesign

#10840 Backport 'Fix budget summary mail when a scope is defined and enabled' to v0.26
  decidim-budgets/app/views/decidim/budgets/order_summary_mailer/order_summary.html.erb
  decidim-budgets/spec/mailers/decidim/budgets/order_summary_mailer_spec.rb
Labels: module: budgets, backport, type: fix, release: v0.26

#10844 Backport 'Change the participant initiatives editor toolbars type' to v0.27
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/fill_data.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/previous_form.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_form.html.erb
  decidim-initiatives/spec/system/create_initiative_spec.rb
  decidim-initiatives/spec/system/edit_initiative_spec.rb
Labels: backport, module: initiatives, type: fix

#10845 Backport 'Change the participant initiatives editor toolbars type' to v0.26
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/fill_data.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/previous_form.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_form.html.erb
  decidim-initiatives/spec/system/create_initiative_spec.rb
  decidim-initiatives/spec/system/edit_initiative_spec.rb
Labels: backport, module: initiatives, type: fix

#10854 Backport 'Fix default seeds on first login (password_updated_at and accepted_tos_version)' to v0.27
  decidim-core/db/seeds.rb
Labels: module: core, module: admin, backport, type: internal

#10853 Add binstub for bin/dev
  bin/dev
  docs/modules/develop/pages/guide_development_app.adoc
Labels: team: documentation, target: developer-experience, type: internal

#10694 Refactor participatory space user roles
  config/i18n-tasks.yml
  decidim-admin/app/commands/decidim/admin/create_participatory_space_admin_user_actions.rb
  decidim-admin/app/commands/decidim/admin/participatory_space/create_admin.rb
  decidim-admin/app/commands/decidim/admin/participatory_space/destroy_admin.rb
  decidim-admin/app/commands/decidim/admin/participatory_space/update_admin.rb
  decidim-admin/app/controllers/decidim/admin/participatory_space/user_role_controller.rb
  decidim-admin/spec/commands/decidim/admin/participatory_space/create_admin_spec.rb
  decidim-admin/spec/commands/decidim/admin/participatory_space/destroy_admin_spec.rb
  decidim-admin/spec/commands/decidim/admin/participatory_space/update_admin_spec.rb
  decidim-admin/spec/factories.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly_admin.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/destroy_assembly_admin.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/notify_role_assigned_to_assembly.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assembly_admin.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_user_roles_controller.rb
  decidim-assemblies/app/models/decidim/assembly_user_role.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assembly_user_roles/index.html.erb
  decidim-assemblies/spec/commands/create_assembly_admin_spec.rb
  decidim-assemblies/spec/commands/destroy_assembly_admin_spec.rb
  decidim-assemblies/spec/commands/update_assembly_admin_spec.rb
  decidim-assemblies/spec/shared/manage_assembly_admins_examples.rb
  decidim-conferences/app/commands/decidim/conferences/admin/create_conference_admin.rb
  decidim-conferences/app/commands/decidim/conferences/admin/notify_role_assigned_to_conference.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_user_roles_controller.rb
  decidim-conferences/app/models/decidim/conference_user_role.rb
  decidim-conferences/app/views/decidim/conferences/admin/conference_user_roles/index.html.erb
  decidim-conferences/spec/commands/create_conference_admin_spec.rb
  decidim-conferences/spec/commands/destroy_conference_admin_spec.rb
  decidim-conferences/spec/commands/update_conference_admin_spec.rb
  decidim-conferences/spec/shared/manage_conference_admins_examples.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/create_participatory_process_admin.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/destroy_participatory_process_admin.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/notify_role_assigned_to_participatory_process.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/update_participatory_process_admin.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_user_roles_controller.rb
  decidim-participatory_processes/app/models/decidim/participatory_process_user_role.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_user_roles/index.html.erb
  decidim-participatory_processes/spec/commands/destroy_participatory_process_admin_spec.rb
  decidim-participatory_processes/spec/shared/manage_process_admins_examples.rb
Labels: module: admin, target: developer-experience, module: assemblies, module: participatory processes, module: conferences, type: change

#10856 Fix the `spec/controllers` directory on budgets
  decidim-budgets/spec/controllers/decidim/budgets/admin/projects_controller_spec.rb
  decidim-budgets/spec/controllers/decidim/budgets/projects_controller_spec.rb
Labels: module: budgets, type: internal

#10859 Split Destroy Admin Tests
  decidim-admin/app/controllers/decidim/admin/participatory_space/user_role_controller.rb
  decidim-admin/lib/decidim/admin/test.rb
  decidim-admin/lib/decidim/admin/test/destroy_admin_examples.rb
  decidim-admin/spec/commands/decidim/admin/participatory_space/destroy_admin_spec.rb
  decidim-assemblies/spec/commands/destroy_assembly_admin_spec.rb
  decidim-conferences/spec/commands/destroy_conference_admin_spec.rb
  decidim-participatory_processes/spec/commands/destroy_participatory_process_admin_spec.rb
Labels: module: admin, module: assemblies, module: participatory processes, module: consultations, type: internal

#10861 Update gems to next available patch level
  Gemfile.lock
  decidim-core/spec/commands/decidim/update_account_spec.rb
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: dependencies, type: internal

#10722 Redesign: meeting cards
  decidim-core/app/cells/decidim/card_metadata_cell.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_cards.scss
  decidim-core/spec/cells/decidim/card_metadata_cell_spec.rb
  decidim-initiatives/spec/system/initiative_spec.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_card_metadata_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_l/image.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_l_cell.rb
  decidim-meetings/app/cells/decidim/meetings/redesigned_meeting/meeting_minutes.erb
  decidim-meetings/app/cells/decidim/meetings/redesigned_meeting/show.erb
  decidim-meetings/app/cells/decidim/meetings/redesigned_meeting_data/show.erb
  decidim-meetings/app/cells/decidim/meetings/redesigned_meeting_data_cell.rb
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/packs/stylesheets/decidim/meetings/_item.scss
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_agenda.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_aside.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_minutes.html.erb
  decidim-meetings/app/views/decidim/meetings/shared/_meetings.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/cells/decidim/meetings/meeting_cell_spec.rb
  decidim-meetings/spec/system/explore_meeting_directory_spec.rb
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-meetings/spec/system/participatory_processes_view_hooks_spec.rb
  decidim-meetings/spec/system/private_meetings_spec.rb
  decidim-meetings/spec/system/show_spec.rb
Labels: contract: redesign

#10638 Redesign: progress bar
  decidim-accountability/spec/cells/decidim/accountability/result_m_cell_spec.rb
  decidim-core/app/cells/decidim/progress_bar/show.erb
  decidim-core/app/cells/decidim/progress_bar_cell.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_progress-bar.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-initiatives/app/cells/decidim/initiatives/initiative_m/footer.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_progress_bar.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/cells/decidim/initiatives/initiative_m_cell_spec.rb
  decidim-initiatives/spec/system/initiative_signing_sms_verification_spec.rb
  decidim-initiatives/spec/system/initiative_signing_spec.rb
  decidim-initiatives/spec/system/initiative_spec.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_m/footer.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_votes_count.html.erb
Labels: contract: redesign

#10878 Fix webpack version to <5.83.0
  decidim_app-design/package-lock.json
  decidim_app-design/packages/webpacker/package-lock.json
  decidim_app-design/packages/webpacker/package.json
  package-lock.json
  packages/webpacker/package-lock.json
  packages/webpacker/package.json
Labels: type: fix

#10866 Change documentation to fix typo
  README.adoc
Labels: team: documentation

#10829 Fix the active filter for process groups
  decidim-participatory_processes/app/queries/decidim/participatory_processes/filtered_participatory_process_groups.rb
  decidim-participatory_processes/spec/queries/filtered_participatory_process_groups_spec.rb
Labels: module: participatory processes, type: fix

#10879 Add "Vulnerability disclosure policy" section to SECURITY file
  SECURITY.adoc
  SECURITY.md
Labels: team: security, team: documentation, type: internal

#10847 Redesign: omnipresent banner
  decidim-core/app/packs/stylesheets/decidim/_redesigned_omnipresent_banner.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/app/views/layouts/decidim/_omnipresent_banner.html.erb
Labels: contract: redesign

#10848 Redesign: spinner
  decidim-core/app/packs/src/decidim/redesigned_form_filter.js
  decidim-core/app/packs/stylesheets/decidim/_redesigned_spinner.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
Labels: contract: redesign

#10816 Redesign: Remove reference to commentable in activity cell
  decidim-comments/app/cells/decidim/comments/comment_activity_cell.rb
  decidim-comments/config/locales/en.yml
  decidim-comments/spec/cells/decidim/comments/comment_activity_cell_spec.rb
  decidim-core/app/cells/decidim/activity/show.erb
  decidim-core/app/cells/decidim/activity_cell.rb
  decidim-core/app/cells/decidim/content_blocks/participatory_space_last_activity/content.erb
  decidim-core/app/cells/decidim/content_blocks/participatory_space_last_activity_cell.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_activity.scss
Labels: contract: redesign

#10766 Fix missing translations for SMS confirmation when signing a petition
  decidim-verifications/config/locales/en.yml
Labels: module: verifications, type: fix

#10682 Disable poorly formatted requires
  decidim-admin/spec/jobs/export_job_spec.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-dev/app/events/decidim/dummy_resources/dummy_resource_event.rb
  decidim-dev/app/jobs/decidim/dummy_resources/hide_all_created_by_author_job.rb
  decidim-dev/app/models/decidim/dummy_resources/application_record.rb
  decidim-dev/app/models/decidim/dummy_resources/coauthorable_dummy_resource.rb
  decidim-dev/app/models/decidim/dummy_resources/dummy_resource.rb
  decidim-dev/app/models/decidim/dummy_resources/nested_dummy_resource.rb
  decidim-dev/app/presenters/decidim/dummy_resources/official_author_presenter.rb
  decidim-dev/app/serializers/decidim/dummy_resources/dummy_serializer.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/component.rb
  decidim-dev/lib/decidim/dummy_resources.rb
  decidim-dev/lib/decidim/dummy_resources/admin.rb
  decidim-dev/lib/decidim/dummy_resources/admin_engine.rb
  decidim-dev/lib/decidim/dummy_resources/component.rb
  decidim-dev/lib/decidim/dummy_resources/engine.rb
Labels: target: developer-experience, type: internal

#10889 Fix fetching apt packages in gitpod build
  .gitpod.Dockerfile
Labels: target: developer-experience, type: internal

#10867 Update dev dependencies
  .rubocop.yml
  Gemfile
  Gemfile.lock
  config/i18n-tasks.yml
  decidim-core/lib/decidim/core/test/shared_examples/resource_search_examples.rb
  decidim-core/spec/forms/decidim/password_form_spec.rb
  decidim-core/spec/models/decidim/attachment_spec.rb
  decidim-core/spec/models/decidim/authorization_spec.rb
  decidim-core/spec/validators/password_validator_spec.rb
  decidim-dev/config/rubocop/ruby.yml
  decidim-dev/decidim-dev.gemspec
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara.rb
  decidim-generators/Gemfile
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: dependencies, module: dev

#10892 Fix budgets zero single view
  decidim-budgets/app/forms/decidim/budgets/admin/budget_form.rb
  decidim-budgets/app/models/decidim/budgets/order.rb
  decidim-budgets/spec/forms/decidim/budgets/admin/budget_form_spec.rb
  decidim-budgets/spec/system/orders_spec.rb
Labels: module: budgets, type: fix

#10888 Fix Security policy file link
  CONTRIBUTING.adoc
  README.adoc
  docs/modules/develop/pages/security.adoc
Labels: team: security, team: documentation, type: internal

#10121 Ignore social share button links in external domain warning
  decidim-comments/app/packs/src/decidim/comments/comments.component.js
  decidim-core/app/helpers/decidim/social_share_button_helper.rb
  decidim-core/app/packs/src/decidim/external_domain_warning.js
  decidim-core/app/packs/src/decidim/external_domain_warning.test.js
  decidim-core/app/packs/src/decidim/external_link.js
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/src/decidim/redesigned_index.js
  decidim-core/spec/system/social_share_button_spec.rb
Labels: module: core, type: fix

#10821 Component settings attribute type addition - "Float"
  decidim-admin/app/helpers/decidim/admin/settings_helper.rb
  decidim-admin/spec/helpers/settings_helper_spec.rb
  decidim-core/lib/decidim/settings_manifest.rb
  decidim-core/spec/lib/settings_manifest_spec.rb
Labels: module: core, type: change

#10858 Fix initialization of autoloaded constants
  decidim-blogs/lib/decidim/blogs/engine.rb
  decidim-budgets/lib/decidim/budgets/engine.rb
  decidim-comments/lib/decidim/comments/engine.rb
  decidim-consultations/lib/decidim/consultations/engine.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-debates/lib/decidim/debates/engine.rb
  decidim-elections/lib/decidim/elections/engine.rb
  decidim-forms/lib/decidim/forms/engine.rb
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-proposals/lib/decidim/proposals/engine.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: debates, module: elections, module: blogs, module: forms, module: consultations, module: initiatives, type: internal

#10653 Redesign: debates
  .github/workflows/ci_debates.yml
  decidim-budgets/app/views/decidim/budgets/projects/index.js.erb
  decidim-budgets/spec/helpers/decidim/budgets/projects_helper_spec.rb
  decidim-core/app/cells/decidim/card_m/header.erb
  decidim-core/app/cells/decidim/card_metadata/show.erb
  decidim-core/app/cells/decidim/card_metadata_cell.rb
  decidim-core/app/helpers/decidim/date_range_helper.rb
  decidim-core/app/helpers/decidim/sanitize_helper.rb
  decidim-core/app/packs/src/decidim/redesigned_index.js
  decidim-core/app/packs/stylesheets/decidim/_redesigned_cards.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_order-by.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/app/views/decidim/shared/_orders.html.erb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/system_endorse_resource_examples.rb
  decidim-core/spec/cells/decidim/card_metadata_cell_spec.rb
  decidim-debates/app/cells/decidim/debates/debate_card_metadata_cell.rb
  decidim-debates/app/cells/decidim/debates/debate_cell.rb
  decidim-debates/app/cells/decidim/debates/debate_l_cell.rb
  decidim-debates/app/controllers/decidim/debates/application_controller.rb
  decidim-debates/app/helpers/decidim/debates/application_helper.rb
  decidim-debates/app/packs/entrypoints/decidim_debates.js
  decidim-debates/app/views/decidim/debates/debates/_close_debate_modal.html.erb
  decidim-debates/app/views/decidim/debates/debates/_debates.html.erb
  decidim-debates/app/views/decidim/debates/debates/_filters.html.erb
  decidim-debates/app/views/decidim/debates/debates/_filters_small_view.html.erb
  decidim-debates/app/views/decidim/debates/debates/_form.html.erb
  decidim-debates/app/views/decidim/debates/debates/edit.html.erb
  decidim-debates/app/views/decidim/debates/debates/index.html.erb
  decidim-debates/app/views/decidim/debates/debates/index.js.erb
  decidim-debates/app/views/decidim/debates/debates/new.html.erb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-debates/app/views/decidim/debates/versions/show.html.erb
  decidim-debates/config/locales/en.yml
  decidim-debates/lib/decidim/debates/engine.rb
  decidim-debates/spec/helpers/decidim/debates/application_helper_spec.rb
  decidim-debates/spec/shared/manage_debates_examples.rb
  decidim-debates/spec/system/explore_debates_spec.rb
  decidim-debates/spec/system/private_space_debate_spec.rb
  decidim-debates/spec/system/show_spec.rb
  decidim-debates/spec/system/user_closes_debate_spec.rb
  decidim-debates/spec/system/user_creates_debate_spec.rb
  decidim-debates/spec/system/user_edits_debate_spec.rb
  decidim-meetings/spec/helpers/application_helper_spec.rb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/spec/helpers/application_helper_spec.rb
  decidim-proposals/spec/helpers/map_helper_spec.rb
Labels: contract: redesign

#10907 Update the setup-chromedriver GitHub action to v2
  .github/actions/module-rspec/action.yml
Labels: dependencies, type: internal

#10908 Update GitHub actions within the component template
  decidim-generators/lib/decidim/generators/component_templates/github/ci.yml.erb
Labels: dependencies, type: internal

#10823 Add translation to "Terms and condition" page title and body
  decidim-system/app/commands/decidim/system/create_default_pages.rb
  decidim-system/config/locales/en.yml
  decidim-system/spec/commands/decidim/system/create_default_pages_spec.rb
Labels: module: system, type: change

#10906 Fix flaky tests at proposals
  decidim-proposals/spec/system/amendable/amend_proposal_spec.rb
  decidim-proposals/spec/system/amendable/amendment_diff_spec.rb
  decidim-proposals/spec/system/filter_proposals_spec.rb
  decidim-proposals/spec/system/proposal_show_spec.rb
Labels: module: proposals, type: internal

#10860 Remove `db-query-matchers` gem
  Gemfile.lock
  decidim-comments/spec/queries/sorted_comments_spec.rb
  decidim-dev/decidim-dev.gemspec
  decidim-dev/lib/decidim/dev/test/spec_helper.rb
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: module: comments, dependencies, type: internal

#10916 Remove unused preset-env dependencies
  babel.config.json
Labels: dependencies, javascript, type: fix

#10919 Fix for initiative menu not active on creation
  decidim-initiatives/lib/decidim/initiatives/engine.rb
Labels: module: initiatives, type: fix

#10913 Correct directory of `TranslatablePresenceValidator` and `UrlValidator`
  decidim-core/app/validators/translatable_presence_validator.rb
  decidim-core/app/validators/url_validator.rb
  decidim-core/spec/validators/translatable_presence_validator_spec.rb
  decidim-core/spec/validators/url_validator_spec.rb
Labels: type: internal

#10912 Migrate to `GITHUB_OUTPUT` in components' template GitHub Actions
  decidim-generators/lib/decidim/generators/component_templates/github/ci.yml.erb
Labels: target: developer-experience, dependencies, type: internal

#10239 Change plain states to Rails enum
  decidim-core/app/models/decidim/amendment.rb
  decidim-core/app/models/decidim/reminder_record.rb
  decidim-core/db/migrate/20230427105700_change_states_on_amendments.rb
  decidim-core/db/migrate/20230427105701_change_states_on_reminder_records.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/models/decidim/amendment_spec.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_m/address.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_m_cell.rb
  decidim-meetings/app/controllers/concerns/decidim/meetings/filterable.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/base_meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/meeting_form.rb
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/helpers/decidim/meetings/directory/application_helper.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/db/migrate/20230427105701_change_types_and_registration_types_on_meetings.rb
  decidim-meetings/spec/system/admin/filter_meetings_spec.rb
  decidim-proposals/app/commands/decidim/proposals/admin/import_proposals.rb
  decidim-proposals/app/controllers/concerns/decidim/proposals/admin/filterable.rb
  decidim-proposals/app/helpers/decidim/proposals/admin/filterable_helper.rb
  decidim-proposals/app/helpers/decidim/proposals/admin/proposals_helper.rb
  decidim-proposals/app/models/decidim/proposals/collaborative_draft.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/db/migrate/20230427105700_change_states_on_collaborative_drafts.rb
  decidim-proposals/db/migrate/20230427105700_change_states_on_proposals.rb
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/notify_proposal_answer_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/amendable/accept_amendment_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/amendable/publish_amendment_draft_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/amendable/reject_amendment_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/amendable/withdraw_amendment_spec.rb
  decidim-proposals/spec/system/admin/filter_proposals_spec.rb
Labels: module: proposals, module: core, module: meetings, type: change

#10911 Fix reminder already registered with the name :close_meeting
  decidim-budgets/lib/decidim/budgets/engine.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
Labels: module: meetings, module: budgets, type: fix

#10901 Add seeded Trustees
  decidim-elections/lib/decidim/elections/component.rb
Labels: target: developer-experience, module: elections, type: internal

#10727 Refactor intiative wizard
  decidim-initiatives/app/commands/decidim/initiatives/create_initiative.rb
  decidim-initiatives/app/commands/decidim/initiatives/update_initiative.rb
  decidim-initiatives/app/controllers/decidim/initiatives/create_initiative_controller.rb
  decidim-initiatives/app/forms/decidim/initiatives/initiative_form.rb
  decidim-initiatives/app/forms/decidim/initiatives/previous_form.rb
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-initiatives/app/packs/src/decidim/initiatives/scoped_type.js
  decidim-initiatives/app/queries/decidim/initiatives/similar_initiatives.rb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/_share_committee_link.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/fill_data.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/previous_form.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/select_initiative_type.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/show_similar_initiatives.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_form.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives_type_scopes/search.html.erb
  decidim-initiatives/app/views/layouts/decidim/_initiative_creation_header.html.erb
  decidim-initiatives/app/views/layouts/decidim/initiative_creation.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-initiatives/spec/commands/decidim/initiatives/update_initiative_spec.rb
  decidim-initiatives/spec/shared/create_initiative_example.rb
  decidim-initiatives/spec/system/create_initiative_spec.rb
Labels: module: initiatives, type: change

#10927 Change to display initiatives after creation
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/finish.html.erb
  decidim-initiatives/spec/system/create_initiative_spec.rb
Labels: module: initiatives, type: fix

#10693 Fix do not count blocked users to stats
  decidim-core/app/queries/decidim/metrics/users_metric_manage.rb
  decidim-core/spec/queries/decidim/metrics/users_metric_manage_spec.rb
Labels: module: core, type: fix
