Repository decidim/decidim, pull requests merged in 2023-03, with the labels that each got.

#10446 Backport 'Fix sass syntax errors' to v0.26
  decidim-core/app/packs/stylesheets/decidim/modules/_buttons.scss
  decidim-core/app/packs/stylesheets/decidim/modules/_cards.scss
  decidim-core/app/packs/stylesheets/decidim/vizzs/_linechart.scss
  decidim-core/app/packs/stylesheets/decidim/vizzs/_rowchart.scss
Labels: module: core, backport, type: fix

#10447 Backport 'Fix: Ransack returns results for multiple organizations' to v0.27
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_filters_cell.rb
  decidim-participatory_processes/spec/cells/decidim/participatory_processes/process_filters_cell_spec.rb
Labels: backport, module: participatory processes, type: fix, release: v0.27

#10448 Backport 'Fix survey conditional display' to v0.27
  decidim-forms/app/forms/decidim/forms/answer_form.rb
  decidim-forms/app/forms/decidim/forms/questionnaire_form.rb
  decidim-forms/spec/commands/decidim/forms/answer_questionnaire_spec.rb
Labels: backport, module: forms, type: fix, release: v0.27

#10449 Backport 'Fix pipeline asset router bug regarding for manifests containing the host' to v0.27
  decidim-core/lib/decidim/asset_router/pipeline.rb
  decidim-core/spec/lib/asset_router/pipeline_spec.rb
Labels: module: core, backport, type: fix

#10451 Backport 'Fix updating budget projects or other records containing attachments' to v0.27
  decidim-core/app/commands/decidim/gallery_methods.rb
  decidim-core/spec/commands/decidim/create_dummy_resource_spec.rb
Labels: module: proposals, module: core, module: budgets, backport, module: elections, type: fix

#10452 Backport 'Fix styling bug with the remove/close buttons for attachments' to v0.27
  decidim-core/app/packs/stylesheets/decidim/modules/_input-gallery.scss
Labels: module: proposals, module: core, module: budgets, backport, module: elections, type: fix

#10453 Backport 'Fix deleting all content from help section triggers error' to v0.27
  decidim-core/app/services/decidim/traceability.rb
Labels: module: admin, backport, type: fix

#10454 Backport 'Fix deleting all content from help section triggers error' to v0.26
  decidim-core/app/services/decidim/traceability.rb
Labels: module: admin, backport, type: fix

#10456 Backport 'Fix deprecation warning in the `html5sortable` NPM package' to v0.26
  decidim-admin/app/packs/src/decidim/admin/draggable-list.js
Labels: module: admin, backport, type: fix

#10455 Backport 'Fix deprecation warning in the `html5sortable` NPM package' to v0.27
  decidim-admin/app/packs/src/decidim/admin/draggable-list.js
Labels: module: admin, backport, type: fix

#10462 Backport 'Switch to the official Codecov action for CI' to v0.27
  .github/upload_coverage.sh
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_admin_system.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_lib.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_system_ssl.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_initiatives_system_admin.yml
  .github/workflows/ci_initiatives_system_public.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .simplecov
Labels: backport, type: internal

#10463 Backport 'Switch to the official Codecov action for CI' to v0.26
  .github/upload_coverage.sh
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_admin_system_1.yml
  .github/workflows/ci_admin_system_2.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_lib.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections_system_admin_1.yml
  .github/workflows/ci_elections_system_admin_2.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_initiatives_system_admin.yml
  .github/workflows/ci_initiatives_system_public.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public_1.yml
  .github/workflows/ci_meetings_system_public_2.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public_1.yml
  .github/workflows/ci_proposals_system_public_2.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .simplecov
Labels: backport, type: internal

#10368 Improve the bug report template with GitHub form schema
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Bug_report.yml
Labels: type: internal

#10288 Rename Decidim.password_blacklist to Decidim.denied_passwords
  RELEASE_NOTES.md
  decidim-core/app/validators/password_validator.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/validators/password_validator_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
  docs/modules/configure/pages/environment_variables.adoc
Labels: module: core, module: admin, type: change

#10431 Redesign: Refuse TOS modal
  decidim-core/app/cells/decidim/tos_page/refuse_btn_modal.erb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_modal.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_modal_tos_refuse.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/config/locales/en.yml
Labels: contract: redesign

#10487 Fix documentation repository branch in the docs update workflow
  .github/workflows/on_docs_update.yml
Labels: type: internal

#10500 Upgrade rack to 2.2.6.3
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: team: security

#10501 Add link to ActiveStorage to the getting started manual
  docs/modules/install/pages/checklist.adoc
  docs/modules/install/pages/index.adoc
Labels: team: documentation, type: internal

#10232 Remove actions from admin and blocked users
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/app/views/decidim/admin/officializations/index.html.erb
  decidim-admin/spec/permissions/decidim/admin/permissions_spec.rb
  decidim-admin/spec/system/admin_manages_officializations_spec.rb
  decidim-admin/spec/system/admin_manages_organization_admins_spec.rb
  decidim-core/app/helpers/decidim/cells_helper.rb
  decidim-core/app/presenters/decidim/user_group_presenter.rb
  decidim-core/app/presenters/decidim/user_presenter.rb
  decidim-core/spec/presenters/decidim/user_presenter_spec.rb
  decidim-core/spec/system/messaging/profile_conversations_spec.rb
  decidim-core/spec/system/user_report_spec.rb
  decidim-system/app/helpers/decidim/system/application_helper.rb
  decidim-system/app/views/decidim/system/admins/index.html.erb
  decidim-system/spec/helpers/decidim/system/application_helper_spec.rb
  decidim-system/spec/system/manage_admins_spec.rb
Labels: module: core, module: admin, module: system, type: fix

#10503 Fix meeting form for admin to update registrations_enabled field
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/spec/commands/admin/create_meeting_spec.rb
  decidim-meetings/spec/commands/admin/update_meeting_spec.rb
  decidim-meetings/spec/forms/admin/meeting_form_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
Labels: module: meetings, type: fix

#10408 Remove email from initiative's print page
  decidim-initiatives/app/views/decidim/initiatives/initiatives/print.html.erb
Labels: module: initiatives, type: fix

#10492 Fix promoted admin password change right after registration
  decidim-core/app/commands/decidim/create_registration.rb
  decidim-core/app/commands/decidim/update_account.rb
  decidim-core/app/commands/decidim/update_password.rb
  decidim-core/app/controllers/decidim/devise/sessions_controller.rb
  decidim-core/spec/commands/decidim/create_registration_spec.rb
  decidim-core/spec/commands/decidim/update_account_spec.rb
  decidim-core/spec/commands/decidim/update_password_spec.rb
  decidim-core/spec/controllers/sessions_controller_spec.rb
  decidim-core/spec/system/registration_spec.rb
Labels: module: core, type: fix

#10497 Fix dynamic upload file field required indicator + make option naming consistent
  decidim-admin/app/views/decidim/admin/attachments/_form.html.erb
  decidim-admin/app/views/decidim/admin/imports/new.html.erb
  decidim-admin/app/views/decidim/admin/participatory_space_private_users_csv_imports/new.html.erb
  decidim-admin/app/views/decidim/admin/user_groups_csv_verifications/new.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assembly_imports/_form.html.erb
  decidim-conferences/app/views/decidim/conferences/admin/diplomas/_form.html.erb
  decidim-conferences/app/views/decidim/conferences/admin/partners/_form.html.erb
  decidim-core/app/cells/decidim/upload_modal/files.erb
  decidim-core/app/cells/decidim/upload_modal_cell.rb
  decidim-core/app/packs/src/decidim/direct_uploads/redesigned_upload_modal.js
  decidim-core/app/packs/src/decidim/direct_uploads/upload_modal.js
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/cells/decidim/upload_modal_cell_spec.rb
  decidim-elections/app/views/decidim/votings/census/admin/census/_new_census.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives_types/_form.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_imports/_form.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/participatory_texts/new_import.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/_form.html.erb
Labels: module: proposals, module: core, module: admin, module: system, module: elections, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: fix

#10496 Fix destroying scope types that have been associated with processes
  decidim-core/app/models/decidim/scope_type.rb
  decidim-participatory_processes/spec/models/decidim/participatory_process_spec.rb
Labels: module: core, module: participatory processes, type: fix

#10498 Fix participatory texts sections required field indicators
  decidim-proposals/app/views/decidim/proposals/admin/participatory_texts/_article-preview.html.erb
Labels: module: proposals, type: fix

#10527 Backport 'Fix participatory texts sections required field indicators' to v0.27
  decidim-proposals/app/views/decidim/proposals/admin/participatory_texts/_article-preview.html.erb
Labels: module: proposals, backport, type: fix

#10528 Backport 'Fix participatory texts sections required field indicators' to v0.26
  decidim-proposals/app/views/decidim/proposals/admin/participatory_texts/_article-preview.html.erb
Labels: module: proposals, backport, type: fix

#10534 Backport 'Remove email from initiative's print page' to v0.26
  decidim-initiatives/app/views/decidim/initiatives/initiatives/print.html.erb
Labels: backport, module: initiatives, type: fix

#10535 Backport 'Remove email from initiative's print page' to v0.27
  decidim-initiatives/app/views/decidim/initiatives/initiatives/print.html.erb
Labels: backport, module: initiatives, type: fix

#10519 Add Procfile support
  RELEASE_NOTES.md
  decidim-core/lib/tasks/procfile.rake
  decidim_app-design/package-lock.json
  decidim_app-design/packages/webpacker/package.json
  package-lock.json
  packages/webpacker/package.json
Labels: target: developer-experience

#10542 Remove the deprecated `optional` option from the file upload modal
  decidim-core/app/cells/decidim/upload_modal/files.erb
  decidim-core/app/cells/decidim/upload_modal_cell.rb
  decidim-core/spec/cells/decidim/upload_modal_cell_spec.rb
  decidim-core/spec/lib/form_builder_spec.rb
Labels: module: core, type: change

#10544 Fix flaky spec for questionnaire templates
  decidim-templates/lib/decidim/templates/test/shared_examples/uses_questionnaire_templates.rb
Labels: module: templates, type: internal

#10526 Make buttons respect the organizations' primary color
  decidim-core/app/packs/stylesheets/decidim/modules/_buttons.scss
Labels: module: core, type: fix

#10509 Standardize the format of the words "will not"
  decidim-admin/app/controllers/concerns/decidim/admin/filterable.rb
  decidim-admin/app/helpers/decidim/admin/settings_helper.rb
  decidim-admin/app/views/decidim/admin/devise/mailers/reset_password_instructions.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/system/admin_tos_acceptance_spec.rb
  decidim-admin/spec/system/space_admin_manages_global_moderations_spec.rb
  decidim-budgets/app/packs/src/decidim/budgets/exit_handler.js
  decidim-conferences/app/views/decidim/conferences/conference_program/_program_item.html.erb
  decidim-core/app/jobs/decidim/machine_translation_fields_job.rb
  decidim-core/app/jobs/decidim/machine_translation_save_job.rb
  decidim-core/app/packs/src/decidim/confirm.js
  decidim-core/app/packs/src/decidim/sw/sw.js
  decidim-core/app/services/decidim/engine_resolver.rb
  decidim-core/config/initializers/devise.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/api/functions/needs_api_default_order.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/test/shared_examples/map_examples.rb
  decidim-core/lib/decidim/searchable.rb
  decidim-core/spec/lib/dependency_resolver_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/datetime_helpers.rb
  decidim-elections/app/commands/decidim/elections/admin/add_user_as_trustee.rb
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-proposals/config/locales/en.yml
  decidim-surveys/spec/system/unregistered_user_survey_spec.rb
  decidim-system/app/views/decidim/system/devise/mailers/reset_password_instructions.html.erb
  decidim-verifications/README.md
  docs/modules/configure/pages/environment_variables.adoc
  docs/modules/develop/pages/maps.adoc
  docs/modules/develop/pages/reminders.adoc
  docs/modules/install/pages/index.adoc
  docs/modules/install/pages/manual.adoc
Labels: team: documentation, module: proposals, module: core, module: budgets, module: admin, module: system, module: surveys, module: verifications, module: elections, module: conferences, module: initiatives, type: change

#10510 Standardize the format of the words "has not"
  decidim-admin/spec/commands/decidim/admin/create_participatory_space_private_user_spec.rb
  decidim-admin/spec/permissions/decidim/admin/permissions_spec.rb
  decidim-admin/spec/system/space_moderator_manages_global_moderations_spec.rb
  decidim-assemblies/spec/commands/create_assembly_admin_spec.rb
  decidim-conferences/spec/commands/create_conference_admin_spec.rb
  decidim-consultations/spec/forms/decidim/consultations/admin/question_form_spec.rb
  decidim-core/app/models/decidim/permission_action.rb
  decidim-core/app/packs/src/decidim/vendor/image-resize.min.js
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/social_share_service_manifest.rb
  decidim-core/spec/controllers/sessions_controller_spec.rb
  decidim-core/spec/lib/paddable_spec.rb
  decidim-core/spec/presenters/decidim/notification_presenter_spec.rb
  decidim-dev/config/locales/en.yml
  decidim-elections/spec/commands/decidim/votings/admin/create_monitoring_committee_member_spec.rb
  decidim-elections/spec/commands/decidim/votings/admin/create_polling_officer_spec.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaires/add_display_conditions.rb
  decidim-initiatives/app/forms/decidim/initiatives/vote_form.rb
  decidim-initiatives/config/locales/en.yml
  decidim-meetings/config/locales/en.yml
  decidim-participatory_processes/spec/commands/create_participatory_process_admin_spec.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/admin/index_proposal_notes_spec.rb
  decidim_app-design/app/views/public/partials/_polling_officer_zone_questions.erb
Labels: module: proposals, module: core, module: meetings, module: admin, module: elections, module: assemblies, module: forms, module: participatory processes, module: conferences, module: initiatives, type: change

#10511 Standardize the format of the words "is not"
  config/i18n-tasks.yml
  decidim-admin/spec/helpers/aria_selected_link_to_helper_spec.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assemblies_setting.rb
  decidim-assemblies/spec/system/private_assemblies_spec.rb
  decidim-budgets/spec/system/orders_spec.rb
  decidim-comments/app/commands/decidim/comments/delete_comment.rb
  decidim-conferences/config/initializers/wicked_pdf.rb
  decidim-consultations/spec/controllers/decidim/consultations/consultations_controller_spec.rb
  decidim-consultations/spec/controllers/decidim/consultations/questions_controller_spec.rb
  decidim-core/app/commands/decidim/amendable/publish_draft.rb
  decidim-core/app/commands/decidim/amendable/update_draft.rb
  decidim-core/app/helpers/decidim/action_authorization_helper.rb
  decidim-core/app/jobs/decidim/event_publisher_job.rb
  decidim-core/app/jobs/decidim/machine_translation_resource_job.rb
  decidim-core/app/packs/src/decidim/vendor/tribute.js
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/reminder_registry.rb
  decidim-core/spec/forms/notifications_settings_form_spec.rb
  decidim-core/spec/helpers/decidim/social_share_button_helper_spec.rb
  decidim-core/spec/jobs/decidim/machine_translation_resource_job_spec.rb
  decidim-core/spec/lib/exporters/export_manifest_spec.rb
  decidim-core/spec/lib/gamification/badge_spec.rb
  decidim-core/spec/presenters/decidim/log/value_types/area_presenter_spec.rb
  decidim-core/spec/presenters/decidim/log/value_types/scope_presenter_spec.rb
  decidim-core/spec/system/data_consent/settings_spec.rb
  decidim-core/spec/system/last_activity_spec.rb
  decidim-debates/spec/system/user_creates_debate_spec.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/controllers/decidim/votings/votings_controller_spec.rb
  decidim-forms/config/initializers/wicked_pdf.rb
  decidim-initiatives/app/commands/decidim/initiatives/admin/update_initiatives_settings.rb
  decidim-initiatives/config/initializers/wicked_pdf.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/initiatives_controller_spec.rb
  decidim-initiatives/spec/system/create_initiative_spec.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/services/meeting_iframe_embedder_spec.rb
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-meetings/spec/system/user_creates_meeting_spec.rb
  decidim-participatory_processes/spec/helpers/decidim/participatory_processes/participatory_process_helper_spec.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/collaborative_drafts_fields_spec.rb
  decidim-proposals/spec/system/index_proposals_spec.rb
  decidim-proposals/spec/system/proposals_fields_spec.rb
  decidim-proposals/spec/system/vote_proposal_spec.rb
  docs/modules/customize/pages/texts.adoc
  docs/modules/develop/pages/turbolinks.adoc
  docs/modules/install/pages/checklist.adoc
  docs/modules/install/pages/empty-database.adoc
  docs/modules/install/pages/index.adoc
  docs/modules/install/pages/manual.adoc
Labels: team: documentation, module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: debates, module: elections, module: assemblies, module: forms, module: participatory processes, module: conferences, module: consultations, module: initiatives, type: change

#10525 Fix: Set required to proposal limit field in Proposal component
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/lib/decidim/proposals/component_spec.rb
Labels: module: proposals, type: fix

#10530 Backport 'Fix destroying scope types that have been associated with processes' to v0.27
  decidim-core/app/models/decidim/scope_type.rb
  decidim-participatory_processes/spec/models/decidim/participatory_process_spec.rb
Labels: module: core, backport, module: participatory processes, type: fix

#10531 Backport 'Fix meeting form for admin to update registrations_enabled field' to v0.27
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/spec/commands/admin/create_meeting_spec.rb
  decidim-meetings/spec/commands/admin/update_meeting_spec.rb
  decidim-meetings/spec/forms/admin/meeting_form_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
Labels: module: meetings, backport, type: fix

#10533 Backport 'Fix meeting form for admin to update registrations_enabled field' to v0.26
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/spec/commands/admin/create_meeting_spec.rb
  decidim-meetings/spec/commands/admin/update_meeting_spec.rb
  decidim-meetings/spec/forms/admin/meeting_form_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
Labels: module: meetings, backport, type: fix

#10536 Backport 'Remove actions from admin and blocked users' to v0.27
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/app/views/decidim/admin/officializations/index.html.erb
  decidim-admin/spec/permissions/decidim/admin/permissions_spec.rb
  decidim-admin/spec/system/admin_manages_officializations_spec.rb
  decidim-admin/spec/system/admin_manages_organization_admins_spec.rb
  decidim-core/app/helpers/decidim/cells_helper.rb
  decidim-core/app/presenters/decidim/user_group_presenter.rb
  decidim-core/app/presenters/decidim/user_presenter.rb
  decidim-core/spec/presenters/decidim/user_presenter_spec.rb
  decidim-core/spec/system/messaging/profile_conversations_spec.rb
  decidim-core/spec/system/user_report_spec.rb
  decidim-system/app/helpers/decidim/system/application_helper.rb
  decidim-system/app/views/decidim/system/admins/index.html.erb
  decidim-system/spec/helpers/decidim/system/application_helper_spec.rb
  decidim-system/spec/system/manage_admins_spec.rb
Labels: module: core, module: admin, module: system, backport, type: fix

#10537 Backport 'Remove actions from admin and blocked users' to v0.26
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/app/views/decidim/admin/officializations/index.html.erb
  decidim-admin/spec/permissions/decidim/admin/permissions_spec.rb
  decidim-admin/spec/system/admin_manages_officializations_spec.rb
  decidim-admin/spec/system/admin_manages_organization_admins_spec.rb
  decidim-core/app/helpers/decidim/cells_helper.rb
  decidim-core/app/presenters/decidim/user_group_presenter.rb
  decidim-core/app/presenters/decidim/user_presenter.rb
  decidim-core/spec/presenters/decidim/user_presenter_spec.rb
  decidim-core/spec/system/messaging/profile_conversations_spec.rb
  decidim-core/spec/system/user_report_spec.rb
  decidim-system/app/helpers/decidim/system/application_helper.rb
  decidim-system/app/views/decidim/system/admins/index.html.erb
  decidim-system/spec/helpers/decidim/system/application_helper_spec.rb
  decidim-system/spec/system/manage_admins_spec.rb
Labels: module: core, module: admin, module: system, backport, type: fix

#10545 Backport 'Make buttons respect the organizations' primary color' to v0.26
  decidim-core/app/packs/stylesheets/decidim/modules/_buttons.scss
Labels: module: core, backport, type: fix

#10546 Backport 'Make buttons respect the organizations' primary color' to v0.27
  decidim-core/app/packs/stylesheets/decidim/modules/_buttons.scss
Labels: module: core, backport, type: fix

#10538 Backport 'Export proposal body without HTML tags' to v0.26
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_serializer_spec.rb
Labels: module: proposals, backport, type: fix

#10539 Backport 'Export proposal body without HTML tags' to v0.27
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_serializer_spec.rb
Labels: module: proposals, backport, type: fix

#10549 Backport 'Fix: Set required to proposal limit field in Proposal component' to v0.27
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/lib/decidim/proposals/component_spec.rb
Labels: module: proposals, backport, type: fix

#10550 Backport 'Fix: Set required to proposal limit field in Proposal component' to v0.26
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/lib/decidim/proposals/component_spec.rb
Labels: module: proposals, backport, type: fix

#10541 Backport 'Fix dynamic upload file field required indicator + make option naming consistent' to v0.27
  decidim-admin/app/views/decidim/admin/attachments/_form.html.erb
  decidim-admin/app/views/decidim/admin/imports/new.html.erb
  decidim-admin/app/views/decidim/admin/participatory_space_private_users_csv_imports/new.html.erb
  decidim-admin/app/views/decidim/admin/user_groups_csv_verifications/new.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assembly_imports/_form.html.erb
  decidim-conferences/app/views/decidim/conferences/admin/diplomas/_form.html.erb
  decidim-conferences/app/views/decidim/conferences/admin/partners/_form.html.erb
  decidim-core/app/cells/decidim/upload_modal/files.erb
  decidim-core/app/cells/decidim/upload_modal_cell.rb
  decidim-core/app/packs/src/decidim/direct_uploads/upload_modal.js
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/cells/decidim/upload_modal_cell_spec.rb
  decidim-elections/app/views/decidim/votings/census/admin/census/_new_census.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives_types/_form.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_imports/_form.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/participatory_texts/new_import.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/_form.html.erb
Labels: module: proposals, module: core, module: admin, module: system, backport, module: elections, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: fix

#10343 Fix ImageMagick errors when trying to identify image dimensions
  decidim-core/app/validators/uploader_image_dimensions_validator.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/models/decidim/attachment_spec.rb
  decidim-core/spec/validators/uploader_image_dimensions_validator_spec.rb
Labels: module: core, type: fix

#10557 Finalize word standardization
  decidim-admin/spec/system/admin_manages_global_moderations_spec.rb
  decidim-admin/spec/system/admin_manages_organization_areas_spec.rb
  decidim-assemblies/spec/commands/admin/destroy_area_with_assemblies_spec.rb
  decidim-budgets/config/locales/en.yml
  decidim-core/app/presenters/decidim/nil_presenter.rb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
  decidim-meetings/spec/controllers/decidim/meetings/meetings_controller_spec.rb
  decidim-participatory_processes/spec/commands/admin/destroy_area_with_processes_spec.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/controllers/decidim/proposals/proposals_controller_spec.rb
  decidim-proposals/spec/lib/decidim/proposals/odt_to_markdown_spec.rb
  decidim-sortitions/config/locales/en.yml
  decidim-verifications/config/locales/en.yml
  docs/modules/configure/pages/environment_variables.adoc
  docs/modules/customize/pages/logic.adoc
Labels: team: documentation, module: proposals, module: core, module: meetings, module: budgets, module: admin, module: verifications, module: assemblies, module: generators, module: sortitions, module: participatory processes, type: change

#10342 Fix linking to invariable image URLs
  decidim-core/app/uploaders/decidim/application_uploader.rb
  decidim-core/spec/models/decidim/attachment_spec.rb
  decidim-core/spec/uploaders/application_uploader_spec.rb
Labels: module: core, type: fix, release: v0.27

#10563 Feature/redesign order filter
  .codeclimate.yml
  decidim-budgets/spec/system/sorting_projects_spec.rb
  decidim-consultations/spec/system/consultations_spec.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_order-by.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/app/views/decidim/shared/_orders.html.erb
  decidim-elections/spec/system/sorting_elections_spec.rb
  decidim-elections/spec/system/votings_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: contract: redesign

#10376 Redesign: layout item
  config/i18n-tasks.yml
  decidim-accountability/app/cells/decidim/accountability/project/show.erb
  decidim-accountability/app/controllers/decidim/accountability/results_controller.rb
  decidim-accountability/app/views/decidim/accountability/results/_project.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_projects_aside.html.erb
  decidim-accountability/app/views/decidim/accountability/versions/show.html.erb
  decidim-accountability/spec/system/explore_versions_spec.rb
  decidim-core/app/cells/decidim/version/show.erb
  decidim-core/app/cells/decidim/version_cell.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_header.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_layout.scss
  decidim-core/app/views/layouts/decidim/header/_redesigned_main.html.erb
  decidim-core/app/views/layouts/decidim/shared/_drawer.html.erb
  decidim-core/app/views/layouts/decidim/shared/_layout_center.html.erb
  decidim-core/app/views/layouts/decidim/shared/_layout_item.html.erb
  decidim-core/config/locales/en.yml
  decidim-debates/app/views/decidim/debates/versions/show.html.erb
  decidim-debates/config/locales/en.yml
  decidim-debates/spec/system/debates_versions_spec.rb
  decidim-initiatives/app/views/decidim/initiatives/versions/show.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/system/initiatives_versions_spec.rb
  decidim-meetings/app/controllers/decidim/meetings/meetings_controller.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting.html.erb
  decidim-meetings/app/views/decidim/meetings/shared/_meetings_aside.html.erb
  decidim-meetings/app/views/decidim/meetings/versions/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/system/explore_versions_spec.rb
  decidim-proposals/app/views/decidim/proposals/versions/show.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/collaborative_drafts_versions_spec.rb
  decidim-proposals/spec/system/proposals_versions_spec.rb
Labels: contract: redesign

#10564 Update GitHub actions to ubuntu-latest
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_admin_system.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_lib.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_system_ssl.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators_flags.yml
  .github/workflows/ci_generators_main.yml
  .github/workflows/ci_generators_rest.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_initiatives_system_admin.yml
  .github/workflows/ci_initiatives_system_public.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
  .github/workflows/lint_pr_format.yml
  .github/workflows/on_docs_update.yml
  .github/workflows/on_release.yml
  decidim-core/spec/models/decidim/attachment_spec.rb
Labels: type: internal

#10551 Fix empty proposals component configuration limits
  decidim-dev/lib/decidim/dev/test/rspec_support/component_context.rb
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/lib/decidim/proposals/component_spec.rb
Labels: module: proposals, type: fix

#10553 Add spelling check script for the CI
  .github/run_spelling_check.sh
  .github/workflows/lint_code.yml
  .rubocop_ruby.yml
  .spelling.yml
  spec/spellcheck_spec.rb
Labels: target: developer-experience, type: internal

#10566 Fix minor spelling mistakes
  decidim-accountability/config/locales/en.yml
  decidim-admin/app/helpers/decidim/admin/admin_terms_helper.rb
  decidim-admin/app/helpers/decidim/admin/dashboard_helper.rb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/forms/decidim/admin/import_form_spec.rb
  decidim-admin/spec/system/admin_tos_acceptance_spec.rb
  decidim-admin/spec/system/space_admin_manages_global_moderations_spec.rb
  decidim-assemblies/config/locales/en.yml
  decidim-blogs/config/locales/en.yml
  decidim-blogs/spec/helpers/decidim/blogs/admin/post_helper_spec.rb
  decidim-budgets/config/locales/en.yml
  decidim-conferences/config/locales/en.yml
  decidim-conferences/spec/mailers/conference_registration_mailer_spec.rb
  decidim-conferences/spec/presenters/decidim/log/value_types/conference_presenter_spec.rb
  decidim-consultations/config/locales/en.yml
  decidim-consultations/spec/forms/decidim/consultations/multi_vote_form_spec.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/helpers/decidim/messaging/conversation_helper_spec.rb
  decidim-core/spec/system/messaging/conversations_spec.rb
  decidim-debates/config/locales/en.yml
  decidim-debates/spec/events/decidim/debates/creation_enabled_event_spec.rb
  decidim-elections/config/locales/en.yml
  decidim-forms/config/locales/en.yml
  decidim-initiatives/config/locales/en.yml
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/controllers/decidim/meetings/meetings_controller_spec.rb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/spec/presenters/decidim/log/value_types/participatory_process_type_presenter_spec.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/controllers/decidim/proposals/proposals_controller_spec.rb
  decidim-proposals/spec/events/decidim/proposals/admin/proposal_note_created_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/creation_enabled_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/endorsing_enabled_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/publish_proposal_event_spec.rb
  decidim-proposals/spec/system/index_proposals_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
  decidim-sortitions/config/locales/en.yml
  decidim-system/config/locales/en.yml
  decidim-templates/config/locales/en.yml
  decidim-verifications/config/locales/en.yml
  decidim-verifications/spec/system/postal_letter/code_request_spec.rb
  decidim-verifications/spec/system/postal_letter/code_verification_spec.rb
  decidim-verifications/spec/system/sms/code_request_spec.rb
  decidim-verifications/spec/system/sms/code_verification_spec.rb
Labels: target: user-experience, module: proposals, module: core, module: meetings, module: budgets, module: admin, module: system, module: verifications, module: accountability, target:cleanup, module: elections, module: assemblies, module: blogs, module: sortitions, module: forms, module: participatory processes, module: conferences, module: consultations, module: initiatives, module: templates, type: change

#10568 Update the checkout GitHub action to v3
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_admin_system.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_lib.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_system_ssl.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators_flags.yml
  .github/workflows/ci_generators_main.yml
  .github/workflows/ci_generators_rest.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_initiatives_system_admin.yml
  .github/workflows/ci_initiatives_system_public.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
Labels: dependencies, type: internal

#10570 Update the cache GitHub action to v3
  .github/actions/module-rspec/action.yml
  .github/workflows/ci_generators_flags.yml
  .github/workflows/ci_generators_main.yml
  .github/workflows/ci_generators_rest.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/lint_code.yml
Labels: dependencies, type: internal

#10567 Update the setup-node GitHub action to v3
  .github/actions/module-rspec/action.yml
  .github/workflows/README.md
  .github/workflows/ci_generators_flags.yml
  .github/workflows/ci_generators_main.yml
  .github/workflows/ci_generators_rest.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/lint_code.yml
Labels: dependencies, type: internal

#9655 Enhance module generator
  decidim-generators/lib/decidim/generators/component_generator.rb
  decidim-generators/lib/decidim/generators/component_templates/.node-version
  decidim-generators/lib/decidim/generators/component_templates/.rubocop.yml.erb
  decidim-generators/lib/decidim/generators/component_templates/.ruby-version
  decidim-generators/lib/decidim/generators/component_templates/README.md.erb
  decidim-generators/lib/decidim/generators/component_templates/app/controllers/decidim/component/admin/application_controller.rb.erb
  decidim-generators/lib/decidim/generators/component_templates/app/permissions/decidim/component/admin/permissions.rb.erb
  decidim-generators/lib/decidim/generators/component_templates/circleci/config.yml
  decidim-generators/lib/decidim/generators/component_templates/decidim-component.gemspec.erb
  decidim-generators/lib/decidim/generators/component_templates/github/ci.yml.erb
  decidim-generators/lib/decidim/generators/component_templates/spec/lib/version_spec.rb.erb
  decidim-generators/lib/decidim/generators/component_templates/spec/permissions/admin/permissions_spec.rb.erb
Labels: type: feature, module: generators

#10572 Address Crowdin feedback for the source locale
  decidim-admin/config/locales/en.yml
  decidim-core/config/locales/en.yml
  decidim-elections/config/locales/en.yml
  decidim-proposals/config/locales/en.yml
Labels: target: user-experience, module: proposals, module: core, module: admin, target:cleanup, module: elections, type: change

#10380 Redesign: search results
  decidim-core/app/cells/decidim/search_results/show.erb
  decidim-core/app/cells/decidim/search_results_section/show.erb
  decidim-core/app/cells/decidim/search_results_section_cell.rb
  decidim-core/app/controllers/decidim/searches_controller.rb
  decidim-core/app/helpers/decidim/icon_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_header.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_search.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/app/views/decidim/searches/_count.html.erb
  decidim-core/app/views/decidim/searches/_filters.html.erb
  decidim-core/app/views/decidim/searches/index.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_main_search.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test/shared_examples/searchable_results_examples.rb
  decidim-core/lib/decidim/searchable.rb
  decidim-core/spec/system/search_spec.rb
  decidim-meetings/spec/system/search_meetings_spec.rb
Labels: contract: redesign

#10571 Migrate GitHub actions to the `GITHUB_OUTPUT` environment variable
  .github/actions/module-rspec/action.yml
  .github/workflows/ci_generators_flags.yml
  .github/workflows/ci_generators_main.yml
  .github/workflows/ci_generators_rest.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/lint_code.yml
Labels: target: developer-experience, type: internal

#10493 Fix admin password change required for omniauth-only accounts
  decidim-core/app/commands/decidim/create_omniauth_registration.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  decidim-core/spec/models/decidim/user_spec.rb
Labels: module: core, type: fix, release: v0.27

#10458 Redesign: add image to blog item
  decidim-blogs/app/controllers/decidim/blogs/posts_controller.rb
  decidim-blogs/app/packs/stylesheets/blogs.scss
  decidim-blogs/app/views/decidim/blogs/posts/show.html.erb
  decidim-core/app/cells/decidim/photo/show.erb
  decidim-core/app/cells/decidim/photo_cell.rb
Labels: contract: redesign

#10517 Feature/redesign accountability versions
  decidim-accountability/app/cells/decidim/accountability/result_metadata/versions.erb
  decidim-accountability/app/views/decidim/accountability/versions/index.html.erb
  decidim-accountability/lib/decidim/accountability/engine.rb
  decidim-accountability/spec/system/explore_versions_spec.rb
Labels: contract: redesign

#10593 Formalize the usage of the phrase "let's"
  decidim-api/docs/usage.md
  decidim-assemblies/lib/decidim/assemblies/query_extensions.rb
  decidim-budgets/README.md
  decidim-consultations/lib/decidim/consultations/query_extensions.rb
  decidim-core/app/controllers/concerns/decidim/force_authentication.rb
  decidim-core/config/initializers/devise.rb
  decidim-core/lib/decidim/query_extensions.rb
  decidim-elections/app/commands/decidim/elections/admin/setup_election.rb
  decidim-elections/lib/decidim/votings/query_extensions.rb
  decidim-proposals/spec/cells/decidim/proposals/reported_content_cell_spec.rb
  docs/modules/customize/pages/logic.adoc
  docs/modules/customize/pages/styles.adoc
  docs/modules/develop/pages/content_blocks.adoc
  docs/modules/develop/pages/newsletter_templates.adoc
  docs/modules/develop/pages/traceable.adoc
Labels: team: documentation, module: proposals, module: core, module: budgets, module: elections, module: assemblies, module: api, module: consultations, type: change

#10578 Ship the rubocop rules with the `decidim-dev` gem
  .codeclimate.yml
  .rubocop.yml
  decidim-dev/config/rubocop/disabled.yml
  decidim-dev/config/rubocop/faker.yml
  decidim-dev/config/rubocop/rails.yml
  decidim-dev/config/rubocop/rspec.yml
  decidim-dev/config/rubocop/ruby.yml
  decidim-dev/decidim-dev.gemspec
  decidim-dev/rubocop-decidim.yml
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/app_templates/.rubocop.yml
  decidim-generators/lib/decidim/generators/component_generator.rb
  decidim-generators/lib/decidim/generators/component_templates/.rubocop.yml
  decidim-generators/lib/decidim/generators/component_templates/.rubocop.yml.erb
Labels: target: developer-experience, module: dev, type: change

#10592 Standardize the format of the words "that is"
  .spelling.yml
  decidim-admin/app/controllers/decidim/admin/concerns/has_private_users.rb
  decidim-core/app/packs/src/decidim/back_to_list.js
  decidim-core/app/packs/stylesheets/decidim/modules/_buttons.scss
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/participatory_space_manifest.rb
  decidim-core/lib/decidim/translatable_attributes.rb
  decidim-core/spec/events/decidim/change_nickname_event_spec.rb
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
  decidim-proposals/spec/system/vote_proposal_spec.rb
  decidim-verifications/lib/decidim/verifications/workflow_manifest.rb
  docs/modules/configure/pages/environment_variables.adoc
  docs/modules/customize/pages/menu.adoc
  docs/modules/develop/pages/components.adoc
  docs/modules/develop/pages/embeddable.adoc
  docs/modules/develop/pages/guide_development_with_localhost_ssl.adoc
  docs/modules/develop/pages/modules.adoc
  docs/modules/develop/pages/releases.adoc
  docs/modules/develop/pages/traceable.adoc
Labels: team: documentation, module: proposals, module: core, module: meetings, module: admin, module: verifications, type: change

#10580 Standardize the format of the words "we will"
  .github/ISSUE_TEMPLATE/Feature_request.md
  .spelling.yml
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_registrations_form.rb
  docs/modules/develop/pages/guide_conventions.adoc
  docs/modules/develop/pages/guide_development_with_localhost_ssl.adoc
  docs/modules/develop/pages/newsletter_templates.adoc
  docs/modules/install/pages/manual.adoc
Labels: team: documentation, module: meetings, type: change

#10581 Standardize the format of the words "we have"
  .github/ISSUE_TEMPLATE/Feature_request.md
  .spelling.yml
  README.adoc
  decidim-api/docs/usage.md
  decidim-core/app/packs/src/decidim/editor/linebreak_module.js
  decidim-core/app/packs/src/decidim/redesigned_index.js
  decidim-core/app/packs/src/decidim/vendor/leaflet-tilelayer-here.js
  decidim-core/config/locales/en.yml
  decidim-core/spec/system/account_spec.rb
  decidim-core/spec/system/user_tos_acceptance_spec.rb
  docs/modules/develop/pages/guide_example_apps.adoc
  docs/modules/develop/pages/testing.adoc
  lib/tasks/decidim_tasks.rake
Labels: team: documentation, module: core, type: change

#10602 Add more spelling check rules for the new PRs
  .spelling.yml
Labels: type: internal

#10582 Standardize the format of the words "we are"
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .simplecov
  .spelling.yml
  CONTRIBUTING.adoc
  README.adoc
  decidim-admin/app/views/decidim/admin/devise/mailers/password_change.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/shared/manage_impersonations_examples.rb
  decidim-admin/spec/system/admin_verifies_user_groups_via_csv_spec.rb
  decidim-assemblies/app/constraints/decidim/assemblies/current_assembly.rb
  decidim-conferences/app/constraints/decidim/conferences/current_conference.rb
  decidim-consultations/app/constraints/decidim/consultations/current_question.rb
  decidim-consultations/config/locales/en.yml
  decidim-core/app/cells/decidim/activities_cell.rb
  decidim-core/app/cells/decidim/progress_bar_cell.rb
  decidim-core/app/constraints/decidim/current_component.rb
  decidim-core/app/controllers/decidim/application_controller.rb
  decidim-core/app/controllers/decidim/devise/confirmations_controller.rb
  decidim-core/app/controllers/decidim/devise/passwords_controller.rb
  decidim-core/app/controllers/decidim/devise/unlocks_controller.rb
  decidim-core/app/helpers/decidim/view_hooks_helper.rb
  decidim-core/app/mailers/decidim/reported_mailer.rb
  decidim-core/app/models/decidim/action_log.rb
  decidim-core/app/models/decidim/content_block.rb
  decidim-core/app/scrubbers/decidim/admin_input_scrubber.rb
  decidim-core/app/scrubbers/decidim/newsletter_scrubber.rb
  decidim-core/config/initializers/devise.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/lib/decidim/participatory_space_manifest.rb
  decidim-core/lib/decidim/resource_manifest.rb
  decidim-core/lib/decidim/translatable_resource.rb
  decidim-elections/app/constraints/decidim/votings/current_voting.rb
  decidim-initiatives/app/constraints/decidim/initiatives/current_initiative.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_registrations_form.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_registration_forms_spec.rb
  decidim-participatory_processes/app/constraints/decidim/participatory_processes/current_participatory_process.rb
  decidim-system/app/views/decidim/system/devise/mailers/password_change.html.erb
  decidim_app-design/README.md
  docs/modules/develop/pages/backports.adoc
  docs/modules/develop/pages/guide_github_projects.adoc
  docs/modules/develop/pages/permissions.adoc
  docs/modules/develop/pages/traceable.adoc
  docs/modules/develop/pages/view_hooks.adoc
  docs/modules/install/pages/manual.adoc
Labels: team: documentation, module: core, module: meetings, module: admin, module: elections, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: change

#10583 Standardize the format of the words "you have"
  .spelling.yml
  decidim-admin/config/locales/en.yml
  decidim-budgets/config/locales/en.yml
  decidim-core/config/locales/en.yml
  decidim-core/spec/mailers/decidim_devise_mailer_spec.rb
  decidim-elections/README.md
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/events/decidim/elections/trustees/notify_new_trustee_event_spec.rb
  decidim-elections/spec/events/decidim/elections/trustees/notify_trustee_new_election_event_spec.rb
  decidim-elections/spec/events/decidim/elections/votes/vote_accepted_event_spec.rb
  decidim-elections/spec/mailers/decidim/elections/vote_accepted_mailer_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/README.md.erb
  decidim-initiatives/config/locales/en.yml
  decidim-proposals/config/locales/en.yml
  decidim-surveys/config/locales/en.yml
  decidim-verifications/config/locales/en.yml
  decidim-verifications/spec/controllers/decidim/authorizations_controller_spec.rb
  decidim-verifications/spec/system/authorizations_spec.rb
  decidim-verifications/spec/system/postal_letter/code_verification_spec.rb
  decidim-verifications/spec/system/sms/code_verification_spec.rb
  decidim_app-design/config/application.rb
  docs/modules/develop/pages/guide_development_app.adoc
  docs/modules/develop/pages/guide_development_with_localhost_ssl.adoc
  docs/modules/develop/pages/guide_example_apps.adoc
  docs/modules/develop/pages/releases.adoc
  docs/modules/services/pages/social_providers.adoc
Labels: team: documentation, module: proposals, module: core, module: budgets, module: admin, module: surveys, module: verifications, module: elections, module: generators, module: initiatives, type: change

#10584 Standardize the format of the words "I have"
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/system/polling_officer_zone_spec.rb
  decidim_app-design/app/views/public/partials/_polling_officer_zone_count_votes_upload_certificate.html.erb
Labels: module: elections, type: change

#10585 Standardize the format of the words "they have"
  decidim-initiatives/app/queries/decidim/initiatives/support_period_finished_initiatives.rb
Labels: module: initiatives, type: change

#10586 Standardize the format of the words "would have"
  decidim-budgets/spec/models/decidim/budgets/project_spec.rb
Labels: module: budgets, type: change

#10587 Standardize the format of the words "you are"
  .github/PULL_REQUEST_TEMPLATE.md
  .github/config.yml
  CONTRIBUTING.adoc
  decidim-admin/spec/system/admin_tos_acceptance_spec.rb
  decidim-admin/spec/system/space_admin_manages_global_moderations_spec.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test/shared_examples/errors.rb
  decidim-core/lib/decidim/faker/localized.rb
  decidim-core/spec/system/pwa_features_spec.rb
  decidim-core/spec/system/user_group_leaving_spec.rb
  decidim-dev/config/rubocop/ruby.yml
  decidim-dev/lib/decidim/dev/test/spec_helper.rb
  decidim-elections/config/locales/en.yml
  decidim-generators/lib/decidim/generators/app_templates/README.md.erb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-meetings/config/locales/en.yml
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/events/decidim/proposals/accepted_proposal_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/evaluating_proposal_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/rejected_proposal_event_spec.rb
  decidim-verifications/lib/decidim/verifications/adapter.rb
  decidim_app-design/app/views/public/meetings/meetings-callout.html.erb
  decidim_app-design/app/views/public/partials/_pagination.html.erb
  decidim_app-design/config/initializers/backtrace_silencers.rb
  decidim_app-design/config/secrets.yml
  docs/README.adoc
  docs/modules/develop/pages/backports.adoc
  docs/modules/develop/pages/guide_development_app.adoc
  docs/modules/develop/pages/guide_migrate_webpacker_app.adoc
  docs/modules/develop/pages/newsletter_templates.adoc
  docs/modules/develop/pages/releases.adoc
  docs/modules/develop/pages/turbolinks.adoc
  docs/modules/install/pages/checklist.adoc
  docs/modules/install/pages/manual.adoc
  docs/modules/services/pages/social_providers.adoc
Labels: team: documentation, module: proposals, module: core, module: meetings, module: admin, module: verifications, module: elections, module: generators, type: change

#10588 Standardize the format of the words "they are"
  decidim-admin/lib/decidim/admin/components.rb
  decidim-core/app/cells/decidim/navbar_admin_link_cell.rb
  decidim-core/app/helpers/decidim/application_helper.rb
  decidim-core/app/packs/src/decidim/redesigned_index.js
  decidim-core/app/services/decidim/email_notification_generator.rb
  decidim-core/app/services/decidim/notification_generator.rb
  decidim-core/lib/decidim/translatable_resource.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/system/vote_in_person_spec.rb
  decidim-initiatives/spec/system/create_initiative_spec.rb
  decidim-proposals/app/models/decidim/proposals/proposal_vote.rb
  docs/modules/develop/pages/components.adoc
  docs/modules/develop/pages/notifications.adoc
  docs/modules/develop/pages/releases.adoc
  docs/modules/services/pages/social_providers.adoc
Labels: team: documentation, module: proposals, module: core, module: admin, module: elections, module: initiatives, type: change

#10595 Standardize the format of the words "where is"
  decidim-core/spec/commands/decidim/search_spec.rb
Labels: module: core, type: change

#10591 Standardize the format of the words "what is"
  decidim-api/docs/usage.md
  decidim-core/config/locales/en.yml
  docs/README.adoc
Labels: team: documentation, module: core, module: api, type: change

#10594 Add the word formats with the `’` character to the spelling rules
  .spelling.yml
  decidim-core/config/locales/en.yml
Labels: module: core, type: change

#10598 Standardize the format of the words "it will"
  decidim-admin/app/helpers/decidim/admin/settings_helper.rb
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/src/decidim/redesigned_index.js
  docs/modules/configure/pages/environment_variables.adoc
  docs/modules/develop/pages/components.adoc
  docs/modules/develop/pages/profiling.adoc
Labels: team: documentation, module: core, module: admin, type: change

#10599 Standardize the format of the words "you will"
  .github/workflows/README.md
  README.adoc
  RELEASE_NOTES.md
  bin/backporter
  bin/changelog_generator
  decidim-accountability/config/locales/en.yml
  decidim-admin/config/locales/en.yml
  decidim-api/docs/usage.md
  decidim-core/README.md
  decidim-core/app/presenters/decidim/log/diff_presenter.rb
  decidim-core/app/presenters/decidim/log/resource_presenter.rb
  decidim-core/app/presenters/decidim/log/space_presenter.rb
  decidim-core/app/presenters/decidim/log/user_presenter.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/searchable.rb
  decidim-core/spec/system/account_spec.rb
  decidim-dev/config/rubocop/ruby.yml
  decidim-elections/config/locales/en.yml
  decidim-generators/README.md
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-initiatives/spec/system/admin/export_spec.rb
  decidim-meetings/config/locales/en.yml
  decidim-proposals/config/locales/en.yml
  decidim-system/README.md
  decidim-verifications/README.md
  decidim-verifications/config/locales/en.yml
  docs/modules/configure/pages/environment_variables.adoc
  docs/modules/configure/pages/initializer.adoc
  docs/modules/customize/pages/javascript.adoc
  docs/modules/customize/pages/menu.adoc
  docs/modules/customize/pages/social_shares.adoc
  docs/modules/customize/pages/styles.adoc
  docs/modules/customize/pages/views.adoc
  docs/modules/develop/pages/backports.adoc
  docs/modules/develop/pages/content_blocks.adoc
  docs/modules/develop/pages/custom_seed_data.adoc
  docs/modules/develop/pages/embeddable.adoc
  docs/modules/develop/pages/guide_development_app.adoc
  docs/modules/develop/pages/guide_development_with_localhost_ssl.adoc
  docs/modules/develop/pages/guide_example_apps.adoc
  docs/modules/develop/pages/machine_translations.adoc
  docs/modules/develop/pages/managing_translations_i18n.adoc
  docs/modules/develop/pages/newsletter_templates.adoc
  docs/modules/develop/pages/profiling.adoc
  docs/modules/develop/pages/releases.adoc
  docs/modules/develop/pages/testing.adoc
  docs/modules/install/pages/checklist.adoc
  docs/modules/install/pages/manual.adoc
  docs/modules/services/pages/maps.adoc
  docs/modules/services/pages/sms.adoc
  docs/modules/services/pages/social_providers.adoc
Labels: team: documentation, module: proposals, module: core, module: meetings, module: admin, module: system, module: verifications, module: accountability, module: elections, module: generators, module: api, module: initiatives, type: change

#10596 Update the setup-chromedriver GitHub action to latest v1
  .github/actions/module-rspec/action.yml
  decidim-generators/lib/decidim/generators/component_templates/github/ci.yml.erb
Labels: dependencies, type: internal

#10597 Update the upload-artifact GitHub action to v3
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_admin_system.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_lib.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_system_ssl.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_initiatives_system_admin.yml
  .github/workflows/ci_initiatives_system_public.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  decidim-generators/lib/decidim/generators/component_templates/github/ci.yml.erb
Labels: dependencies, type: internal

#10600 Use `login_as` in system specs instead of `sign_in`
  .codeclimate.yml
  decidim-accountability/spec/system/admin/admin_imports_projects_to_accountability_spec.rb
  decidim-blogs/spec/system/endorse_posts_spec.rb
  decidim-consultations/spec/system/consultation_spec.rb
  decidim-core/spec/system/messaging/conversations_spec.rb
  decidim-core/spec/system/messaging/profile_conversations_spec.rb
  decidim-core/spec/system/social_share_button_spec.rb
  decidim-elections/spec/system/voting_spec.rb
  decidim-initiatives/spec/system/authorized_comments_spec.rb
  decidim-proposals/spec/system/authorized_comments_spec.rb
  decidim-proposals/spec/system/collaborative_drafts_spec.rb
  decidim-verifications/spec/system/postal_letter/code_request_spec.rb
Labels: target: developer-experience, type: internal

#10522 Fix blocked users not present in global moderation panel
  RELEASE_NOTES.md
  decidim-admin/app/commands/decidim/admin/block_user.rb
  decidim-admin/spec/commands/decidim/admin/block_user_spec.rb
  decidim-core/lib/tasks/upgrade/decidim_user_moderation.rake
Labels: module: admin, type: fix

#10561 Nullable component setting generates error :comments_max_length
  decidim-accountability/lib/decidim/accountability/component.rb
  decidim-accountability/spec/lib/decidim/accountability/component_spec.rb
  decidim-admin/app/forms/decidim/admin/organization_form.rb
  decidim-admin/spec/forms/organization_form_spec.rb
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-blogs/lib/decidim/blogs/component.rb
  decidim-blogs/spec/lib/decidim/blogs/component_spec.rb
  decidim-budgets/lib/decidim/budgets/component.rb
  decidim-budgets/spec/lib/decidim/budgets/admin/component_spec.rb
  decidim-comments/app/cells/decidim/comments/comment_form_cell.rb
  decidim-comments/spec/cells/decidim/comments/comment_form_spec.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-debates/lib/decidim/debates/component.rb
  decidim-debates/lib/decidim/debates/test/factories.rb
  decidim-debates/spec/lib/decidim/debates/component_spec.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/spec/lib/decidim/meetings/component_management_spec.rb
  decidim-sortitions/lib/decidim/sortitions/component.rb
  decidim-sortitions/spec/lib/decidim/sortitions/component_spec.rb
Labels: module: meetings, module: budgets, module: accountability, module: debates, module: blogs, module: sortitions, type: fix

#10604 Change I18n captions on moderation module
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/system/space_admin_manages_global_moderations_spec.rb
  decidim-admin/spec/system/space_moderator_manages_global_moderations_spec.rb
Labels: module: admin, type: fix

#10605 Enable new spelling check rules
  .spelling.yml
Labels: type: internal

#10227 FIx sorting question choice validations
  decidim-forms/app/forms/decidim/forms/answer_form.rb
  decidim-forms/app/models/decidim/forms/question.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/has_questionnaire.rb
  decidim-forms/spec/forms/decidim/forms/answer_form_spec.rb
Labels: status: needs feedback, module: forms, type: fix, release: v0.27

#10576 Further spelling mistake fixes
  decidim-admin/config/locales/en.yml
  decidim-core/config/locales/en.yml
  decidim-elections/config/locales/en.yml
  decidim-initiatives/config/locales/en.yml
  decidim-proposals/config/locales/en.yml
Labels: target: user-experience, module: proposals, module: admin, type: change

#10619 Standardize the format of the words "those will"
  .spelling.yml
  decidim-core/app/packs/src/decidim/direct_uploads/redesigned_upload_field.js
Labels: module: core, type: change

#10621 Fix missing documentation link
  docs/modules/customize/pages/data_consent.adoc
Labels: team: documentation, release: v0.27

#10612 Add Social Share Modal missing image to documentation
  docs/modules/customize/assets/images/social-share-modal-default.png
Labels: team: documentation

#10418 Fix memory leak with user answers serializer (at survey export)
  decidim-forms/lib/decidim/forms/user_answers_serializer.rb
  decidim-forms/spec/serializers/decidim/forms/user_answers_serializer_spec.rb
Labels: module: forms, type: fix, release: v0.27

#10624 Fix a proposals spec after word standardization
  decidim-proposals/spec/events/decidim/proposals/publish_proposal_event_spec.rb
Labels: module: proposals, type: internal

#10606 Upgrade Graphql to 2.0.19 and Graphql-Api to 3.0.1
  Gemfile.lock
  RELEASE_NOTES.md
  decidim-api/decidim-api.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: graphql-api, dependencies, type: change

#10614 Rename "terms and conditions" to "terms of service"
  config/i18n-tasks.yml
  decidim-admin/README.md
  decidim-admin/app/commands/decidim/admin/update_organization.rb
  decidim-admin/app/commands/decidim/admin/update_organization_tos_version.rb
  decidim-admin/app/controllers/decidim/admin/admin_terms_controller.rb
  decidim-admin/app/forms/decidim/admin/organization_form.rb
  decidim-admin/app/helpers/decidim/admin/admin_terms_helper.rb
  decidim-admin/app/helpers/decidim/admin/dashboard_helper.rb
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/app/views/decidim/admin/admin_terms/show.html.erb
  decidim-admin/app/views/decidim/admin/dashboard/show.html.erb
  decidim-admin/app/views/decidim/admin/organization/_form.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/commands/decidim/admin/update_organization_spec.rb
  decidim-admin/spec/commands/decidim/admin/update_organization_tos_version_spec.rb
  decidim-admin/spec/commands/decidim/admin/update_static_page_changed_notably_spec.rb
  decidim-admin/spec/forms/organization_form_spec.rb
  decidim-admin/spec/permissions/decidim/admin/permissions_spec.rb
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-admin/spec/system/admin_manages_static_page_content_blocks_spec.rb
  decidim-admin/spec/system/admin_tos_acceptance_spec.rb
  decidim-admin/spec/system/space_admin_manages_global_moderations_spec.rb
  decidim-admin/spec/system/space_moderator_manages_global_moderations_spec.rb
  decidim-admin/spec/views/decidim/static_pages/_form.html.erb_spec.rb
  decidim-admin/spec/views/decidim/static_pages/_form_notable_changes.html.erb_spec.rb
  decidim-core/app/cells/decidim/tos_page/form.erb
  decidim-core/app/cells/decidim/tos_page/refuse_btn_modal.erb
  decidim-core/app/cells/decidim/tos_page_cell.rb
  decidim-core/app/controllers/concerns/decidim/needs_tos_accepted.rb
  decidim-core/app/controllers/decidim/pages_controller.rb
  decidim-core/app/controllers/decidim/tos_controller.rb
  decidim-core/app/models/decidim/organization.rb
  decidim-core/app/models/decidim/static_page.rb
  decidim-core/app/views/decidim/devise/invitations/edit.html.erb
  decidim-core/app/views/decidim/devise/registrations/new.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/db/migrate/20180508111640_add_tos_version_to_organization.rb
  decidim-core/db/migrate/20181022090732_add_columns_to_pages.rb
  decidim-core/db/migrate/20201128130723_add_allow_public_access_to_static_pages.rb
  decidim-core/db/migrate/20230322101707_rename_terms_of_use.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/tasks/decidim_active_storage_migration_tasks.rake
  decidim-core/spec/cells/decidim/profile_cell_spec.rb
  decidim-core/spec/controllers/application_controller_spec.rb
  decidim-core/spec/controllers/registrations_controller_spec.rb
  decidim-core/spec/models/decidim/static_page_spec.rb
  decidim-core/spec/system/registration_spec.rb
  decidim-core/spec/system/registration_unbundled_consent_spec.rb
  decidim-core/spec/system/user_tos_acceptance_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-system/app/commands/decidim/system/create_default_pages.rb
  decidim-system/spec/commands/decidim/system/create_default_pages_spec.rb
  decidim-system/spec/commands/decidim/system/register_organization_spec.rb
  docs/modules/install/pages/checklist.adoc
Labels: module: core, module: admin, module: system, module: generators, type: change

#10629 Fix for exporting deleted and hidden comments
  decidim-comments/lib/decidim/comments/export.rb
  decidim-comments/spec/lib/decidim/comments/export_spec.rb
Labels: module: comments, type: fix

#10628 Fix Exception as admin on a Proposal with meeting author
  decidim-core/app/cells/decidim/flag_modal_cell.rb
  decidim-core/app/controllers/decidim/reports_controller.rb
  decidim-core/lib/decidim/reportable.rb
  decidim-proposals/spec/system/report_proposal_spec.rb
Labels: type: fix, release: v0.28

#10438 Redesign: author tooltip
  decidim-core/app/cells/decidim/endorsers_list/full_endorsers_list.erb
  decidim-core/app/cells/decidim/follow_button_cell.rb
  decidim-core/app/cells/decidim/redesigned_author/avatar.erb
  decidim-core/app/cells/decidim/redesigned_author/avatar_image.erb
  decidim-core/app/cells/decidim/redesigned_author/comments.erb
  decidim-core/app/cells/decidim/redesigned_author/compact.erb
  decidim-core/app/cells/decidim/redesigned_author/date.erb
  decidim-core/app/cells/decidim/redesigned_author/default.erb
  decidim-core/app/cells/decidim/redesigned_author/endorsements.erb
  decidim-core/app/cells/decidim/redesigned_author/name.erb
  decidim-core/app/cells/decidim/redesigned_author/profile.erb
  decidim-core/app/cells/decidim/redesigned_author/profile_inline.erb
  decidim-core/app/cells/decidim/redesigned_author/profile_inline_compact.erb
  decidim-core/app/cells/decidim/redesigned_author/profile_minicard.erb
  decidim-core/app/cells/decidim/redesigned_author/show.erb
  decidim-core/app/cells/decidim/redesigned_author_cell.rb
  decidim-core/app/cells/decidim/redesigned_follow_button/show.erb
  decidim-core/app/cells/decidim/redesigned_follow_button_cell.rb
  decidim-core/app/cells/decidim/redesigned_version_author_cell.rb
  decidim-core/app/controllers/decidim/follows_controller.rb
  decidim-core/app/helpers/decidim/messaging/conversation_helper.rb
  decidim-core/app/helpers/decidim/tooltip_helper.rb
  decidim-core/app/packs/src/decidim/redesigned_tooltips.js
  decidim-core/app/packs/stylesheets/decidim/_redesigned_activity.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_author.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_tooltip.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/app/presenters/decidim/nil_presenter.rb
  decidim-core/app/presenters/decidim/user_presenter.rb
  decidim-core/app/views/decidim/endorsements/_identity.html.erb
  decidim-core/app/views/decidim/follows/update_button.js.erb
  decidim-core/app/views/decidim/messaging/conversations/_conversation.html.erb
  decidim-core/app/views/decidim/messaging/conversations/_messages.html.erb
  decidim-core/spec/system/follow_users_spec.rb
Labels: contract: redesign

#10630 Fix for exporting hidden moderated proposals
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/lib/decidim/proposals/component_spec.rb
Labels: module: proposals, type: fix

#10103 Refactor attachment title
  decidim-core/app/cells/decidim/upload_modal_cell.rb
  decidim-core/spec/cells/decidim/upload_modal_cell_spec.rb
Labels: module: core, type: fix
