Repository decidim/decidim, pull requests merged in 2023-02, with the labels that each got.

#10320 Add ability to pass extra attributes for authorization creation
  decidim-core/app/models/decidim/authorization.rb
  decidim-core/spec/models/decidim/authorization_spec.rb
  decidim-verifications/app/services/decidim/authorization_handler.rb
Labels: module: core, module: verifications, type: change

#10200 Redesign: menu breadcrumb
  decidim-assemblies/app/cells/decidim/assemblies/assembly_dropdown_metadata/metadata.erb
  decidim-assemblies/app/cells/decidim/assemblies/assembly_dropdown_metadata_cell.rb
  decidim-assemblies/app/controllers/decidim/assemblies/assemblies_controller.rb
  decidim-conferences/app/cells/decidim/conferences/conference_dropdown_metadata/metadata.erb
  decidim-conferences/app/cells/decidim/conferences/conference_dropdown_metadata_cell.rb
  decidim-conferences/app/controllers/decidim/conferences/conferences_controller.rb
  decidim-core/app/cells/decidim/activities_cell.rb
  decidim-core/app/cells/decidim/activity/show.erb
  decidim-core/app/cells/decidim/activity_cell.rb
  decidim-core/app/cells/decidim/content_blocks/menu_breadcrumb_last_activity/show.erb
  decidim-core/app/cells/decidim/content_blocks/menu_breadcrumb_last_activity_cell.rb
  decidim-core/app/cells/decidim/footer_pages/pages.erb
  decidim-core/app/cells/decidim/footer_pages/topics.erb
  decidim-core/app/cells/decidim/footer_pages_cell.rb
  decidim-core/app/cells/decidim/participatory_space_dropdown_metadata/links.erb
  decidim-core/app/cells/decidim/participatory_space_dropdown_metadata/metadata.erb
  decidim-core/app/cells/decidim/participatory_space_dropdown_metadata/show.erb
  decidim-core/app/cells/decidim/participatory_space_dropdown_metadata_cell.rb
  decidim-core/app/controllers/concerns/decidim/devise_controllers.rb
  decidim-core/app/controllers/concerns/decidim/participatory_space_context.rb
  decidim-core/app/controllers/decidim/application_controller.rb
  decidim-core/app/helpers/decidim/breadcrumb_helper.rb
  decidim-core/app/helpers/decidim/menu_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_activity.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_header.scss
  decidim-core/app/presenters/decidim/breadcrumb_root_menu_item_presenter.rb
  decidim-core/app/presenters/decidim/breadcrumb_root_menu_presenter.rb
  decidim-core/app/presenters/decidim/footer_menu_presenter.rb
  decidim-core/app/views/layouts/decidim/footer/_redesigned_main.html.erb
  decidim-core/app/views/layouts/decidim/footer/_redesigned_main_legal.html.erb
  decidim-core/app/views/layouts/decidim/footer/_redesigned_main_links.html.erb
  decidim-core/app/views/layouts/decidim/footer/_redesigned_mini.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_main.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu_breadcrumb_desktop.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu_breadcrumb_items.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu_breadcrumb_last_activity.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu_breadcrumb_links.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu_breadcrumb_main_dropdown.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu_breadcrumb_main_dropdown_bottom_left.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu_breadcrumb_main_dropdown_top_left.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu_breadcrumb_mobile_tablet.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu_breadcrumb_secondary_dropdown.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu_breadcrumb_secondary_dropdown_top_left.html.erb
  decidim-core/config/locales/en.yml
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_dropdown_metadata/metadata.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_dropdown_metadata_cell.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_processes_controller.rb
  decidim-participatory_processes/app/views/layouts/decidim/redesigned_participatory_process.html.erb
Labels: contract: redesign

#10323 Update locked Bundler version
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: type: internal

#10290 Fix File attachments in proposals
  decidim-core/app/commands/decidim/attachment_methods.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/create_proposal_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/update_proposal_spec.rb
  decidim-proposals/spec/system/admin/admin_creates_proposal_spec.rb
  decidim-proposals/spec/system/admin/admin_edits_proposal_spec.rb
Labels: module: proposals, module: core, type: fix, release: v0.27

#10325 Update psych to 4.X and bump minimum Rails version to 6.1.5
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/webpacker/configuration.rb
  decidim-core/spec/lib/webpacker/configuration_spec.rb
  decidim-core/spec/lib/webpacker/runner_spec.rb
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: module: core, type: change

#10322 Rebase Develop branch into feature/redesign
  Gemfile.lock
  SECURITY.adoc
  decidim-core/app/forms/decidim/notifications_settings_form.rb
  decidim-core/app/models/decidim/authorization.rb
  decidim-core/app/packs/src/decidim/input_character_counter.js
  decidim-core/app/packs/src/decidim/redesigned_input_character_counter.js
  decidim-core/app/services/decidim/send_push_notification.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-core/lib/tasks/decidim_pwa_tasks.rake
  decidim-core/spec/forms/notifications_settings_form_spec.rb
  decidim-core/spec/models/decidim/authorization_spec.rb
  decidim-core/spec/services/decidim/send_push_notification_spec.rb
  decidim-core/spec/system/account_spec.rb
  decidim-generators/Gemfile.lock
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_group_landing_page_spec.rb
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_serializer_spec.rb
  decidim-verifications/app/services/decidim/authorization_handler.rb
  decidim_app-design/Gemfile.lock
  decidim_app-design/package-lock.json
  decidim_app-design/packages/core/package.json
  docs/modules/develop/pages/backports.adoc
  docs/modules/develop/pages/guide_conventions.adoc
  docs/modules/develop/pages/releases.adoc
  lib/decidim/git_backport_manager.rb
  package-lock.json
  packages/core/package.json
  spec/lib/decidim/git_backport_manager_spec.rb
Labels: contract: redesign

#10212 Redesign: tooltips
  decidim-core/app/helpers/decidim/layout_helper.rb
  decidim-core/app/helpers/decidim/tooltip_helper.rb
  decidim-core/app/packs/src/decidim/redesigned_index.js
  decidim-core/app/packs/src/decidim/redesigned_tooltips.js
  decidim-core/app/packs/stylesheets/decidim/_redesigned_tooltip.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
Labels: contract: redesign

#9623 Fix issues with organization favicon and unrecognized image types at uploaders
  decidim-admin/spec/commands/decidim/admin/update_organization_appearance_spec.rb
  decidim-core/app/controllers/decidim/favicon_controller.rb
  decidim-core/app/helpers/decidim/layout_helper.rb
  decidim-core/app/models/decidim/organization.rb
  decidim-core/app/uploaders/decidim/image_uploader.rb
  decidim-core/app/uploaders/decidim/organization_favicon_uploader.rb
  decidim-core/app/validators/uploader_image_dimensions_validator.rb
  decidim-core/config/routes.rb
  decidim-core/lib/decidim/asset_router/storage.rb
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/lib/decidim/organization_settings.rb
  decidim-core/lib/tasks/decidim_tasks.rake
  decidim-core/spec/controllers/favicon_controller_spec.rb
  decidim-core/spec/lib/form_builder_spec.rb
  decidim-core/spec/lib/organization_settings_spec.rb
  decidim-core/spec/models/decidim/organization_spec.rb
  decidim-core/spec/uploaders/application_uploader_spec.rb
  decidim-core/spec/uploaders/image_uploader_spec.rb
  decidim-core/spec/uploaders/organization_favicon_uploader_spec.rb
  decidim-core/spec/validators/uploader_image_dimensions_validator_spec.rb
  decidim-dev/lib/decidim/dev/assets/icon.ico
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/app_templates/rack_profiler_initializer.rb
Labels: module: core, type: fix, release: v0.28

#10337 Fix pipeline issues due to stringio
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: type: fix, type: internal

#10318 Redesign: Content block - Hero
  decidim-core/app/cells/decidim/content_blocks/hero/cta_button.erb
  decidim-core/app/cells/decidim/content_blocks/hero/show.erb
  decidim-core/app/helpers/decidim/cta_button_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_hero.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/spec/system/homepage_spec.rb
Labels: contract: redesign

#10208 Display Published meetings in Assembly cell
  decidim-assemblies/decidim-assemblies.gemspec
  decidim-assemblies/spec/factories.rb
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
Labels: module: meetings, module: assemblies, type: fix

#10206 Do not display unpublished spaces in linked spaces
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-conferences/spec/commands/create_conference_spec.rb
  decidim-core/lib/decidim/participatory_space_resourceable.rb
Labels: module: assemblies, module: participatory processes, module: conferences, type: fix

#10346 Backport 'Do not display unpublished spaces in linked spaces' to v0.27
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-conferences/spec/commands/create_conference_spec.rb
  decidim-core/lib/decidim/participatory_space_resourceable.rb
Labels: backport, module: assemblies, module: participatory processes, module: conferences, type: fix

#10340 Backport 'Display Published meetings in Assembly cell' to v0.27
  decidim-assemblies/decidim-assemblies.gemspec
  decidim-assemblies/spec/factories.rb
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
Labels: module: meetings, backport, module: assemblies, type: fix

#10345 Backport 'Do not display unpublished spaces in linked spaces' to v0.26
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-conferences/spec/commands/create_conference_spec.rb
  decidim-core/lib/decidim/participatory_space_resourceable.rb
Labels: backport, module: assemblies, module: participatory processes, module: conferences, type: fix

#10341 Backport 'Display Published meetings in Assembly cell' to v0.26
  decidim-assemblies/decidim-assemblies.gemspec
  decidim-assemblies/spec/factories.rb
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
Labels: module: meetings, backport, module: assemblies, type: fix

#10243 Uploading files - Explanation %{attribute} not translate
  config/i18n-tasks.yml
  decidim-core/app/cells/decidim/upload_modal_cell.rb
  decidim-core/spec/lib/form_builder_spec.rb
Labels: module: core, type: fix

#10204 A Valuator should not be able to access Global Moderation
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/app/views/decidim/admin/dashboard/show.html.erb
  decidim-assemblies/lib/decidim/assemblies/test/factories.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-conferences/lib/decidim/conferences/test/factories.rb
  decidim-conferences/spec/permissions/decidim/conferences/permissions_spec.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/test/factories.rb
  decidim-participatory_processes/spec/permissions/decidim/participatory_processes/permissions_spec.rb
Labels: module: admin, type: fix

#10348 Backport 'Uploading files - Explanation %{attribute} not translate' to v0.27
  config/i18n-tasks.yml
  decidim-core/app/cells/decidim/upload_modal_cell.rb
  decidim-core/spec/lib/form_builder_spec.rb
Labels: module: core, backport, type: fix

#10347 Upgrade some node libraries to a more stable version
  decidim_app-design/package-lock.json
  package-lock.json
Labels: dependencies, javascript, type: internal

#10317 Redesign: Skip to content
  decidim-core/app/packs/src/decidim/dropdowns_handler.js
  decidim-core/app/packs/stylesheets/decidim/_redesigned_layout.scss
  decidim-core/app/views/layouts/decidim/_redesigned_wrapper.html.erb
Labels: contract: redesign

#10324 Redesign: statistics as content-block
  decidim-assemblies/spec/cells/decidim/assemblies/statistics_cell_spec.rb
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-conferences/app/views/decidim/conferences/conferences/show.html.erb
  decidim-conferences/spec/system/conferences_spec.rb
  decidim-core/app/cells/decidim/content_blocks/stats/show.erb
  decidim-core/app/cells/decidim/statistic/homepage.erb
  decidim-core/app/cells/decidim/statistics/show.erb
  decidim-core/app/cells/decidim/statistics_cell.rb
  decidim-participatory_processes/spec/cells/decidim/participatory_processes/statistics_cell_spec.rb
  decidim-participatory_processes/spec/system/participatory_process_groups_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: contract: redesign

#9635 Fix newsletters unwanted CSS and 404 page on preview
  decidim-admin/app/controllers/decidim/admin/newsletter_templates_controller.rb
  decidim-admin/app/controllers/decidim/admin/newsletters_controller.rb
  decidim-admin/app/models/decidim/admin/fake_newsletter.rb
  decidim-admin/spec/models/decidim/admin/fake_newsletter_spec.rb
  decidim-admin/spec/system/admin_manages_newsletter_templates_spec.rb
  decidim-core/app/cells/decidim/newsletter_templates/base_cell.rb
  decidim-core/app/cells/decidim/newsletter_templates/basic_only_text/show.erb
  decidim-core/app/cells/decidim/newsletter_templates/image_text_cta/show.erb
  decidim-core/app/helpers/decidim/newsletters_helper.rb
  decidim-core/app/mailers/decidim/newsletter_mailer.rb
  decidim-core/app/models/decidim/newsletter.rb
  decidim-core/app/packs/stylesheets/decidim/email.scss
  decidim-core/app/views/decidim/newsletter_mailer/newsletter.html.erb
  decidim-core/app/views/decidim/newsletters/show.html.erb
  decidim-core/app/views/layouts/decidim/_mailer_logo.html.erb
  decidim-core/app/views/layouts/decidim/newsletter_base.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/cells/decidim/newsletter_templates/basic_only_text_cell_spec.rb
  decidim-core/spec/helpers/decidim/newsletters_helper_spec.rb
  decidim-core/spec/models/decidim/newsletter_spec.rb
  decidim-core/spec/system/newsletter_spec.rb
Labels: module: core, module: admin, type: fix

#10218 Fix an edge case with the attribute object forms with arrays/enumerables passed to non-array types
  decidim-core/lib/decidim/attribute_object/form.rb
  decidim-core/spec/lib/attribute_object/form_spec.rb
Labels: module: core, type: fix, release: v0.27

#10355 Backport 'Fix newsletters unwanted CSS and 404 page on preview' to v0.26
  decidim-admin/app/controllers/decidim/admin/newsletter_templates_controller.rb
  decidim-admin/app/controllers/decidim/admin/newsletters_controller.rb
  decidim-admin/app/models/decidim/admin/fake_newsletter.rb
  decidim-admin/spec/models/decidim/admin/fake_newsletter_spec.rb
  decidim-admin/spec/system/admin_manages_newsletter_templates_spec.rb
  decidim-core/app/cells/decidim/newsletter_templates/base_cell.rb
  decidim-core/app/cells/decidim/newsletter_templates/basic_only_text/show.erb
  decidim-core/app/cells/decidim/newsletter_templates/image_text_cta/show.erb
  decidim-core/app/helpers/decidim/newsletters_helper.rb
  decidim-core/app/mailers/decidim/newsletter_mailer.rb
  decidim-core/app/models/decidim/newsletter.rb
  decidim-core/app/packs/stylesheets/decidim/email.scss
  decidim-core/app/views/decidim/newsletter_mailer/newsletter.html.erb
  decidim-core/app/views/decidim/newsletters/show.html.erb
  decidim-core/app/views/layouts/decidim/_mailer_logo.html.erb
  decidim-core/app/views/layouts/decidim/newsletter_base.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/cells/decidim/newsletter_templates/basic_only_text_cell_spec.rb
  decidim-core/spec/helpers/decidim/newsletters_helper_spec.rb
  decidim-core/spec/models/decidim/newsletter_spec.rb
  decidim-core/spec/system/newsletter_spec.rb
Labels: module: core, module: admin, backport, type: fix

#10354 Backport 'Fix newsletters unwanted CSS and 404 page on preview' to v0.27
  decidim-admin/app/controllers/decidim/admin/newsletter_templates_controller.rb
  decidim-admin/app/controllers/decidim/admin/newsletters_controller.rb
  decidim-admin/app/models/decidim/admin/fake_newsletter.rb
  decidim-admin/spec/models/decidim/admin/fake_newsletter_spec.rb
  decidim-admin/spec/system/admin_manages_newsletter_templates_spec.rb
  decidim-core/app/cells/decidim/newsletter_templates/base_cell.rb
  decidim-core/app/cells/decidim/newsletter_templates/basic_only_text/show.erb
  decidim-core/app/cells/decidim/newsletter_templates/image_text_cta/show.erb
  decidim-core/app/helpers/decidim/newsletters_helper.rb
  decidim-core/app/mailers/decidim/newsletter_mailer.rb
  decidim-core/app/models/decidim/newsletter.rb
  decidim-core/app/packs/stylesheets/decidim/email.scss
  decidim-core/app/views/decidim/newsletter_mailer/newsletter.html.erb
  decidim-core/app/views/decidim/newsletters/show.html.erb
  decidim-core/app/views/layouts/decidim/_mailer_logo.html.erb
  decidim-core/app/views/layouts/decidim/newsletter_base.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/cells/decidim/newsletter_templates/basic_only_text_cell_spec.rb
  decidim-core/spec/helpers/decidim/newsletters_helper_spec.rb
  decidim-core/spec/models/decidim/newsletter_spec.rb
  decidim-core/spec/system/newsletter_spec.rb
Labels: module: core, module: admin, backport, type: fix

#10349 Backport 'A Valuator should not be able to access Global Moderation' to v0.26
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-assemblies/lib/decidim/assemblies/test/factories.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-conferences/lib/decidim/conferences/test/factories.rb
  decidim-conferences/spec/permissions/decidim/conferences/permissions_spec.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/test/factories.rb
  decidim-participatory_processes/spec/permissions/decidim/participatory_processes/permissions_spec.rb
Labels: module: admin, backport, type: fix

#10350 Backport 'A Valuator should not be able to access Global Moderation' to v0.27
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-assemblies/lib/decidim/assemblies/test/factories.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-conferences/lib/decidim/conferences/test/factories.rb
  decidim-conferences/spec/permissions/decidim/conferences/permissions_spec.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/test/factories.rb
  decidim-participatory_processes/spec/permissions/decidim/participatory_processes/permissions_spec.rb
Labels: module: admin, backport, type: fix

#10361 Backport 'Fixing some typos in the english translations' to v0.27
  decidim-core/config/locales/en.yml
  decidim-initiatives/app/constraints/decidim/initiatives/current_initiative.rb
  decidim-initiatives/config/locales/en.yml
Labels: backport

#10362 Backport 'Fixing some typos in the english translations' to v0.26
  decidim-core/config/locales/en.yml
  decidim-initiatives/app/constraints/decidim/initiatives/current_initiative.rb
  decidim-initiatives/config/locales/en.yml
Labels: backport, module: initiatives, type: fix

#10327 Redesign: last activities
  decidim-core/app/cells/decidim/resource_types_filter/show.erb
  decidim-core/app/cells/decidim/resource_types_filter_cell.rb
  decidim-core/app/cells/decidim/user_activity/show.erb
  decidim-core/app/cells/decidim/user_activity_cell.rb
  decidim-core/app/controllers/decidim/last_activities_controller.rb
  decidim-core/app/helpers/decidim/icon_helper.rb
  decidim-core/app/views/decidim/last_activities/_activities.html.erb
  decidim-core/app/views/decidim/last_activities/index.html.erb
  decidim-core/app/views/decidim/last_activities/index.js.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/cells/decidim/user_activity_cell_spec.rb
  decidim-core/spec/system/last_activity_spec.rb
  decidim-core/spec/system/user_activity_spec.rb
  decidim-initiatives/config/locales/en.yml
Labels: contract: redesign

#10329 Feature/redesign revert drawers
  Gemfile.lock
  decidim-accountability/app/cells/decidim/accountability/project_cell.rb
  decidim-accountability/app/cells/decidim/accountability/results/show.erb
  decidim-accountability/app/cells/decidim/accountability/results_cell.rb
  decidim-accountability/app/views/decidim/accountability/results/_project.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_projects_aside.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_scope_filters.html.erb
  decidim-accountability/app/views/decidim/accountability/results/index.html.erb
  decidim-accountability/app/views/decidim/accountability/results/show.html.erb
  decidim-accountability/spec/system/explore_results_spec.rb
  decidim-blogs/spec/system/endorse_posts_spec.rb
  decidim-core/app/cells/decidim/card_l_cell.rb
  decidim-core/app/cells/decidim/diff/show.erb
  decidim-core/app/cells/decidim/diff_cell.rb
  decidim-core/app/cells/decidim/documents_panel_cell.rb
  decidim-core/app/cells/decidim/images_panel_cell.rb
  decidim-core/app/cells/decidim/navbar_admin_link/show.erb
  decidim-core/app/cells/decidim/report_button/flag_modal.erb
  decidim-core/app/cells/decidim/version/show.erb
  decidim-core/app/cells/decidim/version_cell.rb
  decidim-core/app/cells/decidim/versions_list/show.erb
  decidim-core/app/cells/decidim/versions_list_cell.rb
  decidim-core/app/cells/decidim/versions_list_item_cell.rb
  decidim-core/app/helpers/decidim/application_helper.rb
  decidim-core/app/helpers/decidim/traceability_helper.rb
  decidim-core/app/helpers/decidim/turbo_helper.rb
  decidim-core/app/packs/src/decidim/redesigned_heading_tag.js
  decidim-core/app/packs/src/decidim/redesigned_index.js
  decidim-core/app/views/layouts/decidim/_admin_links.html.erb
  decidim-core/app/views/layouts/decidim/shared/_drawer.html.erb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test/shared_examples/follows_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/has_attachments.rb
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
  decidim-generators/Gemfile.lock
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_redesigned_calendar_modal.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/app/views/decidim/meetings/shared/_filters.html.erb
  decidim-meetings/app/views/decidim/meetings/shared/_index.html.erb
  decidim-meetings/app/views/decidim/meetings/shared/_meetings.html.erb
  decidim-meetings/app/views/decidim/meetings/versions/show.html.erb
  decidim-meetings/spec/system/comments_spec.rb
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-meetings/spec/system/explore_versions_spec.rb
  decidim-meetings/spec/system/follow_meetings_spec.rb
  decidim-meetings/spec/system/meeting_spec.rb
  decidim-meetings/spec/system/report_meeting_spec.rb
  decidim-meetings/spec/system/show_spec.rb
  decidim-meetings/spec/system/user_close_meeting_spec.rb
  decidim_app-design/Gemfile.lock
  decidim_app-design/package-lock.json
  decidim_app-design/packages/core/package.json
  package-lock.json
  packages/core/package.json
Labels: contract: redesign

#10369 Fix sass syntax errors
  decidim-core/app/packs/stylesheets/decidim/modules/_buttons.scss
  decidim-core/app/packs/stylesheets/decidim/modules/_cards.scss
  decidim-core/app/packs/stylesheets/decidim/modules/_upload_modal.scss
  decidim-core/app/packs/stylesheets/decidim/vizzs/_linechart.scss
  decidim-core/app/packs/stylesheets/decidim/vizzs/_rowchart.scss
Labels: module: core, type: fix

#10372 Fix typo with package-lock.json in Webpacker instance migration guide
  docs/modules/develop/pages/guide_migrate_webpacker_app.adoc
Labels: team: documentation

#10170 Redesign: proposals block & card L
  decidim-core/app/cells/decidim/card_l_cell.rb
  decidim-core/app/cells/decidim/card_metadata/show.erb
  decidim-core/app/cells/decidim/card_metadata_cell.rb
  decidim-participatory_processes/spec/system/participatory_process_groups_spec.rb
  decidim-proposals/app/cells/decidim/proposals/highlighted_proposals_for_component/show.erb
  decidim-proposals/app/cells/decidim/proposals/highlighted_proposals_for_component_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_card_metadata_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_l_cell.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/cells/decidim/proposals/proposal_cell_spec.rb
  decidim-proposals/spec/system/filter_proposals_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
  decidim-proposals/spec/system/show_spec.rb
  decidim-proposals/spec/system/vote_proposal_spec.rb
Labels: contract: redesign

#10377 Feature/redesign proposals tests fixes
  .codeclimate.yml
  decidim-core/app/cells/decidim/card_l/author.erb
  decidim-core/app/cells/decidim/coauthorships_cell.rb
  decidim-core/app/cells/decidim/redesigned_author/default.erb
  decidim-core/spec/cells/decidim/coauthorships_cell_spec.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_l_cell.rb
  decidim-proposals/spec/cells/decidim/proposals/collaborative_draft_cell_spec.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_cell_spec.rb
  decidim-proposals/spec/system/collaborative_drafts_fields_spec.rb
  decidim-proposals/spec/system/filter_proposals_spec.rb
  decidim-proposals/spec/system/index_proposals_spec.rb
  decidim-proposals/spec/system/participatory_processes_view_hooks_spec.rb
  decidim-proposals/spec/system/proposal_show_spec.rb
  decidim-proposals/spec/system/proposals_fields_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
  decidim-proposals/spec/system/vote_proposal_spec.rb
Labels: contract: redesign

#10344 Switch to the official Codecov action for CI
  .github/upload_coverage.sh
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_admin_system.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_lib.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_system_ssl.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators_flags.yml
  .github/workflows/ci_generators_main.yml
  .github/workflows/ci_generators_rest.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_initiatives_system_admin.yml
  .github/workflows/ci_initiatives_system_public.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .simplecov
Labels: type: internal

#10382 Fix: Ransack returns results for multiple organizations
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_filters_cell.rb
  decidim-participatory_processes/spec/cells/decidim/participatory_processes/process_filters_cell_spec.rb
Labels: module: participatory processes, type: fix, release: v0.27

#10381 Add farsi to Decidim's available_locales
  decidim-core/lib/decidim/core.rb
Labels: team: i18n, type: change

#10392 Lock sass-embedded to 1.57.X
  decidim_app-design/package-lock.json
  decidim_app-design/packages/webpacker/package.json
  package-lock.json
  packages/webpacker/package.json
Labels: type: fix, type: internal

#10405 Fix pipeline asset router bug regarding for manifests containing the host
  decidim-core/lib/decidim/asset_router/pipeline.rb
  decidim-core/spec/lib/asset_router/pipeline_spec.rb
Labels: module: core, type: fix

#10395 Fix rubocop warnings in the output (update to version 1.33.0)
  Gemfile.lock
  decidim-core/lib/decidim/carrier_wave_migrator_service.rb
  decidim-core/lib/decidim/core/test/shared_examples/resource_endorsed_event_examples.rb
  decidim-core/spec/tasks/decidim_tasks_right_to_be_forgotten_spec.rb
  decidim-debates/lib/decidim/debates/engine.rb
  decidim-dev/decidim-dev.gemspec
  decidim-elections/app/forms/decidim/votings/census/frontend_fields.rb
  decidim-elections/lib/decidim/votings/test/factories.rb
  decidim-generators/Gemfile.lock
  decidim-verifications/app/controllers/decidim/verifications/sms/authorizations_controller.rb
  decidim_app-design/Gemfile.lock
Labels: type: fix, type: internal

#10394 Update sass-embedded NPM package
  decidim_app-design/package-lock.json
  decidim_app-design/packages/webpacker/package.json
  package-lock.json
  packages/webpacker/package.json
Labels: type: internal

#10386 Fix survey conditional display
  decidim-forms/app/forms/decidim/forms/answer_form.rb
  decidim-forms/app/forms/decidim/forms/questionnaire_form.rb
  decidim-forms/spec/commands/decidim/forms/answer_questionnaire_spec.rb
Labels: module: forms, type: fix, release: v0.27

#10201 Fix password validator for short domains
  RELEASE_NOTES.md
  decidim-core/app/validators/password_validator.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/validators/password_validator_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
  docs/modules/configure/pages/environment_variables.adoc
Labels: module: core, type: change

#10316 Update Rails requirement to 6.1.7
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: module: core, dependencies, module: generators

#10373 Redesign: timeout modal
  decidim-core/app/helpers/decidim/modal_helper.rb
  decidim-core/app/packs/src/decidim/redesigned_index.js
  decidim-core/app/packs/src/decidim/redesigned_session_timeouter.js
  decidim-core/app/views/layouts/decidim/_redesigned_application.html.erb
  decidim-core/app/views/layouts/decidim/_redesigned_timeout_modal.html.erb
Labels: contract: redesign

#10434 Fix deprecation warning in the `html5sortable` NPM package
  decidim-admin/app/packs/src/decidim/admin/draggable-list.js
Labels: module: admin, type: fix

#10433 Extend the activestorage URL expiry for the tests
  decidim-dev/lib/decidim/dev/test/spec_helper.rb
Labels: module: dev, type: internal

#10430 Use local placeholder instead of fillmurray
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu_breadcrumb_last_activity.html.erb
Labels: module: core, type: internal

#10427 Fix flaky user base entity spec
  decidim-core/spec/models/decidim/user_base_entity_spec.rb
Labels: module: core, type: internal

#10419 Fix flaky specs in the user answer serializer spec
  decidim-forms/spec/serializers/decidim/forms/user_answers_serializer_spec.rb
Labels: module: forms, type: internal

#10417 Redesign: fonts
  decidim-core/app/packs/fonts/decidim/redesigned/source-sans-pro-v21-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-600.eot
  decidim-core/app/packs/fonts/decidim/redesigned/source-sans-pro-v21-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-600.svg
  decidim-core/app/packs/fonts/decidim/redesigned/source-sans-pro-v21-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-600.ttf
  decidim-core/app/packs/fonts/decidim/redesigned/source-sans-pro-v21-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-600.woff
  decidim-core/app/packs/fonts/decidim/redesigned/source-sans-pro-v21-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-600.woff2
  decidim-core/app/packs/fonts/decidim/redesigned/source-sans-pro-v21-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700.eot
  decidim-core/app/packs/fonts/decidim/redesigned/source-sans-pro-v21-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700.svg
  decidim-core/app/packs/fonts/decidim/redesigned/source-sans-pro-v21-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700.ttf
  decidim-core/app/packs/fonts/decidim/redesigned/source-sans-pro-v21-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700.woff
  decidim-core/app/packs/fonts/decidim/redesigned/source-sans-pro-v21-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700.woff2
  decidim-core/app/packs/fonts/decidim/redesigned/source-sans-pro-v21-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-regular.eot
  decidim-core/app/packs/fonts/decidim/redesigned/source-sans-pro-v21-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-regular.svg
  decidim-core/app/packs/fonts/decidim/redesigned/source-sans-pro-v21-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-regular.ttf
  decidim-core/app/packs/fonts/decidim/redesigned/source-sans-pro-v21-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff
  decidim-core/app/packs/fonts/decidim/redesigned/source-sans-pro-v21-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff2
  decidim-core/app/packs/stylesheets/decidim/_redesigned_fonts.scss
Labels: contract: redesign

#10428 Redesign: Newsletter modal
  decidim-core/app/packs/src/decidim/user_registrations.js
  decidim-core/app/packs/stylesheets/decidim/_redesigned_modal.scss
  decidim-core/app/views/decidim/devise/shared/_newsletter_modal.html.erb
  decidim-core/config/locales/en.yml
Labels: contract: redesign

#10366 Redesign: cookies
  decidim-core/app/cells/decidim/data_consent/category.erb
  decidim-core/app/cells/decidim/data_consent/dialog.erb
  decidim-core/app/cells/decidim/data_consent/modal.erb
  decidim-core/app/packs/images/decidim/decidim-symbol.svg
  decidim-core/app/packs/src/decidim/data_consent/consent_manager.js
  decidim-core/app/packs/src/decidim/data_consent/index.js
  decidim-core/app/packs/src/decidim/redesigned_index.js
  decidim-core/app/packs/stylesheets/decidim/_redesigned_cookies.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_modal.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_pages.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/app/views/layouts/decidim/_redesigned_application.html.erb
  decidim-core/app/views/layouts/decidim/footer/_redesigned_main_legal.html.erb
  decidim-core/spec/system/data_consent/scripts_spec.rb
  decidim-core/spec/system/data_consent/settings_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/data_consent.rb
  decidim-verifications/spec/system/action_authorization_spec.rb
Labels: contract: redesign

#10388 Redesign: floating tip turns into modal
  decidim-core/app/packs/entrypoints/redesigned_decidim_core.js
  decidim-core/app/packs/src/decidim/redesigned_floating_help.js
  decidim-core/app/packs/src/decidim/redesigned_index.js
  decidim-core/app/packs/stylesheets/decidim/_redesigned_floating_help.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_header.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_layout.scss
  decidim-core/app/views/decidim/shared/_redesigned_floating_help.html.erb
Labels: contract: redesign

#10335 Redesign: map popup
  decidim-core/app/cells/decidim/card_metadata_cell.rb
  decidim-core/app/packs/src/decidim/map/controller.js
  decidim-core/app/packs/src/decidim/map/controller/markers.js
  decidim-core/app/packs/src/decidim/map/icon.js
  decidim-core/app/packs/src/decidim/map/svg-icon.js
  decidim-core/app/packs/stylesheets/decidim/_redesigned_cards.scss
  decidim-core/app/packs/stylesheets/decidim/map.scss
  decidim-core/spec/cells/decidim/card_l_cell_spec.rb
  decidim-core/spec/cells/decidim/card_metadata_cell_spec.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_card_metadata_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meetings_map/show.erb
  decidim-meetings/app/helpers/decidim/meetings/map_helper.rb
  decidim-meetings/app/packs/stylesheets/decidim/meetings/_list.scss
  decidim-meetings/config/locales/en.yml
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_metadata_cell.rb
Labels: contract: redesign

#10439 Fix deleting all content from help section triggers error
  decidim-core/app/services/decidim/traceability.rb
Labels: module: admin, type: fix

#10425 Fix display of existing images in the upload modal files list
  decidim-core/app/cells/decidim/upload_modal/files.erb
  decidim-core/spec/cells/decidim/upload_modal_cell_spec.rb
Labels: module: proposals, module: core, module: budgets, module: elections, type: fix

#10424 Fix styling bug with the remove/close buttons for attachments
  decidim-core/app/packs/stylesheets/decidim/modules/_input-gallery.scss
Labels: module: proposals, module: core, module: budgets, module: elections, type: fix
