Repository decidim/decidim, pull requests merged in 2023-01, with the labels that each got.

#10225 Backport 'Lock GitHub actions to Ubuntu 20.04 due to OpenSSL 3.0 issues' to v0.27
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_admin_system.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_lib.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_system_ssl.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_initiatives_system_admin.yml
  .github/workflows/ci_initiatives_system_public.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
  .github/workflows/lint_pr_format.yml
  .github/workflows/on_docs_update.yml
  .github/workflows/on_release.yml
Labels: backport, type: fix, type: internal

#10226 Backport 'Lock GitHub actions to Ubuntu 20.04 due to OpenSSL 3.0 issues' to v0.26
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_admin_system_1.yml
  .github/workflows/ci_admin_system_2.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_lib.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections_system_admin_1.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_initiatives_system_admin.yml
  .github/workflows/ci_initiatives_system_public.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public_1.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public_1.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
  .github/workflows/lint_pr_format.yml
  .github/workflows/on_docs_update.yml
  .github/workflows/on_release.yml
Labels: backport, type: fix, type: internal

#10220 Fix dependency resolver trying to fetch gem paths from lazy specifications
  decidim-core/lib/decidim/dependency_resolver.rb
  decidim-core/spec/lib/dependency_resolver_spec.rb
Labels: module: core, type: fix

#10221 Fix double parentheses in the titled upload modal with existing attachment
  decidim-core/app/cells/decidim/upload_modal_cell.rb
  decidim-core/spec/cells/decidim/upload_modal_cell_spec.rb
Labels: module: core, type: fix

#9597 Fix pipeline asset absolute URLs
  decidim-core/app/uploaders/decidim/application_uploader.rb
  decidim-core/app/uploaders/decidim/avatar_uploader.rb
  decidim-core/lib/decidim/asset_router.rb
  decidim-core/lib/decidim/asset_router/pipeline.rb
  decidim-core/lib/decidim/asset_router/storage.rb
  decidim-core/spec/lib/asset_router/pipeline_spec.rb
  decidim-core/spec/lib/asset_router/storage_spec.rb
  decidim-core/spec/presenters/decidim/nil_presenter_spec.rb
  decidim-core/spec/presenters/decidim/user_presenter_spec.rb
  decidim-core/spec/uploaders/avatar_uploader_spec.rb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
Labels: module: core, type: fix

#10235 Improve link handling of the redirect engine
  decidim-core/app/controllers/decidim/links_controller.rb
  decidim-core/spec/system/external_domain_warning_spec.rb
Labels: team: security

#10133 Switch to GitHub concurrency in CI
  .github/actions/module-rspec/action.yml
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_admin_system.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_lib.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_system_ssl.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections_system_admin.yml
  .github/workflows/ci_elections_system_public.yml
  .github/workflows/ci_elections_unit_tests.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_initiatives_system_admin.yml
  .github/workflows/ci_initiatives_system_public.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
  .github/workflows/lint_pr_format.yml
Labels: type: internal

#10211 Prevent sending proposal create event until is commited
  decidim-proposals/app/commands/decidim/proposals/admin/create_proposal.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/create_proposal_spec.rb
Labels: type: fix

#10240 Fix Pipeline after #10211
  decidim-proposals/spec/commands/decidim/proposals/admin/create_proposal_spec.rb
Labels: type: internal

#10150 Fix initiatives count in initiatives index page
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_count.html.erb
  decidim-initiatives/spec/system/initiatives_spec.rb
Labels: module: initiatives, type: fix

#10223 User's group endorsement no longer disappears after personal endorsement removed
  decidim-blogs/spec/system/endorse_posts_spec.rb
  decidim-core/app/commands/decidim/unendorse_resource.rb
Labels: type: fix

#10219 Implement card g
  decidim-assemblies/app/cells/decidim/assemblies/assembly_cell.rb
  decidim-assemblies/app/cells/decidim/assemblies/assembly_g_cell.rb
  decidim-assemblies/app/cells/decidim/assemblies/assembly_metadata_g_cell.rb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/_promoted_assembly.html.erb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/index.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-blogs/app/cells/decidim/blogs/post_g_cell.rb
  decidim-conferences/app/cells/decidim/conferences/conference_cell.rb
  decidim-conferences/app/cells/decidim/conferences/conference_g_cell.rb
  decidim-conferences/app/views/decidim/conferences/conferences/_promoted_conference.html.erb
  decidim-conferences/app/views/decidim/conferences/conferences/index.html.erb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/spec/system/conferences_spec.rb
  decidim-core/app/cells/decidim/card_g/show.erb
  decidim-core/app/cells/decidim/card_g_cell.rb
  decidim-core/app/cells/decidim/card_metadata_cell.rb
  decidim-core/config/locales/en.yml
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/highlighted_processes/single_process.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_g_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_group_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_group_g_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_metadata_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_metadata_g_cell.rb
  decidim-participatory_processes/app/helpers/decidim/participatory_processes/participatory_process_helper.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/_promoted_process.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/_promoted_process_group.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/index.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: contract: redesign

#10248 Add Backports documentation process explanation
  SECURITY.adoc
  docs/modules/develop/pages/backports.adoc
  docs/modules/develop/pages/guide_conventions.adoc
  docs/modules/develop/pages/releases.adoc
Labels: team: documentation, type: internal

#10182 Redesign: main header layout glitches
  decidim-core/app/packs/stylesheets/decidim/_redesigned_header.scss
  decidim-core/app/views/layouts/decidim/_admin_links.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_main.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_main_header.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_main_links_desktop.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_main_links_dropdown.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_main_search.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu.html.erb
  decidim-core/spec/system/messaging/conversations_spec.rb
Labels: contract: redesign

#10222 Sync release branch with remote before backporting
  lib/decidim/git_backport_manager.rb
  spec/lib/decidim/git_backport_manager_spec.rb
Labels: type: internal

#10230 Participatory processes manage content blocks
  decidim-core/app/cells/decidim/content_blocks/redesigned_html/show.erb
  decidim-core/app/cells/decidim/content_blocks/redesigned_html_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_block_cell.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_landing_page_content_blocks_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_landing_page_controller.rb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/lib/decidim/participatory_processes/admin_engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/spec/shared/manage_landing_page_examples.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_group_landing_page_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_landing_page_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_admin_spec.rb
Labels: contract: redesign

#10286 Fix notifications page when vapid is not available
  decidim-core/app/forms/decidim/notifications_settings_form.rb
  decidim-core/app/services/decidim/send_push_notification.rb
  decidim-core/spec/forms/notifications_settings_form_spec.rb
  decidim-core/spec/services/decidim/send_push_notification_spec.rb
  decidim-core/spec/system/account_spec.rb
Labels: module: core, type: fix

#10255 Backport 'Allow blocking a UserGroup' to v0.27
  decidim-admin/app/commands/decidim/admin/unblock_user.rb
  decidim-admin/app/controllers/decidim/admin/block_user_controller.rb
  decidim-admin/app/forms/decidim/admin/block_user_form.rb
  decidim-admin/spec/commands/decidim/admin/block_user_spec.rb
  decidim-admin/spec/commands/decidim/admin/unblock_user_spec.rb
  decidim-admin/spec/controllers/block_user_controller_spec.rb
  decidim-admin/spec/forms/block_user_form_spec.rb
  decidim-core/app/controllers/decidim/groups_controller.rb
  decidim-core/app/controllers/decidim/profiles_controller.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/models/decidim/user_base_entity.rb
  decidim-core/app/models/decidim/user_block.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/controllers/decidim/profiles_controller_spec.rb
Labels: module: core, backport, type: fix

#10256 Backport 'Fix wrong capitalization in i18n values and add missing keys' to v0.27
  decidim-admin/config/locales/en.yml
  decidim-assemblies/config/locales/en.yml
  decidim-blogs/config/locales/en.yml
  decidim-budgets/app/views/decidim/budgets/admin/budgets/index.html.erb
  decidim-budgets/config/locales/en.yml
  decidim-conferences/config/locales/en.yml
  decidim-elections/config/locales/en.yml
  decidim-initiatives/config/locales/en.yml
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/services/decidim/meetings/diff_renderer_spec.rb
  decidim-participatory_processes/config/locales/en.yml
Labels: module: admin, module: pages, backport, module: elections, module: assemblies, module: participatory processes, module: initiatives, type: fix

#10257 Backport 'Fix machine translations at the API' to v0.27
  decidim-core/lib/decidim/api/types/localized_string_type.rb
  decidim-core/lib/decidim/api/types/translated_field_type.rb
  decidim-core/spec/types/localized_string_type_spec.rb
  decidim-core/spec/types/translated_field_type_spec.rb
  decidim-participatory_processes/spec/types/integration_schema_spec.rb
  decidim-participatory_processes/spec/types/participatory_process_step_type_spec.rb
Labels: module: core, backport, module: api, type: fix

#10292 Backport 'Fix machine translations at the API' to v0.26
  decidim-core/lib/decidim/api/types/localized_string_type.rb
  decidim-core/lib/decidim/api/types/translated_field_type.rb
  decidim-core/spec/types/localized_string_type_spec.rb
  decidim-core/spec/types/translated_field_type_spec.rb
  decidim-participatory_processes/spec/types/integration_schema_spec.rb
  decidim-participatory_processes/spec/types/participatory_process_step_type_spec.rb
Labels: module: core, backport, module: api, type: fix

#10258 Backport 'Correct the "voted for this" string in the budgets component' to v0.27
  decidim-budgets/config/locales/en.yml
Labels: module: budgets, backport, type: fix

#10301 Backport 'Correct the "voted for this" string in the budgets component' to v0.26
  decidim-budgets/config/locales/en.yml
Labels: module: budgets, backport, type: fix

#10259 Backport 'Fix translations missing on admin log' to v0.27
  decidim-conferences/config/locales/en.yml
  decidim-core/config/locales/en.yml
Labels: module: core, backport, module: conferences, type: fix

#10293 Backport 'Fix translations missing on admin log' to v0.26
  decidim-conferences/config/locales/en.yml
  decidim-core/config/locales/en.yml
Labels: module: core, backport, module: conferences, type: fix

#10262 Backport 'Fix push notifications URL method' to v0.27
  decidim-core/app/presenters/decidim/push_notification_presenter.rb
  decidim-core/spec/presenters/decidim/push_notification_presenter_spec.rb
Labels: module: core, backport, type: fix, contract: PWA

#10260 Backport 'Add correct call for conference speaker' to v0.27
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_speakers_controller.rb
  decidim-conferences/app/helpers/decidim/conferences/admin/conference_speakers_helper.rb
  decidim-conferences/app/views/decidim/conferences/admin/conference_speakers/edit.html.erb
Labels: backport, module: conferences, type: fix

#10294 Backport 'Add correct call for conference speaker' to v0.26
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_speakers_controller.rb
  decidim-conferences/app/helpers/decidim/conferences/admin/conference_speakers_helper.rb
  decidim-conferences/app/views/decidim/conferences/admin/conference_speakers/edit.html.erb
Labels: backport, module: conferences, type: fix

#10295 Backport 'Fix missing fields on duplicate meetings functionality' to v0.26
  decidim-meetings/app/commands/decidim/meetings/admin/copy_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/meeting_copies_controller.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_copy_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/views/decidim/meetings/admin/meeting_copies/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meeting_copies/new.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/commands/admin/copy_meeting_spec.rb
  decidim-meetings/spec/forms/admin/meeting_copy_form_spec.rb
  decidim-meetings/spec/shared/duplicate_meetings_examples.rb
Labels: module: meetings, backport, type: fix

#10261 Backport 'Fix missing fields on duplicate meetings functionality' to v0.27
  decidim-meetings/app/commands/decidim/meetings/admin/copy_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/meeting_copies_controller.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_copy_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/views/decidim/meetings/admin/meeting_copies/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meeting_copies/new.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/commands/admin/copy_meeting_spec.rb
  decidim-meetings/spec/forms/admin/meeting_copy_form_spec.rb
  decidim-meetings/spec/shared/duplicate_meetings_examples.rb
Labels: module: meetings, backport, type: fix

#10296 Backport 'Fix resource_icon with component or manifest nil' to v0.26
  decidim-core/app/helpers/decidim/icon_helper.rb
  decidim-core/spec/helpers/decidim/icon_helper_spec.rb
Labels: module: core, backport, type: fix

#10264 Backport 'Fix filter URL not updated with the text search input' to v0.27
  decidim-budgets/spec/system/explore_projects_spec.rb
  decidim-core/app/packs/src/decidim/form_filter.component.test.js
  decidim-core/app/packs/src/decidim/form_filter.js
  decidim-debates/spec/system/explore_debates_spec.rb
  decidim-meetings/spec/system/explore_meeting_directory_spec.rb
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-proposals/spec/system/filter_proposals_spec.rb
  decidim-sortitions/spec/system/decidim/sortitions/sortitions_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, backport, module: debates, module: sortitions, type: fix

#10266 Backport 'Add missing logs for UserGroup block and unblock actions' to v0.27
  decidim-core/app/presenters/decidim/admin_log/user_group_presenter.rb
  decidim-core/config/locales/en.yml
Labels: module: core, backport, type: fix

#10313 Backport 'Add missing logs for UserGroup block and unblock actions' to v0.26
  decidim-core/app/presenters/decidim/admin_log/user_group_presenter.rb
  decidim-core/config/locales/en.yml
Labels: module: core, backport, type: fix

#10267 Backport 'Don't show the 'unreport' action when user is blocked' to v0.27
  decidim-admin/app/views/decidim/admin/moderated_users/index.html.erb
  decidim-admin/lib/decidim/admin/test/manage_moderations_examples.rb
  decidim-admin/spec/system/admin_manage_moderated_users_spec.rb
Labels: module: core, module: admin, backport, type: fix

#10300 Backport 'Don't show the 'unreport' action when user is blocked' to v0.26
  decidim-admin/app/views/decidim/admin/moderated_users/index.html.erb
  decidim-admin/lib/decidim/admin/test/manage_moderations_examples.rb
  decidim-admin/spec/system/admin_manage_moderated_users_spec.rb
Labels: module: core, module: admin, backport, type: fix

#10269 Backport 'Fix bug when blocking two UserGroups' to v0.27
  decidim-core/app/models/decidim/user_group.rb
  decidim-core/spec/models/decidim/user_group_spec.rb
Labels: module: core, module: admin, backport, type: fix

#10270 Backport 'Add order by in linked_participatory_space_resources' to v0.27
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-conferences/spec/commands/create_conference_spec.rb
  decidim-core/lib/decidim/participatory_space_resourceable.rb
  decidim-participatory_processes/spec/commands/create_participatory_process_spec.rb
Labels: module: core, backport, type: fix

#10303 Backport 'Add order by in linked_participatory_space_resources' to v0.26
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-conferences/spec/commands/create_conference_spec.rb
  decidim-core/lib/decidim/participatory_space_resourceable.rb
  decidim-participatory_processes/spec/commands/create_participatory_process_spec.rb
Labels: module: core, backport, type: fix

#10265 Backport 'Move i18n attribute key of Post's body' to v0.27
  decidim-blogs/app/views/decidim/blogs/admin/posts/_form.html.erb
  decidim-blogs/config/locales/en.yml
Labels: backport, module: blogs, type: fix

#10298 Backport 'Move i18n attribute key of Post's body' to v0.26
  decidim-blogs/app/views/decidim/blogs/admin/posts/_form.html.erb
  decidim-blogs/config/locales/en.yml
Labels: backport, module: blogs, type: fix

#10272 Backport 'Fix dependency resolver trying to fetch gem paths from lazy specifications' to v0.27
  decidim-core/lib/decidim/dependency_resolver.rb
  decidim-core/spec/lib/dependency_resolver_spec.rb
Labels: module: core, backport, type: fix

#10273 Backport 'Fix double parentheses in the titled upload modal with existing attachment' to v0.27
  decidim-core/app/cells/decidim/upload_modal_cell.rb
  decidim-core/spec/cells/decidim/upload_modal_cell_spec.rb
Labels: module: core, backport, type: fix

#10274 Backport 'Removed "disabled" status from proposals' main categories' to v0.27
  decidim-admin/app/helpers/decidim/admin/bulk_actions_helper.rb
  decidim-proposals/spec/system/admin/admin_edits_proposal_spec.rb
Labels: module: proposals, backport, type: fix

#10305 Backport 'Removed "disabled" status from proposals' main categories' to v0.26
  decidim-admin/app/helpers/decidim/admin/bulk_actions_helper.rb
  decidim-proposals/spec/system/admin/admin_edits_proposal_spec.rb
Labels: module: proposals, backport, type: fix

#10275 Backport 'Fix pipeline asset absolute URLs' to v0.27
  decidim-core/app/uploaders/decidim/application_uploader.rb
  decidim-core/app/uploaders/decidim/avatar_uploader.rb
  decidim-core/lib/decidim/asset_router.rb
  decidim-core/lib/decidim/asset_router/pipeline.rb
  decidim-core/lib/decidim/asset_router/storage.rb
  decidim-core/spec/lib/asset_router/pipeline_spec.rb
  decidim-core/spec/lib/asset_router/storage_spec.rb
  decidim-core/spec/presenters/decidim/nil_presenter_spec.rb
  decidim-core/spec/presenters/decidim/user_presenter_spec.rb
  decidim-core/spec/uploaders/avatar_uploader_spec.rb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
Labels: module: core, backport, type: fix

#10276 Backport 'Improve link handling of the redirect engine' to v0.27
  decidim-core/app/controllers/decidim/links_controller.rb
  decidim-core/spec/system/external_domain_warning_spec.rb
Labels: team: security, module: core, backport

#10306 Backport 'Improve link handling of the redirect engine' to v0.26
  decidim-core/app/controllers/decidim/links_controller.rb
  decidim-core/spec/system/external_domain_warning_spec.rb
Labels: team: security, module: core, backport

#10278 Backport 'Added missing localizations' to v0.27
  decidim-accountability/app/views/decidim/accountability/admin/timeline_entries/index.html.erb
  decidim-accountability/app/views/decidim/participatory_spaces/_result.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_author.html.erb
  decidim-participatory_processes/app/helpers/decidim/participatory_processes/participatory_process_helper.rb
  decidim-participatory_processes/spec/helpers/decidim/participatory_processes/participatory_process_helper_spec.rb
Labels: backport, module: accountability, module: participatory processes, module: initiatives, type: fix

#10268 Backport 'Remove unused permissions on Blogs' to v0.27
  decidim-blogs/config/locales/en.yml
  decidim-blogs/lib/decidim/blogs/component.rb
Labels: backport, module: blogs, type: fix

#10271 Backport 'Respect "rich text editor" setting in Initiatives' to v0.27
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/fill_data.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/previous_form.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_form.html.erb
  decidim-initiatives/spec/system/create_initiative_spec.rb
Labels: backport, module: initiatives, type: fix

#10304 Backport 'Respect "rich text editor" setting in Initiatives' to v0.26
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/fill_data.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/previous_form.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_form.html.erb
  decidim-initiatives/spec/system/create_initiative_spec.rb
Labels: backport, module: initiatives, type: fix

#10279 Backport 'Prevent sending proposal create event until is commited' to v0.27
  decidim-proposals/app/commands/decidim/proposals/admin/create_proposal.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/create_proposal_spec.rb
Labels: module: proposals, backport, type: fix

#10309 Backport 'Prevent sending proposal create event until is commited' to v0.26
  decidim-proposals/app/commands/decidim/proposals/admin/create_proposal.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/create_proposal_spec.rb
Labels: module: proposals, backport, type: fix

#10280 Backport 'Fix initiatives count in initiatives index page' to v0.27
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_count.html.erb
  decidim-initiatives/spec/system/initiatives_spec.rb
Labels: backport, module: initiatives, type: fix

#10310 Backport 'Fix initiatives count in initiatives index page' to v0.26
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_count.html.erb
  decidim-initiatives/spec/system/initiatives_spec.rb
Labels: backport, module: initiatives, type: fix

#10281 Backport 'User's group endorsement no longer disappears after personal endorsement removed' to v0.27
  decidim-blogs/spec/system/endorse_posts_spec.rb
  decidim-core/app/commands/decidim/unendorse_resource.rb
Labels: module: core, backport, type: fix

#10299 Backport 'Remove unused permissions on Blogs' to v0.26
  decidim-blogs/config/locales/en.yml
  decidim-blogs/lib/decidim/blogs/component.rb
Labels: backport, module: blogs, type: fix

#10254 Backport 'Fix bug regarding user group moderation action logs' to v0.27
  decidim-core/app/presenters/decidim/admin_log/user_moderation_presenter.rb
  decidim-core/spec/presenters/decidim/admin_log/user_moderation_presenter_spec.rb
Labels: module: core, backport, type: fix

#10291 Update picmo to 5.7.3
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim_app-design/package-lock.json
  decidim_app-design/packages/core/package.json
  package-lock.json
  packages/core/package.json
Labels: module: core, dependencies, javascript

#10207 Replace webpush with web-push to support OpenSSL V3
  Gemfile.lock
  decidim-core/app/services/decidim/send_push_notification.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/tasks/decidim_pwa_tasks.rake
  decidim-core/spec/services/decidim/send_push_notification_spec.rb
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: target: developer-experience, type: fix, release: v0.27

#10302 Backport 'Fix wrong capitalization in i18n values and add missing keys' to v0.26
  decidim-admin/config/locales/en.yml
  decidim-assemblies/config/locales/en.yml
  decidim-blogs/config/locales/en.yml
  decidim-conferences/config/locales/en.yml
  decidim-elections/config/locales/en.yml
  decidim-initiatives/config/locales/en.yml
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/services/decidim/meetings/diff_renderer_spec.rb
  decidim-participatory_processes/config/locales/en.yml
Labels: module: admin, module: pages, backport, module: elections, module: assemblies, module: participatory processes, module: initiatives, type: fix

#10308 Backport 'Added missing localizations' to v0.26
  decidim-accountability/app/views/decidim/accountability/admin/timeline_entries/index.html.erb
  decidim-accountability/app/views/decidim/participatory_spaces/_result.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_author.html.erb
  decidim-participatory_processes/app/helpers/decidim/participatory_processes/participatory_process_helper.rb
  decidim-participatory_processes/spec/helpers/decidim/participatory_processes/participatory_process_helper_spec.rb
Labels: backport, module: accountability, module: participatory processes, module: initiatives, type: fix

#9913 Export proposal body without HTML tags
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_serializer_spec.rb
Labels: module: proposals, type: fix

#10315 Backport 'Allow blocking a UserGroup' to v0.26
  decidim-admin/app/commands/decidim/admin/unblock_user.rb
  decidim-admin/app/controllers/decidim/admin/block_user_controller.rb
  decidim-admin/app/forms/decidim/admin/block_user_form.rb
  decidim-admin/spec/commands/decidim/admin/block_user_spec.rb
  decidim-admin/spec/commands/decidim/admin/unblock_user_spec.rb
  decidim-admin/spec/controllers/block_user_controller_spec.rb
  decidim-admin/spec/forms/block_user_form_spec.rb
  decidim-core/app/controllers/decidim/groups_controller.rb
  decidim-core/app/controllers/decidim/profiles_controller.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/models/decidim/user_base_entity.rb
  decidim-core/app/models/decidim/user_block.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/controllers/decidim/profiles_controller_spec.rb
Labels: module: core, backport, type: fix

#10297 Backport 'Fix filter URL not updated with the text search input' to v0.26
  decidim-budgets/spec/system/explore_projects_spec.rb
  decidim-core/app/packs/src/decidim/form_filter.component.test.js
  decidim-core/app/packs/src/decidim/form_filter.js
  decidim-debates/spec/system/explore_debates_spec.rb
  decidim-meetings/spec/system/explore_meeting_directory_spec.rb
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-proposals/spec/system/filter_proposals_spec.rb
  decidim-sortitions/spec/system/decidim/sortitions/sortitions_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, backport, module: debates, module: sortitions, type: fix

#10312 Backport 'Fix bug when blocking two UserGroups' to v0.26
  decidim-core/app/models/decidim/user_group.rb
  decidim-core/spec/models/decidim/user_group_spec.rb
Labels: module: core, module: admin, backport, type: fix

#10314 Backport 'Fix bug regarding user group moderation action logs' to v0.26
  decidim-core/app/presenters/decidim/admin_log/user_moderation_presenter.rb
  decidim-core/spec/presenters/decidim/admin_log/user_moderation_presenter_spec.rb
Labels: module: core, backport, type: fix

#10311 Backport 'User's group endorsement no longer disappears after personal endorsement removed' to v0.26
  decidim-blogs/spec/system/endorse_posts_spec.rb
  decidim-core/app/commands/decidim/unendorse_resource.rb
Labels: module: core, backport, type: fix

#10022 Prevent `aria-describedby` attribute being added to hidden inputs
  decidim-core/app/packs/src/decidim/input_character_counter.js
  decidim-core/app/packs/src/decidim/redesigned_input_character_counter.js
Labels: module: core, type: fix
