Repository decidim/decidim, pull requests merged in 2023-11, with the labels that each got.

#11881 Add "Resend invitation" button in system
  decidim-system/app/controllers/decidim/system/organizations_controller.rb
  decidim-system/app/views/decidim/system/organizations/edit.html.erb
  decidim-system/app/views/decidim/system/shared/_organizations_list.html.erb
  decidim-system/config/locales/en.yml
  decidim-system/config/routes.rb
  decidim-system/spec/system/organizations_spec.rb
Labels: module: system, type: feature

#11879 Redesign: minimap layout
  decidim-admin/app/packs/stylesheets/decidim/admin/_minimap.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/application.scss
  decidim-admin/app/views/decidim/admin/organization_appearance/form/_images.html.erb
  decidim-admin/app/views/decidim/admin/organization_appearance/form/_minimap.html.erb
  decidim-admin/spec/system/admin_manages_organization_appearance_spec.rb
Labels: module: admin, type: fix, contract: redesign

#11882 Add admin's password confirmation validation in system
  decidim-system/app/forms/decidim/system/admin_form.rb
  decidim-system/spec/commands/decidim/system/create_admin_spec.rb
Labels: module: system, type: fix

#11857 Refactor content blocks admin
  decidim-admin/app/controllers/concerns/decidim/admin/content_blocks/landing_page.rb
  decidim-admin/app/controllers/concerns/decidim/admin/content_blocks/landing_page_content_blocks.rb
  decidim-admin/app/controllers/decidim/admin/organization_homepage_content_blocks_controller.rb
  decidim-admin/app/controllers/decidim/admin/organization_homepage_controller.rb
  decidim-admin/app/controllers/decidim/admin/static_page_content_blocks_controller.rb
  decidim-admin/app/controllers/decidim/admin/static_pages_controller.rb
  decidim-admin/config/locales/en.yml
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_landing_page_content_blocks_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_landing_page_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/votings_landing_page_content_blocks_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/votings_landing_page_controller.rb
  decidim-elections/config/locales/en.yml
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_group_landing_page_content_blocks_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_group_landing_page_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_landing_page_content_blocks_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_landing_page_controller.rb
  decidim-participatory_processes/config/locales/en.yml
Labels: target: developer-experience, type: internal

#11749 Send email on account update
  decidim-core/app/commands/decidim/update_account.rb
  decidim-core/app/mailers/decidim/user_update_mailer.rb
  decidim-core/app/views/decidim/user_update_mailer/notify.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/commands/decidim/update_account_spec.rb
  decidim-core/spec/mailers/user_update_mailer_spec.rb
  decidim-core/spec/system/account_spec.rb
Labels: module: core, type: change

#11888 Bump devise_invitable from v2.0.8 to v2.0.9
  Gemfile.lock
  decidim-admin/decidim-admin.gemspec
  decidim-generators/Gemfile.lock
  decidim-system/decidim-system.gemspec
Labels: dependencies, type: fix

#11906 Fix spec for i18n change in Crowdin in release/0.26-stable
  decidim-core/spec/system/locales_spec.rb
Labels: type: internal

#11891 Backport 'Add "Tile usage" notice at the top of doc page for OSM maps and geocoding' to v0.26
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  docs/modules/services/pages/maps.adoc
Labels: team: documentation, backport, type: fix

#11897 Backport 'Fix Bootsnap configuration' to v0.26
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/app_templates/config/boot.rb.tt
Labels: backport, module: generators, type: fix

#11890 Backport 'Add "Tile usage" notice at the top of doc page for OSM maps and geocoding' to v0.27
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  docs/modules/services/pages/maps.adoc
Labels: team: documentation, backport, type: fix

#11908 Backport 'Update HERE API autocomplete' to v0.27
  decidim-core/app/packs/src/decidim/geocoding/provider/here.js
  decidim-core/spec/system/map/provider/autocomplete/here_builder_spec.rb
Labels: module: core, backport, type: fix

#11907 Backport 'Update HERE API autocomplete' to v0.26
  decidim-core/app/packs/src/decidim/geocoding/provider/here.js
  decidim-core/spec/system/map/provider/autocomplete/here_builder_spec.rb
Labels: module: core, backport, type: fix

#11896 Backport 'Fix Bootsnap configuration' to v0.27
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/app_templates/config/boot.rb.tt
Labels: backport, module: generators, type: fix

#11916 Backport 'Return the coordinates from Photon geocoding in correct order' to v0.26
  decidim-core/app/packs/src/decidim/geocoding/provider/photon.js
  decidim-core/spec/system/map/provider/autocomplete/osm_builder_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/geocoder.rb
Labels: module: core, backport, type: fix

#11914 Backport 'Fix conference venues meetings visibility' to v0.27
  decidim-conferences/spec/system/conferences_spec.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
Labels: module: meetings, backport, module: conferences, type: fix

#11912 Backport 'Add 127.0.0.1 and 0.0.0.0 as secondary hosts in the Organization's seeds' to v0.26
  decidim-core/db/seeds.rb
Labels: target: developer-experience, backport, type: fix

#11911 Backport 'Add 127.0.0.1 and 0.0.0.0 as secondary hosts in the Organization's seeds' to v0.27
  decidim-core/db/seeds.rb
Labels: target: developer-experience, backport, type: fix

#11903 Backport 'Fix 'download your data' when there are comments on budgets' to v0.27
  decidim-comments/lib/decidim/comments/comment_serializer.rb
  decidim-comments/lib/decidim/comments/comment_vote_serializer.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: module: budgets, module: comments, backport, type: fix

#11902 Backport 'Fix 'download your data' when there are comments on budgets' to v0.26
  decidim-comments/lib/decidim/comments/comment_serializer.rb
  decidim-comments/lib/decidim/comments/comment_vote_serializer.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: module: budgets, module: comments, backport, type: fix

#11894 Backport 'Add alert when publish a survey with answers' to v0.26
  decidim-admin/app/views/decidim/admin/components/_actions.html.erb
  decidim-admin/app/views/decidim/admin/components/_component.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/component/_actions.html.erb
  decidim-surveys/config/locales/en.yml
  decidim-surveys/spec/system/admin_manages_surveys_spec.rb
Labels: backport, module: surveys, type: fix

#11899 Backport 'Deletion of leftovers ZIP files in tmp directory' to v0.27
  decidim-core/app/jobs/decidim/download_your_data_export_job.rb
  decidim-core/spec/jobs/decidim/download_your_data_export_job_spec.rb
Labels: module: core, backport, type: fix

#11922 Backport 'Sort components in "Add component" alphabetically' to v0.26
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/lib/decidim_spec.rb
Labels: module: admin, backport, type: fix

#11923 Backport 'Sort components in "Add component" alphabetically' to v0.27
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/lib/decidim_spec.rb
Labels: module: admin, backport, type: fix

#11892 Backport 'Fix autocomplete result list duplicates' to v0.27
  decidim-core/app/packs/src/decidim/autocomplete.js
  decidim-core/spec/system/messaging/conversations_spec.rb
Labels: module: core, backport, type: fix

#11893 Backport 'Fix autocomplete result list duplicates' to v0.26
  decidim-core/spec/system/messaging/conversations_spec.rb
Labels: module: core, backport, type: fix

#11901 Backport 'Deletion of ZIP file in tmp folder OpenData export job' to v0.26
  decidim-core/app/jobs/decidim/open_data_job.rb
  decidim-core/spec/jobs/decidim/open_data_job_spec.rb
Labels: module: core, backport, type: fix

#11921 Backport 'Raise an error if the export format is unknown' to v0.26
  decidim-core/lib/decidim/exporters.rb
  decidim-core/spec/lib/exporters_spec.rb
Labels: module: core, backport, type: fix

#11913 Backport 'Fix conference venues meetings visibility' to v0.26
  decidim-conferences/spec/system/conferences_spec.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
Labels: module: meetings, backport, module: conferences, type: fix

#11929 Backport 'Add admin's password confirmation validation in system' to v0.27
  decidim-system/app/forms/decidim/system/admin_form.rb
  decidim-system/spec/commands/decidim/system/create_admin_spec.rb
Labels: module: system, backport, type: fix

#11928 Backport 'Add admin's password confirmation validation in system' to v0.26
  decidim-system/app/forms/decidim/system/admin_form.rb
  decidim-system/spec/commands/decidim/system/create_admin_spec.rb
Labels: module: system, backport, type: fix

#11898 Backport 'Deletion of leftovers ZIP files in tmp directory' to v0.26
  decidim-core/app/jobs/decidim/data_portability_export_job.rb
  decidim-core/spec/jobs/decidim/data_portability_export_job_spec.rb
Labels: module: core, backport, type: fix

#11900 Backport 'Deletion of ZIP file in tmp folder OpenData export job' to v0.27
  decidim-core/app/jobs/decidim/open_data_job.rb
  decidim-core/spec/jobs/decidim/open_data_job_spec.rb
Labels: module: core, backport, type: fix

#11915 Backport 'Return the coordinates from Photon geocoding in correct order' to v0.27
  decidim-core/app/packs/src/decidim/geocoding/provider/photon.js
  decidim-core/spec/system/map/provider/autocomplete/osm_builder_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/geocoder.rb
Labels: module: core, backport, type: fix

#11920 Backport 'Raise an error if the export format is unknown' to v0.27
  decidim-core/lib/decidim/exporters.rb
  decidim-core/spec/lib/exporters_spec.rb
Labels: module: core, backport, type: fix

#11925 Backport 'Use UTC in the serializers for the date fields' to v0.27
  decidim-elections/lib/decidim/votings/voting_serializer.rb
  decidim-forms/lib/decidim/forms/user_answers_serializer.rb
  decidim-forms/spec/serializers/decidim/forms/user_answers_serializer_spec.rb
  decidim-meetings/lib/decidim/meetings/meeting_serializer.rb
  decidim-meetings/lib/decidim/meetings/user_answers_serializer.rb
  decidim-meetings/spec/lib/decidim/meetings/meeting_serializer_spec.rb
Labels: module: meetings, backport, module: elections, module: forms, type: fix

#11930 Backport 'Simplify the code related to questionnaire templates previews' to v0.27
  decidim-templates/app/controllers/decidim/templates/admin/questionnaire_templates_controller.rb
  decidim-templates/app/packs/src/decidim/templates/admin/choose_template.js
Labels: backport, module: templates, type: fix

#11926 Backport 'Use UTC in the serializers for the date fields' to v0.26
  decidim-elections/lib/decidim/votings/voting_serializer.rb
  decidim-forms/lib/decidim/forms/user_answers_serializer.rb
  decidim-forms/spec/serializers/decidim/forms/user_answers_serializer_spec.rb
  decidim-meetings/lib/decidim/meetings/meeting_serializer.rb
  decidim-meetings/lib/decidim/meetings/user_answers_serializer.rb
  decidim-meetings/spec/lib/decidim/meetings/meeting_serializer_spec.rb
Labels: module: meetings, backport, module: elections, module: forms, type: fix

#11934 Backport 'Fix password confirm validation error message' to v0.26
  decidim-core/app/controllers/decidim/devise/registrations_controller.rb
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/app/forms/decidim/registration_form.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/controllers/registrations_controller_spec.rb
  decidim-core/spec/forms/account_form_spec.rb
  decidim-core/spec/forms/registration_form_spec.rb
Labels: module: core, backport, type: fix

#11939 Backport 'Add missing activerecord budget locales for search' to v0.26
  decidim-budgets/config/locales/en.yml
Labels: backport, team: i18n, type: fix

#11941 Backport 'Add missing activerecord budget locales for search' to v0.27
  decidim-budgets/config/locales/en.yml
Labels: backport, team: i18n, type: fix

#11945 Backport 'Display meeting button for unauthenticated users' to v0.27
  decidim-meetings/app/views/decidim/meetings/meetings/index.html.erb
Labels: module: meetings, backport, type: fix

#11946 Backport 'Display meeting button for unauthenticated users' to v0.26
  decidim-meetings/app/views/decidim/meetings/meetings/index.html.erb
Labels: module: meetings, backport, type: fix

#11942 Backport 'Fix possible JavaScript console error with geocoding inputs' to v0.27
  decidim-core/app/packs/src/decidim/geocoding/attach_input.js
Labels: module: core, backport, type: fix

#11943 Backport 'Fix possible JavaScript console error with geocoding inputs' to v0.26
  decidim-core/app/packs/src/decidim/geocoding/attach_input.js
Labels: module: core, backport, type: fix

#11951 Backport 'Extraction of i18n strings in system panel' to v0.27
  decidim-system/app/views/decidim/system/admins/show.html.erb
  decidim-system/app/views/decidim/system/devise/passwords/edit.html.erb
  decidim-system/app/views/decidim/system/devise/passwords/new.html.erb
  decidim-system/app/views/decidim/system/devise/sessions/new.html.erb
  decidim-system/app/views/decidim/system/devise/shared/_links.html.erb
  decidim-system/app/views/decidim/system/organizations/new.html.erb
  decidim-system/app/views/layouts/decidim/system/_login_items.html.erb
  decidim-system/app/views/layouts/decidim/system/login.html.erb
  decidim-system/config/locales/en.yml
Labels: module: system, backport, target:cleanup, type: fix

#11952 Backport 'Extraction of i18n strings in system panel' to v0.26
  decidim-system/app/views/decidim/system/admins/show.html.erb
  decidim-system/app/views/decidim/system/devise/passwords/edit.html.erb
  decidim-system/app/views/decidim/system/devise/passwords/new.html.erb
  decidim-system/app/views/decidim/system/devise/sessions/new.html.erb
  decidim-system/app/views/decidim/system/devise/shared/_links.html.erb
  decidim-system/app/views/decidim/system/organizations/new.html.erb
  decidim-system/app/views/layouts/decidim/system/_login_items.html.erb
  decidim-system/app/views/layouts/decidim/system/login.html.erb
  decidim-system/config/locales/en.yml
Labels: module: system, backport, target:cleanup, type: fix

#11949 Backport 'Fix missing results on Geocoded when search without diacritics' to v0.27
  decidim-core/app/packs/src/decidim/autocomplete.js
Labels: module: core, backport, type: fix

#11937 Backport 'Bump devise_invitable from v2.0.8 to v2.0.9' to v0.27
  Gemfile.lock
  decidim-admin/decidim-admin.gemspec
  decidim-assemblies/spec/cells/decidim/assemblies/statistic_cell_spec.rb
  decidim-assemblies/spec/cells/decidim/assemblies/statistics_cell_spec.rb
  decidim-core/spec/cells/decidim/upload_modal_cell_spec.rb
  decidim-core/spec/validators/uploader_content_type_validator_spec.rb
  decidim-generators/Gemfile.lock
  decidim-participatory_processes/spec/cells/decidim/participatory_processes/statistic_cell_spec.rb
  decidim-participatory_processes/spec/cells/decidim/participatory_processes/statistics_cell_spec.rb
  decidim-system/decidim-system.gemspec
  decidim_app-design/Gemfile.lock
Labels: backport, dependencies, type: fix

#11918 Backport 'Fix search when moderations are hidden' to v0.26
  decidim-admin/app/controllers/concerns/decidim/moderations/admin/filterable.rb
  decidim-admin/spec/system/admin_manages_global_moderations_spec.rb
Labels: module: core, backport, type: fix

#11905 Backport 'Fix Permissions screen on budgets throw errors' to v0.26
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-budgets/spec/system/admin_manages_project_permissions_spec.rb
  decidim-core/app/cells/decidim/version_cell.rb
  decidim-core/app/cells/decidim/versions_list_cell.rb
  decidim-core/app/helpers/decidim/resource_helper.rb
Labels: module: budgets, backport, type: fix

#11904 Backport 'Fix Permissions screen on budgets throw errors' to v0.27
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-budgets/spec/system/admin_manages_project_permissions_spec.rb
  decidim-core/app/cells/decidim/version_cell.rb
  decidim-core/app/cells/decidim/versions_list_cell.rb
  decidim-core/app/helpers/decidim/resource_helper.rb
Labels: module: budgets, backport, type: fix

#11947 Backport 'Hide omnipresent in media print of initiatives' to v0.26
  decidim-initiatives/app/packs/stylesheets/decidim/initiatives/print-initiative.scss
  decidim-initiatives/app/views/decidim/initiatives/initiatives/print.html.erb
Labels: backport, module: initiatives, type: fix, contract: redesign

#11948 Backport 'Hide omnipresent in media print of initiatives' to v0.27
  decidim-initiatives/app/packs/stylesheets/decidim/initiatives/print-initiative.scss
  decidim-initiatives/app/views/decidim/initiatives/initiatives/print.html.erb
Labels: backport, module: initiatives, type: fix, contract: redesign

#11919 Backport 'Fix search when moderations are hidden' to v0.27
  decidim-admin/app/controllers/concerns/decidim/moderations/admin/filterable.rb
  decidim-admin/spec/system/admin_manages_global_moderations_spec.rb
Labels: module: core, backport, type: fix

#11936 Backport 'Redirect non-admin users to core's root_path' to v0.26
  decidim-admin/app/controllers/concerns/decidim/admin/needs_admin_tos_accepted.rb
  decidim-admin/config/routes.rb
  decidim-admin/lib/decidim/admin/test/admin_participatory_space_access_examples.rb
  decidim-admin/spec/system/admin_access_spec.rb
  decidim-assemblies/spec/system/admin/admin_access_spec.rb
  decidim-conferences/app/controllers/decidim/conferences/conferences_controller.rb
  decidim-conferences/spec/system/admin/admin_access_spec.rb
  decidim-core/app/forms/decidim/notifications_settings_form.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/views/decidim/notifications_settings/show.html.erb
  decidim-core/lib/decidim/core/test/shared_examples/errors.rb
  decidim-core/spec/forms/notifications_settings_form_spec.rb
  decidim-core/spec/models/decidim/user_spec.rb
  decidim-initiatives/spec/system/admin/admin_access_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_access_spec.rb
  decidim-templates/lib/decidim/templates/admin_engine.rb
Labels: module: admin, backport, type: fix

#11910 Backport 'Fix empty address in conference's venues ' to v0.27
  decidim-conferences/spec/system/conferences_spec.rb
  decidim-meetings/app/views/decidim/participatory_spaces/_conference_venues.html.erb
Labels: module: meetings, backport, module: conferences, type: fix

#11909 Backport 'Fix empty address in conference's venues ' to v0.26
  decidim-conferences/spec/system/conferences_spec.rb
  decidim-meetings/app/views/decidim/participatory_spaces/_conference_venues.html.erb
Labels: module: meetings, backport, module: conferences, type: fix

#11954 Backport 'Add titles in system pages' to v0.26
  decidim-system/app/controllers/decidim/system/application_controller.rb
  decidim-system/app/views/decidim/system/admins/edit.html.erb
  decidim-system/app/views/decidim/system/admins/index.html.erb
  decidim-system/app/views/decidim/system/admins/new.html.erb
  decidim-system/app/views/decidim/system/dashboard/show.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/edit.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/index.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/new.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/show.html.erb
  decidim-system/app/views/decidim/system/organizations/edit.html.erb
  decidim-system/app/views/decidim/system/organizations/index.html.erb
  decidim-system/app/views/decidim/system/organizations/new.html.erb
  decidim-system/app/views/layouts/decidim/system/application.html.erb
  decidim-system/config/locales/en.yml
Labels: module: system, backport, type: fix

#11953 Backport 'Add titles in system pages' to v0.27
  decidim-system/app/controllers/decidim/system/application_controller.rb
  decidim-system/app/views/decidim/system/admins/edit.html.erb
  decidim-system/app/views/decidim/system/admins/index.html.erb
  decidim-system/app/views/decidim/system/admins/new.html.erb
  decidim-system/app/views/decidim/system/dashboard/show.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/edit.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/index.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/new.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/show.html.erb
  decidim-system/app/views/decidim/system/organizations/edit.html.erb
  decidim-system/app/views/decidim/system/organizations/index.html.erb
  decidim-system/app/views/decidim/system/organizations/new.html.erb
  decidim-system/app/views/layouts/decidim/system/application.html.erb
  decidim-system/config/locales/en.yml
Labels: module: system, backport, type: fix

#11927 Backport 'Simplify the code related to questionnaire templates previews' to v0.26
  decidim-admin/app/packs/src/decidim/admin/autocomplete.component.js
  decidim-templates/app/controllers/decidim/templates/admin/questionnaire_templates_controller.rb
Labels: backport, module: templates, type: fix

#11813 Redesign: add button for mobiles in online meetings with iframes
  decidim-meetings/app/cells/decidim/meetings/online_meeting_link/show.erb
  decidim-meetings/app/packs/stylesheets/decidim/meetings/_item.scss
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_form.html.erb
  decidim-meetings/config/locales/en.yml
Labels: module: meetings, type: fix, contract: redesign

#11870 Redesign: accountability home empty content
  decidim-accountability/app/cells/decidim/accountability/status_cell.rb
  decidim-accountability/app/packs/stylesheets/accountability.scss
  decidim-accountability/app/views/decidim/accountability/results/_home_categories.html.erb
  decidim-accountability/spec/requests/result_search_spec.rb
  decidim-accountability/spec/system/explore_results_spec.rb
Labels: module: accountability, type: fix, contract: redesign

#11950 Fix proposal listing fields arrangements
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_proposal-tr.html.erb
Labels: module: proposals, module: admin, type: fix, contract: redesign, no-backport

#11959 Redesign: design annoucements
  decidim-design/app/controllers/decidim/design/components_controller.rb
  decidim-design/app/helpers/decidim/design/announcement_helper.rb
  decidim-design/app/views/decidim/design/components/announcement.html.erb
Labels: type: feature, contract: redesign

#11960 Redesign: design share button
  decidim-design/app/controllers/decidim/design/components_controller.rb
  decidim-design/app/helpers/decidim/design/share_helper.rb
  decidim-design/app/views/decidim/design/components/share.html.erb
Labels: type: feature, contract: redesign

#11961 Backport 'Don't show map with only online meetings in Content Block' to v0.27
  decidim-meetings/app/cells/decidim/meetings/content_blocks/upcoming_meetings/show.erb
  decidim-meetings/app/cells/decidim/meetings/content_blocks/upcoming_meetings_cell.rb
  decidim-meetings/spec/cells/decidim/meetings/content_blocks/upcoming_meetings_cell_spec.rb
Labels: module: meetings, backport, type: fix

#11958 Backport 'Don't show map with only online meetings in Content Block' to v0.26
  decidim-meetings/app/cells/decidim/meetings/content_blocks/upcoming_meetings/show.erb
  decidim-meetings/app/cells/decidim/meetings/content_blocks/upcoming_meetings_cell.rb
  decidim-meetings/spec/cells/decidim/meetings/content_blocks/upcoming_meetings_cell_spec.rb
Labels: module: meetings, backport, type: fix

#11931 Backport 'Support deploy to a subdirectory - direct_uploads' to v0.27
  decidim-core/app/cells/decidim/upload_modal/modal.erb
  decidim-core/app/cells/decidim/upload_modal_cell.rb
  decidim-core/app/packs/src/decidim/direct_uploads/uploader.js
  decidim-core/spec/cells/decidim/upload_modal_cell_spec.rb
Labels: backport, type: fix

#11935 Backport 'Redirect non-admin users to core's root_path' to v0.27
  decidim-admin/app/controllers/concerns/decidim/admin/needs_admin_tos_accepted.rb
  decidim-admin/config/routes.rb
  decidim-admin/lib/decidim/admin/test/admin_participatory_space_access_examples.rb
  decidim-admin/spec/system/admin_access_spec.rb
  decidim-assemblies/spec/system/admin/admin_access_spec.rb
  decidim-conferences/app/controllers/decidim/conferences/conferences_controller.rb
  decidim-conferences/spec/system/admin/admin_access_spec.rb
  decidim-core/app/forms/decidim/notifications_settings_form.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/views/decidim/notifications_settings/show.html.erb
  decidim-core/lib/decidim/core/test/shared_examples/errors.rb
  decidim-core/spec/forms/notifications_settings_form_spec.rb
  decidim-core/spec/models/decidim/user_spec.rb
  decidim-initiatives/spec/system/admin/admin_access_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_access_spec.rb
  decidim-templates/lib/decidim/templates/admin_engine.rb
Labels: module: admin, backport, type: fix

#11885 Add default colors to new organizations
  decidim-system/app/commands/decidim/system/register_organization.rb
  decidim-system/spec/commands/decidim/system/register_organization_spec.rb
Labels: module: system, type: fix, contract: redesign, no-backport

#11886 Make HTML header snippets its own section and fix textearea heights
  decidim-admin/app/packs/stylesheets/decidim/admin/_item_edit.scss
  decidim-admin/app/views/decidim/admin/organization_appearance/_form.html.erb
  decidim-admin/app/views/decidim/admin/organization_appearance/form/_colors.html.erb
  decidim-admin/app/views/decidim/admin/organization_appearance/form/_header_snippets.html.erb
  decidim-admin/config/locales/en.yml
Labels: module: admin, type: fix, contract: redesign, no-backport

#11924 Redesign: refactor DDG foundations section
  decidim-core/app/helpers/decidim/icon_helper.rb
  decidim-design/app/controllers/decidim/design/foundations_controller.rb
  decidim-design/app/helpers/decidim/design/application_helper.rb
  decidim-design/app/helpers/decidim/design/colors_helper.rb
  decidim-design/app/helpers/decidim/design/iconography_helper.rb
  decidim-design/app/helpers/decidim/design/typography_helper.rb
  decidim-design/app/packs/stylesheets/design.scss
  decidim-design/app/views/decidim/design/foundations/color.html.erb
  decidim-design/app/views/decidim/design/foundations/iconography.html.erb
  decidim-design/app/views/decidim/design/foundations/typography.html.erb
Labels: type: change, contract: redesign

#11852 Redesign: progress metadata for result card
  decidim-accountability/app/cells/decidim/accountability/result_l_cell.rb
  decidim-accountability/app/cells/decidim/accountability/results/show.erb
  decidim-accountability/spec/cells/decidim/accountability/result_cell_spec.rb
Labels: type: feature, module: accountability, contract: redesign

#11798 Redesign: fix eye-icon on password fields when there's an error
  decidim-core/app/packs/src/decidim/password_toggler.js
  decidim-core/app/packs/stylesheets/decidim/_forms.scss
Labels: module: admin, type: fix, contract: redesign, no-backport

#11787 Redesign: design cards
  decidim-core/app/packs/stylesheets/decidim/_cards.scss
  decidim-design/app/controllers/decidim/design/components/cards_controller.rb
  decidim-design/app/controllers/decidim/design/components_controller.rb
  decidim-design/app/helpers/decidim/design/cards_helper.rb
  decidim-design/app/packs/stylesheets/design.scss
  decidim-design/app/views/decidim/design/components/cards.html.erb
  decidim-design/app/views/decidim/design/components/cards/_static-card-g-highlight.html.erb
  decidim-design/app/views/decidim/design/components/cards/_static-card-g-metadata-2.html.erb
  decidim-design/app/views/decidim/design/components/cards/_static-card-g-metadata.html.erb
  decidim-design/app/views/decidim/design/components/cards/_static-card-g.html.erb
  decidim-design/app/views/decidim/design/components/cards/_static-card-l-description.html.erb
  decidim-design/app/views/decidim/design/components/cards/_static-card-l-extra-data-2.html.erb
  decidim-design/app/views/decidim/design/components/cards/_static-card-l-extra-data.html.erb
  decidim-design/app/views/decidim/design/components/cards/_static-card-l-image.html.erb
  decidim-design/app/views/decidim/design/components/cards/_static-card-l-meetings.html.erb
  decidim-design/app/views/decidim/design/components/cards/_static-card-l.html.erb
  decidim-design/app/views/decidim/design/components/cards/_static-card-s.html.erb
  decidim-design/app/views/decidim/design/components/cards/index.html.erb
  decidim-design/app/views/decidim/design/foundations/accessibility.html.erb
  decidim-design/app/views/decidim/design/foundations/layout.html.erb
  decidim-design/app/views/decidim/design/foundations/typography.html.erb
  decidim-design/app/views/decidim/design/shared/_card_grid.html.erb
  decidim-design/app/views/layouts/decidim/design/_layout.html.erb
  decidim-design/config/routes.rb
Labels: type: feature, contract: redesign

#11969 Redesign: design tab-panels
  decidim-design/app/controllers/decidim/design/components_controller.rb
  decidim-design/app/helpers/decidim/design/application_helper.rb
  decidim-design/app/helpers/decidim/design/tab_panels_helper.rb
  decidim-design/app/packs/stylesheets/design.scss
  decidim-design/app/views/decidim/design/components/tab_panels.html.erb
  decidim-design/app/views/decidim/design/shared/_table.html.erb
  decidim-design/app/views/layouts/decidim/design/_layout.html.erb
Labels: type: feature, contract: redesign

#11957 Redesign: design a11y components
  decidim-design/app/packs/stylesheets/design.scss
  decidim-design/app/views/decidim/design/components/accordions.html.erb
  decidim-design/app/views/decidim/design/components/dialogs.html.erb
  decidim-design/app/views/decidim/design/components/dropdowns.html.erb
Labels: type: feature, contract: redesign

#11968 Extract seeds to its own classes
  decidim-accountability/lib/decidim/accountability/component.rb
  decidim-accountability/lib/decidim/accountability/seeds.rb
  decidim-assemblies/lib/decidim/assemblies/participatory_space.rb
  decidim-assemblies/lib/decidim/assemblies/seeds.rb
  decidim-blogs/lib/decidim/blogs/component.rb
  decidim-blogs/lib/decidim/blogs/seeds.rb
  decidim-budgets/lib/decidim/budgets/component.rb
  decidim-budgets/lib/decidim/budgets/seeds.rb
  decidim-conferences/lib/decidim/conferences/participatory_space.rb
  decidim-conferences/lib/decidim/conferences/seeds.rb
  decidim-core/db/seeds.rb
  decidim-core/lib/decidim/core/seeds.rb
  decidim-debates/lib/decidim/debates/component.rb
  decidim-debates/lib/decidim/debates/seeds.rb
  decidim-elections/lib/decidim/elections/component.rb
  decidim-elections/lib/decidim/elections/seeds.rb
  decidim-elections/lib/decidim/votings/participatory_space.rb
  decidim-elections/lib/decidim/votings/seeds.rb
  decidim-initiatives/lib/decidim/initiatives/participatory_space.rb
  decidim-initiatives/lib/decidim/initiatives/seeds.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/lib/decidim/meetings/seeds.rb
  decidim-pages/lib/decidim/pages/component.rb
  decidim-pages/lib/decidim/pages/seeds.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/participatory_space.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/seeds.rb
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/lib/decidim/proposals/seeds.rb
  decidim-sortitions/lib/decidim/sortitions/component.rb
  decidim-sortitions/lib/decidim/sortitions/seeds.rb
  decidim-surveys/lib/decidim/surveys/component.rb
  decidim-surveys/lib/decidim/surveys/seeds.rb
Labels: type: internal

#11963 Do not show the titles in the admin proposals page if there isn't any
  decidim-proposals/app/views/decidim/proposals/admin/proposals/show.html.erb
  decidim-proposals/spec/system/admin/view_proposal_details_from_admin_spec.rb
Labels: module: proposals, type: fix

#11962 Add "custom classes" section in docs
  docs/modules/develop/pages/classes/cells.adoc
  docs/modules/develop/pages/classes/commands.adoc
  docs/modules/develop/pages/classes/controllers.adoc
  docs/modules/develop/pages/classes/events.adoc
  docs/modules/develop/pages/classes/forms.adoc
  docs/modules/develop/pages/classes/jobs.adoc
  docs/modules/develop/pages/classes/mailers.adoc
  docs/modules/develop/pages/classes/models.adoc
  docs/modules/develop/pages/classes/permissions.adoc
  docs/modules/develop/pages/classes/presenters.adoc
  docs/modules/develop/pages/classes/queries.adoc
Labels: team: documentation, target: developer-experience, type: internal

#11884 Fix display of attachment titles
  decidim-core/app/cells/decidim/documents_panel_cell.rb
  decidim-core/app/views/decidim/application/_document.html.erb
  decidim-proposals/spec/shared/proposals_wizards_examples.rb
Labels: module: core, type: fix, no-backport

#11741 Fix further issues with the redesigned file uploader file name display
  decidim-core/app/packs/src/decidim/direct_uploads/upload_field.js
  decidim-core/app/packs/src/decidim/direct_uploads/upload_modal.js
Labels: module: core, type: fix, no-backport

#11889 Fix backports_checker script with edge cases
  lib/decidim/github_manager/querier/by_label.rb
  lib/decidim/github_manager/querier/related_issues.rb
  spec/lib/decidim/github_manager/querier/by_label_spec.rb
  spec/lib/decidim/github_manager/querier/related_issues_spec.rb
Labels: type: internal

#11980 Redesign: design activity
  decidim-design/app/controllers/decidim/design/components_controller.rb
  decidim-design/app/helpers/decidim/design/activities_helper.rb
  decidim-design/app/views/decidim/design/components/activities.html.erb
  decidim-design/app/views/decidim/design/components/activities/_static-activities.html.erb
  decidim-design/app/views/decidim/design/components/activities/_static-activity.html.erb
Labels: type: feature, contract: redesign

#11973 Backport 'Fix duplicated endorsements' to v0.26
  CHANGELOG.md
  decidim-core/app/commands/decidim/endorse_resource.rb
  decidim-core/app/commands/decidim/unendorse_resource.rb
  decidim-core/db/migrate/20231027142329_change_default_value_for_decidim_endorsements.rb
  decidim-core/lib/decidim/endorsable.rb
  decidim-core/lib/tasks/upgrade/decidim_deduplicate_endorsements.rake
  decidim-core/spec/models/decidim/endorsement_spec.rb
Labels: backport, type: fix

#11979 Fix order initiatives by comments using the column instead of a subquery
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-initiatives/spec/system/filter_initiatives_spec.rb
Labels: module: initiatives, type: fix

#11983 Backport 'Fix order initiatives by comments using the column instead of a subquery' to v0.27
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-initiatives/spec/system/filter_initiatives_spec.rb
Labels: backport, module: initiatives, type: fix

#11991 Redesign: endorsers-list spacing
  decidim-core/app/packs/stylesheets/decidim/_endorsers_list.scss
Labels: type: fix, contract: redesign, no-backport

#11976 Fix order proposals by comments and follows using the column instead of a subquery
  decidim-proposals/app/controllers/concerns/decidim/proposals/orderable.rb
  decidim-proposals/spec/system/filter_proposals_spec.rb
Labels: module: proposals, type: fix

#11972 Redesign: design author
  decidim-design/app/controllers/decidim/design/components_controller.rb
  decidim-design/app/helpers/decidim/design/author_helper.rb
  decidim-design/app/views/decidim/design/components/author.html.erb
  decidim-design/app/views/decidim/design/components/author/_static-avatar.html.erb
  decidim-design/app/views/decidim/design/components/author/_static-compact.html.erb
  decidim-design/app/views/decidim/design/components/author/_static-default.html.erb
Labels: type: feature, contract: redesign

#11985 Redesign: design follow
  decidim-design/app/controllers/decidim/design/components_controller.rb
  decidim-design/app/helpers/decidim/design/follow_helper.rb
  decidim-design/app/views/decidim/design/components/follow.html.erb
  decidim-design/app/views/decidim/design/components/follow/_static-follow-default.html.erb
  decidim-design/app/views/decidim/design/components/follow/_static-follow-unfollow.html.erb
Labels: type: feature, contract: redesign

#11993 Backport 'Fix order proposals by comments and follows using the column instead of a query' to v0.27
  decidim-proposals/app/controllers/concerns/decidim/proposals/orderable.rb
  decidim-proposals/spec/system/filter_proposals_spec.rb
Labels: module: proposals, backport, type: fix

#11981 Redesign: design address
  decidim-design/app/controllers/decidim/design/components_controller.rb
  decidim-design/app/helpers/decidim/design/address_helper.rb
  decidim-design/app/views/decidim/design/components/address.html.erb
  decidim-design/app/views/decidim/design/components/address/_static-address-online.html
  decidim-design/app/views/decidim/design/components/address/_static-address-person.html
Labels: type: feature, contract: redesign

#11987 Redesign: design report
  decidim-design/app/controllers/decidim/design/components_controller.rb
  decidim-design/app/helpers/decidim/design/report_helper.rb
  decidim-design/app/views/decidim/design/components/report.html.erb
  decidim-design/app/views/decidim/design/components/report/_static-report.html.erb
Labels: type: feature, contract: redesign

#11833 Redesign: margin for comments
  decidim-blogs/app/packs/stylesheets/blogs.scss
  decidim-blogs/app/views/decidim/blogs/posts/show.html.erb
  decidim-core/app/packs/stylesheets/decidim/_layout.scss
Labels: module: blogs, type: fix, contract: redesign, no-backport

#11862 Move projects across budgets
  decidim-budgets/app/commands/decidim/budgets/admin/update_projects_budget.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/projects_controller.rb
  decidim-budgets/app/helpers/decidim/budgets/projects_helper.rb
  decidim-budgets/app/views/decidim/budgets/admin/projects/_bulk-actions.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/bulk_actions/_budget-change.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/bulk_actions/_dropdown.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/update_attribute.js.erb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/lib/decidim/budgets/admin_engine.rb
  decidim-budgets/spec/commands/decidim/budgets/admin/update_projects_budget_spec.rb
  decidim-budgets/spec/system/admin_manages_projects_spec.rb
Labels: module: budgets, type: feature

#11986 Allow apps to configure the document types in the elections module
  decidim-elections/README.md
  decidim-elections/app/forms/decidim/votings/census/in_person_fields.rb
  decidim-elections/app/views/decidim/votings/census/admin/census/_upload_info.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/elections.rb
  decidim-elections/lib/decidim/votings/test/factories.rb
  decidim-elections/spec/commands/decidim/votings/census/admin/create_datum_spec.rb
  decidim-elections/spec/commands/decidim/votings/check_census_spec.rb
  decidim-elections/spec/commands/decidim/votings/voter/in_person_vote_spec.rb
  decidim-elections/spec/forms/decidim/votings/census/admin/datum_form_spec.rb
  decidim-elections/spec/forms/decidim/votings/census/check_form_spec.rb
  decidim-elections/spec/forms/decidim/votings/census/in_person_form_spec.rb
  decidim-elections/spec/forms/decidim/votings/census/login_form_spec.rb
  decidim-elections/spec/jobs/decidim/votings/census/admin/create_datum_job_spec.rb
  decidim-elections/spec/services/decidim/votings/census_vote_flow_spec.rb
  decidim-elections/spec/system/check_census_spec.rb
  decidim-elections/spec/system/vote_in_person_spec.rb
  decidim-elections/spec/system/vote_online_inside_a_voting_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
Labels: type: feature, module: elections

#11988 Fix boilerplate description in header menu and in footer
  decidim-core/app/cells/decidim/content_blocks/footer_sub_hero/show.erb
  decidim-core/app/helpers/decidim/layout_helper.rb
  decidim-core/app/views/layouts/decidim/footer/_main_intro.html.erb
  decidim-core/app/views/layouts/decidim/header/_menu_breadcrumb_main_dropdown_top_left.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/helpers/decidim/layout_helper_spec.rb
  decidim-core/spec/system/homepage_spec.rb
  decidim-core/spec/system/menu_spec.rb
Labels: module: core, type: fix, contract: redesign, no-backport

#11989 Implement Decidim::Seeds base class with attachments methods
  decidim-assemblies/db/seeds/homepage_image.jpg
  decidim-assemblies/lib/decidim/assemblies/seeds.rb
  decidim-budgets/lib/decidim/budgets/seeds.rb
  decidim-budgets/lib/decidim/budgets/seeds/city.jpeg
  decidim-conferences/db/seeds/Exampledocument.pdf
  decidim-conferences/db/seeds/city.jpeg
  decidim-conferences/db/seeds/city2.jpeg
  decidim-conferences/db/seeds/homepage_image.jpg
  decidim-conferences/lib/decidim/conferences/seeds.rb
  decidim-core/db/seeds/Exampledocument.pdf
  decidim-core/db/seeds/city.jpeg
  decidim-core/db/seeds/city2.jpeg
  decidim-core/db/seeds/logo.png
  decidim-core/lib/decidim/core/seeds.rb
  decidim-core/lib/decidim/seeds.rb
  decidim-elections/db/seeds/Exampledocument.pdf
  decidim-elections/db/seeds/city.jpeg
  decidim-elections/db/seeds/city2.jpeg
  decidim-elections/lib/decidim/elections/seeds.rb
  decidim-elections/lib/decidim/elections/seeds/city.jpeg
  decidim-elections/lib/decidim/votings/seeds.rb
  decidim-initiatives/db/seeds/city.jpeg
  decidim-initiatives/db/seeds/city2.jpeg
  decidim-initiatives/lib/decidim/initiatives/seeds.rb
  decidim-meetings/lib/decidim/meetings/seeds.rb
  decidim-meetings/lib/decidim/meetings/seeds/city.jpeg
  decidim-participatory_processes/db/seeds/Exampledocument.pdf
  decidim-participatory_processes/db/seeds/city.jpeg
  decidim-participatory_processes/db/seeds/city2.jpeg
  decidim-participatory_processes/db/seeds/homepage_image.jpg
  decidim-participatory_processes/lib/decidim/participatory_processes/seeds.rb
Labels: target: developer-experience

#11845 Add replies to comments in seeds
  decidim-comments/app/models/decidim/comments/seed.rb
Labels: module: comments, target: developer-experience

#11984 Extract proposals' show sections in admin to partials
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_documents.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_endorsers.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_meetings.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_photos.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/show.html.erb
Labels: module: proposals, module: admin, target: developer-experience

#11824 Add templates support for proposal's answers
  decidim-proposals/app/views/decidim/proposals/admin/proposal_answers/_form.html.erb
  decidim-templates/app/commands/decidim/templates/admin/copy_proposal_answer_template.rb
  decidim-templates/app/commands/decidim/templates/admin/create_proposal_answer_template.rb
  decidim-templates/app/commands/decidim/templates/admin/update_proposal_answer_template.rb
  decidim-templates/app/controllers/decidim/templates/admin/proposal_answer_templates_controller.rb
  decidim-templates/app/forms/decidim/templates/admin/proposal_answer_template_form.rb
  decidim-templates/app/packs/entrypoints/decidim_templates_admin.js
  decidim-templates/app/packs/src/decidim/templates/admin/block_template_chooser.js
  decidim-templates/app/packs/src/decidim/templates/admin/block_user_template_chooser.js
  decidim-templates/app/packs/src/decidim/templates/admin/proposal_answer_template_chooser.js
  decidim-templates/app/views/decidim/templates/admin/proposal_answer_templates/_form.html.erb
  decidim-templates/app/views/decidim/templates/admin/proposal_answer_templates/_template_chooser.html.erb
  decidim-templates/app/views/decidim/templates/admin/proposal_answer_templates/edit.html.erb
  decidim-templates/app/views/decidim/templates/admin/proposal_answer_templates/index.html.erb
  decidim-templates/app/views/decidim/templates/admin/proposal_answer_templates/new.html.erb
  decidim-templates/config/locales/en.yml
  decidim-templates/lib/decidim/templates/admin_engine.rb
  decidim-templates/lib/decidim/templates/test/factories.rb
  decidim-templates/spec/commands/decidim/templates/admin/copy_proposal_answer_template_spec.rb
  decidim-templates/spec/commands/decidim/templates/admin/create_proposal_answer_template_spec.rb
  decidim-templates/spec/commands/decidim/templates/admin/update_proposal_answer_template_spec.rb
  decidim-templates/spec/factories.rb
  decidim-templates/spec/forms/decidim/templates/admin/proposal_answer_template_form_spec.rb
  decidim-templates/spec/system/admin/admin_manages_proposal_answer_templates_spec.rb
Labels: module: proposals, type: feature, module: templates

#11996 Add more endorsements in seeds
  decidim-core/lib/decidim/core.rb
Labels: type: internal

#11731 Backport 'Fix issues with the file uploader input display' to v0.27
  decidim-core/app/cells/decidim/upload_modal_cell.rb
  decidim-core/app/packs/src/decidim/direct_uploads/upload_field.js
  decidim-core/app/packs/src/decidim/direct_uploads/upload_modal.js
  decidim-core/app/packs/src/decidim/utilities/text.js
  decidim-core/spec/cells/decidim/upload_modal_cell_spec.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
Labels: module: core, backport, type: fix

#12004 Fix shortlink references
  RELEASE_NOTES.md
  decidim-core/app/helpers/decidim/short_link_helper.rb
  decidim-core/lib/tasks/upgrade/decidim_fix_short_url_resolver.rake
  decidim-meetings/spec/system/explore_meetings_spec.rb
Labels: module: core, type: fix

#12012 Show message when there are no contents in accountability
  decidim-accountability/app/views/decidim/accountability/results/home.html.erb
  decidim-accountability/config/locales/en.yml
  decidim-accountability/spec/system/explore_results_spec.rb
Labels: module: accountability, type: fix

#12006 Add link explicitly in the meetings' icalendar event
  decidim-meetings/app/services/decidim/meetings/calendar/meeting_to_event.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/mailers/registration_mailer_spec.rb
  decidim-meetings/spec/services/calendar/meeting_to_event_spec.rb
Labels: module: meetings, type: fix

#12009 Extract menu registry logic
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-admin/lib/decidim/admin/menu.rb
  decidim-assemblies/lib/decidim/assemblies/admin_engine.rb
  decidim-assemblies/lib/decidim/assemblies/engine.rb
  decidim-assemblies/lib/decidim/assemblies/menu.rb
  decidim-conferences/lib/decidim/conferences/admin_engine.rb
  decidim-conferences/lib/decidim/conferences/engine.rb
  decidim-conferences/lib/decidim/conferences/menu.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/menu.rb
  decidim-elections/lib/decidim/elections/admin_engine.rb
  decidim-elections/lib/decidim/elections/menu.rb
  decidim-elections/lib/decidim/elections/trustee_zone_engine.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-elections/lib/decidim/votings/census_admin_engine.rb
  decidim-elections/lib/decidim/votings/census_menu.rb
  decidim-elections/lib/decidim/votings/engine.rb
  decidim-elections/lib/decidim/votings/menu.rb
  decidim-elections/lib/decidim/votings/polling_officer_zone_engine.rb
  decidim-elections/lib/decidim/votings/polling_officer_zone_menu.rb
  decidim-initiatives/lib/decidim/initiatives/admin_engine.rb
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-initiatives/lib/decidim/initiatives/menu.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/admin_engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/menu.rb
  decidim-system/lib/decidim/system/engine.rb
  decidim-system/lib/decidim/system/menu.rb
  decidim-templates/lib/decidim/templates/admin_engine.rb
  decidim-templates/lib/decidim/templates/menu.rb
Labels: target: developer-experience

#12013 Show error message when there are no posts in blogs
  decidim-blogs/app/views/decidim/blogs/posts/index.html.erb
  decidim-blogs/config/locales/en.yml
  decidim-blogs/spec/system/explore_posts_spec.rb
Labels: module: blogs, type: fix

#12017 Fix for searching not published projects
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-budgets/spec/models/decidim/budgets/project_spec.rb
Labels: module: budgets, type: fix

#12027 Add specs for new content blocks
  decidim-assemblies/spec/cells/decidim/assemblies/content_blocks/related_assemblies_cell_spec.rb
  decidim-blogs/spec/cells/decidim/blogs/content_blocks/highlighted_posts_cell_spec.rb
  decidim-proposals/spec/cells/decidim/proposals/highlighted_proposals_for_component_cell_spec.rb
Labels: target: developer-experience, contract: redesign

#12002 Don't use a CTA for canceling a registration in a meeting
  decidim-meetings/app/cells/decidim/meetings/cancel_registration_meeting_button/cancelation_modal.erb
  decidim-meetings/app/cells/decidim/meetings/cancel_registration_meeting_button/show.erb
  decidim-meetings/app/cells/decidim/meetings/cancel_registration_meeting_button_cell.rb
  decidim-meetings/app/cells/decidim/meetings/join_meeting_button/show.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_aside.html.erb
Labels: module: meetings, type: fix

#12010 Extract methods from assemblies seeds
  decidim-assemblies/lib/decidim/assemblies/seeds.rb
  decidim-core/lib/decidim/seeds.rb
Labels: target: developer-experience, module: assemblies

#11998 Respect personal data configuration in initiatives signatures export
  decidim-initiatives/app/cells/decidim/initiatives_votes/vote/show.erb
  decidim-initiatives/app/cells/decidim/initiatives_votes/vote_cell.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/initiatives_controller.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/_signatures.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/export_pdf_signatures.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/export_pdf_signatures.pdf.erb
  decidim-initiatives/lib/decidim/initiatives/seeds.rb
  decidim-initiatives/spec/cells/decidim/initiatives_votes/vote_cell_spec.rb
  decidim-initiatives/spec/system/admin/export_initiative_signatures_spec.rb
Labels: type: feature, module: initiatives

#12028 Add max results setting to highlighted conferences content block
  decidim-conferences/app/cells/decidim/conferences/content_blocks/highlighted_conferences_cell.rb
  decidim-conferences/app/cells/decidim/conferences/content_blocks/highlighted_conferences_settings_form/show.erb
  decidim-conferences/app/cells/decidim/conferences/content_blocks/highlighted_conferences_settings_form_cell.rb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/lib/decidim/conferences/engine.rb
  decidim-conferences/spec/cells/decidim/conferences/content_blocks/highlighted_conferences_cell_spec.rb
Labels: type: feature, module: conferences

#12029 Fix faker requirement in production environment
  decidim-accountability/lib/decidim/accountability/component.rb
  decidim-accountability/lib/decidim/accountability/test/factories.rb
  decidim-assemblies/lib/decidim/assemblies/participatory_space.rb
  decidim-blogs/lib/decidim/blogs/component.rb
  decidim-blogs/lib/decidim/blogs/test/factories.rb
  decidim-budgets/lib/decidim/budgets/component.rb
  decidim-budgets/lib/decidim/budgets/test/factories.rb
  decidim-conferences/lib/decidim/conferences/participatory_space.rb
  decidim-debates/lib/decidim/debates/component.rb
  decidim-debates/lib/decidim/debates/test/factories.rb
  decidim-dev/lib/decidim/dev/test/factories.rb
  decidim-elections/lib/decidim/elections/component.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/lib/decidim/votings/participatory_space.rb
  decidim-generators/lib/decidim/generators/component_templates/lib/decidim/component/test/factories.rb.erb
  decidim-initiatives/app/commands/decidim/initiatives/create_initiative.rb
  decidim-initiatives/lib/decidim/initiatives/participatory_space.rb
  decidim-initiatives/lib/decidim/initiatives/seeds.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-pages/lib/decidim/pages/component.rb
  decidim-pages/spec/factories.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/participatory_space.rb
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-sortitions/lib/decidim/sortitions/component.rb
  decidim-sortitions/lib/decidim/sortitions/test/factories.rb
  decidim-surveys/lib/decidim/surveys/component.rb
  decidim-surveys/lib/decidim/surveys/test/factories.rb
Labels: type: internal

#12008 Extract content block registry logic
  decidim-assemblies/lib/decidim/assemblies/content_blocks/registry_manager.rb
  decidim-assemblies/lib/decidim/assemblies/engine.rb
  decidim-conferences/lib/decidim/conferences/content_blocks/registry_manager.rb
  decidim-conferences/lib/decidim/conferences/engine.rb
  decidim-core/lib/decidim/core/content_blocks/registry_manager.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-elections/lib/decidim/votings/content_blocks/registry_manager.rb
  decidim-elections/lib/decidim/votings/engine.rb
  decidim-initiatives/lib/decidim/initiatives/content_blocks/registry_manager.rb
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-meetings/lib/decidim/meetings/content_blocks/registry_manager.rb
  decidim-meetings/lib/decidim/meetings/directory_engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/content_blocks/registry_manager.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
Labels: target: developer-experience

#12005 Extract methods from proposals seeds
  decidim-assemblies/lib/decidim/assemblies/seeds.rb
  decidim-blogs/lib/decidim/blogs/seeds.rb
  decidim-elections/lib/decidim/votings/seeds.rb
  decidim-initiatives/lib/decidim/initiatives/seeds.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/seeds.rb
  decidim-proposals/lib/decidim/proposals/seeds.rb
Labels: module: proposals, target: developer-experience

#12033 Fix faker requirement in production environment 2
  .github/workflows/ci_production_check.yml
  decidim-assemblies/lib/decidim/assemblies/content_blocks/registry_manager.rb
  decidim-conferences/lib/decidim/conferences/content_blocks/registry_manager.rb
  decidim-core/lib/decidim/core/content_blocks/registry_manager.rb
  decidim-elections/lib/decidim/votings/content_blocks/registry_manager.rb
  decidim-initiatives/lib/decidim/initiatives/content_blocks/registry_manager.rb
  decidim-meetings/lib/decidim/meetings/content_blocks/registry_manager.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/content_blocks/registry_manager.rb
Labels: type: fix, type: internal, no-backport

#12034 Show error message when there are no budgets nor projects in budgets
  decidim-budgets/app/views/decidim/budgets/budgets/index.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/index.html.erb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/spec/system/explore_budgets_spec.rb
  decidim-budgets/spec/system/explore_projects_spec.rb
Labels: module: budgets, type: fix

#12037 Show message when there are no debates
  decidim-debates/app/views/decidim/debates/debates/_debates.html.erb
  decidim-debates/config/locales/en.yml
  decidim-debates/spec/system/explore_debates_spec.rb
Labels: module: debates, type: fix

#12032 Extract methods from participatory processes seeds
  decidim-assemblies/lib/decidim/assemblies/seeds.rb
  decidim-core/lib/decidim/seeds.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/seeds.rb
Labels: target: developer-experience, module: participatory processes

#12022 Add CI workflow configuration for decidim-design
  .github/workflows/ci_design.yml
  decidim-design/app/views/decidim/design/components/tab_panels.html.erb
  decidim-design/spec/factories.rb
  decidim-design/spec/shared/showing_design_page_shared_examples.rb
  decidim-design/spec/system/components_spec.rb
  decidim-design/spec/system/foundations_spec.rb
  decidim-design/spec/system/home_spec.rb
Labels: target: developer-experience, contract: redesign

#12011 Fix flash of dropdowns in buttons from the title bar and "Manage" button
  decidim-admin/app/views/layouts/decidim/admin/_title_bar.html.erb
  decidim-assemblies/app/views/layouts/decidim/admin/_manage_assemblies.html.erb
  decidim-initiatives/app/views/layouts/decidim/admin/initiatives.html.erb
  decidim-participatory_processes/app/views/layouts/decidim/admin/_manage_processes.html.erb
Labels: type: fix, contract: redesign, no-backport

#12030 Fix issues in "Verify your identity"
  decidim-verifications/app/views/decidim/verifications/authorizations/first_login.html.erb
Labels: module: verifications, type: fix, no-backport

#12038 Remove unused scope filter from search controller and command
  decidim-core/app/commands/decidim/search.rb
  decidim-core/app/controllers/decidim/searches_controller.rb
  decidim-core/spec/commands/decidim/search_spec.rb
  decidim-core/spec/controllers/decidim/searches_controller_spec.rb
Labels: module: core, type: removal

#12040 Fix n+1 query on assemblies permissions
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
Labels: module: assemblies, type: fix

#11873 Remove the asemblies settings page
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assemblies_setting.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assemblies_settings_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_imports_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/assemblies_controller.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assemblies_setting_form.rb
  decidim-assemblies/app/models/decidim/assemblies_setting.rb
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies_settings/_form.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies_settings/edit.html.erb
  decidim-assemblies/app/views/layouts/decidim/admin/_manage_assemblies.html.erb
  decidim-assemblies/app/views/layouts/decidim/admin/assemblies_imports.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/lib/decidim/assemblies/admin_engine.rb
  decidim-assemblies/lib/decidim/assemblies/menu.rb
  decidim-assemblies/spec/commands/update_assemblies_setting_spec.rb
  decidim-assemblies/spec/controllers/assemblies_settings_controller_spec.rb
  decidim-assemblies/spec/forms/assemblies_setting_form_spec.rb
  decidim-assemblies/spec/models/decidim/assemblies_setting_spec.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
Labels: module: assemblies, type: removal, contract: redesign

#11872 Fix process groups component content blocks
  decidim-core/lib/decidim/content_blocks/has_related_components.rb
  decidim-participatory_processes/spec/system/participatory_process_groups_spec.rb
Labels: type: fix, contract: redesign, no-backport

#11982 Create the IconRegistry
  decidim-accountability/lib/decidim/accountability/engine.rb
  decidim-admin/app/cells/decidim/admin/content_block/show.erb
  decidim-admin/app/helpers/decidim/admin/moderations/reports_helper.rb
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-assemblies/lib/decidim/assemblies/engine.rb
  decidim-blogs/lib/decidim/blogs/engine.rb
  decidim-budgets/app/cells/decidim/budgets/project_voted_hint_cell.rb
  decidim-budgets/app/views/decidim/budgets/admin/projects/_project-tr.html.erb
  decidim-budgets/lib/decidim/budgets/engine.rb
  decidim-comments/lib/decidim/comments/engine.rb
  decidim-conferences/lib/decidim/conferences/engine.rb
  decidim-core/app/cells/decidim/author/endorsements.erb
  decidim-core/app/cells/decidim/author/withdraw.erb
  decidim-core/app/cells/decidim/date_range/show.erb
  decidim-core/app/cells/decidim/wizard_step_form/wizard_aside.erb
  decidim-core/app/helpers/concerns/decidim/flash_helper_extensions.rb
  decidim-core/app/helpers/decidim/decidim_form_helper.rb
  decidim-core/app/helpers/decidim/icon_helper.rb
  decidim-core/app/helpers/decidim/layout_helper.rb
  decidim-core/app/helpers/decidim/messaging/conversation_helper.rb
  decidim-core/app/helpers/decidim/omniauth_helper.rb
  decidim-core/app/helpers/decidim/social_share_button_helper.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/icon_registry.rb
  decidim-core/spec/cells/decidim/navbar_admin_link_cell_spec.rb
  decidim-core/spec/helpers/decidim/icon_helper_spec.rb
  decidim-core/spec/lib/icon_registry_spec.rb
  decidim-debates/lib/decidim/debates/engine.rb
  decidim-design/app/helpers/decidim/design/iconography_helper.rb
  decidim-design/lib/decidim/design/engine.rb
  decidim-elections/app/helpers/decidim/elections/admin/trustees_participatory_spaces_helper.rb
  decidim-elections/app/views/decidim/elections/admin/steps/_create_election.html.erb
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_election_results/show.html.erb
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_polling_station_closures/_closures.html.erb
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_polling_station_closures/edit.html.erb
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_polling_station_closures/show.html.erb
  decidim-elections/lib/decidim/elections/engine.rb
  decidim-elections/lib/decidim/votings/engine.rb
  decidim-forms/lib/decidim/forms/engine.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/finish.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_interactions.html.erb
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-meetings/app/views/decidim/meetings/admin/agenda/_form.html.erb
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-proposals/app/helpers/decidim/proposals/map_helper.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/participatory_texts/_proposal_vote_button.html.erb
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-sortitions/lib/decidim/sortitions/engine.rb
  decidim-templates/lib/decidim/templates/engine.rb
  decidim-verifications/lib/decidim/verifications/engine.rb
Labels: type: fix, contract: redesign

#12042 Backport 'Fix n+1 query on assemblies permissions' to v0.27
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
Labels: backport, module: assemblies, type: fix

#12051 Fix develop branch
  decidim-assemblies/lib/decidim/assemblies/test/factories.rb
  decidim-design/app/helpers/decidim/design/iconography_helper.rb
  decidim-design/lib/decidim/design/engine.rb
Labels: type: internal

#12047 Backport 'Add link explicitly in the meetings' icalendar event' to v0.27
  decidim-meetings/app/services/decidim/meetings/calendar/meeting_to_event.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/mailers/registration_mailer_spec.rb
  decidim-meetings/spec/services/calendar/meeting_to_event_spec.rb
Labels: module: meetings, backport, type: fix

#11956 Redesign: admin screen overflow on smaller screens
  decidim-admin/app/packs/stylesheets/decidim/admin/_item_show.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/_layout.scss
  decidim-admin/app/views/layouts/decidim/admin/_sidebar_menu.html.erb
  decidim-admin/config/locales/en.yml
Labels: module: admin, type: fix, contract: redesign

#12031 Fix disabling access to space private users when the space is public
  decidim-admin/spec/system/participatory_space_private_user_import_via_csv_spec.rb
  decidim-admin/spec/system/participatory_space_private_user_spec.rb
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/lib/decidim/assemblies/menu.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-assemblies/spec/system/admin/admin_filters_assemblies_private_space_users_spec.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_spec.rb
  decidim-assemblies/spec/system/admin/assembly_admin_accesses_admin_sections_spec.rb
  decidim-participatory_processes/app/permissions/decidim/participatory_processes/permissions.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/menu.rb
  decidim-participatory_processes/spec/controllers/admin/participatory_space_private_users_csv_imports_controller_spec.rb
  decidim-participatory_processes/spec/permissions/decidim/participatory_processes/permissions_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_filters_participatory_processes_private_space_users_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_processes_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_admin_spec.rb
Labels: module: assemblies, module: participatory processes, type: fix

#12035 Fix render partial deprecation warning on proposals
  decidim-accountability/app/views/decidim/accountability/admin/results/_form.html.erb
  decidim-budgets/app/cells/decidim/budgets/budgets_list/main_list.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/_form.html.erb
  decidim-comments/app/cells/decidim/comments/comment/deletion_data.erb
  decidim-comments/app/cells/decidim/comments/comment/moderation_data.erb
  decidim-core/app/cells/decidim/documents_panel/show.erb
  decidim-core/app/cells/decidim/linked_resources_for/show.erb
  decidim-core/app/cells/decidim/newsletter_templates/basic_only_text/show.erb
  decidim-core/app/cells/decidim/newsletter_templates/image_text_cta/show.erb
  decidim-core/app/cells/decidim/user_conversation/messages.erb
  decidim-core/app/cells/decidim/user_conversations/new_conversation_button.erb
  decidim-core/app/cells/decidim/user_conversations/show.erb
  decidim-core/app/views/decidim/application/_collection.html.erb
  decidim-core/app/views/decidim/application/_documents.html.erb
  decidim-elections/app/views/decidim/elections/admin/answers/_form.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/export_pdf_signatures.pdf.erb
  decidim-meetings/app/cells/decidim/meetings/dates_and_map/static_map.erb
  decidim-meetings/app/views/decidim/meetings/admin/meeting_closes/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/directory/meetings/index.js.erb
  decidim-meetings/app/views/decidim/meetings/meeting_closes/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/index.js.erb
Labels: target: developer-experience, type: internal

#12036 Fix filter by scope on search page
  decidim-core/app/commands/decidim/search.rb
  decidim-core/app/controllers/decidim/searches_controller.rb
  decidim-core/app/views/decidim/searches/_filters.html.erb
  decidim-core/spec/commands/decidim/search_spec.rb
  decidim-core/spec/controllers/decidim/searches_controller_spec.rb
Labels: module: core, type: fix, no-backport

#12058 Fix randomness on nickname and emails for seeded users
  decidim-proposals/lib/decidim/proposals/seeds.rb
Labels: module: proposals, target: developer-experience

#12067 Fix a11y violations and title layout on announcements
  decidim-core/app/cells/decidim/announcement/show.erb
  decidim-core/app/cells/decidim/announcement_cell.rb
  decidim-core/app/packs/stylesheets/decidim/_flash.scss
  decidim-design/app/helpers/decidim/design/announcement_helper.rb
Labels: type: fix, no-backport

#12064 Remove official logo header image
  decidim-admin/app/commands/decidim/admin/update_organization_appearance.rb
  decidim-admin/app/forms/decidim/admin/organization_appearance_form.rb
  decidim-admin/app/views/decidim/admin/organization_appearance/form/_images.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/commands/decidim/admin/update_organization_appearance_spec.rb
  decidim-admin/spec/system/admin_manages_organization_appearance_spec.rb
  decidim-core/app/cells/decidim/newsletter_templates/basic_only_text/show.erb
  decidim-core/app/cells/decidim/newsletter_templates/image_text_cta/show.erb
  decidim-core/app/models/decidim/organization.rb
  decidim-core/app/presenters/decidim/admin_log/organization_presenter.rb
  decidim-core/app/uploaders/decidim/official_image_header_uploader.rb
  decidim-core/app/views/layouts/decidim/mailer.html.erb
  decidim-core/db/migrate/20231123111229_remove_official_img_header.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/cells/decidim/newsletter_templates/basic_only_text_cell_spec.rb
  decidim-core/spec/lib/asset_router/storage_spec.rb
  decidim-core/spec/uploaders/application_uploader_spec.rb
Labels: module: core, module: admin, type: removal

#12068 Add prerequirements to the manual installation tutorial
  docs/modules/install/pages/manual.adoc
Labels: team: documentation, type: fix

#12066 Update numbering in RELEASE_NOTES.md
  RELEASE_NOTES.md
Labels: type: internal

#12069 Fix icons on flash alerts
  decidim-core/app/cells/decidim/announcement/show.erb
  decidim-core/app/packs/stylesheets/decidim/_flash.scss
Labels: type: fix, contract: redesign, no-backport

#12070 Backport 'Add prerequirements to the manual installation tutorial' to v0.27
  docs/modules/install/pages/manual.adoc
Labels: team: documentation, backport, type: fix

#12057 Show message when there are no sortitions
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_sortitions.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/index.html.erb
  decidim-sortitions/config/locales/en.yml
  decidim-sortitions/spec/system/decidim/sortitions/sortitions_spec.rb
Labels: module: sortitions, type: fix

#12056 Show message when there are no content in the page
  decidim-pages/app/views/decidim/pages/application/show.html.erb
  decidim-pages/config/locales/en.yml
  decidim-pages/spec/system/page_show_spec.rb
Labels: module: pages, type: fix

#12053 Extract methods from meetings seeds
  decidim-core/lib/decidim/seeds.rb
  decidim-meetings/lib/decidim/meetings/seeds.rb
  decidim-proposals/lib/decidim/proposals/seeds.rb
Labels: module: meetings, target: developer-experience

#12015 Remove legacy design support from WYSIWYG editor (TipTap)
  decidim-core/app/packs/src/decidim/editor/common/input_dialog.js
  decidim-core/app/packs/src/decidim/editor/common/upload_dialog.js
  decidim-core/app/packs/src/decidim/editor/test/fixtures/upload_templates.js
  decidim-core/app/packs/src/decidim/editor/test/toolbar/full_legacy.test.js
  decidim-core/app/packs/src/decidim/editor/test/toolbar/shared/behaves_like_basic_link.js
  decidim-core/app/packs/stylesheets/decidim/_rich_text.scss
Labels: type: internal

#12039 Apply flash styles to Announcements (part 2)
  decidim-admin/app/cells/decidim/admin/attachments_privacy_warning/show.erb
  decidim-comments/app/cells/decidim/comments/comments/blocked_comments_warning.erb
  decidim-comments/app/cells/decidim/comments/comments/comments_loading.erb
  decidim-comments/app/cells/decidim/comments/comments/show.erb
  decidim-comments/app/cells/decidim/comments/comments/single_comment_warning.erb
  decidim-comments/app/cells/decidim/comments/comments/user_comments_blocked_warning.erb
  decidim-comments/app/packs/src/decidim/comments/comments.component.test.js
  decidim-comments/spec/cells/decidim/comments/comments_cell_spec.rb
  decidim-core/app/cells/decidim/user_timeline/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_filters/show.erb
Labels: type: fix, no-backport

#12045 Redesign: fix responsiveness on nav-bar admin
  decidim-admin/app/packs/stylesheets/decidim/admin/_secondary-nav.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/_sidebar-menu.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/_title-bar.scss
Labels: module: core, module: admin, type: fix, contract: redesign, no-backport
