Repository decidim/decidim, pull requests merged in 2023-07, with the labels that each got.

#11093 Redesign: integrate highlighted process and last activities in menu
  decidim-core/app/cells/decidim/content_blocks/menu_breadcrumb_last_activity_cell.rb
  decidim-core/app/cells/decidim/highlighted_participatory_process/show.erb
  decidim-core/app/cells/decidim/highlighted_participatory_process_cell.rb
  decidim-core/app/cells/decidim/participatory_space_dropdown_metadata/show.erb
  decidim-core/app/helpers/decidim/menu_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_author.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_cards.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_header.scss
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu_breadcrumb_main_dropdown.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu_breadcrumb_main_dropdown_bottom_left.html.erb
  decidim-core/spec/cells/decidim/highlighted_participatory_process_cell_spec.rb
Labels: contract: redesign

#10931 Redesign: pending assemblies
  decidim-assemblies/app/cells/decidim/assemblies/assembly_metadata_g_cell.rb
  decidim-assemblies/app/controllers/concerns/decidim/assemblies/assembly_breadcrumb.rb
  decidim-assemblies/app/controllers/decidim/assemblies/assemblies_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/assembly_members_controller.rb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/_nav_breadcrumb.html.erb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/show.html.erb
  decidim-core/app/cells/decidim/content_blocks/base_cell.rb
  decidim-core/app/controllers/concerns/decidim/participatory_space_context.rb
  decidim-core/app/models/decidim/action_log.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_participatory_spaces.scss
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu_breadcrumb_items.html.erb
  decidim-core/lib/decidim/resource_manifest.rb
  decidim-meetings/app/views/decidim/participatory_spaces/_upcoming_meeting_for_card.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb
  decidim-participatory_processes/lib/decidim/participatory_processes/participatory_space.rb
Labels: contract: redesign

#10964 Fix seeded trustees
  decidim-elections/lib/decidim/elections/component.rb
Labels: module: elections, type: internal

#10991 Fix for sending welcome emails for new participants
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/services/decidim/email_notification_generator.rb
  decidim-core/spec/services/decidim/email_notification_generator_spec.rb
Labels: module: core, type: fix

#10814 Fix Shakapacker upgrade does not work for existing instances
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
Labels: module: core, type: internal, no-backport

#11108 Redesign: error pages
  decidim-core/app/packs/stylesheets/decidim/_redesigned_layout.scss
  decidim-core/app/views/decidim/errors/internal_server_error.html.erb
  decidim-core/app/views/decidim/errors/not_found.html.erb
Labels: contract: redesign

#11087 Redesign: search + Card S
  decidim-assemblies/app/cells/decidim/assemblies/assembly_cell.rb
  decidim-assemblies/app/cells/decidim/assemblies/assembly_s_cell.rb
  decidim-blogs/app/cells/decidim/blogs/post_cell.rb
  decidim-blogs/app/cells/decidim/blogs/post_s_cell.rb
  decidim-budgets/app/cells/decidim/budgets/budget_cell.rb
  decidim-budgets/app/cells/decidim/budgets/budget_metadata_cell.rb
  decidim-budgets/app/cells/decidim/budgets/budget_s_cell.rb
  decidim-budgets/app/cells/decidim/budgets/project_cell.rb
  decidim-budgets/app/cells/decidim/budgets/project_s_cell.rb
  decidim-comments/app/cells/decidim/comments/comment_card_cell.rb
  decidim-comments/app/cells/decidim/comments/comment_metadata_cell.rb
  decidim-comments/app/cells/decidim/comments/comment_s_cell.rb
  decidim-conferences/app/cells/decidim/conferences/conference_cell.rb
  decidim-conferences/app/cells/decidim/conferences/conference_metadata_cell.rb
  decidim-conferences/app/cells/decidim/conferences/conference_s_cell.rb
  decidim-consultations/app/cells/decidim/consultations/consultation_cell.rb
  decidim-consultations/app/cells/decidim/consultations/consultation_s_cell.rb
  decidim-core/app/cells/decidim/card_metadata_cell.rb
  decidim-core/app/cells/decidim/card_s/show.erb
  decidim-core/app/cells/decidim/card_s_cell.rb
  decidim-core/app/cells/decidim/progress_bar/show.erb
  decidim-core/app/cells/decidim/search_results_section/show.erb
  decidim-core/app/helpers/decidim/card_helper.rb
  decidim-core/app/helpers/decidim/date_range_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_cards.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_progress-bar.scss
  decidim-debates/app/cells/decidim/debates/debate_cell.rb
  decidim-debates/app/cells/decidim/debates/debate_l_cell.rb
  decidim-debates/app/cells/decidim/debates/debate_s_cell.rb
  decidim-elections/app/cells/decidim/elections/election_cell.rb
  decidim-elections/app/cells/decidim/elections/election_s_cell.rb
  decidim-elections/app/cells/decidim/votings/voting_cell.rb
  decidim-elections/app/cells/decidim/votings/voting_s_cell.rb
  decidim-initiatives/app/cells/decidim/initiatives/initiative_cell.rb
  decidim-initiatives/app/cells/decidim/initiatives/initiative_g_cell.rb
  decidim-initiatives/app/cells/decidim/initiatives/initiative_metadata_g/show.erb
  decidim-initiatives/app/cells/decidim/initiatives/initiative_metadata_g_cell.rb
  decidim-initiatives/app/cells/decidim/initiatives/initiative_s_cell.rb
  decidim-initiatives/app/helpers/decidim/initiatives/application_helper.rb
  decidim-initiatives/app/views/layouts/decidim/_initiative_header_steps.html.erb
  decidim-initiatives/spec/cells/decidim/initiatives/initiative_g_cell_spec.rb
  decidim-initiatives/spec/system/initiative_spec.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_highlighted_list_item/show.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_highlighted_list_item_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_list_item/show.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_list_item_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_s/show.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_s_cell.rb
  decidim-meetings/spec/cells/decidim/meetings/meeting_list_item_cell_spec.rb
  decidim-meetings/spec/cells/decidim/meetings/meeting_s_cell_spec.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_group_s/image.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_group_s/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_group_s_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_s/image.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_s/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_s_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_s_cell.rb
Labels: contract: redesign

#11111 Fix Admin dashboard disappear if you are in Trustee Zone
  decidim-elections/app/controllers/decidim/elections/trustee_zone/application_controller.rb
Labels: module: elections, type: fix

#10883 Redesign: vertical flow for each sort of layout
  decidim-accountability/app/cells/decidim/accountability/project/show.erb
  decidim-accountability/app/cells/decidim/accountability/result_metadata/show_footer.erb
  decidim-accountability/app/packs/stylesheets/redesigned_accountability.scss
  decidim-accountability/app/views/decidim/accountability/results/_project.html.erb
  decidim-budgets/app/packs/stylesheets/budgets.scss
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-comments/app/cells/decidim/comments/comments/show.erb
  decidim-comments/app/packs/src/decidim/comments/comments.component.js
  decidim-comments/app/packs/src/decidim/comments/comments.component.test.js
  decidim-comments/app/packs/stylesheets/comments.scss
  decidim-core/app/cells/decidim/amendable/amend_button_card/show.erb
  decidim-core/app/cells/decidim/amendable/promote_button_card/show.erb
  decidim-core/app/cells/decidim/amendable/promote_button_card_cell.rb
  decidim-core/app/cells/decidim/report_button/flag_modal.erb
  decidim-core/app/cells/decidim/tab_panels/show.erb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_actions.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_forms.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_layout.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_modal_flag.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_typography.scss
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-initiatives/app/packs/stylesheets/initiatives.scss
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-initiatives/spec/system/initiative_signing_spec.rb
  decidim-meetings/app/cells/decidim/meetings/join_meeting_button/show.erb
  decidim-meetings/app/packs/stylesheets/decidim/meetings/_item.scss
  decidim-meetings/app/views/decidim/meetings/meetings/_actions.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_aside.html.erb
  decidim-meetings/spec/system/user_creates_meeting_spec.rb
  decidim-proposals/app/packs/stylesheets/decidim/proposals/redesigned_proposals.scss
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_actions.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_collaborative_draft_aside.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_edit_form_fields.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_actions.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_aside.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/spec/system/collaborative_drafts_spec.rb
  decidim-sortitions/app/packs/stylesheets/sortitions.scss
  decidim-sortitions/app/views/decidim/sortitions/sortitions/show.html.erb
Labels: contract: redesign

#10870 Document how to work locally with Elections/Votings
  decidim-elections/README.md
  decidim-elections/docs/docker/bulletin_board/docker-compose.yml
  decidim-elections/docs/docker/bulletin_board_test/docker-compose.yml
Labels: team: documentation, module: elections, type: internal

#11050 Redesign: account menu & search mobile
  decidim-core/app/packs/src/decidim/redesigned_a11y.js
  decidim-core/app/packs/stylesheets/decidim/_redesigned_cookies.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_header.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_layout.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_toggle_switch.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_vertical_tabs.scss
  decidim-core/app/views/decidim/notifications_settings/show.html.erb
  decidim-core/app/views/decidim/searches/_count.html.erb
  decidim-core/app/views/decidim/user_interests/_scopes.html.erb
  decidim-core/app/views/decidim/user_interests/show.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_main.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_main_links_mobile.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_main_links_mobile_account.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_main_links_mobile_search.html.erb
  decidim-core/spec/system/search_spec.rb
Labels: contract: redesign

#11118 Backport 'Show all projects if none is selected when the voting has finished' to v0.27
  decidim-budgets/app/controllers/decidim/budgets/projects_controller.rb
  decidim-budgets/spec/system/explore_projects_spec.rb
Labels: module: budgets, backport, type: fix

#11121 Backport 'Fix for sending welcome emails for new participants' to v0.27
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/services/decidim/email_notification_generator.rb
  decidim-core/spec/services/decidim/email_notification_generator_spec.rb
Labels: module: core, backport, type: fix

#11113 Backport 'Fix Admin dashboard disappear if you are in Trustee Zone' to v0.26
  decidim-elections/app/controllers/decidim/elections/trustee_zone/application_controller.rb
Labels: backport, module: elections, type: fix

#11114 Backport 'Fix Admin dashboard disappear if you are in Trustee Zone' to v0.27
  decidim-elections/app/controllers/decidim/elections/trustee_zone/application_controller.rb
Labels: backport, module: elections, type: fix

#11119 Backport 'Show all projects if none is selected when the voting has finished' to v0.26
  decidim-budgets/app/controllers/decidim/budgets/projects_controller.rb
  decidim-budgets/spec/system/explore_projects_spec.rb
Labels: module: budgets, backport, type: fix

#11120 Backport 'Avoid password change to be requested when user registration mode is disabled' to v0.27
  decidim-core/app/models/decidim/user.rb
  decidim-core/spec/system/authentication_spec.rb
Labels: module: core, backport, type: fix

#11127 Backport 'Fix flaky collaborative drafts spec' to v0.27
  decidim-proposals/spec/system/collaborative_drafts_spec.rb
Labels: module: proposals, backport, type: fix, type: internal

#11128 Backport 'Fix flaky collaborative drafts spec' to v0.26
  decidim-proposals/spec/system/collaborative_drafts_spec.rb
Labels: module: proposals, backport, type: fix, type: internal

#11105 Fix issues with overriding maps and loading Leaflet
  decidim-core/app/packs/src/decidim/map/controller.js
  decidim-core/app/packs/src/decidim/map/controller/drag_marker.js
  decidim-core/app/packs/src/decidim/map/controller/markers.js
  decidim-core/app/packs/src/decidim/map/controller/static.js
  decidim-core/app/packs/src/decidim/map/factory.js
  decidim-core/app/packs/src/decidim/map/icon.js
  decidim-core/app/packs/src/decidim/map/legacy.js
  decidim-core/app/packs/src/decidim/map/provider/default.js
  decidim-core/app/packs/src/decidim/map/provider/here.js
  decidim-core/lib/decidim/core/test/shared_examples/map_examples.rb
  decidim-core/lib/decidim/map/dynamic_map.rb
  decidim-core/spec/lib/map_spec.rb
  decidim-dev/app/packs/entrypoints/decidim_dev_test_custom_map.js
  decidim-dev/app/packs/src/decidim/dev/test/custom_map_factory.js
  decidim-dev/config/assets.rb
  decidim-dev/spec/system/custom_map_spec.rb
Labels: module: core, type: fix

#11133 Backport 'Fix webpack version to <5.83.0' to v0.27
  decidim_app-design/package-lock.json
  decidim_app-design/packages/webpacker/package.json
  package-lock.json
  packages/webpacker/package.json
Labels: backport, dependencies, javascript, type: fix

#11134 Backport 'Fix webpack version to <5.83.0' to v0.26
  decidim_app-design/package-lock.json
  decidim_app-design/packages/webpacker/package.json
  package-lock.json
  packages/webpacker/package.json
Labels: backport, dependencies, javascript, type: fix

#11129 Backport 'Fix the active filter for process groups' to v0.26
  .github/actions/module-rspec/action.yml
  decidim-participatory_processes/app/queries/decidim/participatory_processes/filtered_participatory_process_groups.rb
  decidim-participatory_processes/spec/queries/filtered_participatory_process_groups_spec.rb
Labels: backport, module: participatory processes, type: fix

#11130 Backport 'Fix the active filter for process groups' to v0.27
  .github/actions/module-rspec/action.yml
  decidim-participatory_processes/app/queries/decidim/participatory_processes/filtered_participatory_process_groups.rb
  decidim-participatory_processes/spec/queries/filtered_participatory_process_groups_spec.rb
Labels: backport, module: participatory processes, type: fix

#11139 Backport "Update several gems" to v0.27
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: backport, dependencies, release: v0.27

#11141 Remove webpacker hack which is no longer needed
  decidim-core/lib/decidim/webpacker.rb
  decidim-core/lib/decidim/webpacker/thread_safe_compiler.rb
Labels: type: internal

#11124 Budgets component fix for Votings module
  decidim-elections/app/controllers/decidim/votings/admin/reminders_controller.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
Labels: module: budgets, module: elections, type: fix

#11138 Verify modules are installed in StatsParticipantsCount query
  decidim-participatory_processes/app/queries/decidim/participatory_processes/stats_participants_count.rb
Labels: module: core, type: fix

#11157 Backport 'Verify modules are installed in StatsParticipantsCount query' to v0.27
  decidim-participatory_processes/app/queries/decidim/participatory_processes/stats_participants_count.rb
Labels: module: core, backport, type: fix

#10695 Enforce resources being found in the organization scope
  decidim-admin/app/controllers/decidim/admin/static_page_topics_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assemblies_types_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_members_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/application_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/attachment_collections_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/attachments_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/budgets_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/line_items_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/orders_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/projects_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_invites_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_registrations_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_speakers_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/media_links_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/partners_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/registration_type_publications_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/registration_types_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/conference_registrations_controller.rb
  decidim-core/app/controllers/decidim/authorization_modals_controller.rb
  decidim-core/app/controllers/decidim/short_links_controller.rb
  decidim-core/app/models/decidim/organization.rb
  decidim-elections/app/controllers/decidim/elections/admin/trustees_participatory_spaces_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/votings_landing_page_content_blocks_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/votings_landing_page_controller.rb
  decidim-elections/app/controllers/decidim/votings/polling_officer_zone/closures_controller.rb
  decidim-elections/app/controllers/decidim/votings/polling_officer_zone/in_person_votes_controller.rb
  decidim-elections/app/controllers/decidim/votings/votings_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/committee_requests_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/initiatives_type_scopes_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/initiatives_types_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/authorization_create_modals_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/committee_requests_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/create_initiative_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_type_scopes_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_type_signature_types_controller.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/initiatives_type_scopes_controller_spec.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_groups_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_types_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_processes_controller.rb
  decidim-templates/app/controllers/decidim/templates/admin/questionnaire_templates/questionnaires_controller.rb
  decidim-templates/app/controllers/decidim/templates/admin/questionnaire_templates_controller.rb
Labels: team: security, module: core, module: admin, module: elections, module: assemblies, module: blogs, module: participatory processes, module: conferences, module: initiatives, module: templates, type: fix

#11168 Backport 'Fix uninitialized constant errors with custom set of modules' to v0.26
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/dependency_resolver.rb
  decidim-core/spec/lib/decidim_spec.rb
  decidim-core/spec/lib/dependency_resolver_spec.rb
Labels: module: core, backport, type: fix

#11158 Backport 'Verify modules are installed in StatsParticipantsCount query' to v0.26
  decidim-participatory_processes/app/queries/decidim/participatory_processes/stats_participants_count.rb
Labels: module: core, backport, type: fix

#11170 Update GitHub Action of Lighthouse to v10
  .github/workflows/ci_performance_metrics_monitoring.yml
Labels: type: internal

#11174 Fix the unused keyword arguments for the budgets workflows
  decidim-budgets/lib/decidim/budgets/workflows/all.rb
  decidim-budgets/lib/decidim/budgets/workflows/base.rb
Labels: module: budgets, type: fix

#11172 Bump rails from 6.1.7.3 to 6.1.7.4
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: team: security, dependencies

#11177 Load the editor JS only when needed with redesign
  decidim-core/app/views/layouts/decidim/_redesigned_decidim_javascript.html.erb
Labels: module: core, type: fix, no-backport

#11156 Fix dependencies between modules with i18n strings
  decidim-core/app/cells/decidim/author/flag.erb
  decidim-core/app/helpers/decidim/check_boxes_tree_helper.rb
  decidim-core/config/locales/en.yml
  decidim-initiatives/config/locales/en.yml
  decidim-pages/config/locales/en.yml
  decidim-proposals/config/locales/en.yml
Labels: module: core, type: fix, no-backport

#11145 CSV & JSON export function fix
  decidim-elections/app/controllers/decidim/votings/admin/exports_controller.rb
  decidim-elections/app/permissions/decidim/votings/admin/permissions.rb
  decidim-elections/spec/controllers/decidim/votings/exports_controller_spec.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/exports_controller.rb
  decidim-initiatives/app/permissions/decidim/initiatives/admin/permissions.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/exports_controller_spec.rb
Labels: module: elections, module: initiatives, type: fix

#10903 Fix for saving an Election that wasn't blocked
  decidim-elections/app/commands/decidim/elections/admin/create_answer.rb
  decidim-elections/app/commands/decidim/elections/admin/create_question.rb
  decidim-elections/app/commands/decidim/elections/admin/destroy_answer.rb
  decidim-elections/app/commands/decidim/elections/admin/destroy_election.rb
  decidim-elections/app/commands/decidim/elections/admin/destroy_question.rb
  decidim-elections/app/commands/decidim/elections/admin/import_proposals_to_elections.rb
  decidim-elections/app/commands/decidim/elections/admin/update_answer.rb
  decidim-elections/app/commands/decidim/elections/admin/update_question.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/spec/commands/decidim/elections/admin/create_answer_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/create_question_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/destroy_answer_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/destroy_election_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/destroy_question_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/update_answer_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/update_question_spec.rb
  decidim-elections/spec/system/admin/admin_manages_questions_spec.rb
Labels: module: elections, type: fix

#11188 Backport 'Fix for saving an Election that wasn't blocked' to v0.26
  decidim-elections/app/commands/decidim/elections/admin/create_answer.rb
  decidim-elections/app/commands/decidim/elections/admin/create_question.rb
  decidim-elections/app/commands/decidim/elections/admin/destroy_answer.rb
  decidim-elections/app/commands/decidim/elections/admin/destroy_election.rb
  decidim-elections/app/commands/decidim/elections/admin/destroy_question.rb
  decidim-elections/app/commands/decidim/elections/admin/import_proposals_to_elections.rb
  decidim-elections/app/commands/decidim/elections/admin/update_answer.rb
  decidim-elections/app/commands/decidim/elections/admin/update_question.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/spec/commands/decidim/elections/admin/create_answer_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/create_question_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/destroy_answer_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/destroy_election_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/destroy_question_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/update_answer_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/update_question_spec.rb
  decidim-elections/spec/system/admin/admin_manages_questions_spec.rb
Labels: backport, module: elections, type: fix

#11185 Backport 'CSV & JSON export function fix' to v0.27
  decidim-elections/app/controllers/decidim/votings/admin/exports_controller.rb
  decidim-elections/app/permissions/decidim/votings/admin/permissions.rb
  decidim-elections/spec/controllers/decidim/votings/exports_controller_spec.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/exports_controller.rb
  decidim-initiatives/app/permissions/decidim/initiatives/admin/permissions.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/exports_controller_spec.rb
Labels: backport, module: elections, module: initiatives, type: fix

#11186 Backport 'CSV & JSON export function fix' to v0.26
  decidim-elections/app/controllers/decidim/votings/admin/exports_controller.rb
  decidim-elections/app/permissions/decidim/votings/admin/permissions.rb
  decidim-elections/spec/controllers/decidim/votings/exports_controller_spec.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/exports_controller.rb
  decidim-initiatives/app/permissions/decidim/initiatives/admin/permissions.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/exports_controller_spec.rb
Labels: backport, module: elections, module: initiatives, type: fix

#11197 Fix open-ended dependency on doorkeeper
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: type: internal

#11202 Typo fix guide_example_apps.adoc
  docs/modules/develop/pages/guide_example_apps.adoc
Labels: team: documentation

#11227 Backport 'Fix the unused keyword arguments for the budgets workflows' to v0.26
  decidim-budgets/lib/decidim/budgets/workflows/all.rb
  decidim-budgets/lib/decidim/budgets/workflows/base.rb
Labels: module: budgets, backport, type: fix

#11228 Backport 'Fix the unused keyword arguments for the budgets workflows' to v0.27
  decidim-budgets/lib/decidim/budgets/workflows/all.rb
  decidim-budgets/lib/decidim/budgets/workflows/base.rb
Labels: module: budgets, backport, type: fix

#11229 Backport 'Budgets component fix for Votings module' to v0.27
  decidim-elections/app/controllers/decidim/votings/admin/reminders_controller.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
Labels: module: budgets, backport, module: elections, type: fix

#11230 Backport 'Budgets component fix for Votings module' to v0.26
  decidim-elections/app/controllers/decidim/votings/admin/reminders_controller.rb
  decidim-elections/lib/decidim/votings/admin_engine.rb
Labels: module: budgets, backport, module: elections, type: fix

#11187 Backport 'Fix for saving an Election that wasn't blocked' to v0.27
  decidim-elections/app/commands/decidim/elections/admin/create_answer.rb
  decidim-elections/app/commands/decidim/elections/admin/create_question.rb
  decidim-elections/app/commands/decidim/elections/admin/destroy_answer.rb
  decidim-elections/app/commands/decidim/elections/admin/destroy_election.rb
  decidim-elections/app/commands/decidim/elections/admin/destroy_question.rb
  decidim-elections/app/commands/decidim/elections/admin/import_proposals_to_elections.rb
  decidim-elections/app/commands/decidim/elections/admin/update_answer.rb
  decidim-elections/app/commands/decidim/elections/admin/update_question.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/spec/commands/decidim/elections/admin/create_answer_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/create_question_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/destroy_answer_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/destroy_election_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/destroy_question_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/update_answer_spec.rb
  decidim-elections/spec/commands/decidim/elections/admin/update_question_spec.rb
  decidim-elections/spec/system/admin/admin_manages_questions_spec.rb
Labels: backport, module: elections, type: fix

#11235 Backport 'Fix blocked users not present in global moderation panel' to v0.26
  decidim-admin/app/commands/decidim/admin/block_user.rb
  decidim-admin/spec/commands/decidim/admin/block_user_spec.rb
  decidim-core/lib/tasks/upgrade/decidim_user_moderation.rake
Labels: module: admin, backport, type: fix

#11198 Fix codecov reporting
  .github/workflows/brakeman.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_core.yml
  .github/workflows/ci_elections.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_meetings.yml
  .github/workflows/ci_proposals.yml
  .github/workflows/test_app.yml
  codecov.yml
Labels: type: internal

#11154 Replace origami with hexapdf
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim-initiatives/app/services/decidim/initiatives/pdf_signature_example.rb
  decidim-initiatives/decidim-initiatives.gemspec
  decidim-initiatives/lib/gem_overrides/origami/date.rb
  decidim_app-design/Gemfile.lock
Labels: dependencies, module: initiatives, type: change

#11173 Update node packs
  decidim_app-design/package-lock.json
  decidim_app-design/package.json
  decidim_app-design/packages/core/package-lock.json
  decidim_app-design/packages/core/package.json
  decidim_app-design/packages/dev/package-lock.json
  decidim_app-design/packages/dev/package.json
  decidim_app-design/packages/webpacker/package-lock.json
  decidim_app-design/packages/webpacker/package.json
  package-lock.json
  package.json
  packages/core/package.json
  packages/dev/package.json
  packages/webpacker/package-lock.json
  packages/webpacker/package.json
Labels: dependencies, javascript, type: internal

#11234 Backport 'Fix blocked users not present in global moderation panel' to v0.27
  decidim-admin/app/commands/decidim/admin/block_user.rb
  decidim-admin/spec/commands/decidim/admin/block_user_spec.rb
  decidim-core/lib/tasks/upgrade/decidim_user_moderation.rake
Labels: module: admin, backport, type: fix

#11238 Backport 'Always allow image upload in WYSWYG editor' to v0.26
  decidim-admin/lib/decidim/admin/form_builder.rb
  decidim-core/lib/decidim/form_builder.rb
Labels: module: proposals, module: core, module: meetings, backport, type: fix

#11237 Backport 'Always allow image upload in WYSWYG editor' to v0.27
  decidim-admin/lib/decidim/admin/form_builder.rb
  decidim-core/lib/decidim/form_builder.rb
Labels: module: proposals, module: core, module: meetings, backport, type: fix

#11242 Backport 'Fix linking to invariable image URLs' to v0.27
  decidim-core/app/uploaders/decidim/application_uploader.rb
  decidim-core/spec/models/decidim/attachment_spec.rb
  decidim-core/spec/uploaders/application_uploader_spec.rb
Labels: module: core, backport, type: fix, release: v0.27

#11236 Backport 'Fix running DB commands consecutively' to v0.27
  decidim-core/lib/decidim/core.rb
  decidim-generators/spec/runtime/generators_spec.rb
  decidim-surveys/lib/decidim/surveys/engine.rb
Labels: module: core, backport, module: surveys, type: fix

#11241 Backport 'Fix memory leak with user answers serializer (at survey export)' to v0.27
  decidim-forms/lib/decidim/forms/user_answers_serializer.rb
  decidim-forms/spec/serializers/decidim/forms/user_answers_serializer_spec.rb
Labels: backport, module: forms, type: fix, release: v0.27

#11243 Backport 'Prevent `aria-describedby` attribute being added to hidden inputs' to v0.27
  decidim-core/app/packs/src/decidim/input_character_counter.js
Labels: module: core, backport, type: fix

#11182 Fix scope and category filtering links with ransack
  decidim-budgets/app/cells/decidim/budgets/project_tags_cell.rb
  decidim-core/app/cells/decidim/tags_cell.rb
  decidim-core/spec/cells/decidim/tags_cell_spec.rb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposals.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_tags.html.erb
Labels: module: proposals, module: core, module: budgets, module: sortitions, module: initiatives, type: fix, release: v0.27

#11248 Backport 'Fix scope and category filtering links with ransack' to v0.27
  decidim-budgets/app/cells/decidim/budgets/project_tags_cell.rb
  decidim-core/app/cells/decidim/tags_cell.rb
  decidim-core/spec/cells/decidim/tags_cell_spec.rb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/_finish_help.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_tags.html.erb
  decidim-meetings/app/views/decidim/meetings/directory/meetings/_meetings.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meetings.html.erb
  decidim-proposals/app/cells/decidim/proposals/proposal_tags/show.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposals.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_tags.html.erb
Labels: module: proposals, module: core, module: budgets, backport, module: sortitions, module: initiatives, type: fix, release: v0.27

#11232 Backport 'Enforce resources being found in the organization scope' to v0.27
  decidim-admin/app/controllers/decidim/admin/static_page_topics_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assemblies_types_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_members_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/application_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/attachment_collections_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/attachments_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/budgets_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/line_items_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/orders_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/projects_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_invites_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_registrations_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_speakers_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/media_links_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/partners_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/registration_type_publications_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/registration_types_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/conference_registrations_controller.rb
  decidim-core/app/controllers/decidim/authorization_modals_controller.rb
  decidim-core/app/controllers/decidim/short_links_controller.rb
  decidim-core/app/models/decidim/organization.rb
  decidim-elections/app/controllers/decidim/elections/admin/trustees_participatory_spaces_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/votings_landing_page_content_blocks_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/votings_landing_page_controller.rb
  decidim-elections/app/controllers/decidim/votings/polling_officer_zone/closures_controller.rb
  decidim-elections/app/controllers/decidim/votings/polling_officer_zone/in_person_votes_controller.rb
  decidim-elections/app/controllers/decidim/votings/votings_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/committee_requests_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/initiatives_type_scopes_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/initiatives_types_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/committee_requests_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/create_initiative_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_type_scopes_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_type_signature_types_controller.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/initiatives_type_scopes_controller_spec.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_groups_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_types_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_processes_controller.rb
  decidim-templates/app/controllers/decidim/templates/admin/questionnaire_templates/questionnaires_controller.rb
  decidim-templates/app/controllers/decidim/templates/admin/questionnaire_templates_controller.rb
Labels: team: security, module: core, module: admin, backport, module: elections, module: assemblies, module: blogs, module: participatory processes, module: conferences, module: initiatives, module: templates, type: fix

#11181 Apply br/gzip to development and test environments
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/middleware/static_dispatcher.rb
Labels: module: core, team: performance, type: change

#11244 Add performance configuration for Lighthouse testing
  .github/workflows/ci_performance_metrics_monitoring.yml
  decidim-dev/lib/decidim/dev/engine.rb
  decidim-dev/lib/tasks/lighthouse_report.rake
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/app_templates/bullet_initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/rack_profiler_initializer.rb
Labels: module: core, target: developer-experience, module: dev, module: generators, type: internal

#11117 Add custom events for created of updated resources
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-comments/app/commands/decidim/comments/create_comment.rb
  decidim-comments/app/commands/decidim/comments/update_comment.rb
  decidim-comments/lib/decidim/comments/engine.rb
  decidim-comments/spec/commands/create_comment_spec.rb
  decidim-comments/spec/commands/update_comment_spec.rb
  decidim-debates/app/commands/decidim/debates/create_debate.rb
  decidim-debates/app/commands/decidim/debates/update_debate.rb
  decidim-debates/lib/decidim/debates/engine.rb
  decidim-debates/spec/commands/decidim/debates/create_debate_spec.rb
  decidim-debates/spec/commands/decidim/debates/update_debate_spec.rb
  decidim-dev/lib/decidim/dummy_resources/engine.rb
  decidim-meetings/app/commands/decidim/meetings/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/update_meeting.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-meetings/spec/commands/create_meeting_spec.rb
  decidim-meetings/spec/commands/update_meeting_spec.rb
  decidim-proposals/app/commands/decidim/proposals/create_collaborative_draft.rb
  decidim-proposals/app/commands/decidim/proposals/create_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/update_collaborative_draft.rb
  decidim-proposals/app/commands/decidim/proposals/update_proposal.rb
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/spec/commands/decidim/proposals/create_collaborative_draft_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/create_proposal_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/update_collaborative_draft_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/update_proposal_spec.rb
Labels: module: proposals, module: meetings, module: comments, module: debates, type: change

#11065 Add script for checking the status of the backports
  bin/backporter
  bin/backports_checker
  bin/changelog_generator
  lib/decidim/backporter.rb
  lib/decidim/backports_reporter/cli_report.rb
  lib/decidim/backports_reporter/csv_report.rb
  lib/decidim/backports_reporter/report.rb
  lib/decidim/git_backport_checker.rb
  lib/decidim/git_backport_manager.rb
  lib/decidim/github_manager/querier.rb
  lib/decidim/github_manager/querier/base.rb
  lib/decidim/github_manager/querier/by_issue_id.rb
  lib/decidim/github_manager/querier/by_label.rb
  lib/decidim/github_manager/querier/related_issues.rb
  spec/lib/decidim/backporter_spec.rb
  spec/lib/decidim/backports_reporter/cli_report_spec.rb
  spec/lib/decidim/backports_reporter/csv_report_spec.rb
  spec/lib/decidim/git_backport_manager_spec.rb
  spec/lib/decidim/github_manager/querier/by_issue_id_spec.rb
  spec/lib/decidim/github_manager/querier/by_label_spec.rb
  spec/lib/decidim/github_manager/querier/related_issues_spec.rb
  spec/lib/decidim/github_manager/querier_spec.rb
Labels: type: internal

#11109 Redesign: content blocks tasks
  RELEASE_NOTES.md
  decidim-admin/app/controllers/decidim/admin/components_controller.rb
  decidim-admin/config/locales/en.yml
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly.rb
  decidim-assemblies/lib/decidim/assemblies/engine.rb
  decidim-assemblies/lib/decidim/assemblies/participatory_space.rb
  decidim-core/app/services/decidim/content_blocks_creator.rb
  decidim-core/lib/tasks/decidim_content_blocks_tasks.rake
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/extra_data_cell.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/create_participatory_process.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/create_participatory_process_group.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/participatory_space.rb
  decidim-system/app/commands/decidim/system/create_default_content_blocks.rb
Labels: contract: redesign

#11245 Redesign: mentions template
  decidim-comments/app/packs/stylesheets/comments.scss
  decidim-comments/spec/events/decidim/comments/user_group_mentioned_event_spec.rb
  decidim-comments/spec/events/decidim/comments/user_mentioned_event_spec.rb
  decidim-core/app/packs/src/decidim/input_mentions.js
  decidim-core/app/presenters/decidim/user_presenter.rb
  decidim-core/spec/content_renderers/decidim/user_group_renderer_spec.rb
  decidim-core/spec/content_renderers/decidim/user_renderer_spec.rb
  decidim-core/spec/presenters/decidim/user_presenter_spec.rb
Labels: contract: redesign

#11331 Backport 'Fix proposals' valuators assignments not deleted when space admin is removed' to v0.26
  CHANGELOG.md
  decidim-assemblies/app/commands/decidim/assemblies/admin/destroy_assembly_admin.rb
  decidim-assemblies/spec/commands/destroy_assembly_admin_spec.rb
  decidim-conferences/app/commands/decidim/conferences/admin/destroy_conference_admin.rb
  decidim-conferences/spec/commands/destroy_conference_admin_spec.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/destroy_participatory_process_admin.rb
  decidim-participatory_processes/spec/commands/destroy_participatory_process_admin_spec.rb
  decidim-proposals/decidim-proposals.gemspec
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/lib/tasks/proposals/upgrade/decdim_proposal_upgrade_tasks.rake
  decidim-proposals/spec/factories.rb
  decidim-proposals/spec/lib/decidim/proposals/engine_spec.rb
Labels: module: proposals, backport, module: assemblies, module: participatory processes, module: conferences, type: fix

#11332 Backport 'Fix proposals' valuators assignments not deleted when space admin is removed' to v0.27
  CHANGELOG.md
  decidim-assemblies/app/commands/decidim/assemblies/admin/destroy_assembly_admin.rb
  decidim-assemblies/spec/commands/destroy_assembly_admin_spec.rb
  decidim-conferences/app/commands/decidim/conferences/admin/destroy_conference_admin.rb
  decidim-conferences/spec/commands/destroy_conference_admin_spec.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/destroy_participatory_process_admin.rb
  decidim-participatory_processes/spec/commands/destroy_participatory_process_admin_spec.rb
  decidim-proposals/decidim-proposals.gemspec
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/lib/tasks/proposals/upgrade/decdim_proposal_upgrade_tasks.rake
  decidim-proposals/spec/factories.rb
  decidim-proposals/spec/lib/decidim/proposals/engine_spec.rb
Labels: module: proposals, backport, module: assemblies, module: participatory processes, module: conferences, type: fix

#11335 Backport 'Fix HTML titles in admin panel (part 2)' to v0.26
  decidim-accountability/app/views/decidim/accountability/admin/import_results/new.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/results/edit.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/results/index.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/results/new.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/statuses/edit.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/statuses/index.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/statuses/new.html.erb
  decidim-admin/app/views/decidim/admin/attachment_collections/edit.html.erb
  decidim-admin/app/views/decidim/admin/attachment_collections/index.html.erb
  decidim-admin/app/views/decidim/admin/attachment_collections/new.html.erb
  decidim-admin/app/views/decidim/admin/attachments/edit.html.erb
  decidim-admin/app/views/decidim/admin/attachments/index.html.erb
  decidim-admin/app/views/decidim/admin/attachments/new.html.erb
  decidim-admin/app/views/decidim/admin/categories/edit.html.erb
  decidim-admin/app/views/decidim/admin/categories/index.html.erb
  decidim-admin/app/views/decidim/admin/categories/new.html.erb
  decidim-admin/app/views/decidim/admin/components/edit.html.erb
  decidim-admin/app/views/decidim/admin/components/index.html.erb
  decidim-admin/app/views/decidim/admin/components/new.html.erb
  decidim-admin/app/views/decidim/admin/logs/index.html.erb
  decidim-admin/app/views/decidim/admin/moderated_users/index.html.erb
  decidim-admin/app/views/decidim/admin/moderations/index.html.erb
  decidim-admin/app/views/decidim/admin/shared/landing_page_content_blocks/edit.html.erb
  decidim-blogs/app/views/decidim/blogs/admin/posts/edit.html.erb
  decidim-blogs/app/views/decidim/blogs/admin/posts/index.html.erb
  decidim-blogs/app/views/decidim/blogs/admin/posts/new.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/budgets/edit.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/budgets/index.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/budgets/new.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/edit.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/index.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/new.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/proposals_imports/new.html.erb
  decidim-debates/app/views/decidim/debates/admin/debates/edit.html.erb
  decidim-debates/app/views/decidim/debates/admin/debates/index.html.erb
  decidim-debates/app/views/decidim/debates/admin/debates/new.html.erb
  decidim-elections/app/views/decidim/elections/admin/elections/edit.html.erb
  decidim-elections/app/views/decidim/elections/admin/elections/index.html.erb
  decidim-elections/app/views/decidim/elections/admin/elections/new.html.erb
  decidim-elections/app/views/decidim/elections/admin/trustees_participatory_spaces/index.html.erb
  decidim-elections/app/views/decidim/elections/admin/trustees_participatory_spaces/new.html.erb
  decidim-elections/app/views/decidim/votings/admin/ballot_styles/edit.html.erb
  decidim-elections/app/views/decidim/votings/admin/ballot_styles/index.html.erb
  decidim-elections/app/views/decidim/votings/admin/ballot_styles/new.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/show.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/edit.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/edit.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/new.html.erb
  decidim-pages/app/views/decidim/pages/admin/pages/edit.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/edit.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/index.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/new.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/show.html.erb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/confirm_destroy.html.erb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/edit.html.erb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/index.html.erb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/new.html.erb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/show.html.erb
Labels: module: admin, backport, type: fix

#11336 Backport 'Fix HTML titles in admin panel (part 2)' to v0.27
  decidim-accountability/app/views/decidim/accountability/admin/import_results/new.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/results/edit.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/results/index.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/results/new.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/statuses/edit.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/statuses/index.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/statuses/new.html.erb
  decidim-admin/app/views/decidim/admin/attachment_collections/edit.html.erb
  decidim-admin/app/views/decidim/admin/attachment_collections/index.html.erb
  decidim-admin/app/views/decidim/admin/attachment_collections/new.html.erb
  decidim-admin/app/views/decidim/admin/attachments/edit.html.erb
  decidim-admin/app/views/decidim/admin/attachments/index.html.erb
  decidim-admin/app/views/decidim/admin/attachments/new.html.erb
  decidim-admin/app/views/decidim/admin/categories/edit.html.erb
  decidim-admin/app/views/decidim/admin/categories/index.html.erb
  decidim-admin/app/views/decidim/admin/categories/new.html.erb
  decidim-admin/app/views/decidim/admin/components/edit.html.erb
  decidim-admin/app/views/decidim/admin/components/index.html.erb
  decidim-admin/app/views/decidim/admin/components/new.html.erb
  decidim-admin/app/views/decidim/admin/logs/index.html.erb
  decidim-admin/app/views/decidim/admin/moderated_users/index.html.erb
  decidim-admin/app/views/decidim/admin/moderations/index.html.erb
  decidim-admin/app/views/decidim/admin/shared/landing_page_content_blocks/edit.html.erb
  decidim-blogs/app/views/decidim/blogs/admin/posts/edit.html.erb
  decidim-blogs/app/views/decidim/blogs/admin/posts/index.html.erb
  decidim-blogs/app/views/decidim/blogs/admin/posts/new.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/budgets/edit.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/budgets/index.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/budgets/new.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/edit.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/index.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/new.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/proposals_imports/new.html.erb
  decidim-debates/app/views/decidim/debates/admin/debates/edit.html.erb
  decidim-debates/app/views/decidim/debates/admin/debates/index.html.erb
  decidim-debates/app/views/decidim/debates/admin/debates/new.html.erb
  decidim-elections/app/views/decidim/elections/admin/elections/edit.html.erb
  decidim-elections/app/views/decidim/elections/admin/elections/index.html.erb
  decidim-elections/app/views/decidim/elections/admin/elections/new.html.erb
  decidim-elections/app/views/decidim/elections/admin/trustees_participatory_spaces/index.html.erb
  decidim-elections/app/views/decidim/elections/admin/trustees_participatory_spaces/new.html.erb
  decidim-elections/app/views/decidim/votings/admin/ballot_styles/edit.html.erb
  decidim-elections/app/views/decidim/votings/admin/ballot_styles/index.html.erb
  decidim-elections/app/views/decidim/votings/admin/ballot_styles/new.html.erb
  decidim-elections/app/views/decidim/votings/census/admin/census/show.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/edit.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/edit.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/new.html.erb
  decidim-pages/app/views/decidim/pages/admin/pages/edit.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/edit.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/index.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/new.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/show.html.erb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/confirm_destroy.html.erb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/edit.html.erb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/index.html.erb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/new.html.erb
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/show.html.erb
Labels: module: admin, backport, type: fix

#11231 Backport 'Enforce resources being found in the organization scope' to v0.26
  decidim-admin/app/controllers/decidim/admin/static_page_topics_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assemblies_types_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_members_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/application_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/attachment_collections_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/attachments_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/budgets_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/line_items_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/orders_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/projects_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_invites_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_registrations_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_speakers_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/media_links_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/partners_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/registration_type_publications_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/registration_types_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/conference_registrations_controller.rb
  decidim-core/app/controllers/decidim/authorization_modals_controller.rb
  decidim-core/app/models/decidim/organization.rb
  decidim-elections/app/controllers/decidim/elections/admin/trustees_participatory_spaces_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/votings_landing_page_content_blocks_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/votings_landing_page_controller.rb
  decidim-elections/app/controllers/decidim/votings/polling_officer_zone/closures_controller.rb
  decidim-elections/app/controllers/decidim/votings/polling_officer_zone/in_person_votes_controller.rb
  decidim-elections/app/controllers/decidim/votings/votings_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/committee_requests_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/initiatives_type_scopes_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/initiatives_types_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/committee_requests_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/create_initiative_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_type_scopes_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_type_signature_types_controller.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/initiatives_type_scopes_controller_spec.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_groups_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_processes_controller.rb
  decidim-templates/app/controllers/decidim/templates/admin/questionnaire_templates/questionnaires_controller.rb
  decidim-templates/app/controllers/decidim/templates/admin/questionnaire_templates_controller.rb
Labels: team: security, module: core, module: admin, backport, module: elections, module: assemblies, module: blogs, module: participatory processes, module: conferences, module: initiatives, module: templates, type: fix

#11352 Prepare v0.27.4 release
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-consultations/lib/decidim/consultations/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  decidim_app-design/Gemfile.lock
  decidim_app-design/package-lock.json
  decidim_app-design/packages/browserslist-config/package.json
  decidim_app-design/packages/core/package.json
  decidim_app-design/packages/dev/package.json
  decidim_app-design/packages/elections/package.json
  decidim_app-design/packages/eslint-config/package.json
  decidim_app-design/packages/stylelint-config/package.json
  decidim_app-design/packages/webpacker/package.json
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: type: internal

#11391 Lock ChromeDriver to the latest working version
  .github/workflows/test_app.yml
Labels: type: internal

#11392 Backport "Lock ChromeDriver to the latest working version" to v0.27
  .github/actions/module-rspec/action.yml
Labels: type: internal, release: v0.27

#11393 Backport "Lock ChromeDriver to the latest working version" to v0.26
  .github/actions/module-rspec/action.yml
Labels: type: internal, release: v0.26

#11381 Redesign: blog announcement
  decidim-blogs/app/views/decidim/blogs/posts/index.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/show.html.erb
Labels: module: blogs, contract: redesign

#11318 Redesign: remove data-picker presence from public site
  decidim-core/app/packs/src/decidim/redesigned_a11y.js
  decidim-core/app/packs/src/decidim/redesigned_form_filter.js
  decidim-core/app/packs/src/decidim/redesigned_index.js
  decidim-core/app/views/decidim/searches/index.js.erb
  decidim-core/app/views/decidim/shared/_filters.html.erb
  decidim-core/app/views/layouts/decidim/shared/_layout_user_profile.html.erb
Labels: contract: redesign

#11380 Redesign: labels' status color
  decidim-core/app/packs/stylesheets/decidim/_redesigned_labels.scss
Labels: contract: redesign

#11338 Refactor dispatched events in participatory space user roles
  decidim-admin/app/commands/decidim/admin/participatory_space/destroy_admin.rb
  decidim-admin/lib/decidim/admin/test/destroy_admin_examples.rb
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/spec/lib/decidim/proposals/engine_spec.rb
Labels: target: developer-experience, no-backport

#11383 Redesign: meetings map
  decidim-meetings/app/cells/decidim/meetings/highlighted_meetings_for_component/show.erb
  decidim-meetings/app/cells/decidim/meetings/highlighted_meetings_for_component_cell.rb
  decidim-meetings/app/views/decidim/meetings/directory/meetings/index.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/index.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/index.html.erb
Labels: contract: redesign

#11226 Redesign: participatory process steps
  decidim-core/app/packs/stylesheets/decidim/_redesigned_participatory_spaces.scss
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/extra_data/active_step.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/extra_data_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_dropdown_metadata/metadata.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_dropdown_metadata_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_step/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_step_cell.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_process_steps_controller.rb
  decidim-participatory_processes/app/events/decidim/participatory_process_step_activated_event.rb
  decidim-participatory_processes/app/events/decidim/participatory_process_step_changed_event.rb
  decidim-participatory_processes/app/views/decidim/participatory_process_steps/_participatory_process_step.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_process_steps/_timeline.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_process_steps/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb
  decidim-participatory_processes/app/views/layouts/decidim/_process_header_steps.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/spec/events/decidim/participatory_process_step_activated_event_spec.rb
  decidim-participatory_processes/spec/events/decidim/participatory_process_step_changed_event_spec.rb
  decidim-participatory_processes/spec/system/participatory_process_steps_spec.rb
Labels: contract: redesign

#11363 Redesign: comments issues
  decidim-comments/app/cells/decidim/comments/comment/actions.erb
  decidim-comments/app/helpers/decidim/comments/comment_cells_helper.rb
  decidim-comments/app/packs/stylesheets/comments.scss
Labels: contract: redesign

#10937 Alert from frontend errors in critical paths
  decidim-elections/app/packs/src/decidim/elections/voter/new-vote.js
  decidim-elections/app/packs/src/decidim/elections/voter/vote_questions.component.js
  decidim-elections/app/views/decidim/elections/votes/_show_failed.html.erb
  decidim-elections/app/views/decidim/elections/votes/new.html.erb
Labels: module: elections, type: fix, no-backport

#11155 Add videos services to CSP (youtube-nocookie.com, meet.jit.si, etc)
  decidim-core/lib/decidim/content_security_policy.rb
  decidim-core/spec/controllers/concerns/content_security_policy_spec.rb
  decidim-core/spec/lib/content_security_policy_spec.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
Labels: type: fix, release: v0.28, no-backport

#11379 Reorder and renumber the RELEASES_NOTES
  RELEASE_NOTES.md
Labels: type: internal

#11401 Add links to useful accessibility resources to the a11y docs
  docs/modules/develop/pages/guide_accessibility.adoc
Labels: team: documentation

#11411 Add "Tile usage" notice at the top of doc page for OSM maps and geocoding
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  docs/modules/services/pages/maps.adoc
Labels: team: documentation, type: fix

#11419 Fix failing specs in develop
  decidim-core/app/cells/decidim/content_blocks/participatory_space_hero/show.erb
  decidim-core/spec/cells/decidim/user_activity_cell_spec.rb
Labels: module: core, type: fix, no-backport

#11414 Update npm packages
  decidim_app-design/package-lock.json
  decidim_app-design/packages/webpacker/package-lock.json
  package-lock.json
  packages/webpacker/package-lock.json
Labels: dependencies, javascript
