Repository decidim/decidim, pull requests merged in 2023-06, with the labels that each got.

#10935 Fix rubocop linting issue
  decidim-core/spec/queries/decidim/metrics/users_metric_manage_spec.rb
Labels: module: core, type: internal

#10765 Redesign: amendments
  decidim-core/app/cells/decidim/amendable/amenders_list/show.erb
  decidim-core/app/cells/decidim/amendable/amenders_list_cell.rb
  decidim-core/app/helpers/decidim/amendments_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_versions.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_wizard_steps.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/app/views/decidim/amendments/_edit_form_fields.html.erb
  decidim-core/app/views/decidim/amendments/_similar_emendation.html.erb
  decidim-core/app/views/decidim/amendments/_wizard_header.html.erb
  decidim-core/app/views/decidim/amendments/compare_draft.html.erb
  decidim-core/app/views/decidim/amendments/edit_draft.html.erb
  decidim-core/app/views/decidim/amendments/new.html.erb
  decidim-core/app/views/decidim/amendments/preview_draft.html.erb
  decidim-core/app/views/decidim/amendments/review.html.erb
  decidim-core/config/locales/en.yml
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/amendable/amend_proposal_spec.rb
  decidim-proposals/spec/system/amendable/amendment_wizard_spec.rb
Labels: contract: redesign

#10863 Add possibility of reporting blog posts
  decidim-blogs/app/models/decidim/blogs/post.rb
  decidim-blogs/app/views/decidim/blogs/posts/show.html.erb
  decidim-blogs/spec/system/report_post_spec.rb
Labels: module: blogs, type: fix

#10909 Fix flaky searching specs
  decidim-comments/spec/system/search_comments_spec.rb
  decidim-core/lib/decidim/core/test/shared_examples/searchable_results_examples.rb
  decidim-core/spec/system/search_spec.rb
  decidim-debates/spec/system/search_debates_spec.rb
  decidim-meetings/spec/system/search_meetings_spec.rb
  decidim-proposals/spec/system/search_proposals_spec.rb
Labels: module: proposals, module: core, module: meetings, module: comments, module: debates, type: internal

#10900 Change the Elections' setup minimum hours before start setting to 1 hour
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
Labels: module: elections, type: change

#10905 Allow to publish an Election even if it hasn't valid Questions
  decidim-elections/app/permissions/decidim/elections/admin/permissions.rb
  decidim-elections/spec/permissions/decidim/elections/admin/permissions_spec.rb
Labels: module: elections, type: fix

#10934 Fix user and group related migrations calling the actual record classes
  decidim-core/db/migrate/20181030090144_destroy_deleted_users_follows.rb
  decidim-core/db/migrate/20181204110723_remove_following_users_count_from_users.rb
  decidim-core/db/migrate/20181214101250_add_notification_types_to_users.rb
  decidim-core/db/migrate/20190412131728_fix_user_names.rb
  decidim-core/db/migrate/20200211173227_add_direct_message_types_to_users.rb
  decidim-core/db/migrate/20210302150803_invalidate_all_sessions_for_deleted_users.rb
  decidim-core/db/migrate/20210310120640_add_followable_counter_cache_to_users.rb
  decidim-debates/db/migrate/20181003081235_fix_user_groups_ids_on_debates.rb
  decidim-debates/db/migrate/20181016132850_add_organization_as_author_to_debates.rb
  decidim-initiatives/db/migrate/20181003082010_fix_user_groups_ids_on_initiatives.rb
  decidim-proposals/db/migrate/20181003074440_fix_user_groups_ids_in_proposals_endorsements.rb
  decidim-proposals/db/migrate/20200708091228_move_proposals_fields_to_i18n.rb
  decidim-proposals/db/migrate/20201002085508_fix_proposals_data.rb
  decidim-sortitions/db/migrate/20181017110803_make_sortitions_authors_polymorphic.rb
Labels: module: proposals, module: core, module: debates, module: sortitions, module: initiatives, type: fix

#10864 Allow custom session store and remove samesite protection config
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/lib/engine_spec.rb
Labels: module: core, type: change

#10945 Update stringio to 3.0.7
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: dependencies, type: internal

#10921 Redesign: forms validation
  decidim-core/app/packs/stylesheets/decidim/_redesigned_forms.scss
Labels: contract: redesign

#10946 Fix error message mismatch in election
  decidim-elections/app/forms/decidim/elections/admin/setup_form.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/forms/decidim/elections/admin/setup_form_spec.rb
  decidim-elections/spec/system/admin/admin_manages_election_steps_spec.rb
Labels: module: elections, type: fix

#10949 Standardize the format of the words "I am"
  .spelling.yml
  decidim-admin/app/commands/decidim/admin/invite_admin.rb
  decidim-comments/app/services/decidim/comments/new_comment_notification_creator.rb
  decidim-core/db/seeds.rb
  decidim-core/lib/decidim/core/test/shared_examples/edit_link_shared_examples.rb
  decidim-core/spec/lib/env_spec.rb
  decidim-core/spec/validators/etiquette_validator_spec.rb
  decidim-debates/spec/system/private_space_debate_spec.rb
  decidim-elections/spec/system/admin/monitoring_committee_member_manages_votings_spec.rb
  decidim-proposals/spec/system/private_space_proposal_spec.rb
  decidim-proposals/spec/system/proposal_show_spec.rb
  decidim-proposals/spec/system/proposals_fields_spec.rb
Labels: module: proposals, module: core, module: comments, module: admin, module: debates, module: elections, type: change

#10904 Redesign: my account
  decidim-core/app/packs/src/decidim/account_form.js
  decidim-core/app/packs/src/decidim/form_validator.js
  decidim-core/app/packs/src/decidim/redesigned_index.js
  decidim-core/app/packs/stylesheets/decidim/_redesigned_toggle_switch.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-core/app/views/decidim/account/_delete_modal.html.erb
  decidim-core/app/views/decidim/account/delete.html.erb
  decidim-core/app/views/decidim/account/show.html.erb
  decidim-core/app/views/decidim/download_your_data/show.html.erb
  decidim-core/app/views/decidim/notifications_settings/show.html.erb
  decidim-core/app/views/decidim/own_user_groups/index.html.erb
  decidim-core/app/views/decidim/user_interests/_scopes.html.erb
  decidim-core/app/views/decidim/user_interests/show.html.erb
  decidim-core/app/views/layouts/decidim/shared/_layout_user_profile.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/system/account_spec.rb
  decidim-core/spec/system/download_your_data_spec.rb
  decidim-core/spec/system/user_groups_verification_status_on_account_page_spec.rb
  decidim-elections/spec/system/polling_officer_zone_spec.rb
  decidim-elections/spec/system/trustee_zone_spec.rb
  decidim-elections/spec/system/vote_in_person_spec.rb
  decidim-verifications/app/packs/stylesheets/verifications.scss
  decidim-verifications/app/views/decidim/verifications/authorizations/_item.html.erb
Labels: contract: redesign

#10944 Redesign: pending pages
  decidim-core/app/packs/stylesheets/decidim/_redesigned_pages.scss
  decidim-core/app/views/decidim/pages/_tabbed.html.erb
  decidim-core/spec/system/static_pages_spec.rb
Labels: contract: redesign

#10729 Redesign: collaborative drafts
  decidim-core/app/cells/decidim/card_metadata_cell.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_buttons.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_cards.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_modal.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_typography.scss
  decidim-core/lib/decidim/form_builder.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/dynamic_attach.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/has_questionnaire.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-proposals/app/cells/decidim/proposals/collaborative_draft_cell.rb
  decidim-proposals/app/cells/decidim/proposals/collaborative_draft_l_cell.rb
  decidim-proposals/app/cells/decidim/proposals/collaborative_draft_link_to_proposal/show.erb
  decidim-proposals/app/cells/decidim/proposals/collaborative_draft_link_to_proposal_cell.rb
  decidim-proposals/app/cells/decidim/proposals/collaborative_draft_metadata_cell.rb
  decidim-proposals/app/cells/decidim/proposals/irreversible_action_modal/show.erb
  decidim-proposals/app/cells/decidim/proposals/irreversible_action_modal_cell.rb
  decidim-proposals/app/controllers/decidim/proposals/collaborative_drafts_controller.rb
  decidim-proposals/app/helpers/decidim/proposals/collaborative_draft_helper.rb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_accept_request_access_form.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_actions.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_collaborative_draft_aside.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_collaborative_drafts.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_collaborator_requests.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_count.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_edit_form_fields.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_filters.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_filters_small_view.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_new_collaborative_draft_button.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_reject_request_access_form.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_request_access_form.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_wizard_aside.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_wizard_header.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/edit.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/index.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/index.js.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/new.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/show.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/cells/decidim/proposals/collaborative_draft_cell_spec.rb
  decidim-proposals/spec/system/amendable/amend_proposal_spec.rb
  decidim-proposals/spec/system/amendable/amendment_wizard_spec.rb
  decidim-proposals/spec/system/collaborative_drafts_fields_spec.rb
  decidim-proposals/spec/system/collaborative_drafts_spec.rb
  decidim-proposals/spec/system/collaborative_drafts_versions_spec.rb
  decidim-proposals/spec/system/edit_collaborative_draft_spec.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
  decidim-proposals/spec/system/proposals_fields_spec.rb
Labels: contract: redesign

#10886 Redesign: data toggle
  decidim-core/app/packs/src/decidim/redesigned_index.js
  decidim-core/app/packs/src/decidim/redesigned_toggle.js
  decidim-forms/lib/decidim/forms/test/shared_examples/has_questionnaire.rb
Labels: contract: redesign

#10831 Redesign sortitions
  decidim-core/app/cells/decidim/redesigned_author/cancelled_on.erb
  decidim-core/app/cells/decidim/redesigned_author_cell.rb
  decidim-sortitions/app/cells/decidim/sortitions/sortition_cell.rb
  decidim-sortitions/app/cells/decidim/sortitions/sortition_l_cell.rb
  decidim-sortitions/app/cells/decidim/sortitions/sortition_m/data.erb
  decidim-sortitions/app/cells/decidim/sortitions/sortition_m/footer.erb
  decidim-sortitions/app/cells/decidim/sortitions/sortition_m_cell.rb
  decidim-sortitions/app/cells/decidim/sortitions/sortition_metadata_cell.rb
  decidim-sortitions/app/controllers/decidim/sortitions/application_controller.rb
  decidim-sortitions/app/helpers/decidim/sortitions/sortitions_helper.rb
  decidim-sortitions/app/packs/entrypoints/decidim_sortitions.js
  decidim-sortitions/app/packs/stylesheets/sortitions.scss
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_results_count.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_sortitions.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_sortitions_count.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_tags.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/index.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/show.html.erb
  decidim-sortitions/config/locales/en.yml
  decidim-sortitions/spec/system/decidim/sortitions/show_spec.rb
  decidim-sortitions/spec/system/decidim/sortitions/sortitions_spec.rb
Labels: contract: redesign

#10970 Fix flaky collaborative drafts spec
  decidim-proposals/spec/system/collaborative_drafts_spec.rb
Labels: module: proposals, type: fix, type: internal

#10972 Don't ask for overwriting .ruby-version on app generation
  decidim-generators/lib/decidim/generators/app_generator.rb
Labels: module: generators, type: fix

#10974 Make organizations' colors seeds random
  decidim-core/db/seeds.rb
Labels: module: core, type: internal

#10977 Triadic color calculator for organization colors
  decidim-admin/app/packs/entrypoints/decidim_admin.js
  decidim-admin/app/packs/src/decidim/admin/triadic_color_picker.js
  decidim-admin/app/packs/stylesheets/decidim/admin/modules/_color-picker.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/modules/_modules.scss
  decidim-admin/app/views/decidim/admin/organization_appearance/form/_colors.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/system/admin_manages_organization_appearance_spec.rb
Labels: module: admin, type: feature

#10973 Load the editor assets only when there is an editor on the page
  RELEASE_NOTES.md
  decidim-admin/app/packs/stylesheets/decidim/admin/_decidim.scss
  decidim-admin/app/views/layouts/decidim/admin/_header.html.erb
  decidim-core/app/packs/stylesheets/decidim/_decidim.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_rich_text.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_typography.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_editor.scss
  decidim-core/app/views/layouts/decidim/_decidim_javascript.html.erb
  decidim-core/app/views/layouts/decidim/_head.html.erb
  decidim-core/app/views/layouts/decidim/_redesigned_decidim_javascript.html.erb
  decidim-core/app/views/layouts/decidim/_redesigned_head.html.erb
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/system/editor_spec.rb
  decidim-system/app/views/layouts/decidim/system/_header.html.erb
Labels: module: core, module: admin, module: system, type: change

#10965 Add ESLint and Stylelint to component template
  decidim-generators/lib/decidim/generators/component_generator.rb
  decidim-generators/lib/decidim/generators/component_templates/.eslintrc.json
  decidim-generators/lib/decidim/generators/component_templates/.stylelintrc.json
  decidim-generators/lib/decidim/generators/component_templates/package.json.erb
  decidim-generators/spec/runtime/config_flags_generator_spec.rb
Labels: type: feature, module: generators

#10966 Install the gems in the original env during generator specs
  decidim-generators/spec/runtime/config_flags_generator_spec.rb
  decidim-generators/spec/runtime/full_app_generator_spec.rb
Labels: module: generators, type: internal

#10914 Fix to Proposal cards CSS in Processes
  decidim-core/app/cells/decidim/collapsible_list/show.erb
Labels: type: fix

#10975 Redesign: fix buttons & geocoder
  decidim-core/app/packs/stylesheets/decidim/_redesigned_buttons.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_forms.scss
Labels: contract: redesign

#10941 Redesign: participatory texts
  decidim-proposals/app/cells/decidim/proposals/participatory_text_proposal/buttons.erb
  decidim-proposals/app/cells/decidim/proposals/participatory_text_proposal/show.erb
  decidim-proposals/app/cells/decidim/proposals/participatory_text_proposal_cell.rb
  decidim-proposals/app/packs/stylesheets/decidim/proposals/redesigned_proposals.scss
  decidim-proposals/app/views/decidim/proposals/proposals/participatory_texts/_index.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/participatory_texts/_view_index.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/participatory_texts/participatory_text.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/participatory_texts_spec.rb
Labels: contract: redesign

#10990 Redesign: remove font-bold from breadcrumb
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu_breadcrumb_items.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_menu_breadcrumb_mobile_tablet.html.erb
Labels: contract: redesign

#10954 Redesign: coauthors
  decidim-core/app/cells/decidim/card_metadata_cell.rb
  decidim-core/app/cells/decidim/coauthorships_cell.rb
  decidim-core/app/cells/decidim/collapsible_authors/show.erb
  decidim-core/app/cells/decidim/collapsible_authors/stack.erb
  decidim-core/app/cells/decidim/collapsible_authors_cell.rb
  decidim-core/app/cells/decidim/collapsible_list_cell.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_author.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_cards.scss
  decidim-core/app/views/decidim/amendments/preview_draft.html.erb
  decidim-initiatives/spec/cells/decidim/initiatives/initiative_m_cell_spec.rb
  decidim-proposals/app/views/decidim/proposals/proposals/preview.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/spec/cells/decidim/proposals/collaborative_draft_cell_spec.rb
Labels: contract: redesign

#10922 Redesign: surveys
  decidim-core/app/views/decidim/devise/registrations/new.html.erb
  decidim-forms/app/packs/stylesheets/decidim/forms/forms.scss
  decidim-forms/app/views/decidim/forms/questionnaires/_questionnaire.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_files.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/show.html.erb
  decidim-forms/config/locales/en.yml
  decidim-forms/lib/decidim/forms/test/shared_examples/has_questionnaire.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
Labels: contract: redesign

#10385 Fix "No activity" message in Last Activities isn't shown sometimes
  decidim-core/app/cells/decidim/activities_cell.rb
  decidim-core/app/cells/decidim/content_blocks/last_activity_cell.rb
  decidim-core/app/controllers/decidim/last_activities_controller.rb
  decidim-core/app/queries/decidim/last_activity.rb
  decidim-core/app/queries/decidim/public_activities.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/system/last_activity_spec.rb
Labels: module: core, type: fix

#10988 Fix error when SVG icon is not available in the file system
  decidim-core/app/helpers/decidim/layout_helper.rb
  decidim-core/spec/helpers/decidim/layout_helper_spec.rb
Labels: module: core, type: fix

#11005 Backport 'Remove unused preset-env dependencies' to v0.27
  babel.config.json
Labels: backport, dependencies, javascript, type: fix

#11011 Backport 'Fix missing translations for SMS confirmation when signing a petition' to v0.27
  decidim-verifications/config/locales/en.yml
Labels: backport, module: verifications, type: fix

#11012 Backport 'Fix missing translations for SMS confirmation when signing a petition' to v0.26
  decidim-verifications/config/locales/en.yml
Labels: backport, module: verifications, type: fix

#11020 Backport 'Fix for initiative menu not active on creation' to v0.26
  decidim-initiatives/lib/decidim/initiatives/engine.rb
Labels: backport, module: initiatives, type: fix

#11019 Backport 'Fix for initiative menu not active on creation' to v0.27
  decidim-initiatives/lib/decidim/initiatives/engine.rb
Labels: backport, module: initiatives, type: fix

#11029 Backport 'Change to display initiatives after creation' to v0.27
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/finish.html.erb
  decidim-initiatives/spec/system/create_initiative_spec.rb
Labels: backport, module: initiatives, type: fix

#11031 Backport 'Allow to publish an Election even if it hasn't valid Questions' to v0.27
  decidim-elections/app/permissions/decidim/elections/admin/permissions.rb
  decidim-elections/spec/permissions/decidim/elections/admin/permissions_spec.rb
Labels: backport, module: elections, type: fix

#11032 Backport 'Allow to publish an Election even if it hasn't valid Questions' to v0.26
  decidim-elections/app/permissions/decidim/elections/admin/permissions.rb
  decidim-elections/spec/permissions/decidim/elections/admin/permissions_spec.rb
Labels: backport, module: elections, type: fix

#11022 Backport 'Fix to Proposal cards CSS in Processes' to v0.26
  decidim-core/app/cells/decidim/collapsible_list/show.erb
Labels: module: core, backport, type: fix

#11021 Backport 'Fix to Proposal cards CSS in Processes' to v0.27
  decidim-core/app/cells/decidim/collapsible_list/show.erb
Labels: module: core, backport, type: fix

#11014 Backport 'Add translation string for URL error message' to v0.26
  decidim-core/app/forms/url_validator.rb
  decidim-core/config/locales/en.yml
  decidim-meetings/config/locales/en.yml
Labels: module: core, backport, type: fix

#11013 Backport 'Add translation string for URL error message' to v0.27
  decidim-core/app/forms/url_validator.rb
  decidim-core/config/locales/en.yml
  decidim-meetings/config/locales/en.yml
Labels: module: core, backport, type: fix

#11025 Backport 'Add possibility of reporting blog posts ' to v0.27
  decidim-blogs/app/models/decidim/blogs/post.rb
  decidim-blogs/app/views/decidim/blogs/posts/show.html.erb
  decidim-blogs/spec/system/report_post_spec.rb
Labels: backport, module: blogs, type: fix

#11009 Backport 'Fix user and group related migrations calling the actual record classes' to v0.27
  decidim-core/db/migrate/20181030090144_destroy_deleted_users_follows.rb
  decidim-core/db/migrate/20181204110723_remove_following_users_count_from_users.rb
  decidim-core/db/migrate/20181214101250_add_notification_types_to_users.rb
  decidim-core/db/migrate/20190412131728_fix_user_names.rb
  decidim-core/db/migrate/20200211173227_add_direct_message_types_to_users.rb
  decidim-core/db/migrate/20210302150803_invalidate_all_sessions_for_deleted_users.rb
  decidim-core/db/migrate/20210310120640_add_followable_counter_cache_to_users.rb
  decidim-debates/db/migrate/20181003081235_fix_user_groups_ids_on_debates.rb
  decidim-debates/db/migrate/20181016132850_add_organization_as_author_to_debates.rb
  decidim-initiatives/db/migrate/20181003082010_fix_user_groups_ids_on_initiatives.rb
  decidim-proposals/db/migrate/20181003074440_fix_user_groups_ids_in_proposals_endorsements.rb
  decidim-proposals/db/migrate/20200708091228_move_proposals_fields_to_i18n.rb
  decidim-proposals/db/migrate/20201002085508_fix_proposals_data.rb
  decidim-sortitions/db/migrate/20181017110803_make_sortitions_authors_polymorphic.rb
Labels: module: proposals, module: core, backport, module: debates, module: sortitions, module: initiatives, type: fix

#11010 Backport 'Fix user and group related migrations calling the actual record classes' to v0.26
  decidim-core/db/migrate/20181030090144_destroy_deleted_users_follows.rb
  decidim-core/db/migrate/20181204110723_remove_following_users_count_from_users.rb
  decidim-core/db/migrate/20181214101250_add_notification_types_to_users.rb
  decidim-core/db/migrate/20190412131728_fix_user_names.rb
  decidim-core/db/migrate/20200211173227_add_direct_message_types_to_users.rb
  decidim-core/db/migrate/20210302150803_invalidate_all_sessions_for_deleted_users.rb
  decidim-core/db/migrate/20210310120640_add_followable_counter_cache_to_users.rb
  decidim-debates/db/migrate/20181003081235_fix_user_groups_ids_on_debates.rb
  decidim-debates/db/migrate/20181016132850_add_organization_as_author_to_debates.rb
  decidim-initiatives/db/migrate/20181003082010_fix_user_groups_ids_on_initiatives.rb
  decidim-proposals/db/migrate/20181003074440_fix_user_groups_ids_in_proposals_endorsements.rb
  decidim-proposals/db/migrate/20200708091228_move_proposals_fields_to_i18n.rb
  decidim-proposals/db/migrate/20201002085508_fix_proposals_data.rb
  decidim-sortitions/db/migrate/20181017110803_make_sortitions_authors_polymorphic.rb
Labels: module: proposals, module: core, backport, module: debates, module: sortitions, module: initiatives, type: fix

#11002 Bump doorkeeper from 5.5.4 to 5.6.6
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: module: core, dependencies

#11015 Backport 'Fix budgets zero single view' to v0.27
  decidim-budgets/app/forms/decidim/budgets/admin/budget_form.rb
  decidim-budgets/app/models/decidim/budgets/order.rb
  decidim-budgets/spec/forms/decidim/budgets/admin/budget_form_spec.rb
  decidim-budgets/spec/system/orders_spec.rb
Labels: module: budgets, backport, type: fix

#11016 Backport 'Fix budgets zero single view' to v0.26
  decidim-budgets/app/forms/decidim/budgets/admin/budget_form.rb
  decidim-budgets/app/models/decidim/budgets/order.rb
  decidim-budgets/spec/forms/decidim/budgets/admin/budget_form_spec.rb
  decidim-budgets/spec/system/orders_spec.rb
Labels: module: budgets, backport, type: fix

#11017 Backport 'Fix partner type in Conferences' partners edit form' to v0.27
  decidim-conferences/app/views/decidim/conferences/admin/partners/_form.html.erb
  decidim-conferences/spec/shared/manage_partners_examples.rb
Labels: backport, module: conferences, type: fix

#11018 Backport 'Fix partner type in Conferences' partners edit form' to v0.26
  decidim-conferences/app/views/decidim/conferences/admin/partners/_form.html.erb
  decidim-conferences/spec/shared/manage_partners_examples.rb
Labels: backport, module: conferences, type: fix

#11027 Backport 'Fix do not count blocked users to stats' to v0.27
  decidim-core/app/queries/decidim/metrics/users_metric_manage.rb
  decidim-core/spec/queries/decidim/metrics/users_metric_manage_spec.rb
Labels: module: core, backport, type: fix

#11028 Backport 'Fix do not count blocked users to stats' to v0.26
  decidim-core/app/queries/decidim/metrics/users_metric_manage.rb
  decidim-core/spec/queries/decidim/metrics/users_metric_manage_spec.rb
Labels: module: core, backport, type: fix

#11007 Backport 'Fix error when SVG icon is not available in the file system' to v0.27
  decidim-core/app/helpers/decidim/layout_helper.rb
  decidim-core/spec/helpers/decidim/layout_helper_spec.rb
Labels: module: core, backport, type: fix

#11034 Backport 'Fix error message mismatch in election' to v0.26
  decidim-elections/app/forms/decidim/elections/admin/setup_form.rb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/forms/decidim/elections/admin/setup_form_spec.rb
Labels: backport, module: elections, type: fix

#10940 Backport 'Fix notifications page when vapid is not available' to v0.27
  decidim-core/app/forms/decidim/notifications_settings_form.rb
  decidim-core/app/services/decidim/send_push_notification.rb
  decidim-core/spec/forms/notifications_settings_form_spec.rb
  decidim-core/spec/services/decidim/send_push_notification_spec.rb
  decidim-core/spec/system/account_spec.rb
Labels: module: core, backport, type: fix

#11023 Backport 'Fix exception in Initiatives' Page' to v0.27
  CHANGELOG.md
  decidim-initiatives/app/commands/decidim/initiatives/create_initiative.rb
  decidim-initiatives/lib/decidim/initiatives/participatory_space.rb
  decidim-initiatives/lib/tasks/initiatives/upgrade/decidim_initiatives_upgrade_tasks.rake
  decidim-initiatives/spec/system/create_initiative_spec.rb
Labels: backport, module: initiatives, type: fix

#11047 Backport 'Don't allow access to admin panel without ToS acceptance' to v0.26
  decidim-admin/app/controllers/concerns/decidim/admin/needs_admin_tos_accepted.rb
  decidim-admin/app/controllers/decidim/admin/admin_terms_controller.rb
  decidim-admin/app/controllers/decidim/admin/application_controller.rb
  decidim-admin/lib/decidim/admin/test.rb
  decidim-admin/lib/decidim/admin/test/needs_admin_tos_accepted_examples.rb
  decidim-admin/spec/controllers/concerns/needs_admin_tos_accepted_spec.rb
  decidim-admin/spec/system/admin_invite_spec.rb
  decidim-admin/spec/system/admin_tos_acceptance_spec.rb
  decidim-admin/spec/system/space_admin_manages_global_moderations_spec.rb
  decidim-admin/spec/system/space_moderator_manages_global_moderations_spec.rb
  decidim-assemblies/spec/system/admin/valuator_checks_components_spec.rb
  decidim-conferences/spec/system/admin/valuator_checks_components_spec.rb
  decidim-core/spec/models/decidim/user_spec.rb
  decidim-elections/spec/shared/monitoring_committee_member_manages_voting_examples.rb
  decidim-elections/spec/system/admin/monitoring_committee_member_manages_voting_results_spec.rb
  decidim-elections/spec/system/admin/monitoring_committee_member_manages_votings_spec.rb
  decidim-elections/spec/system/admin/monitoring_committee_member_verifies_elections_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/committee_requests_controller_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/initiatives_controller_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/initiatives_type_scopes_controller_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/initiatives_types_controller_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_admin_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_collaborator_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_moderator_spec.rb
  decidim-templates/app/permissions/decidim/templates/admin/permissions.rb
  decidim-templates/spec/permissions/decidim/templates/admin/permissions_spec.rb
  decidim-templates/spec/system/admin/admin_manages_questionnaire_templates_spec.rb
Labels: module: admin, backport, type: fix

#11042 Backport 'Don't allow access to admin panel without ToS acceptance' to v0.27
  decidim-admin/app/controllers/concerns/decidim/admin/needs_admin_tos_accepted.rb
  decidim-admin/app/controllers/decidim/admin/admin_terms_controller.rb
  decidim-admin/app/controllers/decidim/admin/application_controller.rb
  decidim-admin/lib/decidim/admin/test.rb
  decidim-admin/lib/decidim/admin/test/needs_admin_tos_accepted_examples.rb
  decidim-admin/spec/controllers/concerns/needs_admin_tos_accepted_spec.rb
  decidim-admin/spec/system/admin_invite_spec.rb
  decidim-admin/spec/system/admin_tos_acceptance_spec.rb
  decidim-admin/spec/system/space_admin_manages_global_moderations_spec.rb
  decidim-admin/spec/system/space_moderator_manages_global_moderations_spec.rb
  decidim-assemblies/spec/system/admin/valuator_checks_components_spec.rb
  decidim-conferences/spec/system/admin/valuator_checks_components_spec.rb
  decidim-core/spec/models/decidim/user_spec.rb
  decidim-elections/spec/shared/monitoring_committee_member_manages_voting_examples.rb
  decidim-elections/spec/system/admin/monitoring_committee_member_manages_voting_results_spec.rb
  decidim-elections/spec/system/admin/monitoring_committee_member_manages_votings_spec.rb
  decidim-elections/spec/system/admin/monitoring_committee_member_verifies_elections_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/committee_requests_controller_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/initiatives_controller_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/initiatives_type_scopes_controller_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/admin/initiatives_types_controller_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_admin_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_collaborator_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_moderator_spec.rb
  decidim-templates/app/permissions/decidim/templates/admin/permissions.rb
  decidim-templates/spec/permissions/decidim/templates/admin/permissions_spec.rb
  decidim-templates/spec/system/admin/admin_manages_questionnaire_templates_spec.rb
Labels: module: admin, backport, type: fix

#10978 Redesign: confirm modal Foundation-free
  decidim-core/app/packs/src/decidim/redesigned_confirm.js
  decidim-core/app/packs/src/decidim/redesigned_index.js
  decidim-core/app/views/decidim/shared/_redesigned_confirm_modal.html.erb
  decidim-core/app/views/layouts/decidim/_redesigned_application.html.erb
  decidim-dev/lib/decidim/dev/test/rspec_support/confirmation_helpers.rb
  decidim-verifications/spec/system/revocation_auths_spec.rb
Labels: contract: redesign

#10984 Redesign: display a disabled message button in public profile if user blocks th…
  decidim-core/app/cells/decidim/profile_actions_cell.rb
  decidim-core/config/locales/en.yml
Labels: contract: redesign

#10998 Redesign: opinion buttons
  decidim-comments/app/cells/decidim/comments/comment_form/opinion.erb
  decidim-comments/app/cells/decidim/comments/comment_form/show.erb
  decidim-comments/app/packs/src/decidim/comments/comments.component.js
  decidim-comments/app/packs/src/decidim/comments/comments.component.test.js
  decidim-comments/app/packs/stylesheets/comments.scss
  decidim-comments/spec/cells/decidim/comments/comment_form_spec.rb
  decidim-comments/spec/cells/decidim/comments/comments_cell_spec.rb
Labels: contract: redesign

#10957 Redesign: fix emoji popup position
  decidim-core/app/packs/src/decidim/input_emoji.js
  decidim-core/app/packs/stylesheets/decidim/_redesigned_forms.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_header.scss
  decidim_app-design/package-lock.json
  decidim_app-design/packages/core/package.json
  package-lock.json
  packages/core/package.json
Labels: contract: redesign

#11045 Backport 'Fix webpacker crashes on missing icons' to v0.26
  decidim-core/app/helpers/decidim/layout_helper.rb
  decidim-core/spec/helpers/decidim/layout_helper_spec.rb
Labels: module: core, backport, type: fix

#11055 Backport 'Remove duplication of LastActivity queries' to v0.27
  decidim-core/app/cells/decidim/content_blocks/last_activity_cell.rb
  decidim-core/app/controllers/decidim/last_activities_controller.rb
  decidim-core/app/queries/decidim/last_activity.rb
  decidim-core/spec/queries/decidim/last_activity_spec.rb
Labels: module: core, backport, type: internal

#11008 Backport 'Fix error when SVG icon is not available in the file system' to v0.26
  decidim-core/app/helpers/decidim/layout_helper.rb
  decidim-core/spec/helpers/decidim/layout_helper_spec.rb
Labels: module: core, backport, type: fix

#11056 Backport 'Fix "No activity" message in Last Activities isn't shown sometimes' to v0.27
  decidim-core/app/cells/decidim/activities_cell.rb
  decidim-core/app/cells/decidim/content_blocks/last_activity_cell.rb
  decidim-core/app/controllers/decidim/last_activities_controller.rb
  decidim-core/app/queries/decidim/last_activity.rb
  decidim-core/app/queries/decidim/public_activities.rb
  decidim-core/spec/system/last_activity_spec.rb
Labels: module: core, backport, type: fix

#10953 Redesign: update default static map size to 300px
  decidim-core/app/packs/stylesheets/decidim/_redesigned_map.scss
  decidim-core/app/services/decidim/static_map_generator.rb
  decidim-core/lib/decidim/map/provider/static_map/here.rb
  decidim-core/lib/decidim/map/provider/static_map/osm.rb
  decidim-core/lib/decidim/map/static_map.rb
  decidim-core/spec/lib/map/provider/static_map/here_spec.rb
  decidim-core/spec/lib/map/provider/static_map/osm_spec.rb
  decidim-core/spec/lib/map/static_map_spec.rb
  docs/modules/develop/pages/maps.adoc
Labels: contract: redesign

#10992 Redesign: assembly members page
  decidim-assemblies/app/cells/decidim/assemblies/assembly_member/data.erb
  decidim-assemblies/app/cells/decidim/assemblies/assembly_member/name_and_position.erb
  decidim-assemblies/app/cells/decidim/assemblies/assembly_member/show.erb
  decidim-assemblies/app/controllers/decidim/assemblies/assembly_members_controller.rb
  decidim-assemblies/app/presenters/decidim/assembly_member_presenter.rb
  decidim-assemblies/app/views/decidim/assemblies/assembly_members/index.html.erb
  decidim-assemblies/app/views/layouts/decidim/_assembly_header.html.erb
  decidim-assemblies/spec/presenters/decidim/assembly_member_presenter_spec.rb
  decidim-assemblies/spec/system/assembly_members_spec.rb
  decidim-core/app/cells/decidim/content_blocks/base_cell.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_profile.scss
Labels: contract: redesign

#11067 Redesign: secondary actions
  decidim-budgets/app/packs/stylesheets/budgets.scss
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_actions.scss
  decidim-core/app/packs/stylesheets/decidim/redesigned_application.scss
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-meetings/app/packs/stylesheets/decidim/meetings/_item.scss
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_aside.html.erb
  decidim-proposals/app/packs/stylesheets/decidim/proposals/redesigned_proposals.scss
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_collaborative_draft_aside.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_aside.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/show.html.erb
Labels: contract: redesign

#10926 Redesign: pending notifications
  decidim-comments/app/cells/decidim/comments/comment/show.erb
  decidim-comments/app/events/decidim/comments/comment_event.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-core/app/cells/decidim/notification/show.erb
  decidim-core/app/helpers/decidim/layout_helper.rb
  decidim-core/app/packs/src/decidim/notifications.js
  decidim-core/app/views/decidim/messaging/conversations/index.html.erb
  decidim-core/app/views/decidim/notifications/index.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_main_links_desktop.html.erb
  decidim-core/app/views/layouts/decidim/header/_redesigned_main_links_dropdown.html.erb
  decidim-core/spec/system/notifications_spec.rb
Labels: contract: redesign

#11039 Redesign: scopes picker
  decidim-core/app/helpers/decidim/scopes_helper.rb
  decidim-debates/app/views/decidim/debates/debates/_form.html.erb
  decidim-debates/spec/system/user_edits_debate_spec.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_form.html.erb
  decidim-meetings/spec/system/user_creates_meeting_spec.rb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_edit_form_fields.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_edit_form_fields.html.erb
  decidim-proposals/spec/system/collaborative_drafts_fields_spec.rb
  decidim-proposals/spec/system/proposals_fields_spec.rb
  decidim-verifications/app/views/dummy_authorization/_form.html.erb
  decidim-verifications/spec/views/decidim/verifications/authorizations/new.html.erb_spec.rb
Labels: contract: redesign

#10896 Add a button to send a newsletter to the admin
  decidim-admin/app/controllers/decidim/admin/newsletters_controller.rb
  decidim-admin/app/views/decidim/admin/newsletters/index.html.erb
  decidim-admin/app/views/decidim/admin/newsletters/show.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/spec/system/admin_manages_newsletters_spec.rb
Labels: module: core, module: admin, type: feature

#11074 Lock sass-embedded to 1.62
  decidim_app-design/package-lock.json
  decidim_app-design/packages/webpacker/package.json
  package-lock.json
  packages/webpacker/package.json
Labels: module: core, dependencies, javascript

#11070 Avoid password change to be requested when user registration mode is disabled
  decidim-core/app/models/decidim/user.rb
  decidim-core/spec/system/authentication_spec.rb
Labels: module: core, type: fix

#11077 Redesign: lock sass embedded to 1.62
  decidim_app-design/packages/webpacker/package-lock.json
  decidim_app-design/packages/webpacker/package.json
  packages/webpacker/package-lock.json
  packages/webpacker/package.json
Labels: contract: redesign

#11076 Replace `bootstrap-tagsinput` npm package with `tom-select`
  decidim-core/app/packs/src/decidim/input_tags.js
  decidim-core/app/packs/stylesheets/decidim/modules/_input-tags.scss
  decidim-system/app/packs/stylesheets/decidim/system/_forms.scss
  decidim-system/app/packs/stylesheets/decidim/system/application.scss
  decidim_app-design/package-lock.json
  decidim_app-design/packages/core/package.json
  package-lock.json
  packages/core/package.json
Labels: module: system, dependencies, type: change

#10999 Redesign: remove gcalendar warning
  decidim-core/app/packs/src/decidim/external_domain_warning.js
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/src/decidim/redesigned_index.js
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_add_to_calendar_modal.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_calendar_modal.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_redesigned_calendar_modal.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/system/live_meeting_access_spec.rb
Labels: contract: redesign

#11072 Redesign: fix cards
  decidim-assemblies/app/cells/decidim/assemblies/assembly_metadata_g_cell.rb
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_cards.scss
Labels: contract: redesign

#11051 Redesign: display only public users followings in following profile tab
  decidim-admin/spec/system/admin_manages_officializations_spec.rb
  decidim-assemblies/app/views/decidim/assemblies/pages/user_profile/_member_of.html.erb
  decidim-core/app/cells/decidim/following_cell.rb
  decidim-core/app/cells/decidim/profile_actions/dropdown_actions.erb
  decidim-core/app/cells/decidim/profile_actions/profile_actions.erb
  decidim-core/app/cells/decidim/profile_actions_cell.rb
  decidim-core/app/cells/decidim/redesigned_profile/badge.erb
  decidim-core/app/cells/decidim/redesigned_profile/details.erb
  decidim-core/app/cells/decidim/redesigned_profile_cell.rb
  decidim-core/app/models/decidim/user_base_entity.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_profile.scss
  decidim-core/app/views/decidim/profiles/show.html.erb
  decidim-core/app/views/decidim/user_activities/index.html.erb
  decidim-core/app/views/decidim/user_conversations/index.html.erb
  decidim-core/app/views/decidim/user_conversations/show.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/cells/decidim/redesigned_profile_cell_spec.rb
  decidim-core/spec/system/gamification_spec.rb
  decidim-core/spec/system/messaging/conversations_spec.rb
  decidim-core/spec/system/messaging/profile_conversations_spec.rb
  decidim-core/spec/system/user_group_leaving_spec.rb
  decidim-core/spec/system/user_group_profile_spec.rb
  decidim-core/spec/system/user_profile_spec.rb
  decidim-core/spec/system/user_report_spec.rb
Labels: contract: redesign

#11068 Redesign: layout center
  decidim-core/app/cells/decidim/redesigned_profile/show.erb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_layout.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_profile.scss
  decidim-core/app/views/layouts/decidim/shared/_layout_center.html.erb
Labels: contract: redesign

#11088 Use the component name in the sidebar title
  decidim-accountability/app/helpers/decidim/accountability/application_helper.rb
  decidim-accountability/spec/system/explore_results_spec.rb
  decidim-blogs/app/helpers/decidim/blogs/application_helper.rb
  decidim-blogs/app/views/decidim/blogs/posts/index.html.erb
  decidim-blogs/spec/system/explore_posts_spec.rb
  decidim-budgets/app/helpers/decidim/budgets/application_helper.rb
  decidim-budgets/app/views/decidim/budgets/budgets/index.html.erb
  decidim-budgets/spec/system/explore_budgets_spec.rb
  decidim-debates/app/helpers/decidim/debates/application_helper.rb
  decidim-debates/app/views/decidim/debates/debates/index.html.erb
  decidim-debates/spec/system/explore_debates_spec.rb
  decidim-initiatives/app/helpers/decidim/initiatives/application_helper.rb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/index.html.erb
  decidim-participatory_processes/app/helpers/decidim/participatory_processes/application_helper.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/index.html.erb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/index.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/index.html.erb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: contract: redesign

#11091 Redesign / Update package-lock
  decidim_app-design/package-lock.json
  package-lock.json
Labels: contract: redesign

#11071 Redesign: vertical margin inside the callouts
  decidim-budgets/app/views/decidim/budgets/budgets/index.html.erb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_typography.scss
  decidim-core/app/views/decidim/shared/_component_announcement.html.erb
  decidim-core/lib/decidim/core/test/shared_examples/announcements_examples.rb
  decidim-debates/app/views/decidim/debates/debates/index.html.erb
Labels: contract: redesign

#11090 Show all projects if none is selected when the voting has finished
  decidim-budgets/app/controllers/decidim/budgets/projects_controller.rb
  decidim-budgets/spec/system/explore_projects_spec.rb
Labels: module: budgets, type: fix

#11098 Fix configuration param and documentation links in CSP
  RELEASE_NOTES.md
  decidim-core/lib/decidim/content_security_policy.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/lib/content_security_policy_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
Labels: module: core, type: internal, no-backport

#11079 Check for supported locale in Emoji picker
  decidim-core/app/packs/src/decidim/input_emoji.js
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: module: core, type: fix

#11048 Redesign: home menu content block
  decidim-assemblies/lib/decidim/assemblies/engine.rb
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-conferences/lib/decidim/conferences/engine.rb
  decidim-conferences/spec/system/conferences_spec.rb
  decidim-consultations/lib/decidim/consultations/engine.rb
  decidim-core/app/cells/decidim/content_blocks/global_menu/show.erb
  decidim-core/app/cells/decidim/content_blocks/global_menu_cell.rb
  decidim-core/app/helpers/decidim/menu_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_home.scss
  decidim-core/app/views/layouts/decidim/_redesigned_wrapper.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/engine.rb
  decidim-elections/lib/decidim/votings/engine.rb
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: contract: redesign

#11075 Redesign: display online meeting
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-core/app/cells/decidim/address/online.erb
  decidim-core/app/cells/decidim/address/show.erb
  decidim-core/app/cells/decidim/address_cell.rb
  decidim-core/app/helpers/decidim/date_range_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_address.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_map.scss
  decidim-core/app/views/decidim/shared/_static_map.html.erb
  decidim-core/spec/cells/decidim/card_metadata_cell_spec.rb
  decidim-debates/spec/system/explore_debates_spec.rb
  decidim-meetings/app/cells/decidim/meetings/dates_and_map/show.erb
  decidim-meetings/app/cells/decidim/meetings/online_meeting_link/show.erb
  decidim-meetings/app/packs/stylesheets/decidim/meetings/_item.scss
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/system/live_meeting_access_spec.rb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/preview.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
Labels: contract: redesign
