Repository decidim/decidim, pull requests merged in 2023-12, with the labels that each got.

#12104 Fix failure when generating an application (`Could not find ".rubocop.yml"`)
  decidim-generators/decidim-generators.gemspec
Labels: type: fix

#12102 Remove image resolver from decidim-verifications
  decidim-verifications/app/packs/entrypoints/decidim_verifications.js
  decidim-verifications/app/packs/images/.gitkeep
Labels: type: fix

#12105 Backport 'Fix failure when generating an application (`Could not find ".rubocop.yml"`) ' to v0.28
  decidim-generators/decidim-generators.gemspec
Labels: backport, type: fix

#12103 Remove postcss-loader config loader customization
  packages/webpacker/src/override-config.js
Labels: type: fix

#12111 Backport 'Fix for upgrade taks not installing node packages' to v0.28
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
Labels: backport, type: fix

#12100 Improve the releases notes: ruby version, summary and `consulations_removal.bash` script
  RELEASE_NOTES.md
  docs/modules/develop/pages/consulations_removal.bash
Labels: target: developer-experience, type: internal

#12112 Backport 'Remove postcss-loader config loader customization' to v0.28
  packages/webpacker/src/override-config.js
Labels: backport, type: fix

#12114 Bump to v0.28.0.rc2 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: type: internal

#12123 Fix Decidim::DummyResources autoload path
  decidim-dev/lib/decidim/dev.rb
Labels: type: fix

#12120 Fix missing namespaces and icon
  decidim-core/app/cells/decidim/content_blocks/last_activity_cell.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-meetings/app/cells/decidim/meetings/highlighted_meetings_for_component_cell.rb
Labels: type: fix

#12117 Add instruction to delete a babel directive from package.json
  CHANGELOG.md
  RELEASE_NOTES.md
Labels: type: internal

#12127 Backport 'Fix Decidim::DummyResources autoload path' to v0.28
  decidim-dev/lib/decidim/dev.rb
Labels: backport, type: fix

#12128 Backport 'Fix missing namespaces and icon' to v0.28
  decidim-core/app/cells/decidim/content_blocks/last_activity_cell.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-meetings/app/cells/decidim/meetings/highlighted_meetings_for_component_cell.rb
Labels: backport, type: fix

#12129 Bump to v0.28.0.rc3 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: type: internal

#12098 Redesign: clean-up of deprecated classes on proposals
  decidim-proposals/app/views/decidim/proposals/admin/imports/_proposals_fields.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/participatory_texts/index.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposal_notes/_proposal_notes.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_form.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_assign_to_valuator.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_merge.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_publish_answers.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_recategorize.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_scope-change.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_split.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_unassign_from_valuator.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/index.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_badge.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/participatory_texts/_proposal_vote_button.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/participatory_texts/_proposal_votes_count.html.erb
Labels: target:cleanup, type: internal

#12132 Bump stringio and carrierwave
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
Labels: type: fix

#12140 Redesign: HTML clean-up on initiatives
  decidim-initiatives/app/packs/src/decidim/initiatives/admin/invite_users.js
  decidim-initiatives/app/views/decidim/initiatives/admin/committee_requests/index.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/exports/_dropdown.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/index.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives_types/_initiative_type_scopes.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives_types/index.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiative_signatures/fill_personal_data.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_interactions.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_new_initiative_button.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_vote_button.html.erb
  decidim-initiatives/app/views/layouts/decidim/_initiative_header.html.erb
  decidim-initiatives/app/views/layouts/decidim/initiative.html.erb
Labels: target:cleanup, type: internal, contract: redesign

#12062 Change the buttons UI for removing answers in forms
  decidim-admin/app/packs/stylesheets/decidim/admin/_cards.scss
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_answer_option.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_display_condition.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_matrix_row.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_question.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/poll/_answer_option.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/poll/_question.html.erb
Labels: module: admin, module: surveys, module: forms, type: fix, contract: redesign

#12081 Redesign: HTML clean-up on sortitions, surveys, system and templates
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/index.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_linked_sortitions.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_proposal_badge.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_sortition_author.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_sortition_cancel_author.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_tags.html.erb
  decidim-surveys/app/views/decidim/surveys/surveys/no_permission.html.erb
  decidim-system/app/views/decidim/system/oauth_applications/index.html.erb
  decidim-system/app/views/decidim/system/shared/_admins_list.html.erb
  decidim-system/app/views/decidim/system/shared/_organizations_list.html.erb
  decidim-templates/app/views/decidim/templates/admin/questionnaire_templates/_choose.html.erb
  decidim-templates/app/views/decidim/templates/admin/questionnaire_templates/_preview.html.erb
  decidim-templates/app/views/decidim/templates/admin/questionnaire_templates/preview.js.erb
Labels: target:cleanup, type: internal, contract: redesign

#12138 Redesign: HTML clean-up on participatory-processes and assemblies
  decidim-assemblies/app/views/decidim/assemblies/admin/assembly_members/index.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assembly_user_roles/index.html.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_filters/filter_tabs.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_filters/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_filters/type_filter.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_filters_cell.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_steps/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_steps/show.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_user_roles/index.html.erb
Labels: target:cleanup, type: internal, contract: redesign

#12099 Redesign: HTML clean-up on budgets
  decidim-budgets/app/views/decidim/budgets/admin/budgets/index.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/bulk_actions/_budget-change.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/bulk_actions/_change-selected.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/bulk_actions/_recategorize.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/bulk_actions/_scope-change.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/index.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_budget_confirm.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_order_progress_summary_content.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_projects.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/index.js.erb
  decidim-budgets/spec/system/sorting_projects_spec.rb
Labels: target:cleanup, type: internal, contract: redesign

#12130 Add initial implementation of the bin/releaser script
  bin/releaser
  lib/decidim/releaser.rb
  spec/lib/decidim/releaser_spec.rb
Labels: type: internal

#9628 Improve polling station management
  decidim-elections/app/cells/decidim/votings/polling_station_closure_certificate/show.erb
  decidim-elections/app/cells/decidim/votings/polling_station_closure_recount/show.erb
  decidim-elections/app/commands/decidim/votings/certify_polling_station_closure.rb
  decidim-elections/app/commands/decidim/votings/create_polling_station_results.rb
  decidim-elections/app/commands/decidim/votings/destroy_polling_station_closure.rb
  decidim-elections/app/controllers/decidim/votings/polling_officer_zone/closures_controller.rb
  decidim-elections/app/controllers/decidim/votings/polling_officer_zone/in_person_votes_controller.rb
  decidim-elections/app/forms/decidim/votings/answer_result_form.rb
  decidim-elections/app/forms/decidim/votings/ballot_result_form.rb
  decidim-elections/app/forms/decidim/votings/closure_certify_form.rb
  decidim-elections/app/forms/decidim/votings/closure_result_form.rb
  decidim-elections/app/forms/decidim/votings/question_result_form.rb
  decidim-elections/app/packs/src/decidim/votings/polling_officer_zone/edit-closure.js
  decidim-elections/app/packs/src/decidim/votings/polling_officer_zone/new-closure.js
  decidim-elections/app/permissions/decidim/votings/admin/permissions.rb
  decidim-elections/app/permissions/decidim/votings/polling_officer_zone/permissions.rb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/_answer_results_form_fields.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/_ballot_results_form_fields.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/_certify_form.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/_modal_ballots_count_error.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/_modal_ballots_results_count_error.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/_question_results_form_fields.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/edit.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/new.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/closures/show.html.erb
  decidim-elections/app/views/decidim/votings/polling_officer_zone/polling_officers/_polling_station.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/votings/test/factories.rb
  decidim-elections/spec/commands/decidim/votings/create_polling_station_results_spec.rb
  decidim-elections/spec/commands/decidim/votings/destroy_polling_station_closure_spec.rb
  decidim-elections/spec/forms/decidim/votings/ballot_result_form_spec.rb
  decidim-elections/spec/forms/decidim/votings/closure_result_form_spec.rb
  decidim-elections/spec/forms/decidim/votings/question_result_form_spec.rb
  decidim-elections/spec/permissions/decidim/votings/admin/permissions_spec.rb
  decidim-elections/spec/permissions/decidim/votings/polling_officer_zone/permissions_spec.rb
  decidim-elections/spec/system/polling_officer_zone_spec.rb
  decidim-elections/spec/system/vote_in_person_spec.rb
Labels: contract: e-voting, module: elections, type: fix

#12144 Fix regression on password change for seeds
  decidim-core/lib/decidim/seeds.rb
Labels: type: internal

#12150 Fix missing icon error in production environment
  decidim-core/lib/decidim/icon_registry.rb
Labels: type: fix

#12159 Lock ChromeDriver to 119.0.6045.105
  .github/workflows/test_app.yml
Labels: type: fix

#12088 Restrict comments replies tree including polymorphism
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-core/lib/decidim/acts_as_tree.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: module: comments, type: fix

#12162 Backport 'Lock ChromeDriver to 119.0.6045.105' to v0.27
  .github/actions/module-rspec/action.yml
Labels: backport, type: fix

#12161 Backport 'Lock ChromeDriver to 119.0.6045.105' to v0.28
  .github/workflows/test_app.yml
Labels: backport, type: fix

#12165 Backport 'Restrict comments replies tree including polymorphism' to v0.28
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-core/lib/decidim/acts_as_tree.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: module: comments, backport, type: fix

#12166 Backport 'Change the buttons UI for removing answers in forms' to v0.28
  decidim-admin/app/packs/stylesheets/decidim/admin/_cards.scss
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_answer_option.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_display_condition.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_matrix_row.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_question.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/poll/_answer_option.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/poll/_question.html.erb
Labels: module: admin, backport, module: surveys, module: forms, type: fix, contract: redesign

#12164 Backport 'Bump stringio and carrierwave' to v0.28
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
Labels: backport, type: fix

#12158 Backport 'Fix missing icon error in production environment' to v0.28
  decidim-core/lib/decidim/icon_registry.rb
Labels: backport, type: fix

#12167 Backport 'Lock ChromeDriver to 119.0.6045.105' to v0.26
  .github/actions/module-rspec/action.yml
Labels: backport, type: fix

#12168 Fix documentation format in models.adoc
  docs/modules/develop/pages/classes/models.adoc
Labels: type: fix

#12063 Refactor of events specs
  decidim-core/lib/decidim/core/test/shared_examples/amendable/amendment_created_event_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/amendable/amendment_promoted_event_examples.rb
  decidim-initiatives/spec/events/decidim/initiatives/admin/support_threshold_reached_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/approve_membership_request_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/endorse_initiative_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/revoke_membership_request_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/spawn_committee_request_event_spec.rb
  decidim-meetings/spec/events/decidim/meetings/create_meeting_event_spec.rb
  decidim-participatory_processes/spec/events/decidim/participatory_process_role_assigned_event_spec.rb
  decidim-participatory_processes/spec/events/decidim/participatory_process_step_activated_event_spec.rb
  decidim-participatory_processes/spec/events/decidim/participatory_process_step_changed_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/accepted_proposal_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/admin/proposal_note_created_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/admin/update_proposal_category_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/admin/update_proposal_scope_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/collaborative_draft_access_accepted_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/collaborative_draft_access_rejected_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/collaborative_draft_access_requested_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/collaborative_draft_withdrawn_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/creation_enabled_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/endorsing_enabled_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/evaluating_proposal_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/publish_proposal_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/rejected_proposal_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/voting_enabled_event_spec.rb
  decidim-sortitions/spec/events/decidim/sortitions/create_sortition_event_spec.rb
  decidim-verifications/spec/events/decidim/verifications/managed_user_error_event_spec.rb
Labels: module: core, type: change

#12153 Add spec for not showing empty months in MeetingMonthCell
  decidim-meetings/spec/cells/decidim/meetings/meeting_month_cell_spec.rb
Labels: module: meetings, target: developer-experience

#11795 Remove code duplication in commands
  decidim-accountability/app/commands/decidim/accountability/admin/create_imported_result.rb
  decidim-accountability/app/commands/decidim/accountability/admin/create_result.rb
  decidim-accountability/app/commands/decidim/accountability/admin/create_status.rb
  decidim-accountability/app/commands/decidim/accountability/admin/create_timeline_entry.rb
  decidim-accountability/app/commands/decidim/accountability/admin/destroy_result.rb
  decidim-accountability/app/commands/decidim/accountability/admin/has_result_command.rb
  decidim-accountability/app/commands/decidim/accountability/admin/update_imported_result.rb
  decidim-accountability/app/commands/decidim/accountability/admin/update_result.rb
  decidim-accountability/app/commands/decidim/accountability/admin/update_status.rb
  decidim-accountability/app/commands/decidim/accountability/admin/update_timeline_entry.rb
  decidim-accountability/app/controllers/decidim/accountability/admin/results_controller.rb
  decidim-accountability/app/controllers/decidim/accountability/admin/statuses_controller.rb
  decidim-accountability/app/controllers/decidim/accountability/admin/timeline_entries_controller.rb
  decidim-accountability/app/services/decidim/accountability/results_csv_importer.rb
  decidim-accountability/spec/commands/admin/create_imported_result_spec.rb
  decidim-accountability/spec/commands/admin/create_result_spec.rb
  decidim-accountability/spec/commands/admin/create_status_spec.rb
  decidim-accountability/spec/commands/admin/create_timeline_entry_spec.rb
  decidim-accountability/spec/commands/admin/update_status_spec.rb
  decidim-accountability/spec/commands/admin/update_timeline_entry_spec.rb
  decidim-accountability/spec/decidim/commands/destroy_resource_spec.rb
  decidim-core/app/forms/decidim/form.rb
  decidim-core/lib/decidim/commands/create_resource.rb
  decidim-core/lib/decidim/commands/destroy_resource.rb
  decidim-core/lib/decidim/commands/hook_error.rb
  decidim-core/lib/decidim/commands/resource_handler.rb
  decidim-core/lib/decidim/commands/update_resource.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/lib/commands/create_resource_spec.rb
  decidim-core/spec/lib/commands/destroy_resource_spec.rb
  decidim-core/spec/lib/commands/update_resource_spec.rb
  docs/modules/develop/pages/classes/commands.adoc
Labels: module: budgets, module: accountability, module: assemblies, module: blogs, type: change, type: internal

#12133 Improve election dashboard with "Fix it" buttons and election configuration summary
  decidim-elections/app/controllers/decidim/elections/admin/elections_controller.rb
  decidim-elections/app/forms/decidim/elections/admin/setup_form.rb
  decidim-elections/app/helpers/decidim/elections/admin/steps_helper.rb
  decidim-elections/app/packs/entrypoints/decidim_elections_admin.js
  decidim-elections/app/packs/stylesheets/decidim/elections/admin/elections.scss
  decidim-elections/app/views/decidim/elections/admin/steps/_create_election.html.erb
  decidim-elections/app/views/decidim/elections/admin/steps/index.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/forms/decidim/elections/admin/setup_form_spec.rb
  decidim-elections/spec/helpers/decidim/elections/steps_helper_spec.rb
  decidim-elections/spec/system/admin/admin_manages_election_steps_spec.rb
Labels: type: feature, contract: e-voting, module: elections

#12172 Make the comments deleted and moderated less prominent
  decidim-comments/app/packs/stylesheets/comments.scss
Labels: module: comments, type: fix, contract: redesign

#12137 Improve trustees notifications
  decidim-elections/app/commands/decidim/elections/admin/start_tally.rb
  decidim-elections/app/events/decidim/elections/trustees/notify_trustee_tally_process_event.rb
  decidim-elections/app/views/decidim/elections/trustee_mailer/notification.html.erb
  decidim-elections/app/views/decidim/elections/trustee_zone/trustees/show.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/commands/decidim/elections/admin/start_tally_spec.rb
  decidim-elections/spec/events/decidim/elections/trustees/notify_new_trustee_event_spec.rb
  decidim-elections/spec/events/decidim/elections/trustees/notify_trustee_new_election_event_spec.rb
  decidim-elections/spec/events/decidim/elections/trustees/notify_trustee_tally_process_event_spec.rb
  decidim-elections/spec/system/trustee_zone_spec.rb
Labels: type: feature, contract: e-voting, module: elections

#12174 Backport 'Make the comments deleted and moderated less prominent' to v0.28
  decidim-comments/app/packs/stylesheets/comments.scss
Labels: module: comments, backport, type: fix, contract: redesign

#12152 Ensure that there is always a hybrid voting in the seeds
  decidim-elections/lib/decidim/votings/seeds.rb
Labels: target: developer-experience, module: elections

#12171 Fix styles in Announcements
  decidim-core/app/helpers/concerns/decidim/flash_helper_extensions.rb
  decidim-core/app/packs/stylesheets/decidim/_flash.scss
Labels: type: fix, contract: redesign

#12141 Redesign: HTML clean-up on forms and debates
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/lib/form_builder_spec.rb
  decidim-debates/app/views/decidim/debates/admin/debates/_form.html.erb
  decidim-debates/app/views/decidim/debates/admin/debates/index.html.erb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-forms/app/cells/decidim/forms/step_navigation/show.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_answer_option.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_display_condition.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_matrix_row.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_question.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_separator.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_title_and_description.html.erb
Labels: target:cleanup, type: internal, contract: redesign

#12176 Backport 'Fix documentation format in models.adoc' to v0.28
  docs/modules/develop/pages/classes/models.adoc
Labels: backport, type: fix

#12175 Backport 'Fix styles in Announcements' to v0.28
  decidim-core/app/helpers/concerns/decidim/flash_helper_extensions.rb
  decidim-core/app/packs/stylesheets/decidim/_flash.scss
Labels: backport, type: fix, contract: redesign

#12145 Move rubocop exclusions from configuration to files
  .rubocop.yml
  decidim-assemblies/spec/forms/assembly_form_spec.rb
  decidim-core/lib/decidim/component_manifest.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/participatory_space_manifest.rb
  decidim-dev/lib/decidim-dev.rb
  lib/decidim/git_backport_manager.rb
  lib/decidim/github_manager/poster.rb
Labels: type: internal

#11970 Remove code duplication in commands (part 2)
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assemblies_type.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly_member.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/destroy_assemblies_type.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/destroy_assembly_member.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assemblies_type.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assembly.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assembly_member.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assemblies_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assemblies_types_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_members_controller.rb
  decidim-assemblies/spec/commands/create_assemblies_type_spec.rb
  decidim-assemblies/spec/commands/create_assembly_member_spec.rb
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-assemblies/spec/commands/destroy_assembly_member_spec.rb
  decidim-assemblies/spec/commands/update_assemblies_type_spec.rb
  decidim-assemblies/spec/commands/update_assembly_spec.rb
  decidim-assemblies/spec/decidim/commands/destroy_resource_spec.rb
  decidim-blogs/app/commands/decidim/blogs/admin/create_post.rb
  decidim-blogs/app/commands/decidim/blogs/admin/update_post.rb
  decidim-blogs/app/controllers/decidim/blogs/admin/posts_controller.rb
  decidim-blogs/spec/commands/decidim/blogs/admin/create_post_spec.rb
  decidim-blogs/spec/commands/decidim/blogs/admin/update_post_spec.rb
Labels: type: internal

#12139 Redesign: HTML clean-up on meetings
  decidim-meetings/app/cells/decidim/meetings/meeting_url/show.erb
  decidim-meetings/app/packs/src/decidim/meetings/admin/meetings_form.js
  decidim-meetings/app/packs/src/decidim/meetings/meetings_form.js
  decidim-meetings/app/views/decidim/meetings/admin/agenda/_agenda_item.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/agenda/_agenda_item_child.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/agenda/_agenda_item_fields.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/invites/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_service.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/poll/_answer_option.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/poll/_question.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/registrations/edit.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_datetime.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_form.html.erb
Labels: target:cleanup, type: internal, contract: redesign

#11971 Remove code duplication in commands (part 3)
  decidim-budgets/app/commands/decidim/budgets/admin/create_budget.rb
  decidim-budgets/app/commands/decidim/budgets/admin/create_order_reminders.rb
  decidim-budgets/app/commands/decidim/budgets/admin/create_project.rb
  decidim-budgets/app/commands/decidim/budgets/admin/destroy_budget.rb
  decidim-budgets/app/commands/decidim/budgets/admin/destroy_project.rb
  decidim-budgets/app/commands/decidim/budgets/admin/update_budget.rb
  decidim-budgets/app/commands/decidim/budgets/admin/update_project.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/projects_controller.rb
  decidim-budgets/spec/commands/decidim/budgets/admin/create_budget_spec.rb
  decidim-budgets/spec/commands/decidim/budgets/admin/destroy_project_spec.rb
  decidim-budgets/spec/decidim/commands/destroy_resource_spec.rb
  decidim-debates/app/commands/decidim/debates/admin/close_debate.rb
  decidim-debates/app/commands/decidim/debates/admin/create_debate.rb
  decidim-debates/app/commands/decidim/debates/admin/update_debate.rb
  decidim-debates/app/commands/decidim/debates/create_debate.rb
  decidim-debates/app/commands/decidim/debates/update_debate.rb
  decidim-debates/app/controllers/decidim/debates/debates_controller.rb
  decidim-debates/spec/commands/decidim/debates/admin/create_debate_spec.rb
  decidim-debates/spec/commands/decidim/debates/update_debate_spec.rb
Labels: type: internal

#12156 Redesign: fix `layout-2col` height on Safari
  decidim-core/app/packs/stylesheets/decidim/_layout.scss
Labels: module: core, type: fix, contract: redesign

#12155 Redesign: fix grid in the partners section of the conferences
  decidim-conferences/app/packs/stylesheets/decidim/conferences/_conference.scss
Labels: module: conferences, type: fix, contract: redesign

#12180 Backport 'Redesign: fix `layout-2col` height on Safari' to v0.28
  decidim-core/app/packs/stylesheets/decidim/_layout.scss
Labels: module: core, backport, type: fix, contract: redesign

#12179 Backport 'Redesign: fix grid in the partners section of the conferences' to v0.28
  decidim-conferences/app/packs/stylesheets/decidim/conferences/_conference.scss
Labels: backport, module: conferences, type: fix, contract: redesign

#12065 Show message when there are no questions in survey
  decidim-forms/app/views/decidim/forms/questionnaires/show.html.erb
  decidim-forms/config/locales/en.yml
  decidim-forms/lib/decidim/forms/test/shared_examples/has_questionnaire.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
Labels: module: surveys, type: fix

#12146 Exclude participatory text example file from markdownlint
  .markdownlintignore
  decidim-dev/lib/decidim/dev/assets/participatory_text.md
  decidim-proposals/app/packs/documents/decidim/proposals/participatory_texts/participatory_text.md
  decidim-proposals/lib/decidim/proposals/markdown_to_proposals.rb
  decidim-proposals/spec/lib/decidim/proposals/markdown_to_proposals_spec.rb
Labels: module: proposals, type: internal

#12055 Do not show counters and filters when there isn't any election
  decidim-elections/app/controllers/decidim/elections/elections_controller.rb
  decidim-elections/app/views/decidim/elections/elections/_elections.html.erb
  decidim-elections/app/views/decidim/elections/elections/index.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/system/explore_elections_spec.rb
Labels: module: elections, type: fix

#12059 Refactor conference invites filters to use Filterable API
  decidim-admin/config/locales/en.yml
  decidim-conferences/app/controllers/concerns/decidim/conferences/admin/conferences_invites/filterable.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_invites_controller.rb
  decidim-conferences/app/views/decidim/conferences/admin/conference_invites/index.html.erb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/lib/decidim/conferences/test/factories.rb
  decidim-conferences/spec/controllers/admin/conferences_controller_spec.rb
  decidim-conferences/spec/system/admin/admin_filters_conference_invites_spec.rb
Labels: module: conferences, type: change

#12050 Backport 'Don't use a CTA for canceling a registration in a meeting' to v0.27
  decidim-meetings/app/cells/decidim/meetings/cancel_registration_meeting_button/show.erb
  decidim-meetings/app/cells/decidim/meetings/cancel_registration_meeting_button_cell.rb
  decidim-meetings/app/cells/decidim/meetings/join_meeting_button/show.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/shared/manage_invites_examples.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-meetings/spec/system/private_meetings_spec.rb
Labels: module: meetings, backport, type: fix

#12185 Fix i18n-tasks normalization in conferences
  decidim-conferences/config/locales/en.yml
Labels: module: conferences, type: fix

#12089 Fix selection of polls with two answers and single options questions
  decidim-meetings/app/packs/src/decidim/meetings/poll.component.js
  decidim-meetings/app/views/decidim/meetings/polls/answers/_multiple_option.html.erb
  decidim-meetings/app/views/decidim/meetings/polls/answers/_single_option.html.erb
  decidim-meetings/app/views/decidim/meetings/polls/questions/_published_question.html.erb
  decidim-meetings/lib/decidim/meetings/seeds.rb
  decidim-meetings/spec/system/live_meeting_answer_questions_spec.rb
Labels: module: meetings, type: fix

#12187 Bump to v0.28.0.rc5 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: type: internal

#12186 Remove duplicated chromedriver setting in v0.26
  .github/actions/module-rspec/action.yml
Labels: type: fix, release: v0.26

#12193 Fix details in CSS from redesign
  decidim-accountability/app/views/decidim/accountability/admin/results/index.html.erb
  decidim-admin/app/packs/stylesheets/decidim/admin/_cards.scss
  decidim-budgets/app/views/decidim/budgets/admin/projects/_project-tr.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/index.html.erb
  decidim-core/app/packs/stylesheets/decidim/_login.scss
  decidim-core/app/views/layouts/decidim/footer/_main_links.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/index.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
Labels: type: fix, contract: redesign

#12021 Remove `participatory_space_layout` helper method
  decidim-assemblies/app/controllers/decidim/assemblies/application_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/assemblies_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/assembly_members_controller.rb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/show.html.erb
  decidim-assemblies/app/views/decidim/assemblies/assembly_members/index.html.erb
  decidim-assemblies/app/views/layouts/decidim/assembly.html.erb
  decidim-conferences/app/controllers/decidim/conferences/application_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/conference_program_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/conference_speakers_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/conferences_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/media_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/registration_types_controller.rb
  decidim-conferences/app/views/decidim/conferences/conference_speakers/index.html.erb
  decidim-conferences/app/views/decidim/conferences/conferences/show.html.erb
  decidim-conferences/app/views/decidim/conferences/media/index.html.erb
  decidim-conferences/app/views/decidim/conferences/registration_types/index.html.erb
  decidim-conferences/app/views/layouts/decidim/conference.html.erb
  decidim-conferences/spec/controllers/conference_program_controller_spec.rb
  decidim-conferences/spec/controllers/conference_speakers_controller_spec.rb
  decidim-core/app/controllers/concerns/decidim/participatory_space_context.rb
  decidim-core/app/helpers/decidim/meta_tags_helper.rb
  decidim-core/config/locales/en.yml
  decidim-elections/app/controllers/decidim/votings/application_controller.rb
  decidim-elections/app/controllers/decidim/votings/votings_controller.rb
  decidim-elections/app/views/decidim/votings/votings/show.html.erb
  decidim-elections/app/views/layouts/decidim/votings.html.erb
  decidim-initiatives/app/controllers/decidim/initiatives/application_controller.rb
  decidim-initiatives/app/views/decidim/initiatives/committee_requests/new.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/application_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_processes_controller.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/all_metrics.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb
  decidim-participatory_processes/app/views/layouts/decidim/participatory_process.html.erb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: target:cleanup, type: internal, contract: redesign

#12207 Backport 'Fix selection of polls with two answers and single options questions' to v0.28
  decidim-meetings/app/packs/src/decidim/meetings/poll.component.js
  decidim-meetings/app/views/decidim/meetings/polls/answers/_multiple_option.html.erb
  decidim-meetings/app/views/decidim/meetings/polls/answers/_single_option.html.erb
  decidim-meetings/app/views/decidim/meetings/polls/questions/_published_question.html.erb
  decidim-meetings/lib/decidim/meetings/seeds.rb
  decidim-meetings/spec/system/live_meeting_answer_questions_spec.rb
Labels: module: meetings, backport, type: fix

#12208 Backport 'Fix details in CSS from redesign' to v0.28
  decidim-accountability/app/views/decidim/accountability/admin/results/index.html.erb
  decidim-admin/app/packs/stylesheets/decidim/admin/_cards.scss
  decidim-budgets/app/views/decidim/budgets/admin/projects/_project-tr.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/index.html.erb
  decidim-core/app/packs/stylesheets/decidim/_login.scss
  decidim-core/app/views/layouts/decidim/footer/_main_links.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/index.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
Labels: backport, type: fix, contract: redesign

#12214 Bump to v0.28.0 final version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: type: internal

#12215 Prepare v0.27.5 release
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-consultations/lib/decidim/consultations/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  decidim_app-design/Gemfile.lock
  decidim_app-design/package-lock.json
  decidim_app-design/packages/browserslist-config/package.json
  decidim_app-design/packages/core/package.json
  decidim_app-design/packages/dev/package.json
  decidim_app-design/packages/elections/package.json
  decidim_app-design/packages/eslint-config/package.json
  decidim_app-design/packages/stylelint-config/package.json
  decidim_app-design/packages/webpacker/package.json
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: type: internal

#12224 Lock axe-core-api to 4.7.0
  Gemfile.lock
  decidim-dev/decidim-dev.gemspec
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: type: internal, release: v0.26

#12225 Fix the markup for verifications
  decidim-verifications/app/views/decidim/verifications/id_documents/admin/pending_authorizations/index.html.erb
  decidim-verifications/app/views/decidim/verifications/postal_letter/admin/pending_authorizations/index.html.erb
Labels: type: fix, contract: redesign

#12205 Extract methods from budgets seeds
  decidim-budgets/lib/decidim/budgets/seeds.rb
Labels: module: budgets, target: developer-experience

#12228 Extract methods from core seeds
  decidim-core/lib/decidim/core/seeds.rb
Labels: target: developer-experience

#12230 Add "Processes groups" to filter in admin
  decidim-participatory_processes/app/controllers/concerns/decidim/participatory_processes/admin/filterable.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/index.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/spec/shared/manage_processes_examples.rb
Labels: module: participatory processes, type: fix

#12233 Fix Capybara deprecation warning
  decidim-proposals/spec/shared/manage_proposals_examples.rb
  decidim-proposals/spec/system/participatory_texts_spec.rb
Labels: target: developer-experience, type: internal

#12235 Lock Ruby to Decidim supported version
  decidim-accountability/decidim-accountability.gemspec
  decidim-admin/decidim-admin.gemspec
  decidim-api/decidim-api.gemspec
  decidim-assemblies/decidim-assemblies.gemspec
  decidim-blogs/decidim-blogs.gemspec
  decidim-budgets/decidim-budgets.gemspec
  decidim-comments/decidim-comments.gemspec
  decidim-conferences/decidim-conferences.gemspec
  decidim-core/decidim-core.gemspec
  decidim-debates/decidim-debates.gemspec
  decidim-design/decidim-design.gemspec
  decidim-dev/decidim-dev.gemspec
  decidim-elections/decidim-elections.gemspec
  decidim-forms/decidim-forms.gemspec
  decidim-generators/decidim-generators.gemspec
  decidim-generators/lib/decidim/generators/component_templates/decidim-component.gemspec.erb
  decidim-initiatives/decidim-initiatives.gemspec
  decidim-meetings/decidim-meetings.gemspec
  decidim-pages/decidim-pages.gemspec
  decidim-participatory_processes/decidim-participatory_processes.gemspec
  decidim-proposals/decidim-proposals.gemspec
  decidim-sortitions/decidim-sortitions.gemspec
  decidim-surveys/decidim-surveys.gemspec
  decidim-system/decidim-system.gemspec
  decidim-templates/decidim-templates.gemspec
  decidim-verifications/decidim-verifications.gemspec
  decidim.gemspec
Labels: type: fix

#12237 Add missing creation date on the proposals page
  decidim-core/app/cells/decidim/card_metadata_cell.rb
  decidim-core/app/cells/decidim/coauthorships_cell.rb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: module: proposals, module: core, type: fix

#12231 Add admin permissions for conflicts and logs controllers
  decidim-admin/app/controllers/decidim/admin/conflicts_controller.rb
  decidim-admin/app/controllers/decidim/admin/managed_users/impersonation_logs_controller.rb
  decidim-admin/spec/system/admin_manages_impersonations_spec.rb
Labels: module: admin, type: fix
