Repository decidim/decidim, pull requests merged in 2023-09, with the labels that each got.

#11552 Remove duplication from invites queries
  decidim-admin/app/queries/decidim/admin/invites.rb
  decidim-admin/spec/queries/invites_spec.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_invites_controller.rb
  decidim-conferences/app/queries/decidim/conferences/admin/conference_invites.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/invites_controller.rb
  decidim-meetings/app/queries/decidim/meetings/admin/invites.rb
Labels: module: meetings, module: admin, module: conferences, type: internal

#11559 Remove duplication for add questions specs examples
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaires/add_questions.rb
Labels: module: forms, type: removal

#11483 Fix Bootsnap configuration
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/app_templates/config/boot.rb.tt
Labels: module: generators, type: fix

#11564 Update Node.js from v16.13.0 to v18.17.1
  .github/workflows/brakeman.yml
  .github/workflows/build_app.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/lint_code.yml
  .gitpod.Dockerfile
  .node-version
  decidim-generators/lib/decidim/generators/app_templates/.node-version
  decidim-generators/lib/decidim/generators/component_templates/.node-version
  decidim-generators/lib/decidim/generators/component_templates/github/ci.yml.erb
  decidim_app-design/package-lock.json
  decidim_app-design/package.json
  docs/modules/install/pages/manual.adoc
  package-lock.json
  package.json
Labels: dependencies, type: change

#11548 Remove duplication from elections' user roles forms
  decidim-elections/app/controllers/decidim/votings/admin/monitoring_committee_members_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/polling_officers_controller.rb
  decidim-elections/app/forms/decidim/votings/admin/polling_officer_form.rb
  decidim-elections/app/forms/decidim/votings/admin/voting_user_role_form.rb
  decidim-elections/app/packs/entrypoints/decidim_votings_admin.js
  decidim-elections/app/packs/src/decidim/votings/admin/monitoring_committee_members_form.js
  decidim-elections/app/packs/src/decidim/votings/admin/voting_user_role_form.js
  decidim-elections/app/views/decidim/votings/admin/monitoring_committee_members/new.html.erb
  decidim-elections/app/views/decidim/votings/admin/polling_officers/new.html.erb
  decidim-elections/spec/forms/decidim/votings/admin/monitoring_committee_member_form_spec.rb
  decidim-elections/spec/forms/decidim/votings/admin/voting_user_role_form_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_monitoring_committee_spec.rb
  decidim-elections/spec/system/admin/admin_manages_voting_polling_officers_spec.rb
Labels: module: elections, type: internal

#11175 Fix the a11y tool icons with redesign
  decidim-dev/app/packs/src/decidim/dev/accessibility.js
  decidim-dev/spec/system/accessibility_tool_spec.rb
Labels: module: dev, type: fix, no-backport

#11549 Remove duplication from participatory spaces publications controllers
  decidim-admin/app/controllers/decidim/admin/space_publications_controller.rb
  decidim-admin/lib/decidim/admin/test.rb
  decidim-admin/lib/decidim/admin/test/manage_participatory_space_publications_examples.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_publications_controller.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_publication_spec.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_publications_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/conferences_controller.rb
  decidim-conferences/spec/system/admin/admin_manages_conferences_publication_spec.rb
  decidim-elections/app/controllers/decidim/votings/admin/voting_publications_controller.rb
  decidim-elections/app/controllers/decidim/votings/admin/votings_controller.rb
  decidim-elections/app/views/decidim/votings/admin/votings/edit.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-elections/spec/system/admin/admin_manages_voting_publication_spec.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_publications_controller.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_publication_spec.rb
Labels: module: admin, module: elections, module: assemblies, module: participatory processes, module: conferences, type: internal

#11388 Remove password confirmation field
  decidim-admin/spec/shared/manage_impersonations_examples.rb
  decidim-admin/spec/system/admin_invite_spec.rb
  decidim-admin/spec/system/admin_passwords_spec.rb
  decidim-assemblies/lib/decidim/assemblies/participatory_space.rb
  decidim-conferences/lib/decidim/conferences/participatory_space.rb
  decidim-core/app/commands/decidim/create_omniauth_registration.rb
  decidim-core/app/commands/decidim/create_registration.rb
  decidim-core/app/commands/decidim/update_account.rb
  decidim-core/app/commands/decidim/update_password.rb
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/app/forms/decidim/password_form.rb
  decidim-core/app/forms/decidim/registration_form.rb
  decidim-core/app/helpers/decidim/passwords_helper.rb
  decidim-core/app/packs/src/decidim/password_toggler.js
  decidim-core/app/packs/src/decidim/user_registrations.js
  decidim-core/app/views/decidim/account/_password_fields.html.erb
  decidim-core/app/views/decidim/account/show.html.erb
  decidim-core/app/views/decidim/devise/invitations/edit.html.erb
  decidim-core/app/views/decidim/devise/passwords/edit.html.erb
  decidim-core/app/views/decidim/devise/registrations/new.html.erb
  decidim-core/app/views/decidim/devise/sessions/new.html.erb
  decidim-core/app/views/decidim/shared/_login_modal.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/db/seeds.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/lib/devise/models/decidim_validatable.rb
  decidim-core/spec/commands/decidim/create_registration_spec.rb
  decidim-core/spec/commands/decidim/update_account_spec.rb
  decidim-core/spec/commands/decidim/update_password_spec.rb
  decidim-core/spec/controllers/decidim/devise/invitations_controller_spec.rb
  decidim-core/spec/controllers/registrations_controller_spec.rb
  decidim-core/spec/controllers/sessions_controller_spec.rb
  decidim-core/spec/forms/account_form_spec.rb
  decidim-core/spec/forms/decidim/password_form_spec.rb
  decidim-core/spec/forms/registration_form_spec.rb
  decidim-core/spec/lib/form_builder_spec.rb
  decidim-core/spec/system/account_spec.rb
  decidim-core/spec/system/admin_passwords_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/registration_spec.rb
  decidim-core/spec/system/user_passwords_spec.rb
  decidim-elections/lib/decidim/votings/participatory_space.rb
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/spec/shared/manage_invites_examples.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/participatory_space.rb
  decidim-participatory_processes/spec/system/admin/invite_process_admin_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_collaborator_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_moderator_spec.rb
  decidim-proposals/lib/decidim/proposals/component.rb
Labels: target: user-experience, module: core, type: change

#11524 Redesign: special markup for single step
  decidim-core/app/packs/stylesheets/decidim/_redesigned_participatory_spaces.scss
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_step/show.erb
Labels: contract: redesign

#11504 Redesign: focus guard
  decidim-core/app/packs/src/decidim/focus_guard.js
  decidim-core/app/packs/src/decidim/redesigned_a11y.js
  decidim-core/app/packs/src/decidim/redesigned_index.js
Labels: contract: redesign

#11554 Redesign: fix behavior with the send to technical validation button
  decidim-core/app/packs/stylesheets/decidim/_redesigned_buttons.scss
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_send_to_technical_validation.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/models/decidim/initiative_spec.rb
  decidim-initiatives/spec/system/initiative_spec.rb
Labels: module: initiatives, type: fix, contract: redesign, no-backport

#11495 Update the Twitter icons and brand name to X
  RELEASE_NOTES.md
  decidim-admin/app/packs/stylesheets/decidim/admin/_variables.scss
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-assemblies/config/locales/en.yml
  decidim-conferences/app/cells/decidim/conferences/conference_speaker/show.erb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/lib/decidim/api/conference_speaker_type.rb
  decidim-core/app/cells/decidim/participatory_space_dropdown_metadata/metadata.erb
  decidim-core/app/helpers/decidim/omniauth_helper.rb
  decidim-core/app/packs/images/decidim/icons.svg
  decidim-core/app/packs/images/decidim/vendor/social-share-button/x.svg
  decidim-core/app/packs/stylesheets/decidim/_variables.scss
  decidim-core/app/packs/stylesheets/decidim/vendor/_social_share_button.scss
  decidim-core/app/views/layouts/decidim/_social_media_links.html.erb
  decidim-core/app/views/layouts/decidim/footer/_main_social_media_links.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/helpers/decidim/social_share_button_helper_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/social_share_button_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/main_data_cell.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_dropdown_metadata/metadata.erb
  docs/modules/configure/pages/environment_variables.adoc
  docs/modules/configure/pages/initializer.adoc
  docs/modules/customize/pages/social_shares.adoc
Labels: module: core, module: admin, module: assemblies, module: generators, module: participatory processes, module: conferences, type: fix

#11574 Add title in arrows while navigating meetings
  decidim-core/app/views/layouts/decidim/shared/_layout_item.html.erb
  decidim-core/config/locales/en.yml
Labels: module: meetings, type: fix, contract: redesign, no-backport

#11578 Remove duplication for ParticipatorySpace User examples
  decidim-admin/lib/decidim/admin/test/filters_participatory_space_user_roles_examples.rb
  decidim-admin/lib/decidim/admin/test/filters_participatory_space_users_examples.rb
Labels: module: admin, target:cleanup, type: removal

#11558 Fix flaky spec for mobile version of the search form
  decidim-core/app/packs/stylesheets/decidim/_redesigned_cookies.scss
Labels: flaky spec, type: internal

#10383 Enable identical and similar code statements in CodeClimate configuration
  .codeclimate.yml
Labels: type: internal

#11510 Generate the nickname automatically on registration
  decidim-core/app/forms/decidim/registration_form.rb
  decidim-core/app/views/decidim/devise/confirmations/new.html.erb
  decidim-core/app/views/decidim/devise/omniauth_registrations/new.html.erb
  decidim-core/app/views/decidim/devise/passwords/new.html.erb
  decidim-core/app/views/decidim/devise/registrations/new.html.erb
  decidim-core/app/views/decidim/devise/sessions/new.html.erb
  decidim-core/app/views/decidim/devise/unlocks/new.html.erb
  decidim-core/app/views/decidim/shared/_login_modal.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  decidim-core/spec/commands/decidim/invite_user_spec.rb
  decidim-core/spec/commands/decidim/update_account_spec.rb
  decidim-core/spec/controllers/omniauth_registrations_controller_spec.rb
  decidim-core/spec/controllers/registrations_controller_spec.rb
  decidim-core/spec/forms/registration_form_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/registration_spec.rb
  decidim-elections/spec/forms/decidim/votings/admin/voting_user_role_form_spec.rb
Labels: target: user-experience, module: core, type: change

#11560 Redesign: fix footer visibility on mobile/tablets with menu
  decidim-core/app/packs/stylesheets/decidim/_redesigned_footer.scss
Labels: type: fix, contract: redesign, no-backport

#11337 Fix bug with sanitize_branch method on `bin/backports` script
  lib/decidim/git_backport_manager.rb
  spec/lib/decidim/git_backport_manager_spec.rb
Labels: type: internal

#11561 Log in users automatically after confirmation
  decidim-core/app/controllers/decidim/devise/confirmations_controller.rb
  decidim-core/spec/system/authentication_spec.rb
Labels: module: core, type: feature

#11460 Change "Sign-in" titles to "Log-in"
  decidim-admin/app/views/layouts/decidim/admin/_admin_timeout_modal.html.erb
  decidim-admin/app/views/layouts/decidim/admin/_title_bar.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/system/admin_passwords_spec.rb
  decidim-budgets/spec/system/orders_spec.rb
  decidim-comments/config/locales/en.yml
  decidim-comments/spec/cells/decidim/comments/comments_cell_spec.rb
  decidim-conferences/config/locales/en.yml
  decidim-core/app/cells/decidim/follow_button/show.erb
  decidim-core/app/views/decidim/devise/registrations/new.html.erb
  decidim-core/app/views/decidim/devise/sessions/new.html.erb
  decidim-core/app/views/decidim/devise/shared/_links.html.erb
  decidim-core/app/views/decidim/devise/shared/_login_boxes.html.erb
  decidim-core/app/views/decidim/devise/shared/_omniauth_buttons.html.erb
  decidim-core/app/views/decidim/devise/shared/_omniauth_buttons_mini.html.erb
  decidim-core/app/views/decidim/shared/_login_modal.html.erb
  decidim-core/app/views/layouts/decidim/_timeout_modal.html.erb
  decidim-core/app/views/layouts/decidim/_user_menu.html.erb
  decidim-core/app/views/layouts/decidim/footer/_main_links.html.erb
  decidim-core/app/views/layouts/decidim/header/_main_links_desktop.html.erb
  decidim-core/app/views/layouts/decidim/header/_main_links_dropdown.html.erb
  decidim-core/app/views/layouts/decidim/header/_main_links_mobile.html.erb
  decidim-core/config/locales/ca.yml
  decidim-core/config/locales/en.yml
  decidim-core/spec/system/account_spec.rb
  decidim-core/spec/system/admin_passwords_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/locales_spec.rb
  decidim-core/spec/system/registration_spec.rb
  decidim-core/spec/system/user_passwords_spec.rb
  decidim-forms/config/locales/en.yml
  decidim-initiatives/spec/system/committee_request_spec.rb
  decidim-initiatives/spec/system/create_initiative_spec.rb
  decidim-verifications/spec/system/authorizations_spec.rb
Labels: module: core, type: change

#11587 Fix spec related to the change of 'Log in'/'Log out'
  decidim-core/spec/system/authentication_spec.rb
Labels: type: internal, no-backport

#11520 Redesign: filters help
  config/i18n-tasks.yml
  decidim-assemblies/app/views/decidim/assemblies/assemblies/index.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/index.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/index.js.erb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_filters.scss
  decidim-core/app/views/decidim/shared/_filter_form_help.erb
  decidim-core/app/views/decidim/shared/_filters.html.erb
  decidim-debates/app/views/decidim/debates/debates/index.html.erb
  decidim-debates/app/views/decidim/debates/debates/index.js.erb
  decidim-elections/app/views/decidim/elections/elections/index.html.erb
  decidim-elections/app/views/decidim/votings/votings/index.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/index.html.erb
  decidim-meetings/app/views/decidim/meetings/shared/_filters.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/index.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/index.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/index.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_filters.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/index.html.erb
  decidim-sortitions/config/locales/en.yml
Labels: contract: redesign

#11565 Fix JS exception on Votings admin
  decidim-elections/app/packs/src/decidim/votings/admin/polling_stations_form.js
Labels: module: elections, type: fix, no-backport

#11517 Redesign: list counters
  decidim-blogs/app/views/decidim/blogs/posts/index.html.erb
  decidim-blogs/config/locales/en.yml
  decidim-budgets/app/cells/decidim/budgets/budgets_list/main_list.erb
  decidim-budgets/config/locales/en.yml
  decidim-meetings/app/views/decidim/meetings/shared/_meetings.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_collaborative_drafts.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposals.html.erb
  decidim-proposals/config/locales/en.yml
Labels: contract: redesign

#11473 Use left outer join instead of include in `with_any_category` scope
  decidim-core/lib/decidim/has_category.rb
  decidim-proposals/spec/system/filter_proposals_spec.rb
Labels: module: core, type: fix

#11599 Redesign: make the flash alerts consistent (always above the navbar)
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
Labels: type: fix, contract: redesign, no-backport

#11591 Redesign: fix spacing in Devise forms
  decidim-core/app/packs/stylesheets/decidim/_redesigned_layout.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_login.scss
  decidim-core/app/views/decidim/devise/registrations/new.html.erb
  decidim-core/app/views/decidim/devise/sessions/new.html.erb
Labels: module: core, type: fix, contract: redesign, no-backport

#11610 Hide notifications' "Mark all as read" button after click
  decidim-core/app/packs/src/decidim/notifications.js
  decidim-core/spec/system/notifications_spec.rb
Labels: module: core, type: fix, contract: redesign, no-backport

#11592 Redesign: differentiate titles and links in the footer
  decidim-core/app/views/layouts/decidim/footer/_main_links.html.erb
Labels: type: fix, contract: redesign, no-backport

#11566 Add spec for fixed empty pagination on Activities' moderated resources
  decidim-core/spec/system/last_activity_spec.rb
Labels: module: core, type: internal

#11619 Backport 'Revert "Lock ChromeDriver to the latest working version"' to 0.27
  .github/actions/module-rspec/action.yml
Labels: target: developer-experience, backport, type: fix, type: internal

#11620 Backport 'Revert "Lock ChromeDriver to the latest working version"' to 0.26
  .github/actions/module-rspec/action.yml
Labels: target: developer-experience, backport, type: fix, type: internal

#11622 Refactor: inline method `Decidim::Admin.enable_templates`
  decidim-admin/app/controllers/decidim/admin/application_controller.rb
  decidim-admin/lib/decidim/admin.rb
Labels: module: admin, module: templates, type: internal

#11615 Replace Decidim mentions in UI with 'the platform' (part II)
  decidim-core/app/cells/decidim/data_consent/dialog.erb
  decidim-core/app/cells/decidim/data_consent/modal.erb
  decidim-core/app/packs/images/decidim/decidim-symbol.svg
  decidim-core/config/locales/en.yml
  decidim-elections/app/views/decidim/elections/trustee_zone/elections/_backup_modal.html.erb
  decidim-elections/app/views/decidim/elections/trustee_zone/elections/_restore_modal.html.erb
  decidim-system/config/locales/en.yml
Labels: type: fix, contract: redesign, no-backport

#11611 Add 127.0.0.1 and 0.0.0.0 as secondary hosts in the Organization's seeds
  decidim-core/db/seeds.rb
Labels: target: developer-experience, type: fix

#11618 Raise an error if the export format is unknown
  decidim-core/lib/decidim/exporters.rb
  decidim-core/spec/lib/exporters_spec.rb
Labels: module: core, type: fix

#11557 Redesign: fix height of grid elements
  decidim-core/app/packs/stylesheets/decidim/_redesigned_layout.scss
  decidim-core/app/packs/stylesheets/decidim/_redesigned_participatory_spaces.scss
Labels: module: core, type: fix, contract: redesign, no-backport

#11555 Extraction of i18n strings in system panel
  decidim-system/app/views/decidim/system/admins/show.html.erb
  decidim-system/app/views/decidim/system/devise/passwords/edit.html.erb
  decidim-system/app/views/decidim/system/devise/passwords/new.html.erb
  decidim-system/app/views/decidim/system/devise/sessions/new.html.erb
  decidim-system/app/views/decidim/system/devise/shared/_links.html.erb
  decidim-system/app/views/decidim/system/organizations/new.html.erb
  decidim-system/app/views/layouts/decidim/system/_login_items.html.erb
  decidim-system/app/views/layouts/decidim/system/login.html.erb
  decidim-system/config/locales/en.yml
Labels: module: system, target:cleanup, type: fix

#11577 Fix print initiatives show
  decidim-initiatives/app/packs/stylesheets/decidim/initiatives/print-initiative.scss
  decidim-initiatives/app/views/decidim/initiatives/initiatives/print.html.erb
Labels: contract: redesign

#11644 Redesign: fix post-merged specs
  decidim-core/app/packs/stylesheets/decidim/_redesigned_forms.scss
  decidim-core/spec/presenters/decidim/log/base_presenter_spec.rb
  decidim-core/spec/presenters/decidim/log/diff_presenter_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/confirmation_helpers.rb
  decidim-system/spec/system/manage_admins_spec.rb
  decidim-system/spec/system/manage_oauth_applications_spec.rb
Labels: contract: redesign

#11639 Don't show calendar with empty month in meetings' Content Block
  decidim-meetings/app/cells/decidim/meetings/meeting_month_cell.rb
  decidim-meetings/spec/cells/decidim/meetings/content_blocks/highlighted_meetings_cell_spec.rb
Labels: module: meetings, type: fix

#11631 Use UTC in the serializers for the date fields
  decidim-elections/lib/decidim/votings/voting_serializer.rb
  decidim-forms/lib/decidim/forms/user_answers_serializer.rb
  decidim-forms/spec/serializers/decidim/forms/user_answers_serializer_spec.rb
  decidim-meetings/lib/decidim/meetings/meeting_serializer.rb
  decidim-meetings/lib/decidim/meetings/user_answers_serializer.rb
  decidim-meetings/spec/lib/decidim/meetings/meeting_serializer_spec.rb
Labels: module: meetings, module: elections, module: forms, type: fix

#11623 Don't show map with only online meetings in Content Block
  decidim-meetings/app/cells/decidim/meetings/highlighted_meetings_for_component_cell.rb
  decidim-meetings/spec/cells/decidim/meetings/content_blocks/highlighted_meetings_cell_spec.rb
Labels: module: meetings, type: fix

#11638 Do not display accessibility in initiative print
  decidim-initiatives/app/packs/stylesheets/decidim/initiatives/print-initiative.scss
Labels: module: initiatives, type: internal, contract: redesign

#11612 Fix issues with the file uploader input display
  decidim-core/app/cells/decidim/upload_modal_cell.rb
  decidim-core/app/packs/src/decidim/direct_uploads/redesigned_upload_modal.js
  decidim-core/app/packs/src/decidim/direct_uploads/upload_modal.js
  decidim-core/app/packs/src/decidim/utilities/text.js
  decidim-core/spec/cells/decidim/upload_modal_cell_spec.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
Labels: module: core, type: fix

#11643 Fix admin redesign in pages module
  decidim-pages/app/views/decidim/pages/admin/pages/_form.html.erb
  decidim-pages/app/views/decidim/pages/admin/pages/edit.html.erb
Labels: module: pages, type: fix, contract: redesign, no-backport

#11642 Fix admin redesign in blogs module
  decidim-blogs/app/views/decidim/blogs/admin/posts/_form.html.erb
  decidim-blogs/app/views/decidim/blogs/admin/posts/edit.html.erb
  decidim-blogs/app/views/decidim/blogs/admin/posts/new.html.erb
Labels: module: blogs, type: fix, contract: redesign

#11640 Fix admin redesign in accountability module
  decidim-accountability/app/views/decidim/accountability/admin/projects_import/new.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/results/_form.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/results/edit.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/results/new.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/statuses/_form.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/statuses/edit.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/statuses/new.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/timeline_entries/_form.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/timeline_entries/edit.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/timeline_entries/index.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/timeline_entries/new.html.erb
  decidim-admin/app/packs/stylesheets/decidim/admin/_redesigned_item_show.scss
Labels: module: accountability, type: fix, contract: redesign

#11539 Fix empty address in conference's venues
  decidim-conferences/spec/system/conferences_spec.rb
  decidim-meetings/app/views/decidim/participatory_spaces/_conference_venues.html.erb
Labels: module: meetings, module: conferences, type: fix

#11576 Add follow button to the participatory spaces menu bar
  decidim-assemblies/app/views/layouts/decidim/assembly.html.erb
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-budgets/spec/system/follow_projects_spec.rb
  decidim-conferences/app/views/layouts/decidim/conference.html.erb
  decidim-conferences/spec/system/conferences_spec.rb
  decidim-core/app/cells/decidim/follow_button/show.erb
  decidim-core/app/cells/decidim/follow_button_cell.rb
  decidim-core/app/controllers/decidim/follows_controller.rb
  decidim-core/app/packs/stylesheets/decidim/_redesigned_header.scss
  decidim-core/app/views/decidim/follows/update_button.js.erb
  decidim-core/app/views/layouts/decidim/header/_follow_space_menu_bar_button.html.erb
  decidim-core/app/views/layouts/decidim/header/_menu_breadcrumb_mobile_tablet.html.erb
  decidim-core/lib/decidim/core/test/shared_examples/follows_examples.rb
  decidim-debates/spec/system/follow_debate_spec.rb
  decidim-elections/app/views/layouts/decidim/votings.html.erb
  decidim-elections/spec/system/voting_spec.rb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-initiatives/app/views/layouts/decidim/initiative_head.html.erb
  decidim-initiatives/spec/system/initiative_spec.rb
  decidim-meetings/spec/system/follow_meetings_spec.rb
  decidim-participatory_processes/app/views/layouts/decidim/participatory_process.html.erb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
  decidim-proposals/spec/system/follow_proposals_spec.rb
Labels: contract: redesign

#11628 Redesign: replace proposal picker with tom-select
  decidim-accountability/app/controllers/decidim/accountability/admin/results_controller.rb
  decidim-accountability/app/views/decidim/accountability/admin/results/_form.html.erb
  decidim-accountability/app/views/decidim/accountability/admin/results/proposals_picker.html.erb
  decidim-accountability/spec/controllers/decidim/accountability/admin/results_controller_spec.rb
  decidim-accountability/spec/shared/manage_results_examples.rb
  decidim-accountability/spec/system/admin/admin_manages_accountability_spec.rb
  decidim-budgets/app/controllers/decidim/budgets/admin/projects_controller.rb
  decidim-budgets/app/views/decidim/budgets/admin/projects/_form.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/proposals_picker.html.erb
  decidim-budgets/spec/controllers/decidim/budgets/admin/projects_controller_spec.rb
  decidim-budgets/spec/shared/manage_projects_examples.rb
  decidim-budgets/spec/system/admin_manages_projects_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/tom_select.rb
  decidim-elections/app/controllers/decidim/elections/admin/answers_controller.rb
  decidim-elections/app/views/decidim/elections/admin/answers/_form.html.erb
  decidim-elections/app/views/decidim/elections/admin/answers/proposals_picker.html.erb
  decidim-meetings/app/controllers/decidim/meetings/admin/meeting_closes_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/meeting_closes_controller.rb
  decidim-meetings/app/packs/src/decidim/meetings/meetings_form.js
  decidim-meetings/app/views/decidim/meetings/admin/meeting_closes/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meeting_closes/proposals_picker.html.erb
  decidim-meetings/app/views/decidim/meetings/meeting_closes/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/meeting_closes/proposals_picker.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_form.html.erb
  decidim-meetings/spec/controllers/decidim/meetings/admin/meeting_closes_controller_spec.rb
  decidim-meetings/spec/controllers/decidim/meetings/meeting_closes_controller_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_other_features_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
  decidim-meetings/spec/system/user_close_meeting_spec.rb
  decidim-proposals/app/cells/decidim/proposals/proposals_picker/proposals.erb
  decidim-proposals/app/cells/decidim/proposals/proposals_picker/show.erb
  decidim-proposals/app/cells/decidim/proposals/proposals_picker_cell.rb
  decidim-proposals/app/controllers/concerns/decidim/proposals/admin/picker.rb
  decidim-proposals/app/helpers/decidim/proposals/admin/proposals_picker_helper.rb
  decidim-proposals/app/packs/entrypoints/decidim_proposals.js
  decidim-proposals/app/packs/entrypoints/decidim_proposals_admin.js
  decidim-proposals/app/packs/src/decidim/proposals/admin/proposals_picker.js
  decidim-proposals/app/packs/src/decidim/proposals/choose_proposals.js
  decidim-proposals/app/packs/stylesheets/decidim/proposals/redesigned_proposals.scss
  decidim-proposals/app/views/decidim/proposals/proposals/_proposals_picker.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/test/capybara_proposals_picker.rb
Labels: contract: redesign

#11652 Add form in accountability's import results controller
  decidim-accountability/app/controllers/decidim/accountability/admin/import_results_controller.rb
  decidim-accountability/app/forms/decidim/accountability/admin/import_results_form.rb
  decidim-accountability/app/views/decidim/accountability/admin/import_results/new.html.erb
  decidim-accountability/config/locales/en.yml
Labels: module: accountability, type: fix, no-backport

#11660 Redesign: fix participatory process admin form
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/_form.html.erb
Labels: module: participatory processes, type: fix, contract: redesign, no-backport

#11672 Spelling of i18n value in participatory texts
  decidim-proposals/config/locales/en.yml
Labels: type: bug, module: proposals

#11550 Redesign: remove images from documents section when removing them from modal
  decidim-core/app/packs/src/decidim/direct_uploads/redesigned_upload_field.js
  decidim-core/app/packs/src/decidim/direct_uploads/redesigned_upload_modal.js
  decidim-core/lib/decidim/content_security_policy.rb
  decidim-core/spec/controllers/concerns/content_security_policy_spec.rb
  decidim-core/spec/lib/content_security_policy_spec.rb
Labels: module: core, type: fix, contract: redesign, no-backport

#11585 Redesign: design guide
  decidim-dev/app/controllers/decidim/design/components/cards_controller.rb
  decidim-dev/app/controllers/decidim/design/components/forms_controller.rb
  decidim-dev/app/controllers/decidim/design/components/spacing_controller.rb
  decidim-dev/app/controllers/decidim/design/home_controller.rb
  decidim-dev/app/views/decidim/design/_layout.html.erb
  decidim-dev/app/views/decidim/design/components/cards/index.html.erb
  decidim-dev/app/views/decidim/design/components/forms/index.html.erb
  decidim-dev/app/views/decidim/design/components/spacing/index.html.erb
  decidim-dev/app/views/decidim/design/home/index.html.erb
  decidim-dev/lib/decidim/dev/engine.rb
Labels: contract: redesign

#11665 Redesign: use the redesigned flash messages on admin
  decidim-accountability/spec/shared/export_results_examples.rb
  decidim-admin/app/packs/stylesheets/decidim/admin/_redesigned_layout.scss
  decidim-admin/app/views/decidim/admin/shared/_js-callout.html.erb
  decidim-admin/app/views/layouts/decidim/admin/_application.html.erb
  decidim-admin/app/views/layouts/decidim/admin/_callouts_full.html.erb
  decidim-admin/spec/system/admin_invite_spec.rb
  decidim-admin/spec/system/admin_manages_help_sections_spec.rb
  decidim-admin/spec/system/admin_passwords_spec.rb
  decidim-budgets/spec/system/admin_manages_budgets_spec.rb
  decidim-budgets/spec/system/admin_manages_projects_spec.rb
  decidim-debates/spec/shared/export_debate_comments_examples.rb
  decidim-debates/spec/shared/manage_debates_examples.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/helpers.rb
  decidim-elections/spec/system/admin/admin_manages_answers_spec.rb
  decidim-elections/spec/system/admin/admin_manages_elections_spec.rb
  decidim-elections/spec/system/admin/admin_manages_questions_spec.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiative_components_spec.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiatives_types_scopes_spec.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiatives_types_spec.rb
  decidim-initiatives/spec/system/admin/answer_initiative_spec.rb
  decidim-initiatives/spec/system/admin/update_initiative_spec.rb
  decidim-meetings/spec/shared/export_meetings_examples.rb
  decidim-proposals/spec/shared/export_proposals_examples.rb
  decidim-surveys/spec/shared/export_survey_user_answers_examples.rb
  decidim-surveys/spec/system/admin_manages_surveys_spec.rb
Labels: module: admin, type: fix, contract: redesign, no-backport

#11654 Redesign: add admin sidebar
  decidim-admin/app/helpers/decidim/admin/menu_helper.rb
  decidim-admin/app/packs/stylesheets/decidim/admin/_redesigned_secondary-nav.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/_redesigned_settings-menu.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/_redesigned_sidebar-menu.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/redesigned_application.scss
  decidim-admin/app/views/layouts/decidim/admin/_application.html.erb
  decidim-admin/app/views/layouts/decidim/admin/_sidebar_menu.html.erb
  decidim-admin/app/views/layouts/decidim/admin/global_moderations.html.erb
  decidim-admin/app/views/layouts/decidim/admin/settings.html.erb
  decidim-admin/app/views/layouts/decidim/admin/users.html.erb
  decidim-admin/spec/system/admin_manages_impersonatable_users_list_spec.rb
  decidim-admin/spec/system/participatory_space_private_user_import_via_csv_spec.rb
  decidim-assemblies/app/views/layouts/decidim/admin/assembly.html.erb
  decidim-assemblies/app/views/layouts/decidim/admin/assembly_members.html.erb
  decidim-assemblies/lib/decidim/assemblies/admin_engine.rb
  decidim-conferences/app/views/layouts/decidim/admin/conference.html.erb
  decidim-conferences/lib/decidim/conferences/admin_engine.rb
  decidim-conferences/spec/shared/copy_conferences_examples.rb
  decidim-conferences/spec/shared/manage_conference_categories_examples.rb
  decidim-conferences/spec/shared/manage_diplomas_examples.rb
  decidim-conferences/spec/shared/manage_partners_examples.rb
  decidim-conferences/spec/shared/manage_registration_types_examples.rb
  decidim-conferences/spec/system/admin/admin_manages_conference_attachments_spec.rb
  decidim-core/lib/decidim/menu.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/helpers.rb
  decidim-elections/app/views/layouts/decidim/admin/voting.html.erb
  decidim-elections/lib/decidim/votings/admin_engine.rb
  decidim-initiatives/app/views/layouts/decidim/admin/initiative.html.erb
  decidim-initiatives/lib/decidim/initiatives/admin_engine.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/show.html.erb
  decidim-participatory_processes/app/views/layouts/decidim/admin/participatory_process.html.erb
  decidim-participatory_processes/app/views/layouts/decidim/admin/participatory_process_group.html.erb
  decidim-participatory_processes/lib/decidim/participatory_processes/admin_engine.rb
  decidim-participatory_processes/spec/system/admin/admin_copy_participatory_process_spec.rb
  decidim-sortitions/spec/system/decidim/sortitions/admin/admin_manages_sortitions_spec.rb
  decidim-templates/app/views/layouts/decidim/admin/templates.html.erb
Labels: module: admin, module: elections, module: participatory processes, module: conferences, module: initiatives, type: change, contract: redesign, no-backport

#11680 Fix missing attachments in initiatives
  decidim-initiatives/app/commands/decidim/initiatives/create_initiative.rb
  decidim-initiatives/app/commands/decidim/initiatives/update_initiative.rb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/fill_data.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_form.html.erb
  decidim-initiatives/spec/system/create_initiative_spec.rb
  decidim-initiatives/spec/system/edit_initiative_spec.rb
Labels: module: initiatives, type: fix, no-backport

#11670 Fix title for Spaces in edit admin page
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/edit.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/shared/manage_assemblies_examples.rb
  decidim-conferences/app/views/decidim/conferences/admin/conferences/edit.html.erb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/spec/shared/manage_conferences_examples.rb
  decidim-elections/app/views/decidim/votings/admin/votings/edit.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/spec/system/admin/admin_manages_votings_spec.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/edit.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/edit.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/show.html.erb
Labels: module: admin, module: elections, module: participatory processes, module: conferences, module: initiatives, type: fix, contract: redesign, no-backport

#11687 Scroll down to show dropdown menu
  decidim-conferences/app/views/decidim/conferences/conferences/show.html.erb
  decidim-core/app/cells/decidim/nav_links/show.erb
  decidim-core/app/packs/src/decidim/dropdown_scrollable.js
  decidim-core/app/packs/src/decidim/redesigned_index.js
Labels: module: core, module: conferences, type: fix, contract: redesign, no-backport
