Repository decidim/decidim, pull requests merged in 2024-07, with the labels that each got.

#13047 Label changes on Save button in Modals
  decidim-core/app/cells/decidim/upload_modal/modal.erb
  decidim-core/config/locales/en.yml
  decidim-dev/lib/decidim/dev/test/rspec_support/dynamic_attach.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_groups_spec.rb
  decidim-proposals/spec/system/admin/admin_edits_proposal_spec.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
  decidim-verifications/spec/system/id_documents/id_document_online_upload_spec.rb
Labels: module: proposals, module: core, module: admin, module: verifications, module: dev, module: participatory processes, type: fix

#13068 Enable admin's system tests
  .github/workflows/ci_admin.yml
  decidim-admin/app/controllers/decidim/admin/help_sections_controller.rb
  decidim-admin/app/controllers/decidim/admin/managed_users/promotions_controller.rb
  decidim-admin/app/controllers/decidim/admin/newsletters_controller.rb
  decidim-admin/spec/system/admin_manages_more_locales_spec.rb
  decidim-admin/spec/system/admin_manages_newsletter_templates_spec.rb
  decidim-admin/spec/system/admin_manages_organization_areas_spec.rb
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-admin/spec/system/admin_passwords_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara.rb
Labels: module: admin, module: dev, type: fix, configuration

#13080 Backport 'Enable admin's system tests' to v0.28
  decidim-admin/spec/system/admin_manages_more_locales_spec.rb
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara.rb
Labels: module: admin, backport, module: dev, type: fix, configuration

#13071 Backport 'Fix hard dependency on meetings for `decidim-proposals`' to v0.28
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/lib/decidim/proposals/seeds.rb
Labels: module: proposals, target: developer-experience, backport, type: fix

#13019 Backport 'Do not allow registering to a meeting if it started' to v0.28
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-meetings/spec/system/user_creates_meeting_spec.rb
Labels: module: meetings, backport, type: fix

#13035 Remove the success, warning and alert colors from Organizations' appearance
  decidim-admin/app/commands/decidim/admin/update_organization_appearance.rb
  decidim-admin/app/forms/decidim/admin/organization_appearance_form.rb
  decidim-admin/app/views/decidim/admin/organization_appearance/form/_colors.html.erb
  decidim-core/lib/decidim/assets/tailwind/tailwind.config.js.erb
  decidim-core/lib/decidim/core/seeds.rb
  decidim-system/app/commands/decidim/system/create_organization.rb
  decidim-system/spec/commands/decidim/system/create_organization_spec.rb
Labels: module: core, module: admin, module: system, type: removal

#13081 Restore tooltip positioning classes (top, bottom, left, right)
  .erb-lint.yml
  decidim-core/app/cells/decidim/author/profile_minicard.erb
Labels: module: core, type: internal, configuration

#13065 Do not show unecessary actions in the initiative page
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_send_to_technical_validation.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-initiatives/spec/system/initiative_spec.rb
Labels: module: initiatives, type: fix

#13064 Fix escaping in initiatives type description HTML
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/select_initiative_type.html.erb
Labels: module: initiatives, type: fix

#13061 Remove unecessary constant in CreateDefaultContentBlocks class
  decidim-system/app/commands/decidim/system/create_default_content_blocks.rb
Labels: module: system, type: removal

#13073 Backport 'Fix participatory process groups a11y errors' to v0.28
  decidim-assemblies/spec/cells/decidim/assemblies/statistic_cell_spec.rb
  decidim-core/app/cells/decidim/statistic/show.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_process_groups/show.html.erb
  decidim-participatory_processes/spec/system/participatory_process_groups_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: module: core, backport, team: accessibility, module: assemblies, module: participatory processes, type: fix

#13072 Backport 'Consider that the meetings module might not be installed' to v0.28
  decidim-core/app/views/layouts/decidim/footer/_main_links.html.erb
  decidim-core/app/views/layouts/decidim/header/_main_links_desktop.html.erb
Labels: module: core, target: developer-experience, backport, type: fix

#13066 Remove unecessary files
  decidim-admin/app/views/layouts/decidim/admin/login.html.erb
  decidim-core/app/cells/decidim/content_blocks/cta/show.erb
  decidim-core/app/cells/decidim/content_blocks/cta_cell.rb
  decidim-core/app/views/layouts/decidim/_edit_link.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/agenda/show.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/_statistics.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_endorsements_card_row.html.erb
Labels: module: proposals, module: core, module: meetings, module: admin, module: participatory processes, type: removal

#13046 Fix user role selected when editing a space admin
  decidim-admin/lib/decidim/admin/test.rb
  decidim-admin/lib/decidim/admin/test/invite_participatory_space_admins_shared_examples.rb
  decidim-admin/lib/decidim/admin/test/invite_participatory_space_collaborators_shared_examples.rb
  decidim-admin/lib/decidim/admin/test/invite_participatory_space_moderators_shared_examples.rb
  decidim-admin/lib/decidim/admin/test/invite_participatory_space_users_shared_context.rb
  decidim-admin/spec/system/participatory_space_private_user_import_via_csv_spec.rb
  decidim-admin/spec/system/participatory_space_private_user_spec.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assembly_user_roles/_form.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/shared/manage_assembly_private_users_examples.rb
  decidim-assemblies/spec/system/admin/admin_filters_assemblies_private_space_users_spec.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_spec.rb
  decidim-assemblies/spec/system/admin/assembly_admin_accesses_admin_sections_spec.rb
  decidim-assemblies/spec/system/admin/invite_assembly_admin_spec.rb
  decidim-assemblies/spec/system/admin/invite_assembly_collaborator_spec.rb
  decidim-assemblies/spec/system/admin/invite_assembly_moderator_spec.rb
  decidim-conferences/app/views/decidim/conferences/admin/conference_user_roles/_form.html.erb
  decidim-conferences/spec/system/admin/invite_conference_admin_spec.rb
  decidim-conferences/spec/system/admin/invite_conference_collaborator_spec.rb
  decidim-conferences/spec/system/admin/invite_conference_moderator_spec.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_user_roles/_form.html.erb
  decidim-participatory_processes/spec/shared/invite_process_users_shared_context.rb
  decidim-participatory_processes/spec/system/admin/invite_process_admin_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_collaborator_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_moderator_spec.rb
Labels: module: admin, module: assemblies, module: participatory processes, module: conferences, type: fix

#13039 Fix published initiatives in seeds
  decidim-initiatives/lib/decidim/initiatives/seeds.rb
Labels: module: initiatives, type: fix

#12988 Standardise ```current_user``` call within Commands tasks (Core)
  decidim-admin/app/commands/decidim/admin/participatory_space/create_admin.rb
  decidim-admin/spec/system/admin_manages_officializations_spec.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/import_assembly.rb
  decidim-assemblies/spec/lib/decidim/assemblies/participatory_space_spec.rb
  decidim-conferences/app/commands/decidim/conferences/admin/create_conference.rb
  decidim-conferences/spec/lib/decidim/conferences/participatory_space_spec.rb
  decidim-core/app/commands/decidim/amendable/create_draft.rb
  decidim-core/app/commands/decidim/amendable/promote.rb
  decidim-core/app/commands/decidim/amendable/publish_draft.rb
  decidim-core/app/commands/decidim/amendable/update_draft.rb
  decidim-core/app/commands/decidim/create_follow.rb
  decidim-core/app/commands/decidim/create_report.rb
  decidim-core/app/commands/decidim/create_user_report.rb
  decidim-core/app/commands/decidim/delete_follow.rb
  decidim-core/app/commands/decidim/destroy_account.rb
  decidim-core/app/commands/decidim/update_account.rb
  decidim-core/app/commands/decidim/update_notifications_settings.rb
  decidim-core/app/commands/decidim/update_password.rb
  decidim-core/app/commands/decidim/update_user_interests.rb
  decidim-core/app/controllers/decidim/account_controller.rb
  decidim-core/app/controllers/decidim/devise/passwords_controller.rb
  decidim-core/app/controllers/decidim/follows_controller.rb
  decidim-core/app/controllers/decidim/notifications_settings_controller.rb
  decidim-core/app/controllers/decidim/report_users_controller.rb
  decidim-core/app/controllers/decidim/reports_controller.rb
  decidim-core/app/controllers/decidim/user_interests_controller.rb
  decidim-core/lib/tasks/decidim_download_your_data_tasks.rake
  decidim-core/spec/commands/decidim/create_follow_spec.rb
  decidim-core/spec/commands/decidim/create_report_spec.rb
  decidim-core/spec/commands/decidim/create_user_report_spec.rb
  decidim-core/spec/commands/decidim/delete_follow_spec.rb
  decidim-core/spec/commands/decidim/destroy_account_spec.rb
  decidim-core/spec/commands/decidim/update_account_spec.rb
  decidim-core/spec/commands/decidim/update_notifications_settings_spec.rb
  decidim-core/spec/commands/decidim/update_password_spec.rb
  decidim-core/spec/commands/decidim/update_user_interests_spec.rb
  decidim-core/spec/system/messaging/conversations_spec.rb
  decidim-core/spec/tasks/decidim_tasks_right_to_be_forgotten_spec.rb
  decidim-debates/app/commands/decidim/debates/create_debate.rb
  decidim-initiatives/app/commands/decidim/initiatives/create_initiative.rb
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/join_meeting.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/create_participatory_process.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/import_participatory_process.rb
  decidim-participatory_processes/spec/lib/decidim/participatory_processes/participatory_space_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: module: core, module: meetings, module: admin, module: debates, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: change

#13092 Backport 'Do not show unecessary actions in the initiative page' to v0.28
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_send_to_technical_validation.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-initiatives/spec/system/initiative_spec.rb
Labels: backport, module: initiatives, type: fix

#13090 Backport 'Change background color for PWA from primary to white' to v0.28
  decidim-core/app/views/decidim/manifests/show.json.erb
  decidim-core/spec/controllers/manifests_controller_spec.rb
Labels: module: core, backport, type: fix

#13093 Backport 'Fix escaping in initiatives type description HTML' to v0.28
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/select_initiative_type.html.erb
Labels: backport, module: initiatives, type: fix

#13095 Backport 'Fix endorsement seeds with low amount of users' to v0.28
  decidim-core/lib/decidim/core.rb
Labels: module: core, target: developer-experience, backport, type: fix

#13082 Backport 'Refactor malformed titles in admin logs (part 1)' to v0.28
  decidim-accountability/spec/shared/manage_results_examples.rb
  decidim-accountability/spec/shared/manage_statuses_examples.rb
  decidim-accountability/spec/shared/manage_timeline_examples.rb
  decidim-accountability/spec/system/admin/admin_manages_accountability_spec.rb
  decidim-assemblies/spec/shared/manage_assemblies_examples.rb
  decidim-assemblies/spec/shared/manage_assembly_admins_examples.rb
  decidim-assemblies/spec/shared/manage_assembly_members_examples.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_spec.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_types_spec.rb
  decidim-blogs/spec/shared/manage_posts_examples.rb
  decidim-blogs/spec/system/process_admin_manages_post_spec.rb
  decidim-budgets/spec/shared/manage_projects_examples.rb
  decidim-budgets/spec/system/admin_manages_budgets_spec.rb
  decidim-budgets/spec/system/admin_manages_projects_spec.rb
  decidim-conferences/spec/shared/manage_conference_admins_examples.rb
  decidim-conferences/spec/shared/manage_conference_speakers_examples.rb
  decidim-conferences/spec/shared/manage_conferences_examples.rb
  decidim-conferences/spec/shared/manage_media_links_examples.rb
  decidim-conferences/spec/shared/manage_partners_examples.rb
  decidim-conferences/spec/shared/manage_registration_types_examples.rb
  decidim-core/app/presenters/decidim/log/resource_presenter.rb
  decidim-core/app/services/decidim/log/diff_changeset_calculator.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/app/presenters/decidim/debates/admin_log/debate_presenter.rb
  decidim-debates/app/presenters/decidim/debates/admin_log/value_types/debate_title_description_presenter.rb
  decidim-debates/app/presenters/decidim/debates/log/resource_presenter.rb
  decidim-debates/spec/shared/manage_debates_examples.rb
  decidim-meetings/app/presenters/decidim/meetings/admin_log/meeting_presenter.rb
  decidim-meetings/app/presenters/decidim/meetings/admin_log/value_types/meeting_title_description_presenter.rb
  decidim-meetings/app/presenters/decidim/meetings/log/resource_presenter.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
  decidim-pages/spec/system/admin_spec.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/test/factories.rb
  decidim-participatory_processes/spec/shared/manage_process_admins_examples.rb
  decidim-participatory_processes/spec/shared/manage_process_steps_examples.rb
  decidim-participatory_processes/spec/shared/manage_processes_examples.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_groups_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_types_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_processes_spec.rb
  decidim-participatory_processes/spec/types/participatory_process_step_type_spec.rb
  decidim-proposals/app/presenters/decidim/proposals/admin_log/proposal_presenter.rb
  decidim-proposals/app/presenters/decidim/proposals/admin_log/value_types/proposal_title_body_presenter.rb
  decidim-proposals/app/presenters/decidim/proposals/log/resource_presenter.rb
  decidim-proposals/app/presenters/decidim/proposals/log/valuation_assignment_presenter.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/presenters/decidim/log/resource_presenter_spec.rb
  decidim-proposals/spec/presenters/decidim/proposals/admin_log/value_types/proposal_title_body_presenter_spec.rb
  decidim-proposals/spec/shared/manage_proposals_examples.rb
  decidim-proposals/spec/system/admin/admin_edits_proposal_spec.rb
  decidim-proposals/spec/system/admin/admin_manages_proposal_valuators_spec.rb
  decidim-proposals/spec/system/admin/index_proposal_notes_spec.rb
  decidim-sortitions/spec/shared/manage_sortitions_examples.rb
  decidim-sortitions/spec/shared/update_sortitions_examples.rb
  decidim-templates/spec/system/admin/admin_manages_proposal_answer_templates_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: admin, module: pages, backport, module: accountability, module: debates, javascript, module: assemblies, module: blogs, module: sortitions, module: participatory processes, module: conferences, module: templates, type: fix

#13094 Backport 'Label changes on Save button in Modals' to v0.28
  decidim-core/app/cells/decidim/upload_modal/modal.erb
  decidim-core/config/locales/en.yml
  decidim-dev/lib/decidim/dev/test/rspec_support/dynamic_attach.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_groups_spec.rb
  decidim-proposals/spec/system/admin/admin_edits_proposal_spec.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
  decidim-verifications/spec/system/id_documents/id_document_online_upload_spec.rb
Labels: module: proposals, module: core, module: admin, backport, module: verifications, module: dev, module: participatory processes, type: fix

#13058 Define an admin filters registry
  decidim-core/lib/decidim/admin_filter.rb
  decidim-core/lib/decidim/admin_filters_registry.rb
  decidim-core/lib/decidim/core.rb
  decidim-proposals/app/controllers/concerns/decidim/proposals/admin/filterable.rb
  decidim-proposals/lib/decidim/proposals/admin_engine.rb
  decidim-proposals/lib/decidim/proposals/admin_filter.rb
  decidim-proposals/spec/controllers/concerns/admin_filterable_spec.rb
  docs/modules/customize/pages/admin_filters.adoc
  docs/modules/customize/pages/index.adoc
Labels: team: documentation, module: proposals, module: core, type: feature, contract: 2024-developments

#13091 Backport 'Fix user role selected when editing a space admin' to v0.28
  decidim-admin/lib/decidim/admin/test.rb
  decidim-admin/lib/decidim/admin/test/invite_participatory_space_admins_shared_examples.rb
  decidim-admin/lib/decidim/admin/test/invite_participatory_space_collaborators_shared_examples.rb
  decidim-admin/lib/decidim/admin/test/invite_participatory_space_moderators_shared_examples.rb
  decidim-admin/lib/decidim/admin/test/invite_participatory_space_users_shared_context.rb
  decidim-admin/spec/system/participatory_space_private_user_import_via_csv_spec.rb
  decidim-admin/spec/system/participatory_space_private_user_spec.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assembly_user_roles/_form.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/shared/manage_assembly_private_users_examples.rb
  decidim-assemblies/spec/system/admin/admin_filters_assemblies_private_space_users_spec.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_spec.rb
  decidim-assemblies/spec/system/admin/assembly_admin_accesses_admin_sections_spec.rb
  decidim-assemblies/spec/system/admin/invite_assembly_admin_spec.rb
  decidim-assemblies/spec/system/admin/invite_assembly_collaborator_spec.rb
  decidim-assemblies/spec/system/admin/invite_assembly_moderator_spec.rb
  decidim-conferences/app/views/decidim/conferences/admin/conference_user_roles/_form.html.erb
  decidim-conferences/spec/system/admin/invite_conference_admin_spec.rb
  decidim-conferences/spec/system/admin/invite_conference_collaborator_spec.rb
  decidim-conferences/spec/system/admin/invite_conference_moderator_spec.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_user_roles/_form.html.erb
  decidim-participatory_processes/spec/shared/invite_process_users_shared_context.rb
  decidim-participatory_processes/spec/system/admin/invite_process_admin_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_collaborator_spec.rb
  decidim-participatory_processes/spec/system/admin/invite_process_moderator_spec.rb
Labels: module: admin, backport, module: assemblies, module: participatory processes, module: conferences, type: fix

#13083 Backport 'Refactor malformed titles in admin logs (part 2)' to v0.28
  decidim-admin/lib/decidim/admin/test/manage_attachment_collections_examples.rb
  decidim-admin/lib/decidim/admin/test/manage_categories_examples.rb
  decidim-admin/lib/decidim/admin/test/manage_hide_content_examples.rb
  decidim-admin/spec/system/admin_manages_help_sections_spec.rb
  decidim-admin/spec/system/admin_manages_newsletters_spec.rb
  decidim-admin/spec/system/admin_manages_organization_area_types_spec.rb
  decidim-admin/spec/system/admin_manages_organization_areas_spec.rb
  decidim-admin/spec/system/admin_manages_organization_scope_types_spec.rb
  decidim-admin/spec/system/admin_manages_organization_scopes_spec.rb
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-admin/spec/system/static_pages_spec.rb
  decidim-assemblies/spec/shared/manage_assembly_components_examples.rb
  decidim-assemblies/spec/shared/manage_assembly_private_users_examples.rb
  decidim-conferences/spec/shared/manage_conference_components_examples.rb
  decidim-core/app/presenters/decidim/admin_log/organization_presenter.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiative_components_spec.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiatives_types_spec.rb
  decidim-initiatives/spec/system/admin/update_initiative_spec.rb
  decidim-participatory_processes/spec/shared/manage_participatory_process_private_users_examples.rb
  decidim-participatory_processes/spec/shared/manage_process_components_examples.rb
Labels: module: core, module: admin, backport, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: fix

#13107 Backport 'Do not update SMTP or omniauth attributes if no values are specified' to v0.27
  decidim-core/app/mailers/decidim/application_mailer.rb
  decidim-core/spec/mailers/application_mailer_spec.rb
  decidim-system/app/forms/decidim/system/update_organization_form.rb
  decidim-system/spec/commands/decidim/system/update_organization_spec.rb
  decidim-system/spec/forms/decidim/system/update_organization_form_spec.rb
Labels: module: core, module: system, backport, type: fix

#13100 Backport 'Fix escaping in initiatives type description HTML' to v0.27
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/select_initiative_type.html.erb
Labels: backport, module: initiatives, type: fix

#13106 Backport 'Fix exception when going to debates new URL directly as non-logged user ' to v0.27
  decidim-debates/app/controllers/decidim/debates/debates_controller.rb
  decidim-debates/spec/controllers/decidim/debates/debates_controller_spec.rb
  decidim-meetings/spec/controllers/decidim/meetings/meetings_controller_spec.rb
  decidim-proposals/spec/controllers/decidim/proposals/proposals_controller_spec.rb
Labels: module: proposals, module: meetings, backport, module: debates, type: fix

#13025 Fix UX details in hamburger menu
  decidim-assemblies/lib/decidim/assemblies/engine.rb
  decidim-assemblies/lib/decidim/assemblies/menu.rb
  decidim-conferences/lib/decidim/conferences/engine.rb
  decidim-conferences/lib/decidim/conferences/menu.rb
  decidim-core/app/helpers/decidim/menu_helper.rb
  decidim-core/app/packs/src/decidim/sticky_header.js
  decidim-core/app/packs/stylesheets/decidim/_dropdown.scss
  decidim-core/app/packs/stylesheets/decidim/_forms.scss
  decidim-core/app/packs/stylesheets/decidim/_header.scss
  decidim-core/app/views/layouts/decidim/_application.html.erb
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
  decidim-core/app/views/layouts/decidim/header/_menu_breadcrumb_main_dropdown_mobile.html.erb
  decidim-core/app/views/layouts/decidim/header/_menu_form_search_mobile.html.erb
  decidim-core/app/views/layouts/decidim/header/_mobile_language_choose.html.erb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/menu.rb
  decidim-core/spec/system/menu_spec.rb
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-initiatives/lib/decidim/initiatives/menu.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/menu.rb
Labels: module: core, javascript, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: fix, no-backport

#13108 Backport 'Add proposal author when exporting proposals' to v0.27
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_serializer_spec.rb
Labels: module: proposals, backport, type: fix

#13110 Backport 'Fix enable authorizations listing in admin panel' to v0.27
  decidim-admin/app/controllers/decidim/admin/authorization_workflows_controller.rb
  decidim-verifications/spec/system/admin_manages_authorizations_spec.rb
Labels: module: admin, backport, module: verifications, type: fix

#13096 Fix flaky spec on conference's speaker publication
  decidim-conferences/spec/system/conference_speakers_spec.rb
Labels: module: conferences, type: internal

#13063 Show an error message on initiatives admin when no initiatives types
  decidim-core/app/helpers/decidim/scopes_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_flash.scss
  decidim-initiatives/app/controllers/decidim/initiatives/admin/initiatives_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/application_controller.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/index.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives_type_scopes/_form.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/lib/decidim/initiatives/menu.rb
Labels: module: core, type: feature, module: initiatives

#13114 Show the admin bar for other roles
  decidim-admin/lib/decidim/admin/test/admin_participatory_space_access_examples.rb
  decidim-assemblies/spec/system/admin/admin_access_spec.rb
  decidim-conferences/spec/system/admin/admin_access_spec.rb
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
  decidim-participatory_processes/spec/system/admin/admin_access_spec.rb
Labels: module: core, module: admin, module: assemblies, module: participatory processes, module: conferences, type: fix

#13032 Extract methods from accountabilty seeds
  decidim-accountability/lib/decidim/accountability/seeds.rb
Labels: module: accountability, type: internal

#13105 Backport 'Hide moderated content from notifications' to v0.27
  decidim-accountability/app/events/decidim/accountability/base_result_event.rb
  decidim-accountability/spec/events/decidim/accountability/proposal_linked_event_spec.rb
  decidim-accountability/spec/events/decidim/accountability/result_progress_updated_event_spec.rb
  decidim-comments/app/events/decidim/comments/comment_event.rb
  decidim-comments/lib/decidim/comments/test/factories.rb
  decidim-comments/lib/decidim/comments/test/shared_examples/comment_event.rb
  decidim-core/app/cells/decidim/notification/moderated.erb
  decidim-core/app/cells/decidim/notification_cell.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/events/base_event.rb
  decidim-core/spec/cells/decidim/notification_cell_spec.rb
  decidim-core/spec/lib/events/simple_event_spec.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
Labels: module: proposals, module: core, module: comments, backport, module: accountability, module: dev, type: fix

#13121 Fix markup for Badges explanation page
  decidim-core/app/controllers/decidim/gamification/badges_controller.rb
  decidim-core/app/views/decidim/gamification/badges/index.html.erb
Labels: module: core, type: fix

#13076 Fix consistency and details in log in/create an account links
  decidim-admin/app/views/decidim/admin/impersonatable_users/index.html.erb
  decidim-admin/spec/system/admin_access_spec.rb
  decidim-admin/spec/system/admin_passwords_spec.rb
  decidim-api/spec/system/graphiql_spec.rb
  decidim-comments/config/locales/en.yml
  decidim-comments/spec/cells/decidim/comments/comments_cell_spec.rb
  decidim-core/app/packs/stylesheets/decidim/_header.scss
  decidim-core/app/views/decidim/devise/shared/_login_boxes.html.erb
  decidim-core/app/views/decidim/shared/_login_modal.html.erb
  decidim-core/app/views/layouts/decidim/header/_main.html.erb
  decidim-core/app/views/layouts/decidim/header/_main_links_desktop.html.erb
  decidim-core/app/views/layouts/decidim/header/_main_menu_mobile.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/controllers/application_controller_spec.rb
  decidim-core/spec/controllers/pages_controller_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/registration_spec.rb
  decidim-forms/config/locales/en.yml
  decidim-generators/lib/decidim/generators/app_templates/README.md.erb
  decidim-system/README.md
  decidim-system/app/views/layouts/decidim/system/login.html.erb
  decidim-system/config/locales/en.yml
  decidim-system/spec/system/organizations_spec.rb
  decidim-verifications/spec/system/authorizations_spec.rb
  docs/modules/configure/pages/environment_variables.adoc
  docs/modules/install/pages/checklist.adoc
  docs/modules/install/pages/empty-database.adoc
  docs/modules/install/pages/index.adoc
Labels: team: documentation, module: core, module: comments, module: admin, module: system, module: verifications, module: generators, module: forms, module: api, type: change

#13033 Fix timeline entries display in result page
  decidim-accountability/app/cells/decidim/accountability/project/timeline.erb
  decidim-accountability/app/cells/decidim/accountability/project_cell.rb
  decidim-accountability/app/controllers/decidim/accountability/results_controller.rb
  decidim-accountability/config/locales/en.yml
  decidim-accountability/spec/system/explore_results_spec.rb
  decidim-core/app/views/layouts/decidim/header/_menu_breadcrumb_items.html.erb
Labels: module: core, module: accountability, type: fix

#13119 Remove references to the `banner_image` field in participatory processes
  RELEASE_NOTES.md
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/copy_participatory_process.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/create_participatory_process.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/update_participatory_process.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_form.rb
  decidim-participatory_processes/app/models/decidim/participatory_process.rb
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/participatory_process_presenter.rb
  decidim-participatory_processes/app/serializers/decidim/participatory_processes/participatory_process_importer.rb
  decidim-participatory_processes/app/serializers/decidim/participatory_processes/participatory_process_serializer.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/_form.html.erb
  decidim-participatory_processes/app/views/layouts/decidim/_process_header.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/lib/decidim/api/participatory_process_type.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/seeds.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/test/factories.rb
  decidim-participatory_processes/spec/commands/create_participatory_process_spec.rb
  decidim-participatory_processes/spec/commands/decidim/participatory_processes/admin/import_participatory_process_spec.rb
  decidim-participatory_processes/spec/commands/update_participatory_process_spec.rb
  decidim-participatory_processes/spec/forms/participatory_process_form_spec.rb
  decidim-participatory_processes/spec/presenters/decidim/participatory_processes/participatory_process_presenter_spec.rb
  decidim-participatory_processes/spec/serializers/decidim/participatory_processes/participatory_process_serializer_spec.rb
  decidim-participatory_processes/spec/shared/manage_processes_examples.rb
  decidim-participatory_processes/spec/system/admin/admin_import_participatory_process_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_processes_spec.rb
  decidim-participatory_processes/spec/types/integration_schema_spec.rb
  decidim-participatory_processes/spec/types/participatory_process_type_spec.rb
Labels: module: participatory processes, type: removal

#13085 Backport 'Refactor malformed titles in admin logs (part 2)' to v0.27
  decidim-admin/lib/decidim/admin/test/manage_attachment_collections_examples.rb
  decidim-admin/lib/decidim/admin/test/manage_categories_examples.rb
  decidim-admin/lib/decidim/admin/test/manage_moderations_examples.rb
  decidim-admin/spec/system/admin_manage_moderated_users_spec.rb
  decidim-admin/spec/system/admin_manages_global_moderations_spec.rb
  decidim-admin/spec/system/admin_manages_help_sections_spec.rb
  decidim-admin/spec/system/admin_manages_newsletters_spec.rb
  decidim-admin/spec/system/admin_manages_organization_area_types_spec.rb
  decidim-admin/spec/system/admin_manages_organization_areas_spec.rb
  decidim-admin/spec/system/admin_manages_organization_scope_types_spec.rb
  decidim-admin/spec/system/admin_manages_organization_scopes_spec.rb
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-admin/spec/system/static_pages_spec.rb
  decidim-assemblies/spec/shared/manage_assembly_components_examples.rb
  decidim-assemblies/spec/shared/manage_assembly_private_users_examples.rb
  decidim-conferences/spec/shared/manage_conference_components_examples.rb
  decidim-core/app/presenters/decidim/admin_log/organization_presenter.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiative_components_spec.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiatives_types_spec.rb
  decidim-initiatives/spec/system/admin/update_initiative_spec.rb
  decidim-participatory_processes/spec/shared/manage_participatory_process_private_users_examples.rb
  decidim-participatory_processes/spec/shared/manage_process_components_examples.rb
Labels: module: core, module: admin, backport, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: fix

#13131 Backport 'Fix edit proposal icon ' to v0.28
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_aside.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_aside.html.erb
Labels: module: proposals, module: meetings, backport, type: fix

#13130 Backport 'Fix attachments uploads with modal' to v0.28
  decidim-core/app/cells/decidim/upload_modal/modal.erb
  decidim-core/app/packs/src/decidim/direct_uploads/upload_modal.js
  decidim-core/app/packs/stylesheets/decidim/_modal_update.scss
Labels: module: core, backport, javascript, type: fix

#13133 Backport 'Fix timeline entries display in result page' to v0.28
  decidim-accountability/app/cells/decidim/accountability/project/timeline.erb
  decidim-accountability/app/cells/decidim/accountability/project_cell.rb
  decidim-accountability/app/controllers/decidim/accountability/results_controller.rb
  decidim-accountability/config/locales/en.yml
  decidim-accountability/spec/system/explore_results_spec.rb
  decidim-core/app/views/layouts/decidim/header/_menu_breadcrumb_items.html.erb
Labels: module: core, backport, module: accountability, type: fix

#13134 Fix details in login/account creation strings
  .github/actions/spelling/expect.txt
  decidim-comments/config/locales/en.yml
  decidim-comments/spec/cells/decidim/comments/comments_cell_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/locales_spec.rb
  decidim-system/config/locales/en.yml
  decidim-system/spec/system/organizations_spec.rb
Labels: module: core, module: comments, module: system, type: fix, configuration

#13079 Fix users tooltip display after clicking Endorse/Like/Dislike
  decidim-core/app/views/decidim/endorsements/update_buttons_and_counters.js.erb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: accountability, module: debates, module: blogs, module: dev, type: fix

#13142 Fix gap in checkboxes/radio buttons filters' labels
  decidim-core/app/packs/stylesheets/decidim/_filters.scss
Labels: module: core, type: fix

#13143 Backport 'Fix users tooltip display after clicking Endorse/Like/Dislike' to v0.28
  decidim-core/app/views/decidim/endorsements/update_buttons_and_counters.js.erb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, backport, module: accountability, module: debates, module: blogs, module: dev, type: fix

#13145 Bump rails from 7.0.8.1 to 7.0.8.4
  Gemfile.lock
  decidim-generators/Gemfile.lock
Labels: dependencies, module: generators, type: internal, no-backport

#13144 Fix Assemblies pipeline
  decidim-assemblies/spec/shared/manage_assemblies_examples.rb
Labels: module: assemblies, type: fix, release: v0.28, no-backport

#13146 Install rubocop factory_bot and rspec_rails plugins
  Gemfile.lock
  decidim-comments/db/seeds.rb
  decidim-core/config/initializers/new_framework_defaults_7_0.rb
  decidim-core/spec/lib/events/email_event_spec.rb
  decidim-dev/config/rubocop/disabled.yml
  decidim-dev/config/rubocop/rspec.yml
  decidim-dev/decidim-dev.gemspec
  decidim-dev/rubocop-decidim.yml
  decidim-generators/Gemfile.lock
Labels: module: core, module: comments, dependencies, module: dev, module: generators, type: internal

#13123 Remove show statistics boolean fields in assemblies and processes
  RELEASE_NOTES.md
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/stats_cell.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assembly.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_form.rb
  decidim-assemblies/app/presenters/decidim/assemblies/admin_log/assembly_presenter.rb
  decidim-assemblies/app/serializers/decidim/assemblies/assembly_importer.rb
  decidim-assemblies/app/serializers/decidim/assemblies/assembly_serializer.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/_form.html.erb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/db/migrate/20240712061153_change_show_statistics_from_decidim_assemblies.rb
  decidim-assemblies/lib/decidim/api/assembly_type.rb
  decidim-assemblies/lib/decidim/assemblies/test/factories.rb
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-assemblies/spec/commands/update_assembly_spec.rb
  decidim-assemblies/spec/forms/assembly_form_spec.rb
  decidim-assemblies/spec/serializers/decidim/assemblies/assembly_serializer_spec.rb
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-assemblies/spec/system/homepage_content_blocks_spec.rb
  decidim-assemblies/spec/types/assembly_type_spec.rb
  decidim-assemblies/spec/types/integration_schema_spec.rb
  decidim-dev/lib/decidim/dev/assets/assemblies.json
  decidim-dev/lib/decidim/dev/assets/assemblies_with_null.json
  decidim-dev/lib/decidim/dev/assets/participatory_processes.json
  decidim-dev/lib/decidim/dev/assets/participatory_processes_with_null.json
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/stats_cell.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/create_participatory_process.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/update_participatory_process.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/participatory_processes_controller.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_form.rb
  decidim-participatory_processes/app/serializers/decidim/participatory_processes/participatory_process_importer.rb
  decidim-participatory_processes/app/serializers/decidim/participatory_processes/participatory_process_serializer.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/_form.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/lib/decidim/api/participatory_process_type.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/test/factories.rb
  decidim-participatory_processes/spec/commands/create_participatory_process_spec.rb
  decidim-participatory_processes/spec/commands/update_participatory_process_spec.rb
  decidim-participatory_processes/spec/controllers/participatory_processes_controller_spec.rb
  decidim-participatory_processes/spec/forms/participatory_process_form_spec.rb
  decidim-participatory_processes/spec/serializers/decidim/participatory_processes/participatory_process_importer_spec.rb
  decidim-participatory_processes/spec/serializers/decidim/participatory_processes/participatory_process_serializer_spec.rb
  decidim-participatory_processes/spec/system/homepage_content_blocks_spec.rb
  decidim-participatory_processes/spec/system/participatory_process_all_metrics_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
  decidim-participatory_processes/spec/types/integration_schema_spec.rb
  decidim-participatory_processes/spec/types/participatory_process_type_spec.rb
Labels: module: assemblies, module: dev, module: participatory processes, type: removal

#13013 Fix the flaky seeds for comments
  decidim-comments/app/models/decidim/comments/seed.rb
Labels: module: comments, target: developer-experience, type: fix

#13158 Bump develop to next release version (0.30.0.dev)
  .decidim-version
  .github/actions/spelling/expect.txt
  CHANGELOG.md
  Gemfile.lock
  RELEASE_NOTES.md
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-core/spec/system/locales_spec.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: internal, configuration, module: design

#13159 Bump to v0.29.0.rc1 version
  .decidim-version
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-core/spec/system/locales_spec.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  docs/antora.yml
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: team: documentation, module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: internal, configuration, module: design

#13160 Bump to v0.28.2 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: elections, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: internal, module: design

#13161 Bump to v0.27.7 version
  .decidim-version
  Gemfile
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-consultations/lib/decidim/consultations/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-dev/decidim-dev.gemspec
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  decidim_app-design/Gemfile.lock
  decidim_app-design/package-lock.json
  decidim_app-design/packages/browserslist-config/package.json
  decidim_app-design/packages/core/package.json
  decidim_app-design/packages/dev/package.json
  decidim_app-design/packages/elections/package.json
  decidim_app-design/packages/eslint-config/package.json
  decidim_app-design/packages/stylelint-config/package.json
  decidim_app-design/packages/webpacker/package.json
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: accountability, module: debates, dependencies, module: elections, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: consultations, module: initiatives, module: templates, type: internal

#13164 Fix proposal state migration
  decidim-proposals/db/migrate/20240110203501_create_decidim_proposals_proposal_state.rb
  decidim-proposals/db/migrate/20240209092404_change_color_fields_on_proposals_states.rb
Labels: module: proposals, type: fix

#13165 Backport 'Fix proposal state migration' to v0.29
  decidim-proposals/db/migrate/20240110203501_create_decidim_proposals_proposal_state.rb
  decidim-proposals/db/migrate/20240209092404_change_color_fields_on_proposals_states.rb
Labels: module: proposals, backport, type: fix

#13042 Rename published state to open in initiatives
  decidim-initiatives/app/controllers/decidim/initiatives/initiative_types_controller.rb
  decidim-initiatives/app/forms/decidim/initiatives/admin/initiative_answer_form.rb
  decidim-initiatives/app/helpers/decidim/initiatives/initiative_helper.rb
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-initiatives/app/permissions/decidim/initiatives/permissions.rb
  decidim-initiatives/app/queries/decidim/initiatives/support_period_finished_initiatives.rb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/lib/decidim/initiatives/test/factories.rb
  decidim-initiatives/spec/cells/decidim/initiatives/initiative_g_cell_spec.rb
  decidim-initiatives/spec/commands/decidim/initiatives/admin/publish_initiative_spec.rb
  decidim-initiatives/spec/commands/decidim/initiatives/admin/send_initiative_to_technical_validation_spec.rb
  decidim-initiatives/spec/commands/decidim/initiatives/admin/unpublish_initiative_spec.rb
  decidim-initiatives/spec/commands/decidim/initiatives/send_initiative_to_technical_validation_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/committee_requests_controller_spec.rb
  decidim-initiatives/spec/forms/admin/initiative_answer_form_spec.rb
  decidim-initiatives/spec/forms/admin/initiative_form_spec.rb
  decidim-initiatives/spec/models/decidim/initiative_spec.rb
  decidim-initiatives/spec/permissions/decidim/initiatives/admin/permissions_spec.rb
  decidim-initiatives/spec/permissions/decidim/initiatives/permissions_spec.rb
  decidim-initiatives/spec/queries/decidim/initiatives/admin/admin_users_spec.rb
  decidim-initiatives/spec/services/decidim/initiatives/searchable_initiative_resource_spec.rb
  decidim-initiatives/spec/shared/update_initiative_answer_example.rb
  decidim-initiatives/spec/shared/update_initiative_example.rb
  decidim-initiatives/spec/shared/update_initiative_type_example.rb
  decidim-initiatives/spec/system/admin/admin_access_spec.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiative_permissions_spec.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiatives_spec.rb
  decidim-initiatives/spec/system/admin/answer_initiative_spec.rb
  decidim-initiatives/spec/system/authorized_comments_spec.rb
  decidim-initiatives/spec/system/comments_spec.rb
  decidim-initiatives/spec/system/initiative_signing_sms_verification_spec.rb
  decidim-initiatives/spec/system/initiative_signing_spec.rb
  decidim-initiatives/spec/system/initiative_spec.rb
Labels: module: initiatives, type: change

#13166 Bump to v0.29.0.rc2 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: internal, module: design

#12783 Prevent cached signed global IDs from expiring
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/models/decidim/organization_spec.rb
Labels: module: core, type: fix

#12762 Load the Leaflet assets through the NPM packages
  decidim-core/app/packs/images/decidim/vendor/leaflet/layers-2x.png
  decidim-core/app/packs/images/decidim/vendor/leaflet/layers.png
  decidim-core/app/packs/images/decidim/vendor/leaflet/marker-icon-2x.png
  decidim-core/app/packs/images/decidim/vendor/leaflet/marker-icon.png
  decidim-core/app/packs/images/decidim/vendor/leaflet/marker-shadow.png
  decidim-core/app/packs/stylesheets/decidim/legacy/MarkerCluster.Default.scss
  decidim-core/app/packs/stylesheets/decidim/legacy/MarkerCluster.scss
  decidim-core/app/packs/stylesheets/decidim/legacy/leaflet.scss
  decidim-core/app/packs/stylesheets/decidim/map.scss
  packages/webpacker/src/override-config.js
Labels: module: core, javascript, type: change

#12964 Fix clickable area in dropdowns
  decidim-accountability/app/views/decidim/accountability/admin/results/index.html.erb
  decidim-admin/app/views/decidim/admin/components/index.html.erb
  decidim-admin/app/views/decidim/admin/exports/_dropdown.html.erb
  decidim-admin/app/views/decidim/admin/imports/_dropdown.html.erb
  decidim-admin/app/views/decidim/admin/imports/new.html.erb
  decidim-admin/spec/helpers/exports_helper_spec.rb
  decidim-admin/spec/helpers/imports_helper_spec.rb
  decidim-budgets/app/views/decidim/budgets/admin/projects/_bulk-actions.html.erb
  decidim-conferences/app/views/decidim/conferences/admin/conference_registrations/index.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/exports/_dropdown.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/registrations/edit.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_bulk-actions.html.erb
Labels: module: proposals, module: meetings, module: budgets, module: admin, target: developer-experience, module: accountability, module: conferences, module: initiatives, type: fix

#13179 Fix migration of withdrawn state on Proposal
  decidim-proposals/db/migrate/20240110203500_add_withdrawn_at_field_to_proposals.rb
Labels: type: fix

#13177 Fix rubocop offense `Style/SuperWithArgsParentheses`
  decidim-core/app/controllers/concerns/decidim/disable_redirection_to_external_host.rb
  decidim-debates/app/presenters/decidim/debates/debate_presenter.rb
  decidim-dev/config/rubocop/disabled.yml
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-proposals/app/presenters/decidim/proposals/proposal_presenter.rb
Labels: module: proposals, module: core, module: meetings, module: debates, module: dev, type: internal

#13182 Fix rubocop offense `FactoryBot/ConsistentParenthesesStyle`
  decidim-accountability/lib/decidim/accountability/test/factories.rb
  decidim-admin/lib/decidim/admin/test/commands/destroy_category_examples.rb
  decidim-admin/lib/decidim/admin/test/destroy_admin_examples.rb
  decidim-admin/lib/decidim/admin/test/forms/attachment_collection_form_examples.rb
  decidim-admin/lib/decidim/admin/test/forms/attachment_form_examples.rb
  decidim-admin/lib/decidim/admin/test/forms/category_form_examples.rb
  decidim-admin/lib/decidim/admin/test/manage_moderations_examples.rb
  decidim-api/lib/decidim/api/test/component_context.rb
  decidim-assemblies/lib/decidim/assemblies/test/factories.rb
  decidim-budgets/spec/requests/line_items_spec.rb
  decidim-comments/lib/decidim/comments/test/shared_examples/comment_event.rb
  decidim-comments/lib/decidim/comments/test/shared_examples/comment_voted_event.rb
  decidim-comments/lib/decidim/comments/test/shared_examples/create_comment_context.rb
  decidim-comments/lib/decidim/comments/test/shared_examples/translatable_comment.rb
  decidim-conferences/lib/decidim/conferences/test/factories.rb
  decidim-conferences/spec/commands/publish_conference_speaker_spec.rb
  decidim-conferences/spec/commands/unpublish_conference_speaker_spec.rb
  decidim-core/lib/decidim/core/test/shared_examples/permissions.rb
  decidim-core/lib/decidim/core/test/shared_examples/reports_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/resource_endorsed_event_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/resource_search_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/searchable_resources_shared_context.rb
  decidim-core/lib/decidim/core/test/shared_examples/translated_event_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/with_endorsable_permissions_examples.rb
  decidim-dev/config/rubocop/disabled.yml
  decidim-dev/lib/decidim/dev/test/rspec_support/component_context.rb
  decidim-forms/lib/decidim/forms/test/factories.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaire_answers.rb
  decidim-meetings/lib/decidim/meetings/test/translated_event.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/test/factories.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-templates/spec/permissions/decidim/templates/admin/permissions_spec.rb
Labels: module: core, module: meetings, module: budgets, module: comments, module: admin, module: accountability, module: assemblies, module: dev, module: forms, module: participatory processes, module: api, module: conferences, type: internal

#13180 Fix rubocop offense `Style/ArgumentsForwarding`
  decidim-core/lib/decidim/command.rb
  decidim-dev/config/rubocop/disabled.yml
Labels: module: core, module: dev, type: internal

#13170 Add missing require for ParallelTests
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara.rb
Labels: module: dev, type: fix

#13174 Fix rubocop offense Style/RedundantParentheses
  decidim-admin/app/controllers/decidim/admin/resource_permissions_controller.rb
  decidim-core/app/cells/decidim/notification_actions/buttons_cell.rb
  decidim-core/app/controllers/decidim/scopes_controller.rb
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/lib/decidim/map/dynamic_map.rb
  decidim-dev/config/rubocop/disabled.yml
  decidim-forms/app/forms/decidim/forms/admin/display_condition_form.rb
  decidim-initiatives/app/controllers/concerns/decidim/initiatives/needs_initiative.rb
  decidim-proposals/app/cells/decidim/proposals/participatory_text_proposal_cell.rb
Labels: module: proposals, module: core, module: admin, module: dev, module: forms, module: initiatives, type: internal

#13172 Fix rubocop offense Lint/SymbolConversion
  decidim-admin/app/commands/decidim/admin/content_blocks/update_content_block.rb
  decidim-admin/lib/decidim/admin/import/creator.rb
  decidim-admin/lib/decidim/admin/import/readers/json.rb
  decidim-core/app/cells/decidim/tags_cell.rb
  decidim-core/app/models/decidim/component.rb
  decidim-core/app/services/decidim/base_diff_renderer.rb
  decidim-core/lib/decidim/attachment_attributes.rb
  decidim-core/lib/decidim/core/test/shared_examples/versions_controller_examples.rb
  decidim-core/lib/decidim/participable.rb
  decidim-dev/config/rubocop/disabled.yml
  decidim-initiatives/app/controllers/decidim/initiatives/create_initiative_controller.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiatives_spec.rb
  decidim-system/app/forms/decidim/system/base_organization_form.rb
  decidim-system/app/forms/decidim/system/update_organization_form.rb
Labels: module: core, module: admin, module: system, module: dev, module: initiatives, type: internal

#13175 Fix rubocop offense `Rails/WhereRange`
  decidim-accountability/app/queries/decidim/accountability/metrics/results_metric_manage.rb
  decidim-assemblies/app/queries/decidim/assemblies/metrics/assemblies_metric_manage.rb
  decidim-blogs/app/models/decidim/blogs/post.rb
  decidim-budgets/app/queries/decidim/budgets/filtered_projects.rb
  decidim-budgets/app/queries/decidim/budgets/metrics/budget_followers_metric_measure.rb
  decidim-budgets/app/queries/decidim/budgets/metrics/budget_participants_metric_measure.rb
  decidim-budgets/lib/decidim/budgets/component.rb
  decidim-comments/app/queries/decidim/comments/metrics/comment_participants_metric_measure.rb
  decidim-comments/app/queries/decidim/comments/metrics/comments_metric_manage.rb
  decidim-core/app/queries/decidim/metrics/blocked_users_metric_manage.rb
  decidim-core/app/queries/decidim/metrics/users_metric_manage.rb
  decidim-core/app/queries/decidim/stats_users_count.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/tasks/decidim_download_your_data_tasks.rake
  decidim-debates/app/queries/decidim/debates/metrics/debate_followers_metric_measure.rb
  decidim-debates/app/queries/decidim/debates/metrics/debate_participants_metric_measure.rb
  decidim-debates/app/queries/decidim/debates/metrics/debates_metric_manage.rb
  decidim-dev/config/rubocop/disabled.yml
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-initiatives/app/queries/decidim/initiatives/outdated_validating_initiatives.rb
  decidim-initiatives/app/queries/decidim/initiatives/support_period_finished_initiatives.rb
  decidim-meetings/app/queries/decidim/meetings/filtered_meetings.rb
  decidim-meetings/app/queries/decidim/meetings/metrics/meeting_followers_metric_measure.rb
  decidim-meetings/app/queries/decidim/meetings/metrics/meetings_metric_manage.rb
  decidim-pages/lib/decidim/pages/component.rb
  decidim-participatory_processes/app/jobs/decidim/participatory_processes/change_active_step_job.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/metrics/participatory_process_followers_metric_measure.rb
  decidim-participatory_processes/app/queries/decidim/participatory_processes/metrics/participatory_processes_metric_manage.rb
  decidim-proposals/app/queries/decidim/proposals/filtered_proposals.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/accepted_proposals_metric_manage.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/endorsements_metric_manage.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/proposal_followers_metric_measure.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/proposal_participants_metric_measure.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/proposals_metric_manage.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/votes_metric_manage.rb
  decidim-sortitions/app/queries/decidim/sortitions/admin/participatory_space_proposals.rb
  decidim-sortitions/app/queries/decidim/sortitions/filtered_sortitions.rb
  decidim-surveys/app/queries/decidim/surveys/metrics/answers_metric_manage.rb
  decidim-surveys/app/queries/decidim/surveys/metrics/survey_participants_metric_measure.rb
  decidim-surveys/lib/decidim/surveys/component.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: pages, module: accountability, module: debates, module: assemblies, module: blogs, module: dev, module: participatory processes, module: initiatives, type: internal

#13185 Implements 7zip as a CLI wrapper
  .github/actions/spelling/expect.txt
  Gemfile.lock
  RELEASE_NOTES.md
  decidim-core/app/services/decidim/download_your_data_exporter.rb
  decidim-core/app/services/decidim/zip_stream/writer.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/seven_zip_wrapper.rb
  decidim-core/spec/services/decidim/download_your_data_exporter_spec.rb
  decidim-core/spec/services/decidim/zip_stream/zip_stream_writer_spec.rb
  decidim-generators/Gemfile.lock
  docs/modules/install/pages/manual.adoc
Labels: team: documentation, module: core, dependencies, module: generators, type: fix, configuration

#13186 Backport 'Implements 7zip as a CLI wrapper' to v0.29
  .github/actions/spelling/expect.txt
  Gemfile.lock
  RELEASE_NOTES.md
  decidim-core/app/services/decidim/download_your_data_exporter.rb
  decidim-core/app/services/decidim/zip_stream/writer.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/seven_zip_wrapper.rb
  decidim-core/spec/services/decidim/download_your_data_exporter_spec.rb
  decidim-core/spec/services/decidim/zip_stream/zip_stream_writer_spec.rb
  decidim-generators/Gemfile.lock
  docs/modules/install/pages/manual.adoc
Labels: team: documentation, module: core, backport, dependencies, module: generators, type: fix, configuration

#13187 Backport 'Fix migration of withdrawn state on Proposal' to v0.29
  decidim-proposals/db/migrate/20240110203500_add_withdrawn_at_field_to_proposals.rb
Labels: module: proposals, backport, type: fix

#13188 Backport 'Add missing require for ParallelTests' to v0.29
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara.rb
Labels: backport, module: dev, type: fix

#13189 Backport 'Fix clickable area in dropdowns' to v0.29
  decidim-accountability/app/views/decidim/accountability/admin/results/index.html.erb
  decidim-admin/app/views/decidim/admin/components/index.html.erb
  decidim-admin/app/views/decidim/admin/exports/_dropdown.html.erb
  decidim-admin/app/views/decidim/admin/imports/_dropdown.html.erb
  decidim-admin/app/views/decidim/admin/imports/new.html.erb
  decidim-admin/spec/helpers/exports_helper_spec.rb
  decidim-admin/spec/helpers/imports_helper_spec.rb
  decidim-budgets/app/views/decidim/budgets/admin/projects/_bulk-actions.html.erb
  decidim-conferences/app/views/decidim/conferences/admin/conference_registrations/index.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/exports/_dropdown.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/registrations/edit.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_bulk-actions.html.erb
Labels: module: proposals, module: meetings, module: budgets, module: admin, target: developer-experience, backport, module: accountability, module: conferences, module: initiatives, type: fix

#13190 Backport 'Prevent cached signed global IDs from expiring' to v0.29
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/models/decidim/organization_spec.rb
Labels: module: core, backport, type: fix

#13176 Fix rubocop offense `Style/MapIntoArray`
  decidim-admin/lib/decidim/admin/import/creator.rb
  decidim-conferences/spec/commands/create_conference_speaker_spec.rb
  decidim-conferences/spec/commands/create_registration_type_spec.rb
  decidim-conferences/spec/commands/update_conference_speaker_spec.rb
  decidim-conferences/spec/commands/update_registration_type_spec.rb
  decidim-core/app/helpers/decidim/messaging/conversation_helper.rb
  decidim-dev/config/rubocop/disabled.yml
  decidim-proposals/spec/commands/decidim/proposals/admin/publish_participatory_text_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/update_participatory_text_spec.rb
  decidim-sortitions/app/helpers/decidim/sortitions/sortitions_helper.rb
  decidim-surveys/spec/serializers/decidim/surveys/data_importer_spec.rb
Labels: module: proposals, module: core, module: admin, module: surveys, module: dev, module: sortitions, module: conferences, type: internal

#13183 Revert Chrome overrides
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara.rb
Labels: module: dev, type: internal

#13192 Bump to v0.29.0.rc3 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: internal, module: design

#13052 Loosen the dependencies on the `decidim-dev` gem
  Gemfile.lock
  decidim-dev/decidim-dev.gemspec
  decidim-dev/lib/tasks/lighthouse_report.rake
  decidim-dev/spec/factories.rb
  decidim-generators/Gemfile.lock
Labels: target: developer-experience, dependencies, module: dev, module: generators, type: change

#13181 Fix rubocop offense `Style/SuperArguments`
  decidim-admin/app/forms/decidim/admin/newsletter_form.rb
  decidim-admin/app/helpers/decidim/admin/search_form_helper.rb
  decidim-admin/lib/decidim/admin/search_form_builder.rb
  decidim-budgets/app/commands/decidim/budgets/admin/update_project.rb
  decidim-core/app/controllers/decidim/devise/registrations_controller.rb
  decidim-core/app/helpers/decidim/application_helper.rb
  decidim-core/app/helpers/decidim/cache_helper.rb
  decidim-core/lib/decidim/coauthorable.rb
  decidim-dev/config/rubocop/disabled.yml
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_form.rb
Labels: module: proposals, module: core, module: budgets, module: admin, module: dev, type: internal

#13128 Send welcome notifications for omniauth users
  decidim-core/app/commands/decidim/create_omniauth_registration.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  decidim-core/spec/system/authentication_spec.rb
Labels: module: core, type: fix

#13194 Map the redis port for the test app actions
  .github/workflows/test_app.yml
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara.rb
Labels: module: dev, type: internal, configuration

#13117 Allow admin tags in meeting minutes
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_minutes.html.erb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
  decidim-meetings/spec/system/user_close_meeting_spec.rb
Labels: module: meetings, type: fix

#13199 Fix deprecation warnings from SASS
  decidim-core/app/packs/stylesheets/decidim/_dropdown.scss
  decidim-core/app/packs/stylesheets/decidim/_forms.scss
  decidim-core/app/packs/stylesheets/decidim/_tooltip.scss
Labels: module: core, type: internal

#13191 Upgrade paper_trail from 12.3 to 15.1
  Gemfile.lock
  decidim-accountability/spec/services/decidim/accountability/diff_renderer_spec.rb
  decidim-core/app/presenters/decidim/log/value_types/date_presenter.rb
  decidim-core/db/migrate/20240722215500_change_object_changes_on_versions.rb
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim-meetings/spec/services/decidim/meetings/diff_renderer_spec.rb
Labels: module: core, module: meetings, module: accountability, dependencies, module: generators, type: internal

#13171 Bump ruby from 3.2.2 to 3.3.4
  .github/workflows/brakeman.yml
  .github/workflows/build_app.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/ci_production_check.yml
  .github/workflows/lint_code.yml
  .github/workflows/test_app.yml
  .gitpod.Dockerfile
  .ruby-version
  Gemfile.lock
  decidim-accountability/decidim-accountability.gemspec
  decidim-admin/decidim-admin.gemspec
  decidim-api/decidim-api.gemspec
  decidim-assemblies/decidim-assemblies.gemspec
  decidim-blogs/decidim-blogs.gemspec
  decidim-budgets/decidim-budgets.gemspec
  decidim-comments/decidim-comments.gemspec
  decidim-conferences/app/helpers/decidim/conferences/conference_program_helper.rb
  decidim-conferences/decidim-conferences.gemspec
  decidim-core/decidim-core.gemspec
  decidim-debates/decidim-debates.gemspec
  decidim-design/decidim-design.gemspec
  decidim-dev/config/rubocop/ruby.yml
  decidim-dev/decidim-dev.gemspec
  decidim-forms/decidim-forms.gemspec
  decidim-generators/Gemfile.lock
  decidim-generators/decidim-generators.gemspec
  decidim-generators/lib/decidim/generators/app_templates/.ruby-version
  decidim-generators/lib/decidim/generators/component_templates/.ruby-version
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
  decidim-initiatives/decidim-initiatives.gemspec
  decidim-meetings/decidim-meetings.gemspec
  decidim-pages/decidim-pages.gemspec
  decidim-participatory_processes/decidim-participatory_processes.gemspec
  decidim-proposals/decidim-proposals.gemspec
  decidim-sortitions/decidim-sortitions.gemspec
  decidim-surveys/decidim-surveys.gemspec
  decidim-system/decidim-system.gemspec
  decidim-templates/decidim-templates.gemspec
  decidim-verifications/decidim-verifications.gemspec
  decidim.gemspec
Labels: module: core, module: budgets, module: comments, module: admin, module: accountability, module: debates, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: forms, module: api, module: conferences, type: change, configuration, module: design

#13206 Overwrite admin "Cell" -helper method
  decidim-admin/app/helpers/decidim/admin/application_helper.rb
Labels: module: admin, type: change

#13005 Allow proposal editing time to be in hours and days, not just minutes
  decidim-admin/app/helpers/decidim/admin/settings_helper.rb
  decidim-admin/app/packs/src/decidim/admin/proposal_infinite_edit.js
  decidim-core/lib/decidim/attributes.rb
  decidim-core/lib/decidim/attributes/integer_with_units.rb
  decidim-core/lib/decidim/settings_manifest.rb
  decidim-core/spec/lib/attributes/integer_with_units_spec.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/lib/decidim/proposals/component_spec.rb
  decidim-proposals/spec/system/proposal_editing_time_spec.rb
Labels: module: proposals, module: core, module: admin, dependencies, javascript, type: change, contract: 2024-developments

#13022 Add notification to valuators when a proposal is assigned
  decidim-core/app/commands/decidim/update_notifications_settings.rb
  decidim-core/app/forms/decidim/notifications_settings_form.rb
  decidim-core/app/views/decidim/notifications_settings/show.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/commands/decidim/update_notifications_settings_spec.rb
  decidim-core/spec/forms/notifications_settings_form_spec.rb
  decidim-core/spec/system/account_spec.rb
  decidim-proposals/app/commands/decidim/proposals/admin/assign_proposals_to_valuator.rb
  decidim-proposals/app/events/decidim/proposals/admin/proposal_assigned_to_valuator_event.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/db/migrate/20240617091140_add_email_on_assigned_proposals_to_users.rb
Labels: module: proposals, module: core, module: admin, type: feature, module: accountability, dependencies, configuration, contract: 2024-developments

#13214 Fix fat footer disposition in large resolution
  decidim-core/app/packs/stylesheets/decidim/_footer.scss
  decidim-core/app/views/layouts/decidim/footer/_main.html.erb
Labels: module: core, type: fix

#13216 Fix details in filters' elements
  decidim-core/app/packs/stylesheets/decidim/_filters.scss
Labels: module: core, type: fix

#13217 Preserve filters when changing the view mode
  decidim-proposals/app/helpers/decidim/proposals/proposals_helper.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposals.html.erb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: module: proposals, type: fix

#13200 Pin wkhtmltopdf-binary to v0.12.6.6
  Gemfile.lock
  decidim-conferences/decidim-conferences.gemspec
  decidim-forms/decidim-forms.gemspec
  decidim-generators/Gemfile.lock
  decidim-initiatives/decidim-initiatives.gemspec
Labels: dependencies, module: generators, module: forms, module: conferences, module: initiatives, type: fix

#13219 Show custom proposal states in grid view mode
  decidim-proposals/app/cells/decidim/proposals/proposal_g/show.erb
  decidim-proposals/app/cells/decidim/proposals/proposal_g_cell.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_g_cell_spec.rb
Labels: module: proposals, type: fix

#13204 Fix malformed URL in version control page
  decidim-accountability/app/views/decidim/accountability/versions/show.html.erb
  decidim-accountability/spec/system/explore_versions_spec.rb
  decidim-core/app/cells/decidim/version_cell.rb
  decidim-debates/app/views/decidim/debates/versions/show.html.erb
  decidim-debates/spec/system/debates_versions_spec.rb
  decidim-initiatives/app/views/decidim/initiatives/versions/show.html.erb
  decidim-initiatives/spec/system/initiatives_versions_spec.rb
  decidim-meetings/app/views/decidim/meetings/versions/show.html.erb
  decidim-meetings/spec/system/explore_versions_spec.rb
  decidim-proposals/app/views/decidim/proposals/versions/show.html.erb
  decidim-proposals/spec/system/collaborative_drafts_versions_spec.rb
  decidim-proposals/spec/system/proposals_versions_spec.rb
Labels: type: fix, no-backport

#13222 Backport 'Show custom proposal states in grid view mode' to v0.29
  decidim-proposals/app/cells/decidim/proposals/proposal_g/show.erb
  decidim-proposals/app/cells/decidim/proposals/proposal_g_cell.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_g_cell_spec.rb
Labels: module: proposals, backport, type: fix

#13223 Backport 'Preserve filters when changing the view mode' to v0.29
  decidim-proposals/app/helpers/decidim/proposals/proposals_helper.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposals.html.erb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: module: proposals, backport, type: fix

#13224 Backport 'Fix details in filters' elements' to v0.29
  decidim-core/app/packs/stylesheets/decidim/_filters.scss
Labels: module: core, backport, type: fix

#13225 Backport 'Fix fat footer disposition in large resolution' to v0.29
  decidim-core/app/packs/stylesheets/decidim/_footer.scss
  decidim-core/app/views/layouts/decidim/footer/_main.html.erb
Labels: module: core, backport, type: fix

#13226 Backport 'Pin wkhtmltopdf-binary to v0.12.6.6' to v0.29
  Gemfile.lock
  decidim-conferences/decidim-conferences.gemspec
  decidim-forms/decidim-forms.gemspec
  decidim-generators/Gemfile.lock
  decidim-initiatives/decidim-initiatives.gemspec
Labels: backport, dependencies, module: generators, module: forms, module: conferences, module: initiatives, type: fix

#13231 Backport 'Allow admin tags in meeting minutes' to v0.29
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_minutes.html.erb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
  decidim-meetings/spec/system/user_close_meeting_spec.rb
Labels: module: meetings, backport, type: fix

#13232 Backport 'Prevent cached signed global IDs from expiring' to v0.28
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/models/decidim/organization_spec.rb
Labels: module: core, backport, type: fix

#13233 Backport 'Fix clickable area in dropdowns' to v0.28
  decidim-accountability/app/views/decidim/accountability/admin/results/index.html.erb
  decidim-admin/app/views/decidim/admin/components/index.html.erb
  decidim-admin/app/views/decidim/admin/exports/_dropdown.html.erb
  decidim-admin/app/views/decidim/admin/imports/_dropdown.html.erb
  decidim-admin/app/views/decidim/admin/imports/new.html.erb
  decidim-admin/spec/helpers/exports_helper_spec.rb
  decidim-admin/spec/helpers/imports_helper_spec.rb
  decidim-budgets/app/views/decidim/budgets/admin/projects/_bulk-actions.html.erb
  decidim-conferences/app/views/decidim/conferences/admin/conference_registrations/index.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/exports/_dropdown.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/registrations/edit.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_bulk-actions.html.erb
Labels: module: proposals, module: meetings, module: budgets, module: admin, target: developer-experience, backport, module: accountability, module: conferences, module: initiatives, type: fix

#13154 Pagination and search on conflicts page
  decidim-admin/app/controllers/concerns/decidim/admin/verification_conflicts/filterable.rb
  decidim-admin/app/controllers/decidim/admin/conflicts_controller.rb
  decidim-admin/app/views/decidim/admin/conflicts/index.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/system/admin_checks_conflicts_spec.rb
Labels: module: admin, type: fix

#13229 Set correct method for `secret_key_base`
  decidim-core/app/forms/decidim/omniauth_registration_form.rb
  decidim-core/lib/decidim/attribute_encryptor.rb
  decidim-core/lib/decidim/newsletter_encryptor.rb
  decidim-core/lib/decidim/paddable.rb
  decidim-core/spec/lib/paddable_spec.rb
  decidim-forms/db/migrate/20190315203056_add_session_token_to_decidim_forms_answers.rb
  decidim-initiatives/app/forms/decidim/initiatives/vote_form.rb
  decidim-initiatives/app/services/decidim/initiatives/data_encryptor.rb
  decidim-system/app/cells/decidim/system/system_checks_cell.rb
  decidim-system/app/forms/decidim/system/base_organization_form.rb
  decidim-verifications/app/forms/decidim/verifications/sms/mobile_phone_form.rb
Labels: module: core, module: system, module: verifications, module: forms, module: initiatives, type: internal

#13234 Backport 'Implements 7zip as a CLI wrapper' to v0.28
  Gemfile.lock
  RELEASE_NOTES.md
  decidim-core/app/services/decidim/download_your_data_exporter.rb
  decidim-core/app/services/decidim/zip_stream/writer.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/seven_zip_wrapper.rb
  decidim-core/spec/services/decidim/download_your_data_exporter_spec.rb
  decidim-core/spec/services/decidim/zip_stream/zip_stream_writer_spec.rb
  decidim-elections/app/services/decidim/votings/census/access_codes_exporter.rb
  decidim-elections/spec/services/decidim/votings/census/access_codes_exporter_spec.rb
  decidim-generators/Gemfile.lock
  docs/modules/install/pages/manual.adoc
Labels: team: documentation, module: core, backport, dependencies, module: elections, module: generators, type: fix, configuration

#13239 Backport 'Pagination and search on conflicts page' to v0.29
  decidim-admin/app/controllers/concerns/decidim/admin/verification_conflicts/filterable.rb
  decidim-admin/app/controllers/decidim/admin/conflicts_controller.rb
  decidim-admin/app/views/decidim/admin/conflicts/index.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/system/admin_checks_conflicts_spec.rb
Labels: module: admin, backport, type: fix

#13240 Backport 'Send welcome notifications for omniauth users' to v0.28
  decidim-core/app/commands/decidim/create_omniauth_registration.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  decidim-core/spec/system/authentication_spec.rb
Labels: module: core, backport, type: fix

#13238 Add overwrite parameter to upload-artifact
  .github/workflows/test_app.yml
Labels: type: internal, configuration

#13242 Backport 'Pagination and search on conflicts page' to v0.28
  decidim-admin/app/controllers/concerns/decidim/admin/verification_conflicts/filterable.rb
  decidim-admin/app/controllers/decidim/admin/conflicts_controller.rb
  decidim-admin/app/views/decidim/admin/conflicts/index.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/system/admin_checks_conflicts_spec.rb
Labels: module: admin, backport, type: fix

#13241 Backport 'Allow admin tags in meeting minutes' to v0.28
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_minutes.html.erb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
  decidim-meetings/spec/system/user_close_meeting_spec.rb
Labels: module: meetings, backport, type: fix

#13236 Add exception handling when the versioned model does not exists
  decidim-core/db/migrate/20240722215500_change_object_changes_on_versions.rb
Labels: module: core, type: fix, no-backport

#13244 Bump to v0.29.0.rc4 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: internal, module: design

#13243 Bump to v0.27.8 version
  .decidim-version
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-consultations/lib/decidim/consultations/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  decidim_app-design/Gemfile.lock
  decidim_app-design/package-lock.json
  decidim_app-design/packages/browserslist-config/package.json
  decidim_app-design/packages/core/package.json
  decidim_app-design/packages/dev/package.json
  decidim_app-design/packages/elections/package.json
  decidim_app-design/packages/eslint-config/package.json
  decidim_app-design/packages/stylelint-config/package.json
  decidim_app-design/packages/webpacker/package.json
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: elections, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: consultations, module: initiatives, module: templates, type: internal

#13261 Backport 'Overwrite admin "Cell" -helper method' to v0.29
  decidim-admin/app/helpers/decidim/admin/application_helper.rb
Labels: module: admin, backport, type: fix

#13235 Add spring as dependency
  Gemfile
  Gemfile.lock
  RELEASE_NOTES.md
  decidim-dev/decidim-dev.gemspec
  decidim-generators/Gemfile
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  lib/decidim/gem_manager.rb
Labels: dependencies, module: dev, module: generators, type: fix

#13210 Remove pagination configuration initializer
  decidim-admin/README.md
  decidim-admin/app/controllers/concerns/decidim/admin/filterable.rb
  decidim-admin/app/controllers/concerns/decidim/admin/paginable.rb
  decidim-admin/app/controllers/decidim/admin/application_controller.rb
  decidim-admin/app/helpers/decidim/admin/paginable/per_page_helper.rb
  decidim-admin/lib/decidim/admin.rb
  decidim-admin/lib/decidim/admin/test/manage_paginated_collection_examples.rb
  decidim-admin/spec/system/admin_manages_global_moderations_spec.rb
  decidim-admin/spec/system/participatory_space_private_user_spec.rb
  decidim-admin/spec/system/space_admin_manages_global_moderations_spec.rb
  decidim-admin/spec/system/space_moderator_manages_global_moderations_spec.rb
  decidim-assemblies/spec/shared/manage_assembly_members_examples.rb
  decidim-assemblies/spec/system/admin/assembly_moderator_manages_assembly_moderations_spec.rb
  decidim-blogs/spec/system/explore_posts_spec.rb
  decidim-comments/spec/system/admin_manages_comments_spec.rb
  decidim-conferences/spec/shared/manage_media_links_examples.rb
  decidim-conferences/spec/system/admin/conference_moderator_manages_conference_moderations_spec.rb
  decidim-core/app/controllers/concerns/decidim/paginable.rb
  decidim-core/lib/decidim/core/test/shared_examples/paginated_resource_examples.rb
  decidim-core/spec/system/last_activity_spec.rb
  decidim-core/spec/system/search_spec.rb
  decidim-initiatives/spec/system/admin/admin_manages_comments_spec.rb
  decidim-participatory_processes/spec/system/admin/process_moderator_manages_process_moderations_spec.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/proposal_states_controller.rb
  decidim-proposals/spec/system/admin/admin_manages_proposals_spec.rb
Labels: module: proposals, module: core, module: comments, module: admin, module: assemblies, module: blogs, module: participatory processes, module: conferences, module: initiatives, type: fix

#13265 Fix proposals' preview spacing
  decidim-proposals/app/views/decidim/proposals/proposals/preview.html.erb
Labels: module: proposals, type: fix
