Repository decidim/decidim, pull requests merged in 2024-12, with the labels that each got.

#13666 Fix meeting view when maps are disabled
  decidim-meetings/app/cells/decidim/meetings/dates_and_map/show.erb
  decidim-meetings/app/cells/decidim/meetings/dates_and_map_cell.rb
  decidim-meetings/spec/system/meeting_spec.rb
Labels: module: meetings, type: fix

#13708 Add proposals geocoding to seeds
  decidim-proposals/lib/decidim/proposals/seeds.rb
Labels: type: internal

#13710 Bump graphql-docs from v4.0 to v5.0
  Gemfile.lock
  decidim-api/decidim-api.gemspec
  decidim-generators/Gemfile.lock
Labels: dependencies, type: internal

#13697 Icons in some Admin dashboard areas are misaligned
  decidim-admin/app/packs/stylesheets/decidim/admin/_moderations.scss
  decidim-initiatives/app/packs/entrypoints/decidim_initiatives_admin.js
  decidim-initiatives/app/packs/entrypoints/decidim_initiatives_admin.scss
  decidim-initiatives/app/packs/stylesheets/decidim/initiatives/admin/initiatives.scss
  decidim-initiatives/app/views/decidim/initiatives/admin/committee_requests/index.html.erb
Labels: module: admin, module: initiatives, type: fix

#13715 Fix calendar failing specs
  decidim-core/spec/system/date_picker/date_picker_spec.rb
Labels: module: core, type: fix, release: v0.29

#13712 Remove empty files
  decidim-assemblies/app/packs/src/decidim/assemblies/orgchart.js
  decidim-core/app/cells/decidim/amendable/amenders_list/show.erb
  decidim-core/app/cells/decidim/card_l/extra_data.erb
  decidim-core/app/cells/decidim/content_blocks/base/content.erb
  decidim-core/app/packs/src/decidim/decidim_application.js
  decidim-core/app/views/decidim/account/_user_groups.html.erb
  decidim-core/app/views/decidim/shared/_comments.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_linked_initiatives.html.erb
Labels: type: internal

#13691 Migrate initiative signatures to HexaPDF
  decidim-core/lib/decidim/exporters/pdf.rb
  decidim-forms/lib/decidim/exporters/form_pdf.rb
  decidim-initiatives/app/cells/decidim/initiatives_votes/vote/show.erb
  decidim-initiatives/app/cells/decidim/initiatives_votes/vote_cell.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/initiatives_controller.rb
  decidim-initiatives/app/packs/entrypoints/decidim_initiatives_initiatives_votes.js
  decidim-initiatives/app/packs/entrypoints/decidim_initiatives_initiatives_votes.scss
  decidim-initiatives/app/packs/stylesheets/decidim/initiatives/initiatives-votes.scss
  decidim-initiatives/app/services/decidim/initiatives/pdf_signature_example.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/_signatures.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/export_pdf_signatures.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/export_pdf_signatures.pdf.erb
  decidim-initiatives/app/views/layouts/decidim/admin/initiatives_votes.pdf.erb
  decidim-initiatives/config/assets.rb
  decidim-initiatives/lib/decidim/exporters/initiative_votes_pdf.rb
  decidim-initiatives/lib/decidim/initiatives.rb
  decidim-initiatives/spec/cells/decidim/initiatives_votes/vote_cell_spec.rb
  decidim-initiatives/spec/system/admin/export_initiative_signatures_spec.rb
Labels: criticality: high, type: change

#13690 Add script to fix faulty migrations
  RELEASE_NOTES.md
  decidim-core/lib/tasks/decidim_tasks.rake
  decidim-core/lib/tasks/upgrade/migrations.rake
  decidim-proposals/db/migrate/20240110203504_create_default_proposal_states.rb
Labels: type: fix, no-backport

#13709 Add Metrics to open data zip file
  decidim-core/app/serializers/decidim/exporters/open_data_metric_serializer.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/serializers/decidim/exporters/open_data_metric_serializer_spec.rb
  decidim-core/spec/services/decidim/open_data_exporter_spec.rb
Labels: type: feature, contract: 2024-flatfiles

#13724 Fix flaky spec on bulk change taxonomies
  decidim-budgets/spec/system/admin_manages_projects_spec.rb
Labels: flaky spec, type: internal, no-backport

#13662 Implement nested assemblies navigation
  Gemfile.lock
  decidim-admin/app/packs/stylesheets/decidim/admin/_table-list.scss
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assemblies_controller.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_copies_controller.rb
  decidim-assemblies/app/helpers/decidim/assemblies/admin/assemblies_helper.rb
  decidim-assemblies/app/packs/entrypoints/decidim_assemblies_admin_list.js
  decidim-assemblies/app/packs/src/decidim/assemblies/admin/assemblies_list.js
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/_assembly_row.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/_form.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/index.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/index.js.erb
  decidim-assemblies/config/assets.rb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/shared/manage_assemblies_examples.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_spec.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_with_parent_selector_spec.rb
  decidim-assemblies/spec/system/admin/assembly_admin_accesses_admin_sections_spec.rb
Labels: type: feature, contract: 2024-developments

#13521 Add attachments to debate
  decidim-ai/spec/event_handlers/debates/user_creates_debate_spec.rb
  decidim-debates/app/commands/decidim/debates/admin/create_debate.rb
  decidim-debates/app/commands/decidim/debates/admin/update_debate.rb
  decidim-debates/app/commands/decidim/debates/create_debate.rb
  decidim-debates/app/commands/decidim/debates/update_debate.rb
  decidim-debates/app/controllers/decidim/debates/admin/debates_controller.rb
  decidim-debates/app/controllers/decidim/debates/debates_controller.rb
  decidim-debates/app/forms/decidim/debates/admin/debate_form.rb
  decidim-debates/app/forms/decidim/debates/debate_form.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/app/views/decidim/debates/admin/debates/_form.html.erb
  decidim-debates/app/views/decidim/debates/debates/_form.html.erb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-debates/config/locales/en.yml
  decidim-debates/lib/decidim/debates/component.rb
  decidim-debates/spec/commands/decidim/debates/admin/create_debate_spec.rb
  decidim-debates/spec/commands/decidim/debates/admin/update_debate_spec.rb
  decidim-debates/spec/commands/decidim/debates/create_debate_spec.rb
  decidim-debates/spec/commands/decidim/debates/update_debate_spec.rb
  decidim-debates/spec/forms/decidim/debates/admin/debate_form_spec.rb
  decidim-debates/spec/forms/decidim/debates/attachment_form_spec.rb
  decidim-debates/spec/forms/decidim/debates/debate_form_spec.rb
  decidim-debates/spec/shared/manage_debates_examples.rb
  decidim-debates/spec/system/user_creates_debate_spec.rb
  decidim-debates/spec/system/user_edits_debate_spec.rb
Labels: type: change, contract: 2024-developments

#13726 Add new PR labeler
  .github/autolabeler.yml
  .github/labeler.yml
  .github/workflows/add_pr_labels.yml
Labels: type: fix, configuration

#13698 Update open data exports for Debates
  decidim-debates/config/locales/en.yml
  decidim-debates/lib/decidim/debates/debate_serializer.rb
  decidim-debates/spec/lib/decidim/debates/debate_serializer_spec.rb
Labels: module: debates, type: change, contract: 2024-flatfiles

#13701 Optimize the proposals loading performance
  decidim-core/app/cells/decidim/activity_cell.rb
  decidim-core/app/cells/decidim/author/show.erb
  decidim-core/app/cells/decidim/author_cell.rb
  decidim-core/app/controllers/decidim/profiles_controller.rb
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/src/decidim/remote_tooltips.js
  decidim-core/config/routes.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-core/spec/cells/decidim/activity_cell_spec.rb
  decidim-core/spec/system/last_activity_spec.rb
  decidim-core/spec/system/user_activity_spec.rb
  decidim-design/app/helpers/decidim/design/author_helper.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_g_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_l_cell.rb
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_l_cell_spec.rb
Labels: module: proposals, javascript, type: fix

#13736 Adjust PR Labels workflow
  .github/workflows/add_pr_labels.yml
Labels: type: fix, configuration, no-backport

#13705 Improve design of "Related Documents" section
  decidim-core/app/packs/stylesheets/decidim/_participatory_spaces.scss
  decidim-core/app/views/decidim/application/_collection.html.erb
  decidim-core/config/locales/en.yml
Labels: module: core, type: feature, type: change

#13741 Clarify license identificator (AGPL-3.0-or-later)
  decidim-accountability/decidim-accountability.gemspec
  decidim-admin/decidim-admin.gemspec
  decidim-ai/decidim-ai.gemspec
  decidim-api/decidim-api.gemspec
  decidim-assemblies/decidim-assemblies.gemspec
  decidim-blogs/decidim-blogs.gemspec
  decidim-budgets/decidim-budgets.gemspec
  decidim-comments/decidim-comments.gemspec
  decidim-conferences/decidim-conferences.gemspec
  decidim-core/decidim-core.gemspec
  decidim-debates/decidim-debates.gemspec
  decidim-design/decidim-design.gemspec
  decidim-dev/decidim-dev.gemspec
  decidim-forms/decidim-forms.gemspec
  decidim-generators/decidim-generators.gemspec
  decidim-generators/lib/decidim/generators/component_templates/decidim-component.gemspec.erb
  decidim-generators/lib/decidim/generators/component_templates/package.json.erb
  decidim-generators/spec/runtime/component_generator_spec.rb
  decidim-generators/spec/runtime/path_flag_spec.rb
  decidim-initiatives/decidim-initiatives.gemspec
  decidim-meetings/decidim-meetings.gemspec
  decidim-pages/decidim-pages.gemspec
  decidim-participatory_processes/decidim-participatory_processes.gemspec
  decidim-proposals/decidim-proposals.gemspec
  decidim-sortitions/decidim-sortitions.gemspec
  decidim-surveys/decidim-surveys.gemspec
  decidim-system/decidim-system.gemspec
  decidim-templates/decidim-templates.gemspec
  decidim-verifications/decidim-verifications.gemspec
  decidim.gemspec
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: fix, module: design, module: ai

#13742 Backport 'Hide the public export for proposals' votes' to v0.29
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_serializer_spec.rb
Labels: module: proposals, backport, type: fix, release: v0.28, contract: 2024-flatfiles, release: v0.29

#13271 Update etiquette validator, config for disabling etiquette validator
  decidim-core/app/validators/etiquette_validator.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/spec/validators/etiquette_validator_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-proposals/spec/system/edit_collaborative_draft_spec.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
  docs/modules/configure/pages/environment_variables.adoc
  docs/modules/configure/pages/initializer.adoc
Labels: team: documentation, module: core, module: generators, type: change

#13747 Backport 'Clarify license identificator (AGPL-3.0-or-later)' to v0.29
  decidim-accountability/decidim-accountability.gemspec
  decidim-admin/decidim-admin.gemspec
  decidim-api/decidim-api.gemspec
  decidim-assemblies/decidim-assemblies.gemspec
  decidim-blogs/decidim-blogs.gemspec
  decidim-budgets/decidim-budgets.gemspec
  decidim-comments/decidim-comments.gemspec
  decidim-conferences/decidim-conferences.gemspec
  decidim-core/decidim-core.gemspec
  decidim-debates/decidim-debates.gemspec
  decidim-design/decidim-design.gemspec
  decidim-dev/decidim-dev.gemspec
  decidim-forms/decidim-forms.gemspec
  decidim-generators/decidim-generators.gemspec
  decidim-generators/lib/decidim/generators/component_templates/decidim-component.gemspec.erb
  decidim-generators/lib/decidim/generators/component_templates/package.json.erb
  decidim-generators/spec/runtime/component_generator_spec.rb
  decidim-generators/spec/runtime/path_flag_spec.rb
  decidim-initiatives/decidim-initiatives.gemspec
  decidim-meetings/decidim-meetings.gemspec
  decidim-pages/decidim-pages.gemspec
  decidim-participatory_processes/decidim-participatory_processes.gemspec
  decidim-proposals/decidim-proposals.gemspec
  decidim-sortitions/decidim-sortitions.gemspec
  decidim-surveys/decidim-surveys.gemspec
  decidim-system/decidim-system.gemspec
  decidim-templates/decidim-templates.gemspec
  decidim-verifications/decidim-verifications.gemspec
  decidim.gemspec
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, backport, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: fix, module: design, module: ai

#13744 Backport 'Optimize the proposals loading performance' to v0.29
  decidim-core/app/cells/decidim/activity_cell.rb
  decidim-core/app/cells/decidim/author/show.erb
  decidim-core/app/cells/decidim/author_cell.rb
  decidim-core/app/controllers/decidim/profiles_controller.rb
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/src/decidim/remote_tooltips.js
  decidim-core/config/routes.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-core/spec/cells/decidim/activity_cell_spec.rb
  decidim-core/spec/system/last_activity_spec.rb
  decidim-core/spec/system/user_activity_spec.rb
  decidim-design/app/helpers/decidim/design/author_helper.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_g_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_l_cell.rb
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_l_cell_spec.rb
Labels: module: proposals, module: core, backport, type: fix, module: design, release: v0.29

#13750 Backport 'Fix conference attendence diploma rendering' to v0.28
  decidim-conferences/app/mailers/decidim/conferences/admin/send_conference_diploma_mailer.rb
  decidim-conferences/app/views/decidim/conferences/admin/send_conference_diploma_mailer/diploma_user.html.erb
  decidim-conferences/app/views/layouts/decidim/diploma.html.erb
  decidim-conferences/spec/commands/send_conferences_diplomas_spec.rb
  decidim-conferences/spec/mailers/decidim/conferences/admin/send_conference_diploma_mailer_spec.rb
  decidim-core/app/packs/stylesheets/decidim/legacy/conference-diploma.scss
Labels: backport, module: conferences, type: fix, release: v0.28, release: v0.29

#13746 Backport 'Clarify license identificator (AGPL-3.0-or-later)' to v0.28
  decidim-accountability/decidim-accountability.gemspec
  decidim-admin/decidim-admin.gemspec
  decidim-api/decidim-api.gemspec
  decidim-assemblies/decidim-assemblies.gemspec
  decidim-blogs/decidim-blogs.gemspec
  decidim-budgets/decidim-budgets.gemspec
  decidim-comments/decidim-comments.gemspec
  decidim-conferences/decidim-conferences.gemspec
  decidim-core/decidim-core.gemspec
  decidim-debates/decidim-debates.gemspec
  decidim-design/decidim-design.gemspec
  decidim-dev/decidim-dev.gemspec
  decidim-forms/decidim-forms.gemspec
  decidim-generators/decidim-generators.gemspec
  decidim-generators/lib/decidim/generators/component_templates/decidim-component.gemspec.erb
  decidim-generators/lib/decidim/generators/component_templates/package.json.erb
  decidim-generators/spec/runtime/component_generator_spec.rb
  decidim-generators/spec/runtime/path_flag_spec.rb
  decidim-initiatives/decidim-initiatives.gemspec
  decidim-meetings/decidim-meetings.gemspec
  decidim-pages/decidim-pages.gemspec
  decidim-participatory_processes/decidim-participatory_processes.gemspec
  decidim-proposals/decidim-proposals.gemspec
  decidim-sortitions/decidim-sortitions.gemspec
  decidim-surveys/decidim-surveys.gemspec
  decidim-system/decidim-system.gemspec
  decidim-templates/decidim-templates.gemspec
  decidim-verifications/decidim-verifications.gemspec
  decidim.gemspec
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, backport, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: fix, module: design, module: ai

#13745 Backport 'Optimize the proposals loading performance' to v0.28
  decidim-core/app/cells/decidim/activity_cell.rb
  decidim-core/app/cells/decidim/author/show.erb
  decidim-core/app/cells/decidim/author_cell.rb
  decidim-core/app/controllers/decidim/profiles_controller.rb
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/src/decidim/remote_tooltips.js
  decidim-core/config/routes.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-core/spec/cells/decidim/activity_cell_spec.rb
  decidim-core/spec/system/last_activity_spec.rb
  decidim-core/spec/system/user_activity_spec.rb
  decidim-design/app/helpers/decidim/design/author_helper.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_l_cell.rb
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_l_cell_spec.rb
Labels: module: proposals, module: core, backport, type: fix, module: design, release: v0.29

#13749 Backport 'Fix conference attendence diploma rendering' to v0.29
  decidim-conferences/app/mailers/decidim/conferences/admin/send_conference_diploma_mailer.rb
  decidim-conferences/app/views/decidim/conferences/admin/send_conference_diploma_mailer/diploma_user.html.erb
  decidim-conferences/app/views/layouts/decidim/diploma.html.erb
  decidim-conferences/spec/commands/send_conferences_diplomas_spec.rb
  decidim-conferences/spec/mailers/decidim/conferences/admin/send_conference_diploma_mailer_spec.rb
  decidim-core/app/packs/stylesheets/decidim/legacy/conference-diploma.scss
Labels: backport, module: conferences, type: fix, release: v0.28, release: v0.29

#13751 Backport 'Profile tooltip expansion on mobile' to v0.29
  .github/actions/spelling/expect.txt
  decidim-core/app/packs/src/decidim/toggle.js
  decidim-core/app/packs/src/decidim/tooltips.js
Labels: module: core, backport, javascript, type: fix, release: v0.29

#13756 Backport 'OpenData Export breaks when handling deleted users' to v0.29
  decidim-meetings/lib/decidim/meetings/meeting_serializer.rb
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
Labels: module: proposals, backport, module: debates, type: fix, release: v0.29

#13755 Backport 'Profile tooltip expansion on mobile' to v0.28
  decidim-core/app/packs/src/decidim/toggle.js
  decidim-core/app/packs/src/decidim/tooltips.js
Labels: module: core, backport, javascript, type: fix, release: v0.29

#13752 Backport 'Fix the Diff Render output' to v0.29
  decidim-accountability/spec/services/decidim/accountability/diff_renderer_spec.rb
  decidim-core/app/cells/decidim/diff_cell.rb
  decidim-core/app/services/decidim/base_diff_renderer.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/diffy_extension.rb
  decidim-meetings/spec/services/decidim/meetings/diff_renderer_spec.rb
  decidim-proposals/app/services/decidim/proposals/collaborative_draft_diff_renderer.rb
  decidim-proposals/app/services/decidim/proposals/diff_renderer.rb
  decidim-proposals/spec/system/amendable/amendment_diff_spec.rb
  decidim-proposals/spec/system/proposals_versions_spec.rb
Labels: module: proposals, module: core, module: meetings, backport, module: accountability, type: fix, release: v0.29

#13757 Backport 'OpenData Export breaks when handling deleted users' to v0.28
  decidim-meetings/lib/decidim/meetings/meeting_serializer.rb
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
Labels: module: proposals, backport, module: debates, type: fix, release: v0.29

#13753 Backport 'Fix the Diff Render output' to v0.28
  decidim-accountability/spec/services/decidim/accountability/diff_renderer_spec.rb
  decidim-core/app/cells/decidim/diff_cell.rb
  decidim-core/app/services/decidim/base_diff_renderer.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/diffy_extension.rb
  decidim-core/spec/cells/decidim/diff_cell_spec.rb
  decidim-meetings/spec/services/decidim/meetings/diff_renderer_spec.rb
  decidim-proposals/app/services/decidim/proposals/collaborative_draft_diff_renderer.rb
  decidim-proposals/app/services/decidim/proposals/diff_renderer.rb
  decidim-proposals/spec/system/amendable/amendment_diff_spec.rb
  decidim-proposals/spec/system/proposals_versions_spec.rb
Labels: module: proposals, module: core, module: meetings, backport, module: accountability, type: fix, release: v0.29

#13754 Backport 'Fix meeting view when maps are disabled' to v0.28
  decidim-meetings/app/cells/decidim/meetings/dates_and_map/show.erb
  decidim-meetings/app/cells/decidim/meetings/dates_and_map_cell.rb
  decidim-meetings/spec/system/meeting_spec.rb
Labels: module: meetings, backport, type: fix, release: v0.28, release: v0.29

#13613 Update comments text box design
  decidim-comments/app/cells/decidim/comments/comment_form/comment_as.erb
  decidim-comments/app/cells/decidim/comments/comment_form/opinion.erb
  decidim-comments/app/cells/decidim/comments/comment_form/show.erb
  decidim-comments/app/cells/decidim/comments/comment_form_cell.rb
  decidim-comments/app/cells/decidim/comments/comments/add_comment.erb
  decidim-comments/app/cells/decidim/comments/comments/show.erb
  decidim-comments/app/cells/decidim/comments/comments_cell.rb
  decidim-comments/app/packs/entrypoints/decidim_comments.js
  decidim-comments/app/packs/src/decidim/comments/comments.component.js
  decidim-comments/app/packs/src/decidim/comments/comments_dropdown.js
  decidim-comments/app/packs/src/decidim/comments/comments_mobile_modal.js
  decidim-comments/app/packs/stylesheets/comments.scss
  decidim-comments/app/views/decidim/comments/comments/create.js.erb
  decidim-comments/config/locales/en.yml
  decidim-comments/spec/cells/decidim/comments/comment_form_spec.rb
  decidim-comments/spec/cells/decidim/comments/comments_cell_spec.rb
  decidim-core/app/cells/decidim/comments_button_cell.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: module: core, module: comments, type: feature, type: change, contract: 2024-developments

#13740 Hide the public export for Projects votes
  decidim-budgets/lib/decidim/budgets/project_serializer.rb
  decidim-budgets/spec/serializers/project_serializer_spec.rb
Labels: module: budgets, type: fix, release: v0.28, contract: 2024-flatfiles, release: v0.29

#13669 Import taxonomies from old models
  RELEASE_NOTES.md
  decidim-budgets/app/models/decidim/budgets/budget.rb
  decidim-budgets/spec/models/decidim/budgets/budget_spec.rb
  decidim-core/app/models/decidim/action_log.rb
  decidim-core/app/models/decidim/metric.rb
  decidim-core/app/models/decidim/taxonomy.rb
  decidim-core/app/models/decidim/taxonomy_filter.rb
  decidim-core/db/migrate/20241127093708_add_taxonomy_to_metrics.rb
  decidim-core/lib/decidim/has_taxonomy_settings.rb
  decidim-core/lib/decidim/maintenance.rb
  decidim-core/lib/decidim/maintenance/import_models.rb
  decidim-core/lib/decidim/maintenance/import_models/application_record.rb
  decidim-core/lib/decidim/maintenance/import_models/area.rb
  decidim-core/lib/decidim/maintenance/import_models/area_type.rb
  decidim-core/lib/decidim/maintenance/import_models/assembly_type.rb
  decidim-core/lib/decidim/maintenance/import_models/categorization.rb
  decidim-core/lib/decidim/maintenance/import_models/category.rb
  decidim-core/lib/decidim/maintenance/import_models/participatory_process_type.rb
  decidim-core/lib/decidim/maintenance/import_models/scope.rb
  decidim-core/lib/decidim/maintenance/taxonomy_importer.rb
  decidim-core/lib/decidim/maintenance/taxonomy_plan.rb
  decidim-core/lib/tasks/decidim_taxonomies.rake
  decidim-core/spec/lib/maintenance/import_models/area_spec.rb
  decidim-core/spec/lib/maintenance/import_models/assembly_type_spec.rb
  decidim-core/spec/lib/maintenance/import_models/category_spec.rb
  decidim-core/spec/lib/maintenance/import_models/participatory_process_type_spec.rb
  decidim-core/spec/lib/maintenance/import_models/scope_spec.rb
  decidim-core/spec/lib/maintenance/import_models/shared_examples.rb
  decidim-core/spec/lib/maintenance/taxonomy_importer_spec.rb
  decidim-core/spec/lib/maintenance/taxonomy_plan_spec.rb
  decidim-core/spec/models/decidim/action_log_spec.rb
  decidim-core/spec/tasks/decidim_tasks_taxonomies_spec.rb
  decidim-initiatives/app/models/decidim/initiatives_type_scope.rb
  decidim-initiatives/db/migrate/20241127104718_add_taxonomy_to_initiatives_type_scope.rb
  decidim-initiatives/lib/decidim/initiatives/test/factories.rb
  decidim-initiatives/spec/models/decidim/initiative_type_scope_spec.rb
  docs/modules/develop/assets/images/taxonomies.png
  docs/modules/develop/pages/taxonomies.adoc
Labels: team: documentation, module: core, module: budgets, type: feature, module: initiatives, type: change, contract: 2024-developments

#13675 Update open data exports for Budgets projects
  decidim-budgets/config/locales/en.yml
  decidim-budgets/lib/decidim/budgets/project_serializer.rb
  decidim-budgets/spec/serializers/project_serializer_spec.rb
Labels: module: budgets, type: change, contract: 2024-flatfiles

#13748 Add Blog posts to Open Data files
  decidim-blogs/config/locales/en.yml
  decidim-blogs/lib/decidim/blogs.rb
  decidim-blogs/lib/decidim/blogs/component.rb
  decidim-blogs/lib/decidim/blogs/post_serializer.rb
  decidim-blogs/spec/lib/decidim/blogs/post_serializer_spec.rb
  decidim-blogs/spec/services/decidim/open_data_exporter_spec.rb
Labels: type: feature, module: blogs, contract: 2024-flatfiles

#13680 Add recipient selection and preview for Newsletters
  decidim-admin/app/cells/decidim/admin/multi_select_picker/show.erb
  decidim-admin/app/cells/decidim/admin/multi_select_picker_cell.rb
  decidim-admin/app/controllers/decidim/admin/newsletters_controller.rb
  decidim-admin/app/forms/decidim/admin/selective_newsletter_form.rb
  decidim-admin/app/helpers/decidim/admin/newsletters_helper.rb
  decidim-admin/app/jobs/decidim/admin/newsletter_job.rb
  decidim-admin/app/packs/src/decidim/admin/newsletters.js
  decidim-admin/app/packs/stylesheets/decidim/admin/_select_picker.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/application.scss
  decidim-admin/app/queries/decidim/admin/newsletter_recipients.rb
  decidim-admin/app/views/decidim/admin/newsletters/confirm_recipients.html.erb
  decidim-admin/app/views/decidim/admin/newsletters/select_recipients_to_deliver.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/spec/cells/decidim/admin/multi_select_picker_cell_spec.rb
  decidim-admin/spec/commands/decidim/admin/deliver_newsletter_spec.rb
  decidim-admin/spec/controllers/newsletters_controller_spec.rb
  decidim-admin/spec/forms/selective_newsletter_form_spec.rb
  decidim-admin/spec/jobs/newsletter_job_spec.rb
  decidim-admin/spec/queries/newsletter_recipients_spec.rb
  decidim-admin/spec/system/admin_manages_newsletters_spec.rb
  decidim-core/app/models/decidim/newsletter.rb
  decidim-core/app/models/decidim/participatory_space_private_user.rb
Labels: module: core, module: admin, type: feature, contract: 2024-developments

#13764 Enable Sidekiq as default for development application
  .github/workflows/ci_performance_metrics_monitoring.yml
  decidim-core/lib/decidim/core/seeds.rb
  decidim-core/lib/tasks/decidim_procfile.rake
  decidim-dev/lib/tasks/generators.rake
  decidim-generators/lib/decidim/generators/app_generator.rb
Labels: module: core, module: dev, module: generators, type: internal, configuration

#13769 Fix translations
  decidim-accountability/spec/services/decidim/accountability/diff_renderer_spec.rb
  decidim-meetings/spec/services/decidim/meetings/diff_renderer_spec.rb
Labels: module: meetings, module: accountability, type: internal

#13766 Extract methods from conferences seeds
  decidim-conferences/lib/decidim/conferences/seeds.rb
Labels: module: conferences, type: internal

#13763 Fix flaky spec when changing the locale of the visitor
  decidim-admin/spec/system/admin_access_spec.rb
  decidim-core/spec/system/locales_spec.rb
Labels: module: core, module: admin, flaky spec, type: fix

#13711 Add documentation to "Download my data" page
  decidim-budgets/config/locales/en.yml
  decidim-budgets/spec/services/decidim/download_your_data_exporter_spec.rb
  decidim-comments/config/locales/en.yml
  decidim-comments/spec/services/decidim/download_your_data_exporter_spec.rb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/spec/services/decidim/download_your_data_exporter_spec.rb
  decidim-core/app/controllers/decidim/download_your_data_controller.rb
  decidim-core/app/packs/stylesheets/decidim/_accordion.scss
  decidim-core/app/packs/stylesheets/decidim/_open_data.scss
  decidim-core/app/packs/stylesheets/decidim/application.scss
  decidim-core/app/services/decidim/download_your_data_exporter.rb
  decidim-core/app/views/decidim/application/_accordion_section.html.erb
  decidim-core/app/views/decidim/download_your_data/_export.html.erb
  decidim-core/app/views/decidim/download_your_data/show.html.erb
  decidim-core/app/views/decidim/open_data/_how_to_open_accordion_section.html.erb
  decidim-core/app/views/decidim/open_data/_section.html.erb
  decidim-core/app/views/decidim/open_data/index.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test/shared_examples/download_your_data_shared_examples.rb
  decidim-core/lib/decidim/download_your_data_serializers.rb
  decidim-core/spec/services/decidim/download_your_data_exporter_spec.rb
  decidim-debates/spec/services/decidim/download_your_data_exporter_spec.rb
  decidim-forms/config/locales/en.yml
  decidim-forms/spec/services/decidim/download_your_data_exporter_spec.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/services/decidim/download_your_data_exporter_spec.rb
  decidim-proposals/spec/services/decidim/download_your_data_exporter_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, type: feature, module: debates, module: forms, module: conferences, contract: 2024-flatfiles

#13777 Fix flaky spec on budget projects bulk assignation
  decidim-budgets/spec/system/admin_manages_projects_spec.rb
Labels: module: budgets, flaky spec, type: fix, no-backport

#13678 Implement bulk actions for global moderations
  config/i18n-tasks.yml
  decidim-admin/app/commands/decidim/admin/bulk_action.rb
  decidim-admin/app/commands/decidim/admin/bulk_block_users.rb
  decidim-admin/app/commands/decidim/admin/bulk_unblock_users.rb
  decidim-admin/app/commands/decidim/admin/bulk_unreport_users.rb
  decidim-admin/app/commands/decidim/admin/hide_resource.rb
  decidim-admin/app/commands/decidim/admin/unhide_resource.rb
  decidim-admin/app/commands/decidim/admin/unreport_resource.rb
  decidim-admin/app/controllers/decidim/admin/block_user_controller.rb
  decidim-admin/app/controllers/decidim/admin/global_moderations_controller.rb
  decidim-admin/app/controllers/decidim/admin/moderated_users_controller.rb
  decidim-admin/app/controllers/decidim/admin/moderations_controller.rb
  decidim-admin/app/forms/decidim/admin/block_users_form.rb
  decidim-admin/app/packs/entrypoints/decidim_admin.js
  decidim-admin/app/packs/src/decidim/admin/global_moderations.js
  decidim-admin/app/packs/src/decidim/admin/managed_moderated_users.js
  decidim-admin/app/views/decidim/admin/block_user/bulk_new.html.erb
  decidim-admin/app/views/decidim/admin/moderated_users/_bulk-actions.html.erb
  decidim-admin/app/views/decidim/admin/moderated_users/bulk_actions/_block.html.erb
  decidim-admin/app/views/decidim/admin/moderated_users/bulk_actions/_dropdown.html.erb
  decidim-admin/app/views/decidim/admin/moderated_users/bulk_actions/_unblock.html.erb
  decidim-admin/app/views/decidim/admin/moderated_users/bulk_actions/_unreport.html.erb
  decidim-admin/app/views/decidim/admin/moderated_users/index.html.erb
  decidim-admin/app/views/decidim/admin/moderations/_bulk-actions.html.erb
  decidim-admin/app/views/decidim/admin/moderations/_moderation-tr.html.erb
  decidim-admin/app/views/decidim/admin/moderations/_moderations-thead.html.erb
  decidim-admin/app/views/decidim/admin/moderations/bulk_actions/_dropdown.html.erb
  decidim-admin/app/views/decidim/admin/moderations/bulk_actions/_hide.html.erb
  decidim-admin/app/views/decidim/admin/moderations/bulk_actions/_unhide.html.erb
  decidim-admin/app/views/decidim/admin/moderations/bulk_actions/_unreport.html.erb
  decidim-admin/app/views/decidim/admin/moderations/index.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/config/routes.rb
  decidim-admin/lib/decidim/admin/test/manage_hide_content_examples.rb
  decidim-admin/lib/decidim/admin/test/manage_moderations_examples.rb
  decidim-admin/spec/system/admin_manage_moderated_users_spec.rb
  decidim-admin/spec/system/admin_manages_global_moderations_spec.rb
  decidim-assemblies/lib/decidim/assemblies/admin_engine.rb
  decidim-blogs/config/locales/en.yml
  decidim-budgets/config/locales/en.yml
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-comments/config/locales/en.yml
  decidim-conferences/lib/decidim/conferences/admin_engine.rb
  decidim-core/app/models/decidim/moderation.rb
  decidim-core/app/presenters/decidim/admin_log/base_user_presenter.rb
  decidim-core/app/presenters/decidim/admin_log/moderation_presenter.rb
  decidim-core/app/presenters/decidim/admin_log/user_group_presenter.rb
  decidim-core/app/presenters/decidim/admin_log/user_presenter.rb
  decidim-core/app/services/decidim/traceability.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/moderation_tools.rb
  decidim-core/spec/presenters/decidim/admin_log/moderation_presenter_spec.rb
  decidim-core/spec/presenters/decidim/admin_log/user_presenter_spec.rb
  decidim-debates/config/locales/en.yml
  decidim-initiatives/lib/decidim/initiatives/admin_engine.rb
  decidim-meetings/config/locales/en.yml
  decidim-participatory_processes/lib/decidim/participatory_processes/admin_engine.rb
  decidim-proposals/config/locales/en.yml
  decidim-surveys/config/locales/en.yml
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: surveys, type: feature, module: debates, module: assemblies, module: blogs, module: participatory processes, module: conferences, module: initiatives, contract: 2024-developments

#13702 Update open data exports for Proposals
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_serializer_spec.rb
Labels: module: proposals, type: change, contract: 2024-flatfiles

#13779 Fix component draggable order in admin panel
  decidim-admin/app/views/decidim/admin/components/_components_table.html.erb
  decidim-assemblies/spec/shared/assembly_admin_manage_assembly_components_examples.rb
  decidim-assemblies/spec/shared/manage_assembly_components_examples.rb
  decidim-conferences/spec/shared/manage_conference_components_examples.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiative_components_spec.rb
  decidim-participatory_processes/spec/shared/manage_process_components_examples.rb
Labels: module: admin, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: fix, no-backport

#13615 Documentation: Add system article and updated screenshots
  docs/modules/configure/assets/images/system-dashboard.png
  docs/modules/configure/assets/images/system-log_in.png
  docs/modules/configure/pages/system.adoc
Labels: team: documentation, module: system, type: feature

#13349 Improve experience, usability giving proposals minimum votes number
  decidim-core/app/helpers/decidim/application_helper.rb
  decidim-core/app/views/layouts/decidim/shared/_layout_item.html.erb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/app/helpers/decidim/proposals/proposal_votes_helper.rb
  decidim-proposals/app/packs/entrypoints/decidim_proposals.js
  decidim-proposals/app/packs/src/decidim/proposals/exit_handler.js
  decidim-proposals/app/packs/stylesheets/decidim/proposals/proposals.scss
  decidim-proposals/app/views/decidim/proposals/admin/proposal_states/_form.html.erb
  decidim-proposals/app/views/decidim/proposals/proposal_votes/update_buttons_and_counters.js.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_exit_modal.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_notification_alert_box.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_voting_rules.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_remaining_votes_count.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_remaining_votes_notification.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_update_proposal_voting_rules.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_voting_rules.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/helpers/application_helper_spec.rb
  decidim-proposals/spec/helpers/proposal_votes_helper_spec.rb
  decidim-proposals/spec/system/vote_proposal_spec.rb
Labels: module: proposals, module: core, type: feature, javascript, contract: 2024-developments

#13585 Fix disordered columns in survey export
  decidim-forms/lib/decidim/forms/user_answers_serializer.rb
  decidim-forms/spec/serializers/decidim/forms/user_answers_serializer_spec.rb
Labels: module: forms, type: fix
