Repository decidim/decidim, pull requests merged in 2024-10, with the labels that each got.

#13393 Backport 'Fix issues with customized Omniauth callback handling' to v0.29
  decidim-core/app/controllers/concerns/decidim/devise_authentication_methods.rb
  decidim-core/app/helpers/decidim/layout_helper.rb
  decidim-core/app/views/decidim/devise/omniauth_registrations/new.html.erb
  decidim-core/app/views/layouts/decidim/_head.html.erb
  decidim-core/spec/models/decidim/omniauth_provider_spec.rb
  decidim-core/spec/models/decidim/organization_spec.rb
  decidim-dev/lib/decidim/dev.rb
  decidim-dev/lib/decidim/dev/auth_engine.rb
  decidim-dev/spec/requests/third_party_omniauth_callback_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-system/spec/system/organizations_spec.rb
Labels: module: core, module: system, backport, module: dev, module: generators, type: fix

#13394 Backport 'Fix issues with customized Omniauth callback handling' to v0.28
  decidim-core/app/controllers/concerns/decidim/devise_authentication_methods.rb
  decidim-core/app/helpers/decidim/layout_helper.rb
  decidim-core/app/views/decidim/devise/omniauth_registrations/new.html.erb
  decidim-core/app/views/layouts/decidim/_head.html.erb
  decidim-core/spec/models/decidim/omniauth_provider_spec.rb
  decidim-core/spec/models/decidim/organization_spec.rb
  decidim-dev/lib/decidim/dev.rb
  decidim-dev/lib/decidim/dev/auth_engine.rb
  decidim-dev/lib/decidim/dev/needs_development_tools.rb
  decidim-dev/spec/requests/third_party_omniauth_callback_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-system/spec/system/organizations_spec.rb
Labels: module: core, module: system, backport, module: dev, module: generators, type: fix

#13467 Backport 'Remove invalid upload files' to v0.28
  RELEASE_NOTES.md
  decidim-core/app/controllers/concerns/decidim/direct_upload.rb
  decidim-core/app/forms/decidim/upload_validation_form.rb
  decidim-core/app/packs/src/decidim/direct_uploads/upload_modal.js
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/organization_settings.rb
  decidim-core/lib/tasks/upgrade/decidim_attachments.rake
  decidim-core/spec/commands/decidim/validate_upload_spec.rb
  decidim-core/spec/controllers/active_storage/direct_uploads_controller_spec.rb
  decidim-core/spec/controllers/active_storage/disk_controller_spec.rb
  decidim-core/spec/lib/organization_settings_spec.rb
  decidim-dev/lib/decidim/dev/assets/invalid_extension.log
  decidim-dev/lib/decidim/dev/assets/odt_file_reported_as.pdf
  decidim-dev/lib/decidim/dev/test/rspec_support/attachment_helpers.rb
  decidim-forms/spec/commands/decidim/forms/answer_questionnaire_spec.rb
  decidim-initiatives/spec/commands/decidim/initiatives/update_initiative_spec.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
Labels: module: proposals, module: core, module: meetings, target: developer-experience, backport, javascript, module: dev, module: generators, module: forms, module: initiatives, type: fix, release: v0.29

#13443 Allow actions' jobs to be retriggered on first failing
  .github/workflows/test_app.yml
Labels: type: internal

#13483 Bump to v0.28.4 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: type: internal

#13484 Bump to v0.29.1 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: type: internal

#13482 Add Open Data page with explanations
  decidim-core/app/controllers/decidim/open_data_controller.rb
  decidim-core/app/packs/stylesheets/decidim/_open_data.scss
  decidim-core/app/packs/stylesheets/decidim/application.scss
  decidim-core/app/views/decidim/open_data/_section.html.erb
  decidim-core/app/views/decidim/open_data/index.html.erb
  decidim-core/app/views/layouts/decidim/footer/_main_links.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/lib/decidim/core/test/shared_examples/download_open_data_shared_context.rb
Labels: type: feature, contract: 2024-flatfiles

#13491 Revert "Allow actions' jobs to be retriggered on first failing (#13443)"
  .github/workflows/test_app.yml
Labels: type: internal

#13452 Update supported versions in docs
  SECURITY.md
  docs/modules/install/partials/version_matrix.adoc
Labels: type: fix, release: v0.29

#13438 Fix file type in attachment for S3 files
  decidim-core/app/models/decidim/attachment.rb
  decidim-core/spec/models/decidim/attachment_spec.rb
Labels: type: fix, release: v0.28, release: v0.29

#13496 Backport 'Fix file type in attachment for S3 files' to v0.28
  decidim-core/app/models/decidim/attachment.rb
  decidim-core/spec/models/decidim/attachment_spec.rb
Labels: backport, type: fix, release: v0.29

#13497 Backport 'Update supported versions in docs' to v0.28
  SECURITY.md
  docs/modules/install/partials/version_matrix.adoc
Labels: backport, type: fix, release: v0.28, release: v0.29

#13480 Update Javascript dependencies
  package-lock.json
Labels: dependencies, javascript, type: internal

#13404 Remove host param from url uploader method
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-assemblies/app/presenters/decidim/assemblies/assembly_presenter.rb
  decidim-core/app/cells/decidim/newsletter_templates/image_text_cta_cell.rb
  decidim-core/app/controllers/decidim/doorkeeper/credentials_controller.rb
  decidim-core/app/presenters/decidim/attachment_presenter.rb
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/participatory_process_group_presenter.rb
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/participatory_process_presenter.rb
  decidim-proposals/app/services/decidim/proposals/proposal_builder.rb
Labels: module: proposals, module: core, module: admin, module: assemblies, module: participatory processes, type: fix, release: v0.29

#13507 Update workflows to use actions/upload-artifact@v3 in release/0.27-stable
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_admin_system.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_consultations.yml
  .github/workflows/ci_core_lib.yml
  .github/workflows/ci_core_system.yml
  .github/workflows/ci_core_system_ssl.yml
  .github/workflows/ci_core_tasks.yml
  .github/workflows/ci_core_tasks_webpacker.yml
  .github/workflows/ci_core_unit.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_initiatives_system_admin.yml
  .github/workflows/ci_initiatives_system_public.yml
  .github/workflows/ci_meetings_system_admin.yml
  .github/workflows/ci_meetings_system_public.yml
  .github/workflows/ci_meetings_unit_tests.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_proposals_system_admin.yml
  .github/workflows/ci_proposals_system_public.yml
  .github/workflows/ci_proposals_unit_tests.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
Labels: type: internal, release: v0.27, no-backport

#13508 Remove host param from url uploader method on Conferences
  decidim-conferences/app/presenters/decidim/conferences/conference_presenter.rb
Labels: type: fix, no-backport

#13513 Lock Ubuntu to 22.04 in github actions
  .github/workflows/brakeman.yml
  .github/workflows/build_app.yml
  .github/workflows/ci_backporter.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/ci_production_check.yml
  .github/workflows/lint_code.yml
  .github/workflows/lint_pr_format.yml
  .github/workflows/lint_pr_labels.yml
  .github/workflows/on_docs_update.yml
  .github/workflows/on_release.yml
  .github/workflows/spelling.yml
  .github/workflows/test_app.yml
  decidim-generators/lib/decidim/generators/component_templates/github/ci.yml.erb
Labels: type: fix, release: v0.29

#13169 Add Linked Meetings feature to allow linking meetings to other spaces
  decidim-core/app/helpers/concerns/decidim/flash_helper_extensions.rb
  decidim-core/app/models/decidim/component.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/spec/models/decidim/component_spec.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_l_cell.rb
  decidim-meetings/app/commands/decidim/meetings/admin/create_meeting.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb
  decidim-meetings/app/controllers/concerns/decidim/meetings/admin/filterable.rb
  decidim-meetings/app/controllers/decidim/meetings/meetings_controller.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/helpers/decidim/meetings/admin/application_helper.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/app/models/decidim/meetings/meeting_link.rb
  decidim-meetings/app/packs/entrypoints/decidim_meetings_admin.js
  decidim-meetings/app/packs/src/decidim/meetings/admin/meetings_components_form.js
  decidim-meetings/app/packs/src/decidim/meetings/admin/meetings_form.js
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_component.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_linked_spaces.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_meeting_actions.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/index.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/db/migrate/20240712104245_create_decidim_meetings_meeting_link.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/commands/admin/create_meeting_spec.rb
  decidim-meetings/spec/commands/admin/update_meeting_spec.rb
  decidim-meetings/spec/forms/admin/meeting_form_spec.rb
  decidim-meetings/spec/models/meeting_link_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_links_spec.rb
Labels: module: core, module: meetings, type: feature, javascript, contract: 2024-developments

#13519 Backport 'Lock Ubuntu to 22.04 in github actions' to v0.29
  .github/workflows/brakeman.yml
  .github/workflows/build_app.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/ci_production_check.yml
  .github/workflows/lint_code.yml
  .github/workflows/lint_pr_format.yml
  .github/workflows/lint_pr_labels.yml
  .github/workflows/on_docs_update.yml
  .github/workflows/on_release.yml
  .github/workflows/spelling.yml
  .github/workflows/test_app.yml
  decidim-generators/lib/decidim/generators/component_templates/github/ci.yml.erb
Labels: backport, type: fix, release: v0.29

#13520 Backport 'Lock Ubuntu to 22.04 in github actions' to v0.28
  .github/workflows/brakeman.yml
  .github/workflows/build_app.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/ci_production_check.yml
  .github/workflows/lint_code.yml
  .github/workflows/lint_pr_format.yml
  .github/workflows/lint_pr_labels.yml
  .github/workflows/on_docs_update.yml
  .github/workflows/on_release.yml
  .github/workflows/test_app.yml
  decidim-generators/lib/decidim/generators/component_templates/github/ci.yml.erb
Labels: backport, type: fix, release: v0.29

#13517 Fix double encoding specific characters with the external links
  decidim-core/app/controllers/decidim/links_controller.rb
  decidim-core/spec/system/external_domain_warning_spec.rb
Labels: type: fix

#13526 Backport 'Fix translation bar css' to v0.28
  decidim-core/app/cells/decidim/translation_bar/show.erb
  decidim-core/app/cells/decidim/translation_bar_cell.rb
Labels: backport, type: fix, release: v0.28, release: v0.29

#13538 Make meetings locations longer in seeds
  decidim-meetings/lib/decidim/meetings/seeds.rb
Labels: type: internal

#13539 Make the address card shown long locations with the time
  decidim-meetings/app/packs/stylesheets/decidim/meetings/_item.scss
Labels: type: fix, release: v0.28, release: v0.29

#13537 Fix the missing meeting calendar in meetings' lists
  decidim-meetings/app/cells/decidim/meetings/meeting_l_cell.rb
  decidim-meetings/spec/cells/decidim/meetings/meeting_l_cell_spec.rb
Labels: type: fix, release: v0.28, release: v0.29

#13534 Fix editing the assembly content block "related assemblies"
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_landing_page_content_blocks_controller.rb
  decidim-assemblies/spec/system/admin/admin_manages_assembly_landing_page_spec.rb
Labels: type: fix, release: v0.28, release: v0.29

#13522 Add schema.org Event serializer for Breadcrumb
  decidim-core/app/helpers/decidim/breadcrumb_helper.rb
  decidim-core/app/serializers/decidim/schema_org_breadcrumb_list_serializer.rb
  decidim-core/app/views/layouts/decidim/_schema_org_breadcrumb_list.html.erb
  decidim-core/app/views/layouts/decidim/header/_menu_breadcrumb_items.html.erb
  decidim-core/spec/helpers/decidim/breadcrumb_helper_spec.rb
  decidim-core/spec/serializers/decidim/schema_org_breadcrumb_list_serializer_spec.rb
Labels: type: feature, contract: 2024-flatfiles

#13546 Remove flaky test in share tokens preview spec
  decidim-core/lib/decidim/core/test/shared_examples/preview_with_share_token_examples.rb
Labels: type: fix, no-backport

#13555 Lock @tarekraafat/autocomplete.js version to 10.2.7
  packages/core/package.json
Labels: dependencies, javascript, type: fix, release: v0.28, release: v0.29

#13550 Remove real-time training in AI engine for spam
  decidim-ai/app/jobs/decidim/ai/spam_detection/train_hidden_resource_data_job.rb
  decidim-ai/app/jobs/decidim/ai/spam_detection/train_user_data_job.rb
  decidim-ai/lib/decidim/ai/engine.rb
  decidim-ai/spec/event_handlers/resource_is_being_hidden_spec.rb
  decidim-ai/spec/event_handlers/user/user_is_being_blocked_spec.rb
  decidim-ai/spec/jobs/decidim/ai/spam_detection/train_hidden_resource_data_job_spec.rb
  decidim-ai/spec/jobs/decidim/ai/spam_detection/train_user_data_job_spec.rb
  docs/modules/develop/pages/ai_tools.adoc
  docs/modules/develop/pages/ai_tools/spam_detection_trainer.adoc
Labels: type: change, module: ai

#13557 Backport 'Lock @tarekraafat/autocomplete.js version to 10.2.7' to v0.28
  packages/core/package.json
Labels: backport, dependencies, javascript, type: fix, release: v0.29

#13516 Fix redirect path after blocking an user
  decidim-admin/app/controllers/decidim/admin/block_user_controller.rb
  decidim-admin/app/views/decidim/admin/moderated_users/index.html.erb
  decidim-admin/lib/decidim/admin/engine.rb
  decidim-admin/spec/controllers/block_user_controller_spec.rb
Labels: type: fix, release: v0.28, release: v0.29

#13373 Change UI for endorsements
  decidim-blogs/app/views/decidim/blogs/posts/_actions.html.erb
  decidim-core/app/cells/decidim/endorsement_block/show.erb
  decidim-core/app/cells/decidim/endorsement_block_cell.rb
  decidim-core/app/cells/decidim/endorsement_buttons/button_content.erb
  decidim-core/app/cells/decidim/endorsement_buttons/select_identity_button.erb
  decidim-core/app/cells/decidim/endorsement_buttons/show.erb
  decidim-core/app/cells/decidim/endorsement_buttons/verification_modal.erb
  decidim-core/app/cells/decidim/endorsers_list/empty.erb
  decidim-core/app/cells/decidim/endorsers_list/full.erb
  decidim-core/app/cells/decidim/endorsers_list/full_endorsers_list.erb
  decidim-core/app/cells/decidim/endorsers_list/show.erb
  decidim-core/app/cells/decidim/endorsers_list_button/content.erb
  decidim-core/app/cells/decidim/endorsers_list_button_cell.rb
  decidim-core/app/cells/decidim/endorsers_list_cell.rb
  decidim-core/app/helpers/decidim/endorsable_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_endorsers_list.scss
  decidim-core/app/views/decidim/endorsements/update_buttons_and_counters.js.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test/shared_examples/system_endorse_resource_examples.rb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_actions.html.erb
  docs/modules/develop/pages/endorsable.adoc
Labels: module: proposals, module: core, module: meetings, module: budgets, module: debates, module: assemblies, module: blogs, module: sortitions, module: conferences, module: initiatives, type: change

#13436 Add Debates to open data zip file
  decidim-core/app/services/decidim/open_data_exporter.rb
  decidim-debates/app/permissions/decidim/debates/admin/permissions.rb
  decidim-debates/app/views/decidim/debates/admin/debates/index.html.erb
  decidim-debates/config/locales/en.yml
  decidim-debates/lib/decidim/debates.rb
  decidim-debates/lib/decidim/debates/component.rb
  decidim-debates/lib/decidim/debates/debate_serializer.rb
  decidim-debates/spec/lib/decidim/debates/debate_serializer_spec.rb
  decidim-debates/spec/permissions/decidim/debates/admin/permissions_spec.rb
  decidim-debates/spec/services/decidim/open_data_exporter_spec.rb
  decidim-debates/spec/shared/export_debate_comments_examples.rb
  decidim-debates/spec/shared/export_debates_examples.rb
  decidim-debates/spec/system/admin_manages_debates_spec.rb
Labels: type: feature, contract: 2024-api

#13205 Design update to comments
  decidim-comments/app/cells/decidim/comments/comment/actions.erb
  decidim-comments/app/cells/decidim/comments/comment/show.erb
  decidim-comments/app/cells/decidim/comments/comments/order_control.erb
  decidim-comments/app/packs/src/decidim/comments/comments.component.js
  decidim-comments/app/packs/stylesheets/comments.scss
  decidim-comments/config/locales/en.yml
  decidim-comments/spec/cells/decidim/comments/comments_cell_spec.rb
  decidim-core/lib/decidim/assets/tailwind/tailwind.config.js.erb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: module: core, module: comments, javascript, type: change

#13442 Add Meetings' attendees metric
  RELEASE_NOTES.md
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/spec/lib/decidim/meetings/component_spec.rb
Labels: module: meetings, type: feature

#13339 Add new print permission in intiatives
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_controller.rb
  decidim-initiatives/app/permissions/decidim/initiatives/admin/permissions.rb
  decidim-initiatives/app/permissions/decidim/initiatives/permissions.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/index.html.erb
  decidim-initiatives/spec/permissions/decidim/initiatives/admin/permissions_spec.rb
  decidim-initiatives/spec/permissions/decidim/initiatives/permissions_spec.rb
  decidim-initiatives/spec/system/admin/print_initiative_spec.rb
  decidim-initiatives/spec/system/edit_initiative_spec.rb
Labels: module: initiatives, type: fix

#13501 Improve settings options for Related Spaces content block.
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/highlighted_assemblies_settings_form/show.erb
  decidim-assemblies/spec/system/admin/admin_manages_assembly_landing_page_spec.rb
  decidim-assemblies/spec/system/homepage_content_blocks_spec.rb
  decidim-conferences/app/cells/decidim/conferences/content_blocks/highlighted_conferences_settings_form/show.erb
  decidim-conferences/spec/system/homepage_content_blocks_spec.rb
  decidim-initiatives/app/cells/decidim/initiatives/content_blocks/highlighted_initiatives_settings_form/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/highlighted_processes_settings_form/show.erb
  decidim-participatory_processes/spec/system/homepage_content_blocks_spec.rb
Labels: type: change

#13574 Backport 'Lock @tarekraafat/autocomplete.js version to 10.2.7' to v0.27
  packages/core/package.json
Labels: backport, dependencies, javascript, type: fix, release: v0.27, release: v0.29

#13586 Increase Map dimensions
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
Labels: module: proposals, module: core, module: admin, module: accountability, type: fix

#13591 Backport 'Add new print permission in intiatives' to v0.29
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_controller.rb
  decidim-initiatives/app/permissions/decidim/initiatives/admin/permissions.rb
  decidim-initiatives/app/permissions/decidim/initiatives/permissions.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/index.html.erb
  decidim-initiatives/spec/permissions/decidim/initiatives/admin/permissions_spec.rb
  decidim-initiatives/spec/permissions/decidim/initiatives/permissions_spec.rb
  decidim-initiatives/spec/system/admin/print_initiative_spec.rb
  decidim-initiatives/spec/system/edit_initiative_spec.rb
Labels: backport, module: initiatives, type: fix, release: v0.29

#13590 Backport 'Add new print permission in intiatives' to v0.28
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_controller.rb
  decidim-initiatives/app/permissions/decidim/initiatives/admin/permissions.rb
  decidim-initiatives/app/permissions/decidim/initiatives/permissions.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/index.html.erb
  decidim-initiatives/spec/permissions/decidim/initiatives/admin/permissions_spec.rb
  decidim-initiatives/spec/permissions/decidim/initiatives/permissions_spec.rb
  decidim-initiatives/spec/system/admin/print_initiative_spec.rb
  decidim-initiatives/spec/system/edit_initiative_spec.rb
Labels: backport, module: initiatives, type: fix, release: v0.29
