Repository decidim/decidim, pull requests merged in 2024-09, with the labels that each got.

#13300 Backport 'Remove pagination configuration initializer' to v0.29
  decidim-admin/README.md
  decidim-admin/app/controllers/concerns/decidim/admin/filterable.rb
  decidim-admin/app/controllers/concerns/decidim/admin/paginable.rb
  decidim-admin/app/controllers/decidim/admin/application_controller.rb
  decidim-admin/app/helpers/decidim/admin/paginable/per_page_helper.rb
  decidim-admin/lib/decidim/admin.rb
  decidim-admin/lib/decidim/admin/test/manage_paginated_collection_examples.rb
  decidim-admin/spec/system/admin_manages_global_moderations_spec.rb
  decidim-admin/spec/system/participatory_space_private_user_spec.rb
  decidim-admin/spec/system/space_admin_manages_global_moderations_spec.rb
  decidim-admin/spec/system/space_moderator_manages_global_moderations_spec.rb
  decidim-assemblies/spec/shared/manage_assembly_members_examples.rb
  decidim-assemblies/spec/system/admin/assembly_moderator_manages_assembly_moderations_spec.rb
  decidim-blogs/spec/system/explore_posts_spec.rb
  decidim-comments/spec/system/admin_manages_comments_spec.rb
  decidim-conferences/spec/shared/manage_media_links_examples.rb
  decidim-conferences/spec/system/admin/conference_moderator_manages_conference_moderations_spec.rb
  decidim-core/app/controllers/concerns/decidim/paginable.rb
  decidim-core/lib/decidim/core/test/shared_examples/paginated_resource_examples.rb
  decidim-core/spec/system/last_activity_spec.rb
  decidim-core/spec/system/search_spec.rb
  decidim-initiatives/spec/system/admin/admin_manages_comments_spec.rb
  decidim-participatory_processes/spec/system/admin/process_moderator_manages_process_moderations_spec.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/proposal_states_controller.rb
  decidim-proposals/spec/system/admin/admin_manages_proposals_spec.rb
Labels: module: proposals, module: core, module: comments, module: admin, backport, module: assemblies, module: blogs, module: participatory processes, module: conferences, module: initiatives, type: fix

#13316 Refactor ransack attributes
  decidim-accountability/app/models/decidim/accountability/result.rb
  decidim-accountability/app/models/decidim/accountability/status.rb
  decidim-assemblies/app/models/decidim/assembly.rb
  decidim-assemblies/app/models/decidim/assembly_member.rb
  decidim-assemblies/app/models/decidim/assembly_user_role.rb
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-conferences/app/models/decidim/conference.rb
  decidim-conferences/app/models/decidim/conference_user_role.rb
  decidim-conferences/app/models/decidim/conferences/conference_invite.rb
  decidim-core/app/models/decidim/action_log.rb
  decidim-core/app/models/decidim/category.rb
  decidim-core/app/models/decidim/moderation.rb
  decidim-core/app/models/decidim/participatory_space_private_user.rb
  decidim-core/app/models/decidim/scope.rb
  decidim-core/app/models/decidim/taxonomy.rb
  decidim-core/app/models/decidim/user_base_entity.rb
  decidim-core/app/models/decidim/user_moderation.rb
  decidim-core/app/models/decidim/user_report.rb
  decidim-core/lib/decidim/participatory_space_user.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-meetings/app/models/decidim/meetings/invite.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-participatory_processes/app/models/decidim/participatory_process.rb
  decidim-participatory_processes/app/models/decidim/participatory_process_user_role.rb
  decidim-proposals/app/models/decidim/proposals/collaborative_draft.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-verifications/app/models/decidim/verifications/conflict.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: internal

#13318 Backport 'Fix google-chrome-stable installation in CI' to v0.29
  .github/actions/spelling/expect.txt
  .github/workflows/test_app.yml
Labels: backport, type: fix, configuration

#13327 Backport 'Fix google-chrome-stable installation in CI' to v0.28
  .github/workflows/test_app.yml
Labels: backport, type: fix, configuration

#13319 Backport 'Prevent malformed URLs in online/hybrid meetings' to v0.29
  decidim-core/app/cells/decidim/address/online.erb
  decidim-core/app/cells/decidim/address_cell.rb
  decidim-core/spec/cells/decidim/address_cell_spec.rb
Labels: module: core, backport, type: fix

#13326 Backport 'Fix proposals' preview spacing' to v0.28
  decidim-proposals/app/views/decidim/proposals/proposals/preview.html.erb
Labels: module: proposals, backport, type: fix

#13325 Backport 'Fix character counter disposition and spacing with WYSIWYG' to v0.28
  decidim-core/app/packs/src/decidim/input_character_counter.js
  decidim-core/app/packs/stylesheets/decidim/editor.scss
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/shared/proposals_wizards_examples.rb
  decidim-proposals/spec/system/new_proposals_spec.rb
Labels: module: proposals, module: core, backport, javascript, type: fix

#13324 Backport 'Fix exceptions with `decidim-templates` when not added explicitly ' to v0.28
  Gemfile.lock
  decidim-admin/app/views/decidim/admin/block_user/new.html.erb
  decidim-generators/Gemfile.lock
  decidim-proposals/app/views/decidim/proposals/admin/proposal_answers/_form.html.erb
  decidim-templates/decidim-templates.gemspec
  decidim.gemspec
Labels: module: proposals, module: admin, backport, dependencies, module: generators, module: templates, type: fix

#13323 Backport 'Add overwrite parameter to upload-artifact' to v0.28
  .github/workflows/test_app.yml
Labels: backport, type: fix, configuration

#13330 Backport 'Disable search engine choice window for ChromeDriver in system specs' to v0.28
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara.rb
Labels: backport, module: dev, type: fix

#13332 Backport 'Fix DOMSubtreeModified deprecation warning' to v0.29
  decidim-core/app/packs/src/decidim/attachments/file_or_link_tabs.js
Labels: module: core, backport, javascript, type: fix

#13308 Fix flaky spec with follow button in participatory spaces
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-budgets/spec/system/follow_projects_spec.rb
  decidim-conferences/spec/system/conferences_spec.rb
  decidim-core/lib/decidim/core/test/shared_examples/follows_examples.rb
  decidim-debates/spec/system/follow_debate_spec.rb
  decidim-initiatives/spec/system/initiative_spec.rb
  decidim-meetings/spec/system/follow_meetings_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
  decidim-proposals/spec/system/follow_proposals_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: debates, flaky spec, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: fix

#13312 Fix exporting of the open data file
  decidim-core/app/services/decidim/open_data_exporter.rb
Labels: module: core, type: fix

#13334 Bump erb_lint from 0.4.0 to 0.6.0
  Gemfile.lock
  decidim-dev/decidim-dev.gemspec
  decidim-generators/Gemfile.lock
Labels: dependencies, module: dev, module: generators, type: internal

#13333 Backport 'Fix exceptions with `decidim-templates` when not added explicitly ' to v0.27
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim-templates/decidim-templates.gemspec
  decidim.gemspec
  decidim_app-design/Gemfile.lock
Labels: module: proposals, module: admin, backport, dependencies, module: generators, module: templates, type: fix

#13341 Backport 'Fix exporting of the open data file' to v0.29
  decidim-core/app/services/decidim/open_data_exporter.rb
Labels: module: core, backport, type: fix

#13292 Fix results per page display in pagination
  decidim-core/app/helpers/decidim/paginate_helper.rb
  decidim-core/spec/system/paginate_spec.rb
Labels: module: core, type: fix

#13322 Backport 'Add spring as dependency' to v0.28
  Gemfile
  Gemfile.lock
  RELEASE_NOTES.md
  decidim-dev/decidim-dev.gemspec
  decidim-generators/Gemfile
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  lib/decidim/gem_manager.rb
Labels: backport, dependencies, module: dev, module: generators, type: fix

#13343 Backport 'Fix results per page display in pagination' to v0.29
  decidim-core/app/helpers/decidim/paginate_helper.rb
  decidim-core/spec/system/paginate_spec.rb
Labels: module: core, backport, type: fix

#13346 Backport 'Fix flaky spec with follow button in participatory spaces' to v0.28
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-budgets/spec/system/follow_projects_spec.rb
  decidim-conferences/spec/system/conferences_spec.rb
  decidim-core/lib/decidim/core/test/shared_examples/follows_examples.rb
  decidim-debates/spec/system/follow_debate_spec.rb
  decidim-initiatives/spec/system/initiative_spec.rb
  decidim-meetings/spec/system/follow_meetings_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
  decidim-proposals/spec/system/follow_proposals_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, backport, module: debates, flaky spec, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: fix

#13345 Backport 'Fix exporting of the open data file' to v0.28
  decidim-core/app/services/decidim/open_data_exporter.rb
Labels: module: core, backport, type: fix

#13344 Backport 'Fix flaky spec with follow button in participatory spaces' to v0.29
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-budgets/spec/system/follow_projects_spec.rb
  decidim-conferences/spec/system/conferences_spec.rb
  decidim-core/lib/decidim/core/test/shared_examples/follows_examples.rb
  decidim-debates/spec/system/follow_debate_spec.rb
  decidim-initiatives/spec/system/initiative_spec.rb
  decidim-meetings/spec/system/follow_meetings_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
  decidim-proposals/spec/system/follow_proposals_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, backport, module: debates, flaky spec, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: fix

#13321 Backport 'Remove pagination configuration initializer' to v0.28
  decidim-admin/README.md
  decidim-admin/app/controllers/concerns/decidim/admin/filterable.rb
  decidim-admin/app/controllers/concerns/decidim/admin/paginable.rb
  decidim-admin/app/controllers/decidim/admin/application_controller.rb
  decidim-admin/app/helpers/decidim/admin/paginable/per_page_helper.rb
  decidim-admin/lib/decidim/admin.rb
  decidim-admin/lib/decidim/admin/test/manage_paginated_collection_examples.rb
  decidim-admin/spec/system/admin_manages_global_moderations_spec.rb
  decidim-admin/spec/system/participatory_space_private_user_spec.rb
  decidim-admin/spec/system/space_admin_manages_global_moderations_spec.rb
  decidim-admin/spec/system/space_moderator_manages_global_moderations_spec.rb
  decidim-assemblies/spec/shared/manage_assembly_members_examples.rb
  decidim-assemblies/spec/system/admin/assembly_moderator_manages_assembly_moderations_spec.rb
  decidim-blogs/spec/system/explore_posts_spec.rb
  decidim-comments/spec/system/admin_manages_comments_spec.rb
  decidim-conferences/spec/shared/manage_media_links_examples.rb
  decidim-conferences/spec/system/admin/conference_moderator_manages_conference_moderations_spec.rb
  decidim-core/app/controllers/concerns/decidim/paginable.rb
  decidim-core/lib/decidim/core/test/shared_examples/paginated_resource_examples.rb
  decidim-core/spec/system/last_activity_spec.rb
  decidim-core/spec/system/search_spec.rb
  decidim-initiatives/spec/system/admin/admin_manages_comments_spec.rb
  decidim-participatory_processes/spec/system/admin/process_moderator_manages_process_moderations_spec.rb
  decidim-proposals/spec/system/admin/admin_manages_proposals_spec.rb
Labels: module: proposals, module: core, module: comments, module: admin, backport, module: assemblies, module: blogs, module: participatory processes, module: conferences, module: initiatives, type: fix

#13211 Fix ProposalStates migration
  decidim-proposals/db/migrate/20240110203504_create_default_proposal_states.rb
Labels: module: proposals, type: fix

#13347 Backport 'Fix results per page display in pagination' to v0.28
  decidim-core/app/helpers/decidim/paginate_helper.rb
  decidim-core/spec/system/paginate_spec.rb
Labels: module: core, backport, type: fix

#13348 Backport 'Fix ProposalStates migration' to v0.29
  decidim-proposals/db/migrate/20240110203504_create_default_proposal_states.rb
Labels: module: proposals, backport, type: fix

#13293 Fix tab navigation on filters
  decidim-accountability/app/views/decidim/accountability/results/_scope_filters.html.erb
  decidim-core/app/cells/decidim/nav_links/show.erb
  decidim-core/app/cells/decidim/resource_types_filter/show.erb
  decidim-core/app/helpers/decidim/menu_helper.rb
  decidim-core/app/packs/src/decidim/a11y.js
  decidim-core/app/presenters/decidim/menu_item_presenter.rb
  decidim-core/app/views/decidim/pages/_tabbed.html.erb
  decidim-core/app/views/decidim/shared/_filters.html.erb
  decidim-core/app/views/decidim/shared/_orders.html.erb
  decidim-core/app/views/decidim/shared/filters/_check_boxes_tree.html.erb
  decidim-core/app/views/decidim/shared/filters/_collection.html.erb
  decidim-core/app/views/layouts/decidim/shared/_layout_user_profile.html.erb
  decidim-core/spec/system/last_activity_spec.rb
  decidim-core/spec/system/user_activity_spec.rb
  decidim-meetings/app/views/decidim/meetings/_calendar_modal.html.erb
Labels: module: core, module: meetings, module: accountability, javascript, type: fix

#12965 Use page image as meta image for links sharing
  decidim-accountability/app/views/decidim/accountability/results/home.html.erb
  decidim-accountability/app/views/decidim/accountability/results/index.html.erb
  decidim-accountability/app/views/decidim/accountability/results/show.html.erb
  decidim-accountability/spec/system/accountability_social_share_spec.rb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/index.html.erb
  decidim-assemblies/app/views/decidim/assemblies/assemblies/show.html.erb
  decidim-assemblies/app/views/decidim/assemblies/assembly_members/index.html.erb
  decidim-assemblies/spec/system/assemblies_social_share_spec.rb
  decidim-blogs/app/views/decidim/blogs/posts/index.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/show.html.erb
  decidim-blogs/spec/system/posts_social_share_spec.rb
  decidim-budgets/app/views/decidim/budgets/budgets/index.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/index.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-budgets/spec/system/budgets_social_share_spec.rb
  decidim-conferences/app/views/decidim/conferences/conference_program/show.html.erb
  decidim-conferences/app/views/decidim/conferences/conference_speakers/index.html.erb
  decidim-conferences/app/views/decidim/conferences/conferences/index.html.erb
  decidim-conferences/app/views/decidim/conferences/conferences/show.html.erb
  decidim-conferences/app/views/decidim/conferences/media/index.html.erb
  decidim-conferences/app/views/decidim/conferences/registration_types/index.html.erb
  decidim-conferences/spec/system/conference_social_share_spec.rb
  decidim-core/app/helpers/decidim/meta_tags_helper.rb
  decidim-core/app/resolvers/decidim/meta_image_url_resolver.rb
  decidim-core/app/views/decidim/pages/show.html.erb
  decidim-core/app/views/layouts/decidim/_meta_tags_config.html.erb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/core/test/shared_examples/social_share_examples.rb
  decidim-core/spec/services/decidim/meta_image_url_resolver_spec.rb
  decidim-core/spec/system/organization_social_share_spec.rb
  decidim-debates/app/views/decidim/debates/debates/index.html.erb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-debates/spec/system/debates_social_share_spec.rb
  decidim-initiatives/app/views/decidim/initiatives/committee_requests/new.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-initiatives/spec/system/initiatives_social_share_spec.rb
  decidim-meetings/app/views/decidim/meetings/live_events/show.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/index.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/app/views/decidim/meetings/polls/answers/index.html.erb
  decidim-meetings/spec/system/meetings_social_share_spec.rb
  decidim-pages/app/views/decidim/pages/application/show.html.erb
  decidim-pages/spec/system/pages_social_share_spec.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_process_groups/show.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb
  decidim-participatory_processes/spec/system/participatory_processes_social_share_spec.rb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/index.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/index.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/spec/system/proposals_social_share_spec.rb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/index.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/show.html.erb
  decidim-sortitions/spec/system/decidim/sortitions/sortitions_social_share_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: pages, type: feature, module: accountability, module: debates, module: assemblies, module: blogs, module: dev, module: sortitions, module: forms, module: participatory processes, module: conferences, module: initiatives, contract: 2024-developments

#13237 Add manifest name check for spaces and components
  RELEASE_NOTES.md
  decidim-core/app/models/decidim/component.rb
  decidim-core/db/migrate/20181025082245_add_timestamps_to_components.rb
  decidim-core/lib/tasks/upgrade/decidim_fix_categorization.rake
  decidim-core/spec/models/decidim/component_spec.rb
  decidim-core/spec/queries/decidim/public_components_spec.rb
  decidim-core/spec/tasks/upgrade/clean_action_logs_spec.rb
  decidim-core/spec/tasks/upgrade/clean_follows_spec.rb
  decidim-core/spec/tasks/upgrade/clean_notifications_spec.rb
  decidim-core/spec/tasks/upgrade/clean_searchable_resources_spec.rb
Labels: module: core, module: dev, type: fix, configuration

#13357 Backport 'Fix tab navigation on filters' to v0.29
  decidim-accountability/app/views/decidim/accountability/results/_scope_filters.html.erb
  decidim-core/app/cells/decidim/nav_links/show.erb
  decidim-core/app/cells/decidim/resource_types_filter/show.erb
  decidim-core/app/helpers/decidim/menu_helper.rb
  decidim-core/app/packs/src/decidim/a11y.js
  decidim-core/app/presenters/decidim/menu_item_presenter.rb
  decidim-core/app/views/decidim/pages/_tabbed.html.erb
  decidim-core/app/views/decidim/shared/_filters.html.erb
  decidim-core/app/views/decidim/shared/_orders.html.erb
  decidim-core/app/views/decidim/shared/filters/_check_boxes_tree.html.erb
  decidim-core/app/views/decidim/shared/filters/_collection.html.erb
  decidim-core/app/views/layouts/decidim/shared/_layout_user_profile.html.erb
  decidim-core/spec/system/last_activity_spec.rb
  decidim-core/spec/system/user_activity_spec.rb
  decidim-meetings/app/views/decidim/meetings/_calendar_modal.html.erb
Labels: module: core, module: meetings, backport, module: accountability, javascript, type: fix

#13209 Fix redirections after login with modal
  decidim-core/app/packs/src/decidim/append_redirect_url_to_modals.js
  decidim-proposals/spec/system/new_proposals_spec.rb
Labels: module: proposals, module: core, javascript, type: fix

#13358 Backport 'Add manifest name check for spaces and components' to v0.29
  RELEASE_NOTES.md
  decidim-core/app/models/decidim/component.rb
  decidim-core/db/migrate/20181025082245_add_timestamps_to_components.rb
  decidim-core/lib/tasks/upgrade/decidim_fix_categorization.rake
  decidim-core/spec/models/decidim/component_spec.rb
  decidim-core/spec/queries/decidim/public_components_spec.rb
  decidim-core/spec/tasks/upgrade/clean_action_logs_spec.rb
  decidim-core/spec/tasks/upgrade/clean_follows_spec.rb
  decidim-core/spec/tasks/upgrade/clean_notifications_spec.rb
  decidim-core/spec/tasks/upgrade/clean_searchable_resources_spec.rb
Labels: module: core, backport, module: dev, type: fix, configuration

#13359 Backport 'Add manifest name check for spaces and components' to v0.28
  RELEASE_NOTES.md
  decidim-core/app/models/decidim/component.rb
  decidim-core/db/migrate/20181025082245_add_timestamps_to_components.rb
  decidim-core/lib/tasks/upgrade/decidim_fix_categorization.rake
  decidim-core/spec/models/decidim/component_spec.rb
  decidim-core/spec/queries/decidim/public_components_spec.rb
  decidim-core/spec/tasks/upgrade/clean_action_logs_spec.rb
  decidim-core/spec/tasks/upgrade/clean_follows_spec.rb
  decidim-core/spec/tasks/upgrade/clean_notifications_spec.rb
  decidim-core/spec/tasks/upgrade/clean_searchable_resources_spec.rb
Labels: module: core, backport, module: dev, type: fix, configuration

#13074 Allow reordering and hiding components in menus
  decidim-admin/app/commands/decidim/admin/hide_menu_component.rb
  decidim-admin/app/commands/decidim/admin/publish_component.rb
  decidim-admin/app/commands/decidim/admin/reorder_components.rb
  decidim-admin/app/controllers/decidim/admin/components_controller.rb
  decidim-admin/app/packs/entrypoints/decidim_admin.js
  decidim-admin/app/packs/src/decidim/admin/draggable-table.js
  decidim-admin/app/packs/stylesheets/decidim/admin/_table-list.scss
  decidim-admin/app/views/decidim/admin/components/_actions.html.erb
  decidim-admin/app/views/decidim/admin/components/_component.html.erb
  decidim-admin/app/views/decidim/admin/components/_form.html.erb
  decidim-admin/app/views/decidim/admin/components/_visibility_label.html.erb
  decidim-admin/app/views/decidim/admin/components/index.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/commands/decidim/admin/hide_menu_component_spec.rb
  decidim-admin/spec/commands/decidim/admin/reorder_components_spec.rb
  decidim-assemblies/lib/decidim/assemblies/admin_engine.rb
  decidim-assemblies/spec/controllers/admin/components_controller_spec.rb
  decidim-assemblies/spec/shared/assembly_admin_manage_assembly_components_examples.rb
  decidim-assemblies/spec/shared/manage_assembly_components_examples.rb
  decidim-conferences/lib/decidim/conferences/admin_engine.rb
  decidim-conferences/spec/controllers/admin/components_controller_spec.rb
  decidim-conferences/spec/shared/manage_conference_components_examples.rb
  decidim-core/db/migrate/20240628111905_add_visible_to_components.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/components_controller_hide_shared_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/components_controller_reorder_shared_examples.rb
  decidim-initiatives/lib/decidim/initiatives/admin_engine.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiative_components_spec.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_dropdown_metadata_cell.rb
  decidim-participatory_processes/app/helpers/decidim/participatory_processes/participatory_process_helper.rb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/lib/decidim/participatory_processes/admin_engine.rb
  decidim-participatory_processes/spec/controllers/admin/components_controller_spec.rb
  decidim-participatory_processes/spec/shared/manage_process_components_examples.rb
Labels: module: core, module: admin, type: feature, javascript, module: assemblies, module: participatory processes, module: conferences, module: initiatives, contract: 2024-developments

#13364 Bump to v0.29.0 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: internal, module: design

#13340 Date & Time format in Last Activities
  decidim-comments/app/cells/decidim/comments/comment/show.erb
  decidim-comments/spec/cells/decidim/comments/comment_cell_spec.rb
Labels: module: core, module: comments, type: fix

#13360 Bump to v0.27.9 version
  .decidim-version
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-consultations/lib/decidim/consultations/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-dev/decidim-dev.gemspec
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  decidim_app-design/Gemfile.lock
  decidim_app-design/package-lock.json
  decidim_app-design/packages/browserslist-config/package.json
  decidim_app-design/packages/core/package.json
  decidim_app-design/packages/dev/package.json
  decidim_app-design/packages/elections/package.json
  decidim_app-design/packages/eslint-config/package.json
  decidim_app-design/packages/stylelint-config/package.json
  decidim_app-design/packages/webpacker/package.json
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: elections, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: consultations, module: initiatives, module: templates, type: internal

#13375 Refactor tags position in show resource page
  decidim-accountability/app/views/decidim/accountability/results/_project.html.erb
  decidim-budgets/app/cells/decidim/budgets/project_tags/show.erb
  decidim-budgets/app/cells/decidim/budgets/project_tags_cell.rb
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-core/app/cells/decidim/tags/show.erb
  decidim-core/app/views/decidim/shared/_tags.html.erb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_actions.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_actions.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_actions.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: accountability, module: debates, type: change

#13372 Bump rspec from v3.13.0 to v3.13.1
  Gemfile.lock
  decidim-blogs/spec/types/post_type_spec.rb
  decidim-budgets/spec/types/budget_type_spec.rb
  decidim-generators/Gemfile.lock
  decidim-initiatives/spec/types/initiative_api_type_spec.rb
  decidim-proposals/spec/system/participatory_processes_view_hooks_spec.rb
Labels: module: proposals, module: budgets, dependencies, module: blogs, module: generators, module: initiatives, type: internal

#13379 Fixes admin rights loss when added as private user with case-insensitive email
  decidim-admin/app/commands/decidim/admin/create_participatory_space_private_user.rb
  decidim-admin/spec/commands/decidim/admin/create_participatory_space_private_user_spec.rb
Labels: module: admin, type: fix

#13390 Backport 'Fix flaky on verifications' code letter system spec' to v0.28
  decidim-dev/lib/decidim/dev/test/rspec_support/warden.rb
Labels: backport, flaky spec, module: dev, type: fix

#13387 Backport 'Date & Time format in Last Activities' to v0.29
  decidim-comments/app/cells/decidim/comments/comment/show.erb
  decidim-comments/spec/cells/decidim/comments/comment_cell_spec.rb
Labels: module: core, module: comments, backport, type: fix

#13385 Backport 'Fix redirections after login with modal' to v0.29
  decidim-core/app/packs/src/decidim/append_redirect_url_to_modals.js
  decidim-proposals/spec/system/new_proposals_spec.rb
Labels: module: proposals, module: core, backport, javascript, type: fix

#13386 Backport 'Fix redirections after login with modal' to v0.28
  decidim-core/app/packs/src/decidim/append_redirect_url_to_modals.js
  decidim-proposals/spec/system/new_proposals_spec.rb
Labels: module: proposals, module: core, backport, javascript, type: fix

#13389 Backport 'Fix flaky on verifications' code letter system spec' to v0.29
  decidim-dev/lib/decidim/dev/test/rspec_support/warden.rb
Labels: backport, flaky spec, module: dev, type: fix

#13401 Backport 'Fix tab navigation on filters' to v0.28
  decidim-accountability/app/views/decidim/accountability/results/_scope_filters.html.erb
  decidim-core/app/cells/decidim/nav_links/show.erb
  decidim-core/app/cells/decidim/resource_types_filter/show.erb
  decidim-core/app/helpers/decidim/menu_helper.rb
  decidim-core/app/packs/src/decidim/a11y.js
  decidim-core/app/presenters/decidim/menu_item_presenter.rb
  decidim-core/app/views/decidim/pages/_tabbed.html.erb
  decidim-core/app/views/decidim/shared/_filters.html.erb
  decidim-core/app/views/decidim/shared/_orders.html.erb
  decidim-core/app/views/decidim/shared/filters/_check_boxes_tree.html.erb
  decidim-core/app/views/decidim/shared/filters/_collection.html.erb
  decidim-core/app/views/layouts/decidim/shared/_layout_user_profile.html.erb
  decidim-core/spec/system/last_activity_spec.rb
  decidim-core/spec/system/user_activity_spec.rb
  decidim-meetings/app/views/decidim/meetings/_calendar_modal.html.erb
Labels: module: core, module: meetings, backport, module: accountability, javascript, type: fix

#13399 Backport 'Fixes admin rights loss when added as private user with case-insensitive email ' to v0.29
  decidim-admin/app/commands/decidim/admin/create_participatory_space_private_user.rb
  decidim-admin/spec/commands/decidim/admin/create_participatory_space_private_user_spec.rb
Labels: module: admin, backport, type: fix

#13400 Backport 'Fixes admin rights loss when added as private user with case-insensitive email ' to v0.28
  decidim-admin/app/commands/decidim/admin/create_participatory_space_private_user.rb
  decidim-admin/spec/commands/decidim/admin/create_participatory_space_private_user_spec.rb
Labels: module: admin, backport, type: fix

#13380 Refactor decidim_fix_categorization.rake
  RELEASE_NOTES.md
  decidim-core/lib/tasks/upgrade/clean.rake
  decidim-core/spec/tasks/upgrade/clean_categories_spec.rb
  decidim-dev/lib/decidim/dev/test/factories.rb
Labels: module: core, module: dev, type: change

#13381 Cleanup form builder
  .github/actions/spelling/expect.txt
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/lib/decidim/legacy_form_builder.rb
  decidim-core/spec/lib/form_builder_spec.rb
Labels: module: core, module: admin, type: internal, configuration

#13289 Fix showing spaces in Last Activity page
  decidim-accountability/spec/shared/manage_results_examples.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_publication_spec.rb
  decidim-blogs/spec/shared/manage_posts_examples.rb
  decidim-core/app/models/decidim/action_log.rb
  decidim-core/app/queries/decidim/last_activity.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-debates/spec/shared/manage_debates_examples.rb
  decidim-meetings/lib/decidim/meetings/seeds.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
  decidim-meetings/spec/system/user_creates_meeting_spec.rb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_publication_spec.rb
  decidim-proposals/app/commands/decidim/proposals/admin/create_proposal.rb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/spec/commands/decidim/proposals/admin/create_proposal_spec.rb
  decidim-proposals/spec/shared/manage_proposals_examples.rb
  decidim-proposals/spec/shared/proposals_wizards_examples.rb
  decidim-proposals/spec/system/admin/admin_creates_proposal_spec.rb
Labels: module: proposals, module: core, module: meetings, module: accountability, module: debates, module: assemblies, module: blogs, module: participatory processes, type: fix

#13377 Add Kebab menu for resources
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-blogs/app/views/decidim/blogs/posts/_actions.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/show.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-conferences/spec/system/conferences_spec.rb
  decidim-core/app/packs/stylesheets/decidim/_layout.scss
  decidim-core/app/views/decidim/shared/_resource_actions.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test/shared_examples/follows_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/reports_examples.rb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-initiatives/spec/system/initiative_spec.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_aside.html.erb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_collaborative_draft_aside.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_aside.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/spec/system/report_proposal_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: debates, module: assemblies, module: blogs, module: participatory processes, module: conferences, module: initiatives, type: change

#13384 Fix regression when there's a disabled button in the upload modal
  decidim-admin/spec/system/admin_access_spec.rb
  decidim-core/app/packs/stylesheets/decidim/_buttons.scss
  decidim-core/app/packs/stylesheets/decidim/_modal_update.scss
Labels: module: core, module: admin, type: fix

#12888 Fix showing Conferences and Initiatives in last activities page
  decidim-conferences/app/cells/decidim/conference_activity_cell.rb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/lib/decidim/conferences/seeds.rb
  decidim-conferences/spec/system/admin/admin_manages_conferences_publication_spec.rb
  decidim-core/app/models/decidim/action_log.rb
  decidim-core/app/queries/decidim/last_activity.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/initiatives_controller.rb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/system/admin/admin_manages_initiative_publication_spec.rb
Labels: module: core, module: participatory processes, module: conferences, module: initiatives, type: fix

#13290 Implement history for related components
  decidim-accountability/app/cells/decidim/accountability/project_cell.rb
  decidim-accountability/app/cells/decidim/accountability/result_history_cell.rb
  decidim-accountability/config/locales/en.yml
  decidim-accountability/spec/cells/decidim/accountability/result_history_cell_spec.rb
  decidim-accountability/spec/system/explore_results_spec.rb
  decidim-budgets/app/cells/decidim/budgets/project_history_cell.rb
  decidim-budgets/app/controllers/decidim/budgets/projects_controller.rb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/spec/cells/decidim/budgets/project_history_cell_spec.rb
  decidim-budgets/spec/system/orders_spec.rb
  decidim-core/app/cells/decidim/resource_history/show.erb
  decidim-core/app/cells/decidim/resource_history_cell.rb
  decidim-core/app/packs/entrypoints/decidim_core.js
  decidim-core/app/packs/stylesheets/decidim/resource_history.scss
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/resourceable.rb
  decidim-meetings/config/locales/en.yml
  decidim-proposals/app/cells/decidim/proposals/proposal_history_cell.rb
  decidim-proposals/app/commands/decidim/proposals/admin/merge_proposals.rb
  decidim-proposals/app/commands/decidim/proposals/admin/split_proposals.rb
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_history_cell_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/merge_proposals_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/split_proposals_spec.rb
  decidim-proposals/spec/shared/manage_proposals_examples.rb
  decidim-proposals/spec/shared/proposals_wizards_examples.rb
  decidim-proposals/spec/system/proposals_fields_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, type: feature, module: accountability, javascript, contract: 2024-developments

#13407 Spacing on DOB picker in Authorizations
  decidim-verifications/app/views/dummy_authorization/_form.html.erb
Labels: module: core, module: admin, module: verifications, type: fix

#13402 Allow to configure the cell cache expiry time
  RELEASE_NOTES.md
  decidim-core/app/cells/decidim/content_blocks/stats_cell.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/view_model.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
  docs/modules/configure/pages/environment_variables.adoc
Labels: team: documentation, module: core, module: generators, type: fix

#13378 Place Share button in actions row
  decidim-blogs/app/packs/stylesheets/blogs.scss
  decidim-blogs/app/views/decidim/blogs/posts/_actions.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-core/app/cells/decidim/endorsement_buttons/show.erb
  decidim-core/app/cells/decidim/share_button_cell.rb
  decidim-core/app/packs/stylesheets/decidim/_buttons.scss
  decidim-core/app/packs/stylesheets/decidim/_layout.scss
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_aside.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_collaborative_draft_aside.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_actions.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_aside.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/show.html.erb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: debates, module: assemblies, module: blogs, module: sortitions, module: participatory processes, module: conferences, module: initiatives, type: change

#13410 Scroll to form when clicking Comments button
  decidim-comments/app/cells/decidim/comments/comments/add_comment.erb
  decidim-core/app/cells/decidim/comments_button_cell.rb
Labels: module: core, module: comments, type: change

#13355 Align some UI elements between Taxonomy and Components
  decidim-admin/app/packs/stylesheets/decidim/admin/_table-list.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/_taxonomies.scss
  decidim-admin/app/views/decidim/admin/components/_component.html.erb
  decidim-admin/app/views/decidim/admin/taxonomies/_table.html.erb
Labels: module: admin, type: internal

#13409 Add svg icon for comments menu
  decidim-comments/app/cells/decidim/comments/comment/show.erb
  decidim-comments/app/packs/stylesheets/comments.scss
  decidim-proposals/spec/system/proposal_comment_actions_spec.rb
Labels: module: proposals, module: comments, type: change

#13392 Fix for liking a resource prompts for groups even though groups are disabled
  decidim-blogs/lib/decidim/blogs/test/factories.rb
  decidim-blogs/spec/system/endorse_posts_spec.rb
  decidim-core/app/cells/decidim/endorsement_buttons_cell.rb
  decidim-core/lib/decidim/core/test/shared_examples/system_endorse_resource_examples.rb
Labels: module: core, module: blogs, type: fix

#13127 Change the "cancel your registration" button in meetings
  decidim-core/app/cells/decidim/report_button_cell.rb
  decidim-core/app/packs/stylesheets/decidim/_layout.scss
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
  decidim-meetings/app/cells/decidim/meetings/cancel_registration_meeting_button/cancelation_modal.erb
  decidim-meetings/app/cells/decidim/meetings/cancel_registration_meeting_button/show.erb
  decidim-meetings/app/cells/decidim/meetings/cancel_registration_meeting_button_cell.rb
  decidim-meetings/app/cells/decidim/meetings/dates_and_map/show.erb
  decidim-meetings/app/cells/decidim/meetings/join_meeting_button/show.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_aside.html.erb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
Labels: module: core, module: meetings, type: change

#13396 Add proposal state label in diff renderer
  decidim-proposals/app/services/decidim/proposals/diff_renderer.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/proposals_versions_spec.rb
Labels: module: proposals, type: fix

#13196 Upgrade ransack from 3.2.1 to 4.2.0
  Gemfile.lock
  RELEASE_NOTES.md
  decidim-accountability/app/models/decidim/accountability/result.rb
  decidim-accountability/app/models/decidim/accountability/status.rb
  decidim-assemblies/app/models/decidim/assembly.rb
  decidim-assemblies/app/models/decidim/assembly_member.rb
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-conferences/app/models/decidim/conference.rb
  decidim-conferences/app/models/decidim/conferences/conference_invite.rb
  decidim-core/app/models/decidim/action_log.rb
  decidim-core/app/models/decidim/category.rb
  decidim-core/app/models/decidim/moderation.rb
  decidim-core/app/models/decidim/participatory_space_private_user.rb
  decidim-core/app/models/decidim/scope.rb
  decidim-core/app/models/decidim/taxonomy.rb
  decidim-core/app/models/decidim/user_base_entity.rb
  decidim-core/app/models/decidim/user_moderation.rb
  decidim-core/app/models/decidim/user_report.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/participatory_space_user.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-generators/Gemfile.lock
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-meetings/app/models/decidim/meetings/invite.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-participatory_processes/app/models/decidim/participatory_process.rb
  decidim-proposals/app/models/decidim/proposals/collaborative_draft.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-sortitions/app/models/decidim/sortitions/sortition.rb
  decidim-verifications/app/models/decidim/verifications/conflict.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: generators, module: sortitions, module: participatory processes, module: conferences, module: initiatives, type: change, configuration

#13416 Fix margin in offline page
  decidim-core/app/views/decidim/offline/show.html.erb
Labels: module: core, type: fix

#13406 Add schema.org Event serializer for Meetings
  .erb-lint.yml
  decidim-accountability/spec/system/explore_results_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/geocoder.rb
  decidim-meetings/app/helpers/decidim/meetings/meetings_helper.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_schema_org_event_meeting.html.erb
  decidim-meetings/lib/decidim/meetings.rb
  decidim-meetings/lib/decidim/meetings/schema_org_event_meeting_serializer.rb
  decidim-meetings/lib/decidim/meetings/test/factories.rb
  decidim-meetings/spec/helpers/meetings_helper_spec.rb
  decidim-meetings/spec/lib/decidim/meetings/schema_org_event_meeting_serializer_spec.rb
  decidim-meetings/spec/shared/manage_invites_examples.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
  decidim-meetings/spec/system/comments_spec.rb
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-meetings/spec/system/explore_versions_spec.rb
  decidim-meetings/spec/system/follow_meetings_spec.rb
  decidim-meetings/spec/system/meeting_agenda_spec.rb
  decidim-meetings/spec/system/meeting_questions_administrate_spec.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-meetings/spec/system/meeting_spec.rb
  decidim-meetings/spec/system/meetings_social_share_spec.rb
  decidim-meetings/spec/system/private_meetings_spec.rb
  decidim-meetings/spec/system/report_meeting_spec.rb
  decidim-meetings/spec/system/show_spec.rb
  decidim-meetings/spec/system/user_close_meeting_spec.rb
  decidim-meetings/spec/system/user_creates_meeting_spec.rb
  decidim-meetings/spec/system/user_edit_meeting_spec.rb
Labels: module: meetings, type: feature, module: accountability, module: dev, configuration

#13395 Fix for creating an amendment in proposals is not cloning the category
  RELEASE_NOTES.md
  decidim-core/app/commands/decidim/amendable/create_draft.rb
  decidim-proposals/lib/tasks/proposals/upgrade/decidim_proposals_upgrade_tasks.rake
  decidim-proposals/spec/commands/decidim/proposals/amendable/create_amendment_draft_spec.rb
  decidim-proposals/spec/lib/tasks/upgrade/set_categories_spec.rb
Labels: module: proposals, module: core, type: fix

#11851 Remove invalid upload files
  RELEASE_NOTES.md
  decidim-core/app/controllers/concerns/decidim/direct_upload.rb
  decidim-core/app/forms/decidim/upload_validation_form.rb
  decidim-core/app/packs/src/decidim/direct_uploads/upload_modal.js
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/organization_settings.rb
  decidim-core/lib/tasks/upgrade/decidim_attachments.rake
  decidim-core/spec/commands/decidim/validate_upload_spec.rb
  decidim-core/spec/controllers/active_storage/direct_uploads_controller_spec.rb
  decidim-core/spec/controllers/active_storage/disk_controller_spec.rb
  decidim-core/spec/lib/organization_settings_spec.rb
  decidim-dev/lib/decidim/dev/assets/invalid_extension.log
  decidim-dev/lib/decidim/dev/assets/odt_file_reported_as.pdf
  decidim-forms/spec/commands/decidim/forms/answer_questionnaire_spec.rb
  decidim-initiatives/spec/commands/decidim/initiatives/update_initiative_spec.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
Labels: module: proposals, module: core, module: meetings, target: developer-experience, javascript, module: dev, module: generators, module: forms, module: initiatives, type: fix

#13284 Fix private admin create new assembly
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assemblies_controller.rb
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/index.html.erb
  decidim-assemblies/app/views/layouts/decidim/admin/assemblies.html.erb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
Labels: module: assemblies, type: fix

#13424 Fix error in external domain allowlist
  decidim-admin/app/controllers/decidim/admin/organization_external_domain_allowlist_controller.rb
  decidim-admin/spec/system/admin_manages_external_domains_spec.rb
Labels: module: admin, type: fix

#13415 Randomize the proposals seeds amendments configuration
  decidim-proposals/lib/decidim/proposals/seeds.rb
Labels: module: proposals, type: internal

#13342 Fix Stack Level Too Deep on request committee member in initiatives
  decidim-initiatives/app/commands/decidim/initiatives/approve_membership_request.rb
  decidim-initiatives/app/commands/decidim/initiatives/revoke_membership_request.rb
  decidim-initiatives/app/commands/decidim/initiatives/spawn_committee_request.rb
  decidim-initiatives/app/controllers/decidim/initiatives/committee_requests_controller.rb
  decidim-initiatives/spec/commands/decidim/initiatives/approve_membership_request_spec.rb
  decidim-initiatives/spec/commands/decidim/initiatives/revoke_membership_request_spec.rb
  decidim-initiatives/spec/commands/decidim/initiatives/spawn_committee_request_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/committee_requests_controller_spec.rb
Labels: module: initiatives, type: fix, release: v0.28, release: v0.29

#13426 Add backporter CI action
  .github/workflows/ci_backporter.yml
Labels: type: internal

#13427 Fix backporter command call
  .github/workflows/ci_backporter.yml
Labels: type: fix, no-backport

#13428 Fix backporter repository
  .github/workflows/ci_backporter.yml
Labels: type: fix, type: internal, no-backport

#13431 Attempt to fix the backporter pipeline
  .github/workflows/ci_backporter.yml
Labels: type: fix, type: internal, no-backport

#13433 Backport 'Fix error in external domain allowlist' to v0.29
  decidim-admin/app/controllers/decidim/admin/organization_external_domain_allowlist_controller.rb
  decidim-admin/spec/system/admin_manages_external_domains_spec.rb
Labels: module: admin, backport, type: fix, release: v0.29

#13440 Fix display of short bio in conferences' speaker modal
  decidim-conferences/app/cells/decidim/conferences/conference_speaker_cell.rb
Labels: type: fix, release: v0.28, release: v0.29

#13458 Backport 'Fix for liking a resource prompts for groups even though groups are disabled' to v0.29
  decidim-blogs/lib/decidim/blogs/test/factories.rb
  decidim-blogs/spec/system/endorse_posts_spec.rb
  decidim-core/app/cells/decidim/endorsement_buttons_cell.rb
  decidim-core/lib/decidim/core/test/shared_examples/system_endorse_resource_examples.rb
Labels: module: core, backport, module: blogs, type: fix, release: v0.28, release: v0.29

#13460 Backport 'Fix regression when there's a disabled button in the upload modal' to v0.29
  decidim-admin/spec/system/admin_access_spec.rb
  decidim-core/app/packs/stylesheets/decidim/_buttons.scss
  decidim-core/app/packs/stylesheets/decidim/_modal_update.scss
Labels: module: core, module: admin, backport, type: fix, release: v0.28, release: v0.29

#13461 Backport 'Fix Stack Level Too Deep on request committee member in initiatives' to v0.29
  decidim-initiatives/app/commands/decidim/initiatives/approve_membership_request.rb
  decidim-initiatives/app/commands/decidim/initiatives/revoke_membership_request.rb
  decidim-initiatives/app/commands/decidim/initiatives/spawn_committee_request.rb
  decidim-initiatives/app/controllers/decidim/initiatives/committee_requests_controller.rb
  decidim-initiatives/spec/commands/decidim/initiatives/approve_membership_request_spec.rb
  decidim-initiatives/spec/commands/decidim/initiatives/revoke_membership_request_spec.rb
  decidim-initiatives/spec/commands/decidim/initiatives/spawn_committee_request_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/committee_requests_controller_spec.rb
Labels: backport, module: initiatives, type: fix, release: v0.29

#13455 Backport 'Add proposal state label in diff renderer' to v0.29
  decidim-proposals/app/services/decidim/proposals/diff_renderer.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/proposals_versions_spec.rb
Labels: module: proposals, backport, type: fix, release: v0.29

#13462 Backport 'Remove invalid upload files' to v0.29
  RELEASE_NOTES.md
  decidim-core/app/controllers/concerns/decidim/direct_upload.rb
  decidim-core/app/forms/decidim/upload_validation_form.rb
  decidim-core/app/packs/src/decidim/direct_uploads/upload_modal.js
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/organization_settings.rb
  decidim-core/lib/tasks/upgrade/decidim_attachments.rake
  decidim-core/spec/commands/decidim/validate_upload_spec.rb
  decidim-core/spec/controllers/active_storage/direct_uploads_controller_spec.rb
  decidim-core/spec/controllers/active_storage/disk_controller_spec.rb
  decidim-core/spec/lib/organization_settings_spec.rb
  decidim-dev/lib/decidim/dev/assets/invalid_extension.log
  decidim-dev/lib/decidim/dev/assets/odt_file_reported_as.pdf
  decidim-forms/spec/commands/decidim/forms/answer_questionnaire_spec.rb
  decidim-initiatives/spec/commands/decidim/initiatives/update_initiative_spec.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
Labels: module: proposals, module: core, module: meetings, target: developer-experience, backport, javascript, module: dev, module: generators, module: forms, module: initiatives, type: fix, release: v0.29

#13454 Backport 'Allow to configure the cell cache expiry time' to v0.28
  RELEASE_NOTES.md
  decidim-core/app/cells/decidim/content_blocks/stats_cell.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/view_model.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
  docs/modules/configure/pages/environment_variables.adoc
Labels: team: documentation, module: core, backport, module: generators, type: fix, release: v0.28, release: v0.29

#13459 Backport 'Fix for liking a resource prompts for groups even though groups are disabled' to v0.28
  decidim-blogs/lib/decidim/blogs/test/factories.rb
  decidim-blogs/spec/system/endorse_posts_spec.rb
  decidim-core/app/cells/decidim/endorsement_buttons_cell.rb
  decidim-core/lib/decidim/core/test/shared_examples/system_endorse_resource_examples.rb
Labels: module: core, backport, module: blogs, type: fix, release: v0.28, release: v0.29

#13465 Backport 'Fix Stack Level Too Deep on request committee member in initiatives' to v0.28
  decidim-initiatives/app/commands/decidim/initiatives/approve_membership_request.rb
  decidim-initiatives/app/commands/decidim/initiatives/revoke_membership_request.rb
  decidim-initiatives/app/commands/decidim/initiatives/spawn_committee_request.rb
  decidim-initiatives/app/controllers/decidim/initiatives/committee_requests_controller.rb
  decidim-initiatives/spec/commands/decidim/initiatives/approve_membership_request_spec.rb
  decidim-initiatives/spec/commands/decidim/initiatives/revoke_membership_request_spec.rb
  decidim-initiatives/spec/commands/decidim/initiatives/spawn_committee_request_spec.rb
  decidim-initiatives/spec/controllers/decidim/initiatives/committee_requests_controller_spec.rb
Labels: backport, module: initiatives, type: fix, release: v0.29

#13466 Backport 'Fix showing spaces in Last Activity page' to v0.28
  decidim-accountability/spec/shared/manage_results_examples.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_publication_spec.rb
  decidim-blogs/spec/shared/manage_posts_examples.rb
  decidim-core/app/models/decidim/action_log.rb
  decidim-core/app/queries/decidim/last_activity.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-debates/spec/shared/manage_debates_examples.rb
  decidim-meetings/lib/decidim/meetings/seeds.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
  decidim-meetings/spec/system/user_creates_meeting_spec.rb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_publication_spec.rb
  decidim-proposals/app/commands/decidim/proposals/admin/create_proposal.rb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/spec/commands/decidim/proposals/admin/create_proposal_spec.rb
  decidim-proposals/spec/shared/manage_proposals_examples.rb
  decidim-proposals/spec/shared/proposals_wizards_examples.rb
  decidim-proposals/spec/system/admin/admin_creates_proposal_spec.rb
Labels: module: proposals, module: core, module: meetings, backport, module: accountability, module: debates, module: assemblies, module: blogs, module: participatory processes, type: fix, release: v0.29

#13453 Backport 'Allow to configure the cell cache expiry time' to v0.29
  RELEASE_NOTES.md
  decidim-core/app/cells/decidim/content_blocks/stats_cell.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/view_model.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
  docs/modules/configure/pages/environment_variables.adoc
Labels: team: documentation, module: core, backport, module: generators, type: fix, release: v0.28, release: v0.29

#13457 Backport 'Fix for creating an amendment in proposals is not cloning the category ' to v0.28
  RELEASE_NOTES.md
  decidim-core/app/commands/decidim/amendable/create_draft.rb
  decidim-proposals/lib/tasks/proposals/upgrade/decdim_proposal_upgrade_tasks.rake
  decidim-proposals/lib/tasks/proposals/upgrade/decdim_proposals_upgrade_tasks.rake
  decidim-proposals/spec/commands/decidim/proposals/amendable/create_amendment_draft_spec.rb
  decidim-proposals/spec/lib/tasks/upgrade/set_categories_spec.rb
Labels: module: proposals, module: core, backport, type: fix, release: v0.28, release: v0.29

#13464 Backport 'Fix regression when there's a disabled button in the upload modal' to v0.28
  decidim-admin/spec/system/admin_access_spec.rb
  decidim-core/app/packs/stylesheets/decidim/_buttons.scss
  decidim-core/app/packs/stylesheets/decidim/_modal_update.scss
Labels: module: core, module: admin, backport, type: fix, release: v0.28, release: v0.29

#13474 Reduce kebab menu dimensions
  decidim-core/app/packs/stylesheets/decidim/_dropdown.scss
Labels: module: core, module: admin, type: fix, no-backport

#13429 Dropdown select scopes on Newsletters
  decidim-admin/app/views/decidim/admin/newsletters/select_recipients_to_deliver.html.erb
  decidim-admin/spec/forms/selective_newsletter_form_spec.rb
  decidim-admin/spec/helpers/settings_helper_spec.rb
  decidim-core/app/helpers/decidim/scopes_helper.rb
Labels: module: admin, type: fix, release: v0.28, release: v0.29
