Repository decidim/decidim, pull requests merged in 2024-06, with the labels that each got.

#12865 Do not update SMTP or omniauth attributes if no values are specified
  decidim-core/app/mailers/decidim/application_mailer.rb
  decidim-core/spec/mailers/application_mailer_spec.rb
  decidim-system/app/forms/decidim/system/base_organization_form.rb
  decidim-system/spec/commands/decidim/system/update_organization_spec.rb
  decidim-system/spec/forms/decidim/system/update_organization_form_spec.rb
Labels: module: core, module: system, type: fix

#12930 Bump rexml from 3.2.6 to 3.2.8
  Gemfile.lock
  decidim-generators/Gemfile.lock
Labels: dependencies, module: generators, type: internal

#12928 Backport 'Fix strings for ordering when listing budgets' to v0.28
  decidim-budgets/app/cells/decidim/budgets/budgets_list/main_list.erb
  decidim-budgets/config/locales/en.yml
Labels: module: budgets, backport, type: fix

#12929 Backport 'Prevent showing the dropdown menu when changing orientation of mobile devices' to v0.28
  decidim-accountability/app/views/decidim/accountability/results/_scope_filters.html.erb
  decidim-admin/app/views/layouts/decidim/admin/_sidebar_menu.html.erb
  decidim-conferences/app/views/decidim/conferences/conferences/show.html.erb
  decidim-core/app/cells/decidim/nav_links/show.erb
  decidim-core/app/cells/decidim/resource_types_filter/show.erb
  decidim-core/app/packs/src/decidim/a11y.js
  decidim-core/app/views/decidim/pages/_tabbed.html.erb
  decidim-core/app/views/decidim/searches/_filters.html.erb
  decidim-core/app/views/decidim/shared/_filters.html.erb
  decidim-core/app/views/decidim/shared/_orders.html.erb
  decidim-core/app/views/layouts/decidim/shared/_layout_user_profile.html.erb
  decidim-core/config/locales/en.yml
Labels: module: core, module: admin, backport, module: accountability, javascript, module: conferences, type: fix

#12927 Backport 'Fix organization multitenant issue with meeting's reminders' to v0.27
  decidim-meetings/app/services/decidim/meetings/close_meeting_reminder_generator.rb
  decidim-meetings/spec/services/decidim/meetings/close_meeting_reminder_generator_spec.rb
Labels: module: meetings, backport, type: fix

#12904 Fix flaky spec on comments seeds
  decidim-comments/spec/models/seed_spec.rb
Labels: module: comments, type: fix

#12910 Fix flaky specs with last job matcher with concurreny
  decidim-assemblies/spec/shared/assembly_admin_manage_assembly_components_examples.rb
  decidim-assemblies/spec/shared/manage_assembly_components_examples.rb
  decidim-conferences/spec/shared/manage_conference_components_examples.rb
  decidim-participatory_processes/spec/shared/manage_process_components_examples.rb
Labels: module: assemblies, module: participatory processes, module: conferences, type: fix

#12926 Backport 'Hide moderated content from notifications' to v0.28
  decidim-accountability/app/events/decidim/accountability/base_result_event.rb
  decidim-accountability/spec/events/decidim/accountability/proposal_linked_event_spec.rb
  decidim-accountability/spec/events/decidim/accountability/result_progress_updated_event_spec.rb
  decidim-comments/app/events/decidim/comments/comment_event.rb
  decidim-comments/lib/decidim/comments/test/factories.rb
  decidim-comments/lib/decidim/comments/test/shared_examples/comment_event.rb
  decidim-core/app/cells/decidim/notification/moderated.erb
  decidim-core/app/cells/decidim/notification_cell.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/events/base_event.rb
  decidim-core/spec/cells/decidim/notification_cell_spec.rb
  decidim-core/spec/lib/events/simple_event_spec.rb
  decidim-dev/lib/decidim/dev/test/factories.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
Labels: module: proposals, module: core, module: comments, backport, module: accountability, module: dev, type: fix

#12902 Fix flaky spec on long registration type titles
  decidim-conferences/spec/commands/join_conference_spec.rb
Labels: module: conferences, type: fix

#12931 Fix incomplete regexp in webmock configuration
  decidim-dev/lib/decidim/dev/test/rspec_support/webmock.rb
Labels: module: dev, type: fix

#12916 Fix admin name errors during organization creation
  decidim-system/app/commands/decidim/system/create_organization.rb
  decidim-system/app/controllers/decidim/system/organizations_controller.rb
  decidim-system/config/locales/en.yml
  decidim-system/spec/system/organizations_spec.rb
Labels: module: system, type: fix

#12896 Hide support instruction messages once support collection is finished
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/spec/system/proposals_spec.rb
  decidim-proposals/spec/system/vote_proposal_spec.rb
Labels: module: proposals, type: fix, contract: 2024-developments

#12946 Backport 'Fix admin name errors during organization creation' to v0.28
  decidim-system/app/commands/decidim/system/register_organization.rb
  decidim-system/app/controllers/decidim/system/organizations_controller.rb
  decidim-system/config/locales/en.yml
  decidim-system/spec/system/organizations_spec.rb
Labels: module: system, backport, type: fix

#12944 Backport 'Fix flaky spec on comments seeds' to v0.28
  decidim-comments/spec/models/seed_spec.rb
Labels: module: comments, backport, type: fix

#12943 Backport 'Fix flaky spec on long registration type titles' to v0.28
  decidim-conferences/spec/commands/join_conference_spec.rb
Labels: backport, module: conferences, type: fix

#12942 Backport 'Fix invalid dates on meetings' seeds' to v0.28
  decidim-meetings/lib/decidim/meetings/seeds.rb
Labels: module: meetings, backport, type: fix

#12941 Backport 'Remove unecessary accordion in Conferences' program' to v0.28
  decidim-conferences/app/packs/stylesheets/decidim/conferences/_program.scss
  decidim-conferences/app/views/decidim/conferences/conference_program/_program_item.html.erb
Labels: backport, module: conferences, type: fix

#12937 Backport 'Fix exception when going to debates new URL directly as non-logged user ' to v0.28
  decidim-debates/app/controllers/decidim/debates/debates_controller.rb
  decidim-debates/spec/controllers/decidim/debates/debates_controller_spec.rb
  decidim-meetings/spec/controllers/decidim/meetings/meetings_controller_spec.rb
  decidim-proposals/spec/controllers/decidim/proposals/proposals_controller_spec.rb
Labels: module: proposals, module: meetings, backport, module: debates, type: fix

#12936 Bump nokogiri from 1.16.2 to 1.16.5
  Gemfile.lock
  decidim-generators/Gemfile.lock
Labels: dependencies, module: generators, type: internal

#12958 Fix valuators access to the admin participatory space
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/index.html.erb
  decidim-assemblies/spec/system/admin/valuator_checks_components_spec.rb
  decidim-conferences/app/views/decidim/conferences/admin/conferences/index.html.erb
  decidim-conferences/spec/system/admin/valuator_checks_components_spec.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/index.html.erb
  decidim-participatory_processes/spec/system/admin/valuator_checks_components_spec.rb
Labels: module: assemblies, module: participatory processes, module: conferences, type: fix, configuration

#12893 Do not display an error when filling a form
  decidim-core/app/packs/src/decidim/abide_form_validator_fixer.js
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/spec/system/authentication_spec.rb
  decidim-proposals/spec/system/admin/admin_creates_proposal_spec.rb
  decidim-proposals/spec/system/new_proposals_spec.rb
Labels: module: proposals, module: core, javascript, type: fix, contract: 2024-developments

#12953 Fix flaky spec when pasting a link in the WYSIWYG editor
  decidim-admin/spec/system/admin_manages_organization_spec.rb
Labels: module: admin, type: fix

#12950 Add image to proposals' seeds
  decidim-proposals/lib/decidim/proposals/seeds.rb
Labels: module: proposals, type: internal

#12932 Sticky header hide and show on scroll and visible login access
  decidim-core/app/controllers/concerns/decidim/devise_controllers.rb
  decidim-core/app/helpers/decidim/application_helper.rb
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/src/decidim/sticky_header.js
  decidim-core/app/packs/stylesheets/decidim/_dropdown.scss
  decidim-core/app/packs/stylesheets/decidim/_filters.scss
  decidim-core/app/packs/stylesheets/decidim/_footer.scss
  decidim-core/app/packs/stylesheets/decidim/_forms.scss
  decidim-core/app/packs/stylesheets/decidim/_header.scss
  decidim-core/app/views/layouts/decidim/_logo_mobile.html.erb
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
  decidim-core/app/views/layouts/decidim/header/_main.html.erb
  decidim-core/app/views/layouts/decidim/header/_main_links_desktop.html.erb
  decidim-core/app/views/layouts/decidim/header/_main_links_mobile.html.erb
  decidim-core/app/views/layouts/decidim/header/_main_links_mobile_account.html.erb
  decidim-core/app/views/layouts/decidim/header/_main_links_mobile_item_account.html.erb
  decidim-core/app/views/layouts/decidim/header/_main_links_mobile_search.html.erb
  decidim-core/app/views/layouts/decidim/header/_menu_breadcrumb_desktop.html.erb
  decidim-core/app/views/layouts/decidim/header/_menu_breadcrumb_main_dropdown_desktop.html.erb
  decidim-core/app/views/layouts/decidim/header/_menu_breadcrumb_main_dropdown_mobile.html.erb
  decidim-core/app/views/layouts/decidim/header/_menu_form_search_mobile.html.erb
  decidim-core/app/views/layouts/decidim/header/_mobile_language_choose.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/assets/tailwind/tailwind.config.js.erb
  decidim-core/spec/helpers/decidim/application_helper_spec.rb
  decidim-core/spec/system/mobile_header_spec.rb
  decidim-core/spec/system/search_spec.rb
  decidim-verifications/spec/system/authorizations_spec.rb
Labels: module: core, module: verifications, type: feature, javascript, contract: 2024-developments

#12959 Fix flaky related to `Decidim.available_locales`
  decidim-admin/spec/system/admin_manages_more_locales_spec.rb
Labels: module: admin, type: fix, configuration

#12963 Backport 'Fix flaky spec when pasting a link in the WYSIWYG editor' to v0.28
  decidim-admin/spec/system/admin_manages_organization_spec.rb
Labels: module: admin, backport, type: fix

#12954 Fix flaky spec with multilingual organization name leftover
  decidim-admin/spec/system/admin_manages_organization_spec.rb
Labels: module: admin, type: fix, no-backport

#12889 Fix submit on enter in forms with Datepicker
  decidim-core/app/packs/src/decidim/datepicker/generate_datepicker.js
  decidim-core/app/packs/src/decidim/datepicker/generate_timepicker.js
Labels: module: core, module: meetings, javascript, type: fix

#12873 Rename Support to Vote in proposals
  decidim-budgets/spec/system/orders_spec.rb
  decidim-core/README.md
  decidim-core/app/commands/decidim/amendable/withdraw.rb
  decidim-core/app/presenters/decidim/home_stats_presenter.rb
  decidim-core/lib/decidim/core/test/shared_examples/amendable/withdraw_amendment_examples.rb
  decidim-dev/lib/decidim/dev/assets/assemblies.json
  decidim-participatory_processes/app/queries/decidim/participatory_processes/stats_participants_count.rb
  decidim-proposals/app/commands/decidim/proposals/vote_proposal.rb
  decidim-proposals/app/commands/decidim/proposals/withdraw_proposal.rb
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposals_fork_form.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/app/helpers/decidim/proposals/proposal_votes_helper.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/queries/decidim/proposals/metrics/proposal_participants_metric_measure.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_vote_button.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_voting_rules.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/participatory_texts/_proposal_vote_button.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/participatory_texts/_proposal_votes_count.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/commands/decidim/proposals/vote_proposal_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/withdraw_proposal_spec.rb
  decidim-proposals/spec/controllers/decidim/proposals/proposals_controller_spec.rb
  decidim-proposals/spec/events/decidim/proposals/voting_enabled_event_spec.rb
  decidim-proposals/spec/lib/decidim/proposals/component_spec.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_serializer_spec.rb
  decidim-proposals/spec/shared/merge_proposals_examples.rb
  decidim-proposals/spec/shared/split_proposals_examples.rb
  decidim-proposals/spec/system/admin/view_proposal_details_from_admin_spec.rb
  decidim-proposals/spec/system/filter_proposals_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
  decidim-proposals/spec/system/vote_proposal_spec.rb
  decidim-verifications/README.md
Labels: module: proposals, module: core, module: budgets, module: dev, module: participatory processes, type: change

#12949 Backport 'Do not update SMTP or omniauth attributes if no values are specified' to v0.28
  decidim-core/app/mailers/decidim/application_mailer.rb
  decidim-core/spec/mailers/application_mailer_spec.rb
  decidim-system/app/forms/decidim/system/update_organization_form.rb
  decidim-system/spec/commands/decidim/system/update_organization_spec.rb
  decidim-system/spec/forms/decidim/system/update_organization_form_spec.rb
Labels: module: core, module: system, backport, type: fix

#12945 Backport 'Fix flaky specs with last job matcher with concurreny' to v0.28
  decidim-assemblies/spec/shared/assembly_admin_manage_assembly_components_examples.rb
  decidim-assemblies/spec/shared/manage_assembly_components_examples.rb
  decidim-conferences/spec/shared/manage_conference_components_examples.rb
  decidim-participatory_processes/spec/shared/manage_process_components_examples.rb
Labels: backport, module: assemblies, module: participatory processes, module: conferences, type: fix

#12940 Backport 'Fix external URL with a fragment' to v0.28
  decidim-core/app/controllers/decidim/links_controller.rb
  decidim-core/app/views/decidim/links/new.html.erb
  decidim-core/spec/system/external_domain_warning_spec.rb
Labels: module: core, backport, type: fix

#12938 Backport 'Fix i18n string misplacement in decidim-initiatives' to v0.28
  decidim-admin/config/locales/en.yml
  decidim-initiatives/config/locales/en.yml
Labels: module: admin, backport, module: initiatives, type: fix

#12961 Add multiselect/tom-select to Design Guide's form page
  decidim-design/app/packs/stylesheets/design.scss
  decidim-design/app/views/decidim/design/components/forms.html.erb
  decidim-design/config/locales/en.yml
Labels: target: developer-experience, module: design

#12967 Backport 'Hide support instruction messages once support collection is finished' to v0.28
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/spec/system/proposals_spec.rb
  decidim-proposals/spec/system/vote_proposal_spec.rb
Labels: module: proposals, backport, type: fix, contract: 2024-developments

#12968 Backport 'Fix flaky specs in comment search' to v0.28
  decidim-comments/spec/system/search_comments_spec.rb
  decidim-core/app/cells/decidim/card/show.erb
Labels: module: core, module: comments, backport, type: fix

#12972 Backport 'Fix impersonnating users' to v0.27
  decidim-admin/app/controllers/decidim/admin/impersonations_controller.rb
  decidim-admin/spec/controllers/impersonations_controller_spec.rb
Labels: module: admin, backport, type: fix

#12970 Backport 'Add organization or application name in emails' From header' to v0.27
  decidim-admin/app/mailers/decidim/admin/application_mailer.rb
  decidim-core/app/mailers/decidim/application_mailer.rb
  decidim-core/spec/mailers/application_mailer_spec.rb
  decidim-system/app/mailers/decidim/system/application_mailer.rb
  decidim-system/config/locales/en.yml
  decidim-system/spec/commands/decidim/system/register_organization_spec.rb
  decidim-system/spec/commands/decidim/system/update_organization_spec.rb
  decidim-system/spec/forms/decidim/system/update_organization_form_spec.rb
Labels: module: core, module: admin, module: system, backport, type: fix

#12971 Backport 'Fix 500 error when creating or updating an organization without a secret key' to v0.27
  decidim-system/app/forms/decidim/system/update_organization_form.rb
  decidim-system/config/locales/en.yml
  decidim-system/spec/system/organizations_spec.rb
Labels: module: system, backport, type: fix

#12973 Backport 'Fix incomplete regexp in webmock configuration' to v0.27
  decidim-dev/lib/decidim/dev/test/rspec_support/webmock.rb
Labels: backport, module: dev, type: fix

#12976 Backport 'Fix external URL with a fragment' to v0.27
  decidim-core/app/controllers/decidim/links_controller.rb
  decidim-core/app/views/decidim/links/new.html.erb
  decidim-core/spec/system/external_domain_warning_spec.rb
Labels: module: core, backport, type: fix

#12977 Upgrade Github actions
  .github/workflows/README.md
  .github/workflows/brakeman.yml
  .github/workflows/build_app.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/ci_production_check.yml
  .github/workflows/lint_code.yml
  .github/workflows/test_app.yml
  decidim-generators/lib/decidim/generators/component_templates/github/ci.yml.erb
Labels: module: generators, type: internal, configuration

#12981 Backport 'Fix flaky spec on long registration type titles' to v0.27
  decidim-conferences/spec/commands/join_conference_spec.rb
Labels: backport, module: conferences, type: fix

#12979 Backport 'Fix flaky specs with last job matcher with concurreny' to v0.27
  decidim-assemblies/spec/shared/assembly_admin_manage_assembly_components_examples.rb
  decidim-assemblies/spec/shared/manage_assembly_components_examples.rb
  decidim-conferences/spec/shared/manage_conference_components_examples.rb
  decidim-participatory_processes/spec/shared/manage_process_components_examples.rb
Labels: backport, module: assemblies, module: participatory processes, module: conferences, type: fix

#12960 Standarise ```current_user``` call within Commands tasks (Verifications)
  decidim-verifications/app/commands/decidim/verifications/revoke_by_condition_authorizations.rb
  decidim-verifications/app/controllers/decidim/verifications/admin/verifications_controller.rb
  decidim-verifications/spec/commands/decidim/verifications/revoke_by_condition_authorizations_spec.rb
Labels: module: admin, module: verifications, type: change

#12866 Add meetings documents as collections in participatory spaces landing pages
  config/i18n-tasks.yml
  decidim-core/app/cells/decidim/content_blocks/participatory_space_documents/content.erb
  decidim-core/app/cells/decidim/content_blocks/participatory_space_documents_cell.rb
  decidim-core/app/cells/decidim/documents_panel/show.erb
  decidim-core/app/cells/decidim/documents_panel_cell.rb
  decidim-core/app/presenters/decidim/component_attachment_collection_presenter.rb
  decidim-core/app/views/decidim/application/_collection.html.erb
  decidim-core/app/views/decidim/application/_component_documents.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/cells/decidim/content_blocks/participatory_space_documents_cell_spec.rb
  decidim-core/spec/presenters/decidim/component_attachment_collection_presenter_spec.rb
Labels: module: core, type: feature, configuration, contract: 2024-developments

#12987 Fix proposal bulk actions buttons display
  decidim-proposals/app/views/decidim/proposals/admin/proposals/index.html.erb
Labels: module: proposals, type: fix

#12986 Fix stying in participatory texts
  decidim-proposals/app/packs/entrypoints/participatory_texts_admin.js
  decidim-proposals/app/packs/stylesheets/decidim/proposals/admin/participatory_texts.scss
  decidim-proposals/app/views/decidim/proposals/admin/participatory_texts/index.html.erb
  decidim-proposals/config/assets.rb
Labels: module: proposals, javascript, type: fix

#12985 Fix flaky spec on organization form (comment max length)
  decidim-admin/spec/system/admin_manages_organization_spec.rb
Labels: module: admin, flaky spec, type: fix

#12975 Backport 'Fix exceptions there isn't an organization with a host' to v0.27
  decidim-core/app/controllers/concerns/decidim/force_authentication.rb
  decidim-core/app/controllers/concerns/decidim/use_organization_time_zone.rb
  decidim-core/spec/controllers/concerns/force_authentication_spec.rb
  decidim-core/spec/controllers/concerns/use_organization_time_zone_spec.rb
Labels: module: core, backport, type: fix

#12982 Backport 'Hide support instruction messages once support collection is finished' to v0.27
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/spec/system/proposals_spec.rb
  decidim-proposals/spec/system/vote_proposal_spec.rb
Labels: module: proposals, backport, type: fix, contract: 2024-developments

#12980 Backport 'Fix admin name errors during organization creation' to v0.27
  decidim-system/app/commands/decidim/system/register_organization.rb
  decidim-system/app/controllers/decidim/system/organizations_controller.rb
  decidim-system/config/locales/en.yml
  decidim-system/spec/system/organizations_spec.rb
Labels: module: system, backport, type: fix

#12989 Backport 'Fix flaky spec on organization form (comment max length)' to v0.28
  decidim-admin/spec/system/admin_manages_organization_spec.rb
Labels: module: admin, backport, flaky spec, type: fix

#12939 Backport 'Add proposal author when exporting proposals' to v0.28
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_serializer_spec.rb
Labels: module: proposals, backport, type: fix

#12991 Backport 'Fix proposal bulk actions buttons display' to v0.28
  decidim-proposals/app/views/decidim/proposals/admin/proposals/index.html.erb
Labels: module: proposals, backport, type: fix

#12990 Backport 'Fix stying in participatory texts' to v0.28
  decidim-proposals/app/packs/entrypoints/participatory_texts_admin.js
  decidim-proposals/app/packs/stylesheets/decidim/proposals/admin/participatory_texts.scss
  decidim-proposals/app/views/decidim/proposals/admin/participatory_texts/index.html.erb
  decidim-proposals/config/assets.rb
Labels: module: proposals, backport, javascript, type: fix

#12966 Backport 'Do not display an error when filling a form' to v0.28
  decidim-core/app/packs/src/decidim/abide_form_validator_fixer.js
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/spec/system/authentication_spec.rb
  decidim-proposals/spec/system/admin/admin_creates_proposal_spec.rb
  decidim-proposals/spec/system/new_proposals_spec.rb
Labels: module: proposals, module: core, backport, javascript, type: fix, contract: 2024-developments

#12917 Add Attachments with a Link
  decidim-admin/app/commands/decidim/admin/create_attachment.rb
  decidim-admin/app/commands/decidim/admin/update_attachment.rb
  decidim-admin/app/forms/decidim/admin/attachment_form.rb
  decidim-admin/app/views/decidim/admin/attachments/_form.html.erb
  decidim-admin/app/views/decidim/admin/attachments/index.html.erb
  decidim-admin/lib/decidim/admin/test/manage_attachments_examples.rb
  decidim-admin/spec/commands/decidim/admin/update_attachment_spec.rb
  decidim-core/app/cells/decidim/attachments_file_tab/show.erb
  decidim-core/app/cells/decidim/attachments_file_tab_cell.rb
  decidim-core/app/cells/decidim/attachments_link_tab/show.erb
  decidim-core/app/cells/decidim/attachments_link_tab_cell.rb
  decidim-core/app/cells/decidim/tab_panels/show.erb
  decidim-core/app/cells/decidim/tab_panels_cell.rb
  decidim-core/app/models/decidim/attachment.rb
  decidim-core/app/packs/src/decidim/attachments/file_or_link_tabs.js
  decidim-core/app/packs/src/decidim/attachments/index.js
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/stylesheets/decidim/_modal_update.scss
  decidim-core/app/packs/stylesheets/decidim/_tabs_x.scss
  decidim-core/app/views/decidim/application/_document.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/core/test/shared_examples/has_attachment_collections.rb
  decidim-core/lib/decidim/core/test/shared_examples/has_attachments.rb
  decidim-core/spec/models/decidim/attachment_spec.rb
  decidim-participatory_processes/db/migrate/20240529161054_add_link_to_decidim_attachments.rb
Labels: module: core, module: admin, type: feature, javascript, module: participatory processes, contract: 2024-developments

#12995 Do not allow registering to a meeting if it started
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
  decidim-meetings/spec/system/user_creates_meeting_spec.rb
Labels: module: meetings, type: fix

#12846 Add checks in system for the secret key and the ActiveJob queue
  decidim-system/app/cells/decidim/system/system_checks/show.erb
  decidim-system/app/cells/decidim/system/system_checks_cell.rb
  decidim-system/app/controllers/decidim/system/dashboard_controller.rb
  decidim-system/app/views/decidim/system/dashboard/show.html.erb
  decidim-system/app/views/layouts/decidim/system/_js_configuration.html.erb
  decidim-system/config/locales/en.yml
  decidim-system/lib/decidim/system/engine.rb
  decidim-system/spec/cells/decidim/system/system_checks_cell_spec.rb
Labels: module: system, type: feature

#12984 Change default proposal sorting word to automatic
  decidim-proposals/app/controllers/concerns/decidim/proposals/orderable.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/controllers/concerns/orderable_spec.rb
Labels: module: proposals, type: fix

#12925 Prevents showing a malformed value in WYSIWYG editor
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-core/lib/decidim/form_builder.rb
Labels: module: core, module: admin, type: fix, no-backport

#12957 Extend polls feature in meetings
  .erb-lint.yml
  config/i18n-tasks.yml
  decidim-core/app/helpers/decidim/application_helper.rb
  decidim-core/app/views/layouts/decidim/_application.html.erb
  decidim-forms/app/forms/decidim/forms/answer_form.rb
  decidim-forms/config/locales/en.yml
  decidim-meetings/app/cells/decidim/meetings/question_responses/show.erb
  decidim-meetings/app/commands/decidim/meetings/admin/update_questionnaire.rb
  decidim-meetings/app/commands/decidim/meetings/create_answer.rb
  decidim-meetings/app/controllers/decidim/meetings/admin/meetings_poll_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/polls/answers_controller.rb
  decidim-meetings/app/forms/decidim/meetings/admin/question_form.rb
  decidim-meetings/app/forms/decidim/meetings/answer_form.rb
  decidim-meetings/app/models/decidim/meetings/poll.rb
  decidim-meetings/app/models/decidim/meetings/question.rb
  decidim-meetings/app/models/decidim/meetings/questionnaire.rb
  decidim-meetings/app/packs/src/decidim/meetings/meetings_polls.js
  decidim-meetings/app/packs/src/decidim/meetings/poll.component.js
  decidim-meetings/app/packs/stylesheets/decidim/meetings/_item.scss
  decidim-meetings/app/packs/stylesheets/decidim/meetings/_live_event.scss
  decidim-meetings/app/permissions/decidim/meetings/permissions.rb
  decidim-meetings/app/views/decidim/meetings/admin/poll/_answer_option_template.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/poll/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/poll/_question.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/poll/edit.html.erb
  decidim-meetings/app/views/decidim/meetings/layouts/live_event.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_aside.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_poll_actions.html.erb
  decidim-meetings/app/views/decidim/meetings/polls/answers/_multiple_option.html.erb
  decidim-meetings/app/views/decidim/meetings/polls/answers/_single_option.html.erb
  decidim-meetings/app/views/decidim/meetings/polls/answers/admin.html.erb
  decidim-meetings/app/views/decidim/meetings/polls/answers/index.html.erb
  decidim-meetings/app/views/decidim/meetings/polls/questions/_closed_question.html.erb
  decidim-meetings/app/views/decidim/meetings/polls/questions/_index_admin.html.erb
  decidim-meetings/app/views/decidim/meetings/polls/questions/_published_question.html.erb
  decidim-meetings/app/views/decidim/meetings/polls/questions/_question.html.erb
  decidim-meetings/app/views/decidim/meetings/polls/questions/index.js.erb
  decidim-meetings/app/views/decidim/meetings/polls/questions/index_admin.js.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/component.rb
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-meetings/spec/models/decidim/meetings/questionnaire_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_polls_spec.rb
  decidim-meetings/spec/system/meeting_questions_administrate_spec.rb
  decidim-meetings/spec/system/meeting_questions_reply_poll_spec.rb
Labels: module: core, module: meetings, type: feature, javascript, module: forms, configuration, contract: 2024-developments

#12951 Standardise `current_user` call within Commands tasks (Meetings part 2)
  decidim-forms/app/commands/decidim/forms/answer_questionnaire.rb
  decidim-forms/app/controllers/decidim/forms/concerns/has_questionnaire.rb
  decidim-forms/spec/commands/decidim/forms/answer_questionnaire_spec.rb
  decidim-meetings/app/commands/decidim/meetings/join_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/registrations_controller.rb
  decidim-meetings/spec/commands/join_meeting_spec.rb
Labels: module: core, module: meetings, module: forms, module: conferences, type: change

#12974 Create actionable notifications
  decidim-core/app/cells/decidim/notification/show.erb
  decidim-core/app/cells/decidim/notification_actions/base_cell.rb
  decidim-core/app/cells/decidim/notification_actions/buttons/show.erb
  decidim-core/app/cells/decidim/notification_actions/buttons_cell.rb
  decidim-core/app/cells/decidim/notification_cell.rb
  decidim-core/app/commands/decidim/invite_user_to_group.rb
  decidim-core/app/controllers/decidim/group_invites_controller.rb
  decidim-core/app/events/decidim/invited_to_group_event.rb
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/src/decidim/notifications_actions.js
  decidim-core/app/packs/stylesheets/decidim/_notifications.scss
  decidim-core/app/views/layouts/decidim/_js_configuration.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/events/base_event.rb
  decidim-core/spec/cells/decidim/notification_actions/buttons_cell_spec.rb
  decidim-core/spec/cells/decidim/notification_cell_spec.rb
  decidim-core/spec/commands/decidim/invite_user_to_group_spec.rb
  decidim-core/spec/lib/events/invited_to_group_event_spec.rb
  decidim-core/spec/models/decidim/notification_spec.rb
  decidim-core/spec/system/notifications_spec.rb
  decidim-core/spec/system/user_manages_group_invitations_spec.rb
  docs/modules/develop/pages/notifications.adoc
Labels: team: documentation, module: core, type: feature, javascript, contract: 2024-developments

#12702 Refactor malformed titles in admin logs (part 1)
  decidim-accountability/spec/shared/manage_results_examples.rb
  decidim-accountability/spec/shared/manage_statuses_examples.rb
  decidim-accountability/spec/shared/manage_timeline_examples.rb
  decidim-accountability/spec/system/admin/admin_manages_accountability_spec.rb
  decidim-admin/app/packs/src/decidim/admin/css_preview.js
  decidim-assemblies/spec/shared/manage_assemblies_examples.rb
  decidim-assemblies/spec/shared/manage_assembly_admins_examples.rb
  decidim-assemblies/spec/shared/manage_assembly_members_examples.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_spec.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_types_spec.rb
  decidim-blogs/spec/shared/manage_posts_examples.rb
  decidim-blogs/spec/system/process_admin_manages_post_spec.rb
  decidim-budgets/spec/shared/manage_projects_examples.rb
  decidim-budgets/spec/system/admin_manages_budgets_spec.rb
  decidim-budgets/spec/system/admin_manages_projects_spec.rb
  decidim-conferences/spec/shared/manage_conference_admins_examples.rb
  decidim-conferences/spec/shared/manage_conference_speakers_examples.rb
  decidim-conferences/spec/shared/manage_conferences_examples.rb
  decidim-conferences/spec/shared/manage_media_links_examples.rb
  decidim-conferences/spec/shared/manage_partners_examples.rb
  decidim-conferences/spec/shared/manage_registration_types_examples.rb
  decidim-core/app/presenters/decidim/log/resource_presenter.rb
  decidim-core/app/services/decidim/log/diff_changeset_calculator.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/app/presenters/decidim/debates/admin_log/debate_presenter.rb
  decidim-debates/app/presenters/decidim/debates/admin_log/value_types/debate_title_description_presenter.rb
  decidim-debates/app/presenters/decidim/debates/log/resource_presenter.rb
  decidim-debates/spec/shared/manage_debates_examples.rb
  decidim-meetings/app/presenters/decidim/meetings/admin_log/meeting_presenter.rb
  decidim-meetings/app/presenters/decidim/meetings/admin_log/value_types/meeting_title_description_presenter.rb
  decidim-meetings/app/presenters/decidim/meetings/log/resource_presenter.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
  decidim-pages/spec/system/admin_spec.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/test/factories.rb
  decidim-participatory_processes/spec/shared/manage_process_admins_examples.rb
  decidim-participatory_processes/spec/shared/manage_process_steps_examples.rb
  decidim-participatory_processes/spec/shared/manage_processes_examples.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_groups_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_types_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_processes_spec.rb
  decidim-participatory_processes/spec/types/participatory_process_step_type_spec.rb
  decidim-proposals/app/presenters/decidim/proposals/admin_log/proposal_presenter.rb
  decidim-proposals/app/presenters/decidim/proposals/admin_log/value_types/proposal_title_body_presenter.rb
  decidim-proposals/app/presenters/decidim/proposals/log/resource_presenter.rb
  decidim-proposals/app/presenters/decidim/proposals/log/valuation_assignment_presenter.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/presenters/decidim/log/resource_presenter_spec.rb
  decidim-proposals/spec/presenters/decidim/proposals/admin_log/value_types/proposal_title_body_presenter_spec.rb
  decidim-proposals/spec/shared/manage_proposals_examples.rb
  decidim-proposals/spec/system/admin/admin_edits_proposal_spec.rb
  decidim-proposals/spec/system/admin/admin_manages_proposal_states_spec.rb
  decidim-proposals/spec/system/admin/admin_manages_proposal_valuators_spec.rb
  decidim-proposals/spec/system/admin/index_proposal_notes_spec.rb
  decidim-sortitions/spec/shared/manage_sortitions_examples.rb
  decidim-sortitions/spec/shared/update_sortitions_examples.rb
  decidim-templates/spec/system/admin/admin_manages_proposal_answer_templates_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: admin, module: pages, module: accountability, module: debates, javascript, module: assemblies, module: blogs, module: sortitions, module: participatory processes, module: conferences, module: templates, type: fix

#12952 Fix enable authorizations listing in admin panel
  decidim-admin/app/controllers/decidim/admin/authorization_workflows_controller.rb
  decidim-verifications/spec/system/admin_manages_authorizations_spec.rb
Labels: module: admin, module: verifications, type: fix

#13016 Ensure presence of selectors to fix flaky examples in meetings answers polls
  decidim-meetings/spec/system/meeting_questions_administrate_spec.rb
  decidim-meetings/spec/system/meeting_questions_reply_poll_spec.rb
Labels: module: meetings, type: internal

#13014 Bump braces from 3.0.2 to 3.0.3
  package-lock.json
Labels: dependencies, type: internal, configuration

#13020 Backport 'Change default proposal sorting word to automatic' to v0.28
  decidim-proposals/app/controllers/concerns/decidim/proposals/orderable.rb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/spec/controllers/concerns/orderable_spec.rb
Labels: module: proposals, backport, type: fix

#13011 Remove navigation arrows from show pages
  decidim-accountability/app/controllers/decidim/accountability/results_controller.rb
  decidim-accountability/app/views/decidim/accountability/results/_project.html.erb
  decidim-core/app/views/layouts/decidim/shared/_layout_item.html.erb
  decidim-core/config/locales/en.yml
  decidim-meetings/app/controllers/decidim/meetings/meetings_controller.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting.html.erb
Labels: module: core, module: meetings, module: accountability, type: removal

#13012 Remove unecessary elements in fat footer for mobile views
  decidim-core/app/packs/stylesheets/decidim/_footer.scss
  decidim-core/app/views/layouts/decidim/footer/_main.html.erb
  decidim-core/app/views/layouts/decidim/footer/_main_legal.html.erb
  decidim-core/app/views/layouts/decidim/footer/_main_social_media_links.html.erb
Labels: module: core, type: change

#13021 Backport 'Fix enable authorizations listing in admin panel' to v0.28
  decidim-admin/app/controllers/decidim/admin/authorization_workflows_controller.rb
  decidim-verifications/spec/system/admin_manages_authorizations_spec.rb
Labels: module: admin, backport, module: verifications, type: fix

#12978 Refactor malformed titles in admin logs (part 2)
  decidim-admin/lib/decidim/admin/test/manage_attachment_collections_examples.rb
  decidim-admin/lib/decidim/admin/test/manage_categories_examples.rb
  decidim-admin/lib/decidim/admin/test/manage_hide_content_examples.rb
  decidim-admin/spec/system/admin_manages_help_sections_spec.rb
  decidim-admin/spec/system/admin_manages_newsletters_spec.rb
  decidim-admin/spec/system/admin_manages_organization_area_types_spec.rb
  decidim-admin/spec/system/admin_manages_organization_areas_spec.rb
  decidim-admin/spec/system/admin_manages_organization_scope_types_spec.rb
  decidim-admin/spec/system/admin_manages_organization_scopes_spec.rb
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-admin/spec/system/static_pages_spec.rb
  decidim-assemblies/spec/shared/manage_assembly_components_examples.rb
  decidim-assemblies/spec/shared/manage_assembly_private_users_examples.rb
  decidim-conferences/spec/shared/manage_conference_components_examples.rb
  decidim-core/app/presenters/decidim/admin_log/organization_presenter.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiative_components_spec.rb
  decidim-initiatives/spec/system/admin/admin_manages_initiatives_types_spec.rb
  decidim-initiatives/spec/system/admin/update_initiative_spec.rb
  decidim-participatory_processes/spec/shared/manage_participatory_process_private_users_examples.rb
  decidim-participatory_processes/spec/shared/manage_process_components_examples.rb
Labels: module: core, module: admin, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: fix

#13006 Publish and unpublish a conference speaker
  decidim-conferences/app/commands/decidim/conferences/admin/publish_conference_speaker.rb
  decidim-conferences/app/commands/decidim/conferences/admin/unpublish_conference_speaker.rb
  decidim-conferences/app/controllers/decidim/conferences/admin/conference_speakers_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/conference_speakers_controller.rb
  decidim-conferences/app/helpers/decidim/conferences/conference_helper.rb
  decidim-conferences/app/models/decidim/conference_speaker.rb
  decidim-conferences/app/presenters/decidim/conferences/admin_log/conference_speaker_presenter.rb
  decidim-conferences/app/views/decidim/conferences/admin/conference_speakers/index.html.erb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/db/migrate/20240613095855_add_published_at_to_conference_speakers.rb
  decidim-conferences/lib/decidim/api/conference_type.rb
  decidim-conferences/lib/decidim/conferences/admin_engine.rb
  decidim-conferences/lib/decidim/conferences/seeds.rb
  decidim-conferences/lib/decidim/conferences/test/factories.rb
  decidim-conferences/spec/commands/publish_conference_speaker_spec.rb
  decidim-conferences/spec/commands/unpublish_conference_speaker_spec.rb
  decidim-conferences/spec/controllers/conference_speakers_controller_spec.rb
  decidim-conferences/spec/system/conference_speakers_spec.rb
  decidim-conferences/spec/types/conference_type_spec.rb
Labels: module: conferences, type: change, contract: 2024-developments

#13029 Show all the authorizations available for the organization in the admin
  RELEASE_NOTES.md
  config/i18n-tasks.yml
  decidim-admin/app/controllers/decidim/admin/authorization_workflows_controller.rb
  decidim-admin/app/views/decidim/admin/authorization_workflows/index.html.erb
  decidim-verifications/config/locales/en.yml
  decidim-verifications/lib/decidim/verifications/adapter.rb
  decidim-verifications/spec/system/admin_manages_authorizations_spec.rb
Labels: module: admin, module: verifications, type: feature, configuration

#12983 Standardise`current_user` call within Commands tasks (Admin)
  decidim-admin/app/commands/decidim/admin/create_attachment.rb
  decidim-admin/app/commands/decidim/admin/create_attachment_collection.rb
  decidim-admin/app/commands/decidim/admin/create_participatory_space_private_user.rb
  decidim-admin/app/commands/decidim/admin/deliver_newsletter.rb
  decidim-admin/app/commands/decidim/admin/participatory_space/create_admin.rb
  decidim-admin/app/commands/decidim/admin/process_participatory_space_private_user_import_csv.rb
  decidim-admin/app/commands/decidim/admin/promote_managed_user.rb
  decidim-admin/app/commands/decidim/admin/update_attachment.rb
  decidim-admin/app/commands/decidim/admin/update_attachment_collection.rb
  decidim-admin/app/commands/decidim/admin/update_component_permissions.rb
  decidim-admin/app/commands/decidim/admin/update_external_domain_allowlist.rb
  decidim-admin/app/commands/decidim/admin/update_help_sections.rb
  decidim-admin/app/commands/decidim/admin/update_newsletter.rb
  decidim-admin/app/controllers/decidim/admin/component_permissions_controller.rb
  decidim-admin/app/controllers/decidim/admin/concerns/has_attachment_collections.rb
  decidim-admin/app/controllers/decidim/admin/concerns/has_attachments.rb
  decidim-admin/app/controllers/decidim/admin/concerns/has_private_users.rb
  decidim-admin/app/controllers/decidim/admin/concerns/has_private_users_csv_import.rb
  decidim-admin/app/jobs/decidim/admin/import_participatory_space_private_user_csv_job.rb
  decidim-admin/lib/decidim/admin/test/commands/create_attachment_collection_examples.rb
  decidim-admin/lib/decidim/admin/test/commands/update_attachment_collection_examples.rb
  decidim-admin/spec/commands/decidim/admin/create_attachment_spec.rb
  decidim-admin/spec/commands/decidim/admin/create_participatory_space_private_user_spec.rb
  decidim-admin/spec/commands/decidim/admin/deliver_newsletter_spec.rb
  decidim-admin/spec/commands/decidim/admin/process_participatory_space_private_user_import_csv_spec.rb
  decidim-admin/spec/commands/decidim/admin/promote_managed_user_spec.rb
  decidim-admin/spec/commands/decidim/admin/update_attachment_spec.rb
  decidim-admin/spec/commands/decidim/admin/update_component_permissions_spec.rb
  decidim-admin/spec/commands/decidim/admin/update_external_domain_allowlist_spec.rb
  decidim-admin/spec/commands/decidim/admin/update_help_sections_spec.rb
  decidim-admin/spec/commands/decidim/admin/update_newsletter_spec.rb
  decidim-assemblies/spec/shared/manage_assembly_private_users_examples.rb
  decidim-participatory_processes/spec/shared/manage_participatory_process_private_users_examples.rb
Labels: module: admin, module: assemblies, module: participatory processes, type: change

#13031 Bump tailwindcss from 3.3.2 to 3.4.1
  package-lock.json
  packages/webpacker/package.json
Labels: dependencies, type: fix, configuration, no-backport

#13009 Fix participatory process groups a11y errors
  decidim-assemblies/spec/cells/decidim/assemblies/statistic_cell_spec.rb
  decidim-core/app/cells/decidim/statistic/show.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_process_groups/show.html.erb
  decidim-participatory_processes/spec/system/participatory_process_groups_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: module: core, team: accessibility, module: assemblies, module: participatory processes, type: fix

#13002 Implement sticky buttons for main CTAs in Mobile UI
  decidim-budgets/app/packs/stylesheets/budgets.scss
  decidim-budgets/app/views/decidim/budgets/projects/_order_progress_progressbar_marks_right.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_order_progress_summary_content.html.erb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/spec/system/orders_spec.rb
  decidim-core/app/cells/decidim/progress_bar/show.erb
  decidim-core/app/packs/src/decidim/sticky_header.js
  decidim-core/app/packs/stylesheets/decidim/_flash.scss
  decidim-core/app/packs/stylesheets/decidim/_layout.scss
  decidim-core/app/views/layouts/decidim/header/_main_links_mobile_search.html.erb
  decidim-forms/app/cells/decidim/forms/step_navigation/show.erb
  decidim-forms/app/cells/decidim/forms/step_navigation_cell.rb
  decidim-meetings/app/cells/decidim/meetings/join_meeting_button/remaining_slots.erb
  decidim-meetings/app/packs/stylesheets/decidim/meetings/_item.scss
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_aside.html.erb
  decidim-proposals/app/packs/stylesheets/decidim/proposals/proposals.scss
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_aside.html.erb
  decidim-templates/spec/commands/decidim/templates/admin/copy_proposal_answer_template_spec.rb
  decidim-templates/spec/commands/decidim/templates/admin/copy_questionnaire_template_spec.rb
  decidim-templates/spec/commands/decidim/templates/admin/copy_template_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, type: feature, javascript, module: forms, module: templates, contract: 2024-developments

#13028 Add selectors expectations to avoid flaky tests
  decidim-meetings/app/packs/src/decidim/meetings/poll.component.js
  decidim-meetings/spec/system/meeting_questions_administrate_spec.rb
  decidim-meetings/spec/system/meeting_questions_reply_poll_spec.rb
Labels: module: meetings, flaky spec, javascript, type: internal

#13004 Improve navigation and filters in proposals
  decidim-admin/app/controllers/concerns/decidim/admin/filterable.rb
  decidim-admin/app/helpers/decidim/admin/filterable_helper.rb
  decidim-admin/app/packs/stylesheets/decidim/admin/_cards.scss
  decidim-admin/app/views/decidim/admin/shared/_adjacent_navigation.html.erb
  decidim-admin/app/views/decidim/admin/shared/_filters.html.erb
  decidim-admin/config/locales/en.yml
  decidim-proposals/app/controllers/decidim/proposals/admin/proposals_controller.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/index.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/show.html.erb
  decidim-proposals/spec/system/admin/filter_proposals_spec.rb
Labels: module: proposals, module: admin, type: feature, contract: 2024-developments

#12994 Improvements in the assignment of evaluators
  decidim-admin/app/packs/stylesheets/decidim/admin/_item_show.scss
  decidim-proposals/app/commands/decidim/proposals/admin/assign_proposals_to_valuator.rb
  decidim-proposals/app/commands/decidim/proposals/admin/unassign_proposals_from_valuator.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/valuation_assignments_controller.rb
  decidim-proposals/app/forms/decidim/proposals/admin/valuation_assignment_form.rb
  decidim-proposals/app/helpers/decidim/proposals/admin/proposal_bulk_actions_helper.rb
  decidim-proposals/app/packs/src/decidim/proposals/admin/proposals.js
  decidim-proposals/app/permissions/decidim/proposals/admin/permissions.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_bulk-actions.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_proposal-tr.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_assign_to_valuator.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_dropdown.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_unassign_from_valuator.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_valuators_picker.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/index.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/show.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/commands/decidim/proposals/admin/assign_proposals_to_valuator_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/unassign_proposals_from_valuator_spec.rb
  decidim-proposals/spec/forms/decidim/proposals/admin/valuation_assignment_form_spec.rb
  decidim-proposals/spec/permissions/decidim/proposals/admin/permissions_spec.rb
  decidim-proposals/spec/system/admin/admin_manages_proposal_valuators_spec.rb
  decidim-proposals/spec/system/admin/valuator_manages_proposals_spec.rb
Labels: module: proposals, module: admin, type: feature, javascript, contract: 2024-developments

#13059 Remove dependency on `decidim-system` from `decidim-core`
  decidim-core/lib/decidim/core/seeds.rb
Labels: module: core, target: developer-experience, type: fix

#13044 Use lazy load for the datepicker elements
  decidim-core/app/packs/src/decidim/datepicker/form_datepicker.js
Labels: module: core, target: developer-experience, javascript, type: change

#13055 Fix hard dependency on meetings for `decidim-proposals`
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/lib/decidim/proposals/seeds.rb
Labels: module: proposals, target: developer-experience, type: fix

#13054 Consider that the meetings module might not be installed
  decidim-core/app/views/layouts/decidim/footer/_main_links.html.erb
  decidim-core/app/views/layouts/decidim/header/_main_links_desktop.html.erb
Labels: module: core, target: developer-experience, type: fix

#13053 Fix endorsement seeds with low amount of users
  decidim-core/lib/decidim/core.rb
Labels: module: core, target: developer-experience, type: fix
