Repository decidim/decidim, pull requests merged in 2024-05, with the labels that each got.

#12513 Fix some accessibility issues with comments
  decidim-admin/app/packs/src/decidim/admin/application.js
  decidim-admin/app/packs/src/decidim/admin/dynamic_fields.component.js
  decidim-comments/app/cells/decidim/comments/comment/actions.erb
  decidim-comments/app/cells/decidim/comments/comment/show.erb
  decidim-comments/app/cells/decidim/comments/comment_cell.rb
  decidim-comments/app/cells/decidim/comments/comment_thread/show.erb
  decidim-comments/app/cells/decidim/comments/comments/order_control.erb
  decidim-comments/app/cells/decidim/comments/comments/show.erb
  decidim-comments/app/cells/decidim/comments/comments_cell.rb
  decidim-comments/config/locales/en.yml
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/stylesheets/decidim/_accordion.scss
  decidim-core/app/views/decidim/messaging/conversations/create.js.erb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_process_groups/show.js.erb
Labels: module: comments, team: accessibility, type: fix

#12761 Standardise current_user call within Commands tasks (Comments)
  decidim-api/lib/decidim/api/test/type_context.rb
  decidim-comments/app/commands/decidim/comments/create_comment.rb
  decidim-comments/app/commands/decidim/comments/update_comment.rb
  decidim-comments/app/controllers/decidim/comments/comments_controller.rb
  decidim-comments/lib/decidim/api/commentable_mutation_type.rb
  decidim-comments/lib/decidim/comments/test/shared_examples/create_comment_context.rb
  decidim-comments/spec/commands/create_comment_spec.rb
  decidim-comments/spec/commands/update_comment_spec.rb
  decidim-comments/spec/types/commentable_mutation_type_spec.rb
Labels: module: comments, target: developer-experience, module: api, type: change

#12825 Fix proposal comparison step
  decidim-proposals/app/views/decidim/proposals/proposals/compare.html.erb
  decidim-proposals/spec/shared/proposals_wizards_examples.rb
Labels: module: proposals, type: fix

#12643 Simplify proposal creation wizard
  decidim-core/app/cells/decidim/amendable/wizard_step_form_cell.rb
  decidim-core/app/cells/decidim/wizard_step_form/wizard_header.erb
  decidim-core/app/cells/decidim/wizard_step_form_cell.rb
  decidim-core/app/controllers/decidim/amendments_controller.rb
  decidim-core/app/helpers/decidim/amendments_helper.rb
  decidim-core/app/queries/decidim/similar_emendations.rb
  decidim-core/app/views/decidim/amendments/_wizard_header.html.erb
  decidim-core/app/views/decidim/amendments/compare_draft.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/spec/controllers/amendments_controller_spec.rb
  decidim-dev/lib/decidim/dev.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
  decidim-proposals/README.md
  decidim-proposals/app/commands/decidim/proposals/create_proposal.rb
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/forms/decidim/proposals/proposal_form.rb
  decidim-proposals/app/forms/decidim/proposals/proposal_wizard_create_step_form.rb
  decidim-proposals/app/helpers/decidim/proposals/proposal_wizard_helper.rb
  decidim-proposals/app/queries/decidim/proposals/similar_proposals.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_edit_form_fields.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_wizard_header.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/compare.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/complete.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/new.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals.rb
  decidim-proposals/lib/decidim/proposals/component.rb
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/spec/commands/decidim/proposals/create_proposal_spec.rb
  decidim-proposals/spec/controllers/decidim/proposals/proposals_controller_spec.rb
  decidim-proposals/spec/forms/decidim/proposals/proposal_wizard_create_step_form_spec.rb
  decidim-proposals/spec/queries/decidim/proposals/similar_proposals_spec.rb
  decidim-proposals/spec/shared/proposal_form_examples.rb
  decidim-proposals/spec/shared/proposals_wizards_examples.rb
  decidim-proposals/spec/system/admin/wizard_steps_help_texts_spec.rb
  decidim-proposals/spec/system/amendable/amendment_wizard_spec.rb
  decidim-proposals/spec/system/private_space_proposal_spec.rb
  decidim-proposals/spec/system/proposals_fields_spec.rb
  docs/modules/configure/pages/environment_variables.adoc
Labels: module: proposals, module: core, module: dev, module: generators, type: change

#12705 Use redis in CI to prevent conflicting/reserved capybara ports
  .github/workflows/test_app.yml
  decidim-dev/lib/decidim/dev/test/rspec_support/capybara.rb
Labels: type: internal

#12824 Updated string in ```close_meeting_reminder```
  decidim-meetings/app/mailers/decidim/meetings/close_meeting_reminder_mailer.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/mailers/close_meeting_reminder_mailer_spec.rb
Labels: module: meetings, type: change

#12827 Add the `rel="nofollow noopener noreferrer"` attribute to external links
  decidim-core/app/cells/decidim/profile/details.erb
  decidim-core/app/controllers/decidim/links_controller.rb
  decidim-core/app/views/decidim/links/_modal.html.erb
  decidim-core/app/views/decidim/links/new.html.erb
Labels: module: core, type: fix

#12657 Fix flaky specs when organization name has an apostrophe
  decidim-core/lib/decidim/core/test/shared_examples/logo_email.rb
  decidim-core/spec/mailers/reported_mailer_spec.rb
Labels: module: core, flaky spec, type: fix

#12821 Fix lighthouse URLs
  decidim-dev/lib/tasks/lighthouse_report.rake
Labels: module: dev, type: fix, type: internal

#12706 Fix broken conference registering when no registration types
  decidim-conferences/app/controllers/decidim/conferences/registration_types_controller.rb
  decidim-conferences/app/models/decidim/conference.rb
  decidim-conferences/app/views/decidim/conferences/conferences/_conference_hero.html.erb
  decidim-conferences/app/views/decidim/conferences/conferences/show.html.erb
  decidim-conferences/spec/controllers/registration_types_controller_spec.rb
  decidim-conferences/spec/models/decidim/conference_spec.rb
  decidim-conferences/spec/system/conference_registrations_spec.rb
Labels: module: conferences, type: fix

#12671 Fix organization multitenant issue with meeting's reminders
  decidim-meetings/app/services/decidim/meetings/close_meeting_reminder_generator.rb
  decidim-meetings/spec/services/decidim/meetings/close_meeting_reminder_generator_spec.rb
Labels: module: meetings, type: fix

#12835 Backport 'Fix lighthouse URLs' to v0.28
  decidim-dev/lib/tasks/lighthouse_report.rake
Labels: backport, module: dev, type: fix, type: internal

#12831 Backport 'Fix proposal comparison step' to v0.28
  decidim-proposals/app/views/decidim/proposals/proposals/compare.html.erb
  decidim-proposals/spec/shared/proposals_wizards_examples.rb
Labels: module: proposals, backport, type: fix

#12832 Backport 'Add the `rel="nofollow noopener noreferrer"` attribute to external links' to v0.28
  decidim-core/app/cells/decidim/profile/details.erb
  decidim-core/app/controllers/decidim/links_controller.rb
  decidim-core/app/views/decidim/links/_modal.html.erb
  decidim-core/app/views/decidim/links/new.html.erb
Labels: module: core, backport, type: fix

#12833 Backport 'Fix broken conference registering when no registration types' to v0.28
  decidim-conferences/app/controllers/decidim/conferences/registration_types_controller.rb
  decidim-conferences/app/models/decidim/conference.rb
  decidim-conferences/app/views/decidim/conferences/conferences/_conference_hero.html.erb
  decidim-conferences/app/views/decidim/conferences/conferences/show.html.erb
  decidim-conferences/spec/controllers/registration_types_controller_spec.rb
  decidim-conferences/spec/models/decidim/conference_spec.rb
  decidim-conferences/spec/system/conference_registrations_spec.rb
Labels: backport, module: conferences, type: fix

#12836 Backport 'Fix flaky specs when organization name has an apostrophe' to v0.28
  decidim-core/lib/decidim/core/test/shared_examples/logo_email.rb
  decidim-core/spec/mailers/reported_mailer_spec.rb
Labels: module: core, backport, flaky spec, type: fix

#12746 Fix several HTML validation issues in redesign
  decidim-accountability/app/cells/decidim/accountability/status/status.erb
  decidim-accountability/app/cells/decidim/accountability/status_cell.rb
  decidim-accountability/app/views/decidim/accountability/results/_search.html.erb
  decidim-accountability/spec/system/explore_results_spec.rb
  decidim-admin/app/views/decidim/admin/shared/_js-callout.html.erb
  decidim-budgets/app/cells/decidim/budgets/project_tags/show.erb
  decidim-budgets/app/helpers/decidim/budgets/projects_helper.rb
  decidim-budgets/app/views/decidim/budgets/projects/_addition_selector.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_exit_modal.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-comments/app/cells/decidim/comments/comment/actions.erb
  decidim-comments/app/cells/decidim/comments/comments/user_comments_blocked_warning.erb
  decidim-comments/app/packs/src/decidim/comments/comments.component.test.js
  decidim-core/app/cells/decidim/announcement/show.erb
  decidim-core/app/cells/decidim/author/show.erb
  decidim-core/app/cells/decidim/card_metadata/show.erb
  decidim-core/app/cells/decidim/data_consent/category.erb
  decidim-core/app/cells/decidim/progress_bar/show.erb
  decidim-core/app/cells/decidim/progress_bar_cell.rb
  decidim-core/app/cells/decidim/report_button/flag_modal.erb
  decidim-core/app/cells/decidim/resource_types_filter/show.erb
  decidim-core/app/helpers/concerns/decidim/flash_helper_extensions.rb
  decidim-core/app/helpers/decidim/check_boxes_tree_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_cards.scss
  decidim-core/app/views/decidim/account/show.html.erb
  decidim-core/app/views/decidim/application/_document.html.erb
  decidim-core/app/views/decidim/notifications_settings/show.html.erb
  decidim-core/app/views/decidim/shared/filters/_collection.html.erb
  decidim-core/app/views/decidim/shared/filters/_dropdown_label.html.erb
  decidim-core/spec/cells/decidim/card_metadata_cell_spec.rb
  decidim-core/spec/helpers/decidim/check_boxes_tree_helper_spec.rb
  decidim-design/app/views/decidim/design/components/cards/_static-card-l-meetings.html.erb
  decidim-dev/lib/decidim/dev/test/rspec_support/filters.rb
  decidim-forms/app/views/decidim/forms/questionnaires/_answer.html.erb
  decidim-initiatives/app/helpers/decidim/initiatives/initiative_helper.rb
  decidim-initiatives/spec/system/filter_initiatives_spec.rb
  decidim-meetings/app/cells/decidim/meetings/join_meeting_button/registration_modal.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_l/image.erb
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_step/show.erb
  decidim-participatory_processes/spec/shared/process_metadata_examples.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposal_states/_form.html.erb
  decidim-proposals/spec/cells/decidim/proposals/proposal_l_cell_spec.rb
  decidim-proposals/spec/system/proposal_show_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: accountability, javascript, module: forms, module: participatory processes, type: fix, module: design

#12823 Add missing changelog from v0.27.6 releases notes
  CHANGELOG.md
Labels: type: internal

#12834 Backport 'Fix some accessibility issues with comments' to v0.28
  decidim-admin/app/packs/src/decidim/admin/application.js
  decidim-admin/app/packs/src/decidim/admin/dynamic_fields.component.js
  decidim-comments/app/cells/decidim/comments/comment/actions.erb
  decidim-comments/app/cells/decidim/comments/comment/show.erb
  decidim-comments/app/cells/decidim/comments/comment_cell.rb
  decidim-comments/app/cells/decidim/comments/comment_thread/show.erb
  decidim-comments/app/cells/decidim/comments/comments/order_control.erb
  decidim-comments/app/cells/decidim/comments/comments/show.erb
  decidim-comments/app/cells/decidim/comments/comments_cell.rb
  decidim-comments/config/locales/en.yml
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/stylesheets/decidim/_accordion.scss
  decidim-core/app/views/decidim/messaging/conversations/create.js.erb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_process_groups/show.js.erb
Labels: module: core, module: comments, module: admin, backport, javascript, team: accessibility, module: participatory processes, type: fix

#12838 Backport 'Fix organization multitenant issue with meeting's reminders' to v0.28
  decidim-meetings/app/services/decidim/meetings/close_meeting_reminder_generator.rb
  decidim-meetings/spec/services/decidim/meetings/close_meeting_reminder_generator_spec.rb
Labels: module: meetings, backport, type: fix

#12839 Backport 'Fix lighthouse URLs' to v0.27
  decidim-dev/lib/tasks/lighthouse_report.rake
Labels: backport, module: dev, type: fix, type: internal

#12689 Fix layout in Safari when there are few elements in the page
  decidim-core/app/packs/stylesheets/decidim/_layout.scss
Labels: type: fix

#12629 Show Bullet, Rack Profiler and WAI WCAG tools in the footer
  Gemfile.lock
  decidim-dev/app/packs/stylesheets/decidim/dev.scss
  decidim-dev/app/packs/stylesheets/decidim/dev/_accessibility.scss
  decidim-dev/app/packs/stylesheets/decidim/dev/_bullet.scss
  decidim-dev/app/packs/stylesheets/decidim/dev/_rack_profiler.scss
  decidim-dev/decidim-dev.gemspec
  decidim-dev/lib/decidim/dev/test/rspec_support/bullet.rb
  decidim-forms/app/models/decidim/forms/answer_option.rb
  decidim-forms/app/models/decidim/forms/display_condition.rb
  decidim-forms/app/models/decidim/forms/question_matrix_row.rb
  decidim-forms/bin/rails
  decidim-forms/db/migrate/20240402092039_add_answer_options_counter_cache_to_questions.rb
  decidim-forms/db/migrate/20240402095253_add_matrix_row_counter_cache_to_questions.rb
  decidim-forms/db/migrate/20240416111953_add_display_conditions_counter_cache_to_questions.rb
  decidim-forms/db/migrate/20240416113926_add_display_conditions_for_other_questions_counter_cache_to_questions.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/app_templates/bullet_initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/rack_profiler_initializer.rb
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-surveys/spec/serializers/decidim/surveys/data_importer_spec.rb
  decidim-templates/app/commands/decidim/templates/admin/questionnaire_copier.rb
  decidim-templates/lib/decidim/templates/test/shared_examples/copies_all_questionnaire_contents_examples.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, target: developer-experience, module: surveys, module: accountability, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: forms, module: conferences, module: initiatives, module: templates

#12709 Fix admin language selector
  decidim-admin/app/packs/src/decidim/admin/choose_language.js
  decidim-admin/spec/system/admin_manages_more_locales_spec.rb
Labels: module: admin, javascript, type: fix

#12843 Fix exceptions there isn't an organization with a host
  decidim-core/app/controllers/concerns/decidim/force_authentication.rb
  decidim-core/app/controllers/concerns/decidim/use_organization_time_zone.rb
  decidim-core/spec/controllers/concerns/force_authentication_spec.rb
  decidim-core/spec/controllers/concerns/use_organization_time_zone_spec.rb
Labels: module: core, type: fix

#12837 Add organization or application name in emails' From header
  decidim-admin/app/mailers/decidim/admin/application_mailer.rb
  decidim-core/app/mailers/decidim/application_mailer.rb
  decidim-core/spec/mailers/application_mailer_spec.rb
  decidim-system/app/mailers/decidim/system/application_mailer.rb
  decidim-system/config/locales/en.yml
  decidim-system/spec/commands/decidim/system/register_organization_spec.rb
  decidim-system/spec/commands/decidim/system/update_organization_spec.rb
  decidim-system/spec/forms/decidim/system/update_organization_form_spec.rb
Labels: module: core, module: admin, module: system, type: fix

#12841 Remove similar initiatives logic and PreviousForm class leftovers
  decidim-initiatives/app/forms/decidim/initiatives/initiative_form.rb
  decidim-initiatives/app/forms/decidim/initiatives/previous_form.rb
  decidim-initiatives/app/queries/decidim/initiatives/similar_initiatives.rb
  decidim-initiatives/lib/decidim/initiatives.rb
Labels: module: initiatives, type: removal

#12847 Fix 500 error when creating or updating an organization without a secret key
  decidim-system/app/forms/decidim/system/update_organization_form.rb
  decidim-system/app/views/decidim/system/organizations/edit.html.erb
  decidim-system/config/locales/en.yml
  decidim-system/spec/system/organizations_spec.rb
Labels: module: system, type: fix

#12592 Customizable footer revamp (pages & topics)
  RELEASE_NOTES.md
  decidim-admin/app/commands/decidim/admin/create_static_page.rb
  decidim-admin/app/commands/decidim/admin/update_static_page.rb
  decidim-admin/app/forms/decidim/admin/static_page_form.rb
  decidim-admin/app/views/decidim/admin/static_pages/_form.html.erb
  decidim-core/app/cells/decidim/footer_pages/pages.erb
  decidim-core/app/cells/decidim/footer_pages/topics.erb
  decidim-core/app/cells/decidim/footer_pages_cell.rb
  decidim-core/app/cells/decidim/footer_topics/show.erb
  decidim-core/app/cells/decidim/footer_topics_cell.rb
  decidim-core/app/views/decidim/pages/index.html.erb
  decidim-core/app/views/layouts/decidim/footer/_main.html.erb
  decidim-core/app/views/layouts/decidim/footer/_main_legal.html.erb
  decidim-core/app/views/layouts/decidim/footer/_main_links.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/db/migrate/20240326104215_remove_show_in_footer_in_static_pages.rb
  decidim-core/lib/decidim/core/menu.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/spec/system/external_domain_warning_spec.rb
  decidim-core/spec/system/homepage_spec.rb
  decidim-core/spec/system/menu_spec.rb
  decidim-system/app/commands/decidim/system/create_default_pages.rb
  decidim-system/app/commands/decidim/system/populate_help.rb
Labels: module: core, module: admin, module: system, status: WIP, type: change

#12849 Remove sidebar when conference has no components
  decidim-conferences/app/views/decidim/conferences/conferences/show.html.erb
  decidim-conferences/spec/system/conferences_spec.rb
Labels: module: conferences, type: fix

#12860 Backport 'Add organization or application name in emails' From header' to v0.28
  decidim-admin/app/mailers/decidim/admin/application_mailer.rb
  decidim-core/app/mailers/decidim/application_mailer.rb
  decidim-core/spec/mailers/application_mailer_spec.rb
  decidim-system/app/mailers/decidim/system/application_mailer.rb
  decidim-system/config/locales/en.yml
  decidim-system/spec/commands/decidim/system/register_organization_spec.rb
  decidim-system/spec/commands/decidim/system/update_organization_spec.rb
  decidim-system/spec/forms/decidim/system/update_organization_form_spec.rb
Labels: module: core, module: admin, module: system, backport, type: fix

#12862 Backport 'Fix 500 error when creating or updating an organization without a secret key' to v0.28
  decidim-system/app/forms/decidim/system/update_organization_form.rb
  decidim-system/app/views/decidim/system/organizations/edit.html.erb
  decidim-system/config/locales/en.yml
  decidim-system/spec/system/organizations_spec.rb
Labels: module: system, backport, type: fix

#12861 Backport 'Fix exceptions there isn't an organization with a host' to v0.28
  decidim-core/app/controllers/concerns/decidim/force_authentication.rb
  decidim-core/app/controllers/concerns/decidim/use_organization_time_zone.rb
  decidim-core/spec/controllers/concerns/force_authentication_spec.rb
  decidim-core/spec/controllers/concerns/use_organization_time_zone_spec.rb
Labels: module: core, backport, type: fix

#12854 Backport 'Fix layout in Safari when there are few elements in the page' to v0.28
  decidim-core/app/packs/stylesheets/decidim/_layout.scss
Labels: module: core, backport, type: fix

#12863 Backport 'Remove sidebar when conference has no components' to v0.28
  decidim-conferences/app/views/decidim/conferences/conferences/show.html.erb
  decidim-conferences/spec/system/conferences_spec.rb
Labels: backport, module: conferences, type: fix

#12857 Fix strings for ordering when listing budgets
  decidim-budgets/app/cells/decidim/budgets/budgets_list/main_list.erb
  decidim-budgets/config/locales/en.yml
Labels: module: budgets, type: fix

#12853 Remove customizations for labels on accountability
  RELEASE_NOTES.md
  decidim-accountability/app/cells/decidim/accountability/status_cell.rb
  decidim-accountability/app/helpers/decidim/accountability/application_helper.rb
  decidim-accountability/app/views/decidim/accountability/results/_home_categories.html.erb
  decidim-accountability/config/locales/en.yml
  decidim-accountability/lib/decidim/accountability/component.rb
  decidim-accountability/lib/decidim/accountability/seeds.rb
  decidim-accountability/lib/decidim/accountability/test/factories.rb
  decidim-dev/lib/decidim/dev/assets/assemblies.json
  decidim-dev/lib/decidim/dev/assets/participatory_processes.json
Labels: module: accountability, module: dev, type: removal

#12840 Standardise `current_user` call within Commands tasks (Participatory Processes)
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/copy_participatory_process.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/import_participatory_process.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_copies_controller.rb
  decidim-participatory_processes/spec/commands/copy_participatory_process_spec.rb
Labels: module: participatory processes, type: change

#12852 Rename system command names for consistency
  decidim-admin/spec/system/admin_invite_spec.rb
  decidim-system/app/commands/decidim/system/create_default_help_pages.rb
  decidim-system/app/commands/decidim/system/create_organization.rb
  decidim-system/app/controllers/decidim/system/organizations_controller.rb
  decidim-system/db/seeds.rb
  decidim-system/spec/commands/decidim/system/create_organization_spec.rb
Labels: module: core, module: admin, module: pages, module: system, type: change

#12828 Create user notifications while seeding
  RELEASE_NOTES.md
  decidim-comments/app/models/decidim/comments/seed.rb
  decidim-core/lib/decidim/core/seeds.rb
  decidim-core/lib/decidim/seeds.rb
  decidim-generators/lib/decidim/generators/install_generator.rb
  decidim-generators/spec/runtime/full_app_generator_spec.rb
  decidim-meetings/lib/decidim/meetings/seeds.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/seeds.rb
  decidim-proposals/lib/decidim/proposals/seeds.rb
  docs/modules/develop/pages/guide_development_app.adoc
  docs/modules/install/pages/index.adoc
  docs/modules/install/pages/manual.adoc
Labels: team: documentation, module: proposals, module: core, module: meetings, module: comments, module: generators, module: participatory processes, type: change

#12885 Backport 'Order users by term similarity within admin dashboard selectors' to v0.27
  decidim-admin/app/controllers/decidim/admin/organization_controller.rb
  decidim-admin/spec/controllers/organizations_controller_spec.rb
Labels: module: admin, backport, type: fix

#12829 Hide moderated content from notifications
  decidim-accountability/app/events/decidim/accountability/base_result_event.rb
  decidim-accountability/spec/events/decidim/accountability/proposal_linked_event_spec.rb
  decidim-accountability/spec/events/decidim/accountability/result_progress_updated_event_spec.rb
  decidim-comments/app/events/decidim/comments/comment_event.rb
  decidim-comments/lib/decidim/comments/test/factories.rb
  decidim-comments/lib/decidim/comments/test/shared_examples/comment_event.rb
  decidim-core/app/cells/decidim/notification/moderated.erb
  decidim-core/app/cells/decidim/notification_cell.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/events/base_event.rb
  decidim-core/spec/cells/decidim/notification_cell_spec.rb
  decidim-core/spec/lib/events/simple_event_spec.rb
  decidim-dev/lib/decidim/dev/test/factories.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
Labels: module: proposals, module: core, module: comments, module: accountability, module: dev, type: fix

#12875 Add proposal author when exporting proposals
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/spec/services/decidim/proposals/proposal_serializer_spec.rb
Labels: module: proposals, type: fix

#12880 Fix external URL with a fragment
  decidim-core/app/controllers/decidim/links_controller.rb
  decidim-core/app/views/decidim/links/new.html.erb
  decidim-core/spec/system/external_domain_warning_spec.rb
Labels: module: core, type: fix

#12877 Remove unecessary accordion in Conferences' program
  decidim-conferences/app/packs/stylesheets/decidim/conferences/_program.scss
  decidim-conferences/app/views/decidim/conferences/conference_program/_program_item.html.erb
Labels: module: conferences, type: fix

#12864 Fix exception when going to debates new URL directly as non-logged user
  decidim-debates/app/controllers/decidim/debates/debates_controller.rb
  decidim-debates/spec/controllers/decidim/debates/debates_controller_spec.rb
  decidim-meetings/spec/controllers/decidim/meetings/meetings_controller_spec.rb
  decidim-proposals/spec/controllers/decidim/proposals/proposals_controller_spec.rb
Labels: module: proposals, module: meetings, module: debates, type: fix

#12859 Backport 'Fix several HTML validation issues in redesign' to v0.28
  decidim-accountability/app/cells/decidim/accountability/status/status.erb
  decidim-accountability/app/cells/decidim/accountability/status_cell.rb
  decidim-accountability/app/views/decidim/accountability/results/_search.html.erb
  decidim-accountability/spec/system/explore_results_spec.rb
  decidim-admin/app/views/decidim/admin/shared/_js-callout.html.erb
  decidim-budgets/app/cells/decidim/budgets/project_tags/show.erb
  decidim-budgets/app/helpers/decidim/budgets/projects_helper.rb
  decidim-budgets/app/views/decidim/budgets/projects/_addition_selector.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_exit_modal.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-comments/app/cells/decidim/comments/comment/actions.erb
  decidim-comments/app/cells/decidim/comments/comments/user_comments_blocked_warning.erb
  decidim-comments/app/packs/src/decidim/comments/comments.component.test.js
  decidim-core/app/cells/decidim/announcement/show.erb
  decidim-core/app/cells/decidim/author/show.erb
  decidim-core/app/cells/decidim/card_metadata/show.erb
  decidim-core/app/cells/decidim/data_consent/category.erb
  decidim-core/app/cells/decidim/progress_bar/show.erb
  decidim-core/app/cells/decidim/progress_bar_cell.rb
  decidim-core/app/cells/decidim/report_button/flag_modal.erb
  decidim-core/app/cells/decidim/resource_types_filter/show.erb
  decidim-core/app/helpers/concerns/decidim/flash_helper_extensions.rb
  decidim-core/app/helpers/decidim/check_boxes_tree_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_cards.scss
  decidim-core/app/views/decidim/account/show.html.erb
  decidim-core/app/views/decidim/application/_document.html.erb
  decidim-core/app/views/decidim/notifications_settings/show.html.erb
  decidim-core/app/views/decidim/shared/filters/_collection.html.erb
  decidim-core/app/views/decidim/shared/filters/_dropdown_label.html.erb
  decidim-core/spec/cells/decidim/card_metadata_cell_spec.rb
  decidim-core/spec/helpers/decidim/check_boxes_tree_helper_spec.rb
  decidim-design/app/views/decidim/design/components/cards/_static-card-l-meetings.html.erb
  decidim-dev/lib/decidim/dev/test/rspec_support/filters.rb
  decidim-forms/app/views/decidim/forms/questionnaires/_answer.html.erb
  decidim-initiatives/app/helpers/decidim/initiatives/initiative_helper.rb
  decidim-initiatives/spec/system/filter_initiatives_spec.rb
  decidim-meetings/app/cells/decidim/meetings/join_meeting_button/registration_modal.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_l/image.erb
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/process_step/show.erb
  decidim-participatory_processes/spec/shared/process_metadata_examples.rb
  decidim-proposals/spec/cells/decidim/proposals/proposal_l_cell_spec.rb
  decidim-proposals/spec/system/proposal_show_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, backport, module: accountability, javascript, module: forms, module: participatory processes, type: fix, module: design

#12858 Prevent showing the dropdown menu when changing orientation of mobile devices
  decidim-accountability/app/views/decidim/accountability/results/_scope_filters.html.erb
  decidim-admin/app/views/layouts/decidim/admin/_sidebar_menu.html.erb
  decidim-conferences/app/views/decidim/conferences/conferences/show.html.erb
  decidim-core/app/cells/decidim/nav_links/show.erb
  decidim-core/app/cells/decidim/resource_types_filter/show.erb
  decidim-core/app/packs/src/decidim/a11y.js
  decidim-core/app/views/decidim/pages/_tabbed.html.erb
  decidim-core/app/views/decidim/searches/_filters.html.erb
  decidim-core/app/views/decidim/shared/_filters.html.erb
  decidim-core/app/views/decidim/shared/_orders.html.erb
  decidim-core/app/views/layouts/decidim/shared/_layout_user_profile.html.erb
  decidim-core/config/locales/en.yml
Labels: module: core, module: admin, module: accountability, javascript, module: conferences, type: fix

#12890 Fix invalid dates on meetings' seeds
  decidim-meetings/lib/decidim/meetings/seeds.rb
Labels: module: meetings, type: fix

#12855 Backport 'Fix admin language selector' to v0.28
  decidim-admin/app/packs/src/decidim/admin/choose_language.js
  decidim-admin/spec/system/admin_manages_more_locales_spec.rb
Labels: module: admin, backport, javascript, type: fix

#12884 Use values from secrets to set default max attachment and avatar size
  decidim-core/lib/decidim/organization_settings.rb
  decidim-core/spec/lib/organization_settings_spec.rb
Labels: module: core, type: fix

#12870 Standarise `current_user` call within Commands tasks (Initiatives)
  decidim-initiatives/app/commands/decidim/initiatives/admin/update_initiative_answer.rb
  decidim-initiatives/app/commands/decidim/initiatives/create_initiative.rb
  decidim-initiatives/app/commands/decidim/initiatives/spawn_committee_request.rb
  decidim-initiatives/app/commands/decidim/initiatives/update_initiative.rb
  decidim-initiatives/app/controllers/decidim/initiatives/admin/answers_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/committee_requests_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/create_initiative_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_controller.rb
  decidim-initiatives/spec/commands/decidim/initiatives/admin/update_initiative_answer_spec.rb
  decidim-initiatives/spec/commands/decidim/initiatives/create_initiative_spec.rb
  decidim-initiatives/spec/commands/decidim/initiatives/spawn_committee_request_spec.rb
  decidim-initiatives/spec/commands/decidim/initiatives/update_initiative_spec.rb
  decidim-initiatives/spec/shared/create_initiative_example.rb
  decidim-initiatives/spec/shared/update_initiative_answer_example.rb
  decidim-meetings/spec/system/live_meeting_answer_questions_spec.rb
Labels: module: meetings, module: initiatives, type: change

#12874 Fix i18n string misplacement in decidim-initiatives
  decidim-admin/config/locales/en.yml
  decidim-initiatives/config/locales/en.yml
Labels: module: admin, module: initiatives, type: fix

#12906 Backport 'Use values from secrets to set default max attachment and avatar size' to v0.28
  decidim-core/lib/decidim/organization_settings.rb
  decidim-core/spec/lib/organization_settings_spec.rb
Labels: module: core, backport, type: fix

#12907 Backport 'Use values from secrets to set default max attachment and avatar size' to v0.27
  decidim-core/lib/decidim/organization_settings.rb
  decidim-core/spec/lib/organization_settings_spec.rb
Labels: module: core, backport, type: fix

#12850 Standardise `current_user` call within Commands tasks (Meetings)
  decidim-meetings/app/commands/decidim/meetings/admin/update_question_status.rb
  decidim-meetings/app/commands/decidim/meetings/create_answer.rb
  decidim-meetings/app/commands/decidim/meetings/update_meeting.rb
  decidim-meetings/app/controllers/decidim/meetings/meetings_controller.rb
  decidim-meetings/app/controllers/decidim/meetings/polls/answers_controller.rb
  decidim-meetings/spec/commands/create_answer_spec.rb
  decidim-meetings/spec/commands/update_meeting_spec.rb
Labels: module: meetings, type: change
