Repository decidim/decidim, pull requests merged in 2024-11, with the labels that each got.

#13423 Enable geolocation for address field in proposal form
  RELEASE_NOTES.md
  decidim-core/app/controllers/concerns/decidim/ajax_permission_handler.rb
  decidim-core/app/controllers/decidim/editor_images_controller.rb
  decidim-core/app/controllers/decidim/geolocation_controller.rb
  decidim-core/app/controllers/decidim/user_conversations_controller.rb
  decidim-core/app/packs/entrypoints/decidim_geocoding.js
  decidim-core/app/packs/src/decidim/geocoding/reverse_geocoding.js
  decidim-core/app/packs/stylesheets/decidim/geocoding_addons.scss
  decidim-core/app/permissions/decidim/permissions.rb
  decidim-core/config/assets.rb
  decidim-core/config/routes.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/test/shared_examples/map_examples.rb
  decidim-core/lib/decidim/map/autocomplete.rb
  decidim-core/lib/decidim/map/provider/geocoding/here.rb
  decidim-core/spec/controllers/geolocation_controller_spec.rb
  decidim-core/spec/lib/map/autocomplete_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-proposals/app/packs/entrypoints/decidim_proposals_geocoding.js
  decidim-proposals/app/views/decidim/proposals/proposals/_edit_form_fields.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/device_location_spec.rb
Labels: module: proposals, module: core, type: feature, javascript, contract: 2024-developments

#13598 Fix initiative form is not taking into account the scope selected
  decidim-initiatives/app/commands/decidim/initiatives/create_initiative.rb
Labels: module: initiatives, type: fix, release: v0.28, release: v0.29

#12655 Fix issues with the budgets proposals import
  decidim-budgets/app/commands/decidim/budgets/admin/import_proposals_to_budgets.rb
  decidim-budgets/app/forms/decidim/budgets/admin/project_import_proposals_form.rb
  decidim-budgets/spec/commands/decidim/budgets/admin/import_proposals_to_budgets_spec.rb
  decidim-budgets/spec/forms/decidim/budgets/admin/project_import_proposals_form_spec.rb
Labels: module: budgets, type: fix, release: v0.28, release: v0.29

#12683 Fix editor image routing
  decidim-accountability/app/forms/decidim/accountability/admin/result_form.rb
  decidim-accountability/app/forms/decidim/accountability/admin/timeline_entry_form.rb
  decidim-admin/app/forms/decidim/admin/help_section_form.rb
  decidim-admin/app/forms/decidim/admin/organization_appearance_form.rb
  decidim-admin/app/forms/decidim/admin/organization_form.rb
  decidim-admin/app/forms/decidim/admin/static_page_form.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_form.rb
  decidim-blogs/app/forms/decidim/blogs/admin/post_form.rb
  decidim-budgets/app/forms/decidim/budgets/admin/budget_form.rb
  decidim-budgets/app/forms/decidim/budgets/admin/project_form.rb
  decidim-conferences/app/forms/decidim/conferences/admin/conference_form.rb
  decidim-conferences/app/forms/decidim/conferences/admin/conference_speaker_form.rb
  decidim-conferences/app/forms/decidim/conferences/admin/registration_type_form.rb
  decidim-core/app/helpers/decidim/sanitize_helper.rb
  decidim-core/lib/decidim/attributes.rb
  decidim-core/lib/decidim/attributes/rich_text.rb
  decidim-core/lib/decidim/content_parsers.rb
  decidim-core/lib/decidim/content_parsers/blob_parser.rb
  decidim-core/lib/decidim/content_renderers.rb
  decidim-core/lib/decidim/content_renderers/blob_renderer.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/settings_manifest.rb
  decidim-core/lib/decidim/translatable_attributes.rb
  decidim-core/spec/content_parsers/decidim/blob_parser_spec.rb
  decidim-core/spec/content_renderers/decidim/blob_renderer_spec.rb
  decidim-core/spec/lib/attributes/rich_text_spec.rb
  decidim-debates/app/forms/decidim/debates/admin/close_debate_form.rb
  decidim-debates/app/forms/decidim/debates/admin/debate_form.rb
  decidim-forms/app/forms/decidim/forms/admin/questionnaire_form.rb
  decidim-initiatives/app/forms/decidim/initiatives/admin/initiative_answer_form.rb
  decidim-initiatives/app/forms/decidim/initiatives/admin/initiative_form.rb
  decidim-initiatives/app/forms/decidim/initiatives/admin/initiative_type_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/close_meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_agenda_items_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_registrations_form.rb
  decidim-pages/app/forms/decidim/pages/admin/page_form.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_form.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_answer_form.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_form.rb
  decidim-sortitions/app/forms/decidim/sortitions/admin/destroy_sortition_form.rb
  decidim-sortitions/app/forms/decidim/sortitions/admin/edit_sortition_form.rb
  decidim-sortitions/app/forms/decidim/sortitions/admin/sortition_form.rb
  decidim-verifications/app/forms/decidim/verifications/id_documents/admin/config_form.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: admin, module: pages, module: verifications, module: accountability, module: debates, module: assemblies, module: blogs, module: sortitions, module: forms, module: participatory processes, module: conferences, module: initiatives, type: fix

#13606 Backport 'Fix issues with the budgets proposals import' to v0.28
  decidim-budgets/app/commands/decidim/budgets/admin/import_proposals_to_budgets.rb
  decidim-budgets/app/forms/decidim/budgets/admin/project_import_proposals_form.rb
  decidim-budgets/spec/commands/decidim/budgets/admin/import_proposals_to_budgets_spec.rb
  decidim-budgets/spec/forms/decidim/budgets/admin/project_import_proposals_form_spec.rb
Labels: module: budgets, backport, type: fix, release: v0.29

#13471 Fix newsletter subscriber count
  decidim-admin/app/controllers/decidim/admin/newsletters_controller.rb
  decidim-admin/app/packs/src/decidim/admin/newsletters.js
  decidim-admin/config/routes.rb
  decidim-admin/spec/system/admin_manages_newsletters_spec.rb
Labels: module: admin, type: fix, release: v0.28, release: v0.29

#13498 Backport 'Update supported versions in docs' to v0.27
  SECURITY.adoc
  docs/modules/install/partials/version_matrix.adoc
Labels: backport, type: fix, release: v0.28, release: v0.29

#13356 Update UI design of detail page
  decidim-core/app/cells/decidim/amendable/amend_button_card/show.erb
  decidim-core/app/cells/decidim/amendable/amend_button_card_cell.rb
  decidim-core/app/helpers/decidim/amendments_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_layout.scss
  decidim-debates/app/views/decidim/debates/debates/_debate_actions.html.erb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-debates/config/locales/en.yml
  decidim-debates/spec/system/user_closes_debate_spec.rb
  decidim-debates/spec/system/user_edits_debate_spec.rb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_actions.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_aside.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/system/user_close_meeting_spec.rb
  decidim-meetings/spec/system/user_edit_meeting_spec.rb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_collaborative_actions.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/_collaborative_draft_aside.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_actions.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal_aside.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/amendable/amend_proposal_spec.rb
  decidim-proposals/spec/system/amendable/amendment_wizard_spec.rb
  decidim-proposals/spec/system/collaborative_drafts_spec.rb
  decidim-proposals/spec/system/edit_collaborative_draft_spec.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
  decidim-proposals/spec/system/proposal_editing_time_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
Labels: module: proposals, module: core, module: meetings, module: comments, module: debates, module: blogs, type: change

#13616 Remove wkhtmltopdf-binary gem and wicked configuration
  .github/workflows/test_app.yml
  Gemfile.lock
  RELEASE_NOTES.md
  decidim-conferences/config/initializers/wicked_pdf.rb
  decidim-conferences/decidim-conferences.gemspec
  decidim-forms/config/initializers/wicked_pdf.rb
  decidim-forms/decidim-forms.gemspec
  decidim-generators/Gemfile.lock
  decidim-initiatives/config/initializers/wicked_pdf.rb
  decidim-initiatives/decidim-initiatives.gemspec
  docs/modules/install/pages/manual.adoc
Labels: type: fix, release: v0.28, release: v0.29

#13614 Open Data page explanations and license
  decidim-core/app/services/decidim/open_data_exporter.rb
  decidim-core/app/views/decidim/open_data/_section.html.erb
  decidim-core/app/views/decidim/open_data/index.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/services/decidim/open_data_exporter_spec.rb
  decidim-core/spec/system/download_open_data_files_spec.rb
Labels: type: feature, contract: 2024-flatfiles

#13531 Fix usage of `private_non_transparent_space?`
  decidim-conferences/spec/models/decidim/component_spec.rb
  decidim-core/app/models/decidim/component.rb
  decidim-initiatives/spec/models/decidim/component_spec.rb
Labels: type: fix, no-backport

#13560 Fix visibility on transparent assemblies
  decidim-assemblies/app/models/decidim/assembly.rb
  decidim-assemblies/spec/models/decidim/assembly_spec.rb
  decidim-assemblies/spec/services/decidim/assemblies/searchable_assembly_resource_spec.rb
Labels: module: assemblies, type: fix, release: v0.28, release: v0.29

#13619 Patch test environment to set cache_classes to false
  decidim-generators/lib/decidim/generators/app_generator.rb
Labels: type: fix

#13567 Add user and user groups profiles to Open Data files
  decidim-core/app/controllers/decidim/open_data_controller.rb
  decidim-core/app/serializers/decidim/exporters/open_data_user_group_serializer.rb
  decidim-core/app/serializers/decidim/exporters/open_data_user_serializer.rb
  decidim-core/app/services/decidim/open_data_exporter.rb
  decidim-core/app/views/decidim/open_data/index.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/services/decidim/open_data_exporter_spec.rb
Labels: module: core, type: feature, contract: 2024-flatfiles

#13575 Fix asterisk in mandatory answers from surveys
  decidim-forms/app/views/decidim/forms/questionnaires/_answer.html.erb
  decidim-forms/lib/decidim/forms/test/shared_examples/has_questionnaire.rb
Labels: module: forms, type: fix, release: v0.28, release: v0.29

#13633 Revert "Patch test environment to set cache_classes to false"
  decidim-generators/lib/decidim/generators/app_generator.rb
Labels: module: generators, type: internal, release: v0.28, release: v0.29

#13634 Revert "Backport 'Patch test environment to set cache_classes to false' to v0.29"
  decidim-generators/lib/decidim/generators/app_generator.rb
Labels: module: generators, type: internal, release: v0.28, release: v0.29

#13608 Backport 'Fix editor image routing' to v0.28
  decidim-accountability/app/forms/decidim/accountability/admin/result_form.rb
  decidim-accountability/app/forms/decidim/accountability/admin/timeline_entry_form.rb
  decidim-admin/app/forms/decidim/admin/help_section_form.rb
  decidim-admin/app/forms/decidim/admin/organization_appearance_form.rb
  decidim-admin/app/forms/decidim/admin/organization_form.rb
  decidim-admin/app/forms/decidim/admin/static_page_form.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_form.rb
  decidim-blogs/app/forms/decidim/blogs/admin/post_form.rb
  decidim-budgets/app/forms/decidim/budgets/admin/budget_form.rb
  decidim-budgets/app/forms/decidim/budgets/admin/project_form.rb
  decidim-conferences/app/forms/decidim/conferences/admin/conference_form.rb
  decidim-conferences/app/forms/decidim/conferences/admin/conference_speaker_form.rb
  decidim-conferences/app/forms/decidim/conferences/admin/registration_type_form.rb
  decidim-core/app/helpers/decidim/sanitize_helper.rb
  decidim-core/lib/decidim/attributes.rb
  decidim-core/lib/decidim/attributes/rich_text.rb
  decidim-core/lib/decidim/content_parsers.rb
  decidim-core/lib/decidim/content_parsers/blob_parser.rb
  decidim-core/lib/decidim/content_renderers.rb
  decidim-core/lib/decidim/content_renderers/blob_renderer.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/settings_manifest.rb
  decidim-core/lib/decidim/translatable_attributes.rb
  decidim-core/spec/content_parsers/decidim/blob_parser_spec.rb
  decidim-core/spec/content_renderers/decidim/blob_renderer_spec.rb
  decidim-core/spec/lib/attributes/rich_text_spec.rb
  decidim-debates/app/forms/decidim/debates/admin/close_debate_form.rb
  decidim-debates/app/forms/decidim/debates/admin/debate_form.rb
  decidim-forms/app/forms/decidim/forms/admin/questionnaire_form.rb
  decidim-initiatives/app/forms/decidim/initiatives/admin/initiative_answer_form.rb
  decidim-initiatives/app/forms/decidim/initiatives/admin/initiative_form.rb
  decidim-initiatives/app/forms/decidim/initiatives/admin/initiative_type_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/close_meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_agenda_items_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_registrations_form.rb
  decidim-pages/app/forms/decidim/pages/admin/page_form.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_form.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_answer_form.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_form.rb
  decidim-sortitions/app/forms/decidim/sortitions/admin/destroy_sortition_form.rb
  decidim-sortitions/app/forms/decidim/sortitions/admin/edit_sortition_form.rb
  decidim-sortitions/app/forms/decidim/sortitions/admin/sortition_form.rb
  decidim-verifications/app/forms/decidim/verifications/id_documents/admin/config_form.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: admin, module: pages, backport, module: verifications, module: accountability, module: debates, module: assemblies, module: blogs, module: sortitions, module: forms, module: participatory processes, module: conferences, module: initiatives, type: fix, release: v0.28, release: v0.29

#13626 Profiles message button
  decidim-core/app/packs/stylesheets/decidim/_profile.scss
Labels: module: core, target: developer-experience, type: fix, release: v0.28, release: v0.29

#13391 Fix display condition answer option
  decidim-templates/lib/decidim/templates/admin_engine.rb
  decidim-templates/spec/system/admin/admin_adds_display_condition_on_questionnaire_templates_spec.rb
Labels: module: templates, type: fix

#13577 Fix datetime fields on forms when the organization has a timezone specified
  .github/actions/spelling/expect.txt
  .spelling.yml
  decidim-core/lib/decidim/attributes/time_with_zone.rb
  decidim-core/spec/lib/attributes/time_with_timezone_spec.rb
Labels: module: core, type: fix, release: v0.29

#13621 Backport 'Remove wkhtmltopdf-binary gem and wicked configuration' to v0.28
  .github/workflows/test_app.yml
  Gemfile.lock
  RELEASE_NOTES.md
  decidim-conferences/config/initializers/wicked_pdf.rb
  decidim-conferences/decidim-conferences.gemspec
  decidim-forms/config/initializers/wicked_pdf.rb
  decidim-forms/decidim-forms.gemspec
  decidim-generators/Gemfile.lock
  decidim-initiatives/config/initializers/wicked_pdf.rb
  decidim-initiatives/decidim-initiatives.gemspec
  docs/modules/install/pages/manual.adoc
Labels: backport, type: fix, release: v0.29

#13639 Remove useless fields from processes and assemblies
  decidim-assemblies/db/migrate/20241108141651_remove_column_show_statistics_from_assemblies.rb
  decidim-participatory_processes/db/migrate/20241108141423_remove_column_show_metrics_from_participatory_processes.rb
  decidim-participatory_processes/db/migrate/20241108141514_remove_column_banner_image_from_participatory_processes.rb
  decidim-participatory_processes/db/migrate/20241108141605_remove_column_show_statistics_from_participatory_processes.rb
Labels: type: removal

#13647 Backport 'Fix datetime fields on forms when the organization has a timezone specified' to v0.28
  .spelling.yml
  decidim-core/lib/decidim/attributes/time_with_zone.rb
  decidim-core/spec/lib/attributes/time_with_timezone_spec.rb
Labels: module: core, backport, type: fix, release: v0.28, release: v0.29

#13600 Fix admin proposals filters and sortings
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/index.html.erb
Labels: type: fix, no-backport, contract: 2024-developments

#13648 Sort valuator selectors by valuator name
  decidim-core/lib/decidim/participatory_space_user.rb
  decidim-proposals/app/controllers/concerns/decidim/proposals/admin/filterable.rb
  decidim-proposals/app/forms/decidim/proposals/admin/valuation_assignment_form.rb
  decidim-proposals/app/helpers/decidim/proposals/admin/proposal_bulk_actions_helper.rb
Labels: type: fix

#13624 Remove `personal_url` and `about` fields when users are deleted
  RELEASE_NOTES.md
  decidim-core/app/commands/decidim/destroy_account.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/tasks/upgrade/clean.rake
  decidim-core/spec/commands/decidim/destroy_account_spec.rb
  decidim-core/spec/tasks/upgrade/clean_deleted_users_spec.rb
Labels: type: fix, release: v0.29

#13568 Add moderations to Open Data files
  decidim-core/app/controllers/decidim/open_data_controller.rb
  decidim-core/app/models/decidim/user_moderation.rb
  decidim-core/app/serializers/decidim/exporters/open_data_blocked_user_serializer.rb
  decidim-core/app/serializers/decidim/exporters/open_data_moderation_serializer.rb
  decidim-core/app/services/decidim/open_data_exporter.rb
  decidim-core/app/views/decidim/open_data/index.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/core/test/shared_examples/open_data_exporter_examples.rb
  decidim-core/spec/services/decidim/open_data_exporter_spec.rb
  decidim-core/spec/system/download_open_data_files_spec.rb
Labels: module: core, type: feature, contract: 2024-flatfiles

#13651 Backport 'Sort valuator selectors by valuator name' to v0.29
  decidim-core/lib/decidim/participatory_space_user.rb
  decidim-proposals/app/controllers/concerns/decidim/proposals/admin/filterable.rb
  decidim-proposals/app/forms/decidim/proposals/admin/valuation_assignment_form.rb
  decidim-proposals/app/helpers/decidim/proposals/admin/proposal_bulk_actions_helper.rb
Labels: backport, type: fix, release: v0.29

#13653 Fix flacky spec on budgets' open data export
  decidim-budgets/spec/services/decidim/open_data_exporter_spec.rb
Labels: module: budgets, flaky spec, type: fix, type: internal

#13654 Backport 'Remove `personal_url` and `about` fields when users are deleted' to v0.29
  RELEASE_NOTES.md
  decidim-core/app/commands/decidim/destroy_account.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/tasks/upgrade/decidim_fix_categorization.rake
  decidim-core/spec/commands/decidim/destroy_account_spec.rb
  decidim-core/spec/tasks/upgrade/clean_deleted_users_spec.rb
Labels: backport, type: fix, release: v0.29

#13658 Backport 'Fix admin proposals filters and sortings' to v0.28
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/index.html.erb
Labels: backport, type: fix, release: v0.28, contract: 2024-developments, release: v0.29

#13652 Backport 'Sort valuator selectors by valuator name' to v0.28
  decidim-assemblies/app/models/decidim/assembly.rb
  decidim-conferences/app/models/decidim/conference.rb
  decidim-core/lib/decidim/participatory_space_user.rb
  decidim-participatory_processes/app/models/decidim/participatory_process.rb
Labels: backport, type: fix, release: v0.29

#13659 Backport 'Fix admin proposals filters and sortings' to v0.29
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/index.html.erb
Labels: backport, type: fix, release: v0.28, contract: 2024-developments, release: v0.29

#13650 Profile tooltip expansion on mobile
  .github/actions/spelling/expect.txt
  decidim-core/app/packs/src/decidim/toggle.js
  decidim-core/app/packs/src/decidim/tooltips.js
Labels: module: core, javascript, type: fix

#13657 Improve the seeded surveys
  decidim-surveys/lib/decidim/surveys/seeds.rb
Labels: target: developer-experience, type: internal

#13655 Backport 'Remove `personal_url` and `about` fields when users are deleted' to v0.28
  RELEASE_NOTES.md
  decidim-core/app/commands/decidim/destroy_account.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/tasks/upgrade/decidim_fix_categorization.rake
  decidim-core/spec/commands/decidim/destroy_account_spec.rb
  decidim-core/spec/tasks/upgrade/clean_deleted_users_spec.rb
Labels: backport, type: fix, release: v0.29

#13640 Add missing fields to spaces' open data files
  decidim-assemblies/app/serializers/decidim/assemblies/open_data_assembly_serializer.rb
  decidim-assemblies/config/locales/en.yml
  decidim-assemblies/spec/serializers/decidim/assemblies/open_data_assembly_serializer_spec.rb
  decidim-conferences/app/serializers/decidim/conferences/open_data_conference_serializer.rb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/spec/serializers/decidim/conferences/open_data_conference_serializer_spec.rb
  decidim-core/app/serializers/decidim/exporters/participatory_space_serializer.rb
  decidim-initiatives/app/serializers/decidim/initiatives/open_data_initiative_serializer.rb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/serializers/open_data_initiative_serializer_spec.rb
  decidim-initiatives/spec/services/decidim/open_data_exporter_spec.rb
  decidim-participatory_processes/app/serializers/decidim/participatory_processes/open_data_participatory_process_serializer.rb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/spec/serializers/decidim/participatory_processes/open_data_participatory_process_serializer_spec.rb
Labels: type: feature, contract: 2024-flatfiles

#13617 Migrate Survey export to use HexaPDF
  Gemfile.lock
  decidim-core/app/controllers/decidim/download_your_data_controller.rb
  decidim-core/lib/decidim/exporters/pdf.rb
  decidim-forms/app/packs/entrypoints/decidim_forms.js
  decidim-forms/app/packs/entrypoints/decidim_questionnaire_answers_pdf.js
  decidim-forms/app/packs/entrypoints/decidim_questionnaire_answers_pdf.scss
  decidim-forms/app/packs/stylesheets/decidim/forms/questionnaire-answers-pdf.scss
  decidim-forms/app/views/decidim/forms/admin/questionnaires/answers/export/_answer.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/answers/export/pdf.html.erb
  decidim-forms/app/views/layouts/decidim/forms/admin/questionnaires/questionnaire_answers.html.erb
  decidim-forms/config/assets.rb
  decidim-forms/config/locales/en.yml
  decidim-forms/lib/decidim/exporters/form_pdf.rb
  decidim-forms/lib/decidim/exporters/form_pdf_controller_helper.rb
  decidim-forms/lib/decidim/forms.rb
  decidim-forms/spec/lib/decidim/exporters/form_pdf_spec.rb
  decidim-generators/Gemfile.lock
  decidim-initiatives/decidim-initiatives.gemspec
Labels: module: forms, type: change

#13665 Remove proposal show_my_location_button initializer
  RELEASE_NOTES.md
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/map/autocomplete.rb
  decidim-core/spec/lib/map/autocomplete_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-proposals/spec/system/device_location_spec.rb
Labels: module: core, type: removal

#13592 OpenData Export breaks when handling deleted users
  decidim-debates/lib/decidim/debates/debate_serializer.rb
  decidim-debates/spec/services/decidim/open_data_exporter_spec.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/lib/decidim/meetings/meeting_serializer.rb
  decidim-meetings/spec/services/decidim/open_data_exporter_spec.rb
  decidim-proposals/lib/decidim/proposals/proposal_serializer.rb
  decidim-proposals/spec/services/decidim/open_data_exporter_spec.rb
Labels: module: proposals, module: debates, type: fix, release: v0.28, release: v0.29

#13645 Remove additional space from general search for comments that contain links
  decidim-core/app/cells/decidim/card_s/show.erb
  decidim-meetings/spec/cells/decidim/meetings/meeting_s_cell_spec.rb
Labels: module: core, type: fix, release: v0.28, release: v0.29

#13397 Fix the Diff Render output
  decidim-accountability/spec/services/decidim/accountability/diff_renderer_spec.rb
  decidim-core/app/cells/decidim/diff_cell.rb
  decidim-core/app/services/decidim/base_diff_renderer.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/diffy_extension.rb
  decidim-meetings/spec/services/decidim/meetings/diff_renderer_spec.rb
  decidim-proposals/app/services/decidim/proposals/collaborative_draft_diff_renderer.rb
  decidim-proposals/app/services/decidim/proposals/diff_renderer.rb
  decidim-proposals/spec/system/amendable/amendment_diff_spec.rb
  decidim-proposals/spec/system/proposals_versions_spec.rb
Labels: module: proposals, module: core, module: meetings, module: accountability, type: fix

#13602 Additional GraphQL fixes
  decidim-accountability/lib/decidim/api/accountability_type.rb
  decidim-accountability/spec/types/integration_schema_spec.rb
  decidim-api/decidim-api.gemspec
  decidim-api/lib/decidim/api/test/component_context.rb
  decidim-blogs/lib/decidim/api/blogs_type.rb
  decidim-blogs/spec/types/integration_schema_spec.rb
  decidim-budgets/lib/decidim/api/budgets_type.rb
  decidim-budgets/spec/types/integration_schema_spec.rb
  decidim-comments/lib/decidim/api/comment_type.rb
  decidim-comments/lib/decidim/api/commentable_interface.rb
  decidim-comments/lib/decidim/comments/commentable_with_component.rb
  decidim-core/lib/decidim/api/functions/component_list.rb
  decidim-core/lib/decidim/api/functions/participatory_space_finder_base.rb
  decidim-core/lib/decidim/api/interfaces/participatory_space_interface.rb
  decidim-core/lib/decidim/api/types/component_type.rb
  decidim-core/lib/decidim/query_extensions.rb
  decidim-core/spec/types/participatory_space_type_spec.rb
  decidim-debates/lib/decidim/api/debates_type.rb
  decidim-debates/spec/types/integration_schema_spec.rb
  decidim-meetings/app/permissions/decidim/meetings/permissions.rb
  decidim-meetings/lib/decidim/api/meeting_type.rb
  decidim-meetings/lib/decidim/api/meetings_type.rb
  decidim-meetings/spec/types/integration_schema_spec.rb
  decidim-pages/lib/decidim/api/pages_type.rb
  decidim-pages/spec/types/integration_schema_spec.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/query_extensions.rb
  decidim-proposals/app/permissions/decidim/proposals/permissions.rb
  decidim-proposals/lib/decidim/api/proposals_type.rb
  decidim-proposals/spec/types/integration_schema_spec.rb
  decidim-sortitions/lib/decidim/api/sortition_type.rb
  decidim-sortitions/lib/decidim/api/sortitions_type.rb
  decidim-sortitions/spec/types/integration_schema_spec.rb
  decidim-sortitions/spec/types/sortition_type_spec.rb
  decidim-surveys/lib/decidim/api/survey_type.rb
  decidim-surveys/lib/decidim/api/surveys_type.rb
  decidim-surveys/spec/types/integration_schema_spec.rb
Labels: module: proposals, module: core, module: meetings, module: accountability, graphql-api, module: blogs, module: participatory processes, type: fix

#13674 Fix missing icons in meetings
  decidim-meetings/lib/decidim/meetings/engine.rb
  decidim-meetings/spec/system/explore_meetings_spec.rb
Labels: module: meetings, module: participatory processes, type: fix, release: v0.28, release: v0.29

#13686 Remove redundant words in jobs.adoc
  docs/modules/develop/pages/classes/jobs.adoc
Labels: team: documentation, type: internal
