Repository decidim/decidim, pull requests merged in 2024-04, with the labels that each got.

#12642 Fix flaky spec on join user group command spec
  decidim-core/spec/commands/decidim/join_user_group_spec.rb
Labels: flaky spec, type: fix

#12639 Fix graphiql initial query escaping
  decidim-api/lib/decidim/api/engine.rb
Labels: module: api, type: fix

#12020 Do not show scopes column in budgets if there isn't subscopes
  decidim-budgets/app/views/decidim/budgets/admin/budgets/index.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/_project-tr.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/index.html.erb
  decidim-budgets/spec/system/admin_manages_budgets_spec.rb
  decidim-budgets/spec/system/admin_manages_projects_spec.rb
Labels: module: budgets, module: admin, type: fix

#12654 Move controller in correct location
  decidim-core/app/controllers/decidim/amendments_controller.rb
Labels: type: internal

#12644 Design: Do not translate `text_types` items in forms
  decidim-design/app/views/decidim/design/components/forms.html.erb
  decidim-design/config/locales/en.yml
Labels: type: fix, no-backport, module: design

#12305 Backport 'Restrict comments replies tree including polymorphism' to v0.27
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-core/lib/decidim/acts_as_tree.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
Labels: module: comments, backport, type: fix

#12656 Bump linthtml from 0.9.5 to 0.9.6
  package-lock.json
  packages/dev/package.json
Labels: dependencies, javascript, type: fix

#12664 Fix flaky generator spec with missing `package.json`
  .github/workflows/ci_core.yml
  .github/workflows/ci_generators.yml
  .github/workflows/test_app.yml
Labels: flaky spec, type: fix

#12649 Fix API paths when deploying decidim in folder
  decidim-admin/app/packs/src/decidim/admin/participatory_space_search.js
  decidim-admin/app/views/layouts/decidim/admin/_js_configuration.html.erb
  decidim-core/app/packs/src/decidim/editor/extensions/hashtag/index.js
  decidim-core/app/packs/src/decidim/editor/extensions/mention/index.js
  decidim-core/app/packs/src/decidim/editor/test/helpers.js
  decidim-core/app/packs/src/decidim/input_hashtags.js
  decidim-core/app/packs/src/decidim/input_mentions.js
  decidim-core/app/packs/src/decidim/input_multiple_mentions.js
  decidim-core/app/packs/src/decidim/vizzs/index.js
  decidim-core/app/views/layouts/decidim/_js_configuration.html.erb
  decidim-core/spec/system/editor_spec.rb
Labels: type: fix

#12662 Fix clear-text storage of sensitive information in omniauth registration
  decidim-core/app/commands/decidim/create_omniauth_registration.rb
Labels: type: fix

#12667 More friendly pipeline names
  .github/workflows/ci_admin.yml
  .github/workflows/ci_core.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_meetings.yml
  .github/workflows/ci_proposals.yml
  .github/workflows/test_app.yml
Labels: type: internal

#12669 Add counter cache for proposals' ValuationAssignments
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/models/decidim/proposals/valuation_assignment.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_proposal-tr.html.erb
  decidim-proposals/db/migrate/20240404202756_add_valuation_assignments_count_to_decidim_proposals_proposals.rb
  decidim-proposals/lib/decidim/proposals/valuatable.rb
Labels: type: fix

#12672 Remove unused helper method resource_title
  decidim-core/app/helpers/decidim/resource_helper.rb
Labels: type: removal

#12670 Fix overly permissive regular expression range in "has reference" specs
  decidim-core/lib/decidim/core/test/shared_examples/has_reference.rb
Labels: type: fix

#12665 Dropdown on Comment Edit
  decidim-core/app/packs/stylesheets/decidim/_dropdown.scss
Labels: module: comments, type: fix

#12673 Fix DOM text reinterpreted as HTML in budgets' exit handler
  decidim-budgets/app/packs/src/decidim/budgets/exit_handler.js
Labels: type: fix

#12525 Update Contributor Covenant from v1.3 to v2.1
  .github/actions/spelling/expect.txt
  CODE_OF_CONDUCT.md
  CONTRIBUTING.adoc
Labels: type: internal

#12648 Backport 'Patch events on the new format' to v0.27
  decidim-accountability/app/events/decidim/accountability/base_result_event.rb
  decidim-accountability/app/events/decidim/accountability/proposal_linked_event.rb
  decidim-accountability/app/events/decidim/accountability/result_progress_updated_event.rb
  decidim-accountability/spec/events/decidim/accountability/proposal_linked_event_spec.rb
  decidim-accountability/spec/events/decidim/accountability/result_progress_updated_event_spec.rb
  decidim-admin/app/events/decidim/resource_hidden_event.rb
  decidim-admin/spec/events/decidim/attachment_created_event_spec.rb
  decidim-admin/spec/events/decidim/resource_hidden_event_spec.rb
  decidim-assemblies/app/events/decidim/assemblies/create_assembly_member_event.rb
  decidim-assemblies/app/events/decidim/role_assigned_to_assembly_event.rb
  decidim-assemblies/spec/events/decidim/assemblies/create_assembly_member_event_spec.rb
  decidim-assemblies/spec/events/decidim/role_assigned_to_assembly_event_spec.rb
  decidim-blogs/spec/events/decidim/blogs/create_post_event_spec.rb
  decidim-blogs/spec/events/decidim/resource_endorsed_event_spec.rb
  decidim-conferences/app/events/decidim/conferences/conference_registration_notification_event.rb
  decidim-conferences/spec/events/decidim/conferences/conference_registration_notification_event_spec.rb
  decidim-conferences/spec/events/decidim/conferences/conference_registrations_enabled_event_spec.rb
  decidim-conferences/spec/events/decidim/conferences/conference_registrations_over_percentage_event_spec.rb
  decidim-conferences/spec/events/decidim/conferences/conference_role_assigned_event_spec.rb
  decidim-conferences/spec/events/decidim/conferences/upcoming_conference_event_spec.rb
  decidim-conferences/spec/events/decidim/conferences/update_conference_event_spec.rb
  decidim-core/lib/decidim/core/test/factories.rb
  decidim-core/lib/decidim/core/test/shared_examples/resource_endorsed_event_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/simple_event.rb
  decidim-core/lib/decidim/events/simple_event.rb
  decidim-core/spec/lib/events/simple_event_spec.rb
  decidim-core/spec/presenters/decidim/push_notification_presenter_spec.rb
  decidim-debates/app/events/decidim/debates/create_debate_event.rb
  decidim-debates/config/locales/en.yml
  decidim-debates/spec/events/decidim/debates/close_debate_event_spec.rb
  decidim-debates/spec/events/decidim/debates/create_debate_event_spec.rb
  decidim-debates/spec/events/decidim/debates/creation_disabled_event_spec.rb
  decidim-debates/spec/events/decidim/debates/creation_enabled_event_spec.rb
  decidim-debates/spec/events/decidim/resource_endorsed_event_spec.rb
  decidim-initiatives/app/events/decidim/initiatives/approve_membership_request_event.rb
  decidim-initiatives/app/events/decidim/initiatives/create_initiative_event.rb
  decidim-initiatives/app/events/decidim/initiatives/revoke_membership_request_event.rb
  decidim-initiatives/app/events/decidim/initiatives/spawn_committee_request_event.rb
  decidim-initiatives/spec/events/decidim/initiatives/admin/initiative_sent_to_technical_validation_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/admin/support_threshold_reached_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/approve_membership_request_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/create_initiative_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/endorse_initiative_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/extend_initiative_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/initiative_sent_to_technical_validation_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/milestone_completed_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/revoke_membership_request_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/spawn_committee_request_event_spec.rb
  decidim-participatory_processes/spec/events/decidim/participatory_process_role_assigned_event_spec.rb
  decidim-participatory_processes/spec/events/decidim/participatory_process_step_activated_event_spec.rb
  decidim-participatory_processes/spec/events/decidim/participatory_process_step_changed_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/admin/update_proposal_category_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/admin/update_proposal_scope_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/collaborative_draft_access_accepted_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/collaborative_draft_access_rejected_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/collaborative_draft_access_requested_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/collaborative_draft_withdrawn_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/proposal_mentioned_event_spec.rb
  decidim-proposals/spec/events/decidim/proposals/rejected_proposal_event_spec.rb
Labels: backport, type: fix, type: internal

#12676 Add description for the decidim:reminders:all task
  decidim-core/lib/tasks/decidim_reminders_tasks.rake
Labels: type: fix

#12626 Fix WYSIWYG migration error with non li elements inside lists
  decidim-core/lib/decidim/upgrade/wysiwyg_migrator.rb
  decidim-core/spec/lib/upgrade/wysiwyg_migrator_spec.rb
Labels: module: core, type: fix

#12678 Add design guide page for Tooltips component
  decidim-design/app/views/decidim/design/components/tooltips.html.erb
  decidim-design/config/locales/en.yml
  decidim-design/spec/system/components_spec.rb
Labels: target: developer-experience, team: design, contract: redesign, module: design

#12587 Fix impersonnating users
  decidim-admin/app/controllers/decidim/admin/impersonations_controller.rb
  decidim-admin/spec/controllers/impersonations_controller_spec.rb
Labels: type: fix

#12686 Fix saving date fields on forms
  decidim-core/lib/decidim/attributes/time_with_zone.rb
  decidim-core/spec/lib/attributes/time_with_timezone_spec.rb
Labels: module: meetings, module: debates, type: fix

#12690 Remove unused helpers from assemblies
  decidim-assemblies/app/helpers/decidim/assemblies/assemblies_helper.rb
  decidim-assemblies/config/locales/en.yml
Labels: module: assemblies, type: removal

#12693 Fix class of `Decidim::Assemblies::ContentBlocks::DatesMetadataCell#space_presenter`
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/dates_metadata_cell.rb
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/extra_data_cell.rb
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/metadata_cell.rb
Labels: type: fix

#12691 Fix tab usage in comment action menu
  decidim-comments/app/cells/decidim/comments/comment/show.erb
Labels: team: accessibility, type: fix

#12677 Fix consistency in tasks descriptions and namespaces usage
  decidim-comments/lib/tasks/decidim_comments.rake
  decidim-comments/lib/tasks/upgrade/decidim_comments.rake
  decidim-comments/spec/tasks/decidim_comments_spec.rb
  decidim-core/lib/tasks/decidim_active_storage_migration_tasks.rake
  decidim-core/lib/tasks/decidim_content_blocks_tasks.rake
  decidim-core/lib/tasks/decidim_download_your_data_tasks.rake
  decidim-core/lib/tasks/decidim_locales_tasks.rake
  decidim-core/lib/tasks/decidim_mailers_tasks.rake
  decidim-core/lib/tasks/decidim_metrics_tasks.rake
  decidim-core/lib/tasks/decidim_tasks.rake
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
  decidim-core/lib/tasks/upgrade/decidim_active_storage_migration_tasks.rake
  decidim-core/lib/tasks/upgrade/decidim_content_blocks_tasks.rake
  decidim-core/lib/tasks/upgrade/decidim_deduplicate_endorsements.rake
  decidim-core/lib/tasks/upgrade/decidim_fix_categorization.rake
  decidim-core/lib/tasks/upgrade/decidim_fix_nickname_uniqueness.rake
  decidim-core/lib/tasks/upgrade/decidim_fix_short_url_resolver.rake
  decidim-core/lib/tasks/upgrade/decidim_moderation_tasks.rake
  decidim-core/lib/tasks/upgrade/decidim_user_moderation.rake
  decidim-initiatives/lib/tasks/decidim_initiatives.rake
  decidim-initiatives/lib/tasks/initiatives/upgrade/decidim_initiatives_upgrade_tasks.rake
  decidim-meetings/lib/tasks/decidim_meetings.rake
  decidim-participatory_processes/lib/tasks/decidim_participatory_processes.rake
  decidim-proposals/lib/tasks/proposals/upgrade/decdim_proposal_upgrade_tasks.rake
  decidim-proposals/lib/tasks/proposals/upgrade/decidim_proposals_upgrade_tasks.rake
  decidim-surveys/lib/tasks/decidim_surveys_tasks.rake
  decidim-surveys/lib/tasks/surveys/upgrade/decidim_surveys_upgrade_tasks.rake
  decidim-system/lib/tasks/decidim_system.rake
Labels: type: internal

#12682 Show meeting timezone for visitors and participants
  decidim-core/app/cells/decidim/address/online.erb
  decidim-core/app/cells/decidim/address/show.erb
  decidim-core/app/cells/decidim/address_cell.rb
  decidim-core/app/cells/decidim/card_metadata_cell.rb
  decidim-core/app/packs/stylesheets/decidim/_cards.scss
  decidim-core/app/packs/stylesheets/decidim/_layout.scss
  decidim-core/config/locales/en.yml
  decidim-core/spec/cells/decidim/card_metadata_cell_spec.rb
  decidim-design/app/helpers/decidim/design/address_helper.rb
  decidim-design/app/views/decidim/design/components/cards/_static-card-l-meetings.html.erb
  decidim-meetings/app/cells/decidim/meetings/dates_and_map/show.erb
  decidim-meetings/app/cells/decidim/meetings/dates_and_map_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_card_metadata_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_l/image.erb
  decidim-meetings/app/packs/stylesheets/decidim/meetings/_item.scss
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-meetings/spec/system/meeting_spec.rb
  decidim-meetings/spec/system/show_spec.rb
Labels: module: meetings, type: fix

#12680 Display endorsements after debate's closure
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-debates/spec/system/user_closes_debate_spec.rb
Labels: module: debates, type: fix

#12646 Fix CSS overrides in applications
  RELEASE_NOTES.md
  decidim-admin/app/packs/entrypoints/decidim_admin_overrides.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/decidim_application.scss
  decidim-admin/app/views/layouts/decidim/admin/_header.html.erb
  decidim-admin/config/assets.rb
  decidim-core/app/packs/entrypoints/decidim_overrides.scss
  decidim-core/app/packs/stylesheets/decidim/application.scss
  decidim-core/app/packs/stylesheets/decidim/decidim_application.scss
  decidim-core/app/views/layouts/decidim/_head.html.erb
  decidim-core/config/assets.rb
  decidim-design/app/views/layouts/decidim/design/_head.html.erb
  decidim-system/app/packs/entrypoints/decidim_system_overrides.scss
  decidim-system/app/packs/stylesheets/decidim/system/decidim_application.scss
  decidim-system/app/views/layouts/decidim/system/_header.html.erb
  decidim-system/config/assets.rb
  docs/modules/customize/pages/styles.adoc
Labels: type: fix

#12685 Hide last activities on breadcrumb dropdown when organization is configured to force authentication
  decidim-core/app/cells/decidim/content_blocks/menu_breadcrumb_last_activity_cell.rb
  decidim-core/app/helpers/decidim/menu_helper.rb
  decidim-core/spec/system/homepage_spec.rb
Labels: type: fix

#12700 Remove unused helpers from initiatives
  decidim-initiatives/app/helpers/decidim/initiatives/initiative_helper.rb
  decidim-initiatives/app/helpers/decidim/initiatives/initiatives_helper.rb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/helpers/decidim/initiatives/initiative_helper_spec.rb
Labels: module: initiatives, type: removal

#12699 Remove unused helpers from conferences
  decidim-conferences/app/controllers/decidim/conferences/conferences_controller.rb
  decidim-conferences/app/controllers/decidim/conferences/media_controller.rb
  decidim-conferences/app/helpers/decidim/conferences/conference_helper.rb
  decidim-conferences/app/helpers/decidim/conferences/media_attachments_helper.rb
  decidim-conferences/app/helpers/decidim/conferences/partners_helper.rb
Labels: module: conferences, type: removal

#12698 Remove unused helpers from accountability
  decidim-accountability/app/cells/decidim/accountability/status_cell.rb
  decidim-accountability/app/helpers/decidim/accountability/application_helper.rb
  decidim-accountability/app/helpers/decidim/accountability/breadcrumb_helper.rb
  decidim-accountability/app/services/decidim/accountability/result_stats_calculator.rb
  decidim-accountability/app/views/decidim/accountability/results/_stats_box.html.erb
  decidim-accountability/config/locales/en.yml
  decidim-accountability/spec/services/decidim/accountability/result_stats_calculator_spec.rb
Labels: module: accountability, type: removal

#12711 Fix roadmap link in readme
  README.adoc
Labels: type: internal

#12697 Fix user profile current tab
  decidim-core/app/cells/decidim/profile/tabs.erb
  decidim-core/app/helpers/decidim/user_profile_helper.rb
Labels: module: core, type: fix

#12707 Announce to screen reader when markers are added to the map
  decidim-core/app/packs/src/decidim/a11y.js
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/spec/controllers/concerns/content_security_policy_spec.rb
  decidim-core/spec/lib/map/autocomplete_spec.rb
  decidim-dev/lib/decidim/dev/engine.rb
  decidim-dev/lib/decidim/dev/test/map_server.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/geocoder.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/webmock.rb
  decidim-dev/lib/decidim/dev/test/spec_helper.rb
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-proposals/app/packs/src/decidim/proposals/add_proposal.js
  decidim-proposals/app/views/decidim/proposals/proposals/_edit_form_fields.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/collaborative_drafts_fields_spec.rb
  decidim-proposals/spec/system/edit_proposal_spec.rb
  decidim-proposals/spec/system/proposals_fields_spec.rb
Labels: module: proposals, module: core, type: fix, no-backport

#12616 Update Rails to v7.0
  .github/actions/spelling/expect.txt
  .github/workflows/build_app.yml
  Gemfile
  Gemfile.lock
  RELEASE_NOTES.md
  decidim-accountability/spec/services/decidim/accountability/searchable_result_resource_spec.rb
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/highlighted_assemblies_cell.rb
  decidim-assemblies/lib/decidim/assemblies/content_blocks/registry_manager.rb
  decidim-assemblies/spec/models/decidim/assembly_spec.rb
  decidim-blogs/spec/services/decidim/blogs/searchable_blogpost_resource_spec.rb
  decidim-budgets/spec/services/decidim/budgets/searchable_project_resource_spec.rb
  decidim-conferences/app/views/decidim/conferences/conference_program/_program_item.html.erb
  decidim-core/app/cells/decidim/content_blocks/participatory_space_last_activity_cell.rb
  decidim-core/app/helpers/decidim/check_boxes_tree_helper.rb
  decidim-core/app/helpers/decidim/decidim_form_helper.rb
  decidim-core/app/helpers/decidim/paginate_helper.rb
  decidim-core/config/initializers/new_framework_defaults_7_0.rb
  decidim-core/db/migrate/20170128112958_change_user_groups_verified_to_timestamp.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/amendable.rb
  decidim-core/lib/decidim/attribute_object/type_resolver.rb
  decidim-core/lib/decidim/attributes.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test/shared_examples/searchable_participatory_space_examples.rb
  decidim-core/lib/tasks/decidim_webpacker_tasks.rake
  decidim-core/spec/commands/decidim/search_spec.rb
  decidim-core/spec/lib/searchable_spec.rb
  decidim-debates/spec/services/decidim/debates/searchable_debate_resource_spec.rb
  decidim-dev/lib/decidim/dev/engine.rb
  decidim-dev/lib/decidim/dev/needs_development_tools.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/app_templates/package.json
  decidim-generators/lib/decidim/generators/component_templates/github/ci.yml.erb
  decidim-generators/lib/decidim/generators/install_generator.rb
  decidim-initiatives/app/commands/decidim/initiatives/validate_sms_code.rb
  decidim-initiatives/spec/commands/decidim/initiatives/validate_sms_code_spec.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/content_blocks/registry_manager.rb
  decidim-proposals/spec/services/decidim/proposals/searchable_proposal_resource_spec.rb
  package-lock.json
  packages/core/package.json
Labels: target: developer-experience

#12703 Prevent malformed URLs in the general search
  decidim-core/app/controllers/concerns/decidim/paginable.rb
  decidim-core/app/helpers/decidim/cells_paginate_helper.rb
  decidim-core/app/helpers/decidim/paginate_helper.rb
  decidim-core/spec/system/search_spec.rb
Labels: module: core, type: fix

#12720 Backport 'Display endorsements after debate's closure' to v0.28
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-debates/spec/system/user_closes_debate_spec.rb
Labels: backport, module: debates, type: fix

#12721 Backport 'Fix padding for select tag language selector' to v0.28
  decidim-admin/app/packs/stylesheets/decidim/admin/_tabs.scss
Labels: backport, type: fix

#12716 Backport 'Fix class of `DatesMetadataCell#space_presenter`' to v0.28
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/dates_metadata_cell.rb
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/extra_data_cell.rb
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/metadata_cell.rb
Labels: backport, type: fix

#12718 Backport 'Fix saving date fields on forms' to v0.28
  decidim-core/lib/decidim/attributes/time_with_zone.rb
  decidim-core/spec/lib/attributes/time_with_timezone_spec.rb
Labels: module: meetings, backport, module: debates, type: fix

#12717 Backport 'Fix tab usage in comment action menu' to v0.28
  decidim-comments/app/cells/decidim/comments/comment/show.erb
Labels: backport, team: accessibility, type: fix

#12727 Backport 'Add counter cache for proposals' ValuationAssignments' to v0.28
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/models/decidim/proposals/valuation_assignment.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_proposal-tr.html.erb
  decidim-proposals/db/migrate/20240404202756_add_valuation_assignments_count_to_decidim_proposals_proposals.rb
  decidim-proposals/lib/decidim/proposals/valuatable.rb
Labels: backport, type: fix

#12728 Backport 'Dropdown on Comment Edit' to v0.28
  decidim-core/app/packs/stylesheets/decidim/_dropdown.scss
Labels: module: comments, backport, type: fix

#12715 Backport 'Fix user profile current tab' to v0.28
  decidim-core/app/cells/decidim/profile/tabs.erb
  decidim-core/app/helpers/decidim/user_profile_helper.rb
Labels: module: core, backport, type: fix

#12729 Backport 'Fix user profile current tab' to v0.27
  decidim-core/app/helpers/decidim/user_profile_helper.rb
Labels: module: core, backport, type: fix

#12733 Backport 'Add description for the decidim:reminders:all task' to v0.27
  decidim-core/lib/tasks/decidim_reminders_tasks.rake
Labels: backport, type: fix

#12730 Backport 'Prevent malformed URLs in the general search' to v0.28
  decidim-core/app/controllers/concerns/decidim/paginable.rb
  decidim-core/app/helpers/decidim/cells_paginate_helper.rb
  decidim-core/app/helpers/decidim/paginate_helper.rb
  decidim-core/spec/system/search_spec.rb
Labels: module: core, backport, type: fix

#12731 Backport 'Fix flaky generator spec with missing `package.json`' to v0.28
  .github/workflows/ci_core.yml
  .github/workflows/ci_generators.yml
  .github/workflows/test_app.yml
Labels: backport, flaky spec, type: fix

#12734 Backport 'Remove ComponentInterface from the ResultType in the API' to v0.28
  decidim-accountability/lib/decidim/api/result_type.rb
  decidim-accountability/spec/types/integration_schema_spec.rb
Labels: backport, module: accountability, type: fix

#12732 Backport 'Fix clear-text storage of sensitive information in omniauth registration' to v0.28
  decidim-core/app/commands/decidim/create_omniauth_registration.rb
Labels: backport, type: fix

#12735 Backport 'Fix API paths when deploying decidim in folder' to v0.28
  decidim-admin/app/packs/src/decidim/admin/participatory_space_search.js
  decidim-admin/app/views/layouts/decidim/admin/_js_configuration.html.erb
  decidim-core/app/packs/src/decidim/editor/extensions/hashtag/index.js
  decidim-core/app/packs/src/decidim/editor/extensions/mention/index.js
  decidim-core/app/packs/src/decidim/editor/test/helpers.js
  decidim-core/app/packs/src/decidim/input_hashtags.js
  decidim-core/app/packs/src/decidim/input_mentions.js
  decidim-core/app/packs/src/decidim/input_multiple_mentions.js
  decidim-core/app/packs/src/decidim/vizzs/index.js
  decidim-core/app/views/layouts/decidim/_js_configuration.html.erb
  decidim-core/spec/system/editor_spec.rb
Labels: backport, type: fix

#12736 Backport 'Fix flaky spec on join user group command spec' to v0.28
  decidim-core/spec/commands/decidim/join_user_group_spec.rb
Labels: backport, flaky spec, type: fix

#12738 Backport 'Do not show scopes column in budgets if there isn't subscopes' to v0.28
  decidim-budgets/app/views/decidim/budgets/admin/budgets/index.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/_project-tr.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/index.html.erb
  decidim-budgets/spec/system/admin_manages_budgets_spec.rb
  decidim-budgets/spec/system/admin_manages_projects_spec.rb
Labels: module: budgets, module: admin, backport, type: fix

#12740 Backport 'Fix impersonnating users' to v0.28
  decidim-admin/app/controllers/decidim/admin/impersonations_controller.rb
  decidim-admin/spec/controllers/impersonations_controller_spec.rb
Labels: backport, type: fix

#12741 Backport 'Fix WYSIWYG migration error with non li elements inside lists' to v0.28
  decidim-core/lib/decidim/upgrade/wysiwyg_migrator.rb
  decidim-core/spec/lib/upgrade/wysiwyg_migrator_spec.rb
Labels: module: core, backport, type: fix

#12743 Backport 'Bump webpack-dev-middleware from 5.3.3 to 5.3.4' to v0.28
  package-lock.json
Labels: backport, dependencies, type: fix

#12748 Backport 'Improve iframe accessibility' to v0.28
  decidim-core/app/packs/src/decidim/editor/extensions/video_embed/index.js
  decidim-core/app/services/decidim/iframe_disabler.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/services/decidim/iframe_disabler_spec.rb
  decidim-debates/spec/helpers/decidim/debates/application_helper_spec.rb
  decidim-meetings/spec/helpers/application_helper_spec.rb
  decidim-proposals/spec/helpers/application_helper_spec.rb
Labels: module: core, backport, type: fix

#12742 Backport 'Fix graphiql initial query escaping' to v0.28
  decidim-api/lib/decidim/api/engine.rb
Labels: backport, module: api, type: fix

#12750 Backport 'Improve premailer HTML parsing' to v0.28
  decidim-core/lib/premailer/adapter/decidim.rb
Labels: target: developer-experience, backport, type: fix

#12751 Backport 'Improve testing on address cell' to v0.28
  decidim-core/spec/cells/decidim/address_cell_spec.rb
Labels: target: developer-experience, backport, type: fix

#12754 Backport 'Fix potential unsafe external link in initiatives' to v0.28
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_result.html.erb
Labels: backport, module: initiatives, type: fix

#12753 Backport 'Fix flaky spec on endorsements controller' to v0.28
  decidim-core/spec/controllers/decidim/endorsements_controller_as_user_spec.rb
Labels: backport, flaky spec, type: fix

#12749 Backport 'Don't add the slug of the space in some links' to v0.28
  decidim-assemblies/spec/presenters/decidim/resource_locator_presenter_spec.rb
  decidim-conferences/spec/presenters/decidim/resource_locator_presenter_spec.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/resource_locator_presenter_examples.rb
  decidim-core/lib/decidim/engine_router.rb
  decidim-core/lib/decidim/participable.rb
  decidim-initiatives/app/events/decidim/initiatives/admin/initiative_sent_to_technical_validation_event.rb
  decidim-initiatives/app/events/decidim/initiatives/initiative_sent_to_technical_validation_event.rb
  decidim-initiatives/spec/events/decidim/initiatives/admin/initiative_sent_to_technical_validation_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/initiative_sent_to_technical_validation_event_spec.rb
  decidim-initiatives/spec/presenters/decidim/resource_locator_presenter_spec.rb
  decidim-meetings/spec/presenters/decidim/meetings/admin_log/invite_presenter_spec.rb
  decidim-participatory_processes/spec/presenters/decidim/resource_locator_presenter_spec.rb
Labels: backport, type: fix

#12755 Backport 'Fix flaky shakapacker compilation' to v0.28
  decidim-dev/lib/decidim/dev/test/rspec_support/webpacker.rb
Labels: module: core, backport, flaky spec, type: fix

#12757 Backport 'Fix flaky spec on CommentVote model spec' to v0.28
  decidim-comments/spec/models/comment_vote_spec.rb
Labels: module: comments, backport, flaky spec, type: fix

#12759 Backport 'Add matrix for Decidim/Ruby/Node versions in manual guide' to v0.27
  docs/modules/install/pages/manual.adoc
  docs/modules/install/pages/update.adoc
  docs/modules/install/partials/version_matrix.adoc
Labels: team: documentation, backport, type: fix

#12760 Adjust concurency settings in GitHub Actions
  .github/workflows/brakeman.yml
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_core.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_design.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/ci_production_check.yml
  .github/workflows/ci_proposals.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
  .github/workflows/lint_pr_format.yml
  .github/workflows/lint_pr_labels.yml
Labels: type: fix

#12747 Update Leaflet and related NPM packages
  decidim-core/app/packs/stylesheets/decidim/legacy/leaflet.scss
  package-lock.json
  packages/core/package.json
Labels: module: core, dependencies, type: fix

#12764 Backport 'Adjust concurency settings in GitHub Actions' to v0.28
  .github/workflows/brakeman.yml
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_core.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_design.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/ci_production_check.yml
  .github/workflows/ci_proposals.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
  .github/workflows/lint_pr_format.yml
  .github/workflows/lint_pr_labels.yml
Labels: backport, type: fix

#12725 Add configuration for autolabeler
  .github/actions/spelling/allow.txt
  .github/autolabeler.yml
Labels: type: internal, configuration

#12784 Backport 'Fix bug in welcome notifications when the organization has weird characters' to v0.27
  Gemfile.lock
  decidim-core/app/events/decidim/welcome_notification_event.rb
  decidim-core/decidim-core.gemspec
  decidim-core/spec/events/decidim/welcome_notification_event_spec.rb
  decidim-generators/Gemfile.lock
  decidim_app-design/Gemfile.lock
Labels: module: core, module: admin, backport, dependencies, module: generators, type: fix

#12767 Backport 'Fix illogical heading order on registration page' to v0.28
  decidim-core/app/views/decidim/devise/registrations/new.html.erb
Labels: module: core, backport, type: fix

#12768 Backport 'Update Leaflet and related NPM packages' to v0.28
  decidim-core/app/packs/stylesheets/decidim/legacy/leaflet.scss
  package-lock.json
  packages/core/package.json
Labels: module: core, backport, dependencies, type: fix, configuration

#12782 Backport 'Add votes count to comment caches' to v0.27
  decidim-comments/app/cells/decidim/comments/comment_cell.rb
  decidim-comments/app/models/decidim/comments/comment_vote.rb
  decidim-comments/db/migrate/20240304092558_add_comment_vote_counter_cache_to_comments.rb
  decidim-comments/spec/models/comment_spec.rb
  decidim-comments/spec/models/comment_vote_spec.rb
Labels: module: comments, backport, type: fix

#12780 Backport 'Fix potential unsafe external link in initiatives' to v0.27
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_result.html.erb
Labels: backport, module: initiatives, type: fix

#12779 Backport 'Fix graphiql initial query escaping' to v0.27
  decidim-api/lib/decidim/api/engine.rb
Labels: backport, module: api, type: fix

#12778 Backport 'Fix flaky scope creation in Seeds' to v0.28
  decidim-core/lib/decidim/core/seeds.rb
Labels: module: core, target: developer-experience, backport, flaky spec, type: fix

#12773 Backport 'Fix clear-text storage of sensitive information in omniauth registration' to v0.27
  decidim-core/app/commands/decidim/create_omniauth_registration.rb
Labels: module: core, backport, type: fix

#12776 Backport 'Fix flaky spec on join user group command spec' to v0.27
  decidim-core/spec/commands/decidim/join_user_group_spec.rb
Labels: module: core, backport, flaky spec, type: fix

#12777 Backport 'Fix flaky spec on endorsements controller' to v0.27
  decidim-core/spec/controllers/decidim/endorsements_controller_as_user_spec.rb
Labels: module: core, backport, flaky spec, type: fix

#12770 Backport 'Fix overly permissive regular expression range in "has reference" specs' to v0.27
  decidim-core/lib/decidim/core/test/shared_examples/has_reference.rb
Labels: module: core, backport, type: fix

#12771 Backport 'Add counter cache for proposals' ValuationAssignments' to v0.27
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/app/models/decidim/proposals/valuation_assignment.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_proposal-tr.html.erb
  decidim-proposals/db/migrate/20240404202756_add_valuation_assignments_count_to_decidim_proposals_proposals.rb
  decidim-proposals/lib/decidim/proposals/valuatable.rb
Labels: module: proposals, backport, type: fix

#12775 Backport 'Fix API paths when deploying decidim in folder' to v0.27
  decidim-admin/app/views/layouts/decidim/admin/_js_configuration.html.erb
  decidim-core/app/packs/src/decidim/input_hashtags.js
  decidim-core/app/packs/src/decidim/input_mentions.js
  decidim-core/app/packs/src/decidim/input_multiple_mentions.js
  decidim-core/app/packs/src/decidim/vizzs/index.js
  decidim-core/app/views/layouts/decidim/_js_configuration.html.erb
Labels: module: core, module: admin, backport, javascript, type: fix

#12788 Backport 'Improve testing on address cell' to v0.27
  decidim-core/spec/cells/decidim/address_cell_spec.rb
Labels: module: core, target: developer-experience, backport, type: fix

#12795 Backport 'Fix flaky specs in proposals' to v0.27
  decidim-proposals/spec/shared/manage_proposals_examples.rb
Labels: module: proposals, backport, type: fix

#12781 Backport 'Fix flaky shakapacker compilation' to v0.27
  decidim-dev/lib/decidim/dev/test/rspec_support/webpacker.rb
Labels: module: core, backport, flaky spec, module: dev, type: fix

#12766 Add mailer preview for Notifications and Reports and seeded Reports
  decidim-core/app/mailers/decidim/reported_mailer.rb
  decidim-core/lib/decidim/core/seeds.rb
  decidim-core/lib/decidim/seeds.rb
  decidim-core/spec/mailers/previews/notification_mailer_preview.rb
  decidim-core/spec/mailers/previews/reported_mailer_preview.rb
  decidim-proposals/lib/decidim/proposals/seeds.rb
Labels: module: proposals, module: core, target: developer-experience, type: internal

#12793 Backport 'Fix performance issue with attribute encryption/decryption' to v0.27
  decidim-core/lib/decidim/attribute_encryptor.rb
  decidim-core/spec/lib/attribute_encryptor_spec.rb
  decidim-core/spec/models/decidim/authorization_spec.rb
Labels: module: core, backport, type: fix

#12789 Backport 'Improve premailer HTML parsing' to v0.27
  decidim-core/lib/premailer/adapter/decidim.rb
Labels: module: core, target: developer-experience, backport, type: fix

#12790 Backport 'Fix flaky spec on CommentVote model spec' to v0.27
  decidim-comments/spec/models/comment_vote_spec.rb
Labels: module: comments, backport, flaky spec, type: fix

#12792 Backport 'Don't add the slug of the space in some links' to v0.27
  decidim-assemblies/spec/presenters/decidim/resource_locator_presenter_spec.rb
  decidim-conferences/spec/presenters/decidim/resource_locator_presenter_spec.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/resource_locator_presenter_examples.rb
  decidim-core/lib/decidim/engine_router.rb
  decidim-core/lib/decidim/participable.rb
  decidim-initiatives/app/events/decidim/initiatives/admin/initiative_sent_to_technical_validation_event.rb
  decidim-initiatives/app/events/decidim/initiatives/initiative_sent_to_technical_validation_event.rb
  decidim-initiatives/spec/events/decidim/initiatives/admin/initiative_sent_to_technical_validation_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/initiative_sent_to_technical_validation_event_spec.rb
  decidim-initiatives/spec/presenters/decidim/resource_locator_presenter_spec.rb
  decidim-meetings/spec/presenters/decidim/meetings/admin_log/invite_presenter_spec.rb
  decidim-participatory_processes/spec/presenters/decidim/resource_locator_presenter_spec.rb
Labels: module: core, module: meetings, backport, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: fix

#12737 Backport 'Fix CSS overrides in applications ' to v0.28
  RELEASE_NOTES.md
  decidim-admin/app/packs/entrypoints/decidim_admin_overrides.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/decidim_application.scss
  decidim-admin/app/views/layouts/decidim/admin/_header.html.erb
  decidim-admin/config/assets.rb
  decidim-core/app/packs/entrypoints/decidim_overrides.scss
  decidim-core/app/packs/stylesheets/decidim/application.scss
  decidim-core/app/packs/stylesheets/decidim/decidim_application.scss
  decidim-core/app/views/layouts/decidim/_head.html.erb
  decidim-core/config/assets.rb
  decidim-design/app/views/layouts/decidim/design/_head.html.erb
  decidim-system/app/packs/entrypoints/decidim_system_overrides.scss
  decidim-system/app/packs/stylesheets/decidim/system/decidim_application.scss
  decidim-system/app/views/layouts/decidim/system/_header.html.erb
  decidim-system/config/assets.rb
  docs/modules/customize/pages/styles.adoc
Labels: team: documentation, module: core, module: admin, module: system, backport, type: fix, module: design

#12801 Backport 'Fix duplicate ActiveSupport notifications' to v0.27
  decidim-core/app/services/decidim/events_manager.rb
  decidim-core/lib/decidim/core/engine.rb
Labels: module: core, backport, type: fix

#12799 Backport 'Improve performance on comment rendering' to v0.27
  decidim-comments/app/cells/decidim/comments/comment_cell.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-comments/lib/decidim/api/comment_type.rb
Labels: module: comments, backport, type: fix

#12798 Backport 'Skip authenticity token in questionnaire templates' to v0.27
  decidim-templates/app/views/decidim/templates/admin/questionnaire_templates/_preview.html.erb
  decidim-templates/app/views/decidim/templates/admin/questionnaire_templates/preview.js.erb
  decidim-templates/decidim-templates.gemspec
  decidim-templates/spec/factories.rb
  decidim-templates/spec/system/admin/admin_applies_questionnaire_template_to_component_spec.rb
Labels: backport, dependencies, module: templates, type: fix

#12803 Backport 'Fix selection of polls with two answers and single options questions' to v0.27
  decidim-meetings/app/packs/src/decidim/meetings/poll.component.js
  decidim-meetings/app/views/decidim/meetings/polls/answers/_multiple_option.html.erb
  decidim-meetings/app/views/decidim/meetings/polls/answers/_single_option.html.erb
  decidim-meetings/app/views/decidim/meetings/polls/questions/_published_question.html.erb
  decidim-meetings/spec/system/live_meeting_answer_questions_spec.rb
Labels: module: meetings, backport, javascript, type: fix

#12800 Backport 'Add patch_generators task to maintainers' releases instructions' to v0.27
  docs/modules/develop/pages/releases.adoc
Labels: team: documentation, backport, type: fix

#12787 Backport 'Show meeting timezone for visitors and participants' to v0.28
  decidim-core/app/cells/decidim/address/online.erb
  decidim-core/app/cells/decidim/address/show.erb
  decidim-core/app/cells/decidim/address_cell.rb
  decidim-core/app/cells/decidim/card_metadata_cell.rb
  decidim-core/app/packs/stylesheets/decidim/_cards.scss
  decidim-core/app/packs/stylesheets/decidim/_layout.scss
  decidim-core/config/locales/en.yml
  decidim-core/spec/cells/decidim/card_metadata_cell_spec.rb
  decidim-design/app/views/decidim/design/components/address/_static-address-online.html.erb
  decidim-design/app/views/decidim/design/components/address/_static-address-person.html.erb
  decidim-design/app/views/decidim/design/components/cards/_static-card-l-meetings.html.erb
  decidim-meetings/app/cells/decidim/meetings/dates_and_map/show.erb
  decidim-meetings/app/cells/decidim/meetings/dates_and_map_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_card_metadata_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meeting_l/image.erb
  decidim-meetings/app/packs/stylesheets/decidim/meetings/_item.scss
  decidim-meetings/spec/system/explore_meetings_spec.rb
  decidim-meetings/spec/system/meeting_spec.rb
  decidim-meetings/spec/system/show_spec.rb
Labels: module: core, module: meetings, backport, type: fix, module: design

#12765 Allow valuators to use proposal answer templates
  decidim-templates/app/controllers/decidim/templates/admin/proposal_answer_templates_controller.rb
  decidim-templates/app/packs/src/decidim/templates/admin/proposal_answer_template_chooser.js
  decidim-templates/app/permissions/decidim/templates/admin/permissions.rb
  decidim-templates/config/locales/en.yml
  decidim-templates/spec/permissions/decidim/templates/admin/permissions_spec.rb
  decidim-templates/spec/system/admin/valuator_uses_proposal_answer_templates_spec.rb
Labels: type: fix

#12809 Backport 'Allow valuators to use proposal answer templates' to v0.28
  decidim-templates/app/controllers/decidim/templates/admin/proposal_answer_templates_controller.rb
  decidim-templates/app/packs/src/decidim/templates/admin/proposal_answer_template_chooser.js
  decidim-templates/app/permissions/decidim/templates/admin/permissions.rb
  decidim-templates/config/locales/en.yml
  decidim-templates/spec/permissions/decidim/templates/admin/permissions_spec.rb
  decidim-templates/spec/system/admin/valuator_uses_proposal_answer_templates_spec.rb
Labels: backport, javascript, module: templates, type: fix

#12802 Backport 'Do not show scopes column in budgets if there isn't subscopes' to v0.27
  decidim-budgets/app/views/decidim/budgets/admin/budgets/index.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/_project-tr.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/projects/index.html.erb
  decidim-budgets/spec/system/admin_manages_budgets_spec.rb
  decidim-budgets/spec/system/admin_manages_projects_spec.rb
Labels: module: budgets, module: admin, backport, type: fix

#12807 Backport 'Prevent malformed URLs in the general search' to v0.27
  decidim-core/app/controllers/concerns/decidim/paginable.rb
  decidim-core/app/helpers/decidim/cells_paginate_helper.rb
  decidim-core/spec/system/search_spec.rb
Labels: module: core, backport, type: fix

#12796 Backport 'Attempt to fix flaky spec on proposals' ammends' to v0.27
  decidim-proposals/spec/system/amendable/amend_proposal_spec.rb
Labels: module: proposals, backport, type: fix

#12794 Backport 'Update Leaflet and related NPM packages' to v0.27
  decidim-core/app/packs/stylesheets/decidim/plugins/leaflet.scss
  decidim_app-design/package-lock.json
  decidim_app-design/packages/core/package.json
  package-lock.json
  packages/core/package.json
Labels: module: core, backport, dependencies, type: fix, configuration

#12815 Bump to v0.28.1 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: elections, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: internal, module: design

#12813 Bump to v0.26.10 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-consultations/lib/decidim/consultations/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  decidim_app-design/Gemfile.lock
  decidim_app-design/package-lock.json
  decidim_app-design/packages/browserslist-config/package.json
  decidim_app-design/packages/core/package.json
  decidim_app-design/packages/dev/package.json
  decidim_app-design/packages/elections/package.json
  decidim_app-design/packages/eslint-config/package.json
  decidim_app-design/packages/stylelint-config/package.json
  decidim_app-design/packages/webpacker/package.json
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: elections, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: consultations, module: initiatives, module: templates, type: internal

#12814 Bump to v0.27.6 version
  .decidim-version
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-consultations/lib/decidim/consultations/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-core/spec/system/locales_spec.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  decidim_app-design/Gemfile.lock
  decidim_app-design/package-lock.json
  decidim_app-design/packages/browserslist-config/package.json
  decidim_app-design/packages/core/package.json
  decidim_app-design/packages/dev/package.json
  decidim_app-design/packages/elections/package.json
  decidim_app-design/packages/eslint-config/package.json
  decidim_app-design/packages/stylelint-config/package.json
  decidim_app-design/packages/webpacker/package.json
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: elections, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: consultations, module: initiatives, module: templates, type: internal
