Repository decidim/decidim, pull requests merged in 2024-03, with the labels that each got.

#12538 Do not list hidden reported debates in the admin
  decidim-debates/app/controllers/decidim/debates/admin/debates_controller.rb
  decidim-debates/spec/shared/manage_debates_examples.rb
Labels: module: debates, type: fix

#12552 Redesign: Decidim Design Guide translations page (activities)
  decidim-design/app/helpers/decidim/design/activities_helper.rb
  decidim-design/app/views/decidim/design/components/activities.html.erb
  decidim-design/config/locales/en.yml
Labels: type: internal, contract: redesign

#12544 Redesign: Decidim Design Guide translations (accordions)
  decidim-design/app/views/decidim/design/components/accordions.html.erb
  decidim-design/config/locales/en.yml
Labels: type: internal, contract: redesign

#12553 Prevent multiple requests from creating multiple orders for the same user at budgets
  decidim-budgets/app/controllers/decidim/budgets/line_items_controller.rb
  decidim-budgets/spec/requests/line_items_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/concurrency.rb
Labels: module: budgets, type: fix

#12532 Redesign: Decidim Design Guide translation page (typography)
  decidim-design/app/helpers/decidim/design/typography_helper.rb
  decidim-design/app/views/decidim/design/foundations/typography.html.erb
  decidim-design/config/locales/en.yml
Labels: type: internal, contract: redesign

#12562 Redesign: Decidim Design Guide translation page (address)
  decidim-design/app/helpers/decidim/design/address_helper.rb
  decidim-design/app/views/decidim/design/components/address.html.erb
  decidim-design/config/locales/en.yml
Labels: type: internal, contract: redesign

#12515 Remove `tabindex="-1"` from the SVG icons
  decidim-core/app/helpers/decidim/layout_helper.rb
Labels: module: core, team: accessibility, type: fix

#12568 Fix performance issue with attribute encryption/decryption
  decidim-core/lib/decidim/attribute_encryptor.rb
  decidim-core/spec/lib/attribute_encryptor_spec.rb
  decidim-core/spec/models/decidim/authorization_spec.rb
Labels: module: core, type: fix

#12566 Fix flaky spec on date_picker with single digit days
  decidim-core/spec/system/date_picker/date_picker_spec.rb
Labels: flaky spec, type: fix, no-backport

#12546 Fix some spelling errors (part 9)
  .github/actions/spelling/README.md
  .github/actions/spelling/advice.md
  .github/actions/spelling/allow.txt
  .github/actions/spelling/block-delimiters.list
  .github/actions/spelling/candidate.patterns
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  .github/actions/spelling/line_forbidden.patterns
  .github/actions/spelling/patterns.txt
  .github/actions/spelling/reject.txt
  .github/workflows/spelling.yml
  decidim-meetings/spec/system/live_meeting_access_spec.rb
Labels: type: internal

#12579 Fix pipeline issues due to typo
  decidim-core/spec/lib/attribute_encryptor_spec.rb
Labels: type: internal

#12530 Review brakeman configuration
  decidim-core/app/views/decidim/searches/index.js.erb
  decidim-core/config/brakeman.ignore
  decidim-proposals/app/controllers/decidim/proposals/admin/participatory_texts_controller.rb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/config/brakeman.ignore
  decidim-system/app/controllers/decidim/system/organizations_controller.rb
  decidim-system/config/brakeman.ignore
Labels: type: fix

#12551 Add votes count to comment caches
  decidim-comments/app/cells/decidim/comments/comment_cell.rb
  decidim-comments/app/models/decidim/comments/comment_vote.rb
  decidim-comments/db/migrate/20240304092558_add_comment_vote_counter_cache_to_comments.rb
  decidim-comments/spec/models/comment_spec.rb
  decidim-comments/spec/models/comment_vote_spec.rb
Labels: module: comments, type: fix

#12536 Fix decidim-templates usage
  Gemfile.lock
  decidim-admin/app/controllers/decidim/admin/application_controller.rb
  decidim-admin/config/locales/en.yml
  decidim-forms/app/controllers/decidim/forms/admin/concerns/has_questionnaire.rb
  decidim-generators/Gemfile.lock
  decidim-surveys/decidim-surveys.gemspec
  decidim-surveys/lib/decidim/surveys/engine.rb
  decidim-templates/config/locales/en.yml
Labels: type: fix

#12564 Revert "Backport 'Fix bugs in details of RTL' to v0.28 (#12495)"
  decidim-core/app/packs/stylesheets/decidim/_forms.scss
  decidim-core/app/packs/stylesheets/decidim/_header.scss
  decidim-core/app/packs/stylesheets/decidim/_home.scss
  decidim-core/app/packs/stylesheets/decidim/_modal.scss
Labels: backport, type: fix

#12565 Add time zone configuration to the checklist
  docs/modules/install/pages/checklist.adoc
Labels: team: documentation, type: internal

#12550 Fix newsletter flow in admin panel
  decidim-admin/app/views/decidim/admin/newsletter_templates/index.html.erb
  decidim-admin/app/views/decidim/admin/newsletter_templates/show.html.erb
  decidim-admin/app/views/decidim/admin/newsletters/select_recipients_to_deliver.html.erb
  decidim-admin/app/views/decidim/admin/newsletters/show.html.erb
  decidim-admin/spec/system/admin_manages_newsletters_spec.rb
Labels: module: admin, type: fix

#12581 Fix pipeline due to typo
  .github/actions/spelling/expect.txt
Labels: type: internal

#12563 Show extended information when a new comment is in a digest email
  decidim-core/app/presenters/decidim/notification_to_mailer_presenter.rb
  decidim-core/app/views/decidim/notifications_digest_mailer/_email_content.html.erb
  decidim-core/spec/mailers/notification_digest_mailer_spec.rb
  decidim-core/spec/mailers/previews/notifications_digest_mailer_preview.rb
Labels: module: core, type: fix

#10761 Fix images URL in newsletters
  decidim-core/app/helpers/decidim/newsletters_helper.rb
  decidim-core/spec/helpers/decidim/newsletters_helper_spec.rb
Labels: module: admin, type: fix

#12589 Bump rack and rails versions
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
Labels: dependencies, type: internal

#12588 Blog post spacing between buttons
  decidim-blogs/app/packs/stylesheets/blogs.scss
Labels: module: blogs, type: fix

#12582 Improve performance on comment rendering
  decidim-comments/app/cells/decidim/comments/comment_cell.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-comments/lib/decidim/api/comment_type.rb
Labels: module: comments, type: fix

#12593 Add comment votes to seeds
  decidim-comments/app/models/decidim/comments/seed.rb
Labels: module: comments, type: internal

#12594 Backport 'Blog post spacing between buttons' to v0.28
  decidim-blogs/app/packs/stylesheets/blogs.scss
Labels: backport, module: blogs, type: fix

#12596 Backport 'Fix performance issue with attribute encryption/decryption' to v0.28
  decidim-core/lib/decidim/attribute_encryptor.rb
  decidim-core/spec/lib/attribute_encryptor_spec.rb
  decidim-core/spec/models/decidim/authorization_spec.rb
Labels: module: core, backport, type: fix

#12597 Backport 'Fix decidim-templates usage' to v0.28
  Gemfile.lock
  decidim-admin/app/controllers/decidim/admin/application_controller.rb
  decidim-admin/config/locales/en.yml
  decidim-forms/app/controllers/decidim/forms/admin/concerns/has_questionnaire.rb
  decidim-generators/Gemfile.lock
  decidim-surveys/decidim-surveys.gemspec
  decidim-surveys/lib/decidim/surveys/engine.rb
  decidim-templates/config/locales/en.yml
Labels: backport, type: fix

#12413 Declare permissions for lint_pr_labels
  .github/workflows/lint_pr_labels.yml
Labels: type: internal

#12194 Remove code duplication in commands (part 9)
  decidim-admin/app/commands/decidim/admin/create_category.rb
  decidim-admin/app/commands/decidim/admin/update_organization_appearance.rb
  decidim-admin/app/controllers/decidim/admin/categories_controller.rb
  decidim-admin/lib/decidim/admin/test/commands/create_category_examples.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/create_assembly_member.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assembly.rb
  decidim-assemblies/app/commands/decidim/assemblies/admin/update_assembly_member.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_members_controller.rb
  decidim-assemblies/spec/commands/create_assembly_member_spec.rb
  decidim-assemblies/spec/commands/create_assembly_spec.rb
  decidim-conferences/app/commands/decidim/conferences/admin/create_conference.rb
  decidim-conferences/app/commands/decidim/conferences/admin/create_conference_speaker.rb
  decidim-conferences/app/commands/decidim/conferences/admin/create_partner.rb
  decidim-conferences/app/commands/decidim/conferences/admin/create_registration_type.rb
  decidim-conferences/app/commands/decidim/conferences/admin/update_conference.rb
  decidim-conferences/app/commands/decidim/conferences/admin/update_conference_speaker.rb
  decidim-conferences/app/commands/decidim/conferences/admin/update_partner.rb
  decidim-conferences/app/models/decidim/conference.rb
  decidim-conferences/spec/commands/create_conference_spec.rb
  decidim-conferences/spec/commands/create_registration_type_spec.rb
  decidim-conferences/spec/commands/update_conference_spec.rb
  decidim-core/lib/decidim/commands/create_resource.rb
  decidim-core/lib/decidim/commands/resource_handler.rb
  decidim-core/lib/decidim/commands/update_resource.rb
  decidim-core/spec/lib/commands/create_resource_spec.rb
  decidim-initiatives/app/commands/decidim/initiatives/admin/create_initiative_type.rb
  decidim-initiatives/app/commands/decidim/initiatives/admin/create_initiative_type_scope.rb
  decidim-initiatives/app/commands/decidim/initiatives/admin/update_initiative_type.rb
  decidim-meetings/spec/commands/create_meeting_spec.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/create_participatory_process.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/create_participatory_process_group.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/update_participatory_process.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/update_participatory_process_group.rb
  decidim-participatory_processes/spec/commands/create_participatory_process_spec.rb
  docs/modules/develop/pages/classes/commands.adoc
Labels: type: internal

#12577 Redesign: Decidim Design Guide translation page (author)
  decidim-design/app/helpers/decidim/design/author_helper.rb
  decidim-design/app/views/decidim/design/components/author.html.erb
  decidim-design/config/locales/en.yml
Labels: type: internal, contract: redesign

#12599 Backport 'Fix images URL in newsletters' to v0.28
  decidim-core/app/helpers/decidim/newsletters_helper.rb
  decidim-core/spec/helpers/decidim/newsletters_helper_spec.rb
Labels: module: admin, backport, type: fix

#12600 Backport 'Fix decidim-templates usage' to v0.27
  Gemfile.lock
  decidim-admin/app/controllers/decidim/admin/application_controller.rb
  decidim-forms/app/controllers/decidim/forms/admin/concerns/has_questionnaire.rb
  decidim-generators/Gemfile.lock
  decidim-surveys/decidim-surveys.gemspec
  decidim-surveys/lib/decidim/surveys/engine.rb
  decidim_app-design/Gemfile.lock
Labels: backport, type: fix

#12598 Backport 'Fix display of the online meeting link' to v0.28
  decidim-core/app/cells/decidim/address/online.erb
  decidim-core/app/cells/decidim/address_cell.rb
  decidim-meetings/spec/system/live_meeting_access_spec.rb
Labels: module: meetings, backport, type: fix, contract: redesign

#12595 Backport 'Improve performance on comment rendering' to v0.28
  decidim-comments/app/cells/decidim/comments/comment_cell.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-comments/lib/decidim/api/comment_type.rb
Labels: module: comments, backport, type: fix

#12603 Backport 'Show extended information when a new comment is in a digest email' to v0.28
  decidim-core/app/presenters/decidim/notification_to_mailer_presenter.rb
  decidim-core/app/views/decidim/notifications_digest_mailer/_email_content.html.erb
  decidim-core/spec/mailers/notification_digest_mailer_spec.rb
  decidim-core/spec/mailers/previews/notifications_digest_mailer_preview.rb
Labels: module: core, backport, type: fix

#12608 Backport 'Fix typo in remove admin event subscriber' to v0.28
  decidim-proposals/lib/decidim/proposals/engine.rb
  decidim-proposals/spec/lib/decidim/proposals/engine_spec.rb
Labels: backport, type: fix

#12607 Backport 'Do not list hidden reported debates in the admin' to v0.28
  decidim-debates/app/controllers/decidim/debates/admin/debates_controller.rb
  decidim-debates/spec/shared/manage_debates_examples.rb
Labels: backport, module: debates, type: fix

#12601 Backport 'Fix decidim-templates usage' to v0.26
  Gemfile.lock
  decidim-admin/app/controllers/decidim/admin/application_controller.rb
  decidim-forms/app/controllers/decidim/forms/admin/concerns/has_questionnaire.rb
  decidim-generators/Gemfile.lock
  decidim-surveys/decidim-surveys.gemspec
  decidim_app-design/Gemfile.lock
Labels: backport, type: fix

#12604 Backport 'Prevent multiple requests from creating multiple orders...' to v0.28
  decidim-budgets/app/controllers/decidim/budgets/line_items_controller.rb
  decidim-budgets/spec/requests/line_items_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/concurrency.rb
Labels: module: budgets, backport, type: fix

#12573 Redesign: Decidim Design Guide translation page (announcement)
  decidim-design/app/helpers/decidim/design/announcement_helper.rb
  decidim-design/app/views/decidim/design/components/announcement.html.erb
  decidim-design/config/locales/en.yml
Labels: type: internal, contract: redesign

#12585 Redesign: Decidim Design Guide translation page (buttons)
  decidim-design/app/helpers/decidim/design/announcement_helper.rb
  decidim-design/app/helpers/decidim/design/buttons_helper.rb
  decidim-design/app/views/decidim/design/components/buttons.html.erb
  decidim-design/config/locales/en.yml
Labels: type: internal, contract: redesign

#12615 Improve testing on address cell
  decidim-core/spec/cells/decidim/address_cell_spec.rb
Labels: target: developer-experience, type: fix

#12613 Resdesign: Decidim Design Guide translations (cards)
  decidim-design/app/helpers/decidim/design/cards_helper.rb
  decidim-design/app/views/decidim/design/components/cards.html.erb
  decidim-design/config/locales/en.yml
Labels: type: internal, contract: redesign

#12619 Redesign: Decidim Design Guide translations (share)
  decidim-design/app/helpers/decidim/design/share_helper.rb
  decidim-design/app/views/decidim/design/components/share.html.erb
  decidim-design/config/locales/en.yml
Labels: type: internal, contract: redesign

#12610 Backport 'Remove `tabindex="-1"` from the SVG icons' to v0.28
  decidim-core/app/helpers/decidim/layout_helper.rb
Labels: module: core, backport, team: accessibility, type: fix

#12612 Backport 'Fix images URL in newsletters' to v0.27
  decidim-core/app/helpers/decidim/newsletters_helper.rb
  decidim-core/spec/helpers/decidim/newsletters_helper_spec.rb
Labels: module: admin, backport, type: fix

#12620 Redesign: Decidim Design Guide translations (report)
  decidim-design/app/helpers/decidim/design/report_helper.rb
  decidim-design/app/views/decidim/design/components/report.html.erb
  decidim-design/config/locales/en.yml
Labels: type: internal, contract: redesign

#12617 Redesign: Decidim Design Guide translations (dialogs)
  decidim-design/app/views/decidim/design/components/dialogs.html.erb
  decidim-design/config/locales/en.yml
Labels: type: internal, contract: redesign

#12622 Redesign: Decidim Design Guide translations (forms)
  decidim-design/app/views/decidim/design/components/forms.html.erb
  decidim-design/config/locales/en.yml
Labels: type: internal, contract: redesign

#12590 Don't add the slug of the space in some links
  decidim-assemblies/spec/presenters/decidim/resource_locator_presenter_spec.rb
  decidim-conferences/spec/presenters/decidim/resource_locator_presenter_spec.rb
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/resource_locator_presenter_examples.rb
  decidim-core/lib/decidim/engine_router.rb
  decidim-core/lib/decidim/participable.rb
  decidim-initiatives/app/events/decidim/initiatives/admin/initiative_sent_to_technical_validation_event.rb
  decidim-initiatives/app/events/decidim/initiatives/initiative_sent_to_technical_validation_event.rb
  decidim-initiatives/spec/events/decidim/initiatives/admin/initiative_sent_to_technical_validation_event_spec.rb
  decidim-initiatives/spec/events/decidim/initiatives/initiative_sent_to_technical_validation_event_spec.rb
  decidim-initiatives/spec/presenters/decidim/resource_locator_presenter_spec.rb
  decidim-meetings/spec/presenters/decidim/meetings/admin_log/invite_presenter_spec.rb
  decidim-participatory_processes/spec/presenters/decidim/resource_locator_presenter_spec.rb
Labels: type: fix

#12625 Redesign: Decidim Design Guide translations (tab panels)
  decidim-design/app/helpers/decidim/design/tab_panels_helper.rb
  decidim-design/app/views/decidim/design/components/tab_panels.html.erb
  decidim-design/config/locales/en.yml
Labels: type: internal, contract: redesign

#12402 Add color picker to proposal statuses
  .github/actions/spelling/expect.txt
  decidim-admin/app/packs/entrypoints/decidim_admin.js
  decidim-admin/app/packs/src/decidim/admin/css_preview.js
  decidim-admin/app/packs/src/decidim/admin/sync_radio_buttons.js
  decidim-admin/app/packs/src/decidim/admin/text_copy.js
  decidim-admin/app/packs/stylesheets/decidim/admin/_proposal_status.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/application.scss
  decidim-core/app/cells/decidim/amendable/announcement_cell.rb
  decidim-core/app/cells/decidim/announcement/show.erb
  decidim-core/app/cells/decidim/announcement_cell.rb
  decidim-core/app/packs/stylesheets/decidim/_flash.scss
  decidim-proposals/app/cells/decidim/proposals/proposal_metadata_cell.rb
  decidim-proposals/app/commands/decidim/proposals/admin/create_proposal_state.rb
  decidim-proposals/app/commands/decidim/proposals/admin/update_proposal_state.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_state_form.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/app/helpers/decidim/proposals/proposal_cells_helper.rb
  decidim-proposals/app/models/decidim/proposals/proposal_state.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposal_states/_form.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposal_states/edit.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposal_states/index.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposal_states/new.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_proposal-tr.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/db/migrate/20240209092404_change_color_fields_on_proposals_states.rb
  decidim-proposals/lib/decidim/proposals.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/create_proposal_state_spec.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/update_proposal_state_spec.rb
  decidim-proposals/spec/system/admin/admin_manages_proposal_states_spec.rb
  decidim-proposals/spec/system/admin/valuator_manages_proposals_spec.rb
  decidim-proposals/spec/system/amendable/amend_proposal_spec.rb
  decidim-proposals/spec/system/amendable/amendment_wizard_spec.rb
  decidim-proposals/spec/system/proposals_spec.rb
  package-lock.json
  packages/webpacker/package.json
Labels: type: change

#12529 Improve iframe accessibility
  decidim-core/app/packs/src/decidim/editor/extensions/video_embed/index.js
  decidim-core/app/services/decidim/iframe_disabler.rb
  decidim-core/config/locales/en.yml
  decidim-core/spec/services/decidim/iframe_disabler_spec.rb
  decidim-debates/spec/helpers/decidim/debates/application_helper_spec.rb
  decidim-meetings/spec/helpers/application_helper_spec.rb
  decidim-proposals/spec/helpers/application_helper_spec.rb
Labels: module: core, type: fix

#12636 Fix flaky with accessibility errors in Direct Uploads
  decidim-core/app/cells/decidim/upload_modal/modal.erb
  decidim-core/app/packs/src/decidim/direct_uploads/upload_field.js
  decidim-core/app/packs/src/decidim/direct_uploads/upload_modal.js
Labels: flaky spec, type: fix

#12635 Fix flaky shakapacker compilation
  decidim-dev/lib/decidim/dev/test/rspec_support/webpacker.rb
Labels: module: core, flaky spec, type: fix

#12633 Remove unecessary JS dependency Modernizr
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/src/decidim/vendor/modernizr.js
Labels: target: developer-experience, dependencies, type: removal

#12630 Fix flaky spec on CommentVote model spec
  decidim-comments/spec/models/comment_vote_spec.rb
Labels: module: comments, flaky spec, type: fix

#12638 Fix potential unsafe external link in initiatives
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_result.html.erb
Labels: module: initiatives, type: fix

#12641 Fix flaky spec on endorsements controller
  decidim-core/spec/controllers/decidim/endorsements_controller_as_user_spec.rb
Labels: flaky spec, type: fix

#12634 Fix flaky scope creation in Seeds
  decidim-core/lib/decidim/core/seeds.rb
Labels: target: developer-experience, flaky spec, type: fix

#12606 Backport 'Fix newsletter flow in admin panel' to v0.28
  decidim-admin/app/views/decidim/admin/newsletter_templates/index.html.erb
  decidim-admin/app/views/decidim/admin/newsletter_templates/show.html.erb
  decidim-admin/app/views/decidim/admin/newsletters/select_recipients_to_deliver.html.erb
  decidim-admin/app/views/decidim/admin/newsletters/show.html.erb
  decidim-admin/spec/system/admin_manages_newsletters_spec.rb
Labels: module: admin, backport, type: fix

#12528 Fix embeds for resources and spaces that shouldn't be embedded
  decidim-assemblies/app/controllers/decidim/assemblies/widgets_controller.rb
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-assemblies/spec/system/assembly_embeds_spec.rb
  decidim-conferences/app/controllers/decidim/conferences/conference_widgets_controller.rb
  decidim-conferences/app/permissions/decidim/conferences/permissions.rb
  decidim-conferences/spec/permissions/decidim/conferences/permissions_spec.rb
  decidim-conferences/spec/system/conference_embeds_spec.rb
  decidim-consultations/app/controllers/decidim/consultations/consultation_widgets_controller.rb
  decidim-consultations/app/controllers/decidim/consultations/question_widgets_controller.rb
  decidim-consultations/app/permissions/decidim/consultations/permissions.rb
  decidim-consultations/app/views/decidim/consultations/consultation_widgets/show.html.erb
  decidim-consultations/spec/permissions/decidim/consultations/permissions_spec.rb
  decidim-consultations/spec/system/consultation_embeds_spec.rb
  decidim-consultations/spec/system/question_embeds_spec.rb
  decidim-core/app/controllers/decidim/widgets_controller.rb
  decidim-core/lib/decidim/core/test/shared_examples/embed_resource_examples.rb
  decidim-debates/app/controllers/decidim/debates/widgets_controller.rb
  decidim-debates/app/permissions/decidim/debates/permissions.rb
  decidim-debates/spec/permissions/decidim/debates/permissions_spec.rb
  decidim-debates/spec/system/debate_embeds_spec.rb
  decidim-initiatives/app/controllers/decidim/initiatives/widgets_controller.rb
  decidim-initiatives/app/permissions/decidim/initiatives/permissions.rb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-initiatives/spec/permissions/decidim/initiatives/permissions_spec.rb
  decidim-initiatives/spec/system/initiative_embeds_spec.rb
  decidim-meetings/app/controllers/decidim/meetings/widgets_controller.rb
  decidim-meetings/app/permissions/decidim/meetings/permissions.rb
  decidim-meetings/app/views/decidim/meetings/meetings/show.html.erb
  decidim-meetings/spec/permissions/decidim/meetings/permissions_spec.rb
  decidim-meetings/spec/system/meeting_embeds_spec.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/widgets_controller.rb
  decidim-participatory_processes/app/permissions/decidim/participatory_processes/permissions.rb
  decidim-participatory_processes/spec/permissions/decidim/participatory_processes/permissions_spec.rb
  decidim-participatory_processes/spec/system/process_embeds_spec.rb
  decidim-proposals/app/controllers/decidim/proposals/widgets_controller.rb
  decidim-proposals/app/permissions/decidim/proposals/permissions.rb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/spec/permissions/decidim/proposals/permissions_spec.rb
  decidim-proposals/spec/system/proposal_embeds_spec.rb
  decidim-sortitions/app/controllers/decidim/sortitions/widgets_controller.rb
  decidim-sortitions/app/permissions/decidim/sortitions/permissions.rb
  decidim-sortitions/spec/permissions/decidim/sortitions/permissions_spec.rb
  decidim-sortitions/spec/system/decidim/sortitions/sortition_embeds_spec.rb
Labels: type: fix, release: v0.27, no-backport
