Repository decidim/decidim, pull requests merged in 2025-03, with the labels that each got.

#14206 Ignore rule 'no duplicate header' for markdown linter
  .markdownlint.yml
Labels: type: internal

#14205 Bump to v0.30.0.rc2 version
  .decidim-version
  .markdownlint.yml
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-ai/lib/decidim/ai/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: internal, module: design, module: ai

#14207 Backport 'Import proposals from one component to another in the background' to v0.30
  decidim-proposals/app/commands/decidim/proposals/admin/import_proposals.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/proposals_imports_controller.rb
  decidim-proposals/app/jobs/decidim/proposals/admin/import_proposals_job.rb
  decidim-proposals/app/mailers/decidim/proposals/admin/import_proposals_mailer.rb
  decidim-proposals/app/views/decidim/proposals/admin/import_proposals_mailer/notify_failure.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/import_proposals_mailer/notify_success.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/commands/decidim/proposals/admin/import_proposals_spec.rb
  decidim-proposals/spec/shared/import_proposals_examples.rb
Labels: module: proposals, backport, type: fix, release: v0.29, release: v0.30

#13952 Enhance initiative creation wizard
  decidim-core/app/packs/stylesheets/decidim/_accordion.scss
  decidim-core/app/packs/stylesheets/decidim/_typography.scss
  decidim-core/app/packs/stylesheets/decidim/_wizard_steps.scss
  decidim-core/app/views/decidim/application/_radio_accordion.html.erb
  decidim-initiatives/app/cells/decidim/initiatives/initiative_g_cell.rb
  decidim-initiatives/app/commands/decidim/initiatives/create_initiative.rb
  decidim-initiatives/app/controllers/decidim/initiatives/committee_requests_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/create_initiative_controller.rb
  decidim-initiatives/app/controllers/decidim/initiatives/initiatives_controller.rb
  decidim-initiatives/app/forms/decidim/initiatives/initiative_form.rb
  decidim-initiatives/app/helpers/decidim/initiatives/initiatives_helper.rb
  decidim-initiatives/app/packs/entrypoints/decidim_initiatives.js
  decidim-initiatives/app/packs/src/decidim/initiatives/initiative_creation_wizard.js
  decidim-initiatives/app/packs/stylesheets/initiatives.scss
  decidim-initiatives/app/permissions/decidim/initiatives/permissions.rb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/_committee_member.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/_return_to_initiatives_button.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/_send_to_technical_validation_button.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/_share_committee_link.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/fill_data.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/finish.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/promotal_committee.html.erb
  decidim-initiatives/app/views/decidim/initiatives/create_initiative/select_initiative_type.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_pending_initiatives.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/index.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/lib/decidim/initiatives/engine.rb
  decidim-initiatives/spec/requests/initiative_search_spec.rb
  decidim-initiatives/spec/system/admin/export_spec.rb
  decidim-initiatives/spec/system/create_initiative_spec.rb
  decidim-initiatives/spec/system/edit_initiative_spec.rb
  decidim-initiatives/spec/system/filter_initiatives_spec.rb
Labels: module: core, type: feature, module: blogs, module: initiatives, contract: 2024-developments

#14139 Add PaperTrailJob to help migration
  decidim-core/app/jobs/decidim/migrate/paper_trail_job.rb
  decidim-core/db/migrate/20240722215500_change_object_changes_on_versions.rb
Labels: module: core, type: fix, release: v0.30

#14219 Fix `development_app` for v0.27
  .github/workflows/ci_core_tasks.yml
  .github/workflows/ci_core_tasks_webpacker.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  Gemfile.lock
  decidim-conferences/decidim-conferences.gemspec
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
  decidim-initiatives/decidim-initiatives.gemspec
  decidim_app-design/Gemfile.lock
Labels: module: core, module: generators, module: conferences, module: initiatives, type: fix, release: v0.27, configuration, no-backport

#13854 Add tests for private participatory spaces
  decidim-accountability/spec/system/download_open_data_files_spec.rb
  decidim-budgets/spec/system/download_open_data_files_spec.rb
  decidim-meetings/spec/system/download_open_data_files_spec.rb
  decidim-proposals/spec/system/download_open_data_files_spec.rb
Labels: team: documentation, module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: internal, configuration, module: design, module: ai, contract: 2024-flatfiles, module: collaborative_texts

#13728 Fix videos disappearing from admin editors without cookie consent
  decidim-admin/spec/system/admin_manages_organization_spec.rb
  decidim-core/lib/decidim/form_builder.rb
Labels: module: core, module: admin, type: fix, release: v0.27

#14171 Fix result timeline entry description formatting
  decidim-accountability/app/views/decidim/accountability/results/_timeline.html.erb
  decidim-accountability/spec/system/explore_results_spec.rb
Labels: module: accountability, type: fix, release: v0.27

#14085 Add taxonomies and attachments to posts
  decidim-blogs/app/commands/decidim/blogs/admin/create_post.rb
  decidim-blogs/app/commands/decidim/blogs/admin/update_post.rb
  decidim-blogs/app/commands/decidim/blogs/create_post.rb
  decidim-blogs/app/commands/decidim/blogs/update_post.rb
  decidim-blogs/app/forms/decidim/blogs/admin/post_form.rb
  decidim-blogs/app/forms/decidim/blogs/post_form.rb
  decidim-blogs/app/models/decidim/blogs/post.rb
  decidim-blogs/app/permissions/decidim/blog/permissions.rb
  decidim-blogs/app/presenters/decidim/blogs/post_presenter.rb
  decidim-blogs/app/views/decidim/blogs/admin/posts/_actions.html.erb
  decidim-blogs/app/views/decidim/blogs/admin/posts/_form.html.erb
  decidim-blogs/app/views/decidim/blogs/admin/posts/_post-tr.html.erb
  decidim-blogs/app/views/decidim/blogs/admin/posts/_posts-thead.html.erb
  decidim-blogs/app/views/decidim/blogs/posts/_form.html.erb
  decidim-blogs/config/locales/en.yml
  decidim-blogs/lib/decidim/blogs/component.rb
  decidim-blogs/lib/decidim/blogs/test/factories.rb
  decidim-blogs/spec/commands/decidim/blogs/admin/create_post_spec.rb
  decidim-blogs/spec/commands/decidim/blogs/admin/update_post_spec.rb
  decidim-blogs/spec/system/admin_manages_posts_attachments_spec.rb
  decidim-blogs/spec/system/admin_manages_posts_spec.rb
  decidim-blogs/spec/system/user_manages_posts_spec.rb
  decidim-core/app/models/decidim/taxonomy.rb
  decidim-core/app/presenters/decidim/taxonomy_presenter.rb
  decidim-core/spec/factories.rb
  decidim-core/spec/lib/maintenance/import_models/category_spec.rb
  decidim-core/spec/lib/maintenance/import_models/scope_spec.rb
Labels: module: core, type: feature, module: blogs, contract: 2024-developments

#14224 Update node version from v18 to v22
  .github/workflows/brakeman.yml
  .github/workflows/build_app.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/ci_production_check.yml
  .github/workflows/lint_code.yml
  .gitpod.Dockerfile
  .node-version
  decidim-generators/lib/decidim/generators/app_templates/.node-version
  decidim-generators/lib/decidim/generators/component_templates/.node-version
  decidim-generators/lib/decidim/generators/component_templates/github/ci.yml.erb
  docs/modules/install/pages/manual.adoc
  docs/modules/install/partials/version_matrix.adoc
  package-lock.json
  package.json
Labels: team: documentation, dependencies, module: generators, type: internal, configuration

#14086 Add QR code for share modal
  .github/actions/spelling/expect.txt
  Gemfile.lock
  decidim-blogs/app/models/decidim/blogs/post.rb
  decidim-blogs/spec/system/posts_social_share_spec.rb
  decidim-budgets/spec/system/budgets_social_share_spec.rb
  decidim-core/app/cells/decidim/share_widget/modal.erb
  decidim-core/app/cells/decidim/share_widget/qr_code_modal.erb
  decidim-core/app/cells/decidim/share_widget/show.erb
  decidim-core/app/cells/decidim/share_widget_cell.rb
  decidim-core/app/controllers/decidim/links_controller.rb
  decidim-core/app/controllers/decidim/qr_controller.rb
  decidim-core/app/helpers/decidim/qr_code_helper.rb
  decidim-core/app/helpers/decidim/social_share_button_helper.rb
  decidim-core/app/packs/entrypoints/decidim_qr.js
  decidim-core/app/packs/stylesheets/decidim/_modal_share.scss
  decidim-core/app/packs/stylesheets/decidim/qr.scss
  decidim-core/app/views/decidim/qr/show.html.erb
  decidim-core/config/assets.rb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test/shared_examples/social_share_examples.rb
  decidim-core/lib/decidim/social_share_service_manifest.rb
  decidim-core/spec/helpers/decidim/social_share_button_helper_spec.rb
  decidim-debates/spec/system/debates_social_share_spec.rb
  decidim-design/app/helpers/decidim/design/share_helper.rb
  decidim-dev/app/models/decidim/dev/dummy_resource.rb
  decidim-dev/app/presenters/decidim/dev/dummy_resource_presenter.rb
  decidim-generators/Gemfile.lock
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-initiatives/app/presenters/decidim/initiative_presenter.rb
  decidim-meetings/spec/system/meetings_social_share_spec.rb
  decidim-proposals/app/models/decidim/proposals/collaborative_draft.rb
  decidim-proposals/spec/system/collaborative_draft_social_share_spec.rb
  decidim-proposals/spec/system/proposals_social_share_spec.rb
  decidim-sortitions/app/models/decidim/sortitions/sortition.rb
  decidim-sortitions/app/presenters/decidim/sortitions/sortition_presenter.rb
  decidim-sortitions/spec/system/decidim/sortitions/sortitions_social_share_spec.rb
  docs/modules/customize/assets/images/social-share-modal-default.png
  docs/modules/customize/pages/social_shares.adoc
Labels: team: documentation, module: proposals, module: core, module: meetings, module: budgets, type: feature, module: debates, dependencies, module: blogs, module: dev, module: generators, module: sortitions, module: initiatives, configuration, module: design

#14170 Fix user activity filter
  decidim-core/app/cells/decidim/resource_types_filter/show.erb
  decidim-core/app/cells/decidim/resource_types_filter_cell.rb
  decidim-core/app/cells/decidim/user_activity/show.erb
  decidim-core/app/views/decidim/last_activities/index.html.erb
  decidim-core/spec/cells/decidim/user_activity_cell_spec.rb
  decidim-core/spec/system/user_profile_spec.rb
Labels: module: core, type: fix, release: v0.28, release: v0.29, release: v0.30

#14016 Fix WCAG status messages when update filter
  decidim-debates/app/views/decidim/debates/debates/_debates.html.erb
  decidim-meetings/app/views/decidim/meetings/shared/_meetings.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposals.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_sortitions.html.erb
Labels: module: proposals, module: meetings, module: debates, module: sortitions, type: fix, release: v0.30

#14013 Add admin UI for "Collaborative Texts" component
  decidim-api/lib/decidim/api/test/shared_examples/statistics_examples.rb
  decidim-collaborative_texts/app/cells/decidim/collaborative_texts/document_cell.rb
  decidim-collaborative_texts/app/cells/decidim/collaborative_texts/document_l_cell.rb
  decidim-collaborative_texts/app/commands/decidim/collaborative_texts/admin/create_document.rb
  decidim-collaborative_texts/app/commands/decidim/collaborative_texts/admin/publish_document.rb
  decidim-collaborative_texts/app/commands/decidim/collaborative_texts/admin/unpublish_document.rb
  decidim-collaborative_texts/app/commands/decidim/collaborative_texts/admin/update_document.rb
  decidim-collaborative_texts/app/commands/decidim/collaborative_texts/admin/update_document_settings.rb
  decidim-collaborative_texts/app/controllers/concerns/decidim/collaborative_texts/admin/filterable.rb
  decidim-collaborative_texts/app/controllers/decidim/collaborative_texts/admin/application_controller.rb
  decidim-collaborative_texts/app/controllers/decidim/collaborative_texts/admin/documents_controller.rb
  decidim-collaborative_texts/app/controllers/decidim/collaborative_texts/application_controller.rb
  decidim-collaborative_texts/app/controllers/decidim/collaborative_texts/documents_controller.rb
  decidim-collaborative_texts/app/forms/decidim/collaborative_texts/admin/document_form.rb
  decidim-collaborative_texts/app/helpers/decidim/collaborative_texts/application_helper.rb
  decidim-collaborative_texts/app/models/decidim/collaborative_texts/application_record.rb
  decidim-collaborative_texts/app/models/decidim/collaborative_texts/document.rb
  decidim-collaborative_texts/app/permissions/decidim/collaborative_texts/admin/permissions.rb
  decidim-collaborative_texts/app/permissions/decidim/collaborative_texts/permissions.rb
  decidim-collaborative_texts/app/views/decidim/collaborative_texts/admin/documents/_actions.html.erb
  decidim-collaborative_texts/app/views/decidim/collaborative_texts/admin/documents/_document-tr.html.erb
  decidim-collaborative_texts/app/views/decidim/collaborative_texts/admin/documents/_documents-thead.html.erb
  decidim-collaborative_texts/app/views/decidim/collaborative_texts/admin/documents/_form.html.erb
  decidim-collaborative_texts/app/views/decidim/collaborative_texts/admin/documents/edit.html.erb
  decidim-collaborative_texts/app/views/decidim/collaborative_texts/admin/documents/edit_settings.html.erb
  decidim-collaborative_texts/app/views/decidim/collaborative_texts/admin/documents/index.html.erb
  decidim-collaborative_texts/app/views/decidim/collaborative_texts/admin/documents/manage_trash.html.erb
  decidim-collaborative_texts/app/views/decidim/collaborative_texts/admin/documents/new.html.erb
  decidim-collaborative_texts/app/views/decidim/collaborative_texts/admin/settings/_form.html.erb
  decidim-collaborative_texts/app/views/decidim/collaborative_texts/documents/index.html.erb
  decidim-collaborative_texts/app/views/decidim/collaborative_texts/documents/show.html.erb
  decidim-collaborative_texts/config/locales/en.yml
  decidim-collaborative_texts/db/migrate/20250205215038_create_decidim_collaborative_texts_documents.rb
  decidim-collaborative_texts/lib/decidim/collaborative_texts/admin_engine.rb
  decidim-collaborative_texts/lib/decidim/collaborative_texts/component.rb
  decidim-collaborative_texts/lib/decidim/collaborative_texts/engine.rb
  decidim-collaborative_texts/lib/decidim/collaborative_texts/seeds.rb
  decidim-collaborative_texts/lib/decidim/collaborative_texts/test/factories.rb
  decidim-collaborative_texts/spec/cells/decidim/collaborative_texts/document_cell_spec.rb
  decidim-collaborative_texts/spec/cells/decidim/collaborative_texts/document_l_cell_spec.rb
  decidim-collaborative_texts/spec/commands/decidim/collaborative_texts/admin/publish_document_spec.rb
  decidim-collaborative_texts/spec/commands/decidim/collaborative_texts/admin/unpublish_document_spec.rb
  decidim-collaborative_texts/spec/controllers/decidim/collaborative_texts/admin/documents_controller_spec.rb
  decidim-collaborative_texts/spec/controllers/decidim/collaborative_texts/documents_controller_spec.rb
  decidim-collaborative_texts/spec/factories.rb
  decidim-collaborative_texts/spec/forms/decidim/collaborative_texts/admin/document_form_spec.rb
  decidim-collaborative_texts/spec/helpers/decidim/collaborative_texts/application_helper_spec.rb
  decidim-collaborative_texts/spec/models/decidim/collaborative_texts/document_spec.rb
  decidim-collaborative_texts/spec/permissions/decidim/collaborative_texts/admin/permissions_spec.rb
  decidim-collaborative_texts/spec/permissions/decidim/collaborative_texts/permissions_spec.rb
  decidim-collaborative_texts/spec/services/decidim/collaborative_texts/searchable_collaborative_text_resource_document_spec.rb
  decidim-collaborative_texts/spec/system/admin/admin_creates_document_spec.rb
  decidim-collaborative_texts/spec/system/admin/admin_edits_document_spec.rb
  decidim-collaborative_texts/spec/system/admin/admin_publishes_and_unpublishes_document_spec.rb
  decidim-core/lib/decidim/core/test/factories.rb
Labels: module: core, type: feature, dependencies, module: generators, module: api, configuration, contract: 2024-developments, module: collaborative_texts

#14237 Backport 'Fix WCAG status messages when update filter' to v0.28
  decidim-debates/app/views/decidim/debates/debates/_debates.html.erb
  decidim-meetings/app/views/decidim/meetings/shared/_meetings.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposals.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_sortitions.html.erb
Labels: module: proposals, module: meetings, backport, module: debates, module: sortitions, type: fix, release: v0.28, release: v0.29, release: v0.30

#14228 Fix CSS details (mostly alignments and gaps)
  decidim-comments/app/packs/stylesheets/comments.scss
  decidim-core/app/packs/stylesheets/decidim/_content_blocks.scss
  decidim-core/app/packs/stylesheets/decidim/_modal_authorization.scss
  decidim-core/app/packs/stylesheets/decidim/_profile.scss
  decidim-core/app/views/decidim/devise/registrations/new.html.erb
  decidim-core/app/views/decidim/devise/sessions/new.html.erb
  decidim-core/app/views/decidim/devise/shared/_omniauth_buttons.html.erb
  decidim-meetings/app/packs/stylesheets/decidim/meetings/_list.scss
Labels: module: core, module: meetings, module: comments, type: fix, release: v0.30

#14243 Add well known file needed from https://decidim.org/funding.json
  .well-known/funding-manifest-urls
Labels: type: internal

#14180 Fix static map image fetching with Here maps service
  RELEASE_NOTES.md
  decidim-core/app/services/decidim/static_map_generator.rb
  decidim-core/lib/decidim/map/provider/static_map/here.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
  docs/modules/configure/pages/environment_variables.adoc
  docs/modules/configure/pages/initializer.adoc
  docs/modules/services/pages/maps.adoc
Labels: team: documentation, module: core, module: generators, type: fix, release: v0.28, release: v0.29, release: v0.30

#14233 Document additional scheduled tasks
  docs/modules/install/pages/index.adoc
Labels: team: documentation, type: fix

#14248 Fix accordion in Open Data page
  decidim-core/app/views/decidim/open_data/index.html.erb
  decidim-core/spec/system/download_open_data_files_spec.rb
Labels: module: core, type: fix, release: v0.30

#14244 Fix linked proposals
  decidim-proposals/app/views/decidim/proposals/proposals/_linked_proposals.html.erb
  decidim-proposals/spec/system/proposal_show_spec.rb
Labels: module: proposals, type: fix, release: v0.30

#14257 Update oauth.adoc, fix typo
  docs/modules/customize/pages/oauth.adoc
Labels: team: documentation, type: fix, release: v0.28, release: v0.29, release: v0.30

#14221 Fix proposals votes frontend issues
  decidim-proposals/app/packs/stylesheets/decidim/proposals/proposals.scss
Labels: module: proposals, type: fix, release: v0.30

#14253 Backport 'Fix static map image fetching with Here maps service' to v0.28
  RELEASE_NOTES.md
  decidim-core/app/services/decidim/static_map_generator.rb
  decidim-core/lib/decidim/map/provider/static_map/here.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
  docs/modules/configure/pages/environment_variables.adoc
  docs/modules/configure/pages/initializer.adoc
  docs/modules/services/pages/maps.adoc
Labels: team: documentation, module: core, backport, module: generators, type: fix, release: v0.30

#14252 Backport 'Fix static map image fetching with Here maps service' to v0.29
  RELEASE_NOTES.md
  decidim-core/app/services/decidim/static_map_generator.rb
  decidim-core/lib/decidim/map/provider/static_map/here.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
  docs/modules/configure/pages/environment_variables.adoc
  docs/modules/configure/pages/initializer.adoc
  docs/modules/services/pages/maps.adoc
Labels: team: documentation, module: core, backport, module: generators, type: fix, release: v0.30

#14270 Fix details and minor details
  decidim-core/app/packs/stylesheets/decidim/_login.scss
  decidim-forms/app/cells/decidim/forms/step_navigation_cell.rb
  decidim-forms/app/controllers/decidim/forms/admin/concerns/has_questionnaire_answers.rb
  decidim-forms/app/models/decidim/forms/questionnaire.rb
  decidim-forms/config/locales/en.yml
  decidim-forms/spec/models/decidim/forms/questionnaire_spec.rb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/main_data/content.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/proposal_comment_actions_spec.rb
  decidim-surveys/app/controllers/decidim/surveys/admin/answers_controller.rb
  decidim-surveys/app/views/decidim/surveys/admin/answers/index.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/publish_answers/index.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/index.html.erb
  decidim-surveys/spec/shared/editable_survey_answer_examples.rb
Labels: module: proposals, module: core, module: surveys, module: forms, module: participatory processes, type: fix, release: v0.30

#14262 Fix submit on button on forms with taxonomies
  decidim-admin/app/helpers/decidim/admin/settings_helper.rb
Labels: module: admin, type: fix, release: v0.30

#14268 Add more configurations on proposals with seeds
  decidim-proposals/lib/decidim/proposals/seeds.rb
Labels: module: proposals, type: internal

#14251 Backport 'Fix static map image fetching with Here maps service' to v0.30
  RELEASE_NOTES.md
  decidim-core/app/services/decidim/static_map_generator.rb
  decidim-core/lib/decidim/map/provider/static_map/here.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
  docs/modules/configure/pages/environment_variables.adoc
  docs/modules/configure/pages/initializer.adoc
  docs/modules/services/pages/maps.adoc
Labels: team: documentation, module: core, backport, module: generators, type: fix, release: v0.30

#14038 Fix default order shown in comments dropdown
  decidim-comments/app/cells/decidim/comments/comments/order_control.erb
Labels: module: comments, type: fix, release: v0.30

#14276 Backport 'Fix details and minor details ' to v0.30
  decidim-core/app/packs/stylesheets/decidim/_login.scss
  decidim-forms/app/cells/decidim/forms/step_navigation_cell.rb
  decidim-forms/app/controllers/decidim/forms/admin/concerns/has_questionnaire_answers.rb
  decidim-forms/app/models/decidim/forms/questionnaire.rb
  decidim-forms/config/locales/en.yml
  decidim-forms/spec/models/decidim/forms/questionnaire_spec.rb
  decidim-participatory_processes/app/cells/decidim/participatory_process_groups/content_blocks/main_data/content.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/system/proposal_comment_actions_spec.rb
  decidim-surveys/app/controllers/decidim/surveys/admin/answers_controller.rb
  decidim-surveys/app/views/decidim/surveys/admin/answers/index.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/publish_answers/index.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/surveys/index.html.erb
  decidim-surveys/spec/shared/editable_survey_answer_examples.rb
Labels: module: proposals, module: core, backport, module: surveys, module: forms, module: participatory processes, type: fix, release: v0.30

#14238 Force api authentication with configuration
  RELEASE_NOTES.md
  decidim-api/app/controllers/decidim/api/application_controller.rb
  decidim-api/lib/decidim/api.rb
  decidim-api/spec/controllers/queries_controller_spec.rb
  decidim-api/spec/system/graphiql_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  docs/modules/configure/pages/environment_variables.adoc
Labels: team: documentation, type: feature, module: generators, module: api

#14135 Register user without avatar on omniauth registration if avatar_url is unreachable
  decidim-core/app/commands/decidim/create_omniauth_registration.rb
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
Labels: module: core, type: fix, release: v0.28, release: v0.29, release: v0.30

#13566 Fix invalid chars in name when using OAuth login
  decidim-core/app/commands/decidim/create_omniauth_registration.rb
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
Labels: module: core, type: fix

#14294 Backport 'Register user without avatar on omniauth registration' to v0.29
  decidim-core/app/commands/decidim/create_omniauth_registration.rb
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
Labels: module: core, backport, type: fix, release: v0.29, release: v0.30

#14274 Change the 'choose template' page for questionnaires to a two column design
  decidim-forms/app/views/decidim/forms/admin/questionnaires/edit.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/edit_questions.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/registration_form/edit_questions.html.erb
  decidim-surveys/app/views/decidim/surveys/admin/questions/surveys/edit.html.erb
  decidim-templates/app/packs/src/decidim/templates/admin/choose_template.js
  decidim-templates/app/packs/stylesheets/decidim/templates/templates.scss
  decidim-templates/app/views/decidim/templates/admin/questionnaire_templates/_choose.html.erb
  decidim-templates/config/locales/en.yml
  decidim-templates/lib/decidim/templates/test/shared_examples/uses_questionnaire_templates.rb
  decidim-templates/spec/system/admin/admin_applies_questionnaire_template_to_component_spec.rb
Labels: module: meetings, module: surveys, type: feature, module: forms, module: templates

#14296 Backport 'Fix invalid chars in name when using OAuth login' to v0.29
  decidim-core/app/commands/decidim/create_omniauth_registration.rb
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
Labels: module: core, backport, type: fix, release: v0.29, release: v0.30

#14272 Fix lower casing for user's nickname
  .github/actions/spelling/expect.txt
  RELEASE_NOTES.md
  decidim-admin/app/controllers/decidim/admin/organization_controller.rb
  decidim-core/app/controllers/decidim/profiles_controller.rb
  decidim-core/app/controllers/decidim/user_activities_controller.rb
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/models/decidim/user_base_entity.rb
  decidim-core/lib/decidim/content_parsers/user_parser.rb
  decidim-core/lib/decidim/nicknamizable.rb
  decidim-core/lib/tasks/upgrade/decidim_fix_nickname_uniqueness.rake
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  decidim-core/spec/commands/decidim/create_registration_spec.rb
  decidim-core/spec/controllers/decidim/profiles_controller_spec.rb
  decidim-core/spec/controllers/decidim/user_activities_controller_spec.rb
  decidim-core/spec/forms/registration_form_spec.rb
  decidim-core/spec/lib/nicknamizable_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/user_profile_spec.rb
  decidim-core/spec/tasks/decidim_tasks_fix_nickname_uniqueness_spec.rb
  decidim-core/spec/tasks/upgrade/decidim_tasks_fix_nickname_uniqueness_spec.rb
  decidim-core/spec/tasks/upgrade/fix_nickname_casing_spec.rb
Labels: module: core, module: admin, type: fix, release: v0.28, configuration, release: v0.29, release: v0.30

#14284 Fix budget detail with "You voted for this" string
  decidim-budgets/app/cells/decidim/budgets/project_voted_hint_cell.rb
  decidim-core/app/packs/stylesheets/decidim/_cards.scss
Labels: module: core, module: budgets, type: fix, release: v0.30

#14267 Change `hide_voting` argument on proposal cell to `show_voting`
  decidim-core/app/cells/decidim/amendable/amendments/show.erb
  decidim-proposals/app/cells/decidim/proposals/highlighted_proposals_for_component/show.erb
  decidim-proposals/app/cells/decidim/proposals/proposal_g_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_l/show.erb
  decidim-proposals/app/cells/decidim/proposals/proposal_l_cell.rb
  decidim-proposals/app/views/decidim/proposals/proposals/_linked_proposals.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposal.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_proposals.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_proposal.html.erb
Labels: module: proposals, module: core, module: sortitions, type: fix, release: v0.30

#14292 Make backporter trigger when unlabeling PRs
  .github/workflows/ci_backporter.yml
Labels: type: internal, configuration

#14305 Backport 'Fix lower casing for user's nickname' to v0.30
  .github/actions/spelling/expect.txt
  RELEASE_NOTES.md
  decidim-admin/app/controllers/decidim/admin/organization_controller.rb
  decidim-admin/spec/system/admin_filters_user_groups_spec.rb
  decidim-core/app/controllers/decidim/profiles_controller.rb
  decidim-core/app/controllers/decidim/user_activities_controller.rb
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/models/decidim/user_base_entity.rb
  decidim-core/lib/decidim/content_parsers/user_parser.rb
  decidim-core/lib/decidim/nicknamizable.rb
  decidim-core/lib/tasks/upgrade/decidim_fix_nickname_uniqueness.rake
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  decidim-core/spec/commands/decidim/create_registration_spec.rb
  decidim-core/spec/controllers/decidim/profiles_controller_spec.rb
  decidim-core/spec/controllers/decidim/user_activities_controller_spec.rb
  decidim-core/spec/forms/registration_form_spec.rb
  decidim-core/spec/lib/nicknamizable_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/user_profile_spec.rb
  decidim-core/spec/tasks/decidim_tasks_fix_nickname_uniqueness_spec.rb
  decidim-core/spec/tasks/upgrade/decidim_tasks_fix_nickname_uniqueness_spec.rb
  decidim-core/spec/tasks/upgrade/fix_nickname_casing_spec.rb
Labels: module: core, module: admin, backport, type: fix, release: v0.28, configuration, release: v0.29, release: v0.30

#14300 Fix QR code generation
  decidim-core/app/cells/decidim/share_widget_cell.rb
  decidim-core/app/controllers/decidim/qr_controller.rb
  decidim-core/app/helpers/decidim/qr_code_helper.rb
  decidim-core/lib/decidim/core/test/shared_examples/social_share_examples.rb
  decidim-initiatives/spec/system/initiatives_social_share_spec.rb
Labels: module: core, module: initiatives, type: fix, release: v0.30

#14308 Backport 'Fix lower casing for user's nickname' to v0.28
  RELEASE_NOTES.md
  decidim-admin/app/controllers/decidim/admin/organization_controller.rb
  decidim-admin/spec/system/admin_filters_user_groups_spec.rb
  decidim-core/app/controllers/decidim/profiles_controller.rb
  decidim-core/app/controllers/decidim/user_activities_controller.rb
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/models/decidim/user_base_entity.rb
  decidim-core/lib/decidim/content_parsers/user_parser.rb
  decidim-core/lib/decidim/nicknamizable.rb
  decidim-core/lib/tasks/upgrade/decidim_fix_nickname_uniqueness.rake
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  decidim-core/spec/commands/decidim/create_registration_spec.rb
  decidim-core/spec/controllers/decidim/profiles_controller_spec.rb
  decidim-core/spec/controllers/decidim/user_activities_controller_spec.rb
  decidim-core/spec/forms/registration_form_spec.rb
  decidim-core/spec/lib/nicknamizable_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/user_profile_spec.rb
  decidim-core/spec/tasks/decidim_tasks_fix_nickname_uniqueness_spec.rb
  decidim-core/spec/tasks/upgrade/decidim_tasks_fix_nickname_uniqueness_spec.rb
  decidim-core/spec/tasks/upgrade/fix_nickname_casing_spec.rb
Labels: module: core, module: admin, backport, type: fix, release: v0.28, configuration, release: v0.29, release: v0.30

#14306 Backport 'Fix lower casing for user's nickname' to v0.29
  .github/actions/spelling/expect.txt
  RELEASE_NOTES.md
  decidim-admin/app/controllers/decidim/admin/organization_controller.rb
  decidim-admin/spec/system/admin_filters_user_groups_spec.rb
  decidim-core/app/controllers/decidim/profiles_controller.rb
  decidim-core/app/controllers/decidim/user_activities_controller.rb
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/models/decidim/user_base_entity.rb
  decidim-core/lib/decidim/content_parsers/user_parser.rb
  decidim-core/lib/decidim/nicknamizable.rb
  decidim-core/lib/tasks/upgrade/decidim_fix_nickname_uniqueness.rake
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  decidim-core/spec/commands/decidim/create_registration_spec.rb
  decidim-core/spec/controllers/decidim/profiles_controller_spec.rb
  decidim-core/spec/controllers/decidim/user_activities_controller_spec.rb
  decidim-core/spec/forms/registration_form_spec.rb
  decidim-core/spec/lib/nicknamizable_spec.rb
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/user_profile_spec.rb
  decidim-core/spec/tasks/decidim_tasks_fix_nickname_uniqueness_spec.rb
  decidim-core/spec/tasks/upgrade/decidim_tasks_fix_nickname_uniqueness_spec.rb
  decidim-core/spec/tasks/upgrade/fix_nickname_casing_spec.rb
Labels: module: core, module: admin, backport, type: fix, release: v0.28, configuration, release: v0.29, release: v0.30

#14301 Fix hide comment from interface
  decidim-core/app/jobs/decidim/hide_child_resources_job.rb
  decidim-core/spec/jobs/decidim/hide_child_resources_job_spec.rb
Labels: module: core, type: fix, release: v0.30

#14304 Add delay of `spam_analysis` queue
  decidim-ai/lib/decidim/ai/engine.rb
  decidim-ai/lib/decidim/ai/spam_detection/spam_detection.rb
  decidim-generators/lib/decidim/generators/app_templates/ai_initializer.rb
Labels: module: generators, type: fix, module: ai, release: v0.30

#14285 Fix white bottom on proposal show with voting
  decidim-core/app/packs/src/decidim/sticky_footer.js
Labels: module: core, type: fix, release: v0.30

#14110 Add title tag on pages for blogs, debates and meetings
  decidim-blogs/app/views/decidim/blogs/posts/new.html.erb
  decidim-debates/app/views/decidim/debates/debates/new.html.erb
  decidim-debates/config/locales/en.yml
  decidim-meetings/app/views/decidim/meetings/meetings/new.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-proposals/config/locales/en.yml
Labels: module: proposals, module: meetings, module: debates, module: blogs, type: fix, release: v0.28, release: v0.29, release: v0.30

#14275 Fix editing comment with max length setting
  decidim-comments/app/controllers/decidim/comments/comments_controller.rb
  decidim-comments/spec/controllers/decidim/comments/comments_controller_spec.rb
Labels: module: comments, type: fix, release: v0.28, release: v0.29, release: v0.30

#14014 Fix WCAG search filters navigation
  decidim-core/app/views/decidim/searches/_count.html.erb
  decidim-core/app/views/decidim/searches/_filters.html.erb
Labels: module: core, type: fix, release: v0.30

#14347 Fix title on spec for the 'Create new proposal' page
  decidim-verifications/spec/system/action_authorization_spec.rb
  decidim-verifications/spec/system/ephemeral_action_authorization_spec.rb
Labels: module: verifications, type: fix, release: v0.28, release: v0.29, release: v0.30

#14341 Backport 'Add title tag on pages for blogs, debates and meetings' to v0.29
  decidim-debates/app/views/decidim/debates/debates/new.html.erb
  decidim-debates/config/locales/en.yml
  decidim-meetings/app/views/decidim/meetings/meetings/new.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-proposals/config/locales/en.yml
Labels: module: proposals, module: meetings, backport, module: debates, module: blogs, type: fix, release: v0.30

#14342 Backport 'Add title tag on pages for blogs, debates and meetings' to v0.28
  decidim-debates/app/views/decidim/debates/debates/new.html.erb
  decidim-debates/config/locales/en.yml
  decidim-meetings/app/views/decidim/meetings/meetings/new.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-proposals/config/locales/en.yml
Labels: module: proposals, module: meetings, backport, module: debates, module: blogs, type: fix, release: v0.30

#14354 Backport 'Fix title on spec for the 'Create new proposal' page' to v0.28
  decidim-verifications/spec/system/action_authorization_spec.rb
Labels: backport, module: verifications, type: fix, release: v0.29, release: v0.30

#14327 Update `decidim-blogs` GraphQL API
  decidim-blogs/lib/decidim/api/post_type.rb
  decidim-blogs/spec/types/post_type_spec.rb
Labels: type: feature, graphql-api, module: blogs, contract: 2024-api

#14331 Update `decidim-debates` GraphQL API
  decidim-debates/lib/decidim/api/debate_type.rb
  decidim-debates/lib/decidim/debates/test/factories.rb
  decidim-debates/spec/types/debate_type_spec.rb
Labels: type: feature, module: debates, graphql-api, contract: 2024-api

#14335 Bump to v0.30.0.rc3 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-ai/lib/decidim/ai/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: internal, module: design, module: ai

#14326 Update `decidim-accountability` GraphQL API
  decidim-accountability/lib/decidim/api/result_type.rb
  decidim-accountability/lib/decidim/api/status_type.rb
  decidim-accountability/lib/decidim/api/timeline_entry_type.rb
  decidim-accountability/spec/types/integration_schema_spec.rb
  decidim-accountability/spec/types/result_type_spec.rb
  decidim-accountability/spec/types/status_type_spec.rb
  decidim-accountability/spec/types/timeline_entry_type_spec.rb
Labels: type: feature, module: accountability, graphql-api, contract: 2024-api

#14330 Update `decidim-conferences` GraphQL API
  decidim-conferences/app/models/decidim/conferences/registration_type.rb
  decidim-conferences/lib/decidim/api/conference_registration_type_type.rb
  decidim-conferences/lib/decidim/api/conference_speaker_type.rb
  decidim-conferences/lib/decidim/api/conference_type.rb
  decidim-conferences/lib/decidim/conferences/api.rb
  decidim-conferences/spec/types/conference_registration_type_type_spec.rb
  decidim-conferences/spec/types/conference_speaker_type_spec.rb
  decidim-conferences/spec/types/conference_type_spec.rb
  decidim-conferences/spec/types/integration_schema_spec.rb
Labels: type: feature, graphql-api, module: conferences, contract: 2024-api

#14355 Fix searches filtering results when not are commentable
  decidim-core/app/commands/decidim/search.rb
  decidim-core/lib/decidim/core/test/shared_examples/uncommentable_component_examples.rb
Labels: module: core, type: fix, release: v0.28, release: v0.29, release: v0.30

#14322 Bump to v0.27.10 version
  .decidim-version
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-consultations/lib/decidim/consultations/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  decidim_app-design/Gemfile.lock
  decidim_app-design/package-lock.json
  decidim_app-design/packages/browserslist-config/package.json
  decidim_app-design/packages/core/package.json
  decidim_app-design/packages/dev/package.json
  decidim_app-design/packages/elections/package.json
  decidim_app-design/packages/eslint-config/package.json
  decidim_app-design/packages/stylelint-config/package.json
  decidim_app-design/packages/webpacker/package.json
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: type: internal

#14371 Fix profile user display on some resolutions
  decidim-core/app/packs/stylesheets/decidim/_header.scss
Labels: module: core, type: fix, release: v0.30

#14362 Fix alignment of sorting options on projects
  decidim-budgets/app/packs/stylesheets/budgets.scss
Labels: module: budgets, target: developer-experience, type: fix

#14358 Add resource fields to integration schema specs
  decidim-blogs/spec/types/integration_schema_spec.rb
  decidim-debates/spec/types/integration_schema_spec.rb
Labels: type: feature, module: debates, graphql-api, module: blogs, contract: 2024-api

#14363 Prevent the error generating the diff for non-translatable fields in old version records
  decidim-core/app/services/decidim/base_diff_renderer.rb
  decidim-proposals/spec/services/decidim/proposals/diff_renderer_spec.rb
Labels: module: proposals, module: core, type: fix

#14329 Update `decidim-assemblies` GraphQL API
  decidim-assemblies/lib/decidim/api/assemblies_type_type.rb
  decidim-assemblies/lib/decidim/api/assembly_type.rb
  decidim-assemblies/lib/decidim/assemblies/api.rb
  decidim-assemblies/lib/decidim/assemblies/query_extensions.rb
  decidim-assemblies/spec/lib/query_extensions_spec.rb
  decidim-assemblies/spec/types/assemblies_type_type_spec.rb
  decidim-assemblies/spec/types/assembly_type_spec.rb
  decidim-assemblies/spec/types/integration_schema_spec.rb
Labels: type: feature, graphql-api, module: assemblies, contract: 2024-api

#13882 Delete inactive user accounts
  RELEASE_NOTES.md
  decidim-core/app/jobs/decidim/delete_inactive_participants_job.rb
  decidim-core/app/jobs/decidim/process_inactive_participant_job.rb
  decidim-core/app/mailers/decidim/participants_account_mailer.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/app/queries/decidim/inactive_users_query.rb
  decidim-core/app/views/decidim/participants_account_mailer/inactivity_notification.html.erb
  decidim-core/app/views/decidim/participants_account_mailer/removal_notification.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/tasks/decidim_participants_tasks.rake
  decidim-core/spec/jobs/decidim/delete_inactive_participants_job_spec.rb
  decidim-core/spec/mailers/participants_account_mailer_spec.rb
  decidim-core/spec/queries/decidim/inactive_users_query_spec.rb
  decidim-core/spec/tasks/decidim_tasks_delete_inactive_users_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/initializer.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
  decidim-generators/lib/decidim/generators/app_templates/sidekiq.yml.erb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
  docs/modules/configure/pages/environment_variables.adoc
  docs/modules/install/pages/index.adoc
Labels: team: documentation, module: core, type: feature, dependencies, module: generators, contract: 2024-developments

#14365 Fix edit comment modal cell displaying old cached values
  decidim-comments/app/cells/decidim/comments/edit_comment_modal_form_cell.rb
Labels: module: comments, type: fix, release: v0.29, release: v0.30

#14366 Make the form borders and spacings consistents
  decidim-admin/app/packs/stylesheets/decidim/admin/_forms.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/_item_edit.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/_item_show.scss
  decidim-admin/app/packs/stylesheets/decidim/admin/_tabs.scss
  decidim-admin/app/views/decidim/admin/organization/edit.html.erb
  decidim-admin/app/views/decidim/admin/shared/landing_page_content_blocks/edit.html.erb
  decidim-admin/lib/decidim/admin/form_builder.rb
  decidim-assemblies/app/cells/decidim/assemblies/content_blocks/highlighted_assemblies_settings_form/show.erb
  decidim-conferences/app/cells/decidim/conferences/content_blocks/highlighted_conferences_settings_form/show.erb
  decidim-core/app/cells/decidim/content_blocks/hero_settings_form/show.erb
  decidim-core/app/cells/decidim/content_blocks/highlighted_elements_for_component_settings_form/show.erb
  decidim-core/app/cells/decidim/content_blocks/html_settings_form/show.erb
  decidim-core/app/cells/decidim/content_blocks/last_activity_settings_form/show.erb
  decidim-core/app/cells/decidim/content_blocks/participatory_space_hero_settings_form/show.erb
  decidim-core/app/packs/stylesheets/decidim/_datepicker.scss
  decidim-core/app/packs/stylesheets/decidim/_forms.scss
  decidim-core/app/packs/stylesheets/decidim/_modal_update.scss
  decidim-core/app/packs/stylesheets/decidim/editor.scss
  decidim-initiatives/app/cells/decidim/initiatives/content_blocks/highlighted_initiatives_settings_form/show.erb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/highlighted_processes_settings_form/show.erb
Labels: module: core, module: admin, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: fix, type: change, contract: 2024-api

#14391 Fix meeting overriding customized frame-src security policy
  decidim-meetings/lib/decidim/meetings/engine.rb
Labels: module: meetings, type: fix, release: v0.28, release: v0.29, release: v0.30

#14390 Decidim version API docs
  decidim-api/app/views/decidim/api/documentation/show.html.erb
Labels: team: documentation, module: api, type: fix, configuration, release: v0.30

#14403 Add test for API docs version disclosure
  decidim-api/spec/system/documentation_spec.rb
Labels: module: api, type: fix, type: internal, release: v0.30

#14400 Add localization documentation page
  docs/modules/customize/pages/index.adoc
  docs/modules/customize/pages/localization.adoc
Labels: team: documentation, type: internal

#14136 Remove costs requirement on proposals
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_answer_form.rb
  decidim-proposals/app/helpers/decidim/proposals/proposals_helper.rb
  decidim-proposals/spec/controllers/decidim/proposals/admin/proposal_answers_controller_spec.rb
  decidim-proposals/spec/forms/decidim/proposals/admin/proposal_answer_form_spec.rb
  decidim-proposals/spec/system/admin/admin_answers_proposal_spec.rb
Labels: module: proposals, module: admin, type: fix, release: v0.29, release: v0.30

#14412 Fix pipeline on costs
  decidim-templates/spec/system/admin/admin_manages_proposal_bulk_answers_templates_spec.rb
Labels: module: templates, type: fix, release: v0.29, release: v0.30

#13291 Migrate to proper publish behavior in blogs
  decidim-blogs/app/commands/decidim/blogs/admin/create_post.rb
  decidim-blogs/app/jobs/decidim/blogs/application_job.rb
  decidim-blogs/app/jobs/decidim/blogs/publish_post_job.rb
  decidim-blogs/app/models/decidim/blogs/post.rb
  decidim-blogs/lib/decidim/blogs/test/factories.rb
  decidim-blogs/spec/commands/decidim/blogs/admin/create_post_spec.rb
  decidim-blogs/spec/shared/manage_posts_examples.rb
  decidim-core/app/models/decidim/action_log.rb
Labels: module: core, module: blogs, type: fix, type: change

#14413 Fix templates workflow configuration
  .github/workflows/ci_templates.yml
Labels: type: internal, configuration

#13986 Update of the API GraphQL
  decidim-accountability/lib/decidim/api/result_type.rb
  decidim-accountability/lib/decidim/api/status_type.rb
  decidim-accountability/lib/decidim/api/timeline_entry_type.rb
  decidim-accountability/spec/types/integration_schema_spec.rb
  decidim-accountability/spec/types/result_type_spec.rb
  decidim-accountability/spec/types/status_type_spec.rb
  decidim-accountability/spec/types/timeline_entry_type_spec.rb
  decidim-api/lib/decidim/api/test/shared_examples/attachable_interface_examples.rb
  decidim-api/lib/decidim/api/test/shared_examples/commentable_interface_examples.rb
  decidim-api/lib/decidim/api/test/shared_examples/followable_interface_examples.rb
  decidim-api/lib/decidim/api/test/shared_examples/localizable_interface_examples.rb
  decidim-api/lib/decidim/api/test/shared_examples/participatory_space_resourcable_interface_examples.rb
  decidim-api/lib/decidim/api/test/shared_examples/referable_interface_examples.rb
  decidim-api/lib/decidim/api/test/shared_examples/traceable_interface_examples.rb
  decidim-assemblies/lib/decidim/api/assemblies_type_type.rb
  decidim-assemblies/lib/decidim/api/assembly_type.rb
  decidim-assemblies/lib/decidim/assemblies/api.rb
  decidim-assemblies/lib/decidim/assemblies/query_extensions.rb
  decidim-assemblies/spec/lib/query_extensions_spec.rb
  decidim-assemblies/spec/types/assemblies_type_type_spec.rb
  decidim-assemblies/spec/types/assembly_type_spec.rb
  decidim-assemblies/spec/types/integration_schema_spec.rb
  decidim-blogs/lib/decidim/api/post_type.rb
  decidim-blogs/spec/types/integration_schema_spec.rb
  decidim-blogs/spec/types/post_type_spec.rb
  decidim-budgets/lib/decidim/api/budget_type.rb
  decidim-budgets/lib/decidim/api/project_type.rb
  decidim-budgets/spec/types/budget_type_spec.rb
  decidim-budgets/spec/types/integration_schema_spec.rb
  decidim-budgets/spec/types/project_type_spec.rb
  decidim-conferences/app/models/decidim/conferences/registration_type.rb
  decidim-conferences/lib/decidim/api/conference_registration_type_type.rb
  decidim-conferences/lib/decidim/api/conference_speaker_type.rb
  decidim-conferences/lib/decidim/api/conference_type.rb
  decidim-conferences/lib/decidim/conferences/api.rb
  decidim-conferences/spec/types/conference_registration_type_type_spec.rb
  decidim-conferences/spec/types/conference_speaker_type_spec.rb
  decidim-conferences/spec/types/conference_type_spec.rb
  decidim-conferences/spec/types/integration_schema_spec.rb
  decidim-core/app/models/decidim/attachment_collection.rb
  decidim-core/lib/decidim/api/interfaces/attachable_collection_interface.rb
  decidim-core/lib/decidim/api/interfaces/followable_interface.rb
  decidim-core/lib/decidim/api/interfaces/localizable_interface.rb
  decidim-core/lib/decidim/api/interfaces/participatory_space_interface.rb
  decidim-core/lib/decidim/api/interfaces/referable_interface.rb
  decidim-core/lib/decidim/api/interfaces/timestamps_interface.rb
  decidim-core/lib/decidim/api/types/attachment_collection_type.rb
  decidim-core/lib/decidim/core/api.rb
  decidim-debates/lib/decidim/api/debate_type.rb
  decidim-debates/lib/decidim/debates/test/factories.rb
  decidim-debates/spec/types/debate_type_spec.rb
  decidim-debates/spec/types/integration_schema_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: pages, module: surveys, type: feature, module: accountability, module: debates, graphql-api, module: assemblies, module: blogs, module: sortitions, module: participatory processes, module: api, module: conferences, module: initiatives, contract: 2024-api

#14414 Do not show a CSP warning during admin edits organization spec
  decidim-admin/spec/system/admin_manages_organization_spec.rb
Labels: module: admin, type: internal

#14357 Fix wcag keyboard modal cookie settings
  decidim-core/app/views/layouts/decidim/footer/_main_legal.html.erb
Labels: module: core, type: fix

#14422 Backport 'Fix comment cell to not show reply button when passing MAX_DEPTH' to v0.29
  decidim-comments/app/cells/decidim/comments/comment_cell.rb
  decidim-comments/spec/cells/decidim/comments/comment_cell_spec.rb
Labels: module: comments, backport, type: fix, release: v0.29, release: v0.30

#14388 Fix `avatar_url` in UserPresenter
  decidim-core/app/presenters/decidim/user_presenter.rb
  decidim-core/spec/presenters/decidim/user_presenter_spec.rb
  decidim-proposals/spec/system/collaborative_drafts_spec.rb
Labels: module: proposals, module: core, type: fix, release: v0.29, release: v0.30

#14409 Backport 'Remove costs requirement on proposals' to v0.29
  decidim-proposals/app/forms/decidim/proposals/admin/proposal_answer_form.rb
  decidim-proposals/app/helpers/decidim/proposals/proposals_helper.rb
  decidim-proposals/spec/controllers/decidim/proposals/admin/proposal_answers_controller_spec.rb
  decidim-proposals/spec/forms/decidim/proposals/admin/proposal_answer_form_spec.rb
  decidim-proposals/spec/system/admin/admin_answers_proposal_spec.rb
Labels: module: proposals, module: admin, backport, type: fix, release: v0.29, release: v0.30

#14084 Add body and versioning to collaborative texts documents
  config/i18n-tasks.yml
  decidim-collaborative_texts/app/commands/decidim/collaborative_texts/admin/create_document.rb
  decidim-collaborative_texts/app/commands/decidim/collaborative_texts/admin/update_document.rb
  decidim-collaborative_texts/app/forms/decidim/collaborative_texts/admin/document_form.rb
  decidim-collaborative_texts/app/helpers/decidim/collaborative_texts/application_helper.rb
  decidim-collaborative_texts/app/models/decidim/collaborative_texts/document.rb
  decidim-collaborative_texts/app/models/decidim/collaborative_texts/version.rb
  decidim-collaborative_texts/app/packs/entrypoints/decidim_collaborative_texts.js
  decidim-collaborative_texts/app/presenters/decidim/collaborative_texts/admin_log/document_presenter.rb
  decidim-collaborative_texts/app/presenters/decidim/collaborative_texts/admin_log/version_presenter.rb
  decidim-collaborative_texts/app/views/decidim/collaborative_texts/admin/documents/_actions.html.erb
  decidim-collaborative_texts/app/views/decidim/collaborative_texts/admin/documents/_form.html.erb
  decidim-collaborative_texts/app/views/decidim/collaborative_texts/documents/show.html.erb
  decidim-collaborative_texts/config/assets.rb
  decidim-collaborative_texts/config/locales/en.yml
  decidim-collaborative_texts/db/migrate/20250213113536_create_collaborative_texts_versions.rb
  decidim-collaborative_texts/lib/decidim/collaborative_texts/seeds.rb
  decidim-collaborative_texts/lib/decidim/collaborative_texts/test/factories.rb
  decidim-collaborative_texts/spec/cells/decidim/collaborative_texts/document_l_cell_spec.rb
  decidim-collaborative_texts/spec/commands/decidim/collaborative_texts/admin/create_document_spec.rb
  decidim-collaborative_texts/spec/commands/decidim/collaborative_texts/admin/publish_document_spec.rb
  decidim-collaborative_texts/spec/commands/decidim/collaborative_texts/admin/unpublish_document_spec.rb
  decidim-collaborative_texts/spec/commands/decidim/collaborative_texts/admin/update_document_settings_spec.rb
  decidim-collaborative_texts/spec/commands/decidim/collaborative_texts/admin/update_document_spec.rb
  decidim-collaborative_texts/spec/forms/decidim/collaborative_texts/admin/document_form_spec.rb
  decidim-collaborative_texts/spec/helpers/decidim/collaborative_texts/application_helper_spec.rb
  decidim-collaborative_texts/spec/models/decidim/collaborative_texts/document_spec.rb
  decidim-collaborative_texts/spec/models/decidim/collaborative_texts/version_spec.rb
  decidim-collaborative_texts/spec/presenters/decidim/collaborative_texts/admin_log/document_presenter_spec.rb
  decidim-collaborative_texts/spec/presenters/decidim/collaborative_texts/admin_log/version_presenter_spec.rb
  decidim-collaborative_texts/spec/services/decidim/collaborative_texts/searchable_collaborative_text_resource_document_spec.rb
  decidim-collaborative_texts/spec/system/admin/admin_creates_document_spec.rb
  decidim-collaborative_texts/spec/system/admin/admin_edits_document_spec.rb
  decidim-collaborative_texts/spec/system/admin/admin_publishes_and_unpublishes_document_spec.rb
Labels: module: core, type: feature, module: api, contract: 2024-developments, module: collaborative_texts

#14439 Related processes to process group help text
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_groups/_form.html.erb
  decidim-participatory_processes/config/locales/en.yml
Labels: module: participatory processes, type: change, release: v0.29, release: v0.30
