Repository decidim/decidim, pull requests merged in 2025-02, with the labels that each got.

#13985 Update LightHouse actions to v11
  .github/workflows/ci_performance_metrics_monitoring.yml
Labels: type: fix, type: internal, release: v0.28, configuration

#14002 Fix flaky on share token feature
  decidim-core/app/models/decidim/share_token.rb
Labels: module: core, flaky spec, type: fix, type: internal

#14003 Backport 'Prevent notifications for deleted users' to v0.29
  decidim-core/app/commands/decidim/destroy_account.rb
  decidim-core/app/services/decidim/email_notification_generator.rb
  decidim-core/lib/tasks/upgrade/decidim_fix_categorization.rake
  decidim-core/spec/commands/decidim/destroy_account_spec.rb
  decidim-core/spec/tasks/upgrade/clean_deleted_users_spec.rb
Labels: module: core, backport, type: fix, release: v0.29

#14005 Backport 'Retries NPM installation a couple times to prevent network timeouts' to v0.28
  .github/workflows/build_app.yml
Labels: backport, flaky spec, type: fix, release: v0.28, configuration, release: v0.29

#14006 Backport 'Retries NPM installation a couple times to prevent network timeouts' to v0.29
  .github/actions/spelling/expect.txt
  .github/workflows/build_app.yml
Labels: backport, flaky spec, type: fix, release: v0.28, configuration, release: v0.29

#14007 Backport 'Fix incorrect breadcrumb encoding on mobile and tablet' to v0.28
  decidim-core/app/views/layouts/decidim/header/_menu_breadcrumb_mobile_tablet.html.erb
Labels: module: core, backport, type: fix, release: v0.29

#13987 Refactor API objects to use `Decidim::Core::TimestampsInterface`
  decidim-accountability/lib/decidim/api/result_type.rb
  decidim-accountability/lib/decidim/api/status_type.rb
  decidim-accountability/lib/decidim/api/timeline_entry_type.rb
  decidim-accountability/spec/types/integration_schema_spec.rb
  decidim-accountability/spec/types/status_type_spec.rb
  decidim-assemblies/lib/decidim/api/assembly_type.rb
  decidim-assemblies/spec/types/integration_schema_spec.rb
  decidim-blogs/spec/types/integration_schema_spec.rb
  decidim-budgets/lib/decidim/api/budget_type.rb
  decidim-budgets/lib/decidim/api/project_type.rb
  decidim-budgets/spec/types/integration_schema_spec.rb
  decidim-comments/lib/decidim/api/comment_type.rb
  decidim-comments/lib/decidim/api/commentable_interface.rb
  decidim-comments/spec/types/comment_type_spec.rb
  decidim-conferences/lib/decidim/api/conference_media_link_type.rb
  decidim-conferences/lib/decidim/api/conference_partner_type.rb
  decidim-conferences/lib/decidim/api/conference_speaker_type.rb
  decidim-conferences/lib/decidim/api/conference_type.rb
  decidim-conferences/spec/types/integration_schema_spec.rb
  decidim-core/lib/decidim/api/types/area_api_type.rb
  decidim-core/lib/decidim/api/types/session_type.rb
  decidim-core/lib/decidim/api/types/trace_version_type.rb
  decidim-core/lib/decidim/api/types/user_group_type.rb
  decidim-debates/lib/decidim/api/debate_type.rb
  decidim-debates/spec/types/integration_schema_spec.rb
  decidim-initiatives/lib/decidim/api/initiative_api_type.rb
  decidim-initiatives/lib/decidim/api/initiative_committee_member_type.rb
  decidim-initiatives/spec/types/integration_schema_spec.rb
  decidim-meetings/lib/decidim/api/agenda_item_type.rb
  decidim-meetings/lib/decidim/api/agenda_type.rb
  decidim-meetings/lib/decidim/api/meeting_type.rb
  decidim-meetings/spec/types/integration_schema_spec.rb
  decidim-pages/lib/decidim/api/page_type.rb
  decidim-pages/spec/types/integration_schema_spec.rb
  decidim-participatory_processes/lib/decidim/api/participatory_process_type.rb
  decidim-participatory_processes/lib/decidim/api/participatory_process_type_type.rb
  decidim-participatory_processes/spec/types/integration_schema_spec.rb
  decidim-proposals/lib/decidim/api/proposal_type.rb
  decidim-proposals/spec/types/integration_schema_spec.rb
  decidim-sortitions/lib/decidim/api/sortition_type.rb
  decidim-sortitions/spec/types/integration_schema_spec.rb
  decidim-surveys/lib/decidim/api/survey_type.rb
  decidim-surveys/spec/types/integration_schema_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: pages, module: surveys, module: accountability, module: debates, graphql-api, module: assemblies, module: blogs, module: sortitions, module: participatory processes, module: conferences, module: initiatives, type: change, type: internal

#14008 Backport 'Bring consistency to the titles in Conferences' to v0.29
  decidim-conferences/config/locales/en.yml
  decidim-conferences/spec/shared/manage_diplomas_examples.rb
  decidim-conferences/spec/shared/manage_media_links_examples.rb
  decidim-conferences/spec/shared/manage_registration_types_examples.rb
  decidim-conferences/spec/system/admin/conference_admin_accesses_admin_sections_spec.rb
Labels: module: core, module: admin, backport, module: conferences, type: fix, release: v0.28, release: v0.29

#14009 Backport 'Bring consistency to the titles in Conferences' to v0.28
  decidim-conferences/config/locales/en.yml
  decidim-conferences/spec/shared/manage_diplomas_examples.rb
  decidim-conferences/spec/shared/manage_media_links_examples.rb
  decidim-conferences/spec/shared/manage_registration_types_examples.rb
  decidim-conferences/spec/system/admin/conference_admin_accesses_admin_sections_spec.rb
Labels: module: core, module: admin, backport, module: conferences, type: fix, release: v0.28, release: v0.29

#13992 Fix `GraphQL/FieldDefinitions` rubocop offenses
  decidim-accountability/lib/decidim/api/accountability_type.rb
  decidim-budgets/lib/decidim/api/budgets_type.rb
  decidim-comments/lib/decidim/api/comment_mutation_type.rb
  decidim-core/lib/decidim/api/interfaces/author_interface.rb
  decidim-core/lib/decidim/api/interfaces/coauthorable_interface.rb
  decidim-core/lib/decidim/api/interfaces/endorsable_interface.rb
  decidim-core/lib/decidim/api/interfaces/participatory_space_interface.rb
  decidim-debates/lib/decidim/api/debates_type.rb
  decidim-dev/config/rubocop/graphql.yml
  decidim-initiatives/lib/decidim/api/initiative_type.rb
  decidim-meetings/lib/decidim/api/meetings_type.rb
  decidim-pages/lib/decidim/api/pages_type.rb
  decidim-sortitions/lib/decidim/api/sortitions_type.rb
  decidim-surveys/lib/decidim/api/surveys_type.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: pages, module: surveys, module: accountability, module: debates, graphql-api, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: conferences, module: initiatives, type: internal

#13991 Fix `GraphQL/FieldMethod` rubocop offenses
  decidim-accountability/lib/decidim/api/accountability_type.rb
  decidim-budgets/lib/decidim/api/budgets_type.rb
  decidim-comments/lib/decidim/api/comment_mutation_type.rb
  decidim-comments/lib/decidim/api/comment_type.rb
  decidim-core/lib/decidim/api/interfaces/author_interface.rb
  decidim-core/lib/decidim/api/interfaces/coauthorable_interface.rb
  decidim-core/lib/decidim/api/interfaces/endorsable_interface.rb
  decidim-core/lib/decidim/api/interfaces/participatory_space_interface.rb
  decidim-core/lib/decidim/api/types/taxonomy_type.rb
  decidim-core/lib/decidim/api/types/user_group_type.rb
  decidim-core/lib/decidim/api/types/user_type.rb
  decidim-debates/lib/decidim/api/debates_type.rb
  decidim-dev/config/rubocop/graphql.yml
  decidim-initiatives/lib/decidim/api/initiative_type.rb
  decidim-initiatives/lib/decidim/api/initiative_type_interface.rb
  decidim-meetings/lib/decidim/api/meetings_type.rb
  decidim-pages/lib/decidim/api/pages_type.rb
  decidim-sortitions/lib/decidim/api/sortitions_type.rb
  decidim-surveys/lib/decidim/api/surveys_type.rb
Labels: module: core, module: comments, graphql-api, dependencies, module: dev, module: initiatives, type: internal

#13989 Fix `GraphQL/UnnecessaryFieldAlias` rubocop offenses
  decidim-accountability/lib/decidim/api/accountability_type.rb
  decidim-budgets/lib/decidim/api/budgets_type.rb
  decidim-comments/lib/decidim/api/comment_mutation_type.rb
  decidim-comments/lib/decidim/api/comment_type.rb
  decidim-core/lib/decidim/api/interfaces/author_interface.rb
  decidim-core/lib/decidim/api/interfaces/coauthorable_interface.rb
  decidim-core/lib/decidim/api/interfaces/endorsable_interface.rb
  decidim-core/lib/decidim/api/interfaces/participatory_space_interface.rb
  decidim-core/lib/decidim/api/types/taxonomy_type.rb
  decidim-core/lib/decidim/api/types/user_group_type.rb
  decidim-core/lib/decidim/api/types/user_type.rb
  decidim-debates/lib/decidim/api/debates_type.rb
  decidim-dev/config/rubocop/graphql.yml
  decidim-initiatives/lib/decidim/api/initiative_api_type.rb
  decidim-initiatives/lib/decidim/api/initiative_type.rb
  decidim-initiatives/lib/decidim/api/initiative_type_interface.rb
  decidim-meetings/lib/decidim/api/meetings_type.rb
  decidim-pages/lib/decidim/api/pages_type.rb
  decidim-sortitions/lib/decidim/api/sortitions_type.rb
  decidim-surveys/lib/decidim/api/surveys_type.rb
Labels: graphql-api, module: dev, module: initiatives, type: internal

#14000 Fix `GraphQL/FieldName` rubocop offenses
  decidim-accountability/lib/decidim/api/accountability_type.rb
  decidim-budgets/lib/decidim/api/budgets_type.rb
  decidim-comments/lib/decidim/api/comment_mutation_type.rb
  decidim-comments/lib/decidim/api/comment_type.rb
  decidim-core/lib/decidim/api/interfaces/author_interface.rb
  decidim-core/lib/decidim/api/interfaces/coauthorable_interface.rb
  decidim-core/lib/decidim/api/interfaces/endorsable_interface.rb
  decidim-core/lib/decidim/api/interfaces/participatory_space_interface.rb
  decidim-core/lib/decidim/api/types/taxonomy_type.rb
  decidim-core/lib/decidim/api/types/user_group_type.rb
  decidim-core/lib/decidim/api/types/user_type.rb
  decidim-debates/lib/decidim/api/debates_type.rb
  decidim-dev/config/rubocop/graphql.yml
  decidim-initiatives/lib/decidim/api/initiative_api_type.rb
  decidim-initiatives/lib/decidim/api/initiative_type.rb
  decidim-initiatives/lib/decidim/api/initiative_type_interface.rb
  decidim-meetings/lib/decidim/api/meeting_type.rb
  decidim-meetings/lib/decidim/api/meetings_type.rb
  decidim-pages/lib/decidim/api/pages_type.rb
  decidim-sortitions/lib/decidim/api/sortitions_type.rb
  decidim-surveys/lib/decidim/api/surveys_type.rb
Labels: module: core, module: meetings, module: budgets, module: comments, module: pages, module: surveys, module: accountability, module: debates, graphql-api, module: dev, module: sortitions, module: initiatives, type: internal

#13988 Add gem `rubocop-graphql`and fix some offenses
  Gemfile.lock
  decidim-accountability/lib/decidim/api/accountability_type.rb
  decidim-budgets/lib/decidim/api/budgets_type.rb
  decidim-comments/lib/decidim/api/comment_mutation_type.rb
  decidim-comments/lib/decidim/api/comment_type.rb
  decidim-core/lib/decidim/api/interfaces/author_interface.rb
  decidim-core/lib/decidim/api/interfaces/coauthorable_interface.rb
  decidim-core/lib/decidim/api/interfaces/endorsable_interface.rb
  decidim-core/lib/decidim/api/interfaces/participatory_space_interface.rb
  decidim-core/lib/decidim/api/types/taxonomy_type.rb
  decidim-core/lib/decidim/api/types/user_group_type.rb
  decidim-core/lib/decidim/api/types/user_type.rb
  decidim-debates/lib/decidim/api/debates_type.rb
  decidim-dev/config/rubocop/graphql.yml
  decidim-dev/decidim-dev.gemspec
  decidim-dev/rubocop-decidim.yml
  decidim-generators/Gemfile.lock
  decidim-initiatives/lib/decidim/api/initiative_api_type.rb
  decidim-initiatives/lib/decidim/api/initiative_type.rb
  decidim-initiatives/lib/decidim/api/initiative_type_interface.rb
  decidim-meetings/lib/decidim/api/meeting_type.rb
  decidim-meetings/lib/decidim/api/meetings_type.rb
  decidim-pages/lib/decidim/api/pages_type.rb
  decidim-sortitions/lib/decidim/api/sortitions_type.rb
  decidim-surveys/lib/decidim/api/surveys_type.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: pages, module: surveys, module: accountability, module: debates, graphql-api, dependencies, module: assemblies, module: dev, module: generators, module: sortitions, module: participatory processes, module: conferences, module: initiatives, type: internal

#13999 Fix `GraphQL/FieldDescription` rubocop offenses
  decidim-accountability/lib/decidim/api/accountability_type.rb
  decidim-budgets/lib/decidim/api/budgets_type.rb
  decidim-comments/lib/decidim/api/comment_mutation_type.rb
  decidim-comments/lib/decidim/api/commentable_interface.rb
  decidim-core/lib/decidim/api/interfaces/participatory_space_interface.rb
  decidim-core/lib/decidim/api/types/category_type.rb
  decidim-core/lib/decidim/api/types/scope_api_type.rb
  decidim-core/lib/decidim/api/types/taxonomy_type.rb
  decidim-debates/lib/decidim/api/debates_type.rb
  decidim-dev/config/rubocop/graphql.yml
  decidim-initiatives/lib/decidim/api/initiative_type.rb
  decidim-meetings/lib/decidim/api/meetings_type.rb
  decidim-pages/lib/decidim/api/page_type.rb
  decidim-pages/lib/decidim/api/pages_type.rb
  decidim-participatory_processes/lib/decidim/api/participatory_process_type.rb
  decidim-proposals/lib/decidim/api/proposal_type.rb
  decidim-sortitions/lib/decidim/api/sortitions_type.rb
  decidim-surveys/lib/decidim/api/surveys_type.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: pages, module: surveys, module: accountability, module: debates, graphql-api, dependencies, module: dev, module: generators, module: sortitions, module: participatory processes, module: initiatives, type: internal

#14018 Change preview icon on sortitions
  decidim-sortitions/app/views/decidim/sortitions/admin/sortitions/index.html.erb
Labels: module: sortitions, module: participatory processes, type: fix, release: v0.28, release: v0.29

#13993 Fix `GraphQL/ArgumentDescription` rubocop offenses
  decidim-accountability/lib/decidim/api/accountability_type.rb
  decidim-budgets/lib/decidim/api/budgets_type.rb
  decidim-debates/lib/decidim/api/debates_type.rb
  decidim-dev/config/rubocop/graphql.yml
  decidim-meetings/lib/decidim/api/meetings_type.rb
  decidim-pages/lib/decidim/api/pages_type.rb
  decidim-sortitions/lib/decidim/api/sortitions_type.rb
  decidim-surveys/lib/decidim/api/surveys_type.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: pages, module: surveys, module: accountability, module: debates, graphql-api, module: assemblies, module: blogs, module: dev, module: sortitions, module: forms, module: participatory processes, module: conferences, module: initiatives, type: internal

#13994 Fix `GraphQL/PrepareMethod` rubocop offenses
  decidim-core/lib/decidim/api/input_filters/category_input_filter.rb
  decidim-core/lib/decidim/api/input_filters/component_input_filter.rb
  decidim-core/lib/decidim/api/input_filters/user_entity_input_filter.rb
  decidim-core/lib/decidim/api/input_sorts/component_input_sort.rb
  decidim-dev/config/rubocop/graphql.yml
Labels: module: core, module: meetings, module: budgets, module: pages, module: surveys, module: accountability, module: debates, graphql-api, dependencies, module: dev, module: generators, module: sortitions, type: internal

#14001 Fix `GraphQL/OrderedArguments` rubocop offenses
  decidim-accountability/lib/decidim/api/accountability_type.rb
  decidim-blogs/lib/decidim/api/blogs_type.rb
  decidim-budgets/lib/decidim/api/budgets_type.rb
  decidim-comments/lib/decidim/api/commentable_mutation_type.rb
  decidim-core/lib/decidim/api/input_filters/category_input_filter.rb
  decidim-core/lib/decidim/api/input_filters/component_input_filter.rb
  decidim-core/lib/decidim/api/input_filters/user_entity_input_filter.rb
  decidim-core/lib/decidim/api/input_sorts/component_input_sort.rb
  decidim-core/lib/decidim/api/input_sorts/user_entity_input_sort.rb
  decidim-debates/lib/decidim/api/debates_type.rb
  decidim-dev/config/rubocop/graphql.yml
  decidim-meetings/lib/decidim/api/meetings_type.rb
  decidim-pages/lib/decidim/api/pages_type.rb
  decidim-proposals/lib/decidim/api/proposals_type.rb
  decidim-sortitions/lib/decidim/api/sortitions_type.rb
  decidim-surveys/lib/decidim/api/surveys_type.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: pages, module: surveys, module: accountability, module: debates, module: blogs, module: dev, module: sortitions, type: internal

#13995 Fix more GraphQL rubocop offenses (part 2)
  decidim-accountability/lib/decidim/api/accountability_type.rb
  decidim-blogs/lib/decidim/api/blogs_type.rb
  decidim-budgets/lib/decidim/api/budgets_type.rb
  decidim-comments/lib/decidim/api/commentable_mutation_type.rb
  decidim-core/lib/decidim/api/input_filters/category_input_filter.rb
  decidim-core/lib/decidim/api/input_filters/component_input_filter.rb
  decidim-core/lib/decidim/api/input_filters/user_entity_input_filter.rb
  decidim-core/lib/decidim/api/input_sorts/component_input_sort.rb
  decidim-core/lib/decidim/api/input_sorts/user_entity_input_sort.rb
  decidim-core/lib/decidim/api/types/metric_history_type.rb
  decidim-debates/lib/decidim/api/debates_type.rb
  decidim-dev/config/rubocop/graphql.yml
  decidim-meetings/lib/decidim/api/meetings_type.rb
  decidim-pages/lib/decidim/api/pages_type.rb
  decidim-proposals/lib/decidim/api/functions/proposal_finder_helper.rb
  decidim-proposals/lib/decidim/api/functions/proposal_list_helper.rb
  decidim-proposals/lib/decidim/api/proposals_type.rb
  decidim-proposals/lib/decidim/proposals.rb
  decidim-sortitions/lib/decidim/api/sortitions_type.rb
  decidim-surveys/lib/decidim/api/surveys_type.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: pages, module: surveys, module: accountability, module: debates, graphql-api, dependencies, module: assemblies, module: blogs, module: dev, module: sortitions, module: forms, module: participatory processes, module: conferences, module: initiatives, type: internal

#14030 Fix UX adjustments on proposal's highlighted page
  decidim-proposals/app/cells/decidim/proposals/highlighted_proposals_for_component/show.erb
Labels: module: proposals, type: fix, release: v0.28, release: v0.29

#13797 Refactor maps
  decidim-accountability/app/cells/decidim/accountability/result_metadata_cell.rb
  decidim-accountability/app/helpers/decidim/accountability/application_helper.rb
  decidim-accountability/app/helpers/decidim/accountability/map_helper.rb
  decidim-accountability/app/models/decidim/accountability/result.rb
  decidim-accountability/app/views/decidim/accountability/results/home.html.erb
  decidim-budgets/app/cells/decidim/budgets/project_metadata_cell.rb
  decidim-budgets/app/helpers/decidim/budgets/projects_helper.rb
  decidim-budgets/app/models/decidim/budgets/project.rb
  decidim-budgets/app/presenters/decidim/budgets/project_presenter.rb
  decidim-budgets/app/views/decidim/budgets/projects/index.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/index.js.erb
  decidim-budgets/spec/helpers/decidim/budgets/projects_helper_spec.rb
  decidim-core/app/cells/decidim/map/show.erb
  decidim-core/app/cells/decidim/map/template.erb
  decidim-core/app/cells/decidim/map_cell.rb
  decidim-meetings/app/cells/decidim/meetings/highlighted_meetings_for_component/show.erb
  decidim-meetings/app/cells/decidim/meetings/meeting_card_metadata_cell.rb
  decidim-meetings/app/cells/decidim/meetings/meetings_map/show.erb
  decidim-meetings/app/cells/decidim/meetings/meetings_map_cell.rb
  decidim-meetings/app/controllers/decidim/meetings/directory/meetings_controller.rb
  decidim-meetings/app/helpers/decidim/meetings/application_helper.rb
  decidim-meetings/app/helpers/decidim/meetings/directory/application_helper.rb
  decidim-meetings/app/helpers/decidim/meetings/map_helper.rb
  decidim-meetings/app/views/decidim/meetings/shared/_index.html.erb
  decidim-meetings/app/views/decidim/meetings/shared/_index.js.erb
  decidim-meetings/app/views/decidim/participatory_spaces/_conference_venues.html.erb
  decidim-proposals/app/cells/decidim/proposals/proposal_metadata_cell.rb
  decidim-proposals/app/helpers/decidim/proposals/map_helper.rb
  decidim-proposals/app/views/decidim/proposals/proposals/index.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/index.js.erb
  decidim-proposals/spec/helpers/map_helper_spec.rb
  decidim-surveys/app/cells/decidim/surveys/survey_card_metadata_cell.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: surveys, type: feature, module: accountability

#14045 Fix shebangs for bash in internal scripts
  .github/run_erblint.sh
  .github/run_spelling_check.sh
  .github/workflows/dependencies.sh
Labels: type: fix, configuration, release: v0.29

#13570 Improve url escape
  decidim-core/app/helpers/decidim/sanitize_helper.rb
  decidim-core/spec/helpers/decidim/sanitize_helper_spec.rb
Labels: module: core, type: fix

#14035 Fix proposal listing on space's index content block
  decidim-proposals/app/cells/decidim/proposals/highlighted_proposals_for_component/show.erb
  decidim-proposals/app/cells/decidim/proposals/proposal_g_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_l_cell.rb
  decidim-proposals/spec/cells/decidim/proposals/highlighted_proposals_for_component_cell_spec.rb
Labels: module: proposals, type: fix, no-backport

#14052 Backport 'Fix shebangs for bash in internal scripts' to v0.28
  .github/run_erblint.sh
  .github/run_spelling_check.sh
  .github/workflows/dependencies.sh
Labels: backport, type: fix, configuration, release: v0.29

#13847 Short link sharing
  decidim-blogs/app/views/decidim/blogs/posts/_actions.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-core/app/cells/decidim/share_widget/modal.erb
  decidim-core/app/cells/decidim/share_widget/show.erb
  decidim-core/app/cells/decidim/share_widget_cell.rb
  decidim-core/app/views/decidim/shared/_share_modal.html.erb
  decidim-core/app/views/layouts/decidim/_application.html.erb
  decidim-core/spec/system/social_share_button_spec.rb
  decidim-debates/app/views/decidim/debates/debates/show.html.erb
  decidim-design/app/helpers/decidim/design/application_helper.rb
  decidim-design/app/helpers/decidim/design/share_helper.rb
  decidim-design/app/views/decidim/design/components/share.html.erb
  decidim-dev/app/views/decidim/dev/dummy_resources/show.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/show.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting.html.erb
  decidim-proposals/app/views/decidim/proposals/collaborative_drafts/show.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_actions.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/show.html.erb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: admin, module: system, type: feature, module: debates, module: blogs, module: dev, module: sortitions, module: initiatives, module: design

#14060 Bump to v0.28.5 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: type: internal

#14059 Bump to v0.29.2 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: type: internal

#13837 Fix WCAG add pagination to title
  decidim-blogs/app/views/decidim/blogs/posts/index.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/index.html.erb
  decidim-core/config/locales/en.yml
  decidim-debates/app/views/decidim/debates/debates/index.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/index.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/index.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/index.html.erb
  decidim-surveys/app/views/decidim/surveys/surveys/index.html.erb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: surveys, module: debates, team: accessibility, module: blogs, module: sortitions, type: fix, release: v0.28, release: v0.29

#13481 Update design of Log in Modal
  RELEASE_NOTES.md
  decidim-core/app/helpers/decidim/omniauth_helper.rb
  decidim-core/app/helpers/decidim/passwords_helper.rb
  decidim-core/app/packs/images/decidim/brands/facebook.svg
  decidim-core/app/packs/images/decidim/brands/google.svg
  decidim-core/app/packs/images/decidim/brands/twitter-x.svg
  decidim-core/app/packs/stylesheets/decidim/_forms.scss
  decidim-core/app/packs/stylesheets/decidim/_login.scss
  decidim-core/app/views/decidim/account/_password_fields.html.erb
  decidim-core/app/views/decidim/devise/registrations/new.html.erb
  decidim-core/app/views/decidim/devise/sessions/new.html.erb
  decidim-core/app/views/decidim/devise/shared/_omniauth_buttons.html.erb
  decidim-core/app/views/decidim/devise/shared/_tos_fields.html.erb
  decidim-core/app/views/decidim/shared/_login_modal.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/spec/system/authentication_spec.rb
  decidim-core/spec/system/homepage_spec.rb
  decidim-generators/lib/decidim/generators/app_templates/secrets.yml.erb
Labels: module: core, module: admin, module: system, module: generators, type: change, configuration

#14077 Backport 'Fix UX link mobile login' to v0.28
  decidim-core/app/packs/stylesheets/decidim/_header.scss
Labels: module: core, backport, type: fix, release: v0.28, release: v0.29

#14079 Backport 'Fix WCAG add pagination to title' to v0.28
  decidim-blogs/app/views/decidim/blogs/posts/index.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/index.html.erb
  decidim-core/config/locales/en.yml
  decidim-debates/app/views/decidim/debates/debates/index.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/index.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/index.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/index.html.erb
Labels: module: proposals, module: core, module: meetings, module: budgets, backport, module: surveys, module: debates, team: accessibility, module: blogs, module: sortitions, type: fix, release: v0.28, release: v0.29

#14076 Backport 'Fix UX link mobile login' to v0.29
  decidim-core/app/packs/stylesheets/decidim/_header.scss
Labels: module: core, backport, type: fix, release: v0.28, release: v0.29

#14078 Backport 'Fix WCAG add pagination to title' to v0.29
  decidim-blogs/app/views/decidim/blogs/posts/index.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/index.html.erb
  decidim-core/config/locales/en.yml
  decidim-debates/app/views/decidim/debates/debates/index.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/index.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/index.html.erb
  decidim-sortitions/app/views/decidim/sortitions/sortitions/index.html.erb
Labels: module: proposals, module: core, module: meetings, module: budgets, backport, module: surveys, module: debates, team: accessibility, module: blogs, module: sortitions, type: fix, release: v0.28, release: v0.29

#14104 Fix develop pipeline
  .github/actions/spelling/expect.txt
  decidim-core/spec/system/locales_spec.rb
Labels: module: core, type: fix, type: internal, configuration, no-backport

#14028 Fix UX mobile budget page adjustements
  decidim-budgets/app/cells/decidim/budgets/budgets_list/main_list.erb
  decidim-budgets/app/cells/decidim/budgets/budgets_list/show.erb
  decidim-budgets/app/packs/stylesheets/budgets.scss
  decidim-budgets/app/views/decidim/budgets/budgets/index.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_order.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/index.html.erb
  decidim-core/app/helpers/decidim/orders_helper.rb
  decidim-core/app/views/decidim/shared/_orders.html.erb
Labels: module: core, module: budgets, type: fix

#13981 Make transferable authorization when duplicate user is ephemeral
  decidim-verifications/app/services/decidim/authorization_handler.rb
  decidim-verifications/spec/services/decidim/authorization_handler_spec.rb
  decidim-verifications/spec/system/ephemeral_action_authorization_spec.rb
Labels: module: verifications, type: feature

#14103 Suggested hashtags in Proposals
  decidim-core/app/packs/stylesheets/decidim/_hashtags.scss
  decidim-core/app/packs/stylesheets/decidim/application.scss
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_form.html.erb
Labels: module: proposals, module: core, type: fix

#14061 Change release patch instructions in Releases internal documentation
  docs/modules/develop/pages/maintainers/releases.adoc
Labels: team: documentation, type: internal

#14109 Bump to v0.30.0.rc1 version
  .decidim-version
  .github/actions/spelling/excludes.txt
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-ai/lib/decidim/ai/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  docs/antora.yml
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: team: documentation, module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: internal, configuration, module: design, module: ai

#14096 Bump develop to next release version (0.31.0.dev)
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  RELEASE_NOTES.md
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-ai/lib/decidim/ai/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: internal, module: design, module: ai

#14066 Change release candidate instructions in Releases internal documentation
  docs/modules/develop/pages/maintainers/releases.adoc
Labels: team: documentation, type: internal

#14116 Small alignment fixes, fix typos for QR code modal
  decidim-core/app/cells/decidim/share_widget/qr_code_modal.erb
  decidim-core/app/cells/decidim/share_widget/show.erb
  decidim-core/app/controllers/decidim/links_controller.rb
  decidim-core/app/helpers/decidim/qr_code_helper.rb
  decidim-core/app/packs/stylesheets/decidim/_modal_share.scss
  decidim-core/app/packs/stylesheets/decidim/qr.scss
  decidim-core/app/views/decidim/links/qr.html.erb
Labels: module: core, type: feature

#14112 Backport 'Suggested hashtags in Proposals' to v0.29
  decidim-core/app/packs/stylesheets/decidim/_hashtags.scss
  decidim-core/app/packs/stylesheets/decidim/application.scss
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_form.html.erb
Labels: module: proposals, module: core, backport, type: fix, release: v0.28, release: v0.29

#14114 Backport 'Suggested hashtags in Proposals' to v0.28
  decidim-core/app/packs/stylesheets/decidim/_hashtags.scss
  decidim-core/app/packs/stylesheets/decidim/application.scss
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_form.html.erb
Labels: module: proposals, module: core, backport, type: fix, release: v0.28, release: v0.29

#14087 Fix display proposals in sortitions when votes enabled
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_proposal.html.erb
  decidim-sortitions/spec/system/decidim/sortitions/show_spec.rb
Labels: module: sortitions, type: fix, no-backport, release: v0.30

#14125 Add extra details to decidim:upgrade:migrations task
  decidim-core/lib/tasks/upgrade/migrations.rake
Labels: module: core, type: fix, type: internal, release: v0.30

#13978 Initialize collaborative texts module
  .github/actions/spelling/expect.txt
  .github/labeler.yml
  .github/workflows/brakeman.yml
  .github/workflows/ci_collaborative_texts.yml
  Gemfile
  Gemfile.lock
  decidim-collaborative_texts/README.md
  decidim-collaborative_texts/Rakefile
  decidim-collaborative_texts/app/packs/images/decidim/collaborative_texts/decidim_collaborative_texts.svg
  decidim-collaborative_texts/config/assets.rb
  decidim-collaborative_texts/config/locales/en.yml
  decidim-collaborative_texts/decidim-collaborative_texts.gemspec
  decidim-collaborative_texts/lib/decidim/collaborative_texts.rb
  decidim-collaborative_texts/lib/decidim/collaborative_texts/admin.rb
  decidim-collaborative_texts/lib/decidim/collaborative_texts/admin_engine.rb
  decidim-collaborative_texts/lib/decidim/collaborative_texts/component.rb
  decidim-collaborative_texts/lib/decidim/collaborative_texts/engine.rb
  decidim-collaborative_texts/lib/decidim/collaborative_texts/seeds.rb
  decidim-collaborative_texts/lib/decidim/collaborative_texts/tests/factories.rb
  decidim-collaborative_texts/lib/decidim/collaborative_texts/version.rb
  decidim-collaborative_texts/spec/factories.rb
  decidim-collaborative_texts/spec/spec_helper.rb
  decidim-core/lib/tasks/decidim_tasks.rake
  decidim-generators/Gemfile
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/test/generator_examples.rb
  decidim-generators/spec/lib/generators_spec.rb
Labels: module: core, type: feature, dependencies, module: generators, configuration, module: collaborative_texts

#14127 Backport 'Fix display proposals in sortitions when votes enabled' to v0.30
  decidim-sortitions/app/views/decidim/sortitions/sortitions/_proposal.html.erb
  decidim-sortitions/spec/system/decidim/sortitions/show_spec.rb
Labels: backport, module: sortitions, type: fix, release: v0.30

#13732 Improve merge proposals functionality
  decidim-core/app/cells/decidim/resource_history_cell.rb
  decidim-core/app/packs/src/decidim/direct_uploads/upload_field.js
  decidim-core/app/packs/src/decidim/geocoding/attach_input.js
  decidim-core/app/packs/src/decidim/geocoding/reverse_geocoding.js
  decidim-core/app/packs/src/decidim/index.js
  decidim-proposals/app/commands/decidim/proposals/admin/merge_proposals.rb
  decidim-proposals/app/controllers/decidim/proposals/admin/proposals_merges_controller.rb
  decidim-proposals/app/events/decidim/proposals/merged_proposal_event.rb
  decidim-proposals/app/forms/decidim/proposals/admin/proposals_merge_form.rb
  decidim-proposals/app/packs/entrypoints/decidim_proposals_admin.js
  decidim-proposals/app/packs/src/decidim/proposals/admin/proposals.js
  decidim-proposals/app/packs/src/decidim/proposals/admin/proposals_merge.js
  decidim-proposals/app/packs/stylesheets/decidim/proposals/proposals.scss
  decidim-proposals/app/presenters/decidim/proposals/admin_log/proposal_presenter.rb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_dropdown.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/bulk_actions/_merge.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals_merges/_form.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals_merges/new.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/lib/decidim/proposals/admin_engine.rb
  decidim-proposals/spec/commands/decidim/proposals/admin/merge_proposals_spec.rb
  decidim-proposals/spec/forms/decidim/proposals/admin/proposals_merge_form_spec.rb
  decidim-proposals/spec/shared/manage_proposals_examples.rb
  decidim-proposals/spec/shared/merge_proposals_examples.rb
Labels: module: proposals, module: core, type: feature, contract: 2024-developments

#14063 Hide help buttons if no help content is given in admin-side
  decidim-core/app/helpers/decidim/participatory_space_helpers.rb
  decidim-core/spec/helpers/decidim/participatory_space_helper_spec.rb
Labels: module: core, type: fix, release: v0.28, release: v0.29, release: v0.30

#14062 Avoid server error when accepting a proposal without giving it a cost
  decidim-proposals/app/controllers/decidim/proposals/admin/proposal_answers_controller.rb
  decidim-proposals/spec/controllers/decidim/proposals/admin/proposal_answers_controller_spec.rb
  decidim-proposals/spec/system/admin/admin_answers_proposal_spec.rb
Labels: module: proposals, module: core, type: fix, release: v0.28, release: v0.29, release: v0.30

#14145 Backport 'Avoid server error when accepting a proposal without giving it a cost' to v0.30
  decidim-proposals/app/controllers/decidim/proposals/admin/proposal_answers_controller.rb
  decidim-proposals/spec/controllers/decidim/proposals/admin/proposal_answers_controller_spec.rb
  decidim-proposals/spec/system/admin/admin_answers_proposal_spec.rb
Labels: module: proposals, module: core, backport, type: fix, release: v0.29, release: v0.30

#14143 Fix error handling when proposal answer form has errors
  decidim-proposals/app/views/decidim/proposals/admin/proposals/show.html.erb
  decidim-proposals/spec/system/admin/admin_answers_proposal_spec.rb
Labels: module: proposals, type: fix, release: v0.29, release: v0.30

#14152 Backport 'Hide comments when parent resource is hidden' to v0.30
  RELEASE_NOTES.md
  decidim-admin/app/commands/decidim/admin/hide_resource.rb
  decidim-admin/config/locales/en.yml
  decidim-ai/lib/decidim/ai/spam_detection/resource/base.rb
  decidim-core/app/jobs/decidim/hide_child_resources_job.rb
  decidim-core/app/models/decidim/report.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test/shared_examples/reports_examples.rb
  decidim-core/lib/decidim/moderation_tools.rb
  decidim-core/lib/tasks/upgrade/clean_hidden_resources.rake
  decidim-core/spec/tasks/upgrade/clean_hidden_resources_spec.rb
  decidim-meetings/spec/system/report_meeting_spec.rb
Labels: module: proposals, module: core, module: meetings, module: comments, module: admin, backport, type: fix, release: v0.28, module: ai, release: v0.29, release: v0.30

#14153 Backport 'Hide comments when parent resource is hidden' to v0.29
  RELEASE_NOTES.md
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/commands/decidim/admin/hide_resource_spec.rb
  decidim-core/app/jobs/decidim/hide_child_resources_job.rb
  decidim-core/app/models/decidim/report.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test/shared_examples/reports_examples.rb
  decidim-core/lib/decidim/moderation_tools.rb
  decidim-core/lib/tasks/upgrade/clean_hidden_resources.rake
  decidim-core/spec/tasks/upgrade/clean_hidden_resources_spec.rb
  decidim-meetings/spec/system/report_meeting_spec.rb
Labels: module: proposals, module: core, module: meetings, module: comments, module: admin, backport, type: fix, release: v0.28, module: ai, release: v0.29, release: v0.30

#14138 Fix proposal state label in admin
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
Labels: module: proposals, type: fix, release: v0.29, release: v0.30

#14146 Backport 'Avoid server error when accepting a proposal without giving it a cost' to v0.29
  decidim-proposals/app/controllers/decidim/proposals/admin/proposal_answers_controller.rb
  decidim-proposals/spec/controllers/decidim/proposals/admin/proposal_answers_controller_spec.rb
  decidim-proposals/spec/system/admin/admin_answers_proposal_spec.rb
Labels: module: proposals, module: core, backport, type: fix, release: v0.29, release: v0.30

#14147 Backport 'Fix share modal on budget projects page' to v0.29
  decidim-blogs/spec/system/posts_social_share_spec.rb
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-budgets/spec/system/budgets_social_share_spec.rb
  decidim-core/lib/decidim/core/test/shared_examples/social_share_examples.rb
  decidim-debates/spec/system/debates_social_share_spec.rb
  decidim-meetings/spec/system/meetings_social_share_spec.rb
  decidim-proposals/spec/system/collaborative_draft_social_share_spec.rb
  decidim-proposals/spec/system/proposals_social_share_spec.rb
  decidim-sortitions/spec/system/decidim/sortitions/sortitions_social_share_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, backport, module: debates, module: blogs, module: sortitions, type: fix, release: v0.28, release: v0.29, release: v0.30

#14165 Bump doc2text from v0.4.7 to v0.4.8
  Gemfile.lock
  decidim-generators/Gemfile.lock
  decidim-proposals/decidim-proposals.gemspec
Labels: module: proposals, dependencies, module: generators, type: internal

#14164 Use leaflet-tilelayer-here v2.0.3
  decidim-core/app/packs/src/decidim/map/provider/here.js
  decidim-core/app/packs/src/decidim/vendor/leaflet-tilelayer-here.js
  decidim-core/lib/decidim/map/provider/dynamic_map/here.rb
  decidim-core/spec/lib/map/provider/dynamic_map/here_spec.rb
Labels: module: core, javascript, type: fix, release: v0.28, configuration, release: v0.29, release: v0.30

#14148 Fix excessive categories nesting when converting to taxonomies
  .github/actions/spelling/expect.txt
  decidim-core/lib/decidim/maintenance/import_models/category.rb
  decidim-core/lib/decidim/maintenance/taxonomy_importer.rb
  decidim-core/lib/tasks/decidim_taxonomies.rake
  decidim-core/spec/lib/maintenance/import_models/category_spec.rb
  decidim-core/spec/tasks/decidim_tasks_taxonomies_spec.rb
Labels: module: core, type: fix, configuration, release: v0.30

#14183 Fix an UI error in budgeting in the progress bar
  decidim-budgets/app/views/decidim/budgets/projects/_order_progress_summary_content.html.erb
Labels: module: budgets, type: fix, release: v0.28, release: v0.29, release: v0.30

#14186 Fix budget index card width
  decidim-budgets/app/cells/decidim/budgets/budgets_list/show.erb
Labels: module: budgets, type: fix, release: v0.28, release: v0.29, release: v0.30

#14195 Backport 'Fix an UI error in budgeting in the progress bar' to v0.28
  decidim-budgets/app/views/decidim/budgets/projects/_order_progress_summary_content.html.erb
Labels: module: budgets, backport, type: fix, release: v0.28, release: v0.29, release: v0.30

#14194 Backport 'Fix an UI error in budgeting in the progress bar' to v0.29
  decidim-budgets/app/views/decidim/budgets/projects/_order_progress_summary_content.html.erb
Labels: module: budgets, backport, type: fix, release: v0.28, release: v0.29, release: v0.30

#14193 Backport 'Fix an UI error in budgeting in the progress bar' to v0.30
  decidim-budgets/app/views/decidim/budgets/projects/_order_progress_summary_content.html.erb
Labels: module: budgets, backport, type: fix, release: v0.28, release: v0.29, release: v0.30

#14190 Backport 'Fix error handling when proposal answer form has errors' to v0.28
  decidim-proposals/app/views/decidim/proposals/admin/proposals/show.html.erb
  decidim-proposals/spec/system/admin/admin_answers_proposal_spec.rb
Labels: module: proposals, backport, type: fix, release: v0.29, release: v0.30

#14188 Backport 'Fix error handling when proposal answer form has errors' to v0.30
  decidim-proposals/app/views/decidim/proposals/admin/proposals/show.html.erb
  decidim-proposals/spec/system/admin/admin_answers_proposal_spec.rb
Labels: module: proposals, backport, type: fix, release: v0.29, release: v0.30

#14187 Fix Aitools documentation
  docs/modules/services/pages/aitools.adoc
Labels: team: documentation, type: fix, release: v0.30

#14199 Fix ruby version specified in documentation for manual installation
  docs/modules/install/pages/manual.adoc
Labels: team: documentation, type: fix

#14181 Remove deprecated HERE maps configuration
  decidim-core/lib/decidim/map/provider/dynamic_map/here.rb
  decidim-core/lib/decidim/map/provider/static_map/here.rb
  decidim-core/spec/lib/map/provider/dynamic_map/here_spec.rb
  decidim-core/spec/lib/map/provider/static_map/here_spec.rb
Labels: module: core, target:cleanup, type: removal, configuration

#14201 Documentation update for ```ruby``` version in develop
  docs/modules/install/pages/manual.adoc
Labels: team: documentation, type: change

#14067 Improve accountability results visualization
  decidim-accountability/app/controllers/decidim/accountability/results_controller.rb
  decidim-accountability/app/packs/stylesheets/accountability.scss
  decidim-accountability/app/views/decidim/accountability/results/_filters.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_home_aside.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_home_taxonomies.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_one_level_taxonomies.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_projects_aside.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_root_taxonomies_selector.html.erb
  decidim-accountability/app/views/decidim/accountability/results/_two_levels_taxonomies.html.erb
  decidim-accountability/app/views/decidim/accountability/results/home.html.erb
  decidim-accountability/config/locales/en.yml
  decidim-accountability/lib/decidim/accountability/component.rb
  decidim-accountability/lib/decidim/accountability/engine.rb
  decidim-accountability/spec/system/explore_results_spec.rb
  decidim-admin/app/helpers/decidim/admin/settings_helper.rb
  decidim-admin/spec/helpers/settings_helper_spec.rb
  decidim-budgets/lib/decidim/budgets/component.rb
  decidim-core/lib/decidim/settings_manifest.rb
  decidim-core/spec/lib/settings_manifest_spec.rb
  decidim-proposals/lib/decidim/proposals/component.rb
  docs/modules/develop/pages/components.adoc
Labels: team: documentation, module: proposals, module: core, module: budgets, module: admin, type: feature, module: accountability, contract: 2024-developments
