Repository decidim/decidim, pull requests merged in 2025-10, with the labels that each got.

#15258 Add published/unpublished state in the Surveys' admin index page
  decidim-surveys/app/views/decidim/surveys/admin/surveys/index.html.erb
  decidim-surveys/config/locales/en.yml
  decidim-surveys/spec/system/admin_manages_surveys_spec.rb
Labels: module: surveys, type: fix, release: v0.31

#15262 Show unpublished meetings in the Meetings' admin sidebar counter
  decidim-meetings/app/queries/decidim/meetings/filtered_meetings.rb
  decidim-meetings/lib/decidim/meetings/component.rb
Labels: module: meetings, type: fix, release: v0.29, release: v0.30, release: v0.31

#15288 Fix incorrectly named initialize methods in `decidim-verifications`
  decidim-verifications/lib/decidim/verifications/adapter.rb
Labels: module: verifications, type: fix, release: v0.29, release: v0.30, release: v0.31

#15212 Add sorting to the accountability statuses admin interface
  decidim-accountability/app/controllers/decidim/accountability/admin/statuses_controller.rb
  decidim-accountability/app/models/decidim/accountability/status.rb
  decidim-accountability/app/views/decidim/accountability/admin/statuses/index.html.erb
  decidim-accountability/spec/shared/manage_statuses_examples.rb
Labels: module: accountability, type: internal, type: feature

#15197 Fix focus with tab navigation on small avatar images
  decidim-core/app/packs/stylesheets/decidim/_author.scss
Labels: module: core, team: accessibility, type: fix, release: v0.29, release: v0.30, project: 2025-NGI, release: v0.31

#15273 Fix election states in admin
  decidim-elections/app/cells/decidim/elections/election_card_metadata_cell.rb
  decidim-elections/app/helpers/decidim/elections/admin/elections_helper.rb
  decidim-elections/app/helpers/decidim/elections/label_helper.rb
  decidim-elections/app/packs/entrypoints/decidim_elections.scss
  decidim-elections/app/packs/entrypoints/decidim_elections_admin.scss
  decidim-elections/app/packs/stylesheets/decidim/elections/labels.scss
  decidim-elections/spec/cells/decidim/elections/election_card_metadata_cell_spec.rb
  decidim-elections/spec/helpers/decidim/admin/elections_helper_spec.rb
Labels: module: elections, type: fix, release: v0.31

#15141 Implement breadcrumb navigation
  decidim-core/app/packs/src/decidim/controllers/sticky_header/controller.js
  decidim-core/app/packs/stylesheets/decidim/_dropdown.scss
  decidim-core/app/packs/stylesheets/decidim/_header.scss
  decidim-core/app/packs/stylesheets/decidim/_layout.scss
  decidim-core/app/views/layouts/decidim/header/_follow_space_menu_bar_button.html.erb
  decidim-core/app/views/layouts/decidim/header/_main.html.erb
  decidim-core/app/views/layouts/decidim/header/_main_menu_mobile.html.erb
  decidim-core/app/views/layouts/decidim/header/_menu.html.erb
  decidim-core/app/views/layouts/decidim/header/_menu_breadcrumb_desktop.html.erb
  decidim-core/app/views/layouts/decidim/header/_menu_breadcrumb_items.html.erb
  decidim-core/app/views/layouts/decidim/header/_menu_breadcrumb_mobile_tablet.html.erb
  decidim-core/lib/decidim/assets/tailwind/tailwind.config.js.erb
  decidim-core/spec/system/components_spec.rb
  decidim-core/spec/system/homepage_spec.rb
  decidim-core/spec/system/menu_spec.rb
  decidim-initiatives/spec/system/initiative_types_spec.rb
  decidim-proposals/app/packs/stylesheets/decidim/proposals/proposals.scss
Labels: module: proposals, module: core, module: initiatives, project: 2025-NGI, type: feature

#15135 Remove the "Global menu" content block
  decidim-assemblies/spec/system/assemblies_spec.rb
  decidim-conferences/spec/system/conferences_spec.rb
  decidim-core/app/cells/decidim/content_blocks/global_menu/show.erb
  decidim-core/app/cells/decidim/content_blocks/global_menu_cell.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/content_blocks/registry_manager.rb
  decidim-initiatives/spec/system/initiative_types_spec.rb
  decidim-initiatives/spec/system/initiatives_spec.rb
  decidim-participatory_processes/spec/system/participatory_processes_spec.rb
Labels: module: core, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: removal, project: 2025-NGI

#15268 Elections admin layout update
  decidim-elections/app/views/decidim/elections/admin/census/edit.html.erb
  decidim-elections/app/views/decidim/elections/admin/elections/dashboard.html.erb
  decidim-elections/app/views/decidim/elections/admin/elections/edit.html.erb
  decidim-elections/app/views/decidim/elections/admin/elections/new.html.erb
  decidim-elections/app/views/decidim/elections/admin/questions/edit_questions.html.erb
Labels: module: elections, type: fix, type: change, release: v0.31

#15132 Implement hamburger menu
  decidim-core/app/packs/src/decidim/dropdown_menu.js
  decidim-core/app/packs/stylesheets/decidim/_cards.scss
  decidim-core/app/packs/stylesheets/decidim/_dropdown.scss
  decidim-core/app/packs/stylesheets/decidim/_header.scss
  decidim-core/app/presenters/decidim/breadcrumb_root_menu_item_presenter.rb
  decidim-core/app/views/layouts/decidim/header/_main.html.erb
  decidim-core/app/views/layouts/decidim/header/_main_links_desktop.html.erb
  decidim-core/app/views/layouts/decidim/header/_main_menu_mobile.html.erb
  decidim-core/app/views/layouts/decidim/header/_main_search.html.erb
  decidim-core/app/views/layouts/decidim/header/_menu_breadcrumb_main_dropdown_desktop.html.erb
  decidim-core/lib/decidim/assets/tailwind/tailwind.config.js.erb
  decidim-core/spec/system/search_spec.rb
Labels: team: documentation, module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: elections, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, configuration, module: design, module: ai, module: collaborative_texts, project: 2025-NGI, module: demographics, type: feature
