Repository decidim/decidim, pull requests merged in 2025-04, with the labels that each got.

#14426 Change Digest::MD5 to Digest::SHA256
  RELEASE_NOTES.md
  decidim-conferences/app/jobs/decidim/conferences/upcoming_conference_notification_job.rb
  decidim-core/app/cells/decidim/content_blocks/hero_cell.rb
  decidim-core/app/cells/decidim/content_blocks/last_activity_cell.rb
  decidim-core/app/cells/decidim/content_blocks/menu_breadcrumb_last_activity_cell.rb
  decidim-core/app/cells/decidim/report_button_cell.rb
  decidim-core/app/forms/decidim/omniauth_registration_form.rb
  decidim-core/lib/decidim/paddable.rb
  decidim-core/spec/lib/paddable_spec.rb
  decidim-forms/db/migrate/20190315203056_add_session_token_to_decidim_forms_answers.rb
  decidim-forms/lib/decidim/forms/test/factories.rb
  decidim-initiatives/app/forms/decidim/initiatives/vote_form.rb
  decidim-meetings/app/jobs/decidim/meetings/upcoming_meeting_notification_job.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_g_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_l_cell.rb
  decidim-surveys/lib/decidim/surveys/seeds.rb
  decidim-verifications/app/forms/decidim/verifications/sms/mobile_phone_form.rb
  decidim-verifications/lib/tasks/revoke.rake
  decidim-verifications/spec/tasks/revoke_sms_authorizations_spec.rb
Labels: module: proposals, module: core, module: meetings, module: surveys, module: verifications, module: forms, module: conferences, module: initiatives, type: internal

#14447 QR share modal image
  decidim-core/app/packs/stylesheets/decidim/_modal_share.scss
Labels: module: core, module: admin, type: fix, release: v0.30

#14441 Disable webpack live reload
  decidim-core/lib/decidim/webpacker/shakapacker.yml
Labels: module: core, type: internal

#14460 Evenly distrbuted content blocks
  decidim-core/app/packs/stylesheets/decidim/_content_blocks.scss
Labels: module: core, module: assemblies, type: fix, release: v0.29, release: v0.30

#14389 Allow meeting addresses to be unset/TBD
  decidim-core/app/cells/decidim/address/show.erb
  decidim-core/app/cells/decidim/address_cell.rb
  decidim-core/spec/cells/decidim/address_cell_spec.rb
  decidim-meetings/app/cells/decidim/meetings/dates_and_map_cell.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb
  decidim-meetings/app/events/decidim/meetings/update_meeting_event.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/base_meeting_form.rb
  decidim-meetings/app/forms/decidim/meetings/meeting_form.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/commands/admin/update_meeting_spec.rb
  decidim-meetings/spec/events/decidim/meetings/update_meeting_event_spec.rb
  decidim-meetings/spec/forms/admin/meeting_form_spec.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
  decidim-meetings/spec/system/meeting_spec.rb
Labels: module: core, module: meetings, type: feature

#14303 Prevent unhide resource that has a moderated parent
  decidim-admin/app/commands/decidim/admin/unhide_resource.rb
  decidim-admin/app/controllers/decidim/admin/moderations_controller.rb
  decidim-admin/app/views/decidim/admin/moderations/_moderation-tr.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/commands/decidim/admin/unhide_resource_spec.rb
  decidim-admin/spec/controllers/global_moderations_controller_spec.rb
  decidim-admin/spec/system/admin_manages_global_moderations_spec.rb
Labels: module: admin, type: fix, release: v0.28, release: v0.29, release: v0.30

#14323 Error displayed when accessing admin dashboard after a user deletes its account
  decidim-core/app/presenters/decidim/log/user_presenter.rb
  decidim-core/spec/presenters/decidim/admin_log/user_presenter_spec.rb
Labels: module: core, type: fix, release: v0.28, release: v0.29, release: v0.30

#14385 Fix proposal voting scenarios
  decidim-proposals/app/cells/decidim/proposals/proposal_g_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_l_cell.rb
  decidim-proposals/app/cells/decidim/proposals/proposal_vote/show.erb
  decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb
  decidim-proposals/app/helpers/decidim/proposals/application_helper.rb
  decidim-proposals/app/helpers/decidim/proposals/proposal_votes_helper.rb
  decidim-proposals/app/models/decidim/proposals/proposal_vote.rb
  decidim-proposals/app/views/decidim/proposals/proposal_votes/update_buttons_and_counters.js.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_exit_modal.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_remaining_votes_count.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_remaining_votes_notification.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_vote_button.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/_voting_rules.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/index.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/participatory_texts/_proposal_vote_button.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/participatory_texts/_proposal_votes_count.html.erb
  decidim-proposals/app/views/decidim/proposals/proposals/show.html.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/helpers/application_helper_spec.rb
  decidim-proposals/spec/helpers/proposal_votes_helper_spec.rb
  decidim-proposals/spec/system/vote_proposal_spec.rb
Labels: module: proposals, type: fix, release: v0.30

#14405 Fix nickname casing task and add validation in account edit form
  .github/actions/spelling/expect.txt
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/tasks/upgrade/decidim_fix_nickname_uniqueness.rake
  decidim-core/spec/system/account_spec.rb
Labels: module: core, type: fix, release: v0.28, configuration, release: v0.29, release: v0.30

#14452 Fix the releases notes after the Env Vars change
  RELEASE_NOTES.md
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-generators/lib/decidim/generators/app_templates/storage.yml
  decidim-generators/lib/decidim/generators/app_templates/storage.yml.erb
Labels: module: generators, type: fix, type: internal, no-backport

#14440 Fix WCAG add nav tag to proposals dropdown menu
  decidim-core/app/cells/decidim/participatory_space_dropdown_metadata/show.erb
  decidim-core/config/locales/en.yml
Labels: module: core, type: fix, release: v0.28, release: v0.29, release: v0.30

#14475 Fix admin pipeline with `welcome_notification_body` spec error
  decidim-dev/lib/decidim/dev/test/rspec_support/translation_helpers.rb
Labels: flaky spec, module: dev, type: fix, type: internal, release: v0.28, release: v0.29, release: v0.30

#13772 Fix image editor permissions for spaces' admins
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/spec/permissions/decidim/admin/permissions_spec.rb
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-conferences/app/permissions/decidim/conferences/permissions.rb
  decidim-conferences/spec/permissions/decidim/conferences/permissions_spec.rb
  decidim-core/spec/controllers/editor_images_controller_spec.rb
  decidim-participatory_processes/app/permissions/decidim/participatory_processes/permissions.rb
  decidim-participatory_processes/spec/permissions/decidim/participatory_processes/permissions_spec.rb
Labels: module: proposals, module: core, module: admin, module: assemblies, module: blogs, module: participatory processes, module: conferences, module: initiatives, type: fix, release: v0.28, configuration, release: v0.29, release: v0.30

#14476 Backport 'Fix nickname casing task and add validation in account edit form' to v0.30
  .github/actions/spelling/expect.txt
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/tasks/upgrade/decidim_fix_nickname_uniqueness.rake
  decidim-core/spec/system/account_spec.rb
Labels: module: core, backport, type: fix, release: v0.28, configuration, release: v0.29, release: v0.30

#14481 Backport 'Error displayed when accessing admin dashboard after a user deletes its account' to v0.28
  decidim-core/app/presenters/decidim/log/user_presenter.rb
  decidim-core/spec/presenters/decidim/admin_log/user_presenter_spec.rb
Labels: module: core, backport, type: fix, release: v0.30

#14480 Backport 'Error displayed when accessing admin dashboard after a user deletes its account' to v0.29
  decidim-core/app/presenters/decidim/log/user_presenter.rb
  decidim-core/spec/presenters/decidim/admin_log/user_presenter_spec.rb
Labels: module: core, backport, type: fix, release: v0.30

#14477 Backport 'Fix nickname casing task and add validation in account edit form' to v0.29
  .github/actions/spelling/expect.txt
  decidim-core/app/forms/decidim/account_form.rb
  decidim-core/config/locales/en.yml
  decidim-core/lib/tasks/upgrade/decidim_fix_nickname_uniqueness.rake
  decidim-core/spec/system/account_spec.rb
Labels: module: core, backport, type: fix, release: v0.28, configuration, release: v0.29, release: v0.30

#14473 Backport 'Prevent unhide resource that has a moderated parent' to v0.29
  decidim-admin/app/commands/decidim/admin/unhide_resource.rb
  decidim-admin/app/controllers/decidim/admin/moderations_controller.rb
  decidim-admin/app/views/decidim/admin/moderations/index.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/spec/commands/decidim/admin/unhide_resource_spec.rb
  decidim-admin/spec/controllers/global_moderations_controller_spec.rb
  decidim-admin/spec/system/admin_manages_global_moderations_spec.rb
Labels: module: admin, backport, type: fix, release: v0.29, release: v0.30

#14283 Implement share and download buttons in budget successful vote screen
  decidim-budgets/app/controllers/decidim/budgets/orders_controller.rb
  decidim-budgets/app/permissions/decidim/budgets/permissions.rb
  decidim-budgets/app/views/decidim/budgets/orders/status.html.erb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/lib/decidim/budgets.rb
  decidim-budgets/lib/decidim/budgets/budget_order_pdf.rb
  decidim-budgets/lib/decidim/budgets/engine.rb
  decidim-core/app/cells/decidim/share_button_cell.rb
  decidim-core/app/cells/decidim/share_text_widget/modal.erb
  decidim-core/app/cells/decidim/share_text_widget/show.erb
  decidim-core/app/cells/decidim/share_text_widget_cell.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/pdf_signature_example.rb
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-initiatives/app/services/decidim/initiatives/pdf_signature_example.rb
Labels: module: core, module: budgets, type: feature, module: generators, module: initiatives, contract: 2024-developments

#14506 Backport 'Fix image editor permissions for spaces' admins' to v0.28
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/spec/permissions/decidim/admin/permissions_spec.rb
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-conferences/app/permissions/decidim/conferences/permissions.rb
  decidim-conferences/spec/permissions/decidim/conferences/permissions_spec.rb
  decidim-core/spec/controllers/editor_images_controller_spec.rb
  decidim-participatory_processes/app/permissions/decidim/participatory_processes/permissions.rb
  decidim-participatory_processes/spec/permissions/decidim/participatory_processes/permissions_spec.rb
Labels: module: proposals, module: core, module: admin, backport, module: assemblies, module: blogs, module: participatory processes, module: conferences, module: initiatives, type: fix, release: v0.28, configuration, release: v0.29, release: v0.30

#14505 Backport 'Fix image editor permissions for spaces' admins' to v0.29
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/spec/permissions/decidim/admin/permissions_spec.rb
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-conferences/app/permissions/decidim/conferences/permissions.rb
  decidim-conferences/spec/permissions/decidim/conferences/permissions_spec.rb
  decidim-core/spec/controllers/editor_images_controller_spec.rb
  decidim-participatory_processes/app/permissions/decidim/participatory_processes/permissions.rb
  decidim-participatory_processes/spec/permissions/decidim/participatory_processes/permissions_spec.rb
Labels: module: proposals, module: core, module: admin, backport, module: assemblies, module: blogs, module: participatory processes, module: conferences, module: initiatives, type: fix, release: v0.28, configuration, release: v0.29, release: v0.30

#14504 Backport 'Fix image editor permissions for spaces' admins' to v0.30
  decidim-admin/app/permissions/decidim/admin/permissions.rb
  decidim-admin/spec/permissions/decidim/admin/permissions_spec.rb
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/spec/permissions/decidim/assemblies/permissions_spec.rb
  decidim-conferences/app/permissions/decidim/conferences/permissions.rb
  decidim-conferences/spec/permissions/decidim/conferences/permissions_spec.rb
  decidim-core/spec/controllers/editor_images_controller_spec.rb
  decidim-participatory_processes/app/permissions/decidim/participatory_processes/permissions.rb
  decidim-participatory_processes/spec/permissions/decidim/participatory_processes/permissions_spec.rb
Labels: module: proposals, module: core, module: admin, backport, module: assemblies, module: blogs, module: participatory processes, module: conferences, module: initiatives, type: fix, release: v0.28, configuration, release: v0.29, release: v0.30

#13850 Manage uploaded census records in the admin panel
  config/i18n-tasks.yml
  decidim-admin/config/locales/en.yml
  decidim-dev/lib/decidim/dev/assets/valid_emails.csv
  decidim-verifications/app/commands/decidim/verifications/csv_census/admin/create_census_data.rb
  decidim-verifications/app/commands/decidim/verifications/csv_census/admin/create_census_record.rb
  decidim-verifications/app/commands/decidim/verifications/csv_census/admin/update_census_record.rb
  decidim-verifications/app/controllers/concerns/decidim/verifications/admin/filterable.rb
  decidim-verifications/app/controllers/decidim/verifications/csv_census/admin/census_controller.rb
  decidim-verifications/app/controllers/decidim/verifications/csv_census/admin/census_records_controller.rb
  decidim-verifications/app/forms/decidim/verifications/csv_census/admin/census_data_form.rb
  decidim-verifications/app/forms/decidim/verifications/csv_census/admin/census_form.rb
  decidim-verifications/app/jobs/decidim/verifications/csv_census/process_census_data_job.rb
  decidim-verifications/app/jobs/decidim/verifications/csv_census/remove_duplicates_job.rb
  decidim-verifications/app/models/decidim/verifications/csv_census/data.rb
  decidim-verifications/app/models/decidim/verifications/csv_datum.rb
  decidim-verifications/app/packs/entrypoints/decidim_verifications.js
  decidim-verifications/app/packs/src/csv_census.js
  decidim-verifications/app/packs/stylesheets/verifications.scss
  decidim-verifications/app/presenters/decidim/verifications/admin_log/csv_datum_presenter.rb
  decidim-verifications/app/views/decidim/verifications/csv_census/admin/census/_csv_census_drawer.html.erb
  decidim-verifications/app/views/decidim/verifications/csv_census/admin/census/index.html.erb
  decidim-verifications/app/views/decidim/verifications/csv_census/admin/census/new_import.html.erb
  decidim-verifications/app/views/decidim/verifications/csv_census/admin/census_records/_form.html.erb
  decidim-verifications/app/views/decidim/verifications/csv_census/admin/census_records/edit_record.html.erb
  decidim-verifications/app/views/decidim/verifications/csv_census/admin/census_records/new_record.html.erb
  decidim-verifications/config/locales/en.yml
  decidim-verifications/lib/decidim/verifications/csv_census/admin_engine.rb
  decidim-verifications/spec/commands/decidim/verifications/csv_census/admin/create_census_data_spec.rb
  decidim-verifications/spec/commands/decidim/verifications/csv_census/admin/create_census_record_spec.rb
  decidim-verifications/spec/commands/decidim/verifications/csv_census/admin/update_census_record_spec.rb
  decidim-verifications/spec/controllers/decidim/verifications/csv_census/admin/census_controller_spec.rb
  decidim-verifications/spec/controllers/decidim/verifications/csv_census/admin/census_records_controller_spec.rb
  decidim-verifications/spec/forms/decidim/verifications/csv_census/admin/census_data_form_spec.rb
  decidim-verifications/spec/forms/decidim/verifications/csv_census/admin/census_form_spec.rb
  decidim-verifications/spec/models/decidim/verifications/csv_census/data_spec.rb
  decidim-verifications/spec/system/admin_manages_census_spec.rb
Labels: module: proposals, module: admin, module: verifications, type: feature, module: dev, contract: 2024-developments

#14515 Disable tooltips due to poor performance
  decidim-core/app/packs/src/decidim/index.js
  decidim-proposals/spec/system/proposal_show_spec.rb
Labels: module: proposals, module: core, type: fix, release: v0.28, release: v0.29, release: v0.30

#14507 Align date and time inputs icons on forms
  decidim-admin/app/packs/stylesheets/decidim/admin/_datepicker.scss
Labels: module: admin, type: fix, no-backport

#14509 Fix broken breadcrumb menu width on spaces
  decidim-core/app/packs/stylesheets/decidim/_header.scss
Labels: module: core, type: fix, release: v0.28, release: v0.29, release: v0.30

#14517 Backport 'Disable tooltips due to poor performance' to v0.29
  decidim-core/app/packs/src/decidim/index.js
  decidim-dev/lib/decidim/dev/test/rspec_support/geocoder.rb
  decidim-proposals/spec/system/proposal_show_spec.rb
Labels: module: proposals, module: core, backport, type: fix, release: v0.30

#14516 Backport 'Disable tooltips due to poor performance' to v0.28
  decidim-core/app/packs/src/decidim/index.js
  decidim-dev/lib/decidim/dev/test/rspec_support/geocoder.rb
  decidim-proposals/spec/system/proposal_show_spec.rb
Labels: module: proposals, module: core, backport, type: fix, release: v0.30

#14454 Use better URI regexp to detect host part of blobs and prevent errors
  decidim-core/lib/decidim/content_parsers/blob_parser.rb
  decidim-core/spec/content_parsers/decidim/blob_parser_spec.rb
Labels: module: core, type: fix, release: v0.28, release: v0.29, release: v0.30

#14370 Fix error in announcement field when has a link with an attachment
  decidim-core/lib/decidim/translatable_attributes.rb
  decidim-core/spec/lib/translatable_attributes_spec.rb
Labels: module: core, type: fix, release: v0.28, release: v0.29, release: v0.30

#14530 Fix spacing in proposal amendments
  decidim-proposals/app/packs/stylesheets/decidim/proposals/proposals.scss
Labels: module: proposals, module: core, type: fix, release: v0.30

#14541 Backport 'Fix spacing in proposal amendments' to v0.30
  decidim-proposals/app/packs/stylesheets/decidim/proposals/proposals.scss
Labels: module: proposals, module: core, backport, type: fix, release: v0.30

#14503 Fix datetime format used to parse TimeWithZone attribute
  decidim-core/lib/decidim/attributes/time_with_zone.rb
Labels: module: core, module: surveys, type: fix, release: v0.28, release: v0.29, release: v0.30

#14512 Implement focus mode in the budget projects component
  decidim-budgets/app/cells/decidim/budgets/budgets_list/main_list.erb
  decidim-budgets/app/cells/decidim/budgets/budgets_list/voted.erb
  decidim-budgets/app/cells/decidim/budgets/project_l/extra_data.erb
  decidim-budgets/app/cells/decidim/budgets/project_l_cell.rb
  decidim-budgets/app/cells/decidim/budgets/project_vote_button/show.erb
  decidim-budgets/app/cells/decidim/budgets/project_vote_button_cell.rb
  decidim-budgets/app/controllers/decidim/budgets/focus/projects_controller.rb
  decidim-budgets/app/controllers/decidim/budgets/line_items_controller.rb
  decidim-budgets/app/packs/entrypoints/decidim_budgets.js
  decidim-budgets/app/packs/src/decidim/budgets/budgetSummaryBackdrop.js
  decidim-budgets/app/packs/src/decidim/budgets/exit_handler.js
  decidim-budgets/app/packs/stylesheets/budgets.scss
  decidim-budgets/app/views/decidim/budgets/line_items/update_budget.js.erb
  decidim-budgets/app/views/decidim/budgets/projects/_budget_summary.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_exit_modal.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_order_progress_summary_content.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_project.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_project_budget_button.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_start_voting_button.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/index.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/order_progress_summary/_content.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/order_progress_summary/_content_responsive.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/order_progress_summary/_progress_box.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/order_progress_summary/_progress_box_buttons.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/order_progress_summary/_progress_box_sticky.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/order_progress_summary/_progressbar_marks_right.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/show.html.erb
  decidim-budgets/config/locales/en.yml
  decidim-budgets/lib/decidim/budgets/engine.rb
  decidim-budgets/spec/system/explore_budgets_spec.rb
  decidim-budgets/spec/system/orders_spec.rb
  decidim-core/app/packs/stylesheets/decidim/_header.scss
  decidim-core/app/presenters/decidim/resource_locator_presenter.rb
  decidim-core/app/views/layouts/decidim/_wrapper.html.erb
  decidim-core/app/views/layouts/decidim/header/_close_ephemeral_session.html.erb
  decidim-core/app/views/layouts/decidim/header/_focus_mode_back_button.html.erb
  decidim-core/app/views/layouts/decidim/header/_focus_mode_close_button.html.erb
  decidim-core/app/views/layouts/decidim/header/_main.html.erb
  decidim-core/config/locales/en.yml
Labels: module: core, module: budgets, type: feature, contract: 2024-developments

#14184 Add proposal autocomplete in editor
  decidim-admin/app/views/layouts/decidim/admin/_header.html.erb
  decidim-budgets/app/views/decidim/budgets/admin/budgets/_form.html.erb
  decidim-core/app/cells/decidim/content_blocks/participatory_space_main_data/title.erb
  decidim-core/app/cells/decidim/content_blocks/participatory_space_main_data_cell.rb
  decidim-core/app/controllers/decidim/resource_autocomplete_controller.rb
  decidim-core/app/helpers/decidim/sanitize_helper.rb
  decidim-core/app/models/decidim/searchable_resource.rb
  decidim-core/app/packs/src/decidim/editor/common/suggestion.js
  decidim-core/app/packs/src/decidim/editor/extensions/decidim_kit/index.js
  decidim-core/app/packs/src/decidim/editor/extensions/mention_resource/index.js
  decidim-core/app/packs/src/decidim/editor/index.js
  decidim-core/app/packs/src/decidim/editor/test/extensions/decidim_kit.test.js
  decidim-core/app/packs/stylesheets/decidim/_rich_text.scss
  decidim-core/app/packs/stylesheets/decidim/editor.scss
  decidim-core/app/presenters/decidim/resource_presenter.rb
  decidim-core/app/views/layouts/decidim/_head.html.erb
  decidim-core/app/views/layouts/decidim/_meta_tags_context.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/config/routes.rb
  decidim-core/lib/decidim/content_parsers.rb
  decidim-core/lib/decidim/content_parsers/mention_resource_parser.rb
  decidim-core/lib/decidim/content_renderers.rb
  decidim-core/lib/decidim/content_renderers/mention_resource_renderer.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/form_builder.rb
  decidim-core/spec/system/editor_spec.rb
  decidim-debates/app/views/decidim/debates/admin/debates/_form.html.erb
  decidim-debates/spec/helpers/decidim/debates/application_helper_spec.rb
  decidim-meetings/app/commands/decidim/meetings/admin/create_agenda.rb
  decidim-meetings/app/commands/decidim/meetings/admin/update_agenda.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_agenda_items_form.rb
  decidim-meetings/app/models/decidim/meetings/agenda_item.rb
  decidim-meetings/app/presenters/decidim/meetings/agenda_item_presenter.rb
  decidim-meetings/app/views/decidim/meetings/admin/agenda/_agenda_item_fields.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/meetings/_meeting_agenda.html.erb
  decidim-meetings/spec/commands/admin/create_agenda_spec.rb
  decidim-meetings/spec/helpers/application_helper_spec.rb
  decidim-participatory_processes/app/cells/decidim/participatory_processes/content_blocks/main_data_cell.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/update_participatory_process.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_form.rb
  decidim-participatory_processes/app/helpers/decidim/participatory_processes/application_helper.rb
  decidim-participatory_processes/app/models/decidim/participatory_process.rb
  decidim-participatory_processes/app/presenters/decidim/participatory_processes/participatory_process_presenter.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/_form.html.erb
  decidim-proposals/app/views/decidim/proposals/admin/proposals/_form.html.erb
  decidim-proposals/spec/helpers/application_helper_spec.rb
Labels: module: proposals, module: core, module: meetings, module: budgets, module: admin, type: feature, module: debates, module: participatory processes, contract: 2024-developments

#14532 Fix missing image label in attachment
  decidim-core/config/locales/en.yml
Labels: module: core, type: fix, release: v0.28, release: v0.29, release: v0.30

#14211 Add unique aria-label on comments list items for accessibility
  decidim-comments/app/cells/decidim/comments/comment_thread/show.erb
  decidim-comments/config/locales/en.yml
  decidim-comments/spec/cells/decidim/comments/comment_thread_cell_spec.rb
Labels: module: comments, team: accessibility, type: fix, release: v0.29, release: v0.30

#14493 Fix version visibility in resources
  decidim-core/lib/decidim/core/test/shared_examples/versions_controller_examples.rb
  decidim-debates/app/controllers/decidim/debates/versions_controller.rb
  decidim-debates/spec/system/debates_versions_spec.rb
  decidim-meetings/spec/system/explore_versions_spec.rb
  decidim-proposals/app/controllers/decidim/proposals/versions_controller.rb
  decidim-proposals/spec/system/proposals_versions_spec.rb
Labels: module: proposals, module: core, module: meetings, module: debates, type: fix, release: v0.28, release: v0.29, release: v0.30

#14573 Backport 'Fix missing image label in attachment' to v0.28
  decidim-core/config/locales/en.yml
Labels: module: core, backport, type: fix, release: v0.28, release: v0.29, release: v0.30

#14442 Remove user tooltips in the application
  decidim-conferences/app/presenters/decidim/conference_speaker_presenter.rb
  decidim-core/app/cells/decidim/author/profile_minicard.erb
  decidim-core/app/cells/decidim/author/show.erb
  decidim-core/app/cells/decidim/author_cell.rb
  decidim-core/app/cells/decidim/profile_cell.rb
  decidim-core/app/cells/decidim/version_author_cell.rb
  decidim-core/app/controllers/decidim/profiles_controller.rb
  decidim-core/app/packs/src/decidim/index.js
  decidim-core/app/packs/src/decidim/remote_tooltips.js
  decidim-core/app/packs/stylesheets/decidim/_author.scss
  decidim-core/app/presenters/decidim/official_author_presenter.rb
  decidim-core/app/presenters/decidim/participatory_space_private_user_presenter.rb
  decidim-core/app/presenters/decidim/user_presenter.rb
  decidim-core/config/routes.rb
  decidim-design/config/locales/en.yml
  decidim-design/spec/system/components_spec.rb
  decidim-meetings/app/presenters/decidim/meetings/meeting_presenter.rb
  decidim-proposals/spec/system/proposal_show_spec.rb
Labels: module: proposals, module: core, module: meetings, module: conferences, type: fix, type: removal, module: design

#14556 Fix missing label in verifications
  decidim-verifications/config/locales/en.yml
Labels: module: verifications, type: fix, no-backport

#14542 Fix ransack error when visiting the process admins area
  decidim-assemblies/spec/system/admin/admin_manages_assembly_admins_spec.rb
  decidim-conferences/spec/system/admin/admin_manages_conference_admins_spec.rb
  decidim-core/lib/decidim/participatory_space_user.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_admins_spec.rb
Labels: module: core, module: assemblies, module: participatory processes, module: conferences, type: fix, release: v0.30

#14494 Fix label on proposals landing page block
  decidim-proposals/app/cells/decidim/proposals/highlighted_proposals_for_component/show.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/cells/decidim/proposals/highlighted_proposals_for_component_cell_spec.rb
Labels: module: proposals, type: fix, release: v0.28, release: v0.29, release: v0.30

#14133 Align global Search page with other search pages
  decidim-core/app/views/decidim/searches/_filters.html.erb
  decidim-core/app/views/decidim/searches/index.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/core/test/shared_examples/searchable_results_examples.rb
  decidim-core/lib/decidim/core/test/shared_examples/uncommentable_component_examples.rb
  decidim-core/spec/system/search_spec.rb
  decidim-meetings/spec/system/search_meetings_spec.rb
Labels: module: core, module: meetings, type: feature, type: change

#14555 Fix missing details in moderators mailer
  decidim-admin/spec/commands/decidim/admin/hide_resource_spec.rb
  decidim-core/app/commands/decidim/create_report.rb
  decidim-core/app/mailers/decidim/reported_mailer.rb
  decidim-core/app/views/decidim/reported_mailer/hide.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/moderation_tools.rb
  decidim-core/spec/lib/moderation_tools_spec.rb
  decidim-core/spec/mailers/reported_mailer_spec.rb
Labels: module: core, module: admin, type: fix, release: v0.29, release: v0.30

#14508 Fix specs with no expectation
  .rubocop.yml
  decidim-admin/spec/system/participatory_space_private_user_spec.rb
  decidim-comments/spec/services/decidim/comments/comment_creation_spec.rb
  decidim-conferences/spec/cells/decidim/conferences/conference_speaker_cell_spec.rb
  decidim-core/spec/cells/decidim/date_range_cell_spec.rb
  decidim-core/spec/commands/decidim/unsubscribe_settings_spec.rb
  decidim-core/spec/controllers/registrations_controller_spec.rb
  decidim-core/spec/lib/importers/import_manifest_spec.rb
  decidim-core/spec/lib/map/geocoding_spec.rb
  decidim-core/spec/lib/participatory_space_manifest_spec.rb
  decidim-core/spec/services/decidim/events_manager_spec.rb
  decidim-core/spec/services/decidim/settings_change_spec.rb
  decidim-core/spec/tasks/decidim_tasks_right_to_be_forgotten_spec.rb
  decidim-core/spec/tasks/decidim_tasks_taxonomies_spec.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/rake_tasks.rb
  decidim-initiatives/spec/system/admin/update_initiative_spec.rb
  decidim-meetings/spec/commands/admin/export_meeting_registrations_spec.rb
  decidim-meetings/spec/system/explore_meeting_directory_spec.rb
  decidim-proposals/spec/lib/decidim/proposals/markdown_to_proposals_spec.rb
  decidim-proposals/spec/shared/import_proposals_examples.rb
  decidim-proposals/spec/shared/proposals_wizards_examples.rb
  decidim-proposals/spec/system/admin/admin_manages_participatory_texts_spec.rb
  decidim-proposals/spec/system/participatory_texts_spec.rb
Labels: module: proposals, module: core, module: meetings, module: comments, module: admin, module: dev, module: conferences, module: initiatives, type: fix, configuration, no-backport

#14581 Backport 'Fix label on proposals landing page block' to v0.28
  decidim-proposals/app/cells/decidim/proposals/highlighted_proposals_for_component/show.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/cells/decidim/proposals/highlighted_proposals_for_component_cell_spec.rb
Labels: module: proposals, backport, type: fix, release: v0.30

#14582 Backport 'Fix label on proposals landing page block' to v0.29
  decidim-proposals/app/cells/decidim/proposals/highlighted_proposals_for_component/show.erb
  decidim-proposals/config/locales/en.yml
  decidim-proposals/spec/cells/decidim/proposals/highlighted_proposals_for_component_cell_spec.rb
Labels: module: proposals, backport, type: fix, release: v0.30

#14571 Backport 'Fix missing image label in attachment' to v0.30
  decidim-core/config/locales/en.yml
Labels: module: core, backport, type: fix, release: v0.28, release: v0.29, release: v0.30

#14583 Backport 'Fix missing details in moderators mailer' to v0.29
  decidim-admin/spec/commands/decidim/admin/hide_resource_spec.rb
  decidim-core/app/commands/decidim/create_report.rb
  decidim-core/app/mailers/decidim/reported_mailer.rb
  decidim-core/app/views/decidim/reported_mailer/hide.html.erb
  decidim-core/config/locales/en.yml
  decidim-core/lib/decidim/moderation_tools.rb
  decidim-core/spec/lib/moderation_tools_spec.rb
  decidim-core/spec/mailers/reported_mailer_spec.rb
Labels: module: core, module: admin, backport, type: fix, release: v0.30

#14575 Backport 'Add unique aria-label on comments list items for accessibility' to v0.29
  decidim-comments/app/cells/decidim/comments/comment_thread/show.erb
  decidim-comments/config/locales/en.yml
  decidim-comments/spec/cells/decidim/comments/comment_thread_cell_spec.rb
Labels: module: comments, backport, team: accessibility, type: fix, release: v0.29, release: v0.30

#14574 Backport 'Add unique aria-label on comments list items for accessibility' to v0.30
  decidim-comments/app/cells/decidim/comments/comment_thread/show.erb
  decidim-comments/config/locales/en.yml
  decidim-comments/spec/cells/decidim/comments/comment_thread_cell_spec.rb
Labels: module: comments, backport, team: accessibility, type: fix, release: v0.29, release: v0.30

#14578 Allow searching for participatory processes groups
  decidim-core/lib/decidim/searchable.rb
  decidim-participatory_processes/app/models/decidim/participatory_process_group.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/engine.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/participatory_space.rb
  decidim-participatory_processes/spec/services/decidim/participatory_processes/searchable_participatory_process_group_resource_spec.rb
Labels: module: core, module: participatory processes, type: fix, type: change, no-backport

#14553 Fix resource redirect after resource has been hidden
  decidim-admin/lib/decidim/admin/test/manage_moderations_examples.rb
  decidim-blogs/app/models/decidim/blogs/post.rb
  decidim-blogs/spec/system/report_post_spec.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-core/app/controllers/decidim/reports_controller.rb
  decidim-core/app/views/decidim/reported_mailer/hide.html.erb
  decidim-core/app/views/decidim/reported_mailer/report.html.erb
  decidim-core/lib/decidim/core/test/shared_examples/reports_examples.rb
  decidim-core/lib/decidim/reportable.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/spec/system/report_debate_spec.rb
  decidim-dev/app/models/decidim/dev/dummy_resource.rb
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/spec/system/report_meeting_spec.rb
  decidim-proposals/app/models/decidim/proposals/collaborative_draft.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/spec/system/report_proposal_spec.rb
Labels: module: proposals, module: core, module: meetings, module: comments, module: admin, module: debates, module: blogs, module: dev, module: initiatives, type: fix, release: v0.28, release: v0.29, release: v0.30

#14552 Fix project URL in QR share widget
  decidim-core/app/helpers/decidim/qr_code_helper.rb
  decidim-core/lib/decidim/core/test/shared_examples/social_share_examples.rb
Labels: module: core, type: fix, no-backport

#14594 Backport 'Add missing translations' to v0.28
  decidim-admin/config/locales/en.yml
  decidim-conferences/config/locales/en.yml
  decidim-core/config/locales/en.yml
  decidim-dev/config/locales/en.yml
  decidim-meetings/config/locales/en.yml
  decidim-participatory_processes/config/locales/en.yml
  decidim-proposals/config/locales/en.yml
  decidim-verifications/config/locales/en.yml
Labels: module: proposals, module: core, module: meetings, module: admin, backport, team: i18n, module: verifications, module: dev, module: participatory processes, module: conferences, type: internal

#14596 Backport 'Fix resource redirect after resource has been hidden' to v0.30
  decidim-admin/lib/decidim/admin/test/manage_moderations_examples.rb
  decidim-blogs/app/models/decidim/blogs/post.rb
  decidim-blogs/spec/system/report_post_spec.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-core/app/controllers/decidim/reports_controller.rb
  decidim-core/app/views/decidim/reported_mailer/hide.html.erb
  decidim-core/app/views/decidim/reported_mailer/report.html.erb
  decidim-core/lib/decidim/core/test/shared_examples/reports_examples.rb
  decidim-core/lib/decidim/reportable.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/spec/system/report_debate_spec.rb
  decidim-dev/app/models/decidim/dev/dummy_resource.rb
  decidim-dev/app/presenters/decidim/dev/dummy_resource_presenter.rb
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/spec/system/report_meeting_spec.rb
  decidim-proposals/app/models/decidim/proposals/collaborative_draft.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/spec/system/report_proposal_spec.rb
Labels: module: proposals, module: core, module: meetings, module: comments, module: admin, backport, module: debates, module: blogs, module: dev, module: initiatives, type: fix, release: v0.30

#14597 Backport 'Fix resource redirect after resource has been hidden' to v0.29
  decidim-admin/lib/decidim/admin/test/manage_moderations_examples.rb
  decidim-blogs/app/models/decidim/blogs/post.rb
  decidim-blogs/spec/system/report_post_spec.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-core/app/controllers/decidim/reports_controller.rb
  decidim-core/app/views/decidim/reported_mailer/hide.html.erb
  decidim-core/app/views/decidim/reported_mailer/report.html.erb
  decidim-core/lib/decidim/core/test/shared_examples/reports_examples.rb
  decidim-core/lib/decidim/reportable.rb
  decidim-debates/app/models/decidim/debates/debate.rb
  decidim-debates/spec/system/report_debate_spec.rb
  decidim-dev/app/models/decidim/dev/dummy_resource.rb
  decidim-dev/app/presenters/decidim/dev/dummy_resource_presenter.rb
  decidim-initiatives/app/models/decidim/initiative.rb
  decidim-meetings/app/models/decidim/meetings/meeting.rb
  decidim-meetings/spec/system/report_meeting_spec.rb
  decidim-proposals/app/models/decidim/proposals/collaborative_draft.rb
  decidim-proposals/app/models/decidim/proposals/proposal.rb
  decidim-proposals/spec/system/report_proposal_spec.rb
Labels: module: proposals, module: core, module: meetings, module: comments, module: admin, backport, module: debates, module: blogs, module: dev, module: initiatives, type: fix, release: v0.30

#14600 Backport 'Remove `decidim:upgrade:clean:hidden_resources` task' to v0.30
  RELEASE_NOTES.md
  decidim-core/lib/tasks/upgrade/clean_hidden_resources.rake
  decidim-core/spec/tasks/upgrade/clean_hidden_resources_spec.rb
Labels: module: core, backport, type: fix, release: v0.30

#14606 Bump to v0.28.6 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-elections/lib/decidim/elections/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/elections/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: type: internal

#14608 Bump to v0.30.0 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-ai/lib/decidim/ai/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: module: proposals, module: core, module: meetings, module: budgets, module: comments, module: admin, module: pages, module: system, module: surveys, module: verifications, module: accountability, module: debates, dependencies, module: assemblies, module: blogs, module: dev, module: generators, module: sortitions, module: forms, module: participatory processes, module: api, module: conferences, module: initiatives, module: templates, type: internal, module: design, module: ai

#14482 Show disabled button in proposals page when 'votes disabled'
  decidim-proposals/app/cells/decidim/proposals/proposal_vote/show.erb
  decidim-proposals/app/packs/stylesheets/decidim/proposals/proposals.scss
  decidim-proposals/app/views/decidim/proposals/proposals/_vote_button.html.erb
Labels: module: proposals, type: fix, release: v0.30

#14419 Fix digest emails to use organization timezone
  decidim-core/app/presenters/decidim/notification_to_mailer_presenter.rb
  decidim-core/spec/presenters/decidim/notification_to_mailer_presenter_spec.rb
Labels: module: core, type: fix, release: v0.28, release: v0.29, release: v0.30

#14521 Fix copy blocks when duplicating assemblies or spaces
  decidim-assemblies/app/commands/decidim/assemblies/admin/copy_assembly.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_copy_form.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assembly_copies/_form.html.erb
  decidim-assemblies/spec/commands/copy_assembly_spec.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/copy_participatory_process.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_copy_form.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_copies/_form.html.erb
  decidim-participatory_processes/spec/commands/copy_participatory_process_spec.rb
Labels: dependencies, module: assemblies, module: participatory processes, type: fix, release: v0.28, release: v0.29, release: v0.30

#14528 Implement FAST_SEEDS env var for improving seeds times
  .github/workflows/ci_generators.yml
  .github/workflows/ci_performance_metrics_monitoring.yml
  .github/workflows/test_app.yml
  decidim-accountability/lib/decidim/accountability/seeds.rb
  decidim-assemblies/lib/decidim/assemblies/seeds.rb
  decidim-blogs/lib/decidim/blogs/seeds.rb
  decidim-budgets/lib/decidim/budgets/seeds.rb
  decidim-collaborative_texts/lib/decidim/collaborative_texts/seeds.rb
  decidim-conferences/lib/decidim/conferences/seeds.rb
  decidim-core/lib/decidim/core/seeds.rb
  decidim-core/lib/decidim/seeds.rb
  decidim-debates/lib/decidim/debates/seeds.rb
  decidim-initiatives/lib/decidim/initiatives/seeds.rb
  decidim-meetings/lib/decidim/meetings/seeds.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/seeds.rb
  decidim-proposals/lib/decidim/proposals/seeds.rb
  decidim-surveys/lib/decidim/surveys/seeds.rb
  docs/modules/configure/pages/environment_variables.adoc
Labels: team: documentation, module: proposals, module: core, module: meetings, module: budgets, module: surveys, module: accountability, module: debates, module: assemblies, module: blogs, module: participatory processes, module: conferences, module: initiatives, type: internal, configuration, module: collaborative_texts

#14167 The message textarea on Conversations page is missing an appropriate label
  decidim-core/app/packs/src/decidim/input_character_counter.js
  decidim-core/app/views/decidim/messaging/conversations/_reply_form.html.erb
  decidim-core/app/views/decidim/messaging/conversations/_start.html.erb
Labels: module: core, type: fix, release: v0.28, release: v0.29, release: v0.30

#14599 Hide remaining slots counter after user registers for meetings
  decidim-meetings/app/cells/decidim/meetings/join_meeting_button/show.erb
  decidim-meetings/app/cells/decidim/meetings/join_meeting_button_cell.rb
  decidim-meetings/spec/system/meeting_registrations_spec.rb
Labels: module: meetings, type: fix, no-backport

#14437 Fix meeting registration mail digest and user export
  decidim-core/app/mailers/decidim/notifications_digest_mailer.rb
  decidim-core/app/presenters/decidim/notification_to_mailer_presenter.rb
  decidim-core/spec/mailers/notification_digest_mailer_spec.rb
  decidim-core/spec/presenters/decidim/notification_to_mailer_presenter_spec.rb
  decidim-dev/app/events/decidim/dev/dummy_notification_only_resource_event.rb
  decidim-meetings/app/serializers/decidim/meetings/registration_serializer.rb
  decidim-meetings/spec/serializers/registration_serializer_spec.rb
Labels: module: core, module: meetings, module: dev, type: fix, release: v0.28, release: v0.29, release: v0.30

#14624 Update supported versions in Security policy with v0.27 deprecation message
  SECURITY.md
Labels: type: internal

#14619 Backport 'Fix copy blocks when duplicating assemblies or spaces' to v0.28
  decidim-assemblies/app/commands/decidim/assemblies/admin/copy_assembly.rb
  decidim-assemblies/app/forms/decidim/assemblies/admin/assembly_copy_form.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assembly_copies/_form.html.erb
  decidim-assemblies/spec/commands/copy_assembly_spec.rb
  decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/copy_participatory_process.rb
  decidim-participatory_processes/app/forms/decidim/participatory_processes/admin/participatory_process_copy_form.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_copies/_form.html.erb
  decidim-participatory_processes/spec/commands/copy_participatory_process_spec.rb
Labels: backport, dependencies, module: assemblies, module: participatory processes, type: fix, release: v0.28, release: v0.29, release: v0.30

#14613 Backport 'Show disabled button in proposals page when 'votes disabled'' to v0.30
  decidim-proposals/app/cells/decidim/proposals/proposal_vote/show.erb
  decidim-proposals/app/packs/stylesheets/decidim/proposals/proposals.scss
  decidim-proposals/app/views/decidim/proposals/proposals/_vote_button.html.erb
Labels: module: proposals, backport, type: fix, release: v0.30

#14628 Backport 'Fix meeting registration mail digest and user export' to v0.28
  decidim-core/app/mailers/decidim/notifications_digest_mailer.rb
  decidim-core/app/presenters/decidim/notification_to_mailer_presenter.rb
  decidim-core/spec/mailers/notification_digest_mailer_spec.rb
  decidim-core/spec/presenters/decidim/notification_to_mailer_presenter_spec.rb
  decidim-dev/app/events/decidim/dev/dummy_notification_only_resource_event.rb
  decidim-meetings/app/serializers/decidim/meetings/registration_serializer.rb
  decidim-meetings/spec/serializers/registration_serializer_spec.rb
Labels: module: core, module: meetings, backport, module: dev, type: fix, release: v0.29, release: v0.30

#14629 Backport 'Fix meeting registration mail digest and user export' to v0.29
  decidim-core/app/mailers/decidim/notifications_digest_mailer.rb
  decidim-core/app/presenters/decidim/notification_to_mailer_presenter.rb
  decidim-core/spec/mailers/notification_digest_mailer_spec.rb
  decidim-core/spec/presenters/decidim/notification_to_mailer_presenter_spec.rb
  decidim-dev/app/events/decidim/dev/dummy_notification_only_resource_event.rb
  decidim-meetings/app/serializers/decidim/meetings/registration_serializer.rb
  decidim-meetings/spec/serializers/registration_serializer_spec.rb
Labels: module: core, module: meetings, backport, module: dev, type: fix, release: v0.29, release: v0.30
