Repository decidim/decidim, pull requests merged in 2025-06, with the labels that each got.

#14773 Fix flaky spec in announcements
  decidim-core/lib/decidim/core/test/shared_examples/announcements_examples.rb
Labels: module: core, flaky spec, type: fix, type: internal

#14785 Fix proposal deprecation warning for state alias
  decidim-proposals/app/models/decidim/proposals/proposal.rb
Labels: module: proposals, type: internal

#14644 Update API fields for component resources
  decidim-forms/lib/decidim/api/question_matrix_row_type.rb
  decidim-forms/lib/decidim/api/question_type.rb
  decidim-forms/lib/decidim/api/questionnaire_type.rb
  decidim-forms/lib/decidim/forms/api.rb
  decidim-forms/spec/types/question_matrix_row_type_spec.rb
  decidim-forms/spec/types/question_type_spec.rb
  decidim-forms/spec/types/questionnaire_type_spec.rb
  decidim-meetings/lib/decidim/api/agenda_item_type.rb
  decidim-meetings/lib/decidim/api/agenda_type.rb
  decidim-meetings/lib/decidim/api/meeting_type.rb
  decidim-meetings/lib/decidim/api/service_type.rb
  decidim-meetings/spec/types/agenda_type_spec.rb
  decidim-meetings/spec/types/integration_schema_spec.rb
  decidim-meetings/spec/types/meeting_type_spec.rb
  decidim-proposals/lib/decidim/api/proposal_state_type.rb
  decidim-proposals/lib/decidim/api/proposal_type.rb
  decidim-proposals/lib/decidim/proposals/api.rb
  decidim-proposals/lib/decidim/proposals/test/factories.rb
  decidim-proposals/spec/types/integration_schema_spec.rb
  decidim-proposals/spec/types/proposal_state_type_spec.rb
  decidim-proposals/spec/types/proposal_type_spec.rb
  decidim-sortitions/lib/decidim/api/sortition_type.rb
  decidim-sortitions/spec/types/integration_schema_spec.rb
  decidim-sortitions/spec/types/sortition_type_spec.rb
  decidim-surveys/lib/decidim/api/survey_type.rb
  decidim-surveys/spec/types/integration_schema_spec.rb
  decidim-surveys/spec/types/survey_type_spec.rb
Labels: module: proposals, module: meetings, module: surveys, type: feature, module: sortitions, module: forms, project: 2024-api

#14801 Bump to v0.29.4 version
  .decidim-version
  CHANGELOG.md
  Gemfile.lock
  decidim-accountability/lib/decidim/accountability/version.rb
  decidim-admin/lib/decidim/admin/version.rb
  decidim-api/lib/decidim/api/version.rb
  decidim-assemblies/lib/decidim/assemblies/version.rb
  decidim-blogs/lib/decidim/blogs/version.rb
  decidim-budgets/lib/decidim/budgets/version.rb
  decidim-comments/lib/decidim/comments/version.rb
  decidim-conferences/lib/decidim/conferences/version.rb
  decidim-core/lib/decidim/core/version.rb
  decidim-debates/lib/decidim/debates/version.rb
  decidim-design/lib/decidim/design/version.rb
  decidim-dev/lib/decidim/dev/version.rb
  decidim-forms/lib/decidim/forms/version.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/component_templates/Gemfile.erb
  decidim-generators/lib/decidim/generators/version.rb
  decidim-initiatives/lib/decidim/initiatives/version.rb
  decidim-meetings/lib/decidim/meetings/version.rb
  decidim-pages/lib/decidim/pages/version.rb
  decidim-participatory_processes/lib/decidim/participatory_processes/version.rb
  decidim-proposals/lib/decidim/proposals/version.rb
  decidim-sortitions/lib/decidim/sortitions/version.rb
  decidim-surveys/lib/decidim/surveys/version.rb
  decidim-system/lib/decidim/system/version.rb
  decidim-templates/lib/decidim/templates/version.rb
  decidim-verifications/lib/decidim/verifications/version.rb
  lib/decidim/version.rb
  package-lock.json
  packages/browserslist-config/package.json
  packages/core/package.json
  packages/dev/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/webpacker/package.json
Labels: type: internal

#14784 Update Rails to v7.2
  Gemfile.lock
  decidim-blogs/spec/shared/manage_posts_examples.rb
  decidim-comments/app/models/decidim/comments/comment.rb
  decidim-core/app/commands/decidim/update_account.rb
  decidim-core/app/controllers/decidim/application_controller.rb
  decidim-core/app/models/decidim/taxonomy.rb
  decidim-core/app/models/decidim/user.rb
  decidim-core/decidim-core.gemspec
  decidim-core/lib/decidim/api/input_filters/component_input_filter.rb
  decidim-core/lib/decidim/attributes/time_with_zone.rb
  decidim-core/lib/decidim/core.rb
  decidim-core/lib/decidim/core/engine.rb
  decidim-core/lib/decidim/core/test/shared_examples/comments_examples.rb
  decidim-core/lib/decidim/deprecations.rb
  decidim-core/lib/decidim/icon_registry.rb
  decidim-core/lib/decidim/map/provider/static_map/here.rb
  decidim-core/lib/decidim/menu.rb
  decidim-dev/lib/decidim/dev/test/rspec_support/active_job.rb
  decidim-generators/Gemfile.lock
  decidim-generators/lib/decidim/generators/app_generator.rb
  decidim-initiatives/spec/system/edit_initiative_spec.rb
Labels: module: proposals, module: core, module: comments, dependencies, module: blogs, module: dev, module: generators, module: initiatives, type: internal, module: ai

#14807 Fix missing for attribute on label and id on input
  decidim-core/app/packs/src/decidim/direct_uploads/upload_modal.js
Labels: module: core, team: accessibility, type: fix, release: v0.29, release: v0.30

#14759 Fix accessibility on filters label
  decidim-core/app/packs/stylesheets/decidim/_filters.scss
Labels: module: core, type: fix, release: v0.29, release: v0.30

#14788 Fix get rid of preview alt
  decidim-core/app/cells/decidim/images_panel/show.erb
  decidim-core/app/cells/decidim/upload_modal/files.erb
  decidim-core/app/packs/src/decidim/direct_uploads/upload_field.js
  decidim-core/app/packs/src/decidim/direct_uploads/upload_modal.js
  decidim-proposals/spec/shared/proposals_wizards_examples.rb
Labels: module: proposals, module: core, type: fix, release: v0.29, release: v0.30

#14772 Fix background color of default avatar image for accessibility
  decidim-core/app/packs/images/decidim/default-avatar.svg
Labels: module: core, type: fix, release: v0.29, release: v0.30

#14779 Fix view mode active icon in proposals for accessibility
  decidim-proposals/app/helpers/decidim/proposals/proposals_helper.rb
  decidim-proposals/app/packs/stylesheets/decidim/proposals/proposals.scss
Labels: module: proposals, module: core, module: debates, team: accessibility, type: fix, release: v0.29, release: v0.30

#14833 Fix flaky initiatives creation spec
  decidim-initiatives/spec/system/create_initiative_spec.rb
Labels: flaky spec, module: initiatives, type: fix, release: v0.29, release: v0.30

#14814 Fix `NoMethodError` when uploading a file with bullet enabled
  decidim-core/app/forms/decidim/upload_validation_form.rb
Labels: module: core, type: fix, no-backport

#14841 Backport 'Fix opinion buttons on comments for accessibility' to v0.29
  decidim-comments/app/cells/decidim/comments/comment_form/opinion.erb
  decidim-comments/app/packs/stylesheets/comments.scss
Labels: module: comments, backport, team: accessibility, type: fix, release: v0.29, release: v0.30

#14830 Bump @rails/activestorage npm package from v7.0 to v7.2
  package-lock.json
  packages/core/package.json
Labels: dependencies, type: internal

#14857 Add run id to screenshots folder
  .github/workflows/test_app.yml
Labels: type: internal, configuration

#14805 Implement dropdown menu for actions in spaces index pages
  decidim-admin/app/helpers/decidim/admin/resource_permissions_helper.rb
  decidim-admin/app/packs/stylesheets/decidim/admin/_table-list.scss
  decidim-admin/config/locales/en.yml
  decidim-admin/lib/decidim/admin/test/invite_participatory_space_admins_shared_examples.rb
  decidim-admin/lib/decidim/admin/test/invite_participatory_space_collaborators_shared_examples.rb
  decidim-admin/lib/decidim/admin/test/invite_participatory_space_moderators_shared_examples.rb
  decidim-admin/lib/decidim/admin/test/manage_resource_soft_deletion_examples.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/_assembly_row.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/index.html.erb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/index.js.erb
  decidim-assemblies/spec/shared/assembly_announcements_examples.rb
  decidim-assemblies/spec/shared/copy_assemblies_examples.rb
  decidim-assemblies/spec/shared/manage_assemblies_examples.rb
  decidim-assemblies/spec/system/admin/admin_imports_assembly_spec.rb
  decidim-assemblies/spec/system/admin/admin_manages_assemblies_spec.rb
  decidim-assemblies/spec/system/admin/assembly_admin_accesses_admin_sections_spec.rb
  decidim-conferences/app/views/decidim/conferences/admin/conferences/_actions.html.erb
  decidim-conferences/app/views/decidim/conferences/admin/conferences/_conference_row.html.erb
  decidim-conferences/app/views/decidim/conferences/admin/conferences/_conferences_thead.html.erb
  decidim-conferences/app/views/decidim/conferences/admin/conferences/index.html.erb
  decidim-conferences/config/locales/en.yml
  decidim-conferences/spec/shared/copy_conferences_examples.rb
  decidim-conferences/spec/shared/manage_conferences_examples.rb
  decidim-conferences/spec/shared/manage_diplomas_examples.rb
  decidim-conferences/spec/system/admin/conference_admin_accesses_admin_sections_spec.rb
  decidim-core/app/packs/stylesheets/decidim/_dropdown.scss
  decidim-core/lib/decidim/core/test.rb
  decidim-core/lib/decidim/core/test/shared_examples/manage_share_tokens_examples.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/index.html.erb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives_types/index.html.erb
  decidim-initiatives/app/views/decidim/initiatives/initiatives/_interactions.html.erb
  decidim-initiatives/config/locales/en.yml
  decidim-initiatives/spec/system/admin/admin_manages_initiatives_types_spec.rb
  decidim-initiatives/spec/system/admin/answer_initiative_spec.rb
  decidim-initiatives/spec/system/admin/export_initiative_signatures_spec.rb
  decidim-initiatives/spec/system/admin/preview_initiative_spec.rb
  decidim-initiatives/spec/system/admin/print_initiative_spec.rb
  decidim-initiatives/spec/system/admin/update_initiative_spec.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_process_groups/index.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/_process_row.html.erb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/index.html.erb
  decidim-participatory_processes/config/locales/en.yml
  decidim-participatory_processes/spec/shared/manage_processes_examples.rb
  decidim-participatory_processes/spec/shared/process_announcements_examples.rb
  decidim-participatory_processes/spec/system/admin/admin_copy_participatory_process_spec.rb
  decidim-participatory_processes/spec/system/admin/admin_manages_participatory_process_groups_spec.rb
Labels: module: core, module: admin, type: feature, module: assemblies, module: participatory processes, module: conferences, module: initiatives, project: 2025-NGI

#14852 Fix flaky spec in accountability API integration schema spec
  decidim-accountability/lib/decidim/api/result_type.rb
  decidim-accountability/spec/types/integration_schema_spec.rb
Labels: module: core, module: accountability, flaky spec, type: internal

#14696 Add question and answer models and admin interface for elections
  config/i18n-tasks.yml
  decidim-elections/app/commands/decidim/elections/admin/unpublish_election.rb
  decidim-elections/app/commands/decidim/elections/admin/update_questions.rb
  decidim-elections/app/controllers/decidim/elections/admin/elections_controller.rb
  decidim-elections/app/controllers/decidim/elections/admin/questions_controller.rb
  decidim-elections/app/forms/decidim/elections/admin/question_form.rb
  decidim-elections/app/forms/decidim/elections/admin/questions_form.rb
  decidim-elections/app/forms/decidim/elections/admin/response_option_form.rb
  decidim-elections/app/helpers/decidim/elections/admin/elections_helper.rb
  decidim-elections/app/models/decidim/elections/election.rb
  decidim-elections/app/models/decidim/elections/question.rb
  decidim-elections/app/models/decidim/elections/response_option.rb
  decidim-elections/app/permissions/decidim/elections/admin/permissions.rb
  decidim-elections/app/presenters/decidim/elections/admin_log/question_presenter.rb
  decidim-elections/app/views/decidim/elections/admin/elections/_tabs_menu.html.erb
  decidim-elections/app/views/decidim/elections/admin/elections/edit.html.erb
  decidim-elections/app/views/decidim/elections/admin/elections/new.html.erb
  decidim-elections/app/views/decidim/elections/admin/questions/_form.html.erb
  decidim-elections/app/views/decidim/elections/admin/questions/_question.html.erb
  decidim-elections/app/views/decidim/elections/admin/questions/_response_option.html.erb
  decidim-elections/app/views/decidim/elections/admin/questions/_response_option_template.html.erb
  decidim-elections/app/views/decidim/elections/admin/questions/edit_questions.html.erb
  decidim-elections/config/locales/en.yml
  decidim-elections/db/migrate/20250513090151_create_decidim_elections_questions_and_response_options.rb
  decidim-elections/lib/decidim/elections/admin_engine.rb
  decidim-elections/lib/decidim/elections/seeds.rb
  decidim-elections/lib/decidim/elections/test/factories.rb
  decidim-elections/spec/commands/decidim/admin/update_questions_spec.rb
  decidim-elections/spec/controllers/decidim/elections/admin/elections_controller_spec.rb
  decidim-elections/spec/controllers/decidim/elections/admin/questions_controller_spec.rb
  decidim-elections/spec/forms/decidim/admin/question_form_spec.rb
  decidim-elections/spec/forms/decidim/admin/questions_form_spec.rb
  decidim-elections/spec/forms/decidim/admin/response_option_form_spec.rb
  decidim-elections/spec/models/decidim/elections/election_spec.rb
  decidim-elections/spec/models/decidim/elections/question_spec.rb
  decidim-elections/spec/models/decidim/elections/response_option_spec.rb
  decidim-elections/spec/permissions/decidim/elections/admin/permissions_spec.rb
  decidim-elections/spec/shared/manage_elections_examples.rb
  decidim-elections/spec/system/admin/admin_manages_election_questions_spec.rb
Labels: module: core, module: admin, type: feature, module: elections, project: 2025-elections

#14851 Use Rails 7.2 defaults
  RELEASE_NOTES.md
  decidim-core/config/initializers/new_framework_defaults_7_2.rb
  decidim-generators/lib/decidim/generators/app_generator.rb
Labels: module: core, module: generators, type: internal

#14860 Update codecov-action from v4 to v5
  .github/workflows/brakeman.yml
  .github/workflows/ci_generators.yml
  .github/workflows/test_app.yml
  decidim-generators/lib/decidim/generators/component_templates/github/ci.yml.erb
Labels: module: generators, type: internal, configuration

#14866 Change content blocks (layout) pages titles
  decidim-admin/app/controllers/decidim/admin/organization_homepage_controller.rb
  decidim-admin/app/views/decidim/admin/shared/landing_page/_content_blocks.html.erb
  decidim-admin/config/locales/en.yml
  decidim-admin/lib/decidim/admin/menu.rb
  decidim-assemblies/app/controllers/decidim/assemblies/admin/assembly_landing_page_controller.rb
  decidim-assemblies/config/locales/en.yml
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_group_landing_page_controller.rb
  decidim-participatory_processes/app/controllers/decidim/participatory_processes/admin/participatory_process_landing_page_controller.rb
  decidim-participatory_processes/config/locales/en.yml
Labels: module: admin, module: assemblies, module: dev, module: participatory processes, type: change, project: 2025-NGI

#14874 Fix specs for multiple_file_field_include_hidden
  decidim-core/app/packs/src/decidim/direct_uploads/upload_modal.js
Labels: type: fix, release: v0.28

#14844 Fix report modals to improve accessibility
  decidim-core/app/cells/decidim/report_button/flag_modal.erb
  decidim-core/app/cells/decidim/report_user_button/flag_modal.erb
Labels: module: core, team: accessibility, type: fix, release: v0.29, release: v0.30

#14837 Fix Accessibility Like/Dislike Buttons on Comments
  decidim-comments/app/views/decidim/comments/votes/create.js.erb
Labels: module: comments, team: accessibility, type: fix, release: v0.29, release: v0.30

#14875 Fix specs for multiple_file_field_include_hidden
  decidim-core/app/packs/src/decidim/direct_uploads/upload_modal.js
Labels: module: core, type: fix, release: v0.30

#14882 Fix Github action pipelines
  .github/workflows/add_pr_labels.yml
  .github/workflows/brakeman.yml
  .github/workflows/build_app.yml
  .github/workflows/ci_accountability.yml
  .github/workflows/ci_admin.yml
  .github/workflows/ci_ai.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_assemblies.yml
  .github/workflows/ci_blogs.yml
  .github/workflows/ci_budgets.yml
  .github/workflows/ci_collaborative_texts.yml
  .github/workflows/ci_comments.yml
  .github/workflows/ci_conferences.yml
  .github/workflows/ci_core.yml
  .github/workflows/ci_debates.yml
  .github/workflows/ci_design.yml
  .github/workflows/ci_dev_system.yml
  .github/workflows/ci_elections.yml
  .github/workflows/ci_forms.yml
  .github/workflows/ci_generators.yml
  .github/workflows/ci_initiatives.yml
  .github/workflows/ci_javascript.yml
  .github/workflows/ci_main.yml
  .github/workflows/ci_meetings.yml
  .github/workflows/ci_pages.yml
  .github/workflows/ci_participatory_processes.yml
  .github/workflows/ci_production_check.yml
  .github/workflows/ci_proposals.yml
  .github/workflows/ci_sortitions.yml
  .github/workflows/ci_surveys.yml
  .github/workflows/ci_system.yml
  .github/workflows/ci_templates.yml
  .github/workflows/ci_verifications.yml
  .github/workflows/lint_code.yml
  .github/workflows/lint_pr_format.yml
  .github/workflows/lint_pr_labels.yml
  .github/workflows/test_app.yml
  decidim-design/config/brakeman.ignore
Labels: type: fix, type: internal, configuration, module: design

#14870 Add possibility to automatically hide reported spam content
  decidim-ai/app/jobs/decidim/ai/spam_detection/generic_spam_analyzer_job.rb
  decidim-ai/lib/decidim/ai/spam_detection/spam_detection.rb
  decidim-ai/spec/shared/events_examples.rb
  decidim-core/app/commands/decidim/create_report.rb
  decidim-generators/lib/decidim/generators/app_templates/ai_initializer.rb
Labels: module: core, type: feature, module: generators, module: ai

#14865 Trigger login event on omniauth login
  decidim-core/app/commands/decidim/create_omniauth_registration.rb
  decidim-core/spec/commands/decidim/create_omniauth_registration_spec.rb
  docs/modules/customize/pages/oauth.adoc
Labels: team: documentation, module: core, type: feature
