Repository decidim/decidim, pull requests merged in 2025-09, with the labels that each got.

#15099 Backport 'Error saving survey with empty mandatory fields' to v0.29
  decidim-forms/app/views/decidim/forms/questionnaires/_answer.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_long_answer.html.erb
  decidim-forms/app/views/decidim/forms/questionnaires/answers/_short_answer.html.erb
  decidim-forms/lib/decidim/forms/test/shared_examples/has_questionnaire.rb
Labels: backport, module: forms, type: fix, release: v0.29, release: v0.30

#15102 Backport 'Fix accessibility in header ' to v0.29
  decidim-core/app/views/layouts/decidim/header/_main.html.erb
Labels: module: core, backport, type: fix, release: v0.29, release: v0.30

#15104 Backport 'Previewing questionnaires as a process admin' to v0.30
  decidim-surveys/app/permissions/decidim/surveys/admin/permissions.rb
  decidim-surveys/spec/permissions/decidim/surveys/admin/permissions_spec.rb
Labels: backport, module: surveys, type: fix, release: v0.29, release: v0.30

#15096 Backport 'Rename share_tokens to share_token in permissions' to v0.30
  decidim-admin/app/controllers/decidim/admin/share_tokens_controller.rb
  decidim-assemblies/app/permissions/decidim/assemblies/permissions.rb
  decidim-assemblies/app/views/decidim/assemblies/admin/assemblies/_assembly_row.html.erb
  decidim-assemblies/lib/decidim/assemblies/menu.rb
  decidim-conferences/app/permissions/decidim/conferences/permissions.rb
  decidim-conferences/app/views/decidim/conferences/admin/conferences/_actions.html.erb
  decidim-conferences/lib/decidim/conferences/menu.rb
  decidim-initiatives/app/permissions/decidim/initiatives/admin/permissions.rb
  decidim-initiatives/app/views/decidim/initiatives/admin/initiatives/index.html.erb
  decidim-initiatives/lib/decidim/initiatives/menu.rb
  decidim-participatory_processes/app/permissions/decidim/participatory_processes/permissions.rb
  decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/_process_row.html.erb
  decidim-participatory_processes/lib/decidim/participatory_processes/menu.rb
  docs/modules/develop/pages/share_tokens.adoc
Labels: team: documentation, module: admin, backport, module: assemblies, module: participatory processes, module: conferences, module: initiatives, type: fix, release: v0.30

#15126 Bump rails to v7.2.2.2
  Gemfile.lock
  decidim-core/decidim-core.gemspec
  decidim-generators/Gemfile.lock
Labels: module: core, dependencies, module: generators, type: internal

#15130 Remove `Platoniq/decidim-install` references
  docs/modules/install/pages/index.adoc
  docs/modules/install/pages/manual.adoc
  docs/modules/install/pages/update.adoc
Labels: team: documentation, type: fix, release: v0.29, release: v0.30

#15139 Backport 'Define the generated app's sidekiq version based on the redis version' to v0.29
  decidim-generators/lib/decidim/generators/app_generator.rb
Labels: backport, module: generators, type: fix, release: v0.29, release: v0.30

#15138 Update documentation instructions for Ubuntu 24.04
  docs/modules/install/pages/manual.adoc
Labels: team: documentation, type: fix

#14281 Fix so user can't update a meeting with empty body
  decidim-core/app/validators/etiquette_validator.rb
  decidim-core/app/validators/translated_etiquette_validator.rb
  decidim-debates/spec/shared/manage_debates_examples.rb
  decidim-meetings/app/forms/decidim/meetings/admin/meeting_form.rb
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
  decidim-meetings/spec/system/user_edit_meeting_spec.rb
  decidim-proposals/spec/system/admin/admin_edits_proposal_spec.rb
Labels: module: proposals, module: core, module: meetings, module: surveys, module: debates, module: assemblies, module: blogs, module: participatory processes, module: conferences, type: fix, type: change, no-backport

#15154 Fix proposal pipeline
  decidim-proposals/spec/system/admin/admin_edits_proposal_spec.rb
Labels: module: proposals, type: fix, no-backport

#15108 Fix `resource_hidden?` within decidim-ai
  decidim-ai/lib/decidim/ai/spam_detection/resource/base.rb
  decidim-ai/spec/lib/decidim/ai/spam_detection/importer/database_spec.rb
Labels: type: fix, module: ai, release: v0.30

#15147 Backport 'Update documentation instructions for Ubuntu 24.04 ' to v0.30
  docs/modules/install/pages/manual.adoc
Labels: team: documentation, backport, type: fix

#15123 Fix accessibility in breadcrumb_menu by replacing div and span by p
  decidim-core/app/cells/decidim/activity/show.erb
  decidim-core/app/packs/stylesheets/decidim/_activity.scss
Labels: module: core, type: fix, release: v0.29, release: v0.30

#15156 Unsubscribed page redesign
  decidim-core/app/views/decidim/newsletters/unsubscribe.html.erb
  decidim-core/config/locales/en.yml
Labels: module: core, type: fix, configuration, release: v0.29, module: newsletters, release: v0.30

#15168 Backport 'Refactor amendment permissions' to v0.30
  decidim-core/app/commands/decidim/amendable/accept.rb
  decidim-core/app/controllers/decidim/amendments_controller.rb
  decidim-core/app/helpers/decidim/amendments_helper.rb
  decidim-core/app/permissions/decidim/permissions.rb
  decidim-core/spec/controllers/amendments_controller_spec.rb
  decidim-core/spec/permissions/decidim/permissions_spec.rb
  decidim-dev/app/models/decidim/dev/dummy_resource.rb
  decidim-proposals/spec/system/amendable/amend_proposal_spec.rb
Labels: module: proposals, module: core, target: developer-experience, backport, module: dev, type: fix, release: v0.29, release: v0.30

#15176 Remove permissions from budgets' projects
  decidim-budgets/app/views/decidim/budgets/admin/projects/_actions.html.erb
  decidim-budgets/lib/decidim/budgets/component.rb
  decidim-budgets/spec/system/admin_manages_project_permissions_spec.rb
Labels: module: budgets, type: change

#15181 Fix order of tabs in accountability's Projects
  decidim-accountability/app/cells/decidim/accountability/project_cell.rb
Labels: module: accountability, type: fix, release: v0.30

#15208 Bump charlock_holmes to v0.7.9
  Gemfile.lock
  decidim-generators/Gemfile.lock
Labels: type: internal, no-backport, release: v0.29

#15189 Add statuses to the accountability API
  decidim-accountability/lib/decidim/api/accountability_type.rb
  decidim-accountability/spec/types/accountability_type_spec.rb
Labels: module: accountability, type: feature

#15233 Prevent reload on filters when the 'Skip to' links are clicked
  decidim-core/app/helpers/decidim/map_helper.rb
  decidim-core/app/packs/src/decidim/controllers/form_filter/controller.js
  decidim-core/app/views/decidim/shared/_filters.html.erb
  decidim-core/app/views/layouts/decidim/_application.html.erb
Labels: module: core, team: accessibility, type: fix, project: 2025-NGI, release: v0.31

#15122 Fix officialization view for users without nickname
  decidim-admin/app/views/decidim/admin/officializations/index.html.erb
  decidim-admin/spec/system/admin_manages_officializations_spec.rb
Labels: module: admin, type: fix, release: v0.29, release: v0.30, release: v0.31

#15249 Backport 'Fix translation missing for duplicate landing blocks' to v0.30
  decidim-participatory_processes/config/locales/en.yml
Labels: backport, module: participatory processes, type: fix, release: v0.29, release: v0.30, release: v0.31

#15247 Backport 'Fix drag and drop sorting for questionnaires' to v0.30
  decidim-admin/app/packs/stylesheets/decidim/admin/_forms.scss
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_question.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_questions_form.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_separator.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_title_and_description.html.erb
  decidim-forms/config/locales/en.yml
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaires/update_questions.rb
  decidim-meetings/app/views/decidim/meetings/admin/poll/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/poll/_question.html.erb
  decidim-meetings/spec/system/admin/admin_manages_meetings_polls_spec.rb
Labels: module: core, module: meetings, module: admin, backport, module: surveys, module: accountability, javascript, module: elections, module: assemblies, module: forms, module: participatory processes, module: conferences, type: fix, module: design, release: v0.29, release: v0.30, module: demographics, release: v0.31

#15251 Fix admin officialization specs
  decidim-admin/spec/system/admin_manages_officializations_spec.rb
Labels: module: admin, type: fix, release: v0.31

#15245 Backport 'Fix officialization view for users without nickname' to v0.30
  decidim-admin/app/views/decidim/admin/officializations/index.html.erb
  decidim-admin/spec/system/admin_manages_officializations_spec.rb
Labels: module: admin, backport, type: fix, release: v0.29, release: v0.30, release: v0.31

#15257 Refine the translation for a survey setting
  decidim-forms/config/locales/en.yml
Labels: module: surveys, module: forms, type: fix, release: v0.31

#15254 Show the question confirmation when unpublishing a meeting
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_meeting_actions.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
Labels: module: meetings, type: fix, release: v0.31

#15248 Backport 'Fix drag and drop sorting for questionnaires' to v0.29
  decidim-admin/app/packs/stylesheets/decidim/admin/_forms.scss
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_question.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_separator.html.erb
  decidim-forms/app/views/decidim/forms/admin/questionnaires/_title_and_description.html.erb
  decidim-forms/config/locales/en.yml
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaires.rb
  decidim-forms/lib/decidim/forms/test/shared_examples/manage_questionnaires/update_questions.rb
  decidim-meetings/app/views/decidim/meetings/admin/poll/_form.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/poll/_question.html.erb
  decidim-meetings/spec/system/admin/admin_manages_meetings_polls_spec.rb
Labels: module: core, module: meetings, module: admin, backport, module: surveys, module: accountability, javascript, module: elections, module: assemblies, module: forms, module: participatory processes, module: conferences, type: fix, module: design, release: v0.29, release: v0.30, module: demographics, release: v0.31

#15256 Add published/unpublished state in the Meetings' admin index page
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_meeting-tr.html.erb
  decidim-meetings/app/views/decidim/meetings/admin/meetings/_meetings-thead.html.erb
  decidim-meetings/config/locales/en.yml
  decidim-meetings/spec/system/admin/admin_manages_meetings_spec.rb
Labels: module: meetings, type: fix, release: v0.31
